<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u16800</key>
    <string>u16800.glif</string>
    <key>u16801</key>
    <string>u16801.glif</string>
    <key>u16802</key>
    <string>u16802.glif</string>
    <key>u16803</key>
    <string>u16803.glif</string>
    <key>u16804</key>
    <string>u16804.glif</string>
    <key>u16805</key>
    <string>u16805.glif</string>
    <key>u16806</key>
    <string>u16806.glif</string>
    <key>u16807</key>
    <string>u16807.glif</string>
    <key>u16808</key>
    <string>u16808.glif</string>
    <key>u16809</key>
    <string>u16809.glif</string>
    <key>u1680A</key>
    <string>u1680A_.glif</string>
    <key>u1680B</key>
    <string>u1680B_.glif</string>
    <key>u1680C</key>
    <string>u1680C_.glif</string>
    <key>u1680D</key>
    <string>u1680D_.glif</string>
    <key>u1680E</key>
    <string>u1680E_.glif</string>
    <key>u1680F</key>
    <string>u1680F_.glif</string>
    <key>u16810</key>
    <string>u16810.glif</string>
    <key>u16811</key>
    <string>u16811.glif</string>
    <key>u16812</key>
    <string>u16812.glif</string>
    <key>u16813</key>
    <string>u16813.glif</string>
    <key>u16814</key>
    <string>u16814.glif</string>
    <key>u16815</key>
    <string>u16815.glif</string>
    <key>u16816</key>
    <string>u16816.glif</string>
    <key>u16817</key>
    <string>u16817.glif</string>
    <key>u16818</key>
    <string>u16818.glif</string>
    <key>u16819</key>
    <string>u16819.glif</string>
    <key>u1681A</key>
    <string>u1681A_.glif</string>
    <key>u1681B</key>
    <string>u1681B_.glif</string>
    <key>u1681C</key>
    <string>u1681C_.glif</string>
    <key>u1681D</key>
    <string>u1681D_.glif</string>
    <key>u1681E</key>
    <string>u1681E_.glif</string>
    <key>u1681F</key>
    <string>u1681F_.glif</string>
    <key>u16820</key>
    <string>u16820.glif</string>
    <key>u16821</key>
    <string>u16821.glif</string>
    <key>u16822</key>
    <string>u16822.glif</string>
    <key>u16823</key>
    <string>u16823.glif</string>
    <key>u16824</key>
    <string>u16824.glif</string>
    <key>u16825</key>
    <string>u16825.glif</string>
    <key>u16826</key>
    <string>u16826.glif</string>
    <key>u16827</key>
    <string>u16827.glif</string>
    <key>u16828</key>
    <string>u16828.glif</string>
    <key>u16829</key>
    <string>u16829.glif</string>
    <key>u1682A</key>
    <string>u1682A_.glif</string>
    <key>u1682B</key>
    <string>u1682B_.glif</string>
    <key>u1682C</key>
    <string>u1682C_.glif</string>
    <key>u1682D</key>
    <string>u1682D_.glif</string>
    <key>u1682E</key>
    <string>u1682E_.glif</string>
    <key>u1682F</key>
    <string>u1682F_.glif</string>
    <key>u16830</key>
    <string>u16830.glif</string>
    <key>u16831</key>
    <string>u16831.glif</string>
    <key>u16832</key>
    <string>u16832.glif</string>
    <key>u16833</key>
    <string>u16833.glif</string>
    <key>u16834</key>
    <string>u16834.glif</string>
    <key>u16835</key>
    <string>u16835.glif</string>
    <key>u16836</key>
    <string>u16836.glif</string>
    <key>u16837</key>
    <string>u16837.glif</string>
    <key>u16838</key>
    <string>u16838.glif</string>
    <key>u16839</key>
    <string>u16839.glif</string>
    <key>u1683A</key>
    <string>u1683A_.glif</string>
    <key>u1683B</key>
    <string>u1683B_.glif</string>
    <key>u1683C</key>
    <string>u1683C_.glif</string>
    <key>u1683D</key>
    <string>u1683D_.glif</string>
    <key>u1683E</key>
    <string>u1683E_.glif</string>
    <key>u1683F</key>
    <string>u1683F_.glif</string>
    <key>u16840</key>
    <string>u16840.glif</string>
    <key>u16841</key>
    <string>u16841.glif</string>
    <key>u16842</key>
    <string>u16842.glif</string>
    <key>u16843</key>
    <string>u16843.glif</string>
    <key>u16844</key>
    <string>u16844.glif</string>
    <key>u16845</key>
    <string>u16845.glif</string>
    <key>u16846</key>
    <string>u16846.glif</string>
    <key>u16847</key>
    <string>u16847.glif</string>
    <key>u16848</key>
    <string>u16848.glif</string>
    <key>u16849</key>
    <string>u16849.glif</string>
    <key>u1684A</key>
    <string>u1684A_.glif</string>
    <key>u1684B</key>
    <string>u1684B_.glif</string>
    <key>u1684C</key>
    <string>u1684C_.glif</string>
    <key>u1684D</key>
    <string>u1684D_.glif</string>
    <key>u1684E</key>
    <string>u1684E_.glif</string>
    <key>u1684F</key>
    <string>u1684F_.glif</string>
    <key>u16850</key>
    <string>u16850.glif</string>
    <key>u16851</key>
    <string>u16851.glif</string>
    <key>u16852</key>
    <string>u16852.glif</string>
    <key>u16853</key>
    <string>u16853.glif</string>
    <key>u16854</key>
    <string>u16854.glif</string>
    <key>u16855</key>
    <string>u16855.glif</string>
    <key>u16856</key>
    <string>u16856.glif</string>
    <key>u16857</key>
    <string>u16857.glif</string>
    <key>u16858</key>
    <string>u16858.glif</string>
    <key>u16859</key>
    <string>u16859.glif</string>
    <key>u1685A</key>
    <string>u1685A_.glif</string>
    <key>u1685B</key>
    <string>u1685B_.glif</string>
    <key>u1685C</key>
    <string>u1685C_.glif</string>
    <key>u1685D</key>
    <string>u1685D_.glif</string>
    <key>u1685E</key>
    <string>u1685E_.glif</string>
    <key>u1685F</key>
    <string>u1685F_.glif</string>
    <key>u16860</key>
    <string>u16860.glif</string>
    <key>u16861</key>
    <string>u16861.glif</string>
    <key>u16862</key>
    <string>u16862.glif</string>
    <key>u16863</key>
    <string>u16863.glif</string>
    <key>u16864</key>
    <string>u16864.glif</string>
    <key>u16865</key>
    <string>u16865.glif</string>
    <key>u16866</key>
    <string>u16866.glif</string>
    <key>u16867</key>
    <string>u16867.glif</string>
    <key>u16868</key>
    <string>u16868.glif</string>
    <key>u16869</key>
    <string>u16869.glif</string>
    <key>u1686A</key>
    <string>u1686A_.glif</string>
    <key>u1686B</key>
    <string>u1686B_.glif</string>
    <key>u1686C</key>
    <string>u1686C_.glif</string>
    <key>u1686D</key>
    <string>u1686D_.glif</string>
    <key>u1686E</key>
    <string>u1686E_.glif</string>
    <key>u1686F</key>
    <string>u1686F_.glif</string>
    <key>u16870</key>
    <string>u16870.glif</string>
    <key>u16871</key>
    <string>u16871.glif</string>
    <key>u16872</key>
    <string>u16872.glif</string>
    <key>u16873</key>
    <string>u16873.glif</string>
    <key>u16874</key>
    <string>u16874.glif</string>
    <key>u16875</key>
    <string>u16875.glif</string>
    <key>u16876</key>
    <string>u16876.glif</string>
    <key>u16877</key>
    <string>u16877.glif</string>
    <key>u16878</key>
    <string>u16878.glif</string>
    <key>u16879</key>
    <string>u16879.glif</string>
    <key>u1687A</key>
    <string>u1687A_.glif</string>
    <key>u1687B</key>
    <string>u1687B_.glif</string>
    <key>u1687C</key>
    <string>u1687C_.glif</string>
    <key>u1687D</key>
    <string>u1687D_.glif</string>
    <key>u1687E</key>
    <string>u1687E_.glif</string>
    <key>u1687F</key>
    <string>u1687F_.glif</string>
    <key>u16880</key>
    <string>u16880.glif</string>
    <key>u16881</key>
    <string>u16881.glif</string>
    <key>u16882</key>
    <string>u16882.glif</string>
    <key>u16883</key>
    <string>u16883.glif</string>
    <key>u16884</key>
    <string>u16884.glif</string>
    <key>u16885</key>
    <string>u16885.glif</string>
    <key>u16886</key>
    <string>u16886.glif</string>
    <key>u16887</key>
    <string>u16887.glif</string>
    <key>u16888</key>
    <string>u16888.glif</string>
    <key>u16889</key>
    <string>u16889.glif</string>
    <key>u1688A</key>
    <string>u1688A_.glif</string>
    <key>u1688B</key>
    <string>u1688B_.glif</string>
    <key>u1688C</key>
    <string>u1688C_.glif</string>
    <key>u1688D</key>
    <string>u1688D_.glif</string>
    <key>u1688E</key>
    <string>u1688E_.glif</string>
    <key>u1688F</key>
    <string>u1688F_.glif</string>
    <key>u16890</key>
    <string>u16890.glif</string>
    <key>u16891</key>
    <string>u16891.glif</string>
    <key>u16892</key>
    <string>u16892.glif</string>
    <key>u16893</key>
    <string>u16893.glif</string>
    <key>u16894</key>
    <string>u16894.glif</string>
    <key>u16895</key>
    <string>u16895.glif</string>
    <key>u16896</key>
    <string>u16896.glif</string>
    <key>u16897</key>
    <string>u16897.glif</string>
    <key>u16898</key>
    <string>u16898.glif</string>
    <key>u16899</key>
    <string>u16899.glif</string>
    <key>u1689A</key>
    <string>u1689A_.glif</string>
    <key>u1689B</key>
    <string>u1689B_.glif</string>
    <key>u1689C</key>
    <string>u1689C_.glif</string>
    <key>u1689D</key>
    <string>u1689D_.glif</string>
    <key>u1689E</key>
    <string>u1689E_.glif</string>
    <key>u1689F</key>
    <string>u1689F_.glif</string>
    <key>u168A0</key>
    <string>u168A_0.glif</string>
    <key>u168A1</key>
    <string>u168A_1.glif</string>
    <key>u168A2</key>
    <string>u168A_2.glif</string>
    <key>u168A3</key>
    <string>u168A_3.glif</string>
    <key>u168A4</key>
    <string>u168A_4.glif</string>
    <key>u168A5</key>
    <string>u168A_5.glif</string>
    <key>u168A6</key>
    <string>u168A_6.glif</string>
    <key>u168A7</key>
    <string>u168A_7.glif</string>
    <key>u168A8</key>
    <string>u168A_8.glif</string>
    <key>u168A9</key>
    <string>u168A_9.glif</string>
    <key>u168AA</key>
    <string>u168A_A_.glif</string>
    <key>u168AB</key>
    <string>u168A_B_.glif</string>
    <key>u168AC</key>
    <string>u168A_C_.glif</string>
    <key>u168AD</key>
    <string>u168A_D_.glif</string>
    <key>u168AE</key>
    <string>u168A_E_.glif</string>
    <key>u168AF</key>
    <string>u168A_F_.glif</string>
    <key>u168B0</key>
    <string>u168B_0.glif</string>
    <key>u168B1</key>
    <string>u168B_1.glif</string>
    <key>u168B2</key>
    <string>u168B_2.glif</string>
    <key>u168B3</key>
    <string>u168B_3.glif</string>
    <key>u168B4</key>
    <string>u168B_4.glif</string>
    <key>u168B5</key>
    <string>u168B_5.glif</string>
    <key>u168B6</key>
    <string>u168B_6.glif</string>
    <key>u168B7</key>
    <string>u168B_7.glif</string>
    <key>u168B8</key>
    <string>u168B_8.glif</string>
    <key>u168B9</key>
    <string>u168B_9.glif</string>
    <key>u168BA</key>
    <string>u168B_A_.glif</string>
    <key>u168BB</key>
    <string>u168B_B_.glif</string>
    <key>u168BC</key>
    <string>u168B_C_.glif</string>
    <key>u168BD</key>
    <string>u168B_D_.glif</string>
    <key>u168BE</key>
    <string>u168B_E_.glif</string>
    <key>u168BF</key>
    <string>u168B_F_.glif</string>
    <key>u168C0</key>
    <string>u168C_0.glif</string>
    <key>u168C1</key>
    <string>u168C_1.glif</string>
    <key>u168C2</key>
    <string>u168C_2.glif</string>
    <key>u168C3</key>
    <string>u168C_3.glif</string>
    <key>u168C4</key>
    <string>u168C_4.glif</string>
    <key>u168C5</key>
    <string>u168C_5.glif</string>
    <key>u168C6</key>
    <string>u168C_6.glif</string>
    <key>u168C7</key>
    <string>u168C_7.glif</string>
    <key>u168C8</key>
    <string>u168C_8.glif</string>
    <key>u168C9</key>
    <string>u168C_9.glif</string>
    <key>u168CA</key>
    <string>u168C_A_.glif</string>
    <key>u168CB</key>
    <string>u168C_B_.glif</string>
    <key>u168CC</key>
    <string>u168C_C_.glif</string>
    <key>u168CD</key>
    <string>u168C_D_.glif</string>
    <key>u168CE</key>
    <string>u168C_E_.glif</string>
    <key>u168CF</key>
    <string>u168C_F_.glif</string>
    <key>u168D0</key>
    <string>u168D_0.glif</string>
    <key>u168D1</key>
    <string>u168D_1.glif</string>
    <key>u168D2</key>
    <string>u168D_2.glif</string>
    <key>u168D3</key>
    <string>u168D_3.glif</string>
    <key>u168D4</key>
    <string>u168D_4.glif</string>
    <key>u168D5</key>
    <string>u168D_5.glif</string>
    <key>u168D6</key>
    <string>u168D_6.glif</string>
    <key>u168D7</key>
    <string>u168D_7.glif</string>
    <key>u168D8</key>
    <string>u168D_8.glif</string>
    <key>u168D9</key>
    <string>u168D_9.glif</string>
    <key>u168DA</key>
    <string>u168D_A_.glif</string>
    <key>u168DB</key>
    <string>u168D_B_.glif</string>
    <key>u168DC</key>
    <string>u168D_C_.glif</string>
    <key>u168DD</key>
    <string>u168D_D_.glif</string>
    <key>u168DE</key>
    <string>u168D_E_.glif</string>
    <key>u168DF</key>
    <string>u168D_F_.glif</string>
    <key>u168E0</key>
    <string>u168E_0.glif</string>
    <key>u168E1</key>
    <string>u168E_1.glif</string>
    <key>u168E2</key>
    <string>u168E_2.glif</string>
    <key>u168E3</key>
    <string>u168E_3.glif</string>
    <key>u168E4</key>
    <string>u168E_4.glif</string>
    <key>u168E5</key>
    <string>u168E_5.glif</string>
    <key>u168E6</key>
    <string>u168E_6.glif</string>
    <key>u168E7</key>
    <string>u168E_7.glif</string>
    <key>u168E8</key>
    <string>u168E_8.glif</string>
    <key>u168E9</key>
    <string>u168E_9.glif</string>
    <key>u168EA</key>
    <string>u168E_A_.glif</string>
    <key>u168EB</key>
    <string>u168E_B_.glif</string>
    <key>u168EC</key>
    <string>u168E_C_.glif</string>
    <key>u168ED</key>
    <string>u168E_D_.glif</string>
    <key>u168EE</key>
    <string>u168E_E_.glif</string>
    <key>u168EF</key>
    <string>u168E_F_.glif</string>
    <key>u168F0</key>
    <string>u168F_0.glif</string>
    <key>u168F1</key>
    <string>u168F_1.glif</string>
    <key>u168F2</key>
    <string>u168F_2.glif</string>
    <key>u168F3</key>
    <string>u168F_3.glif</string>
    <key>u168F4</key>
    <string>u168F_4.glif</string>
    <key>u168F5</key>
    <string>u168F_5.glif</string>
    <key>u168F6</key>
    <string>u168F_6.glif</string>
    <key>u168F7</key>
    <string>u168F_7.glif</string>
    <key>u168F8</key>
    <string>u168F_8.glif</string>
    <key>u168F9</key>
    <string>u168F_9.glif</string>
    <key>u168FA</key>
    <string>u168F_A_.glif</string>
    <key>u168FB</key>
    <string>u168F_B_.glif</string>
    <key>u168FC</key>
    <string>u168F_C_.glif</string>
    <key>u168FD</key>
    <string>u168F_D_.glif</string>
    <key>u168FE</key>
    <string>u168F_E_.glif</string>
    <key>u168FF</key>
    <string>u168F_F_.glif</string>
    <key>u16900</key>
    <string>u16900.glif</string>
    <key>u16901</key>
    <string>u16901.glif</string>
    <key>u16902</key>
    <string>u16902.glif</string>
    <key>u16903</key>
    <string>u16903.glif</string>
    <key>u16904</key>
    <string>u16904.glif</string>
    <key>u16905</key>
    <string>u16905.glif</string>
    <key>u16906</key>
    <string>u16906.glif</string>
    <key>u16907</key>
    <string>u16907.glif</string>
    <key>u16908</key>
    <string>u16908.glif</string>
    <key>u16909</key>
    <string>u16909.glif</string>
    <key>u1690A</key>
    <string>u1690A_.glif</string>
    <key>u1690B</key>
    <string>u1690B_.glif</string>
    <key>u1690C</key>
    <string>u1690C_.glif</string>
    <key>u1690D</key>
    <string>u1690D_.glif</string>
    <key>u1690E</key>
    <string>u1690E_.glif</string>
    <key>u1690F</key>
    <string>u1690F_.glif</string>
    <key>u16910</key>
    <string>u16910.glif</string>
    <key>u16911</key>
    <string>u16911.glif</string>
    <key>u16912</key>
    <string>u16912.glif</string>
    <key>u16913</key>
    <string>u16913.glif</string>
    <key>u16914</key>
    <string>u16914.glif</string>
    <key>u16915</key>
    <string>u16915.glif</string>
    <key>u16916</key>
    <string>u16916.glif</string>
    <key>u16917</key>
    <string>u16917.glif</string>
    <key>u16918</key>
    <string>u16918.glif</string>
    <key>u16919</key>
    <string>u16919.glif</string>
    <key>u1691A</key>
    <string>u1691A_.glif</string>
    <key>u1691B</key>
    <string>u1691B_.glif</string>
    <key>u1691C</key>
    <string>u1691C_.glif</string>
    <key>u1691D</key>
    <string>u1691D_.glif</string>
    <key>u1691E</key>
    <string>u1691E_.glif</string>
    <key>u1691F</key>
    <string>u1691F_.glif</string>
    <key>u16920</key>
    <string>u16920.glif</string>
    <key>u16921</key>
    <string>u16921.glif</string>
    <key>u16922</key>
    <string>u16922.glif</string>
    <key>u16923</key>
    <string>u16923.glif</string>
    <key>u16924</key>
    <string>u16924.glif</string>
    <key>u16925</key>
    <string>u16925.glif</string>
    <key>u16926</key>
    <string>u16926.glif</string>
    <key>u16927</key>
    <string>u16927.glif</string>
    <key>u16928</key>
    <string>u16928.glif</string>
    <key>u16929</key>
    <string>u16929.glif</string>
    <key>u1692A</key>
    <string>u1692A_.glif</string>
    <key>u1692B</key>
    <string>u1692B_.glif</string>
    <key>u1692C</key>
    <string>u1692C_.glif</string>
    <key>u1692D</key>
    <string>u1692D_.glif</string>
    <key>u1692E</key>
    <string>u1692E_.glif</string>
    <key>u1692F</key>
    <string>u1692F_.glif</string>
    <key>u16930</key>
    <string>u16930.glif</string>
    <key>u16931</key>
    <string>u16931.glif</string>
    <key>u16932</key>
    <string>u16932.glif</string>
    <key>u16933</key>
    <string>u16933.glif</string>
    <key>u16934</key>
    <string>u16934.glif</string>
    <key>u16935</key>
    <string>u16935.glif</string>
    <key>u16936</key>
    <string>u16936.glif</string>
    <key>u16937</key>
    <string>u16937.glif</string>
    <key>u16938</key>
    <string>u16938.glif</string>
    <key>u16939</key>
    <string>u16939.glif</string>
    <key>u1693A</key>
    <string>u1693A_.glif</string>
    <key>u1693B</key>
    <string>u1693B_.glif</string>
    <key>u1693C</key>
    <string>u1693C_.glif</string>
    <key>u1693D</key>
    <string>u1693D_.glif</string>
    <key>u1693E</key>
    <string>u1693E_.glif</string>
    <key>u1693F</key>
    <string>u1693F_.glif</string>
    <key>u16940</key>
    <string>u16940.glif</string>
    <key>u16941</key>
    <string>u16941.glif</string>
    <key>u16942</key>
    <string>u16942.glif</string>
    <key>u16943</key>
    <string>u16943.glif</string>
    <key>u16944</key>
    <string>u16944.glif</string>
    <key>u16945</key>
    <string>u16945.glif</string>
    <key>u16946</key>
    <string>u16946.glif</string>
    <key>u16947</key>
    <string>u16947.glif</string>
    <key>u16948</key>
    <string>u16948.glif</string>
    <key>u16949</key>
    <string>u16949.glif</string>
    <key>u1694A</key>
    <string>u1694A_.glif</string>
    <key>u1694B</key>
    <string>u1694B_.glif</string>
    <key>u1694C</key>
    <string>u1694C_.glif</string>
    <key>u1694D</key>
    <string>u1694D_.glif</string>
    <key>u1694E</key>
    <string>u1694E_.glif</string>
    <key>u1694F</key>
    <string>u1694F_.glif</string>
    <key>u16950</key>
    <string>u16950.glif</string>
    <key>u16951</key>
    <string>u16951.glif</string>
    <key>u16952</key>
    <string>u16952.glif</string>
    <key>u16953</key>
    <string>u16953.glif</string>
    <key>u16954</key>
    <string>u16954.glif</string>
    <key>u16955</key>
    <string>u16955.glif</string>
    <key>u16956</key>
    <string>u16956.glif</string>
    <key>u16957</key>
    <string>u16957.glif</string>
    <key>u16958</key>
    <string>u16958.glif</string>
    <key>u16959</key>
    <string>u16959.glif</string>
    <key>u1695A</key>
    <string>u1695A_.glif</string>
    <key>u1695B</key>
    <string>u1695B_.glif</string>
    <key>u1695C</key>
    <string>u1695C_.glif</string>
    <key>u1695D</key>
    <string>u1695D_.glif</string>
    <key>u1695E</key>
    <string>u1695E_.glif</string>
    <key>u1695F</key>
    <string>u1695F_.glif</string>
    <key>u16960</key>
    <string>u16960.glif</string>
    <key>u16961</key>
    <string>u16961.glif</string>
    <key>u16962</key>
    <string>u16962.glif</string>
    <key>u16963</key>
    <string>u16963.glif</string>
    <key>u16964</key>
    <string>u16964.glif</string>
    <key>u16965</key>
    <string>u16965.glif</string>
    <key>u16966</key>
    <string>u16966.glif</string>
    <key>u16967</key>
    <string>u16967.glif</string>
    <key>u16968</key>
    <string>u16968.glif</string>
    <key>u16969</key>
    <string>u16969.glif</string>
    <key>u1696A</key>
    <string>u1696A_.glif</string>
    <key>u1696B</key>
    <string>u1696B_.glif</string>
    <key>u1696C</key>
    <string>u1696C_.glif</string>
    <key>u1696D</key>
    <string>u1696D_.glif</string>
    <key>u1696E</key>
    <string>u1696E_.glif</string>
    <key>u1696F</key>
    <string>u1696F_.glif</string>
    <key>u16970</key>
    <string>u16970.glif</string>
    <key>u16971</key>
    <string>u16971.glif</string>
    <key>u16972</key>
    <string>u16972.glif</string>
    <key>u16973</key>
    <string>u16973.glif</string>
    <key>u16974</key>
    <string>u16974.glif</string>
    <key>u16975</key>
    <string>u16975.glif</string>
    <key>u16976</key>
    <string>u16976.glif</string>
    <key>u16977</key>
    <string>u16977.glif</string>
    <key>u16978</key>
    <string>u16978.glif</string>
    <key>u16979</key>
    <string>u16979.glif</string>
    <key>u1697A</key>
    <string>u1697A_.glif</string>
    <key>u1697B</key>
    <string>u1697B_.glif</string>
    <key>u1697C</key>
    <string>u1697C_.glif</string>
    <key>u1697D</key>
    <string>u1697D_.glif</string>
    <key>u1697E</key>
    <string>u1697E_.glif</string>
    <key>u1697F</key>
    <string>u1697F_.glif</string>
    <key>u16980</key>
    <string>u16980.glif</string>
    <key>u16981</key>
    <string>u16981.glif</string>
    <key>u16982</key>
    <string>u16982.glif</string>
    <key>u16983</key>
    <string>u16983.glif</string>
    <key>u16984</key>
    <string>u16984.glif</string>
    <key>u16985</key>
    <string>u16985.glif</string>
    <key>u16986</key>
    <string>u16986.glif</string>
    <key>u16987</key>
    <string>u16987.glif</string>
    <key>u16988</key>
    <string>u16988.glif</string>
    <key>u16989</key>
    <string>u16989.glif</string>
    <key>u1698A</key>
    <string>u1698A_.glif</string>
    <key>u1698B</key>
    <string>u1698B_.glif</string>
    <key>u1698C</key>
    <string>u1698C_.glif</string>
    <key>u1698D</key>
    <string>u1698D_.glif</string>
    <key>u1698E</key>
    <string>u1698E_.glif</string>
    <key>u1698F</key>
    <string>u1698F_.glif</string>
    <key>u16990</key>
    <string>u16990.glif</string>
    <key>u16991</key>
    <string>u16991.glif</string>
    <key>u16992</key>
    <string>u16992.glif</string>
    <key>u16993</key>
    <string>u16993.glif</string>
    <key>u16994</key>
    <string>u16994.glif</string>
    <key>u16995</key>
    <string>u16995.glif</string>
    <key>u16996</key>
    <string>u16996.glif</string>
    <key>u16997</key>
    <string>u16997.glif</string>
    <key>u16998</key>
    <string>u16998.glif</string>
    <key>u16999</key>
    <string>u16999.glif</string>
    <key>u1699A</key>
    <string>u1699A_.glif</string>
    <key>u1699B</key>
    <string>u1699B_.glif</string>
    <key>u1699C</key>
    <string>u1699C_.glif</string>
    <key>u1699D</key>
    <string>u1699D_.glif</string>
    <key>u1699E</key>
    <string>u1699E_.glif</string>
    <key>u1699F</key>
    <string>u1699F_.glif</string>
    <key>u169A0</key>
    <string>u169A_0.glif</string>
    <key>u169A1</key>
    <string>u169A_1.glif</string>
    <key>u169A2</key>
    <string>u169A_2.glif</string>
    <key>u169A3</key>
    <string>u169A_3.glif</string>
    <key>u169A4</key>
    <string>u169A_4.glif</string>
    <key>u169A5</key>
    <string>u169A_5.glif</string>
    <key>u169A6</key>
    <string>u169A_6.glif</string>
    <key>u169A7</key>
    <string>u169A_7.glif</string>
    <key>u169A8</key>
    <string>u169A_8.glif</string>
    <key>u169A9</key>
    <string>u169A_9.glif</string>
    <key>u169AA</key>
    <string>u169A_A_.glif</string>
    <key>u169AB</key>
    <string>u169A_B_.glif</string>
    <key>u169AC</key>
    <string>u169A_C_.glif</string>
    <key>u169AD</key>
    <string>u169A_D_.glif</string>
    <key>u169AE</key>
    <string>u169A_E_.glif</string>
    <key>u169AF</key>
    <string>u169A_F_.glif</string>
    <key>u169B0</key>
    <string>u169B_0.glif</string>
    <key>u169B1</key>
    <string>u169B_1.glif</string>
    <key>u169B2</key>
    <string>u169B_2.glif</string>
    <key>u169B3</key>
    <string>u169B_3.glif</string>
    <key>u169B4</key>
    <string>u169B_4.glif</string>
    <key>u169B5</key>
    <string>u169B_5.glif</string>
    <key>u169B6</key>
    <string>u169B_6.glif</string>
    <key>u169B7</key>
    <string>u169B_7.glif</string>
    <key>u169B8</key>
    <string>u169B_8.glif</string>
    <key>u169B9</key>
    <string>u169B_9.glif</string>
    <key>u169BA</key>
    <string>u169B_A_.glif</string>
    <key>u169BB</key>
    <string>u169B_B_.glif</string>
    <key>u169BC</key>
    <string>u169B_C_.glif</string>
    <key>u169BD</key>
    <string>u169B_D_.glif</string>
    <key>u169BE</key>
    <string>u169B_E_.glif</string>
    <key>u169BF</key>
    <string>u169B_F_.glif</string>
    <key>u169C0</key>
    <string>u169C_0.glif</string>
    <key>u169C1</key>
    <string>u169C_1.glif</string>
    <key>u169C2</key>
    <string>u169C_2.glif</string>
    <key>u169C3</key>
    <string>u169C_3.glif</string>
    <key>u169C4</key>
    <string>u169C_4.glif</string>
    <key>u169C5</key>
    <string>u169C_5.glif</string>
    <key>u169C6</key>
    <string>u169C_6.glif</string>
    <key>u169C7</key>
    <string>u169C_7.glif</string>
    <key>u169C8</key>
    <string>u169C_8.glif</string>
    <key>u169C9</key>
    <string>u169C_9.glif</string>
    <key>u169CA</key>
    <string>u169C_A_.glif</string>
    <key>u169CB</key>
    <string>u169C_B_.glif</string>
    <key>u169CC</key>
    <string>u169C_C_.glif</string>
    <key>u169CD</key>
    <string>u169C_D_.glif</string>
    <key>u169CE</key>
    <string>u169C_E_.glif</string>
    <key>u169CF</key>
    <string>u169C_F_.glif</string>
    <key>u169D0</key>
    <string>u169D_0.glif</string>
    <key>u169D1</key>
    <string>u169D_1.glif</string>
    <key>u169D2</key>
    <string>u169D_2.glif</string>
    <key>u169D3</key>
    <string>u169D_3.glif</string>
    <key>u169D4</key>
    <string>u169D_4.glif</string>
    <key>u169D5</key>
    <string>u169D_5.glif</string>
    <key>u169D6</key>
    <string>u169D_6.glif</string>
    <key>u169D7</key>
    <string>u169D_7.glif</string>
    <key>u169D8</key>
    <string>u169D_8.glif</string>
    <key>u169D9</key>
    <string>u169D_9.glif</string>
    <key>u169DA</key>
    <string>u169D_A_.glif</string>
    <key>u169DB</key>
    <string>u169D_B_.glif</string>
    <key>u169DC</key>
    <string>u169D_C_.glif</string>
    <key>u169DD</key>
    <string>u169D_D_.glif</string>
    <key>u169DE</key>
    <string>u169D_E_.glif</string>
    <key>u169DF</key>
    <string>u169D_F_.glif</string>
    <key>u169E0</key>
    <string>u169E_0.glif</string>
    <key>u169E1</key>
    <string>u169E_1.glif</string>
    <key>u169E2</key>
    <string>u169E_2.glif</string>
    <key>u169E3</key>
    <string>u169E_3.glif</string>
    <key>u169E4</key>
    <string>u169E_4.glif</string>
    <key>u169E5</key>
    <string>u169E_5.glif</string>
    <key>u169E6</key>
    <string>u169E_6.glif</string>
    <key>u169E7</key>
    <string>u169E_7.glif</string>
    <key>u169E8</key>
    <string>u169E_8.glif</string>
    <key>u169E9</key>
    <string>u169E_9.glif</string>
    <key>u169EA</key>
    <string>u169E_A_.glif</string>
    <key>u169EB</key>
    <string>u169E_B_.glif</string>
    <key>u169EC</key>
    <string>u169E_C_.glif</string>
    <key>u169ED</key>
    <string>u169E_D_.glif</string>
    <key>u169EE</key>
    <string>u169E_E_.glif</string>
    <key>u169EF</key>
    <string>u169E_F_.glif</string>
    <key>u169F0</key>
    <string>u169F_0.glif</string>
    <key>u169F1</key>
    <string>u169F_1.glif</string>
    <key>u169F2</key>
    <string>u169F_2.glif</string>
    <key>u169F3</key>
    <string>u169F_3.glif</string>
    <key>u169F4</key>
    <string>u169F_4.glif</string>
    <key>u169F5</key>
    <string>u169F_5.glif</string>
    <key>u169F6</key>
    <string>u169F_6.glif</string>
    <key>u169F7</key>
    <string>u169F_7.glif</string>
    <key>u169F8</key>
    <string>u169F_8.glif</string>
    <key>u169F9</key>
    <string>u169F_9.glif</string>
    <key>u169FA</key>
    <string>u169F_A_.glif</string>
    <key>u169FB</key>
    <string>u169F_B_.glif</string>
    <key>u169FC</key>
    <string>u169F_C_.glif</string>
    <key>u169FD</key>
    <string>u169F_D_.glif</string>
    <key>u169FE</key>
    <string>u169F_E_.glif</string>
    <key>u169FF</key>
    <string>u169F_F_.glif</string>
    <key>u16A00</key>
    <string>u16A_00.glif</string>
    <key>u16A01</key>
    <string>u16A_01.glif</string>
    <key>u16A02</key>
    <string>u16A_02.glif</string>
    <key>u16A03</key>
    <string>u16A_03.glif</string>
    <key>u16A04</key>
    <string>u16A_04.glif</string>
    <key>u16A05</key>
    <string>u16A_05.glif</string>
    <key>u16A06</key>
    <string>u16A_06.glif</string>
    <key>u16A07</key>
    <string>u16A_07.glif</string>
    <key>u16A08</key>
    <string>u16A_08.glif</string>
    <key>u16A09</key>
    <string>u16A_09.glif</string>
    <key>u16A0A</key>
    <string>u16A_0A_.glif</string>
    <key>u16A0B</key>
    <string>u16A_0B_.glif</string>
    <key>u16A0C</key>
    <string>u16A_0C_.glif</string>
    <key>u16A0D</key>
    <string>u16A_0D_.glif</string>
    <key>u16A0E</key>
    <string>u16A_0E_.glif</string>
    <key>u16A0F</key>
    <string>u16A_0F_.glif</string>
    <key>u16A10</key>
    <string>u16A_10.glif</string>
    <key>u16A11</key>
    <string>u16A_11.glif</string>
    <key>u16A12</key>
    <string>u16A_12.glif</string>
    <key>u16A13</key>
    <string>u16A_13.glif</string>
    <key>u16A14</key>
    <string>u16A_14.glif</string>
    <key>u16A15</key>
    <string>u16A_15.glif</string>
    <key>u16A16</key>
    <string>u16A_16.glif</string>
    <key>u16A17</key>
    <string>u16A_17.glif</string>
    <key>u16A18</key>
    <string>u16A_18.glif</string>
    <key>u16A19</key>
    <string>u16A_19.glif</string>
    <key>u16A1A</key>
    <string>u16A_1A_.glif</string>
    <key>u16A1B</key>
    <string>u16A_1B_.glif</string>
    <key>u16A1C</key>
    <string>u16A_1C_.glif</string>
    <key>u16A1D</key>
    <string>u16A_1D_.glif</string>
    <key>u16A1E</key>
    <string>u16A_1E_.glif</string>
    <key>u16A1F</key>
    <string>u16A_1F_.glif</string>
    <key>u16A20</key>
    <string>u16A_20.glif</string>
    <key>u16A21</key>
    <string>u16A_21.glif</string>
    <key>u16A22</key>
    <string>u16A_22.glif</string>
    <key>u16A23</key>
    <string>u16A_23.glif</string>
    <key>u16A24</key>
    <string>u16A_24.glif</string>
    <key>u16A25</key>
    <string>u16A_25.glif</string>
    <key>u16A26</key>
    <string>u16A_26.glif</string>
    <key>u16A27</key>
    <string>u16A_27.glif</string>
    <key>u16A28</key>
    <string>u16A_28.glif</string>
    <key>u16A29</key>
    <string>u16A_29.glif</string>
    <key>u16A2A</key>
    <string>u16A_2A_.glif</string>
    <key>u16A2B</key>
    <string>u16A_2B_.glif</string>
    <key>u16A2C</key>
    <string>u16A_2C_.glif</string>
    <key>u16A2D</key>
    <string>u16A_2D_.glif</string>
    <key>u16A2E</key>
    <string>u16A_2E_.glif</string>
    <key>u16A2F</key>
    <string>u16A_2F_.glif</string>
    <key>u16A30</key>
    <string>u16A_30.glif</string>
    <key>u16A31</key>
    <string>u16A_31.glif</string>
    <key>u16A32</key>
    <string>u16A_32.glif</string>
    <key>u16A33</key>
    <string>u16A_33.glif</string>
    <key>u16A34</key>
    <string>u16A_34.glif</string>
    <key>u16A35</key>
    <string>u16A_35.glif</string>
    <key>u16A36</key>
    <string>u16A_36.glif</string>
    <key>u16A37</key>
    <string>u16A_37.glif</string>
    <key>u16A38</key>
    <string>u16A_38.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uniA6A0</key>
    <string>uniA_6A_0.glif</string>
    <key>uniA6A1</key>
    <string>uniA_6A_1.glif</string>
    <key>uniA6A2</key>
    <string>uniA_6A_2.glif</string>
    <key>uniA6A3</key>
    <string>uniA_6A_3.glif</string>
    <key>uniA6A4</key>
    <string>uniA_6A_4.glif</string>
    <key>uniA6A5</key>
    <string>uniA_6A_5.glif</string>
    <key>uniA6A6</key>
    <string>uniA_6A_6.glif</string>
    <key>uniA6A7</key>
    <string>uniA_6A_7.glif</string>
    <key>uniA6A8</key>
    <string>uniA_6A_8.glif</string>
    <key>uniA6A9</key>
    <string>uniA_6A_9.glif</string>
    <key>uniA6AA</key>
    <string>uniA_6A_A_.glif</string>
    <key>uniA6AB</key>
    <string>uniA_6A_B_.glif</string>
    <key>uniA6AC</key>
    <string>uniA_6A_C_.glif</string>
    <key>uniA6AD</key>
    <string>uniA_6A_D_.glif</string>
    <key>uniA6AE</key>
    <string>uniA_6A_E_.glif</string>
    <key>uniA6AF</key>
    <string>uniA_6A_F_.glif</string>
    <key>uniA6B0</key>
    <string>uniA_6B_0.glif</string>
    <key>uniA6B1</key>
    <string>uniA_6B_1.glif</string>
    <key>uniA6B2</key>
    <string>uniA_6B_2.glif</string>
    <key>uniA6B3</key>
    <string>uniA_6B_3.glif</string>
    <key>uniA6B4</key>
    <string>uniA_6B_4.glif</string>
    <key>uniA6B5</key>
    <string>uniA_6B_5.glif</string>
    <key>uniA6B6</key>
    <string>uniA_6B_6.glif</string>
    <key>uniA6B7</key>
    <string>uniA_6B_7.glif</string>
    <key>uniA6B8</key>
    <string>uniA_6B_8.glif</string>
    <key>uniA6B9</key>
    <string>uniA_6B_9.glif</string>
    <key>uniA6BA</key>
    <string>uniA_6B_A_.glif</string>
    <key>uniA6BB</key>
    <string>uniA_6B_B_.glif</string>
    <key>uniA6BC</key>
    <string>uniA_6B_C_.glif</string>
    <key>uniA6BD</key>
    <string>uniA_6B_D_.glif</string>
    <key>uniA6BE</key>
    <string>uniA_6B_E_.glif</string>
    <key>uniA6BF</key>
    <string>uniA_6B_F_.glif</string>
    <key>uniA6C0</key>
    <string>uniA_6C_0.glif</string>
    <key>uniA6C1</key>
    <string>uniA_6C_1.glif</string>
    <key>uniA6C2</key>
    <string>uniA_6C_2.glif</string>
    <key>uniA6C3</key>
    <string>uniA_6C_3.glif</string>
    <key>uniA6C4</key>
    <string>uniA_6C_4.glif</string>
    <key>uniA6C5</key>
    <string>uniA_6C_5.glif</string>
    <key>uniA6C6</key>
    <string>uniA_6C_6.glif</string>
    <key>uniA6C7</key>
    <string>uniA_6C_7.glif</string>
    <key>uniA6C8</key>
    <string>uniA_6C_8.glif</string>
    <key>uniA6C9</key>
    <string>uniA_6C_9.glif</string>
    <key>uniA6CA</key>
    <string>uniA_6C_A_.glif</string>
    <key>uniA6CB</key>
    <string>uniA_6C_B_.glif</string>
    <key>uniA6CC</key>
    <string>uniA_6C_C_.glif</string>
    <key>uniA6CD</key>
    <string>uniA_6C_D_.glif</string>
    <key>uniA6CE</key>
    <string>uniA_6C_E_.glif</string>
    <key>uniA6CF</key>
    <string>uniA_6C_F_.glif</string>
    <key>uniA6D0</key>
    <string>uniA_6D_0.glif</string>
    <key>uniA6D1</key>
    <string>uniA_6D_1.glif</string>
    <key>uniA6D2</key>
    <string>uniA_6D_2.glif</string>
    <key>uniA6D3</key>
    <string>uniA_6D_3.glif</string>
    <key>uniA6D4</key>
    <string>uniA_6D_4.glif</string>
    <key>uniA6D5</key>
    <string>uniA_6D_5.glif</string>
    <key>uniA6D6</key>
    <string>uniA_6D_6.glif</string>
    <key>uniA6D7</key>
    <string>uniA_6D_7.glif</string>
    <key>uniA6D8</key>
    <string>uniA_6D_8.glif</string>
    <key>uniA6D9</key>
    <string>uniA_6D_9.glif</string>
    <key>uniA6DA</key>
    <string>uniA_6D_A_.glif</string>
    <key>uniA6DB</key>
    <string>uniA_6D_B_.glif</string>
    <key>uniA6DC</key>
    <string>uniA_6D_C_.glif</string>
    <key>uniA6DD</key>
    <string>uniA_6D_D_.glif</string>
    <key>uniA6DE</key>
    <string>uniA_6D_E_.glif</string>
    <key>uniA6DF</key>
    <string>uniA_6D_F_.glif</string>
    <key>uniA6E0</key>
    <string>uniA_6E_0.glif</string>
    <key>uniA6E1</key>
    <string>uniA_6E_1.glif</string>
    <key>uniA6E2</key>
    <string>uniA_6E_2.glif</string>
    <key>uniA6E3</key>
    <string>uniA_6E_3.glif</string>
    <key>uniA6E4</key>
    <string>uniA_6E_4.glif</string>
    <key>uniA6E5</key>
    <string>uniA_6E_5.glif</string>
    <key>uniA6E6</key>
    <string>uniA_6E_6.glif</string>
    <key>uniA6E7</key>
    <string>uniA_6E_7.glif</string>
    <key>uniA6E8</key>
    <string>uniA_6E_8.glif</string>
    <key>uniA6E9</key>
    <string>uniA_6E_9.glif</string>
    <key>uniA6EA</key>
    <string>uniA_6E_A_.glif</string>
    <key>uniA6EB</key>
    <string>uniA_6E_B_.glif</string>
    <key>uniA6EC</key>
    <string>uniA_6E_C_.glif</string>
    <key>uniA6ED</key>
    <string>uniA_6E_D_.glif</string>
    <key>uniA6EE</key>
    <string>uniA_6E_E_.glif</string>
    <key>uniA6EF</key>
    <string>uniA_6E_F_.glif</string>
    <key>uniA6F0</key>
    <string>uniA_6F_0.glif</string>
    <key>uniA6F1</key>
    <string>uniA_6F_1.glif</string>
    <key>uniA6F2</key>
    <string>uniA_6F_2.glif</string>
    <key>uniA6F3</key>
    <string>uniA_6F_3.glif</string>
    <key>uniA6F4</key>
    <string>uniA_6F_4.glif</string>
    <key>uniA6F5</key>
    <string>uniA_6F_5.glif</string>
    <key>uniA6F6</key>
    <string>uniA_6F_6.glif</string>
    <key>uniA6F7</key>
    <string>uniA_6F_7.glif</string>
  </dict>
</plist>
