<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1252</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.InstanceDescriptorAsGSInstance.xHeight</key>
    <string>536</string>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>designspace.location</key>
    <array>
      <array>
        <string>Weight</string>
        <real>100.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>u10300</string>
      <string>u10301</string>
      <string>u10302</string>
      <string>u10303</string>
      <string>u10304</string>
      <string>u10305</string>
      <string>u10306</string>
      <string>u10307</string>
      <string>u10308</string>
      <string>u10309</string>
      <string>u1030A</string>
      <string>u1030B</string>
      <string>u1030C</string>
      <string>u1030D</string>
      <string>u1030E</string>
      <string>u1030F</string>
      <string>u10310</string>
      <string>u10311</string>
      <string>u10312</string>
      <string>u10313</string>
      <string>u10314</string>
      <string>u10315</string>
      <string>u10316</string>
      <string>u10317</string>
      <string>u10318</string>
      <string>u10319</string>
      <string>u1031A</string>
      <string>u1031B</string>
      <string>u1031C</string>
      <string>u1031D</string>
      <string>u1031E</string>
      <string>u1031F</string>
      <string>u10320</string>
      <string>u10321</string>
      <string>u10322</string>
      <string>u10323</string>
      <string>u10300_r</string>
      <string>u10301_r</string>
      <string>u10302_r</string>
      <string>u10303_r</string>
      <string>u10304_r</string>
      <string>u10305_r</string>
      <string>u10306_r</string>
      <string>u1030A_r</string>
      <string>u1030B_r</string>
      <string>u1030C_r</string>
      <string>u1030D_r</string>
      <string>u10310_r</string>
      <string>u10313_r</string>
      <string>u10314_r</string>
      <string>u10315_r</string>
      <string>u1031B_r</string>
      <string>u1031C_r</string>
      <string>u1031D_r</string>
      <string>u1032D_r</string>
      <string>u1032E_r</string>
      <string>u1032F_r</string>
      <string>u1032D</string>
      <string>u1032E</string>
      <string>u1032F</string>
    </array>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
