<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>961</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10480</string>
      <string>u10481</string>
      <string>u10482</string>
      <string>u10483</string>
      <string>u10484</string>
      <string>u10485</string>
      <string>u10486</string>
      <string>u10487</string>
      <string>u10488</string>
      <string>u10489</string>
      <string>u1048A</string>
      <string>u1048B</string>
      <string>u1048C</string>
      <string>u1048D</string>
      <string>u1048E</string>
      <string>u1048F</string>
      <string>u10490</string>
      <string>u10491</string>
      <string>u10492</string>
      <string>u10493</string>
      <string>u10494</string>
      <string>u10495</string>
      <string>u10496</string>
      <string>u10497</string>
      <string>u10498</string>
      <string>u10499</string>
      <string>u1049A</string>
      <string>u1049B</string>
      <string>u1049C</string>
      <string>u1049D</string>
      <string>u104A0</string>
      <string>u104A1</string>
      <string>u104A2</string>
      <string>u104A3</string>
      <string>u104A4</string>
      <string>u104A5</string>
      <string>u104A6</string>
      <string>u104A7</string>
      <string>u104A8</string>
      <string>u104A9</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
