<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSerifMalayalam-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Malayalam 28-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Malayalam GSUB.txt</string>
	</dict>
	
	<key>NotoSerifMalayalam-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Malayalam 94-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Malayalam GSUB.txt</string>
	</dict>
	
	<key>NotoSerifMalayalam-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Malayalam 194-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Malayalam GSUB.txt</string>
	</dict>
		
</dict>
</plist>