<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>nonmarkingreturn</string>
		<string>space</string>
		<string>numbersign</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>trademark</string>
		<string>nonbreakingspace</string>
		<string>copyright</string>
		<string>registered</string>
		<string>exclamdbl</string>
		<string>uni2049</string>
		<string>uni20E3</string>
		<string>uni2139</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>uni2196</string>
		<string>uni2197</string>
		<string>uni2198</string>
		<string>uni2199</string>
		<string>uni21A9</string>
		<string>uni21AA</string>
		<string>uni231A</string>
		<string>uni231B</string>
		<string>uni23E9</string>
		<string>uni23EA</string>
		<string>uni23EB</string>
		<string>uni23EC</string>
		<string>uni23F0</string>
		<string>uni23F3</string>
		<string>uni24C2</string>
		<string>H18543</string>
		<string>H18551</string>
		<string>uni25B6</string>
		<string>uni25C0</string>
		<string>lozenge</string>
		<string>uni25FB</string>
		<string>uni25FC</string>
		<string>uni25FD</string>
		<string>uni25FE</string>
		<string>uni2600</string>
		<string>uni2601</string>
		<string>smileface</string>
		<string>uni2648</string>
		<string>uni2649</string>
		<string>uni264A</string>
		<string>uni264B</string>
		<string>uni264C</string>
		<string>uni264D</string>
		<string>uni264E</string>
		<string>uni264F</string>
		<string>uni2650</string>
		<string>uni2651</string>
		<string>uni2652</string>
		<string>uni2653</string>
		<string>spade</string>
		<string>club</string>
		<string>heart</string>
		<string>diamond</string>
		<string>uni2668</string>
		<string>uni267B</string>
		<string>uni267F</string>
		<string>uni2693</string>
		<string>uni26A0</string>
		<string>uni26A1</string>
		<string>uni26AA</string>
		<string>uni26AB</string>
		<string>uni26BD</string>
		<string>uni26BE</string>
		<string>uni26C4</string>
		<string>uni26C5</string>
		<string>uni26CE</string>
		<string>uni26D4</string>
		<string>uni26EA</string>
		<string>uni26F2</string>
		<string>uni26F3</string>
		<string>uni26F5</string>
		<string>uni26FA</string>
		<string>uni26FD</string>
		<string>uni2702</string>
		<string>uni2705</string>
		<string>uni2708</string>
		<string>uni2709</string>
		<string>uni270A</string>
		<string>uni270B</string>
		<string>uni270C</string>
		<string>uni270F</string>
		<string>uni2712</string>
		<string>uni2714</string>
		<string>uni2716</string>
		<string>uni2728</string>
		<string>uni2733</string>
		<string>uni2734</string>
		<string>uni2744</string>
		<string>uni2747</string>
		<string>uni274C</string>
		<string>uni274E</string>
		<string>uni2753</string>
		<string>uni2754</string>
		<string>uni2755</string>
		<string>uni2757</string>
		<string>uni2764</string>
		<string>uni2795</string>
		<string>uni2796</string>
		<string>uni2797</string>
		<string>uni27A1</string>
		<string>uni27B0</string>
		<string>uni27BF</string>
		<string>uni2934</string>
		<string>uni2935</string>
		<string>uni2B05</string>
		<string>uni2B06</string>
		<string>uni2B07</string>
		<string>uni2B1B</string>
		<string>uni2B1C</string>
		<string>uni2B50</string>
		<string>uni2B55</string>
		<string>uni3030</string>
		<string>uni303D</string>
		<string>uni3297</string>
		<string>uni3299</string>
		<string>uni0023_20E3</string>
		<string>uni0030_20E3</string>
		<string>uni0031_20E3</string>
		<string>uni0032_20E3</string>
		<string>uni0033_20E3</string>
		<string>uni0034_20E3</string>
		<string>uni0035_20E3</string>
		<string>uni0036_20E3</string>
		<string>uni0037_20E3</string>
		<string>uni0038_20E3</string>
		<string>uni0039_20E3</string>
		<string>uniFEFF</string>
		<string>u1F004</string>
		<string>u1F0CF</string>
		<string>u1F170</string>
		<string>u1F171</string>
		<string>u1F17E</string>
		<string>u1F17F</string>
		<string>u1F18E</string>
		<string>u1F191</string>
		<string>u1F192</string>
		<string>u1F193</string>
		<string>u1F194</string>
		<string>u1F195</string>
		<string>u1F196</string>
		<string>u1F197</string>
		<string>u1F198</string>
		<string>u1F199</string>
		<string>u1F19A</string>
		<string>u1F1E6</string>
		<string>u1F1E7</string>
		<string>u1F1E8</string>
		<string>u1F1E9</string>
		<string>u1F1EA</string>
		<string>u1F1EB</string>
		<string>u1F1EC</string>
		<string>u1F1ED</string>
		<string>u1F1EE</string>
		<string>u1F1EF</string>
		<string>u1F1F0</string>
		<string>u1F1F1</string>
		<string>u1F1F2</string>
		<string>u1F1F3</string>
		<string>u1F1F4</string>
		<string>u1F1F5</string>
		<string>u1F1F6</string>
		<string>u1F1F7</string>
		<string>u1F1F8</string>
		<string>u1F1F9</string>
		<string>u1F1FA</string>
		<string>u1F1FB</string>
		<string>u1F1FC</string>
		<string>u1F1FD</string>
		<string>u1F1FE</string>
		<string>u1F1FF</string>
		<string>u1F201</string>
		<string>u1F202</string>
		<string>u1F21A</string>
		<string>u1F22F</string>
		<string>u1F232</string>
		<string>u1F233</string>
		<string>u1F234</string>
		<string>u1F235</string>
		<string>u1F236</string>
		<string>u1F237</string>
		<string>u1F251</string>
		<string>u1F300</string>
		<string>u1F301</string>
		<string>u1F302</string>
		<string>u1F303</string>
		<string>u1F304</string>
		<string>u1F305</string>
		<string>u1F306</string>
		<string>u1F307</string>
		<string>u1F308</string>
		<string>u1F309</string>
		<string>u1F30A</string>
		<string>u1F30B</string>
		<string>u1F30C</string>
		<string>u1F30F</string>
		<string>u1F311</string>
		<string>u1F313</string>
		<string>u1F314</string>
		<string>u1F315</string>
		<string>u1F319</string>
		<string>u1F31B</string>
		<string>u1F31F</string>
		<string>u1F320</string>
		<string>u1F330</string>
		<string>u1F331</string>
		<string>u1F334</string>
		<string>u1F335</string>
		<string>u1F337</string>
		<string>u1F338</string>
		<string>u1F339</string>
		<string>u1F33A</string>
		<string>u1F33B</string>
		<string>u1F33C</string>
		<string>u1F33D</string>
		<string>u1F33E</string>
		<string>u1F33F</string>
		<string>u1F340</string>
		<string>u1F341</string>
		<string>u1F342</string>
		<string>u1F343</string>
		<string>u1F344</string>
		<string>u1F345</string>
		<string>u1F346</string>
		<string>u1F347</string>
		<string>u1F348</string>
		<string>u1F349</string>
		<string>u1F34A</string>
		<string>u1F34C</string>
		<string>u1F34D</string>
		<string>u1F34E</string>
		<string>u1F34F</string>
		<string>u1F351</string>
		<string>u1F352</string>
		<string>u1F353</string>
		<string>u1F354</string>
		<string>u1F355</string>
		<string>u1F356</string>
		<string>u1F357</string>
		<string>u1F358</string>
		<string>u1F359</string>
		<string>u1F35A</string>
		<string>u1F35B</string>
		<string>u1F35C</string>
		<string>u1F35D</string>
		<string>u1F35E</string>
		<string>u1F35F</string>
		<string>u1F360</string>
		<string>u1F361</string>
		<string>u1F362</string>
		<string>u1F363</string>
		<string>u1F364</string>
		<string>u1F365</string>
		<string>u1F366</string>
		<string>u1F367</string>
		<string>u1F368</string>
		<string>u1F369</string>
		<string>u1F36A</string>
		<string>u1F36B</string>
		<string>u1F36C</string>
		<string>u1F36D</string>
		<string>u1F36E</string>
		<string>u1F36F</string>
		<string>u1F370</string>
		<string>u1F371</string>
		<string>u1F372</string>
		<string>u1F373</string>
		<string>u1F374</string>
		<string>u1F375</string>
		<string>u1F376</string>
		<string>u1F377</string>
		<string>u1F378</string>
		<string>u1F379</string>
		<string>u1F37A</string>
		<string>u1F37B</string>
		<string>u1F380</string>
		<string>u1F381</string>
		<string>u1F382</string>
		<string>u1F383</string>
		<string>u1F384</string>
		<string>u1F385</string>
		<string>u1F386</string>
		<string>u1F387</string>
		<string>u1F388</string>
		<string>u1F389</string>
		<string>u1F38A</string>
		<string>u1F38B</string>
		<string>u1F38C</string>
		<string>u1F38D</string>
		<string>u1F38E</string>
		<string>u1F38F</string>
		<string>u1F390</string>
		<string>u1F391</string>
		<string>u1F392</string>
		<string>u1F393</string>
		<string>u1F3A0</string>
		<string>u1F3A1</string>
		<string>u1F3A2</string>
		<string>u1F3A3</string>
		<string>u1F3A4</string>
		<string>u1F3A5</string>
		<string>u1F3A6</string>
		<string>u1F3A7</string>
		<string>u1F3A8</string>
		<string>u1F3A9</string>
		<string>u1F3AA</string>
		<string>u1F3AB</string>
		<string>u1F3AC</string>
		<string>u1F3AD</string>
		<string>u1F3AE</string>
		<string>u1F3AF</string>
		<string>u1F3B0</string>
		<string>u1F3B1</string>
		<string>u1F3B2</string>
		<string>u1F3B3</string>
		<string>u1F3B4</string>
		<string>u1F3B5</string>
		<string>u1F3B6</string>
		<string>u1F3B7</string>
		<string>u1F3B8</string>
		<string>u1F3B9</string>
		<string>u1F3BA</string>
		<string>u1F3BB</string>
		<string>u1F3BC</string>
		<string>u1F3BD</string>
		<string>u1F3BE</string>
		<string>u1F3BF</string>
		<string>u1F3C0</string>
		<string>u1F3C1</string>
		<string>u1F3C2</string>
		<string>u1F3C3</string>
		<string>u1F3C4</string>
		<string>u1F3C6</string>
		<string>u1F3C8</string>
		<string>u1F3CA</string>
		<string>u1F3E0</string>
		<string>u1F3E1</string>
		<string>u1F3E2</string>
		<string>u1F3E3</string>
		<string>u1F3E5</string>
		<string>u1F3E6</string>
		<string>u1F3E7</string>
		<string>u1F3E8</string>
		<string>u1F3E9</string>
		<string>u1F3EA</string>
		<string>u1F3EB</string>
		<string>u1F3EC</string>
		<string>u1F3ED</string>
		<string>u1F3EE</string>
		<string>u1F3EF</string>
		<string>u1F3F0</string>
		<string>u1F40C</string>
		<string>u1F40D</string>
		<string>u1F40E</string>
		<string>u1F411</string>
		<string>u1F412</string>
		<string>u1F414</string>
		<string>u1F417</string>
		<string>u1F418</string>
		<string>u1F419</string>
		<string>u1F41A</string>
		<string>u1F41B</string>
		<string>u1F41C</string>
		<string>u1F41D</string>
		<string>u1F41E</string>
		<string>u1F41F</string>
		<string>u1F420</string>
		<string>u1F421</string>
		<string>u1F422</string>
		<string>u1F423</string>
		<string>u1F424</string>
		<string>u1F425</string>
		<string>u1F426</string>
		<string>u1F427</string>
		<string>u1F428</string>
		<string>u1F429</string>
		<string>u1F42B</string>
		<string>u1F42C</string>
		<string>u1F42D</string>
		<string>u1F42E</string>
		<string>u1F42F</string>
		<string>u1F430</string>
		<string>u1F431</string>
		<string>u1F432</string>
		<string>u1F433</string>
		<string>u1F434</string>
		<string>u1F435</string>
		<string>u1F436</string>
		<string>u1F437</string>
		<string>u1F438</string>
		<string>u1F439</string>
		<string>u1F43A</string>
		<string>u1F43B</string>
		<string>u1F43C</string>
		<string>u1F43D</string>
		<string>u1F43E</string>
		<string>u1F440</string>
		<string>u1F442</string>
		<string>u1F443</string>
		<string>u1F444</string>
		<string>u1F445</string>
		<string>u1F446</string>
		<string>u1F447</string>
		<string>u1F448</string>
		<string>u1F449</string>
		<string>u1F44A</string>
		<string>u1F44B</string>
		<string>u1F44C</string>
		<string>u1F44D</string>
		<string>u1F44E</string>
		<string>u1F44F</string>
		<string>u1F450</string>
		<string>u1F451</string>
		<string>u1F452</string>
		<string>u1F453</string>
		<string>u1F454</string>
		<string>u1F455</string>
		<string>u1F456</string>
		<string>u1F457</string>
		<string>u1F458</string>
		<string>u1F459</string>
		<string>u1F45A</string>
		<string>u1F45B</string>
		<string>u1F45C</string>
		<string>u1F45D</string>
		<string>u1F45E</string>
		<string>u1F45F</string>
		<string>u1F460</string>
		<string>u1F461</string>
		<string>u1F462</string>
		<string>u1F463</string>
		<string>u1F464</string>
		<string>u1F466</string>
		<string>u1F467</string>
		<string>u1F468</string>
		<string>u1F469</string>
		<string>u1F46A</string>
		<string>u1F46B</string>
		<string>u1F46E</string>
		<string>u1F46F</string>
		<string>u1F470</string>
		<string>u1F474</string>
		<string>u1F475</string>
		<string>u1F476</string>
		<string>u1F477</string>
		<string>u1F478</string>
		<string>u1F479</string>
		<string>u1F47A</string>
		<string>u1F47B</string>
		<string>u1F47C</string>
		<string>u1F47D</string>
		<string>u1F47E</string>
		<string>u1F47F</string>
		<string>u1F480</string>
		<string>u1F481</string>
		<string>u1F482</string>
		<string>u1F483</string>
		<string>u1F484</string>
		<string>u1F485</string>
		<string>u1F486</string>
		<string>u1F487</string>
		<string>u1F488</string>
		<string>u1F489</string>
		<string>u1F48A</string>
		<string>u1F48B</string>
		<string>u1F48C</string>
		<string>u1F48D</string>
		<string>u1F48E</string>
		<string>u1F48F</string>
		<string>u1F490</string>
		<string>u1F491</string>
		<string>u1F492</string>
		<string>u1F493</string>
		<string>u1F494</string>
		<string>u1F495</string>
		<string>u1F496</string>
		<string>u1F497</string>
		<string>u1F498</string>
		<string>u1F499</string>
		<string>u1F49A</string>
		<string>u1F49B</string>
		<string>u1F49C</string>
		<string>u1F49D</string>
		<string>u1F49E</string>
		<string>u1F49F</string>
		<string>u1F4A0</string>
		<string>u1F4A1</string>
		<string>u1F4A2</string>
		<string>u1F4A3</string>
		<string>u1F4A4</string>
		<string>u1F4A5</string>
		<string>u1F4A6</string>
		<string>u1F4A7</string>
		<string>u1F4A8</string>
		<string>u1F4A9</string>
		<string>u1F4AA</string>
		<string>u1F4AB</string>
		<string>u1F4AC</string>
		<string>u1F4AE</string>
		<string>u1F4AF</string>
		<string>u1F4B0</string>
		<string>u1F4B1</string>
		<string>u1F4B2</string>
		<string>u1F4B3</string>
		<string>u1F4B4</string>
		<string>u1F4B5</string>
		<string>u1F4B8</string>
		<string>u1F4B9</string>
		<string>u1F4BA</string>
		<string>u1F4BB</string>
		<string>u1F4BC</string>
		<string>u1F4BD</string>
		<string>u1F4BE</string>
		<string>u1F4BF</string>
		<string>u1F4C0</string>
		<string>u1F4C1</string>
		<string>u1F4C2</string>
		<string>u1F4C3</string>
		<string>u1F4C4</string>
		<string>u1F4C5</string>
		<string>u1F4C6</string>
		<string>u1F4C7</string>
		<string>u1F4C8</string>
		<string>u1F4C9</string>
		<string>u1F4CA</string>
		<string>u1F4CB</string>
		<string>u1F4CC</string>
		<string>u1F4CD</string>
		<string>u1F4CE</string>
		<string>u1F4CF</string>
		<string>u1F4D0</string>
		<string>u1F4D1</string>
		<string>u1F4D2</string>
		<string>u1F4D3</string>
		<string>u1F4D4</string>
		<string>u1F4D5</string>
		<string>u1F4D6</string>
		<string>u1F4D7</string>
		<string>u1F4D8</string>
		<string>u1F4D9</string>
		<string>u1F4DA</string>
		<string>u1F4DB</string>
		<string>u1F4DC</string>
		<string>u1F4DD</string>
		<string>u1F4DE</string>
		<string>u1F4DF</string>
		<string>u1F4E0</string>
		<string>u1F4E1</string>
		<string>u1F4E2</string>
		<string>u1F4E3</string>
		<string>u1F4E4</string>
		<string>u1F4E5</string>
		<string>u1F4E6</string>
		<string>u1F4E7</string>
		<string>u1F4E8</string>
		<string>u1F4E9</string>
		<string>u1F4EA</string>
		<string>u1F4EB</string>
		<string>u1F4EE</string>
		<string>u1F4F0</string>
		<string>u1F4F1</string>
		<string>u1F4F2</string>
		<string>u1F4F3</string>
		<string>u1F4F4</string>
		<string>u1F4F6</string>
		<string>u1F4F7</string>
		<string>u1F4F9</string>
		<string>u1F4FA</string>
		<string>u1F4FB</string>
		<string>u1F4FC</string>
		<string>u1F503</string>
		<string>u1F50A</string>
		<string>u1F50B</string>
		<string>u1F50C</string>
		<string>u1F50D</string>
		<string>u1F50E</string>
		<string>u1F50F</string>
		<string>u1F510</string>
		<string>u1F511</string>
		<string>u1F512</string>
		<string>u1F513</string>
		<string>u1F514</string>
		<string>u1F516</string>
		<string>u1F517</string>
		<string>u1F518</string>
		<string>u1F519</string>
		<string>u1F51A</string>
		<string>u1F51B</string>
		<string>u1F51C</string>
		<string>u1F51D</string>
		<string>u1F51E</string>
		<string>u1F51F</string>
		<string>u1F520</string>
		<string>u1F521</string>
		<string>u1F522</string>
		<string>u1F523</string>
		<string>u1F524</string>
		<string>u1F525</string>
		<string>u1F526</string>
		<string>u1F527</string>
		<string>u1F528</string>
		<string>u1F529</string>
		<string>u1F52A</string>
		<string>u1F52B</string>
		<string>u1F52E</string>
		<string>u1F52F</string>
		<string>u1F530</string>
		<string>u1F531</string>
		<string>u1F532</string>
		<string>u1F533</string>
		<string>u1F534</string>
		<string>u1F535</string>
		<string>u1F536</string>
		<string>u1F537</string>
		<string>u1F538</string>
		<string>u1F539</string>
		<string>u1F53A</string>
		<string>u1F53B</string>
		<string>u1F53C</string>
		<string>u1F53D</string>
		<string>u1F550</string>
		<string>u1F551</string>
		<string>u1F552</string>
		<string>u1F553</string>
		<string>u1F554</string>
		<string>u1F555</string>
		<string>u1F556</string>
		<string>u1F557</string>
		<string>u1F558</string>
		<string>u1F559</string>
		<string>u1F55A</string>
		<string>u1F55B</string>
		<string>u1F5FB</string>
		<string>u1F5FC</string>
		<string>u1F5FD</string>
		<string>u1F5FE</string>
		<string>u1F5FF</string>
		<string>u1F601</string>
		<string>u1F602</string>
		<string>u1F603</string>
		<string>u1F604</string>
		<string>u1F605</string>
		<string>u1F606</string>
		<string>u1F609</string>
		<string>u1F60A</string>
		<string>u1F60B</string>
		<string>u1F60C</string>
		<string>u1F60D</string>
		<string>u1F60F</string>
		<string>u1F612</string>
		<string>u1F613</string>
		<string>u1F614</string>
		<string>u1F616</string>
		<string>u1F618</string>
		<string>u1F61A</string>
		<string>u1F61C</string>
		<string>u1F61D</string>
		<string>u1F61E</string>
		<string>u1F620</string>
		<string>u1F621</string>
		<string>u1F622</string>
		<string>u1F623</string>
		<string>u1F624</string>
		<string>u1F625</string>
		<string>u1F628</string>
		<string>u1F629</string>
		<string>u1F62A</string>
		<string>u1F62B</string>
		<string>u1F62D</string>
		<string>u1F630</string>
		<string>u1F631</string>
		<string>u1F632</string>
		<string>u1F633</string>
		<string>u1F635</string>
		<string>u1F637</string>
		<string>u1F638</string>
		<string>u1F639</string>
		<string>u1F63A</string>
		<string>u1F63B</string>
		<string>u1F63C</string>
		<string>u1F63D</string>
		<string>u1F63E</string>
		<string>u1F63F</string>
		<string>u1F640</string>
		<string>u1F645</string>
		<string>u1F646</string>
		<string>u1F647</string>
		<string>u1F648</string>
		<string>u1F649</string>
		<string>u1F64A</string>
		<string>u1F64B</string>
		<string>u1F64C</string>
		<string>u1F64D</string>
		<string>u1F64E</string>
		<string>u1F64F</string>
		<string>u1F680</string>
		<string>u1F683</string>
		<string>u1F684</string>
		<string>u1F685</string>
		<string>u1F687</string>
		<string>u1F689</string>
		<string>u1F68C</string>
		<string>u1F68F</string>
		<string>u1F691</string>
		<string>u1F692</string>
		<string>u1F693</string>
		<string>u1F695</string>
		<string>u1F697</string>
		<string>u1F699</string>
		<string>u1F69A</string>
		<string>u1F6A2</string>
		<string>u1F6A4</string>
		<string>u1F6A5</string>
		<string>u1F6A7</string>
		<string>u1F6A8</string>
		<string>u1F6A9</string>
		<string>u1F6AA</string>
		<string>u1F6AB</string>
		<string>u1F6AC</string>
		<string>u1F6AD</string>
		<string>u1F6B2</string>
		<string>u1F6B6</string>
		<string>u1F6B9</string>
		<string>u1F6BA</string>
		<string>u1F6BB</string>
		<string>u1F6BC</string>
		<string>u1F6BD</string>
		<string>u1F6BE</string>
		<string>u1F6C0</string>
		<string>u1F238</string>
		<string>u1F239</string>
		<string>u1F23A</string>
		<string>u1F250</string>
		<string>uFE4E5</string>
		<string>uFE4E6</string>
		<string>uFE4E7</string>
		<string>uFE4E8</string>
		<string>uFE4E9</string>
		<string>uFE4EA</string>
		<string>uFE4EB</string>
		<string>uFE4EC</string>
		<string>uFE4ED</string>
		<string>uFE4EE</string>
		<string>u1F3C7</string>
		<string>u1F3C9</string>
		<string>u1F3E4</string>
		<string>u1F4AD</string>
		<string>u1F4B6</string>
		<string>u1F4B7</string>
		<string>u1F4EC</string>
		<string>u1F4ED</string>
		<string>u1F4EF</string>
		<string>u1F4F5</string>
		<string>u1F6A0</string>
		<string>u1F6A1</string>
		<string>u1F6A3</string>
		<string>u1F6A6</string>
		<string>u1F6AE</string>
		<string>u1F6AF</string>
		<string>u1F6B0</string>
		<string>u1F6B1</string>
		<string>u1F6B3</string>
		<string>u1F6B4</string>
		<string>u1F6B5</string>
		<string>u1F6B7</string>
		<string>u1F6B8</string>
		<string>u1F6BF</string>
		<string>u1F6C1</string>
		<string>u1F6C2</string>
		<string>u1F6C3</string>
		<string>u1F6C4</string>
		<string>u1F6C5</string>
		<string>u1F30D</string>
		<string>u1F30E</string>
		<string>u1F31A</string>
		<string>u1F31C</string>
		<string>u1F31D</string>
		<string>u1F31E</string>
		<string>u1F34B</string>
		<string>u1F37C</string>
		<string>u1F40A</string>
		<string>u1F40B</string>
		<string>u1F40F</string>
		<string>u1F46C</string>
		<string>u1F46D</string>
		<string>u1F52C</string>
		<string>u1F52D</string>
		<string>u1F55C</string>
		<string>u1F55D</string>
		<string>u1F55E</string>
		<string>u1F55F</string>
		<string>u1F60E</string>
		<string>u1F68A</string>
		<string>u1F68B</string>
		<string>u1F68D</string>
		<string>u1F68E</string>
		<string>u1F69B</string>
		<string>u1F69C</string>
		<string>u1F69D</string>
		<string>u1F69E</string>
		<string>u1F69F</string>
		<string>u1F310</string>
		<string>u1F312</string>
		<string>u1F316</string>
		<string>u1F317</string>
		<string>u1F318</string>
		<string>u1F332</string>
		<string>u1F333</string>
		<string>u1F350</string>
		<string>u1F400</string>
		<string>u1F401</string>
		<string>u1F402</string>
		<string>u1F403</string>
		<string>u1F404</string>
		<string>u1F405</string>
		<string>u1F406</string>
		<string>u1F407</string>
		<string>u1F408</string>
		<string>u1F409</string>
		<string>u1F410</string>
		<string>u1F413</string>
		<string>u1F415</string>
		<string>u1F416</string>
		<string>u1F465</string>
		<string>u1F471</string>
		<string>u1F472</string>
		<string>u1F473</string>
		<string>u1F500</string>
		<string>u1F501</string>
		<string>u1F502</string>
		<string>u1F504</string>
		<string>u1F505</string>
		<string>u1F506</string>
		<string>u1F507</string>
		<string>u1F508</string>
		<string>u1F509</string>
		<string>u1F515</string>
		<string>u1F560</string>
		<string>u1F561</string>
		<string>u1F562</string>
		<string>u1F563</string>
		<string>u1F564</string>
		<string>u1F565</string>
		<string>u1F566</string>
		<string>u1F567</string>
		<string>u1F607</string>
		<string>u1F608</string>
		<string>u1F610</string>
		<string>u1F636</string>
		<string>u1F686</string>
		<string>u1F688</string>
		<string>u1F690</string>
		<string>u1F694</string>
		<string>u1F696</string>
		<string>uni260E</string>
		<string>uni261D</string>
		<string>uni2611</string>
		<string>uni2614</string>
		<string>uni2615</string>
		<string>u1F61B</string>
		<string>u1F61F</string>
		<string>u1F62C</string>
		<string>u1F62E</string>
		<string>u1F62F</string>
		<string>u1F600</string>
		<string>u1F611</string>
		<string>u1F615</string>
		<string>u1F617</string>
		<string>u1F619</string>
		<string>u1F626</string>
		<string>u1F627</string>
		<string>u1F634</string>
		<string>u1F681</string>
		<string>u1F682</string>
		<string>uni200D</string>
		<string>uniFE0F</string>
	</array>
</dict>
</plist>
