<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1178</integer>
    <key>capHeight</key>
    <integer>875</integer>
    <key>copyright</key>
    <string>Copyright 2018 Google Inc. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-635</integer>
    <key>familyName</key>
    <string>NotoSerifTamilSlanted</string>
    <key>italicAngle</key>
    <integer>-12</integer>
    <key>openTypeHeadCreated</key>
    <string>2017/03/29 14:17:09</string>
    <key>openTypeHheaAscender</key>
    <integer>1069</integer>
    <key>openTypeHheaDescender</key>
    <integer>-492</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Designed by Monotype design team.</string>
    <key>openTypeNameDesigner</key>
    <string>Indian Type Foundry, Tom Grace, and the Monotype Design Team</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.monotype.com/studio</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Monotype Imaging Inc.</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com/get/noto/</string>
    <key>openTypeNameVersion</key>
    <string>Version 2.001</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>2</integer>
      <integer>10</integer>
      <integer>2</integer>
      <integer>6</integer>
      <integer>5</integer>
      <integer>5</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>8</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1069</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-492</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>15</integer>
      <integer>20</integer>
      <integer>31</integer>
      <integer>32</integer>
      <integer>33</integer>
      <integer>38</integer>
      <integer>45</integer>
      <integer>57</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1069</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>492</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>584</integer>
      <integer>599</integer>
      <integer>875</integer>
      <integer>890</integer>
      <integer>1178</integer>
      <integer>1193</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-650</integer>
      <integer>-635</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>69</integer>
      <integer>157</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>86</integer>
      <integer>197</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>NotoSerifTamilSlanted Bold</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>Bold Italic</string>
    <key>trademark</key>
    <string>Noto is a trademark of Google Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>584</integer>
  </dict>
</plist>
