<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>a-tamil</key>
    <string>a-tamil.glif</string>
    <key>aa-tamil</key>
    <string>aa-tamil.glif</string>
    <key>aaMatra-tamil</key>
    <string>aaM_atra-tamil.glif</string>
    <key>ai-tamil</key>
    <string>ai-tamil.glif</string>
    <key>aiMatra-tamil</key>
    <string>aiM_atra-tamil.glif</string>
    <key>anudatta-deva</key>
    <string>anudatta-deva.glif</string>
    <key>anusvara-tamil</key>
    <string>anusvara-tamil.glif</string>
    <key>anusvara-tamil.alt</key>
    <string>anusvara-tamil.alt.glif</string>
    <key>asabove-tamil</key>
    <string>asabove-tamil.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>au-tamil</key>
    <string>au-tamil.glif</string>
    <key>auMatra-tamil</key>
    <string>auM_atra-tamil.glif</string>
    <key>aulengthmark-tamil</key>
    <string>aulengthmark-tamil.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>ca-tamil</key>
    <string>ca-tamil.glif</string>
    <key>candrabindu_0951_tamil</key>
    <string>candrabindu_0951_tamil.glif</string>
    <key>candrabindu_1CDA_tamil</key>
    <string>candrabindu_1C_D_A__tamil.glif</string>
    <key>candrabinduhalant-deva</key>
    <string>candrabinduhalant-deva.glif</string>
    <key>cii-tamil</key>
    <string>cii-tamil.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>credit-tamil</key>
    <string>credit-tamil.glif</string>
    <key>cu-tamil</key>
    <string>cu-tamil.glif</string>
    <key>cuu-tamil</key>
    <string>cuu-tamil.glif</string>
    <key>danda-deva</key>
    <string>danda-deva.glif</string>
    <key>day-tamil</key>
    <string>day-tamil.glif</string>
    <key>dbldanda-deva</key>
    <string>dbldanda-deva.glif</string>
    <key>debit-tamil</key>
    <string>debit-tamil.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>doubleSvarita-vedic</key>
    <string>doubleS_varita-vedic.glif</string>
    <key>e-tamil</key>
    <string>e-tamil.glif</string>
    <key>eMatra-tamil</key>
    <string>eM_atra-tamil.glif</string>
    <key>ee-tamil</key>
    <string>ee-tamil.glif</string>
    <key>eeMatra-tamil</key>
    <string>eeM_atra-tamil.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight-tamil</key>
    <string>eight-tamil.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five-tamil</key>
    <string>five-tamil.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four-tamil</key>
    <string>four-tamil.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>ha-tamil</key>
    <string>ha-tamil.glif</string>
    <key>halant-tamil</key>
    <string>halant-tamil.glif</string>
    <key>hii-tamil</key>
    <string>hii-tamil.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>i-tamil</key>
    <string>i-tamil.glif</string>
    <key>iMatra-tamil</key>
    <string>iM_atra-tamil.glif</string>
    <key>iMatra-tamil.alt01</key>
    <string>iM_atra-tamil.alt01.glif</string>
    <key>iMatra-tamil.alt02</key>
    <string>iM_atra-tamil.alt02.glif</string>
    <key>ii-tamil</key>
    <string>ii-tamil.glif</string>
    <key>iiMatra-tamil</key>
    <string>iiM_atra-tamil.glif</string>
    <key>iiMatra-tamil.alt01</key>
    <string>iiM_atra-tamil.alt01.glif</string>
    <key>iiMatra-tamil.alt02</key>
    <string>iiM_atra-tamil.alt02.glif</string>
    <key>ja-tamil</key>
    <string>ja-tamil.glif</string>
    <key>jii-tamil</key>
    <string>jii-tamil.glif</string>
    <key>ka-tamil</key>
    <string>ka-tamil.glif</string>
    <key>kii-tamil</key>
    <string>kii-tamil.glif</string>
    <key>kssa-tamil</key>
    <string>kssa-tamil.glif</string>
    <key>kssii-tamil</key>
    <string>kssii-tamil.glif</string>
    <key>ku-tamil</key>
    <string>ku-tamil.glif</string>
    <key>kuu-tamil</key>
    <string>kuu-tamil.glif</string>
    <key>la-tamil</key>
    <string>la-tamil.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>li-tamil</key>
    <string>li-tamil.glif</string>
    <key>lii-tamil</key>
    <string>lii-tamil.glif</string>
    <key>lla-tamil</key>
    <string>lla-tamil.glif</string>
    <key>llii-tamil</key>
    <string>llii-tamil.glif</string>
    <key>llla-tamil</key>
    <string>llla-tamil.glif</string>
    <key>lllii-tamil</key>
    <string>lllii-tamil.glif</string>
    <key>lllu-tamil</key>
    <string>lllu-tamil.glif</string>
    <key>llluu-tamil</key>
    <string>llluu-tamil.glif</string>
    <key>llu-tamil</key>
    <string>llu-tamil.glif</string>
    <key>lluu-tamil</key>
    <string>lluu-tamil.glif</string>
    <key>lu-tamil</key>
    <string>lu-tamil.glif</string>
    <key>luu-tamil</key>
    <string>luu-tamil.glif</string>
    <key>ma-tamil</key>
    <string>ma-tamil.glif</string>
    <key>mii-tamil</key>
    <string>mii-tamil.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>month-tamil</key>
    <string>month-tamil.glif</string>
    <key>mu-tamil</key>
    <string>mu-tamil.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>muu-tamil</key>
    <string>muu-tamil.glif</string>
    <key>na-tamil</key>
    <string>na-tamil.glif</string>
    <key>nga-tamil</key>
    <string>nga-tamil.glif</string>
    <key>ngii-tamil</key>
    <string>ngii-tamil.glif</string>
    <key>ngu-tamil</key>
    <string>ngu-tamil.glif</string>
    <key>nguu-tamil</key>
    <string>nguu-tamil.glif</string>
    <key>nii-tamil</key>
    <string>nii-tamil.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine-tamil</key>
    <string>nine-tamil.glif</string>
    <key>nna-tamil</key>
    <string>nna-tamil.glif</string>
    <key>nnii-tamil</key>
    <string>nnii-tamil.glif</string>
    <key>nnna-tamil</key>
    <string>nnna-tamil.glif</string>
    <key>nnnii-tamil</key>
    <string>nnnii-tamil.glif</string>
    <key>nnnu-tamil</key>
    <string>nnnu-tamil.glif</string>
    <key>nnnuu-tamil</key>
    <string>nnnuu-tamil.glif</string>
    <key>nnu-tamil</key>
    <string>nnu-tamil.glif</string>
    <key>nnuu-tamil</key>
    <string>nnuu-tamil.glif</string>
    <key>nu-tamil</key>
    <string>nu-tamil.glif</string>
    <key>nukta-grantha</key>
    <string>nukta-grantha.glif</string>
    <key>number-tamil</key>
    <string>number-tamil.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>nuu-tamil</key>
    <string>nuu-tamil.glif</string>
    <key>nya-tamil</key>
    <string>nya-tamil.glif</string>
    <key>nyii-tamil</key>
    <string>nyii-tamil.glif</string>
    <key>nyu-tamil</key>
    <string>nyu-tamil.glif</string>
    <key>nyuu-tamil</key>
    <string>nyuu-tamil.glif</string>
    <key>o-tamil</key>
    <string>o-tamil.glif</string>
    <key>oMatra-tamil</key>
    <string>oM_atra-tamil.glif</string>
    <key>om-tamil</key>
    <string>om-tamil.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one-tamil</key>
    <string>one-tamil.glif</string>
    <key>onehundred-tamil</key>
    <string>onehundred-tamil.glif</string>
    <key>onethousand-tamil</key>
    <string>onethousand-tamil.glif</string>
    <key>oo-tamil</key>
    <string>oo-tamil.glif</string>
    <key>ooMatra-tamil</key>
    <string>ooM_atra-tamil.glif</string>
    <key>pa-tamil</key>
    <string>pa-tamil.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>pii-tamil</key>
    <string>pii-tamil.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>pu-tamil</key>
    <string>pu-tamil.glif</string>
    <key>puu-tamil</key>
    <string>puu-tamil.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>ra-tamil</key>
    <string>ra-tamil.glif</string>
    <key>rii-tamil</key>
    <string>rii-tamil.glif</string>
    <key>rra-tamil</key>
    <string>rra-tamil.glif</string>
    <key>rrii-tamil</key>
    <string>rrii-tamil.glif</string>
    <key>rru-tamil</key>
    <string>rru-tamil.glif</string>
    <key>rruu-tamil</key>
    <string>rruu-tamil.glif</string>
    <key>ru-tamil</key>
    <string>ru-tamil.glif</string>
    <key>rupee-tamil</key>
    <string>rupee-tamil.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>ruu-tamil</key>
    <string>ruu-tamil.glif</string>
    <key>sa-tamil</key>
    <string>sa-tamil.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven-tamil</key>
    <string>seven-tamil.glif</string>
    <key>sha-tamil</key>
    <string>sha-tamil.glif</string>
    <key>shii-tamil</key>
    <string>shii-tamil.glif</string>
    <key>shrii-tamil</key>
    <string>shrii-tamil.glif</string>
    <key>si-tamil</key>
    <string>si-tamil.glif</string>
    <key>sii-tamil</key>
    <string>sii-tamil.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six-tamil</key>
    <string>six-tamil.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssa-tamil</key>
    <string>ssa-tamil.glif</string>
    <key>ssii-tamil</key>
    <string>ssii-tamil.glif</string>
    <key>ta-tamil</key>
    <string>ta-tamil.glif</string>
    <key>ten-tamil</key>
    <string>ten-tamil.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three-tamil</key>
    <string>three-tamil.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tii-tamil</key>
    <string>tii-tamil.glif</string>
    <key>tta-tamil</key>
    <string>tta-tamil.glif</string>
    <key>tti-tamil</key>
    <string>tti-tamil.glif</string>
    <key>ttii-tamil</key>
    <string>ttii-tamil.glif</string>
    <key>ttu-tamil</key>
    <string>ttu-tamil.glif</string>
    <key>ttuu-tamil</key>
    <string>ttuu-tamil.glif</string>
    <key>tu-tamil</key>
    <string>tu-tamil.glif</string>
    <key>tuu-tamil</key>
    <string>tuu-tamil.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two-tamil</key>
    <string>two-tamil.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u-tamil</key>
    <string>u-tamil.glif</string>
    <key>u11301</key>
    <string>u11301.glif</string>
    <key>u1133B</key>
    <string>u1133B_.glif</string>
    <key>uMatra-tamil</key>
    <string>uM_atra-tamil.glif</string>
    <key>uMatra-tamil.alt01</key>
    <string>uM_atra-tamil.alt01.glif</string>
    <key>uMatra-tamil.alt02</key>
    <string>uM_atra-tamil.alt02.glif</string>
    <key>udatta-deva</key>
    <string>udatta-deva.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uu-tamil</key>
    <string>uu-tamil.glif</string>
    <key>uuMatra-tamil</key>
    <string>uuM_atra-tamil.glif</string>
    <key>uuMatra-tamil.alt01</key>
    <string>uuM_atra-tamil.alt01.glif</string>
    <key>uuMatra-tamil.alt02</key>
    <string>uuM_atra-tamil.alt02.glif</string>
    <key>va-tamil</key>
    <string>va-tamil.glif</string>
    <key>vii-tamil</key>
    <string>vii-tamil.glif</string>
    <key>visarga-grantha</key>
    <string>visarga-grantha.glif</string>
    <key>visarga-tamil</key>
    <string>visarga-tamil.glif</string>
    <key>vu-tamil</key>
    <string>vu-tamil.glif</string>
    <key>vuu-tamil</key>
    <string>vuu-tamil.glif</string>
    <key>ya-tamil</key>
    <string>ya-tamil.glif</string>
    <key>year-tamil</key>
    <string>year-tamil.glif</string>
    <key>yii-tamil</key>
    <string>yii-tamil.glif</string>
    <key>yu-tamil</key>
    <string>yu-tamil.glif</string>
    <key>yuu-tamil</key>
    <string>yuu-tamil.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero-tamil</key>
    <string>zero-tamil.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
  </dict>
</plist>
