<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0640</key>
    <string>uni0640.glif</string>
    <key>uni0840</key>
    <string>uni0840.glif</string>
    <key>uni0840.Fina</key>
    <string>uni0840.F_ina.glif</string>
    <key>uni0840.Fina_XShort</key>
    <string>uni0840.F_ina_X_S_hort.glif</string>
    <key>uni0840.Isol</key>
    <string>uni0840.I_sol.glif</string>
    <key>uni0841</key>
    <string>uni0841.glif</string>
    <key>uni0841.Fina</key>
    <string>uni0841.F_ina.glif</string>
    <key>uni0841.Init</key>
    <string>uni0841.I_nit.glif</string>
    <key>uni0841.Isol</key>
    <string>uni0841.I_sol.glif</string>
    <key>uni0841.Medi</key>
    <string>uni0841.M_edi.glif</string>
    <key>uni0842</key>
    <string>uni0842.glif</string>
    <key>uni0842.Fina</key>
    <string>uni0842.F_ina.glif</string>
    <key>uni0842.Init</key>
    <string>uni0842.I_nit.glif</string>
    <key>uni0842.Isol</key>
    <string>uni0842.I_sol.glif</string>
    <key>uni0842.Medi</key>
    <string>uni0842.M_edi.glif</string>
    <key>uni0843</key>
    <string>uni0843.glif</string>
    <key>uni0843.Fina</key>
    <string>uni0843.F_ina.glif</string>
    <key>uni0843.Init</key>
    <string>uni0843.I_nit.glif</string>
    <key>uni0843.Isol</key>
    <string>uni0843.I_sol.glif</string>
    <key>uni0843.Medi</key>
    <string>uni0843.M_edi.glif</string>
    <key>uni0844</key>
    <string>uni0844.glif</string>
    <key>uni0844.Fina</key>
    <string>uni0844.F_ina.glif</string>
    <key>uni0844.Fina_XShort</key>
    <string>uni0844.F_ina_X_S_hort.glif</string>
    <key>uni0844.Init</key>
    <string>uni0844.I_nit.glif</string>
    <key>uni0844.Isol</key>
    <string>uni0844.I_sol.glif</string>
    <key>uni0844.Medi</key>
    <string>uni0844.M_edi.glif</string>
    <key>uni0844.Medi_XShort</key>
    <string>uni0844.M_edi_X_S_hort.glif</string>
    <key>uni0845</key>
    <string>uni0845.glif</string>
    <key>uni0845.Fina</key>
    <string>uni0845.F_ina.glif</string>
    <key>uni0845.Init</key>
    <string>uni0845.I_nit.glif</string>
    <key>uni0845.Isol</key>
    <string>uni0845.I_sol.glif</string>
    <key>uni0845.Medi</key>
    <string>uni0845.M_edi.glif</string>
    <key>uni0846</key>
    <string>uni0846.glif</string>
    <key>uni0846.Fina</key>
    <string>uni0846.F_ina.glif</string>
    <key>uni0846.Isol</key>
    <string>uni0846.I_sol.glif</string>
    <key>uni0847</key>
    <string>uni0847.glif</string>
    <key>uni0847.Fina</key>
    <string>uni0847.F_ina.glif</string>
    <key>uni0847.Fina_XShort</key>
    <string>uni0847.F_ina_X_S_hort.glif</string>
    <key>uni0847.Isol</key>
    <string>uni0847.I_sol.glif</string>
    <key>uni0847.Medi</key>
    <string>uni0847.M_edi.glif</string>
    <key>uni0848</key>
    <string>uni0848.glif</string>
    <key>uni0848.Fina</key>
    <string>uni0848.F_ina.glif</string>
    <key>uni0848.Fina_Long</key>
    <string>uni0848.F_ina_L_ong.glif</string>
    <key>uni0848.Fina_Short</key>
    <string>uni0848.F_ina_S_hort.glif</string>
    <key>uni0848.Init</key>
    <string>uni0848.I_nit.glif</string>
    <key>uni0848.Init_Long</key>
    <string>uni0848.I_nit_L_ong.glif</string>
    <key>uni0848.Isol</key>
    <string>uni0848.I_sol.glif</string>
    <key>uni0848.Isol_Long</key>
    <string>uni0848.I_sol_L_ong.glif</string>
    <key>uni0848.Medi</key>
    <string>uni0848.M_edi.glif</string>
    <key>uni0848.Medi_Long</key>
    <string>uni0848.M_edi_L_ong.glif</string>
    <key>uni0848.Medi_Short</key>
    <string>uni0848.M_edi_S_hort.glif</string>
    <key>uni0849</key>
    <string>uni0849.glif</string>
    <key>uni0849.Fina</key>
    <string>uni0849.F_ina.glif</string>
    <key>uni0849.Fina_Short</key>
    <string>uni0849.F_ina_S_hort.glif</string>
    <key>uni0849.Fina_XShort</key>
    <string>uni0849.F_ina_X_S_hort.glif</string>
    <key>uni0849.Isol</key>
    <string>uni0849.I_sol.glif</string>
    <key>uni084A</key>
    <string>uni084A_.glif</string>
    <key>uni084A.Fina</key>
    <string>uni084A_.F_ina.glif</string>
    <key>uni084A.Init</key>
    <string>uni084A_.I_nit.glif</string>
    <key>uni084A.Isol</key>
    <string>uni084A_.I_sol.glif</string>
    <key>uni084A.Medi</key>
    <string>uni084A_.M_edi.glif</string>
    <key>uni084B</key>
    <string>uni084B_.glif</string>
    <key>uni084B.Fina</key>
    <string>uni084B_.F_ina.glif</string>
    <key>uni084B.Init</key>
    <string>uni084B_.I_nit.glif</string>
    <key>uni084B.Isol</key>
    <string>uni084B_.I_sol.glif</string>
    <key>uni084B.Medi</key>
    <string>uni084B_.M_edi.glif</string>
    <key>uni084C</key>
    <string>uni084C_.glif</string>
    <key>uni084C.Fina</key>
    <string>uni084C_.F_ina.glif</string>
    <key>uni084C.Init</key>
    <string>uni084C_.I_nit.glif</string>
    <key>uni084C.Isol</key>
    <string>uni084C_.I_sol.glif</string>
    <key>uni084C.Medi</key>
    <string>uni084C_.M_edi.glif</string>
    <key>uni084D</key>
    <string>uni084D_.glif</string>
    <key>uni084D.Fina</key>
    <string>uni084D_.F_ina.glif</string>
    <key>uni084D.Init</key>
    <string>uni084D_.I_nit.glif</string>
    <key>uni084D.Isol</key>
    <string>uni084D_.I_sol.glif</string>
    <key>uni084D.Medi</key>
    <string>uni084D_.M_edi.glif</string>
    <key>uni084E</key>
    <string>uni084E_.glif</string>
    <key>uni084E.Fina</key>
    <string>uni084E_.F_ina.glif</string>
    <key>uni084E.Init</key>
    <string>uni084E_.I_nit.glif</string>
    <key>uni084E.Isol</key>
    <string>uni084E_.I_sol.glif</string>
    <key>uni084E.Medi</key>
    <string>uni084E_.M_edi.glif</string>
    <key>uni084F</key>
    <string>uni084F_.glif</string>
    <key>uni084F.Fina</key>
    <string>uni084F_.F_ina.glif</string>
    <key>uni084F.Init</key>
    <string>uni084F_.I_nit.glif</string>
    <key>uni084F.Isol</key>
    <string>uni084F_.I_sol.glif</string>
    <key>uni084F.Medi</key>
    <string>uni084F_.M_edi.glif</string>
    <key>uni0850</key>
    <string>uni0850.glif</string>
    <key>uni0850.Fina</key>
    <string>uni0850.F_ina.glif</string>
    <key>uni0850.Init</key>
    <string>uni0850.I_nit.glif</string>
    <key>uni0850.Isol</key>
    <string>uni0850.I_sol.glif</string>
    <key>uni0850.Medi</key>
    <string>uni0850.M_edi.glif</string>
    <key>uni0851</key>
    <string>uni0851.glif</string>
    <key>uni0851.Fina</key>
    <string>uni0851.F_ina.glif</string>
    <key>uni0851.Init</key>
    <string>uni0851.I_nit.glif</string>
    <key>uni0851.Isol</key>
    <string>uni0851.I_sol.glif</string>
    <key>uni0851.Medi</key>
    <string>uni0851.M_edi.glif</string>
    <key>uni0852</key>
    <string>uni0852.glif</string>
    <key>uni0852.Fina</key>
    <string>uni0852.F_ina.glif</string>
    <key>uni0852.Init</key>
    <string>uni0852.I_nit.glif</string>
    <key>uni0852.Isol</key>
    <string>uni0852.I_sol.glif</string>
    <key>uni0852.Medi</key>
    <string>uni0852.M_edi.glif</string>
    <key>uni0853</key>
    <string>uni0853.glif</string>
    <key>uni0853.Fina</key>
    <string>uni0853.F_ina.glif</string>
    <key>uni0853.Init</key>
    <string>uni0853.I_nit.glif</string>
    <key>uni0853.Isol</key>
    <string>uni0853.I_sol.glif</string>
    <key>uni0853.Medi</key>
    <string>uni0853.M_edi.glif</string>
    <key>uni0854</key>
    <string>uni0854.glif</string>
    <key>uni0854.Fina</key>
    <string>uni0854.F_ina.glif</string>
    <key>uni0854.Isol</key>
    <string>uni0854.I_sol.glif</string>
    <key>uni0855</key>
    <string>uni0855.glif</string>
    <key>uni0855.Fina</key>
    <string>uni0855.F_ina.glif</string>
    <key>uni0855.Init</key>
    <string>uni0855.I_nit.glif</string>
    <key>uni0855.Isol</key>
    <string>uni0855.I_sol.glif</string>
    <key>uni0855.Medi</key>
    <string>uni0855.M_edi.glif</string>
    <key>uni0856</key>
    <string>uni0856.glif</string>
    <key>uni0856.Isol</key>
    <string>uni0856.I_sol.glif</string>
    <key>uni0857</key>
    <string>uni0857.glif</string>
    <key>uni0857.Isol</key>
    <string>uni0857.I_sol.glif</string>
    <key>uni0858</key>
    <string>uni0858.glif</string>
    <key>uni0858.Isol</key>
    <string>uni0858.I_sol.glif</string>
    <key>uni0859</key>
    <string>uni0859.glif</string>
    <key>uni085A</key>
    <string>uni085A_.glif</string>
    <key>uni085B</key>
    <string>uni085B_.glif</string>
    <key>uni085E</key>
    <string>uni085E_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
