<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aen-georgian</key>
    <string>A_en-georgian.glif</string>
    <key>Ain-georgian</key>
    <string>A_in-georgian.glif</string>
    <key>Can-georgian</key>
    <string>C_an-georgian.glif</string>
    <key>Chin-georgian</key>
    <string>C_hin-georgian.glif</string>
    <key>Cil-georgian</key>
    <string>C_il-georgian.glif</string>
    <key>Don-georgian</key>
    <string>D_on-georgian.glif</string>
    <key>Ghan-georgian</key>
    <string>G_han-georgian.glif</string>
    <key>Hae-georgian</key>
    <string>H_ae-georgian.glif</string>
    <key>He-georgian</key>
    <string>H_e-georgian.glif</string>
    <key>Jhan-georgian</key>
    <string>J_han-georgian.glif</string>
    <key>Khar-georgian</key>
    <string>K_har-georgian.glif</string>
    <key>Las-georgian</key>
    <string>L_as-georgian.glif</string>
    <key>On-georgian</key>
    <string>O_n-georgian.glif</string>
    <key>Par-georgian</key>
    <string>P_ar-georgian.glif</string>
    <key>Phar-georgian</key>
    <string>P_har-georgian.glif</string>
    <key>Vin-georgian</key>
    <string>V_in-georgian.glif</string>
    <key>Xan-georgian</key>
    <string>X_an-georgian.glif</string>
    <key>Zen-georgian</key>
    <string>Z_en-georgian.glif</string>
    <key>Zhar-georgian</key>
    <string>Z_har-georgian.glif</string>
    <key>chin-georgian</key>
    <string>chin-georgian.glif</string>
  </dict>
</plist>
