<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10800</key>
    <string>u10800.glif</string>
    <key>u10801</key>
    <string>u10801.glif</string>
    <key>u10802</key>
    <string>u10802.glif</string>
    <key>u10803</key>
    <string>u10803.glif</string>
    <key>u10804</key>
    <string>u10804.glif</string>
    <key>u10805</key>
    <string>u10805.glif</string>
    <key>u10808</key>
    <string>u10808.glif</string>
    <key>u1080A</key>
    <string>u1080A_.glif</string>
    <key>u1080B</key>
    <string>u1080B_.glif</string>
    <key>u1080C</key>
    <string>u1080C_.glif</string>
    <key>u1080D</key>
    <string>u1080D_.glif</string>
    <key>u1080E</key>
    <string>u1080E_.glif</string>
    <key>u1080F</key>
    <string>u1080F_.glif</string>
    <key>u10810</key>
    <string>u10810.glif</string>
    <key>u10811</key>
    <string>u10811.glif</string>
    <key>u10812</key>
    <string>u10812.glif</string>
    <key>u10813</key>
    <string>u10813.glif</string>
    <key>u10814</key>
    <string>u10814.glif</string>
    <key>u10815</key>
    <string>u10815.glif</string>
    <key>u10816</key>
    <string>u10816.glif</string>
    <key>u10817</key>
    <string>u10817.glif</string>
    <key>u10818</key>
    <string>u10818.glif</string>
    <key>u10819</key>
    <string>u10819.glif</string>
    <key>u1081A</key>
    <string>u1081A_.glif</string>
    <key>u1081B</key>
    <string>u1081B_.glif</string>
    <key>u1081C</key>
    <string>u1081C_.glif</string>
    <key>u1081D</key>
    <string>u1081D_.glif</string>
    <key>u1081E</key>
    <string>u1081E_.glif</string>
    <key>u1081F</key>
    <string>u1081F_.glif</string>
    <key>u10820</key>
    <string>u10820.glif</string>
    <key>u10821</key>
    <string>u10821.glif</string>
    <key>u10822</key>
    <string>u10822.glif</string>
    <key>u10823</key>
    <string>u10823.glif</string>
    <key>u10824</key>
    <string>u10824.glif</string>
    <key>u10825</key>
    <string>u10825.glif</string>
    <key>u10826</key>
    <string>u10826.glif</string>
    <key>u10827</key>
    <string>u10827.glif</string>
    <key>u10828</key>
    <string>u10828.glif</string>
    <key>u10829</key>
    <string>u10829.glif</string>
    <key>u1082A</key>
    <string>u1082A_.glif</string>
    <key>u1082B</key>
    <string>u1082B_.glif</string>
    <key>u1082C</key>
    <string>u1082C_.glif</string>
    <key>u1082D</key>
    <string>u1082D_.glif</string>
    <key>u1082E</key>
    <string>u1082E_.glif</string>
    <key>u1082F</key>
    <string>u1082F_.glif</string>
    <key>u10830</key>
    <string>u10830.glif</string>
    <key>u10831</key>
    <string>u10831.glif</string>
    <key>u10832</key>
    <string>u10832.glif</string>
    <key>u10833</key>
    <string>u10833.glif</string>
    <key>u10834</key>
    <string>u10834.glif</string>
    <key>u10835</key>
    <string>u10835.glif</string>
    <key>u10837</key>
    <string>u10837.glif</string>
    <key>u10838</key>
    <string>u10838.glif</string>
    <key>u1083C</key>
    <string>u1083C_.glif</string>
    <key>u1083F</key>
    <string>u1083F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
