<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetAutoStroke</key>
    <integer>1</integer>
    <key>GSOffsetHorizontal</key>
    <integer>70</integer>
    <key>GSOffsetVertical</key>
    <integer>30</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1286</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>70</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>4</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Light</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Condensed</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>70</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>angkhankhu-thai</string>
      <string>baht</string>
      <string>boBaimai-thai</string>
      <string>choChan-thai</string>
      <string>choChang-thai</string>
      <string>choChing-thai</string>
      <string>choChoe-thai</string>
      <string>doChada-thai</string>
      <string>doChada-thai.short</string>
      <string>doDek-thai</string>
      <string>eight-thai</string>
      <string>five-thai</string>
      <string>foFa-thai</string>
      <string>foFan-thai</string>
      <string>fongman-thai</string>
      <string>four-thai</string>
      <string>hoHip-thai</string>
      <string>hoNokhuk-thai</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>khoKhai-thai</string>
      <string>khoKhon-thai</string>
      <string>khoKhuat-thai</string>
      <string>khoKhwai-thai</string>
      <string>khoRakhang-thai</string>
      <string>khomut-thai</string>
      <string>koKai-thai</string>
      <string>lakkhangyao-thai</string>
      <string>loChula-thai</string>
      <string>loChula-thai.short</string>
      <string>loLing-thai</string>
      <string>lu-thai</string>
      <string>lu-thai.short</string>
      <string>lu_lakkhangyao-thai</string>
      <string>macronbelowcomb</string>
      <string>macronbelowcomb.alt</string>
      <string>maiChattawa-thai</string>
      <string>maiChattawa-thai.narrow</string>
      <string>maiChattawa-thai.small</string>
      <string>maiEk-thai</string>
      <string>maiEk-thai.narrow</string>
      <string>maiEk-thai.small</string>
      <string>maiHanaKat-thai</string>
      <string>maiHanaKat-thai.narrow</string>
      <string>maiTho-thai</string>
      <string>maiTho-thai.narrow</string>
      <string>maiTho-thai.small</string>
      <string>maiTri-thai</string>
      <string>maiTri-thai.narrow</string>
      <string>maiTri-thai.small</string>
      <string>maitaikhu-thai</string>
      <string>maitaikhu-thai.narrow</string>
      <string>maiyamok-thai</string>
      <string>moMa-thai</string>
      <string>nbspace</string>
      <string>ngoNgu-thai</string>
      <string>nikhahit-thai</string>
      <string>nikhahit-thai.narrow</string>
      <string>nikhahit_maiChattawa-thai</string>
      <string>nikhahit_maiChattawa-thai.narrow</string>
      <string>nikhahit_maiEk-thai</string>
      <string>nikhahit_maiEk-thai.narrow</string>
      <string>nikhahit_maiTho-thai</string>
      <string>nikhahit_maiTho-thai.narrow</string>
      <string>nikhahit_maiTri-thai</string>
      <string>nikhahit_maiTri-thai.narrow</string>
      <string>nine-thai</string>
      <string>noNen-thai</string>
      <string>noNu-thai</string>
      <string>oAng-thai</string>
      <string>one-thai</string>
      <string>paiyannoi-thai</string>
      <string>phinthu-thai</string>
      <string>phinthu-thai.small</string>
      <string>phoPhan-thai</string>
      <string>phoPhung-thai</string>
      <string>phoSamphao-thai</string>
      <string>poPla-thai</string>
      <string>roRua-thai</string>
      <string>ru-thai</string>
      <string>ru-thai.short</string>
      <string>ru_lakkhangyao-thai</string>
      <string>saraA-thai</string>
      <string>saraAa-thai</string>
      <string>saraAe-thai</string>
      <string>saraAiMaimalai-thai</string>
      <string>saraAiMaimuan-thai</string>
      <string>saraAm-thai</string>
      <string>saraE-thai</string>
      <string>saraI-thai</string>
      <string>saraI-thai.narrow</string>
      <string>saraIi-thai</string>
      <string>saraIi-thai.narrow</string>
      <string>saraO-thai</string>
      <string>saraU-thai</string>
      <string>saraU-thai.small</string>
      <string>saraUe-thai</string>
      <string>saraUe-thai.narrow</string>
      <string>saraUee-thai</string>
      <string>saraUee-thai.narrow</string>
      <string>saraUu-thai</string>
      <string>saraUu-thai.small</string>
      <string>seven-thai</string>
      <string>six-thai</string>
      <string>soRusi-thai</string>
      <string>soSala-thai</string>
      <string>soSo-thai</string>
      <string>soSua-thai</string>
      <string>space</string>
      <string>thanthakhat-thai</string>
      <string>thanthakhat-thai.narrow</string>
      <string>thanthakhat-thai.small</string>
      <string>thoNangmontho-thai</string>
      <string>thoPhuthao-thai</string>
      <string>thoThahan-thai</string>
      <string>thoThan-thai</string>
      <string>thoThan-thai.less</string>
      <string>thoThong-thai</string>
      <string>thoThung-thai</string>
      <string>three-thai</string>
      <string>tildecomb</string>
      <string>toPatak-thai</string>
      <string>toPatak-thai.short</string>
      <string>toTao-thai</string>
      <string>two-thai</string>
      <string>uni02BC</string>
      <string>uni02D7</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>woWaen-thai</string>
      <string>yamakkan-thai</string>
      <string>yoYak-thai</string>
      <string>yoYing-thai</string>
      <string>yoYing-thai.less</string>
      <string>zero-thai</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>angkhankhu-thai</string>
      <string>baht</string>
      <string>boBaimai-thai</string>
      <string>choChan-thai</string>
      <string>choChang-thai</string>
      <string>choChing-thai</string>
      <string>choChoe-thai</string>
      <string>doChada-thai</string>
      <string>doChada-thai.short</string>
      <string>doDek-thai</string>
      <string>eight-thai</string>
      <string>five-thai</string>
      <string>foFa-thai</string>
      <string>foFan-thai</string>
      <string>fongman-thai</string>
      <string>four-thai</string>
      <string>hoHip-thai</string>
      <string>hoNokhuk-thai</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>khoKhai-thai</string>
      <string>khoKhon-thai</string>
      <string>khoKhuat-thai</string>
      <string>khoKhwai-thai</string>
      <string>khoRakhang-thai</string>
      <string>khomut-thai</string>
      <string>koKai-thai</string>
      <string>lakkhangyao-thai</string>
      <string>loChula-thai</string>
      <string>loChula-thai.short</string>
      <string>loLing-thai</string>
      <string>lu-thai</string>
      <string>lu-thai.short</string>
      <string>lu_lakkhangyao-thai</string>
      <string>macronbelowcomb</string>
      <string>macronbelowcomb.alt</string>
      <string>maiChattawa-thai</string>
      <string>maiChattawa-thai.narrow</string>
      <string>maiChattawa-thai.small</string>
      <string>maiEk-thai</string>
      <string>maiEk-thai.narrow</string>
      <string>maiEk-thai.small</string>
      <string>maiHanaKat-thai</string>
      <string>maiHanaKat-thai.narrow</string>
      <string>maiTho-thai</string>
      <string>maiTho-thai.narrow</string>
      <string>maiTho-thai.small</string>
      <string>maiTri-thai</string>
      <string>maiTri-thai.narrow</string>
      <string>maiTri-thai.small</string>
      <string>maitaikhu-thai</string>
      <string>maitaikhu-thai.narrow</string>
      <string>maiyamok-thai</string>
      <string>moMa-thai</string>
      <string>nbspace</string>
      <string>ngoNgu-thai</string>
      <string>nikhahit-thai</string>
      <string>nikhahit-thai.narrow</string>
      <string>nikhahit_maiChattawa-thai</string>
      <string>nikhahit_maiChattawa-thai.narrow</string>
      <string>nikhahit_maiEk-thai</string>
      <string>nikhahit_maiEk-thai.narrow</string>
      <string>nikhahit_maiTho-thai</string>
      <string>nikhahit_maiTho-thai.narrow</string>
      <string>nikhahit_maiTri-thai</string>
      <string>nikhahit_maiTri-thai.narrow</string>
      <string>nine-thai</string>
      <string>noNen-thai</string>
      <string>noNu-thai</string>
      <string>oAng-thai</string>
      <string>one-thai</string>
      <string>paiyannoi-thai</string>
      <string>phinthu-thai</string>
      <string>phinthu-thai.small</string>
      <string>phoPhan-thai</string>
      <string>phoPhung-thai</string>
      <string>phoSamphao-thai</string>
      <string>poPla-thai</string>
      <string>roRua-thai</string>
      <string>ru-thai</string>
      <string>ru-thai.short</string>
      <string>ru_lakkhangyao-thai</string>
      <string>saraA-thai</string>
      <string>saraAa-thai</string>
      <string>saraAe-thai</string>
      <string>saraAiMaimalai-thai</string>
      <string>saraAiMaimuan-thai</string>
      <string>saraAm-thai</string>
      <string>saraE-thai</string>
      <string>saraI-thai</string>
      <string>saraI-thai.narrow</string>
      <string>saraIi-thai</string>
      <string>saraIi-thai.narrow</string>
      <string>saraO-thai</string>
      <string>saraU-thai</string>
      <string>saraU-thai.small</string>
      <string>saraUe-thai</string>
      <string>saraUe-thai.narrow</string>
      <string>saraUee-thai</string>
      <string>saraUee-thai.narrow</string>
      <string>saraUu-thai</string>
      <string>saraUu-thai.small</string>
      <string>seven-thai</string>
      <string>six-thai</string>
      <string>soRusi-thai</string>
      <string>soSala-thai</string>
      <string>soSo-thai</string>
      <string>soSua-thai</string>
      <string>space</string>
      <string>thanthakhat-thai</string>
      <string>thanthakhat-thai.narrow</string>
      <string>thanthakhat-thai.small</string>
      <string>thoNangmontho-thai</string>
      <string>thoPhuthao-thai</string>
      <string>thoThahan-thai</string>
      <string>thoThan-thai</string>
      <string>thoThan-thai.less</string>
      <string>thoThong-thai</string>
      <string>thoThung-thai</string>
      <string>three-thai</string>
      <string>tildecomb</string>
      <string>toPatak-thai</string>
      <string>toPatak-thai.short</string>
      <string>toTao-thai</string>
      <string>two-thai</string>
      <string>uni02BC</string>
      <string>uni02D7</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>woWaen-thai</string>
      <string>yamakkan-thai</string>
      <string>yoYak-thai</string>
      <string>yoYing-thai</string>
      <string>yoYing-thai.less</string>
      <string>zero-thai</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>angkhankhu-thai</string>
      <string>baht</string>
      <string>boBaimai-thai</string>
      <string>choChan-thai</string>
      <string>choChang-thai</string>
      <string>choChing-thai</string>
      <string>choChoe-thai</string>
      <string>doChada-thai</string>
      <string>doChada-thai.short</string>
      <string>doDek-thai</string>
      <string>eight-thai</string>
      <string>five-thai</string>
      <string>foFa-thai</string>
      <string>foFan-thai</string>
      <string>fongman-thai</string>
      <string>four-thai</string>
      <string>hoHip-thai</string>
      <string>hoNokhuk-thai</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>khoKhai-thai</string>
      <string>khoKhon-thai</string>
      <string>khoKhuat-thai</string>
      <string>khoKhwai-thai</string>
      <string>khoRakhang-thai</string>
      <string>khomut-thai</string>
      <string>koKai-thai</string>
      <string>lakkhangyao-thai</string>
      <string>loChula-thai</string>
      <string>loChula-thai.short</string>
      <string>loLing-thai</string>
      <string>lu-thai</string>
      <string>lu-thai.short</string>
      <string>lu_lakkhangyao-thai</string>
      <string>macronbelowcomb</string>
      <string>macronbelowcomb.alt</string>
      <string>maiChattawa-thai</string>
      <string>maiChattawa-thai.narrow</string>
      <string>maiChattawa-thai.small</string>
      <string>maiEk-thai</string>
      <string>maiEk-thai.narrow</string>
      <string>maiEk-thai.small</string>
      <string>maiHanaKat-thai</string>
      <string>maiHanaKat-thai.narrow</string>
      <string>maiTho-thai</string>
      <string>maiTho-thai.narrow</string>
      <string>maiTho-thai.small</string>
      <string>maiTri-thai</string>
      <string>maiTri-thai.narrow</string>
      <string>maiTri-thai.small</string>
      <string>maitaikhu-thai</string>
      <string>maitaikhu-thai.narrow</string>
      <string>maiyamok-thai</string>
      <string>moMa-thai</string>
      <string>nbspace</string>
      <string>ngoNgu-thai</string>
      <string>nikhahit-thai</string>
      <string>nikhahit-thai.narrow</string>
      <string>nikhahit_maiChattawa-thai</string>
      <string>nikhahit_maiChattawa-thai.narrow</string>
      <string>nikhahit_maiEk-thai</string>
      <string>nikhahit_maiEk-thai.narrow</string>
      <string>nikhahit_maiTho-thai</string>
      <string>nikhahit_maiTho-thai.narrow</string>
      <string>nikhahit_maiTri-thai</string>
      <string>nikhahit_maiTri-thai.narrow</string>
      <string>nine-thai</string>
      <string>noNen-thai</string>
      <string>noNu-thai</string>
      <string>oAng-thai</string>
      <string>one-thai</string>
      <string>paiyannoi-thai</string>
      <string>phinthu-thai</string>
      <string>phinthu-thai.small</string>
      <string>phoPhan-thai</string>
      <string>phoPhung-thai</string>
      <string>phoSamphao-thai</string>
      <string>poPla-thai</string>
      <string>roRua-thai</string>
      <string>ru-thai</string>
      <string>ru-thai.short</string>
      <string>ru_lakkhangyao-thai</string>
      <string>saraA-thai</string>
      <string>saraAa-thai</string>
      <string>saraAe-thai</string>
      <string>saraAiMaimalai-thai</string>
      <string>saraAiMaimuan-thai</string>
      <string>saraAm-thai</string>
      <string>saraE-thai</string>
      <string>saraI-thai</string>
      <string>saraI-thai.narrow</string>
      <string>saraIi-thai</string>
      <string>saraIi-thai.narrow</string>
      <string>saraO-thai</string>
      <string>saraU-thai</string>
      <string>saraU-thai.small</string>
      <string>saraUe-thai</string>
      <string>saraUe-thai.narrow</string>
      <string>saraUee-thai</string>
      <string>saraUee-thai.narrow</string>
      <string>saraUu-thai</string>
      <string>saraUu-thai.small</string>
      <string>seven-thai</string>
      <string>six-thai</string>
      <string>soRusi-thai</string>
      <string>soSala-thai</string>
      <string>soSo-thai</string>
      <string>soSua-thai</string>
      <string>space</string>
      <string>thanthakhat-thai</string>
      <string>thanthakhat-thai.narrow</string>
      <string>thanthakhat-thai.small</string>
      <string>thoNangmontho-thai</string>
      <string>thoPhuthao-thai</string>
      <string>thoThahan-thai</string>
      <string>thoThan-thai</string>
      <string>thoThan-thai.less</string>
      <string>thoThong-thai</string>
      <string>thoThung-thai</string>
      <string>three-thai</string>
      <string>tildecomb</string>
      <string>toPatak-thai</string>
      <string>toPatak-thai.short</string>
      <string>toTao-thai</string>
      <string>two-thai</string>
      <string>uni02BC</string>
      <string>uni02D7</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>woWaen-thai</string>
      <string>yamakkan-thai</string>
      <string>yoYak-thai</string>
      <string>yoYing-thai</string>
      <string>yoYing-thai.less</string>
      <string>zero-thai</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>angkhankhu-thai</string>
      <string>baht</string>
      <string>boBaimai-thai</string>
      <string>choChan-thai</string>
      <string>choChang-thai</string>
      <string>choChing-thai</string>
      <string>choChoe-thai</string>
      <string>doChada-thai</string>
      <string>doChada-thai.short</string>
      <string>doDek-thai</string>
      <string>eight-thai</string>
      <string>five-thai</string>
      <string>foFa-thai</string>
      <string>foFan-thai</string>
      <string>fongman-thai</string>
      <string>four-thai</string>
      <string>hoHip-thai</string>
      <string>hoNokhuk-thai</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>khoKhai-thai</string>
      <string>khoKhon-thai</string>
      <string>khoKhuat-thai</string>
      <string>khoKhwai-thai</string>
      <string>khoRakhang-thai</string>
      <string>khomut-thai</string>
      <string>koKai-thai</string>
      <string>lakkhangyao-thai</string>
      <string>loChula-thai</string>
      <string>loChula-thai.short</string>
      <string>loLing-thai</string>
      <string>lu-thai</string>
      <string>lu-thai.short</string>
      <string>lu_lakkhangyao-thai</string>
      <string>macronbelowcomb</string>
      <string>macronbelowcomb.alt</string>
      <string>maiChattawa-thai</string>
      <string>maiChattawa-thai.narrow</string>
      <string>maiChattawa-thai.small</string>
      <string>maiEk-thai</string>
      <string>maiEk-thai.narrow</string>
      <string>maiEk-thai.small</string>
      <string>maiHanaKat-thai</string>
      <string>maiHanaKat-thai.narrow</string>
      <string>maiTho-thai</string>
      <string>maiTho-thai.narrow</string>
      <string>maiTho-thai.small</string>
      <string>maiTri-thai</string>
      <string>maiTri-thai.narrow</string>
      <string>maiTri-thai.small</string>
      <string>maitaikhu-thai</string>
      <string>maitaikhu-thai.narrow</string>
      <string>maiyamok-thai</string>
      <string>moMa-thai</string>
      <string>nbspace</string>
      <string>ngoNgu-thai</string>
      <string>nikhahit-thai</string>
      <string>nikhahit-thai.narrow</string>
      <string>nikhahit_maiChattawa-thai</string>
      <string>nikhahit_maiChattawa-thai.narrow</string>
      <string>nikhahit_maiEk-thai</string>
      <string>nikhahit_maiEk-thai.narrow</string>
      <string>nikhahit_maiTho-thai</string>
      <string>nikhahit_maiTho-thai.narrow</string>
      <string>nikhahit_maiTri-thai</string>
      <string>nikhahit_maiTri-thai.narrow</string>
      <string>nine-thai</string>
      <string>noNen-thai</string>
      <string>noNu-thai</string>
      <string>oAng-thai</string>
      <string>one-thai</string>
      <string>paiyannoi-thai</string>
      <string>phinthu-thai</string>
      <string>phinthu-thai.small</string>
      <string>phoPhan-thai</string>
      <string>phoPhung-thai</string>
      <string>phoSamphao-thai</string>
      <string>poPla-thai</string>
      <string>roRua-thai</string>
      <string>ru-thai</string>
      <string>ru-thai.short</string>
      <string>ru_lakkhangyao-thai</string>
      <string>saraA-thai</string>
      <string>saraAa-thai</string>
      <string>saraAe-thai</string>
      <string>saraAiMaimalai-thai</string>
      <string>saraAiMaimuan-thai</string>
      <string>saraAm-thai</string>
      <string>saraE-thai</string>
      <string>saraI-thai</string>
      <string>saraI-thai.narrow</string>
      <string>saraIi-thai</string>
      <string>saraIi-thai.narrow</string>
      <string>saraO-thai</string>
      <string>saraU-thai</string>
      <string>saraU-thai.small</string>
      <string>saraUe-thai</string>
      <string>saraUe-thai.narrow</string>
      <string>saraUee-thai</string>
      <string>saraUee-thai.narrow</string>
      <string>saraUu-thai</string>
      <string>saraUu-thai.small</string>
      <string>seven-thai</string>
      <string>six-thai</string>
      <string>soRusi-thai</string>
      <string>soSala-thai</string>
      <string>soSo-thai</string>
      <string>soSua-thai</string>
      <string>space</string>
      <string>thanthakhat-thai</string>
      <string>thanthakhat-thai.narrow</string>
      <string>thanthakhat-thai.small</string>
      <string>thoNangmontho-thai</string>
      <string>thoPhuthao-thai</string>
      <string>thoThahan-thai</string>
      <string>thoThan-thai</string>
      <string>thoThan-thai.less</string>
      <string>thoThong-thai</string>
      <string>thoThung-thai</string>
      <string>three-thai</string>
      <string>tildecomb</string>
      <string>toPatak-thai</string>
      <string>toPatak-thai.short</string>
      <string>toTao-thai</string>
      <string>two-thai</string>
      <string>uni02BC</string>
      <string>uni02D7</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>woWaen-thai</string>
      <string>yamakkan-thai</string>
      <string>yoYak-thai</string>
      <string>yoYing-thai</string>
      <string>yoYing-thai.less</string>
      <string>zero-thai</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>angkhankhu-thai</string>
      <string>baht</string>
      <string>boBaimai-thai</string>
      <string>choChan-thai</string>
      <string>choChang-thai</string>
      <string>choChing-thai</string>
      <string>choChoe-thai</string>
      <string>doChada-thai</string>
      <string>doChada-thai.short</string>
      <string>doDek-thai</string>
      <string>eight-thai</string>
      <string>five-thai</string>
      <string>foFa-thai</string>
      <string>foFan-thai</string>
      <string>fongman-thai</string>
      <string>four-thai</string>
      <string>hoHip-thai</string>
      <string>hoNokhuk-thai</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>khoKhai-thai</string>
      <string>khoKhon-thai</string>
      <string>khoKhuat-thai</string>
      <string>khoKhwai-thai</string>
      <string>khoRakhang-thai</string>
      <string>khomut-thai</string>
      <string>koKai-thai</string>
      <string>lakkhangyao-thai</string>
      <string>loChula-thai</string>
      <string>loChula-thai.short</string>
      <string>loLing-thai</string>
      <string>lu-thai</string>
      <string>lu-thai.short</string>
      <string>lu_lakkhangyao-thai</string>
      <string>macronbelowcomb</string>
      <string>macronbelowcomb.alt</string>
      <string>maiChattawa-thai</string>
      <string>maiChattawa-thai.narrow</string>
      <string>maiChattawa-thai.small</string>
      <string>maiEk-thai</string>
      <string>maiEk-thai.narrow</string>
      <string>maiEk-thai.small</string>
      <string>maiHanaKat-thai</string>
      <string>maiHanaKat-thai.narrow</string>
      <string>maiTho-thai</string>
      <string>maiTho-thai.narrow</string>
      <string>maiTho-thai.small</string>
      <string>maiTri-thai</string>
      <string>maiTri-thai.narrow</string>
      <string>maiTri-thai.small</string>
      <string>maitaikhu-thai</string>
      <string>maitaikhu-thai.narrow</string>
      <string>maiyamok-thai</string>
      <string>moMa-thai</string>
      <string>nbspace</string>
      <string>ngoNgu-thai</string>
      <string>nikhahit-thai</string>
      <string>nikhahit-thai.narrow</string>
      <string>nikhahit_maiChattawa-thai</string>
      <string>nikhahit_maiChattawa-thai.narrow</string>
      <string>nikhahit_maiEk-thai</string>
      <string>nikhahit_maiEk-thai.narrow</string>
      <string>nikhahit_maiTho-thai</string>
      <string>nikhahit_maiTho-thai.narrow</string>
      <string>nikhahit_maiTri-thai</string>
      <string>nikhahit_maiTri-thai.narrow</string>
      <string>nine-thai</string>
      <string>noNen-thai</string>
      <string>noNu-thai</string>
      <string>oAng-thai</string>
      <string>one-thai</string>
      <string>paiyannoi-thai</string>
      <string>phinthu-thai</string>
      <string>phinthu-thai.small</string>
      <string>phoPhan-thai</string>
      <string>phoPhung-thai</string>
      <string>phoSamphao-thai</string>
      <string>poPla-thai</string>
      <string>roRua-thai</string>
      <string>ru-thai</string>
      <string>ru-thai.short</string>
      <string>ru_lakkhangyao-thai</string>
      <string>saraA-thai</string>
      <string>saraAa-thai</string>
      <string>saraAe-thai</string>
      <string>saraAiMaimalai-thai</string>
      <string>saraAiMaimuan-thai</string>
      <string>saraAm-thai</string>
      <string>saraE-thai</string>
      <string>saraI-thai</string>
      <string>saraI-thai.narrow</string>
      <string>saraIi-thai</string>
      <string>saraIi-thai.narrow</string>
      <string>saraO-thai</string>
      <string>saraU-thai</string>
      <string>saraU-thai.small</string>
      <string>saraUe-thai</string>
      <string>saraUe-thai.narrow</string>
      <string>saraUee-thai</string>
      <string>saraUee-thai.narrow</string>
      <string>saraUu-thai</string>
      <string>saraUu-thai.small</string>
      <string>seven-thai</string>
      <string>six-thai</string>
      <string>soRusi-thai</string>
      <string>soSala-thai</string>
      <string>soSo-thai</string>
      <string>soSua-thai</string>
      <string>space</string>
      <string>thanthakhat-thai</string>
      <string>thanthakhat-thai.narrow</string>
      <string>thanthakhat-thai.small</string>
      <string>thoNangmontho-thai</string>
      <string>thoPhuthao-thai</string>
      <string>thoThahan-thai</string>
      <string>thoThan-thai</string>
      <string>thoThan-thai.less</string>
      <string>thoThong-thai</string>
      <string>thoThung-thai</string>
      <string>three-thai</string>
      <string>tildecomb</string>
      <string>toPatak-thai</string>
      <string>toPatak-thai.short</string>
      <string>toTao-thai</string>
      <string>two-thai</string>
      <string>uni02BC</string>
      <string>uni02D7</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>woWaen-thai</string>
      <string>yamakkan-thai</string>
      <string>yoYak-thai</string>
      <string>yoYing-thai</string>
      <string>yoYing-thai.less</string>
      <string>zero-thai</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>angkhankhu-thai</key>
      <string>uni0E5A</string>
      <key>baht</key>
      <string>uni0E3F</string>
      <key>boBaimai-thai</key>
      <string>uni0E1A</string>
      <key>choChan-thai</key>
      <string>uni0E08</string>
      <key>choChang-thai</key>
      <string>uni0E0A</string>
      <key>choChing-thai</key>
      <string>uni0E09</string>
      <key>choChoe-thai</key>
      <string>uni0E0C</string>
      <key>doChada-thai</key>
      <string>uni0E0E</string>
      <key>doChada-thai.short</key>
      <string>uni0E0E.short</string>
      <key>doDek-thai</key>
      <string>uni0E14</string>
      <key>eight-thai</key>
      <string>uni0E58</string>
      <key>five-thai</key>
      <string>uni0E55</string>
      <key>foFa-thai</key>
      <string>uni0E1D</string>
      <key>foFan-thai</key>
      <string>uni0E1F</string>
      <key>fongman-thai</key>
      <string>uni0E4F</string>
      <key>four-thai</key>
      <string>uni0E54</string>
      <key>hoHip-thai</key>
      <string>uni0E2B</string>
      <key>hoNokhuk-thai</key>
      <string>uni0E2E</string>
      <key>hyphentwo</key>
      <string>uni2010</string>
      <key>khoKhai-thai</key>
      <string>uni0E02</string>
      <key>khoKhon-thai</key>
      <string>uni0E05</string>
      <key>khoKhuat-thai</key>
      <string>uni0E03</string>
      <key>khoKhwai-thai</key>
      <string>uni0E04</string>
      <key>khoRakhang-thai</key>
      <string>uni0E06</string>
      <key>khomut-thai</key>
      <string>uni0E5B</string>
      <key>koKai-thai</key>
      <string>uni0E01</string>
      <key>lakkhangyao-thai</key>
      <string>uni0E45</string>
      <key>loChula-thai</key>
      <string>uni0E2C</string>
      <key>loChula-thai.short</key>
      <string>uni0E2C.short</string>
      <key>loLing-thai</key>
      <string>uni0E25</string>
      <key>lu-thai</key>
      <string>uni0E26</string>
      <key>lu-thai.short</key>
      <string>uni0E26.short</string>
      <key>lu_lakkhangyao-thai</key>
      <string>uni0E260E45</string>
      <key>macronbelowcomb</key>
      <string>uni0331</string>
      <key>macronbelowcomb.alt</key>
      <string>uni0331.alt</string>
      <key>maiChattawa-thai</key>
      <string>uni0E4B</string>
      <key>maiChattawa-thai.narrow</key>
      <string>uni0E4B.narrow</string>
      <key>maiChattawa-thai.small</key>
      <string>uni0E4B.small</string>
      <key>maiEk-thai</key>
      <string>uni0E48</string>
      <key>maiEk-thai.narrow</key>
      <string>uni0E48.narrow</string>
      <key>maiEk-thai.small</key>
      <string>uni0E48.small</string>
      <key>maiHanaKat-thai</key>
      <string>uni0E31</string>
      <key>maiHanaKat-thai.narrow</key>
      <string>uni0E31.narrow</string>
      <key>maiTho-thai</key>
      <string>uni0E49</string>
      <key>maiTho-thai.narrow</key>
      <string>uni0E49.narrow</string>
      <key>maiTho-thai.small</key>
      <string>uni0E49.small</string>
      <key>maiTri-thai</key>
      <string>uni0E4A</string>
      <key>maiTri-thai.narrow</key>
      <string>uni0E4A.narrow</string>
      <key>maiTri-thai.small</key>
      <string>uni0E4A.small</string>
      <key>maitaikhu-thai</key>
      <string>uni0E47</string>
      <key>maitaikhu-thai.narrow</key>
      <string>uni0E47.narrow</string>
      <key>maiyamok-thai</key>
      <string>uni0E46</string>
      <key>moMa-thai</key>
      <string>uni0E21</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>ngoNgu-thai</key>
      <string>uni0E07</string>
      <key>nikhahit-thai</key>
      <string>uni0E4D</string>
      <key>nikhahit-thai.narrow</key>
      <string>uni0E4D.narrow</string>
      <key>nikhahit_maiChattawa-thai</key>
      <string>nikhahit_maiChattawathai</string>
      <key>nikhahit_maiChattawa-thai.narrow</key>
      <string>nikhahit_maiChattawathai.narrow</string>
      <key>nikhahit_maiEk-thai</key>
      <string>nikhahit_maiEkthai</string>
      <key>nikhahit_maiEk-thai.narrow</key>
      <string>nikhahit_maiEkthai.narrow</string>
      <key>nikhahit_maiTho-thai</key>
      <string>nikhahit_maiThothai</string>
      <key>nikhahit_maiTho-thai.narrow</key>
      <string>nikhahit_maiThothai.narrow</string>
      <key>nikhahit_maiTri-thai</key>
      <string>nikhahit_maiTrithai</string>
      <key>nikhahit_maiTri-thai.narrow</key>
      <string>nikhahit_maiTrithai.narrow</string>
      <key>nine-thai</key>
      <string>uni0E59</string>
      <key>noNen-thai</key>
      <string>uni0E13</string>
      <key>noNu-thai</key>
      <string>uni0E19</string>
      <key>oAng-thai</key>
      <string>uni0E2D</string>
      <key>one-thai</key>
      <string>uni0E51</string>
      <key>paiyannoi-thai</key>
      <string>uni0E2F</string>
      <key>phinthu-thai</key>
      <string>uni0E3A</string>
      <key>phinthu-thai.small</key>
      <string>uni0E3A.small</string>
      <key>phoPhan-thai</key>
      <string>uni0E1E</string>
      <key>phoPhung-thai</key>
      <string>uni0E1C</string>
      <key>phoSamphao-thai</key>
      <string>uni0E20</string>
      <key>poPla-thai</key>
      <string>uni0E1B</string>
      <key>roRua-thai</key>
      <string>uni0E23</string>
      <key>ru-thai</key>
      <string>uni0E24</string>
      <key>ru-thai.short</key>
      <string>uni0E24.short</string>
      <key>ru_lakkhangyao-thai</key>
      <string>uni0E240E45</string>
      <key>saraA-thai</key>
      <string>uni0E30</string>
      <key>saraAa-thai</key>
      <string>uni0E32</string>
      <key>saraAe-thai</key>
      <string>uni0E41</string>
      <key>saraAiMaimalai-thai</key>
      <string>uni0E44</string>
      <key>saraAiMaimuan-thai</key>
      <string>uni0E43</string>
      <key>saraAm-thai</key>
      <string>uni0E33</string>
      <key>saraE-thai</key>
      <string>uni0E40</string>
      <key>saraI-thai</key>
      <string>uni0E34</string>
      <key>saraI-thai.narrow</key>
      <string>uni0E34.narrow</string>
      <key>saraIi-thai</key>
      <string>uni0E35</string>
      <key>saraIi-thai.narrow</key>
      <string>uni0E35.narrow</string>
      <key>saraO-thai</key>
      <string>uni0E42</string>
      <key>saraU-thai</key>
      <string>uni0E38</string>
      <key>saraU-thai.small</key>
      <string>uni0E38.small</string>
      <key>saraUe-thai</key>
      <string>uni0E36</string>
      <key>saraUe-thai.narrow</key>
      <string>uni0E36.narrow</string>
      <key>saraUee-thai</key>
      <string>uni0E37</string>
      <key>saraUee-thai.narrow</key>
      <string>uni0E37.narrow</string>
      <key>saraUu-thai</key>
      <string>uni0E39</string>
      <key>saraUu-thai.small</key>
      <string>uni0E39.small</string>
      <key>seven-thai</key>
      <string>uni0E57</string>
      <key>six-thai</key>
      <string>uni0E56</string>
      <key>soRusi-thai</key>
      <string>uni0E29</string>
      <key>soSala-thai</key>
      <string>uni0E28</string>
      <key>soSo-thai</key>
      <string>uni0E0B</string>
      <key>soSua-thai</key>
      <string>uni0E2A</string>
      <key>thanthakhat-thai</key>
      <string>uni0E4C</string>
      <key>thanthakhat-thai.narrow</key>
      <string>uni0E4C.narrow</string>
      <key>thanthakhat-thai.small</key>
      <string>uni0E4C.small</string>
      <key>thoNangmontho-thai</key>
      <string>uni0E11</string>
      <key>thoPhuthao-thai</key>
      <string>uni0E12</string>
      <key>thoThahan-thai</key>
      <string>uni0E17</string>
      <key>thoThan-thai</key>
      <string>uni0E10</string>
      <key>thoThan-thai.less</key>
      <string>uni0E10.less</string>
      <key>thoThong-thai</key>
      <string>uni0E18</string>
      <key>thoThung-thai</key>
      <string>uni0E16</string>
      <key>three-thai</key>
      <string>uni0E53</string>
      <key>toPatak-thai</key>
      <string>uni0E0F</string>
      <key>toPatak-thai.short</key>
      <string>uni0E0F.short</string>
      <key>toTao-thai</key>
      <string>uni0E15</string>
      <key>two-thai</key>
      <string>uni0E52</string>
      <key>woWaen-thai</key>
      <string>uni0E27</string>
      <key>yamakkan-thai</key>
      <string>uni0E4E</string>
      <key>yoYak-thai</key>
      <string>uni0E22</string>
      <key>yoYing-thai</key>
      <string>uni0E0D</string>
      <key>yoYing-thai.less</key>
      <string>uni0E0D.less</string>
      <key>zero-thai</key>
      <string>uni0E50</string>
    </dict>
  </dict>
</plist>
