<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>X</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>h</string>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>e</string>
      <string>o</string>
      <string>p</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>l</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.hyphen.left</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>afii00208</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.paren.left</key>
    <array>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.period.left</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.quote.left</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>o</string>
      <string>q</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.hyphen.right</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>afii00208</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>u</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketright</string>
    </array>
    <key>public.kern2.period.right</key>
    <array>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.quote.right</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
  </dict>
</plist>
