<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhe-adlam</key>
    <dict>
      <key>ha-adlam</key>
      <integer>-30</integer>
    </dict>
    <key>Ha-adlam</key>
    <dict>
      <key>Ha-adlam</key>
      <integer>-50</integer>
      <key>ha-adlam</key>
      <integer>-50</integer>
    </dict>
    <key>Kaf-adlam</key>
    <dict>
      <key>Ha-adlam</key>
      <integer>-20</integer>
      <key>ha-adlam</key>
      <integer>-30</integer>
    </dict>
    <key>Laam-adlam</key>
    <dict>
      <key>ha-adlam</key>
      <integer>-20</integer>
    </dict>
    <key>Miim-adlam</key>
    <dict>
      <key>ha-adlam</key>
      <integer>-20</integer>
    </dict>
    <key>Qaaf-adlam</key>
    <dict>
      <key>Ha-adlam</key>
      <integer>-20</integer>
    </dict>
    <key>Ya-adlam</key>
    <dict>
      <key>Ha-adlam</key>
      <integer>-20</integer>
      <key>ha-adlam</key>
      <integer>-30</integer>
    </dict>
    <key>Yhe-adlam</key>
    <dict>
      <key>Ba-adlam</key>
      <integer>-30</integer>
      <key>Kha-adlam</key>
      <integer>-40</integer>
      <key>O-adlam</key>
      <integer>-20</integer>
      <key>Ra-adlam</key>
      <integer>-20</integer>
    </dict>
    <key>ha-adlam</key>
    <dict>
      <key>yhe-adlam</key>
      <integer>20</integer>
    </dict>
  </dict>
</plist>
