<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/Alif-adlam/Daali-adlam/Laam-adlam/Miim-adlam/Ba-adlam/Sinnyiiyhe-adlam/Pe-adlam/Bhe-adlam/Ra-adlam/E-adlam/Nya-adlam/Tu-adlam/Nha-adlam/Va-adlam/Kha-adlam/Gbe-adlam/Zal-adlam/Kpo-adlam/Sha-adlam/alif-adlam/daali-adlam/laam-adlam/miim-adlam/ba-adlam/sinnyiiyhe-adlam/pe-adlam/bhe-adlam/ra-adlam/e-adlam/nya-adlam/tu-adlam/nha-adlam/va-adlam/kha-adlam/gbe-adlam/zal-adlam/kpo-adlam/sha-adlam/daali-adlam.medi</string>
      <string>/aliflengthencomb-adlam.case</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.openTypeOS2Selection</key>
    <array>
      <integer>8</integer>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>A</string>
      <string>Alif-adlam</string>
      <string>B</string>
      <string>Ba-adlam</string>
      <string>Bhe-adlam</string>
      <string>C</string>
      <string>CR</string>
      <string>Chi-adlam</string>
      <string>D</string>
      <string>Daali-adlam</string>
      <string>Dha-adlam</string>
      <string>E</string>
      <string>E-adlam</string>
      <string>F</string>
      <string>Fa-adlam</string>
      <string>G</string>
      <string>Ga-adlam</string>
      <string>Gbe-adlam</string>
      <string>H</string>
      <string>Ha-adlam</string>
      <string>I</string>
      <string>I-adlam</string>
      <string>J</string>
      <string>Jiim-adlam</string>
      <string>K</string>
      <string>Kaf-adlam</string>
      <string>Kha-adlam</string>
      <string>Kpo-adlam</string>
      <string>L</string>
      <string>Laam-adlam</string>
      <string>M</string>
      <string>Miim-adlam</string>
      <string>N</string>
      <string>NULL</string>
      <string>Nha-adlam</string>
      <string>Nun-adlam</string>
      <string>Nya-adlam</string>
      <string>O</string>
      <string>O-adlam</string>
      <string>P</string>
      <string>Pe-adlam</string>
      <string>Q</string>
      <string>Qaaf-adlam</string>
      <string>R</string>
      <string>Ra-adlam</string>
      <string>S</string>
      <string>Sha-adlam</string>
      <string>Sinnyiiyhe-adlam</string>
      <string>T</string>
      <string>Tu-adlam</string>
      <string>U</string>
      <string>U-adlam</string>
      <string>V</string>
      <string>Va-adlam</string>
      <string>W</string>
      <string>Waw-adlam</string>
      <string>X</string>
      <string>Y</string>
      <string>Ya-adlam</string>
      <string>Yhe-adlam</string>
      <string>Z</string>
      <string>Zal-adlam</string>
      <string>a</string>
      <string>afii00208</string>
      <string>alif-adlam</string>
      <string>aliflengthencomb-adlam</string>
      <string>aliflengthencomb-adlam.case</string>
      <string>ampersand</string>
      <string>apostrophe-adlam</string>
      <string>asciicircum</string>
      <string>asterisk</string>
      <string>at</string>
      <string>b</string>
      <string>ba-adlam</string>
      <string>backslash</string>
      <string>bar</string>
      <string>bhe-adlam</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>bullet</string>
      <string>c</string>
      <string>chi-adlam</string>
      <string>colon</string>
      <string>comma</string>
      <string>commareversed</string>
      <string>consonantmodcomb-adlam</string>
      <string>d</string>
      <string>daali-adlam</string>
      <string>daali-adlam.medi</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>dha-adlam</string>
      <string>dollar</string>
      <string>dottedCircle</string>
      <string>e</string>
      <string>e-adlam</string>
      <string>eight</string>
      <string>eight-adlam</string>
      <string>ellipsis</string>
      <string>emdash</string>
      <string>endash</string>
      <string>equal</string>
      <string>exclam</string>
      <string>exclam-adlam</string>
      <string>f</string>
      <string>fa-adlam</string>
      <string>five</string>
      <string>five-adlam</string>
      <string>four</string>
      <string>four-adlam</string>
      <string>fraction</string>
      <string>g</string>
      <string>ga-adlam</string>
      <string>gbe-adlam</string>
      <string>gemconsonantmodcomb-adlam</string>
      <string>gemination-adlam</string>
      <string>gemination-adlam.case</string>
      <string>grave</string>
      <string>greater</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>h</string>
      <string>ha-adlam</string>
      <string>hamza-adlam</string>
      <string>hoortobbhere-adlam</string>
      <string>hoortobbhere-adlam.below</string>
      <string>hyphen</string>
      <string>i</string>
      <string>i-adlam</string>
      <string>j</string>
      <string>jiim-adlam</string>
      <string>k</string>
      <string>kaf-adlam</string>
      <string>kashida-ar</string>
      <string>kha-adlam</string>
      <string>kpo-adlam</string>
      <string>l</string>
      <string>laam-adlam</string>
      <string>leftDoubleParen</string>
      <string>less</string>
      <string>m</string>
      <string>miim-adlam</string>
      <string>n</string>
      <string>nbspace</string>
      <string>nha-adlam</string>
      <string>nine</string>
      <string>nine-adlam</string>
      <string>numbersign</string>
      <string>nun-adlam</string>
      <string>nya-adlam</string>
      <string>o</string>
      <string>o-adlam</string>
      <string>one</string>
      <string>one-adlam</string>
      <string>p</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>pe-adlam</string>
      <string>percent</string>
      <string>period</string>
      <string>perthousand</string>
      <string>plus</string>
      <string>q</string>
      <string>qaaf-adlam</string>
      <string>question</string>
      <string>question-adlam</string>
      <string>question-ar</string>
      <string>quotedbl</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotereversed</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotesingle</string>
      <string>r</string>
      <string>ra-adlam</string>
      <string>reversedsemicolon</string>
      <string>rightDoubleParen</string>
      <string>s</string>
      <string>semicolon</string>
      <string>seven</string>
      <string>seven-adlam</string>
      <string>sha-adlam</string>
      <string>sinnyiiyhe-adlam</string>
      <string>six</string>
      <string>six-adlam</string>
      <string>slash</string>
      <string>space</string>
      <string>t</string>
      <string>three</string>
      <string>three-adlam</string>
      <string>tu-adlam</string>
      <string>two</string>
      <string>two-adlam</string>
      <string>u</string>
      <string>u-adlam</string>
      <string>underscore</string>
      <string>v</string>
      <string>va-adlam</string>
      <string>vowellengthencomb-adlam</string>
      <string>vowellengthencomb-adlam.case</string>
      <string>w</string>
      <string>waw-adlam</string>
      <string>x</string>
      <string>y</string>
      <string>ya-adlam</string>
      <string>yhe-adlam</string>
      <string>z</string>
      <string>zal-adlam</string>
      <string>zero</string>
      <string>zero-adlam</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Alif-adlam</key>
      <string>u1E900</string>
      <key>Ba-adlam</key>
      <string>u1E904</string>
      <key>Bhe-adlam</key>
      <string>u1E907</string>
      <key>Chi-adlam</key>
      <string>u1E915</string>
      <key>Daali-adlam</key>
      <string>u1E901</string>
      <key>Dha-adlam</key>
      <string>u1E90D</string>
      <key>E-adlam</key>
      <string>u1E909</string>
      <key>Fa-adlam</key>
      <string>u1E90A</string>
      <key>Ga-adlam</key>
      <string>u1E918</string>
      <key>Gbe-adlam</key>
      <string>u1E91E</string>
      <key>Ha-adlam</key>
      <string>u1E916</string>
      <key>I-adlam</key>
      <string>u1E90B</string>
      <key>Jiim-adlam</key>
      <string>u1E914</string>
      <key>Kaf-adlam</key>
      <string>u1E911</string>
      <key>Kha-adlam</key>
      <string>u1E91D</string>
      <key>Kpo-adlam</key>
      <string>u1E920</string>
      <key>Laam-adlam</key>
      <string>u1E902</string>
      <key>Miim-adlam</key>
      <string>u1E903</string>
      <key>Nha-adlam</key>
      <string>u1E91B</string>
      <key>Nun-adlam</key>
      <string>u1E910</string>
      <key>Nya-adlam</key>
      <string>u1E919</string>
      <key>O-adlam</key>
      <string>u1E90C</string>
      <key>Pe-adlam</key>
      <string>u1E906</string>
      <key>Qaaf-adlam</key>
      <string>u1E917</string>
      <key>Ra-adlam</key>
      <string>u1E908</string>
      <key>Sha-adlam</key>
      <string>u1E921</string>
      <key>Sinnyiiyhe-adlam</key>
      <string>u1E905</string>
      <key>Tu-adlam</key>
      <string>u1E91A</string>
      <key>U-adlam</key>
      <string>u1E913</string>
      <key>Va-adlam</key>
      <string>u1E91C</string>
      <key>Waw-adlam</key>
      <string>u1E90F</string>
      <key>Ya-adlam</key>
      <string>u1E912</string>
      <key>Yhe-adlam</key>
      <string>u1E90E</string>
      <key>Zal-adlam</key>
      <string>u1E91F</string>
      <key>afii00208</key>
      <string>uni2015</string>
      <key>alif-adlam</key>
      <string>u1E922</string>
      <key>aliflengthencomb-adlam</key>
      <string>u1E944</string>
      <key>aliflengthencomb-adlam.case</key>
      <string>u1E944.case</string>
      <key>apostrophe-adlam</key>
      <string>apostropheadlam</string>
      <key>ba-adlam</key>
      <string>u1E926</string>
      <key>bhe-adlam</key>
      <string>u1E929</string>
      <key>chi-adlam</key>
      <string>u1E937</string>
      <key>commareversed</key>
      <string>uni2E41</string>
      <key>consonantmodcomb-adlam</key>
      <string>u1E948</string>
      <key>daali-adlam</key>
      <string>u1E923</string>
      <key>daali-adlam.medi</key>
      <string>u1E923.medi</string>
      <key>dha-adlam</key>
      <string>u1E92F</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>e-adlam</key>
      <string>u1E92B</string>
      <key>eight-adlam</key>
      <string>u1E958</string>
      <key>exclam-adlam</key>
      <string>u1E95E</string>
      <key>fa-adlam</key>
      <string>u1E92C</string>
      <key>five-adlam</key>
      <string>u1E955</string>
      <key>four-adlam</key>
      <string>u1E954</string>
      <key>ga-adlam</key>
      <string>u1E93A</string>
      <key>gbe-adlam</key>
      <string>u1E940</string>
      <key>gemconsonantmodcomb-adlam</key>
      <string>u1E949</string>
      <key>gemination-adlam</key>
      <string>u1E946</string>
      <key>gemination-adlam.case</key>
      <string>u1E946.case</string>
      <key>ha-adlam</key>
      <string>u1E938</string>
      <key>hamza-adlam</key>
      <string>u1E947</string>
      <key>hoortobbhere-adlam</key>
      <string>u1E94A</string>
      <key>hoortobbhere-adlam.below</key>
      <string>u1E94A.below</string>
      <key>i-adlam</key>
      <string>u1E92D</string>
      <key>jiim-adlam</key>
      <string>u1E936</string>
      <key>kaf-adlam</key>
      <string>u1E933</string>
      <key>kashida-ar</key>
      <string>uni0640</string>
      <key>kha-adlam</key>
      <string>u1E93F</string>
      <key>kpo-adlam</key>
      <string>u1E942</string>
      <key>laam-adlam</key>
      <string>u1E924</string>
      <key>leftDoubleParen</key>
      <string>uni2E28</string>
      <key>miim-adlam</key>
      <string>u1E925</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nha-adlam</key>
      <string>u1E93D</string>
      <key>nine-adlam</key>
      <string>u1E959</string>
      <key>nun-adlam</key>
      <string>u1E932</string>
      <key>nya-adlam</key>
      <string>u1E93B</string>
      <key>o-adlam</key>
      <string>u1E92E</string>
      <key>one-adlam</key>
      <string>u1E951</string>
      <key>pe-adlam</key>
      <string>u1E928</string>
      <key>qaaf-adlam</key>
      <string>u1E939</string>
      <key>question-adlam</key>
      <string>u1E95F</string>
      <key>question-ar</key>
      <string>uni061F</string>
      <key>ra-adlam</key>
      <string>u1E92A</string>
      <key>reversedsemicolon</key>
      <string>uni204F</string>
      <key>rightDoubleParen</key>
      <string>uni2E29</string>
      <key>seven-adlam</key>
      <string>u1E957</string>
      <key>sha-adlam</key>
      <string>u1E943</string>
      <key>sinnyiiyhe-adlam</key>
      <string>u1E927</string>
      <key>six-adlam</key>
      <string>u1E956</string>
      <key>three-adlam</key>
      <string>u1E953</string>
      <key>tu-adlam</key>
      <string>u1E93C</string>
      <key>two-adlam</key>
      <string>u1E952</string>
      <key>u-adlam</key>
      <string>u1E935</string>
      <key>va-adlam</key>
      <string>u1E93E</string>
      <key>vowellengthencomb-adlam</key>
      <string>u1E945</string>
      <key>vowellengthencomb-adlam.case</key>
      <string>u1E945.case</string>
      <key>waw-adlam</key>
      <string>u1E931</string>
      <key>ya-adlam</key>
      <string>u1E934</string>
      <key>yhe-adlam</key>
      <string>u1E930</string>
      <key>zal-adlam</key>
      <string>u1E941</string>
      <key>zero-adlam</key>
      <string>u1E950</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>grave</string>
    </array>
  </dict>
</plist>
