<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fwee-ethiopic.gur</key>
	<string>fwee-ethiopic.gur.glif</string>
	<key>fwi-ethiopic.gur</key>
	<string>fwi-ethiopic.gur.glif</string>
	<key>gwe-ethiopic.gur</key>
	<string>gwe-ethiopic.gur.glif</string>
	<key>gwee-ethiopic.gur</key>
	<string>gwee-ethiopic.gur.glif</string>
	<key>gwi-ethiopic.gur</key>
	<string>gwi-ethiopic.gur.glif</string>
	<key>hhwa-ethiopic.gur</key>
	<string>hhwa-ethiopic.gur.glif</string>
	<key>kwe-ethiopic.gur</key>
	<string>kwe-ethiopic.gur.glif</string>
	<key>kwee-ethiopic.gur</key>
	<string>kwee-ethiopic.gur.glif</string>
	<key>kwi-ethiopic.gur</key>
	<string>kwi-ethiopic.gur.glif</string>
	<key>pwi-ethiopic.gur</key>
	<string>pwi-ethiopic.gur.glif</string>
	<key>qwe-ethiopic.gur</key>
	<string>qwe-ethiopic.gur.glif</string>
	<key>qwee-ethiopic.gur</key>
	<string>qwee-ethiopic.gur.glif</string>
	<key>qwi-ethiopic.gur</key>
	<string>qwi-ethiopic.gur.glif</string>
</dict>
</plist>
