<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>iMatra-beng</key>
    <dict>
      <key>kha-beng</key>
      <real>-22.727272727272727</real>
    </dict>
    <key>iMatra-beng.wide3</key>
    <dict>
      <key>l_tt_ra-beng</key>
      <integer>-15</integer>
      <key>l_tta-beng</key>
      <integer>-15</integer>
      <key>p_tta-beng</key>
      <real>-45.45454545454545</real>
    </dict>
    <key>public.kern1.bnmE</key>
    <dict>
      <key>c_ba-beng</key>
      <integer>20</integer>
      <key>j_ny_ba-beng</key>
      <real>-26.81818181818182</real>
      <key>m_b_ra-beng</key>
      <real>5.454545454545455</real>
      <key>m_la-beng</key>
      <real>-9.09090909090909</real>
      <key>n_d_ba-beng</key>
      <real>-57.72727272727273</real>
      <key>ng_k_ra-beng</key>
      <real>14.545454545454545</real>
      <key>ng_ka-beng</key>
      <real>-11.363636363636363</real>
      <key>p_ba-beng</key>
      <real>-44.09090909090909</real>
      <key>p_la-beng</key>
      <real>-6.818181818181818</real>
      <key>p_ma-beng</key>
      <real>-44.09090909090909</real>
      <key>p_na-beng</key>
      <real>-29.545454545454547</real>
      <key>p_sa-beng</key>
      <real>-44.09090909090909</real>
      <key>p_tta_auLength-beng</key>
      <real>-44.09090909090909</real>
      <key>p_tta_iiMatra-beng</key>
      <real>-44.09090909090909</real>
      <key>public.kern2.above_N</key>
      <real>-44.09090909090909</real>
      <key>public.kern2.b_ra</key>
      <real>14.545454545454545</real>
      <key>public.kern2.bnBA</key>
      <real>-21.81818181818182</real>
      <key>public.kern2.lower_LA</key>
      <integer>20</integer>
      <key>public.kern2.upper_SA</key>
      <real>-41.81818181818182</real>
      <key>public.kern2.upper_SHA</key>
      <real>-41.81818181818182</real>
      <key>public.kern2.upper_ttha</key>
      <real>-37.27272727272727</real>
      <key>ss_ba-beng</key>
      <real>-24.545454545454547</real>
      <key>ss_ka-beng</key>
      <integer>-30</integer>
      <key>ss_ra-beng</key>
      <real>4.545454545454545</real>
      <key>ss_tt_ra-beng</key>
      <real>10.90909090909091</real>
      <key>t_t_ba-beng</key>
      <real>-16.363636363636363</real>
      <key>tt_ba-beng</key>
      <integer>20</integer>
      <key>y_ra-beng</key>
      <real>4.545454545454545</real>
    </dict>
  </dict>
</plist>
