<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10450</key>
    <string>u10450.glif</string>
    <key>u10451</key>
    <string>u10451.glif</string>
    <key>u10452</key>
    <string>u10452.glif</string>
    <key>u10453</key>
    <string>u10453.glif</string>
    <key>u10454</key>
    <string>u10454.glif</string>
    <key>u10455</key>
    <string>u10455.glif</string>
    <key>u10456</key>
    <string>u10456.glif</string>
    <key>u10457</key>
    <string>u10457.glif</string>
    <key>u10458</key>
    <string>u10458.glif</string>
    <key>u10459</key>
    <string>u10459.glif</string>
    <key>u1045A</key>
    <string>u1045A_.glif</string>
    <key>u1045B</key>
    <string>u1045B_.glif</string>
    <key>u1045C</key>
    <string>u1045C_.glif</string>
    <key>u1045D</key>
    <string>u1045D_.glif</string>
    <key>u1045E</key>
    <string>u1045E_.glif</string>
    <key>u1045F</key>
    <string>u1045F_.glif</string>
    <key>u10460</key>
    <string>u10460.glif</string>
    <key>u10461</key>
    <string>u10461.glif</string>
    <key>u10462</key>
    <string>u10462.glif</string>
    <key>u10463</key>
    <string>u10463.glif</string>
    <key>u10464</key>
    <string>u10464.glif</string>
    <key>u10465</key>
    <string>u10465.glif</string>
    <key>u10466</key>
    <string>u10466.glif</string>
    <key>u10467</key>
    <string>u10467.glif</string>
    <key>u10468</key>
    <string>u10468.glif</string>
    <key>u10469</key>
    <string>u10469.glif</string>
    <key>u1046A</key>
    <string>u1046A_.glif</string>
    <key>u1046B</key>
    <string>u1046B_.glif</string>
    <key>u1046C</key>
    <string>u1046C_.glif</string>
    <key>u1046D</key>
    <string>u1046D_.glif</string>
    <key>u1046E</key>
    <string>u1046E_.glif</string>
    <key>u1046F</key>
    <string>u1046F_.glif</string>
    <key>u10470</key>
    <string>u10470.glif</string>
    <key>u10471</key>
    <string>u10471.glif</string>
    <key>u10472</key>
    <string>u10472.glif</string>
    <key>u10473</key>
    <string>u10473.glif</string>
    <key>u10474</key>
    <string>u10474.glif</string>
    <key>u10475</key>
    <string>u10475.glif</string>
    <key>u10476</key>
    <string>u10476.glif</string>
    <key>u10477</key>
    <string>u10477.glif</string>
    <key>u10478</key>
    <string>u10478.glif</string>
    <key>u10479</key>
    <string>u10479.glif</string>
    <key>u1047A</key>
    <string>u1047A_.glif</string>
    <key>u1047B</key>
    <string>u1047B_.glif</string>
    <key>u1047C</key>
    <string>u1047C_.glif</string>
    <key>u1047D</key>
    <string>u1047D_.glif</string>
    <key>u1047E</key>
    <string>u1047E_.glif</string>
    <key>u1047F</key>
    <string>u1047F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
