<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>dieresisbelowcomb</key>
    <string>dieresisbelowcomb.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>tildebelowcomb</key>
    <string>tildebelowcomb.glif</string>
    <key>uni13A0</key>
    <string>uni13A_0.glif</string>
    <key>uni13A0.alt</key>
    <string>uni13A_0.alt.glif</string>
    <key>uni13A1</key>
    <string>uni13A_1.glif</string>
    <key>uni13A1.alt</key>
    <string>uni13A_1.alt.glif</string>
    <key>uni13A2</key>
    <string>uni13A_2.glif</string>
    <key>uni13A2.alt</key>
    <string>uni13A_2.alt.glif</string>
    <key>uni13A3</key>
    <string>uni13A_3.glif</string>
    <key>uni13A3.alt</key>
    <string>uni13A_3.alt.glif</string>
    <key>uni13A4</key>
    <string>uni13A_4.glif</string>
    <key>uni13A4.alt</key>
    <string>uni13A_4.alt.glif</string>
    <key>uni13A5</key>
    <string>uni13A_5.glif</string>
    <key>uni13A5.alt</key>
    <string>uni13A_5.alt.glif</string>
    <key>uni13A6</key>
    <string>uni13A_6.glif</string>
    <key>uni13A6.alt</key>
    <string>uni13A_6.alt.glif</string>
    <key>uni13A7</key>
    <string>uni13A_7.glif</string>
    <key>uni13A7.alt</key>
    <string>uni13A_7.alt.glif</string>
    <key>uni13A8</key>
    <string>uni13A_8.glif</string>
    <key>uni13A8.alt</key>
    <string>uni13A_8.alt.glif</string>
    <key>uni13A9</key>
    <string>uni13A_9.glif</string>
    <key>uni13A9.alt</key>
    <string>uni13A_9.alt.glif</string>
    <key>uni13AA</key>
    <string>uni13A_A_.glif</string>
    <key>uni13AA.alt</key>
    <string>uni13A_A_.alt.glif</string>
    <key>uni13AB</key>
    <string>uni13A_B_.glif</string>
    <key>uni13AB.alt</key>
    <string>uni13A_B_.alt.glif</string>
    <key>uni13AC</key>
    <string>uni13A_C_.glif</string>
    <key>uni13AC.alt</key>
    <string>uni13A_C_.alt.glif</string>
    <key>uni13AD</key>
    <string>uni13A_D_.glif</string>
    <key>uni13AD.alt</key>
    <string>uni13A_D_.alt.glif</string>
    <key>uni13AE</key>
    <string>uni13A_E_.glif</string>
    <key>uni13AE.alt</key>
    <string>uni13A_E_.alt.glif</string>
    <key>uni13AF</key>
    <string>uni13A_F_.glif</string>
    <key>uni13AF.alt</key>
    <string>uni13A_F_.alt.glif</string>
    <key>uni13B0</key>
    <string>uni13B_0.glif</string>
    <key>uni13B0.alt</key>
    <string>uni13B_0.alt.glif</string>
    <key>uni13B1</key>
    <string>uni13B_1.glif</string>
    <key>uni13B1.alt</key>
    <string>uni13B_1.alt.glif</string>
    <key>uni13B2</key>
    <string>uni13B_2.glif</string>
    <key>uni13B2.alt</key>
    <string>uni13B_2.alt.glif</string>
    <key>uni13B3</key>
    <string>uni13B_3.glif</string>
    <key>uni13B3.alt</key>
    <string>uni13B_3.alt.glif</string>
    <key>uni13B4</key>
    <string>uni13B_4.glif</string>
    <key>uni13B4.alt</key>
    <string>uni13B_4.alt.glif</string>
    <key>uni13B5</key>
    <string>uni13B_5.glif</string>
    <key>uni13B5.alt</key>
    <string>uni13B_5.alt.glif</string>
    <key>uni13B6</key>
    <string>uni13B_6.glif</string>
    <key>uni13B6.alt</key>
    <string>uni13B_6.alt.glif</string>
    <key>uni13B7</key>
    <string>uni13B_7.glif</string>
    <key>uni13B7.alt</key>
    <string>uni13B_7.alt.glif</string>
    <key>uni13B8</key>
    <string>uni13B_8.glif</string>
    <key>uni13B8.alt</key>
    <string>uni13B_8.alt.glif</string>
    <key>uni13B9</key>
    <string>uni13B_9.glif</string>
    <key>uni13B9.alt</key>
    <string>uni13B_9.alt.glif</string>
    <key>uni13BA</key>
    <string>uni13B_A_.glif</string>
    <key>uni13BA.alt</key>
    <string>uni13B_A_.alt.glif</string>
    <key>uni13BB</key>
    <string>uni13B_B_.glif</string>
    <key>uni13BB.alt</key>
    <string>uni13B_B_.alt.glif</string>
    <key>uni13BC</key>
    <string>uni13B_C_.glif</string>
    <key>uni13BC.alt</key>
    <string>uni13B_C_.alt.glif</string>
    <key>uni13BD</key>
    <string>uni13B_D_.glif</string>
    <key>uni13BD.alt</key>
    <string>uni13B_D_.alt.glif</string>
    <key>uni13BE</key>
    <string>uni13B_E_.glif</string>
    <key>uni13BE.alt</key>
    <string>uni13B_E_.alt.glif</string>
    <key>uni13BF</key>
    <string>uni13B_F_.glif</string>
    <key>uni13BF.alt</key>
    <string>uni13B_F_.alt.glif</string>
    <key>uni13C0</key>
    <string>uni13C_0.glif</string>
    <key>uni13C0.alt</key>
    <string>uni13C_0.alt.glif</string>
    <key>uni13C1</key>
    <string>uni13C_1.glif</string>
    <key>uni13C1.alt</key>
    <string>uni13C_1.alt.glif</string>
    <key>uni13C2</key>
    <string>uni13C_2.glif</string>
    <key>uni13C2.alt</key>
    <string>uni13C_2.alt.glif</string>
    <key>uni13C3</key>
    <string>uni13C_3.glif</string>
    <key>uni13C3.alt</key>
    <string>uni13C_3.alt.glif</string>
    <key>uni13C4</key>
    <string>uni13C_4.glif</string>
    <key>uni13C4.alt</key>
    <string>uni13C_4.alt.glif</string>
    <key>uni13C5</key>
    <string>uni13C_5.glif</string>
    <key>uni13C5.alt</key>
    <string>uni13C_5.alt.glif</string>
    <key>uni13C6</key>
    <string>uni13C_6.glif</string>
    <key>uni13C6.alt</key>
    <string>uni13C_6.alt.glif</string>
    <key>uni13C7</key>
    <string>uni13C_7.glif</string>
    <key>uni13C7.alt</key>
    <string>uni13C_7.alt.glif</string>
    <key>uni13C8</key>
    <string>uni13C_8.glif</string>
    <key>uni13C8.alt</key>
    <string>uni13C_8.alt.glif</string>
    <key>uni13C9</key>
    <string>uni13C_9.glif</string>
    <key>uni13C9.alt</key>
    <string>uni13C_9.alt.glif</string>
    <key>uni13CA</key>
    <string>uni13C_A_.glif</string>
    <key>uni13CA.alt</key>
    <string>uni13C_A_.alt.glif</string>
    <key>uni13CB</key>
    <string>uni13C_B_.glif</string>
    <key>uni13CB.alt</key>
    <string>uni13C_B_.alt.glif</string>
    <key>uni13CC</key>
    <string>uni13C_C_.glif</string>
    <key>uni13CC.alt</key>
    <string>uni13C_C_.alt.glif</string>
    <key>uni13CD</key>
    <string>uni13C_D_.glif</string>
    <key>uni13CD.alt</key>
    <string>uni13C_D_.alt.glif</string>
    <key>uni13CE</key>
    <string>uni13C_E_.glif</string>
    <key>uni13CE.alt</key>
    <string>uni13C_E_.alt.glif</string>
    <key>uni13CF</key>
    <string>uni13C_F_.glif</string>
    <key>uni13CF.alt</key>
    <string>uni13C_F_.alt.glif</string>
    <key>uni13D0</key>
    <string>uni13D_0.glif</string>
    <key>uni13D0.alt</key>
    <string>uni13D_0.alt.glif</string>
    <key>uni13D1</key>
    <string>uni13D_1.glif</string>
    <key>uni13D1.alt</key>
    <string>uni13D_1.alt.glif</string>
    <key>uni13D2</key>
    <string>uni13D_2.glif</string>
    <key>uni13D2.alt</key>
    <string>uni13D_2.alt.glif</string>
    <key>uni13D3</key>
    <string>uni13D_3.glif</string>
    <key>uni13D3.alt</key>
    <string>uni13D_3.alt.glif</string>
    <key>uni13D4</key>
    <string>uni13D_4.glif</string>
    <key>uni13D4.alt</key>
    <string>uni13D_4.alt.glif</string>
    <key>uni13D5</key>
    <string>uni13D_5.glif</string>
    <key>uni13D5.alt</key>
    <string>uni13D_5.alt.glif</string>
    <key>uni13D6</key>
    <string>uni13D_6.glif</string>
    <key>uni13D6.alt</key>
    <string>uni13D_6.alt.glif</string>
    <key>uni13D7</key>
    <string>uni13D_7.glif</string>
    <key>uni13D7.alt</key>
    <string>uni13D_7.alt.glif</string>
    <key>uni13D8</key>
    <string>uni13D_8.glif</string>
    <key>uni13D8.alt</key>
    <string>uni13D_8.alt.glif</string>
    <key>uni13D9</key>
    <string>uni13D_9.glif</string>
    <key>uni13D9.alt</key>
    <string>uni13D_9.alt.glif</string>
    <key>uni13DA</key>
    <string>uni13D_A_.glif</string>
    <key>uni13DA.alt</key>
    <string>uni13D_A_.alt.glif</string>
    <key>uni13DB</key>
    <string>uni13D_B_.glif</string>
    <key>uni13DB.alt</key>
    <string>uni13D_B_.alt.glif</string>
    <key>uni13DC</key>
    <string>uni13D_C_.glif</string>
    <key>uni13DC.alt</key>
    <string>uni13D_C_.alt.glif</string>
    <key>uni13DD</key>
    <string>uni13D_D_.glif</string>
    <key>uni13DD.alt</key>
    <string>uni13D_D_.alt.glif</string>
    <key>uni13DE</key>
    <string>uni13D_E_.glif</string>
    <key>uni13DE.alt</key>
    <string>uni13D_E_.alt.glif</string>
    <key>uni13DF</key>
    <string>uni13D_F_.glif</string>
    <key>uni13DF.alt</key>
    <string>uni13D_F_.alt.glif</string>
    <key>uni13E0</key>
    <string>uni13E_0.glif</string>
    <key>uni13E0.alt</key>
    <string>uni13E_0.alt.glif</string>
    <key>uni13E1</key>
    <string>uni13E_1.glif</string>
    <key>uni13E1.alt</key>
    <string>uni13E_1.alt.glif</string>
    <key>uni13E2</key>
    <string>uni13E_2.glif</string>
    <key>uni13E2.alt</key>
    <string>uni13E_2.alt.glif</string>
    <key>uni13E3</key>
    <string>uni13E_3.glif</string>
    <key>uni13E3.alt</key>
    <string>uni13E_3.alt.glif</string>
    <key>uni13E4</key>
    <string>uni13E_4.glif</string>
    <key>uni13E4.alt</key>
    <string>uni13E_4.alt.glif</string>
    <key>uni13E5</key>
    <string>uni13E_5.glif</string>
    <key>uni13E5.alt</key>
    <string>uni13E_5.alt.glif</string>
    <key>uni13E6</key>
    <string>uni13E_6.glif</string>
    <key>uni13E6.alt</key>
    <string>uni13E_6.alt.glif</string>
    <key>uni13E7</key>
    <string>uni13E_7.glif</string>
    <key>uni13E7.alt</key>
    <string>uni13E_7.alt.glif</string>
    <key>uni13E8</key>
    <string>uni13E_8.glif</string>
    <key>uni13E8.alt</key>
    <string>uni13E_8.alt.glif</string>
    <key>uni13E9</key>
    <string>uni13E_9.glif</string>
    <key>uni13E9.alt</key>
    <string>uni13E_9.alt.glif</string>
    <key>uni13EA</key>
    <string>uni13E_A_.glif</string>
    <key>uni13EA.alt</key>
    <string>uni13E_A_.alt.glif</string>
    <key>uni13EB</key>
    <string>uni13E_B_.glif</string>
    <key>uni13EB.alt</key>
    <string>uni13E_B_.alt.glif</string>
    <key>uni13EC</key>
    <string>uni13E_C_.glif</string>
    <key>uni13EC.alt</key>
    <string>uni13E_C_.alt.glif</string>
    <key>uni13ED</key>
    <string>uni13E_D_.glif</string>
    <key>uni13ED.alt</key>
    <string>uni13E_D_.alt.glif</string>
    <key>uni13EE</key>
    <string>uni13E_E_.glif</string>
    <key>uni13EE.alt</key>
    <string>uni13E_E_.alt.glif</string>
    <key>uni13EF</key>
    <string>uni13E_F_.glif</string>
    <key>uni13EF.alt</key>
    <string>uni13E_F_.alt.glif</string>
    <key>uni13F0</key>
    <string>uni13F_0.glif</string>
    <key>uni13F0.alt</key>
    <string>uni13F_0.alt.glif</string>
    <key>uni13F1</key>
    <string>uni13F_1.glif</string>
    <key>uni13F1.alt</key>
    <string>uni13F_1.alt.glif</string>
    <key>uni13F2</key>
    <string>uni13F_2.glif</string>
    <key>uni13F2.alt</key>
    <string>uni13F_2.alt.glif</string>
    <key>uni13F3</key>
    <string>uni13F_3.glif</string>
    <key>uni13F3.alt</key>
    <string>uni13F_3.alt.glif</string>
    <key>uni13F4</key>
    <string>uni13F_4.glif</string>
    <key>uni13F4.alt</key>
    <string>uni13F_4.alt.glif</string>
    <key>uni13F5</key>
    <string>uni13F_5.glif</string>
    <key>uni13F5.alt</key>
    <string>uni13F_5.alt.glif</string>
    <key>uni13F8</key>
    <string>uni13F_8.glif</string>
    <key>uni13F9</key>
    <string>uni13F_9.glif</string>
    <key>uni13FA</key>
    <string>uni13F_A_.glif</string>
    <key>uni13FB</key>
    <string>uni13F_B_.glif</string>
    <key>uni13FC</key>
    <string>uni13F_C_.glif</string>
    <key>uni13FD</key>
    <string>uni13F_D_.glif</string>
    <key>uniAB70</key>
    <string>uniA_B_70.glif</string>
    <key>uniAB71</key>
    <string>uniA_B_71.glif</string>
    <key>uniAB72</key>
    <string>uniA_B_72.glif</string>
    <key>uniAB73</key>
    <string>uniA_B_73.glif</string>
    <key>uniAB74</key>
    <string>uniA_B_74.glif</string>
    <key>uniAB75</key>
    <string>uniA_B_75.glif</string>
    <key>uniAB76</key>
    <string>uniA_B_76.glif</string>
    <key>uniAB77</key>
    <string>uniA_B_77.glif</string>
    <key>uniAB78</key>
    <string>uniA_B_78.glif</string>
    <key>uniAB79</key>
    <string>uniA_B_79.glif</string>
    <key>uniAB7A</key>
    <string>uniA_B_7A_.glif</string>
    <key>uniAB7B</key>
    <string>uniA_B_7B_.glif</string>
    <key>uniAB7C</key>
    <string>uniA_B_7C_.glif</string>
    <key>uniAB7D</key>
    <string>uniA_B_7D_.glif</string>
    <key>uniAB7E</key>
    <string>uniA_B_7E_.glif</string>
    <key>uniAB7F</key>
    <string>uniA_B_7F_.glif</string>
    <key>uniAB80</key>
    <string>uniA_B_80.glif</string>
    <key>uniAB81</key>
    <string>uniA_B_81.glif</string>
    <key>uniAB82</key>
    <string>uniA_B_82.glif</string>
    <key>uniAB83</key>
    <string>uniA_B_83.glif</string>
    <key>uniAB84</key>
    <string>uniA_B_84.glif</string>
    <key>uniAB85</key>
    <string>uniA_B_85.glif</string>
    <key>uniAB86</key>
    <string>uniA_B_86.glif</string>
    <key>uniAB87</key>
    <string>uniA_B_87.glif</string>
    <key>uniAB88</key>
    <string>uniA_B_88.glif</string>
    <key>uniAB89</key>
    <string>uniA_B_89.glif</string>
    <key>uniAB8A</key>
    <string>uniA_B_8A_.glif</string>
    <key>uniAB8B</key>
    <string>uniA_B_8B_.glif</string>
    <key>uniAB8C</key>
    <string>uniA_B_8C_.glif</string>
    <key>uniAB8D</key>
    <string>uniA_B_8D_.glif</string>
    <key>uniAB8E</key>
    <string>uniA_B_8E_.glif</string>
    <key>uniAB8F</key>
    <string>uniA_B_8F_.glif</string>
    <key>uniAB90</key>
    <string>uniA_B_90.glif</string>
    <key>uniAB91</key>
    <string>uniA_B_91.glif</string>
    <key>uniAB92</key>
    <string>uniA_B_92.glif</string>
    <key>uniAB93</key>
    <string>uniA_B_93.glif</string>
    <key>uniAB94</key>
    <string>uniA_B_94.glif</string>
    <key>uniAB95</key>
    <string>uniA_B_95.glif</string>
    <key>uniAB96</key>
    <string>uniA_B_96.glif</string>
    <key>uniAB97</key>
    <string>uniA_B_97.glif</string>
    <key>uniAB98</key>
    <string>uniA_B_98.glif</string>
    <key>uniAB99</key>
    <string>uniA_B_99.glif</string>
    <key>uniAB9A</key>
    <string>uniA_B_9A_.glif</string>
    <key>uniAB9B</key>
    <string>uniA_B_9B_.glif</string>
    <key>uniAB9C</key>
    <string>uniA_B_9C_.glif</string>
    <key>uniAB9D</key>
    <string>uniA_B_9D_.glif</string>
    <key>uniAB9E</key>
    <string>uniA_B_9E_.glif</string>
    <key>uniAB9F</key>
    <string>uniA_B_9F_.glif</string>
    <key>uniABA0</key>
    <string>uniA_B_A_0.glif</string>
    <key>uniABA1</key>
    <string>uniA_B_A_1.glif</string>
    <key>uniABA2</key>
    <string>uniA_B_A_2.glif</string>
    <key>uniABA3</key>
    <string>uniA_B_A_3.glif</string>
    <key>uniABA4</key>
    <string>uniA_B_A_4.glif</string>
    <key>uniABA5</key>
    <string>uniA_B_A_5.glif</string>
    <key>uniABA6</key>
    <string>uniA_B_A_6.glif</string>
    <key>uniABA7</key>
    <string>uniA_B_A_7.glif</string>
    <key>uniABA8</key>
    <string>uniA_B_A_8.glif</string>
    <key>uniABA9</key>
    <string>uniA_B_A_9.glif</string>
    <key>uniABAA</key>
    <string>uniA_B_A_A_.glif</string>
    <key>uniABAB</key>
    <string>uniA_B_A_B_.glif</string>
    <key>uniABAC</key>
    <string>uniA_B_A_C_.glif</string>
    <key>uniABAD</key>
    <string>uniA_B_A_D_.glif</string>
    <key>uniABAE</key>
    <string>uniA_B_A_E_.glif</string>
    <key>uniABAF</key>
    <string>uniA_B_A_F_.glif</string>
    <key>uniABB0</key>
    <string>uniA_B_B_0.glif</string>
    <key>uniABB1</key>
    <string>uniA_B_B_1.glif</string>
    <key>uniABB2</key>
    <string>uniA_B_B_2.glif</string>
    <key>uniABB3</key>
    <string>uniA_B_B_3.glif</string>
    <key>uniABB4</key>
    <string>uniA_B_B_4.glif</string>
    <key>uniABB5</key>
    <string>uniA_B_B_5.glif</string>
    <key>uniABB6</key>
    <string>uniA_B_B_6.glif</string>
    <key>uniABB7</key>
    <string>uniA_B_B_7.glif</string>
    <key>uniABB8</key>
    <string>uniA_B_B_8.glif</string>
    <key>uniABB9</key>
    <string>uniA_B_B_9.glif</string>
    <key>uniABBA</key>
    <string>uniA_B_B_A_.glif</string>
    <key>uniABBB</key>
    <string>uniA_B_B_B_.glif</string>
    <key>uniABBC</key>
    <string>uniA_B_B_C_.glif</string>
    <key>uniABBD</key>
    <string>uniA_B_B_D_.glif</string>
    <key>uniABBE</key>
    <string>uniA_B_B_E_.glif</string>
    <key>uniABBF</key>
    <string>uniA_B_B_F_.glif</string>
  </dict>
</plist>
