<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uniA910</key>
    <string>uniA_910.glif</string>
    <key>uniA911</key>
    <string>uniA_911.glif</string>
    <key>uniA912</key>
    <string>uniA_912.glif</string>
    <key>uniA915</key>
    <string>uniA_915.glif</string>
    <key>uniA919</key>
    <string>uniA_919.glif</string>
    <key>uniA91A</key>
    <string>uniA_91A_.glif</string>
    <key>uniA91E</key>
    <string>uniA_91E_.glif</string>
    <key>uniA924</key>
    <string>uniA_924.glif</string>
  </dict>
</plist>
