<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>9.260520689655172</real>
      <key>public.kern2.quoteright</key>
      <real>27.78152413793103</real>
      <key>public.kern2.quotesingle</key>
      <real>31.485717241379312</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>46.80765517241379</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>18.18428275862069</real>
      <key>public.kern2.parenright</key>
      <real>67.01238275862069</real>
      <key>public.kern2.quoteright</key>
      <real>39.56761724137931</real>
      <key>public.kern2.quotesingle</key>
      <real>37.21040344827586</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>59.772368965517245</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>21.21498620689655</real>
      <key>public.kern2.parenright</key>
      <real>91.42642068965517</real>
      <key>public.kern2.quoteright</key>
      <real>60.44589655172414</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>66.17049655172414</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>34.34804827586207</real>
      <key>public.kern2.parenright</key>
      <real>90.58455862068965</real>
      <key>public.kern2.quoteright</key>
      <real>66.84413793103448</real>
      <key>public.kern2.quotesingle</key>
      <real>63.81343448275862</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>35.358306896551724</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>12.122813793103447</real>
      <key>public.kern2.parenright</key>
      <real>67.01238275862069</real>
      <key>public.kern2.quoteright</key>
      <real>18.18428275862069</real>
      <key>public.kern2.quotesingle</key>
      <real>27.444803448275863</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>33.3378</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>6.061419310344828</real>
      <key>public.kern2.parenright</key>
      <real>73.7473172413793</real>
      <key>public.kern2.quoteright</key>
      <real>18.18428275862069</real>
      <key>public.kern2.quotesingle</key>
      <real>42.598320689655175</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <real>0.9260520689655172</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>14.816810344827587</real>
      <key>public.kern2.parenright</key>
      <real>38.55738275862069</real>
      <key>public.kern2.quoteright</key>
      <real>12.964713793103446</real>
      <key>public.kern2.quotesingle</key>
      <real>12.964713793103446</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <integer>0</integer>
      <key>bracketright</key>
      <integer>0</integer>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>parenright</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>52.53233103448276</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>11.617708965517242</real>
      <key>public.kern2.parenright</key>
      <real>74.58917931034483</real>
      <key>public.kern2.quoteright</key>
      <real>54.3844275862069</real>
      <key>public.kern2.quotesingle</key>
      <real>55.057917241379315</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>34.1797</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>67.18079310344828</real>
      <key>public.kern2.quoteright</key>
      <real>39.73598965517241</real>
      <key>public.kern2.quotesingle</key>
      <real>36.70528620689655</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>14.816810344827587</real>
      <key>public.kern2.parenright</key>
      <real>37.37881379310345</real>
      <key>public.kern2.quoteright</key>
      <real>18.52100344827586</real>
      <key>public.kern2.quotesingle</key>
      <real>14.816810344827587</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>9.76562</real>
      <key>luu-tamil</key>
      <real>-6.061419310344828</real>
      <key>public.kern2.T</key>
      <real>-66.50730344827586</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-34.01129724137931</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-54.721196551724134</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-54.216079310344824</real>
      <key>public.kern2.exclam</key>
      <real>-27.949890344827587</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-24.91918689655172</real>
      <key>public.kern2.nya-tamil</key>
      <real>-21.21498620689655</real>
      <key>public.kern2.o-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-100.85561655172414</real>
      <key>public.kern2.quotesingle</key>
      <real>-119.37662</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-15.15357931034483</real>
      <key>public.kern2.ya-tamil</key>
      <real>-29.2969</real>
      <key>slash</key>
      <real>39.0625</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-12.796311034482759</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>65.49700689655172</real>
      <key>bracketright</key>
      <real>71.0533724137931</real>
      <key>parenright</key>
      <real>75.93624827586207</real>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>27.78152413793103</real>
      <key>public.kern2.quotesingle</key>
      <real>31.485717241379312</real>
      <key>public.kern2.u-tamil</key>
      <real>-18.18428275862069</real>
      <key>question</key>
      <real>29.633620689655174</real>
      <key>quotedbl</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.a-tamil</key>
      <real>-53.37419310344827</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-37.88389310344827</real>
      <key>public.kern2.nya-tamil</key>
      <real>-20.87822965517241</real>
      <key>public.kern2.o-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-47.64949310344828</real>
      <key>public.kern2.u-tamil</key>
      <real>-23.908920689655176</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-42.26161379310345</real>
      <key>slash</key>
      <real>-13.46980551724138</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-37.71548275862069</real>
      <key>public.kern2.T</key>
      <real>-41.41971379310345</real>
      <key>public.kern2.a-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-15.15357931034483</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.exclam</key>
      <real>-27.276393103448278</real>
      <key>public.kern2.i-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-27.949890344827587</real>
      <key>public.kern2.quoteright</key>
      <real>-32.83268275862069</real>
      <key>public.kern2.quotesingle</key>
      <real>-71.39010344827585</real>
      <key>quotedbl</key>
      <real>-9.260520689655172</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-47.48118275862069</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-12.796311034482759</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-32.32760344827586</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.exclam</key>
      <real>-18.18428275862069</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-12.122813793103447</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>42.766693103448276</real>
      <key>public.kern2.a-tamil</key>
      <real>-39.399268965517244</real>
      <key>public.kern2.e-tamil</key>
      <real>-21.21498620689655</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>23.235431034482758</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-18.18428275862069</real>
      <key>public.kern2.nya-tamil</key>
      <real>-24.245689655172413</real>
      <key>public.kern2.o-tamil</key>
      <real>-18.18428275862069</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-38.38901034482759</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-24.245689655172413</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.a-tamil</key>
      <real>-9.092110344827587</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-6.061419310344828</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.quotesingle</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.u-tamil</key>
      <real>-12.122813793103447</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>91.0898275862069</real>
      <key>public.kern2.a-tamil</key>
      <real>-101.69701379310345</real>
      <key>public.kern2.colon</key>
      <real>16.668906896551725</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>50.68019655172414</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>50.68019655172414</real>
      <key>public.kern2.exclam</key>
      <real>105.73807586206897</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>105.06481379310344</real>
      <key>public.kern2.u-tamil</key>
      <real>-24.245689655172413</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>42.26161379310345</real>
      <key>public.kern2.a-tamil</key>
      <real>-73.7473172413793</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.092110344827587</real>
      <key>public.kern2.exclam</key>
      <real>9.260520689655172</real>
      <key>public.kern2.ka-tamil</key>
      <real>-18.18428275862069</real>
      <key>public.kern2.parenright</key>
      <real>14.816810344827587</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>-33.3378</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-30.30709655172414</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-20.70986896551724</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-268.55499</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-67.18079310344828</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-253.90601</real>
      <key>public.kern2.e-tamil</key>
      <real>-20.70986896551724</real>
      <key>public.kern2.ka-tamil</key>
      <real>-79.30360689655173</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-20.70986896551724</real>
      <key>public.kern2.om-tamil</key>
      <real>-20.70986896551724</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-42.766693103448276</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-18.18428275862069</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>14.816810344827587</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-9.092110344827587</real>
      <key>public.kern2.parenright</key>
      <real>14.816810344827587</real>
      <key>public.kern2.quoteright</key>
      <real>14.816810344827587</real>
      <key>public.kern2.quotesingle</key>
      <real>18.52100344827586</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-15.82701448275862</real>
      <key>public.kern2.quotesingle</key>
      <real>-12.122813793103447</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-29.801979310344827</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.exclam</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-64.15008965517241</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-18.35263103448276</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.46980551724138</real>
      <key>public.kern2.nya-tamil</key>
      <real>-5.556289655172414</real>
      <key>public.kern2.rra-tamil</key>
      <real>-17.174036551724136</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-29.2969</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-126.953</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-23.740572413793103</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-21.21498620689655</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-73.2422</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.ka-tamil</key>
      <real>-21.888483448275863</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.092110344827587</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-28.6233724137931</real>
      <key>public.kern2.u-tamil</key>
      <real>-33.506210344827586</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-27.949890344827587</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-42.766693103448276</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>88.56408965517241</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>40.91459655172414</real>
      <key>public.kern2.parenright</key>
      <real>117.86113793103449</real>
      <key>public.kern2.quoteright</key>
      <real>78.96701379310345</real>
      <key>public.kern2.quotesingle</key>
      <real>96.64596551724138</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>51.185375862068966</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>21.21498620689655</real>
      <key>public.kern2.parenright</key>
      <real>71.89518275862069</real>
      <key>public.kern2.quoteright</key>
      <real>48.15461034482759</real>
      <key>public.kern2.quotesingle</key>
      <real>43.271810344827585</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>14.816810344827587</real>
      <key>public.kern2.parenright</key>
      <real>55.057917241379315</real>
      <key>public.kern2.quoteright</key>
      <real>14.816810344827587</real>
      <key>public.kern2.quotesingle</key>
      <real>14.816810344827587</real>
    </dict>
  </dict>
</plist>
