<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1B80</key>
    <string>uni1B_80.glif</string>
    <key>uni1B81</key>
    <string>uni1B_81.glif</string>
    <key>uni1B82</key>
    <string>uni1B_82.glif</string>
    <key>uni1B83</key>
    <string>uni1B_83.glif</string>
    <key>uni1B84</key>
    <string>uni1B_84.glif</string>
    <key>uni1B85</key>
    <string>uni1B_85.glif</string>
    <key>uni1B86</key>
    <string>uni1B_86.glif</string>
    <key>uni1B87</key>
    <string>uni1B_87.glif</string>
    <key>uni1B88</key>
    <string>uni1B_88.glif</string>
    <key>uni1B89</key>
    <string>uni1B_89.glif</string>
    <key>uni1B8A</key>
    <string>uni1B_8A_.glif</string>
    <key>uni1B8B</key>
    <string>uni1B_8B_.glif</string>
    <key>uni1B8C</key>
    <string>uni1B_8C_.glif</string>
    <key>uni1B8D</key>
    <string>uni1B_8D_.glif</string>
    <key>uni1B8E</key>
    <string>uni1B_8E_.glif</string>
    <key>uni1B8F</key>
    <string>uni1B_8F_.glif</string>
    <key>uni1B90</key>
    <string>uni1B_90.glif</string>
    <key>uni1B91</key>
    <string>uni1B_91.glif</string>
    <key>uni1B92</key>
    <string>uni1B_92.glif</string>
    <key>uni1B93</key>
    <string>uni1B_93.glif</string>
    <key>uni1B94</key>
    <string>uni1B_94.glif</string>
    <key>uni1B95</key>
    <string>uni1B_95.glif</string>
    <key>uni1B96</key>
    <string>uni1B_96.glif</string>
    <key>uni1B97</key>
    <string>uni1B_97.glif</string>
    <key>uni1B98</key>
    <string>uni1B_98.glif</string>
    <key>uni1B99</key>
    <string>uni1B_99.glif</string>
    <key>uni1B9A</key>
    <string>uni1B_9A_.glif</string>
    <key>uni1B9B</key>
    <string>uni1B_9B_.glif</string>
    <key>uni1B9C</key>
    <string>uni1B_9C_.glif</string>
    <key>uni1B9D</key>
    <string>uni1B_9D_.glif</string>
    <key>uni1B9E</key>
    <string>uni1B_9E_.glif</string>
    <key>uni1B9F</key>
    <string>uni1B_9F_.glif</string>
    <key>uni1BA0</key>
    <string>uni1B_A_0.glif</string>
    <key>uni1BA1</key>
    <string>uni1B_A_1.glif</string>
    <key>uni1BA11BA5</key>
    <string>uni1B_A_11B_A_5.glif</string>
    <key>uni1BA2</key>
    <string>uni1B_A_2.glif</string>
    <key>uni1BA21BA5</key>
    <string>uni1B_A_21B_A_5.glif</string>
    <key>uni1BA3</key>
    <string>uni1B_A_3.glif</string>
    <key>uni1BA31BA5</key>
    <string>uni1B_A_31B_A_5.glif</string>
    <key>uni1BA4</key>
    <string>uni1B_A_4.glif</string>
    <key>uni1BA41B80</key>
    <string>uni1B_A_41B_80.glif</string>
    <key>uni1BA5</key>
    <string>uni1B_A_5.glif</string>
    <key>uni1BA6</key>
    <string>uni1B_A_6.glif</string>
    <key>uni1BA7</key>
    <string>uni1B_A_7.glif</string>
    <key>uni1BA8</key>
    <string>uni1B_A_8.glif</string>
    <key>uni1BA81B80</key>
    <string>uni1B_A_81B_80.glif</string>
    <key>uni1BA9</key>
    <string>uni1B_A_9.glif</string>
    <key>uni1BA91B80</key>
    <string>uni1B_A_91B_80.glif</string>
    <key>uni1BAA</key>
    <string>uni1B_A_A_.glif</string>
    <key>uni1BAB</key>
    <string>uni1B_A_B_.glif</string>
    <key>uni1BAC</key>
    <string>uni1B_A_C_.glif</string>
    <key>uni1BAD</key>
    <string>uni1B_A_D_.glif</string>
    <key>uni1BAE</key>
    <string>uni1B_A_E_.glif</string>
    <key>uni1BAF</key>
    <string>uni1B_A_F_.glif</string>
    <key>uni1BB0</key>
    <string>uni1B_B_0.glif</string>
    <key>uni1BB1</key>
    <string>uni1B_B_1.glif</string>
    <key>uni1BB2</key>
    <string>uni1B_B_2.glif</string>
    <key>uni1BB3</key>
    <string>uni1B_B_3.glif</string>
    <key>uni1BB4</key>
    <string>uni1B_B_4.glif</string>
    <key>uni1BB5</key>
    <string>uni1B_B_5.glif</string>
    <key>uni1BB6</key>
    <string>uni1B_B_6.glif</string>
    <key>uni1BB7</key>
    <string>uni1B_B_7.glif</string>
    <key>uni1BB8</key>
    <string>uni1B_B_8.glif</string>
    <key>uni1BB9</key>
    <string>uni1B_B_9.glif</string>
    <key>uni1BBA</key>
    <string>uni1B_B_A_.glif</string>
    <key>uni1BBB</key>
    <string>uni1B_B_B_.glif</string>
    <key>uni1BBC</key>
    <string>uni1B_B_C_.glif</string>
    <key>uni1BBD</key>
    <string>uni1B_B_D_.glif</string>
    <key>uni1BBE</key>
    <string>uni1B_B_E_.glif</string>
    <key>uni1BBF</key>
    <string>uni1B_B_F_.glif</string>
    <key>uni1CC0</key>
    <string>uni1C_C_0.glif</string>
    <key>uni1CC1</key>
    <string>uni1C_C_1.glif</string>
    <key>uni1CC2</key>
    <string>uni1C_C_2.glif</string>
    <key>uni1CC3</key>
    <string>uni1C_C_3.glif</string>
    <key>uni1CC4</key>
    <string>uni1C_C_4.glif</string>
    <key>uni1CC5</key>
    <string>uni1C_C_5.glif</string>
    <key>uni1CC6</key>
    <string>uni1C_C_6.glif</string>
    <key>uni1CC7</key>
    <string>uni1C_C_7.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
