<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10B00</key>
    <string>u10B_00.glif</string>
    <key>u10B0010B35</key>
    <string>u10B_0010B_35.glif</string>
    <key>u10B01</key>
    <string>u10B_01.glif</string>
    <key>u10B02</key>
    <string>u10B_02.glif</string>
    <key>u10B03</key>
    <string>u10B_03.glif</string>
    <key>u10B04</key>
    <string>u10B_04.glif</string>
    <key>u10B05</key>
    <string>u10B_05.glif</string>
    <key>u10B06</key>
    <string>u10B_06.glif</string>
    <key>u10B07</key>
    <string>u10B_07.glif</string>
    <key>u10B08</key>
    <string>u10B_08.glif</string>
    <key>u10B09</key>
    <string>u10B_09.glif</string>
    <key>u10B0A</key>
    <string>u10B_0A_.glif</string>
    <key>u10B0B</key>
    <string>u10B_0B_.glif</string>
    <key>u10B0C</key>
    <string>u10B_0C_.glif</string>
    <key>u10B0D</key>
    <string>u10B_0D_.glif</string>
    <key>u10B0E</key>
    <string>u10B_0E_.glif</string>
    <key>u10B0F</key>
    <string>u10B_0F_.glif</string>
    <key>u10B10</key>
    <string>u10B_10.glif</string>
    <key>u10B11</key>
    <string>u10B_11.glif</string>
    <key>u10B12</key>
    <string>u10B_12.glif</string>
    <key>u10B13</key>
    <string>u10B_13.glif</string>
    <key>u10B14</key>
    <string>u10B_14.glif</string>
    <key>u10B15</key>
    <string>u10B_15.glif</string>
    <key>u10B16</key>
    <string>u10B_16.glif</string>
    <key>u10B17</key>
    <string>u10B_17.glif</string>
    <key>u10B18</key>
    <string>u10B_18.glif</string>
    <key>u10B19</key>
    <string>u10B_19.glif</string>
    <key>u10B1A</key>
    <string>u10B_1A_.glif</string>
    <key>u10B1B</key>
    <string>u10B_1B_.glif</string>
    <key>u10B1C</key>
    <string>u10B_1C_.glif</string>
    <key>u10B1D</key>
    <string>u10B_1D_.glif</string>
    <key>u10B1E</key>
    <string>u10B_1E_.glif</string>
    <key>u10B1F</key>
    <string>u10B_1F_.glif</string>
    <key>u10B20</key>
    <string>u10B_20.glif</string>
    <key>u10B21</key>
    <string>u10B_21.glif</string>
    <key>u10B22</key>
    <string>u10B_22.glif</string>
    <key>u10B23</key>
    <string>u10B_23.glif</string>
    <key>u10B24</key>
    <string>u10B_24.glif</string>
    <key>u10B25</key>
    <string>u10B_25.glif</string>
    <key>u10B26</key>
    <string>u10B_26.glif</string>
    <key>u10B27</key>
    <string>u10B_27.glif</string>
    <key>u10B28</key>
    <string>u10B_28.glif</string>
    <key>u10B29</key>
    <string>u10B_29.glif</string>
    <key>u10B2A</key>
    <string>u10B_2A_.glif</string>
    <key>u10B2B</key>
    <string>u10B_2B_.glif</string>
    <key>u10B2C</key>
    <string>u10B_2C_.glif</string>
    <key>u10B2D</key>
    <string>u10B_2D_.glif</string>
    <key>u10B2E</key>
    <string>u10B_2E_.glif</string>
    <key>u10B2F</key>
    <string>u10B_2F_.glif</string>
    <key>u10B30</key>
    <string>u10B_30.glif</string>
    <key>u10B31</key>
    <string>u10B_31.glif</string>
    <key>u10B3110B00</key>
    <string>u10B_3110B_00.glif</string>
    <key>u10B3110B17</key>
    <string>u10B_3110B_17.glif</string>
    <key>u10B3110B19</key>
    <string>u10B_3110B_19.glif</string>
    <key>u10B32</key>
    <string>u10B_32.glif</string>
    <key>u10B33</key>
    <string>u10B_33.glif</string>
    <key>u10B34</key>
    <string>u10B_34.glif</string>
    <key>u10B35</key>
    <string>u10B_35.glif</string>
    <key>u10B39</key>
    <string>u10B_39.glif</string>
    <key>u10B3A</key>
    <string>u10B_3A_.glif</string>
    <key>u10B3B</key>
    <string>u10B_3B_.glif</string>
    <key>u10B3C</key>
    <string>u10B_3C_.glif</string>
    <key>u10B3D</key>
    <string>u10B_3D_.glif</string>
    <key>u10B3E</key>
    <string>u10B_3E_.glif</string>
    <key>u10B3F</key>
    <string>u10B_3F_.glif</string>
    <key>uni002E</key>
    <string>uni002E_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni00B7</key>
    <string>uni00B_7.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni2E30</key>
    <string>uni2E_30.glif</string>
    <key>uni2E31</key>
    <string>uni2E_31.glif</string>
  </dict>
</plist>
