<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u16AD0</key>
    <string>u16A_D_0.glif</string>
    <key>u16AD1</key>
    <string>u16A_D_1.glif</string>
    <key>u16AD2</key>
    <string>u16A_D_2.glif</string>
    <key>u16AD3</key>
    <string>u16A_D_3.glif</string>
    <key>u16AD4</key>
    <string>u16A_D_4.glif</string>
    <key>u16AD5</key>
    <string>u16A_D_5.glif</string>
    <key>u16AD6</key>
    <string>u16A_D_6.glif</string>
    <key>u16AD7</key>
    <string>u16A_D_7.glif</string>
    <key>u16AD8</key>
    <string>u16A_D_8.glif</string>
    <key>u16AD9</key>
    <string>u16A_D_9.glif</string>
    <key>u16ADA</key>
    <string>u16A_D_A_.glif</string>
    <key>u16ADB</key>
    <string>u16A_D_B_.glif</string>
    <key>u16ADC</key>
    <string>u16A_D_C_.glif</string>
    <key>u16ADD</key>
    <string>u16A_D_D_.glif</string>
    <key>u16ADE</key>
    <string>u16A_D_E_.glif</string>
    <key>u16ADF</key>
    <string>u16A_D_F_.glif</string>
    <key>u16AE0</key>
    <string>u16A_E_0.glif</string>
    <key>u16AE1</key>
    <string>u16A_E_1.glif</string>
    <key>u16AE2</key>
    <string>u16A_E_2.glif</string>
    <key>u16AE3</key>
    <string>u16A_E_3.glif</string>
    <key>u16AE4</key>
    <string>u16A_E_4.glif</string>
    <key>u16AE5</key>
    <string>u16A_E_5.glif</string>
    <key>u16AE6</key>
    <string>u16A_E_6.glif</string>
    <key>u16AE7</key>
    <string>u16A_E_7.glif</string>
    <key>u16AE8</key>
    <string>u16A_E_8.glif</string>
    <key>u16AE9</key>
    <string>u16A_E_9.glif</string>
    <key>u16AEA</key>
    <string>u16A_E_A_.glif</string>
    <key>u16AEB</key>
    <string>u16A_E_B_.glif</string>
    <key>u16AEC</key>
    <string>u16A_E_C_.glif</string>
    <key>u16AED</key>
    <string>u16A_E_D_.glif</string>
    <key>u16AF0</key>
    <string>u16A_F_0.glif</string>
    <key>u16AF1</key>
    <string>u16A_F_1.glif</string>
    <key>u16AF1.sm</key>
    <string>u16A_F_1.sm.glif</string>
    <key>u16AF2</key>
    <string>u16A_F_2.glif</string>
    <key>u16AF2.sm</key>
    <string>u16A_F_2.sm.glif</string>
    <key>u16AF3</key>
    <string>u16A_F_3.glif</string>
    <key>u16AF4</key>
    <string>u16A_F_4.glif</string>
    <key>u16AF4.sm</key>
    <string>u16A_F_4.sm.glif</string>
    <key>u16AF5</key>
    <string>u16A_F_5.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
