<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>60</integer>
      <key>public.kern2.parenright</key>
      <integer>96</integer>
      <key>public.kern2.question</key>
      <integer>84</integer>
      <key>public.kern2.quoteright</key>
      <real>98.54545454545455</real>
      <key>public.kern2.quotesingle</key>
      <real>98.3030303030303</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>43.333333333333336</real>
      <key>public.kern2.parenright</key>
      <integer>81</integer>
      <key>public.kern2.question</key>
      <integer>60</integer>
      <key>public.kern2.quoteright</key>
      <real>72.66666666666667</real>
      <key>public.kern2.quotesingle</key>
      <real>87.66666666666667</real>
    </dict>
    <key>kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-11.90909090909091</real>
      <key>public.kern2.question</key>
      <real>29.272727272727273</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>97.6562</real>
    </dict>
    <key>nii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>16.772727272727273</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>100.96969696969695</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>63.4766</real>
    </dict>
    <key>nyii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <real>5.212121212121211</real>
      <key>public.kern2.quotesingle</key>
      <real>8.303030303030305</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>-27.787878787878785</real>
      <key>luu-tamil</key>
      <real>-27.787878787878785</real>
      <key>nnnu-tamil</key>
      <real>-27.787878787878785</real>
      <key>nnnuu-tamil</key>
      <real>-27.787878787878785</real>
      <key>nnu-tamil</key>
      <real>-27.787878787878785</real>
      <key>nnuu-tamil</key>
      <real>-27.787878787878785</real>
      <key>public.kern2.colon</key>
      <real>-3.454545454545455</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-40.121212121212125</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-85.8</real>
      <key>public.kern2.exclam</key>
      <real>-16.755678545454543</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-36.666666666666664</real>
      <key>public.kern2.nya-tamil</key>
      <real>-32.78787878787879</real>
      <key>public.kern2.o-tamil</key>
      <real>-36.827895454545455</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.period</key>
      <real>9.636363636363637</real>
      <key>public.kern2.question</key>
      <real>-55.54545454545455</real>
      <key>public.kern2.quoteright</key>
      <real>-38.45454545454545</real>
      <key>public.kern2.quotesingle</key>
      <real>-69.18468363636363</real>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.visarga-tamil</key>
      <real>-39.57575757575758</real>
      <key>public.kern2.ya-tamil</key>
      <real>-54.66666666666667</real>
      <key>ta-tamil</key>
      <integer>-20</integer>
      <key>tu-tamil</key>
      <integer>10</integer>
      <key>tuu-tamil</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>10</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-11.727272727272727</real>
      <key>public.kern2.quotesingle</key>
      <real>-6.90909090909091</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.ya-tamil</key>
      <real>-12.666666666666668</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-34.3939393939394</real>
      <key>public.kern2.exclam</key>
      <real>-6.90909090909091</real>
      <key>public.kern2.ka-tamil</key>
      <real>-3.454545454545455</real>
      <key>public.kern2.period</key>
      <real>-26.90909090909091</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.cu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>15.454545454545455</real>
    </dict>
    <key>public.kern1.cuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-29.575757575757574</real>
      <key>public.kern2.o-tamil</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.question</key>
      <real>-36.18181818181819</real>
      <key>public.kern2.quoteright</key>
      <real>-43.24242424242424</real>
      <key>public.kern2.quotesingle</key>
      <real>-37.484848484848484</real>
      <key>public.kern2.ya-tamil</key>
      <real>-35.54545454545455</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-54</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-20.93939393939394</real>
      <key>public.kern2.o-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.u-tamil</key>
      <real>-37.050000000000004</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-33.45454545454545</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ai-tamil</key>
      <integer>10</integer>
      <key>public.kern2.e-tamil</key>
      <integer>31</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>30</integer>
      <key>public.kern2.ka-tamil</key>
      <real>17.090909090909093</real>
      <key>public.kern2.nya-tamil</key>
      <integer>30</integer>
      <key>public.kern2.o-tamil</key>
      <integer>20</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.rupee-tamil</key>
      <real>26.545454545454547</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>10</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-8.06060606060606</real>
      <key>public.kern2.e-tamil</key>
      <real>-7.9931330303030315</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-25.476545454545455</real>
      <key>public.kern2.exclam</key>
      <real>-10.363636363636363</real>
      <key>public.kern2.i-tamil</key>
      <real>-11.110653333333333</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.o-tamil</key>
      <real>-3.454545454545455</real>
      <key>public.kern2.om-tamil</key>
      <real>-13.454545454545455</real>
      <key>public.kern2.question</key>
      <integer>-35</integer>
      <key>public.kern2.quoteright</key>
      <real>-30.90909090909091</real>
      <key>public.kern2.quotesingle</key>
      <real>-54.36363636363636</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-6.90909090909091</real>
      <key>public.kern2.slash</key>
      <integer>20</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-20.727272727272727</real>
    </dict>
    <key>public.kern1.kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.parenright</key>
      <integer>16</integer>
      <key>public.kern2.question</key>
      <real>-7.454545454545455</real>
      <key>public.kern2.quoteright</key>
      <real>18.666666666666668</real>
      <key>public.kern2.quotesingle</key>
      <real>15.393939393939394</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-38</integer>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.e-tamil</key>
      <integer>10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-6.90909090909091</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.question</key>
      <real>-6.90909090909091</real>
      <key>public.kern2.quoteright</key>
      <real>-21.12121212121212</real>
      <key>public.kern2.quotesingle</key>
      <real>-46.90909090909091</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-6.90909090909091</real>
      <key>public.kern2.ai-tamil</key>
      <real>-3.6666666666666665</real>
      <key>public.kern2.e-tamil</key>
      <real>6.545454545454545</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>32.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <real>21.545454545454547</real>
      <key>public.kern2.ka-tamil</key>
      <real>4.818181818181818</real>
      <key>public.kern2.o-tamil</key>
      <real>-3.454545454545455</real>
      <key>public.kern2.parenright</key>
      <integer>49</integer>
      <key>public.kern2.period</key>
      <integer>-2</integer>
      <key>public.kern2.question</key>
      <integer>40</integer>
      <key>public.kern2.quoteright</key>
      <integer>64</integer>
      <key>public.kern2.quotesingle</key>
      <real>72.0909090909091</real>
      <key>public.kern2.rra-tamil</key>
      <real>-13.454545454545455</real>
      <key>public.kern2.rupee-tamil</key>
      <real>22.666666666666668</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.ai-tamil</key>
      <real>-3.454545454545455</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-16.755678545454543</real>
      <key>public.kern2.exclam</key>
      <real>-6.90909090909091</real>
      <key>public.kern2.question</key>
      <real>-19.81818181818182</real>
      <key>public.kern2.quoteright</key>
      <real>-17.90909090909091</real>
      <key>public.kern2.quotesingle</key>
      <real>-36.36363636363636</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.mii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.469696969696972</real>
      <key>public.kern2.parenright</key>
      <real>52.666666666666664</real>
      <key>public.kern2.question</key>
      <integer>46</integer>
      <key>public.kern2.quoteright</key>
      <real>57.333333333333336</real>
      <key>public.kern2.quotesingle</key>
      <real>60.42424242424242</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.colon</key>
      <real>43.9453</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>79.16363636363637</real>
      <key>public.kern2.exclam</key>
      <integer>120</integer>
      <key>public.kern2.i-tamil</key>
      <real>84.60606060606061</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.588043636363636</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <integer>116</integer>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
      <key>public.kern2.rupee-tamil</key>
      <real>63.45454545454545</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-48.44274</real>
      <key>public.kern2.ai-tamil</key>
      <integer>30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>65</integer>
      <key>public.kern2.i-tamil</key>
      <real>20.727272727272727</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.question</key>
      <integer>62</integer>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>53.09090909090909</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.454545454545455</real>
      <key>public.kern2.hyphen</key>
      <real>6.90909090909091</real>
      <key>public.kern2.period</key>
      <integer>-2</integer>
      <key>public.kern2.question</key>
      <real>-12.90909090909091</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-23.454545454545453</real>
    </dict>
    <key>public.kern1.pii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>32.666666666666664</real>
      <key>public.kern2.i-tamil</key>
      <real>13.81818181818182</real>
      <key>public.kern2.parenright</key>
      <real>58.66666666666667</real>
      <key>public.kern2.question</key>
      <real>48.54545454545455</real>
      <key>public.kern2.quoteright</key>
      <real>70.96969696969697</real>
      <key>public.kern2.quotesingle</key>
      <real>64.42424242424242</real>
      <key>public.kern2.rupee-tamil</key>
      <real>35.54545454545455</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-130.54545454545453</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-42.78787878787879</real>
      <key>public.kern2.nya-tamil</key>
      <real>-20.593162727272723</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-114.54545454545453</real>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-123.75757575757576</real>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.o-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.om-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.rii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>84.6969696969697</real>
      <key>public.kern2.parenright</key>
      <real>97.66666666666667</real>
      <key>public.kern2.question</key>
      <integer>100</integer>
      <key>public.kern2.quoteright</key>
      <real>122.24242424242425</real>
      <key>public.kern2.quotesingle</key>
      <real>116.75151515151514</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-13.272727272727273</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>3.09090909090909</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.question</key>
      <real>17.755681818181817</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-4</integer>
      <key>public.kern2.hyphen</key>
      <real>15.18181818181818</real>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-26.90909090909091</real>
      <key>public.kern2.quotesingle</key>
      <real>-10.363636363636363</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-38</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-46.90909090909091</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-14.6484</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>public.kern2.u-tamil</key>
      <real>21.647143333333332</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-28.713527272727273</real>
      <key>public.kern2.nya-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.o-tamil</key>
      <real>-26.90909090909091</real>
      <key>public.kern2.rra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-28.333333333333332</real>
      <key>public.kern2.ya-tamil</key>
      <real>-13.454545454545455</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>12.666666666666668</real>
      <key>public.kern2.e-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-53.45454545454545</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-4</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>-50.36363636363636</real>
      <key>public.kern2.quotesingle</key>
      <integer>-99</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-32.45454545454545</real>
      <key>public.kern2.e-tamil</key>
      <real>32.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <integer>60</integer>
      <key>public.kern2.i-tamil</key>
      <real>16.727272727272727</real>
      <key>public.kern2.ka-tamil</key>
      <integer>5</integer>
      <key>public.kern2.nya-tamil</key>
      <real>6.90909090909091</real>
      <key>public.kern2.o-tamil</key>
      <integer>19</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <real>-14.6484</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-18.393939393939394</real>
      <key>public.kern2.e-tamil</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>50</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-8.252365696969697</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.12893</real>
    </dict>
    <key>public.kern1.vii-tamil</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>130</integer>
    </dict>
    <key>tii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>13.43939393939394</real>
    </dict>
    <key>ttii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
