<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10380</key>
    <string>u10380.glif</string>
    <key>u10381</key>
    <string>u10381.glif</string>
    <key>u10382</key>
    <string>u10382.glif</string>
    <key>u10383</key>
    <string>u10383.glif</string>
    <key>u10384</key>
    <string>u10384.glif</string>
    <key>u10385</key>
    <string>u10385.glif</string>
    <key>u10386</key>
    <string>u10386.glif</string>
    <key>u10387</key>
    <string>u10387.glif</string>
    <key>u10388</key>
    <string>u10388.glif</string>
    <key>u10389</key>
    <string>u10389.glif</string>
    <key>u1038A</key>
    <string>u1038A_.glif</string>
    <key>u1038B</key>
    <string>u1038B_.glif</string>
    <key>u1038C</key>
    <string>u1038C_.glif</string>
    <key>u1038D</key>
    <string>u1038D_.glif</string>
    <key>u1038E</key>
    <string>u1038E_.glif</string>
    <key>u1038F</key>
    <string>u1038F_.glif</string>
    <key>u10390</key>
    <string>u10390.glif</string>
    <key>u10391</key>
    <string>u10391.glif</string>
    <key>u10392</key>
    <string>u10392.glif</string>
    <key>u10393</key>
    <string>u10393.glif</string>
    <key>u10394</key>
    <string>u10394.glif</string>
    <key>u10395</key>
    <string>u10395.glif</string>
    <key>u10396</key>
    <string>u10396.glif</string>
    <key>u10397</key>
    <string>u10397.glif</string>
    <key>u10398</key>
    <string>u10398.glif</string>
    <key>u10399</key>
    <string>u10399.glif</string>
    <key>u1039A</key>
    <string>u1039A_.glif</string>
    <key>u1039B</key>
    <string>u1039B_.glif</string>
    <key>u1039C</key>
    <string>u1039C_.glif</string>
    <key>u1039D</key>
    <string>u1039D_.glif</string>
    <key>u1039F</key>
    <string>u1039F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
