<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>760</integer>
    <key>capHeight</key>
    <integer>714</integer>
    <key>copyright</key>
    <string>Copyright 2017 Google Inc. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-240</integer>
    <key>familyName</key>
    <string>Noto Sans Coptic</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2017/04/06 13:13:17</string>
    <key>openTypeHheaAscender</key>
    <integer>1069</integer>
    <key>openTypeHheaDescender</key>
    <integer>-293</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Designed by Monotype design team.</string>
    <key>openTypeNameDesigner</key>
    <string>Monotype Design Team, Denis Moyogo Jacquerye</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.monotype.com/studio</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Monotype Imaging Inc.</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com/get/noto/</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>5</integer>
      <integer>2</integer>
      <integer>4</integer>
      <integer>5</integer>
      <integer>4</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>8</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1069</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-293</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>8</integer>
      <integer>31</integer>
      <integer>45</integer>
      <integer>57</integer>
      <integer>64</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1069</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>293</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-240</integer>
      <integer>-240</integer>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>536</integer>
      <integer>546</integer>
      <integer>714</integer>
      <integer>725</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>73</integer>
      <integer>79</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>88</integer>
      <integer>66</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Noto is a trademark of Google Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>536</integer>
  </dict>
</plist>
