<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1354</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Line Breaks</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>hyphen</string>
      <string>nbspace</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>macroncomb</string>
      <string>overlinecomb</string>
      <string>dotaccentcomb</string>
      <string>dieresiscomb</string>
      <string>dotbelowcomb</string>
      <string>dbloverlinecomb</string>
      <string>breveinverteddoublecomb</string>
      <string>numeral-greek</string>
      <string>lowernumeral-greek</string>
      <string>Shei-coptic</string>
      <string>shei-coptic</string>
      <string>Fei-coptic</string>
      <string>fei-coptic</string>
      <string>Khei-coptic</string>
      <string>khei-coptic</string>
      <string>Hori-coptic</string>
      <string>hori-coptic</string>
      <string>Gangia-coptic</string>
      <string>gangia-coptic</string>
      <string>Shima-coptic</string>
      <string>shima-coptic</string>
      <string>Dei-coptic</string>
      <string>dei-coptic</string>
      <string>doublecircumflexcomb</string>
      <string>uni2E17</string>
      <string>Alfa-coptic</string>
      <string>alfa-coptic</string>
      <string>Vida-coptic</string>
      <string>vida-coptic</string>
      <string>Gamma-coptic</string>
      <string>gamma-coptic</string>
      <string>Dalda-coptic</string>
      <string>dalda-coptic</string>
      <string>Eie-coptic</string>
      <string>eie-coptic</string>
      <string>Sou-coptic</string>
      <string>sou-coptic</string>
      <string>Zata-coptic</string>
      <string>zata-coptic</string>
      <string>Hate-coptic</string>
      <string>hate-coptic</string>
      <string>Thethe-coptic</string>
      <string>thethe-coptic</string>
      <string>Iauda-coptic</string>
      <string>iauda-coptic</string>
      <string>Kapa-coptic</string>
      <string>kapa-coptic</string>
      <string>Laula-coptic</string>
      <string>laula-coptic</string>
      <string>Mi-coptic</string>
      <string>mi-coptic</string>
      <string>Ni-coptic</string>
      <string>ni-coptic</string>
      <string>Ksi-coptic</string>
      <string>ksi-coptic</string>
      <string>O-coptic</string>
      <string>o-coptic</string>
      <string>Pi-coptic</string>
      <string>pi-coptic</string>
      <string>Ro-coptic</string>
      <string>ro-coptic</string>
      <string>Sima-coptic</string>
      <string>sima-coptic</string>
      <string>Tau-coptic</string>
      <string>tau-coptic</string>
      <string>Ua-coptic</string>
      <string>ua-coptic</string>
      <string>Fi-coptic</string>
      <string>fi-coptic</string>
      <string>Khi-coptic</string>
      <string>khi-coptic</string>
      <string>Psi-coptic</string>
      <string>psi-coptic</string>
      <string>Oou-coptic</string>
      <string>oou-coptic</string>
      <string>AlefDialectP-coptic</string>
      <string>alefDialectP-coptic</string>
      <string>AinOld-coptic</string>
      <string>ainOld-coptic</string>
      <string>Cryptogrammiceie-coptic</string>
      <string>cryptogrammiceie-coptic</string>
      <string>dialectPkapa-coptic</string>
      <string>dialectpkapa-coptic</string>
      <string>dialectPni-coptic</string>
      <string>dialectpni-coptic</string>
      <string>Cryptogrammicni-coptic</string>
      <string>cryptogrammicni-coptic</string>
      <string>OouOld-coptic</string>
      <string>oouOld-coptic</string>
      <string>Sampi-coptic</string>
      <string>sampi-coptic</string>
      <string>SheiCrossed-coptic</string>
      <string>sheiCrossed-coptic</string>
      <string>SheiOld-coptic</string>
      <string>sheiOld-coptic</string>
      <string>EshOld-coptic</string>
      <string>eshOld-coptic</string>
      <string>KheiAkhmimic-coptic</string>
      <string>kheiAkhmimic-coptic</string>
      <string>HoriDialectP-coptic</string>
      <string>horiDialectP-coptic</string>
      <string>HoriOld-coptic</string>
      <string>horiOld-coptic</string>
      <string>HaOld-coptic</string>
      <string>haOld-coptic</string>
      <string>HaLshaped-coptic</string>
      <string>haLshaped-coptic</string>
      <string>HeiOld-coptic</string>
      <string>heiOld-coptic</string>
      <string>HatOld-coptic</string>
      <string>hatOld-coptic</string>
      <string>GangiaOld-coptic</string>
      <string>gangiaOld-coptic</string>
      <string>DjaOld-coptic</string>
      <string>djaOld-coptic</string>
      <string>ShimaOld-coptic</string>
      <string>shimaOld-coptic</string>
      <string>Shima-nubian</string>
      <string>shima-nubian</string>
      <string>Ngi-nubian</string>
      <string>ngi-nubian</string>
      <string>Nyi-nubian</string>
      <string>nyi-nubian</string>
      <string>Wau-nubian</string>
      <string>wau-nubian</string>
      <string>kai-coptic</string>
      <string>miro-coptic</string>
      <string>piro-coptic</string>
      <string>stauros-coptic</string>
      <string>tauro-coptic</string>
      <string>khiro-coptic</string>
      <string>shimasima-coptic</string>
      <string>SheiCryptogrammic-coptic</string>
      <string>sheiCryptogrammic-coptic</string>
      <string>GangiaCryptogrammic-coptic</string>
      <string>gangiaCryptogrammic-coptic</string>
      <string>nicomb-coptic</string>
      <string>spiritusaspercomb</string>
      <string>spiritusleniscomb</string>
      <string>KheiBohairic-coptic</string>
      <string>kheiBohairic-coptic</string>
      <string>fullstop-nubian</string>
      <string>directquestion-nubian</string>
      <string>indirectquestion-nubian</string>
      <string>versedivider-nubian</string>
      <string>onehalf-coptic</string>
      <string>fullstop-coptic</string>
      <string>morphologicaldivider-coptic</string>
      <string>macronlefthalfcomb</string>
      <string>macronrighthalfcomb</string>
      <string>conjoiningmacroncomb</string>
      <string>u102E0</string>
      <string>u102E1</string>
      <string>u102E2</string>
      <string>u102E3</string>
      <string>u102E4</string>
      <string>u102E5</string>
      <string>u102E6</string>
      <string>u102E7</string>
      <string>u102E8</string>
      <string>u102E9</string>
      <string>u102EA</string>
      <string>u102EB</string>
      <string>u102EC</string>
      <string>u102ED</string>
      <string>u102EE</string>
      <string>u102EF</string>
      <string>u102F0</string>
      <string>u102F1</string>
      <string>u102F2</string>
      <string>u102F3</string>
      <string>u102F4</string>
      <string>u102F5</string>
      <string>u102F6</string>
      <string>u102F7</string>
      <string>u102F8</string>
      <string>u102F9</string>
      <string>u102FA</string>
      <string>u102FB</string>
      <string>hyphentwo</string>
      <string>dottedCircle</string>
      <string>overlinecomb.small</string>
      <string>overlinecomb.medium</string>
      <string>overlinecomb.large</string>
      <string>overlinecomb.xlarge</string>
      <string>overlinecomb.xxlarge</string>
      <string>overlinecomb.small.cap</string>
      <string>overlinecomb.medium.cap</string>
      <string>overlinecomb.large.cap</string>
      <string>overlinecomb.xlarge.cap</string>
      <string>overlinecomb.xxlarge.cap</string>
      <string>overlinecomb.cap</string>
      <string>dbloverlinecomb.cap</string>
      <string>conjoiningmacroncomb.cap</string>
      <string>dbloverlinecomb.large.cap</string>
      <string>conjoiningmacroncomb.large.cap</string>
      <string>macronlefthalfcomb.cap</string>
      <string>macronrighthalfcomb.cap</string>
      <string>dbloverlinecomb.medium.cap</string>
      <string>conjoiningmacroncomb.medium.cap</string>
      <string>dbloverlinecomb.small.cap</string>
      <string>conjoiningmacroncomb.small.cap</string>
      <string>dbloverlinecomb.xlarge.cap</string>
      <string>conjoiningmacroncomb.xlarge.cap</string>
      <string>dbloverlinecomb.xxlarge.cap</string>
      <string>conjoiningmacroncomb.xxlarge.cap</string>
      <string>dbloverlinecomb.large</string>
      <string>conjoiningmacroncomb.large</string>
      <string>dbloverlinecomb.medium</string>
      <string>conjoiningmacroncomb.medium</string>
      <string>dbloverlinecomb.small</string>
      <string>conjoiningmacroncomb.small</string>
      <string>dbloverlinecomb.xlarge</string>
      <string>conjoiningmacroncomb.xlarge</string>
      <string>dbloverlinecomb.xxlarge</string>
      <string>conjoiningmacroncomb.xxlarge</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>AinOld-coptic</key>
      <string>uni2CB4</string>
      <key>AlefDialectP-coptic</key>
      <string>uni2CB2</string>
      <key>Alfa-coptic</key>
      <string>uni2C80</string>
      <key>Cryptogrammiceie-coptic</key>
      <string>uni2CB6</string>
      <key>Cryptogrammicni-coptic</key>
      <string>uni2CBC</string>
      <key>Dalda-coptic</key>
      <string>uni2C86</string>
      <key>Dei-coptic</key>
      <string>uni03EE</string>
      <key>DjaOld-coptic</key>
      <string>uni2CD8</string>
      <key>Eie-coptic</key>
      <string>uni2C88</string>
      <key>EshOld-coptic</key>
      <string>uni2CC6</string>
      <key>Fei-coptic</key>
      <string>uni03E4</string>
      <key>Fi-coptic</key>
      <string>uni2CAA</string>
      <key>Gamma-coptic</key>
      <string>uni2C84</string>
      <key>Gangia-coptic</key>
      <string>uni03EA</string>
      <key>GangiaCryptogrammic-coptic</key>
      <string>uni2CED</string>
      <key>GangiaOld-coptic</key>
      <string>uni2CD6</string>
      <key>HaLshaped-coptic</key>
      <string>uni2CD0</string>
      <key>HaOld-coptic</key>
      <string>uni2CCE</string>
      <key>HatOld-coptic</key>
      <string>uni2CD4</string>
      <key>Hate-coptic</key>
      <string>uni2C8E</string>
      <key>HeiOld-coptic</key>
      <string>uni2CD2</string>
      <key>Hori-coptic</key>
      <string>uni03E8</string>
      <key>HoriDialectP-coptic</key>
      <string>uni2CCA</string>
      <key>HoriOld-coptic</key>
      <string>uni2CCC</string>
      <key>Iauda-coptic</key>
      <string>uni2C92</string>
      <key>Kapa-coptic</key>
      <string>uni2C94</string>
      <key>Khei-coptic</key>
      <string>uni03E6</string>
      <key>KheiAkhmimic-coptic</key>
      <string>uni2CC8</string>
      <key>KheiBohairic-coptic</key>
      <string>uni2CF2</string>
      <key>Khi-coptic</key>
      <string>uni2CAC</string>
      <key>Ksi-coptic</key>
      <string>uni2C9C</string>
      <key>Laula-coptic</key>
      <string>uni2C96</string>
      <key>Mi-coptic</key>
      <string>uni2C98</string>
      <key>Ngi-nubian</key>
      <string>uni2CDE</string>
      <key>Ni-coptic</key>
      <string>uni2C9A</string>
      <key>Nyi-nubian</key>
      <string>uni2CE0</string>
      <key>O-coptic</key>
      <string>uni2C9E</string>
      <key>Oou-coptic</key>
      <string>uni2CB0</string>
      <key>OouOld-coptic</key>
      <string>uni2CBE</string>
      <key>Pi-coptic</key>
      <string>uni2CA0</string>
      <key>Psi-coptic</key>
      <string>uni2CAE</string>
      <key>Ro-coptic</key>
      <string>uni2CA2</string>
      <key>Sampi-coptic</key>
      <string>uni2CC0</string>
      <key>Shei-coptic</key>
      <string>uni03E2</string>
      <key>SheiCrossed-coptic</key>
      <string>uni2CC2</string>
      <key>SheiCryptogrammic-coptic</key>
      <string>uni2CEB</string>
      <key>SheiOld-coptic</key>
      <string>uni2CC4</string>
      <key>Shima-coptic</key>
      <string>uni03EC</string>
      <key>Shima-nubian</key>
      <string>uni2CDC</string>
      <key>ShimaOld-coptic</key>
      <string>uni2CDA</string>
      <key>Sima-coptic</key>
      <string>uni2CA4</string>
      <key>Sou-coptic</key>
      <string>uni2C8A</string>
      <key>Tau-coptic</key>
      <string>uni2CA6</string>
      <key>Thethe-coptic</key>
      <string>uni2C90</string>
      <key>Ua-coptic</key>
      <string>uni2CA8</string>
      <key>Vida-coptic</key>
      <string>uni2C82</string>
      <key>Wau-nubian</key>
      <string>uni2CE2</string>
      <key>Zata-coptic</key>
      <string>uni2C8C</string>
      <key>ainOld-coptic</key>
      <string>uni2CB5</string>
      <key>alefDialectP-coptic</key>
      <string>uni2CB3</string>
      <key>alfa-coptic</key>
      <string>uni2C81</string>
      <key>breveinvertedcomb</key>
      <string>uni0311</string>
      <key>breveinverteddoublecomb</key>
      <string>uni0361</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>conjoiningmacroncomb</key>
      <string>uniFE26</string>
      <key>conjoiningmacroncomb.cap</key>
      <string>uniFE26.cap</string>
      <key>conjoiningmacroncomb.large</key>
      <string>uniFE26.large</string>
      <key>conjoiningmacroncomb.large.cap</key>
      <string>uniFE26.large.cap</string>
      <key>conjoiningmacroncomb.medium</key>
      <string>uniFE26.medium</string>
      <key>conjoiningmacroncomb.medium.cap</key>
      <string>uniFE26.medium.cap</string>
      <key>conjoiningmacroncomb.small</key>
      <string>uniFE26.small</string>
      <key>conjoiningmacroncomb.small.cap</key>
      <string>uniFE26.small.cap</string>
      <key>conjoiningmacroncomb.xlarge</key>
      <string>uniFE26.xlarge</string>
      <key>conjoiningmacroncomb.xlarge.cap</key>
      <string>uniFE26.xlarge.cap</string>
      <key>conjoiningmacroncomb.xxlarge</key>
      <string>uniFE26.xxlarge</string>
      <key>conjoiningmacroncomb.xxlarge.cap</key>
      <string>uniFE26.xxlarge.cap</string>
      <key>cryptogrammiceie-coptic</key>
      <string>uni2CB7</string>
      <key>cryptogrammicni-coptic</key>
      <string>uni2CBD</string>
      <key>dalda-coptic</key>
      <string>uni2C87</string>
      <key>dbloverlinecomb</key>
      <string>uni033F</string>
      <key>dbloverlinecomb.cap</key>
      <string>uni033F.cap</string>
      <key>dbloverlinecomb.large</key>
      <string>uni033F.large</string>
      <key>dbloverlinecomb.large.cap</key>
      <string>uni033F.large.cap</string>
      <key>dbloverlinecomb.medium</key>
      <string>uni033F.medium</string>
      <key>dbloverlinecomb.medium.cap</key>
      <string>uni033F.medium.cap</string>
      <key>dbloverlinecomb.small</key>
      <string>uni033F.small</string>
      <key>dbloverlinecomb.small.cap</key>
      <string>uni033F.small.cap</string>
      <key>dbloverlinecomb.xlarge</key>
      <string>uni033F.xlarge</string>
      <key>dbloverlinecomb.xlarge.cap</key>
      <string>uni033F.xlarge.cap</string>
      <key>dbloverlinecomb.xxlarge</key>
      <string>uni033F.xxlarge</string>
      <key>dbloverlinecomb.xxlarge.cap</key>
      <string>uni033F.xxlarge.cap</string>
      <key>dei-coptic</key>
      <string>uni03EF</string>
      <key>dialectPkapa-coptic</key>
      <string>uni2CB8</string>
      <key>dialectPni-coptic</key>
      <string>uni2CBA</string>
      <key>dialectpkapa-coptic</key>
      <string>uni2CB9</string>
      <key>dialectpni-coptic</key>
      <string>uni2CBB</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>directquestion-nubian</key>
      <string>uni2CFA</string>
      <key>djaOld-coptic</key>
      <string>uni2CD9</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>doublecircumflexcomb</key>
      <string>uni1DCD</string>
      <key>doublemacroncomb</key>
      <string>uni035E</string>
      <key>doubleobliquehyphen</key>
      <string>uni2E17</string>
      <key>eie-coptic</key>
      <string>uni2C89</string>
      <key>eshOld-coptic</key>
      <string>uni2CC7</string>
      <key>fei-coptic</key>
      <string>uni03E5</string>
      <key>fi-coptic</key>
      <string>uni2CAB</string>
      <key>fivedotpunctuation</key>
      <string>uni2059</string>
      <key>fourdotpunctuation</key>
      <string>uni2058</string>
      <key>fullstop-coptic</key>
      <string>uni2CFE</string>
      <key>fullstop-nubian</key>
      <string>uni2CF9</string>
      <key>gamma-coptic</key>
      <string>uni2C85</string>
      <key>gangia-coptic</key>
      <string>uni03EB</string>
      <key>gangiaCryptogrammic-coptic</key>
      <string>uni2CEE</string>
      <key>gangiaOld-coptic</key>
      <string>uni2CD7</string>
      <key>haLshaped-coptic</key>
      <string>uni2CD1</string>
      <key>haOld-coptic</key>
      <string>uni2CCF</string>
      <key>hatOld-coptic</key>
      <string>uni2CD5</string>
      <key>hate-coptic</key>
      <string>uni2C8F</string>
      <key>heiOld-coptic</key>
      <string>uni2CD3</string>
      <key>hori-coptic</key>
      <string>uni03E9</string>
      <key>horiDialectP-coptic</key>
      <string>uni2CCB</string>
      <key>horiOld-coptic</key>
      <string>uni2CCD</string>
      <key>hyphentwo</key>
      <string>uni2010</string>
      <key>iauda-coptic</key>
      <string>uni2C93</string>
      <key>indirectquestion-nubian</key>
      <string>uni2CFB</string>
      <key>kai-coptic</key>
      <string>uni2CE4</string>
      <key>kapa-coptic</key>
      <string>uni2C95</string>
      <key>khei-coptic</key>
      <string>uni03E7</string>
      <key>kheiAkhmimic-coptic</key>
      <string>uni2CC9</string>
      <key>kheiBohairic-coptic</key>
      <string>uni2CF3</string>
      <key>khi-coptic</key>
      <string>uni2CAD</string>
      <key>khiro-coptic</key>
      <string>uni2CE9</string>
      <key>ksi-coptic</key>
      <string>uni2C9D</string>
      <key>laula-coptic</key>
      <string>uni2C97</string>
      <key>lowernumeral-greek</key>
      <string>uni0375</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>macronlefthalfcomb</key>
      <string>uniFE24</string>
      <key>macronlefthalfcomb.cap</key>
      <string>uniFE24.cap</string>
      <key>macronrighthalfcomb</key>
      <string>uniFE25</string>
      <key>macronrighthalfcomb.cap</key>
      <string>uniFE25.cap</string>
      <key>mi-coptic</key>
      <string>uni2C99</string>
      <key>miro-coptic</key>
      <string>uni2CE5</string>
      <key>morphologicaldivider-coptic</key>
      <string>uni2CFF</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>ngi-nubian</key>
      <string>uni2CDF</string>
      <key>ni-coptic</key>
      <string>uni2C9B</string>
      <key>nicomb-coptic</key>
      <string>nicombcoptic</string>
      <key>numbermark-ar</key>
      <string>uni0605</string>
      <key>numbermark-ar.extrawide</key>
      <string>uni0605.extrawide</string>
      <key>numbermark-ar.semiwide</key>
      <string>uni0605.semiwide</string>
      <key>numbermark-ar.wide</key>
      <string>uni0605.wide</string>
      <key>numeral-greek</key>
      <string>uni0374</string>
      <key>nyi-nubian</key>
      <string>uni2CE1</string>
      <key>o-coptic</key>
      <string>uni2C9F</string>
      <key>onehalf-coptic</key>
      <string>uni2CFD</string>
      <key>oou-coptic</key>
      <string>uni2CB1</string>
      <key>oouOld-coptic</key>
      <string>uni2CBF</string>
      <key>overlinecomb</key>
      <string>uni0305</string>
      <key>overlinecomb.cap</key>
      <string>uni0305.cap</string>
      <key>overlinecomb.large</key>
      <string>uni0305.large</string>
      <key>overlinecomb.large.cap</key>
      <string>uni0305.large.cap</string>
      <key>overlinecomb.medium</key>
      <string>uni0305.medium</string>
      <key>overlinecomb.medium.cap</key>
      <string>uni0305.medium.cap</string>
      <key>overlinecomb.small</key>
      <string>uni0305.small</string>
      <key>overlinecomb.small.cap</key>
      <string>uni0305.small.cap</string>
      <key>overlinecomb.xlarge</key>
      <string>uni0305.xlarge</string>
      <key>overlinecomb.xlarge.cap</key>
      <string>uni0305.xlarge.cap</string>
      <key>overlinecomb.xxlarge</key>
      <string>uni0305.xxlarge</string>
      <key>overlinecomb.xxlarge.cap</key>
      <string>uni0305.xxlarge.cap</string>
      <key>pi-coptic</key>
      <string>uni2CA1</string>
      <key>piro-coptic</key>
      <string>uni2CE6</string>
      <key>psi-coptic</key>
      <string>uni2CAF</string>
      <key>raisedcomma</key>
      <string>uni2E34</string>
      <key>raiseddot</key>
      <string>uni2E33</string>
      <key>ro-coptic</key>
      <string>uni2CA3</string>
      <key>sampi-coptic</key>
      <string>uni2CC1</string>
      <key>shei-coptic</key>
      <string>uni03E3</string>
      <key>sheiCrossed-coptic</key>
      <string>uni2CC3</string>
      <key>sheiCryptogrammic-coptic</key>
      <string>uni2CEC</string>
      <key>sheiOld-coptic</key>
      <string>uni2CC5</string>
      <key>shima-coptic</key>
      <string>uni03ED</string>
      <key>shima-nubian</key>
      <string>uni2CDD</string>
      <key>shimaOld-coptic</key>
      <string>uni2CDB</string>
      <key>shimasima-coptic</key>
      <string>uni2CEA</string>
      <key>sima-coptic</key>
      <string>uni2CA5</string>
      <key>sou-coptic</key>
      <string>uni2C8B</string>
      <key>stauros-coptic</key>
      <string>uni2CE7</string>
      <key>swungdash</key>
      <string>uni2053</string>
      <key>tau-coptic</key>
      <string>uni2CA7</string>
      <key>tauro-coptic</key>
      <string>uni2CE8</string>
      <key>thethe-coptic</key>
      <string>uni2C91</string>
      <key>threedotpunctuation</key>
      <string>uni2056</string>
      <key>ua-coptic</key>
      <string>uni2CA9</string>
      <key>versedivider-nubian</key>
      <string>uni2CFC</string>
      <key>vida-coptic</key>
      <string>uni2C83</string>
      <key>wau-nubian</key>
      <string>uni2CE3</string>
      <key>zata-coptic</key>
      <string>uni2C8D</string>
    </dict>
  </dict>
</plist>
