<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10350</key>
    <string>u10350.glif</string>
    <key>u10351</key>
    <string>u10351.glif</string>
    <key>u10352</key>
    <string>u10352.glif</string>
    <key>u10353</key>
    <string>u10353.glif</string>
    <key>u10354</key>
    <string>u10354.glif</string>
    <key>u10355</key>
    <string>u10355.glif</string>
    <key>u10356</key>
    <string>u10356.glif</string>
    <key>u10357</key>
    <string>u10357.glif</string>
    <key>u10358</key>
    <string>u10358.glif</string>
    <key>u10359</key>
    <string>u10359.glif</string>
    <key>u1035A</key>
    <string>u1035A_.glif</string>
    <key>u1035B</key>
    <string>u1035B_.glif</string>
    <key>u1035C</key>
    <string>u1035C_.glif</string>
    <key>u1035D</key>
    <string>u1035D_.glif</string>
    <key>u1035E</key>
    <string>u1035E_.glif</string>
    <key>u1035F</key>
    <string>u1035F_.glif</string>
    <key>u10360</key>
    <string>u10360.glif</string>
    <key>u10361</key>
    <string>u10361.glif</string>
    <key>u10362</key>
    <string>u10362.glif</string>
    <key>u10363</key>
    <string>u10363.glif</string>
    <key>u10364</key>
    <string>u10364.glif</string>
    <key>u10365</key>
    <string>u10365.glif</string>
    <key>u10366</key>
    <string>u10366.glif</string>
    <key>u10367</key>
    <string>u10367.glif</string>
    <key>u10368</key>
    <string>u10368.glif</string>
    <key>u10369</key>
    <string>u10369.glif</string>
    <key>u1036A</key>
    <string>u1036A_.glif</string>
    <key>u1036B</key>
    <string>u1036B_.glif</string>
    <key>u1036C</key>
    <string>u1036C_.glif</string>
    <key>u1036D</key>
    <string>u1036D_.glif</string>
    <key>u1036E</key>
    <string>u1036E_.glif</string>
    <key>u1036F</key>
    <string>u1036F_.glif</string>
    <key>u10370</key>
    <string>u10370.glif</string>
    <key>u10371</key>
    <string>u10371.glif</string>
    <key>u10372</key>
    <string>u10372.glif</string>
    <key>u10373</key>
    <string>u10373.glif</string>
    <key>u10374</key>
    <string>u10374.glif</string>
    <key>u10375</key>
    <string>u10375.glif</string>
    <key>u10376</key>
    <string>u10376.glif</string>
    <key>u10377</key>
    <string>u10377.glif</string>
    <key>u10378</key>
    <string>u10378.glif</string>
    <key>u10379</key>
    <string>u10379.glif</string>
    <key>u1037A</key>
    <string>u1037A_.glif</string>
    <key>uni0300</key>
    <string>uni0300.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni0313</key>
    <string>uni0313.glif</string>
    <key>uni0483</key>
    <string>uni0483.glif</string>
    <key>uni20DB</key>
    <string>uni20D_B_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
