<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1FAED112-D442-4693-91CF-59296FEFF074</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nbspace</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10350</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10351</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10352</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10353</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10354</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10355</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10356</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10357</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10358</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10359</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1035A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1035B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1035C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1035D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1035E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1035F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10360</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10361</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10362</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10363</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10364</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10365</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10366</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10367</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10368</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10369</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1036A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1036B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1036C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1036D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1036E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1036F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10370</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10371</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10372</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10373</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10374</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10375</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10376</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10377</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10378</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10379</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1037A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0300</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0306</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0307</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0308</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0313</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0483</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni20DB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
