<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSerifKhmer-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Khmer 28-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Khmer GSUB.txt</string>
	</dict>
	
	<key>NotoSerifKhmer-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Khmer 94-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Khmer GSUB.txt</string>
	</dict>

	<key>NotoSerifKhmer-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Khmer 194-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Khmer GSUB.txt</string>
	</dict>

	<key>NotoSerifKhmer-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Khmer 28-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Khmer GSUB.txt</string>
	</dict>
		
	<key>NotoSerifKhmer-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Khmer 94-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Khmer GSUB.txt</string>
	</dict>
		
	<key>NotoSerifKhmer-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Khmer 194-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Khmer GSUB.txt</string>
	</dict>
		
</dict>
</plist>

