<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>AinOld-coptic</key>
    <string>A_inO_ld-coptic.glif</string>
    <key>AlefDialectP-coptic</key>
    <string>A_lefD_ialectP_-coptic.glif</string>
    <key>Alfa-coptic</key>
    <string>A_lfa-coptic.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Cryptogrammiceie-coptic</key>
    <string>C_ryptogrammiceie-coptic.glif</string>
    <key>Cryptogrammicni-coptic</key>
    <string>C_ryptogrammicni-coptic.glif</string>
    <key>Dalda-coptic</key>
    <string>D_alda-coptic.glif</string>
    <key>Dei-coptic</key>
    <string>D_ei-coptic.glif</string>
    <key>DjaOld-coptic</key>
    <string>D_jaO_ld-coptic.glif</string>
    <key>Eie-coptic</key>
    <string>E_ie-coptic.glif</string>
    <key>EshOld-coptic</key>
    <string>E_shO_ld-coptic.glif</string>
    <key>Fei-coptic</key>
    <string>F_ei-coptic.glif</string>
    <key>Fi-coptic</key>
    <string>F_i-coptic.glif</string>
    <key>Gamma-coptic</key>
    <string>G_amma-coptic.glif</string>
    <key>Gangia-coptic</key>
    <string>G_angia-coptic.glif</string>
    <key>GangiaCryptogrammic-coptic</key>
    <string>G_angiaC_ryptogrammic-coptic.glif</string>
    <key>GangiaOld-coptic</key>
    <string>G_angiaO_ld-coptic.glif</string>
    <key>HaLshaped-coptic</key>
    <string>H_aL_shaped-coptic.glif</string>
    <key>HaOld-coptic</key>
    <string>H_aO_ld-coptic.glif</string>
    <key>HatOld-coptic</key>
    <string>H_atO_ld-coptic.glif</string>
    <key>Hate-coptic</key>
    <string>H_ate-coptic.glif</string>
    <key>HeiOld-coptic</key>
    <string>H_eiO_ld-coptic.glif</string>
    <key>Hori-coptic</key>
    <string>H_ori-coptic.glif</string>
    <key>HoriDialectP-coptic</key>
    <string>H_oriD_ialectP_-coptic.glif</string>
    <key>HoriOld-coptic</key>
    <string>H_oriO_ld-coptic.glif</string>
    <key>Iauda-coptic</key>
    <string>I_auda-coptic.glif</string>
    <key>Kapa-coptic</key>
    <string>K_apa-coptic.glif</string>
    <key>Khei-coptic</key>
    <string>K_hei-coptic.glif</string>
    <key>KheiAkhmimic-coptic</key>
    <string>K_heiA_khmimic-coptic.glif</string>
    <key>KheiBohairic-coptic</key>
    <string>K_heiB_ohairic-coptic.glif</string>
    <key>Khi-coptic</key>
    <string>K_hi-coptic.glif</string>
    <key>Ksi-coptic</key>
    <string>K_si-coptic.glif</string>
    <key>Laula-coptic</key>
    <string>L_aula-coptic.glif</string>
    <key>Mi-coptic</key>
    <string>M_i-coptic.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Ngi-nubian</key>
    <string>N_gi-nubian.glif</string>
    <key>Ni-coptic</key>
    <string>N_i-coptic.glif</string>
    <key>Nyi-nubian</key>
    <string>N_yi-nubian.glif</string>
    <key>O-coptic</key>
    <string>O_-coptic.glif</string>
    <key>Oou-coptic</key>
    <string>O_ou-coptic.glif</string>
    <key>OouOld-coptic</key>
    <string>O_ouO_ld-coptic.glif</string>
    <key>Pi-coptic</key>
    <string>P_i-coptic.glif</string>
    <key>Psi-coptic</key>
    <string>P_si-coptic.glif</string>
    <key>Ro-coptic</key>
    <string>R_o-coptic.glif</string>
    <key>Sampi-coptic</key>
    <string>S_ampi-coptic.glif</string>
    <key>Shei-coptic</key>
    <string>S_hei-coptic.glif</string>
    <key>SheiCrossed-coptic</key>
    <string>S_heiC_rossed-coptic.glif</string>
    <key>SheiCryptogrammic-coptic</key>
    <string>S_heiC_ryptogrammic-coptic.glif</string>
    <key>SheiOld-coptic</key>
    <string>S_heiO_ld-coptic.glif</string>
    <key>Shima-coptic</key>
    <string>S_hima-coptic.glif</string>
    <key>Shima-nubian</key>
    <string>S_hima-nubian.glif</string>
    <key>ShimaOld-coptic</key>
    <string>S_himaO_ld-coptic.glif</string>
    <key>Sima-coptic</key>
    <string>S_ima-coptic.glif</string>
    <key>Sou-coptic</key>
    <string>S_ou-coptic.glif</string>
    <key>Tau-coptic</key>
    <string>T_au-coptic.glif</string>
    <key>Thethe-coptic</key>
    <string>T_hethe-coptic.glif</string>
    <key>Ua-coptic</key>
    <string>U_a-coptic.glif</string>
    <key>Vida-coptic</key>
    <string>V_ida-coptic.glif</string>
    <key>Wau-nubian</key>
    <string>W_au-nubian.glif</string>
    <key>Zata-coptic</key>
    <string>Z_ata-coptic.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ainOld-coptic</key>
    <string>ainO_ld-coptic.glif</string>
    <key>alefDialectP-coptic</key>
    <string>alefD_ialectP_-coptic.glif</string>
    <key>alfa-coptic</key>
    <string>alfa-coptic.glif</string>
    <key>breveinvertedcomb</key>
    <string>breveinvertedcomb.glif</string>
    <key>breveinverteddoublecomb</key>
    <string>breveinverteddoublecomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>conjoiningmacroncomb</key>
    <string>conjoiningmacroncomb.glif</string>
    <key>conjoiningmacroncomb.cap</key>
    <string>conjoiningmacroncomb.cap.glif</string>
    <key>conjoiningmacroncomb.large</key>
    <string>conjoiningmacroncomb.large.glif</string>
    <key>conjoiningmacroncomb.large.cap</key>
    <string>conjoiningmacroncomb.large.cap.glif</string>
    <key>conjoiningmacroncomb.medium</key>
    <string>conjoiningmacroncomb.medium.glif</string>
    <key>conjoiningmacroncomb.medium.cap</key>
    <string>conjoiningmacroncomb.medium.cap.glif</string>
    <key>conjoiningmacroncomb.small</key>
    <string>conjoiningmacroncomb.small.glif</string>
    <key>conjoiningmacroncomb.small.cap</key>
    <string>conjoiningmacroncomb.small.cap.glif</string>
    <key>conjoiningmacroncomb.xlarge</key>
    <string>conjoiningmacroncomb.xlarge.glif</string>
    <key>conjoiningmacroncomb.xlarge.cap</key>
    <string>conjoiningmacroncomb.xlarge.cap.glif</string>
    <key>conjoiningmacroncomb.xxlarge</key>
    <string>conjoiningmacroncomb.xxlarge.glif</string>
    <key>conjoiningmacroncomb.xxlarge.cap</key>
    <string>conjoiningmacroncomb.xxlarge.cap.glif</string>
    <key>cryptogrammiceie-coptic</key>
    <string>cryptogrammiceie-coptic.glif</string>
    <key>cryptogrammicni-coptic</key>
    <string>cryptogrammicni-coptic.glif</string>
    <key>dalda-coptic</key>
    <string>dalda-coptic.glif</string>
    <key>dbloverlinecomb</key>
    <string>dbloverlinecomb.glif</string>
    <key>dbloverlinecomb.cap</key>
    <string>dbloverlinecomb.cap.glif</string>
    <key>dbloverlinecomb.large</key>
    <string>dbloverlinecomb.large.glif</string>
    <key>dbloverlinecomb.large.cap</key>
    <string>dbloverlinecomb.large.cap.glif</string>
    <key>dbloverlinecomb.medium</key>
    <string>dbloverlinecomb.medium.glif</string>
    <key>dbloverlinecomb.medium.cap</key>
    <string>dbloverlinecomb.medium.cap.glif</string>
    <key>dbloverlinecomb.small</key>
    <string>dbloverlinecomb.small.glif</string>
    <key>dbloverlinecomb.small.cap</key>
    <string>dbloverlinecomb.small.cap.glif</string>
    <key>dbloverlinecomb.xlarge</key>
    <string>dbloverlinecomb.xlarge.glif</string>
    <key>dbloverlinecomb.xlarge.cap</key>
    <string>dbloverlinecomb.xlarge.cap.glif</string>
    <key>dbloverlinecomb.xxlarge</key>
    <string>dbloverlinecomb.xxlarge.glif</string>
    <key>dbloverlinecomb.xxlarge.cap</key>
    <string>dbloverlinecomb.xxlarge.cap.glif</string>
    <key>dei-coptic</key>
    <string>dei-coptic.glif</string>
    <key>dialectPkapa-coptic</key>
    <string>dialectP_kapa-coptic.glif</string>
    <key>dialectPni-coptic</key>
    <string>dialectP_ni-coptic.glif</string>
    <key>dialectpkapa-coptic</key>
    <string>dialectpkapa-coptic.glif</string>
    <key>dialectpni-coptic</key>
    <string>dialectpni-coptic.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>directquestion-nubian</key>
    <string>directquestion-nubian.glif</string>
    <key>djaOld-coptic</key>
    <string>djaO_ld-coptic.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>doublecircumflexcomb</key>
    <string>doublecircumflexcomb.glif</string>
    <key>doublemacroncomb</key>
    <string>doublemacroncomb.glif</string>
    <key>doubleobliquehyphen</key>
    <string>doubleobliquehyphen.glif</string>
    <key>eie-coptic</key>
    <string>eie-coptic.glif</string>
    <key>eshOld-coptic</key>
    <string>eshO_ld-coptic.glif</string>
    <key>fei-coptic</key>
    <string>fei-coptic.glif</string>
    <key>fi-coptic</key>
    <string>fi-coptic.glif</string>
    <key>fivedotpunctuation</key>
    <string>fivedotpunctuation.glif</string>
    <key>fourdotpunctuation</key>
    <string>fourdotpunctuation.glif</string>
    <key>fullstop-coptic</key>
    <string>fullstop-coptic.glif</string>
    <key>fullstop-nubian</key>
    <string>fullstop-nubian.glif</string>
    <key>gamma-coptic</key>
    <string>gamma-coptic.glif</string>
    <key>gangia-coptic</key>
    <string>gangia-coptic.glif</string>
    <key>gangiaCryptogrammic-coptic</key>
    <string>gangiaC_ryptogrammic-coptic.glif</string>
    <key>gangiaOld-coptic</key>
    <string>gangiaO_ld-coptic.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>haLshaped-coptic</key>
    <string>haL_shaped-coptic.glif</string>
    <key>haOld-coptic</key>
    <string>haO_ld-coptic.glif</string>
    <key>hatOld-coptic</key>
    <string>hatO_ld-coptic.glif</string>
    <key>hate-coptic</key>
    <string>hate-coptic.glif</string>
    <key>heiOld-coptic</key>
    <string>heiO_ld-coptic.glif</string>
    <key>hori-coptic</key>
    <string>hori-coptic.glif</string>
    <key>horiDialectP-coptic</key>
    <string>horiD_ialectP_-coptic.glif</string>
    <key>horiOld-coptic</key>
    <string>horiO_ld-coptic.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>iauda-coptic</key>
    <string>iauda-coptic.glif</string>
    <key>indirectquestion-nubian</key>
    <string>indirectquestion-nubian.glif</string>
    <key>kai-coptic</key>
    <string>kai-coptic.glif</string>
    <key>kapa-coptic</key>
    <string>kapa-coptic.glif</string>
    <key>khei-coptic</key>
    <string>khei-coptic.glif</string>
    <key>kheiAkhmimic-coptic</key>
    <string>kheiA_khmimic-coptic.glif</string>
    <key>kheiBohairic-coptic</key>
    <string>kheiB_ohairic-coptic.glif</string>
    <key>khi-coptic</key>
    <string>khi-coptic.glif</string>
    <key>khiro-coptic</key>
    <string>khiro-coptic.glif</string>
    <key>ksi-coptic</key>
    <string>ksi-coptic.glif</string>
    <key>laula-coptic</key>
    <string>laula-coptic.glif</string>
    <key>lowernumeral-greek</key>
    <string>lowernumeral-greek.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macronlefthalfcomb</key>
    <string>macronlefthalfcomb.glif</string>
    <key>macronlefthalfcomb.cap</key>
    <string>macronlefthalfcomb.cap.glif</string>
    <key>macronrighthalfcomb</key>
    <string>macronrighthalfcomb.glif</string>
    <key>macronrighthalfcomb.cap</key>
    <string>macronrighthalfcomb.cap.glif</string>
    <key>mi-coptic</key>
    <string>mi-coptic.glif</string>
    <key>miro-coptic</key>
    <string>miro-coptic.glif</string>
    <key>morphologicaldivider-coptic</key>
    <string>morphologicaldivider-coptic.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ngi-nubian</key>
    <string>ngi-nubian.glif</string>
    <key>ni-coptic</key>
    <string>ni-coptic.glif</string>
    <key>nicomb-coptic</key>
    <string>nicomb-coptic.glif</string>
    <key>numbermark-ar</key>
    <string>numbermark-ar.glif</string>
    <key>numbermark-ar.extrawide</key>
    <string>numbermark-ar.extrawide.glif</string>
    <key>numbermark-ar.semiwide</key>
    <string>numbermark-ar.semiwide.glif</string>
    <key>numbermark-ar.wide</key>
    <string>numbermark-ar.wide.glif</string>
    <key>numeral-greek</key>
    <string>numeral-greek.glif</string>
    <key>nyi-nubian</key>
    <string>nyi-nubian.glif</string>
    <key>o-coptic</key>
    <string>o-coptic.glif</string>
    <key>onehalf-coptic</key>
    <string>onehalf-coptic.glif</string>
    <key>oou-coptic</key>
    <string>oou-coptic.glif</string>
    <key>oouOld-coptic</key>
    <string>oouO_ld-coptic.glif</string>
    <key>overlinecomb</key>
    <string>overlinecomb.glif</string>
    <key>overlinecomb.cap</key>
    <string>overlinecomb.cap.glif</string>
    <key>overlinecomb.large</key>
    <string>overlinecomb.large.glif</string>
    <key>overlinecomb.large.cap</key>
    <string>overlinecomb.large.cap.glif</string>
    <key>overlinecomb.medium</key>
    <string>overlinecomb.medium.glif</string>
    <key>overlinecomb.medium.cap</key>
    <string>overlinecomb.medium.cap.glif</string>
    <key>overlinecomb.small</key>
    <string>overlinecomb.small.glif</string>
    <key>overlinecomb.small.cap</key>
    <string>overlinecomb.small.cap.glif</string>
    <key>overlinecomb.xlarge</key>
    <string>overlinecomb.xlarge.glif</string>
    <key>overlinecomb.xlarge.cap</key>
    <string>overlinecomb.xlarge.cap.glif</string>
    <key>overlinecomb.xxlarge</key>
    <string>overlinecomb.xxlarge.glif</string>
    <key>overlinecomb.xxlarge.cap</key>
    <string>overlinecomb.xxlarge.cap.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>pi-coptic</key>
    <string>pi-coptic.glif</string>
    <key>piro-coptic</key>
    <string>piro-coptic.glif</string>
    <key>psi-coptic</key>
    <string>psi-coptic.glif</string>
    <key>raisedcomma</key>
    <string>raisedcomma.glif</string>
    <key>raiseddot</key>
    <string>raiseddot.glif</string>
    <key>ro-coptic</key>
    <string>ro-coptic.glif</string>
    <key>sampi-coptic</key>
    <string>sampi-coptic.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>shei-coptic</key>
    <string>shei-coptic.glif</string>
    <key>sheiCrossed-coptic</key>
    <string>sheiC_rossed-coptic.glif</string>
    <key>sheiCryptogrammic-coptic</key>
    <string>sheiC_ryptogrammic-coptic.glif</string>
    <key>sheiOld-coptic</key>
    <string>sheiO_ld-coptic.glif</string>
    <key>shima-coptic</key>
    <string>shima-coptic.glif</string>
    <key>shima-nubian</key>
    <string>shima-nubian.glif</string>
    <key>shimaOld-coptic</key>
    <string>shimaO_ld-coptic.glif</string>
    <key>shimasima-coptic</key>
    <string>shimasima-coptic.glif</string>
    <key>sima-coptic</key>
    <string>sima-coptic.glif</string>
    <key>sou-coptic</key>
    <string>sou-coptic.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>spiritusaspercomb</key>
    <string>spiritusaspercomb.glif</string>
    <key>spiritusleniscomb</key>
    <string>spiritusleniscomb.glif</string>
    <key>stauros-coptic</key>
    <string>stauros-coptic.glif</string>
    <key>swungdash</key>
    <string>swungdash.glif</string>
    <key>tau-coptic</key>
    <string>tau-coptic.glif</string>
    <key>tauro-coptic</key>
    <string>tauro-coptic.glif</string>
    <key>thethe-coptic</key>
    <string>thethe-coptic.glif</string>
    <key>threedotpunctuation</key>
    <string>threedotpunctuation.glif</string>
    <key>u102E0</key>
    <string>u102E_0.glif</string>
    <key>u102E1</key>
    <string>u102E_1.glif</string>
    <key>u102E2</key>
    <string>u102E_2.glif</string>
    <key>u102E3</key>
    <string>u102E_3.glif</string>
    <key>u102E4</key>
    <string>u102E_4.glif</string>
    <key>u102E5</key>
    <string>u102E_5.glif</string>
    <key>u102E6</key>
    <string>u102E_6.glif</string>
    <key>u102E7</key>
    <string>u102E_7.glif</string>
    <key>u102E8</key>
    <string>u102E_8.glif</string>
    <key>u102E9</key>
    <string>u102E_9.glif</string>
    <key>u102EA</key>
    <string>u102E_A_.glif</string>
    <key>u102EB</key>
    <string>u102E_B_.glif</string>
    <key>u102EC</key>
    <string>u102E_C_.glif</string>
    <key>u102ED</key>
    <string>u102E_D_.glif</string>
    <key>u102EE</key>
    <string>u102E_E_.glif</string>
    <key>u102EF</key>
    <string>u102E_F_.glif</string>
    <key>u102F0</key>
    <string>u102F_0.glif</string>
    <key>u102F1</key>
    <string>u102F_1.glif</string>
    <key>u102F2</key>
    <string>u102F_2.glif</string>
    <key>u102F3</key>
    <string>u102F_3.glif</string>
    <key>u102F4</key>
    <string>u102F_4.glif</string>
    <key>u102F5</key>
    <string>u102F_5.glif</string>
    <key>u102F6</key>
    <string>u102F_6.glif</string>
    <key>u102F7</key>
    <string>u102F_7.glif</string>
    <key>u102F8</key>
    <string>u102F_8.glif</string>
    <key>u102F9</key>
    <string>u102F_9.glif</string>
    <key>u102FA</key>
    <string>u102F_A_.glif</string>
    <key>u102FB</key>
    <string>u102F_B_.glif</string>
    <key>ua-coptic</key>
    <string>ua-coptic.glif</string>
    <key>versedivider-nubian</key>
    <string>versedivider-nubian.glif</string>
    <key>vida-coptic</key>
    <string>vida-coptic.glif</string>
    <key>wau-nubian</key>
    <string>wau-nubian.glif</string>
    <key>zata-coptic</key>
    <string>zata-coptic.glif</string>
  </dict>
</plist>
