<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u102E0</key>
    <string>u102E_0.glif</string>
    <key>u102E1</key>
    <string>u102E_1.glif</string>
    <key>u102E2</key>
    <string>u102E_2.glif</string>
    <key>u102E3</key>
    <string>u102E_3.glif</string>
    <key>u102E4</key>
    <string>u102E_4.glif</string>
    <key>u102E5</key>
    <string>u102E_5.glif</string>
    <key>u102E6</key>
    <string>u102E_6.glif</string>
    <key>u102E7</key>
    <string>u102E_7.glif</string>
    <key>u102E8</key>
    <string>u102E_8.glif</string>
    <key>u102E9</key>
    <string>u102E_9.glif</string>
    <key>u102EA</key>
    <string>u102E_A_.glif</string>
    <key>u102EB</key>
    <string>u102E_B_.glif</string>
    <key>u102EC</key>
    <string>u102E_C_.glif</string>
    <key>u102ED</key>
    <string>u102E_D_.glif</string>
    <key>u102EE</key>
    <string>u102E_E_.glif</string>
    <key>u102EF</key>
    <string>u102E_F_.glif</string>
    <key>u102F0</key>
    <string>u102F_0.glif</string>
    <key>u102F1</key>
    <string>u102F_1.glif</string>
    <key>u102F2</key>
    <string>u102F_2.glif</string>
    <key>u102F3</key>
    <string>u102F_3.glif</string>
    <key>u102F4</key>
    <string>u102F_4.glif</string>
    <key>u102F5</key>
    <string>u102F_5.glif</string>
    <key>u102F6</key>
    <string>u102F_6.glif</string>
    <key>u102F7</key>
    <string>u102F_7.glif</string>
    <key>u102F8</key>
    <string>u102F_8.glif</string>
    <key>u102F9</key>
    <string>u102F_9.glif</string>
    <key>u102FA</key>
    <string>u102F_A_.glif</string>
    <key>u102FB</key>
    <string>u102F_B_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0300</key>
    <string>uni0300.glif</string>
    <key>uni0301</key>
    <string>uni0301.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0305</key>
    <string>uni0305.glif</string>
    <key>uni0305.cap</key>
    <string>uni0305.cap.glif</string>
    <key>uni0305_large</key>
    <string>uni0305_large.glif</string>
    <key>uni0305_large.cap</key>
    <string>uni0305_large.cap.glif</string>
    <key>uni0305_medium</key>
    <string>uni0305_medium.glif</string>
    <key>uni0305_medium.cap</key>
    <string>uni0305_medium.cap.glif</string>
    <key>uni0305_small</key>
    <string>uni0305_small.glif</string>
    <key>uni0305_small.cap</key>
    <string>uni0305_small.cap.glif</string>
    <key>uni0305_xlarge</key>
    <string>uni0305_xlarge.glif</string>
    <key>uni0305_xlarge.cap</key>
    <string>uni0305_xlarge.cap.glif</string>
    <key>uni0305_xxlarge</key>
    <string>uni0305_xxlarge.glif</string>
    <key>uni0305_xxlarge.cap</key>
    <string>uni0305_xxlarge.cap.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni0323</key>
    <string>uni0323.glif</string>
    <key>uni033F</key>
    <string>uni033F_.glif</string>
    <key>uni033F.cap</key>
    <string>uni033F_.cap.glif</string>
    <key>uni033F.large</key>
    <string>uni033F_.large.glif</string>
    <key>uni033F.large.cap</key>
    <string>uni033F_.large.cap.glif</string>
    <key>uni033F.medium</key>
    <string>uni033F_.medium.glif</string>
    <key>uni033F.medium.cap</key>
    <string>uni033F_.medium.cap.glif</string>
    <key>uni033F.small</key>
    <string>uni033F_.small.glif</string>
    <key>uni033F.small.cap</key>
    <string>uni033F_.small.cap.glif</string>
    <key>uni033F.xlarge</key>
    <string>uni033F_.xlarge.glif</string>
    <key>uni033F.xlarge.cap</key>
    <string>uni033F_.xlarge.cap.glif</string>
    <key>uni033F.xxlarge</key>
    <string>uni033F_.xxlarge.glif</string>
    <key>uni033F.xxlarge.cap</key>
    <string>uni033F_.xxlarge.cap.glif</string>
    <key>uni0361</key>
    <string>uni0361.glif</string>
    <key>uni0374</key>
    <string>uni0374.glif</string>
    <key>uni0375</key>
    <string>uni0375.glif</string>
    <key>uni03E2</key>
    <string>uni03E_2.glif</string>
    <key>uni03E3</key>
    <string>uni03E_3.glif</string>
    <key>uni03E4</key>
    <string>uni03E_4.glif</string>
    <key>uni03E5</key>
    <string>uni03E_5.glif</string>
    <key>uni03E6</key>
    <string>uni03E_6.glif</string>
    <key>uni03E7</key>
    <string>uni03E_7.glif</string>
    <key>uni03E8</key>
    <string>uni03E_8.glif</string>
    <key>uni03E9</key>
    <string>uni03E_9.glif</string>
    <key>uni03EA</key>
    <string>uni03E_A_.glif</string>
    <key>uni03EB</key>
    <string>uni03E_B_.glif</string>
    <key>uni03EC</key>
    <string>uni03E_C_.glif</string>
    <key>uni03ED</key>
    <string>uni03E_D_.glif</string>
    <key>uni03EE</key>
    <string>uni03E_E_.glif</string>
    <key>uni03EF</key>
    <string>uni03E_F_.glif</string>
    <key>uni1DCD</key>
    <string>uni1D_C_D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uni2C80</key>
    <string>uni2C_80.glif</string>
    <key>uni2C81</key>
    <string>uni2C_81.glif</string>
    <key>uni2C82</key>
    <string>uni2C_82.glif</string>
    <key>uni2C83</key>
    <string>uni2C_83.glif</string>
    <key>uni2C84</key>
    <string>uni2C_84.glif</string>
    <key>uni2C85</key>
    <string>uni2C_85.glif</string>
    <key>uni2C86</key>
    <string>uni2C_86.glif</string>
    <key>uni2C87</key>
    <string>uni2C_87.glif</string>
    <key>uni2C88</key>
    <string>uni2C_88.glif</string>
    <key>uni2C89</key>
    <string>uni2C_89.glif</string>
    <key>uni2C8A</key>
    <string>uni2C_8A_.glif</string>
    <key>uni2C8B</key>
    <string>uni2C_8B_.glif</string>
    <key>uni2C8C</key>
    <string>uni2C_8C_.glif</string>
    <key>uni2C8D</key>
    <string>uni2C_8D_.glif</string>
    <key>uni2C8E</key>
    <string>uni2C_8E_.glif</string>
    <key>uni2C8F</key>
    <string>uni2C_8F_.glif</string>
    <key>uni2C90</key>
    <string>uni2C_90.glif</string>
    <key>uni2C91</key>
    <string>uni2C_91.glif</string>
    <key>uni2C92</key>
    <string>uni2C_92.glif</string>
    <key>uni2C93</key>
    <string>uni2C_93.glif</string>
    <key>uni2C94</key>
    <string>uni2C_94.glif</string>
    <key>uni2C95</key>
    <string>uni2C_95.glif</string>
    <key>uni2C96</key>
    <string>uni2C_96.glif</string>
    <key>uni2C97</key>
    <string>uni2C_97.glif</string>
    <key>uni2C98</key>
    <string>uni2C_98.glif</string>
    <key>uni2C99</key>
    <string>uni2C_99.glif</string>
    <key>uni2C9A</key>
    <string>uni2C_9A_.glif</string>
    <key>uni2C9B</key>
    <string>uni2C_9B_.glif</string>
    <key>uni2C9C</key>
    <string>uni2C_9C_.glif</string>
    <key>uni2C9D</key>
    <string>uni2C_9D_.glif</string>
    <key>uni2C9E</key>
    <string>uni2C_9E_.glif</string>
    <key>uni2C9F</key>
    <string>uni2C_9F_.glif</string>
    <key>uni2CA0</key>
    <string>uni2C_A_0.glif</string>
    <key>uni2CA1</key>
    <string>uni2C_A_1.glif</string>
    <key>uni2CA2</key>
    <string>uni2C_A_2.glif</string>
    <key>uni2CA3</key>
    <string>uni2C_A_3.glif</string>
    <key>uni2CA4</key>
    <string>uni2C_A_4.glif</string>
    <key>uni2CA5</key>
    <string>uni2C_A_5.glif</string>
    <key>uni2CA6</key>
    <string>uni2C_A_6.glif</string>
    <key>uni2CA7</key>
    <string>uni2C_A_7.glif</string>
    <key>uni2CA8</key>
    <string>uni2C_A_8.glif</string>
    <key>uni2CA9</key>
    <string>uni2C_A_9.glif</string>
    <key>uni2CAA</key>
    <string>uni2C_A_A_.glif</string>
    <key>uni2CAB</key>
    <string>uni2C_A_B_.glif</string>
    <key>uni2CAC</key>
    <string>uni2C_A_C_.glif</string>
    <key>uni2CAD</key>
    <string>uni2C_A_D_.glif</string>
    <key>uni2CAE</key>
    <string>uni2C_A_E_.glif</string>
    <key>uni2CAF</key>
    <string>uni2C_A_F_.glif</string>
    <key>uni2CB0</key>
    <string>uni2C_B_0.glif</string>
    <key>uni2CB1</key>
    <string>uni2C_B_1.glif</string>
    <key>uni2CB2</key>
    <string>uni2C_B_2.glif</string>
    <key>uni2CB3</key>
    <string>uni2C_B_3.glif</string>
    <key>uni2CB4</key>
    <string>uni2C_B_4.glif</string>
    <key>uni2CB5</key>
    <string>uni2C_B_5.glif</string>
    <key>uni2CB6</key>
    <string>uni2C_B_6.glif</string>
    <key>uni2CB7</key>
    <string>uni2C_B_7.glif</string>
    <key>uni2CB8</key>
    <string>uni2C_B_8.glif</string>
    <key>uni2CB9</key>
    <string>uni2C_B_9.glif</string>
    <key>uni2CBA</key>
    <string>uni2C_B_A_.glif</string>
    <key>uni2CBB</key>
    <string>uni2C_B_B_.glif</string>
    <key>uni2CBC</key>
    <string>uni2C_B_C_.glif</string>
    <key>uni2CBD</key>
    <string>uni2C_B_D_.glif</string>
    <key>uni2CBE</key>
    <string>uni2C_B_E_.glif</string>
    <key>uni2CBF</key>
    <string>uni2C_B_F_.glif</string>
    <key>uni2CC0</key>
    <string>uni2C_C_0.glif</string>
    <key>uni2CC1</key>
    <string>uni2C_C_1.glif</string>
    <key>uni2CC2</key>
    <string>uni2C_C_2.glif</string>
    <key>uni2CC3</key>
    <string>uni2C_C_3.glif</string>
    <key>uni2CC4</key>
    <string>uni2C_C_4.glif</string>
    <key>uni2CC5</key>
    <string>uni2C_C_5.glif</string>
    <key>uni2CC6</key>
    <string>uni2C_C_6.glif</string>
    <key>uni2CC7</key>
    <string>uni2C_C_7.glif</string>
    <key>uni2CC8</key>
    <string>uni2C_C_8.glif</string>
    <key>uni2CC9</key>
    <string>uni2C_C_9.glif</string>
    <key>uni2CCA</key>
    <string>uni2C_C_A_.glif</string>
    <key>uni2CCB</key>
    <string>uni2C_C_B_.glif</string>
    <key>uni2CCC</key>
    <string>uni2C_C_C_.glif</string>
    <key>uni2CCD</key>
    <string>uni2C_C_D_.glif</string>
    <key>uni2CCE</key>
    <string>uni2C_C_E_.glif</string>
    <key>uni2CCF</key>
    <string>uni2C_C_F_.glif</string>
    <key>uni2CD0</key>
    <string>uni2C_D_0.glif</string>
    <key>uni2CD1</key>
    <string>uni2C_D_1.glif</string>
    <key>uni2CD2</key>
    <string>uni2C_D_2.glif</string>
    <key>uni2CD3</key>
    <string>uni2C_D_3.glif</string>
    <key>uni2CD4</key>
    <string>uni2C_D_4.glif</string>
    <key>uni2CD5</key>
    <string>uni2C_D_5.glif</string>
    <key>uni2CD6</key>
    <string>uni2C_D_6.glif</string>
    <key>uni2CD7</key>
    <string>uni2C_D_7.glif</string>
    <key>uni2CD8</key>
    <string>uni2C_D_8.glif</string>
    <key>uni2CD9</key>
    <string>uni2C_D_9.glif</string>
    <key>uni2CDA</key>
    <string>uni2C_D_A_.glif</string>
    <key>uni2CDB</key>
    <string>uni2C_D_B_.glif</string>
    <key>uni2CDC</key>
    <string>uni2C_D_C_.glif</string>
    <key>uni2CDD</key>
    <string>uni2C_D_D_.glif</string>
    <key>uni2CDE</key>
    <string>uni2C_D_E_.glif</string>
    <key>uni2CDF</key>
    <string>uni2C_D_F_.glif</string>
    <key>uni2CE0</key>
    <string>uni2C_E_0.glif</string>
    <key>uni2CE1</key>
    <string>uni2C_E_1.glif</string>
    <key>uni2CE2</key>
    <string>uni2C_E_2.glif</string>
    <key>uni2CE3</key>
    <string>uni2C_E_3.glif</string>
    <key>uni2CE4</key>
    <string>uni2C_E_4.glif</string>
    <key>uni2CE5</key>
    <string>uni2C_E_5.glif</string>
    <key>uni2CE6</key>
    <string>uni2C_E_6.glif</string>
    <key>uni2CE7</key>
    <string>uni2C_E_7.glif</string>
    <key>uni2CE8</key>
    <string>uni2C_E_8.glif</string>
    <key>uni2CE9</key>
    <string>uni2C_E_9.glif</string>
    <key>uni2CEA</key>
    <string>uni2C_E_A_.glif</string>
    <key>uni2CEB</key>
    <string>uni2C_E_B_.glif</string>
    <key>uni2CEC</key>
    <string>uni2C_E_C_.glif</string>
    <key>uni2CED</key>
    <string>uni2C_E_D_.glif</string>
    <key>uni2CEE</key>
    <string>uni2C_E_E_.glif</string>
    <key>uni2CEF</key>
    <string>uni2C_E_F_.glif</string>
    <key>uni2CF0</key>
    <string>uni2C_F_0.glif</string>
    <key>uni2CF1</key>
    <string>uni2C_F_1.glif</string>
    <key>uni2CF2</key>
    <string>uni2C_F_2.glif</string>
    <key>uni2CF3</key>
    <string>uni2C_F_3.glif</string>
    <key>uni2CF9</key>
    <string>uni2C_F_9.glif</string>
    <key>uni2CFA</key>
    <string>uni2C_F_A_.glif</string>
    <key>uni2CFB</key>
    <string>uni2C_F_B_.glif</string>
    <key>uni2CFC</key>
    <string>uni2C_F_C_.glif</string>
    <key>uni2CFD</key>
    <string>uni2C_F_D_.glif</string>
    <key>uni2CFE</key>
    <string>uni2C_F_E_.glif</string>
    <key>uni2CFF</key>
    <string>uni2C_F_F_.glif</string>
    <key>uniFE24</key>
    <string>uniF_E_24.glif</string>
    <key>uniFE24.cap</key>
    <string>uniF_E_24.cap.glif</string>
    <key>uniFE25</key>
    <string>uniF_E_25.glif</string>
    <key>uniFE25.cap</key>
    <string>uniF_E_25.cap.glif</string>
    <key>uniFE26</key>
    <string>uniF_E_26.glif</string>
    <key>uniFE26.cap</key>
    <string>uniF_E_26.cap.glif</string>
    <key>uniFE26.large</key>
    <string>uniF_E_26.large.glif</string>
    <key>uniFE26.large.cap</key>
    <string>uniF_E_26.large.cap.glif</string>
    <key>uniFE26.medium</key>
    <string>uniF_E_26.medium.glif</string>
    <key>uniFE26.medium.cap</key>
    <string>uniF_E_26.medium.cap.glif</string>
    <key>uniFE26.small</key>
    <string>uniF_E_26.small.glif</string>
    <key>uniFE26.small.cap</key>
    <string>uniF_E_26.small.cap.glif</string>
    <key>uniFE26.xlarge</key>
    <string>uniF_E_26.xlarge.glif</string>
    <key>uniFE26.xlarge.cap</key>
    <string>uniF_E_26.xlarge.cap.glif</string>
    <key>uniFE26.xxlarge</key>
    <string>uniF_E_26.xxlarge.glif</string>
    <key>uniFE26.xxlarge.cap</key>
    <string>uniF_E_26.xxlarge.cap.glif</string>
  </dict>
</plist>
