<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102ED</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102FA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102FB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0300</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0301</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0302</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0304</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_large</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_large.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_medium</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_medium.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_small</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_small.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_xlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_xlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_xxlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305_xxlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0307</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0308</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0323</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.large</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.large.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.medium</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.medium.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.small</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.small.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.xlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.xlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.xxlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni033F.xxlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0361</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0374</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0375</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03E2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03E3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03E4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03E5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03E6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03E7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03E8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03E9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03EA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03EB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03EC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03ED</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03EE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni03EF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1DCD</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2010</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C80</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C81</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C82</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C83</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C84</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C85</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C86</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C87</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C88</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C89</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C8A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C8B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C8C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C8D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C8E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C8F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C90</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C91</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C92</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C93</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C94</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C95</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C96</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C97</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C98</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C99</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C9A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C9B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C9C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C9D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C9E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C9F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CA9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CAA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CAB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CAC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CAD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CAE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CAF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CB9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CBA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CBB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CBC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CBD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CBE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CBF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CC9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CCA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CCB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CCC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CCD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CCE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CCF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CD9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CDA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CDB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CDC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CDD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CDE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CDF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CE9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CEA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CEB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CEC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CED</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CEE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CEF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CF0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CF1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CF2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CF3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CF9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CFA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CFB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CFC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CFD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CFE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2CFF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE24</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE24.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE25</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE25.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.large</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.large.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.medium</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.medium.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.small</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.small.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.xlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.xlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.xxlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniFE26.xxlarge.cap</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
