<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AinOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AlefDialectP-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alfa-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cryptogrammiceie-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cryptogrammicni-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dalda-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dei-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.DjaOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eie-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.EshOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Fei-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Fi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gamma-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gangia-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.GangiaCryptogrammic-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.GangiaOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HaLshaped-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HaOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HatOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hate-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HeiOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hori-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HoriDialectP-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HoriOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iauda-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kapa-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Khei-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.KheiAkhmimic-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.KheiBohairic-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Khi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ksi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Laula-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Mi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ngi-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ni-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nyi-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oou-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OouOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Pi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Psi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ro-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sampi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shei-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.SheiCrossed-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.SheiCryptogrammic-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.SheiOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shima-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shima-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ShimaOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sima-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sou-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tau-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thethe-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ua-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Vida-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wau-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zata-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ainOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefDialectP-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alfa-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveinvertedcomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveinverteddoublecomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.large</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.large.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.medium</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.medium.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.small</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.small.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.xlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.xlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.xxlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.conjoiningmacroncomb.xxlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cryptogrammiceie-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cryptogrammicni-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dalda-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.large</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.large.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.medium</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.medium.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.small</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.small.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.xlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.xlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.xxlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbloverlinecomb.xxlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dei-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialectPkapa-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialectPni-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialectpkapa-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialectpni-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.directquestion-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.djaOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccentcomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotbelowcomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dottedCircle</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.doublecircumflexcomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.doublemacroncomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.doubleobliquehyphen</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eie-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eshOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fei-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fivedotpunctuation</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fourdotpunctuation</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fullstop-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fullstop-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gamma-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gangia-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gangiaCryptogrammic-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gangiaOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haLshaped-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hatOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hate-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.heiOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hori-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.horiDialectP-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.horiOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphentwo</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iauda-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indirectquestion-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kai-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kapa-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khei-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kheiAkhmimic-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kheiBohairic-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khiro-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ksi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.laula-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lowernumeral-greek</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronlefthalfcomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronlefthalfcomb.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronrighthalfcomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronrighthalfcomb.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.miro-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.morphologicaldivider-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nbspace</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngi-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ni-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nicomb-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbermark-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbermark-ar.extrawide</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbermark-ar.semiwide</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbermark-ar.wide</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numeral-greek</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nyi-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onehalf-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oou-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oouOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.large</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.large.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.medium</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.medium.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.small</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.small.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.xlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.xlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.xxlarge</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.overlinecomb.xxlarge.cap</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.periodcentered</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.piro-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raisedcomma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raiseddot</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ro-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sampi-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shei-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sheiCrossed-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sheiCryptogrammic-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sheiOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shima-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shima-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shimaOld-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shimasima-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sima-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sou-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.spiritusaspercomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.spiritusleniscomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.stauros-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.swungdash</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tauro-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thethe-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threedotpunctuation</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102E9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102ED</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102EF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102F9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102FA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u102FB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ua-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.versedivider-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vida-coptic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wau-nubian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zata-coptic</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
