<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>a-soyo</key>
    <string>a-soyo.glif</string>
    <key>aFinal-soyo</key>
    <string>aF_inal-soyo.glif</string>
    <key>aSub-soyo</key>
    <string>aS_ub-soyo.glif</string>
    <key>aSub-soyo.2</key>
    <string>aS_ub-soyo.2.glif</string>
    <key>aSub-soyo.3</key>
    <string>aS_ub-soyo.3.glif</string>
    <key>aSub-soyo.ini2</key>
    <string>aS_ub-soyo.ini2.glif</string>
    <key>aSub-soyo.ini3</key>
    <string>aS_ub-soyo.ini3.glif</string>
    <key>aa-soyo</key>
    <string>aa-soyo.glif</string>
    <key>aaSub-soyo</key>
    <string>aaS_ub-soyo.glif</string>
    <key>aaSub-soyo.2</key>
    <string>aaS_ub-soyo.2.glif</string>
    <key>aaSub-soyo.3</key>
    <string>aaS_ub-soyo.3.glif</string>
    <key>aaSub-soyo.ini2</key>
    <string>aaS_ub-soyo.ini2.glif</string>
    <key>aaSub-soyo.ini3</key>
    <string>aaS_ub-soyo.ini3.glif</string>
    <key>aiMatra-soyo</key>
    <string>aiM_atra-soyo.glif</string>
    <key>aiMatra-soyo.open</key>
    <string>aiM_atra-soyo.open.glif</string>
    <key>anusvara-soyo</key>
    <string>anusvara-soyo.glif</string>
    <key>auMatra-soyo</key>
    <string>auM_atra-soyo.glif</string>
    <key>auMatra-soyo.open</key>
    <string>auM_atra-soyo.open.glif</string>
    <key>bFinal-soyo</key>
    <string>bF_inal-soyo.glif</string>
    <key>bFinal-soyo.half</key>
    <string>bF_inal-soyo.half.glif</string>
    <key>ba-soyo</key>
    <string>ba-soyo.glif</string>
    <key>baSub-soyo</key>
    <string>baS_ub-soyo.glif</string>
    <key>baSub-soyo.2</key>
    <string>baS_ub-soyo.2.glif</string>
    <key>baSub-soyo.3</key>
    <string>baS_ub-soyo.3.glif</string>
    <key>baSub-soyo.ini2</key>
    <string>baS_ub-soyo.ini2.glif</string>
    <key>baSub-soyo.ini3</key>
    <string>baS_ub-soyo.ini3.glif</string>
    <key>bha-soyo</key>
    <string>bha-soyo.glif</string>
    <key>bhaSub-soyo</key>
    <string>bhaS_ub-soyo.glif</string>
    <key>bhaSub-soyo.2</key>
    <string>bhaS_ub-soyo.2.glif</string>
    <key>bhaSub-soyo.3</key>
    <string>bhaS_ub-soyo.3.glif</string>
    <key>bhaSub-soyo.ini2</key>
    <string>bhaS_ub-soyo.ini2.glif</string>
    <key>bhaSub-soyo.ini3</key>
    <string>bhaS_ub-soyo.ini3.glif</string>
    <key>ca-soyo</key>
    <string>ca-soyo.glif</string>
    <key>caSub-soyo</key>
    <string>caS_ub-soyo.glif</string>
    <key>caSub-soyo.2</key>
    <string>caS_ub-soyo.2.glif</string>
    <key>caSub-soyo.3</key>
    <string>caS_ub-soyo.3.glif</string>
    <key>caSub-soyo.ini2</key>
    <string>caS_ub-soyo.ini2.glif</string>
    <key>caSub-soyo.ini3</key>
    <string>caS_ub-soyo.ini3.glif</string>
    <key>cha-soyo</key>
    <string>cha-soyo.glif</string>
    <key>chaSub-soyo</key>
    <string>chaS_ub-soyo.glif</string>
    <key>chaSub-soyo.2</key>
    <string>chaS_ub-soyo.2.glif</string>
    <key>chaSub-soyo.3</key>
    <string>chaS_ub-soyo.3.glif</string>
    <key>chaSub-soyo.ini2</key>
    <string>chaS_ub-soyo.ini2.glif</string>
    <key>chaSub-soyo.ini3</key>
    <string>chaS_ub-soyo.ini3.glif</string>
    <key>dFinal-soyo</key>
    <string>dF_inal-soyo.glif</string>
    <key>dFinal-soyo.half</key>
    <string>dF_inal-soyo.half.glif</string>
    <key>da-soyo</key>
    <string>da-soyo.glif</string>
    <key>daSub-soyo</key>
    <string>daS_ub-soyo.glif</string>
    <key>daSub-soyo.2</key>
    <string>daS_ub-soyo.2.glif</string>
    <key>daSub-soyo.3</key>
    <string>daS_ub-soyo.3.glif</string>
    <key>daSub-soyo.ini2</key>
    <string>daS_ub-soyo.ini2.glif</string>
    <key>daSub-soyo.ini3</key>
    <string>daS_ub-soyo.ini3.glif</string>
    <key>dda-soyo</key>
    <string>dda-soyo.glif</string>
    <key>ddaSub-soyo</key>
    <string>ddaS_ub-soyo.glif</string>
    <key>ddaSub-soyo.2</key>
    <string>ddaS_ub-soyo.2.glif</string>
    <key>ddaSub-soyo.3</key>
    <string>ddaS_ub-soyo.3.glif</string>
    <key>ddaSub-soyo.ini2</key>
    <string>ddaS_ub-soyo.ini2.glif</string>
    <key>ddaSub-soyo.ini3</key>
    <string>ddaS_ub-soyo.ini3.glif</string>
    <key>ddha-soyo</key>
    <string>ddha-soyo.glif</string>
    <key>ddhaSub-soyo</key>
    <string>ddhaS_ub-soyo.glif</string>
    <key>ddhaSub-soyo.2</key>
    <string>ddhaS_ub-soyo.2.glif</string>
    <key>ddhaSub-soyo.3</key>
    <string>ddhaS_ub-soyo.3.glif</string>
    <key>ddhaSub-soyo.ini2</key>
    <string>ddhaS_ub-soyo.ini2.glif</string>
    <key>ddhaSub-soyo.ini3</key>
    <string>ddhaS_ub-soyo.ini3.glif</string>
    <key>dha-soyo</key>
    <string>dha-soyo.glif</string>
    <key>dhaSub-soyo</key>
    <string>dhaS_ub-soyo.glif</string>
    <key>dhaSub-soyo.2</key>
    <string>dhaS_ub-soyo.2.glif</string>
    <key>dhaSub-soyo.3</key>
    <string>dhaS_ub-soyo.3.glif</string>
    <key>dhaSub-soyo.ini2</key>
    <string>dhaS_ub-soyo.ini2.glif</string>
    <key>dhaSub-soyo.ini3</key>
    <string>dhaS_ub-soyo.ini3.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>dza-soyo</key>
    <string>dza-soyo.glif</string>
    <key>dzaSub-soyo</key>
    <string>dzaS_ub-soyo.glif</string>
    <key>dzaSub-soyo.2</key>
    <string>dzaS_ub-soyo.2.glif</string>
    <key>dzaSub-soyo.3</key>
    <string>dzaS_ub-soyo.3.glif</string>
    <key>dzaSub-soyo.ini2</key>
    <string>dzaS_ub-soyo.ini2.glif</string>
    <key>dzaSub-soyo.ini3</key>
    <string>dzaS_ub-soyo.ini3.glif</string>
    <key>eMatra-soyo</key>
    <string>eM_atra-soyo.glif</string>
    <key>gFinal-soyo</key>
    <string>gF_inal-soyo.glif</string>
    <key>gFinal-soyo.half</key>
    <string>gF_inal-soyo.half.glif</string>
    <key>ga-soyo</key>
    <string>ga-soyo.glif</string>
    <key>gaSub-soyo</key>
    <string>gaS_ub-soyo.glif</string>
    <key>gaSub-soyo.2</key>
    <string>gaS_ub-soyo.2.glif</string>
    <key>gaSub-soyo.3</key>
    <string>gaS_ub-soyo.3.glif</string>
    <key>gaSub-soyo.ini2</key>
    <string>gaS_ub-soyo.ini2.glif</string>
    <key>gaSub-soyo.ini3</key>
    <string>gaS_ub-soyo.ini3.glif</string>
    <key>gemination-soyo</key>
    <string>gemination-soyo.glif</string>
    <key>gha-soyo</key>
    <string>gha-soyo.glif</string>
    <key>ghaSub-soyo</key>
    <string>ghaS_ub-soyo.glif</string>
    <key>ghaSub-soyo.2</key>
    <string>ghaS_ub-soyo.2.glif</string>
    <key>ghaSub-soyo.3</key>
    <string>ghaS_ub-soyo.3.glif</string>
    <key>ghaSub-soyo.ini2</key>
    <string>ghaS_ub-soyo.ini2.glif</string>
    <key>ghaSub-soyo.ini3</key>
    <string>ghaS_ub-soyo.ini3.glif</string>
    <key>ha-soyo</key>
    <string>ha-soyo.glif</string>
    <key>haSub-soyo</key>
    <string>haS_ub-soyo.glif</string>
    <key>haSub-soyo.2</key>
    <string>haS_ub-soyo.2.glif</string>
    <key>haSub-soyo.3</key>
    <string>haS_ub-soyo.3.glif</string>
    <key>haSub-soyo.ini2</key>
    <string>haS_ub-soyo.ini2.glif</string>
    <key>haSub-soyo.ini3</key>
    <string>haS_ub-soyo.ini3.glif</string>
    <key>head-soyo</key>
    <string>head-soyo.glif</string>
    <key>head-soyo.open</key>
    <string>head-soyo.open.glif</string>
    <key>headMoonSun-soyo</key>
    <string>headM_oonS_un-soyo.glif</string>
    <key>headMoonSunFlame-soyo</key>
    <string>headM_oonS_unF_lame-soyo.glif</string>
    <key>headMoonSunTripleFlame-soyo</key>
    <string>headM_oonS_unT_ripleF_lame-soyo.glif</string>
    <key>headSub-soyo</key>
    <string>headS_ub-soyo.glif</string>
    <key>headSub-soyo.open</key>
    <string>headS_ub-soyo.open.glif</string>
    <key>iMatra-soyo</key>
    <string>iM_atra-soyo.glif</string>
    <key>ja-soyo</key>
    <string>ja-soyo.glif</string>
    <key>jaSub-soyo</key>
    <string>jaS_ub-soyo.glif</string>
    <key>jaSub-soyo.2</key>
    <string>jaS_ub-soyo.2.glif</string>
    <key>jaSub-soyo.3</key>
    <string>jaS_ub-soyo.3.glif</string>
    <key>jaSub-soyo.ini2</key>
    <string>jaS_ub-soyo.ini2.glif</string>
    <key>jaSub-soyo.ini3</key>
    <string>jaS_ub-soyo.ini3.glif</string>
    <key>jha-soyo</key>
    <string>jha-soyo.glif</string>
    <key>jhaSub-soyo</key>
    <string>jhaS_ub-soyo.glif</string>
    <key>jhaSub-soyo.2</key>
    <string>jhaS_ub-soyo.2.glif</string>
    <key>jhaSub-soyo.3</key>
    <string>jhaS_ub-soyo.3.glif</string>
    <key>jhaSub-soyo.ini2</key>
    <string>jhaS_ub-soyo.ini2.glif</string>
    <key>jhaSub-soyo.ini3</key>
    <string>jhaS_ub-soyo.ini3.glif</string>
    <key>jihvamuliya-soyo</key>
    <string>jihvamuliya-soyo.glif</string>
    <key>joiner-soyo.blank</key>
    <string>joiner-soyo.blank.glif</string>
    <key>joiner-soyo.both.nonSpacing</key>
    <string>joiner-soyo.both.nonS_pacing.glif</string>
    <key>joiner-soyo.both.tight</key>
    <string>joiner-soyo.both.tight.glif</string>
    <key>joiner-soyo.mid</key>
    <string>joiner-soyo.mid.glif</string>
    <key>joiner-soyo.right</key>
    <string>joiner-soyo.right.glif</string>
    <key>joiner-soyo.right.tight</key>
    <string>joiner-soyo.right.tight.glif</string>
    <key>kFinal-soyo</key>
    <string>kF_inal-soyo.glif</string>
    <key>kFinal-soyo.half</key>
    <string>kF_inal-soyo.half.glif</string>
    <key>ka-soyo</key>
    <string>ka-soyo.glif</string>
    <key>kaSub-soyo</key>
    <string>kaS_ub-soyo.glif</string>
    <key>kaSub-soyo.2</key>
    <string>kaS_ub-soyo.2.glif</string>
    <key>kaSub-soyo.3</key>
    <string>kaS_ub-soyo.3.glif</string>
    <key>kaSub-soyo.ini2</key>
    <string>kaS_ub-soyo.ini2.glif</string>
    <key>kaSub-soyo.ini3</key>
    <string>kaS_ub-soyo.ini3.glif</string>
    <key>kha-soyo</key>
    <string>kha-soyo.glif</string>
    <key>khaSub-soyo</key>
    <string>khaS_ub-soyo.glif</string>
    <key>khaSub-soyo.2</key>
    <string>khaS_ub-soyo.2.glif</string>
    <key>khaSub-soyo.3</key>
    <string>khaS_ub-soyo.3.glif</string>
    <key>khaSub-soyo.ini2</key>
    <string>khaS_ub-soyo.ini2.glif</string>
    <key>khaSub-soyo.ini3</key>
    <string>khaS_ub-soyo.ini3.glif</string>
    <key>kssa-soyo</key>
    <string>kssa-soyo.glif</string>
    <key>kssaSub-soyo</key>
    <string>kssaS_ub-soyo.glif</string>
    <key>kssaSub-soyo.2</key>
    <string>kssaS_ub-soyo.2.glif</string>
    <key>kssaSub-soyo.3</key>
    <string>kssaS_ub-soyo.3.glif</string>
    <key>kssaSub-soyo.ini2</key>
    <string>kssaS_ub-soyo.ini2.glif</string>
    <key>kssaSub-soyo.ini3</key>
    <string>kssaS_ub-soyo.ini3.glif</string>
    <key>lFinal-soyo</key>
    <string>lF_inal-soyo.glif</string>
    <key>lFinal-soyo.half</key>
    <string>lF_inal-soyo.half.glif</string>
    <key>lVocalicMatra-soyo</key>
    <string>lV_ocalicM_atra-soyo.glif</string>
    <key>lVocalicMatra-soyo.half</key>
    <string>lV_ocalicM_atra-soyo.half.glif</string>
    <key>la-soyo</key>
    <string>la-soyo.glif</string>
    <key>laInitial-soyo</key>
    <string>laI_nitial-soyo.glif</string>
    <key>laSub-soyo</key>
    <string>laS_ub-soyo.glif</string>
    <key>laSub-soyo.2</key>
    <string>laS_ub-soyo.2.glif</string>
    <key>laSub-soyo.3</key>
    <string>laS_ub-soyo.3.glif</string>
    <key>laSub-soyo.ini2</key>
    <string>laS_ub-soyo.ini2.glif</string>
    <key>laSub-soyo.ini3</key>
    <string>laS_ub-soyo.ini3.glif</string>
    <key>mFinal-soyo</key>
    <string>mF_inal-soyo.glif</string>
    <key>mFinal-soyo.half</key>
    <string>mF_inal-soyo.half.glif</string>
    <key>ma-soyo</key>
    <string>ma-soyo.glif</string>
    <key>maSub-soyo</key>
    <string>maS_ub-soyo.glif</string>
    <key>maSub-soyo.2</key>
    <string>maS_ub-soyo.2.glif</string>
    <key>maSub-soyo.3</key>
    <string>maS_ub-soyo.3.glif</string>
    <key>maSub-soyo.ini2</key>
    <string>maS_ub-soyo.ini2.glif</string>
    <key>maSub-soyo.ini3</key>
    <string>maS_ub-soyo.ini3.glif</string>
    <key>nFinal-soyo</key>
    <string>nF_inal-soyo.glif</string>
    <key>nFinal-soyo.half</key>
    <string>nF_inal-soyo.half.glif</string>
    <key>na-soyo</key>
    <string>na-soyo.glif</string>
    <key>naSub-soyo</key>
    <string>naS_ub-soyo.glif</string>
    <key>naSub-soyo.2</key>
    <string>naS_ub-soyo.2.glif</string>
    <key>naSub-soyo.3</key>
    <string>naS_ub-soyo.3.glif</string>
    <key>naSub-soyo.ini2</key>
    <string>naS_ub-soyo.ini2.glif</string>
    <key>naSub-soyo.ini3</key>
    <string>naS_ub-soyo.ini3.glif</string>
    <key>ngFinal-soyo</key>
    <string>ngF_inal-soyo.glif</string>
    <key>ngFinal-soyo.half</key>
    <string>ngF_inal-soyo.half.glif</string>
    <key>nga-soyo</key>
    <string>nga-soyo.glif</string>
    <key>ngaSub-soyo</key>
    <string>ngaS_ub-soyo.glif</string>
    <key>ngaSub-soyo.2</key>
    <string>ngaS_ub-soyo.2.glif</string>
    <key>ngaSub-soyo.3</key>
    <string>ngaS_ub-soyo.3.glif</string>
    <key>ngaSub-soyo.ini2</key>
    <string>ngaS_ub-soyo.ini2.glif</string>
    <key>ngaSub-soyo.ini3</key>
    <string>ngaS_ub-soyo.ini3.glif</string>
    <key>nna-soyo</key>
    <string>nna-soyo.glif</string>
    <key>nnaSub-soyo</key>
    <string>nnaS_ub-soyo.glif</string>
    <key>nnaSub-soyo.2</key>
    <string>nnaS_ub-soyo.2.glif</string>
    <key>nnaSub-soyo.3</key>
    <string>nnaS_ub-soyo.3.glif</string>
    <key>nnaSub-soyo.ini2</key>
    <string>nnaS_ub-soyo.ini2.glif</string>
    <key>nnaSub-soyo.ini3</key>
    <string>nnaS_ub-soyo.ini3.glif</string>
    <key>nya-soyo</key>
    <string>nya-soyo.glif</string>
    <key>nyaSub-soyo</key>
    <string>nyaS_ub-soyo.glif</string>
    <key>nyaSub-soyo.2</key>
    <string>nyaS_ub-soyo.2.glif</string>
    <key>nyaSub-soyo.3</key>
    <string>nyaS_ub-soyo.3.glif</string>
    <key>nyaSub-soyo.ini2</key>
    <string>nyaS_ub-soyo.ini2.glif</string>
    <key>nyaSub-soyo.ini3</key>
    <string>nyaS_ub-soyo.ini3.glif</string>
    <key>oMatra-soyo</key>
    <string>oM_atra-soyo.glif</string>
    <key>oeMatra-soyo</key>
    <string>oeM_atra-soyo.glif</string>
    <key>pa-soyo</key>
    <string>pa-soyo.glif</string>
    <key>paSub-soyo</key>
    <string>paS_ub-soyo.glif</string>
    <key>paSub-soyo.2</key>
    <string>paS_ub-soyo.2.glif</string>
    <key>paSub-soyo.3</key>
    <string>paS_ub-soyo.3.glif</string>
    <key>paSub-soyo.ini2</key>
    <string>paS_ub-soyo.ini2.glif</string>
    <key>paSub-soyo.ini3</key>
    <string>paS_ub-soyo.ini3.glif</string>
    <key>pha-soyo</key>
    <string>pha-soyo.glif</string>
    <key>phaSub-soyo</key>
    <string>phaS_ub-soyo.glif</string>
    <key>phaSub-soyo.2</key>
    <string>phaS_ub-soyo.2.glif</string>
    <key>phaSub-soyo.3</key>
    <string>phaS_ub-soyo.3.glif</string>
    <key>phaSub-soyo.ini2</key>
    <string>phaS_ub-soyo.ini2.glif</string>
    <key>phaSub-soyo.ini3</key>
    <string>phaS_ub-soyo.ini3.glif</string>
    <key>pluta-soyo</key>
    <string>pluta-soyo.glif</string>
    <key>rFinal-soyo</key>
    <string>rF_inal-soyo.glif</string>
    <key>rFinal-soyo.half</key>
    <string>rF_inal-soyo.half.glif</string>
    <key>rVocalicMatra-soyo</key>
    <string>rV_ocalicM_atra-soyo.glif</string>
    <key>rVocalicMatra-soyo.half</key>
    <string>rV_ocalicM_atra-soyo.half.glif</string>
    <key>ra-soyo</key>
    <string>ra-soyo.glif</string>
    <key>raInitial-soyo</key>
    <string>raI_nitial-soyo.glif</string>
    <key>raSub-soyo</key>
    <string>raS_ub-soyo.glif</string>
    <key>raSub-soyo.2</key>
    <string>raS_ub-soyo.2.glif</string>
    <key>raSub-soyo.3</key>
    <string>raS_ub-soyo.3.glif</string>
    <key>raSub-soyo.ini2</key>
    <string>raS_ub-soyo.ini2.glif</string>
    <key>raSub-soyo.ini3</key>
    <string>raS_ub-soyo.ini3.glif</string>
    <key>sFinal-soyo</key>
    <string>sF_inal-soyo.glif</string>
    <key>sFinal-soyo.half</key>
    <string>sF_inal-soyo.half.glif</string>
    <key>sa-soyo</key>
    <string>sa-soyo.glif</string>
    <key>saInitial-soyo</key>
    <string>saI_nitial-soyo.glif</string>
    <key>saSub-soyo</key>
    <string>saS_ub-soyo.glif</string>
    <key>saSub-soyo.2</key>
    <string>saS_ub-soyo.2.glif</string>
    <key>saSub-soyo.3</key>
    <string>saS_ub-soyo.3.glif</string>
    <key>saSub-soyo.ini2</key>
    <string>saS_ub-soyo.ini2.glif</string>
    <key>saSub-soyo.ini3</key>
    <string>saS_ub-soyo.ini3.glif</string>
    <key>shFinal-soyo</key>
    <string>shF_inal-soyo.glif</string>
    <key>shFinal-soyo.half</key>
    <string>shF_inal-soyo.half.glif</string>
    <key>sha-soyo</key>
    <string>sha-soyo.glif</string>
    <key>shaInitial-soyo</key>
    <string>shaI_nitial-soyo.glif</string>
    <key>shaSub-soyo</key>
    <string>shaS_ub-soyo.glif</string>
    <key>shaSub-soyo.2</key>
    <string>shaS_ub-soyo.2.glif</string>
    <key>shaSub-soyo.3</key>
    <string>shaS_ub-soyo.3.glif</string>
    <key>shaSub-soyo.ini2</key>
    <string>shaS_ub-soyo.ini2.glif</string>
    <key>shaSub-soyo.ini3</key>
    <string>shaS_ub-soyo.ini3.glif</string>
    <key>shad-soyo</key>
    <string>shad-soyo.glif</string>
    <key>shaddouble-soyo</key>
    <string>shaddouble-soyo.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssa-soyo</key>
    <string>ssa-soyo.glif</string>
    <key>ssaSub-soyo</key>
    <string>ssaS_ub-soyo.glif</string>
    <key>ssaSub-soyo.2</key>
    <string>ssaS_ub-soyo.2.glif</string>
    <key>ssaSub-soyo.3</key>
    <string>ssaS_ub-soyo.3.glif</string>
    <key>ssaSub-soyo.ini2</key>
    <string>ssaS_ub-soyo.ini2.glif</string>
    <key>ssaSub-soyo.ini3</key>
    <string>ssaS_ub-soyo.ini3.glif</string>
    <key>subjoiner-soyo</key>
    <string>subjoiner-soyo.glif</string>
    <key>ta-soyo</key>
    <string>ta-soyo.glif</string>
    <key>taSub-soyo</key>
    <string>taS_ub-soyo.glif</string>
    <key>taSub-soyo.2</key>
    <string>taS_ub-soyo.2.glif</string>
    <key>taSub-soyo.3</key>
    <string>taS_ub-soyo.3.glif</string>
    <key>taSub-soyo.ini2</key>
    <string>taS_ub-soyo.ini2.glif</string>
    <key>taSub-soyo.ini3</key>
    <string>taS_ub-soyo.ini3.glif</string>
    <key>tail-soyo</key>
    <string>tail-soyo.glif</string>
    <key>tail-soyo.long</key>
    <string>tail-soyo.long.glif</string>
    <key>terminal1-soyo</key>
    <string>terminal1-soyo.glif</string>
    <key>terminal2-soyo</key>
    <string>terminal2-soyo.glif</string>
    <key>tha-soyo</key>
    <string>tha-soyo.glif</string>
    <key>thaSub-soyo</key>
    <string>thaS_ub-soyo.glif</string>
    <key>thaSub-soyo.2</key>
    <string>thaS_ub-soyo.2.glif</string>
    <key>thaSub-soyo.3</key>
    <string>thaS_ub-soyo.3.glif</string>
    <key>thaSub-soyo.ini2</key>
    <string>thaS_ub-soyo.ini2.glif</string>
    <key>thaSub-soyo.ini3</key>
    <string>thaS_ub-soyo.ini3.glif</string>
    <key>tsa-soyo</key>
    <string>tsa-soyo.glif</string>
    <key>tsaSub-soyo</key>
    <string>tsaS_ub-soyo.glif</string>
    <key>tsaSub-soyo.2</key>
    <string>tsaS_ub-soyo.2.glif</string>
    <key>tsaSub-soyo.3</key>
    <string>tsaS_ub-soyo.3.glif</string>
    <key>tsaSub-soyo.ini2</key>
    <string>tsaS_ub-soyo.ini2.glif</string>
    <key>tsaSub-soyo.ini3</key>
    <string>tsaS_ub-soyo.ini3.glif</string>
    <key>tsha-soyo</key>
    <string>tsha-soyo.glif</string>
    <key>tshaSub-soyo</key>
    <string>tshaS_ub-soyo.glif</string>
    <key>tshaSub-soyo.2</key>
    <string>tshaS_ub-soyo.2.glif</string>
    <key>tshaSub-soyo.3</key>
    <string>tshaS_ub-soyo.3.glif</string>
    <key>tshaSub-soyo.ini2</key>
    <string>tshaS_ub-soyo.ini2.glif</string>
    <key>tshaSub-soyo.ini3</key>
    <string>tshaS_ub-soyo.ini3.glif</string>
    <key>tsheg-soyo</key>
    <string>tsheg-soyo.glif</string>
    <key>tta-soyo</key>
    <string>tta-soyo.glif</string>
    <key>ttaSub-soyo</key>
    <string>ttaS_ub-soyo.glif</string>
    <key>ttaSub-soyo.2</key>
    <string>ttaS_ub-soyo.2.glif</string>
    <key>ttaSub-soyo.3</key>
    <string>ttaS_ub-soyo.3.glif</string>
    <key>ttaSub-soyo.ini2</key>
    <string>ttaS_ub-soyo.ini2.glif</string>
    <key>ttaSub-soyo.ini3</key>
    <string>ttaS_ub-soyo.ini3.glif</string>
    <key>ttha-soyo</key>
    <string>ttha-soyo.glif</string>
    <key>tthaSub-soyo</key>
    <string>tthaS_ub-soyo.glif</string>
    <key>tthaSub-soyo.2</key>
    <string>tthaS_ub-soyo.2.glif</string>
    <key>tthaSub-soyo.3</key>
    <string>tthaS_ub-soyo.3.glif</string>
    <key>tthaSub-soyo.ini2</key>
    <string>tthaS_ub-soyo.ini2.glif</string>
    <key>tthaSub-soyo.ini3</key>
    <string>tthaS_ub-soyo.ini3.glif</string>
    <key>uMatra-soyo</key>
    <string>uM_atra-soyo.glif</string>
    <key>uMatra-soyo.half</key>
    <string>uM_atra-soyo.half.glif</string>
    <key>ueMatra-soyo</key>
    <string>ueM_atra-soyo.glif</string>
    <key>ueMatra-soyo.half</key>
    <string>ueM_atra-soyo.half.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>upadhmaniya-soyo</key>
    <string>upadhmaniya-soyo.glif</string>
    <key>va-soyo</key>
    <string>va-soyo.glif</string>
    <key>vaSub-soyo</key>
    <string>vaS_ub-soyo.glif</string>
    <key>vaSub-soyo.2</key>
    <string>vaS_ub-soyo.2.glif</string>
    <key>vaSub-soyo.3</key>
    <string>vaS_ub-soyo.3.glif</string>
    <key>vaSub-soyo.ini2</key>
    <string>vaS_ub-soyo.ini2.glif</string>
    <key>vaSub-soyo.ini3</key>
    <string>vaS_ub-soyo.ini3.glif</string>
    <key>visagra-soyo</key>
    <string>visagra-soyo.glif</string>
    <key>vowelLength-soyo</key>
    <string>vowelL_ength-soyo.glif</string>
    <key>ya-soyo</key>
    <string>ya-soyo.glif</string>
    <key>yaSub-soyo</key>
    <string>yaS_ub-soyo.glif</string>
    <key>yaSub-soyo.2</key>
    <string>yaS_ub-soyo.2.glif</string>
    <key>yaSub-soyo.3</key>
    <string>yaS_ub-soyo.3.glif</string>
    <key>yaSub-soyo.ini2</key>
    <string>yaS_ub-soyo.ini2.glif</string>
    <key>yaSub-soyo.ini3</key>
    <string>yaS_ub-soyo.ini3.glif</string>
    <key>za-soyo</key>
    <string>za-soyo.glif</string>
    <key>zaSub-soyo</key>
    <string>zaS_ub-soyo.glif</string>
    <key>zaSub-soyo.2</key>
    <string>zaS_ub-soyo.2.glif</string>
    <key>zaSub-soyo.3</key>
    <string>zaS_ub-soyo.3.glif</string>
    <key>zaSub-soyo.ini2</key>
    <string>zaS_ub-soyo.ini2.glif</string>
    <key>zaSub-soyo.ini3</key>
    <string>zaS_ub-soyo.ini3.glif</string>
    <key>zha-soyo</key>
    <string>zha-soyo.glif</string>
    <key>zhaSub-soyo</key>
    <string>zhaS_ub-soyo.glif</string>
    <key>zhaSub-soyo.2</key>
    <string>zhaS_ub-soyo.2.glif</string>
    <key>zhaSub-soyo.3</key>
    <string>zhaS_ub-soyo.3.glif</string>
    <key>zhaSub-soyo.ini2</key>
    <string>zhaS_ub-soyo.ini2.glif</string>
    <key>zhaSub-soyo.ini3</key>
    <string>zhaS_ub-soyo.ini3.glif</string>
  </dict>
</plist>
