<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.PUNCT_fullstop_fa.urdu_1ST</key>
		<dict>
			<key>public.kern2.ROHG_avowel_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.ROHG_ba_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.ROHG_ca_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.ROHG_ga_2ND</key>
			<integer>20</integer>
			<key>public.kern2.ROHG_kinnawa_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.ROHG_kinnaya_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.ROHG_la_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.ROHG_nga_2ND</key>
			<integer>-100</integer>
			<key>public.kern2.ROHG_nya_2ND</key>
			<integer>-40</integer>
			<key>public.kern2.ROHG_ovowel_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.ROHG_pa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.ROHG_ra_2ND</key>
			<integer>-100</integer>
			<key>public.kern2.ROHG_rra_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.ROHG_sha_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.ROHG_ta_2ND</key>
			<integer>-40</integer>
			<key>public.kern2.ROHG_tta_2ND</key>
			<integer>-100</integer>
			<key>public.kern2.ROHG_wa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.ROHG_ya_2ND</key>
			<integer>-30</integer>
			<key>public.kern2.ROHG_za_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.PUNCT_guillemotleft_1ST</key>
		<dict>
			<key>public.kern2.ROHG_nga_2ND</key>
			<integer>-30</integer>
			<key>public.kern2.ROHG_nya_2ND</key>
			<integer>30</integer>
			<key>public.kern2.ROHG_ra_2ND</key>
			<integer>-30</integer>
			<key>public.kern2.ROHG_tta_2ND</key>
			<integer>-40</integer>
			<key>public.kern2.ROHG_za_2ND</key>
			<integer>50</integer>
		</dict>
		<key>public.kern1.PUNCT_guillemotright_1ST</key>
		<dict>
			<key>public.kern2.ROHG_nya_2ND</key>
			<integer>40</integer>
			<key>public.kern2.ROHG_ya_2ND</key>
			<integer>40</integer>
			<key>public.kern2.ROHG_za_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_a_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_avowel_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_ba_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>50</integer>
		</dict>
		<key>public.kern1.ROHG_ca_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>20</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>20</integer>
			<key>public.kern2.PUNCT_guillemotright_2ND</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.ROHG_da_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_dda_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_ga_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_ha_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>50</integer>
		</dict>
		<key>public.kern1.ROHG_ka_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.ROHG_kha_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotright_2ND</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.ROHG_kinnawa_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_kinnaya_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_ma_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>-30</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>50</integer>
			<key>public.kern2.PUNCT_guillemotright_2ND</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.ROHG_na_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_ovowel_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.ROHG_pa_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotright_2ND</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.ROHG_ra_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_rra_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_sa_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_sha_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_ta_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>50</integer>
		</dict>
		<key>public.kern1.ROHG_tta_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_wa_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_ya_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.ROHG_za_1ST</key>
		<dict>
			<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
			<integer>40</integer>
			<key>public.kern2.PUNCT_guillemotleft_2ND</key>
			<integer>30</integer>
		</dict>
	</dict>
</plist>
