<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>ECD0676A-FBF7-48B8-827F-9F008F50B5F5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AM_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AM_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ANG_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ANG_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AT_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AT_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.BU_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.BU_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.DA_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.DA_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ENN_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ENN_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ENY_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ENY_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.GA_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.GA_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HAR_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HAR_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HIYO_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HIYO_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HOLO_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HOLO_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HORR_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.HORR_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.II_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.II_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.KO_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.KO_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NGAA_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NUNG_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NUNG_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ODD_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ODD_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.PU_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.PU_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.SII_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.SII_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.SSUU_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.SSUU_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.TTE_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.TTE_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.UC_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.UC_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.UU_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.UU_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.VIYO_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.VIYO_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.WI_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.WI_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.YA_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.YA_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.YO_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.YO_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.YUJ_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.YUJ_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.YU_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.YU_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ZWJ</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ZWNJ</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.am_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.am_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.am_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ang_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ang_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ang_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bu_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bu_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bu_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.da_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.da_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.da_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eighty_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.enn_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.enn_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.enn_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eny_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eny_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eny_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fifty_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.forty_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ga_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ga_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ga_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.har_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.har_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.har_wara.abv.flip</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.har_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hiyo_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hiyo_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hiyo_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.holo_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.holo_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.holo_wara.abv.flip</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.holo_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.horr_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.horr_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.horr_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ii_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ii_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ko_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ko_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ko_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nbspace</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ninety_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nung_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nung_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nung_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odd_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odd_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odd_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.om_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pu_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pu_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pu_wara.abv.flip</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pu_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seventy_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sii_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sii_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sii_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sixty_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ssuu_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ssuu_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ssuu_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ten_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thirty_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tte_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tte_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tte_wara.abv.flip</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tte_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twenty_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uc_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uc_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uc_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uu_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uu_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.viyo_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.viyo_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.viyo_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wi_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wi_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ya_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ya_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yo_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yo_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yu_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yu_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yuj_wara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yuj_wara.abv</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yuj_wara.sm</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero_wara</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
