<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Bold</string>
      <string>glyphs.B_old</string>
    </array>
    <array>
      <string>Bold Condensed</string>
      <string>glyphs.B_old C_ondensed</string>
    </array>
    <array>
      <string>Regular</string>
      <string>glyphs.R_egular</string>
    </array>
    <array>
      <string>SemiBold</string>
      <string>glyphs.S_emiB_old</string>
    </array>
    <array>
      <string>Condensed</string>
      <string>glyphs.C_ondensed</string>
    </array>
    <array>
      <string>SemiBold Condensed</string>
      <string>glyphs.S_emiB_old C_ondensed</string>
    </array>
    <array>
      <string>Light Condensed</string>
      <string>glyphs.L_ight C_ondensed</string>
    </array>
    <array>
      <string>Bold #1</string>
      <string>glyphs.B_old #1</string>
    </array>
    <array>
      <string>Bold Condensed #1</string>
      <string>glyphs.B_old C_ondensed #1</string>
    </array>
    <array>
      <string>Regular #1</string>
      <string>glyphs.R_egular #1</string>
    </array>
    <array>
      <string>SemiBold #1</string>
      <string>glyphs.S_emiB_old #1</string>
    </array>
    <array>
      <string>Condensed #1</string>
      <string>glyphs.C_ondensed #1</string>
    </array>
    <array>
      <string>SemiBold Condensed #1</string>
      <string>glyphs.S_emiB_old C_ondensed #1</string>
    </array>
    <array>
      <string>Light Condensed #1</string>
      <string>glyphs.L_ight C_ondensed #1</string>
    </array>
    <array>
      <string>Bold #2</string>
      <string>glyphs.B_old #2</string>
    </array>
    <array>
      <string>Bold Condensed #2</string>
      <string>glyphs.B_old C_ondensed #2</string>
    </array>
    <array>
      <string>Regular #2</string>
      <string>glyphs.R_egular #2</string>
    </array>
    <array>
      <string>SemiBold #2</string>
      <string>glyphs.S_emiB_old #2</string>
    </array>
    <array>
      <string>Condensed #2</string>
      <string>glyphs.C_ondensed #2</string>
    </array>
    <array>
      <string>SemiBold Condensed #2</string>
      <string>glyphs.S_emiB_old C_ondensed #2</string>
    </array>
    <array>
      <string>Light Condensed #2</string>
      <string>glyphs.L_ight C_ondensed #2</string>
    </array>
    <array>
      <string>Bold #3</string>
      <string>glyphs.B_old #3</string>
    </array>
    <array>
      <string>Bold Condensed #3</string>
      <string>glyphs.B_old C_ondensed #3</string>
    </array>
    <array>
      <string>Regular #3</string>
      <string>glyphs.R_egular #3</string>
    </array>
    <array>
      <string>SemiBold #3</string>
      <string>glyphs.S_emiB_old #3</string>
    </array>
    <array>
      <string>Condensed #3</string>
      <string>glyphs.C_ondensed #3</string>
    </array>
    <array>
      <string>SemiBold Condensed #3</string>
      <string>glyphs.S_emiB_old C_ondensed #3</string>
    </array>
    <array>
      <string>Light Condensed #3</string>
      <string>glyphs.L_ight C_ondensed #3</string>
    </array>
    <array>
      <string>Bold #4</string>
      <string>glyphs.B_old #4</string>
    </array>
    <array>
      <string>Bold Condensed #4</string>
      <string>glyphs.B_old C_ondensed #4</string>
    </array>
    <array>
      <string>Regular #4</string>
      <string>glyphs.R_egular #4</string>
    </array>
    <array>
      <string>SemiBold #4</string>
      <string>glyphs.S_emiB_old #4</string>
    </array>
    <array>
      <string>Condensed #4</string>
      <string>glyphs.C_ondensed #4</string>
    </array>
    <array>
      <string>SemiBold Condensed #4</string>
      <string>glyphs.S_emiB_old C_ondensed #4</string>
    </array>
    <array>
      <string>Light Condensed #4</string>
      <string>glyphs.L_ight C_ondensed #4</string>
    </array>
    <array>
      <string>Bold #5</string>
      <string>glyphs.B_old #5</string>
    </array>
    <array>
      <string>Bold Condensed #5</string>
      <string>glyphs.B_old C_ondensed #5</string>
    </array>
    <array>
      <string>Regular #5</string>
      <string>glyphs.R_egular #5</string>
    </array>
    <array>
      <string>SemiBold #5</string>
      <string>glyphs.S_emiB_old #5</string>
    </array>
    <array>
      <string>Condensed #5</string>
      <string>glyphs.C_ondensed #5</string>
    </array>
    <array>
      <string>SemiBold Condensed #5</string>
      <string>glyphs.S_emiB_old C_ondensed #5</string>
    </array>
    <array>
      <string>Light Condensed #5</string>
      <string>glyphs.L_ight C_ondensed #5</string>
    </array>
    <array>
      <string>Bold #6</string>
      <string>glyphs.B_old #6</string>
    </array>
    <array>
      <string>Bold Condensed #6</string>
      <string>glyphs.B_old C_ondensed #6</string>
    </array>
    <array>
      <string>Regular #6</string>
      <string>glyphs.R_egular #6</string>
    </array>
    <array>
      <string>SemiBold #6</string>
      <string>glyphs.S_emiB_old #6</string>
    </array>
    <array>
      <string>Condensed #6</string>
      <string>glyphs.C_ondensed #6</string>
    </array>
    <array>
      <string>SemiBold Condensed #6</string>
      <string>glyphs.S_emiB_old C_ondensed #6</string>
    </array>
    <array>
      <string>Light Condensed #6</string>
      <string>glyphs.L_ight C_ondensed #6</string>
    </array>
    <array>
      <string>Bold #7</string>
      <string>glyphs.B_old #7</string>
    </array>
    <array>
      <string>Bold Condensed #7</string>
      <string>glyphs.B_old C_ondensed #7</string>
    </array>
    <array>
      <string>Regular #7</string>
      <string>glyphs.R_egular #7</string>
    </array>
    <array>
      <string>SemiBold #7</string>
      <string>glyphs.S_emiB_old #7</string>
    </array>
    <array>
      <string>Condensed #7</string>
      <string>glyphs.C_ondensed #7</string>
    </array>
    <array>
      <string>SemiBold Condensed #7</string>
      <string>glyphs.S_emiB_old C_ondensed #7</string>
    </array>
    <array>
      <string>Light Condensed #7</string>
      <string>glyphs.L_ight C_ondensed #7</string>
    </array>
    <array>
      <string>Bold #8</string>
      <string>glyphs.B_old #8</string>
    </array>
    <array>
      <string>Bold Condensed #8</string>
      <string>glyphs.B_old C_ondensed #8</string>
    </array>
    <array>
      <string>Regular #8</string>
      <string>glyphs.R_egular #8</string>
    </array>
    <array>
      <string>SemiBold #8</string>
      <string>glyphs.S_emiB_old #8</string>
    </array>
    <array>
      <string>Condensed #8</string>
      <string>glyphs.C_ondensed #8</string>
    </array>
    <array>
      <string>SemiBold Condensed #8</string>
      <string>glyphs.S_emiB_old C_ondensed #8</string>
    </array>
    <array>
      <string>Light Condensed #8</string>
      <string>glyphs.L_ight C_ondensed #8</string>
    </array>
    <array>
      <string>Bold #9</string>
      <string>glyphs.B_old #9</string>
    </array>
    <array>
      <string>Bold Condensed #9</string>
      <string>glyphs.B_old C_ondensed #9</string>
    </array>
    <array>
      <string>Regular #9</string>
      <string>glyphs.R_egular #9</string>
    </array>
    <array>
      <string>SemiBold #9</string>
      <string>glyphs.S_emiB_old #9</string>
    </array>
    <array>
      <string>Condensed #9</string>
      <string>glyphs.C_ondensed #9</string>
    </array>
    <array>
      <string>SemiBold Condensed #9</string>
      <string>glyphs.S_emiB_old C_ondensed #9</string>
    </array>
    <array>
      <string>Light Condensed #9</string>
      <string>glyphs.L_ight C_ondensed #9</string>
    </array>
    <array>
      <string>Bold #10</string>
      <string>glyphs.B_old #10</string>
    </array>
    <array>
      <string>Bold Condensed #10</string>
      <string>glyphs.B_old C_ondensed #10</string>
    </array>
    <array>
      <string>Regular #10</string>
      <string>glyphs.R_egular #10</string>
    </array>
    <array>
      <string>SemiBold #10</string>
      <string>glyphs.S_emiB_old #10</string>
    </array>
    <array>
      <string>Condensed #10</string>
      <string>glyphs.C_ondensed #10</string>
    </array>
    <array>
      <string>SemiBold Condensed #10</string>
      <string>glyphs.S_emiB_old C_ondensed #10</string>
    </array>
    <array>
      <string>Light Condensed #10</string>
      <string>glyphs.L_ight C_ondensed #10</string>
    </array>
    <array>
      <string>Bold #11</string>
      <string>glyphs.B_old #11</string>
    </array>
    <array>
      <string>Bold Condensed #11</string>
      <string>glyphs.B_old C_ondensed #11</string>
    </array>
    <array>
      <string>Regular #11</string>
      <string>glyphs.R_egular #11</string>
    </array>
    <array>
      <string>SemiBold #11</string>
      <string>glyphs.S_emiB_old #11</string>
    </array>
    <array>
      <string>Condensed #11</string>
      <string>glyphs.C_ondensed #11</string>
    </array>
    <array>
      <string>SemiBold Condensed #11</string>
      <string>glyphs.S_emiB_old C_ondensed #11</string>
    </array>
    <array>
      <string>Light Condensed #11</string>
      <string>glyphs.L_ight C_ondensed #11</string>
    </array>
    <array>
      <string>Bold #12</string>
      <string>glyphs.B_old #12</string>
    </array>
    <array>
      <string>Bold Condensed #12</string>
      <string>glyphs.B_old C_ondensed #12</string>
    </array>
    <array>
      <string>Regular #12</string>
      <string>glyphs.R_egular #12</string>
    </array>
    <array>
      <string>SemiBold #12</string>
      <string>glyphs.S_emiB_old #12</string>
    </array>
    <array>
      <string>Condensed #12</string>
      <string>glyphs.C_ondensed #12</string>
    </array>
    <array>
      <string>SemiBold Condensed #12</string>
      <string>glyphs.S_emiB_old C_ondensed #12</string>
    </array>
    <array>
      <string>Light Condensed #12</string>
      <string>glyphs.L_ight C_ondensed #12</string>
    </array>
    <array>
      <string>Bold #13</string>
      <string>glyphs.B_old #13</string>
    </array>
    <array>
      <string>Bold Condensed #13</string>
      <string>glyphs.B_old C_ondensed #13</string>
    </array>
    <array>
      <string>Regular #13</string>
      <string>glyphs.R_egular #13</string>
    </array>
    <array>
      <string>SemiBold #13</string>
      <string>glyphs.S_emiB_old #13</string>
    </array>
    <array>
      <string>Condensed #13</string>
      <string>glyphs.C_ondensed #13</string>
    </array>
    <array>
      <string>SemiBold Condensed #13</string>
      <string>glyphs.S_emiB_old C_ondensed #13</string>
    </array>
    <array>
      <string>Light Condensed #13</string>
      <string>glyphs.L_ight C_ondensed #13</string>
    </array>
    <array>
      <string>Bold #14</string>
      <string>glyphs.B_old #14</string>
    </array>
    <array>
      <string>Bold Condensed #14</string>
      <string>glyphs.B_old C_ondensed #14</string>
    </array>
    <array>
      <string>Regular #14</string>
      <string>glyphs.R_egular #14</string>
    </array>
    <array>
      <string>SemiBold #14</string>
      <string>glyphs.S_emiB_old #14</string>
    </array>
    <array>
      <string>Condensed #14</string>
      <string>glyphs.C_ondensed #14</string>
    </array>
    <array>
      <string>SemiBold Condensed #14</string>
      <string>glyphs.S_emiB_old C_ondensed #14</string>
    </array>
    <array>
      <string>Light Condensed #14</string>
      <string>glyphs.L_ight C_ondensed #14</string>
    </array>
    <array>
      <string>Bold #15</string>
      <string>glyphs.B_old #15</string>
    </array>
    <array>
      <string>Bold Condensed #15</string>
      <string>glyphs.B_old C_ondensed #15</string>
    </array>
    <array>
      <string>Regular #15</string>
      <string>glyphs.R_egular #15</string>
    </array>
    <array>
      <string>SemiBold #15</string>
      <string>glyphs.S_emiB_old #15</string>
    </array>
    <array>
      <string>Condensed #15</string>
      <string>glyphs.C_ondensed #15</string>
    </array>
    <array>
      <string>SemiBold Condensed #15</string>
      <string>glyphs.S_emiB_old C_ondensed #15</string>
    </array>
    <array>
      <string>Light Condensed #15</string>
      <string>glyphs.L_ight C_ondensed #15</string>
    </array>
    <array>
      <string>Bold #16</string>
      <string>glyphs.B_old #16</string>
    </array>
    <array>
      <string>Bold Condensed #16</string>
      <string>glyphs.B_old C_ondensed #16</string>
    </array>
    <array>
      <string>Regular #16</string>
      <string>glyphs.R_egular #16</string>
    </array>
    <array>
      <string>SemiBold #16</string>
      <string>glyphs.S_emiB_old #16</string>
    </array>
    <array>
      <string>Condensed #16</string>
      <string>glyphs.C_ondensed #16</string>
    </array>
    <array>
      <string>SemiBold Condensed #16</string>
      <string>glyphs.S_emiB_old C_ondensed #16</string>
    </array>
    <array>
      <string>Light Condensed #16</string>
      <string>glyphs.L_ight C_ondensed #16</string>
    </array>
    <array>
      <string>Bold #17</string>
      <string>glyphs.B_old #17</string>
    </array>
    <array>
      <string>Bold Condensed #17</string>
      <string>glyphs.B_old C_ondensed #17</string>
    </array>
    <array>
      <string>Regular #17</string>
      <string>glyphs.R_egular #17</string>
    </array>
    <array>
      <string>SemiBold #17</string>
      <string>glyphs.S_emiB_old #17</string>
    </array>
    <array>
      <string>Condensed #17</string>
      <string>glyphs.C_ondensed #17</string>
    </array>
    <array>
      <string>SemiBold Condensed #17</string>
      <string>glyphs.S_emiB_old C_ondensed #17</string>
    </array>
    <array>
      <string>Light Condensed #17</string>
      <string>glyphs.L_ight C_ondensed #17</string>
    </array>
    <array>
      <string>Bold #18</string>
      <string>glyphs.B_old #18</string>
    </array>
    <array>
      <string>Bold Condensed #18</string>
      <string>glyphs.B_old C_ondensed #18</string>
    </array>
    <array>
      <string>Regular #18</string>
      <string>glyphs.R_egular #18</string>
    </array>
    <array>
      <string>SemiBold #18</string>
      <string>glyphs.S_emiB_old #18</string>
    </array>
    <array>
      <string>Condensed #18</string>
      <string>glyphs.C_ondensed #18</string>
    </array>
    <array>
      <string>SemiBold Condensed #18</string>
      <string>glyphs.S_emiB_old C_ondensed #18</string>
    </array>
    <array>
      <string>Light Condensed #18</string>
      <string>glyphs.L_ight C_ondensed #18</string>
    </array>
    <array>
      <string>Bold #19</string>
      <string>glyphs.B_old #19</string>
    </array>
    <array>
      <string>Bold Condensed #19</string>
      <string>glyphs.B_old C_ondensed #19</string>
    </array>
    <array>
      <string>Regular #19</string>
      <string>glyphs.R_egular #19</string>
    </array>
    <array>
      <string>SemiBold #19</string>
      <string>glyphs.S_emiB_old #19</string>
    </array>
    <array>
      <string>Condensed #19</string>
      <string>glyphs.C_ondensed #19</string>
    </array>
    <array>
      <string>SemiBold Condensed #19</string>
      <string>glyphs.S_emiB_old C_ondensed #19</string>
    </array>
    <array>
      <string>Light Condensed #19</string>
      <string>glyphs.L_ight C_ondensed #19</string>
    </array>
    <array>
      <string>Bold #20</string>
      <string>glyphs.B_old #20</string>
    </array>
    <array>
      <string>Bold Condensed #20</string>
      <string>glyphs.B_old C_ondensed #20</string>
    </array>
    <array>
      <string>Regular #20</string>
      <string>glyphs.R_egular #20</string>
    </array>
    <array>
      <string>SemiBold #20</string>
      <string>glyphs.S_emiB_old #20</string>
    </array>
    <array>
      <string>Condensed #20</string>
      <string>glyphs.C_ondensed #20</string>
    </array>
    <array>
      <string>SemiBold Condensed #20</string>
      <string>glyphs.S_emiB_old C_ondensed #20</string>
    </array>
    <array>
      <string>Light Condensed #20</string>
      <string>glyphs.L_ight C_ondensed #20</string>
    </array>
    <array>
      <string>Bold #21</string>
      <string>glyphs.B_old #21</string>
    </array>
    <array>
      <string>Bold Condensed #21</string>
      <string>glyphs.B_old C_ondensed #21</string>
    </array>
    <array>
      <string>Regular #21</string>
      <string>glyphs.R_egular #21</string>
    </array>
    <array>
      <string>SemiBold #21</string>
      <string>glyphs.S_emiB_old #21</string>
    </array>
    <array>
      <string>Condensed #21</string>
      <string>glyphs.C_ondensed #21</string>
    </array>
    <array>
      <string>SemiBold Condensed #21</string>
      <string>glyphs.S_emiB_old C_ondensed #21</string>
    </array>
    <array>
      <string>Light Condensed #21</string>
      <string>glyphs.L_ight C_ondensed #21</string>
    </array>
    <array>
      <string>Bold #22</string>
      <string>glyphs.B_old #22</string>
    </array>
    <array>
      <string>Bold Condensed #22</string>
      <string>glyphs.B_old C_ondensed #22</string>
    </array>
    <array>
      <string>Regular #22</string>
      <string>glyphs.R_egular #22</string>
    </array>
    <array>
      <string>SemiBold #22</string>
      <string>glyphs.S_emiB_old #22</string>
    </array>
    <array>
      <string>Condensed #22</string>
      <string>glyphs.C_ondensed #22</string>
    </array>
    <array>
      <string>SemiBold Condensed #22</string>
      <string>glyphs.S_emiB_old C_ondensed #22</string>
    </array>
    <array>
      <string>Light Condensed #22</string>
      <string>glyphs.L_ight C_ondensed #22</string>
    </array>
    <array>
      <string>Bold #23</string>
      <string>glyphs.B_old #23</string>
    </array>
    <array>
      <string>Bold Condensed #23</string>
      <string>glyphs.B_old C_ondensed #23</string>
    </array>
    <array>
      <string>Regular #23</string>
      <string>glyphs.R_egular #23</string>
    </array>
    <array>
      <string>SemiBold #23</string>
      <string>glyphs.S_emiB_old #23</string>
    </array>
    <array>
      <string>Condensed #23</string>
      <string>glyphs.C_ondensed #23</string>
    </array>
    <array>
      <string>SemiBold Condensed #23</string>
      <string>glyphs.S_emiB_old C_ondensed #23</string>
    </array>
    <array>
      <string>Light Condensed #23</string>
      <string>glyphs.L_ight C_ondensed #23</string>
    </array>
    <array>
      <string>Bold #24</string>
      <string>glyphs.B_old #24</string>
    </array>
    <array>
      <string>Bold Condensed #24</string>
      <string>glyphs.B_old C_ondensed #24</string>
    </array>
    <array>
      <string>Regular #24</string>
      <string>glyphs.R_egular #24</string>
    </array>
    <array>
      <string>SemiBold #24</string>
      <string>glyphs.S_emiB_old #24</string>
    </array>
    <array>
      <string>Condensed #24</string>
      <string>glyphs.C_ondensed #24</string>
    </array>
    <array>
      <string>SemiBold Condensed #24</string>
      <string>glyphs.S_emiB_old C_ondensed #24</string>
    </array>
    <array>
      <string>Light Condensed #24</string>
      <string>glyphs.L_ight C_ondensed #24</string>
    </array>
    <array>
      <string>Bold #25</string>
      <string>glyphs.B_old #25</string>
    </array>
    <array>
      <string>Bold Condensed #25</string>
      <string>glyphs.B_old C_ondensed #25</string>
    </array>
    <array>
      <string>Regular #25</string>
      <string>glyphs.R_egular #25</string>
    </array>
    <array>
      <string>SemiBold #25</string>
      <string>glyphs.S_emiB_old #25</string>
    </array>
    <array>
      <string>Condensed #25</string>
      <string>glyphs.C_ondensed #25</string>
    </array>
    <array>
      <string>SemiBold Condensed #25</string>
      <string>glyphs.S_emiB_old C_ondensed #25</string>
    </array>
    <array>
      <string>Light Condensed #25</string>
      <string>glyphs.L_ight C_ondensed #25</string>
    </array>
    <array>
      <string>Bold #26</string>
      <string>glyphs.B_old #26</string>
    </array>
    <array>
      <string>Bold Condensed #26</string>
      <string>glyphs.B_old C_ondensed #26</string>
    </array>
    <array>
      <string>Regular #26</string>
      <string>glyphs.R_egular #26</string>
    </array>
    <array>
      <string>SemiBold #26</string>
      <string>glyphs.S_emiB_old #26</string>
    </array>
    <array>
      <string>Condensed #26</string>
      <string>glyphs.C_ondensed #26</string>
    </array>
    <array>
      <string>SemiBold Condensed #26</string>
      <string>glyphs.S_emiB_old C_ondensed #26</string>
    </array>
    <array>
      <string>Light Condensed #26</string>
      <string>glyphs.L_ight C_ondensed #26</string>
    </array>
    <array>
      <string>Bold #27</string>
      <string>glyphs.B_old #27</string>
    </array>
    <array>
      <string>Bold Condensed #27</string>
      <string>glyphs.B_old C_ondensed #27</string>
    </array>
    <array>
      <string>Regular #27</string>
      <string>glyphs.R_egular #27</string>
    </array>
    <array>
      <string>SemiBold #27</string>
      <string>glyphs.S_emiB_old #27</string>
    </array>
    <array>
      <string>Condensed #27</string>
      <string>glyphs.C_ondensed #27</string>
    </array>
    <array>
      <string>SemiBold Condensed #27</string>
      <string>glyphs.S_emiB_old C_ondensed #27</string>
    </array>
    <array>
      <string>Light Condensed #27</string>
      <string>glyphs.L_ight C_ondensed #27</string>
    </array>
    <array>
      <string>Bold #28</string>
      <string>glyphs.B_old #28</string>
    </array>
    <array>
      <string>Bold Condensed #28</string>
      <string>glyphs.B_old C_ondensed #28</string>
    </array>
    <array>
      <string>Regular #28</string>
      <string>glyphs.R_egular #28</string>
    </array>
    <array>
      <string>SemiBold #28</string>
      <string>glyphs.S_emiB_old #28</string>
    </array>
    <array>
      <string>Condensed #28</string>
      <string>glyphs.C_ondensed #28</string>
    </array>
    <array>
      <string>SemiBold Condensed #28</string>
      <string>glyphs.S_emiB_old C_ondensed #28</string>
    </array>
    <array>
      <string>Light Condensed #28</string>
      <string>glyphs.L_ight C_ondensed #28</string>
    </array>
    <array>
      <string>Bold #29</string>
      <string>glyphs.B_old #29</string>
    </array>
    <array>
      <string>Bold Condensed #29</string>
      <string>glyphs.B_old C_ondensed #29</string>
    </array>
    <array>
      <string>Regular #29</string>
      <string>glyphs.R_egular #29</string>
    </array>
    <array>
      <string>SemiBold #29</string>
      <string>glyphs.S_emiB_old #29</string>
    </array>
    <array>
      <string>Condensed #29</string>
      <string>glyphs.C_ondensed #29</string>
    </array>
    <array>
      <string>SemiBold Condensed #29</string>
      <string>glyphs.S_emiB_old C_ondensed #29</string>
    </array>
    <array>
      <string>Light Condensed #29</string>
      <string>glyphs.L_ight C_ondensed #29</string>
    </array>
    <array>
      <string>Bold #30</string>
      <string>glyphs.B_old #30</string>
    </array>
    <array>
      <string>Bold Condensed #30</string>
      <string>glyphs.B_old C_ondensed #30</string>
    </array>
    <array>
      <string>Regular #30</string>
      <string>glyphs.R_egular #30</string>
    </array>
    <array>
      <string>SemiBold #30</string>
      <string>glyphs.S_emiB_old #30</string>
    </array>
    <array>
      <string>Condensed #30</string>
      <string>glyphs.C_ondensed #30</string>
    </array>
    <array>
      <string>SemiBold Condensed #30</string>
      <string>glyphs.S_emiB_old C_ondensed #30</string>
    </array>
    <array>
      <string>Light Condensed #30</string>
      <string>glyphs.L_ight C_ondensed #30</string>
    </array>
    <array>
      <string>Bold #31</string>
      <string>glyphs.B_old #31</string>
    </array>
    <array>
      <string>Bold Condensed #31</string>
      <string>glyphs.B_old C_ondensed #31</string>
    </array>
    <array>
      <string>Regular #31</string>
      <string>glyphs.R_egular #31</string>
    </array>
    <array>
      <string>SemiBold #31</string>
      <string>glyphs.S_emiB_old #31</string>
    </array>
    <array>
      <string>Condensed #31</string>
      <string>glyphs.C_ondensed #31</string>
    </array>
    <array>
      <string>SemiBold Condensed #31</string>
      <string>glyphs.S_emiB_old C_ondensed #31</string>
    </array>
    <array>
      <string>Light Condensed #31</string>
      <string>glyphs.L_ight C_ondensed #31</string>
    </array>
    <array>
      <string>Bold #32</string>
      <string>glyphs.B_old #32</string>
    </array>
    <array>
      <string>Bold Condensed #32</string>
      <string>glyphs.B_old C_ondensed #32</string>
    </array>
    <array>
      <string>Regular #32</string>
      <string>glyphs.R_egular #32</string>
    </array>
    <array>
      <string>SemiBold #32</string>
      <string>glyphs.S_emiB_old #32</string>
    </array>
    <array>
      <string>Condensed #32</string>
      <string>glyphs.C_ondensed #32</string>
    </array>
    <array>
      <string>SemiBold Condensed #32</string>
      <string>glyphs.S_emiB_old C_ondensed #32</string>
    </array>
    <array>
      <string>Light Condensed #32</string>
      <string>glyphs.L_ight C_ondensed #32</string>
    </array>
  </array>
</plist>
