<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA880</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA881</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA882</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA883</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA884</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA885</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA886</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA887</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA888</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA889</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA88A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA88B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA88C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA88D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA88E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA88F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA890</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA891</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA892</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA892A8B0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA893</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA894</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA895</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA896</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA897</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA898</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA899</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA89A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA89B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA89C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA89D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA89E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA89F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A1A8AB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8A9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8AA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8AB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8AC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8AD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8AE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8AF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8AFA8AC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B0A89CA8AC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B0A89D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8B9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8BA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8BB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8BC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8BD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8BE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8BF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8C0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8C1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8C2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8C3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8C4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8C5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8CE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8CF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA8D9</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
