<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>870</integer>
    <key>capHeight</key>
    <integer>714</integer>
    <key>copyright</key>
    <string>Copyright 2019 Google LLC. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-370</integer>
    <key>familyName</key>
    <string>Noto Sans Tamil Supplement</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>599</integer>
        <key>y</key>
        <integer>328</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>599</integer>
        <key>y</key>
        <integer>763</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>599</integer>
        <key>y</key>
        <integer>461</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/07/20 11:03:53</string>
    <key>openTypeNameDescription</key>
    <string>Designed by Ek Type</string>
    <key>openTypeNameDesigner</key>
    <string>Ek Type</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.ektype.in</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Ek Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com/get/noto/</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.002</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>20</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-12</integer>
      <integer>0</integer>
      <integer>554</integer>
      <integer>566</integer>
      <integer>714</integer>
      <integer>726</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>72</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>86</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Noto Sans Tamil Supplement</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Noto is a trademark of Google Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>554</integer>
  </dict>
</plist>
