<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>Aazhaakku</string>
      <string>AndOddSign</string>
      <string>CR</string>
      <string>Cevitu</string>
      <string>CurrentSign</string>
      <string>DownscalingFactorKiizh</string>
      <string>DryCultivationSign</string>
      <string>InPossessionSign</string>
      <string>Kaacu</string>
      <string>Kuruni</string>
      <string>Kuzhi</string>
      <string>LandSign</string>
      <string>Mukkuruni</string>
      <string>Muthaliya</string>
      <string>Muuvuzhakku</string>
      <string>NULL</string>
      <string>Nel</string>
      <string>OneEighth</string>
      <string>OneEightieth</string>
      <string>OneFifth</string>
      <string>OneFortieth</string>
      <string>OneHalf_1</string>
      <string>OneHalf_2</string>
      <string>OneHundredandSixtieth</string>
      <string>OneQuarter</string>
      <string>OneSixteenth_1</string>
      <string>OneSixteenth_2</string>
      <string>OneSixtyFourth</string>
      <string>OneTenth</string>
      <string>OneThirtySecond</string>
      <string>OneThreeHundredandTwentieth</string>
      <string>OneTwentieth</string>
      <string>Paaram</string>
      <string>Panam</string>
      <string>Pathakku</string>
      <string>Pon</string>
      <string>PunctuationEndOfText</string>
      <string>SaltPanSign</string>
      <string>SpentSign</string>
      <string>StartingFrom</string>
      <string>ThreeEightieths</string>
      <string>ThreeQuarters</string>
      <string>ThreeSixteenths</string>
      <string>ThreeSixtyFourths</string>
      <string>ThreeTwentieths</string>
      <string>TotalSign</string>
      <string>TraditionalCreditSign</string>
      <string>TraditionalNumberSign</string>
      <string>Uzhakku</string>
      <string>Vakaiyaraa</string>
      <string>Varaakan</string>
      <string>Veli</string>
      <string>WetCultivationSign</string>
    </array>
  </dict>
</plist>
