<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni10400</key>
    <string>uni10400.glif</string>
    <key>uni10401</key>
    <string>uni10401.glif</string>
    <key>uni10402</key>
    <string>uni10402.glif</string>
    <key>uni10403</key>
    <string>uni10403.glif</string>
    <key>uni10404</key>
    <string>uni10404.glif</string>
    <key>uni10405</key>
    <string>uni10405.glif</string>
    <key>uni10406</key>
    <string>uni10406.glif</string>
    <key>uni10407</key>
    <string>uni10407.glif</string>
    <key>uni10408</key>
    <string>uni10408.glif</string>
    <key>uni10409</key>
    <string>uni10409.glif</string>
    <key>uni1040A</key>
    <string>uni1040A_.glif</string>
    <key>uni1040B</key>
    <string>uni1040B_.glif</string>
    <key>uni1040C</key>
    <string>uni1040C_.glif</string>
    <key>uni1040D</key>
    <string>uni1040D_.glif</string>
    <key>uni1040E</key>
    <string>uni1040E_.glif</string>
    <key>uni1040F</key>
    <string>uni1040F_.glif</string>
    <key>uni10410</key>
    <string>uni10410.glif</string>
    <key>uni10411</key>
    <string>uni10411.glif</string>
    <key>uni10412</key>
    <string>uni10412.glif</string>
    <key>uni10413</key>
    <string>uni10413.glif</string>
    <key>uni10414</key>
    <string>uni10414.glif</string>
    <key>uni10415</key>
    <string>uni10415.glif</string>
    <key>uni10416</key>
    <string>uni10416.glif</string>
    <key>uni10417</key>
    <string>uni10417.glif</string>
    <key>uni10418</key>
    <string>uni10418.glif</string>
    <key>uni10419</key>
    <string>uni10419.glif</string>
    <key>uni1041A</key>
    <string>uni1041A_.glif</string>
    <key>uni1041B</key>
    <string>uni1041B_.glif</string>
    <key>uni1041C</key>
    <string>uni1041C_.glif</string>
    <key>uni1041D</key>
    <string>uni1041D_.glif</string>
    <key>uni1041E</key>
    <string>uni1041E_.glif</string>
    <key>uni1041F</key>
    <string>uni1041F_.glif</string>
    <key>uni10420</key>
    <string>uni10420.glif</string>
    <key>uni10421</key>
    <string>uni10421.glif</string>
    <key>uni10422</key>
    <string>uni10422.glif</string>
    <key>uni10423</key>
    <string>uni10423.glif</string>
    <key>uni10424</key>
    <string>uni10424.glif</string>
    <key>uni10425</key>
    <string>uni10425.glif</string>
    <key>uni10426</key>
    <string>uni10426.glif</string>
    <key>uni10427</key>
    <string>uni10427.glif</string>
    <key>uni10428</key>
    <string>uni10428.glif</string>
    <key>uni10429</key>
    <string>uni10429.glif</string>
    <key>uni1042A</key>
    <string>uni1042A_.glif</string>
    <key>uni1042B</key>
    <string>uni1042B_.glif</string>
    <key>uni1042C</key>
    <string>uni1042C_.glif</string>
    <key>uni1042D</key>
    <string>uni1042D_.glif</string>
    <key>uni1042E</key>
    <string>uni1042E_.glif</string>
    <key>uni1042F</key>
    <string>uni1042F_.glif</string>
    <key>uni10430</key>
    <string>uni10430.glif</string>
    <key>uni10431</key>
    <string>uni10431.glif</string>
    <key>uni10432</key>
    <string>uni10432.glif</string>
    <key>uni10433</key>
    <string>uni10433.glif</string>
    <key>uni10434</key>
    <string>uni10434.glif</string>
    <key>uni10435</key>
    <string>uni10435.glif</string>
    <key>uni10436</key>
    <string>uni10436.glif</string>
    <key>uni10437</key>
    <string>uni10437.glif</string>
    <key>uni10438</key>
    <string>uni10438.glif</string>
    <key>uni10439</key>
    <string>uni10439.glif</string>
    <key>uni1043A</key>
    <string>uni1043A_.glif</string>
    <key>uni1043B</key>
    <string>uni1043B_.glif</string>
    <key>uni1043C</key>
    <string>uni1043C_.glif</string>
    <key>uni1043D</key>
    <string>uni1043D_.glif</string>
    <key>uni1043E</key>
    <string>uni1043E_.glif</string>
    <key>uni1043F</key>
    <string>uni1043F_.glif</string>
    <key>uni10440</key>
    <string>uni10440.glif</string>
    <key>uni10441</key>
    <string>uni10441.glif</string>
    <key>uni10442</key>
    <string>uni10442.glif</string>
    <key>uni10443</key>
    <string>uni10443.glif</string>
    <key>uni10444</key>
    <string>uni10444.glif</string>
    <key>uni10445</key>
    <string>uni10445.glif</string>
    <key>uni10446</key>
    <string>uni10446.glif</string>
    <key>uni10447</key>
    <string>uni10447.glif</string>
    <key>uni10448</key>
    <string>uni10448.glif</string>
    <key>uni10449</key>
    <string>uni10449.glif</string>
    <key>uni1044A</key>
    <string>uni1044A_.glif</string>
    <key>uni1044B</key>
    <string>uni1044B_.glif</string>
    <key>uni1044C</key>
    <string>uni1044C_.glif</string>
    <key>uni1044D</key>
    <string>uni1044D_.glif</string>
    <key>uni1044E</key>
    <string>uni1044E_.glif</string>
    <key>uni1044F</key>
    <string>uni1044F_.glif</string>
  </dict>
</plist>
