<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansThaana-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Thaana GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Thaana 26 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Thaana GSUB.txt</string>
	</dict>

	<key>NotoSansThaana-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Thaana GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Thaana 90 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Thaana GSUB.txt</string>
	</dict>

	<key>NotoSansThaana-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Thaana GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Thaana 151 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Thaana GSUB.txt</string>
	</dict>

	<key>NotoSansThaana-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Thaana GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Thaana 190 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Thaana GSUB.txt</string>
	</dict>
</dict>
</plist>