<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a_u_marc</key>
	<string>a_u_marc.glif</string>
	<key>candrabindu_marc</key>
	<string>candrabindu_marc.glif</string>
	<key>candrabindu_marc.narrow</key>
	<string>candrabindu_marc.narrow.glif</string>
	<key>ka_marc</key>
	<string>ka_marc.glif</string>
	<key>kha_o_marc</key>
	<string>kha_o_marc.glif</string>
	<key>la_ka.sub_i_marc</key>
	<string>la_ka.sub_i_marc.glif</string>
	<key>ra_tsa.sub_u_marc</key>
	<string>ra_tsa.sub_u_marc.glif</string>
	<key>sa_ga.sub_i_marc</key>
	<string>sa_ga.sub_i_marc.glif</string>
	<key>sa_ga.sub_ra.sub_i_marc</key>
	<string>sa_ga.sub_ra.sub_i_marc.glif</string>
	<key>sa_ga.sub_ra.sub_i_marc_short</key>
	<string>sa_ga.sub_ra.sub_i_marc_short.glif</string>
	<key>sa_ga.sub_ya.sub_i_marc</key>
	<string>sa_ga.sub_ya.sub_i_marc.glif</string>
	<key>zha_ra.sub</key>
	<string>zha_ra.sub.glif</string>
</dict>
</plist>
