<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>40</integer>
      <key>public.kern2.parenright</key>
      <integer>60</integer>
      <key>public.kern2.question</key>
      <integer>60</integer>
      <key>public.kern2.quoteright</key>
      <integer>40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>50</integer>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>45</integer>
      <key>public.kern2.parenright</key>
      <integer>85</integer>
      <key>public.kern2.question</key>
      <integer>60</integer>
      <key>public.kern2.quoteright</key>
      <integer>60</integer>
      <key>public.kern2.quotesingle</key>
      <integer>75</integer>
    </dict>
    <key>kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.question</key>
      <integer>50</integer>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>78</integer>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>90</integer>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>63.4766</real>
    </dict>
    <key>nyii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <integer>-80</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <integer>-10</integer>
      <key>luu-tamil</key>
      <integer>-10</integer>
      <key>nnnu-tamil</key>
      <integer>-10</integer>
      <key>nnnuu-tamil</key>
      <integer>-10</integer>
      <key>nnu-tamil</key>
      <integer>-10</integer>
      <key>nnuu-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-104</integer>
      <key>public.kern2.exclam</key>
      <integer>-40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-55</integer>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.period</key>
      <integer>20</integer>
      <key>public.kern2.question</key>
      <integer>-80</integer>
      <key>public.kern2.quoteright</key>
      <integer>-75</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-83</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
      <key>ta-tamil</key>
      <integer>-20</integer>
      <key>tu-tamil</key>
      <integer>10</integer>
      <key>tuu-tamil</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>10</integer>
      <key>public.kern2.ka-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.cu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.cuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <integer>-60</integer>
      <key>public.kern2.quoteright</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-30</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-35</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.u-tamil</key>
      <integer>-29</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ai-tamil</key>
      <integer>10</integer>
      <key>public.kern2.e-tamil</key>
      <integer>35</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>30</integer>
      <key>public.kern2.ka-tamil</key>
      <integer>40</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>30</integer>
      <key>public.kern2.o-tamil</key>
      <integer>20</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.rupee-tamil</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.i-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.ka-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.om-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <integer>-59</integer>
      <key>public.kern2.quoteright</key>
      <integer>-40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-60</integer>
      <key>public.kern2.slash</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-45</integer>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.question</key>
      <integer>-40</integer>
      <key>public.kern2.quoteright</key>
      <integer>-50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>10</integer>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.question</key>
      <integer>-20</integer>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.ai-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>25</integer>
      <key>public.kern2.i-tamil</key>
      <integer>20</integer>
      <key>public.kern2.ka-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.parenright</key>
      <integer>30</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <integer>40</integer>
      <key>public.kern2.quoteright</key>
      <integer>15</integer>
      <key>public.kern2.quotesingle</key>
      <integer>30</integer>
      <key>public.kern2.rra-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.rupee-tamil</key>
      <integer>10</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.question</key>
      <integer>-30</integer>
      <key>public.kern2.quoteright</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-80</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.mii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>35</integer>
      <key>public.kern2.parenright</key>
      <integer>60</integer>
      <key>public.kern2.question</key>
      <integer>50</integer>
      <key>public.kern2.quoteright</key>
      <integer>40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.colon</key>
      <real>43.9453</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>84</integer>
      <key>public.kern2.exclam</key>
      <integer>120</integer>
      <key>public.kern2.i-tamil</key>
      <integer>100</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <integer>100</integer>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.ai-tamil</key>
      <integer>30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>65</integer>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.question</key>
      <integer>30</integer>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <integer>-30</integer>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.pii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>20</integer>
      <key>public.kern2.parenright</key>
      <integer>30</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-80</integer>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-28</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-80</integer>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.o-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.om-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.rii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>65</integer>
      <key>public.kern2.parenright</key>
      <integer>68</integer>
      <key>public.kern2.question</key>
      <integer>100</integer>
      <key>public.kern2.quoteright</key>
      <integer>44</integer>
      <key>public.kern2.quotesingle</key>
      <integer>48</integer>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.question</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-50</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-14.6484</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.o-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.rra-tamil</key>
      <integer>-19</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>10</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-50</integer>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <integer>-49</integer>
      <key>public.kern2.quoteright</key>
      <integer>-40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-99</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.e-tamil</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>60</integer>
      <key>public.kern2.i-tamil</key>
      <integer>15</integer>
      <key>public.kern2.ka-tamil</key>
      <integer>5</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <real>-14.6484</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-50</integer>
      <key>public.kern2.e-tamil</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>50</integer>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <integer>-20</integer>
      <key>public.kern2.u-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.vii-tamil</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>110</integer>
    </dict>
    <key>tii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>-40</integer>
    </dict>
    <key>ttii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
