# direct dependencies
#git+https://github.com/googlei18n/fontmake.git
git+https://github.com/googlei18n/cu2qu.git
git+https://github.com/googlei18n/glyphs2ufo.git
git+https://github.com/robofab-developers/robofab.git
git+https://github.com/jamesgk/ufo2ft.git

# nested dependencies
git+https://github.com/behdad/fonttools.git@491b1ebfb063e29e27923faa9435375a2fd7fd19
git+https://github.com/typesupply/feaTools.git
