<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>5.30375275862069</real>
      <key>public.kern2.quoteright</key>
      <real>15.91123655172414</real>
      <key>public.kern2.quotesingle</key>
      <real>18.03272896551724</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>38.725741724137926</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>5.253227586206897</real>
      <key>public.kern2.parenright</key>
      <real>62.80308862068966</real>
      <key>public.kern2.quoteright</key>
      <real>30.20611103448276</real>
      <key>public.kern2.quotesingle</key>
      <real>42.36259931034483</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>57.347771724137935</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>25.222265862068966</real>
      <key>public.kern2.parenright</key>
      <real>89.10299724137931</real>
      <key>public.kern2.quoteright</key>
      <real>52.81855620689655</real>
      <key>public.kern2.quotesingle</key>
      <real>61.068874482758616</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>54.78850517241381</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>27.07432758620689</real>
      <key>public.kern2.parenright</key>
      <real>85.09561793103448</real>
      <key>public.kern2.quoteright</key>
      <real>48.13788172413793</real>
      <key>public.kern2.quotesingle</key>
      <real>58.576971379310336</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>19.026132068965524</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>15.288215172413791</real>
      <key>public.kern2.parenright</key>
      <real>55.96711793103448</real>
      <key>public.kern2.quoteright</key>
      <real>23.875286551724137</real>
      <key>public.kern2.quotesingle</key>
      <real>26.114610689655173</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>4.445040000000002</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>10.47279524137931</real>
      <key>public.kern2.parenright</key>
      <real>57.54984034482758</real>
      <key>public.kern2.quoteright</key>
      <real>17.982201379310347</real>
      <key>public.kern2.quotesingle</key>
      <real>33.67458275862069</real>
      <key>question</key>
      <real>8.485988965517244</real>
      <key>quotedblright</key>
      <real>0.530375275862069</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>8.485991379310343</real>
      <key>public.kern2.parenright</key>
      <real>35.54351655172414</real>
      <key>public.kern2.quoteright</key>
      <real>7.425245172413793</real>
      <key>public.kern2.quotesingle</key>
      <real>7.425245172413793</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>37.36192793103449</real>
      <key>bracketright</key>
      <real>38.304813448275866</real>
      <key>eMatra-tamil</key>
      <real>2.8286565517241384</real>
      <key>eeMatra-tamil</key>
      <real>3.7715420689655175</real>
      <key>parenright</key>
      <real>41.369191379310344</real>
      <key>public.kern2.T</key>
      <real>16.769944137931038</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>3.990427862068966</real>
      <key>public.kern2.parenright</key>
      <real>25.407457241379305</real>
      <key>public.kern2.quoteright</key>
      <real>17.830690344827584</real>
      <key>public.kern2.quotesingle</key>
      <real>19.54808896551724</real>
      <key>question</key>
      <real>39.12986965517241</real>
      <key>quotedbl</key>
      <real>38.54053482758621</real>
      <key>quotedblright</key>
      <real>23.925789999999996</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>10.253910000000001</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>52.86906793103448</real>
      <key>public.kern2.quoteright</key>
      <real>13.436148620689659</real>
      <key>public.kern2.quotesingle</key>
      <real>25.40747793103448</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>15.911214827586207</real>
      <key>public.kern2.parenright</key>
      <real>38.08596172413794</real>
      <key>public.kern2.quoteright</key>
      <real>10.607483793103453</real>
      <key>public.kern2.quotesingle</key>
      <real>15.911214827586207</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>2.9296860000000002</real>
      <key>luu-tamil</key>
      <real>-0.8081892413793104</real>
      <key>public.kern2.T</key>
      <real>-53.98034517241379</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-20.187884344827587</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-32.93372103448276</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-42.733046206896546</real>
      <key>public.kern2.exclam</key>
      <real>-13.13307103448276</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-16.146927103448277</real>
      <key>public.kern2.nya-tamil</key>
      <real>-2.8286648275862083</real>
      <key>public.kern2.o-tamil</key>
      <real>-14.446402413793106</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-68.76358965517242</real>
      <key>public.kern2.quotesingle</key>
      <real>-86.7963475862069</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-14.160147586206898</real>
      <key>public.kern2.slash</key>
      <real>27.34375</real>
      <key>public.kern2.ya-tamil</key>
      <real>-8.789070000000002</real>
      <key>slash</key>
      <real>11.71875</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>13.671839999999998</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-13.587658137931035</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>36.452717931034485</real>
      <key>bracketright</key>
      <real>69.92527931034482</real>
      <key>parenright</key>
      <real>75.75102758620689</real>
      <key>public.kern2.a-tamil</key>
      <real>-21.80428703448276</real>
      <key>public.kern2.ka-tamil</key>
      <real>-10.338076344827586</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>15.91123655172414</real>
      <key>public.kern2.quotesingle</key>
      <real>18.03272896551724</real>
      <key>public.kern2.u-tamil</key>
      <real>-22.93240103448276</real>
      <key>question</key>
      <real>41.487076206896546</real>
      <key>quotedbl</key>
      <real>24.75079551724137</real>
      <key>quotedblright</key>
      <real>14.850497586206895</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.a-tamil</key>
      <real>-51.10113</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.177670551724137</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-37.479780000000005</real>
      <key>public.kern2.nya-tamil</key>
      <real>-26.030453103448277</real>
      <key>public.kern2.o-tamil</key>
      <real>-27.478458620689654</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-46.0667924137931</real>
      <key>public.kern2.rra-tamil</key>
      <real>-14.261198</real>
      <key>public.kern2.slash</key>
      <real>-6.835934</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.80265034482759</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-51.57264275862069</real>
      <key>slash</key>
      <real>-5.051174068965517</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-29.145343103448276</real>
      <key>public.kern2.T</key>
      <real>-39.9885675862069</real>
      <key>public.kern2.a-tamil</key>
      <real>19.261853448275865</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.630902068965518</real>
      <key>public.kern2.e-tamil</key>
      <real>-4.815460896551725</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-6.734924137931036</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-27.175356896551726</real>
      <key>public.kern2.exclam</key>
      <real>-9.294184827586209</real>
      <key>public.kern2.i-tamil</key>
      <real>-12.173335655172414</real>
      <key>public.kern2.ka-tamil</key>
      <real>-5.354255379310346</real>
      <key>public.kern2.quoteright</key>
      <real>-35.10572655172413</real>
      <key>public.kern2.quotesingle</key>
      <real>-44.95553310344828</real>
      <key>quotedbl</key>
      <real>-5.30375275862069</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-30.189282068965515</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-30.677528137931034</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-36.53691379310345</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-9.395190827586207</real>
      <key>public.kern2.a-tamil</key>
      <real>-16.988836000000003</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.exclam</key>
      <real>-7.139017931034484</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-8.452309172413793</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>36.23384344827586</real>
      <key>public.kern2.a-tamil</key>
      <real>-14.682110344827588</real>
      <key>public.kern2.e-tamil</key>
      <real>-7.543111724137933</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>21.65271413793103</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>12.207037</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-15.507126896551723</real>
      <key>public.kern2.nya-tamil</key>
      <real>-7.0043006896551745</real>
      <key>public.kern2.o-tamil</key>
      <real>-6.196113103448276</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-40.76306137931035</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-19.059776551724138</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-30.57650862068966</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-14.69893103448276</real>
      <key>public.kern2.a-tamil</key>
      <real>-4.983823448275863</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-7.64412324137931</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-9.698256103448276</real>
      <key>public.kern2.ka-tamil</key>
      <real>-1.6163751724137936</real>
      <key>public.kern2.quoteright</key>
      <real>-1.8857748965517245</real>
      <key>public.kern2.quotesingle</key>
      <real>-7.273707586206898</real>
      <key>public.kern2.u-tamil</key>
      <real>-10.338076344827586</real>
      <key>question</key>
      <real>14.850497586206895</real>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>88.02538482758622</real>
      <key>public.kern2.a-tamil</key>
      <real>-90.24783586206895</real>
      <key>public.kern2.colon</key>
      <real>29.347384137931034</real>
      <key>public.kern2.e-tamil</key>
      <real>-7.425223448275862</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>42.11004068965517</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>42.11004068965517</real>
      <key>public.kern2.exclam</key>
      <real>82.75522206896552</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-19.598599655172414</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>101.89931517241378</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.14397103448276</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>55.344184827586204</real>
      <key>public.kern2.a-tamil</key>
      <real>-43.28869689655173</real>
      <key>public.kern2.e-tamil</key>
      <real>-6.86961379310345</real>
      <key>public.kern2.exclam</key>
      <real>5.30375275862069</real>
      <key>public.kern2.ka-tamil</key>
      <real>-16.09641103448276</real>
      <key>public.kern2.parenright</key>
      <real>38.18698655172413</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>-12.931028965517246</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-11.584049655172416</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-22.292585862068965</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-224.0033502413793</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-66.18737655172413</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-44.079997931034484</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-36.13282</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-224.20490837931035</real>
      <key>public.kern2.e-tamil</key>
      <real>-22.292585862068965</real>
      <key>public.kern2.ka-tamil</key>
      <real>-67.2144675862069</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-22.292585862068965</real>
      <key>public.kern2.om-tamil</key>
      <real>-22.292585862068965</real>
      <key>public.kern2.u-tamil</key>
      <real>-24.481399655172414</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.0199124137931</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.279351379310345</real>
      <key>public.kern2.ka-tamil</key>
      <real>-22.93240103448276</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>30.761712413793102</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-3.7715420689655175</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>3.030684137931032</real>
      <key>public.kern2.parenright</key>
      <real>38.18698655172413</real>
      <key>public.kern2.quoteright</key>
      <real>28.28663793103448</real>
      <key>public.kern2.quotesingle</key>
      <real>40.30847896551724</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-19.29550227586207</real>
      <key>public.kern2.quotesingle</key>
      <real>-15.288215172413791</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.513756448275863</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-27.276409310344825</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.exclam</key>
      <real>-4.445031724137932</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-61.77603862068966</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-16.769914137931035</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.887108068965517</real>
      <key>public.kern2.nya-tamil</key>
      <real>-8.132397724137931</real>
      <key>public.kern2.rra-tamil</key>
      <real>-14.00862220689655</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-16.214293448275864</real>
      <key>public.kern2.a-tamil</key>
      <real>36.4527275862069</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-20.50783</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-39.68544793103449</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.96284862068965</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-89.82683206896553</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.240684344827587</real>
      <key>public.kern2.period</key>
      <real>-17.157186689655173</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.428882758620691</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-43.541204827586206</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.630902068965518</real>
      <key>public.kern2.e-tamil</key>
      <real>-5.387917241379311</real>
      <key>public.kern2.ka-tamil</key>
      <real>-17.98221586206897</real>
      <key>public.kern2.nya-tamil</key>
      <real>-5.92672827586207</real>
      <key>public.kern2.o-tamil</key>
      <real>-9.630902068965518</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-18.622026689655172</real>
      <key>public.kern2.u-tamil</key>
      <real>-21.029773931034484</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-25.272781931034483</real>
      <key>public.kern2.exclam</key>
      <real>-4.714446896551725</real>
      <key>public.kern2.quoteright</key>
      <real>-31.25002</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.0199124137931</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>74.40396965517242</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>35.17309724137931</real>
      <key>public.kern2.parenright</key>
      <real>97.21850344827585</real>
      <key>public.kern2.quoteright</key>
      <real>63.4261051724138</real>
      <key>public.kern2.quotesingle</key>
      <real>82.8394275862069</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>38.20380896551725</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>18.386295172413796</real>
      <key>public.kern2.parenright</key>
      <real>63.32504310344828</real>
      <key>public.kern2.quoteright</key>
      <real>29.43154724137931</real>
      <key>public.kern2.quotesingle</key>
      <real>39.3992448275862</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>20.50783</real>
      <key>public.kern2.quotesingle</key>
      <real>9.90029793103448</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>8.485991379310343</real>
      <key>public.kern2.parenright</key>
      <real>52.19557</real>
      <key>public.kern2.quoteright</key>
      <real>8.485991379310343</real>
      <key>public.kern2.quotesingle</key>
      <real>20.86141448275862</real>
    </dict>
  </dict>
</plist>
