<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B00</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B02</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B03</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B04</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B05</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B06</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B07</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B08</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B09</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B0A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B0B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B0C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B0D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B0E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B0F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B10</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B11</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B12</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B13</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B14</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B15</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B16</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B17</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B18</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B19</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B1A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B1B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B1C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B1D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B1E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B1F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B20</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B21</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B22</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B23</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B24</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B25</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B26</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B27</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B28</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B29</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B2A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B2B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B2C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B2D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B2E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B2F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B30</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B31</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B32</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B33</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B34</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B35</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B36</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B37</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B38</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B39</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B3A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B3B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B3C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B3D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B3E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B3F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B40</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B41</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B42</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B43</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B44</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B45</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B50</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B51</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B52</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B53</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B54</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B55</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B56</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B57</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B58</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B59</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B5B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B5C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B5D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B5E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B5F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B60</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B61</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B63</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B64</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B65</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B66</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B67</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B68</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B69</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B6A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B6B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B6C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B6D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B6E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B6F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B70</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B71</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B72</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B73</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B74</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B75</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B76</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B77</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B7D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B7E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B7F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B80</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B81</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B82</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B83</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B84</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B85</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B86</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B87</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B88</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B89</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B8A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B8B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B8C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B8D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B8E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u16B8F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
