<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arimo-Italic</key>
	<dict>
		<key>GDEF</key>
		<string>Arimo Italic GDEF.txt</string>
		<key>GPOS</key>
		<string>Arimo Italic GPOS.txt</string>
		<key>GSUB</key>
		<string>Arimo Italic GSUB.txt</string>
	</dict>

</dict>
</plist>