<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>nbspace</string>
      <string>space</string>
      <string>u16A40</string>
      <string>u16A41</string>
      <string>u16A42</string>
      <string>u16A43</string>
      <string>u16A44</string>
      <string>u16A45</string>
      <string>u16A46</string>
      <string>u16A47</string>
      <string>u16A48</string>
      <string>u16A49</string>
      <string>u16A4A</string>
      <string>u16A4B</string>
      <string>u16A4C</string>
      <string>u16A4D</string>
      <string>u16A4E</string>
      <string>u16A4F</string>
      <string>u16A50</string>
      <string>u16A51</string>
      <string>u16A52</string>
      <string>u16A53</string>
      <string>u16A54</string>
      <string>u16A55</string>
      <string>u16A56</string>
      <string>u16A57</string>
      <string>u16A58</string>
      <string>u16A59</string>
      <string>u16A5A</string>
      <string>u16A5B</string>
      <string>u16A5C</string>
      <string>u16A5D</string>
      <string>u16A5E</string>
      <string>u16A60</string>
      <string>u16A61</string>
      <string>u16A62</string>
      <string>u16A63</string>
      <string>u16A64</string>
      <string>u16A65</string>
      <string>u16A66</string>
      <string>u16A67</string>
      <string>u16A68</string>
      <string>u16A69</string>
      <string>u16A6E</string>
      <string>u16A6F</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
  </dict>
</plist>
