<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jun 16 19, 15:52</string>
      <string>glyphs.J_un 16 19, 15_52</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56</string>
      <string>glyphs.J_un 19 19, 21_56</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56.background</string>
      <string>glyphs.J_un 19 19, 21_56.background</string>
    </array>
    <array>
      <string>Jun 20 19, 13:31</string>
      <string>glyphs.J_un 20 19, 13_31</string>
    </array>
    <array>
      <string>Jun 20 19, 13:31.background</string>
      <string>glyphs.J_un 20 19, 13_31.background</string>
    </array>
    <array>
      <string>Jun 24 19, 21:03</string>
      <string>glyphs.J_un 24 19, 21_03</string>
    </array>
    <array>
      <string>Jun 24 19, 21:03.background</string>
      <string>glyphs.J_un 24 19, 21_03.background</string>
    </array>
    <array>
      <string>Jun 24 19, 22:00</string>
      <string>glyphs.J_un 24 19, 22_00</string>
    </array>
    <array>
      <string>Jun 24 19, 22:00.background</string>
      <string>glyphs.J_un 24 19, 22_00.background</string>
    </array>
    <array>
      <string>Feb 21 17, 16:03</string>
      <string>glyphs.F_eb 21 17, 16_03</string>
    </array>
    <array>
      <string>Feb 21 17, 16:03.background</string>
      <string>glyphs.F_eb 21 17, 16_03.background</string>
    </array>
    <array>
      <string>Feb 24 17, 14:32</string>
      <string>glyphs.F_eb 24 17, 14_32</string>
    </array>
    <array>
      <string>Feb 24 17, 14:32.background</string>
      <string>glyphs.F_eb 24 17, 14_32.background</string>
    </array>
    <array>
      <string>Feb 24 17, 13:35</string>
      <string>glyphs.F_eb 24 17, 13_35</string>
    </array>
    <array>
      <string>Feb 27 17, 17:35</string>
      <string>glyphs.F_eb 27 17, 17_35</string>
    </array>
    <array>
      <string>Jun 26 19, 14:16</string>
      <string>glyphs.J_un 26 19, 14_16</string>
    </array>
  </array>
</plist>
