<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni10000</key>
    <string>uni10000.glif</string>
    <key>uni10001</key>
    <string>uni10001.glif</string>
    <key>uni10002</key>
    <string>uni10002.glif</string>
    <key>uni10003</key>
    <string>uni10003.glif</string>
    <key>uni10004</key>
    <string>uni10004.glif</string>
    <key>uni10005</key>
    <string>uni10005.glif</string>
    <key>uni10006</key>
    <string>uni10006.glif</string>
    <key>uni10007</key>
    <string>uni10007.glif</string>
    <key>uni10008</key>
    <string>uni10008.glif</string>
    <key>uni10009</key>
    <string>uni10009.glif</string>
    <key>uni1000A</key>
    <string>uni1000A_.glif</string>
    <key>uni1000B</key>
    <string>uni1000B_.glif</string>
    <key>uni1000D</key>
    <string>uni1000D_.glif</string>
    <key>uni1000E</key>
    <string>uni1000E_.glif</string>
    <key>uni1000F</key>
    <string>uni1000F_.glif</string>
    <key>uni10010</key>
    <string>uni10010.glif</string>
    <key>uni10011</key>
    <string>uni10011.glif</string>
    <key>uni10012</key>
    <string>uni10012.glif</string>
    <key>uni10013</key>
    <string>uni10013.glif</string>
    <key>uni10014</key>
    <string>uni10014.glif</string>
    <key>uni10015</key>
    <string>uni10015.glif</string>
    <key>uni10016</key>
    <string>uni10016.glif</string>
    <key>uni10017</key>
    <string>uni10017.glif</string>
    <key>uni10018</key>
    <string>uni10018.glif</string>
    <key>uni10019</key>
    <string>uni10019.glif</string>
    <key>uni1001A</key>
    <string>uni1001A_.glif</string>
    <key>uni1001B</key>
    <string>uni1001B_.glif</string>
    <key>uni1001C</key>
    <string>uni1001C_.glif</string>
    <key>uni1001D</key>
    <string>uni1001D_.glif</string>
    <key>uni1001E</key>
    <string>uni1001E_.glif</string>
    <key>uni1001F</key>
    <string>uni1001F_.glif</string>
    <key>uni10020</key>
    <string>uni10020.glif</string>
    <key>uni10021</key>
    <string>uni10021.glif</string>
    <key>uni10022</key>
    <string>uni10022.glif</string>
    <key>uni10023</key>
    <string>uni10023.glif</string>
    <key>uni10024</key>
    <string>uni10024.glif</string>
    <key>uni10025</key>
    <string>uni10025.glif</string>
    <key>uni10026</key>
    <string>uni10026.glif</string>
    <key>uni10028</key>
    <string>uni10028.glif</string>
    <key>uni10029</key>
    <string>uni10029.glif</string>
    <key>uni1002A</key>
    <string>uni1002A_.glif</string>
    <key>uni1002B</key>
    <string>uni1002B_.glif</string>
    <key>uni1002C</key>
    <string>uni1002C_.glif</string>
    <key>uni1002D</key>
    <string>uni1002D_.glif</string>
    <key>uni1002E</key>
    <string>uni1002E_.glif</string>
    <key>uni1002F</key>
    <string>uni1002F_.glif</string>
    <key>uni10030</key>
    <string>uni10030.glif</string>
    <key>uni10031</key>
    <string>uni10031.glif</string>
    <key>uni10032</key>
    <string>uni10032.glif</string>
    <key>uni10033</key>
    <string>uni10033.glif</string>
    <key>uni10034</key>
    <string>uni10034.glif</string>
    <key>uni10035</key>
    <string>uni10035.glif</string>
    <key>uni10036</key>
    <string>uni10036.glif</string>
    <key>uni10037</key>
    <string>uni10037.glif</string>
    <key>uni10038</key>
    <string>uni10038.glif</string>
    <key>uni10039</key>
    <string>uni10039.glif</string>
    <key>uni1003A</key>
    <string>uni1003A_.glif</string>
    <key>uni1003C</key>
    <string>uni1003C_.glif</string>
    <key>uni1003D</key>
    <string>uni1003D_.glif</string>
    <key>uni1003F</key>
    <string>uni1003F_.glif</string>
    <key>uni10040</key>
    <string>uni10040.glif</string>
    <key>uni10041</key>
    <string>uni10041.glif</string>
    <key>uni10042</key>
    <string>uni10042.glif</string>
    <key>uni10043</key>
    <string>uni10043.glif</string>
    <key>uni10044</key>
    <string>uni10044.glif</string>
    <key>uni10045</key>
    <string>uni10045.glif</string>
    <key>uni10046</key>
    <string>uni10046.glif</string>
    <key>uni10047</key>
    <string>uni10047.glif</string>
    <key>uni10048</key>
    <string>uni10048.glif</string>
    <key>uni10049</key>
    <string>uni10049.glif</string>
    <key>uni1004A</key>
    <string>uni1004A_.glif</string>
    <key>uni1004B</key>
    <string>uni1004B_.glif</string>
    <key>uni1004C</key>
    <string>uni1004C_.glif</string>
    <key>uni1004D</key>
    <string>uni1004D_.glif</string>
    <key>uni10050</key>
    <string>uni10050.glif</string>
    <key>uni10051</key>
    <string>uni10051.glif</string>
    <key>uni10052</key>
    <string>uni10052.glif</string>
    <key>uni10053</key>
    <string>uni10053.glif</string>
    <key>uni10054</key>
    <string>uni10054.glif</string>
    <key>uni10055</key>
    <string>uni10055.glif</string>
    <key>uni10056</key>
    <string>uni10056.glif</string>
    <key>uni10057</key>
    <string>uni10057.glif</string>
    <key>uni10058</key>
    <string>uni10058.glif</string>
    <key>uni10059</key>
    <string>uni10059.glif</string>
    <key>uni1005A</key>
    <string>uni1005A_.glif</string>
    <key>uni1005B</key>
    <string>uni1005B_.glif</string>
    <key>uni1005C</key>
    <string>uni1005C_.glif</string>
    <key>uni1005D</key>
    <string>uni1005D_.glif</string>
    <key>uni10080</key>
    <string>uni10080.glif</string>
    <key>uni10081</key>
    <string>uni10081.glif</string>
    <key>uni10082</key>
    <string>uni10082.glif</string>
    <key>uni10083</key>
    <string>uni10083.glif</string>
    <key>uni10084</key>
    <string>uni10084.glif</string>
    <key>uni10085</key>
    <string>uni10085.glif</string>
    <key>uni10086</key>
    <string>uni10086.glif</string>
    <key>uni10087</key>
    <string>uni10087.glif</string>
    <key>uni10088</key>
    <string>uni10088.glif</string>
    <key>uni10089</key>
    <string>uni10089.glif</string>
    <key>uni1008A</key>
    <string>uni1008A_.glif</string>
    <key>uni1008B</key>
    <string>uni1008B_.glif</string>
    <key>uni1008C</key>
    <string>uni1008C_.glif</string>
    <key>uni1008D</key>
    <string>uni1008D_.glif</string>
    <key>uni1008E</key>
    <string>uni1008E_.glif</string>
    <key>uni1008F</key>
    <string>uni1008F_.glif</string>
    <key>uni10090</key>
    <string>uni10090.glif</string>
    <key>uni10091</key>
    <string>uni10091.glif</string>
    <key>uni10092</key>
    <string>uni10092.glif</string>
    <key>uni10093</key>
    <string>uni10093.glif</string>
    <key>uni10094</key>
    <string>uni10094.glif</string>
    <key>uni10095</key>
    <string>uni10095.glif</string>
    <key>uni10096</key>
    <string>uni10096.glif</string>
    <key>uni10097</key>
    <string>uni10097.glif</string>
    <key>uni10098</key>
    <string>uni10098.glif</string>
    <key>uni10099</key>
    <string>uni10099.glif</string>
    <key>uni1009A</key>
    <string>uni1009A_.glif</string>
    <key>uni1009B</key>
    <string>uni1009B_.glif</string>
    <key>uni1009C</key>
    <string>uni1009C_.glif</string>
    <key>uni1009D</key>
    <string>uni1009D_.glif</string>
    <key>uni1009E</key>
    <string>uni1009E_.glif</string>
    <key>uni1009F</key>
    <string>uni1009F_.glif</string>
    <key>uni100A0</key>
    <string>uni100A_0.glif</string>
    <key>uni100A1</key>
    <string>uni100A_1.glif</string>
    <key>uni100A2</key>
    <string>uni100A_2.glif</string>
    <key>uni100A3</key>
    <string>uni100A_3.glif</string>
    <key>uni100A4</key>
    <string>uni100A_4.glif</string>
    <key>uni100A5</key>
    <string>uni100A_5.glif</string>
    <key>uni100A6</key>
    <string>uni100A_6.glif</string>
    <key>uni100A7</key>
    <string>uni100A_7.glif</string>
    <key>uni100A8</key>
    <string>uni100A_8.glif</string>
    <key>uni100A9</key>
    <string>uni100A_9.glif</string>
    <key>uni100AA</key>
    <string>uni100A_A_.glif</string>
    <key>uni100AB</key>
    <string>uni100A_B_.glif</string>
    <key>uni100AC</key>
    <string>uni100A_C_.glif</string>
    <key>uni100AD</key>
    <string>uni100A_D_.glif</string>
    <key>uni100AE</key>
    <string>uni100A_E_.glif</string>
    <key>uni100AF</key>
    <string>uni100A_F_.glif</string>
    <key>uni100B0</key>
    <string>uni100B_0.glif</string>
    <key>uni100B1</key>
    <string>uni100B_1.glif</string>
    <key>uni100B2</key>
    <string>uni100B_2.glif</string>
    <key>uni100B3</key>
    <string>uni100B_3.glif</string>
    <key>uni100B4</key>
    <string>uni100B_4.glif</string>
    <key>uni100B5</key>
    <string>uni100B_5.glif</string>
    <key>uni100B6</key>
    <string>uni100B_6.glif</string>
    <key>uni100B7</key>
    <string>uni100B_7.glif</string>
    <key>uni100B8</key>
    <string>uni100B_8.glif</string>
    <key>uni100B9</key>
    <string>uni100B_9.glif</string>
    <key>uni100BA</key>
    <string>uni100B_A_.glif</string>
    <key>uni100BB</key>
    <string>uni100B_B_.glif</string>
    <key>uni100BC</key>
    <string>uni100B_C_.glif</string>
    <key>uni100BD</key>
    <string>uni100B_D_.glif</string>
    <key>uni100BE</key>
    <string>uni100B_E_.glif</string>
    <key>uni100BF</key>
    <string>uni100B_F_.glif</string>
    <key>uni100C0</key>
    <string>uni100C_0.glif</string>
    <key>uni100C1</key>
    <string>uni100C_1.glif</string>
    <key>uni100C2</key>
    <string>uni100C_2.glif</string>
    <key>uni100C3</key>
    <string>uni100C_3.glif</string>
    <key>uni100C4</key>
    <string>uni100C_4.glif</string>
    <key>uni100C5</key>
    <string>uni100C_5.glif</string>
    <key>uni100C6</key>
    <string>uni100C_6.glif</string>
    <key>uni100C7</key>
    <string>uni100C_7.glif</string>
    <key>uni100C8</key>
    <string>uni100C_8.glif</string>
    <key>uni100C9</key>
    <string>uni100C_9.glif</string>
    <key>uni100CA</key>
    <string>uni100C_A_.glif</string>
    <key>uni100CB</key>
    <string>uni100C_B_.glif</string>
    <key>uni100CC</key>
    <string>uni100C_C_.glif</string>
    <key>uni100CD</key>
    <string>uni100C_D_.glif</string>
    <key>uni100CE</key>
    <string>uni100C_E_.glif</string>
    <key>uni100CF</key>
    <string>uni100C_F_.glif</string>
    <key>uni100D0</key>
    <string>uni100D_0.glif</string>
    <key>uni100D1</key>
    <string>uni100D_1.glif</string>
    <key>uni100D2</key>
    <string>uni100D_2.glif</string>
    <key>uni100D3</key>
    <string>uni100D_3.glif</string>
    <key>uni100D4</key>
    <string>uni100D_4.glif</string>
    <key>uni100D5</key>
    <string>uni100D_5.glif</string>
    <key>uni100D6</key>
    <string>uni100D_6.glif</string>
    <key>uni100D7</key>
    <string>uni100D_7.glif</string>
    <key>uni100D8</key>
    <string>uni100D_8.glif</string>
    <key>uni100D9</key>
    <string>uni100D_9.glif</string>
    <key>uni100DA</key>
    <string>uni100D_A_.glif</string>
    <key>uni100DB</key>
    <string>uni100D_B_.glif</string>
    <key>uni100DC</key>
    <string>uni100D_C_.glif</string>
    <key>uni100DD</key>
    <string>uni100D_D_.glif</string>
    <key>uni100DE</key>
    <string>uni100D_E_.glif</string>
    <key>uni100DF</key>
    <string>uni100D_F_.glif</string>
    <key>uni100E0</key>
    <string>uni100E_0.glif</string>
    <key>uni100E1</key>
    <string>uni100E_1.glif</string>
    <key>uni100E2</key>
    <string>uni100E_2.glif</string>
    <key>uni100E3</key>
    <string>uni100E_3.glif</string>
    <key>uni100E4</key>
    <string>uni100E_4.glif</string>
    <key>uni100E5</key>
    <string>uni100E_5.glif</string>
    <key>uni100E6</key>
    <string>uni100E_6.glif</string>
    <key>uni100E7</key>
    <string>uni100E_7.glif</string>
    <key>uni100E8</key>
    <string>uni100E_8.glif</string>
    <key>uni100E9</key>
    <string>uni100E_9.glif</string>
    <key>uni100EA</key>
    <string>uni100E_A_.glif</string>
    <key>uni100EB</key>
    <string>uni100E_B_.glif</string>
    <key>uni100EC</key>
    <string>uni100E_C_.glif</string>
    <key>uni100ED</key>
    <string>uni100E_D_.glif</string>
    <key>uni100EE</key>
    <string>uni100E_E_.glif</string>
    <key>uni100EF</key>
    <string>uni100E_F_.glif</string>
    <key>uni100F0</key>
    <string>uni100F_0.glif</string>
    <key>uni100F1</key>
    <string>uni100F_1.glif</string>
    <key>uni100F2</key>
    <string>uni100F_2.glif</string>
    <key>uni100F3</key>
    <string>uni100F_3.glif</string>
    <key>uni100F4</key>
    <string>uni100F_4.glif</string>
    <key>uni100F5</key>
    <string>uni100F_5.glif</string>
    <key>uni100F6</key>
    <string>uni100F_6.glif</string>
    <key>uni100F7</key>
    <string>uni100F_7.glif</string>
    <key>uni100F8</key>
    <string>uni100F_8.glif</string>
    <key>uni100F9</key>
    <string>uni100F_9.glif</string>
    <key>uni100FA</key>
    <string>uni100F_A_.glif</string>
    <key>uni10100</key>
    <string>uni10100.glif</string>
    <key>uni10101</key>
    <string>uni10101.glif</string>
    <key>uni10102</key>
    <string>uni10102.glif</string>
    <key>uni10107</key>
    <string>uni10107.glif</string>
    <key>uni10108</key>
    <string>uni10108.glif</string>
    <key>uni10109</key>
    <string>uni10109.glif</string>
    <key>uni1010A</key>
    <string>uni1010A_.glif</string>
    <key>uni1010B</key>
    <string>uni1010B_.glif</string>
    <key>uni1010C</key>
    <string>uni1010C_.glif</string>
    <key>uni1010D</key>
    <string>uni1010D_.glif</string>
    <key>uni1010E</key>
    <string>uni1010E_.glif</string>
    <key>uni1010F</key>
    <string>uni1010F_.glif</string>
    <key>uni10110</key>
    <string>uni10110.glif</string>
    <key>uni10111</key>
    <string>uni10111.glif</string>
    <key>uni10112</key>
    <string>uni10112.glif</string>
    <key>uni10113</key>
    <string>uni10113.glif</string>
    <key>uni10114</key>
    <string>uni10114.glif</string>
    <key>uni10115</key>
    <string>uni10115.glif</string>
    <key>uni10116</key>
    <string>uni10116.glif</string>
    <key>uni10117</key>
    <string>uni10117.glif</string>
    <key>uni10118</key>
    <string>uni10118.glif</string>
    <key>uni10119</key>
    <string>uni10119.glif</string>
    <key>uni1011A</key>
    <string>uni1011A_.glif</string>
    <key>uni1011B</key>
    <string>uni1011B_.glif</string>
    <key>uni1011C</key>
    <string>uni1011C_.glif</string>
    <key>uni1011D</key>
    <string>uni1011D_.glif</string>
    <key>uni1011E</key>
    <string>uni1011E_.glif</string>
    <key>uni1011F</key>
    <string>uni1011F_.glif</string>
    <key>uni10120</key>
    <string>uni10120.glif</string>
    <key>uni10121</key>
    <string>uni10121.glif</string>
    <key>uni10122</key>
    <string>uni10122.glif</string>
    <key>uni10123</key>
    <string>uni10123.glif</string>
    <key>uni10124</key>
    <string>uni10124.glif</string>
    <key>uni10125</key>
    <string>uni10125.glif</string>
    <key>uni10126</key>
    <string>uni10126.glif</string>
    <key>uni10127</key>
    <string>uni10127.glif</string>
    <key>uni10128</key>
    <string>uni10128.glif</string>
    <key>uni10129</key>
    <string>uni10129.glif</string>
    <key>uni1012A</key>
    <string>uni1012A_.glif</string>
    <key>uni1012B</key>
    <string>uni1012B_.glif</string>
    <key>uni1012C</key>
    <string>uni1012C_.glif</string>
    <key>uni1012D</key>
    <string>uni1012D_.glif</string>
    <key>uni1012E</key>
    <string>uni1012E_.glif</string>
    <key>uni1012F</key>
    <string>uni1012F_.glif</string>
    <key>uni10130</key>
    <string>uni10130.glif</string>
    <key>uni10131</key>
    <string>uni10131.glif</string>
    <key>uni10132</key>
    <string>uni10132.glif</string>
    <key>uni10133</key>
    <string>uni10133.glif</string>
    <key>uni10137</key>
    <string>uni10137.glif</string>
    <key>uni10138</key>
    <string>uni10138.glif</string>
    <key>uni10139</key>
    <string>uni10139.glif</string>
    <key>uni1013A</key>
    <string>uni1013A_.glif</string>
    <key>uni1013B</key>
    <string>uni1013B_.glif</string>
    <key>uni1013C</key>
    <string>uni1013C_.glif</string>
    <key>uni1013D</key>
    <string>uni1013D_.glif</string>
    <key>uni1013E</key>
    <string>uni1013E_.glif</string>
    <key>uni1013F</key>
    <string>uni1013F_.glif</string>
  </dict>
</plist>
