<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>13</integer>
    <key>GSOffsetMakeStroke</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>16</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u1D2E0</string>
      <string>u1D2E1</string>
      <string>u1D2E2</string>
      <string>u1D2E3</string>
      <string>u1D2E4</string>
      <string>u1D2E5</string>
      <string>u1D2E6</string>
      <string>u1D2E7</string>
      <string>u1D2E8</string>
      <string>u1D2E9</string>
      <string>u1D2EA</string>
      <string>u1D2EB</string>
      <string>u1D2EC</string>
      <string>u1D2ED</string>
      <string>u1D2EE</string>
      <string>u1D2EF</string>
      <string>u1D2F0</string>
      <string>u1D2F1</string>
      <string>u1D2F2</string>
      <string>u1D2F3</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
