<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Nov 21 19, 09:01</string>
      <string>glyphs.N_ov 21 19, 09_01</string>
    </array>
    <array>
      <string>Nov 14 19, 14:13</string>
      <string>glyphs.N_ov 14 19, 14_13</string>
    </array>
    <array>
      <string>Nov 21 19, 16:47</string>
      <string>glyphs.N_ov 21 19, 16_47</string>
    </array>
    <array>
      <string>Nov 21 19, 16:56</string>
      <string>glyphs.N_ov 21 19, 16_56</string>
    </array>
    <array>
      <string>Nov 25 19, 08:25</string>
      <string>glyphs.N_ov 25 19, 08_25</string>
    </array>
    <array>
      <string>Nov 21 19, 10:04</string>
      <string>glyphs.N_ov 21 19, 10_04</string>
    </array>
    <array>
      <string>Nov 21 19, 11:10</string>
      <string>glyphs.N_ov 21 19, 11_10</string>
    </array>
    <array>
      <string>Nov 21 19, 11:33</string>
      <string>glyphs.N_ov 21 19, 11_33</string>
    </array>
    <array>
      <string>Nov 21 19, 12:19</string>
      <string>glyphs.N_ov 21 19, 12_19</string>
    </array>
    <array>
      <string>Nov 21 19, 14:09</string>
      <string>glyphs.N_ov 21 19, 14_09</string>
    </array>
    <array>
      <string>Nov 21 19, 17:05</string>
      <string>glyphs.N_ov 21 19, 17_05</string>
    </array>
  </array>
</plist>
