<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10920</key>
    <string>u10920.glif</string>
    <key>u10921</key>
    <string>u10921.glif</string>
    <key>u10922</key>
    <string>u10922.glif</string>
    <key>u10923</key>
    <string>u10923.glif</string>
    <key>u10924</key>
    <string>u10924.glif</string>
    <key>u10925</key>
    <string>u10925.glif</string>
    <key>u10926</key>
    <string>u10926.glif</string>
    <key>u10927</key>
    <string>u10927.glif</string>
    <key>u10928</key>
    <string>u10928.glif</string>
    <key>u10929</key>
    <string>u10929.glif</string>
    <key>u1092A</key>
    <string>u1092A_.glif</string>
    <key>u1092B</key>
    <string>u1092B_.glif</string>
    <key>u1092C</key>
    <string>u1092C_.glif</string>
    <key>u1092D</key>
    <string>u1092D_.glif</string>
    <key>u1092E</key>
    <string>u1092E_.glif</string>
    <key>u1092F</key>
    <string>u1092F_.glif</string>
    <key>u10930</key>
    <string>u10930.glif</string>
    <key>u10931</key>
    <string>u10931.glif</string>
    <key>u10932</key>
    <string>u10932.glif</string>
    <key>u10933</key>
    <string>u10933.glif</string>
    <key>u10934</key>
    <string>u10934.glif</string>
    <key>u10935</key>
    <string>u10935.glif</string>
    <key>u10936</key>
    <string>u10936.glif</string>
    <key>u10937</key>
    <string>u10937.glif</string>
    <key>u10938</key>
    <string>u10938.glif</string>
    <key>u10939</key>
    <string>u10939.glif</string>
    <key>u1093F</key>
    <string>u1093F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
