<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansGurmukhiUI-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gurmukhi UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gurmukhi UI 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gurmukhi UI GSUB.txt</string>
	</dict>
	
	<key>NotoSansGurmukhiUI-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gurmukhi UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gurmukhi UI 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gurmukhi UI GSUB.txt</string>
	</dict>
	
	<key>NotoSansGurmukhiUI-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gurmukhi UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gurmukhi UI 151-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gurmukhi UI GSUB.txt</string>
	</dict>
	
	<key>NotoSansGurmukhiUI-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gurmukhi UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gurmukhi UI 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gurmukhi UI GSUB.txt</string>
	</dict>

	<key>NotoSansGurmukhiUI-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gurmukhi UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gurmukhi UI 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gurmukhi UI GSUB.txt</string>
	</dict>
		
	<key>NotoSansGurmukhiUI-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gurmukhi UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gurmukhi UI 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gurmukhi UI GSUB.txt</string>
	</dict>
		
	<key>NotoSansGurmukhiUI-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gurmukhi UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gurmukhi UI 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gurmukhi UI GSUB.txt</string>
	</dict>
		
</dict>
</plist>

