<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1057</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.InstanceDescriptorAsGSInstance.xHeight</key>
    <string>536</string>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>designspace.location</key>
    <array>
      <array>
        <string>Weight</string>
        <real>100.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>hyphen</string>
      <string>uni00A0</string>
      <string>uni0300</string>
      <string>uni0301</string>
      <string>uni0302</string>
      <string>uni0304</string>
      <string>uni0305</string>
      <string>uni0307</string>
      <string>uni0308</string>
      <string>uni0323</string>
      <string>uni033F</string>
      <string>uni0361</string>
      <string>uni0374</string>
      <string>uni0375</string>
      <string>uni03E2</string>
      <string>uni03E3</string>
      <string>uni03E4</string>
      <string>uni03E5</string>
      <string>uni03E6</string>
      <string>uni03E7</string>
      <string>uni03E8</string>
      <string>uni03E9</string>
      <string>uni03EA</string>
      <string>uni03EB</string>
      <string>uni03EC</string>
      <string>uni03ED</string>
      <string>uni03EE</string>
      <string>uni03EF</string>
      <string>uni1DCD</string>
      <string>uni2E17</string>
      <string>uni2C80</string>
      <string>uni2C81</string>
      <string>uni2C82</string>
      <string>uni2C83</string>
      <string>uni2C84</string>
      <string>uni2C85</string>
      <string>uni2C86</string>
      <string>uni2C87</string>
      <string>uni2C88</string>
      <string>uni2C89</string>
      <string>uni2C8A</string>
      <string>uni2C8B</string>
      <string>uni2C8C</string>
      <string>uni2C8D</string>
      <string>uni2C8E</string>
      <string>uni2C8F</string>
      <string>uni2C90</string>
      <string>uni2C91</string>
      <string>uni2C92</string>
      <string>uni2C93</string>
      <string>uni2C94</string>
      <string>uni2C95</string>
      <string>uni2C96</string>
      <string>uni2C97</string>
      <string>uni2C98</string>
      <string>uni2C99</string>
      <string>uni2C9A</string>
      <string>uni2C9B</string>
      <string>uni2C9C</string>
      <string>uni2C9D</string>
      <string>uni2C9E</string>
      <string>uni2C9F</string>
      <string>uni2CA0</string>
      <string>uni2CA1</string>
      <string>uni2CA2</string>
      <string>uni2CA3</string>
      <string>uni2CA4</string>
      <string>uni2CA5</string>
      <string>uni2CA6</string>
      <string>uni2CA7</string>
      <string>uni2CA8</string>
      <string>uni2CA9</string>
      <string>uni2CAA</string>
      <string>uni2CAB</string>
      <string>uni2CAC</string>
      <string>uni2CAD</string>
      <string>uni2CAE</string>
      <string>uni2CAF</string>
      <string>uni2CB0</string>
      <string>uni2CB1</string>
      <string>uni2CB2</string>
      <string>uni2CB3</string>
      <string>uni2CB4</string>
      <string>uni2CB5</string>
      <string>uni2CB6</string>
      <string>uni2CB7</string>
      <string>uni2CB8</string>
      <string>uni2CB9</string>
      <string>uni2CBA</string>
      <string>uni2CBB</string>
      <string>uni2CBC</string>
      <string>uni2CBD</string>
      <string>uni2CBE</string>
      <string>uni2CBF</string>
      <string>uni2CC0</string>
      <string>uni2CC1</string>
      <string>uni2CC2</string>
      <string>uni2CC3</string>
      <string>uni2CC4</string>
      <string>uni2CC5</string>
      <string>uni2CC6</string>
      <string>uni2CC7</string>
      <string>uni2CC8</string>
      <string>uni2CC9</string>
      <string>uni2CCA</string>
      <string>uni2CCB</string>
      <string>uni2CCC</string>
      <string>uni2CCD</string>
      <string>uni2CCE</string>
      <string>uni2CCF</string>
      <string>uni2CD0</string>
      <string>uni2CD1</string>
      <string>uni2CD2</string>
      <string>uni2CD3</string>
      <string>uni2CD4</string>
      <string>uni2CD5</string>
      <string>uni2CD6</string>
      <string>uni2CD7</string>
      <string>uni2CD8</string>
      <string>uni2CD9</string>
      <string>uni2CDA</string>
      <string>uni2CDB</string>
      <string>uni2CDC</string>
      <string>uni2CDD</string>
      <string>uni2CDE</string>
      <string>uni2CDF</string>
      <string>uni2CE0</string>
      <string>uni2CE1</string>
      <string>uni2CE2</string>
      <string>uni2CE3</string>
      <string>uni2CE4</string>
      <string>uni2CE5</string>
      <string>uni2CE6</string>
      <string>uni2CE7</string>
      <string>uni2CE8</string>
      <string>uni2CE9</string>
      <string>uni2CEA</string>
      <string>uni2CEB</string>
      <string>uni2CEC</string>
      <string>uni2CED</string>
      <string>uni2CEE</string>
      <string>uni2CEF</string>
      <string>uni2CF0</string>
      <string>uni2CF1</string>
      <string>uni2CF2</string>
      <string>uni2CF3</string>
      <string>uni2CF9</string>
      <string>uni2CFA</string>
      <string>uni2CFB</string>
      <string>uni2CFC</string>
      <string>uni2CFD</string>
      <string>uni2CFE</string>
      <string>uni2CFF</string>
      <string>uniFE24</string>
      <string>uniFE25</string>
      <string>uniFE26</string>
      <string>u102E0</string>
      <string>u102E1</string>
      <string>u102E2</string>
      <string>u102E3</string>
      <string>u102E4</string>
      <string>u102E5</string>
      <string>u102E6</string>
      <string>u102E7</string>
      <string>u102E8</string>
      <string>u102E9</string>
      <string>u102EA</string>
      <string>u102EB</string>
      <string>u102EC</string>
      <string>u102ED</string>
      <string>u102EE</string>
      <string>u102EF</string>
      <string>u102F0</string>
      <string>u102F1</string>
      <string>u102F2</string>
      <string>u102F3</string>
      <string>u102F4</string>
      <string>u102F5</string>
      <string>u102F6</string>
      <string>u102F7</string>
      <string>u102F8</string>
      <string>u102F9</string>
      <string>u102FA</string>
      <string>u102FB</string>
      <string>uni2010</string>
      <string>uni25CC</string>
      <string>uni0305_small</string>
      <string>uni0305_medium</string>
      <string>uni0305_large</string>
      <string>uni0305_xlarge</string>
      <string>uni0305_xxlarge</string>
      <string>uni0305_small.cap</string>
      <string>uni0305_medium.cap</string>
      <string>uni0305_large.cap</string>
      <string>uni0305_xlarge.cap</string>
      <string>uni0305_xxlarge.cap</string>
      <string>uni0305.cap</string>
      <string>uni033F.cap</string>
      <string>uniFE26.cap</string>
      <string>uni033F.large.cap</string>
      <string>uniFE26.large.cap</string>
      <string>uniFE24.cap</string>
      <string>uniFE25.cap</string>
      <string>uni033F.medium.cap</string>
      <string>uniFE26.medium.cap</string>
      <string>uni033F.small.cap</string>
      <string>uniFE26.small.cap</string>
      <string>uni033F.xlarge.cap</string>
      <string>uniFE26.xlarge.cap</string>
      <string>uni033F.xxlarge.cap</string>
      <string>uniFE26.xxlarge.cap</string>
      <string>uni033F.large</string>
      <string>uniFE26.large</string>
      <string>uni033F.medium</string>
      <string>uniFE26.medium</string>
      <string>uni033F.small</string>
      <string>uniFE26.small</string>
      <string>uni033F.xlarge</string>
      <string>uniFE26.xlarge</string>
      <string>uni033F.xxlarge</string>
      <string>uniFE26.xxlarge</string>
    </array>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
