<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10300</key>
    <string>u10300.glif</string>
    <key>u10300_r</key>
    <string>u10300_r.glif</string>
    <key>u10301</key>
    <string>u10301.glif</string>
    <key>u10301_r</key>
    <string>u10301_r.glif</string>
    <key>u10302</key>
    <string>u10302.glif</string>
    <key>u10302_r</key>
    <string>u10302_r.glif</string>
    <key>u10303</key>
    <string>u10303.glif</string>
    <key>u10303_r</key>
    <string>u10303_r.glif</string>
    <key>u10304</key>
    <string>u10304.glif</string>
    <key>u10304_r</key>
    <string>u10304_r.glif</string>
    <key>u10305</key>
    <string>u10305.glif</string>
    <key>u10305_r</key>
    <string>u10305_r.glif</string>
    <key>u10306</key>
    <string>u10306.glif</string>
    <key>u10306_r</key>
    <string>u10306_r.glif</string>
    <key>u10307</key>
    <string>u10307.glif</string>
    <key>u10308</key>
    <string>u10308.glif</string>
    <key>u10309</key>
    <string>u10309.glif</string>
    <key>u1030A</key>
    <string>u1030A_.glif</string>
    <key>u1030A_r</key>
    <string>u1030A__r.glif</string>
    <key>u1030B</key>
    <string>u1030B_.glif</string>
    <key>u1030B_r</key>
    <string>u1030B__r.glif</string>
    <key>u1030C</key>
    <string>u1030C_.glif</string>
    <key>u1030C_r</key>
    <string>u1030C__r.glif</string>
    <key>u1030D</key>
    <string>u1030D_.glif</string>
    <key>u1030D_r</key>
    <string>u1030D__r.glif</string>
    <key>u1030E</key>
    <string>u1030E_.glif</string>
    <key>u1030F</key>
    <string>u1030F_.glif</string>
    <key>u10310</key>
    <string>u10310.glif</string>
    <key>u10310_r</key>
    <string>u10310_r.glif</string>
    <key>u10311</key>
    <string>u10311.glif</string>
    <key>u10312</key>
    <string>u10312.glif</string>
    <key>u10313</key>
    <string>u10313.glif</string>
    <key>u10313_r</key>
    <string>u10313_r.glif</string>
    <key>u10314</key>
    <string>u10314.glif</string>
    <key>u10314_r</key>
    <string>u10314_r.glif</string>
    <key>u10315</key>
    <string>u10315.glif</string>
    <key>u10315_r</key>
    <string>u10315_r.glif</string>
    <key>u10316</key>
    <string>u10316.glif</string>
    <key>u10317</key>
    <string>u10317.glif</string>
    <key>u10318</key>
    <string>u10318.glif</string>
    <key>u10319</key>
    <string>u10319.glif</string>
    <key>u1031A</key>
    <string>u1031A_.glif</string>
    <key>u1031B</key>
    <string>u1031B_.glif</string>
    <key>u1031B_r</key>
    <string>u1031B__r.glif</string>
    <key>u1031C</key>
    <string>u1031C_.glif</string>
    <key>u1031C_r</key>
    <string>u1031C__r.glif</string>
    <key>u1031D</key>
    <string>u1031D_.glif</string>
    <key>u1031D_r</key>
    <string>u1031D__r.glif</string>
    <key>u1031E</key>
    <string>u1031E_.glif</string>
    <key>u1031F</key>
    <string>u1031F_.glif</string>
    <key>u10320</key>
    <string>u10320.glif</string>
    <key>u10321</key>
    <string>u10321.glif</string>
    <key>u10322</key>
    <string>u10322.glif</string>
    <key>u10323</key>
    <string>u10323.glif</string>
    <key>u1032D</key>
    <string>u1032D_.glif</string>
    <key>u1032D_r</key>
    <string>u1032D__r.glif</string>
    <key>u1032E</key>
    <string>u1032E_.glif</string>
    <key>u1032E_r</key>
    <string>u1032E__r.glif</string>
    <key>u1032F</key>
    <string>u1032F_.glif</string>
    <key>u1032F_r</key>
    <string>u1032F__r.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
