<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10300</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10300_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10301</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10301_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10302</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10302_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10303</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10303_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10304</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10304_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10305</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10305_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10306</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10306_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10307</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10308</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10309</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030A_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030B_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030C_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030D_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1030F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10310</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10310_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10311</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10312</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10313</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10313_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10314</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10314_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10315</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10315_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10316</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10317</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10318</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10319</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1031A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1031B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1031B_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1031C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1031C_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1031D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1031D_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1031E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1031F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10320</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10321</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10322</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10323</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1032D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1032D_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1032E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1032E_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1032F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1032F_r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
