<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>uniAA00</key>
    <string>uniA_A_00.glif</string>
    <key>uniAA01</key>
    <string>uniA_A_01.glif</string>
    <key>uniAA02</key>
    <string>uniA_A_02.glif</string>
    <key>uniAA03</key>
    <string>uniA_A_03.glif</string>
    <key>uniAA04</key>
    <string>uniA_A_04.glif</string>
    <key>uniAA05</key>
    <string>uniA_A_05.glif</string>
    <key>uniAA06</key>
    <string>uniA_A_06.glif</string>
    <key>uniAA07</key>
    <string>uniA_A_07.glif</string>
    <key>uniAA08</key>
    <string>uniA_A_08.glif</string>
    <key>uniAA09</key>
    <string>uniA_A_09.glif</string>
    <key>uniAA0A</key>
    <string>uniA_A_0A_.glif</string>
    <key>uniAA0B</key>
    <string>uniA_A_0B_.glif</string>
    <key>uniAA0C</key>
    <string>uniA_A_0C_.glif</string>
    <key>uniAA0D</key>
    <string>uniA_A_0D_.glif</string>
    <key>uniAA0E</key>
    <string>uniA_A_0E_.glif</string>
    <key>uniAA0F</key>
    <string>uniA_A_0F_.glif</string>
    <key>uniAA10</key>
    <string>uniA_A_10.glif</string>
    <key>uniAA11</key>
    <string>uniA_A_11.glif</string>
    <key>uniAA12</key>
    <string>uniA_A_12.glif</string>
    <key>uniAA13</key>
    <string>uniA_A_13.glif</string>
    <key>uniAA14</key>
    <string>uniA_A_14.glif</string>
    <key>uniAA15</key>
    <string>uniA_A_15.glif</string>
    <key>uniAA16</key>
    <string>uniA_A_16.glif</string>
    <key>uniAA17</key>
    <string>uniA_A_17.glif</string>
    <key>uniAA18</key>
    <string>uniA_A_18.glif</string>
    <key>uniAA19</key>
    <string>uniA_A_19.glif</string>
    <key>uniAA1A</key>
    <string>uniA_A_1A_.glif</string>
    <key>uniAA1B</key>
    <string>uniA_A_1B_.glif</string>
    <key>uniAA1C</key>
    <string>uniA_A_1C_.glif</string>
    <key>uniAA1D</key>
    <string>uniA_A_1D_.glif</string>
    <key>uniAA1E</key>
    <string>uniA_A_1E_.glif</string>
    <key>uniAA1F</key>
    <string>uniA_A_1F_.glif</string>
    <key>uniAA20</key>
    <string>uniA_A_20.glif</string>
    <key>uniAA21</key>
    <string>uniA_A_21.glif</string>
    <key>uniAA22</key>
    <string>uniA_A_22.glif</string>
    <key>uniAA23</key>
    <string>uniA_A_23.glif</string>
    <key>uniAA24</key>
    <string>uniA_A_24.glif</string>
    <key>uniAA25</key>
    <string>uniA_A_25.glif</string>
    <key>uniAA26</key>
    <string>uniA_A_26.glif</string>
    <key>uniAA27</key>
    <string>uniA_A_27.glif</string>
    <key>uniAA28</key>
    <string>uniA_A_28.glif</string>
    <key>uniAA29</key>
    <string>uniA_A_29.glif</string>
    <key>uniAA2A</key>
    <string>uniA_A_2A_.glif</string>
    <key>uniAA2B</key>
    <string>uniA_A_2B_.glif</string>
    <key>uniAA2C</key>
    <string>uniA_A_2C_.glif</string>
    <key>uniAA2D</key>
    <string>uniA_A_2D_.glif</string>
    <key>uniAA2E</key>
    <string>uniA_A_2E_.glif</string>
    <key>uniAA2F</key>
    <string>uniA_A_2F_.glif</string>
    <key>uniAA30</key>
    <string>uniA_A_30.glif</string>
    <key>uniAA31</key>
    <string>uniA_A_31.glif</string>
    <key>uniAA32</key>
    <string>uniA_A_32.glif</string>
    <key>uniAA33</key>
    <string>uniA_A_33.glif</string>
    <key>uniAA34</key>
    <string>uniA_A_34.glif</string>
    <key>uniAA35</key>
    <string>uniA_A_35.glif</string>
    <key>uniAA36</key>
    <string>uniA_A_36.glif</string>
    <key>uniAA40</key>
    <string>uniA_A_40.glif</string>
    <key>uniAA41</key>
    <string>uniA_A_41.glif</string>
    <key>uniAA42</key>
    <string>uniA_A_42.glif</string>
    <key>uniAA43</key>
    <string>uniA_A_43.glif</string>
    <key>uniAA44</key>
    <string>uniA_A_44.glif</string>
    <key>uniAA45</key>
    <string>uniA_A_45.glif</string>
    <key>uniAA46</key>
    <string>uniA_A_46.glif</string>
    <key>uniAA47</key>
    <string>uniA_A_47.glif</string>
    <key>uniAA48</key>
    <string>uniA_A_48.glif</string>
    <key>uniAA49</key>
    <string>uniA_A_49.glif</string>
    <key>uniAA4A</key>
    <string>uniA_A_4A_.glif</string>
    <key>uniAA4B</key>
    <string>uniA_A_4B_.glif</string>
    <key>uniAA4C</key>
    <string>uniA_A_4C_.glif</string>
    <key>uniAA4D</key>
    <string>uniA_A_4D_.glif</string>
    <key>uniAA50</key>
    <string>uniA_A_50.glif</string>
    <key>uniAA51</key>
    <string>uniA_A_51.glif</string>
    <key>uniAA52</key>
    <string>uniA_A_52.glif</string>
    <key>uniAA53</key>
    <string>uniA_A_53.glif</string>
    <key>uniAA54</key>
    <string>uniA_A_54.glif</string>
    <key>uniAA55</key>
    <string>uniA_A_55.glif</string>
    <key>uniAA56</key>
    <string>uniA_A_56.glif</string>
    <key>uniAA57</key>
    <string>uniA_A_57.glif</string>
    <key>uniAA58</key>
    <string>uniA_A_58.glif</string>
    <key>uniAA59</key>
    <string>uniA_A_59.glif</string>
    <key>uniAA5C</key>
    <string>uniA_A_5C_.glif</string>
    <key>uniAA5D</key>
    <string>uniA_A_5D_.glif</string>
    <key>uniAA5E</key>
    <string>uniA_A_5E_.glif</string>
    <key>uniAA5F</key>
    <string>uniA_A_5F_.glif</string>
    <key>glyph119</key>
    <string>glyph119.glif</string>
    <key>glyph120</key>
    <string>glyph120.glif</string>
    <key>uniAA2E_uniAA31.liga</key>
    <string>uniA_A_2E__uniA_A_31.liga.glif</string>
    <key>uniAA31_uniAA4C.liga</key>
    <string>uniA_A_31_uniA_A_4C_.liga.glif</string>
    <key>uniAA2E_uniAA43.liga</key>
    <string>uniA_A_2E__uniA_A_43.liga.glif</string>
    <key>uniAA2E_uniAA4C.liga</key>
    <string>uniA_A_2E__uniA_A_4C_.liga.glif</string>
    <key>uniAA2A_uniAA4C.liga</key>
    <string>uniA_A_2A__uniA_A_4C_.liga.glif</string>
    <key>uniAA29_uniAA2E.liga</key>
    <string>uniA_A_29_uniA_A_2E_.liga.glif</string>
  </dict>
</plist>
