<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>bar.1</key>
    <string>bar.1.glif</string>
    <key>bar.1.001</key>
    <string>bar.1.001.glif</string>
    <key>bar.2</key>
    <string>bar.2.glif</string>
    <key>bar.3</key>
    <string>bar.3.glif</string>
    <key>bar.4</key>
    <string>bar.4.glif</string>
    <key>circle.cross</key>
    <string>circle.cross.glif</string>
    <key>circle.med</key>
    <string>circle.med.glif</string>
    <key>cross.sm</key>
    <string>cross.sm.glif</string>
    <key>smiley.sm</key>
    <string>smiley.sm.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10600</key>
    <string>u10600.glif</string>
    <key>u10601</key>
    <string>u10601.glif</string>
    <key>u10602</key>
    <string>u10602.glif</string>
    <key>u10603</key>
    <string>u10603.glif</string>
    <key>u10604</key>
    <string>u10604.glif</string>
    <key>u10605</key>
    <string>u10605.glif</string>
    <key>u10606</key>
    <string>u10606.glif</string>
    <key>u10607</key>
    <string>u10607.glif</string>
    <key>u10608</key>
    <string>u10608.glif</string>
    <key>u10609</key>
    <string>u10609.glif</string>
    <key>u1060A</key>
    <string>u1060A_.glif</string>
    <key>u1060B</key>
    <string>u1060B_.glif</string>
    <key>u1060C</key>
    <string>u1060C_.glif</string>
    <key>u1060D</key>
    <string>u1060D_.glif</string>
    <key>u1060E</key>
    <string>u1060E_.glif</string>
    <key>u1060F</key>
    <string>u1060F_.glif</string>
    <key>u10610</key>
    <string>u10610.glif</string>
    <key>u10611</key>
    <string>u10611.glif</string>
    <key>u10612</key>
    <string>u10612.glif</string>
    <key>u10613</key>
    <string>u10613.glif</string>
    <key>u10614</key>
    <string>u10614.glif</string>
    <key>u10615</key>
    <string>u10615.glif</string>
    <key>u10616</key>
    <string>u10616.glif</string>
    <key>u10617</key>
    <string>u10617.glif</string>
    <key>u10618</key>
    <string>u10618.glif</string>
    <key>u10619</key>
    <string>u10619.glif</string>
    <key>u1061A</key>
    <string>u1061A_.glif</string>
    <key>u1061B</key>
    <string>u1061B_.glif</string>
    <key>u1061C</key>
    <string>u1061C_.glif</string>
    <key>u1061D</key>
    <string>u1061D_.glif</string>
    <key>u1061E</key>
    <string>u1061E_.glif</string>
    <key>u1061F</key>
    <string>u1061F_.glif</string>
    <key>u10620</key>
    <string>u10620.glif</string>
    <key>u10621</key>
    <string>u10621.glif</string>
    <key>u10622</key>
    <string>u10622.glif</string>
    <key>u10623</key>
    <string>u10623.glif</string>
    <key>u10624</key>
    <string>u10624.glif</string>
    <key>u10625</key>
    <string>u10625.glif</string>
    <key>u10626</key>
    <string>u10626.glif</string>
    <key>u10627</key>
    <string>u10627.glif</string>
    <key>u10628</key>
    <string>u10628.glif</string>
    <key>u10629</key>
    <string>u10629.glif</string>
    <key>u1062A</key>
    <string>u1062A_.glif</string>
    <key>u1062B</key>
    <string>u1062B_.glif</string>
    <key>u1062C</key>
    <string>u1062C_.glif</string>
    <key>u1062D</key>
    <string>u1062D_.glif</string>
    <key>u1062E</key>
    <string>u1062E_.glif</string>
    <key>u1062F</key>
    <string>u1062F_.glif</string>
    <key>u10630</key>
    <string>u10630.glif</string>
    <key>u10631</key>
    <string>u10631.glif</string>
    <key>u10632</key>
    <string>u10632.glif</string>
    <key>u10633</key>
    <string>u10633.glif</string>
    <key>u10634</key>
    <string>u10634.glif</string>
    <key>u10635</key>
    <string>u10635.glif</string>
    <key>u10636</key>
    <string>u10636.glif</string>
    <key>u10637</key>
    <string>u10637.glif</string>
    <key>u10638</key>
    <string>u10638.glif</string>
    <key>u10639</key>
    <string>u10639.glif</string>
    <key>u1063A</key>
    <string>u1063A_.glif</string>
    <key>u1063B</key>
    <string>u1063B_.glif</string>
    <key>u1063C</key>
    <string>u1063C_.glif</string>
    <key>u1063D</key>
    <string>u1063D_.glif</string>
    <key>u1063E</key>
    <string>u1063E_.glif</string>
    <key>u1063F</key>
    <string>u1063F_.glif</string>
    <key>u10640</key>
    <string>u10640.glif</string>
    <key>u10641</key>
    <string>u10641.glif</string>
    <key>u10642</key>
    <string>u10642.glif</string>
    <key>u10643</key>
    <string>u10643.glif</string>
    <key>u10644</key>
    <string>u10644.glif</string>
    <key>u10645</key>
    <string>u10645.glif</string>
    <key>u10646</key>
    <string>u10646.glif</string>
    <key>u10647</key>
    <string>u10647.glif</string>
    <key>u10648</key>
    <string>u10648.glif</string>
    <key>u10649</key>
    <string>u10649.glif</string>
    <key>u1064A</key>
    <string>u1064A_.glif</string>
    <key>u1064B</key>
    <string>u1064B_.glif</string>
    <key>u1064C</key>
    <string>u1064C_.glif</string>
    <key>u1064D</key>
    <string>u1064D_.glif</string>
    <key>u1064E</key>
    <string>u1064E_.glif</string>
    <key>u1064F</key>
    <string>u1064F_.glif</string>
    <key>u10650</key>
    <string>u10650.glif</string>
    <key>u10651</key>
    <string>u10651.glif</string>
    <key>u10652</key>
    <string>u10652.glif</string>
    <key>u10653</key>
    <string>u10653.glif</string>
    <key>u10654</key>
    <string>u10654.glif</string>
    <key>u10655</key>
    <string>u10655.glif</string>
    <key>u10656</key>
    <string>u10656.glif</string>
    <key>u10657</key>
    <string>u10657.glif</string>
    <key>u10658</key>
    <string>u10658.glif</string>
    <key>u10659</key>
    <string>u10659.glif</string>
    <key>u1065A</key>
    <string>u1065A_.glif</string>
    <key>u1065B</key>
    <string>u1065B_.glif</string>
    <key>u1065C</key>
    <string>u1065C_.glif</string>
    <key>u1065D</key>
    <string>u1065D_.glif</string>
    <key>u1065E</key>
    <string>u1065E_.glif</string>
    <key>u1065F</key>
    <string>u1065F_.glif</string>
    <key>u10660</key>
    <string>u10660.glif</string>
    <key>u10661</key>
    <string>u10661.glif</string>
    <key>u10662</key>
    <string>u10662.glif</string>
    <key>u10663</key>
    <string>u10663.glif</string>
    <key>u10664</key>
    <string>u10664.glif</string>
    <key>u10665</key>
    <string>u10665.glif</string>
    <key>u10666</key>
    <string>u10666.glif</string>
    <key>u10667</key>
    <string>u10667.glif</string>
    <key>u10668</key>
    <string>u10668.glif</string>
    <key>u10669</key>
    <string>u10669.glif</string>
    <key>u1066A</key>
    <string>u1066A_.glif</string>
    <key>u1066B</key>
    <string>u1066B_.glif</string>
    <key>u1066C</key>
    <string>u1066C_.glif</string>
    <key>u1066D</key>
    <string>u1066D_.glif</string>
    <key>u1066E</key>
    <string>u1066E_.glif</string>
    <key>u1066F</key>
    <string>u1066F_.glif</string>
    <key>u10670</key>
    <string>u10670.glif</string>
    <key>u10671</key>
    <string>u10671.glif</string>
    <key>u10672</key>
    <string>u10672.glif</string>
    <key>u10673</key>
    <string>u10673.glif</string>
    <key>u10674</key>
    <string>u10674.glif</string>
    <key>u10675</key>
    <string>u10675.glif</string>
    <key>u10676</key>
    <string>u10676.glif</string>
    <key>u10677</key>
    <string>u10677.glif</string>
    <key>u10678</key>
    <string>u10678.glif</string>
    <key>u10679</key>
    <string>u10679.glif</string>
    <key>u1067A</key>
    <string>u1067A_.glif</string>
    <key>u1067B</key>
    <string>u1067B_.glif</string>
    <key>u1067C</key>
    <string>u1067C_.glif</string>
    <key>u1067D</key>
    <string>u1067D_.glif</string>
    <key>u1067E</key>
    <string>u1067E_.glif</string>
    <key>u1067F</key>
    <string>u1067F_.glif</string>
    <key>u10680</key>
    <string>u10680.glif</string>
    <key>u10681</key>
    <string>u10681.glif</string>
    <key>u10682</key>
    <string>u10682.glif</string>
    <key>u10683</key>
    <string>u10683.glif</string>
    <key>u10684</key>
    <string>u10684.glif</string>
    <key>u10685</key>
    <string>u10685.glif</string>
    <key>u10686</key>
    <string>u10686.glif</string>
    <key>u10687</key>
    <string>u10687.glif</string>
    <key>u10688</key>
    <string>u10688.glif</string>
    <key>u10689</key>
    <string>u10689.glif</string>
    <key>u1068A</key>
    <string>u1068A_.glif</string>
    <key>u1068B</key>
    <string>u1068B_.glif</string>
    <key>u1068C</key>
    <string>u1068C_.glif</string>
    <key>u1068D</key>
    <string>u1068D_.glif</string>
    <key>u1068E</key>
    <string>u1068E_.glif</string>
    <key>u1068F</key>
    <string>u1068F_.glif</string>
    <key>u10690</key>
    <string>u10690.glif</string>
    <key>u10691</key>
    <string>u10691.glif</string>
    <key>u10692</key>
    <string>u10692.glif</string>
    <key>u10693</key>
    <string>u10693.glif</string>
    <key>u10694</key>
    <string>u10694.glif</string>
    <key>u10695</key>
    <string>u10695.glif</string>
    <key>u10696</key>
    <string>u10696.glif</string>
    <key>u10697</key>
    <string>u10697.glif</string>
    <key>u10698</key>
    <string>u10698.glif</string>
    <key>u10699</key>
    <string>u10699.glif</string>
    <key>u1069A</key>
    <string>u1069A_.glif</string>
    <key>u1069B</key>
    <string>u1069B_.glif</string>
    <key>u1069C</key>
    <string>u1069C_.glif</string>
    <key>u1069D</key>
    <string>u1069D_.glif</string>
    <key>u1069E</key>
    <string>u1069E_.glif</string>
    <key>u1069F</key>
    <string>u1069F_.glif</string>
    <key>u106A0</key>
    <string>u106A_0.glif</string>
    <key>u106A1</key>
    <string>u106A_1.glif</string>
    <key>u106A2</key>
    <string>u106A_2.glif</string>
    <key>u106A3</key>
    <string>u106A_3.glif</string>
    <key>u106A4</key>
    <string>u106A_4.glif</string>
    <key>u106A5</key>
    <string>u106A_5.glif</string>
    <key>u106A6</key>
    <string>u106A_6.glif</string>
    <key>u106A7</key>
    <string>u106A_7.glif</string>
    <key>u106A8</key>
    <string>u106A_8.glif</string>
    <key>u106A9</key>
    <string>u106A_9.glif</string>
    <key>u106AA</key>
    <string>u106A_A_.glif</string>
    <key>u106AB</key>
    <string>u106A_B_.glif</string>
    <key>u106AC</key>
    <string>u106A_C_.glif</string>
    <key>u106AD</key>
    <string>u106A_D_.glif</string>
    <key>u106AE</key>
    <string>u106A_E_.glif</string>
    <key>u106AF</key>
    <string>u106A_F_.glif</string>
    <key>u106B0</key>
    <string>u106B_0.glif</string>
    <key>u106B1</key>
    <string>u106B_1.glif</string>
    <key>u106B2</key>
    <string>u106B_2.glif</string>
    <key>u106B3</key>
    <string>u106B_3.glif</string>
    <key>u106B4</key>
    <string>u106B_4.glif</string>
    <key>u106B5</key>
    <string>u106B_5.glif</string>
    <key>u106B6</key>
    <string>u106B_6.glif</string>
    <key>u106B7</key>
    <string>u106B_7.glif</string>
    <key>u106B8</key>
    <string>u106B_8.glif</string>
    <key>u106B9</key>
    <string>u106B_9.glif</string>
    <key>u106BA</key>
    <string>u106B_A_.glif</string>
    <key>u106BB</key>
    <string>u106B_B_.glif</string>
    <key>u106BC</key>
    <string>u106B_C_.glif</string>
    <key>u106BD</key>
    <string>u106B_D_.glif</string>
    <key>u106BE</key>
    <string>u106B_E_.glif</string>
    <key>u106BF</key>
    <string>u106B_F_.glif</string>
    <key>u106C0</key>
    <string>u106C_0.glif</string>
    <key>u106C1</key>
    <string>u106C_1.glif</string>
    <key>u106C2</key>
    <string>u106C_2.glif</string>
    <key>u106C3</key>
    <string>u106C_3.glif</string>
    <key>u106C4</key>
    <string>u106C_4.glif</string>
    <key>u106C5</key>
    <string>u106C_5.glif</string>
    <key>u106C6</key>
    <string>u106C_6.glif</string>
    <key>u106C7</key>
    <string>u106C_7.glif</string>
    <key>u106C8</key>
    <string>u106C_8.glif</string>
    <key>u106C9</key>
    <string>u106C_9.glif</string>
    <key>u106CA</key>
    <string>u106C_A_.glif</string>
    <key>u106CB</key>
    <string>u106C_B_.glif</string>
    <key>u106CC</key>
    <string>u106C_C_.glif</string>
    <key>u106CD</key>
    <string>u106C_D_.glif</string>
    <key>u106CE</key>
    <string>u106C_E_.glif</string>
    <key>u106CF</key>
    <string>u106C_F_.glif</string>
    <key>u106D0</key>
    <string>u106D_0.glif</string>
    <key>u106D1</key>
    <string>u106D_1.glif</string>
    <key>u106D2</key>
    <string>u106D_2.glif</string>
    <key>u106D3</key>
    <string>u106D_3.glif</string>
    <key>u106D4</key>
    <string>u106D_4.glif</string>
    <key>u106D5</key>
    <string>u106D_5.glif</string>
    <key>u106D6</key>
    <string>u106D_6.glif</string>
    <key>u106D7</key>
    <string>u106D_7.glif</string>
    <key>u106D8</key>
    <string>u106D_8.glif</string>
    <key>u106D9</key>
    <string>u106D_9.glif</string>
    <key>u106DA</key>
    <string>u106D_A_.glif</string>
    <key>u106DB</key>
    <string>u106D_B_.glif</string>
    <key>u106DC</key>
    <string>u106D_C_.glif</string>
    <key>u106DD</key>
    <string>u106D_D_.glif</string>
    <key>u106DE</key>
    <string>u106D_E_.glif</string>
    <key>u106DF</key>
    <string>u106D_F_.glif</string>
    <key>u106E0</key>
    <string>u106E_0.glif</string>
    <key>u106E1</key>
    <string>u106E_1.glif</string>
    <key>u106E2</key>
    <string>u106E_2.glif</string>
    <key>u106E3</key>
    <string>u106E_3.glif</string>
    <key>u106E4</key>
    <string>u106E_4.glif</string>
    <key>u106E5</key>
    <string>u106E_5.glif</string>
    <key>u106E6</key>
    <string>u106E_6.glif</string>
    <key>u106E7</key>
    <string>u106E_7.glif</string>
    <key>u106E8</key>
    <string>u106E_8.glif</string>
    <key>u106E9</key>
    <string>u106E_9.glif</string>
    <key>u106EA</key>
    <string>u106E_A_.glif</string>
    <key>u106EB</key>
    <string>u106E_B_.glif</string>
    <key>u106EC</key>
    <string>u106E_C_.glif</string>
    <key>u106ED</key>
    <string>u106E_D_.glif</string>
    <key>u106EE</key>
    <string>u106E_E_.glif</string>
    <key>u106EF</key>
    <string>u106E_F_.glif</string>
    <key>u106F0</key>
    <string>u106F_0.glif</string>
    <key>u106F1</key>
    <string>u106F_1.glif</string>
    <key>u106F2</key>
    <string>u106F_2.glif</string>
    <key>u106F3</key>
    <string>u106F_3.glif</string>
    <key>u106F4</key>
    <string>u106F_4.glif</string>
    <key>u106F5</key>
    <string>u106F_5.glif</string>
    <key>u106F6</key>
    <string>u106F_6.glif</string>
    <key>u106F7</key>
    <string>u106F_7.glif</string>
    <key>u106F8</key>
    <string>u106F_8.glif</string>
    <key>u106F9</key>
    <string>u106F_9.glif</string>
    <key>u106FA</key>
    <string>u106F_A_.glif</string>
    <key>u106FB</key>
    <string>u106F_B_.glif</string>
    <key>u106FC</key>
    <string>u106F_C_.glif</string>
    <key>u106FD</key>
    <string>u106F_D_.glif</string>
    <key>u106FE</key>
    <string>u106F_E_.glif</string>
    <key>u106FF</key>
    <string>u106F_F_.glif</string>
    <key>u10700</key>
    <string>u10700.glif</string>
    <key>u10701</key>
    <string>u10701.glif</string>
    <key>u10702</key>
    <string>u10702.glif</string>
    <key>u10703</key>
    <string>u10703.glif</string>
    <key>u10704</key>
    <string>u10704.glif</string>
    <key>u10705</key>
    <string>u10705.glif</string>
    <key>u10706</key>
    <string>u10706.glif</string>
    <key>u10707</key>
    <string>u10707.glif</string>
    <key>u10708</key>
    <string>u10708.glif</string>
    <key>u10709</key>
    <string>u10709.glif</string>
    <key>u1070A</key>
    <string>u1070A_.glif</string>
    <key>u1070B</key>
    <string>u1070B_.glif</string>
    <key>u1070C</key>
    <string>u1070C_.glif</string>
    <key>u1070D</key>
    <string>u1070D_.glif</string>
    <key>u1070E</key>
    <string>u1070E_.glif</string>
    <key>u1070F</key>
    <string>u1070F_.glif</string>
    <key>u10710</key>
    <string>u10710.glif</string>
    <key>u10711</key>
    <string>u10711.glif</string>
    <key>u10712</key>
    <string>u10712.glif</string>
    <key>u10713</key>
    <string>u10713.glif</string>
    <key>u10714</key>
    <string>u10714.glif</string>
    <key>u10715</key>
    <string>u10715.glif</string>
    <key>u10716</key>
    <string>u10716.glif</string>
    <key>u10717</key>
    <string>u10717.glif</string>
    <key>u10718</key>
    <string>u10718.glif</string>
    <key>u10719</key>
    <string>u10719.glif</string>
    <key>u1071A</key>
    <string>u1071A_.glif</string>
    <key>u1071B</key>
    <string>u1071B_.glif</string>
    <key>u1071C</key>
    <string>u1071C_.glif</string>
    <key>u1071D</key>
    <string>u1071D_.glif</string>
    <key>u1071E</key>
    <string>u1071E_.glif</string>
    <key>u1071F</key>
    <string>u1071F_.glif</string>
    <key>u10720</key>
    <string>u10720.glif</string>
    <key>u10721</key>
    <string>u10721.glif</string>
    <key>u10722</key>
    <string>u10722.glif</string>
    <key>u10723</key>
    <string>u10723.glif</string>
    <key>u10724</key>
    <string>u10724.glif</string>
    <key>u10725</key>
    <string>u10725.glif</string>
    <key>u10726</key>
    <string>u10726.glif</string>
    <key>u10727</key>
    <string>u10727.glif</string>
    <key>u10728</key>
    <string>u10728.glif</string>
    <key>u10729</key>
    <string>u10729.glif</string>
    <key>u1072A</key>
    <string>u1072A_.glif</string>
    <key>u1072B</key>
    <string>u1072B_.glif</string>
    <key>u1072C</key>
    <string>u1072C_.glif</string>
    <key>u1072D</key>
    <string>u1072D_.glif</string>
    <key>u1072E</key>
    <string>u1072E_.glif</string>
    <key>u1072F</key>
    <string>u1072F_.glif</string>
    <key>u10730</key>
    <string>u10730.glif</string>
    <key>u10731</key>
    <string>u10731.glif</string>
    <key>u10732</key>
    <string>u10732.glif</string>
    <key>u10733</key>
    <string>u10733.glif</string>
    <key>u10734</key>
    <string>u10734.glif</string>
    <key>u10735</key>
    <string>u10735.glif</string>
    <key>u10736</key>
    <string>u10736.glif</string>
    <key>u10740</key>
    <string>u10740.glif</string>
    <key>u10741</key>
    <string>u10741.glif</string>
    <key>u10742</key>
    <string>u10742.glif</string>
    <key>u10743</key>
    <string>u10743.glif</string>
    <key>u10744</key>
    <string>u10744.glif</string>
    <key>u10745</key>
    <string>u10745.glif</string>
    <key>u10746</key>
    <string>u10746.glif</string>
    <key>u10747</key>
    <string>u10747.glif</string>
    <key>u10748</key>
    <string>u10748.glif</string>
    <key>u10749</key>
    <string>u10749.glif</string>
    <key>u1074A</key>
    <string>u1074A_.glif</string>
    <key>u1074B</key>
    <string>u1074B_.glif</string>
    <key>u1074C</key>
    <string>u1074C_.glif</string>
    <key>u1074D</key>
    <string>u1074D_.glif</string>
    <key>u1074E</key>
    <string>u1074E_.glif</string>
    <key>u1074F</key>
    <string>u1074F_.glif</string>
    <key>u10750</key>
    <string>u10750.glif</string>
    <key>u10751</key>
    <string>u10751.glif</string>
    <key>u10752</key>
    <string>u10752.glif</string>
    <key>u10753</key>
    <string>u10753.glif</string>
    <key>u10754</key>
    <string>u10754.glif</string>
    <key>u10755</key>
    <string>u10755.glif</string>
    <key>u10760</key>
    <string>u10760.glif</string>
    <key>u10761</key>
    <string>u10761.glif</string>
    <key>u10762</key>
    <string>u10762.glif</string>
    <key>u10763</key>
    <string>u10763.glif</string>
    <key>u10764</key>
    <string>u10764.glif</string>
    <key>u10765</key>
    <string>u10765.glif</string>
    <key>u10766</key>
    <string>u10766.glif</string>
    <key>u10767</key>
    <string>u10767.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>vertbar.full</key>
    <string>vertbar.full.glif</string>
    <key>vertbar.med</key>
    <string>vertbar.med.glif</string>
    <key>vertbar.sm</key>
    <string>vertbar.sm.glif</string>
  </dict>
</plist>
