<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NGAA_wara</key>
	<dict>
		<key>public.kern2.eny</key>
		<integer>-50</integer>
	</dict>
	<key>eighty_wara</key>
	<dict>
		<key>quotesingle</key>
		<integer>-30</integer>
	</dict>
	<key>forty_wara</key>
	<dict>
		<key>quotesingle</key>
		<integer>-80</integer>
	</dict>
	<key>four_wara</key>
	<dict>
		<key>quotesingle</key>
		<integer>-50</integer>
	</dict>
	<key>ngaa_wara</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.bu</key>
		<integer>-20</integer>
		<key>public.kern2.sii</key>
		<integer>-20</integer>
		<key>public.kern2.tte</key>
		<integer>-30</integer>
		<key>public.kern2.viyo</key>
		<integer>-30</integer>
	</dict>
	<key>om_wara</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-50</integer>
		<key>public.kern2.HIYO</key>
		<integer>40</integer>
		<key>public.kern2.HORR</key>
		<integer>20</integer>
		<key>public.kern2.II</key>
		<integer>20</integer>
		<key>public.kern2.KO</key>
		<integer>20</integer>
		<key>public.kern2.SSUU</key>
		<integer>-30</integer>
		<key>public.kern2.WI</key>
		<integer>20</integer>
	</dict>
	<key>one_wara</key>
	<dict>
		<key>quotesingle</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>om_wara</key>
		<integer>-20</integer>
		<key>public.kern2.a</key>
		<integer>-50</integer>
		<key>public.kern2.am</key>
		<integer>-20</integer>
		<key>public.kern2.ang</key>
		<integer>-20</integer>
		<key>public.kern2.at</key>
		<integer>-30</integer>
		<key>public.kern2.bu</key>
		<integer>-50</integer>
		<key>public.kern2.da</key>
		<integer>-40</integer>
		<key>public.kern2.enn</key>
		<integer>-20</integer>
		<key>public.kern2.eny</key>
		<integer>-60</integer>
		<key>public.kern2.har</key>
		<integer>-30</integer>
		<key>public.kern2.holo</key>
		<integer>-30</integer>
		<key>public.kern2.horr</key>
		<integer>-30</integer>
		<key>public.kern2.ii</key>
		<integer>-20</integer>
		<key>public.kern2.nung</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.odd</key>
		<integer>-20</integer>
		<key>public.kern2.sii</key>
		<integer>-20</integer>
		<key>public.kern2.ssuu</key>
		<integer>-20</integer>
		<key>public.kern2.tte</key>
		<integer>-50</integer>
		<key>public.kern2.uc</key>
		<integer>-10</integer>
		<key>public.kern2.uu</key>
		<integer>-20</integer>
		<key>public.kern2.viyo</key>
		<integer>-30</integer>
		<key>public.kern2.wi</key>
		<integer>-30</integer>
		<key>public.kern2.yo</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.AM</key>
	<dict>
		<key>quotesingle</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.ANG</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-30</integer>
		<key>quotesingle</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.AT</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.BU</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-60</integer>
		<key>public.kern2.ang</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.ENY</key>
		<integer>-40</integer>
		<key>public.kern2.VIYO</key>
		<integer>-50</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.am</key>
		<integer>-40</integer>
		<key>public.kern2.at</key>
		<integer>-40</integer>
		<key>public.kern2.bu</key>
		<integer>-40</integer>
		<key>public.kern2.enn</key>
		<integer>-40</integer>
		<key>public.kern2.eny</key>
		<integer>-60</integer>
		<key>public.kern2.ga</key>
		<integer>-40</integer>
		<key>public.kern2.har</key>
		<integer>-20</integer>
		<key>public.kern2.hiyo</key>
		<integer>-30</integer>
		<key>public.kern2.holo</key>
		<integer>-30</integer>
		<key>public.kern2.horr</key>
		<integer>-20</integer>
		<key>public.kern2.ko</key>
		<integer>-40</integer>
		<key>public.kern2.nung</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.odd</key>
		<integer>-50</integer>
		<key>public.kern2.sii</key>
		<integer>-60</integer>
		<key>public.kern2.tte</key>
		<integer>-40</integer>
		<key>public.kern2.uc</key>
		<integer>-30</integer>
		<key>public.kern2.viyo</key>
		<integer>-60</integer>
		<key>public.kern2.wi</key>
		<integer>-40</integer>
		<key>public.kern2.yo</key>
		<integer>-30</integer>
		<key>public.kern2.yuj</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.ENN</key>
	<dict>
		<key>public.kern2.ODD</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.ENY</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-80</integer>
		<key>quotesingle</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.HAR</key>
	<dict>
		<key>four_wara</key>
		<integer>-60</integer>
		<key>ninety_wara</key>
		<integer>-70</integer>
		<key>om_wara</key>
		<integer>-40</integer>
		<key>public.kern2.AM</key>
		<integer>-50</integer>
		<key>public.kern2.AT</key>
		<integer>-30</integer>
		<key>public.kern2.BU</key>
		<integer>-60</integer>
		<key>public.kern2.ENY</key>
		<integer>-80</integer>
		<key>public.kern2.HOLO</key>
		<integer>-60</integer>
		<key>public.kern2.NUNG</key>
		<integer>-60</integer>
		<key>public.kern2.VIYO</key>
		<integer>-50</integer>
		<key>public.kern2.a</key>
		<integer>-70</integer>
		<key>public.kern2.am</key>
		<integer>-70</integer>
		<key>public.kern2.ang</key>
		<integer>-40</integer>
		<key>public.kern2.at</key>
		<integer>-70</integer>
		<key>public.kern2.bu</key>
		<integer>-90</integer>
		<key>public.kern2.da</key>
		<integer>-40</integer>
		<key>public.kern2.e</key>
		<integer>-40</integer>
		<key>public.kern2.enn</key>
		<integer>-60</integer>
		<key>public.kern2.eny</key>
		<integer>-100</integer>
		<key>public.kern2.ga</key>
		<integer>-50</integer>
		<key>public.kern2.har</key>
		<integer>-60</integer>
		<key>public.kern2.holo</key>
		<integer>-50</integer>
		<key>public.kern2.horr</key>
		<integer>-40</integer>
		<key>public.kern2.ii</key>
		<integer>-40</integer>
		<key>public.kern2.ko</key>
		<integer>-40</integer>
		<key>public.kern2.nung</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.odd</key>
		<integer>-50</integer>
		<key>public.kern2.sii</key>
		<integer>-80</integer>
		<key>public.kern2.ssuu</key>
		<integer>-50</integer>
		<key>public.kern2.tte</key>
		<integer>-70</integer>
		<key>public.kern2.uc</key>
		<integer>-50</integer>
		<key>public.kern2.uu</key>
		<integer>-50</integer>
		<key>public.kern2.viyo</key>
		<integer>-60</integer>
		<key>public.kern2.wi</key>
		<integer>-60</integer>
		<key>public.kern2.ya</key>
		<integer>-30</integer>
		<key>public.kern2.yo</key>
		<integer>-50</integer>
		<key>public.kern2.yuj</key>
		<integer>-50</integer>
		<key>zero_wara</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.HIYO</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-50</integer>
		<key>public.kern2.bu</key>
		<integer>-50</integer>
		<key>public.kern2.eny</key>
		<integer>-60</integer>
		<key>public.kern2.tte</key>
		<integer>-40</integer>
		<key>public.kern2.wi</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.HOLO</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.HORR</key>
	<dict>
		<key>om_wara</key>
		<integer>20</integer>
		<key>public.kern2.bu</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.II</key>
	<dict>
		<key>om_wara</key>
		<integer>20</integer>
		<key>public.kern2.E</key>
		<integer>50</integer>
	</dict>
	<key>public.kern1.KO</key>
	<dict>
		<key>om_wara</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.NUNG</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-70</integer>
		<key>public.kern2.e</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>public.kern2.bu</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.ODD</key>
	<dict>
		<key>public.kern2.YA</key>
		<integer>40</integer>
		<key>public.kern2.bu</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.PU</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-50</integer>
		<key>public.kern2.bu</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.SII</key>
	<dict>
		<key>public.kern2.bu</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.TTE</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-80</integer>
		<key>public.kern2.NUNG</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.UU</key>
	<dict>
		<key>om_wara</key>
		<integer>20</integer>
		<key>public.kern2.HAR</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.VIYO</key>
	<dict>
		<key>quotesingle</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.WI</key>
	<dict>
		<key>om_wara</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.YA</key>
	<dict>
		<key>om_wara</key>
		<integer>-40</integer>
		<key>public.kern2.AM</key>
		<integer>-50</integer>
		<key>public.kern2.AT</key>
		<integer>-20</integer>
		<key>public.kern2.BU</key>
		<integer>-50</integer>
		<key>public.kern2.ENY</key>
		<integer>-60</integer>
		<key>public.kern2.II</key>
		<integer>-50</integer>
		<key>public.kern2.NUNG</key>
		<integer>-20</integer>
		<key>public.kern2.ODD</key>
		<integer>-20</integer>
		<key>public.kern2.TTE</key>
		<integer>-50</integer>
		<key>public.kern2.VIYO</key>
		<integer>-70</integer>
		<key>public.kern2.ang</key>
		<integer>-50</integer>
		<key>public.kern2.bu</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.YU</key>
	<dict>
		<key>om_wara</key>
		<integer>-60</integer>
		<key>public.kern2.E</key>
		<integer>-50</integer>
		<key>public.kern2.HAR</key>
		<integer>-80</integer>
		<key>public.kern2.bu</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.a</key>
	<dict>
		<key>ngaa_wara</key>
		<integer>10</integer>
		<key>public.kern2.bu</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.am</key>
	<dict>
		<key>public.kern2.E</key>
		<integer>-20</integer>
		<key>public.kern2.bu</key>
		<integer>-20</integer>
		<key>public.kern2.e</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.ang</key>
	<dict>
		<key>quotesingle</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.bu</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-60</integer>
		<key>public.kern2.yu</key>
		<integer>20</integer>
		<key>quotesingle</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.da</key>
	<dict>
		<key>public.kern2.bu</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.enn</key>
	<dict>
		<key>ngaa_wara</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.eny</key>
	<dict>
		<key>public.kern2.HAR</key>
		<integer>-80</integer>
		<key>quotesingle</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.horr</key>
	<dict>
		<key>public.kern2.E</key>
		<integer>-20</integer>
		<key>quotesingle</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.ii</key>
	<dict>
		<key>public.kern2.uu</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.ko</key>
	<dict>
		<key>public.kern2.E</key>
		<integer>-20</integer>
		<key>public.kern2.HAR</key>
		<integer>-70</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.nung</key>
	<dict>
		<key>ngaa_wara</key>
		<integer>-40</integer>
		<key>public.kern2.E</key>
		<integer>-40</integer>
		<key>public.kern2.bu</key>
		<integer>-40</integer>
		<key>public.kern2.da</key>
		<integer>-30</integer>
		<key>public.kern2.e</key>
		<integer>-40</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.odd</key>
	<dict>
		<key>public.kern2.tte</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.pu</key>
	<dict>
		<key>ngaa_wara</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.tte</key>
	<dict>
		<key>quotesingle</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.uu</key>
	<dict>
		<key>public.kern2.bu</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.viyo</key>
	<dict>
		<key>quotesingle</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.wi</key>
	<dict>
		<key>ngaa_wara</key>
		<integer>10</integer>
		<key>public.kern2.E</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.yu</key>
	<dict>
		<key>ngaa_wara</key>
		<integer>-50</integer>
		<key>public.kern2.bu</key>
		<integer>-20</integer>
		<key>public.kern2.da</key>
		<integer>-30</integer>
		<key>public.kern2.nung</key>
		<integer>-40</integer>
		<key>public.kern2.uu</key>
		<integer>-80</integer>
		<key>public.kern2.ya</key>
		<integer>-30</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>public.kern2.sii</key>
		<integer>-30</integer>
		<key>public.kern2.viyo</key>
		<integer>-50</integer>
	</dict>
	<key>two_wara</key>
	<dict>
		<key>quotesingle</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
