<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10840</key>
    <string>u10840.glif</string>
    <key>u10841</key>
    <string>u10841.glif</string>
    <key>u10842</key>
    <string>u10842.glif</string>
    <key>u10843</key>
    <string>u10843.glif</string>
    <key>u10844</key>
    <string>u10844.glif</string>
    <key>u10845</key>
    <string>u10845.glif</string>
    <key>u10846</key>
    <string>u10846.glif</string>
    <key>u10847</key>
    <string>u10847.glif</string>
    <key>u10848</key>
    <string>u10848.glif</string>
    <key>u10849</key>
    <string>u10849.glif</string>
    <key>u1084A</key>
    <string>u1084A_.glif</string>
    <key>u1084B</key>
    <string>u1084B_.glif</string>
    <key>u1084C</key>
    <string>u1084C_.glif</string>
    <key>u1084D</key>
    <string>u1084D_.glif</string>
    <key>u1084E</key>
    <string>u1084E_.glif</string>
    <key>u1084F</key>
    <string>u1084F_.glif</string>
    <key>u10850</key>
    <string>u10850.glif</string>
    <key>u10851</key>
    <string>u10851.glif</string>
    <key>u10852</key>
    <string>u10852.glif</string>
    <key>u10853</key>
    <string>u10853.glif</string>
    <key>u10854</key>
    <string>u10854.glif</string>
    <key>u10855</key>
    <string>u10855.glif</string>
    <key>u10857</key>
    <string>u10857.glif</string>
    <key>u10858</key>
    <string>u10858.glif</string>
    <key>u10859</key>
    <string>u10859.glif</string>
    <key>u1085A</key>
    <string>u1085A_.glif</string>
    <key>u1085B</key>
    <string>u1085B_.glif</string>
    <key>u1085C</key>
    <string>u1085C_.glif</string>
    <key>u1085D</key>
    <string>u1085D_.glif</string>
    <key>u1085E</key>
    <string>u1085E_.glif</string>
    <key>u1085F</key>
    <string>u1085F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
