<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansMyanmarUI-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmarUI-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmarUI-Bold GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmarUI-SemiBold GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmarUI-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmarUI-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmarUI-Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmarUI-Regular GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmarUI-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmarUI-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmarUI-BoldCondensed GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmarUI-SemiBold GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmarUI-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmarUI-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmarUI-LightCondensed GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmarUI-Regular GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmarUI-CondensedSemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmarUI-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmarUI-SemiBoldCondensed GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmarUI-SemiBold GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmarUI-Light</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmarUI-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmarUI-Light GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmarUI-Regular GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmarUI-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmarUI-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmarUI-Regular GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmarUI-Regular GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmarUI-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmarUI-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmarUI-SemiBold GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmarUI-SemiBold GSUB.txt</string>
	</dict>
</dict>
</plist>
