<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansMyanmarUI-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Myanmar UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Myanmar UI 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Myanmar UI 26 90 151 190-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansMyanmarUI-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Myanmar UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Myanmar UI 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Myanmar UI 26 90 151 190-100 GSUB.txt</string>
	</dict>

	<key>NotoSansMyanmarUI-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Myanmar UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Myanmar UI 151-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Myanmar UI 26 90 151 190-100 GSUB.txt</string>
	</dict>

	<key>NotoSansMyanmarUI-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Myanmar UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Myanmar UI 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Myanmar UI 26 90 151 190-100 GSUB.txt</string>
	</dict>

	<key>NotoSansMyanmarUI-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Myanmar UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Myanmar UI 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Myanmar UI 26 90 151 190-70 GSUB.txt</string>
	</dict>
		
	<key>NotoSansMyanmarUI-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Myanmar UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Myanmar UI 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Myanmar UI 26 90 151 190-70 GSUB.txt</string>
	</dict>

	<key>NotoSansMyanmarUI-CondensedSemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Myanmar UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Myanmar UI 151-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Myanmar UI 26 90 151 190-70 GSUB.txt</string>
	</dict>
		
	<key>NotoSansMyanmarUI-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Myanmar UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Myanmar UI 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Myanmar UI 26 90 151 190-70 GSUB.txt</string>
	</dict>
		
</dict>
</plist>

