<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansMalayalam-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Malayalam 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Malayalam GSUB.txt</string>
	</dict>
	
	<key>NotoSansMalayalam-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Malayalam 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Malayalam GSUB.txt</string>
	</dict>
	
	<key>NotoSansMalayalam-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Malayalam 151-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Malayalam GSUB.txt</string>
	</dict>
	
	<key>NotoSansMalayalam-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Malayalam 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Malayalam GSUB.txt</string>
	</dict>

	<key>NotoSansMalayalam-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Malayalam 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Malayalam GSUB.txt</string>
	</dict>
		
	<key>NotoSansMalayalam-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Malayalam 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Malayalam GSUB.txt</string>
	</dict>
		
	<key>NotoSansMalayalam-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Malayalam GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Malayalam 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Malayalam GSUB.txt</string>
	</dict>
		
</dict>
</plist>

