<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>.null</key>
		<string>_null.glif</string>
		<key>A-medf</key>
		<string>A_-medf.glif</string>
		<key>AI-medf</key>
		<string>A_I_-medf.glif</string>
		<key>Atiu-medf</key>
		<string>A_tiu-medf.glif</string>
		<key>B-medf</key>
		<string>B_-medf.glif</string>
		<key>C-medf</key>
		<string>C_-medf.glif</string>
		<key>CR</key>
		<string>C_R_.glif</string>
		<key>D-medf</key>
		<string>D_-medf.glif</string>
		<key>E-medf</key>
		<string>E_-medf.glif</string>
		<key>F-medf</key>
		<string>F_-medf.glif</string>
		<key>G-medf</key>
		<string>G_-medf.glif</string>
		<key>H-medf</key>
		<string>H_-medf.glif</string>
		<key>I-medf</key>
		<string>I_-medf.glif</string>
		<key>J-medf</key>
		<string>J_-medf.glif</string>
		<key>K-medf</key>
		<string>K_-medf.glif</string>
		<key>KP-medf</key>
		<string>K_P_-medf.glif</string>
		<key>L-medf</key>
		<string>L_-medf.glif</string>
		<key>M-medf</key>
		<string>M_-medf.glif</string>
		<key>N-medf</key>
		<string>N_-medf.glif</string>
		<key>NG-medf</key>
		<string>N_G_-medf.glif</string>
		<key>O-medf</key>
		<string>O_-medf.glif</string>
		<key>OE-medf</key>
		<string>O_E_-medf.glif</string>
		<key>P-medf</key>
		<string>P_-medf.glif</string>
		<key>Q-medf</key>
		<string>Q_-medf.glif</string>
		<key>R-medf</key>
		<string>R_-medf.glif</string>
		<key>S-medf</key>
		<string>S_-medf.glif</string>
		<key>T-medf</key>
		<string>T_-medf.glif</string>
		<key>U-medf</key>
		<string>U_-medf.glif</string>
		<key>V-medf</key>
		<string>V_-medf.glif</string>
		<key>W-medf</key>
		<string>W_-medf.glif</string>
		<key>X-medf</key>
		<string>X_-medf.glif</string>
		<key>Y-medf</key>
		<string>Y_-medf.glif</string>
		<key>YU-medf</key>
		<string>Y_U_-medf.glif</string>
		<key>Z-medf</key>
		<string>Z_-medf.glif</string>
		<key>a-medf</key>
		<string>a-medf.glif</string>
		<key>ai-medf</key>
		<string>ai-medf.glif</string>
		<key>atiu-medf</key>
		<string>atiu-medf.glif</string>
		<key>b-medf</key>
		<string>b-medf.glif</string>
		<key>c-medf</key>
		<string>c-medf.glif</string>
		<key>comma-medf</key>
		<string>comma-medf.glif</string>
		<key>d-medf</key>
		<string>d-medf.glif</string>
		<key>e-medf</key>
		<string>e-medf.glif</string>
		<key>eight-medf</key>
		<string>eight-medf.glif</string>
		<key>eighteen-medf</key>
		<string>eighteen-medf.glif</string>
		<key>eleven-medf</key>
		<string>eleven-medf.glif</string>
		<key>exclam-medf</key>
		<string>exclam-medf.glif</string>
		<key>f-medf</key>
		<string>f-medf.glif</string>
		<key>fifteen-medf</key>
		<string>fifteen-medf.glif</string>
		<key>five-medf</key>
		<string>five-medf.glif</string>
		<key>four-medf</key>
		<string>four-medf.glif</string>
		<key>fourteen-medf</key>
		<string>fourteen-medf.glif</string>
		<key>g-medf</key>
		<string>g-medf.glif</string>
		<key>h-medf</key>
		<string>h-medf.glif</string>
		<key>i-medf</key>
		<string>i-medf.glif</string>
		<key>j-medf</key>
		<string>j-medf.glif</string>
		<key>k-medf</key>
		<string>k-medf.glif</string>
		<key>kp-medf</key>
		<string>kp-medf.glif</string>
		<key>l-medf</key>
		<string>l-medf.glif</string>
		<key>m-medf</key>
		<string>m-medf.glif</string>
		<key>n-medf</key>
		<string>n-medf.glif</string>
		<key>ng-medf</key>
		<string>ng-medf.glif</string>
		<key>nine-medf</key>
		<string>nine-medf.glif</string>
		<key>nineteen-medf</key>
		<string>nineteen-medf.glif</string>
		<key>o-medf</key>
		<string>o-medf.glif</string>
		<key>oe-medf</key>
		<string>oe-medf.glif</string>
		<key>one-medf</key>
		<string>one-medf.glif</string>
		<key>one-medf.alt</key>
		<string>one-medf.alt.glif</string>
		<key>or-medf</key>
		<string>or-medf.glif</string>
		<key>p-medf</key>
		<string>p-medf.glif</string>
		<key>period-medf</key>
		<string>period-medf.glif</string>
		<key>q-medf</key>
		<string>q-medf.glif</string>
		<key>r-medf</key>
		<string>r-medf.glif</string>
		<key>s-medf</key>
		<string>s-medf.glif</string>
		<key>seven-medf</key>
		<string>seven-medf.glif</string>
		<key>seventeen-medf</key>
		<string>seventeen-medf.glif</string>
		<key>six-medf</key>
		<string>six-medf.glif</string>
		<key>sixteen-medf</key>
		<string>sixteen-medf.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>t-medf</key>
		<string>t-medf.glif</string>
		<key>ten-medf</key>
		<string>ten-medf.glif</string>
		<key>thirteen-medf</key>
		<string>thirteen-medf.glif</string>
		<key>three-medf</key>
		<string>three-medf.glif</string>
		<key>three-medf.alt</key>
		<string>three-medf.alt.glif</string>
		<key>twelve-medf</key>
		<string>twelve-medf.glif</string>
		<key>two-medf</key>
		<string>two-medf.glif</string>
		<key>two-medf.alt</key>
		<string>two-medf.alt.glif</string>
		<key>u-medf</key>
		<string>u-medf.glif</string>
		<key>v-medf</key>
		<string>v-medf.glif</string>
		<key>w-medf</key>
		<string>w-medf.glif</string>
		<key>x-medf</key>
		<string>x-medf.glif</string>
		<key>y-medf</key>
		<string>y-medf.glif</string>
		<key>yu-medf</key>
		<string>yu-medf.glif</string>
		<key>z-medf</key>
		<string>z-medf.glif</string>
		<key>zero-medf</key>
		<string>zero-medf.glif</string>
	</dict>
</plist>
