<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>C25A89AB-2A2A-4F3F-B02F-59B6A31F96ED</string>
			<key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.A-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.AI-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Atiu-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.B-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.C-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.D-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.E-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.F-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.G-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.H-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.I-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.J-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.K-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.KP-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.L-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.M-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.N-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.NG-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.O-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.OE-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.P-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Q-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.R-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.S-mdef</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.T-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.U-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.V-mdef</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.W-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.X-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Y-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.YU-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.Z-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.a-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ai-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.atiu-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.b-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.c-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.comma-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.d-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.e-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eight-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eighteen-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.eleven-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.exclam-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.f-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.fifteen-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.five-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.four-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.fourteen-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.g-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.h-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.i-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.j-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.k-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.kp-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.l-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.m-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.n-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ng-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.nine-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.nineteen-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.o-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.oe-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.one-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.one-medf.alt</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.or-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.p-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.period-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.q-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.r-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.s-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.seven-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.seventeen-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.six-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.sixteen-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.space</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.t-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.ten-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.thirteen-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.three-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.three-medf.alt</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.twelve-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.two-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.two-medf.alt</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.u-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.v-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.w-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.x-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.y-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.yu-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.z-medf</key>
			<integer>0</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.zero-medf</key>
			<integer>0</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
