<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three_ph</key>
    <string>three_ph.glif</string>
    <key>two_ph</key>
    <string>two_ph.glif</string>
    <key>u10900</key>
    <string>u10900.glif</string>
    <key>u10901</key>
    <string>u10901.glif</string>
    <key>u10902</key>
    <string>u10902.glif</string>
    <key>u10903</key>
    <string>u10903.glif</string>
    <key>u10904</key>
    <string>u10904.glif</string>
    <key>u10905</key>
    <string>u10905.glif</string>
    <key>u10906</key>
    <string>u10906.glif</string>
    <key>u10907</key>
    <string>u10907.glif</string>
    <key>u10908</key>
    <string>u10908.glif</string>
    <key>u10909</key>
    <string>u10909.glif</string>
    <key>u1090A</key>
    <string>u1090A_.glif</string>
    <key>u1090B</key>
    <string>u1090B_.glif</string>
    <key>u1090C</key>
    <string>u1090C_.glif</string>
    <key>u1090D</key>
    <string>u1090D_.glif</string>
    <key>u1090E</key>
    <string>u1090E_.glif</string>
    <key>u1090F</key>
    <string>u1090F_.glif</string>
    <key>u10910</key>
    <string>u10910.glif</string>
    <key>u10911</key>
    <string>u10911.glif</string>
    <key>u10912</key>
    <string>u10912.glif</string>
    <key>u10913</key>
    <string>u10913.glif</string>
    <key>u10914</key>
    <string>u10914.glif</string>
    <key>u10915</key>
    <string>u10915.glif</string>
    <key>u10916</key>
    <string>u10916.glif</string>
    <key>u10917</key>
    <string>u10917.glif</string>
    <key>u10918</key>
    <string>u10918.glif</string>
    <key>u10919</key>
    <string>u10919.glif</string>
    <key>u1091F</key>
    <string>u1091F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
