<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10280</key>
    <string>u10280.glif</string>
    <key>u10281</key>
    <string>u10281.glif</string>
    <key>u10282</key>
    <string>u10282.glif</string>
    <key>u10283</key>
    <string>u10283.glif</string>
    <key>u10284</key>
    <string>u10284.glif</string>
    <key>u10285</key>
    <string>u10285.glif</string>
    <key>u10286</key>
    <string>u10286.glif</string>
    <key>u10287</key>
    <string>u10287.glif</string>
    <key>u10288</key>
    <string>u10288.glif</string>
    <key>u10289</key>
    <string>u10289.glif</string>
    <key>u1028A</key>
    <string>u1028A_.glif</string>
    <key>u1028B</key>
    <string>u1028B_.glif</string>
    <key>u1028C</key>
    <string>u1028C_.glif</string>
    <key>u1028D</key>
    <string>u1028D_.glif</string>
    <key>u1028E</key>
    <string>u1028E_.glif</string>
    <key>u1028F</key>
    <string>u1028F_.glif</string>
    <key>u10290</key>
    <string>u10290.glif</string>
    <key>u10291</key>
    <string>u10291.glif</string>
    <key>u10292</key>
    <string>u10292.glif</string>
    <key>u10293</key>
    <string>u10293.glif</string>
    <key>u10294</key>
    <string>u10294.glif</string>
    <key>u10295</key>
    <string>u10295.glif</string>
    <key>u10296</key>
    <string>u10296.glif</string>
    <key>u10297</key>
    <string>u10297.glif</string>
    <key>u10298</key>
    <string>u10298.glif</string>
    <key>u10299</key>
    <string>u10299.glif</string>
    <key>u1029A</key>
    <string>u1029A_.glif</string>
    <key>u1029B</key>
    <string>u1029B_.glif</string>
    <key>u1029C</key>
    <string>u1029C_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
