<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1300</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>nbspace</string>
      <string>dottedCircle</string>
      <string>zerowidthjoiner</string>
      <string>zerowidthnonjoiner</string>
      <string>danda-deva</string>
      <string>dbldanda-deva</string>
      <string>a-takr</string>
      <string>aa-takr</string>
      <string>i-takr</string>
      <string>ii-takr</string>
      <string>u-takr</string>
      <string>uu-takr</string>
      <string>e-takr</string>
      <string>ai-takr</string>
      <string>o-takr</string>
      <string>au-takr</string>
      <string>ka-takr</string>
      <string>kha-takr</string>
      <string>ga-takr</string>
      <string>gha-takr</string>
      <string>nga-takr</string>
      <string>ca-takr</string>
      <string>cha-takr</string>
      <string>ja-takr</string>
      <string>jha-takr</string>
      <string>nya-takr</string>
      <string>tta-takr</string>
      <string>ttha-takr</string>
      <string>dda-takr</string>
      <string>ddha-takr</string>
      <string>nna-takr</string>
      <string>ta-takr</string>
      <string>tha-takr</string>
      <string>da-takr</string>
      <string>dha-takr</string>
      <string>na-takr</string>
      <string>pa-takr</string>
      <string>pha-takr</string>
      <string>ba-takr</string>
      <string>bha-takr</string>
      <string>ma-takr</string>
      <string>ya-takr</string>
      <string>ra-takr</string>
      <string>la-takr</string>
      <string>va-takr</string>
      <string>sha-takr</string>
      <string>sa-takr</string>
      <string>ha-takr</string>
      <string>rra-takr</string>
      <string>virama-takr</string>
      <string>virama.ns</string>
      <string>anusvara-takr</string>
      <string>visarga-takr</string>
      <string>aaMatra-takr</string>
      <string>iMatra-takr</string>
      <string>iMatra-takr.alt</string>
      <string>iiMatra-takr</string>
      <string>uMatra-takr</string>
      <string>uuMatra-takr</string>
      <string>eMatra-takr</string>
      <string>aiMatra-takr</string>
      <string>oMatra-takr</string>
      <string>auMatra-takr</string>
      <string>virama-takr</string>
      <string>nukta-takr</string>
      <string>archaicKha-takr</string>
      <string>digitZero-takr</string>
      <string>digitOne-takr</string>
      <string>digitTwo-takr</string>
      <string>digitThree-takr</string>
      <string>digitFour-takr</string>
      <string>digitFive-takr</string>
      <string>digitSix-takr</string>
      <string>digitSeven-takr</string>
      <string>digitEight-takr</string>
      <string>digitNine-takr</string>
      <string>ya.blw</string>
      <string>ra.blw</string>
      <string>ha.pst</string>
      <string>northIndicFractionOneQuarter</string>
      <string>northIndicFractionOneHalf</string>
      <string>northIndicFractionThreeQuarters</string>
      <string>northIndicFractionOneSixteenth</string>
      <string>northIndicFractionOneEighth</string>
      <string>northIndicFractionThreeSixteenths</string>
      <string>northIndicQuarterMark</string>
      <string>northIndicPlaceholderMark</string>
      <string>northIndicRupeeMark</string>
      <string>northIndicQuantityMark</string>
      <string>I_anusvara</string>
      <string>NullMark</string>
      <string>Tra</string>
      <string>I_anusvara.alt</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>a-takr</key>
      <string>atakr</string>
      <key>aa-takr</key>
      <string>aatakr</string>
      <key>aaMatra-takr</key>
      <string>aaMatratakr</string>
      <key>ai-takr</key>
      <string>aitakr</string>
      <key>aiMatra-takr</key>
      <string>aiMatratakr</string>
      <key>anusvara-takr</key>
      <string>anusvaratakr</string>
      <key>archaicKha-takr</key>
      <string>archaicKhatakr</string>
      <key>au-takr</key>
      <string>autakr</string>
      <key>auMatra-takr</key>
      <string>auMatratakr</string>
      <key>ba-takr</key>
      <string>batakr</string>
      <key>bha-takr</key>
      <string>bhatakr</string>
      <key>ca-takr</key>
      <string>catakr</string>
      <key>cha-takr</key>
      <string>chatakr</string>
      <key>da-takr</key>
      <string>datakr</string>
      <key>danda-deva</key>
      <string>uni0964</string>
      <key>dbldanda-deva</key>
      <string>uni0965</string>
      <key>dda-takr</key>
      <string>ddatakr</string>
      <key>ddha-takr</key>
      <string>ddhatakr</string>
      <key>dha-takr</key>
      <string>dhatakr</string>
      <key>digitEight-takr</key>
      <string>digitEighttakr</string>
      <key>digitFive-takr</key>
      <string>digitFivetakr</string>
      <key>digitFour-takr</key>
      <string>digitFourtakr</string>
      <key>digitNine-takr</key>
      <string>digitNinetakr</string>
      <key>digitOne-takr</key>
      <string>digitOnetakr</string>
      <key>digitSeven-takr</key>
      <string>digitSeventakr</string>
      <key>digitSix-takr</key>
      <string>digitSixtakr</string>
      <key>digitThree-takr</key>
      <string>digitThreetakr</string>
      <key>digitTwo-takr</key>
      <string>digitTwotakr</string>
      <key>digitZero-takr</key>
      <string>digitZerotakr</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>e-takr</key>
      <string>etakr</string>
      <key>eMatra-takr</key>
      <string>eMatratakr</string>
      <key>ga-takr</key>
      <string>gatakr</string>
      <key>gha-takr</key>
      <string>ghatakr</string>
      <key>ha-takr</key>
      <string>hatakr</string>
      <key>i-takr</key>
      <string>itakr</string>
      <key>iMatra-takr</key>
      <string>iMatratakr</string>
      <key>iMatra-takr.alt</key>
      <string>iMatratakr.alt</string>
      <key>ii-takr</key>
      <string>iitakr</string>
      <key>iiMatra-takr</key>
      <string>iiMatratakr</string>
      <key>ja-takr</key>
      <string>jatakr</string>
      <key>jha-takr</key>
      <string>jhatakr</string>
      <key>ka-takr</key>
      <string>katakr</string>
      <key>kha-takr</key>
      <string>khatakr</string>
      <key>la-takr</key>
      <string>latakr</string>
      <key>ma-takr</key>
      <string>matakr</string>
      <key>na-takr</key>
      <string>natakr</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nga-takr</key>
      <string>ngatakr</string>
      <key>nna-takr</key>
      <string>nnatakr</string>
      <key>nukta-takr</key>
      <string>nuktatakr</string>
      <key>nya-takr</key>
      <string>nyatakr</string>
      <key>o-takr</key>
      <string>otakr</string>
      <key>oMatra-takr</key>
      <string>oMatratakr</string>
      <key>pa-takr</key>
      <string>patakr</string>
      <key>pha-takr</key>
      <string>phatakr</string>
      <key>ra-takr</key>
      <string>ratakr</string>
      <key>rra-takr</key>
      <string>rratakr</string>
      <key>sa-takr</key>
      <string>satakr</string>
      <key>sha-takr</key>
      <string>shatakr</string>
      <key>ta-takr</key>
      <string>tatakr</string>
      <key>tha-takr</key>
      <string>thatakr</string>
      <key>tta-takr</key>
      <string>ttatakr</string>
      <key>ttha-takr</key>
      <string>tthatakr</string>
      <key>u-takr</key>
      <string>utakr</string>
      <key>uMatra-takr</key>
      <string>uMatratakr</string>
      <key>uu-takr</key>
      <string>uutakr</string>
      <key>uuMatra-takr</key>
      <string>uuMatratakr</string>
      <key>va-takr</key>
      <string>vatakr</string>
      <key>virama-takr</key>
      <string>viramatakr</string>
      <key>visarga-takr</key>
      <string>visargatakr</string>
      <key>ya-takr</key>
      <string>yatakr</string>
      <key>zerowidthjoiner</key>
      <string>uni200D</string>
      <key>zerowidthnonjoiner</key>
      <string>uni200C</string>
    </dict>
  </dict>
</plist>
