<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1060</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10600</string>
      <string>u10601</string>
      <string>u10602</string>
      <string>u10603</string>
      <string>u10604</string>
      <string>u10605</string>
      <string>u10606</string>
      <string>u10607</string>
      <string>u10608</string>
      <string>u10609</string>
      <string>u1060A</string>
      <string>u1060B</string>
      <string>u1060C</string>
      <string>u1060D</string>
      <string>u1060E</string>
      <string>u1060F</string>
      <string>u10610</string>
      <string>u10611</string>
      <string>u10612</string>
      <string>u10613</string>
      <string>u10614</string>
      <string>u10615</string>
      <string>u10616</string>
      <string>u10617</string>
      <string>u10618</string>
      <string>u10619</string>
      <string>u1061A</string>
      <string>u1061B</string>
      <string>u1061C</string>
      <string>u1061D</string>
      <string>u1061E</string>
      <string>u1061F</string>
      <string>u10620</string>
      <string>u10621</string>
      <string>u10622</string>
      <string>u10623</string>
      <string>u10624</string>
      <string>u10625</string>
      <string>u10626</string>
      <string>u10627</string>
      <string>u10628</string>
      <string>u10629</string>
      <string>u1062A</string>
      <string>u1062B</string>
      <string>u1062C</string>
      <string>u1062D</string>
      <string>u1062E</string>
      <string>u1062F</string>
      <string>u10630</string>
      <string>u10631</string>
      <string>u10632</string>
      <string>u10633</string>
      <string>u10634</string>
      <string>u10635</string>
      <string>u10636</string>
      <string>u10637</string>
      <string>u10638</string>
      <string>u10639</string>
      <string>u1063A</string>
      <string>u1063B</string>
      <string>u1063C</string>
      <string>u1063D</string>
      <string>u1063E</string>
      <string>u1063F</string>
      <string>u10640</string>
      <string>u10641</string>
      <string>u10642</string>
      <string>u10643</string>
      <string>u10644</string>
      <string>u10645</string>
      <string>u10646</string>
      <string>u10647</string>
      <string>u10648</string>
      <string>u10649</string>
      <string>u1064A</string>
      <string>u1064B</string>
      <string>u1064C</string>
      <string>u1064D</string>
      <string>u1064E</string>
      <string>u1064F</string>
      <string>u10650</string>
      <string>u10651</string>
      <string>u10652</string>
      <string>u10653</string>
      <string>u10654</string>
      <string>u10655</string>
      <string>u10656</string>
      <string>u10657</string>
      <string>u10658</string>
      <string>u10659</string>
      <string>u1065A</string>
      <string>u1065B</string>
      <string>u1065C</string>
      <string>u1065D</string>
      <string>u1065E</string>
      <string>u1065F</string>
      <string>u10660</string>
      <string>u10661</string>
      <string>u10662</string>
      <string>u10663</string>
      <string>u10664</string>
      <string>u10665</string>
      <string>u10666</string>
      <string>u10667</string>
      <string>u10668</string>
      <string>u10669</string>
      <string>u1066A</string>
      <string>u1066B</string>
      <string>u1066C</string>
      <string>u1066D</string>
      <string>u1066E</string>
      <string>u1066F</string>
      <string>u10670</string>
      <string>u10671</string>
      <string>u10672</string>
      <string>u10673</string>
      <string>u10674</string>
      <string>u10675</string>
      <string>u10676</string>
      <string>u10677</string>
      <string>u10678</string>
      <string>u10679</string>
      <string>u1067A</string>
      <string>u1067B</string>
      <string>u1067C</string>
      <string>u1067D</string>
      <string>u1067E</string>
      <string>u1067F</string>
      <string>u10680</string>
      <string>u10681</string>
      <string>u10682</string>
      <string>u10683</string>
      <string>u10684</string>
      <string>u10685</string>
      <string>u10686</string>
      <string>u10687</string>
      <string>u10688</string>
      <string>u10689</string>
      <string>u1068A</string>
      <string>u1068B</string>
      <string>u1068C</string>
      <string>u1068D</string>
      <string>u1068E</string>
      <string>u1068F</string>
      <string>u10690</string>
      <string>u10691</string>
      <string>u10692</string>
      <string>u10693</string>
      <string>u10694</string>
      <string>u10695</string>
      <string>u10696</string>
      <string>u10697</string>
      <string>u10698</string>
      <string>u10699</string>
      <string>u1069A</string>
      <string>u1069B</string>
      <string>u1069C</string>
      <string>u1069D</string>
      <string>u1069E</string>
      <string>u1069F</string>
      <string>u106A0</string>
      <string>u106A1</string>
      <string>u106A2</string>
      <string>u106A3</string>
      <string>u106A4</string>
      <string>u106A5</string>
      <string>u106A6</string>
      <string>u106A7</string>
      <string>u106A8</string>
      <string>u106A9</string>
      <string>u106AA</string>
      <string>u106AB</string>
      <string>u106AC</string>
      <string>u106AD</string>
      <string>u106AE</string>
      <string>u106AF</string>
      <string>u106B0</string>
      <string>u106B1</string>
      <string>u106B2</string>
      <string>u106B3</string>
      <string>u106B4</string>
      <string>u106B5</string>
      <string>u106B6</string>
      <string>u106B7</string>
      <string>u106B8</string>
      <string>u106B9</string>
      <string>u106BA</string>
      <string>u106BB</string>
      <string>u106BC</string>
      <string>u106BD</string>
      <string>u106BE</string>
      <string>u106BF</string>
      <string>u106C0</string>
      <string>u106C1</string>
      <string>u106C2</string>
      <string>u106C3</string>
      <string>u106C4</string>
      <string>u106C5</string>
      <string>u106C6</string>
      <string>u106C7</string>
      <string>u106C8</string>
      <string>u106C9</string>
      <string>u106CA</string>
      <string>u106CB</string>
      <string>u106CC</string>
      <string>u106CD</string>
      <string>u106CE</string>
      <string>u106CF</string>
      <string>u106D0</string>
      <string>u106D1</string>
      <string>u106D2</string>
      <string>u106D3</string>
      <string>u106D4</string>
      <string>u106D5</string>
      <string>u106D6</string>
      <string>u106D7</string>
      <string>u106D8</string>
      <string>u106D9</string>
      <string>u106DA</string>
      <string>u106DB</string>
      <string>u106DC</string>
      <string>u106DD</string>
      <string>u106DE</string>
      <string>u106DF</string>
      <string>u106E0</string>
      <string>u106E1</string>
      <string>u106E2</string>
      <string>u106E3</string>
      <string>u106E4</string>
      <string>u106E5</string>
      <string>u106E6</string>
      <string>u106E7</string>
      <string>u106E8</string>
      <string>u106E9</string>
      <string>u106EA</string>
      <string>u106EB</string>
      <string>u106EC</string>
      <string>u106ED</string>
      <string>u106EE</string>
      <string>u106EF</string>
      <string>u106F0</string>
      <string>u106F1</string>
      <string>u106F2</string>
      <string>u106F3</string>
      <string>u106F4</string>
      <string>u106F5</string>
      <string>u106F6</string>
      <string>u106F7</string>
      <string>u106F8</string>
      <string>u106F9</string>
      <string>u106FA</string>
      <string>u106FB</string>
      <string>u106FC</string>
      <string>u106FD</string>
      <string>u106FE</string>
      <string>u106FF</string>
      <string>u10700</string>
      <string>u10701</string>
      <string>u10702</string>
      <string>u10703</string>
      <string>u10704</string>
      <string>u10705</string>
      <string>u10706</string>
      <string>u10707</string>
      <string>u10708</string>
      <string>u10709</string>
      <string>u1070A</string>
      <string>u1070B</string>
      <string>u1070C</string>
      <string>u1070D</string>
      <string>u1070E</string>
      <string>u1070F</string>
      <string>u10710</string>
      <string>u10711</string>
      <string>u10712</string>
      <string>u10713</string>
      <string>u10714</string>
      <string>u10715</string>
      <string>u10716</string>
      <string>u10717</string>
      <string>u10718</string>
      <string>u10719</string>
      <string>u1071A</string>
      <string>u1071B</string>
      <string>u1071C</string>
      <string>u1071D</string>
      <string>u1071E</string>
      <string>u1071F</string>
      <string>u10720</string>
      <string>u10721</string>
      <string>u10722</string>
      <string>u10723</string>
      <string>u10724</string>
      <string>u10725</string>
      <string>u10726</string>
      <string>u10727</string>
      <string>u10728</string>
      <string>u10729</string>
      <string>u1072A</string>
      <string>u1072B</string>
      <string>u1072C</string>
      <string>u1072D</string>
      <string>u1072E</string>
      <string>u1072F</string>
      <string>u10730</string>
      <string>u10731</string>
      <string>u10732</string>
      <string>u10733</string>
      <string>u10734</string>
      <string>u10735</string>
      <string>u10736</string>
      <string>u10740</string>
      <string>u10741</string>
      <string>u10742</string>
      <string>u10743</string>
      <string>u10744</string>
      <string>u10745</string>
      <string>u10746</string>
      <string>u10747</string>
      <string>u10748</string>
      <string>u10749</string>
      <string>u1074A</string>
      <string>u1074B</string>
      <string>u1074C</string>
      <string>u1074D</string>
      <string>u1074E</string>
      <string>u1074F</string>
      <string>u10750</string>
      <string>u10751</string>
      <string>u10752</string>
      <string>u10753</string>
      <string>u10754</string>
      <string>u10755</string>
      <string>u10760</string>
      <string>u10761</string>
      <string>u10762</string>
      <string>u10763</string>
      <string>u10764</string>
      <string>u10765</string>
      <string>u10766</string>
      <string>u10767</string>
      <string>uni00A0</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>cross.sm</key>
      <string>uni271D.sm</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>bar.1</string>
      <string>bar.2</string>
      <string>bar.3</string>
      <string>vertbar.med</string>
      <string>circle.med</string>
      <string>vertbar.full</string>
      <string>vertbar.sm</string>
      <string>bar.4</string>
      <string>smiley.sm</string>
      <string>circle.cross</string>
      <string>cross.sm</string>
      <string>bar.1.001</string>
    </array>
  </dict>
</plist>
