<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jan 28 17, 19:35</string>
      <string>glyphs.J_an 28 17, 19_35</string>
    </array>
    <array>
      <string>Jan 29 17, 12:34</string>
      <string>glyphs.J_an 29 17, 12_34</string>
    </array>
    <array>
      <string>Jan 28 17, 19:55</string>
      <string>glyphs.J_an 28 17, 19_55</string>
    </array>
    <array>
      <string>Feb 4 17, 13:49</string>
      <string>glyphs.F_eb 4 17, 13_49</string>
    </array>
    <array>
      <string>Feb 4 17, 13:49.background</string>
      <string>glyphs.F_eb 4 17, 13_49.background</string>
    </array>
    <array>
      <string>Jan 21 17, 14:24</string>
      <string>glyphs.J_an 21 17, 14_24</string>
    </array>
  </array>
</plist>
