<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
      <dict>
        <key>Name</key>
        <string>Width</string>
        <key>Tag</key>
        <string>wdth</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Enforce Compatibility Check</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>dieresiscomb</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni0531</string>
      <string>uni0532</string>
      <string>uni0533</string>
      <string>uni0534</string>
      <string>uni0535</string>
      <string>uni0536</string>
      <string>uni0537</string>
      <string>uni0538</string>
      <string>uni0539</string>
      <string>uni053A</string>
      <string>uni053B</string>
      <string>uni053C</string>
      <string>uni053D</string>
      <string>uni053E</string>
      <string>uni053F</string>
      <string>uni0540</string>
      <string>uni0541</string>
      <string>uni0542</string>
      <string>uni0543</string>
      <string>uni0544</string>
      <string>uni0545</string>
      <string>uni0546</string>
      <string>uni0547</string>
      <string>uni0548</string>
      <string>uni0548_uni0552</string>
      <string>uni0549</string>
      <string>uni054A</string>
      <string>uni054B</string>
      <string>uni054C</string>
      <string>uni054D</string>
      <string>uni054E</string>
      <string>uni054F</string>
      <string>uni0550</string>
      <string>uni0551</string>
      <string>uni0552</string>
      <string>uni0553</string>
      <string>uni0554</string>
      <string>uni0555</string>
      <string>uni0556</string>
      <string>uni0559</string>
      <string>uni055A</string>
      <string>uni055B</string>
      <string>uni055C</string>
      <string>uni055D</string>
      <string>uni055E</string>
      <string>uni055F</string>
      <string>uni0560</string>
      <string>uni0561</string>
      <string>uni0562</string>
      <string>uni0563</string>
      <string>uni0564</string>
      <string>uni0565</string>
      <string>uni0566</string>
      <string>uni0567</string>
      <string>uni0568</string>
      <string>uni0569</string>
      <string>uni056A</string>
      <string>uni056B</string>
      <string>uni056C</string>
      <string>uni056D</string>
      <string>uni056E</string>
      <string>uni056F</string>
      <string>uni0570</string>
      <string>uni0571</string>
      <string>uni0572</string>
      <string>uni0573</string>
      <string>uni0574</string>
      <string>uni0575</string>
      <string>uni0576</string>
      <string>uni0577</string>
      <string>uni0578</string>
      <string>uni0578_uni0582</string>
      <string>uni0579</string>
      <string>uni057A</string>
      <string>uni057B</string>
      <string>uni057C</string>
      <string>uni057D</string>
      <string>uni057E</string>
      <string>uni057F</string>
      <string>uni0580</string>
      <string>uni0581</string>
      <string>uni0582</string>
      <string>uni0583</string>
      <string>uni0584</string>
      <string>uni0585</string>
      <string>uni0586</string>
      <string>uni0587</string>
      <string>uni0588</string>
      <string>uni0589</string>
      <string>uni058A</string>
      <string>uni058D</string>
      <string>uni058E</string>
      <string>uni058F</string>
      <string>uni25CC</string>
      <string>uniFB13</string>
      <string>uniFB14</string>
      <string>uniFB15</string>
      <string>uniFB16</string>
      <string>uniFB17</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>dieresiscomb</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni0531</string>
      <string>uni0532</string>
      <string>uni0533</string>
      <string>uni0534</string>
      <string>uni0535</string>
      <string>uni0536</string>
      <string>uni0537</string>
      <string>uni0538</string>
      <string>uni0539</string>
      <string>uni053A</string>
      <string>uni053B</string>
      <string>uni053C</string>
      <string>uni053D</string>
      <string>uni053E</string>
      <string>uni053F</string>
      <string>uni0540</string>
      <string>uni0541</string>
      <string>uni0542</string>
      <string>uni0543</string>
      <string>uni0544</string>
      <string>uni0545</string>
      <string>uni0546</string>
      <string>uni0547</string>
      <string>uni0548</string>
      <string>uni0548_uni0552</string>
      <string>uni0549</string>
      <string>uni054A</string>
      <string>uni054B</string>
      <string>uni054C</string>
      <string>uni054D</string>
      <string>uni054E</string>
      <string>uni054F</string>
      <string>uni0550</string>
      <string>uni0551</string>
      <string>uni0552</string>
      <string>uni0553</string>
      <string>uni0554</string>
      <string>uni0555</string>
      <string>uni0556</string>
      <string>uni0559</string>
      <string>uni055A</string>
      <string>uni055B</string>
      <string>uni055C</string>
      <string>uni055D</string>
      <string>uni055E</string>
      <string>uni055F</string>
      <string>uni0560</string>
      <string>uni0561</string>
      <string>uni0562</string>
      <string>uni0563</string>
      <string>uni0564</string>
      <string>uni0565</string>
      <string>uni0566</string>
      <string>uni0567</string>
      <string>uni0568</string>
      <string>uni0569</string>
      <string>uni056A</string>
      <string>uni056B</string>
      <string>uni056C</string>
      <string>uni056D</string>
      <string>uni056E</string>
      <string>uni056F</string>
      <string>uni0570</string>
      <string>uni0571</string>
      <string>uni0572</string>
      <string>uni0573</string>
      <string>uni0574</string>
      <string>uni0575</string>
      <string>uni0576</string>
      <string>uni0577</string>
      <string>uni0578</string>
      <string>uni0578_uni0582</string>
      <string>uni0579</string>
      <string>uni057A</string>
      <string>uni057B</string>
      <string>uni057C</string>
      <string>uni057D</string>
      <string>uni057E</string>
      <string>uni057F</string>
      <string>uni0580</string>
      <string>uni0581</string>
      <string>uni0582</string>
      <string>uni0583</string>
      <string>uni0584</string>
      <string>uni0585</string>
      <string>uni0586</string>
      <string>uni0587</string>
      <string>uni0588</string>
      <string>uni0589</string>
      <string>uni058A</string>
      <string>uni058D</string>
      <string>uni058E</string>
      <string>uni058F</string>
      <string>uni25CC</string>
      <string>uniFB13</string>
      <string>uniFB14</string>
      <string>uniFB15</string>
      <string>uniFB16</string>
      <string>uniFB17</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>hyphentwo</key>
      <string>uni2010</string>
      <key>uni0548_uni0552</key>
      <string>uni05480552</string>
      <key>uni0578_uni0582</key>
      <string>uni05780582</string>
    </dict>
  </dict>
</plist>
