<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Aazhaakku</key>
    <string>A_azhaakku.glif</string>
    <key>AndOddSign</key>
    <string>A_ndO_ddS_ign.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Cevitu</key>
    <string>C_evitu.glif</string>
    <key>CurrentSign</key>
    <string>C_urrentS_ign.glif</string>
    <key>DownscalingFactorKiizh</key>
    <string>D_ownscalingF_actorK_iizh.glif</string>
    <key>DryCultivationSign</key>
    <string>D_ryC_ultivationS_ign.glif</string>
    <key>InPossessionSign</key>
    <string>I_nP_ossessionS_ign.glif</string>
    <key>Kaacu</key>
    <string>K_aacu.glif</string>
    <key>Kuruni</key>
    <string>K_uruni.glif</string>
    <key>Kuzhi</key>
    <string>K_uzhi.glif</string>
    <key>LandSign</key>
    <string>L_andS_ign.glif</string>
    <key>Mukkuruni</key>
    <string>M_ukkuruni.glif</string>
    <key>Muthaliya</key>
    <string>M_uthaliya.glif</string>
    <key>Muuvuzhakku</key>
    <string>M_uuvuzhakku.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Nel</key>
    <string>N_el.glif</string>
    <key>OneEighth</key>
    <string>O_neE_ighth.glif</string>
    <key>OneEightieth</key>
    <string>O_neE_ightieth.glif</string>
    <key>OneFifth</key>
    <string>O_neF_ifth.glif</string>
    <key>OneFortieth</key>
    <string>O_neF_ortieth.glif</string>
    <key>OneHalf_1</key>
    <string>O_neH_alf_1.glif</string>
    <key>OneHalf_2</key>
    <string>O_neH_alf_2.glif</string>
    <key>OneHundredandSixtieth</key>
    <string>O_neH_undredandS_ixtieth.glif</string>
    <key>OneQuarter</key>
    <string>O_neQ_uarter.glif</string>
    <key>OneSixteenth_1</key>
    <string>O_neS_ixteenth_1.glif</string>
    <key>OneSixteenth_2</key>
    <string>O_neS_ixteenth_2.glif</string>
    <key>OneSixtyFourth</key>
    <string>O_neS_ixtyF_ourth.glif</string>
    <key>OneTenth</key>
    <string>O_neT_enth.glif</string>
    <key>OneThirtySecond</key>
    <string>O_neT_hirtyS_econd.glif</string>
    <key>OneThreeHundredandTwentieth</key>
    <string>O_neT_hreeH_undredandT_wentieth.glif</string>
    <key>OneTwentieth</key>
    <string>O_neT_wentieth.glif</string>
    <key>Paaram</key>
    <string>P_aaram.glif</string>
    <key>Panam</key>
    <string>P_anam.glif</string>
    <key>Pathakku</key>
    <string>P_athakku.glif</string>
    <key>Pon</key>
    <string>P_on.glif</string>
    <key>PunctuationEndOfText</key>
    <string>P_unctuationE_ndO_fT_ext.glif</string>
    <key>SaltPanSign</key>
    <string>S_altP_anS_ign.glif</string>
    <key>SpentSign</key>
    <string>S_pentS_ign.glif</string>
    <key>StartingFrom</key>
    <string>S_tartingF_rom.glif</string>
    <key>ThreeEightieths</key>
    <string>T_hreeE_ightieths.glif</string>
    <key>ThreeQuarters</key>
    <string>T_hreeQ_uarters.glif</string>
    <key>ThreeSixteenths</key>
    <string>T_hreeS_ixteenths.glif</string>
    <key>ThreeSixtyFourths</key>
    <string>T_hreeS_ixtyF_ourths.glif</string>
    <key>ThreeTwentieths</key>
    <string>T_hreeT_wentieths.glif</string>
    <key>TotalSign</key>
    <string>T_otalS_ign.glif</string>
    <key>TraditionalCreditSign</key>
    <string>T_raditionalC_reditS_ign.glif</string>
    <key>TraditionalNumberSign</key>
    <string>T_raditionalN_umberS_ign.glif</string>
    <key>Uzhakku</key>
    <string>U_zhakku.glif</string>
    <key>Vakaiyaraa</key>
    <string>V_akaiyaraa.glif</string>
    <key>Varaakan</key>
    <string>V_araakan.glif</string>
    <key>Veli</key>
    <string>V_eli.glif</string>
    <key>WetCultivationSign</key>
    <string>W_etC_ultivationS_ign.glif</string>
  </dict>
</plist>
