<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>3.995034545454546</real>
      <key>public.kern2.quoteright</key>
      <real>11.98508727272728</real>
      <key>public.kern2.quotesingle</key>
      <real>13.58309454545455</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>30.539764545454545</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>48.117912727272724</real>
      <key>public.kern2.quoteright</key>
      <real>22.63852272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>40.12783818181818</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>47.940318181818185</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>11.186089090909089</real>
      <key>public.kern2.parenright</key>
      <real>65.42967454545455</real>
      <key>public.kern2.quoteright</key>
      <real>29.030536363636365</real>
      <key>public.kern2.quotesingle</key>
      <real>58.46061909090909</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <real>13.982595454545455</real>
      <key>public.kern2.T</key>
      <real>62.41119181818181</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>17.045443636363636</real>
      <key>public.kern2.parenright</key>
      <real>91.66370000000002</real>
      <key>public.kern2.quoteright</key>
      <real>54.19927545454547</real>
      <key>public.kern2.quotesingle</key>
      <real>75.63929272727273</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <real>2.663345454545455</real>
      <key>public.kern2.T</key>
      <real>7.901280909090911</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>12.118221818181816</real>
      <key>public.kern2.parenright</key>
      <real>37.50886818181818</real>
      <key>public.kern2.quoteright</key>
      <real>11.186089090909089</real>
      <key>public.kern2.quotesingle</key>
      <real>22.327760909090912</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>1.5536213636363636</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>3.7286912727272727</real>
      <key>public.kern2.parenright</key>
      <real>38.44103727272727</real>
      <key>public.kern2.quoteright</key>
      <real>7.4573672727272715</real>
      <key>public.kern2.quotesingle</key>
      <real>24.813588181818183</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <real>0.39950345454545466</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>25.701345454545454</real>
      <key>public.kern2.parenright</key>
      <real>39.950281818181814</real>
      <key>public.kern2.quoteright</key>
      <real>5.5930418181818204</real>
      <key>public.kern2.quotesingle</key>
      <real>27.565700909090907</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>16.779114545454547</real>
      <key>bracketright</key>
      <real>16.779114545454547</real>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>parenright</key>
      <real>20.507798181818185</real>
      <key>public.kern2.T</key>
      <real>28.00959454545455</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>2.397010909090909</real>
      <key>public.kern2.parenright</key>
      <real>56.906938181818184</real>
      <key>public.kern2.quoteright</key>
      <real>25.701361818181816</real>
      <key>public.kern2.quotesingle</key>
      <real>46.16477818181818</real>
      <key>question</key>
      <real>22.372178181818178</real>
      <key>quotedbl</key>
      <real>20.507798181818185</real>
      <key>quotedblright</key>
      <real>13.050430909090906</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>26.677919090909093</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>53.40020636363637</real>
      <key>public.kern2.quoteright</key>
      <real>20.862902727272733</real>
      <key>public.kern2.quotesingle</key>
      <real>44.83309545454546</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>21.528739090909095</real>
      <key>public.kern2.parenright</key>
      <real>37.864010909090915</real>
      <key>public.kern2.quoteright</key>
      <real>13.982593636363639</real>
      <key>public.kern2.quotesingle</key>
      <real>34.17966181818182</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>2.9296860000000002</real>
      <key>luu-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>-45.587712727272724</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-13.183566</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-17.578110000000002</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-32.22658</real>
      <key>public.kern2.exclam</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.183566</real>
      <key>public.kern2.o-tamil</key>
      <real>-8.789070000000002</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-41.01562</real>
      <key>public.kern2.quotesingle</key>
      <real>-53.932913636363644</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-10.25388</real>
      <key>public.kern2.slash</key>
      <real>27.34375</real>
      <key>public.kern2.ya-tamil</key>
      <real>-8.789070000000002</real>
      <key>slash</key>
      <real>11.71875</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>13.671839999999998</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-13.183566</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>37.153760909090906</real>
      <key>bracketright</key>
      <real>77.99186545454545</real>
      <key>parenright</key>
      <real>79.32357090909092</real>
      <key>public.kern2.a-tamil</key>
      <real>-17.089844</real>
      <key>public.kern2.ka-tamil</key>
      <real>-6.835934</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>11.98508727272728</real>
      <key>public.kern2.quotesingle</key>
      <real>13.58309454545455</real>
      <key>public.kern2.u-tamil</key>
      <real>-20.50783</real>
      <key>question</key>
      <real>49.89345454545454</real>
      <key>quotedbl</key>
      <real>55.26454727272727</real>
      <key>quotedblright</key>
      <real>30.051511818181815</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>4.660854545454545</real>
      <key>public.kern2.a-tamil</key>
      <real>-62.01169</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-22.94923</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>7.990049999999999</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-43.9453</real>
      <key>public.kern2.nya-tamil</key>
      <real>-32.22658</real>
      <key>public.kern2.o-tamil</key>
      <real>-31.25002</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-46.87498</real>
      <key>public.kern2.rra-tamil</key>
      <real>-17.08987</real>
      <key>public.kern2.slash</key>
      <real>-6.835934</real>
      <key>public.kern2.u-tamil</key>
      <real>-42.48046</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-60.05864</real>
      <key>slash</key>
      <real>-5.859360000000001</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-17.622513636363635</real>
      <key>public.kern2.T</key>
      <real>-26.500355454545456</real>
      <key>public.kern2.a-tamil</key>
      <real>11.71875</real>
      <key>public.kern2.ai-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.e-tamil</key>
      <real>-2.9296860000000002</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-22.46091</real>
      <key>public.kern2.i-tamil</key>
      <real>-11.230454</real>
      <key>public.kern2.ka-tamil</key>
      <real>-2.9296860000000002</real>
      <key>public.kern2.quoteright</key>
      <real>-28.631033636363636</real>
      <key>public.kern2.quotesingle</key>
      <real>-34.17966</real>
      <key>quotedbl</key>
      <real>1.5536004545454545</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-25.87894</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-30.273435999999997</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-36.13282</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-3.7286912727272727</real>
      <key>public.kern2.a-tamil</key>
      <real>-14.160164000000002</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-6.835934</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>35.15626</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>22.46091</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>12.207037</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-10.25388</real>
      <key>public.kern2.parenright</key>
      <real>52.379295454545456</real>
      <key>public.kern2.period</key>
      <real>-35.55574818181819</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-27.34375</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-10.25388</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-5.060366727272728</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-7.812487000000001</real>
      <key>public.kern2.u-tamil</key>
      <real>-6.835934</real>
      <key>question</key>
      <real>11.186089090909089</real>
      <key>quotedbl</key>
      <real>3.9950318181818183</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>91.79696000000001</real>
      <key>public.kern2.a-tamil</key>
      <real>-82.03124</real>
      <key>public.kern2.colon</key>
      <real>40.52734</real>
      <key>public.kern2.e-tamil</key>
      <real>-10.25388</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>43.45702</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>43.45702</real>
      <key>public.kern2.exclam</key>
      <real>89.35544</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>103.51574</real>
      <key>public.kern2.u-tamil</key>
      <real>-10.25388</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>60.05864</real>
      <key>public.kern2.a-tamil</key>
      <real>-34.66801000000001</real>
      <key>public.kern2.exclam</key>
      <real>7.32423</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.parenright</key>
      <real>52.73441</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-21.48439</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-207.031297</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-70.49007636363636</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-47.85154</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-36.13282</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-212.890203</real>
      <key>public.kern2.e-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.ka-tamil</key>
      <real>-63.29901181818182</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.om-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.u-tamil</key>
      <real>-26.36719</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-20.50779</real>
      <key>public.kern2.ka-tamil</key>
      <real>-20.50783</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>42.48046</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>13.671839999999998</real>
      <key>public.kern2.parenright</key>
      <real>52.73441</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>55.66409</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-16.601526</real>
      <key>public.kern2.quotesingle</key>
      <real>-13.671839999999998</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-10.742197</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-21.48439</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-62.98832</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-17.578110000000002</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.695294</real>
      <key>public.kern2.nya-tamil</key>
      <real>-11.230454</real>
      <key>public.kern2.rra-tamil</key>
      <real>-15.625004</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-19.04295</real>
      <key>public.kern2.a-tamil</key>
      <real>31.738300000000002</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-20.50783</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-43.456990000000005</real>
      <key>public.kern2.quotesingle</key>
      <real>-52.73441</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-75.68353000000002</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.183566</real>
      <key>public.kern2.period</key>
      <real>-11.230454</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-32.22654</real>
      <key>public.kern2.ai-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.o-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-12.695294</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.160164000000002</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-20.019556</real>
      <key>public.kern2.quoteright</key>
      <real>-31.25002</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>68.40375727272726</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>28.364697272727273</real>
      <key>public.kern2.parenright</key>
      <real>88.77838181818181</real>
      <key>public.kern2.quoteright</key>
      <real>61.65664272727274</real>
      <key>public.kern2.quotesingle</key>
      <real>90.82036181818182</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>25.65694909090909</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>9.010988636363635</real>
      <key>public.kern2.parenright</key>
      <real>43.590211818181814</real>
      <key>public.kern2.quoteright</key>
      <real>13.849412727272728</real>
      <key>public.kern2.quotesingle</key>
      <real>39.46200181818182</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>20.50783</real>
      <key>public.kern2.quotesingle</key>
      <real>16.77910818181818</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>18.821036363636367</real>
      <key>public.kern2.parenright</key>
      <real>46.51988363636363</real>
      <key>public.kern2.quoteright</key>
      <real>10.387077272727272</real>
      <key>public.kern2.quotesingle</key>
      <real>40.127838181818184</real>
    </dict>
  </dict>
</plist>
