<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.github.googlei18n.ufo2ft.useProductionNames</key>
		<false/>
		<key>com.schriftgestaltung.appVersion</key>
		<string>1230</string>
		<key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
		<true/>
		<key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
		<true/>
		<key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.Master Name</key>
		<string>Medium</string>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
		<string></string>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
		<integer>106</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
		<integer>100</integer>
		<key>com.schriftgestaltung.fontMasterID</key>
		<string>293648CE-B45E-4949-B873-0A770D039F94</string>
		<key>com.schriftgestaltung.fontMasterOrder</key>
		<integer>1</integer>
		<key>com.schriftgestaltung.keyboardIncrement</key>
		<integer>1</integer>
		<key>com.schriftgestaltung.weight</key>
		<string>Regular</string>
		<key>com.schriftgestaltung.weightValue</key>
		<integer>106</integer>
		<key>com.schriftgestaltung.width</key>
		<string>Regular</string>
		<key>com.schriftgestaltung.widthValue</key>
		<integer>100</integer>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>.null</string>
			<string>CR</string>
			<string>space</string>
			<string>nbspace</string>
			<string>BASE</string>
			<string>ZWNJ</string>
			<string>ZWJ</string>
			<string>comma-ar</string>
			<string>semicolon-ar</string>
			<string>question-ar</string>
			<string>fullstop-fa.urdu</string>
			<string>kashida-ar</string>
			<string>guillemotleft</string>
			<string>guillemotright</string>
			<string>glyph15</string>
			<string>glyph16</string>
			<string>glyph17</string>
			<string>glyph18</string>
			<string>glyph19</string>
			<string>glyph20</string>
			<string>glyph21</string>
			<string>glyph22</string>
			<string>glyph23</string>
			<string>glyph24</string>
			<string>glyph25</string>
			<string>glyph26</string>
			<string>glyph27</string>
			<string>glyph28</string>
			<string>glyph29</string>
			<string>glyph30</string>
			<string>glyph31</string>
			<string>glyph32</string>
			<string>glyph33</string>
			<string>glyph34</string>
			<string>glyph35</string>
			<string>glyph36</string>
			<string>glyph37</string>
			<string>glyph38</string>
			<string>glyph39</string>
			<string>glyph40</string>
			<string>glyph41</string>
			<string>glyph42</string>
			<string>glyph43</string>
			<string>glyph44</string>
			<string>glyph45</string>
			<string>glyph46</string>
			<string>glyph47</string>
			<string>glyph48</string>
			<string>glyph49</string>
			<string>glyph50</string>
			<string>glyph51</string>
			<string>glyph52</string>
			<string>glyph53</string>
			<string>glyph54</string>
			<string>glyph55</string>
			<string>glyph56</string>
			<string>glyph57</string>
			<string>xx.tripledot-rohg</string>
			<string>xx.singledot-rohg</string>
			<string>xx.ivowelmark-rohg</string>
			<string>xx.evowelmark-rohg</string>
			<string>xx.connectionlong-rohg</string>
			<string>xx.connection-rohg</string>
			<string>glyph64</string>
			<string>glyph65</string>
			<string>glyph66</string>
			<string>glyph67</string>
			<string>glyph68</string>
			<string>glyph69</string>
			<string>glyph70</string>
			<string>glyph71</string>
			<string>glyph72</string>
			<string>glyph73</string>
			<string>glyph74</string>
			<string>glyph75</string>
			<string>glyph76</string>
			<string>glyph77</string>
			<string>glyph78</string>
			<string>glyph79</string>
			<string>glyph80</string>
			<string>glyph81</string>
			<string>glyph82</string>
			<string>glyph83</string>
			<string>glyph84</string>
			<string>glyph85</string>
			<string>glyph86</string>
			<string>glyph87</string>
			<string>glyph88</string>
			<string>glyph89</string>
			<string>glyph90</string>
			<string>glyph91</string>
			<string>glyph92</string>
			<string>glyph93</string>
			<string>glyph94</string>
			<string>glyph95</string>
			<string>glyph96</string>
			<string>glyph97</string>
			<string>glyph98</string>
			<string>glyph99</string>
			<string>glyph100</string>
			<string>glyph101</string>
			<string>glyph102</string>
			<string>glyph103</string>
			<string>tta-rohg.fina</string>
			<string>tta-rohg.medi</string>
			<string>tta-rohg.init</string>
			<string>tta-rohg</string>
			<string>glyph108</string>
			<string>ta-rohg.fina</string>
			<string>ta-rohg.medi</string>
			<string>ta-rohg.init</string>
			<string>ta-rohg</string>
			<string>glyph113</string>
			<string>pa-rohg.fina</string>
			<string>pa-rohg.medi</string>
			<string>pa-rohg.init</string>
			<string>pa-rohg</string>
			<string>glyph118</string>
			<string>ba-rohg.fina</string>
			<string>ba-rohg.medi</string>
			<string>ba-rohg.init</string>
			<string>ba-rohg</string>
			<string>glyph123</string>
			<string>a-rohg.fina</string>
			<string>a-rohg.medi</string>
			<string>a-rohg.init</string>
			<string>a-rohg</string>
			<string>glyph128</string>
			<string>glyph129</string>
			<string>glyph130</string>
			<string>glyph131</string>
			<string>glyph132</string>
			<string>glyph133</string>
			<string>glyph134</string>
			<string>glyph135</string>
			<string>fa-rohg.fina</string>
			<string>fa-rohg.medi</string>
			<string>fa-rohg.init</string>
			<string>fa-rohg</string>
			<string>glyph140</string>
			<string>kha-rohg.fina</string>
			<string>kha-rohg.medi</string>
			<string>kha-rohg.init</string>
			<string>kha-rohg</string>
			<string>glyph145</string>
			<string>ha-rohg.fina</string>
			<string>ha-rohg.medi</string>
			<string>ha-rohg.init</string>
			<string>ha-rohg</string>
			<string>glyph150</string>
			<string>ca-rohg.fina</string>
			<string>ca-rohg.medi</string>
			<string>ca-rohg.init</string>
			<string>ca-rohg</string>
			<string>glyph155</string>
			<string>ja-rohg.fina</string>
			<string>ja-rohg.medi</string>
			<string>ja-rohg.init</string>
			<string>ja-rohg</string>
			<string>glyph160</string>
			<string>glyph161</string>
			<string>glyph162</string>
			<string>glyph163</string>
			<string>glyph164</string>
			<string>glyph165</string>
			<string>glyph166</string>
			<string>glyph167</string>
			<string>za-rohg.fina</string>
			<string>za-rohg.medi</string>
			<string>za-rohg.init</string>
			<string>za-rohg</string>
			<string>glyph172</string>
			<string>rra-rohg.fina</string>
			<string>rra-rohg.medi</string>
			<string>rra-rohg.init</string>
			<string>rra-rohg</string>
			<string>glyph177</string>
			<string>ra-rohg.fina</string>
			<string>ra-rohg.medi</string>
			<string>ra-rohg.init</string>
			<string>ra-rohg</string>
			<string>glyph182</string>
			<string>dda-rohg.fina</string>
			<string>dda-rohg.medi</string>
			<string>dda-rohg.init</string>
			<string>dda-rohg</string>
			<string>glyph187</string>
			<string>da-rohg.fina</string>
			<string>da-rohg.medi</string>
			<string>da-rohg.init</string>
			<string>da-rohg</string>
			<string>glyph192</string>
			<string>glyph193</string>
			<string>glyph194</string>
			<string>glyph195</string>
			<string>glyph196</string>
			<string>glyph197</string>
			<string>glyph198</string>
			<string>glyph199</string>
			<string>la-rohg.fina</string>
			<string>la-rohg.medi</string>
			<string>la-rohg.init</string>
			<string>la-rohg</string>
			<string>glyph204</string>
			<string>ga-rohg.fina</string>
			<string>ga-rohg.medi</string>
			<string>ga-rohg.init</string>
			<string>ga-rohg</string>
			<string>glyph209</string>
			<string>ka-rohg.fina</string>
			<string>ka-rohg.medi</string>
			<string>ka-rohg.init</string>
			<string>ka-rohg</string>
			<string>glyph214</string>
			<string>sha-rohg.fina</string>
			<string>sha-rohg.medi</string>
			<string>sha-rohg.init</string>
			<string>sha-rohg</string>
			<string>glyph219</string>
			<string>sa-rohg.fina</string>
			<string>sa-rohg.medi</string>
			<string>sa-rohg.init</string>
			<string>sa-rohg</string>
			<string>glyph224</string>
			<string>glyph225</string>
			<string>glyph226</string>
			<string>glyph227</string>
			<string>glyph228</string>
			<string>glyph229</string>
			<string>glyph230</string>
			<string>glyph231</string>
			<string>ya-rohg.fina</string>
			<string>ya-rohg.medi</string>
			<string>ya-rohg.init</string>
			<string>ya-rohg</string>
			<string>glyph236</string>
			<string>kinnawa-rohg.fina</string>
			<string>kinnawa-rohg.medi</string>
			<string>kinnawa-rohg.init</string>
			<string>kinnawa-rohg</string>
			<string>glyph241</string>
			<string>wa-rohg.fina</string>
			<string>wa-rohg.medi</string>
			<string>wa-rohg.init</string>
			<string>wa-rohg</string>
			<string>glyph246</string>
			<string>na-rohg.fina</string>
			<string>na-rohg.medi</string>
			<string>na-rohg.init</string>
			<string>na-rohg</string>
			<string>glyph251</string>
			<string>ma-rohg.fina</string>
			<string>ma-rohg.medi</string>
			<string>ma-rohg.init</string>
			<string>ma-rohg</string>
			<string>glyph256</string>
			<string>glyph257</string>
			<string>glyph258</string>
			<string>glyph259</string>
			<string>glyph260</string>
			<string>glyph261</string>
			<string>glyph262</string>
			<string>glyph263</string>
			<string>glyph264</string>
			<string>glyph265</string>
			<string>glyph266</string>
			<string>glyph267</string>
			<string>glyph268</string>
			<string>va-rohg.fina</string>
			<string>va-rohg.medi</string>
			<string>va-rohg.init</string>
			<string>va-rohg</string>
			<string>glyph273</string>
			<string>nya-rohg.fina</string>
			<string>nya-rohg.medi</string>
			<string>nya-rohg.init</string>
			<string>nya-rohg</string>
			<string>glyph278</string>
			<string>nga-rohg.fina</string>
			<string>nga-rohg.medi</string>
			<string>nga-rohg.init</string>
			<string>nga-rohg</string>
			<string>glyph283</string>
			<string>kinnaya-rohg.fina</string>
			<string>kinnaya-rohg.medi</string>
			<string>kinnaya-rohg.init</string>
			<string>kinnaya-rohg</string>
			<string>glyph288</string>
			<string>glyph289</string>
			<string>glyph290</string>
			<string>glyph291</string>
			<string>glyph292</string>
			<string>glyph293</string>
			<string>glyph294</string>
			<string>glyph295</string>
			<string>ovowel-rohg.fina</string>
			<string>ovowel-rohg.medi</string>
			<string>ovowel-rohg.init</string>
			<string>ovowel-rohg</string>
			<string>glyph300</string>
			<string>evowel-rohg.fina</string>
			<string>evowel-rohg.medi</string>
			<string>evowel-rohg.init</string>
			<string>evowel-rohg</string>
			<string>glyph305</string>
			<string>uvowel-rohg.fina</string>
			<string>uvowel-rohg.medi</string>
			<string>uvowel-rohg.init</string>
			<string>uvowel-rohg</string>
			<string>glyph310</string>
			<string>ivowel-rohg.fina</string>
			<string>ivowel-rohg.medi</string>
			<string>ivowel-rohg.init</string>
			<string>ivowel-rohg</string>
			<string>glyph315</string>
			<string>avowel-rohg.fina</string>
			<string>avowel-rohg.medi</string>
			<string>avowel-rohg.init</string>
			<string>avowel-rohg</string>
			<string>glyph320</string>
			<string>glyph321</string>
			<string>glyph322</string>
			<string>glyph323</string>
			<string>glyph324</string>
			<string>glyph325</string>
			<string>glyph326</string>
			<string>glyph327</string>
			<string>glyph328</string>
			<string>glyph329</string>
			<string>glyph330</string>
			<string>glyph331</string>
			<string>glyph332</string>
			<string>glyph333</string>
			<string>glyph334</string>
			<string>glyph335</string>
			<string>glyph336</string>
			<string>glyph337</string>
			<string>glyph338</string>
			<string>glyph339</string>
			<string>glyph340</string>
			<string>glyph341</string>
			<string>glyph342</string>
			<string>nakhonna-rohg.fina</string>
			<string>nakhonna-rohg.medi</string>
			<string>nakhonna-rohg.init</string>
			<string>nakhonna-rohg</string>
			<string>glyph347</string>
			<string>sakin-rohg.fina</string>
			<string>glyph349</string>
			<string>glyph350</string>
			<string>sakin-rohg</string>
			<string>glyph352</string>
			<string>glyph353</string>
			<string>glyph354</string>
			<string>glyph355</string>
			<string>glyph356</string>
			<string>glyph357</string>
			<string>glyph358</string>
			<string>glyph359</string>
			<string>glyph360</string>
			<string>glyph361</string>
			<string>glyph362</string>
			<string>glyph363</string>
			<string>glyph364</string>
			<string>glyph365</string>
			<string>glyph366</string>
			<string>glyph367</string>
			<string>glyph368</string>
			<string>glyph369</string>
			<string>glyph370</string>
			<string>glyph371</string>
			<string>glyph372</string>
			<string>glyph373</string>
			<string>glyph374</string>
			<string>glyph375</string>
			<string>glyph376</string>
			<string>glyph377</string>
			<string>glyph378</string>
			<string>glyph379</string>
			<string>glyph380</string>
			<string>glyph381</string>
			<string>glyph382</string>
			<string>glyph383</string>
			<string>glyph384</string>
			<string>glyph385</string>
			<string>glyph386</string>
			<string>glyph387</string>
			<string>glyph388</string>
			<string>glyph389</string>
			<string>glyph390</string>
			<string>glyph391</string>
			<string>glyph392</string>
			<string>glyph393</string>
			<string>glyph394</string>
			<string>glyph395</string>
			<string>glyph396</string>
			<string>glyph397</string>
			<string>glyph398</string>
			<string>glyph399</string>
			<string>glyph400</string>
			<string>glyph401</string>
			<string>glyph402</string>
			<string>glyph403</string>
			<string>glyph404</string>
			<string>glyph405</string>
			<string>glyph406</string>
			<string>glyph407</string>
			<string>glyph408</string>
			<string>glyph409</string>
			<string>glyph410</string>
			<string>glyph411</string>
			<string>tassi-rohg</string>
			<string>tana-rohg</string>
			<string>tahala-rohg</string>
			<string>harbahay-rohg</string>
			<string>glyph416</string>
			<string>glyph417</string>
			<string>glyph418</string>
			<string>glyph419</string>
			<string>glyph420</string>
			<string>glyph421</string>
			<string>glyph422</string>
			<string>glyph423</string>
			<string>glyph424</string>
			<string>glyph425</string>
			<string>glyph426</string>
			<string>glyph427</string>
			<string>glyph428</string>
			<string>glyph429</string>
			<string>glyph430</string>
			<string>glyph431</string>
			<string>glyph432</string>
			<string>glyph433</string>
			<string>glyph434</string>
			<string>glyph435</string>
			<string>glyph436</string>
			<string>glyph437</string>
			<string>glyph438</string>
			<string>glyph439</string>
			<string>glyph440</string>
			<string>glyph441</string>
			<string>glyph442</string>
			<string>glyph443</string>
			<string>glyph444</string>
			<string>tana-rohg.ss01</string>
			<string>glyph446</string>
			<string>glyph447</string>
			<string>zero-ar</string>
			<string>glyph449</string>
			<string>zero-rohg</string>
			<string>one-rohg</string>
			<string>two-rohg</string>
			<string>three-rohg</string>
			<string>four-rohg</string>
			<string>five-rohg</string>
			<string>six-rohg</string>
			<string>seven-rohg</string>
			<string>eight-rohg</string>
			<string>nine-rohg</string>
			<string>glyph460</string>
			<string>glyph461</string>
			<string>glyph462</string>
			<string>glyph463</string>
			<string>glyph464</string>
			<string>glyph465</string>
			<string>glyph466</string>
			<string>glyph467</string>
			<string>glyph468</string>
			<string>glyph469</string>
			<string>glyph470</string>
			<string>glyph471</string>
			<string>glyph472</string>
			<string>glyph473</string>
			<string>glyph474</string>
			<string>glyph475</string>
			<string>glyph476</string>
			<string>glyph477</string>
			<string>glyph478</string>
			<string>glyph479</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
			<key>.null</key>
			<string>uni0000</string>
			<key>BASE</key>
			<string>uni25CC</string>
			<key>CR</key>
			<string>uni000D</string>
			<key>ZWJ</key>
			<string>uni200D</string>
			<key>ZWNJ</key>
			<string>uni200C</string>
			<key>a-rohg</key>
			<string>u10D00</string>
			<key>a-rohg.fina</key>
			<string>u10D00.fina</string>
			<key>a-rohg.init</key>
			<string>u10D00.init</string>
			<key>a-rohg.medi</key>
			<string>u10D00.medi</string>
			<key>avowel-rohg</key>
			<string>u10D1D</string>
			<key>avowel-rohg.fina</key>
			<string>u10D1D.fina</string>
			<key>avowel-rohg.init</key>
			<string>u10D1D.init</string>
			<key>avowel-rohg.medi</key>
			<string>u10D1D.medi</string>
			<key>ba-rohg</key>
			<string>u10D01</string>
			<key>ba-rohg.fina</key>
			<string>u10D01.fina</string>
			<key>ba-rohg.init</key>
			<string>u10D01.init</string>
			<key>ba-rohg.medi</key>
			<string>u10D01.medi</string>
			<key>ca-rohg</key>
			<string>u10D06</string>
			<key>ca-rohg.fina</key>
			<string>u10D06.fina</string>
			<key>ca-rohg.init</key>
			<string>u10D06.init</string>
			<key>ca-rohg.medi</key>
			<string>u10D06.medi</string>
			<key>comma-ar</key>
			<string>uni060C</string>
			<key>da-rohg</key>
			<string>u10D0A</string>
			<key>da-rohg.fina</key>
			<string>u10D0A.fina</string>
			<key>da-rohg.init</key>
			<string>u10D0A.init</string>
			<key>da-rohg.medi</key>
			<string>u10D0A.medi</string>
			<key>dda-rohg</key>
			<string>u10D0B</string>
			<key>dda-rohg.fina</key>
			<string>u10D0B.fina</string>
			<key>dda-rohg.init</key>
			<string>u10D0B.init</string>
			<key>dda-rohg.medi</key>
			<string>u10D0B.medi</string>
			<key>eight-rohg</key>
			<string>u10D38</string>
			<key>evowel-rohg</key>
			<string>u10D20</string>
			<key>evowel-rohg.fina</key>
			<string>u10D20.fina</string>
			<key>evowel-rohg.init</key>
			<string>u10D20.init</string>
			<key>evowel-rohg.medi</key>
			<string>u10D20.medi</string>
			<key>fa-rohg</key>
			<string>u10D09</string>
			<key>fa-rohg.fina</key>
			<string>u10D09.fina</string>
			<key>fa-rohg.init</key>
			<string>u10D09.init</string>
			<key>fa-rohg.medi</key>
			<string>u10D09.medi</string>
			<key>five-rohg</key>
			<string>u10D35</string>
			<key>four-rohg</key>
			<string>u10D34</string>
			<key>fullstop-fa.urdu</key>
			<string>uni06D4</string>
			<key>ga-rohg</key>
			<string>u10D12</string>
			<key>ga-rohg.fina</key>
			<string>u10D12.fina</string>
			<key>ga-rohg.init</key>
			<string>u10D12.init</string>
			<key>ga-rohg.medi</key>
			<string>u10D12.medi</string>
			<key>ha-rohg</key>
			<string>u10D07</string>
			<key>ha-rohg.fina</key>
			<string>u10D07.fina</string>
			<key>ha-rohg.init</key>
			<string>u10D07.init</string>
			<key>ha-rohg.medi</key>
			<string>u10D07.medi</string>
			<key>harbahay-rohg</key>
			<string>u10D24</string>
			<key>ivowel-rohg</key>
			<string>u10D1E</string>
			<key>ivowel-rohg.fina</key>
			<string>u10D1E.fina</string>
			<key>ivowel-rohg.init</key>
			<string>u10D1E.init</string>
			<key>ivowel-rohg.medi</key>
			<string>u10D1E.medi</string>
			<key>ja-rohg</key>
			<string>u10D05</string>
			<key>ja-rohg.fina</key>
			<string>u10D05.fina</string>
			<key>ja-rohg.init</key>
			<string>u10D05.init</string>
			<key>ja-rohg.medi</key>
			<string>u10D05.medi</string>
			<key>ka-rohg</key>
			<string>u10D11</string>
			<key>ka-rohg.fina</key>
			<string>u10D11.fina</string>
			<key>ka-rohg.init</key>
			<string>u10D11.init</string>
			<key>ka-rohg.medi</key>
			<string>u10D11.medi</string>
			<key>kashida-ar</key>
			<string>uni0640</string>
			<key>kha-rohg</key>
			<string>u10D08</string>
			<key>kha-rohg.fina</key>
			<string>u10D08.fina</string>
			<key>kha-rohg.init</key>
			<string>u10D08.init</string>
			<key>kha-rohg.medi</key>
			<string>u10D08.medi</string>
			<key>kinnawa-rohg</key>
			<string>u10D17</string>
			<key>kinnawa-rohg.fina</key>
			<string>u10D17.fina</string>
			<key>kinnawa-rohg.init</key>
			<string>u10D17.init</string>
			<key>kinnawa-rohg.medi</key>
			<string>u10D17.medi</string>
			<key>kinnaya-rohg</key>
			<string>u10D19</string>
			<key>kinnaya-rohg.fina</key>
			<string>u10D19.fina</string>
			<key>kinnaya-rohg.init</key>
			<string>u10D19.init</string>
			<key>kinnaya-rohg.medi</key>
			<string>u10D19.medi</string>
			<key>la-rohg</key>
			<string>u10D13</string>
			<key>la-rohg.fina</key>
			<string>u10D13.fina</string>
			<key>la-rohg.init</key>
			<string>u10D13.init</string>
			<key>la-rohg.medi</key>
			<string>u10D13.medi</string>
			<key>ma-rohg</key>
			<string>u10D14</string>
			<key>ma-rohg.fina</key>
			<string>u10D14.fina</string>
			<key>ma-rohg.init</key>
			<string>u10D14.init</string>
			<key>ma-rohg.medi</key>
			<string>u10D14.medi</string>
			<key>na-rohg</key>
			<string>u10D15</string>
			<key>na-rohg.fina</key>
			<string>u10D15.fina</string>
			<key>na-rohg.init</key>
			<string>u10D15.init</string>
			<key>na-rohg.medi</key>
			<string>u10D15.medi</string>
			<key>nakhonna-rohg</key>
			<string>u10D23</string>
			<key>nakhonna-rohg.fina</key>
			<string>u10D23.fina</string>
			<key>nakhonna-rohg.init</key>
			<string>u10D23.init</string>
			<key>nakhonna-rohg.medi</key>
			<string>u10D23.medi</string>
			<key>nbspace</key>
			<string>uni00A0</string>
			<key>nga-rohg</key>
			<string>u10D1A</string>
			<key>nga-rohg.fina</key>
			<string>u10D1A.fina</string>
			<key>nga-rohg.init</key>
			<string>u10D1A.init</string>
			<key>nga-rohg.medi</key>
			<string>u10D1A.medi</string>
			<key>nine-rohg</key>
			<string>u10D39</string>
			<key>nya-rohg</key>
			<string>u10D1B</string>
			<key>nya-rohg.fina</key>
			<string>u10D1B.fina</string>
			<key>nya-rohg.init</key>
			<string>u10D1B.init</string>
			<key>nya-rohg.medi</key>
			<string>u10D1B.medi</string>
			<key>one-rohg</key>
			<string>u10D31</string>
			<key>ovowel-rohg</key>
			<string>u10D21</string>
			<key>ovowel-rohg.fina</key>
			<string>u10D21.fina</string>
			<key>ovowel-rohg.init</key>
			<string>u10D21.init</string>
			<key>ovowel-rohg.medi</key>
			<string>u10D21.medi</string>
			<key>pa-rohg</key>
			<string>u10D02</string>
			<key>pa-rohg.fina</key>
			<string>u10D02.fina</string>
			<key>pa-rohg.init</key>
			<string>u10D02.init</string>
			<key>pa-rohg.medi</key>
			<string>u10D02.medi</string>
			<key>question-ar</key>
			<string>uni061F</string>
			<key>ra-rohg</key>
			<string>u10D0C</string>
			<key>ra-rohg.fina</key>
			<string>u10D0C.fina</string>
			<key>ra-rohg.init</key>
			<string>u10D0C.init</string>
			<key>ra-rohg.medi</key>
			<string>u10D0C.medi</string>
			<key>rra-rohg</key>
			<string>u10D0D</string>
			<key>rra-rohg.fina</key>
			<string>u10D0D.fina</string>
			<key>rra-rohg.init</key>
			<string>u10D0D.init</string>
			<key>rra-rohg.medi</key>
			<string>u10D0D.medi</string>
			<key>sa-rohg</key>
			<string>u10D0F</string>
			<key>sa-rohg.fina</key>
			<string>u10D0F.fina</string>
			<key>sa-rohg.init</key>
			<string>u10D0F.init</string>
			<key>sa-rohg.medi</key>
			<string>u10D0F.medi</string>
			<key>sakin-rohg</key>
			<string>u10D22</string>
			<key>sakin-rohg.fina</key>
			<string>u10D22.fina</string>
			<key>semicolon-ar</key>
			<string>uni061B</string>
			<key>seven-rohg</key>
			<string>u10D37</string>
			<key>sha-rohg</key>
			<string>u10D10</string>
			<key>sha-rohg.fina</key>
			<string>u10D10.fina</string>
			<key>sha-rohg.init</key>
			<string>u10D10.init</string>
			<key>sha-rohg.medi</key>
			<string>u10D10.medi</string>
			<key>six-rohg</key>
			<string>u10D36</string>
			<key>ta-rohg</key>
			<string>u10D03</string>
			<key>ta-rohg.fina</key>
			<string>u10D03.fina</string>
			<key>ta-rohg.init</key>
			<string>u10D03.init</string>
			<key>ta-rohg.medi</key>
			<string>u10D03.medi</string>
			<key>tahala-rohg</key>
			<string>u10D25</string>
			<key>tana-rohg</key>
			<string>u10D26</string>
			<key>tana-rohg.ss01</key>
			<string>u10D26.ss01</string>
			<key>tassi-rohg</key>
			<string>u10D27</string>
			<key>three-rohg</key>
			<string>u10D33</string>
			<key>tta-rohg</key>
			<string>u10D04</string>
			<key>tta-rohg.fina</key>
			<string>u10D04.fina</string>
			<key>tta-rohg.init</key>
			<string>u10D04.init</string>
			<key>tta-rohg.medi</key>
			<string>u10D04.medi</string>
			<key>two-rohg</key>
			<string>u10D32</string>
			<key>uvowel-rohg</key>
			<string>u10D1F</string>
			<key>uvowel-rohg.fina</key>
			<string>u10D1F.fina</string>
			<key>uvowel-rohg.init</key>
			<string>u10D1F.init</string>
			<key>uvowel-rohg.medi</key>
			<string>u10D1F.medi</string>
			<key>va-rohg</key>
			<string>u10D1C</string>
			<key>va-rohg.fina</key>
			<string>u10D1C.fina</string>
			<key>va-rohg.init</key>
			<string>u10D1C.init</string>
			<key>va-rohg.medi</key>
			<string>u10D1C.medi</string>
			<key>wa-rohg</key>
			<string>u10D16</string>
			<key>wa-rohg.fina</key>
			<string>u10D16.fina</string>
			<key>wa-rohg.init</key>
			<string>u10D16.init</string>
			<key>wa-rohg.medi</key>
			<string>u10D16.medi</string>
			<key>xx.connection-rohg</key>
			<string>xx.connectionrohg</string>
			<key>xx.connectionlong-rohg</key>
			<string>xx.connectionlongrohg</string>
			<key>xx.evowelmark-rohg</key>
			<string>xx.evowelmarkrohg</string>
			<key>xx.ivowelmark-rohg</key>
			<string>xx.ivowelmarkrohg</string>
			<key>xx.singledot-rohg</key>
			<string>xx.singledotrohg</string>
			<key>xx.tripledot-rohg</key>
			<string>xx.tripledotrohg</string>
			<key>ya-rohg</key>
			<string>u10D18</string>
			<key>ya-rohg.fina</key>
			<string>u10D18.fina</string>
			<key>ya-rohg.init</key>
			<string>u10D18.init</string>
			<key>ya-rohg.medi</key>
			<string>u10D18.medi</string>
			<key>za-rohg</key>
			<string>u10D0E</string>
			<key>za-rohg.fina</key>
			<string>u10D0E.fina</string>
			<key>za-rohg.init</key>
			<string>u10D0E.init</string>
			<key>za-rohg.medi</key>
			<string>u10D0E.medi</string>
			<key>zero-ar</key>
			<string>uni0660</string>
			<key>zero-rohg</key>
			<string>u10D30</string>
		</dict>
	</dict>
</plist>
