<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ba-adlam.init</key>
    <string>B_a-adlam.init.glif</string>
    <key>U-adlam</key>
    <string>U_-adlam.glif</string>
    <key>Zal-adlam</key>
    <string>Z_al-adlam.glif</string>
    <key>Zal-adlam.isol</key>
    <string>Z_al-adlam.isol.glif</string>
    <key>aliflengthencomb-adlam.case</key>
    <string>aliflengthencomb-adlam.case.glif</string>
    <key>chi-adlam.fina</key>
    <string>chi-adlam.fina.glif</string>
    <key>chi-adlam.init</key>
    <string>chi-adlam.init.glif</string>
    <key>chi-adlam.medi</key>
    <string>chi-adlam.medi.glif</string>
    <key>zal-adlam</key>
    <string>zal-adlam.glif</string>
    <key>zal-adlam.isol</key>
    <string>zal-adlam.isol.glif</string>
  </dict>
</plist>
