<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>964</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni3001</string>
      <string>uni3002</string>
      <string>uni3008</string>
      <string>uni3009</string>
      <string>uni300A</string>
      <string>uni300B</string>
      <string>uni300C</string>
      <string>uni300D</string>
      <string>uni300E</string>
      <string>uni300F</string>
      <string>uni3010</string>
      <string>uni3011</string>
      <string>uni3014</string>
      <string>uni3015</string>
      <string>uni3016</string>
      <string>uni3017</string>
      <string>uni3018</string>
      <string>uni3019</string>
      <string>uni301A</string>
      <string>uni301B</string>
      <string>uni30FB</string>
      <string>uniA000</string>
      <string>uniA001</string>
      <string>uniA002</string>
      <string>uniA003</string>
      <string>uniA004</string>
      <string>uniA005</string>
      <string>uniA006</string>
      <string>uniA007</string>
      <string>uniA008</string>
      <string>uniA009</string>
      <string>uniA00A</string>
      <string>uniA00B</string>
      <string>uniA00C</string>
      <string>uniA00D</string>
      <string>uniA00E</string>
      <string>uniA00F</string>
      <string>uniA010</string>
      <string>uniA011</string>
      <string>uniA012</string>
      <string>uniA013</string>
      <string>uniA014</string>
      <string>uniA015</string>
      <string>uniA016</string>
      <string>uniA017</string>
      <string>uniA018</string>
      <string>uniA019</string>
      <string>uniA01A</string>
      <string>uniA01B</string>
      <string>uniA01C</string>
      <string>uniA01D</string>
      <string>uniA01E</string>
      <string>uniA01F</string>
      <string>uniA020</string>
      <string>uniA021</string>
      <string>uniA022</string>
      <string>uniA023</string>
      <string>uniA024</string>
      <string>uniA025</string>
      <string>uniA026</string>
      <string>uniA027</string>
      <string>uniA028</string>
      <string>uniA029</string>
      <string>uniA02A</string>
      <string>uniA02B</string>
      <string>uniA02C</string>
      <string>uniA02D</string>
      <string>uniA02E</string>
      <string>uniA02F</string>
      <string>uniA030</string>
      <string>uniA031</string>
      <string>uniA032</string>
      <string>uniA033</string>
      <string>uniA034</string>
      <string>uniA035</string>
      <string>uniA036</string>
      <string>uniA037</string>
      <string>uniA038</string>
      <string>uniA039</string>
      <string>uniA03A</string>
      <string>uniA03B</string>
      <string>uniA03C</string>
      <string>uniA03D</string>
      <string>uniA03E</string>
      <string>uniA03F</string>
      <string>uniA040</string>
      <string>uniA041</string>
      <string>uniA042</string>
      <string>uniA043</string>
      <string>uniA044</string>
      <string>uniA045</string>
      <string>uniA046</string>
      <string>uniA047</string>
      <string>uniA048</string>
      <string>uniA049</string>
      <string>uniA04A</string>
      <string>uniA04B</string>
      <string>uniA04C</string>
      <string>uniA04D</string>
      <string>uniA04E</string>
      <string>uniA04F</string>
      <string>uniA050</string>
      <string>uniA051</string>
      <string>uniA052</string>
      <string>uniA053</string>
      <string>uniA054</string>
      <string>uniA055</string>
      <string>uniA056</string>
      <string>uniA057</string>
      <string>uniA058</string>
      <string>uniA059</string>
      <string>uniA05A</string>
      <string>uniA05B</string>
      <string>uniA05C</string>
      <string>uniA05D</string>
      <string>uniA05E</string>
      <string>uniA05F</string>
      <string>uniA060</string>
      <string>uniA061</string>
      <string>uniA062</string>
      <string>uniA063</string>
      <string>uniA064</string>
      <string>uniA065</string>
      <string>uniA066</string>
      <string>uniA067</string>
      <string>uniA068</string>
      <string>uniA069</string>
      <string>uniA06A</string>
      <string>uniA06B</string>
      <string>uniA06C</string>
      <string>uniA06D</string>
      <string>uniA06E</string>
      <string>uniA06F</string>
      <string>uniA070</string>
      <string>uniA071</string>
      <string>uniA072</string>
      <string>uniA073</string>
      <string>uniA074</string>
      <string>uniA075</string>
      <string>uniA076</string>
      <string>uniA077</string>
      <string>uniA078</string>
      <string>uniA079</string>
      <string>uniA07A</string>
      <string>uniA07B</string>
      <string>uniA07C</string>
      <string>uniA07D</string>
      <string>uniA07E</string>
      <string>uniA07F</string>
      <string>uniA080</string>
      <string>uniA081</string>
      <string>uniA082</string>
      <string>uniA083</string>
      <string>uniA084</string>
      <string>uniA085</string>
      <string>uniA086</string>
      <string>uniA087</string>
      <string>uniA088</string>
      <string>uniA089</string>
      <string>uniA08A</string>
      <string>uniA08B</string>
      <string>uniA08C</string>
      <string>uniA08D</string>
      <string>uniA08E</string>
      <string>uniA08F</string>
      <string>uniA090</string>
      <string>uniA091</string>
      <string>uniA092</string>
      <string>uniA093</string>
      <string>uniA094</string>
      <string>uniA095</string>
      <string>uniA096</string>
      <string>uniA097</string>
      <string>uniA098</string>
      <string>uniA099</string>
      <string>uniA09A</string>
      <string>uniA09B</string>
      <string>uniA09C</string>
      <string>uniA09D</string>
      <string>uniA09E</string>
      <string>uniA09F</string>
      <string>uniA0A0</string>
      <string>uniA0A1</string>
      <string>uniA0A2</string>
      <string>uniA0A3</string>
      <string>uniA0A4</string>
      <string>uniA0A5</string>
      <string>uniA0A6</string>
      <string>uniA0A7</string>
      <string>uniA0A8</string>
      <string>uniA0A9</string>
      <string>uniA0AA</string>
      <string>uniA0AB</string>
      <string>uniA0AC</string>
      <string>uniA0AD</string>
      <string>uniA0AE</string>
      <string>uniA0AF</string>
      <string>uniA0B0</string>
      <string>uniA0B1</string>
      <string>uniA0B2</string>
      <string>uniA0B3</string>
      <string>uniA0B4</string>
      <string>uniA0B5</string>
      <string>uniA0B6</string>
      <string>uniA0B7</string>
      <string>uniA0B8</string>
      <string>uniA0B9</string>
      <string>uniA0BA</string>
      <string>uniA0BB</string>
      <string>uniA0BC</string>
      <string>uniA0BD</string>
      <string>uniA0BE</string>
      <string>uniA0BF</string>
      <string>uniA0C0</string>
      <string>uniA0C1</string>
      <string>uniA0C2</string>
      <string>uniA0C3</string>
      <string>uniA0C4</string>
      <string>uniA0C5</string>
      <string>uniA0C6</string>
      <string>uniA0C7</string>
      <string>uniA0C8</string>
      <string>uniA0C9</string>
      <string>uniA0CA</string>
      <string>uniA0CB</string>
      <string>uniA0CC</string>
      <string>uniA0CD</string>
      <string>uniA0CE</string>
      <string>uniA0CF</string>
      <string>uniA0D0</string>
      <string>uniA0D1</string>
      <string>uniA0D2</string>
      <string>uniA0D3</string>
      <string>uniA0D4</string>
      <string>uniA0D5</string>
      <string>uniA0D6</string>
      <string>uniA0D7</string>
      <string>uniA0D8</string>
      <string>uniA0D9</string>
      <string>uniA0DA</string>
      <string>uniA0DB</string>
      <string>uniA0DC</string>
      <string>uniA0DD</string>
      <string>uniA0DE</string>
      <string>uniA0DF</string>
      <string>uniA0E0</string>
      <string>uniA0E1</string>
      <string>uniA0E2</string>
      <string>uniA0E3</string>
      <string>uniA0E4</string>
      <string>uniA0E5</string>
      <string>uniA0E6</string>
      <string>uniA0E7</string>
      <string>uniA0E8</string>
      <string>uniA0E9</string>
      <string>uniA0EA</string>
      <string>uniA0EB</string>
      <string>uniA0EC</string>
      <string>uniA0ED</string>
      <string>uniA0EE</string>
      <string>uniA0EF</string>
      <string>uniA0F0</string>
      <string>uniA0F1</string>
      <string>uniA0F2</string>
      <string>uniA0F3</string>
      <string>uniA0F4</string>
      <string>uniA0F5</string>
      <string>uniA0F6</string>
      <string>uniA0F7</string>
      <string>uniA0F8</string>
      <string>uniA0F9</string>
      <string>uniA0FA</string>
      <string>uniA0FB</string>
      <string>uniA0FC</string>
      <string>uniA0FD</string>
      <string>uniA0FE</string>
      <string>uniA0FF</string>
      <string>uniA100</string>
      <string>uniA101</string>
      <string>uniA102</string>
      <string>uniA103</string>
      <string>uniA104</string>
      <string>uniA105</string>
      <string>uniA106</string>
      <string>uniA107</string>
      <string>uniA108</string>
      <string>uniA109</string>
      <string>uniA10A</string>
      <string>uniA10B</string>
      <string>uniA10C</string>
      <string>uniA10D</string>
      <string>uniA10E</string>
      <string>uniA10F</string>
      <string>uniA110</string>
      <string>uniA111</string>
      <string>uniA112</string>
      <string>uniA113</string>
      <string>uniA114</string>
      <string>uniA115</string>
      <string>uniA116</string>
      <string>uniA117</string>
      <string>uniA118</string>
      <string>uniA119</string>
      <string>uniA11A</string>
      <string>uniA11B</string>
      <string>uniA11C</string>
      <string>uniA11D</string>
      <string>uniA11E</string>
      <string>uniA11F</string>
      <string>uniA120</string>
      <string>uniA121</string>
      <string>uniA122</string>
      <string>uniA123</string>
      <string>uniA124</string>
      <string>uniA125</string>
      <string>uniA126</string>
      <string>uniA127</string>
      <string>uniA128</string>
      <string>uniA129</string>
      <string>uniA12A</string>
      <string>uniA12B</string>
      <string>uniA12C</string>
      <string>uniA12D</string>
      <string>uniA12E</string>
      <string>uniA12F</string>
      <string>uniA130</string>
      <string>uniA131</string>
      <string>uniA132</string>
      <string>uniA133</string>
      <string>uniA134</string>
      <string>uniA135</string>
      <string>uniA136</string>
      <string>uniA137</string>
      <string>uniA138</string>
      <string>uniA139</string>
      <string>uniA13A</string>
      <string>uniA13B</string>
      <string>uniA13C</string>
      <string>uniA13D</string>
      <string>uniA13E</string>
      <string>uniA13F</string>
      <string>uniA140</string>
      <string>uniA141</string>
      <string>uniA142</string>
      <string>uniA143</string>
      <string>uniA144</string>
      <string>uniA145</string>
      <string>uniA146</string>
      <string>uniA147</string>
      <string>uniA148</string>
      <string>uniA149</string>
      <string>uniA14A</string>
      <string>uniA14B</string>
      <string>uniA14C</string>
      <string>uniA14D</string>
      <string>uniA14E</string>
      <string>uniA14F</string>
      <string>uniA150</string>
      <string>uniA151</string>
      <string>uniA152</string>
      <string>uniA153</string>
      <string>uniA154</string>
      <string>uniA155</string>
      <string>uniA156</string>
      <string>uniA157</string>
      <string>uniA158</string>
      <string>uniA159</string>
      <string>uniA15A</string>
      <string>uniA15B</string>
      <string>uniA15C</string>
      <string>uniA15D</string>
      <string>uniA15E</string>
      <string>uniA15F</string>
      <string>uniA160</string>
      <string>uniA161</string>
      <string>uniA162</string>
      <string>uniA163</string>
      <string>uniA164</string>
      <string>uniA165</string>
      <string>uniA166</string>
      <string>uniA167</string>
      <string>uniA168</string>
      <string>uniA169</string>
      <string>uniA16A</string>
      <string>uniA16B</string>
      <string>uniA16C</string>
      <string>uniA16D</string>
      <string>uniA16E</string>
      <string>uniA16F</string>
      <string>uniA170</string>
      <string>uniA171</string>
      <string>uniA172</string>
      <string>uniA173</string>
      <string>uniA174</string>
      <string>uniA175</string>
      <string>uniA176</string>
      <string>uniA177</string>
      <string>uniA178</string>
      <string>uniA179</string>
      <string>uniA17A</string>
      <string>uniA17B</string>
      <string>uniA17C</string>
      <string>uniA17D</string>
      <string>uniA17E</string>
      <string>uniA17F</string>
      <string>uniA180</string>
      <string>uniA181</string>
      <string>uniA182</string>
      <string>uniA183</string>
      <string>uniA184</string>
      <string>uniA185</string>
      <string>uniA186</string>
      <string>uniA187</string>
      <string>uniA188</string>
      <string>uniA189</string>
      <string>uniA18A</string>
      <string>uniA18B</string>
      <string>uniA18C</string>
      <string>uniA18D</string>
      <string>uniA18E</string>
      <string>uniA18F</string>
      <string>uniA190</string>
      <string>uniA191</string>
      <string>uniA192</string>
      <string>uniA193</string>
      <string>uniA194</string>
      <string>uniA195</string>
      <string>uniA196</string>
      <string>uniA197</string>
      <string>uniA198</string>
      <string>uniA199</string>
      <string>uniA19A</string>
      <string>uniA19B</string>
      <string>uniA19C</string>
      <string>uniA19D</string>
      <string>uniA19E</string>
      <string>uniA19F</string>
      <string>uniA1A0</string>
      <string>uniA1A1</string>
      <string>uniA1A2</string>
      <string>uniA1A3</string>
      <string>uniA1A4</string>
      <string>uniA1A5</string>
      <string>uniA1A6</string>
      <string>uniA1A7</string>
      <string>uniA1A8</string>
      <string>uniA1A9</string>
      <string>uniA1AA</string>
      <string>uniA1AB</string>
      <string>uniA1AC</string>
      <string>uniA1AD</string>
      <string>uniA1AE</string>
      <string>uniA1AF</string>
      <string>uniA1B0</string>
      <string>uniA1B1</string>
      <string>uniA1B2</string>
      <string>uniA1B3</string>
      <string>uniA1B4</string>
      <string>uniA1B5</string>
      <string>uniA1B6</string>
      <string>uniA1B7</string>
      <string>uniA1B8</string>
      <string>uniA1B9</string>
      <string>uniA1BA</string>
      <string>uniA1BB</string>
      <string>uniA1BC</string>
      <string>uniA1BD</string>
      <string>uniA1BE</string>
      <string>uniA1BF</string>
      <string>uniA1C0</string>
      <string>uniA1C1</string>
      <string>uniA1C2</string>
      <string>uniA1C3</string>
      <string>uniA1C4</string>
      <string>uniA1C5</string>
      <string>uniA1C6</string>
      <string>uniA1C7</string>
      <string>uniA1C8</string>
      <string>uniA1C9</string>
      <string>uniA1CA</string>
      <string>uniA1CB</string>
      <string>uniA1CC</string>
      <string>uniA1CD</string>
      <string>uniA1CE</string>
      <string>uniA1CF</string>
      <string>uniA1D0</string>
      <string>uniA1D1</string>
      <string>uniA1D2</string>
      <string>uniA1D3</string>
      <string>uniA1D4</string>
      <string>uniA1D5</string>
      <string>uniA1D6</string>
      <string>uniA1D7</string>
      <string>uniA1D8</string>
      <string>uniA1D9</string>
      <string>uniA1DA</string>
      <string>uniA1DB</string>
      <string>uniA1DC</string>
      <string>uniA1DD</string>
      <string>uniA1DE</string>
      <string>uniA1DF</string>
      <string>uniA1E0</string>
      <string>uniA1E1</string>
      <string>uniA1E2</string>
      <string>uniA1E3</string>
      <string>uniA1E4</string>
      <string>uniA1E5</string>
      <string>uniA1E6</string>
      <string>uniA1E7</string>
      <string>uniA1E8</string>
      <string>uniA1E9</string>
      <string>uniA1EA</string>
      <string>uniA1EB</string>
      <string>uniA1EC</string>
      <string>uniA1ED</string>
      <string>uniA1EE</string>
      <string>uniA1EF</string>
      <string>uniA1F0</string>
      <string>uniA1F1</string>
      <string>uniA1F2</string>
      <string>uniA1F3</string>
      <string>uniA1F4</string>
      <string>uniA1F5</string>
      <string>uniA1F6</string>
      <string>uniA1F7</string>
      <string>uniA1F8</string>
      <string>uniA1F9</string>
      <string>uniA1FA</string>
      <string>uniA1FB</string>
      <string>uniA1FC</string>
      <string>uniA1FD</string>
      <string>uniA1FE</string>
      <string>uniA1FF</string>
      <string>uniA200</string>
      <string>uniA201</string>
      <string>uniA202</string>
      <string>uniA203</string>
      <string>uniA204</string>
      <string>uniA205</string>
      <string>uniA206</string>
      <string>uniA207</string>
      <string>uniA208</string>
      <string>uniA209</string>
      <string>uniA20A</string>
      <string>uniA20B</string>
      <string>uniA20C</string>
      <string>uniA20D</string>
      <string>uniA20E</string>
      <string>uniA20F</string>
      <string>uniA210</string>
      <string>uniA211</string>
      <string>uniA212</string>
      <string>uniA213</string>
      <string>uniA214</string>
      <string>uniA215</string>
      <string>uniA216</string>
      <string>uniA217</string>
      <string>uniA218</string>
      <string>uniA219</string>
      <string>uniA21A</string>
      <string>uniA21B</string>
      <string>uniA21C</string>
      <string>uniA21D</string>
      <string>uniA21E</string>
      <string>uniA21F</string>
      <string>uniA220</string>
      <string>uniA221</string>
      <string>uniA222</string>
      <string>uniA223</string>
      <string>uniA224</string>
      <string>uniA225</string>
      <string>uniA226</string>
      <string>uniA227</string>
      <string>uniA228</string>
      <string>uniA229</string>
      <string>uniA22A</string>
      <string>uniA22B</string>
      <string>uniA22C</string>
      <string>uniA22D</string>
      <string>uniA22E</string>
      <string>uniA22F</string>
      <string>uniA230</string>
      <string>uniA231</string>
      <string>uniA232</string>
      <string>uniA233</string>
      <string>uniA234</string>
      <string>uniA235</string>
      <string>uniA236</string>
      <string>uniA237</string>
      <string>uniA238</string>
      <string>uniA239</string>
      <string>uniA23A</string>
      <string>uniA23B</string>
      <string>uniA23C</string>
      <string>uniA23D</string>
      <string>uniA23E</string>
      <string>uniA23F</string>
      <string>uniA240</string>
      <string>uniA241</string>
      <string>uniA242</string>
      <string>uniA243</string>
      <string>uniA244</string>
      <string>uniA245</string>
      <string>uniA246</string>
      <string>uniA247</string>
      <string>uniA248</string>
      <string>uniA249</string>
      <string>uniA24A</string>
      <string>uniA24B</string>
      <string>uniA24C</string>
      <string>uniA24D</string>
      <string>uniA24E</string>
      <string>uniA24F</string>
      <string>uniA250</string>
      <string>uniA251</string>
      <string>uniA252</string>
      <string>uniA253</string>
      <string>uniA254</string>
      <string>uniA255</string>
      <string>uniA256</string>
      <string>uniA257</string>
      <string>uniA258</string>
      <string>uniA259</string>
      <string>uniA25A</string>
      <string>uniA25B</string>
      <string>uniA25C</string>
      <string>uniA25D</string>
      <string>uniA25E</string>
      <string>uniA25F</string>
      <string>uniA260</string>
      <string>uniA261</string>
      <string>uniA262</string>
      <string>uniA263</string>
      <string>uniA264</string>
      <string>uniA265</string>
      <string>uniA266</string>
      <string>uniA267</string>
      <string>uniA268</string>
      <string>uniA269</string>
      <string>uniA26A</string>
      <string>uniA26B</string>
      <string>uniA26C</string>
      <string>uniA26D</string>
      <string>uniA26E</string>
      <string>uniA26F</string>
      <string>uniA270</string>
      <string>uniA271</string>
      <string>uniA272</string>
      <string>uniA273</string>
      <string>uniA274</string>
      <string>uniA275</string>
      <string>uniA276</string>
      <string>uniA277</string>
      <string>uniA278</string>
      <string>uniA279</string>
      <string>uniA27A</string>
      <string>uniA27B</string>
      <string>uniA27C</string>
      <string>uniA27D</string>
      <string>uniA27E</string>
      <string>uniA27F</string>
      <string>uniA280</string>
      <string>uniA281</string>
      <string>uniA282</string>
      <string>uniA283</string>
      <string>uniA284</string>
      <string>uniA285</string>
      <string>uniA286</string>
      <string>uniA287</string>
      <string>uniA288</string>
      <string>uniA289</string>
      <string>uniA28A</string>
      <string>uniA28B</string>
      <string>uniA28C</string>
      <string>uniA28D</string>
      <string>uniA28E</string>
      <string>uniA28F</string>
      <string>uniA290</string>
      <string>uniA291</string>
      <string>uniA292</string>
      <string>uniA293</string>
      <string>uniA294</string>
      <string>uniA295</string>
      <string>uniA296</string>
      <string>uniA297</string>
      <string>uniA298</string>
      <string>uniA299</string>
      <string>uniA29A</string>
      <string>uniA29B</string>
      <string>uniA29C</string>
      <string>uniA29D</string>
      <string>uniA29E</string>
      <string>uniA29F</string>
      <string>uniA2A0</string>
      <string>uniA2A1</string>
      <string>uniA2A2</string>
      <string>uniA2A3</string>
      <string>uniA2A4</string>
      <string>uniA2A5</string>
      <string>uniA2A6</string>
      <string>uniA2A7</string>
      <string>uniA2A8</string>
      <string>uniA2A9</string>
      <string>uniA2AA</string>
      <string>uniA2AB</string>
      <string>uniA2AC</string>
      <string>uniA2AD</string>
      <string>uniA2AE</string>
      <string>uniA2AF</string>
      <string>uniA2B0</string>
      <string>uniA2B1</string>
      <string>uniA2B2</string>
      <string>uniA2B3</string>
      <string>uniA2B4</string>
      <string>uniA2B5</string>
      <string>uniA2B6</string>
      <string>uniA2B7</string>
      <string>uniA2B8</string>
      <string>uniA2B9</string>
      <string>uniA2BA</string>
      <string>uniA2BB</string>
      <string>uniA2BC</string>
      <string>uniA2BD</string>
      <string>uniA2BE</string>
      <string>uniA2BF</string>
      <string>uniA2C0</string>
      <string>uniA2C1</string>
      <string>uniA2C2</string>
      <string>uniA2C3</string>
      <string>uniA2C4</string>
      <string>uniA2C5</string>
      <string>uniA2C6</string>
      <string>uniA2C7</string>
      <string>uniA2C8</string>
      <string>uniA2C9</string>
      <string>uniA2CA</string>
      <string>uniA2CB</string>
      <string>uniA2CC</string>
      <string>uniA2CD</string>
      <string>uniA2CE</string>
      <string>uniA2CF</string>
      <string>uniA2D0</string>
      <string>uniA2D1</string>
      <string>uniA2D2</string>
      <string>uniA2D3</string>
      <string>uniA2D4</string>
      <string>uniA2D5</string>
      <string>uniA2D6</string>
      <string>uniA2D7</string>
      <string>uniA2D8</string>
      <string>uniA2D9</string>
      <string>uniA2DA</string>
      <string>uniA2DB</string>
      <string>uniA2DC</string>
      <string>uniA2DD</string>
      <string>uniA2DE</string>
      <string>uniA2DF</string>
      <string>uniA2E0</string>
      <string>uniA2E1</string>
      <string>uniA2E2</string>
      <string>uniA2E3</string>
      <string>uniA2E4</string>
      <string>uniA2E5</string>
      <string>uniA2E6</string>
      <string>uniA2E7</string>
      <string>uniA2E8</string>
      <string>uniA2E9</string>
      <string>uniA2EA</string>
      <string>uniA2EB</string>
      <string>uniA2EC</string>
      <string>uniA2ED</string>
      <string>uniA2EE</string>
      <string>uniA2EF</string>
      <string>uniA2F0</string>
      <string>uniA2F1</string>
      <string>uniA2F2</string>
      <string>uniA2F3</string>
      <string>uniA2F4</string>
      <string>uniA2F5</string>
      <string>uniA2F6</string>
      <string>uniA2F7</string>
      <string>uniA2F8</string>
      <string>uniA2F9</string>
      <string>uniA2FA</string>
      <string>uniA2FB</string>
      <string>uniA2FC</string>
      <string>uniA2FD</string>
      <string>uniA2FE</string>
      <string>uniA2FF</string>
      <string>uniA300</string>
      <string>uniA301</string>
      <string>uniA302</string>
      <string>uniA303</string>
      <string>uniA304</string>
      <string>uniA305</string>
      <string>uniA306</string>
      <string>uniA307</string>
      <string>uniA308</string>
      <string>uniA309</string>
      <string>uniA30A</string>
      <string>uniA30B</string>
      <string>uniA30C</string>
      <string>uniA30D</string>
      <string>uniA30E</string>
      <string>uniA30F</string>
      <string>uniA310</string>
      <string>uniA311</string>
      <string>uniA312</string>
      <string>uniA313</string>
      <string>uniA314</string>
      <string>uniA315</string>
      <string>uniA316</string>
      <string>uniA317</string>
      <string>uniA318</string>
      <string>uniA319</string>
      <string>uniA31A</string>
      <string>uniA31B</string>
      <string>uniA31C</string>
      <string>uniA31D</string>
      <string>uniA31E</string>
      <string>uniA31F</string>
      <string>uniA320</string>
      <string>uniA321</string>
      <string>uniA322</string>
      <string>uniA323</string>
      <string>uniA324</string>
      <string>uniA325</string>
      <string>uniA326</string>
      <string>uniA327</string>
      <string>uniA328</string>
      <string>uniA329</string>
      <string>uniA32A</string>
      <string>uniA32B</string>
      <string>uniA32C</string>
      <string>uniA32D</string>
      <string>uniA32E</string>
      <string>uniA32F</string>
      <string>uniA330</string>
      <string>uniA331</string>
      <string>uniA332</string>
      <string>uniA333</string>
      <string>uniA334</string>
      <string>uniA335</string>
      <string>uniA336</string>
      <string>uniA337</string>
      <string>uniA338</string>
      <string>uniA339</string>
      <string>uniA33A</string>
      <string>uniA33B</string>
      <string>uniA33C</string>
      <string>uniA33D</string>
      <string>uniA33E</string>
      <string>uniA33F</string>
      <string>uniA340</string>
      <string>uniA341</string>
      <string>uniA342</string>
      <string>uniA343</string>
      <string>uniA344</string>
      <string>uniA345</string>
      <string>uniA346</string>
      <string>uniA347</string>
      <string>uniA348</string>
      <string>uniA349</string>
      <string>uniA34A</string>
      <string>uniA34B</string>
      <string>uniA34C</string>
      <string>uniA34D</string>
      <string>uniA34E</string>
      <string>uniA34F</string>
      <string>uniA350</string>
      <string>uniA351</string>
      <string>uniA352</string>
      <string>uniA353</string>
      <string>uniA354</string>
      <string>uniA355</string>
      <string>uniA356</string>
      <string>uniA357</string>
      <string>uniA358</string>
      <string>uniA359</string>
      <string>uniA35A</string>
      <string>uniA35B</string>
      <string>uniA35C</string>
      <string>uniA35D</string>
      <string>uniA35E</string>
      <string>uniA35F</string>
      <string>uniA360</string>
      <string>uniA361</string>
      <string>uniA362</string>
      <string>uniA363</string>
      <string>uniA364</string>
      <string>uniA365</string>
      <string>uniA366</string>
      <string>uniA367</string>
      <string>uniA368</string>
      <string>uniA369</string>
      <string>uniA36A</string>
      <string>uniA36B</string>
      <string>uniA36C</string>
      <string>uniA36D</string>
      <string>uniA36E</string>
      <string>uniA36F</string>
      <string>uniA370</string>
      <string>uniA371</string>
      <string>uniA372</string>
      <string>uniA373</string>
      <string>uniA374</string>
      <string>uniA375</string>
      <string>uniA376</string>
      <string>uniA377</string>
      <string>uniA378</string>
      <string>uniA379</string>
      <string>uniA37A</string>
      <string>uniA37B</string>
      <string>uniA37C</string>
      <string>uniA37D</string>
      <string>uniA37E</string>
      <string>uniA37F</string>
      <string>uniA380</string>
      <string>uniA381</string>
      <string>uniA382</string>
      <string>uniA383</string>
      <string>uniA384</string>
      <string>uniA385</string>
      <string>uniA386</string>
      <string>uniA387</string>
      <string>uniA388</string>
      <string>uniA389</string>
      <string>uniA38A</string>
      <string>uniA38B</string>
      <string>uniA38C</string>
      <string>uniA38D</string>
      <string>uniA38E</string>
      <string>uniA38F</string>
      <string>uniA390</string>
      <string>uniA391</string>
      <string>uniA392</string>
      <string>uniA393</string>
      <string>uniA394</string>
      <string>uniA395</string>
      <string>uniA396</string>
      <string>uniA397</string>
      <string>uniA398</string>
      <string>uniA399</string>
      <string>uniA39A</string>
      <string>uniA39B</string>
      <string>uniA39C</string>
      <string>uniA39D</string>
      <string>uniA39E</string>
      <string>uniA39F</string>
      <string>uniA3A0</string>
      <string>uniA3A1</string>
      <string>uniA3A2</string>
      <string>uniA3A3</string>
      <string>uniA3A4</string>
      <string>uniA3A5</string>
      <string>uniA3A6</string>
      <string>uniA3A7</string>
      <string>uniA3A8</string>
      <string>uniA3A9</string>
      <string>uniA3AA</string>
      <string>uniA3AB</string>
      <string>uniA3AC</string>
      <string>uniA3AD</string>
      <string>uniA3AE</string>
      <string>uniA3AF</string>
      <string>uniA3B0</string>
      <string>uniA3B1</string>
      <string>uniA3B2</string>
      <string>uniA3B3</string>
      <string>uniA3B4</string>
      <string>uniA3B5</string>
      <string>uniA3B6</string>
      <string>uniA3B7</string>
      <string>uniA3B8</string>
      <string>uniA3B9</string>
      <string>uniA3BA</string>
      <string>uniA3BB</string>
      <string>uniA3BC</string>
      <string>uniA3BD</string>
      <string>uniA3BE</string>
      <string>uniA3BF</string>
      <string>uniA3C0</string>
      <string>uniA3C1</string>
      <string>uniA3C2</string>
      <string>uniA3C3</string>
      <string>uniA3C4</string>
      <string>uniA3C5</string>
      <string>uniA3C6</string>
      <string>uniA3C7</string>
      <string>uniA3C8</string>
      <string>uniA3C9</string>
      <string>uniA3CA</string>
      <string>uniA3CB</string>
      <string>uniA3CC</string>
      <string>uniA3CD</string>
      <string>uniA3CE</string>
      <string>uniA3CF</string>
      <string>uniA3D0</string>
      <string>uniA3D1</string>
      <string>uniA3D2</string>
      <string>uniA3D3</string>
      <string>uniA3D4</string>
      <string>uniA3D5</string>
      <string>uniA3D6</string>
      <string>uniA3D7</string>
      <string>uniA3D8</string>
      <string>uniA3D9</string>
      <string>uniA3DA</string>
      <string>uniA3DB</string>
      <string>uniA3DC</string>
      <string>uniA3DD</string>
      <string>uniA3DE</string>
      <string>uniA3DF</string>
      <string>uniA3E0</string>
      <string>uniA3E1</string>
      <string>uniA3E2</string>
      <string>uniA3E3</string>
      <string>uniA3E4</string>
      <string>uniA3E5</string>
      <string>uniA3E6</string>
      <string>uniA3E7</string>
      <string>uniA3E8</string>
      <string>uniA3E9</string>
      <string>uniA3EA</string>
      <string>uniA3EB</string>
      <string>uniA3EC</string>
      <string>uniA3ED</string>
      <string>uniA3EE</string>
      <string>uniA3EF</string>
      <string>uniA3F0</string>
      <string>uniA3F1</string>
      <string>uniA3F2</string>
      <string>uniA3F3</string>
      <string>uniA3F4</string>
      <string>uniA3F5</string>
      <string>uniA3F6</string>
      <string>uniA3F7</string>
      <string>uniA3F8</string>
      <string>uniA3F9</string>
      <string>uniA3FA</string>
      <string>uniA3FB</string>
      <string>uniA3FC</string>
      <string>uniA3FD</string>
      <string>uniA3FE</string>
      <string>uniA3FF</string>
      <string>uniA400</string>
      <string>uniA401</string>
      <string>uniA402</string>
      <string>uniA403</string>
      <string>uniA404</string>
      <string>uniA405</string>
      <string>uniA406</string>
      <string>uniA407</string>
      <string>uniA408</string>
      <string>uniA409</string>
      <string>uniA40A</string>
      <string>uniA40B</string>
      <string>uniA40C</string>
      <string>uniA40D</string>
      <string>uniA40E</string>
      <string>uniA40F</string>
      <string>uniA410</string>
      <string>uniA411</string>
      <string>uniA412</string>
      <string>uniA413</string>
      <string>uniA414</string>
      <string>uniA415</string>
      <string>uniA416</string>
      <string>uniA417</string>
      <string>uniA418</string>
      <string>uniA419</string>
      <string>uniA41A</string>
      <string>uniA41B</string>
      <string>uniA41C</string>
      <string>uniA41D</string>
      <string>uniA41E</string>
      <string>uniA41F</string>
      <string>uniA420</string>
      <string>uniA421</string>
      <string>uniA422</string>
      <string>uniA423</string>
      <string>uniA424</string>
      <string>uniA425</string>
      <string>uniA426</string>
      <string>uniA427</string>
      <string>uniA428</string>
      <string>uniA429</string>
      <string>uniA42A</string>
      <string>uniA42B</string>
      <string>uniA42C</string>
      <string>uniA42D</string>
      <string>uniA42E</string>
      <string>uniA42F</string>
      <string>uniA430</string>
      <string>uniA431</string>
      <string>uniA432</string>
      <string>uniA433</string>
      <string>uniA434</string>
      <string>uniA435</string>
      <string>uniA436</string>
      <string>uniA437</string>
      <string>uniA438</string>
      <string>uniA439</string>
      <string>uniA43A</string>
      <string>uniA43B</string>
      <string>uniA43C</string>
      <string>uniA43D</string>
      <string>uniA43E</string>
      <string>uniA43F</string>
      <string>uniA440</string>
      <string>uniA441</string>
      <string>uniA442</string>
      <string>uniA443</string>
      <string>uniA444</string>
      <string>uniA445</string>
      <string>uniA446</string>
      <string>uniA447</string>
      <string>uniA448</string>
      <string>uniA449</string>
      <string>uniA44A</string>
      <string>uniA44B</string>
      <string>uniA44C</string>
      <string>uniA44D</string>
      <string>uniA44E</string>
      <string>uniA44F</string>
      <string>uniA450</string>
      <string>uniA451</string>
      <string>uniA452</string>
      <string>uniA453</string>
      <string>uniA454</string>
      <string>uniA455</string>
      <string>uniA456</string>
      <string>uniA457</string>
      <string>uniA458</string>
      <string>uniA459</string>
      <string>uniA45A</string>
      <string>uniA45B</string>
      <string>uniA45C</string>
      <string>uniA45D</string>
      <string>uniA45E</string>
      <string>uniA45F</string>
      <string>uniA460</string>
      <string>uniA461</string>
      <string>uniA462</string>
      <string>uniA463</string>
      <string>uniA464</string>
      <string>uniA465</string>
      <string>uniA466</string>
      <string>uniA467</string>
      <string>uniA468</string>
      <string>uniA469</string>
      <string>uniA46A</string>
      <string>uniA46B</string>
      <string>uniA46C</string>
      <string>uniA46D</string>
      <string>uniA46E</string>
      <string>uniA46F</string>
      <string>uniA470</string>
      <string>uniA471</string>
      <string>uniA472</string>
      <string>uniA473</string>
      <string>uniA474</string>
      <string>uniA475</string>
      <string>uniA476</string>
      <string>uniA477</string>
      <string>uniA478</string>
      <string>uniA479</string>
      <string>uniA47A</string>
      <string>uniA47B</string>
      <string>uniA47C</string>
      <string>uniA47D</string>
      <string>uniA47E</string>
      <string>uniA47F</string>
      <string>uniA480</string>
      <string>uniA481</string>
      <string>uniA482</string>
      <string>uniA483</string>
      <string>uniA484</string>
      <string>uniA485</string>
      <string>uniA486</string>
      <string>uniA487</string>
      <string>uniA488</string>
      <string>uniA489</string>
      <string>uniA48A</string>
      <string>uniA48B</string>
      <string>uniA48C</string>
      <string>uniA490</string>
      <string>uniA491</string>
      <string>uniA492</string>
      <string>uniA493</string>
      <string>uniA494</string>
      <string>uniA495</string>
      <string>uniA496</string>
      <string>uniA497</string>
      <string>uniA498</string>
      <string>uniA499</string>
      <string>uniA49A</string>
      <string>uniA49B</string>
      <string>uniA49C</string>
      <string>uniA49D</string>
      <string>uniA49E</string>
      <string>uniA49F</string>
      <string>uniA4A0</string>
      <string>uniA4A1</string>
      <string>uniA4A2</string>
      <string>uniA4A3</string>
      <string>uniA4A4</string>
      <string>uniA4A5</string>
      <string>uniA4A6</string>
      <string>uniA4A7</string>
      <string>uniA4A8</string>
      <string>uniA4A9</string>
      <string>uniA4AA</string>
      <string>uniA4AB</string>
      <string>uniA4AC</string>
      <string>uniA4AD</string>
      <string>uniA4AE</string>
      <string>uniA4AF</string>
      <string>uniA4B0</string>
      <string>uniA4B1</string>
      <string>uniA4B2</string>
      <string>uniA4B3</string>
      <string>uniA4B4</string>
      <string>uniA4B5</string>
      <string>uniA4B6</string>
      <string>uniA4B7</string>
      <string>uniA4B8</string>
      <string>uniA4B9</string>
      <string>uniA4BA</string>
      <string>uniA4BB</string>
      <string>uniA4BC</string>
      <string>uniA4BD</string>
      <string>uniA4BE</string>
      <string>uniA4BF</string>
      <string>uniA4C0</string>
      <string>uniA4C1</string>
      <string>uniA4C2</string>
      <string>uniA4C3</string>
      <string>uniA4C4</string>
      <string>uniA4C5</string>
      <string>uniA4C6</string>
      <string>uniFF61</string>
      <string>uniFF62</string>
      <string>uniFF63</string>
      <string>uniFF64</string>
      <string>uniFF65</string>
    </array>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>yi_mark</string>
    </array>
  </dict>
</plist>
