<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>be-yezi</key>
    <string>be-yezi.glif</string>
    <key>chhim-yezi</key>
    <string>chhim-yezi.glif</string>
    <key>chim-yezi</key>
    <string>chim-yezi.glif</string>
    <key>cim-yezi</key>
    <string>cim-yezi.glif</string>
    <key>dad-yezi</key>
    <string>dad-yezi.glif</string>
    <key>dal-yezi</key>
    <string>dal-yezi.glif</string>
    <key>elif-yezi</key>
    <string>elif-yezi.glif</string>
    <key>et-yezi</key>
    <string>et-yezi.glif</string>
    <key>ew-yezi</key>
    <string>ew-yezi.glif</string>
    <key>eyn-yezi</key>
    <string>eyn-yezi.glif</string>
    <key>fa-yezi</key>
    <string>fa-yezi.glif</string>
    <key>gaf-yezi</key>
    <string>gaf-yezi.glif</string>
    <key>hamza-yezi</key>
    <string>hamza-yezi.glif</string>
    <key>hay-yezi</key>
    <string>hay-yezi.glif</string>
    <key>hha-yezi</key>
    <string>hha-yezi.glif</string>
    <key>hyphen-yezi</key>
    <string>hyphen-yezi.glif</string>
    <key>ja-yezi</key>
    <string>ja-yezi.glif</string>
    <key>kaf-yezi</key>
    <string>kaf-yezi.glif</string>
    <key>khaf-yezi</key>
    <string>khaf-yezi.glif</string>
    <key>lam-yezi</key>
    <string>lam-yezi.glif</string>
    <key>lamDot-yezi</key>
    <string>lamD_ot-yezi.glif</string>
    <key>madda-yezi</key>
    <string>madda-yezi.glif</string>
    <key>mim-yezi</key>
    <string>mim-yezi.glif</string>
    <key>nun-yezi</key>
    <string>nun-yezi.glif</string>
    <key>ow-yezi</key>
    <string>ow-yezi.glif</string>
    <key>pe-yezi</key>
    <string>pe-yezi.glif</string>
    <key>phe-yezi</key>
    <string>phe-yezi.glif</string>
    <key>qaf-yezi</key>
    <string>qaf-yezi.glif</string>
    <key>ra-yezi</key>
    <string>ra-yezi.glif</string>
    <key>rha-yezi</key>
    <string>rha-yezi.glif</string>
    <key>sad-yezi</key>
    <string>sad-yezi.glif</string>
    <key>se-yezi</key>
    <string>se-yezi.glif</string>
    <key>shin-yezi</key>
    <string>shin-yezi.glif</string>
    <key>sin-yezi</key>
    <string>sin-yezi.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ta-yezi</key>
    <string>ta-yezi.glif</string>
    <key>the-yezi</key>
    <string>the-yezi.glif</string>
    <key>um-yezi</key>
    <string>um-yezi.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni060C</key>
    <string>uni060C_.glif</string>
    <key>uni061B</key>
    <string>uni061B_.glif</string>
    <key>uni061F</key>
    <string>uni061F_.glif</string>
    <key>uni06D4</key>
    <string>uni06D_4.glif</string>
    <key>va-yezi</key>
    <string>va-yezi.glif</string>
    <key>va-yezi.alt</key>
    <string>va-yezi.alt.glif</string>
    <key>waw-yezi</key>
    <string>waw-yezi.glif</string>
    <key>xa-yezi</key>
    <string>xa-yezi.glif</string>
    <key>xheyn-yezi</key>
    <string>xheyn-yezi.glif</string>
    <key>yot-yezi</key>
    <string>yot-yezi.glif</string>
    <key>yotCircum-yezi</key>
    <string>yotC_ircum-yezi.glif</string>
    <key>za-yezi</key>
    <string>za-yezi.glif</string>
    <key>zal-yezi</key>
    <string>zal-yezi.glif</string>
    <key>ze-yezi</key>
    <string>ze-yezi.glif</string>
  </dict>
</plist>
