<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>abovemk1</key>
    <string>abovemk1.glif</string>
    <key>belowmk1</key>
    <string>belowmk1.glif</string>
    <key>belowmk2</key>
    <string>belowmk2.glif</string>
    <key>finalcons-mark</key>
    <string>finalcons-mark.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1980</key>
    <string>uni1980.glif</string>
    <key>uni1981</key>
    <string>uni1981.glif</string>
    <key>uni1982</key>
    <string>uni1982.glif</string>
    <key>uni1983</key>
    <string>uni1983.glif</string>
    <key>uni1984</key>
    <string>uni1984.glif</string>
    <key>uni1985</key>
    <string>uni1985.glif</string>
    <key>uni1986</key>
    <string>uni1986.glif</string>
    <key>uni1987</key>
    <string>uni1987.glif</string>
    <key>uni1988</key>
    <string>uni1988.glif</string>
    <key>uni1989</key>
    <string>uni1989.glif</string>
    <key>uni198A</key>
    <string>uni198A_.glif</string>
    <key>uni198B</key>
    <string>uni198B_.glif</string>
    <key>uni198C</key>
    <string>uni198C_.glif</string>
    <key>uni198D</key>
    <string>uni198D_.glif</string>
    <key>uni198E</key>
    <string>uni198E_.glif</string>
    <key>uni198F</key>
    <string>uni198F_.glif</string>
    <key>uni1990</key>
    <string>uni1990.glif</string>
    <key>uni1991</key>
    <string>uni1991.glif</string>
    <key>uni1992</key>
    <string>uni1992.glif</string>
    <key>uni1993</key>
    <string>uni1993.glif</string>
    <key>uni1994</key>
    <string>uni1994.glif</string>
    <key>uni1995</key>
    <string>uni1995.glif</string>
    <key>uni1996</key>
    <string>uni1996.glif</string>
    <key>uni1997</key>
    <string>uni1997.glif</string>
    <key>uni1998</key>
    <string>uni1998.glif</string>
    <key>uni1999</key>
    <string>uni1999.glif</string>
    <key>uni199A</key>
    <string>uni199A_.glif</string>
    <key>uni199B</key>
    <string>uni199B_.glif</string>
    <key>uni199C</key>
    <string>uni199C_.glif</string>
    <key>uni199D</key>
    <string>uni199D_.glif</string>
    <key>uni199E</key>
    <string>uni199E_.glif</string>
    <key>uni199F</key>
    <string>uni199F_.glif</string>
    <key>uni19A0</key>
    <string>uni19A_0.glif</string>
    <key>uni19A1</key>
    <string>uni19A_1.glif</string>
    <key>uni19A2</key>
    <string>uni19A_2.glif</string>
    <key>uni19A3</key>
    <string>uni19A_3.glif</string>
    <key>uni19A4</key>
    <string>uni19A_4.glif</string>
    <key>uni19A5</key>
    <string>uni19A_5.glif</string>
    <key>uni19A6</key>
    <string>uni19A_6.glif</string>
    <key>uni19A7</key>
    <string>uni19A_7.glif</string>
    <key>uni19A8</key>
    <string>uni19A_8.glif</string>
    <key>uni19A9</key>
    <string>uni19A_9.glif</string>
    <key>uni19AA</key>
    <string>uni19A_A_.glif</string>
    <key>uni19AB</key>
    <string>uni19A_B_.glif</string>
    <key>uni19B0</key>
    <string>uni19B_0.glif</string>
    <key>uni19B1</key>
    <string>uni19B_1.glif</string>
    <key>uni19B2</key>
    <string>uni19B_2.glif</string>
    <key>uni19B3</key>
    <string>uni19B_3.glif</string>
    <key>uni19B4</key>
    <string>uni19B_4.glif</string>
    <key>uni19B5</key>
    <string>uni19B_5.glif</string>
    <key>uni19B6</key>
    <string>uni19B_6.glif</string>
    <key>uni19B7</key>
    <string>uni19B_7.glif</string>
    <key>uni19B8</key>
    <string>uni19B_8.glif</string>
    <key>uni19B9</key>
    <string>uni19B_9.glif</string>
    <key>uni19BA</key>
    <string>uni19B_A_.glif</string>
    <key>uni19BB</key>
    <string>uni19B_B_.glif</string>
    <key>uni19BC</key>
    <string>uni19B_C_.glif</string>
    <key>uni19BD</key>
    <string>uni19B_D_.glif</string>
    <key>uni19BE</key>
    <string>uni19B_E_.glif</string>
    <key>uni19BF</key>
    <string>uni19B_F_.glif</string>
    <key>uni19C0</key>
    <string>uni19C_0.glif</string>
    <key>uni19C1</key>
    <string>uni19C_1.glif</string>
    <key>uni19C2</key>
    <string>uni19C_2.glif</string>
    <key>uni19C3</key>
    <string>uni19C_3.glif</string>
    <key>uni19C4</key>
    <string>uni19C_4.glif</string>
    <key>uni19C5</key>
    <string>uni19C_5.glif</string>
    <key>uni19C6</key>
    <string>uni19C_6.glif</string>
    <key>uni19C7</key>
    <string>uni19C_7.glif</string>
    <key>uni19C8</key>
    <string>uni19C_8.glif</string>
    <key>uni19C9</key>
    <string>uni19C_9.glif</string>
    <key>uni19D0</key>
    <string>uni19D_0.glif</string>
    <key>uni19D1</key>
    <string>uni19D_1.glif</string>
    <key>uni19D2</key>
    <string>uni19D_2.glif</string>
    <key>uni19D3</key>
    <string>uni19D_3.glif</string>
    <key>uni19D4</key>
    <string>uni19D_4.glif</string>
    <key>uni19D5</key>
    <string>uni19D_5.glif</string>
    <key>uni19D6</key>
    <string>uni19D_6.glif</string>
    <key>uni19D7</key>
    <string>uni19D_7.glif</string>
    <key>uni19D8</key>
    <string>uni19D_8.glif</string>
    <key>uni19D9</key>
    <string>uni19D_9.glif</string>
    <key>uni19DA</key>
    <string>uni19D_A_.glif</string>
    <key>uni19DE</key>
    <string>uni19D_E_.glif</string>
    <key>uni19DF</key>
    <string>uni19D_F_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
