<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abovemk1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.belowmk1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.belowmk2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.finalcons-mark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1980</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1981</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1982</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1983</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1984</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1985</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1986</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1987</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1988</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1989</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni198A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni198B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni198C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni198D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni198E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni198F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1990</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1991</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1992</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1993</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1994</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1995</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1996</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1997</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1998</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1999</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni199A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni199B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni199C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni199D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni199E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni199F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19A9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19AA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19AB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19B9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19BA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19BB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19BC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19BD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19BE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19BF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19C9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19D9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19DA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19DE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni19DF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
