<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jan 29 17, 13:57</string>
      <string>glyphs.J_an 29 17, 13_57</string>
    </array>
    <array>
      <string>Feb 9 17, 19:35</string>
      <string>glyphs.F_eb 9 17, 19_35</string>
    </array>
    <array>
      <string>Jan 26 17, 21:17</string>
      <string>glyphs.J_an 26 17, 21_17</string>
    </array>
    <array>
      <string>Jan 28 17, 13:53</string>
      <string>glyphs.J_an 28 17, 13_53</string>
    </array>
    <array>
      <string>Feb 5 17, 17:24</string>
      <string>glyphs.F_eb 5 17, 17_24</string>
    </array>
    <array>
      <string>Jan 29 17, 22:13</string>
      <string>glyphs.J_an 29 17, 22_13</string>
    </array>
    <array>
      <string>Feb 4 17, 11:59</string>
      <string>glyphs.F_eb 4 17, 11_59</string>
    </array>
    <array>
      <string>Feb 4 17, 11:59.background</string>
      <string>glyphs.F_eb 4 17, 11_59.background</string>
    </array>
    <array>
      <string>Feb 3 17, 18:06</string>
      <string>glyphs.F_eb 3 17, 18_06</string>
    </array>
    <array>
      <string>Feb 10 17, 15:57</string>
      <string>glyphs.F_eb 10 17, 15_57</string>
    </array>
    <array>
      <string>Feb 10 17, 17:10</string>
      <string>glyphs.F_eb 10 17, 17_10</string>
    </array>
    <array>
      <string>Jan 15 17, 21:29</string>
      <string>glyphs.J_an 15 17, 21_29</string>
    </array>
    <array>
      <string>Jan 15 17, 21:32</string>
      <string>glyphs.J_an 15 17, 21_32</string>
    </array>
    <array>
      <string>Feb 20 17, 16:04</string>
      <string>glyphs.F_eb 20 17, 16_04</string>
    </array>
  </array>
</plist>
