<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA78B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA78C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA80</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA81</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA82</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA83</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA84</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA85</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA86</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA87</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA88</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA89</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA8A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA8B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA8C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA8D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA8E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA8F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA90</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA91</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA92</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA93</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA94</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA95</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA96</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA97</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA98</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA99</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA9A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA9B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA9C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA9D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA9E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAA9F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAA9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAAA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAAB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAAC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAAD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAAE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAAF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAB9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAABA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAABB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAABC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAABD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAABE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAABF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAC0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAC1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAAC2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAADB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAADC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAADD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAADE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniAADF</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
