<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>28.96551724137931</real>
      <key>public.kern2.parenright</key>
      <real>56.55172413793103</real>
      <key>public.kern2.question</key>
      <real>52.758620689655174</real>
      <key>public.kern2.quoteright</key>
      <real>37.93103448275862</real>
      <key>public.kern2.quotesingle</key>
      <real>34.137931034482754</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>57.41379310344828</real>
      <key>public.kern2.parenright</key>
      <real>103.62068965517241</real>
      <key>public.kern2.question</key>
      <real>78.62068965517241</real>
      <key>public.kern2.quoteright</key>
      <integer>80</integer>
      <key>public.kern2.quotesingle</key>
      <real>82.58620689655173</real>
    </dict>
    <key>kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-25</integer>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>97.6562</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>80</integer>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>63.4766</real>
    </dict>
    <key>nyii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <real>-45.862068965517246</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>ha-tamil</key>
      <real>-56.206896551724135</real>
      <key>lluu-tamil</key>
      <real>-68.62068965517241</real>
      <key>lu-tamil</key>
      <real>-46.206896551724135</real>
      <key>luu-tamil</key>
      <real>-46.206896551724135</real>
      <key>nnnu-tamil</key>
      <real>-46.206896551724135</real>
      <key>nnnuu-tamil</key>
      <real>-46.206896551724135</real>
      <key>nnu-tamil</key>
      <real>-46.206896551724135</real>
      <key>nnuu-tamil</key>
      <real>-46.206896551724135</real>
      <key>public.kern2.colon</key>
      <integer>-10</integer>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-81.0344827586207</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-136.20689655172413</real>
      <key>public.kern2.exclam</key>
      <real>-61.03448275862069</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-46.206896551724135</real>
      <key>public.kern2.nya-tamil</key>
      <real>-43.793103448275865</real>
      <key>public.kern2.o-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <integer>-85</integer>
      <key>public.kern2.quoteright</key>
      <integer>-45</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-80</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.visarga-tamil</key>
      <real>-47.58620689655172</real>
      <key>public.kern2.ya-tamil</key>
      <real>-72.41379310344827</real>
      <key>ta-tamil</key>
      <real>-13.793103448275861</real>
      <key>tu-tamil</key>
      <integer>10</integer>
      <key>tuu-tamil</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>13.10344827586207</real>
      <key>public.kern2.ka-tamil</key>
      <real>-21.20689655172414</real>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-54.310344827586206</real>
      <key>public.kern2.exclam</key>
      <real>-26.20689655172414</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.cu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>7.586206896551724</real>
    </dict>
    <key>public.kern1.cuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-50</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.question</key>
      <integer>-70</integer>
      <key>public.kern2.quoteright</key>
      <real>-84.82758620689656</real>
      <key>public.kern2.quotesingle</key>
      <real>-84.82758620689656</real>
      <key>public.kern2.ya-tamil</key>
      <real>-46.206896551724135</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-65</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.u-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-33.793103448275865</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ai-tamil</key>
      <integer>10</integer>
      <key>public.kern2.e-tamil</key>
      <integer>30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>30</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>30</integer>
      <key>public.kern2.o-tamil</key>
      <integer>20</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>10</integer>
      <key>public.kern2.ai-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.e-tamil</key>
      <real>-18.103448275862068</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-46.206896551724135</real>
      <key>public.kern2.exclam</key>
      <real>-36.206896551724135</real>
      <key>public.kern2.i-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-17.413793103448278</real>
      <key>public.kern2.o-tamil</key>
      <real>-13.10344827586207</real>
      <key>public.kern2.om-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <real>-48.241379310344826</real>
      <key>public.kern2.quoteright</key>
      <real>-64.82758620689656</real>
      <key>public.kern2.quotesingle</key>
      <real>-82.41379310344827</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-26.20689655172414</real>
      <key>public.kern2.slash</key>
      <integer>20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-42.241379310344826</real>
      <key>public.kern2.parenright</key>
      <real>7.586206896551724</real>
      <key>public.kern2.question</key>
      <real>-34.827586206896555</real>
      <key>public.kern2.quoteright</key>
      <real>-38.27586206896552</real>
      <key>public.kern2.quotesingle</key>
      <real>-49.6551724137931</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-3.793103448275862</real>
      <key>public.kern2.e-tamil</key>
      <integer>10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-6.807648965517242</real>
      <key>public.kern2.question</key>
      <integer>-20</integer>
      <key>public.kern2.quoteright</key>
      <real>-26.20689655172414</real>
      <key>public.kern2.quotesingle</key>
      <real>-53.793103448275865</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-26.20689655172414</real>
      <key>public.kern2.e-tamil</key>
      <real>-12.413793103448276</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>33.793103448275865</real>
      <key>public.kern2.hyphen</key>
      <integer>15</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-17.413793103448278</real>
      <key>public.kern2.o-tamil</key>
      <real>-16.20689655172414</real>
      <key>public.kern2.parenright</key>
      <integer>60</integer>
      <key>public.kern2.period</key>
      <real>-6.206896551724138</real>
      <key>public.kern2.question</key>
      <integer>40</integer>
      <key>public.kern2.quoteright</key>
      <real>50.172413793103445</real>
      <key>public.kern2.quotesingle</key>
      <real>45.172413793103445</real>
      <key>public.kern2.rra-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.rupee-tamil</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.ai-tamil</key>
      <real>-16.20689655172414</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.exclam</key>
      <real>-32.41379310344828</real>
      <key>public.kern2.question</key>
      <integer>-40</integer>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <real>-68.62068965517241</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.mii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>28.620689655172413</real>
      <key>public.kern2.parenright</key>
      <real>78.62068965517241</real>
      <key>public.kern2.question</key>
      <real>62.41379310344828</real>
      <key>public.kern2.quoteright</key>
      <real>57.58620689655172</real>
      <key>public.kern2.quotesingle</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.colon</key>
      <real>43.9453</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <real>107.58620689655173</real>
      <key>public.kern2.i-tamil</key>
      <real>97.58620689655173</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <integer>120</integer>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-58.5938</real>
      <key>public.kern2.ai-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <real>-6.206896551724138</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>65</integer>
      <key>public.kern2.i-tamil</key>
      <integer>60</integer>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.question</key>
      <integer>70</integer>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>15.172413793103448</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-32.41379310344828</real>
      <key>public.kern2.hyphen</key>
      <integer>20</integer>
      <key>public.kern2.question</key>
      <real>-32.41379310344828</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.pii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>21.379310344827587</real>
      <key>public.kern2.i-tamil</key>
      <real>27.586206896551722</real>
      <key>public.kern2.parenright</key>
      <real>32.758620689655174</real>
      <key>public.kern2.question</key>
      <real>31.379310344827587</real>
      <key>public.kern2.quoteright</key>
      <real>26.551724137931032</real>
      <key>public.kern2.quotesingle</key>
      <real>26.551724137931032</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-123.79310344827586</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-31.79310344827586</real>
      <key>public.kern2.nya-tamil</key>
      <real>-26.90464137931034</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-123.79310344827586</real>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-140</integer>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.o-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.om-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.rii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>87.06896551724138</real>
      <key>public.kern2.parenright</key>
      <real>100.62068965517241</real>
      <key>public.kern2.question</key>
      <integer>100</integer>
      <key>public.kern2.quoteright</key>
      <real>101.86206896551724</real>
      <key>public.kern2.quotesingle</key>
      <real>91.37931034482759</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>31.20689655172414</real>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-46.206896551724135</real>
      <key>public.kern2.quotesingle</key>
      <real>-36.206896551724135</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-6.206896551724138</real>
      <key>public.kern2.o-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-14.6484</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-35</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.o-tamil</key>
      <real>-33.793103448275865</real>
      <key>public.kern2.rra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.visarga-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>20</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <integer>-70</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-99</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-74.82758620689656</real>
      <key>public.kern2.e-tamil</key>
      <integer>40</integer>
      <key>public.kern2.hyphen</key>
      <integer>60</integer>
      <key>public.kern2.i-tamil</key>
      <integer>20</integer>
      <key>public.kern2.ka-tamil</key>
      <integer>5</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>20</integer>
      <key>public.kern2.o-tamil</key>
      <integer>30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <real>-14.6484</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.e-tamil</key>
      <real>1.3793103448275872</real>
      <key>public.kern2.hyphen</key>
      <integer>50</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-28.53178689655173</real>
      <key>public.kern2.o-tamil</key>
      <real>-6.206896551724138</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.vii-tamil</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>130</integer>
    </dict>
    <key>ttii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-38.62068965517241</real>
    </dict>
  </dict>
</plist>
