<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>49.241379310344826</real>
      <key>public.kern2.parenright</key>
      <real>78.41379310344828</real>
      <key>public.kern2.question</key>
      <real>68.51724137931033</real>
      <key>public.kern2.quoteright</key>
      <real>68.49425287356321</real>
      <key>public.kern2.quotesingle</key>
      <real>67.57471264367815</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>48.49425287356322</real>
      <key>public.kern2.parenright</key>
      <real>84.93103448275863</real>
      <key>public.kern2.question</key>
      <real>65.24137931034484</real>
      <key>public.kern2.quoteright</key>
      <real>72.66666666666667</real>
      <key>public.kern2.quotesingle</key>
      <real>84.17241379310344</real>
    </dict>
    <key>kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-17.666666666666668</real>
      <key>public.kern2.question</key>
      <real>5.011494252873563</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>95.66798666666666</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>78.35632183908045</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>63.4766</real>
    </dict>
    <key>nyii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <real>-22.793103448275865</real>
      <key>public.kern2.quotesingle</key>
      <real>-23.712643678160926</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>ha-tamil</key>
      <real>-48.08045977011495</real>
      <key>lluu-tamil</key>
      <real>-44.24137931034483</real>
      <key>lu-tamil</key>
      <real>-30.74712643678161</real>
      <key>luu-tamil</key>
      <real>-30.74712643678161</real>
      <key>nnnu-tamil</key>
      <real>-30.74712643678161</real>
      <key>nnnuu-tamil</key>
      <real>-30.74712643678161</real>
      <key>nnu-tamil</key>
      <real>-30.74712643678161</real>
      <key>nnuu-tamil</key>
      <real>-30.74712643678161</real>
      <key>public.kern2.colon</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-55.06896551724138</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-116.90344827586206</real>
      <key>public.kern2.exclam</key>
      <real>-34.374549678160925</real>
      <key>public.kern2.hyphen</key>
      <real>-36.28566137931034</real>
      <key>public.kern2.ka-tamil</key>
      <real>-41.74712643678161</real>
      <key>public.kern2.nya-tamil</key>
      <real>-37.25287356321839</real>
      <key>public.kern2.o-tamil</key>
      <integer>-49</integer>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.period</key>
      <integer>1</integer>
      <key>public.kern2.question</key>
      <real>-72.54597701149426</real>
      <key>public.kern2.quoteright</key>
      <real>-45.37931034482759</real>
      <key>public.kern2.quotesingle</key>
      <real>-75.91620068965517</real>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.visarga-tamil</key>
      <real>-41.839080459770116</real>
      <key>public.kern2.ya-tamil</key>
      <real>-58.816091954022994</real>
      <key>ta-tamil</key>
      <real>-18.25287356321839</real>
      <key>tu-tamil</key>
      <integer>10</integer>
      <key>tuu-tamil</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>10.873563218390805</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.913793103448278</real>
      <key>public.kern2.quotesingle</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.ya-tamil</key>
      <real>-12.666666666666668</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-39.46551724137932</real>
      <key>public.kern2.exclam</key>
      <real>-14.41379310344828</real>
      <key>public.kern2.ka-tamil</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.period</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.cu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>16.50574712643678</real>
    </dict>
    <key>public.kern1.cuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-35.333333333333336</real>
      <key>public.kern2.o-tamil</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.question</key>
      <real>-66.33333333333333</real>
      <key>public.kern2.quoteright</key>
      <real>-55.988505747126446</real>
      <key>public.kern2.quotesingle</key>
      <real>-55.988505747126446</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-2.0229885057471266</real>
      <key>public.kern2.ya-tamil</key>
      <real>-34.41379310344828</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-54</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-19.5</real>
      <key>public.kern2.o-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.u-tamil</key>
      <real>-35.37291666666667</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-34.58620689655172</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ai-tamil</key>
      <integer>10</integer>
      <key>public.kern2.e-tamil</key>
      <real>31.833333333333332</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>30</integer>
      <key>public.kern2.ka-tamil</key>
      <real>14.666666666666666</real>
      <key>public.kern2.nya-tamil</key>
      <integer>30</integer>
      <key>public.kern2.o-tamil</key>
      <integer>20</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.rupee-tamil</key>
      <real>23.666666666666668</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>10</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.5</real>
      <key>public.kern2.e-tamil</key>
      <real>-10.373563218390805</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-36.24712643678161</real>
      <key>public.kern2.exclam</key>
      <real>-20.74712643678161</real>
      <key>public.kern2.i-tamil</key>
      <real>-11.110653333333333</real>
      <key>public.kern2.ka-tamil</key>
      <real>-8.49425287356322</real>
      <key>public.kern2.o-tamil</key>
      <real>-7.20689655172414</real>
      <key>public.kern2.om-tamil</key>
      <real>-16.333333333333332</real>
      <key>public.kern2.question</key>
      <real>-45.41609195402299</real>
      <key>public.kern2.quoteright</key>
      <real>-46.98850574712644</real>
      <key>public.kern2.quotesingle</key>
      <real>-69.82758620689656</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-14.41379310344828</real>
      <key>public.kern2.slash</key>
      <integer>20</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-22.166666666666668</real>
    </dict>
    <key>public.kern1.kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-19.528735632183913</real>
      <key>public.kern2.parenright</key>
      <real>9.172413793103448</real>
      <key>public.kern2.question</key>
      <real>-22.678160919540232</real>
      <key>public.kern2.quoteright</key>
      <real>-7.931034482758626</real>
      <key>public.kern2.quotesingle</key>
      <real>-24.3448275862069</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.ya-tamil</key>
      <real>-35.321839080459775</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-4.586206896551724</real>
      <key>public.kern2.e-tamil</key>
      <integer>10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-8.933005931034483</real>
      <key>public.kern2.question</key>
      <real>-14.689655172413794</real>
      <key>public.kern2.quoteright</key>
      <real>-27.057471264367816</real>
      <key>public.kern2.quotesingle</key>
      <real>-50.91954022988505</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.41379310344828</real>
      <key>public.kern2.ai-tamil</key>
      <real>-3.6666666666666665</real>
      <key>public.kern2.e-tamil</key>
      <real>-1.8505747126436796</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>30.919540229885058</real>
      <key>public.kern2.hyphen</key>
      <real>18.666666666666668</real>
      <key>public.kern2.i-tamil</key>
      <real>2.0229885057471266</real>
      <key>public.kern2.ka-tamil</key>
      <real>-5.017241379310345</real>
      <key>public.kern2.nya-tamil</key>
      <real>-1.0114942528735633</real>
      <key>public.kern2.o-tamil</key>
      <real>-8.080459770114944</real>
      <key>public.kern2.parenright</key>
      <integer>49</integer>
      <key>public.kern2.period</key>
      <real>-5.413793103448276</real>
      <key>public.kern2.question</key>
      <integer>40</integer>
      <key>public.kern2.quoteright</key>
      <real>53.97701149425287</real>
      <key>public.kern2.quotesingle</key>
      <real>56.310344827586206</real>
      <key>public.kern2.rra-tamil</key>
      <real>-16.333333333333332</real>
      <key>public.kern2.rupee-tamil</key>
      <real>22.666666666666668</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-1.0114942528735633</real>
      <key>public.kern2.ya-tamil</key>
      <real>-1.0114942528735633</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.ai-tamil</key>
      <real>-8.080459770114944</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-22.580727333333332</real>
      <key>public.kern2.exclam</key>
      <real>-16.160919540229887</real>
      <key>public.kern2.question</key>
      <real>-36.333333333333336</real>
      <key>public.kern2.quoteright</key>
      <real>-23.666666666666668</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.27586206896552</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.mii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.408045977011497</real>
      <key>public.kern2.parenright</key>
      <real>59.931034482758626</real>
      <key>public.kern2.question</key>
      <real>48.18390804597701</real>
      <key>public.kern2.quoteright</key>
      <real>55.50574712643678</real>
      <key>public.kern2.quotesingle</key>
      <real>56.333333333333336</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.colon</key>
      <real>43.9453</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>75.13333333333333</real>
      <key>public.kern2.exclam</key>
      <real>116.50574712643677</real>
      <key>public.kern2.i-tamil</key>
      <real>97.52873563218391</real>
      <key>public.kern2.ka-tamil</key>
      <real>-5.37108</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <real>112.66666666666667</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
      <key>public.kern2.rupee-tamil</key>
      <real>66.33333333333333</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-51.776073333333336</real>
      <key>public.kern2.ai-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <real>-1.7471264367816097</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>65</integer>
      <key>public.kern2.i-tamil</key>
      <integer>38</integer>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.question</key>
      <real>55.333333333333336</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>40.3448275862069</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-19.82758620689655</real>
      <key>public.kern2.hyphen</key>
      <real>12.666666666666668</real>
      <key>public.kern2.period</key>
      <real>-3.6666666666666665</real>
      <key>public.kern2.question</key>
      <real>-27.160919540229887</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-26.333333333333332</real>
    </dict>
    <key>public.kern1.pii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>27.42528735632184</real>
      <key>public.kern2.i-tamil</key>
      <real>21.839080459770113</real>
      <key>public.kern2.parenright</key>
      <real>44.85057471264368</real>
      <key>public.kern2.question</key>
      <real>33.75862068965517</real>
      <key>public.kern2.quoteright</key>
      <real>42.724137931034484</real>
      <key>public.kern2.quotesingle</key>
      <real>40.06896551724138</real>
      <key>public.kern2.rupee-tamil</key>
      <real>32.666666666666664</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-131.16091954022988</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-32.58620689655172</real>
      <key>public.kern2.nya-tamil</key>
      <real>-25.38349275862069</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-109.91954022988506</real>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-118</integer>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.o-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.om-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.rii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>88.80459770114942</real>
      <key>public.kern2.parenright</key>
      <real>92.11954022988506</real>
      <key>public.kern2.question</key>
      <integer>100</integer>
      <key>public.kern2.quoteright</key>
      <real>106.95632183908046</real>
      <key>public.kern2.quotesingle</key>
      <real>87.33563218390803</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-11.833333333333334</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-2.666666666666667</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-6.321839080459769</real>
      <key>public.kern2.hyphen</key>
      <real>21.24712643678161</real>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-34.41379310344828</real>
      <key>public.kern2.quotesingle</key>
      <real>-20.74712643678161</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <real>-35.321839080459775</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-53.678160919540225</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-1.7471264367816097</real>
      <key>public.kern2.o-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-14.6484</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>public.kern2.u-tamil</key>
      <real>21.647143333333332</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-33.166666666666664</real>
      <key>public.kern2.nya-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.o-tamil</key>
      <real>-30.919540229885058</real>
      <key>public.kern2.rra-tamil</key>
      <real>-28.255374482758622</real>
      <key>public.kern2.visarga-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-16.333333333333332</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>13.67816091954023</real>
      <key>public.kern2.e-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-56.333333333333336</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-5.310344827586206</real>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <real>-31.289857241379313</real>
      <key>public.kern2.quoteright</key>
      <integer>-59</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-99</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-27.977011494252874</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-42.321839080459775</real>
      <key>public.kern2.e-tamil</key>
      <real>32.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <integer>60</integer>
      <key>public.kern2.i-tamil</key>
      <real>18.166666666666668</real>
      <key>public.kern2.ka-tamil</key>
      <integer>5</integer>
      <key>public.kern2.nya-tamil</key>
      <real>12.666666666666668</real>
      <key>public.kern2.o-tamil</key>
      <integer>19</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <real>-14.6484</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-26.20114942528736</real>
      <key>public.kern2.e-tamil</key>
      <real>14.75862068965517</real>
      <key>public.kern2.hyphen</key>
      <integer>50</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-18.168370551724138</real>
      <key>public.kern2.o-tamil</key>
      <real>-1.7471264367816097</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <real>-2.0229885057471266</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.12893</real>
    </dict>
    <key>public.kern1.vii-tamil</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>127.97701149425288</real>
    </dict>
    <key>tii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-22.678160919540232</real>
    </dict>
    <key>ttii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-25.24137931034483</real>
    </dict>
  </dict>
</plist>
