<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>53.22265</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>19.04295</real>
      <key>public.kern2.parenright</key>
      <real>81.54296</real>
      <key>public.kern2.quoteright</key>
      <real>45.41014</real>
      <key>public.kern2.quotesingle</key>
      <real>45.898419999999994</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>66.89456</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>37.59766</real>
      <key>public.kern2.parenright</key>
      <real>112.7933</real>
      <key>public.kern2.quoteright</key>
      <real>51.757810000000006</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>37.10938</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>16.11324</real>
      <key>public.kern2.parenright</key>
      <real>64.94144</real>
      <key>public.kern2.quoteright</key>
      <real>32.22658</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>45.89842</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.parenright</key>
      <real>74.70703999999999</real>
      <key>public.kern2.quoteright</key>
      <real>32.71486</real>
      <key>public.kern2.quotesingle</key>
      <real>39.55078</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>16.11327</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>20.019556</real>
      <key>public.kern2.parenright</key>
      <real>72.75392000000001</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>40.03905999999999</real>
      <key>question</key>
      <real>30.76171</real>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>32.71486</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>54.6875</real>
      <key>bracketright</key>
      <real>58.10546</real>
      <key>eMatra-tamil</key>
      <real>10.25388</real>
      <key>eeMatra-tamil</key>
      <real>13.671839999999998</real>
      <key>parenright</key>
      <real>51.26954</real>
      <key>public.kern2.T</key>
      <real>14.648430000000005</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>2.929686</real>
      <key>public.kern2.parenright</key>
      <real>19.04298</real>
      <key>public.kern2.quoteright</key>
      <real>14.64843</real>
      <key>public.kern2.quotesingle</key>
      <real>13.183590000000006</real>
      <key>question</key>
      <real>34.179669999999994</real>
      <key>quotedbl</key>
      <real>41.015660000000004</real>
      <key>quotedblright</key>
      <real>23.925789999999996</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>10.253910000000001</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>53.22265</real>
      <key>public.kern2.quoteright</key>
      <real>10.253910000000003</real>
      <key>public.kern2.quotesingle</key>
      <real>8.789070000000002</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>38.08594</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>2.9296860000000002</real>
      <key>luu-tamil</key>
      <real>-2.9296860000000002</real>
      <key>public.kern2.T</key>
      <real>-64.94144</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-38.57422</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-73.2422</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-70.31251999999999</real>
      <key>public.kern2.exclam</key>
      <real>-21.97263</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-23.925749999999997</real>
      <key>public.kern2.nya-tamil</key>
      <real>-10.253910000000001</real>
      <key>public.kern2.o-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-141.60201</real>
      <key>public.kern2.quotesingle</key>
      <real>-141.60201</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-24.414099999999998</real>
      <key>public.kern2.slash</key>
      <real>27.34375</real>
      <key>public.kern2.ya-tamil</key>
      <real>-8.789070000000002</real>
      <key>slash</key>
      <real>11.71875</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>13.671839999999998</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.648399999999999</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>59.08204999999999</real>
      <key>bracketright</key>
      <real>52.24606</real>
      <key>parenright</key>
      <real>60.546890000000005</real>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.u-tamil</key>
      <real>-29.2969</real>
      <key>question</key>
      <real>17.089869999999998</real>
      <key>quotedbl</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.a-tamil</key>
      <real>-22.460910000000002</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.277327</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-20.50779</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.765619999999998</real>
      <key>public.kern2.o-tamil</key>
      <real>-17.578110000000002</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-43.9453</real>
      <key>public.kern2.rra-tamil</key>
      <real>-6.835934000000002</real>
      <key>public.kern2.slash</key>
      <real>-6.835934</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
      <key>slash</key>
      <real>-2.929686000000001</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-45.41014</real>
      <key>public.kern2.T</key>
      <real>-59.08205</real>
      <key>public.kern2.a-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-39.55078</real>
      <key>public.kern2.exclam</key>
      <real>-33.69142</real>
      <key>public.kern2.i-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.71875</real>
      <key>public.kern2.quoteright</key>
      <real>-43.9453</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-41.50393</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-31.73827</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-37.597660000000005</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-16.113240000000005</real>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.exclam</key>
      <real>-25.87894</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-12.695294000000002</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>39.0625</real>
      <key>public.kern2.a-tamil</key>
      <real>-53.22265</real>
      <key>public.kern2.e-tamil</key>
      <real>-27.343780000000002</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>12.207037</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.nya-tamil</key>
      <real>-25.39059</real>
      <key>public.kern2.o-tamil</key>
      <real>-22.46091</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-43.9453</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-33.203109999999995</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.36719</real>
      <key>public.kern2.a-tamil</key>
      <real>-18.06636</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.quoteright</key>
      <real>-6.835934</real>
      <key>public.kern2.quotesingle</key>
      <real>-26.36719</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>78.125</real>
      <key>public.kern2.a-tamil</key>
      <real>-111.81639999999999</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>38.57422</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>38.57422</real>
      <key>public.kern2.exclam</key>
      <real>65.42965000000001</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.648400000000002</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>97.65619999999998</real>
      <key>public.kern2.u-tamil</key>
      <real>-42.48046000000001</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>42.96874</real>
      <key>public.kern2.a-tamil</key>
      <real>-65.918</real>
      <key>public.kern2.e-tamil</key>
      <real>-24.90235</real>
      <key>public.kern2.ka-tamil</key>
      <real>-22.46091</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>-46.87498</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-41.99218</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-268.55499</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-56.64061</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-36.13282</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-253.90601</real>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-69.33596</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-45.89842</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-24.90235</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.36719</real>
      <key>public.kern2.quotesingle</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-42.48046000000001</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.exclam</key>
      <real>-16.11324</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.rra-tamil</key>
      <real>-9.765619999999998</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-8.78907</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-20.50783</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-29.78515</real>
      <key>public.kern2.quotesingle</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-126.953</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-32.714859999999994</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-73.2422</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-39.55078</real>
      <key>public.kern2.nya-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-34.1797</real>
      <key>public.kern2.u-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-39.0625</real>
      <key>public.kern2.exclam</key>
      <real>-17.08987</real>
      <key>public.kern2.quoteright</key>
      <real>-31.25002</real>
      <key>public.kern2.quotesingle</key>
      <real>-45.89842</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>76.17188</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.parenright</key>
      <real>108.88690000000001</real>
      <key>public.kern2.quoteright</key>
      <real>51.75781</real>
      <key>public.kern2.quotesingle</key>
      <real>74.70704</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>44.921890000000005</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>30.76174</real>
      <key>public.kern2.parenright</key>
      <real>79.58984000000001</real>
      <key>public.kern2.quoteright</key>
      <real>40.03905999999999</real>
      <key>public.kern2.quotesingle</key>
      <real>35.15626</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>20.50783</real>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>50.781220000000005</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
