<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>39.0625</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>49.71593636363636</real>
      <key>public.kern2.quoteright</key>
      <real>26.633554545454547</real>
      <key>public.kern2.quotesingle</key>
      <real>41.72584545454546</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>49.27199090909091</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>15.980127272727273</real>
      <key>public.kern2.parenright</key>
      <real>69.69102727272728</real>
      <key>public.kern2.quoteright</key>
      <real>26.633509090909087</real>
      <key>public.kern2.quotesingle</key>
      <real>61.25714545454545</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <real>19.975136363636363</real>
      <key>public.kern2.T</key>
      <real>46.16475454545454</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>10.653381818181817</real>
      <key>public.kern2.parenright</key>
      <real>80.34445454545455</real>
      <key>public.kern2.quoteright</key>
      <real>35.95526363636364</real>
      <key>public.kern2.quotesingle</key>
      <real>59.92541818181818</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>4.438918181818181</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>17.311745454545452</real>
      <key>public.kern2.parenright</key>
      <real>42.16973636363636</real>
      <key>public.kern2.quoteright</key>
      <real>15.980127272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>26.18960909090909</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>2.219459090909091</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>5.326701818181818</real>
      <key>public.kern2.parenright</key>
      <real>35.51132727272727</real>
      <key>public.kern2.quoteright</key>
      <real>10.653381818181817</real>
      <key>public.kern2.quotesingle</key>
      <real>29.740790909090908</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>19.975136363636363</real>
      <key>public.kern2.parenright</key>
      <real>35.95526363636364</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <real>19.975136363636363</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>23.97016363636364</real>
      <key>bracketright</key>
      <real>23.97016363636364</real>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>parenright</key>
      <real>29.296854545454547</real>
      <key>public.kern2.T</key>
      <real>17.75568181818182</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>44.38918181818182</real>
      <key>public.kern2.quoteright</key>
      <real>13.316772727272724</real>
      <key>public.kern2.quotesingle</key>
      <real>35.511363636363626</real>
      <key>question</key>
      <real>31.960254545454546</real>
      <key>quotedbl</key>
      <real>29.296854545454547</real>
      <key>quotedblright</key>
      <real>18.643472727272727</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>17.75568181818182</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>43.94530000000001</real>
      <key>public.kern2.quoteright</key>
      <real>8.877818181818181</real>
      <key>public.kern2.quotesingle</key>
      <real>35.51137272727272</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>16.86785454545455</real>
      <key>public.kern2.parenright</key>
      <real>33.73580909090909</real>
      <key>public.kern2.quoteright</key>
      <real>-2.6645352591003757e-15</real>
      <key>public.kern2.quotesingle</key>
      <real>30.184627272727276</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <integer>0</integer>
      <key>luu-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>-41.72584545454546</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.exclam</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-43.9453</real>
      <key>public.kern2.quotesingle</key>
      <real>-45.277027272727274</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.slash</key>
      <real>39.0625</real>
      <key>slash</key>
      <integer>0</integer>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>19.5312</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>19.97513636363636</real>
      <key>bracketright</key>
      <real>70.13496363636364</real>
      <key>parenright</key>
      <real>72.79830909090909</real>
      <key>public.kern2.a-tamil</key>
      <real>-9.765619999999998</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.u-tamil</key>
      <real>-29.2969</real>
      <key>question</key>
      <real>43.50140909090908</real>
      <key>quotedbl</key>
      <real>59.92541818181819</real>
      <key>quotedblright</key>
      <real>31.516354545454547</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>6.658363636363636</real>
      <key>public.kern2.a-tamil</key>
      <real>-48.8281</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>6.658363636363636</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-43.9453</real>
      <key>public.kern2.nya-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.o-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-43.9453</real>
      <key>public.kern2.rra-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.slash</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-43.9453</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-58.5938</real>
      <key>slash</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-17.755699999999997</real>
      <key>public.kern2.T</key>
      <real>-25.30183636363636</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.i-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-34.62359090909091</real>
      <key>public.kern2.quotesingle</key>
      <real>-19.5312</real>
      <key>quotedbl</key>
      <real>8.877818181818181</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-24.4141</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-5.326701818181818</real>
      <key>public.kern2.a-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>29.2969</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>4.882809999999999</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.parenright</key>
      <real>49.71593636363637</real>
      <key>public.kern2.period</key>
      <real>-43.9453</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-14.6484</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-5.326701818181819</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-4.882810000000001</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
      <key>question</key>
      <real>15.980127272727273</real>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>83.0078</real>
      <key>public.kern2.a-tamil</key>
      <real>-87.8906</real>
      <key>public.kern2.colon</key>
      <real>39.0625</real>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.exclam</key>
      <real>73.2422</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>97.6562</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>58.5938</real>
      <key>public.kern2.a-tamil</key>
      <real>-24.414100000000005</real>
      <key>public.kern2.ka-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-180.664</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-53.7109</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-195.312</real>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-59.037645454545455</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.u-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.648400000000002</real>
      <key>public.kern2.ka-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>43.9453</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-4.882809999999999</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-24.4141</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.rra-tamil</key>
      <real>-9.765619999999998</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-14.6484</real>
      <key>public.kern2.a-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-53.7109</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-53.71090000000001</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.period</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.648400000000002</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-24.4141</real>
      <key>public.kern2.quoteright</key>
      <real>-34.1797</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>56.8181909090909</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>22.638490909090912</real>
      <key>public.kern2.parenright</key>
      <real>78.125</real>
      <key>public.kern2.quoteright</key>
      <real>46.60864545454547</real>
      <key>public.kern2.quotesingle</key>
      <real>77.23721818181818</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>27.521290909090908</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>12.872840909090908</real>
      <key>public.kern2.parenright</key>
      <real>49.71593636363636</real>
      <key>public.kern2.quoteright</key>
      <real>10.653381818181819</real>
      <key>public.kern2.quotesingle</key>
      <real>41.72584545454546</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>23.970154545454545</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>11.097318181818183</real>
      <key>public.kern2.parenright</key>
      <real>41.72584545454545</real>
      <key>public.kern2.quoteright</key>
      <real>-1.7763568394002505e-15</real>
      <key>public.kern2.quotesingle</key>
      <real>37.730827272727275</real>
    </dict>
  </dict>
</plist>
