<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>965</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>U1336E</string>
      <string>U1336F</string>
      <string>U1337E</string>
      <string>U1337F</string>
      <string>U133AE</string>
      <string>U133AF</string>
      <string>space</string>
      <string>u13000</string>
      <string>u13001</string>
      <string>u13002</string>
      <string>u13003</string>
      <string>u13004</string>
      <string>u13005</string>
      <string>u13006</string>
      <string>u13007</string>
      <string>u13008</string>
      <string>u13009</string>
      <string>u1300A</string>
      <string>u1300B</string>
      <string>u1300C</string>
      <string>u1300D</string>
      <string>u1300E</string>
      <string>u1300F</string>
      <string>u13010</string>
      <string>u13011</string>
      <string>u13012</string>
      <string>u13013</string>
      <string>u13014</string>
      <string>u13015</string>
      <string>u13016</string>
      <string>u13017</string>
      <string>u13018</string>
      <string>u13019</string>
      <string>u1301A</string>
      <string>u1301B</string>
      <string>u1301C</string>
      <string>u1301D</string>
      <string>u1301E</string>
      <string>u1301F</string>
      <string>u13020</string>
      <string>u13021</string>
      <string>u13022</string>
      <string>u13023</string>
      <string>u13024</string>
      <string>u13025</string>
      <string>u13026</string>
      <string>u13027</string>
      <string>u13028</string>
      <string>u13029</string>
      <string>u1302A</string>
      <string>u1302B</string>
      <string>u1302C</string>
      <string>u1302D</string>
      <string>u1302E</string>
      <string>u1302F</string>
      <string>u13030</string>
      <string>u13031</string>
      <string>u13032</string>
      <string>u13033</string>
      <string>u13034</string>
      <string>u13035</string>
      <string>u13036</string>
      <string>u13037</string>
      <string>u13038</string>
      <string>u13039</string>
      <string>u1303A</string>
      <string>u1303B</string>
      <string>u1303C</string>
      <string>u1303D</string>
      <string>u1303E</string>
      <string>u1303F</string>
      <string>u13040</string>
      <string>u13041</string>
      <string>u13042</string>
      <string>u13043</string>
      <string>u13044</string>
      <string>u13045</string>
      <string>u13046</string>
      <string>u13047</string>
      <string>u13048</string>
      <string>u13049</string>
      <string>u1304A</string>
      <string>u1304B</string>
      <string>u1304C</string>
      <string>u1304D</string>
      <string>u1304E</string>
      <string>u1304F</string>
      <string>u13050</string>
      <string>u13051</string>
      <string>u13052</string>
      <string>u13053</string>
      <string>u13054</string>
      <string>u13055</string>
      <string>u13056</string>
      <string>u13057</string>
      <string>u13058</string>
      <string>u13059</string>
      <string>u1305A</string>
      <string>u1305B</string>
      <string>u1305C</string>
      <string>u1305D</string>
      <string>u1305E</string>
      <string>u1305F</string>
      <string>u13060</string>
      <string>u13061</string>
      <string>u13062</string>
      <string>u13063</string>
      <string>u13064</string>
      <string>u13065</string>
      <string>u13066</string>
      <string>u13067</string>
      <string>u13068</string>
      <string>u13069</string>
      <string>u1306A</string>
      <string>u1306B</string>
      <string>u1306C</string>
      <string>u1306D</string>
      <string>u1306E</string>
      <string>u1306F</string>
      <string>u13070</string>
      <string>u13071</string>
      <string>u13072</string>
      <string>u13073</string>
      <string>u13074</string>
      <string>u13075</string>
      <string>u13076</string>
      <string>u13077</string>
      <string>u13078</string>
      <string>u13079</string>
      <string>u1307A</string>
      <string>u1307B</string>
      <string>u1307C</string>
      <string>u1307D</string>
      <string>u1307E</string>
      <string>u1307F</string>
      <string>u13080</string>
      <string>u13081</string>
      <string>u13082</string>
      <string>u13083</string>
      <string>u13084</string>
      <string>u13085</string>
      <string>u13086</string>
      <string>u13087</string>
      <string>u13088</string>
      <string>u13089</string>
      <string>u1308A</string>
      <string>u1308B</string>
      <string>u1308C</string>
      <string>u1308D</string>
      <string>u1308E</string>
      <string>u1308F</string>
      <string>u13090</string>
      <string>u13091</string>
      <string>u13092</string>
      <string>u13093</string>
      <string>u13094</string>
      <string>u13095</string>
      <string>u13096</string>
      <string>u13097</string>
      <string>u13098</string>
      <string>u13099</string>
      <string>u1309A</string>
      <string>u1309B</string>
      <string>u1309C</string>
      <string>u1309D</string>
      <string>u1309E</string>
      <string>u1309F</string>
      <string>u130A0</string>
      <string>u130A1</string>
      <string>u130A2</string>
      <string>u130A3</string>
      <string>u130A4</string>
      <string>u130A5</string>
      <string>u130A6</string>
      <string>u130A7</string>
      <string>u130A8</string>
      <string>u130A9</string>
      <string>u130AA</string>
      <string>u130AB</string>
      <string>u130AC</string>
      <string>u130AD</string>
      <string>u130AE</string>
      <string>u130AF</string>
      <string>u130B0</string>
      <string>u130B1</string>
      <string>u130B2</string>
      <string>u130B3</string>
      <string>u130B4</string>
      <string>u130B5</string>
      <string>u130B6</string>
      <string>u130B7</string>
      <string>u130B8</string>
      <string>u130B9</string>
      <string>u130BA</string>
      <string>u130BB</string>
      <string>u130BC</string>
      <string>u130BD</string>
      <string>u130BE</string>
      <string>u130BF</string>
      <string>u130C0</string>
      <string>u130C1</string>
      <string>u130C2</string>
      <string>u130C3</string>
      <string>u130C4</string>
      <string>u130C5</string>
      <string>u130C6</string>
      <string>u130C7</string>
      <string>u130C8</string>
      <string>u130C9</string>
      <string>u130CA</string>
      <string>u130CB</string>
      <string>u130CC</string>
      <string>u130CD</string>
      <string>u130CE</string>
      <string>u130CF</string>
      <string>u130D0</string>
      <string>u130D1</string>
      <string>u130D2</string>
      <string>u130D3</string>
      <string>u130D4</string>
      <string>u130D5</string>
      <string>u130D6</string>
      <string>u130D7</string>
      <string>u130D8</string>
      <string>u130D9</string>
      <string>u130DA</string>
      <string>u130DB</string>
      <string>u130DC</string>
      <string>u130DD</string>
      <string>u130DE</string>
      <string>u130DF</string>
      <string>u130E0</string>
      <string>u130E1</string>
      <string>u130E2</string>
      <string>u130E3</string>
      <string>u130E4</string>
      <string>u130E5</string>
      <string>u130E6</string>
      <string>u130E7</string>
      <string>u130E8</string>
      <string>u130E9</string>
      <string>u130EA</string>
      <string>u130EB</string>
      <string>u130EC</string>
      <string>u130ED</string>
      <string>u130EE</string>
      <string>u130EF</string>
      <string>u130F0</string>
      <string>u130F1</string>
      <string>u130F2</string>
      <string>u130F3</string>
      <string>u130F4</string>
      <string>u130F5</string>
      <string>u130F6</string>
      <string>u130F7</string>
      <string>u130F8</string>
      <string>u130F9</string>
      <string>u130FA</string>
      <string>u130FB</string>
      <string>u130FC</string>
      <string>u130FD</string>
      <string>u130FE</string>
      <string>u130FF</string>
      <string>u13100</string>
      <string>u13101</string>
      <string>u13102</string>
      <string>u13103</string>
      <string>u13104</string>
      <string>u13105</string>
      <string>u13106</string>
      <string>u13107</string>
      <string>u13108</string>
      <string>u13109</string>
      <string>u1310A</string>
      <string>u1310B</string>
      <string>u1310C</string>
      <string>u1310D</string>
      <string>u1310E</string>
      <string>u1310F</string>
      <string>u13110</string>
      <string>u13111</string>
      <string>u13112</string>
      <string>u13113</string>
      <string>u13114</string>
      <string>u13115</string>
      <string>u13116</string>
      <string>u13117</string>
      <string>u13118</string>
      <string>u13119</string>
      <string>u1311A</string>
      <string>u1311B</string>
      <string>u1311C</string>
      <string>u1311D</string>
      <string>u1311E</string>
      <string>u1311F</string>
      <string>u13120</string>
      <string>u13121</string>
      <string>u13122</string>
      <string>u13123</string>
      <string>u13124</string>
      <string>u13125</string>
      <string>u13126</string>
      <string>u13127</string>
      <string>u13128</string>
      <string>u13129</string>
      <string>u1312A</string>
      <string>u1312B</string>
      <string>u1312C</string>
      <string>u1312D</string>
      <string>u1312E</string>
      <string>u1312F</string>
      <string>u13130</string>
      <string>u13131</string>
      <string>u13132</string>
      <string>u13133</string>
      <string>u13134</string>
      <string>u13135</string>
      <string>u13136</string>
      <string>u13137</string>
      <string>u13138</string>
      <string>u13139</string>
      <string>u1313A</string>
      <string>u1313B</string>
      <string>u1313C</string>
      <string>u1313D</string>
      <string>u1313E</string>
      <string>u1313F</string>
      <string>u13140</string>
      <string>u13141</string>
      <string>u13142</string>
      <string>u13143</string>
      <string>u13144</string>
      <string>u13145</string>
      <string>u13146</string>
      <string>u13147</string>
      <string>u13148</string>
      <string>u13149</string>
      <string>u1314A</string>
      <string>u1314B</string>
      <string>u1314C</string>
      <string>u1314D</string>
      <string>u1314E</string>
      <string>u1314F</string>
      <string>u13150</string>
      <string>u13151</string>
      <string>u13152</string>
      <string>u13153</string>
      <string>u13154</string>
      <string>u13155</string>
      <string>u13156</string>
      <string>u13157</string>
      <string>u13158</string>
      <string>u13159</string>
      <string>u1315A</string>
      <string>u1315B</string>
      <string>u1315C</string>
      <string>u1315D</string>
      <string>u1315E</string>
      <string>u1315F</string>
      <string>u13160</string>
      <string>u13161</string>
      <string>u13162</string>
      <string>u13163</string>
      <string>u13164</string>
      <string>u13165</string>
      <string>u13166</string>
      <string>u13167</string>
      <string>u13168</string>
      <string>u13169</string>
      <string>u1316A</string>
      <string>u1316B</string>
      <string>u1316C</string>
      <string>u1316D</string>
      <string>u1316E</string>
      <string>u1316F</string>
      <string>u13170</string>
      <string>u13171</string>
      <string>u13172</string>
      <string>u13173</string>
      <string>u13174</string>
      <string>u13175</string>
      <string>u13176</string>
      <string>u13177</string>
      <string>u13178</string>
      <string>u13179</string>
      <string>u1317A</string>
      <string>u1317B</string>
      <string>u1317C</string>
      <string>u1317D</string>
      <string>u1317E</string>
      <string>u1317F</string>
      <string>u13180</string>
      <string>u13181</string>
      <string>u13182</string>
      <string>u13183</string>
      <string>u13184</string>
      <string>u13185</string>
      <string>u13186</string>
      <string>u13187</string>
      <string>u13188</string>
      <string>u13189</string>
      <string>u1318A</string>
      <string>u1318B</string>
      <string>u1318C</string>
      <string>u1318D</string>
      <string>u1318E</string>
      <string>u1318F</string>
      <string>u13190</string>
      <string>u13191</string>
      <string>u13192</string>
      <string>u13193</string>
      <string>u13194</string>
      <string>u13195</string>
      <string>u13196</string>
      <string>u13197</string>
      <string>u13198</string>
      <string>u13199</string>
      <string>u1319A</string>
      <string>u1319B</string>
      <string>u1319C</string>
      <string>u1319D</string>
      <string>u1319E</string>
      <string>u1319F</string>
      <string>u131A0</string>
      <string>u131A1</string>
      <string>u131A2</string>
      <string>u131A3</string>
      <string>u131A4</string>
      <string>u131A5</string>
      <string>u131A6</string>
      <string>u131A7</string>
      <string>u131A8</string>
      <string>u131A9</string>
      <string>u131AA</string>
      <string>u131AB</string>
      <string>u131AC</string>
      <string>u131AD</string>
      <string>u131AE</string>
      <string>u131AF</string>
      <string>u131B0</string>
      <string>u131B1</string>
      <string>u131B2</string>
      <string>u131B3</string>
      <string>u131B4</string>
      <string>u131B5</string>
      <string>u131B6</string>
      <string>u131B7</string>
      <string>u131B8</string>
      <string>u131B9</string>
      <string>u131BA</string>
      <string>u131BB</string>
      <string>u131BC</string>
      <string>u131BD</string>
      <string>u131BE</string>
      <string>u131BF</string>
      <string>u131C0</string>
      <string>u131C1</string>
      <string>u131C2</string>
      <string>u131C3</string>
      <string>u131C4</string>
      <string>u131C5</string>
      <string>u131C6</string>
      <string>u131C7</string>
      <string>u131C8</string>
      <string>u131C9</string>
      <string>u131CA</string>
      <string>u131CB</string>
      <string>u131CC</string>
      <string>u131CD</string>
      <string>u131CE</string>
      <string>u131CF</string>
      <string>u131D0</string>
      <string>u131D1</string>
      <string>u131D2</string>
      <string>u131D3</string>
      <string>u131D4</string>
      <string>u131D5</string>
      <string>u131D6</string>
      <string>u131D7</string>
      <string>u131D8</string>
      <string>u131D9</string>
      <string>u131DA</string>
      <string>u131DB</string>
      <string>u131DC</string>
      <string>u131DD</string>
      <string>u131DE</string>
      <string>u131DF</string>
      <string>u131E0</string>
      <string>u131E1</string>
      <string>u131E2</string>
      <string>u131E3</string>
      <string>u131E4</string>
      <string>u131E5</string>
      <string>u131E6</string>
      <string>u131E7</string>
      <string>u131E8</string>
      <string>u131E9</string>
      <string>u131EA</string>
      <string>u131EB</string>
      <string>u131EC</string>
      <string>u131ED</string>
      <string>u131EE</string>
      <string>u131EF</string>
      <string>u131F0</string>
      <string>u131F1</string>
      <string>u131F2</string>
      <string>u131F3</string>
      <string>u131F4</string>
      <string>u131F5</string>
      <string>u131F6</string>
      <string>u131F7</string>
      <string>u131F8</string>
      <string>u131F9</string>
      <string>u131FA</string>
      <string>u131FB</string>
      <string>u131FC</string>
      <string>u131FD</string>
      <string>u131FE</string>
      <string>u131FF</string>
      <string>u13200</string>
      <string>u13201</string>
      <string>u13202</string>
      <string>u13203</string>
      <string>u13204</string>
      <string>u13205</string>
      <string>u13206</string>
      <string>u13207</string>
      <string>u13208</string>
      <string>u13209</string>
      <string>u1320A</string>
      <string>u1320B</string>
      <string>u1320C</string>
      <string>u1320D</string>
      <string>u1320E</string>
      <string>u1320F</string>
      <string>u13210</string>
      <string>u13211</string>
      <string>u13212</string>
      <string>u13213</string>
      <string>u13214</string>
      <string>u13215</string>
      <string>u13216</string>
      <string>u13217</string>
      <string>u13218</string>
      <string>u13219</string>
      <string>u1321A</string>
      <string>u1321B</string>
      <string>u1321C</string>
      <string>u1321D</string>
      <string>u1321E</string>
      <string>u1321F</string>
      <string>u13220</string>
      <string>u13221</string>
      <string>u13222</string>
      <string>u13223</string>
      <string>u13224</string>
      <string>u13225</string>
      <string>u13226</string>
      <string>u13227</string>
      <string>u13228</string>
      <string>u13229</string>
      <string>u1322A</string>
      <string>u1322B</string>
      <string>u1322C</string>
      <string>u1322D</string>
      <string>u1322E</string>
      <string>u1322F</string>
      <string>u13230</string>
      <string>u13231</string>
      <string>u13232</string>
      <string>u13233</string>
      <string>u13234</string>
      <string>u13235</string>
      <string>u13236</string>
      <string>u13237</string>
      <string>u13238</string>
      <string>u13239</string>
      <string>u1323A</string>
      <string>u1323B</string>
      <string>u1323C</string>
      <string>u1323D</string>
      <string>u1323E</string>
      <string>u1323F</string>
      <string>u13240</string>
      <string>u13241</string>
      <string>u13242</string>
      <string>u13243</string>
      <string>u13244</string>
      <string>u13245</string>
      <string>u13246</string>
      <string>u13247</string>
      <string>u13248</string>
      <string>u13249</string>
      <string>u1324A</string>
      <string>u1324B</string>
      <string>u1324C</string>
      <string>u1324D</string>
      <string>u1324E</string>
      <string>u1324F</string>
      <string>u13250</string>
      <string>u13251</string>
      <string>u13252</string>
      <string>u13253</string>
      <string>u13254</string>
      <string>u13255</string>
      <string>u13256</string>
      <string>u13257</string>
      <string>u13258</string>
      <string>u13259</string>
      <string>u1325A</string>
      <string>u1325B</string>
      <string>u1325C</string>
      <string>u1325D</string>
      <string>u1325E</string>
      <string>u1325F</string>
      <string>u13260</string>
      <string>u13261</string>
      <string>u13262</string>
      <string>u13263</string>
      <string>u13264</string>
      <string>u13265</string>
      <string>u13266</string>
      <string>u13267</string>
      <string>u13268</string>
      <string>u13269</string>
      <string>u1326A</string>
      <string>u1326B</string>
      <string>u1326C</string>
      <string>u1326D</string>
      <string>u1326E</string>
      <string>u1326F</string>
      <string>u13270</string>
      <string>u13271</string>
      <string>u13272</string>
      <string>u13273</string>
      <string>u13274</string>
      <string>u13275</string>
      <string>u13276</string>
      <string>u13277</string>
      <string>u13278</string>
      <string>u13279</string>
      <string>u1327A</string>
      <string>u1327B</string>
      <string>u1327C</string>
      <string>u1327D</string>
      <string>u1327E</string>
      <string>u1327F</string>
      <string>u13280</string>
      <string>u13281</string>
      <string>u13282</string>
      <string>u13283</string>
      <string>u13284</string>
      <string>u13285</string>
      <string>u13286</string>
      <string>u13287</string>
      <string>u13288</string>
      <string>u13289</string>
      <string>u1328A</string>
      <string>u1328B</string>
      <string>u1328C</string>
      <string>u1328D</string>
      <string>u1328E</string>
      <string>u1328F</string>
      <string>u13290</string>
      <string>u13291</string>
      <string>u13292</string>
      <string>u13293</string>
      <string>u13294</string>
      <string>u13295</string>
      <string>u13296</string>
      <string>u13297</string>
      <string>u13298</string>
      <string>u13299</string>
      <string>u1329A</string>
      <string>u1329B</string>
      <string>u1329C</string>
      <string>u1329D</string>
      <string>u1329E</string>
      <string>u1329F</string>
      <string>u132A0</string>
      <string>u132A1</string>
      <string>u132A2</string>
      <string>u132A3</string>
      <string>u132A4</string>
      <string>u132A5</string>
      <string>u132A6</string>
      <string>u132A7</string>
      <string>u132A8</string>
      <string>u132A9</string>
      <string>u132AA</string>
      <string>u132AB</string>
      <string>u132AC</string>
      <string>u132AD</string>
      <string>u132AE</string>
      <string>u132AF</string>
      <string>u132B0</string>
      <string>u132B1</string>
      <string>u132B2</string>
      <string>u132B3</string>
      <string>u132B4</string>
      <string>u132B5</string>
      <string>u132B6</string>
      <string>u132B7</string>
      <string>u132B8</string>
      <string>u132B9</string>
      <string>u132BA</string>
      <string>u132BB</string>
      <string>u132BC</string>
      <string>u132BD</string>
      <string>u132BE</string>
      <string>u132BF</string>
      <string>u132C0</string>
      <string>u132C1</string>
      <string>u132C2</string>
      <string>u132C3</string>
      <string>u132C4</string>
      <string>u132C5</string>
      <string>u132C6</string>
      <string>u132C7</string>
      <string>u132C8</string>
      <string>u132C9</string>
      <string>u132CA</string>
      <string>u132CB</string>
      <string>u132CC</string>
      <string>u132CD</string>
      <string>u132CE</string>
      <string>u132CF</string>
      <string>u132D0</string>
      <string>u132D1</string>
      <string>u132D2</string>
      <string>u132D3</string>
      <string>u132D4</string>
      <string>u132D5</string>
      <string>u132D6</string>
      <string>u132D7</string>
      <string>u132D8</string>
      <string>u132D9</string>
      <string>u132DA</string>
      <string>u132DB</string>
      <string>u132DC</string>
      <string>u132DD</string>
      <string>u132DE</string>
      <string>u132DF</string>
      <string>u132E0</string>
      <string>u132E1</string>
      <string>u132E2</string>
      <string>u132E3</string>
      <string>u132E4</string>
      <string>u132E5</string>
      <string>u132E6</string>
      <string>u132E7</string>
      <string>u132E8</string>
      <string>u132E9</string>
      <string>u132EA</string>
      <string>u132EB</string>
      <string>u132EC</string>
      <string>u132ED</string>
      <string>u132EE</string>
      <string>u132EF</string>
      <string>u132F0</string>
      <string>u132F1</string>
      <string>u132F2</string>
      <string>u132F3</string>
      <string>u132F4</string>
      <string>u132F5</string>
      <string>u132F6</string>
      <string>u132F7</string>
      <string>u132F8</string>
      <string>u132F9</string>
      <string>u132FA</string>
      <string>u132FB</string>
      <string>u132FC</string>
      <string>u132FD</string>
      <string>u132FE</string>
      <string>u132FF</string>
      <string>u13300</string>
      <string>u13301</string>
      <string>u13302</string>
      <string>u13303</string>
      <string>u13304</string>
      <string>u13305</string>
      <string>u13306</string>
      <string>u13307</string>
      <string>u13308</string>
      <string>u13309</string>
      <string>u1330A</string>
      <string>u1330B</string>
      <string>u1330C</string>
      <string>u1330D</string>
      <string>u1330E</string>
      <string>u1330F</string>
      <string>u13310</string>
      <string>u13311</string>
      <string>u13312</string>
      <string>u13313</string>
      <string>u13314</string>
      <string>u13315</string>
      <string>u13316</string>
      <string>u13317</string>
      <string>u13318</string>
      <string>u13319</string>
      <string>u1331A</string>
      <string>u1331B</string>
      <string>u1331C</string>
      <string>u1331D</string>
      <string>u1331E</string>
      <string>u1331F</string>
      <string>u13320</string>
      <string>u13321</string>
      <string>u13322</string>
      <string>u13323</string>
      <string>u13324</string>
      <string>u13325</string>
      <string>u13326</string>
      <string>u13327</string>
      <string>u13328</string>
      <string>u13329</string>
      <string>u1332A</string>
      <string>u1332B</string>
      <string>u1332C</string>
      <string>u1332D</string>
      <string>u1332E</string>
      <string>u1332F</string>
      <string>u13330</string>
      <string>u13331</string>
      <string>u13332</string>
      <string>u13333</string>
      <string>u13334</string>
      <string>u13335</string>
      <string>u13336</string>
      <string>u13337</string>
      <string>u13338</string>
      <string>u13339</string>
      <string>u1333A</string>
      <string>u1333B</string>
      <string>u1333C</string>
      <string>u1333D</string>
      <string>u1333E</string>
      <string>u1333F</string>
      <string>u13340</string>
      <string>u13341</string>
      <string>u13342</string>
      <string>u13343</string>
      <string>u13344</string>
      <string>u13345</string>
      <string>u13346</string>
      <string>u13347</string>
      <string>u13348</string>
      <string>u13349</string>
      <string>u1334A</string>
      <string>u1334B</string>
      <string>u1334C</string>
      <string>u1334D</string>
      <string>u1334E</string>
      <string>u1334F</string>
      <string>u13350</string>
      <string>u13351</string>
      <string>u13352</string>
      <string>u13353</string>
      <string>u13354</string>
      <string>u13355</string>
      <string>u13356</string>
      <string>u13357</string>
      <string>u13358</string>
      <string>u13359</string>
      <string>u1335A</string>
      <string>u1335B</string>
      <string>u1335C</string>
      <string>u1335D</string>
      <string>u1335E</string>
      <string>u1335F</string>
      <string>u13360</string>
      <string>u13361</string>
      <string>u13362</string>
      <string>u13363</string>
      <string>u13364</string>
      <string>u13365</string>
      <string>u13366</string>
      <string>u13367</string>
      <string>u13368</string>
      <string>u13369</string>
      <string>u1336A</string>
      <string>u1336B</string>
      <string>u1336C</string>
      <string>u1336D</string>
      <string>u13370</string>
      <string>u13371</string>
      <string>u13372</string>
      <string>u13373</string>
      <string>u13374</string>
      <string>u13375</string>
      <string>u13376</string>
      <string>u13377</string>
      <string>u13378</string>
      <string>u13379</string>
      <string>u1337A</string>
      <string>u1337B</string>
      <string>u1337C</string>
      <string>u1337D</string>
      <string>u13380</string>
      <string>u13381</string>
      <string>u13382</string>
      <string>u13383</string>
      <string>u13384</string>
      <string>u13385</string>
      <string>u13386</string>
      <string>u13387</string>
      <string>u13388</string>
      <string>u13389</string>
      <string>u1338A</string>
      <string>u1338B</string>
      <string>u1338C</string>
      <string>u1338D</string>
      <string>u1338E</string>
      <string>u1338F</string>
      <string>u13390</string>
      <string>u13391</string>
      <string>u13392</string>
      <string>u13393</string>
      <string>u13394</string>
      <string>u13395</string>
      <string>u13396</string>
      <string>u13397</string>
      <string>u13398</string>
      <string>u13399</string>
      <string>u1339A</string>
      <string>u1339B</string>
      <string>u1339C</string>
      <string>u1339D</string>
      <string>u1339E</string>
      <string>u1339F</string>
      <string>u133A0</string>
      <string>u133A1</string>
      <string>u133A2</string>
      <string>u133A3</string>
      <string>u133A4</string>
      <string>u133A5</string>
      <string>u133A6</string>
      <string>u133A7</string>
      <string>u133A8</string>
      <string>u133A9</string>
      <string>u133AA</string>
      <string>u133AB</string>
      <string>u133AC</string>
      <string>u133AD</string>
      <string>u133B0</string>
      <string>u133B1</string>
      <string>u133B2</string>
      <string>u133B3</string>
      <string>u133B4</string>
      <string>u133B5</string>
      <string>u133B6</string>
      <string>u133B7</string>
      <string>u133B8</string>
      <string>u133B9</string>
      <string>u133BA</string>
      <string>u133BB</string>
      <string>u133BC</string>
      <string>u133BD</string>
      <string>u133BE</string>
      <string>u133BF</string>
      <string>u133C0</string>
      <string>u133C1</string>
      <string>u133C2</string>
      <string>u133C3</string>
      <string>u133C4</string>
      <string>u133C5</string>
      <string>u133C6</string>
      <string>u133C7</string>
      <string>u133C8</string>
      <string>u133C9</string>
      <string>u133CA</string>
      <string>u133CB</string>
      <string>u133CC</string>
      <string>u133CD</string>
      <string>u133CE</string>
      <string>u133CF</string>
      <string>u133D0</string>
      <string>u133D1</string>
      <string>u133D2</string>
      <string>u133D3</string>
      <string>u133D4</string>
      <string>u133D5</string>
      <string>u133D6</string>
      <string>u133D7</string>
      <string>u133D8</string>
      <string>u133D9</string>
      <string>u133DA</string>
      <string>u133DB</string>
      <string>u133DC</string>
      <string>u133DD</string>
      <string>u133DE</string>
      <string>u133DF</string>
      <string>u133E0</string>
      <string>u133E1</string>
      <string>u133E2</string>
      <string>u133E3</string>
      <string>u133E4</string>
      <string>u133E5</string>
      <string>u133E6</string>
      <string>u133E7</string>
      <string>u133E8</string>
      <string>u133E9</string>
      <string>u133EA</string>
      <string>u133EB</string>
      <string>u133EC</string>
      <string>u133ED</string>
      <string>u133EE</string>
      <string>u133EF</string>
      <string>u133F0</string>
      <string>u133F1</string>
      <string>u133F2</string>
      <string>u133F3</string>
      <string>u133F4</string>
      <string>u133F5</string>
      <string>u133F6</string>
      <string>u133F7</string>
      <string>u133F8</string>
      <string>u133F9</string>
      <string>u133FA</string>
      <string>u133FB</string>
      <string>u133FC</string>
      <string>u133FD</string>
      <string>u133FE</string>
      <string>u133FF</string>
      <string>u13400</string>
      <string>u13401</string>
      <string>u13402</string>
      <string>u13403</string>
      <string>u13404</string>
      <string>u13405</string>
      <string>u13406</string>
      <string>u13407</string>
      <string>u13408</string>
      <string>u13409</string>
      <string>u1340A</string>
      <string>u1340B</string>
      <string>u1340C</string>
      <string>u1340D</string>
      <string>u1340E</string>
      <string>u1340F</string>
      <string>u13410</string>
      <string>u13411</string>
      <string>u13412</string>
      <string>u13413</string>
      <string>u13414</string>
      <string>u13415</string>
      <string>u13416</string>
      <string>u13417</string>
      <string>u13418</string>
      <string>u13419</string>
      <string>u1341A</string>
      <string>u1341B</string>
      <string>u1341C</string>
      <string>u1341D</string>
      <string>u1341E</string>
      <string>u1341F</string>
      <string>u13420</string>
      <string>u13421</string>
      <string>u13422</string>
      <string>u13423</string>
      <string>u13424</string>
      <string>u13425</string>
      <string>u13426</string>
      <string>u13427</string>
      <string>u13428</string>
      <string>u13429</string>
      <string>u1342A</string>
      <string>u1342B</string>
      <string>u1342C</string>
      <string>u1342D</string>
      <string>u1342E</string>
      <string>uni00A0</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
    </array>
  </dict>
</plist>
