<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>iya.ligature</key>
    <string>iya.ligature.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1A00</key>
    <string>uni1A_00.glif</string>
    <key>uni1A01</key>
    <string>uni1A_01.glif</string>
    <key>uni1A02</key>
    <string>uni1A_02.glif</string>
    <key>uni1A03</key>
    <string>uni1A_03.glif</string>
    <key>uni1A04</key>
    <string>uni1A_04.glif</string>
    <key>uni1A05</key>
    <string>uni1A_05.glif</string>
    <key>uni1A06</key>
    <string>uni1A_06.glif</string>
    <key>uni1A07</key>
    <string>uni1A_07.glif</string>
    <key>uni1A08</key>
    <string>uni1A_08.glif</string>
    <key>uni1A09</key>
    <string>uni1A_09.glif</string>
    <key>uni1A0A</key>
    <string>uni1A_0A_.glif</string>
    <key>uni1A0B</key>
    <string>uni1A_0B_.glif</string>
    <key>uni1A0C</key>
    <string>uni1A_0C_.glif</string>
    <key>uni1A0D</key>
    <string>uni1A_0D_.glif</string>
    <key>uni1A0E</key>
    <string>uni1A_0E_.glif</string>
    <key>uni1A0F</key>
    <string>uni1A_0F_.glif</string>
    <key>uni1A10</key>
    <string>uni1A_10.glif</string>
    <key>uni1A11</key>
    <string>uni1A_11.glif</string>
    <key>uni1A12</key>
    <string>uni1A_12.glif</string>
    <key>uni1A13</key>
    <string>uni1A_13.glif</string>
    <key>uni1A14</key>
    <string>uni1A_14.glif</string>
    <key>uni1A15</key>
    <string>uni1A_15.glif</string>
    <key>uni1A16</key>
    <string>uni1A_16.glif</string>
    <key>uni1A17</key>
    <string>uni1A_17.glif</string>
    <key>uni1A18</key>
    <string>uni1A_18.glif</string>
    <key>uni1A19</key>
    <string>uni1A_19.glif</string>
    <key>uni1A1A</key>
    <string>uni1A_1A_.glif</string>
    <key>uni1A1B</key>
    <string>uni1A_1B_.glif</string>
    <key>uni1A1E</key>
    <string>uni1A_1E_.glif</string>
    <key>uni1A1F</key>
    <string>uni1A_1F_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA9CF</key>
    <string>uniA_9C_F_.glif</string>
  </dict>
</plist>
