<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A.left</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern1.Alpha</key>
    <array>
      <string>Delta</string>
      <string>Alpha</string>
      <string>Lambda</string>
    </array>
    <key>public.kern1.C.left</key>
    <array>
      <string>C</string>
    </array>
    <key>public.kern1.E.left</key>
    <array>
      <string>E</string>
    </array>
    <key>public.kern1.Epsilon</key>
    <array>
      <string>Epsilon</string>
    </array>
    <key>public.kern1.Eta</key>
    <array>
      <string>Eta</string>
    </array>
    <key>public.kern1.Gamma</key>
    <array>
      <string>Gamma</string>
      <string>Tau</string>
    </array>
    <key>public.kern1.Iota</key>
    <array>
      <string>Iota</string>
    </array>
    <key>public.kern1.K.left</key>
    <array>
      <string>K</string>
      <string>X</string>
    </array>
    <key>public.kern1.Kappa</key>
    <array>
      <string>Kappa</string>
      <string>Chi</string>
    </array>
    <key>public.kern1.L.left</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.O.left</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
    </array>
    <key>public.kern1.P.left</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.Rho</key>
    <array>
      <string>Rho</string>
    </array>
    <key>public.kern1.T.left</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.Theta</key>
    <array>
      <string>Theta</string>
      <string>Omicron</string>
    </array>
    <key>public.kern1.U.left</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern1.Upsilon</key>
    <array>
      <string>Upsilon</string>
    </array>
    <key>public.kern1.V.left</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern1.Y.left</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.Z.left</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.alpha</key>
    <array>
      <string>alpha</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>l</string>
    </array>
    <key>public.kern1.epsilon</key>
    <array>
      <string>epsilon</string>
    </array>
    <key>public.kern1.eta</key>
    <array>
      <string>eta</string>
    </array>
    <key>public.kern1.f.left</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.gamma</key>
    <array>
      <string>gamma</string>
      <string>nu</string>
    </array>
    <key>public.kern1.hyphen.left</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.iota</key>
    <array>
      <string>iota</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.k.left</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.n.left</key>
    <array>
      <string>a</string>
      <string>h</string>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern1.o.left</key>
    <array>
      <string>b</string>
      <string>e</string>
      <string>o</string>
      <string>p</string>
    </array>
    <key>public.kern1.omicron</key>
    <array>
      <string>omicron</string>
      <string>rho</string>
      <string>phi</string>
    </array>
    <key>public.kern1.paren.left</key>
    <array>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>braceleft.full</string>
    </array>
    <key>public.kern1.period.left</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern1.quote.left</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r.left</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.sigma</key>
    <array>
      <string>sigma</string>
    </array>
    <key>public.kern1.t.left</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern1.uni03A9</key>
    <array>
      <string>Omega</string>
    </array>
    <key>public.kern1.upsilon</key>
    <array>
      <string>upsilon</string>
      <string>psi</string>
      <string>omega</string>
    </array>
    <key>public.kern1.v.left</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
    </array>
    <key>public.kern2.A.right</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern2.Alpha</key>
    <array>
      <string>Delta</string>
      <string>Alpha</string>
      <string>Lambda</string>
    </array>
    <key>public.kern2.Iota</key>
    <array>
      <string>Iota</string>
    </array>
    <key>public.kern2.O.right</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
    </array>
    <key>public.kern2.Paren.right</key>
    <array>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketright</string>
      <string>braceright.full</string>
    </array>
    <key>public.kern2.T.right</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.Theta</key>
    <array>
      <string>Theta</string>
      <string>Omicron</string>
    </array>
    <key>public.kern2.U.right</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.Upsilon</key>
    <array>
      <string>Upsilon</string>
    </array>
    <key>public.kern2.V.right</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern2.Y.right</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.Z.right</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a.right</key>
    <array>
      <string>a</string>
    </array>
    <key>public.kern2.alpha</key>
    <array>
      <string>alpha</string>
      <string>omicron</string>
      <string>sigmafinal</string>
      <string>sigma</string>
      <string>phi</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.epsilon</key>
    <array>
      <string>epsilon</string>
    </array>
    <key>public.kern2.eta</key>
    <array>
      <string>eta</string>
      <string>kappa</string>
      <string>mu</string>
    </array>
    <key>public.kern2.f.right</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern2.g.right</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.gamma</key>
    <array>
      <string>gamma</string>
      <string>nu</string>
    </array>
    <key>public.kern2.hyphen.right</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.iota</key>
    <array>
      <string>iota</string>
    </array>
    <key>public.kern2.n.right</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>u</string>
    </array>
    <key>public.kern2.o.right</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>o</string>
      <string>q</string>
    </array>
    <key>public.kern2.period.right</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern2.quote.right</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.rho</key>
    <array>
      <string>rho</string>
    </array>
    <key>public.kern2.s.right</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.t.right</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.tau</key>
    <array>
      <string>pi</string>
      <string>tau</string>
    </array>
    <key>public.kern2.upsilon</key>
    <array>
      <string>upsilon</string>
      <string>psi</string>
      <string>omega</string>
    </array>
    <key>public.kern2.v.right</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
    </array>
    <key>public.kern2.z.right</key>
    <array>
      <string>z</string>
    </array>
  </dict>
</plist>
