<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1069</integer>
	<key>capHeight</key>
	<integer>714</integer>
	<key>copyright</key>
	<string>Copyright 2022 Google Inc. All Rights Reserved.</string>
	<key>descender</key>
	<integer>-293</integer>
	<key>familyName</key>
	<string>Noto Serif Makasar</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>495</integer>
			<key>y</key>
			<integer>689</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>632</integer>
			<key>y</key>
			<integer>208</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>503</integer>
			<key>y</key>
			<integer>94</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>454</integer>
			<key>y</key>
			<integer>478</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>424</integer>
			<key>y</key>
			<integer>562</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>608</integer>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2021/12/30 02:09:50</string>
	<key>openTypeHheaAscender</key>
	<integer>1069</integer>
	<key>openTypeHheaDescender</key>
	<integer>-293</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string>Designed by Sérgio Martins</string>
	<key>openTypeNameDesigner</key>
	<string>Sérgio Martins</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.google.com/get/noto/</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>6</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>1069</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-293</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>GOOG</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1069</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>293</integer>
	<key>postscriptBlueValues</key>
	<array>
		<real>-15.0</real>
		<real>0.0</real>
		<real>536.0</real>
		<real>551.0</real>
		<real>714.0</real>
		<real>729.0</real>
		<real>1069.0</real>
		<real>1084.0</real>
	</array>
	<key>postscriptFontName</key>
	<string>NotoSerifMakasar-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
		<real>-308.0</real>
		<real>-293.0</real>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<real>90.0</real>
		<real>135.0</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>90.0</real>
		<real>124.0</real>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Noto is a trademark of Google Inc.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>536</integer>
</dict>
</plist>
