<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.github.googlei18n.ufo2ft.useProductionNames</key>
	<false/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>i_i-makasar</string>
		<string>u_u-makasar</string>
		<string>uni11EE0</string>
		<string>uni11EE1</string>
		<string>uni11EE2</string>
		<string>uni11EE4</string>
		<string>uni11EE5</string>
		<string>uni11EE6</string>
		<string>uni11EEA</string>
		<string>uni11EEB</string>
		<string>uni11EEC</string>
		<string>uni11EED</string>
		<string>uni11EF0</string>
		<string>uni11EF2</string>
		<string>uni11EF5</string>
		<string>uni11EF6</string>
		<string>uni11EF7</string>
		<string>uni11EF8</string>
		<string>uni11EE3</string>
		<string>uni11EE7</string>
		<string>uni11EE8</string>
		<string>uni11EE9</string>
		<string>uni11EEE</string>
		<string>uni11EEF</string>
		<string>uni11EF1</string>
		<string>uni11EF3</string>
		<string>uni11EF4</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>i_i-makasar</string>
		<string>u_u-makasar</string>
		<string>uni11EE0</string>
		<string>uni11EE1</string>
		<string>uni11EE2</string>
		<string>uni11EE4</string>
		<string>uni11EE5</string>
		<string>uni11EE6</string>
		<string>uni11EEA</string>
		<string>uni11EEB</string>
		<string>uni11EEC</string>
		<string>uni11EED</string>
		<string>uni11EF0</string>
		<string>uni11EF2</string>
		<string>uni11EF5</string>
		<string>uni11EF6</string>
		<string>uni11EF7</string>
		<string>uni11EF8</string>
		<string>uni11EE3</string>
		<string>uni11EE7</string>
		<string>uni11EE8</string>
		<string>uni11EE9</string>
		<string>uni11EEE</string>
		<string>uni11EEF</string>
		<string>uni11EF1</string>
		<string>uni11EF3</string>
		<string>uni11EF4</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>NULL</key>
		<string>.null</string>
	</dict>
</dict>
</plist>
