<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1700</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1701</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1702</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1703</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1704</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1705</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1706</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1707</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1708</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1709</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni170A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni170B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni170C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni170E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni170F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1710</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1711</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1712</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1713</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1714</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1735</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1736</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
