<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>CR</key>
		<string>C_R_.glif</string>
		<key>NULL</key>
		<string>N_U_L_L_.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>uni00A0</key>
		<string>uni00A_0.glif</string>
		<key>uni0323</key>
		<string>uni0323.glif</string>
		<key>uni16A0</key>
		<string>uni16A_0.glif</string>
		<key>uni16A1</key>
		<string>uni16A_1.glif</string>
		<key>uni16A2</key>
		<string>uni16A_2.glif</string>
		<key>uni16A3</key>
		<string>uni16A_3.glif</string>
		<key>uni16A4</key>
		<string>uni16A_4.glif</string>
		<key>uni16A5</key>
		<string>uni16A_5.glif</string>
		<key>uni16A6</key>
		<string>uni16A_6.glif</string>
		<key>uni16A7</key>
		<string>uni16A_7.glif</string>
		<key>uni16A8</key>
		<string>uni16A_8.glif</string>
		<key>uni16A9</key>
		<string>uni16A_9.glif</string>
		<key>uni16AA</key>
		<string>uni16A_A_.glif</string>
		<key>uni16AB</key>
		<string>uni16A_B_.glif</string>
		<key>uni16AC</key>
		<string>uni16A_C_.glif</string>
		<key>uni16AD</key>
		<string>uni16A_D_.glif</string>
		<key>uni16AE</key>
		<string>uni16A_E_.glif</string>
		<key>uni16AF</key>
		<string>uni16A_F_.glif</string>
		<key>uni16B0</key>
		<string>uni16B_0.glif</string>
		<key>uni16B1</key>
		<string>uni16B_1.glif</string>
		<key>uni16B2</key>
		<string>uni16B_2.glif</string>
		<key>uni16B3</key>
		<string>uni16B_3.glif</string>
		<key>uni16B4</key>
		<string>uni16B_4.glif</string>
		<key>uni16B5</key>
		<string>uni16B_5.glif</string>
		<key>uni16B6</key>
		<string>uni16B_6.glif</string>
		<key>uni16B7</key>
		<string>uni16B_7.glif</string>
		<key>uni16B8</key>
		<string>uni16B_8.glif</string>
		<key>uni16B9</key>
		<string>uni16B_9.glif</string>
		<key>uni16BA</key>
		<string>uni16B_A_.glif</string>
		<key>uni16BB</key>
		<string>uni16B_B_.glif</string>
		<key>uni16BC</key>
		<string>uni16B_C_.glif</string>
		<key>uni16BD</key>
		<string>uni16B_D_.glif</string>
		<key>uni16BE</key>
		<string>uni16B_E_.glif</string>
		<key>uni16BF</key>
		<string>uni16B_F_.glif</string>
		<key>uni16C0</key>
		<string>uni16C_0.glif</string>
		<key>uni16C1</key>
		<string>uni16C_1.glif</string>
		<key>uni16C2</key>
		<string>uni16C_2.glif</string>
		<key>uni16C3</key>
		<string>uni16C_3.glif</string>
		<key>uni16C4</key>
		<string>uni16C_4.glif</string>
		<key>uni16C5</key>
		<string>uni16C_5.glif</string>
		<key>uni16C6</key>
		<string>uni16C_6.glif</string>
		<key>uni16C7</key>
		<string>uni16C_7.glif</string>
		<key>uni16C8</key>
		<string>uni16C_8.glif</string>
		<key>uni16C9</key>
		<string>uni16C_9.glif</string>
		<key>uni16CA</key>
		<string>uni16C_A_.glif</string>
		<key>uni16CB</key>
		<string>uni16C_B_.glif</string>
		<key>uni16CC</key>
		<string>uni16C_C_.glif</string>
		<key>uni16CD</key>
		<string>uni16C_D_.glif</string>
		<key>uni16CE</key>
		<string>uni16C_E_.glif</string>
		<key>uni16CF</key>
		<string>uni16C_F_.glif</string>
		<key>uni16D0</key>
		<string>uni16D_0.glif</string>
		<key>uni16D1</key>
		<string>uni16D_1.glif</string>
		<key>uni16D2</key>
		<string>uni16D_2.glif</string>
		<key>uni16D3</key>
		<string>uni16D_3.glif</string>
		<key>uni16D4</key>
		<string>uni16D_4.glif</string>
		<key>uni16D5</key>
		<string>uni16D_5.glif</string>
		<key>uni16D6</key>
		<string>uni16D_6.glif</string>
		<key>uni16D7</key>
		<string>uni16D_7.glif</string>
		<key>uni16D8</key>
		<string>uni16D_8.glif</string>
		<key>uni16D9</key>
		<string>uni16D_9.glif</string>
		<key>uni16DA</key>
		<string>uni16D_A_.glif</string>
		<key>uni16DB</key>
		<string>uni16D_B_.glif</string>
		<key>uni16DC</key>
		<string>uni16D_C_.glif</string>
		<key>uni16DD</key>
		<string>uni16D_D_.glif</string>
		<key>uni16DE</key>
		<string>uni16D_E_.glif</string>
		<key>uni16DF</key>
		<string>uni16D_F_.glif</string>
		<key>uni16E0</key>
		<string>uni16E_0.glif</string>
		<key>uni16E1</key>
		<string>uni16E_1.glif</string>
		<key>uni16E2</key>
		<string>uni16E_2.glif</string>
		<key>uni16E3</key>
		<string>uni16E_3.glif</string>
		<key>uni16E4</key>
		<string>uni16E_4.glif</string>
		<key>uni16E5</key>
		<string>uni16E_5.glif</string>
		<key>uni16E6</key>
		<string>uni16E_6.glif</string>
		<key>uni16E7</key>
		<string>uni16E_7.glif</string>
		<key>uni16E8</key>
		<string>uni16E_8.glif</string>
		<key>uni16E9</key>
		<string>uni16E_9.glif</string>
		<key>uni16EA</key>
		<string>uni16E_A_.glif</string>
		<key>uni16EB</key>
		<string>uni16E_B_.glif</string>
		<key>uni16EC</key>
		<string>uni16E_C_.glif</string>
		<key>uni16ED</key>
		<string>uni16E_D_.glif</string>
		<key>uni16EE</key>
		<string>uni16E_E_.glif</string>
		<key>uni16EF</key>
		<string>uni16E_F_.glif</string>
		<key>uni16F0</key>
		<string>uni16F_0.glif</string>
		<key>uni16F1</key>
		<string>uni16F_1.glif</string>
		<key>uni16F2</key>
		<string>uni16F_2.glif</string>
		<key>uni16F3</key>
		<string>uni16F_3.glif</string>
		<key>uni16F4</key>
		<string>uni16F_4.glif</string>
		<key>uni16F5</key>
		<string>uni16F_5.glif</string>
		<key>uni16F6</key>
		<string>uni16F_6.glif</string>
		<key>uni16F7</key>
		<string>uni16F_7.glif</string>
		<key>uni16F8</key>
		<string>uni16F_8.glif</string>
	</dict>
</plist>
