<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>CD1BA946-C591-4E6E-B518-59E1940472FF</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.V-mdef</key>
			<integer>2</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
