<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.0585</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-243</integer>
      <key>public.kern2.uni055C</key>
      <integer>-269</integer>
      <key>public.kern2.uni055E</key>
      <integer>-379</integer>
      <key>uni055B</key>
      <integer>-189</integer>
      <key>uni055C</key>
      <integer>-223</integer>
      <key>uni055E</key>
      <integer>-310</integer>
    </dict>
    <key>public.kern1.uni0537</key>
    <dict>
      <key>public.kern2.uni0549</key>
      <integer>5</integer>
      <key>public.kern2.uni0554</key>
      <integer>0</integer>
      <key>public.kern2.uni0571</key>
      <integer>38</integer>
    </dict>
    <key>public.kern1.uni053A</key>
    <dict>
      <key>public.kern2.uni0546</key>
      <integer>-8</integer>
      <key>public.kern2.uni0547</key>
      <integer>-8</integer>
      <key>public.kern2.uni0563</key>
      <real>33.1432</real>
    </dict>
    <key>public.kern1.uni0540</key>
    <dict>
      <key>public.kern2.uni0531</key>
      <integer>-10</integer>
      <key>public.kern2.uni053A</key>
      <integer>-12</integer>
      <key>public.kern2.uni0545</key>
      <integer>-20</integer>
      <key>public.kern2.uni0549</key>
      <integer>-20</integer>
      <key>public.kern2.uni054E</key>
      <integer>-29</integer>
      <key>public.kern2.uni0554</key>
      <integer>-14</integer>
      <key>public.kern2.uni0555</key>
      <integer>-9</integer>
      <key>public.kern2.uni0563</key>
      <integer>31</integer>
      <key>public.kern2.uni0571</key>
      <integer>22</integer>
      <key>public.kern2.uni0577</key>
      <integer>19</integer>
      <key>public.kern2.uni057B</key>
      <integer>38</integer>
    </dict>
    <key>public.kern1.uni0543</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <real>25.0136</real>
    </dict>
    <key>public.kern1.uni0544</key>
    <dict>
      <key>public.kern2.uni053A</key>
      <integer>-15</integer>
      <key>public.kern2.uni0540</key>
      <integer>-33</integer>
      <key>public.kern2.uni0545</key>
      <integer>-11</integer>
      <key>public.kern2.uni0563</key>
      <integer>-35</integer>
      <key>public.kern2.uni0568</key>
      <integer>-20</integer>
      <key>public.kern2.uni0577</key>
      <integer>-35</integer>
      <key>public.kern2.uni0578</key>
      <integer>-20</integer>
      <key>public.kern2.uni0579</key>
      <integer>-25</integer>
      <key>public.kern2.uni057B</key>
      <integer>-35</integer>
      <key>public.kern2.uni057D</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni0552</key>
    <dict>
      <key>public.kern2.uni053A</key>
      <integer>17</integer>
      <key>public.kern2.uni053E</key>
      <integer>9</integer>
      <key>public.kern2.uni055B</key>
      <integer>-243</integer>
      <key>public.kern2.uni055C</key>
      <integer>-269</integer>
      <key>public.kern2.uni055E</key>
      <integer>-379</integer>
    </dict>
    <key>public.kern1.uni0555</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-50</integer>
      <key>public.kern2.uni055C</key>
      <integer>-50</integer>
      <key>public.kern2.uni055E</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.uni0561</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-189</integer>
      <key>public.kern2.uni055C</key>
      <integer>-223</integer>
      <key>public.kern2.uni055E</key>
      <integer>-310</integer>
      <key>uni0570</key>
      <integer>25</integer>
      <key>uni0573</key>
      <integer>25</integer>
    </dict>
    <key>public.kern1.uni0564</key>
    <dict>
      <key>public.kern2.uni0579</key>
      <integer>40</integer>
      <key>uni0533</key>
      <real>-89.0899</real>
    </dict>
    <key>public.kern1.uni0565</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-189</integer>
      <key>public.kern2.uni055C</key>
      <integer>-223</integer>
      <key>public.kern2.uni055E</key>
      <integer>-310</integer>
    </dict>
    <key>public.kern1.uni0566</key>
    <dict>
      <key>public.kern2.uni0568</key>
      <real>5.65387</real>
      <key>public.kern2.uni0577</key>
      <integer>20</integer>
      <key>public.kern2.uni0578</key>
      <integer>30</integer>
      <key>public.kern2.uni0579</key>
      <integer>79</integer>
      <key>uni0577</key>
      <integer>30</integer>
      <key>uni0579</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.uni0567</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <integer>-30</integer>
      <key>uni0581</key>
      <real>-8.39499</real>
    </dict>
    <key>public.kern1.uni056B</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-189</integer>
      <key>public.kern2.uni055C</key>
      <integer>-223</integer>
      <key>public.kern2.uni055E</key>
      <integer>-310</integer>
      <key>public.kern2.uni0577</key>
      <integer>-25</integer>
      <key>public.kern2.uni0579</key>
      <integer>40</integer>
      <key>public.kern2.uni057B</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.uni056F</key>
    <dict>
      <key>public.kern2.uni0579</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.uni0573</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>100</integer>
    </dict>
    <key>public.kern1.uni0574</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>100</integer>
    </dict>
    <key>public.kern1.uni0577</key>
    <dict>
      <key>public.kern2.uni0579</key>
      <integer>18</integer>
    </dict>
    <key>public.kern1.uni0579</key>
    <dict>
      <key>public.kern2.uni056B</key>
      <integer>-25</integer>
      <key>public.kern2.uni0579</key>
      <integer>59</integer>
      <key>public.kern2.uni0587</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.uni0582</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-189</integer>
      <key>public.kern2.uni055C</key>
      <integer>-223</integer>
      <key>public.kern2.uni055E</key>
      <integer>-283</integer>
      <key>uni0573</key>
      <integer>25</integer>
    </dict>
    <key>uni0531</key>
    <dict>
      <key>public.kern2.uni0531</key>
      <real>-14.6484</real>
      <key>public.kern2.uni0534</key>
      <real>-54.7818</real>
      <key>public.kern2.uni053E</key>
      <real>-13.2777</real>
      <key>public.kern2.uni053F</key>
      <real>-51.6551</real>
      <key>public.kern2.uni0546</key>
      <real>-26.6412</real>
      <key>public.kern2.uni0547</key>
      <real>-25.3906</real>
      <key>public.kern2.uni0549</key>
      <real>-26.8555</real>
      <key>public.kern2.uni054E</key>
      <real>-25.776</real>
      <key>public.kern2.uni0555</key>
      <real>-24.4141</real>
      <key>public.kern2.uni055B</key>
      <integer>-200</integer>
      <key>public.kern2.uni055C</key>
      <integer>-200</integer>
      <key>public.kern2.uni055E</key>
      <integer>-200</integer>
      <key>uni0533</key>
      <real>-37.7776</real>
      <key>uni054A</key>
      <real>-46.7721</real>
      <key>uni058F</key>
      <real>-54.7818</real>
    </dict>
    <key>uni0535</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-243</integer>
      <key>public.kern2.uni055C</key>
      <integer>-249</integer>
      <key>public.kern2.uni055E</key>
      <integer>-379</integer>
    </dict>
    <key>uni0538</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-70</integer>
      <key>public.kern2.uni055C</key>
      <integer>-70</integer>
      <key>public.kern2.uni055E</key>
      <integer>-90</integer>
    </dict>
    <key>uni053B</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-80</integer>
      <key>public.kern2.uni055C</key>
      <integer>-80</integer>
      <key>public.kern2.uni055E</key>
      <integer>-120</integer>
    </dict>
    <key>uni053C</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <real>-54.7818</real>
      <key>public.kern2.uni053F</key>
      <real>-56.5379</real>
      <key>public.kern2.uni054E</key>
      <real>-56.5379</real>
      <key>public.kern2.uni0555</key>
      <real>-9.76562</real>
      <key>uni0533</key>
      <integer>-65</integer>
      <key>uni054A</key>
      <real>-10.5367</real>
      <key>uni0553</key>
      <real>2.74118</real>
      <key>uni058F</key>
      <real>-54.7818</real>
    </dict>
    <key>uni0542</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <real>-54.7818</real>
      <key>public.kern2.uni053F</key>
      <real>-44.9219</real>
      <key>public.kern2.uni0541</key>
      <integer>20</integer>
      <key>public.kern2.uni0549</key>
      <integer>-30</integer>
      <key>public.kern2.uni054E</key>
      <real>-21.9727</real>
      <key>public.kern2.uni0577</key>
      <integer>-35</integer>
      <key>public.kern2.uni057B</key>
      <integer>-45</integer>
      <key>uni0533</key>
      <real>-51.6551</real>
      <key>uni058F</key>
      <real>-54.7818</real>
    </dict>
    <key>uni0546</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-50</integer>
    </dict>
    <key>uni0547</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-40</integer>
      <key>public.kern2.uni0563</key>
      <integer>-25</integer>
      <key>public.kern2.uni0568</key>
      <integer>-30</integer>
      <key>public.kern2.uni0577</key>
      <integer>-25</integer>
      <key>public.kern2.uni0578</key>
      <integer>-35</integer>
      <key>public.kern2.uni057B</key>
      <integer>-25</integer>
      <key>public.kern2.uni057D</key>
      <integer>-30</integer>
    </dict>
    <key>uni0548</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-70</integer>
      <key>public.kern2.uni055C</key>
      <integer>-70</integer>
      <key>public.kern2.uni055E</key>
      <integer>-90</integer>
    </dict>
    <key>uni054C</key>
    <dict>
      <key>public.kern2.uni053A</key>
      <real>-18.7602</real>
      <key>uni0570</key>
      <integer>20</integer>
      <key>uni0573</key>
      <integer>20</integer>
    </dict>
    <key>uni054D</key>
    <dict>
      <key>public.kern2.uni055E</key>
      <integer>-150</integer>
    </dict>
    <key>uni054E</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <real>-51.6551</real>
      <key>public.kern2.uni053F</key>
      <real>-40.0391</real>
      <key>public.kern2.uni054E</key>
      <real>-21.9727</real>
      <key>uni0533</key>
      <real>-51.6551</real>
      <key>uni058F</key>
      <real>-51.6551</real>
    </dict>
    <key>uni0568</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-243</integer>
      <key>public.kern2.uni055C</key>
      <integer>-269</integer>
      <key>public.kern2.uni055E</key>
      <integer>-379</integer>
    </dict>
    <key>uni056C</key>
    <dict>
      <key>public.kern2.uni0531</key>
      <integer>-20</integer>
      <key>public.kern2.uni0563</key>
      <integer>-30</integer>
      <key>public.kern2.uni0568</key>
      <real>14.0487</real>
      <key>public.kern2.uni056B</key>
      <integer>-20</integer>
      <key>public.kern2.uni0577</key>
      <real>14.0487</real>
      <key>public.kern2.uni0578</key>
      <integer>-20</integer>
      <key>public.kern2.uni0579</key>
      <integer>110</integer>
      <key>public.kern2.uni057B</key>
      <integer>30</integer>
      <key>public.kern2.uni057D</key>
      <integer>-20</integer>
      <key>public.kern2.uni0587</key>
      <integer>-20</integer>
      <key>uni0577</key>
      <integer>30</integer>
      <key>uni0579</key>
      <integer>80</integer>
      <key>uni0581</key>
      <real>41.4181</real>
    </dict>
    <key>uni0572</key>
    <dict>
      <key>public.kern2.uni057B</key>
      <integer>30</integer>
    </dict>
    <key>uni0587</key>
    <dict>
      <key>uni0533</key>
      <real>-29.2969</real>
    </dict>
  </dict>
</plist>
