<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/.notdef &#13;  -/hyphentwo/u110D2/u110F5/u110D3/u110D0/u110E6/u110DB/u110D4 
/u110D5/u110D1/u110D6/u110D7/u110E1/u110E0/u110E7/u110D9/u110DC/u110D8/u110DD/u110F1/u110F2 
/u110DE/u110E4/u110DF/u110DA/u110DB/u110E2/u110E3/u110E5/u110F0/u110E8/u110F3/u110F4/u110F6/u110F7/u110F8/u110F9</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Enforce Compatibility Check</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.Axis Location</key>
    <array>
      <dict>
        <key>Axis</key>
        <string>Weight</string>
        <key>Location</key>
        <integer>400</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>space</string>
      <string>u110D0</string>
      <string>u110D1</string>
      <string>u110D2</string>
      <string>u110D3</string>
      <string>u110D4</string>
      <string>u110D5</string>
      <string>u110D6</string>
      <string>u110D7</string>
      <string>u110D8</string>
      <string>u110D9</string>
      <string>u110DA</string>
      <string>u110DB</string>
      <string>u110DC</string>
      <string>u110DD</string>
      <string>u110DE</string>
      <string>u110DF</string>
      <string>u110E0</string>
      <string>u110E1</string>
      <string>u110E2</string>
      <string>u110E3</string>
      <string>u110E4</string>
      <string>u110E5</string>
      <string>u110E6</string>
      <string>u110E7</string>
      <string>u110E8</string>
      <string>u110F0</string>
      <string>u110F1</string>
      <string>u110F2</string>
      <string>u110F3</string>
      <string>u110F4</string>
      <string>u110F5</string>
      <string>u110F6</string>
      <string>u110F7</string>
      <string>u110F8</string>
      <string>u110F9</string>
      <string>uni00A0</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>hyphentwo</key>
      <string>uni2010</string>
    </dict>
  </dict>
</plist>
