<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10860</key>
    <string>u10860.glif</string>
    <key>u10861</key>
    <string>u10861.glif</string>
    <key>u1086110860</key>
    <string>u1086110860.glif</string>
    <key>u1086110863</key>
    <string>u1086110863.glif</string>
    <key>u1086110865</key>
    <string>u1086110865.glif</string>
    <key>u1086110874</key>
    <string>u1086110874.glif</string>
    <key>u1086110876</key>
    <string>u1086110876.glif</string>
    <key>u10862</key>
    <string>u10862.glif</string>
    <key>u10863</key>
    <string>u10863.glif</string>
    <key>u10864</key>
    <string>u10864.glif</string>
    <key>u10865</key>
    <string>u10865.glif</string>
    <key>u10866</key>
    <string>u10866.glif</string>
    <key>u10867</key>
    <string>u10867.glif</string>
    <key>u1086710863</key>
    <string>u1086710863.glif</string>
    <key>u1086710865</key>
    <string>u1086710865.glif</string>
    <key>u1086710874</key>
    <string>u1086710874.glif</string>
    <key>u10868</key>
    <string>u10868.glif</string>
    <key>u10869</key>
    <string>u10869.glif</string>
    <key>u1086A</key>
    <string>u1086A_.glif</string>
    <key>u1086B</key>
    <string>u1086B_.glif</string>
    <key>u1086C</key>
    <string>u1086C_.glif</string>
    <key>u1086C10860</key>
    <string>u1086C_10860.glif</string>
    <key>u1086C10863</key>
    <string>u1086C_10863.glif</string>
    <key>u1086C10867</key>
    <string>u1086C_10867.glif</string>
    <key>u1086C10874</key>
    <string>u1086C_10874.glif</string>
    <key>u1086C10876</key>
    <string>u1086C_10876.glif</string>
    <key>u1086D</key>
    <string>u1086D_.glif</string>
    <key>u1086E</key>
    <string>u1086E_.glif</string>
    <key>u1086E10860</key>
    <string>u1086E_10860.glif</string>
    <key>u1086E10864</key>
    <string>u1086E_10864.glif</string>
    <key>u1086E10865</key>
    <string>u1086E_10865.glif</string>
    <key>u1086E10876</key>
    <string>u1086E_10876.glif</string>
    <key>u1086F</key>
    <string>u1086F_.glif</string>
    <key>u10870</key>
    <string>u10870.glif</string>
    <key>u10871</key>
    <string>u10871.glif</string>
    <key>u108711086B</key>
    <string>u108711086B_.glif</string>
    <key>u10872</key>
    <string>u10872.glif</string>
    <key>u10873</key>
    <string>u10873.glif</string>
    <key>u1087310863</key>
    <string>u1087310863.glif</string>
    <key>u1087310874</key>
    <string>u1087310874.glif</string>
    <key>u10874</key>
    <string>u10874.glif</string>
    <key>u10875</key>
    <string>u10875.glif</string>
    <key>u10876</key>
    <string>u10876.glif</string>
    <key>u10877</key>
    <string>u10877.glif</string>
    <key>u10878</key>
    <string>u10878.glif</string>
    <key>u10879</key>
    <string>u10879.glif</string>
    <key>u1087A</key>
    <string>u1087A_.glif</string>
    <key>u1087B</key>
    <string>u1087B_.glif</string>
    <key>u1087C</key>
    <string>u1087C_.glif</string>
    <key>u1087D</key>
    <string>u1087D_.glif</string>
    <key>u1087E</key>
    <string>u1087E_.glif</string>
    <key>u1087F</key>
    <string>u1087F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
