<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10860</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10861</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086110860</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086110863</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086110865</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086110874</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086110876</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10862</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10863</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10864</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10865</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10866</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10867</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086710863</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086710865</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086710874</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10868</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10869</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086C10860</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086C10863</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086C10867</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086C10874</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086C10876</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086E10860</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086E10864</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086E10865</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086E10876</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1086F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10870</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10871</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u108711086B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10872</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10873</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1087310863</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1087310874</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10874</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10875</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10876</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10877</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10878</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10879</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1087A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1087B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1087C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1087D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1087E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1087F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
