<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>g720</key>
    <string>g720.glif</string>
    <key>g721</key>
    <string>g721.glif</string>
    <key>g722</key>
    <string>g722.glif</string>
    <key>g723</key>
    <string>g723.glif</string>
    <key>g724</key>
    <string>g724.glif</string>
    <key>g725</key>
    <string>g725.glif</string>
    <key>g726</key>
    <string>g726.glif</string>
    <key>g727</key>
    <string>g727.glif</string>
    <key>g728</key>
    <string>g728.glif</string>
    <key>g729</key>
    <string>g729.glif</string>
    <key>g730</key>
    <string>g730.glif</string>
    <key>g731</key>
    <string>g731.glif</string>
    <key>g732</key>
    <string>g732.glif</string>
    <key>g733</key>
    <string>g733.glif</string>
    <key>g734</key>
    <string>g734.glif</string>
    <key>g735</key>
    <string>g735.glif</string>
    <key>g736</key>
    <string>g736.glif</string>
    <key>g737</key>
    <string>g737.glif</string>
    <key>g738</key>
    <string>g738.glif</string>
    <key>g739</key>
    <string>g739.glif</string>
    <key>g740</key>
    <string>g740.glif</string>
    <key>g741</key>
    <string>g741.glif</string>
    <key>g742</key>
    <string>g742.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni1400</key>
    <string>uni1400.glif</string>
    <key>uni1401</key>
    <string>uni1401.glif</string>
    <key>uni1402</key>
    <string>uni1402.glif</string>
    <key>uni1403</key>
    <string>uni1403.glif</string>
    <key>uni1404</key>
    <string>uni1404.glif</string>
    <key>uni1405</key>
    <string>uni1405.glif</string>
    <key>uni1406</key>
    <string>uni1406.glif</string>
    <key>uni1407</key>
    <string>uni1407.glif</string>
    <key>uni1408</key>
    <string>uni1408.glif</string>
    <key>uni1409</key>
    <string>uni1409.glif</string>
    <key>uni140A</key>
    <string>uni140A_.glif</string>
    <key>uni140B</key>
    <string>uni140B_.glif</string>
    <key>uni140C</key>
    <string>uni140C_.glif</string>
    <key>uni140D</key>
    <string>uni140D_.glif</string>
    <key>uni140E</key>
    <string>uni140E_.glif</string>
    <key>uni140F</key>
    <string>uni140F_.glif</string>
    <key>uni1410</key>
    <string>uni1410.glif</string>
    <key>uni1411</key>
    <string>uni1411.glif</string>
    <key>uni1412</key>
    <string>uni1412.glif</string>
    <key>uni1413</key>
    <string>uni1413.glif</string>
    <key>uni1414</key>
    <string>uni1414.glif</string>
    <key>uni1415</key>
    <string>uni1415.glif</string>
    <key>uni1416</key>
    <string>uni1416.glif</string>
    <key>uni1417</key>
    <string>uni1417.glif</string>
    <key>uni1418</key>
    <string>uni1418.glif</string>
    <key>uni1419</key>
    <string>uni1419.glif</string>
    <key>uni141A</key>
    <string>uni141A_.glif</string>
    <key>uni141B</key>
    <string>uni141B_.glif</string>
    <key>uni141C</key>
    <string>uni141C_.glif</string>
    <key>uni141D</key>
    <string>uni141D_.glif</string>
    <key>uni141E</key>
    <string>uni141E_.glif</string>
    <key>uni141F</key>
    <string>uni141F_.glif</string>
    <key>uni1420</key>
    <string>uni1420.glif</string>
    <key>uni1421</key>
    <string>uni1421.glif</string>
    <key>uni1422</key>
    <string>uni1422.glif</string>
    <key>uni1423</key>
    <string>uni1423.glif</string>
    <key>uni1424</key>
    <string>uni1424.glif</string>
    <key>uni1425</key>
    <string>uni1425.glif</string>
    <key>uni1426</key>
    <string>uni1426.glif</string>
    <key>uni1427</key>
    <string>uni1427.glif</string>
    <key>uni1428</key>
    <string>uni1428.glif</string>
    <key>uni1429</key>
    <string>uni1429.glif</string>
    <key>uni142A</key>
    <string>uni142A_.glif</string>
    <key>uni142B</key>
    <string>uni142B_.glif</string>
    <key>uni142C</key>
    <string>uni142C_.glif</string>
    <key>uni142D</key>
    <string>uni142D_.glif</string>
    <key>uni142E</key>
    <string>uni142E_.glif</string>
    <key>uni142F</key>
    <string>uni142F_.glif</string>
    <key>uni1430</key>
    <string>uni1430.glif</string>
    <key>uni1431</key>
    <string>uni1431.glif</string>
    <key>uni1432</key>
    <string>uni1432.glif</string>
    <key>uni1433</key>
    <string>uni1433.glif</string>
    <key>uni1434</key>
    <string>uni1434.glif</string>
    <key>uni1435</key>
    <string>uni1435.glif</string>
    <key>uni1436</key>
    <string>uni1436.glif</string>
    <key>uni1437</key>
    <string>uni1437.glif</string>
    <key>uni1438</key>
    <string>uni1438.glif</string>
    <key>uni1439</key>
    <string>uni1439.glif</string>
    <key>uni143A</key>
    <string>uni143A_.glif</string>
    <key>uni143B</key>
    <string>uni143B_.glif</string>
    <key>uni143C</key>
    <string>uni143C_.glif</string>
    <key>uni143D</key>
    <string>uni143D_.glif</string>
    <key>uni143E</key>
    <string>uni143E_.glif</string>
    <key>uni143F</key>
    <string>uni143F_.glif</string>
    <key>uni1440</key>
    <string>uni1440.glif</string>
    <key>uni1441</key>
    <string>uni1441.glif</string>
    <key>uni1442</key>
    <string>uni1442.glif</string>
    <key>uni1443</key>
    <string>uni1443.glif</string>
    <key>uni1444</key>
    <string>uni1444.glif</string>
    <key>uni1445</key>
    <string>uni1445.glif</string>
    <key>uni1446</key>
    <string>uni1446.glif</string>
    <key>uni1447</key>
    <string>uni1447.glif</string>
    <key>uni1448</key>
    <string>uni1448.glif</string>
    <key>uni1449</key>
    <string>uni1449.glif</string>
    <key>uni144A</key>
    <string>uni144A_.glif</string>
    <key>uni144B</key>
    <string>uni144B_.glif</string>
    <key>uni144C</key>
    <string>uni144C_.glif</string>
    <key>uni144D</key>
    <string>uni144D_.glif</string>
    <key>uni144E</key>
    <string>uni144E_.glif</string>
    <key>uni144F</key>
    <string>uni144F_.glif</string>
    <key>uni1450</key>
    <string>uni1450.glif</string>
    <key>uni1451</key>
    <string>uni1451.glif</string>
    <key>uni1452</key>
    <string>uni1452.glif</string>
    <key>uni1453</key>
    <string>uni1453.glif</string>
    <key>uni1454</key>
    <string>uni1454.glif</string>
    <key>uni1455</key>
    <string>uni1455.glif</string>
    <key>uni1456</key>
    <string>uni1456.glif</string>
    <key>uni1457</key>
    <string>uni1457.glif</string>
    <key>uni1458</key>
    <string>uni1458.glif</string>
    <key>uni1459</key>
    <string>uni1459.glif</string>
    <key>uni145A</key>
    <string>uni145A_.glif</string>
    <key>uni145B</key>
    <string>uni145B_.glif</string>
    <key>uni145C</key>
    <string>uni145C_.glif</string>
    <key>uni145D</key>
    <string>uni145D_.glif</string>
    <key>uni145E</key>
    <string>uni145E_.glif</string>
    <key>uni145F</key>
    <string>uni145F_.glif</string>
    <key>uni1460</key>
    <string>uni1460.glif</string>
    <key>uni1461</key>
    <string>uni1461.glif</string>
    <key>uni1462</key>
    <string>uni1462.glif</string>
    <key>uni1463</key>
    <string>uni1463.glif</string>
    <key>uni1464</key>
    <string>uni1464.glif</string>
    <key>uni1465</key>
    <string>uni1465.glif</string>
    <key>uni1466</key>
    <string>uni1466.glif</string>
    <key>uni1467</key>
    <string>uni1467.glif</string>
    <key>uni1468</key>
    <string>uni1468.glif</string>
    <key>uni1469</key>
    <string>uni1469.glif</string>
    <key>uni146A</key>
    <string>uni146A_.glif</string>
    <key>uni146B</key>
    <string>uni146B_.glif</string>
    <key>uni146C</key>
    <string>uni146C_.glif</string>
    <key>uni146D</key>
    <string>uni146D_.glif</string>
    <key>uni146E</key>
    <string>uni146E_.glif</string>
    <key>uni146F</key>
    <string>uni146F_.glif</string>
    <key>uni1470</key>
    <string>uni1470.glif</string>
    <key>uni1471</key>
    <string>uni1471.glif</string>
    <key>uni1472</key>
    <string>uni1472.glif</string>
    <key>uni1473</key>
    <string>uni1473.glif</string>
    <key>uni1474</key>
    <string>uni1474.glif</string>
    <key>uni1475</key>
    <string>uni1475.glif</string>
    <key>uni1476</key>
    <string>uni1476.glif</string>
    <key>uni1477</key>
    <string>uni1477.glif</string>
    <key>uni1478</key>
    <string>uni1478.glif</string>
    <key>uni1479</key>
    <string>uni1479.glif</string>
    <key>uni147A</key>
    <string>uni147A_.glif</string>
    <key>uni147B</key>
    <string>uni147B_.glif</string>
    <key>uni147C</key>
    <string>uni147C_.glif</string>
    <key>uni147D</key>
    <string>uni147D_.glif</string>
    <key>uni147E</key>
    <string>uni147E_.glif</string>
    <key>uni147F</key>
    <string>uni147F_.glif</string>
    <key>uni1480</key>
    <string>uni1480.glif</string>
    <key>uni1481</key>
    <string>uni1481.glif</string>
    <key>uni1482</key>
    <string>uni1482.glif</string>
    <key>uni1483</key>
    <string>uni1483.glif</string>
    <key>uni1484</key>
    <string>uni1484.glif</string>
    <key>uni1485</key>
    <string>uni1485.glif</string>
    <key>uni1486</key>
    <string>uni1486.glif</string>
    <key>uni1487</key>
    <string>uni1487.glif</string>
    <key>uni1488</key>
    <string>uni1488.glif</string>
    <key>uni1489</key>
    <string>uni1489.glif</string>
    <key>uni148A</key>
    <string>uni148A_.glif</string>
    <key>uni148B</key>
    <string>uni148B_.glif</string>
    <key>uni148C</key>
    <string>uni148C_.glif</string>
    <key>uni148D</key>
    <string>uni148D_.glif</string>
    <key>uni148E</key>
    <string>uni148E_.glif</string>
    <key>uni148F</key>
    <string>uni148F_.glif</string>
    <key>uni1490</key>
    <string>uni1490.glif</string>
    <key>uni1491</key>
    <string>uni1491.glif</string>
    <key>uni1492</key>
    <string>uni1492.glif</string>
    <key>uni1493</key>
    <string>uni1493.glif</string>
    <key>uni1494</key>
    <string>uni1494.glif</string>
    <key>uni1495</key>
    <string>uni1495.glif</string>
    <key>uni1496</key>
    <string>uni1496.glif</string>
    <key>uni1497</key>
    <string>uni1497.glif</string>
    <key>uni1498</key>
    <string>uni1498.glif</string>
    <key>uni1499</key>
    <string>uni1499.glif</string>
    <key>uni149A</key>
    <string>uni149A_.glif</string>
    <key>uni149B</key>
    <string>uni149B_.glif</string>
    <key>uni149C</key>
    <string>uni149C_.glif</string>
    <key>uni149D</key>
    <string>uni149D_.glif</string>
    <key>uni149E</key>
    <string>uni149E_.glif</string>
    <key>uni149F</key>
    <string>uni149F_.glif</string>
    <key>uni14A0</key>
    <string>uni14A_0.glif</string>
    <key>uni14A1</key>
    <string>uni14A_1.glif</string>
    <key>uni14A2</key>
    <string>uni14A_2.glif</string>
    <key>uni14A3</key>
    <string>uni14A_3.glif</string>
    <key>uni14A4</key>
    <string>uni14A_4.glif</string>
    <key>uni14A5</key>
    <string>uni14A_5.glif</string>
    <key>uni14A6</key>
    <string>uni14A_6.glif</string>
    <key>uni14A7</key>
    <string>uni14A_7.glif</string>
    <key>uni14A8</key>
    <string>uni14A_8.glif</string>
    <key>uni14A9</key>
    <string>uni14A_9.glif</string>
    <key>uni14AA</key>
    <string>uni14A_A_.glif</string>
    <key>uni14AB</key>
    <string>uni14A_B_.glif</string>
    <key>uni14AC</key>
    <string>uni14A_C_.glif</string>
    <key>uni14AD</key>
    <string>uni14A_D_.glif</string>
    <key>uni14AE</key>
    <string>uni14A_E_.glif</string>
    <key>uni14AF</key>
    <string>uni14A_F_.glif</string>
    <key>uni14B0</key>
    <string>uni14B_0.glif</string>
    <key>uni14B1</key>
    <string>uni14B_1.glif</string>
    <key>uni14B2</key>
    <string>uni14B_2.glif</string>
    <key>uni14B3</key>
    <string>uni14B_3.glif</string>
    <key>uni14B4</key>
    <string>uni14B_4.glif</string>
    <key>uni14B5</key>
    <string>uni14B_5.glif</string>
    <key>uni14B6</key>
    <string>uni14B_6.glif</string>
    <key>uni14B7</key>
    <string>uni14B_7.glif</string>
    <key>uni14B8</key>
    <string>uni14B_8.glif</string>
    <key>uni14B9</key>
    <string>uni14B_9.glif</string>
    <key>uni14BA</key>
    <string>uni14B_A_.glif</string>
    <key>uni14BB</key>
    <string>uni14B_B_.glif</string>
    <key>uni14BC</key>
    <string>uni14B_C_.glif</string>
    <key>uni14BD</key>
    <string>uni14B_D_.glif</string>
    <key>uni14BE</key>
    <string>uni14B_E_.glif</string>
    <key>uni14BF</key>
    <string>uni14B_F_.glif</string>
    <key>uni14C0</key>
    <string>uni14C_0.glif</string>
    <key>uni14C1</key>
    <string>uni14C_1.glif</string>
    <key>uni14C2</key>
    <string>uni14C_2.glif</string>
    <key>uni14C3</key>
    <string>uni14C_3.glif</string>
    <key>uni14C4</key>
    <string>uni14C_4.glif</string>
    <key>uni14C5</key>
    <string>uni14C_5.glif</string>
    <key>uni14C6</key>
    <string>uni14C_6.glif</string>
    <key>uni14C7</key>
    <string>uni14C_7.glif</string>
    <key>uni14C8</key>
    <string>uni14C_8.glif</string>
    <key>uni14C9</key>
    <string>uni14C_9.glif</string>
    <key>uni14CA</key>
    <string>uni14C_A_.glif</string>
    <key>uni14CB</key>
    <string>uni14C_B_.glif</string>
    <key>uni14CC</key>
    <string>uni14C_C_.glif</string>
    <key>uni14CD</key>
    <string>uni14C_D_.glif</string>
    <key>uni14CE</key>
    <string>uni14C_E_.glif</string>
    <key>uni14CF</key>
    <string>uni14C_F_.glif</string>
    <key>uni14D0</key>
    <string>uni14D_0.glif</string>
    <key>uni14D1</key>
    <string>uni14D_1.glif</string>
    <key>uni14D2</key>
    <string>uni14D_2.glif</string>
    <key>uni14D3</key>
    <string>uni14D_3.glif</string>
    <key>uni14D4</key>
    <string>uni14D_4.glif</string>
    <key>uni14D5</key>
    <string>uni14D_5.glif</string>
    <key>uni14D6</key>
    <string>uni14D_6.glif</string>
    <key>uni14D7</key>
    <string>uni14D_7.glif</string>
    <key>uni14D8</key>
    <string>uni14D_8.glif</string>
    <key>uni14D9</key>
    <string>uni14D_9.glif</string>
    <key>uni14DA</key>
    <string>uni14D_A_.glif</string>
    <key>uni14DB</key>
    <string>uni14D_B_.glif</string>
    <key>uni14DC</key>
    <string>uni14D_C_.glif</string>
    <key>uni14DD</key>
    <string>uni14D_D_.glif</string>
    <key>uni14DE</key>
    <string>uni14D_E_.glif</string>
    <key>uni14DF</key>
    <string>uni14D_F_.glif</string>
    <key>uni14E0</key>
    <string>uni14E_0.glif</string>
    <key>uni14E1</key>
    <string>uni14E_1.glif</string>
    <key>uni14E2</key>
    <string>uni14E_2.glif</string>
    <key>uni14E3</key>
    <string>uni14E_3.glif</string>
    <key>uni14E4</key>
    <string>uni14E_4.glif</string>
    <key>uni14E5</key>
    <string>uni14E_5.glif</string>
    <key>uni14E6</key>
    <string>uni14E_6.glif</string>
    <key>uni14E7</key>
    <string>uni14E_7.glif</string>
    <key>uni14E8</key>
    <string>uni14E_8.glif</string>
    <key>uni14E9</key>
    <string>uni14E_9.glif</string>
    <key>uni14EA</key>
    <string>uni14E_A_.glif</string>
    <key>uni14EB</key>
    <string>uni14E_B_.glif</string>
    <key>uni14EC</key>
    <string>uni14E_C_.glif</string>
    <key>uni14ED</key>
    <string>uni14E_D_.glif</string>
    <key>uni14EE</key>
    <string>uni14E_E_.glif</string>
    <key>uni14EF</key>
    <string>uni14E_F_.glif</string>
    <key>uni14F0</key>
    <string>uni14F_0.glif</string>
    <key>uni14F1</key>
    <string>uni14F_1.glif</string>
    <key>uni14F2</key>
    <string>uni14F_2.glif</string>
    <key>uni14F3</key>
    <string>uni14F_3.glif</string>
    <key>uni14F4</key>
    <string>uni14F_4.glif</string>
    <key>uni14F5</key>
    <string>uni14F_5.glif</string>
    <key>uni14F6</key>
    <string>uni14F_6.glif</string>
    <key>uni14F7</key>
    <string>uni14F_7.glif</string>
    <key>uni14F8</key>
    <string>uni14F_8.glif</string>
    <key>uni14F9</key>
    <string>uni14F_9.glif</string>
    <key>uni14FA</key>
    <string>uni14F_A_.glif</string>
    <key>uni14FB</key>
    <string>uni14F_B_.glif</string>
    <key>uni14FC</key>
    <string>uni14F_C_.glif</string>
    <key>uni14FD</key>
    <string>uni14F_D_.glif</string>
    <key>uni14FE</key>
    <string>uni14F_E_.glif</string>
    <key>uni14FF</key>
    <string>uni14F_F_.glif</string>
    <key>uni1500</key>
    <string>uni1500.glif</string>
    <key>uni1501</key>
    <string>uni1501.glif</string>
    <key>uni1502</key>
    <string>uni1502.glif</string>
    <key>uni1503</key>
    <string>uni1503.glif</string>
    <key>uni1504</key>
    <string>uni1504.glif</string>
    <key>uni1505</key>
    <string>uni1505.glif</string>
    <key>uni1506</key>
    <string>uni1506.glif</string>
    <key>uni1507</key>
    <string>uni1507.glif</string>
    <key>uni1508</key>
    <string>uni1508.glif</string>
    <key>uni1509</key>
    <string>uni1509.glif</string>
    <key>uni150A</key>
    <string>uni150A_.glif</string>
    <key>uni150B</key>
    <string>uni150B_.glif</string>
    <key>uni150C</key>
    <string>uni150C_.glif</string>
    <key>uni150D</key>
    <string>uni150D_.glif</string>
    <key>uni150E</key>
    <string>uni150E_.glif</string>
    <key>uni150F</key>
    <string>uni150F_.glif</string>
    <key>uni1510</key>
    <string>uni1510.glif</string>
    <key>uni1511</key>
    <string>uni1511.glif</string>
    <key>uni1512</key>
    <string>uni1512.glif</string>
    <key>uni1513</key>
    <string>uni1513.glif</string>
    <key>uni1514</key>
    <string>uni1514.glif</string>
    <key>uni1515</key>
    <string>uni1515.glif</string>
    <key>uni1516</key>
    <string>uni1516.glif</string>
    <key>uni1517</key>
    <string>uni1517.glif</string>
    <key>uni1518</key>
    <string>uni1518.glif</string>
    <key>uni1519</key>
    <string>uni1519.glif</string>
    <key>uni151A</key>
    <string>uni151A_.glif</string>
    <key>uni151B</key>
    <string>uni151B_.glif</string>
    <key>uni151C</key>
    <string>uni151C_.glif</string>
    <key>uni151D</key>
    <string>uni151D_.glif</string>
    <key>uni151E</key>
    <string>uni151E_.glif</string>
    <key>uni151F</key>
    <string>uni151F_.glif</string>
    <key>uni1520</key>
    <string>uni1520.glif</string>
    <key>uni1521</key>
    <string>uni1521.glif</string>
    <key>uni1522</key>
    <string>uni1522.glif</string>
    <key>uni1523</key>
    <string>uni1523.glif</string>
    <key>uni1524</key>
    <string>uni1524.glif</string>
    <key>uni1525</key>
    <string>uni1525.glif</string>
    <key>uni1526</key>
    <string>uni1526.glif</string>
    <key>uni1527</key>
    <string>uni1527.glif</string>
    <key>uni1528</key>
    <string>uni1528.glif</string>
    <key>uni1529</key>
    <string>uni1529.glif</string>
    <key>uni152A</key>
    <string>uni152A_.glif</string>
    <key>uni152B</key>
    <string>uni152B_.glif</string>
    <key>uni152C</key>
    <string>uni152C_.glif</string>
    <key>uni152D</key>
    <string>uni152D_.glif</string>
    <key>uni152E</key>
    <string>uni152E_.glif</string>
    <key>uni152F</key>
    <string>uni152F_.glif</string>
    <key>uni1530</key>
    <string>uni1530.glif</string>
    <key>uni1531</key>
    <string>uni1531.glif</string>
    <key>uni1532</key>
    <string>uni1532.glif</string>
    <key>uni1533</key>
    <string>uni1533.glif</string>
    <key>uni1534</key>
    <string>uni1534.glif</string>
    <key>uni1535</key>
    <string>uni1535.glif</string>
    <key>uni1536</key>
    <string>uni1536.glif</string>
    <key>uni1537</key>
    <string>uni1537.glif</string>
    <key>uni1538</key>
    <string>uni1538.glif</string>
    <key>uni1539</key>
    <string>uni1539.glif</string>
    <key>uni153A</key>
    <string>uni153A_.glif</string>
    <key>uni153B</key>
    <string>uni153B_.glif</string>
    <key>uni153C</key>
    <string>uni153C_.glif</string>
    <key>uni153D</key>
    <string>uni153D_.glif</string>
    <key>uni153E</key>
    <string>uni153E_.glif</string>
    <key>uni153F</key>
    <string>uni153F_.glif</string>
    <key>uni1540</key>
    <string>uni1540.glif</string>
    <key>uni1541</key>
    <string>uni1541.glif</string>
    <key>uni1542</key>
    <string>uni1542.glif</string>
    <key>uni1543</key>
    <string>uni1543.glif</string>
    <key>uni1544</key>
    <string>uni1544.glif</string>
    <key>uni1545</key>
    <string>uni1545.glif</string>
    <key>uni1546</key>
    <string>uni1546.glif</string>
    <key>uni1547</key>
    <string>uni1547.glif</string>
    <key>uni1548</key>
    <string>uni1548.glif</string>
    <key>uni1549</key>
    <string>uni1549.glif</string>
    <key>uni154A</key>
    <string>uni154A_.glif</string>
    <key>uni154B</key>
    <string>uni154B_.glif</string>
    <key>uni154C</key>
    <string>uni154C_.glif</string>
    <key>uni154D</key>
    <string>uni154D_.glif</string>
    <key>uni154E</key>
    <string>uni154E_.glif</string>
    <key>uni154F</key>
    <string>uni154F_.glif</string>
    <key>uni1550</key>
    <string>uni1550.glif</string>
    <key>uni1551</key>
    <string>uni1551.glif</string>
    <key>uni1552</key>
    <string>uni1552.glif</string>
    <key>uni1553</key>
    <string>uni1553.glif</string>
    <key>uni1554</key>
    <string>uni1554.glif</string>
    <key>uni1555</key>
    <string>uni1555.glif</string>
    <key>uni1556</key>
    <string>uni1556.glif</string>
    <key>uni1557</key>
    <string>uni1557.glif</string>
    <key>uni1558</key>
    <string>uni1558.glif</string>
    <key>uni1559</key>
    <string>uni1559.glif</string>
    <key>uni155A</key>
    <string>uni155A_.glif</string>
    <key>uni155B</key>
    <string>uni155B_.glif</string>
    <key>uni155C</key>
    <string>uni155C_.glif</string>
    <key>uni155D</key>
    <string>uni155D_.glif</string>
    <key>uni155E</key>
    <string>uni155E_.glif</string>
    <key>uni155F</key>
    <string>uni155F_.glif</string>
    <key>uni1560</key>
    <string>uni1560.glif</string>
    <key>uni1561</key>
    <string>uni1561.glif</string>
    <key>uni1562</key>
    <string>uni1562.glif</string>
    <key>uni1563</key>
    <string>uni1563.glif</string>
    <key>uni1564</key>
    <string>uni1564.glif</string>
    <key>uni1565</key>
    <string>uni1565.glif</string>
    <key>uni1566</key>
    <string>uni1566.glif</string>
    <key>uni1567</key>
    <string>uni1567.glif</string>
    <key>uni1568</key>
    <string>uni1568.glif</string>
    <key>uni1569</key>
    <string>uni1569.glif</string>
    <key>uni156A</key>
    <string>uni156A_.glif</string>
    <key>uni156B</key>
    <string>uni156B_.glif</string>
    <key>uni156C</key>
    <string>uni156C_.glif</string>
    <key>uni156D</key>
    <string>uni156D_.glif</string>
    <key>uni156E</key>
    <string>uni156E_.glif</string>
    <key>uni156F</key>
    <string>uni156F_.glif</string>
    <key>uni1570</key>
    <string>uni1570.glif</string>
    <key>uni1571</key>
    <string>uni1571.glif</string>
    <key>uni1572</key>
    <string>uni1572.glif</string>
    <key>uni1573</key>
    <string>uni1573.glif</string>
    <key>uni1574</key>
    <string>uni1574.glif</string>
    <key>uni1575</key>
    <string>uni1575.glif</string>
    <key>uni1576</key>
    <string>uni1576.glif</string>
    <key>uni1577</key>
    <string>uni1577.glif</string>
    <key>uni1578</key>
    <string>uni1578.glif</string>
    <key>uni1579</key>
    <string>uni1579.glif</string>
    <key>uni157A</key>
    <string>uni157A_.glif</string>
    <key>uni157B</key>
    <string>uni157B_.glif</string>
    <key>uni157C</key>
    <string>uni157C_.glif</string>
    <key>uni157D</key>
    <string>uni157D_.glif</string>
    <key>uni157E</key>
    <string>uni157E_.glif</string>
    <key>uni157F</key>
    <string>uni157F_.glif</string>
    <key>uni1580</key>
    <string>uni1580.glif</string>
    <key>uni1581</key>
    <string>uni1581.glif</string>
    <key>uni1582</key>
    <string>uni1582.glif</string>
    <key>uni1583</key>
    <string>uni1583.glif</string>
    <key>uni1584</key>
    <string>uni1584.glif</string>
    <key>uni1585</key>
    <string>uni1585.glif</string>
    <key>uni1586</key>
    <string>uni1586.glif</string>
    <key>uni1587</key>
    <string>uni1587.glif</string>
    <key>uni1588</key>
    <string>uni1588.glif</string>
    <key>uni1589</key>
    <string>uni1589.glif</string>
    <key>uni158A</key>
    <string>uni158A_.glif</string>
    <key>uni158B</key>
    <string>uni158B_.glif</string>
    <key>uni158C</key>
    <string>uni158C_.glif</string>
    <key>uni158D</key>
    <string>uni158D_.glif</string>
    <key>uni158E</key>
    <string>uni158E_.glif</string>
    <key>uni158F</key>
    <string>uni158F_.glif</string>
    <key>uni1590</key>
    <string>uni1590.glif</string>
    <key>uni1591</key>
    <string>uni1591.glif</string>
    <key>uni1592</key>
    <string>uni1592.glif</string>
    <key>uni1593</key>
    <string>uni1593.glif</string>
    <key>uni1594</key>
    <string>uni1594.glif</string>
    <key>uni1595</key>
    <string>uni1595.glif</string>
    <key>uni1596</key>
    <string>uni1596.glif</string>
    <key>uni1597</key>
    <string>uni1597.glif</string>
    <key>uni1598</key>
    <string>uni1598.glif</string>
    <key>uni1599</key>
    <string>uni1599.glif</string>
    <key>uni159A</key>
    <string>uni159A_.glif</string>
    <key>uni159B</key>
    <string>uni159B_.glif</string>
    <key>uni159C</key>
    <string>uni159C_.glif</string>
    <key>uni159D</key>
    <string>uni159D_.glif</string>
    <key>uni159E</key>
    <string>uni159E_.glif</string>
    <key>uni159F</key>
    <string>uni159F_.glif</string>
    <key>uni15A0</key>
    <string>uni15A_0.glif</string>
    <key>uni15A1</key>
    <string>uni15A_1.glif</string>
    <key>uni15A2</key>
    <string>uni15A_2.glif</string>
    <key>uni15A3</key>
    <string>uni15A_3.glif</string>
    <key>uni15A4</key>
    <string>uni15A_4.glif</string>
    <key>uni15A5</key>
    <string>uni15A_5.glif</string>
    <key>uni15A6</key>
    <string>uni15A_6.glif</string>
    <key>uni15A7</key>
    <string>uni15A_7.glif</string>
    <key>uni15A8</key>
    <string>uni15A_8.glif</string>
    <key>uni15A9</key>
    <string>uni15A_9.glif</string>
    <key>uni15AA</key>
    <string>uni15A_A_.glif</string>
    <key>uni15AB</key>
    <string>uni15A_B_.glif</string>
    <key>uni15AC</key>
    <string>uni15A_C_.glif</string>
    <key>uni15AD</key>
    <string>uni15A_D_.glif</string>
    <key>uni15AE</key>
    <string>uni15A_E_.glif</string>
    <key>uni15AF</key>
    <string>uni15A_F_.glif</string>
    <key>uni15B0</key>
    <string>uni15B_0.glif</string>
    <key>uni15B1</key>
    <string>uni15B_1.glif</string>
    <key>uni15B2</key>
    <string>uni15B_2.glif</string>
    <key>uni15B3</key>
    <string>uni15B_3.glif</string>
    <key>uni15B4</key>
    <string>uni15B_4.glif</string>
    <key>uni15B5</key>
    <string>uni15B_5.glif</string>
    <key>uni15B6</key>
    <string>uni15B_6.glif</string>
    <key>uni15B7</key>
    <string>uni15B_7.glif</string>
    <key>uni15B8</key>
    <string>uni15B_8.glif</string>
    <key>uni15B9</key>
    <string>uni15B_9.glif</string>
    <key>uni15BA</key>
    <string>uni15B_A_.glif</string>
    <key>uni15BB</key>
    <string>uni15B_B_.glif</string>
    <key>uni15BC</key>
    <string>uni15B_C_.glif</string>
    <key>uni15BD</key>
    <string>uni15B_D_.glif</string>
    <key>uni15BE</key>
    <string>uni15B_E_.glif</string>
    <key>uni15BF</key>
    <string>uni15B_F_.glif</string>
    <key>uni15C0</key>
    <string>uni15C_0.glif</string>
    <key>uni15C1</key>
    <string>uni15C_1.glif</string>
    <key>uni15C2</key>
    <string>uni15C_2.glif</string>
    <key>uni15C3</key>
    <string>uni15C_3.glif</string>
    <key>uni15C4</key>
    <string>uni15C_4.glif</string>
    <key>uni15C5</key>
    <string>uni15C_5.glif</string>
    <key>uni15C6</key>
    <string>uni15C_6.glif</string>
    <key>uni15C7</key>
    <string>uni15C_7.glif</string>
    <key>uni15C8</key>
    <string>uni15C_8.glif</string>
    <key>uni15C9</key>
    <string>uni15C_9.glif</string>
    <key>uni15CA</key>
    <string>uni15C_A_.glif</string>
    <key>uni15CB</key>
    <string>uni15C_B_.glif</string>
    <key>uni15CC</key>
    <string>uni15C_C_.glif</string>
    <key>uni15CD</key>
    <string>uni15C_D_.glif</string>
    <key>uni15CE</key>
    <string>uni15C_E_.glif</string>
    <key>uni15CF</key>
    <string>uni15C_F_.glif</string>
    <key>uni15D0</key>
    <string>uni15D_0.glif</string>
    <key>uni15D1</key>
    <string>uni15D_1.glif</string>
    <key>uni15D2</key>
    <string>uni15D_2.glif</string>
    <key>uni15D3</key>
    <string>uni15D_3.glif</string>
    <key>uni15D4</key>
    <string>uni15D_4.glif</string>
    <key>uni15D5</key>
    <string>uni15D_5.glif</string>
    <key>uni15D6</key>
    <string>uni15D_6.glif</string>
    <key>uni15D7</key>
    <string>uni15D_7.glif</string>
    <key>uni15D8</key>
    <string>uni15D_8.glif</string>
    <key>uni15D9</key>
    <string>uni15D_9.glif</string>
    <key>uni15DA</key>
    <string>uni15D_A_.glif</string>
    <key>uni15DB</key>
    <string>uni15D_B_.glif</string>
    <key>uni15DC</key>
    <string>uni15D_C_.glif</string>
    <key>uni15DD</key>
    <string>uni15D_D_.glif</string>
    <key>uni15DE</key>
    <string>uni15D_E_.glif</string>
    <key>uni15DF</key>
    <string>uni15D_F_.glif</string>
    <key>uni15E0</key>
    <string>uni15E_0.glif</string>
    <key>uni15E1</key>
    <string>uni15E_1.glif</string>
    <key>uni15E2</key>
    <string>uni15E_2.glif</string>
    <key>uni15E3</key>
    <string>uni15E_3.glif</string>
    <key>uni15E4</key>
    <string>uni15E_4.glif</string>
    <key>uni15E5</key>
    <string>uni15E_5.glif</string>
    <key>uni15E6</key>
    <string>uni15E_6.glif</string>
    <key>uni15E7</key>
    <string>uni15E_7.glif</string>
    <key>uni15E8</key>
    <string>uni15E_8.glif</string>
    <key>uni15E9</key>
    <string>uni15E_9.glif</string>
    <key>uni15EA</key>
    <string>uni15E_A_.glif</string>
    <key>uni15EB</key>
    <string>uni15E_B_.glif</string>
    <key>uni15EC</key>
    <string>uni15E_C_.glif</string>
    <key>uni15ED</key>
    <string>uni15E_D_.glif</string>
    <key>uni15EE</key>
    <string>uni15E_E_.glif</string>
    <key>uni15EF</key>
    <string>uni15E_F_.glif</string>
    <key>uni15F0</key>
    <string>uni15F_0.glif</string>
    <key>uni15F1</key>
    <string>uni15F_1.glif</string>
    <key>uni15F2</key>
    <string>uni15F_2.glif</string>
    <key>uni15F3</key>
    <string>uni15F_3.glif</string>
    <key>uni15F4</key>
    <string>uni15F_4.glif</string>
    <key>uni15F5</key>
    <string>uni15F_5.glif</string>
    <key>uni15F6</key>
    <string>uni15F_6.glif</string>
    <key>uni15F7</key>
    <string>uni15F_7.glif</string>
    <key>uni15F8</key>
    <string>uni15F_8.glif</string>
    <key>uni15F9</key>
    <string>uni15F_9.glif</string>
    <key>uni15FA</key>
    <string>uni15F_A_.glif</string>
    <key>uni15FB</key>
    <string>uni15F_B_.glif</string>
    <key>uni15FC</key>
    <string>uni15F_C_.glif</string>
    <key>uni15FD</key>
    <string>uni15F_D_.glif</string>
    <key>uni15FE</key>
    <string>uni15F_E_.glif</string>
    <key>uni15FF</key>
    <string>uni15F_F_.glif</string>
    <key>uni1600</key>
    <string>uni1600.glif</string>
    <key>uni1601</key>
    <string>uni1601.glif</string>
    <key>uni1602</key>
    <string>uni1602.glif</string>
    <key>uni1603</key>
    <string>uni1603.glif</string>
    <key>uni1604</key>
    <string>uni1604.glif</string>
    <key>uni1605</key>
    <string>uni1605.glif</string>
    <key>uni1606</key>
    <string>uni1606.glif</string>
    <key>uni1607</key>
    <string>uni1607.glif</string>
    <key>uni1608</key>
    <string>uni1608.glif</string>
    <key>uni1609</key>
    <string>uni1609.glif</string>
    <key>uni160A</key>
    <string>uni160A_.glif</string>
    <key>uni160B</key>
    <string>uni160B_.glif</string>
    <key>uni160C</key>
    <string>uni160C_.glif</string>
    <key>uni160D</key>
    <string>uni160D_.glif</string>
    <key>uni160E</key>
    <string>uni160E_.glif</string>
    <key>uni160F</key>
    <string>uni160F_.glif</string>
    <key>uni1610</key>
    <string>uni1610.glif</string>
    <key>uni1611</key>
    <string>uni1611.glif</string>
    <key>uni1612</key>
    <string>uni1612.glif</string>
    <key>uni1613</key>
    <string>uni1613.glif</string>
    <key>uni1614</key>
    <string>uni1614.glif</string>
    <key>uni1615</key>
    <string>uni1615.glif</string>
    <key>uni1616</key>
    <string>uni1616.glif</string>
    <key>uni1617</key>
    <string>uni1617.glif</string>
    <key>uni1618</key>
    <string>uni1618.glif</string>
    <key>uni1619</key>
    <string>uni1619.glif</string>
    <key>uni161A</key>
    <string>uni161A_.glif</string>
    <key>uni161B</key>
    <string>uni161B_.glif</string>
    <key>uni161C</key>
    <string>uni161C_.glif</string>
    <key>uni161D</key>
    <string>uni161D_.glif</string>
    <key>uni161E</key>
    <string>uni161E_.glif</string>
    <key>uni161F</key>
    <string>uni161F_.glif</string>
    <key>uni1620</key>
    <string>uni1620.glif</string>
    <key>uni1621</key>
    <string>uni1621.glif</string>
    <key>uni1622</key>
    <string>uni1622.glif</string>
    <key>uni1623</key>
    <string>uni1623.glif</string>
    <key>uni1624</key>
    <string>uni1624.glif</string>
    <key>uni1625</key>
    <string>uni1625.glif</string>
    <key>uni1626</key>
    <string>uni1626.glif</string>
    <key>uni1627</key>
    <string>uni1627.glif</string>
    <key>uni1628</key>
    <string>uni1628.glif</string>
    <key>uni1629</key>
    <string>uni1629.glif</string>
    <key>uni162A</key>
    <string>uni162A_.glif</string>
    <key>uni162B</key>
    <string>uni162B_.glif</string>
    <key>uni162C</key>
    <string>uni162C_.glif</string>
    <key>uni162D</key>
    <string>uni162D_.glif</string>
    <key>uni162E</key>
    <string>uni162E_.glif</string>
    <key>uni162F</key>
    <string>uni162F_.glif</string>
    <key>uni1630</key>
    <string>uni1630.glif</string>
    <key>uni1631</key>
    <string>uni1631.glif</string>
    <key>uni1632</key>
    <string>uni1632.glif</string>
    <key>uni1633</key>
    <string>uni1633.glif</string>
    <key>uni1634</key>
    <string>uni1634.glif</string>
    <key>uni1635</key>
    <string>uni1635.glif</string>
    <key>uni1636</key>
    <string>uni1636.glif</string>
    <key>uni1637</key>
    <string>uni1637.glif</string>
    <key>uni1638</key>
    <string>uni1638.glif</string>
    <key>uni1639</key>
    <string>uni1639.glif</string>
    <key>uni163A</key>
    <string>uni163A_.glif</string>
    <key>uni163B</key>
    <string>uni163B_.glif</string>
    <key>uni163C</key>
    <string>uni163C_.glif</string>
    <key>uni163D</key>
    <string>uni163D_.glif</string>
    <key>uni163E</key>
    <string>uni163E_.glif</string>
    <key>uni163F</key>
    <string>uni163F_.glif</string>
    <key>uni1640</key>
    <string>uni1640.glif</string>
    <key>uni1641</key>
    <string>uni1641.glif</string>
    <key>uni1642</key>
    <string>uni1642.glif</string>
    <key>uni1643</key>
    <string>uni1643.glif</string>
    <key>uni1644</key>
    <string>uni1644.glif</string>
    <key>uni1645</key>
    <string>uni1645.glif</string>
    <key>uni1646</key>
    <string>uni1646.glif</string>
    <key>uni1647</key>
    <string>uni1647.glif</string>
    <key>uni1648</key>
    <string>uni1648.glif</string>
    <key>uni1649</key>
    <string>uni1649.glif</string>
    <key>uni164A</key>
    <string>uni164A_.glif</string>
    <key>uni164B</key>
    <string>uni164B_.glif</string>
    <key>uni164C</key>
    <string>uni164C_.glif</string>
    <key>uni164D</key>
    <string>uni164D_.glif</string>
    <key>uni164E</key>
    <string>uni164E_.glif</string>
    <key>uni164F</key>
    <string>uni164F_.glif</string>
    <key>uni1650</key>
    <string>uni1650.glif</string>
    <key>uni1651</key>
    <string>uni1651.glif</string>
    <key>uni1652</key>
    <string>uni1652.glif</string>
    <key>uni1653</key>
    <string>uni1653.glif</string>
    <key>uni1654</key>
    <string>uni1654.glif</string>
    <key>uni1655</key>
    <string>uni1655.glif</string>
    <key>uni1656</key>
    <string>uni1656.glif</string>
    <key>uni1657</key>
    <string>uni1657.glif</string>
    <key>uni1658</key>
    <string>uni1658.glif</string>
    <key>uni1659</key>
    <string>uni1659.glif</string>
    <key>uni165A</key>
    <string>uni165A_.glif</string>
    <key>uni165B</key>
    <string>uni165B_.glif</string>
    <key>uni165C</key>
    <string>uni165C_.glif</string>
    <key>uni165D</key>
    <string>uni165D_.glif</string>
    <key>uni165E</key>
    <string>uni165E_.glif</string>
    <key>uni165F</key>
    <string>uni165F_.glif</string>
    <key>uni1660</key>
    <string>uni1660.glif</string>
    <key>uni1661</key>
    <string>uni1661.glif</string>
    <key>uni1662</key>
    <string>uni1662.glif</string>
    <key>uni1663</key>
    <string>uni1663.glif</string>
    <key>uni1664</key>
    <string>uni1664.glif</string>
    <key>uni1665</key>
    <string>uni1665.glif</string>
    <key>uni1666</key>
    <string>uni1666.glif</string>
    <key>uni1667</key>
    <string>uni1667.glif</string>
    <key>uni1668</key>
    <string>uni1668.glif</string>
    <key>uni1669</key>
    <string>uni1669.glif</string>
    <key>uni166A</key>
    <string>uni166A_.glif</string>
    <key>uni166B</key>
    <string>uni166B_.glif</string>
    <key>uni166C</key>
    <string>uni166C_.glif</string>
    <key>uni166D</key>
    <string>uni166D_.glif</string>
    <key>uni166E</key>
    <string>uni166E_.glif</string>
    <key>uni166F</key>
    <string>uni166F_.glif</string>
    <key>uni1670</key>
    <string>uni1670.glif</string>
    <key>uni1671</key>
    <string>uni1671.glif</string>
    <key>uni1672</key>
    <string>uni1672.glif</string>
    <key>uni1673</key>
    <string>uni1673.glif</string>
    <key>uni1674</key>
    <string>uni1674.glif</string>
    <key>uni1675</key>
    <string>uni1675.glif</string>
    <key>uni1676</key>
    <string>uni1676.glif</string>
    <key>uni1677</key>
    <string>uni1677.glif</string>
    <key>uni1678</key>
    <string>uni1678.glif</string>
    <key>uni1679</key>
    <string>uni1679.glif</string>
    <key>uni167A</key>
    <string>uni167A_.glif</string>
    <key>uni167B</key>
    <string>uni167B_.glif</string>
    <key>uni167C</key>
    <string>uni167C_.glif</string>
    <key>uni167D</key>
    <string>uni167D_.glif</string>
    <key>uni167E</key>
    <string>uni167E_.glif</string>
    <key>uni167F</key>
    <string>uni167F_.glif</string>
    <key>uni18B0</key>
    <string>uni18B_0.glif</string>
    <key>uni18B1</key>
    <string>uni18B_1.glif</string>
    <key>uni18B2</key>
    <string>uni18B_2.glif</string>
    <key>uni18B3</key>
    <string>uni18B_3.glif</string>
    <key>uni18B4</key>
    <string>uni18B_4.glif</string>
    <key>uni18B5</key>
    <string>uni18B_5.glif</string>
    <key>uni18B6</key>
    <string>uni18B_6.glif</string>
    <key>uni18B7</key>
    <string>uni18B_7.glif</string>
    <key>uni18B8</key>
    <string>uni18B_8.glif</string>
    <key>uni18B9</key>
    <string>uni18B_9.glif</string>
    <key>uni18BA</key>
    <string>uni18B_A_.glif</string>
    <key>uni18BB</key>
    <string>uni18B_B_.glif</string>
    <key>uni18BC</key>
    <string>uni18B_C_.glif</string>
    <key>uni18BD</key>
    <string>uni18B_D_.glif</string>
    <key>uni18BE</key>
    <string>uni18B_E_.glif</string>
    <key>uni18BF</key>
    <string>uni18B_F_.glif</string>
    <key>uni18C0</key>
    <string>uni18C_0.glif</string>
    <key>uni18C1</key>
    <string>uni18C_1.glif</string>
    <key>uni18C2</key>
    <string>uni18C_2.glif</string>
    <key>uni18C3</key>
    <string>uni18C_3.glif</string>
    <key>uni18C4</key>
    <string>uni18C_4.glif</string>
    <key>uni18C5</key>
    <string>uni18C_5.glif</string>
    <key>uni18C6</key>
    <string>uni18C_6.glif</string>
    <key>uni18C7</key>
    <string>uni18C_7.glif</string>
    <key>uni18C8</key>
    <string>uni18C_8.glif</string>
    <key>uni18C9</key>
    <string>uni18C_9.glif</string>
    <key>uni18CA</key>
    <string>uni18C_A_.glif</string>
    <key>uni18CB</key>
    <string>uni18C_B_.glif</string>
    <key>uni18CC</key>
    <string>uni18C_C_.glif</string>
    <key>uni18CD</key>
    <string>uni18C_D_.glif</string>
    <key>uni18CE</key>
    <string>uni18C_E_.glif</string>
    <key>uni18CF</key>
    <string>uni18C_F_.glif</string>
    <key>uni18D0</key>
    <string>uni18D_0.glif</string>
    <key>uni18D1</key>
    <string>uni18D_1.glif</string>
    <key>uni18D2</key>
    <string>uni18D_2.glif</string>
    <key>uni18D3</key>
    <string>uni18D_3.glif</string>
    <key>uni18D4</key>
    <string>uni18D_4.glif</string>
    <key>uni18D5</key>
    <string>uni18D_5.glif</string>
    <key>uni18D6</key>
    <string>uni18D_6.glif</string>
    <key>uni18D7</key>
    <string>uni18D_7.glif</string>
    <key>uni18D8</key>
    <string>uni18D_8.glif</string>
    <key>uni18D9</key>
    <string>uni18D_9.glif</string>
    <key>uni18DA</key>
    <string>uni18D_A_.glif</string>
    <key>uni18DB</key>
    <string>uni18D_B_.glif</string>
    <key>uni18DC</key>
    <string>uni18D_C_.glif</string>
    <key>uni18DD</key>
    <string>uni18D_D_.glif</string>
    <key>uni18DE</key>
    <string>uni18D_E_.glif</string>
    <key>uni18DF</key>
    <string>uni18D_F_.glif</string>
    <key>uni18E0</key>
    <string>uni18E_0.glif</string>
    <key>uni18E1</key>
    <string>uni18E_1.glif</string>
    <key>uni18E2</key>
    <string>uni18E_2.glif</string>
    <key>uni18E3</key>
    <string>uni18E_3.glif</string>
    <key>uni18E4</key>
    <string>uni18E_4.glif</string>
    <key>uni18E5</key>
    <string>uni18E_5.glif</string>
    <key>uni18E6</key>
    <string>uni18E_6.glif</string>
    <key>uni18E7</key>
    <string>uni18E_7.glif</string>
    <key>uni18E8</key>
    <string>uni18E_8.glif</string>
    <key>uni18E9</key>
    <string>uni18E_9.glif</string>
    <key>uni18EA</key>
    <string>uni18E_A_.glif</string>
    <key>uni18EB</key>
    <string>uni18E_B_.glif</string>
    <key>uni18EC</key>
    <string>uni18E_C_.glif</string>
    <key>uni18ED</key>
    <string>uni18E_D_.glif</string>
    <key>uni18EE</key>
    <string>uni18E_E_.glif</string>
    <key>uni18EF</key>
    <string>uni18E_F_.glif</string>
    <key>uni18F0</key>
    <string>uni18F_0.glif</string>
    <key>uni18F1</key>
    <string>uni18F_1.glif</string>
    <key>uni18F2</key>
    <string>uni18F_2.glif</string>
    <key>uni18F3</key>
    <string>uni18F_3.glif</string>
    <key>uni18F4</key>
    <string>uni18F_4.glif</string>
    <key>uni18F5</key>
    <string>uni18F_5.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
