<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A_wara</string>
		<string>A_wara.sm</string>
	</array>
	<key>public.kern1.AM</key>
	<array>
		<string>AM_wara</string>
		<string>AM_wara.sm</string>
	</array>
	<key>public.kern1.ANG</key>
	<array>
		<string>ANG_wara</string>
		<string>ANG_wara.sm</string>
	</array>
	<key>public.kern1.AT</key>
	<array>
		<string>AT_wara</string>
		<string>AT_wara.sm</string>
	</array>
	<key>public.kern1.BU</key>
	<array>
		<string>BU_wara</string>
		<string>BU_wara.sm</string>
	</array>
	<key>public.kern1.DA</key>
	<array>
		<string>DA_wara</string>
		<string>DA_wara.sm</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>E_wara</string>
		<string>E_wara.sm</string>
	</array>
	<key>public.kern1.ENN</key>
	<array>
		<string>ENN_wara</string>
		<string>ENN_wara.sm</string>
	</array>
	<key>public.kern1.ENY</key>
	<array>
		<string>ENY_wara</string>
		<string>ENY_wara.sm</string>
	</array>
	<key>public.kern1.GA</key>
	<array>
		<string>GA_wara</string>
		<string>GA_wara.sm</string>
	</array>
	<key>public.kern1.HAR</key>
	<array>
		<string>HAR_wara</string>
		<string>HAR_wara.sm</string>
	</array>
	<key>public.kern1.HIYO</key>
	<array>
		<string>HIYO_wara</string>
		<string>HIYO_wara.sm</string>
	</array>
	<key>public.kern1.HOLO</key>
	<array>
		<string>HOLO_wara</string>
		<string>HOLO_wara.sm</string>
	</array>
	<key>public.kern1.HORR</key>
	<array>
		<string>HORR_wara</string>
		<string>HORR_wara.sm</string>
	</array>
	<key>public.kern1.II</key>
	<array>
		<string>II_wara</string>
		<string>II_wara.sm</string>
	</array>
	<key>public.kern1.KO</key>
	<array>
		<string>KO_wara</string>
		<string>KO_wara.sm</string>
	</array>
	<key>public.kern1.NUNG</key>
	<array>
		<string>NUNG_wara</string>
		<string>NUNG_wara.sm</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>O_wara</string>
		<string>O_wara.sm</string>
	</array>
	<key>public.kern1.ODD</key>
	<array>
		<string>ODD_wara</string>
		<string>ODD_wara.sm</string>
	</array>
	<key>public.kern1.PU</key>
	<array>
		<string>PU_wara</string>
		<string>PU_wara.sm</string>
	</array>
	<key>public.kern1.SII</key>
	<array>
		<string>SII_wara</string>
		<string>SII_wara.sm</string>
	</array>
	<key>public.kern1.SSUU</key>
	<array>
		<string>SSUU_wara</string>
		<string>SSUU_wara.sm</string>
	</array>
	<key>public.kern1.TTE</key>
	<array>
		<string>TTE_wara</string>
		<string>TTE_wara.sm</string>
	</array>
	<key>public.kern1.UC</key>
	<array>
		<string>UC_wara</string>
		<string>UC_wara.sm</string>
	</array>
	<key>public.kern1.UU</key>
	<array>
		<string>UU_wara</string>
		<string>UU_wara.sm</string>
	</array>
	<key>public.kern1.VIYO</key>
	<array>
		<string>VIYO_wara</string>
		<string>VIYO_wara.sm</string>
	</array>
	<key>public.kern1.WI</key>
	<array>
		<string>WI_wara</string>
		<string>WI_wara.sm</string>
	</array>
	<key>public.kern1.YA</key>
	<array>
		<string>YA_wara</string>
		<string>YA_wara.sm</string>
	</array>
	<key>public.kern1.YO</key>
	<array>
		<string>YO_wara</string>
		<string>YO_wara.sm</string>
	</array>
	<key>public.kern1.YU</key>
	<array>
		<string>YU_wara</string>
		<string>YU_wara.sm</string>
	</array>
	<key>public.kern1.YUJ</key>
	<array>
		<string>YUJ_wara</string>
		<string>YUJ_wara.sm</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a_wara</string>
		<string>a_wara.sm</string>
	</array>
	<key>public.kern1.am</key>
	<array>
		<string>am_wara</string>
		<string>am_wara.sm</string>
	</array>
	<key>public.kern1.ang</key>
	<array>
		<string>ang_wara</string>
		<string>ang_wara.sm</string>
	</array>
	<key>public.kern1.at</key>
	<array>
		<string>at_wara</string>
		<string>at_wara.sm</string>
	</array>
	<key>public.kern1.bu</key>
	<array>
		<string>bu_wara</string>
		<string>bu_wara.sm</string>
	</array>
	<key>public.kern1.da</key>
	<array>
		<string>da_wara</string>
		<string>da_wara.sm</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>e_wara</string>
		<string>e_wara.sm</string>
	</array>
	<key>public.kern1.enn</key>
	<array>
		<string>enn_wara</string>
		<string>enn_wara.sm</string>
	</array>
	<key>public.kern1.eny</key>
	<array>
		<string>eny_wara</string>
		<string>eny_wara.sm</string>
	</array>
	<key>public.kern1.ga</key>
	<array>
		<string>ga_wara</string>
		<string>ga_wara.sm</string>
	</array>
	<key>public.kern1.har</key>
	<array>
		<string>har_wara</string>
		<string>har_wara.sm</string>
	</array>
	<key>public.kern1.hiyo</key>
	<array>
		<string>hiyo_wara</string>
		<string>hiyo_wara.sm</string>
	</array>
	<key>public.kern1.holo</key>
	<array>
		<string>holo_wara</string>
		<string>holo_wara.sm</string>
	</array>
	<key>public.kern1.horr</key>
	<array>
		<string>horr_wara</string>
		<string>horr_wara.sm</string>
	</array>
	<key>public.kern1.ii</key>
	<array>
		<string>ii_wara</string>
		<string>ii_wara.sm</string>
	</array>
	<key>public.kern1.ko</key>
	<array>
		<string>ko_wara</string>
		<string>ko_wara.sm</string>
	</array>
	<key>public.kern1.nung</key>
	<array>
		<string>nung_wara</string>
		<string>nung_wara.sm</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>o_wara</string>
		<string>o_wara.sm</string>
	</array>
	<key>public.kern1.odd</key>
	<array>
		<string>odd_wara</string>
		<string>odd_wara.sm</string>
	</array>
	<key>public.kern1.pu</key>
	<array>
		<string>pu_wara</string>
		<string>pu_wara.sm</string>
	</array>
	<key>public.kern1.sii</key>
	<array>
		<string>sii_wara</string>
		<string>sii_wara.sm</string>
	</array>
	<key>public.kern1.ssuu</key>
	<array>
		<string>ssuu_wara</string>
		<string>ssuu_wara.sm</string>
	</array>
	<key>public.kern1.tte</key>
	<array>
		<string>tte_wara</string>
		<string>tte_wara.sm</string>
	</array>
	<key>public.kern1.uc</key>
	<array>
		<string>uc_wara</string>
		<string>uc_wara.sm</string>
	</array>
	<key>public.kern1.uu</key>
	<array>
		<string>uu_wara</string>
		<string>uu_wara.sm</string>
	</array>
	<key>public.kern1.viyo</key>
	<array>
		<string>viyo_wara</string>
		<string>viyo_wara.sm</string>
	</array>
	<key>public.kern1.wi</key>
	<array>
		<string>wi_wara</string>
		<string>wi_wara.sm</string>
	</array>
	<key>public.kern1.ya</key>
	<array>
		<string>ya_wara</string>
		<string>ya_wara.sm</string>
	</array>
	<key>public.kern1.yo</key>
	<array>
		<string>yo_wara</string>
		<string>yo_wara.sm</string>
	</array>
	<key>public.kern1.yu</key>
	<array>
		<string>yu_wara</string>
		<string>yu_wara.sm</string>
	</array>
	<key>public.kern1.yuj</key>
	<array>
		<string>yuj_wara</string>
		<string>yuj_wara.sm</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A_wara</string>
		<string>A_wara.sm</string>
	</array>
	<key>public.kern2.AM</key>
	<array>
		<string>AM_wara</string>
		<string>AM_wara.sm</string>
	</array>
	<key>public.kern2.ANG</key>
	<array>
		<string>ANG_wara</string>
		<string>ANG_wara.sm</string>
	</array>
	<key>public.kern2.AT</key>
	<array>
		<string>AT_wara</string>
		<string>AT_wara.sm</string>
	</array>
	<key>public.kern2.BU</key>
	<array>
		<string>BU_wara</string>
		<string>BU_wara.sm</string>
	</array>
	<key>public.kern2.DA</key>
	<array>
		<string>DA_wara</string>
		<string>DA_wara.sm</string>
	</array>
	<key>public.kern2.E</key>
	<array>
		<string>E_wara</string>
		<string>E_wara.sm</string>
	</array>
	<key>public.kern2.ENN</key>
	<array>
		<string>ENN_wara</string>
		<string>ENN_wara.sm</string>
	</array>
	<key>public.kern2.ENY</key>
	<array>
		<string>ENY_wara</string>
		<string>ENY_wara.sm</string>
	</array>
	<key>public.kern2.GA</key>
	<array>
		<string>GA_wara</string>
		<string>GA_wara.sm</string>
	</array>
	<key>public.kern2.HAR</key>
	<array>
		<string>HAR_wara</string>
		<string>HAR_wara.sm</string>
	</array>
	<key>public.kern2.HIYO</key>
	<array>
		<string>HIYO_wara</string>
		<string>HIYO_wara.sm</string>
	</array>
	<key>public.kern2.HOLO</key>
	<array>
		<string>HOLO_wara</string>
		<string>HOLO_wara.sm</string>
	</array>
	<key>public.kern2.HORR</key>
	<array>
		<string>HORR_wara</string>
		<string>HORR_wara.sm</string>
	</array>
	<key>public.kern2.II</key>
	<array>
		<string>II_wara</string>
		<string>II_wara.sm</string>
	</array>
	<key>public.kern2.KO</key>
	<array>
		<string>KO_wara</string>
		<string>KO_wara.sm</string>
	</array>
	<key>public.kern2.NUNG</key>
	<array>
		<string>NUNG_wara</string>
		<string>NUNG_wara.sm</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>O_wara</string>
		<string>O_wara.sm</string>
	</array>
	<key>public.kern2.ODD</key>
	<array>
		<string>ODD_wara</string>
		<string>ODD_wara.sm</string>
	</array>
	<key>public.kern2.PU</key>
	<array>
		<string>PU_wara</string>
		<string>PU_wara.sm</string>
	</array>
	<key>public.kern2.SII</key>
	<array>
		<string>SII_wara</string>
		<string>SII_wara.sm</string>
	</array>
	<key>public.kern2.SSUU</key>
	<array>
		<string>SSUU_wara</string>
		<string>SSUU_wara.sm</string>
	</array>
	<key>public.kern2.TTE</key>
	<array>
		<string>TTE_wara</string>
		<string>TTE_wara.sm</string>
	</array>
	<key>public.kern2.UC</key>
	<array>
		<string>UC_wara</string>
		<string>UC_wara.sm</string>
	</array>
	<key>public.kern2.UU</key>
	<array>
		<string>UU_wara</string>
		<string>UU_wara.sm</string>
	</array>
	<key>public.kern2.VIYO</key>
	<array>
		<string>VIYO_wara</string>
		<string>VIYO_wara.sm</string>
	</array>
	<key>public.kern2.WI</key>
	<array>
		<string>WI_wara</string>
		<string>WI_wara.sm</string>
	</array>
	<key>public.kern2.YA</key>
	<array>
		<string>YA_wara</string>
		<string>YA_wara.sm</string>
	</array>
	<key>public.kern2.YO</key>
	<array>
		<string>YO_wara</string>
		<string>YO_wara.sm</string>
	</array>
	<key>public.kern2.YU</key>
	<array>
		<string>YU_wara</string>
		<string>YU_wara.sm</string>
	</array>
	<key>public.kern2.YUJ</key>
	<array>
		<string>YUJ_wara</string>
		<string>YUJ_wara.sm</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a_wara</string>
		<string>a_wara.sm</string>
	</array>
	<key>public.kern2.am</key>
	<array>
		<string>am_wara</string>
		<string>am_wara.sm</string>
	</array>
	<key>public.kern2.ang</key>
	<array>
		<string>ang_wara</string>
		<string>ang_wara.sm</string>
	</array>
	<key>public.kern2.at</key>
	<array>
		<string>at_wara</string>
		<string>at_wara.sm</string>
	</array>
	<key>public.kern2.bu</key>
	<array>
		<string>bu_wara</string>
		<string>bu_wara.sm</string>
	</array>
	<key>public.kern2.da</key>
	<array>
		<string>da_wara</string>
		<string>da_wara.sm</string>
	</array>
	<key>public.kern2.e</key>
	<array>
		<string>e_wara</string>
		<string>e_wara.sm</string>
	</array>
	<key>public.kern2.enn</key>
	<array>
		<string>enn_wara</string>
		<string>enn_wara.sm</string>
	</array>
	<key>public.kern2.eny</key>
	<array>
		<string>eny_wara</string>
		<string>eny_wara.sm</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four_wara</string>
		<string>forty_wara</string>
	</array>
	<key>public.kern2.ga</key>
	<array>
		<string>ga_wara</string>
		<string>ga_wara.sm</string>
	</array>
	<key>public.kern2.har</key>
	<array>
		<string>har_wara</string>
		<string>har_wara.sm</string>
	</array>
	<key>public.kern2.hiyo</key>
	<array>
		<string>hiyo_wara</string>
		<string>hiyo_wara.sm</string>
	</array>
	<key>public.kern2.holo</key>
	<array>
		<string>holo_wara</string>
		<string>holo_wara.sm</string>
	</array>
	<key>public.kern2.horr</key>
	<array>
		<string>horr_wara</string>
		<string>horr_wara.sm</string>
	</array>
	<key>public.kern2.ii</key>
	<array>
		<string>ii_wara</string>
		<string>ii_wara.sm</string>
	</array>
	<key>public.kern2.ko</key>
	<array>
		<string>ko_wara</string>
		<string>ko_wara.sm</string>
	</array>
	<key>public.kern2.nung</key>
	<array>
		<string>nung_wara</string>
		<string>nung_wara.sm</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>o_wara</string>
		<string>o_wara.sm</string>
	</array>
	<key>public.kern2.odd</key>
	<array>
		<string>odd_wara</string>
		<string>odd_wara.sm</string>
	</array>
	<key>public.kern2.pu</key>
	<array>
		<string>pu_wara</string>
		<string>pu_wara.sm</string>
	</array>
	<key>public.kern2.sii</key>
	<array>
		<string>sii_wara</string>
		<string>sii_wara.sm</string>
	</array>
	<key>public.kern2.ssuu</key>
	<array>
		<string>ssuu_wara</string>
		<string>ssuu_wara.sm</string>
	</array>
	<key>public.kern2.tte</key>
	<array>
		<string>tte_wara</string>
		<string>tte_wara.sm</string>
	</array>
	<key>public.kern2.uc</key>
	<array>
		<string>uc_wara</string>
		<string>uc_wara.sm</string>
	</array>
	<key>public.kern2.uu</key>
	<array>
		<string>uu_wara</string>
		<string>uu_wara.sm</string>
	</array>
	<key>public.kern2.viyo</key>
	<array>
		<string>viyo_wara</string>
		<string>viyo_wara.sm</string>
	</array>
	<key>public.kern2.wi</key>
	<array>
		<string>wi_wara</string>
		<string>wi_wara.sm</string>
	</array>
	<key>public.kern2.ya</key>
	<array>
		<string>ya_wara</string>
		<string>ya_wara.sm</string>
	</array>
	<key>public.kern2.yo</key>
	<array>
		<string>yo_wara</string>
		<string>yo_wara.sm</string>
	</array>
	<key>public.kern2.yu</key>
	<array>
		<string>yu_wara</string>
		<string>yu_wara.sm</string>
	</array>
	<key>public.kern2.yuj</key>
	<array>
		<string>yuj_wara</string>
		<string>yuj_wara.sm</string>
	</array>
</dict>
</plist>
