<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1060</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni1B80</string>
      <string>uni1B81</string>
      <string>uni1B82</string>
      <string>uni1B83</string>
      <string>uni1B84</string>
      <string>uni1B85</string>
      <string>uni1B86</string>
      <string>uni1B87</string>
      <string>uni1B88</string>
      <string>uni1B89</string>
      <string>uni1B8A</string>
      <string>uni1B8B</string>
      <string>uni1B8C</string>
      <string>uni1B8D</string>
      <string>uni1B8E</string>
      <string>uni1B8F</string>
      <string>uni1B90</string>
      <string>uni1B91</string>
      <string>uni1B92</string>
      <string>uni1B93</string>
      <string>uni1B94</string>
      <string>uni1B95</string>
      <string>uni1B96</string>
      <string>uni1B97</string>
      <string>uni1B98</string>
      <string>uni1B99</string>
      <string>uni1B9A</string>
      <string>uni1B9B</string>
      <string>uni1B9C</string>
      <string>uni1B9D</string>
      <string>uni1B9E</string>
      <string>uni1B9F</string>
      <string>uni1BA0</string>
      <string>uni1BA1</string>
      <string>uni1BA11BA5</string>
      <string>uni1BA2</string>
      <string>uni1BA21BA5</string>
      <string>uni1BA3</string>
      <string>uni1BA31BA5</string>
      <string>uni1BA4</string>
      <string>uni1BA41B80</string>
      <string>uni1BA5</string>
      <string>uni1BA6</string>
      <string>uni1BA7</string>
      <string>uni1BA8</string>
      <string>uni1BA81B80</string>
      <string>uni1BA9</string>
      <string>uni1BA91B80</string>
      <string>uni1BAA</string>
      <string>uni1BAB</string>
      <string>uni1BAC</string>
      <string>uni1BAD</string>
      <string>uni1BAE</string>
      <string>uni1BAF</string>
      <string>uni1BB0</string>
      <string>uni1BB1</string>
      <string>uni1BB2</string>
      <string>uni1BB3</string>
      <string>uni1BB4</string>
      <string>uni1BB5</string>
      <string>uni1BB6</string>
      <string>uni1BB7</string>
      <string>uni1BB8</string>
      <string>uni1BB9</string>
      <string>uni1BBA</string>
      <string>uni1BBB</string>
      <string>uni1BBC</string>
      <string>uni1BBD</string>
      <string>uni1BBE</string>
      <string>uni1BBF</string>
      <string>uni1CC0</string>
      <string>uni1CC1</string>
      <string>uni1CC2</string>
      <string>uni1CC3</string>
      <string>uni1CC4</string>
      <string>uni1CC5</string>
      <string>uni1CC6</string>
      <string>uni1CC7</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>hyphentwo</key>
      <string>uni2010</string>
    </dict>
  </dict>
</plist>
