<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>-5</integer>
    <key>GSOffsetProportional</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>16</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1286</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
      <dict>
        <key>Name</key>
        <string>Width</string>
        <key>Tag</key>
        <string>wdth</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>900</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>900</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>alef-hb</string>
      <string>alefdagesh-hb</string>
      <string>aleflamed-hb</string>
      <string>alefpatah-hb</string>
      <string>alefqamats-hb</string>
      <string>alternativeplus-hb</string>
      <string>atnahhafukh-hb</string>
      <string>ayin-hb</string>
      <string>ayinaltone-hb</string>
      <string>bet-hb</string>
      <string>betdagesh-hb</string>
      <string>betrafe-hb</string>
      <string>dagesh-hb</string>
      <string>dalet-hb</string>
      <string>daletdagesh-hb</string>
      <string>dargaleft-hb</string>
      <string>dehi-hb</string>
      <string>etnahtaleft-hb</string>
      <string>finalkaf-hb</string>
      <string>finalkafdagesh-hb</string>
      <string>finalmem-hb</string>
      <string>finalnun-hb</string>
      <string>finalpe-hb</string>
      <string>finalpedagesh-hb</string>
      <string>finaltsadi-hb</string>
      <string>finalwidemem-hb</string>
      <string>geresh-hb</string>
      <string>gereshaccent-hb</string>
      <string>gereshmuqdam-hb</string>
      <string>gershayim-hb</string>
      <string>gershayimaccent-hb</string>
      <string>gimel-hb</string>
      <string>gimeldagesh-hb</string>
      <string>hatafpatah-hb</string>
      <string>hatafpatah_zerowidthjoiner_siluqleft-hb</string>
      <string>hatafqamats-hb</string>
      <string>hatafqamats_zerowidthjoiner_siluqleft-hb</string>
      <string>hatafsegol-hb</string>
      <string>hatafsegol_zerowidthjoiner_siluqleft-hb</string>
      <string>he-hb</string>
      <string>hedagesh-hb</string>
      <string>het-hb</string>
      <string>hiriq-hb</string>
      <string>holam-hb</string>
      <string>holamhaser-hb</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>iluy-hb</string>
      <string>judeospanishvarika-hb</string>
      <string>kaf-hb</string>
      <string>kafdagesh-hb</string>
      <string>kafrafe-hb</string>
      <string>lamed-hb</string>
      <string>lameddagesh-hb</string>
      <string>lowerdot-hb</string>
      <string>mahapakhleft-hb</string>
      <string>maqaf-hb</string>
      <string>masoracircle-hb</string>
      <string>mem-hb</string>
      <string>memdagesh-hb</string>
      <string>merkhakefulaleft-hb</string>
      <string>merkhaleft-hb</string>
      <string>munahleft-hb</string>
      <string>nbspace</string>
      <string>nun-hb</string>
      <string>nundagesh-hb</string>
      <string>nunhafukha-hb</string>
      <string>ole-hb</string>
      <string>paseq-hb</string>
      <string>pashta-hb</string>
      <string>patah-hb</string>
      <string>pazer-hb</string>
      <string>pe-hb</string>
      <string>pedagesh-hb</string>
      <string>perafe-hb</string>
      <string>qadma-hb</string>
      <string>qamats-hb</string>
      <string>qamatsqatan-hb</string>
      <string>qarneypara-hb</string>
      <string>qof-hb</string>
      <string>qofdagesh-hb</string>
      <string>qubuts-hb</string>
      <string>rafe-hb</string>
      <string>resh-hb</string>
      <string>reshdagesh-hb</string>
      <string>reviamugrash-hb</string>
      <string>samekh-hb</string>
      <string>samekhdagesh-hb</string>
      <string>segol-hb</string>
      <string>segolta-hb</string>
      <string>shalshelet-hb</string>
      <string>sheqel</string>
      <string>sheva-hb</string>
      <string>shin-hb</string>
      <string>shindagesh-hb</string>
      <string>shindageshshindot-hb</string>
      <string>shindageshsindot-hb</string>
      <string>shindot-hb</string>
      <string>shinshindot-hb</string>
      <string>shinsindot-hb</string>
      <string>siluqleft-hb</string>
      <string>sindot-hb</string>
      <string>sofpasuq-hb</string>
      <string>space</string>
      <string>tav-hb</string>
      <string>tavdagesh-hb</string>
      <string>telishagedola-hb</string>
      <string>telishaqetana-hb</string>
      <string>tet-hb</string>
      <string>tetdagesh-hb</string>
      <string>tevirleft-hb</string>
      <string>tipehaleft-hb</string>
      <string>tsadi-hb</string>
      <string>tsadidagesh-hb</string>
      <string>tsere-hb</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni200E</string>
      <string>uni200F</string>
      <string>uni25CC</string>
      <string>upperdot-hb</string>
      <string>vav-hb</string>
      <string>vavdagesh-hb</string>
      <string>vavholam-hb</string>
      <string>vavvav-hb</string>
      <string>vavyod-hb</string>
      <string>widealef-hb</string>
      <string>widedalet-hb</string>
      <string>widehe-hb</string>
      <string>widekaf-hb</string>
      <string>widelamed-hb</string>
      <string>wideresh-hb</string>
      <string>widetav-hb</string>
      <string>yerahbenyomoleft-hb</string>
      <string>yetiv-hb</string>
      <string>yod-hb</string>
      <string>yoddagesh-hb</string>
      <string>yodhiriq-hb</string>
      <string>yodyod-hb</string>
      <string>yodyodpatah-hb</string>
      <string>zaqefgadol-hb</string>
      <string>zaqefqatan-hb</string>
      <string>zarqa-hb</string>
      <string>zayin-hb</string>
      <string>zayindagesh-hb</string>
      <string>zinor-hb</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>alef-hb</string>
      <string>alefdagesh-hb</string>
      <string>aleflamed-hb</string>
      <string>alefpatah-hb</string>
      <string>alefqamats-hb</string>
      <string>alternativeplus-hb</string>
      <string>atnahhafukh-hb</string>
      <string>ayin-hb</string>
      <string>ayinaltone-hb</string>
      <string>bet-hb</string>
      <string>betdagesh-hb</string>
      <string>betrafe-hb</string>
      <string>dagesh-hb</string>
      <string>dalet-hb</string>
      <string>daletdagesh-hb</string>
      <string>dargaleft-hb</string>
      <string>dehi-hb</string>
      <string>etnahtaleft-hb</string>
      <string>finalkaf-hb</string>
      <string>finalkafdagesh-hb</string>
      <string>finalmem-hb</string>
      <string>finalnun-hb</string>
      <string>finalpe-hb</string>
      <string>finalpedagesh-hb</string>
      <string>finaltsadi-hb</string>
      <string>finalwidemem-hb</string>
      <string>geresh-hb</string>
      <string>gereshaccent-hb</string>
      <string>gereshmuqdam-hb</string>
      <string>gershayim-hb</string>
      <string>gershayimaccent-hb</string>
      <string>gimel-hb</string>
      <string>gimeldagesh-hb</string>
      <string>hatafpatah-hb</string>
      <string>hatafpatah_zerowidthjoiner_siluqleft-hb</string>
      <string>hatafqamats-hb</string>
      <string>hatafqamats_zerowidthjoiner_siluqleft-hb</string>
      <string>hatafsegol-hb</string>
      <string>hatafsegol_zerowidthjoiner_siluqleft-hb</string>
      <string>he-hb</string>
      <string>hedagesh-hb</string>
      <string>het-hb</string>
      <string>hiriq-hb</string>
      <string>holam-hb</string>
      <string>holamhaser-hb</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>iluy-hb</string>
      <string>judeospanishvarika-hb</string>
      <string>kaf-hb</string>
      <string>kafdagesh-hb</string>
      <string>kafrafe-hb</string>
      <string>lamed-hb</string>
      <string>lameddagesh-hb</string>
      <string>lowerdot-hb</string>
      <string>mahapakhleft-hb</string>
      <string>maqaf-hb</string>
      <string>masoracircle-hb</string>
      <string>mem-hb</string>
      <string>memdagesh-hb</string>
      <string>merkhakefulaleft-hb</string>
      <string>merkhaleft-hb</string>
      <string>munahleft-hb</string>
      <string>nbspace</string>
      <string>nun-hb</string>
      <string>nundagesh-hb</string>
      <string>nunhafukha-hb</string>
      <string>ole-hb</string>
      <string>paseq-hb</string>
      <string>pashta-hb</string>
      <string>patah-hb</string>
      <string>pazer-hb</string>
      <string>pe-hb</string>
      <string>pedagesh-hb</string>
      <string>perafe-hb</string>
      <string>qadma-hb</string>
      <string>qamats-hb</string>
      <string>qamatsqatan-hb</string>
      <string>qarneypara-hb</string>
      <string>qof-hb</string>
      <string>qofdagesh-hb</string>
      <string>qubuts-hb</string>
      <string>rafe-hb</string>
      <string>resh-hb</string>
      <string>reshdagesh-hb</string>
      <string>reviamugrash-hb</string>
      <string>samekh-hb</string>
      <string>samekhdagesh-hb</string>
      <string>segol-hb</string>
      <string>segolta-hb</string>
      <string>shalshelet-hb</string>
      <string>sheqel</string>
      <string>sheva-hb</string>
      <string>shin-hb</string>
      <string>shindagesh-hb</string>
      <string>shindageshshindot-hb</string>
      <string>shindageshsindot-hb</string>
      <string>shindot-hb</string>
      <string>shinshindot-hb</string>
      <string>shinsindot-hb</string>
      <string>siluqleft-hb</string>
      <string>sindot-hb</string>
      <string>sofpasuq-hb</string>
      <string>space</string>
      <string>tav-hb</string>
      <string>tavdagesh-hb</string>
      <string>telishagedola-hb</string>
      <string>telishaqetana-hb</string>
      <string>tet-hb</string>
      <string>tetdagesh-hb</string>
      <string>tevirleft-hb</string>
      <string>tipehaleft-hb</string>
      <string>tsadi-hb</string>
      <string>tsadidagesh-hb</string>
      <string>tsere-hb</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni200E</string>
      <string>uni200F</string>
      <string>uni25CC</string>
      <string>upperdot-hb</string>
      <string>vav-hb</string>
      <string>vavdagesh-hb</string>
      <string>vavholam-hb</string>
      <string>vavvav-hb</string>
      <string>vavyod-hb</string>
      <string>widealef-hb</string>
      <string>widedalet-hb</string>
      <string>widehe-hb</string>
      <string>widekaf-hb</string>
      <string>widelamed-hb</string>
      <string>wideresh-hb</string>
      <string>widetav-hb</string>
      <string>yerahbenyomoleft-hb</string>
      <string>yetiv-hb</string>
      <string>yod-hb</string>
      <string>yoddagesh-hb</string>
      <string>yodhiriq-hb</string>
      <string>yodyod-hb</string>
      <string>yodyodpatah-hb</string>
      <string>zaqefgadol-hb</string>
      <string>zaqefqatan-hb</string>
      <string>zarqa-hb</string>
      <string>zayin-hb</string>
      <string>zayindagesh-hb</string>
      <string>zinor-hb</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>alef-hb</key>
      <string>uni05D0</string>
      <key>alefdagesh-hb</key>
      <string>uniFB30</string>
      <key>aleflamed-hb</key>
      <string>uniFB4F</string>
      <key>alefpatah-hb</key>
      <string>uniFB2E</string>
      <key>alefqamats-hb</key>
      <string>uniFB2F</string>
      <key>alternativeplus-hb</key>
      <string>uniFB29</string>
      <key>atnahhafukh-hb</key>
      <string>uni05A2</string>
      <key>ayin-hb</key>
      <string>uni05E2</string>
      <key>ayinaltone-hb</key>
      <string>uniFB20</string>
      <key>bet-hb</key>
      <string>uni05D1</string>
      <key>betdagesh-hb</key>
      <string>uniFB31</string>
      <key>betrafe-hb</key>
      <string>uniFB4C</string>
      <key>dagesh-hb</key>
      <string>uni05BC</string>
      <key>dalet-hb</key>
      <string>uni05D3</string>
      <key>daletdagesh-hb</key>
      <string>uniFB33</string>
      <key>dargaleft-hb</key>
      <string>uni05A7</string>
      <key>dehi-hb</key>
      <string>uni05AD</string>
      <key>etnahtaleft-hb</key>
      <string>uni0591</string>
      <key>finalkaf-hb</key>
      <string>uni05DA</string>
      <key>finalkafdagesh-hb</key>
      <string>uniFB3A</string>
      <key>finalmem-hb</key>
      <string>uni05DD</string>
      <key>finalnun-hb</key>
      <string>uni05DF</string>
      <key>finalpe-hb</key>
      <string>uni05E3</string>
      <key>finalpedagesh-hb</key>
      <string>uniFB43</string>
      <key>finaltsadi-hb</key>
      <string>uni05E5</string>
      <key>finalwidemem-hb</key>
      <string>uniFB26</string>
      <key>geresh-hb</key>
      <string>uni05F3</string>
      <key>gereshaccent-hb</key>
      <string>uni059C</string>
      <key>gereshmuqdam-hb</key>
      <string>uni059D</string>
      <key>gershayim-hb</key>
      <string>uni05F4</string>
      <key>gershayimaccent-hb</key>
      <string>uni059E</string>
      <key>gimel-hb</key>
      <string>uni05D2</string>
      <key>gimeldagesh-hb</key>
      <string>uniFB32</string>
      <key>hatafpatah-hb</key>
      <string>uni05B2</string>
      <key>hatafpatah_zerowidthjoiner_siluqleft-hb</key>
      <string>hatafpatah_zerowidthjoiner_siluqlefthb</string>
      <key>hatafqamats-hb</key>
      <string>uni05B3</string>
      <key>hatafqamats_zerowidthjoiner_siluqleft-hb</key>
      <string>hatafqamats_zerowidthjoiner_siluqlefthb</string>
      <key>hatafsegol-hb</key>
      <string>uni05B1</string>
      <key>hatafsegol_zerowidthjoiner_siluqleft-hb</key>
      <string>hatafsegol_zerowidthjoiner_siluqlefthb</string>
      <key>he-hb</key>
      <string>uni05D4</string>
      <key>hedagesh-hb</key>
      <string>uniFB34</string>
      <key>het-hb</key>
      <string>uni05D7</string>
      <key>hiriq-hb</key>
      <string>uni05B4</string>
      <key>holam-hb</key>
      <string>uni05B9</string>
      <key>holamhaser-hb</key>
      <string>uni05BA</string>
      <key>hyphentwo</key>
      <string>uni2010</string>
      <key>iluy-hb</key>
      <string>uni05AC</string>
      <key>judeospanishvarika-hb</key>
      <string>uniFB1E</string>
      <key>kaf-hb</key>
      <string>uni05DB</string>
      <key>kafdagesh-hb</key>
      <string>uniFB3B</string>
      <key>kafrafe-hb</key>
      <string>uniFB4D</string>
      <key>lamed-hb</key>
      <string>uni05DC</string>
      <key>lameddagesh-hb</key>
      <string>uniFB3C</string>
      <key>lowerdot-hb</key>
      <string>uni05C5</string>
      <key>mahapakhleft-hb</key>
      <string>uni05A4</string>
      <key>maqaf-hb</key>
      <string>uni05BE</string>
      <key>masoracircle-hb</key>
      <string>uni05AF</string>
      <key>mem-hb</key>
      <string>uni05DE</string>
      <key>memdagesh-hb</key>
      <string>uniFB3E</string>
      <key>merkhakefulaleft-hb</key>
      <string>uni05A6</string>
      <key>merkhaleft-hb</key>
      <string>uni05A5</string>
      <key>munahleft-hb</key>
      <string>uni05A3</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nun-hb</key>
      <string>uni05E0</string>
      <key>nundagesh-hb</key>
      <string>uniFB40</string>
      <key>nunhafukha-hb</key>
      <string>uni05C6</string>
      <key>ole-hb</key>
      <string>uni05AB</string>
      <key>paseq-hb</key>
      <string>uni05C0</string>
      <key>pashta-hb</key>
      <string>uni0599</string>
      <key>patah-hb</key>
      <string>uni05B7</string>
      <key>pazer-hb</key>
      <string>uni05A1</string>
      <key>pe-hb</key>
      <string>uni05E4</string>
      <key>pedagesh-hb</key>
      <string>uniFB44</string>
      <key>perafe-hb</key>
      <string>uniFB4E</string>
      <key>qadma-hb</key>
      <string>uni05A8</string>
      <key>qamats-hb</key>
      <string>uni05B8</string>
      <key>qamatsqatan-hb</key>
      <string>uni05C7</string>
      <key>qarneypara-hb</key>
      <string>uni059F</string>
      <key>qof-hb</key>
      <string>uni05E7</string>
      <key>qofdagesh-hb</key>
      <string>uniFB47</string>
      <key>qubuts-hb</key>
      <string>uni05BB</string>
      <key>rafe-hb</key>
      <string>uni05BF</string>
      <key>resh-hb</key>
      <string>uni05E8</string>
      <key>reshdagesh-hb</key>
      <string>uniFB48</string>
      <key>reviamugrash-hb</key>
      <string>uni0597</string>
      <key>samekh-hb</key>
      <string>uni05E1</string>
      <key>samekhdagesh-hb</key>
      <string>uniFB41</string>
      <key>segol-hb</key>
      <string>uni05B6</string>
      <key>segolta-hb</key>
      <string>uni0592</string>
      <key>shalshelet-hb</key>
      <string>uni0593</string>
      <key>sheqel</key>
      <string>uni20AA</string>
      <key>sheva-hb</key>
      <string>uni05B0</string>
      <key>shin-hb</key>
      <string>uni05E9</string>
      <key>shindagesh-hb</key>
      <string>uniFB49</string>
      <key>shindageshshindot-hb</key>
      <string>uniFB2C</string>
      <key>shindageshsindot-hb</key>
      <string>uniFB2D</string>
      <key>shindot-hb</key>
      <string>uni05C1</string>
      <key>shinshindot-hb</key>
      <string>uniFB2A</string>
      <key>shinsindot-hb</key>
      <string>uniFB2B</string>
      <key>siluqleft-hb</key>
      <string>uni05BD</string>
      <key>sindot-hb</key>
      <string>uni05C2</string>
      <key>sofpasuq-hb</key>
      <string>uni05C3</string>
      <key>tav-hb</key>
      <string>uni05EA</string>
      <key>tavdagesh-hb</key>
      <string>uniFB4A</string>
      <key>telishagedola-hb</key>
      <string>uni05A0</string>
      <key>telishaqetana-hb</key>
      <string>uni05A9</string>
      <key>tet-hb</key>
      <string>uni05D8</string>
      <key>tetdagesh-hb</key>
      <string>uniFB38</string>
      <key>tevirleft-hb</key>
      <string>uni059B</string>
      <key>tipehaleft-hb</key>
      <string>uni0596</string>
      <key>tsadi-hb</key>
      <string>uni05E6</string>
      <key>tsadidagesh-hb</key>
      <string>uniFB46</string>
      <key>tsere-hb</key>
      <string>uni05B5</string>
      <key>upperdot-hb</key>
      <string>uni05C4</string>
      <key>vav-hb</key>
      <string>uni05D5</string>
      <key>vavdagesh-hb</key>
      <string>uniFB35</string>
      <key>vavholam-hb</key>
      <string>uniFB4B</string>
      <key>vavvav-hb</key>
      <string>uni05F0</string>
      <key>vavyod-hb</key>
      <string>uni05F1</string>
      <key>widealef-hb</key>
      <string>uniFB21</string>
      <key>widedalet-hb</key>
      <string>uniFB22</string>
      <key>widehe-hb</key>
      <string>uniFB23</string>
      <key>widekaf-hb</key>
      <string>uniFB24</string>
      <key>widelamed-hb</key>
      <string>uniFB25</string>
      <key>wideresh-hb</key>
      <string>uniFB27</string>
      <key>widetav-hb</key>
      <string>uniFB28</string>
      <key>yerahbenyomoleft-hb</key>
      <string>uni05AA</string>
      <key>yetiv-hb</key>
      <string>uni059A</string>
      <key>yod-hb</key>
      <string>uni05D9</string>
      <key>yoddagesh-hb</key>
      <string>uniFB39</string>
      <key>yodhiriq-hb</key>
      <string>uniFB1D</string>
      <key>yodyod-hb</key>
      <string>uni05F2</string>
      <key>yodyodpatah-hb</key>
      <string>uniFB1F</string>
      <key>zaqefgadol-hb</key>
      <string>uni0595</string>
      <key>zaqefqatan-hb</key>
      <string>uni0594</string>
      <key>zarqa-hb</key>
      <string>uni0598</string>
      <key>zayin-hb</key>
      <string>uni05D6</string>
      <key>zayindagesh-hb</key>
      <string>uniFB36</string>
      <key>zinor-hb</key>
      <string>uni05AE</string>
    </dict>
  </dict>
</plist>
