<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1700</key>
    <string>uni1700.glif</string>
    <key>uni1701</key>
    <string>uni1701.glif</string>
    <key>uni1702</key>
    <string>uni1702.glif</string>
    <key>uni1703</key>
    <string>uni1703.glif</string>
    <key>uni1704</key>
    <string>uni1704.glif</string>
    <key>uni1705</key>
    <string>uni1705.glif</string>
    <key>uni1706</key>
    <string>uni1706.glif</string>
    <key>uni1707</key>
    <string>uni1707.glif</string>
    <key>uni1708</key>
    <string>uni1708.glif</string>
    <key>uni1709</key>
    <string>uni1709.glif</string>
    <key>uni170A</key>
    <string>uni170A_.glif</string>
    <key>uni170B</key>
    <string>uni170B_.glif</string>
    <key>uni170C</key>
    <string>uni170C_.glif</string>
    <key>uni170E</key>
    <string>uni170E_.glif</string>
    <key>uni170F</key>
    <string>uni170F_.glif</string>
    <key>uni1710</key>
    <string>uni1710.glif</string>
    <key>uni1711</key>
    <string>uni1711.glif</string>
    <key>uni1712</key>
    <string>uni1712.glif</string>
    <key>uni1713</key>
    <string>uni1713.glif</string>
    <key>uni1714</key>
    <string>uni1714.glif</string>
    <key>uni1735</key>
    <string>uni1735.glif</string>
    <key>uni1736</key>
    <string>uni1736.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
