<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uA500</key>
    <string>uA_500.glif</string>
    <key>uA501</key>
    <string>uA_501.glif</string>
    <key>uA502</key>
    <string>uA_502.glif</string>
    <key>uA503</key>
    <string>uA_503.glif</string>
    <key>uA504</key>
    <string>uA_504.glif</string>
    <key>uA505</key>
    <string>uA_505.glif</string>
    <key>uA506</key>
    <string>uA_506.glif</string>
    <key>uA507</key>
    <string>uA_507.glif</string>
    <key>uA508</key>
    <string>uA_508.glif</string>
    <key>uA509</key>
    <string>uA_509.glif</string>
    <key>uA50A</key>
    <string>uA_50A_.glif</string>
    <key>uA50B</key>
    <string>uA_50B_.glif</string>
    <key>uA50C</key>
    <string>uA_50C_.glif</string>
    <key>uA50D</key>
    <string>uA_50D_.glif</string>
    <key>uA50E</key>
    <string>uA_50E_.glif</string>
    <key>uA50F</key>
    <string>uA_50F_.glif</string>
    <key>uA510</key>
    <string>uA_510.glif</string>
    <key>uA511</key>
    <string>uA_511.glif</string>
    <key>uA512</key>
    <string>uA_512.glif</string>
    <key>uA513</key>
    <string>uA_513.glif</string>
    <key>uA514</key>
    <string>uA_514.glif</string>
    <key>uA515</key>
    <string>uA_515.glif</string>
    <key>uA516</key>
    <string>uA_516.glif</string>
    <key>uA517</key>
    <string>uA_517.glif</string>
    <key>uA518</key>
    <string>uA_518.glif</string>
    <key>uA519</key>
    <string>uA_519.glif</string>
    <key>uA51A</key>
    <string>uA_51A_.glif</string>
    <key>uA51B</key>
    <string>uA_51B_.glif</string>
    <key>uA51C</key>
    <string>uA_51C_.glif</string>
    <key>uA51D</key>
    <string>uA_51D_.glif</string>
    <key>uA51E</key>
    <string>uA_51E_.glif</string>
    <key>uA51F</key>
    <string>uA_51F_.glif</string>
    <key>uA520</key>
    <string>uA_520.glif</string>
    <key>uA521</key>
    <string>uA_521.glif</string>
    <key>uA522</key>
    <string>uA_522.glif</string>
    <key>uA523</key>
    <string>uA_523.glif</string>
    <key>uA524</key>
    <string>uA_524.glif</string>
    <key>uA525</key>
    <string>uA_525.glif</string>
    <key>uA526</key>
    <string>uA_526.glif</string>
    <key>uA527</key>
    <string>uA_527.glif</string>
    <key>uA528</key>
    <string>uA_528.glif</string>
    <key>uA529</key>
    <string>uA_529.glif</string>
    <key>uA52A</key>
    <string>uA_52A_.glif</string>
    <key>uA52B</key>
    <string>uA_52B_.glif</string>
    <key>uA52C</key>
    <string>uA_52C_.glif</string>
    <key>uA52D</key>
    <string>uA_52D_.glif</string>
    <key>uA52E</key>
    <string>uA_52E_.glif</string>
    <key>uA52F</key>
    <string>uA_52F_.glif</string>
    <key>uA530</key>
    <string>uA_530.glif</string>
    <key>uA531</key>
    <string>uA_531.glif</string>
    <key>uA532</key>
    <string>uA_532.glif</string>
    <key>uA533</key>
    <string>uA_533.glif</string>
    <key>uA534</key>
    <string>uA_534.glif</string>
    <key>uA535</key>
    <string>uA_535.glif</string>
    <key>uA536</key>
    <string>uA_536.glif</string>
    <key>uA537</key>
    <string>uA_537.glif</string>
    <key>uA538</key>
    <string>uA_538.glif</string>
    <key>uA539</key>
    <string>uA_539.glif</string>
    <key>uA53A</key>
    <string>uA_53A_.glif</string>
    <key>uA53B</key>
    <string>uA_53B_.glif</string>
    <key>uA53C</key>
    <string>uA_53C_.glif</string>
    <key>uA53D</key>
    <string>uA_53D_.glif</string>
    <key>uA53E</key>
    <string>uA_53E_.glif</string>
    <key>uA53F</key>
    <string>uA_53F_.glif</string>
    <key>uA540</key>
    <string>uA_540.glif</string>
    <key>uA541</key>
    <string>uA_541.glif</string>
    <key>uA542</key>
    <string>uA_542.glif</string>
    <key>uA543</key>
    <string>uA_543.glif</string>
    <key>uA544</key>
    <string>uA_544.glif</string>
    <key>uA545</key>
    <string>uA_545.glif</string>
    <key>uA546</key>
    <string>uA_546.glif</string>
    <key>uA547</key>
    <string>uA_547.glif</string>
    <key>uA548</key>
    <string>uA_548.glif</string>
    <key>uA549</key>
    <string>uA_549.glif</string>
    <key>uA54A</key>
    <string>uA_54A_.glif</string>
    <key>uA54B</key>
    <string>uA_54B_.glif</string>
    <key>uA54C</key>
    <string>uA_54C_.glif</string>
    <key>uA54D</key>
    <string>uA_54D_.glif</string>
    <key>uA54E</key>
    <string>uA_54E_.glif</string>
    <key>uA54F</key>
    <string>uA_54F_.glif</string>
    <key>uA550</key>
    <string>uA_550.glif</string>
    <key>uA551</key>
    <string>uA_551.glif</string>
    <key>uA552</key>
    <string>uA_552.glif</string>
    <key>uA553</key>
    <string>uA_553.glif</string>
    <key>uA554</key>
    <string>uA_554.glif</string>
    <key>uA555</key>
    <string>uA_555.glif</string>
    <key>uA556</key>
    <string>uA_556.glif</string>
    <key>uA557</key>
    <string>uA_557.glif</string>
    <key>uA558</key>
    <string>uA_558.glif</string>
    <key>uA559</key>
    <string>uA_559.glif</string>
    <key>uA55A</key>
    <string>uA_55A_.glif</string>
    <key>uA55B</key>
    <string>uA_55B_.glif</string>
    <key>uA55C</key>
    <string>uA_55C_.glif</string>
    <key>uA55D</key>
    <string>uA_55D_.glif</string>
    <key>uA55E</key>
    <string>uA_55E_.glif</string>
    <key>uA55F</key>
    <string>uA_55F_.glif</string>
    <key>uA560</key>
    <string>uA_560.glif</string>
    <key>uA561</key>
    <string>uA_561.glif</string>
    <key>uA562</key>
    <string>uA_562.glif</string>
    <key>uA563</key>
    <string>uA_563.glif</string>
    <key>uA564</key>
    <string>uA_564.glif</string>
    <key>uA565</key>
    <string>uA_565.glif</string>
    <key>uA566</key>
    <string>uA_566.glif</string>
    <key>uA567</key>
    <string>uA_567.glif</string>
    <key>uA568</key>
    <string>uA_568.glif</string>
    <key>uA569</key>
    <string>uA_569.glif</string>
    <key>uA56A</key>
    <string>uA_56A_.glif</string>
    <key>uA56B</key>
    <string>uA_56B_.glif</string>
    <key>uA56C</key>
    <string>uA_56C_.glif</string>
    <key>uA56D</key>
    <string>uA_56D_.glif</string>
    <key>uA56E</key>
    <string>uA_56E_.glif</string>
    <key>uA56F</key>
    <string>uA_56F_.glif</string>
    <key>uA570</key>
    <string>uA_570.glif</string>
    <key>uA571</key>
    <string>uA_571.glif</string>
    <key>uA572</key>
    <string>uA_572.glif</string>
    <key>uA573</key>
    <string>uA_573.glif</string>
    <key>uA574</key>
    <string>uA_574.glif</string>
    <key>uA575</key>
    <string>uA_575.glif</string>
    <key>uA576</key>
    <string>uA_576.glif</string>
    <key>uA577</key>
    <string>uA_577.glif</string>
    <key>uA578</key>
    <string>uA_578.glif</string>
    <key>uA579</key>
    <string>uA_579.glif</string>
    <key>uA57A</key>
    <string>uA_57A_.glif</string>
    <key>uA57B</key>
    <string>uA_57B_.glif</string>
    <key>uA57C</key>
    <string>uA_57C_.glif</string>
    <key>uA57D</key>
    <string>uA_57D_.glif</string>
    <key>uA57E</key>
    <string>uA_57E_.glif</string>
    <key>uA57F</key>
    <string>uA_57F_.glif</string>
    <key>uA580</key>
    <string>uA_580.glif</string>
    <key>uA581</key>
    <string>uA_581.glif</string>
    <key>uA582</key>
    <string>uA_582.glif</string>
    <key>uA583</key>
    <string>uA_583.glif</string>
    <key>uA584</key>
    <string>uA_584.glif</string>
    <key>uA585</key>
    <string>uA_585.glif</string>
    <key>uA586</key>
    <string>uA_586.glif</string>
    <key>uA587</key>
    <string>uA_587.glif</string>
    <key>uA588</key>
    <string>uA_588.glif</string>
    <key>uA589</key>
    <string>uA_589.glif</string>
    <key>uA58A</key>
    <string>uA_58A_.glif</string>
    <key>uA58B</key>
    <string>uA_58B_.glif</string>
    <key>uA58C</key>
    <string>uA_58C_.glif</string>
    <key>uA58D</key>
    <string>uA_58D_.glif</string>
    <key>uA58E</key>
    <string>uA_58E_.glif</string>
    <key>uA58F</key>
    <string>uA_58F_.glif</string>
    <key>uA590</key>
    <string>uA_590.glif</string>
    <key>uA591</key>
    <string>uA_591.glif</string>
    <key>uA592</key>
    <string>uA_592.glif</string>
    <key>uA593</key>
    <string>uA_593.glif</string>
    <key>uA594</key>
    <string>uA_594.glif</string>
    <key>uA595</key>
    <string>uA_595.glif</string>
    <key>uA596</key>
    <string>uA_596.glif</string>
    <key>uA597</key>
    <string>uA_597.glif</string>
    <key>uA598</key>
    <string>uA_598.glif</string>
    <key>uA599</key>
    <string>uA_599.glif</string>
    <key>uA59A</key>
    <string>uA_59A_.glif</string>
    <key>uA59B</key>
    <string>uA_59B_.glif</string>
    <key>uA59C</key>
    <string>uA_59C_.glif</string>
    <key>uA59D</key>
    <string>uA_59D_.glif</string>
    <key>uA59E</key>
    <string>uA_59E_.glif</string>
    <key>uA59F</key>
    <string>uA_59F_.glif</string>
    <key>uA5A0</key>
    <string>uA_5A_0.glif</string>
    <key>uA5A1</key>
    <string>uA_5A_1.glif</string>
    <key>uA5A2</key>
    <string>uA_5A_2.glif</string>
    <key>uA5A3</key>
    <string>uA_5A_3.glif</string>
    <key>uA5A4</key>
    <string>uA_5A_4.glif</string>
    <key>uA5A5</key>
    <string>uA_5A_5.glif</string>
    <key>uA5A6</key>
    <string>uA_5A_6.glif</string>
    <key>uA5A7</key>
    <string>uA_5A_7.glif</string>
    <key>uA5A8</key>
    <string>uA_5A_8.glif</string>
    <key>uA5A9</key>
    <string>uA_5A_9.glif</string>
    <key>uA5AA</key>
    <string>uA_5A_A_.glif</string>
    <key>uA5AB</key>
    <string>uA_5A_B_.glif</string>
    <key>uA5AC</key>
    <string>uA_5A_C_.glif</string>
    <key>uA5AD</key>
    <string>uA_5A_D_.glif</string>
    <key>uA5AE</key>
    <string>uA_5A_E_.glif</string>
    <key>uA5AF</key>
    <string>uA_5A_F_.glif</string>
    <key>uA5B0</key>
    <string>uA_5B_0.glif</string>
    <key>uA5B1</key>
    <string>uA_5B_1.glif</string>
    <key>uA5B2</key>
    <string>uA_5B_2.glif</string>
    <key>uA5B3</key>
    <string>uA_5B_3.glif</string>
    <key>uA5B4</key>
    <string>uA_5B_4.glif</string>
    <key>uA5B5</key>
    <string>uA_5B_5.glif</string>
    <key>uA5B6</key>
    <string>uA_5B_6.glif</string>
    <key>uA5B7</key>
    <string>uA_5B_7.glif</string>
    <key>uA5B8</key>
    <string>uA_5B_8.glif</string>
    <key>uA5B9</key>
    <string>uA_5B_9.glif</string>
    <key>uA5BA</key>
    <string>uA_5B_A_.glif</string>
    <key>uA5BB</key>
    <string>uA_5B_B_.glif</string>
    <key>uA5BC</key>
    <string>uA_5B_C_.glif</string>
    <key>uA5BD</key>
    <string>uA_5B_D_.glif</string>
    <key>uA5BE</key>
    <string>uA_5B_E_.glif</string>
    <key>uA5BF</key>
    <string>uA_5B_F_.glif</string>
    <key>uA5C0</key>
    <string>uA_5C_0.glif</string>
    <key>uA5C1</key>
    <string>uA_5C_1.glif</string>
    <key>uA5C2</key>
    <string>uA_5C_2.glif</string>
    <key>uA5C3</key>
    <string>uA_5C_3.glif</string>
    <key>uA5C4</key>
    <string>uA_5C_4.glif</string>
    <key>uA5C5</key>
    <string>uA_5C_5.glif</string>
    <key>uA5C6</key>
    <string>uA_5C_6.glif</string>
    <key>uA5C7</key>
    <string>uA_5C_7.glif</string>
    <key>uA5C8</key>
    <string>uA_5C_8.glif</string>
    <key>uA5C9</key>
    <string>uA_5C_9.glif</string>
    <key>uA5CA</key>
    <string>uA_5C_A_.glif</string>
    <key>uA5CB</key>
    <string>uA_5C_B_.glif</string>
    <key>uA5CC</key>
    <string>uA_5C_C_.glif</string>
    <key>uA5CD</key>
    <string>uA_5C_D_.glif</string>
    <key>uA5CE</key>
    <string>uA_5C_E_.glif</string>
    <key>uA5CF</key>
    <string>uA_5C_F_.glif</string>
    <key>uA5D0</key>
    <string>uA_5D_0.glif</string>
    <key>uA5D1</key>
    <string>uA_5D_1.glif</string>
    <key>uA5D2</key>
    <string>uA_5D_2.glif</string>
    <key>uA5D3</key>
    <string>uA_5D_3.glif</string>
    <key>uA5D4</key>
    <string>uA_5D_4.glif</string>
    <key>uA5D5</key>
    <string>uA_5D_5.glif</string>
    <key>uA5D6</key>
    <string>uA_5D_6.glif</string>
    <key>uA5D7</key>
    <string>uA_5D_7.glif</string>
    <key>uA5D8</key>
    <string>uA_5D_8.glif</string>
    <key>uA5D9</key>
    <string>uA_5D_9.glif</string>
    <key>uA5DA</key>
    <string>uA_5D_A_.glif</string>
    <key>uA5DB</key>
    <string>uA_5D_B_.glif</string>
    <key>uA5DC</key>
    <string>uA_5D_C_.glif</string>
    <key>uA5DD</key>
    <string>uA_5D_D_.glif</string>
    <key>uA5DE</key>
    <string>uA_5D_E_.glif</string>
    <key>uA5DF</key>
    <string>uA_5D_F_.glif</string>
    <key>uA5E0</key>
    <string>uA_5E_0.glif</string>
    <key>uA5E1</key>
    <string>uA_5E_1.glif</string>
    <key>uA5E2</key>
    <string>uA_5E_2.glif</string>
    <key>uA5E3</key>
    <string>uA_5E_3.glif</string>
    <key>uA5E4</key>
    <string>uA_5E_4.glif</string>
    <key>uA5E5</key>
    <string>uA_5E_5.glif</string>
    <key>uA5E6</key>
    <string>uA_5E_6.glif</string>
    <key>uA5E7</key>
    <string>uA_5E_7.glif</string>
    <key>uA5E8</key>
    <string>uA_5E_8.glif</string>
    <key>uA5E9</key>
    <string>uA_5E_9.glif</string>
    <key>uA5EA</key>
    <string>uA_5E_A_.glif</string>
    <key>uA5EB</key>
    <string>uA_5E_B_.glif</string>
    <key>uA5EC</key>
    <string>uA_5E_C_.glif</string>
    <key>uA5ED</key>
    <string>uA_5E_D_.glif</string>
    <key>uA5EE</key>
    <string>uA_5E_E_.glif</string>
    <key>uA5EF</key>
    <string>uA_5E_F_.glif</string>
    <key>uA5F0</key>
    <string>uA_5F_0.glif</string>
    <key>uA5F1</key>
    <string>uA_5F_1.glif</string>
    <key>uA5F2</key>
    <string>uA_5F_2.glif</string>
    <key>uA5F3</key>
    <string>uA_5F_3.glif</string>
    <key>uA5F4</key>
    <string>uA_5F_4.glif</string>
    <key>uA5F5</key>
    <string>uA_5F_5.glif</string>
    <key>uA5F6</key>
    <string>uA_5F_6.glif</string>
    <key>uA5F7</key>
    <string>uA_5F_7.glif</string>
    <key>uA5F8</key>
    <string>uA_5F_8.glif</string>
    <key>uA5F9</key>
    <string>uA_5F_9.glif</string>
    <key>uA5FA</key>
    <string>uA_5F_A_.glif</string>
    <key>uA5FB</key>
    <string>uA_5F_B_.glif</string>
    <key>uA5FC</key>
    <string>uA_5F_C_.glif</string>
    <key>uA5FD</key>
    <string>uA_5F_D_.glif</string>
    <key>uA5FE</key>
    <string>uA_5F_E_.glif</string>
    <key>uA5FF</key>
    <string>uA_5F_F_.glif</string>
    <key>uA600</key>
    <string>uA_600.glif</string>
    <key>uA601</key>
    <string>uA_601.glif</string>
    <key>uA602</key>
    <string>uA_602.glif</string>
    <key>uA603</key>
    <string>uA_603.glif</string>
    <key>uA604</key>
    <string>uA_604.glif</string>
    <key>uA605</key>
    <string>uA_605.glif</string>
    <key>uA606</key>
    <string>uA_606.glif</string>
    <key>uA607</key>
    <string>uA_607.glif</string>
    <key>uA608</key>
    <string>uA_608.glif</string>
    <key>uA609</key>
    <string>uA_609.glif</string>
    <key>uA60A</key>
    <string>uA_60A_.glif</string>
    <key>uA60B</key>
    <string>uA_60B_.glif</string>
    <key>uA60C</key>
    <string>uA_60C_.glif</string>
    <key>uA60D</key>
    <string>uA_60D_.glif</string>
    <key>uA60E</key>
    <string>uA_60E_.glif</string>
    <key>uA60F</key>
    <string>uA_60F_.glif</string>
    <key>uA610</key>
    <string>uA_610.glif</string>
    <key>uA611</key>
    <string>uA_611.glif</string>
    <key>uA612</key>
    <string>uA_612.glif</string>
    <key>uA613</key>
    <string>uA_613.glif</string>
    <key>uA614</key>
    <string>uA_614.glif</string>
    <key>uA615</key>
    <string>uA_615.glif</string>
    <key>uA616</key>
    <string>uA_616.glif</string>
    <key>uA617</key>
    <string>uA_617.glif</string>
    <key>uA618</key>
    <string>uA_618.glif</string>
    <key>uA619</key>
    <string>uA_619.glif</string>
    <key>uA61A</key>
    <string>uA_61A_.glif</string>
    <key>uA61B</key>
    <string>uA_61B_.glif</string>
    <key>uA61C</key>
    <string>uA_61C_.glif</string>
    <key>uA61D</key>
    <string>uA_61D_.glif</string>
    <key>uA61E</key>
    <string>uA_61E_.glif</string>
    <key>uA61F</key>
    <string>uA_61F_.glif</string>
    <key>uA620</key>
    <string>uA_620.glif</string>
    <key>uA621</key>
    <string>uA_621.glif</string>
    <key>uA622</key>
    <string>uA_622.glif</string>
    <key>uA623</key>
    <string>uA_623.glif</string>
    <key>uA624</key>
    <string>uA_624.glif</string>
    <key>uA625</key>
    <string>uA_625.glif</string>
    <key>uA626</key>
    <string>uA_626.glif</string>
    <key>uA627</key>
    <string>uA_627.glif</string>
    <key>uA628</key>
    <string>uA_628.glif</string>
    <key>uA629</key>
    <string>uA_629.glif</string>
    <key>uA62A</key>
    <string>uA_62A_.glif</string>
    <key>uA62B</key>
    <string>uA_62B_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
