<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>39.0625</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>34.1797</real>
      <key>public.kern2.parenright</key>
      <real>34.1797</real>
      <key>public.kern2.quotesingle</key>
      <real>43.9453</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>97.6562</real>
      <key>public.kern2.parenright</key>
      <real>107.422</real>
      <key>public.kern2.quoteright</key>
      <real>78.125</real>
      <key>public.kern2.quotesingle</key>
      <real>112.305</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <real>19.5312</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>29.2969</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>39.0625</real>
      <key>public.kern2.parenright</key>
      <real>43.9453</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>43.9453</real>
      <key>public.kern2.parenright</key>
      <real>78.125</real>
      <key>public.kern2.quoteright</key>
      <real>43.9453</real>
      <key>public.kern2.quotesingle</key>
      <real>68.3594</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>63.4766</real>
      <key>public.kern2.parenright</key>
      <real>78.125</real>
      <key>public.kern2.quoteright</key>
      <real>48.8281</real>
      <key>public.kern2.quotesingle</key>
      <real>87.8906</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>24.4141</real>
      <key>public.kern2.parenright</key>
      <real>34.1797</real>
      <key>public.kern2.quoteright</key>
      <real>43.9453</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>9.76562</real>
      <key>public.kern2.T</key>
      <real>-43.9453</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.exclam</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.o-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-34.1797</real>
      <key>public.kern2.quotesingle</key>
      <real>-63.4766</real>
      <key>public.kern2.ya-tamil</key>
      <real>-29.2969</real>
      <key>slash</key>
      <real>39.0625</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>58.5938</real>
      <key>bracketright</key>
      <real>83.0078</real>
      <key>parenright</key>
      <real>73.2422</real>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>question</key>
      <real>48.8281</real>
      <key>quotedbl</key>
      <real>97.6562</real>
      <key>quotedblright</key>
      <real>58.5938</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-92.7734</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-43.9453</real>
      <key>public.kern2.nya-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.o-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-53.7109</real>
      <key>public.kern2.u-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-63.4766</real>
      <key>slash</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.T</key>
      <real>-29.2969</real>
      <key>public.kern2.a-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.i-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-14.6484</real>
      <key>public.kern2.quotesingle</key>
      <real>-68.3594</real>
      <key>quotedbl</key>
      <real>-4.88281</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-29.2969</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>48.8281</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-14.6484</real>
      <key>quotedbl</key>
      <real>29.2969</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>112.305</real>
      <key>public.kern2.a-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.colon</key>
      <real>43.9453</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>53.7109</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>53.7109</real>
      <key>public.kern2.exclam</key>
      <real>126.953</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>63.4766</real>
      <key>public.kern2.a-tamil</key>
      <real>-58.5938</real>
      <key>public.kern2.exclam</key>
      <real>24.4141</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-268.55499</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-78.125</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-253.90601</real>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-73.2422</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.om-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>39.0625</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-14.6484</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.nya-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.rra-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-29.2969</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-126.953</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-73.2422</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>92.7734</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.quoteright</key>
      <real>78.125</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>34.1797</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>53.7109</real>
    </dict>
  </dict>
</plist>
