<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hhwa-gurage.eth</key>
	<string>hhwa-gurage.eth.glif</string>
	<key>hhye.eth</key>
	<string>hhye.eth.glif</string>
	<key>hwe.eth</key>
	<string>hwe.eth.glif</string>
	<key>hwee.eth</key>
	<string>hwee.eth.glif</string>
</dict>
</plist>
