<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.HMNP_a_1ST</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_five</key>
			<integer>-15</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_u_2ND</key>
			<integer>-5</integer>
		</dict>
		<key>public.kern1.HMNP_aa_1ST</key>
		<dict>
			<key>public.kern2.HMNP_nka</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ra_2ND</key>
			<integer>3</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_da_1ST</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-27</integer>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_da_2ND</key>
			<integer>-14</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-15</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-16</integer>
			<key>public.kern2.HMNP_ka_2ND</key>
			<integer>-5</integer>
			<key>public.kern2.HMNP_khabTheeb</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_nka</key>
			<integer>1</integer>
			<key>public.kern2.HMNP_nqa_2ND</key>
			<integer>-4</integer>
			<key>public.kern2.HMNP_nra_2ND</key>
			<integer>-5</integer>
			<key>public.kern2.HMNP_ntxa_2ND</key>
			<integer>-4</integer>
			<key>public.kern2.HMNP_oo_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_qa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ra_2ND</key>
			<integer>-17</integer>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-30</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ya_2ND</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_e_1ST</key>
		<dict>
			<key>khuamLuas-hmnp</key>
			<integer>0</integer>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-30</integer>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>-13</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-43</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-21</integer>
			<key>public.kern2.HMNP_khabTheeb</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_nka</key>
			<integer>10</integer>
			<key>public.kern2.HMNP_qa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ra_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-33</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_ee_1ST</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>-5</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_la_2ND</key>
			<integer>-7</integer>
			<key>public.kern2.HMNP_nka</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_eight_1ST</key>
		<dict>
			<key>public.kern2.HMNP_eight_2ND</key>
			<integer>6</integer>
			<key>public.kern2.HMNP_five</key>
			<integer>10</integer>
			<key>public.kern2.HMNP_six_2ND</key>
			<integer>10</integer>
			<key>public.kern2.HMNP_three</key>
			<integer>10</integer>
			<key>public.kern2.HMNP_two</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.HMNP_fa_1ST</key>
		<dict>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>10</integer>
			<key>public.kern2.HMNP_la_2ND</key>
			<integer>2</integer>
		</dict>
		<key>public.kern1.HMNP_five</key>
		<dict>
			<key>public.kern2.HMNP_da_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_eight_2ND</key>
			<integer>10</integer>
			<key>public.kern2.HMNP_five</key>
			<integer>22</integer>
			<key>public.kern2.HMNP_three</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.HMNP_ga_1ST</key>
		<dict>
			<key>pes-hmnp</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-17</integer>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>-13</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_qa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ra_2ND</key>
			<integer>-7</integer>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.HMNP_i_1ST</key>
		<dict>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-9</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_khabTheeb</key>
			<integer>10</integer>
			<key>public.kern2.HMNP_la_2ND</key>
			<integer>-7</integer>
			<key>public.kern2.HMNP_nka</key>
			<integer>-9</integer>
			<key>public.kern2.HMNP_qa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-5</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-15</integer>
			<key>public.kern2.HMNP_u_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_xya_2ND</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_ka_1ST</key>
		<dict>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-15</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_eight_2ND</key>
			<integer>-9</integer>
			<key>public.kern2.HMNP_five</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_qa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-15</integer>
		</dict>
		<key>public.kern1.HMNP_khuSaim_1ST</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-64</integer>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-50</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-23</integer>
			<key>public.kern2.HMNP_khabTheeb</key>
			<integer>-50</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-33</integer>
		</dict>
		<key>public.kern1.HMNP_la_1ST</key>
		<dict>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>3</integer>
		</dict>
		<key>public.kern1.HMNP_ma_1ST</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-17</integer>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_khabTheeb</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_nka</key>
			<integer>-5</integer>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-15</integer>
		</dict>
		<key>public.kern1.HMNP_mla_1ST</key>
		<dict>
			<key>public.kern2.HMNP_nqa_2ND</key>
			<integer>-9</integer>
		</dict>
		<key>public.kern1.HMNP_nine_1ST</key>
		<dict>
			<key>public.kern2.HMNP_da_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_eight_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_five</key>
			<integer>17</integer>
			<key>public.kern2.HMNP_nine_2ND</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_nka</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_na_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_nra_1ST</key>
		<dict>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-3</integer>
		</dict>
		<key>public.kern1.HMNP_ntsa_1ST</key>
		<dict>
			<key>public.kern2.HMNP_da_2ND</key>
			<integer>-5</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.HMNP_ntxa_1ST</key>
		<dict>
			<key>public.kern2.HMNP_fa_2ND</key>
			<integer>9</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-9</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_oo_1ST</key>
		<dict>
			<key>public.kern2.HMNP_pa_2ND</key>
			<integer>9</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-6</integer>
		</dict>
		<key>public.kern1.HMNP_qa_1ST</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-11</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_rra_1ST</key>
		<dict>
			<key>khuamLuas-hmnp</key>
			<integer>0</integer>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-13</integer>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-30</integer>
			<key>public.kern2.HMNP_ee_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_ha_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_khabTheeb</key>
			<integer>-13</integer>
			<key>public.kern2.HMNP_na_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_nqa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_qa_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ra_2ND</key>
			<integer>-9</integer>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-40</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-11</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-13</integer>
		</dict>
		<key>public.kern1.HMNP_seven_1ST</key>
		<dict>
			<key>public.kern2.HMNP_five</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_three</key>
			<integer>-15</integer>
		</dict>
		<key>public.kern1.HMNP_three</key>
		<dict>
			<key>public.kern2.HMNP_five</key>
			<integer>20</integer>
			<key>public.kern2.HMNP_six_2ND</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.HMNP_two</key>
		<dict>
			<key>public.kern2.HMNP_eight_2ND</key>
			<integer>-20</integer>
			<key>public.kern2.HMNP_five</key>
			<integer>-44</integer>
			<key>public.kern2.HMNP_three</key>
			<integer>-25</integer>
		</dict>
		<key>public.kern1.HMNP_txa</key>
		<dict>
			<key>public.kern2.HMNP_aa_2ND</key>
			<integer>10</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>10</integer>
			<key>public.kern2.HMNP_ra_2ND</key>
			<integer>3</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_u_1ST</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-24</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-5</integer>
			<key>public.kern2.HMNP_khabTheeb</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ra_2ND</key>
			<integer>-9</integer>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_sa_2ND</key>
			<integer>-6</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.HMNP_va_1ST</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_ha_2ND</key>
			<integer>-5</integer>
			<key>public.kern2.HMNP_nca_2ND</key>
			<integer>-5</integer>
			<key>public.kern2.HMNP_nra_2ND</key>
			<integer>1</integer>
		</dict>
		<key>public.kern1.HMNP_w_1ST</key>
		<dict>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-11</integer>
		</dict>
		<key>public.kern1.HMNP_ya_1ST</key>
		<dict>
			<key>public.kern2.HMNP_a_2ND</key>
			<integer>-1</integer>
			<key>public.kern2.HMNP_e_2ND</key>
			<integer>-10</integer>
			<key>public.kern2.HMNP_rra_2ND</key>
			<integer>-6</integer>
			<key>public.kern2.HMNP_txa</key>
			<integer>-14</integer>
		</dict>
	</dict>
</plist>
