<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>6449CA81-A7C3-4005-93E5-765657812F1B</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>designspace.location</key>
    <array>
      <array>
        <string>Weight</string>
        <real>110.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>glyph4</string>
      <string>glyph5</string>
      <string>glyph6</string>
      <string>glyph7</string>
      <string>glyph8</string>
      <string>glyph9</string>
      <string>glyph10</string>
      <string>glyph11</string>
      <string>glyph12</string>
      <string>glyph13</string>
      <string>glyph14</string>
      <string>glyph15</string>
      <string>glyph16</string>
      <string>glyph17</string>
      <string>glyph18</string>
      <string>glyph19</string>
      <string>glyph20</string>
      <string>glyph21</string>
      <string>glyph22</string>
      <string>glyph23</string>
      <string>glyph24</string>
      <string>glyph25</string>
      <string>glyph26</string>
      <string>glyph27</string>
      <string>glyph28</string>
      <string>glyph29</string>
      <string>glyph30</string>
      <string>glyph31</string>
      <string>ma-hmnp</string>
      <string>tsa-hmnp</string>
      <string>nta-hmnp</string>
      <string>ta-hmnp</string>
      <string>ha-hmnp</string>
      <string>na-hmnp</string>
      <string>xa-hmnp</string>
      <string>nka-hmnp</string>
      <string>ca-hmnp</string>
      <string>la-hmnp</string>
      <string>sa-hmnp</string>
      <string>za-hmnp</string>
      <string>nca-hmnp</string>
      <string>ntsa-hmnp</string>
      <string>ka-hmnp</string>
      <string>da-hmnp</string>
      <string>nya-hmnp</string>
      <string>nra-hmnp</string>
      <string>va-hmnp</string>
      <string>ntxa-hmnp</string>
      <string>txa-hmnp</string>
      <string>fa-hmnp</string>
      <string>ra-hmnp</string>
      <string>qa-hmnp</string>
      <string>ya-hmnp</string>
      <string>nqa-hmnp</string>
      <string>pa-hmnp</string>
      <string>xya-hmnp</string>
      <string>npa-hmnp</string>
      <string>dla-hmnp</string>
      <string>npla-hmnp</string>
      <string>hah-hmnp</string>
      <string>mla-hmnp</string>
      <string>pla-hmnp</string>
      <string>ga-hmnp</string>
      <string>rra-hmnp</string>
      <string>glyph68</string>
      <string>glyph69</string>
      <string>glyph70</string>
      <string>glyph71</string>
      <string>glyph72</string>
      <string>glyph73</string>
      <string>glyph74</string>
      <string>glyph75</string>
      <string>glyph76</string>
      <string>glyph77</string>
      <string>glyph78</string>
      <string>glyph79</string>
      <string>glyph80</string>
      <string>glyph81</string>
      <string>glyph82</string>
      <string>glyph83</string>
      <string>glyph84</string>
      <string>glyph85</string>
      <string>glyph86</string>
      <string>glyph87</string>
      <string>glyph88</string>
      <string>glyph89</string>
      <string>glyph90</string>
      <string>glyph91</string>
      <string>glyph92</string>
      <string>glyph93</string>
      <string>glyph94</string>
      <string>glyph95</string>
      <string>glyph96</string>
      <string>glyph97</string>
      <string>glyph98</string>
      <string>glyph99</string>
      <string>glyph100</string>
      <string>glyph101</string>
      <string>glyph102</string>
      <string>glyph103</string>
      <string>glyph104</string>
      <string>glyph105</string>
      <string>glyph106</string>
      <string>glyph107</string>
      <string>glyph108</string>
      <string>glyph109</string>
      <string>glyph110</string>
      <string>glyph111</string>
      <string>glyph112</string>
      <string>glyph113</string>
      <string>glyph114</string>
      <string>glyph115</string>
      <string>glyph116</string>
      <string>glyph117</string>
      <string>glyph118</string>
      <string>glyph119</string>
      <string>glyph120</string>
      <string>glyph121</string>
      <string>glyph122</string>
      <string>glyph123</string>
      <string>glyph124</string>
      <string>glyph125</string>
      <string>glyph126</string>
      <string>glyph127</string>
      <string>a-hmnp</string>
      <string>aa-hmnp</string>
      <string>i-hmnp</string>
      <string>u-hmnp</string>
      <string>o-hmnp</string>
      <string>oo-hmnp</string>
      <string>e-hmnp</string>
      <string>ee-hmnp</string>
      <string>w-hmnp</string>
      <string>glyph137</string>
      <string>glyph138</string>
      <string>glyph139</string>
      <string>glyph140</string>
      <string>glyph141</string>
      <string>glyph142</string>
      <string>glyph143</string>
      <string>glyph144</string>
      <string>glyph145</string>
      <string>glyph146</string>
      <string>glyph147</string>
      <string>glyph148</string>
      <string>glyph149</string>
      <string>glyph150</string>
      <string>glyph151</string>
      <string>glyph152</string>
      <string>glyph153</string>
      <string>glyph154</string>
      <string>glyph155</string>
      <string>glyph156</string>
      <string>glyph157</string>
      <string>glyph158</string>
      <string>glyph159</string>
      <string>glyph160</string>
      <string>glyph161</string>
      <string>glyph162</string>
      <string>glyph163</string>
      <string>glyph164</string>
      <string>glyph165</string>
      <string>glyph166</string>
      <string>glyph167</string>
      <string>glyph168</string>
      <string>glyph169</string>
      <string>glyph170</string>
      <string>glyph171</string>
      <string>glyph172</string>
      <string>glyph173</string>
      <string>glyph174</string>
      <string>glyph175</string>
      <string>glyph176</string>
      <string>glyph177</string>
      <string>glyph178</string>
      <string>glyph179</string>
      <string>glyph180</string>
      <string>glyph181</string>
      <string>glyph182</string>
      <string>glyph183</string>
      <string>glyph184</string>
      <string>glyph185</string>
      <string>glyph186</string>
      <string>glyph187</string>
      <string>glyph188</string>
      <string>glyph189</string>
      <string>glyph190</string>
      <string>glyph191</string>
      <string>bSomThw-hmnp</string>
      <string>mSomThw-hmnp</string>
      <string>jSomThw-hmnp</string>
      <string>vSomThw-hmnp</string>
      <string>sSomThw-hmnp</string>
      <string>gSomThw-hmnp</string>
      <string>dSomThw-hmnp</string>
      <string>glyph199</string>
      <string>glyph200</string>
      <string>glyph201</string>
      <string>glyph202</string>
      <string>glyph203</string>
      <string>glyph204</string>
      <string>glyph205</string>
      <string>glyph206</string>
      <string>glyph207</string>
      <string>glyph208</string>
      <string>glyph209</string>
      <string>glyph210</string>
      <string>glyph211</string>
      <string>glyph212</string>
      <string>glyph213</string>
      <string>glyph214</string>
      <string>glyph215</string>
      <string>glyph216</string>
      <string>glyph217</string>
      <string>glyph218</string>
      <string>glyph219</string>
      <string>glyph220</string>
      <string>glyph221</string>
      <string>glyph222</string>
      <string>glyph223</string>
      <string>glyph224</string>
      <string>glyph225</string>
      <string>glyph226</string>
      <string>glyph227</string>
      <string>glyph228</string>
      <string>glyph229</string>
      <string>glyph230</string>
      <string>glyph231</string>
      <string>glyph232</string>
      <string>glyph233</string>
      <string>glyph234</string>
      <string>glyph235</string>
      <string>glyph236</string>
      <string>glyph237</string>
      <string>glyph238</string>
      <string>glyph239</string>
      <string>glyph240</string>
      <string>glyph241</string>
      <string>glyph242</string>
      <string>glyph243</string>
      <string>glyph244</string>
      <string>glyph245</string>
      <string>glyph246</string>
      <string>glyph247</string>
      <string>glyph248</string>
      <string>glyph249</string>
      <string>glyph250</string>
      <string>glyph251</string>
      <string>glyph252</string>
      <string>glyph253</string>
      <string>glyph254</string>
      <string>glyph255</string>
      <string>oov-hmnp</string>
      <string>pes-hmnp</string>
      <string>khabTheeb-hmnp</string>
      <string>khuamLuas-hmnp</string>
      <string>poos-hmnp</string>
      <string>glyph261</string>
      <string>glyph262</string>
      <string>glyph263</string>
      <string>xwXw-hmnp</string>
      <string>glyph265</string>
      <string>khuSaim-hmnp</string>
      <string>glyph267</string>
      <string>glyph268</string>
      <string>glyph269</string>
      <string>glyph270</string>
      <string>glyph271</string>
      <string>glyph272</string>
      <string>glyph273</string>
      <string>glyph274</string>
      <string>glyph275</string>
      <string>glyph276</string>
      <string>glyph277</string>
      <string>glyph278</string>
      <string>glyph279</string>
      <string>glyph280</string>
      <string>glyph281</string>
      <string>glyph282</string>
      <string>glyph283</string>
      <string>glyph284</string>
      <string>glyph285</string>
      <string>glyph286</string>
      <string>glyph287</string>
      <string>glyph288</string>
      <string>glyph289</string>
      <string>glyph290</string>
      <string>glyph291</string>
      <string>glyph292</string>
      <string>glyph293</string>
      <string>glyph294</string>
      <string>glyph295</string>
      <string>glyph296</string>
      <string>glyph297</string>
      <string>glyph298</string>
      <string>glyph299</string>
      <string>glyph300</string>
      <string>glyph301</string>
      <string>glyph302</string>
      <string>glyph303</string>
      <string>glyph304</string>
      <string>glyph305</string>
      <string>glyph306</string>
      <string>glyph307</string>
      <string>glyph308</string>
      <string>glyph309</string>
      <string>glyph310</string>
      <string>glyph311</string>
      <string>glyph312</string>
      <string>glyph313</string>
      <string>glyph314</string>
      <string>glyph315</string>
      <string>glyph316</string>
      <string>glyph317</string>
      <string>glyph318</string>
      <string>glyph319</string>
      <string>zero-hmnp</string>
      <string>one-hmnp</string>
      <string>two-hmnp</string>
      <string>three-hmnp</string>
      <string>four-hmnp</string>
      <string>five-hmnp</string>
      <string>six-hmnp</string>
      <string>seven-hmnp</string>
      <string>eight-hmnp</string>
      <string>nine-hmnp</string>
      <string>glyph330</string>
      <string>glyph331</string>
      <string>glyph332</string>
      <string>nyaj-hmnp</string>
      <string>glyph334</string>
      <string>circledCa-hmnp</string>
      <string>glyph336</string>
      <string>glyph337</string>
      <string>glyph338</string>
      <string>glyph339</string>
      <string>glyph340</string>
      <string>glyph341</string>
      <string>glyph342</string>
      <string>glyph343</string>
      <string>glyph344</string>
      <string>glyph345</string>
      <string>glyph346</string>
      <string>glyph347</string>
      <string>glyph348</string>
      <string>glyph349</string>
      <string>glyph350</string>
      <string>glyph351</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>CR</key>
      <string>uni000D</string>
      <key>a-hmnp</key>
      <string>u1E124</string>
      <key>aa-hmnp</key>
      <string>u1E125</string>
      <key>bSomThw-hmnp</key>
      <string>u1E130</string>
      <key>ca-hmnp</key>
      <string>u1E108</string>
      <key>circledCa-hmnp</key>
      <string>u1E14F</string>
      <key>dSomThw-hmnp</key>
      <string>u1E136</string>
      <key>da-hmnp</key>
      <string>u1E10F</string>
      <key>dla-hmnp</key>
      <string>u1E11D</string>
      <key>e-hmnp</key>
      <string>u1E12A</string>
      <key>ee-hmnp</key>
      <string>u1E12B</string>
      <key>eight-hmnp</key>
      <string>u1E148</string>
      <key>fa-hmnp</key>
      <string>u1E115</string>
      <key>five-hmnp</key>
      <string>u1E145</string>
      <key>four-hmnp</key>
      <string>u1E144</string>
      <key>gSomThw-hmnp</key>
      <string>u1E135</string>
      <key>ga-hmnp</key>
      <string>u1E122</string>
      <key>ha-hmnp</key>
      <string>u1E104</string>
      <key>hah-hmnp</key>
      <string>u1E11F</string>
      <key>i-hmnp</key>
      <string>u1E126</string>
      <key>jSomThw-hmnp</key>
      <string>u1E132</string>
      <key>ka-hmnp</key>
      <string>u1E10E</string>
      <key>khabTheeb-hmnp</key>
      <string>u1E139</string>
      <key>khuSaim-hmnp</key>
      <string>u1E13D</string>
      <key>khuamLuas-hmnp</key>
      <string>u1E13A</string>
      <key>la-hmnp</key>
      <string>u1E109</string>
      <key>mSomThw-hmnp</key>
      <string>u1E131</string>
      <key>ma-hmnp</key>
      <string>u1E100</string>
      <key>mla-hmnp</key>
      <string>u1E120</string>
      <key>na-hmnp</key>
      <string>u1E105</string>
      <key>nca-hmnp</key>
      <string>u1E10C</string>
      <key>nine-hmnp</key>
      <string>u1E149</string>
      <key>nka-hmnp</key>
      <string>u1E107</string>
      <key>npa-hmnp</key>
      <string>u1E11C</string>
      <key>npla-hmnp</key>
      <string>u1E11E</string>
      <key>nqa-hmnp</key>
      <string>u1E119</string>
      <key>nra-hmnp</key>
      <string>u1E111</string>
      <key>nta-hmnp</key>
      <string>u1E102</string>
      <key>ntsa-hmnp</key>
      <string>u1E10D</string>
      <key>ntxa-hmnp</key>
      <string>u1E113</string>
      <key>nya-hmnp</key>
      <string>u1E110</string>
      <key>nyaj-hmnp</key>
      <string>u1E14E</string>
      <key>o-hmnp</key>
      <string>u1E128</string>
      <key>one-hmnp</key>
      <string>u1E141</string>
      <key>oo-hmnp</key>
      <string>u1E129</string>
      <key>oov-hmnp</key>
      <string>u1E137</string>
      <key>pa-hmnp</key>
      <string>u1E11A</string>
      <key>pes-hmnp</key>
      <string>u1E138</string>
      <key>pla-hmnp</key>
      <string>u1E121</string>
      <key>poos-hmnp</key>
      <string>u1E13B</string>
      <key>qa-hmnp</key>
      <string>u1E117</string>
      <key>ra-hmnp</key>
      <string>u1E116</string>
      <key>rra-hmnp</key>
      <string>u1E123</string>
      <key>sSomThw-hmnp</key>
      <string>u1E134</string>
      <key>sa-hmnp</key>
      <string>u1E10A</string>
      <key>seven-hmnp</key>
      <string>u1E147</string>
      <key>six-hmnp</key>
      <string>u1E146</string>
      <key>ta-hmnp</key>
      <string>u1E103</string>
      <key>three-hmnp</key>
      <string>u1E143</string>
      <key>tsa-hmnp</key>
      <string>u1E101</string>
      <key>two-hmnp</key>
      <string>u1E142</string>
      <key>txa-hmnp</key>
      <string>u1E114</string>
      <key>u-hmnp</key>
      <string>u1E127</string>
      <key>vSomThw-hmnp</key>
      <string>u1E133</string>
      <key>va-hmnp</key>
      <string>u1E112</string>
      <key>w-hmnp</key>
      <string>u1E12C</string>
      <key>xa-hmnp</key>
      <string>u1E106</string>
      <key>xwXw-hmnp</key>
      <string>u1E13C</string>
      <key>xya-hmnp</key>
      <string>u1E11B</string>
      <key>ya-hmnp</key>
      <string>u1E118</string>
      <key>za-hmnp</key>
      <string>u1E10B</string>
      <key>zero-hmnp</key>
      <string>u1E140</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
