<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1346</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni0964</string>
      <string>uni0965</string>
      <string>uni09E6</string>
      <string>uni09E7</string>
      <string>uni09E8</string>
      <string>uni09E9</string>
      <string>uni09EA</string>
      <string>uni09EB</string>
      <string>uni09EC</string>
      <string>uni09ED</string>
      <string>uni09EE</string>
      <string>uni09EF</string>
      <string>uniA800</string>
      <string>uniA801</string>
      <string>uniA802</string>
      <string>uniA803</string>
      <string>uniA804</string>
      <string>uniA805</string>
      <string>uniA806</string>
      <string>uniA807</string>
      <string>uniA808</string>
      <string>uniA809</string>
      <string>uniA80A</string>
      <string>uniA80B</string>
      <string>uniA80C</string>
      <string>uniA80D</string>
      <string>uniA80E</string>
      <string>uniA80F</string>
      <string>uniA810</string>
      <string>uniA811</string>
      <string>uniA812</string>
      <string>uniA813</string>
      <string>uniA814</string>
      <string>uniA815</string>
      <string>uniA816</string>
      <string>uniA817</string>
      <string>uniA818</string>
      <string>uniA819</string>
      <string>uniA81A</string>
      <string>uniA81B</string>
      <string>uniA81C</string>
      <string>uniA81D</string>
      <string>uniA81E</string>
      <string>uniA81F</string>
      <string>uniA820</string>
      <string>uniA821</string>
      <string>uniA822</string>
      <string>uniA823</string>
      <string>uniA824</string>
      <string>uniA825</string>
      <string>uniA826</string>
      <string>uniA827</string>
      <string>uniA828</string>
      <string>uniA829</string>
      <string>uniA82A</string>
      <string>uniA82B</string>
      <string>uniA82C</string>
      <string>uniA807uniA807</string>
      <string>uniA807uniA814</string>
      <string>uniA80CuniA80C</string>
      <string>uniA80CuniA80D</string>
      <string>uniA80EuniA80E</string>
      <string>uniA814uniA814</string>
      <string>uniA818uniA814</string>
      <string>uniA818uniA816</string>
      <string>uniA818uniA818</string>
      <string>uniA81BuniA81B</string>
      <string>uniA81DuniA81B</string>
      <string>uniA81DuniA81D</string>
      <string>uniA81EuniA81F</string>
      <string>uniA821uniA807</string>
      <string>uniA821uniA80C</string>
      <string>uniA821uniA80D</string>
      <string>uniA821uniA814</string>
      <string>uniA821uniA81B</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010</string>
      <string>uni2011</string>
      <string>uni2055</string>
      <string>uni25CC</string>
    </array>
  </dict>
</plist>
