<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni103A0</key>
    <string>uni103A_0.glif</string>
    <key>uni103A1</key>
    <string>uni103A_1.glif</string>
    <key>uni103A2</key>
    <string>uni103A_2.glif</string>
    <key>uni103A3</key>
    <string>uni103A_3.glif</string>
    <key>uni103A4</key>
    <string>uni103A_4.glif</string>
    <key>uni103A5</key>
    <string>uni103A_5.glif</string>
    <key>uni103A6</key>
    <string>uni103A_6.glif</string>
    <key>uni103A7</key>
    <string>uni103A_7.glif</string>
    <key>uni103A8</key>
    <string>uni103A_8.glif</string>
    <key>uni103A9</key>
    <string>uni103A_9.glif</string>
    <key>uni103AA</key>
    <string>uni103A_A_.glif</string>
    <key>uni103AB</key>
    <string>uni103A_B_.glif</string>
    <key>uni103AC</key>
    <string>uni103A_C_.glif</string>
    <key>uni103AD</key>
    <string>uni103A_D_.glif</string>
    <key>uni103AE</key>
    <string>uni103A_E_.glif</string>
    <key>uni103AF</key>
    <string>uni103A_F_.glif</string>
    <key>uni103B0</key>
    <string>uni103B_0.glif</string>
    <key>uni103B1</key>
    <string>uni103B_1.glif</string>
    <key>uni103B2</key>
    <string>uni103B_2.glif</string>
    <key>uni103B3</key>
    <string>uni103B_3.glif</string>
    <key>uni103B4</key>
    <string>uni103B_4.glif</string>
    <key>uni103B5</key>
    <string>uni103B_5.glif</string>
    <key>uni103B6</key>
    <string>uni103B_6.glif</string>
    <key>uni103B7</key>
    <string>uni103B_7.glif</string>
    <key>uni103B8</key>
    <string>uni103B_8.glif</string>
    <key>uni103B9</key>
    <string>uni103B_9.glif</string>
    <key>uni103BA</key>
    <string>uni103B_A_.glif</string>
    <key>uni103BB</key>
    <string>uni103B_B_.glif</string>
    <key>uni103BC</key>
    <string>uni103B_C_.glif</string>
    <key>uni103BD</key>
    <string>uni103B_D_.glif</string>
    <key>uni103BE</key>
    <string>uni103B_E_.glif</string>
    <key>uni103BF</key>
    <string>uni103B_F_.glif</string>
    <key>uni103C0</key>
    <string>uni103C_0.glif</string>
    <key>uni103C1</key>
    <string>uni103C_1.glif</string>
    <key>uni103C2</key>
    <string>uni103C_2.glif</string>
    <key>uni103C3</key>
    <string>uni103C_3.glif</string>
    <key>uni103C8</key>
    <string>uni103C_8.glif</string>
    <key>uni103C9</key>
    <string>uni103C_9.glif</string>
    <key>uni103CA</key>
    <string>uni103C_A_.glif</string>
    <key>uni103CB</key>
    <string>uni103C_B_.glif</string>
    <key>uni103CC</key>
    <string>uni103C_C_.glif</string>
    <key>uni103CD</key>
    <string>uni103C_D_.glif</string>
    <key>uni103CE</key>
    <string>uni103C_E_.glif</string>
    <key>uni103CF</key>
    <string>uni103C_F_.glif</string>
    <key>uni103D0</key>
    <string>uni103D_0.glif</string>
    <key>uni103D1</key>
    <string>uni103D_1.glif</string>
    <key>uni103D2</key>
    <string>uni103D_2.glif</string>
    <key>uni103D3</key>
    <string>uni103D_3.glif</string>
    <key>uni103D4</key>
    <string>uni103D_4.glif</string>
    <key>uni103D5</key>
    <string>uni103D_5.glif</string>
  </dict>
</plist>
