<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.Ban-georgian</key>
    <array>
      <string>Ban-georgian</string>
      <string>Zen-georgian</string>
      <string>Xan-georgian</string>
    </array>
    <key>public.kern1.Ban-oldgeorgian</key>
    <array>
      <string>Ban-oldgeorgian</string>
      <string>Gan-oldgeorgian</string>
      <string>Qar-oldgeorgian</string>
    </array>
    <key>public.kern1.Cil-oldgeorgian</key>
    <array>
      <string>Cil-oldgeorgian</string>
      <string>Hoe-oldgeorgian</string>
    </array>
    <key>public.kern1.Don-georgian</key>
    <array>
      <string>Don-georgian</string>
    </array>
    <key>public.kern1.En-georgian</key>
    <array>
      <string>En-georgian</string>
      <string>Man-georgian</string>
      <string>Un-georgian</string>
      <string>Shin-georgian</string>
    </array>
    <key>public.kern1.In-georgian</key>
    <array>
      <string>Tan-georgian</string>
      <string>In-georgian</string>
      <string>On-georgian</string>
      <string>HardSign-georgian</string>
      <string>Labial-georgian</string>
    </array>
    <key>public.kern1.Las-georgian</key>
    <array>
      <string>Las-georgian</string>
      <string>Ghan-georgian</string>
    </array>
    <key>public.kern1.Par-georgian</key>
    <array>
      <string>Par-georgian</string>
      <string>Can-georgian</string>
      <string>Hae-georgian</string>
      <string>He-georgian</string>
      <string>Har-georgian</string>
    </array>
    <key>public.kern1.Vin-oldgeorgian</key>
    <array>
      <string>Vin-oldgeorgian</string>
      <string>Tan-oldgeorgian</string>
      <string>Man-oldgeorgian</string>
      <string>Rae-oldgeorgian</string>
    </array>
    <key>public.kern1.Zhar-georgian</key>
    <array>
      <string>Zhar-georgian</string>
      <string>Khar-georgian</string>
      <string>Qar-georgian</string>
      <string>Jil-georgian</string>
    </array>
    <key>public.kern1.an-georgian</key>
    <array>
      <string>an-georgian</string>
      <string>san-georgian</string>
      <string>an-georgian_dieresiscomb</string>
      <string>an-georgian_acutecomb</string>
      <string>an-georgian_macroncomb</string>
      <string>an-georgian_macroncomb_dieresiscomb</string>
    </array>
    <key>public.kern1.an-oldgeorgian</key>
    <array>
      <string>an-oldgeorgian</string>
      <string>char-oldgeorgian</string>
    </array>
    <key>public.kern1.ban-oldgeorgian</key>
    <array>
      <string>ban-oldgeorgian</string>
      <string>gan-oldgeorgian</string>
    </array>
    <key>public.kern1.en-georgian</key>
    <array>
      <string>en-georgian</string>
      <string>un-georgian</string>
      <string>en-georgian_acutecomb</string>
      <string>en-georgian_macroncomb</string>
    </array>
    <key>public.kern1.en-oldgeorgian</key>
    <array>
      <string>en-oldgeorgian</string>
      <string>kan-oldgeorgian</string>
      <string>zhar-oldgeorgian</string>
      <string>qar-oldgeorgian</string>
      <string>shin-oldgeorgian</string>
    </array>
    <key>public.kern1.ghan-oldgeorgian</key>
    <array>
      <string>in-oldgeorgian</string>
      <string>can-oldgeorgian</string>
    </array>
    <key>public.kern1.hae-georgian</key>
    <array>
      <string>hae-georgian</string>
      <string>he-georgian</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.in-georgian</key>
    <array>
      <string>ban-georgian</string>
      <string>don-georgian</string>
      <string>zen-georgian</string>
      <string>tan-georgian</string>
      <string>in-georgian</string>
      <string>on-georgian</string>
      <string>rae-georgian</string>
      <string>xan-georgian</string>
      <string>turnedgan-georgian</string>
      <string>labial-georgian</string>
      <string>in-georgian_acutecomb</string>
    </array>
    <key>public.kern1.jhan-oldgeorgian</key>
    <array>
      <string>jhan-oldgeorgian</string>
      <string>aen-oldgeorgian</string>
    </array>
    <key>public.kern1.las-georgian</key>
    <array>
      <string>las-georgian</string>
      <string>ghan-georgian</string>
    </array>
    <key>public.kern1.man-georgian</key>
    <array>
      <string>man-georgian</string>
      <string>shin-georgian</string>
    </array>
    <key>public.kern1.nar-oldgeorgian</key>
    <array>
      <string>nar-oldgeorgian</string>
      <string>hoe-oldgeorgian</string>
    </array>
    <key>public.kern1.on-georgian</key>
    <array>
      <string>on-georgian_dieresiscomb</string>
      <string>on-georgian_acutecomb</string>
      <string>on-georgian_macroncomb</string>
      <string>on-georgian_macroncomb_dieresiscomb</string>
    </array>
    <key>public.kern1.un-georgian</key>
    <array>
      <string>un-georgian_dieresiscomb</string>
      <string>un-georgian_acutecomb</string>
      <string>un-georgian_circumflexcomb</string>
      <string>un-georgian_macroncomb</string>
      <string>un-georgian_macroncomb_dieresiscomb</string>
    </array>
    <key>public.kern1.un-oldgeorgian</key>
    <array>
      <string>un-oldgeorgian</string>
      <string>we-oldgeorgian</string>
    </array>
    <key>public.kern1.uni10D4</key>
    <array>
      <string>tar-georgian</string>
    </array>
    <key>public.kern1.uni10D8</key>
    <array>
      <string>chin-georgian</string>
      <string>fi-georgian</string>
    </array>
    <key>public.kern1.uni10D9</key>
    <array>
      <string>phar-georgian</string>
    </array>
    <key>public.kern1.vin-oldgeorgian</key>
    <array>
      <string>vin-oldgeorgian</string>
      <string>tan-oldgeorgian</string>
      <string>las-oldgeorgian</string>
      <string>on-oldgeorgian</string>
      <string>par-oldgeorgian</string>
      <string>rae-oldgeorgian</string>
      <string>san-oldgeorgian</string>
      <string>ghan-oldgeorgian</string>
      <string>chin-oldgeorgian</string>
      <string>jil-oldgeorgian</string>
      <string>cil-oldgeorgian</string>
      <string>hae-oldgeorgian</string>
    </array>
    <key>public.kern1.yn-georgian</key>
    <array>
      <string>yn-georgian_acutecomb</string>
      <string>yn-georgian_macroncomb</string>
    </array>
    <key>public.kern1.zen-oldgeorgian</key>
    <array>
      <string>zen-oldgeorgian</string>
      <string>phar-oldgeorgian</string>
      <string>hie-oldgeorgian</string>
    </array>
    <key>public.kern2.Ban-georgian</key>
    <array>
      <string>Ban-georgian</string>
      <string>Jil-georgian</string>
    </array>
    <key>public.kern2.Don-georgian</key>
    <array>
      <string>Don-georgian</string>
      <string>Las-georgian</string>
      <string>Ghan-georgian</string>
    </array>
    <key>public.kern2.En-georgian</key>
    <array>
      <string>En-georgian</string>
      <string>Vin-georgian</string>
      <string>We-georgian</string>
      <string>Har-georgian</string>
      <string>Hoe-georgian</string>
      <string>Yn-georgian</string>
      <string>Aen-georgian</string>
    </array>
    <key>public.kern2.Gan-oldgeorgian</key>
    <array>
      <string>Gan-oldgeorgian</string>
      <string>En-oldgeorgian</string>
      <string>Vin-oldgeorgian</string>
      <string>Las-oldgeorgian</string>
      <string>Hae-oldgeorgian</string>
    </array>
    <key>public.kern2.In-georgian</key>
    <array>
      <string>Tan-georgian</string>
      <string>In-georgian</string>
      <string>On-georgian</string>
      <string>Can-georgian</string>
      <string>He-georgian</string>
      <string>HardSign-georgian</string>
      <string>Labial-georgian</string>
    </array>
    <key>public.kern2.Kan-oldgeorgian</key>
    <array>
      <string>Kan-oldgeorgian</string>
      <string>San-oldgeorgian</string>
      <string>He-oldgeorgian</string>
    </array>
    <key>public.kern2.Nar-georgian</key>
    <array>
      <string>Nar-georgian</string>
      <string>Elifi-georgian</string>
    </array>
    <key>public.kern2.Nar-oldgeorgian</key>
    <array>
      <string>Nar-oldgeorgian</string>
      <string>Chin-oldgeorgian</string>
      <string>Xan-oldgeorgian</string>
    </array>
    <key>public.kern2.On-oldgeorgian</key>
    <array>
      <string>Tan-oldgeorgian</string>
      <string>On-oldgeorgian</string>
      <string>Un-oldgeorgian</string>
      <string>Can-oldgeorgian</string>
    </array>
    <key>public.kern2.Qar-oldgeorgian</key>
    <array>
      <string>Qar-oldgeorgian</string>
      <string>Har-oldgeorgian</string>
    </array>
    <key>public.kern2.Tar-oldgeorgian</key>
    <array>
      <string>Tar-oldgeorgian</string>
      <string>Cil-oldgeorgian</string>
    </array>
    <key>public.kern2.Xan-georgian</key>
    <array>
      <string>San-georgian</string>
      <string>Xan-georgian</string>
    </array>
    <key>public.kern2.Zen-oldgeorgian</key>
    <array>
      <string>Zen-oldgeorgian</string>
      <string>In-oldgeorgian</string>
      <string>Par-oldgeorgian</string>
    </array>
    <key>public.kern2.an-georgian</key>
    <array>
      <string>an-georgian</string>
      <string>par-georgian</string>
      <string>an-georgian_dieresiscomb</string>
      <string>an-georgian_acutecomb</string>
      <string>an-georgian_macroncomb</string>
      <string>an-georgian_macroncomb_dieresiscomb</string>
    </array>
    <key>public.kern2.an-oldgeorgian</key>
    <array>
      <string>an-oldgeorgian</string>
      <string>in-oldgeorgian</string>
      <string>par-oldgeorgian</string>
      <string>zhar-oldgeorgian</string>
    </array>
    <key>public.kern2.ban-oldgeorgian</key>
    <array>
      <string>ban-oldgeorgian</string>
      <string>tar-oldgeorgian</string>
      <string>shin-oldgeorgian</string>
    </array>
    <key>public.kern2.can-oldgeorgian</key>
    <array>
      <string>can-oldgeorgian</string>
      <string>cil-oldgeorgian</string>
      <string>char-oldgeorgian</string>
      <string>xan-oldgeorgian</string>
    </array>
    <key>public.kern2.chin-oldgeorgian</key>
    <array>
      <string>chin-oldgeorgian</string>
      <string>he-oldgeorgian</string>
    </array>
    <key>public.kern2.don-georgian</key>
    <array>
      <string>don-georgian</string>
      <string>las-georgian</string>
      <string>ghan-georgian</string>
    </array>
    <key>public.kern2.don-oldgeorgian</key>
    <array>
      <string>don-oldgeorgian</string>
      <string>man-oldgeorgian</string>
    </array>
    <key>public.kern2.en-georgian</key>
    <array>
      <string>en-georgian</string>
      <string>khar-georgian</string>
      <string>en-georgian_acutecomb</string>
      <string>en-georgian_macroncomb</string>
    </array>
    <key>public.kern2.gan-oldgeorgian</key>
    <array>
      <string>gan-oldgeorgian</string>
      <string>en-oldgeorgian</string>
      <string>vin-oldgeorgian</string>
      <string>las-oldgeorgian</string>
      <string>ghan-oldgeorgian</string>
      <string>hae-oldgeorgian</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.in-georgian</key>
    <array>
      <string>ban-georgian</string>
      <string>tan-georgian</string>
      <string>in-georgian</string>
      <string>on-georgian</string>
      <string>phar-georgian</string>
      <string>jil-georgian</string>
      <string>turnedgan-georgian</string>
      <string>labial-georgian</string>
      <string>in-georgian_acutecomb</string>
    </array>
    <key>public.kern2.jil-oldgeorgian</key>
    <array>
      <string>phar-oldgeorgian</string>
      <string>jil-oldgeorgian</string>
      <string>hoe-oldgeorgian</string>
    </array>
    <key>public.kern2.kan-oldgeorgian</key>
    <array>
      <string>kan-oldgeorgian</string>
      <string>san-oldgeorgian</string>
    </array>
    <key>public.kern2.on-georgian</key>
    <array>
      <string>on-georgian_dieresiscomb</string>
      <string>on-georgian_acutecomb</string>
      <string>on-georgian_macroncomb</string>
      <string>on-georgian_macroncomb_dieresiscomb</string>
    </array>
    <key>public.kern2.qar-oldgeorgian</key>
    <array>
      <string>on-oldgeorgian</string>
      <string>rae-oldgeorgian</string>
      <string>un-oldgeorgian</string>
      <string>qar-oldgeorgian</string>
      <string>we-oldgeorgian</string>
      <string>har-oldgeorgian</string>
    </array>
    <key>public.kern2.san-georgian</key>
    <array>
      <string>san-georgian</string>
      <string>xan-georgian</string>
    </array>
    <key>public.kern2.tar-georgian</key>
    <array>
      <string>tar-georgian</string>
      <string>can-georgian</string>
    </array>
    <key>public.kern2.un-georgian</key>
    <array>
      <string>un-georgian_dieresiscomb</string>
      <string>un-georgian_acutecomb</string>
      <string>un-georgian_circumflexcomb</string>
      <string>un-georgian_macroncomb</string>
      <string>un-georgian_macroncomb_dieresiscomb</string>
    </array>
    <key>public.kern2.ungan-oldgeorgian</key>
    <array>
      <string>tan-oldgeorgian</string>
    </array>
    <key>public.kern2.uni10D8</key>
    <array>
      <string>fi-georgian</string>
    </array>
    <key>public.kern2.vin-georgian</key>
    <array>
      <string>vin-georgian</string>
      <string>we-georgian</string>
    </array>
    <key>public.kern2.yn-georgian</key>
    <array>
      <string>yn-georgian_acutecomb</string>
      <string>yn-georgian_macroncomb</string>
    </array>
  </dict>
</plist>
