<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.schriftgestaltung.DisplayStrings</key>
		<array>
		</array>
		<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
		<false/>
		<key>com.schriftgestaltung.font.customParameters</key>
		<array>
			<dict>
				<key>name</key>
				<string>Use Typo Metrics</string>
				<key>value</key>
				<true/>
			</dict>
		</array>
		<key>com.schriftgestaltung.fontMasterID</key>
		<string>master01</string>
		<key>com.schriftgestaltung.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>CR</string>
			<string>NULL</string>
			<string>space</string>
			<string>uni00A0</string>
			<string>uni16A0</string>
			<string>uni16A1</string>
			<string>uni16A2</string>
			<string>uni16A3</string>
			<string>uni16A4</string>
			<string>uni16A5</string>
			<string>uni16A6</string>
			<string>uni16A7</string>
			<string>uni16A8</string>
			<string>uni16A9</string>
			<string>uni16AA</string>
			<string>uni16AB</string>
			<string>uni16AC</string>
			<string>uni16AD</string>
			<string>uni16AE</string>
			<string>uni16AF</string>
			<string>uni16B0</string>
			<string>uni16B1</string>
			<string>uni16B2</string>
			<string>uni16B3</string>
			<string>uni16B4</string>
			<string>uni16B5</string>
			<string>uni16B6</string>
			<string>uni16B7</string>
			<string>uni16B8</string>
			<string>uni16B9</string>
			<string>uni16BA</string>
			<string>uni16BB</string>
			<string>uni16BC</string>
			<string>uni16BD</string>
			<string>uni16BE</string>
			<string>uni16BF</string>
			<string>uni16C0</string>
			<string>uni16C1</string>
			<string>uni16C2</string>
			<string>uni16C3</string>
			<string>uni16C4</string>
			<string>uni16C5</string>
			<string>uni16C6</string>
			<string>uni16C7</string>
			<string>uni16C8</string>
			<string>uni16C9</string>
			<string>uni16CA</string>
			<string>uni16CB</string>
			<string>uni16CC</string>
			<string>uni16CD</string>
			<string>uni16CE</string>
			<string>uni16CF</string>
			<string>uni16D0</string>
			<string>uni16D1</string>
			<string>uni16D2</string>
			<string>uni16D3</string>
			<string>uni16D4</string>
			<string>uni16D5</string>
			<string>uni16D6</string>
			<string>uni16D7</string>
			<string>uni16D8</string>
			<string>uni16D9</string>
			<string>uni16DA</string>
			<string>uni16DB</string>
			<string>uni16DC</string>
			<string>uni16DD</string>
			<string>uni16DE</string>
			<string>uni16DF</string>
			<string>uni16E0</string>
			<string>uni16E1</string>
			<string>uni16E2</string>
			<string>uni16E3</string>
			<string>uni16E4</string>
			<string>uni16E5</string>
			<string>uni16E6</string>
			<string>uni16E7</string>
			<string>uni16E8</string>
			<string>uni16E9</string>
			<string>uni16EA</string>
			<string>uni16EB</string>
			<string>uni16EC</string>
			<string>uni16ED</string>
			<string>uni16EE</string>
			<string>uni16EF</string>
			<string>uni16F0</string>
			<string>uni16F1</string>
			<string>uni16F2</string>
			<string>uni16F3</string>
			<string>uni16F4</string>
			<string>uni16F5</string>
			<string>uni16F6</string>
			<string>uni16F7</string>
			<string>uni16F8</string>
		</array>
		<key>com.schriftgestaltung.useNiceNames</key>
		<false/>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.5.4
1650282284.8 fontinfo.plist
1650282307.3 layercontents.plist
1650282093.4 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>CR</string>
			<string>NULL</string>
			<string>space</string>
			<string>uni00A0</string>
			<string>uni16A0</string>
			<string>uni16A1</string>
			<string>uni16A2</string>
			<string>uni16A3</string>
			<string>uni16A4</string>
			<string>uni16A5</string>
			<string>uni16A6</string>
			<string>uni16A7</string>
			<string>uni16A8</string>
			<string>uni16A9</string>
			<string>uni16AA</string>
			<string>uni16AB</string>
			<string>uni16AC</string>
			<string>uni16AD</string>
			<string>uni16AE</string>
			<string>uni16AF</string>
			<string>uni16B0</string>
			<string>uni16B1</string>
			<string>uni16B2</string>
			<string>uni16B3</string>
			<string>uni16B4</string>
			<string>uni16B5</string>
			<string>uni16B6</string>
			<string>uni16B7</string>
			<string>uni16B8</string>
			<string>uni16B9</string>
			<string>uni16BA</string>
			<string>uni16BB</string>
			<string>uni16BC</string>
			<string>uni16BD</string>
			<string>uni16BE</string>
			<string>uni16BF</string>
			<string>uni16C0</string>
			<string>uni16C1</string>
			<string>uni16C2</string>
			<string>uni16C3</string>
			<string>uni16C4</string>
			<string>uni16C5</string>
			<string>uni16C6</string>
			<string>uni16C7</string>
			<string>uni16C8</string>
			<string>uni16C9</string>
			<string>uni16CA</string>
			<string>uni16CB</string>
			<string>uni16CC</string>
			<string>uni16CD</string>
			<string>uni16CE</string>
			<string>uni16CF</string>
			<string>uni16D0</string>
			<string>uni16D1</string>
			<string>uni16D2</string>
			<string>uni16D3</string>
			<string>uni16D4</string>
			<string>uni16D5</string>
			<string>uni16D6</string>
			<string>uni16D7</string>
			<string>uni16D8</string>
			<string>uni16D9</string>
			<string>uni16DA</string>
			<string>uni16DB</string>
			<string>uni16DC</string>
			<string>uni16DD</string>
			<string>uni16DE</string>
			<string>uni16DF</string>
			<string>uni16E0</string>
			<string>uni16E1</string>
			<string>uni16E2</string>
			<string>uni16E3</string>
			<string>uni16E4</string>
			<string>uni16E5</string>
			<string>uni16E6</string>
			<string>uni16E7</string>
			<string>uni16E8</string>
			<string>uni16E9</string>
			<string>uni16EA</string>
			<string>uni16EB</string>
			<string>uni16EC</string>
			<string>uni16ED</string>
			<string>uni16EE</string>
			<string>uni16EF</string>
			<string>uni16F0</string>
			<string>uni16F1</string>
			<string>uni16F2</string>
			<string>uni16F3</string>
			<string>uni16F4</string>
			<string>uni16F5</string>
			<string>uni16F6</string>
			<string>uni16F7</string>
			<string>uni16F8</string>
			<string>uni0323</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
			<key>NULL</key>
			<string>uni0000</string>
		</dict>
	</dict>
</plist>
