<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>964</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u102A0</string>
      <string>u102A1</string>
      <string>u102A2</string>
      <string>u102A3</string>
      <string>u102A4</string>
      <string>u102A5</string>
      <string>u102A6</string>
      <string>u102A7</string>
      <string>u102A8</string>
      <string>u102A9</string>
      <string>u102AA</string>
      <string>u102AB</string>
      <string>u102AC</string>
      <string>u102AD</string>
      <string>u102AE</string>
      <string>u102AF</string>
      <string>u102B0</string>
      <string>u102B1</string>
      <string>u102B2</string>
      <string>u102B3</string>
      <string>u102B4</string>
      <string>u102B5</string>
      <string>u102B6</string>
      <string>u102B7</string>
      <string>u102B8</string>
      <string>u102B9</string>
      <string>u102BA</string>
      <string>u102BB</string>
      <string>u102BC</string>
      <string>u102BD</string>
      <string>u102BE</string>
      <string>u102BF</string>
      <string>u102C0</string>
      <string>u102C1</string>
      <string>u102C2</string>
      <string>u102C3</string>
      <string>u102C4</string>
      <string>u102C5</string>
      <string>u102C6</string>
      <string>u102C7</string>
      <string>u102C8</string>
      <string>u102C9</string>
      <string>u102CA</string>
      <string>u102CB</string>
      <string>u102CC</string>
      <string>u102CD</string>
      <string>u102CE</string>
      <string>u102CF</string>
      <string>u102D0</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
