<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA78B</key>
    <string>uniA_78B_.glif</string>
    <key>uniA78C</key>
    <string>uniA_78C_.glif</string>
    <key>uniAA80</key>
    <string>uniA_A_80.glif</string>
    <key>uniAA81</key>
    <string>uniA_A_81.glif</string>
    <key>uniAA82</key>
    <string>uniA_A_82.glif</string>
    <key>uniAA83</key>
    <string>uniA_A_83.glif</string>
    <key>uniAA84</key>
    <string>uniA_A_84.glif</string>
    <key>uniAA85</key>
    <string>uniA_A_85.glif</string>
    <key>uniAA86</key>
    <string>uniA_A_86.glif</string>
    <key>uniAA87</key>
    <string>uniA_A_87.glif</string>
    <key>uniAA88</key>
    <string>uniA_A_88.glif</string>
    <key>uniAA89</key>
    <string>uniA_A_89.glif</string>
    <key>uniAA8A</key>
    <string>uniA_A_8A_.glif</string>
    <key>uniAA8B</key>
    <string>uniA_A_8B_.glif</string>
    <key>uniAA8C</key>
    <string>uniA_A_8C_.glif</string>
    <key>uniAA8D</key>
    <string>uniA_A_8D_.glif</string>
    <key>uniAA8E</key>
    <string>uniA_A_8E_.glif</string>
    <key>uniAA8F</key>
    <string>uniA_A_8F_.glif</string>
    <key>uniAA90</key>
    <string>uniA_A_90.glif</string>
    <key>uniAA91</key>
    <string>uniA_A_91.glif</string>
    <key>uniAA92</key>
    <string>uniA_A_92.glif</string>
    <key>uniAA93</key>
    <string>uniA_A_93.glif</string>
    <key>uniAA94</key>
    <string>uniA_A_94.glif</string>
    <key>uniAA95</key>
    <string>uniA_A_95.glif</string>
    <key>uniAA96</key>
    <string>uniA_A_96.glif</string>
    <key>uniAA97</key>
    <string>uniA_A_97.glif</string>
    <key>uniAA98</key>
    <string>uniA_A_98.glif</string>
    <key>uniAA99</key>
    <string>uniA_A_99.glif</string>
    <key>uniAA9A</key>
    <string>uniA_A_9A_.glif</string>
    <key>uniAA9B</key>
    <string>uniA_A_9B_.glif</string>
    <key>uniAA9C</key>
    <string>uniA_A_9C_.glif</string>
    <key>uniAA9D</key>
    <string>uniA_A_9D_.glif</string>
    <key>uniAA9E</key>
    <string>uniA_A_9E_.glif</string>
    <key>uniAA9F</key>
    <string>uniA_A_9F_.glif</string>
    <key>uniAAA0</key>
    <string>uniA_A_A_0.glif</string>
    <key>uniAAA1</key>
    <string>uniA_A_A_1.glif</string>
    <key>uniAAA2</key>
    <string>uniA_A_A_2.glif</string>
    <key>uniAAA3</key>
    <string>uniA_A_A_3.glif</string>
    <key>uniAAA4</key>
    <string>uniA_A_A_4.glif</string>
    <key>uniAAA5</key>
    <string>uniA_A_A_5.glif</string>
    <key>uniAAA6</key>
    <string>uniA_A_A_6.glif</string>
    <key>uniAAA7</key>
    <string>uniA_A_A_7.glif</string>
    <key>uniAAA8</key>
    <string>uniA_A_A_8.glif</string>
    <key>uniAAA9</key>
    <string>uniA_A_A_9.glif</string>
    <key>uniAAAA</key>
    <string>uniA_A_A_A_.glif</string>
    <key>uniAAAB</key>
    <string>uniA_A_A_B_.glif</string>
    <key>uniAAAC</key>
    <string>uniA_A_A_C_.glif</string>
    <key>uniAAAD</key>
    <string>uniA_A_A_D_.glif</string>
    <key>uniAAAE</key>
    <string>uniA_A_A_E_.glif</string>
    <key>uniAAAF</key>
    <string>uniA_A_A_F_.glif</string>
    <key>uniAAB0</key>
    <string>uniA_A_B_0.glif</string>
    <key>uniAAB1</key>
    <string>uniA_A_B_1.glif</string>
    <key>uniAAB2</key>
    <string>uniA_A_B_2.glif</string>
    <key>uniAAB3</key>
    <string>uniA_A_B_3.glif</string>
    <key>uniAAB4</key>
    <string>uniA_A_B_4.glif</string>
    <key>uniAAB5</key>
    <string>uniA_A_B_5.glif</string>
    <key>uniAAB6</key>
    <string>uniA_A_B_6.glif</string>
    <key>uniAAB7</key>
    <string>uniA_A_B_7.glif</string>
    <key>uniAAB8</key>
    <string>uniA_A_B_8.glif</string>
    <key>uniAAB9</key>
    <string>uniA_A_B_9.glif</string>
    <key>uniAABA</key>
    <string>uniA_A_B_A_.glif</string>
    <key>uniAABB</key>
    <string>uniA_A_B_B_.glif</string>
    <key>uniAABC</key>
    <string>uniA_A_B_C_.glif</string>
    <key>uniAABD</key>
    <string>uniA_A_B_D_.glif</string>
    <key>uniAABE</key>
    <string>uniA_A_B_E_.glif</string>
    <key>uniAABF</key>
    <string>uniA_A_B_F_.glif</string>
    <key>uniAAC0</key>
    <string>uniA_A_C_0.glif</string>
    <key>uniAAC1</key>
    <string>uniA_A_C_1.glif</string>
    <key>uniAAC2</key>
    <string>uniA_A_C_2.glif</string>
    <key>uniAADB</key>
    <string>uniA_A_D_B_.glif</string>
    <key>uniAADC</key>
    <string>uniA_A_D_C_.glif</string>
    <key>uniAADD</key>
    <string>uniA_A_D_D_.glif</string>
    <key>uniAADE</key>
    <string>uniA_A_D_E_.glif</string>
    <key>uniAADF</key>
    <string>uniA_A_D_F_.glif</string>
  </dict>
</plist>
