<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>1069</integer>
		<key>capHeight</key>
		<integer>714</integer>
		<key>copyright</key>
		<string>Copyright 2020 Google LLC. All Rights Reserved.</string>
		<key>descender</key>
		<integer>-293</integer>
		<key>familyName</key>
		<string>Noto Sans Hanifi Rohingya</string>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>openTypeGaspRangeRecords</key>
		<array>
		</array>
		<key>openTypeHeadCreated</key>
		<string>2019/08/04 19:25:01</string>
		<key>openTypeHeadFlags</key>
		<array>
			<integer>0</integer>
		</array>
		<key>openTypeHeadLowestRecPPEM</key>
		<integer>6</integer>
		<key>openTypeHheaAscender</key>
		<integer>1069</integer>
		<key>openTypeHheaDescender</key>
		<integer>-293</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeNameCompatibleFullName</key>
		<string>Noto Sans Hanifi Rohingya</string>
		<key>openTypeNameDescription</key>
		<string>Designed by Monotype Design Team and DaltonMaag.</string>
		<key>openTypeNameDesigner</key>
		<string>Monotype Design Team and DaltonMaag</string>
		<key>openTypeNameDesignerURL</key>
		<string>http://www.monotype.com/studio</string>
		<key>openTypeNameManufacturer</key>
		<string>Google LLC</string>
		<key>openTypeNameManufacturerURL</key>
		<string>http://www.google.com/get/noto/</string>
		<key>openTypeOS2CodePageRanges</key>
		<array>
			<integer>0</integer>
		</array>
		<key>openTypeOS2FamilyClass</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>openTypeOS2Panose</key>
		<array>
			<integer>2</integer>
			<integer>11</integer>
			<integer>8</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>4</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>4</integer>
		</array>
		<key>openTypeOS2Selection</key>
		<array>
			<integer>8</integer>
		</array>
		<key>openTypeOS2StrikeoutPosition</key>
		<integer>274</integer>
		<key>openTypeOS2StrikeoutSize</key>
		<integer>50</integer>
		<key>openTypeOS2SubscriptXOffset</key>
		<integer>0</integer>
		<key>openTypeOS2SubscriptXSize</key>
		<integer>650</integer>
		<key>openTypeOS2SubscriptYOffset</key>
		<integer>75</integer>
		<key>openTypeOS2SubscriptYSize</key>
		<integer>600</integer>
		<key>openTypeOS2SuperscriptXOffset</key>
		<integer>0</integer>
		<key>openTypeOS2SuperscriptXSize</key>
		<integer>650</integer>
		<key>openTypeOS2SuperscriptYOffset</key>
		<integer>350</integer>
		<key>openTypeOS2SuperscriptYSize</key>
		<integer>600</integer>
		<key>openTypeOS2Type</key>
		<array>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>1069</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-293</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2UnicodeRanges</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>13</integer>
			<integer>31</integer>
			<integer>45</integer>
			<integer>57</integer>
		</array>
		<key>openTypeOS2VendorID</key>
		<string>GOOG</string>
		<key>openTypeOS2WeightClass</key>
		<integer>700</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1069</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>293</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-15</integer>
			<integer>0</integer>
			<integer>545</integer>
			<integer>560</integer>
			<integer>714</integer>
			<integer>729</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
			<integer>-15</integer>
			<integer>0</integer>
			<integer>525</integer>
			<integer>540</integer>
			<integer>714</integer>
			<integer>729</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>120</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>149</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-100</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>styleMapFamilyName</key>
		<string>Noto Sans HanifiRohg</string>
		<key>styleMapStyleName</key>
		<string>bold</string>
		<key>styleName</key>
		<string>Bold</string>
		<key>trademark</key>
		<string>Noto is a trademark of Google LLC.</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>2</integer>
		<key>versionMinor</key>
		<integer>100</integer>
		<key>xHeight</key>
		<integer>545</integer>
	</dict>
</plist>
