<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.PUNCT_fullstop_fa.urdu_1ST</key>
		<array>
			<string>fullstop-fa.urdu</string>
		</array>
		<key>public.kern1.PUNCT_guillemotleft_1ST</key>
		<array>
			<string>guillemotleft</string>
		</array>
		<key>public.kern1.PUNCT_guillemotright_1ST</key>
		<array>
			<string>guillemotright</string>
		</array>
		<key>public.kern1.ROHG_a_1ST</key>
		<array>
			<string>a-rohg</string>
		</array>
		<key>public.kern1.ROHG_avowel_1ST</key>
		<array>
			<string>avowel-rohg.fina</string>
			<string>avowel-rohg</string>
		</array>
		<key>public.kern1.ROHG_ba_1ST</key>
		<array>
			<string>ba-rohg.fina</string>
			<string>ba-rohg</string>
		</array>
		<key>public.kern1.ROHG_ca_1ST</key>
		<array>
			<string>ca-rohg.fina</string>
			<string>ca-rohg</string>
			<string>ja-rohg.fina</string>
			<string>ja-rohg</string>
			<string>nga-rohg.fina</string>
			<string>nga-rohg</string>
		</array>
		<key>public.kern1.ROHG_da_1ST</key>
		<array>
			<string>da-rohg.fina</string>
			<string>da-rohg</string>
		</array>
		<key>public.kern1.ROHG_dda_1ST</key>
		<array>
			<string>dda-rohg.fina</string>
			<string>dda-rohg</string>
		</array>
		<key>public.kern1.ROHG_ga_1ST</key>
		<array>
			<string>ga-rohg.fina</string>
			<string>ga-rohg</string>
		</array>
		<key>public.kern1.ROHG_ha_1ST</key>
		<array>
			<string>ha-rohg.fina</string>
			<string>ha-rohg</string>
		</array>
		<key>public.kern1.ROHG_ka_1ST</key>
		<array>
			<string>ka-rohg.fina</string>
			<string>ka-rohg</string>
		</array>
		<key>public.kern1.ROHG_kha_1ST</key>
		<array>
			<string>kha-rohg.fina</string>
			<string>kha-rohg</string>
		</array>
		<key>public.kern1.ROHG_kinnawa_1ST</key>
		<array>
			<string>kinnawa-rohg.fina</string>
			<string>kinnawa-rohg</string>
		</array>
		<key>public.kern1.ROHG_kinnaya_1ST</key>
		<array>
			<string>kinnaya-rohg.fina</string>
			<string>kinnaya-rohg</string>
			<string>evowel-rohg.fina</string>
			<string>evowel-rohg</string>
			<string>uvowel-rohg.fina</string>
			<string>uvowel-rohg</string>
			<string>ivowel-rohg.fina</string>
			<string>ivowel-rohg</string>
			<string>nakhonna-rohg.fina</string>
			<string>nakhonna-rohg</string>
			<string>sakin-rohg.fina</string>
			<string>sakin-rohg</string>
		</array>
		<key>public.kern1.ROHG_ma_1ST</key>
		<array>
			<string>ma-rohg.fina</string>
			<string>ma-rohg</string>
		</array>
		<key>public.kern1.ROHG_na_1ST</key>
		<array>
			<string>na-rohg.fina</string>
			<string>na-rohg</string>
		</array>
		<key>public.kern1.ROHG_ovowel_1ST</key>
		<array>
			<string>ovowel-rohg.fina</string>
			<string>ovowel-rohg</string>
		</array>
		<key>public.kern1.ROHG_pa_1ST</key>
		<array>
			<string>pa-rohg.fina</string>
			<string>pa-rohg</string>
			<string>fa-rohg.fina</string>
			<string>fa-rohg</string>
			<string>va-rohg.fina</string>
			<string>va-rohg</string>
		</array>
		<key>public.kern1.ROHG_ra_1ST</key>
		<array>
			<string>ra-rohg.fina</string>
			<string>ra-rohg</string>
		</array>
		<key>public.kern1.ROHG_rra_1ST</key>
		<array>
			<string>rra-rohg.fina</string>
			<string>rra-rohg</string>
		</array>
		<key>public.kern1.ROHG_sa_1ST</key>
		<array>
			<string>sa-rohg.fina</string>
			<string>sa-rohg</string>
		</array>
		<key>public.kern1.ROHG_sha_1ST</key>
		<array>
			<string>sha-rohg.fina</string>
			<string>sha-rohg</string>
		</array>
		<key>public.kern1.ROHG_ta_1ST</key>
		<array>
			<string>ta-rohg.fina</string>
			<string>ta-rohg</string>
		</array>
		<key>public.kern1.ROHG_tta_1ST</key>
		<array>
			<string>tta-rohg.fina</string>
			<string>tta-rohg</string>
			<string>la-rohg.fina</string>
			<string>la-rohg</string>
			<string>nya-rohg.fina</string>
			<string>nya-rohg</string>
		</array>
		<key>public.kern1.ROHG_wa_1ST</key>
		<array>
			<string>wa-rohg.fina</string>
			<string>wa-rohg</string>
		</array>
		<key>public.kern1.ROHG_ya_1ST</key>
		<array>
			<string>ya-rohg.fina</string>
			<string>ya-rohg</string>
		</array>
		<key>public.kern1.ROHG_za_1ST</key>
		<array>
			<string>za-rohg.fina</string>
			<string>za-rohg</string>
			<string>a-rohg.fina</string>
		</array>
		<key>public.kern2.PUNCT_fullstop_fa.urdu_2ND</key>
		<array>
			<string>fullstop-fa.urdu</string>
		</array>
		<key>public.kern2.PUNCT_guillemotleft_2ND</key>
		<array>
			<string>guillemotleft</string>
		</array>
		<key>public.kern2.PUNCT_guillemotright_2ND</key>
		<array>
			<string>guillemotright</string>
		</array>
		<key>public.kern2.PUNCT_question_ar_2ND</key>
		<array>
			<string>question-ar</string>
		</array>
		<key>public.kern2.PUNCT_semicolon_ar_2ND</key>
		<array>
			<string>semicolon-ar</string>
		</array>
		<key>public.kern2.ROHG_avowel_2ND</key>
		<array>
			<string>avowel-rohg.init</string>
			<string>avowel-rohg</string>
		</array>
		<key>public.kern2.ROHG_ba_2ND</key>
		<array>
			<string>ba-rohg.init</string>
			<string>ba-rohg</string>
		</array>
		<key>public.kern2.ROHG_ca_2ND</key>
		<array>
			<string>ca-rohg.init</string>
			<string>ca-rohg</string>
		</array>
		<key>public.kern2.ROHG_da_2ND</key>
		<array>
			<string>da-rohg.init</string>
			<string>da-rohg</string>
		</array>
		<key>public.kern2.ROHG_ga_2ND</key>
		<array>
			<string>ga-rohg.init</string>
			<string>ga-rohg</string>
		</array>
		<key>public.kern2.ROHG_ja_2ND</key>
		<array>
			<string>ja-rohg.init</string>
			<string>ja-rohg</string>
		</array>
		<key>public.kern2.ROHG_kha_2ND</key>
		<array>
			<string>kha-rohg.init</string>
			<string>kha-rohg</string>
		</array>
		<key>public.kern2.ROHG_kinnawa_2ND</key>
		<array>
			<string>kinnawa-rohg.init</string>
			<string>kinnawa-rohg</string>
		</array>
		<key>public.kern2.ROHG_kinnaya_2ND</key>
		<array>
			<string>kinnaya-rohg.init</string>
			<string>kinnaya-rohg</string>
			<string>evowel-rohg.init</string>
			<string>evowel-rohg</string>
			<string>uvowel-rohg.init</string>
			<string>uvowel-rohg</string>
			<string>ivowel-rohg.init</string>
			<string>ivowel-rohg</string>
			<string>nakhonna-rohg.init</string>
			<string>nakhonna-rohg</string>
			<string>sakin-rohg</string>
		</array>
		<key>public.kern2.ROHG_la_2ND</key>
		<array>
			<string>la-rohg.init</string>
			<string>la-rohg</string>
		</array>
		<key>public.kern2.ROHG_ma_2ND</key>
		<array>
			<string>ma-rohg.init</string>
			<string>ma-rohg</string>
		</array>
		<key>public.kern2.ROHG_na_2ND</key>
		<array>
			<string>na-rohg.init</string>
			<string>na-rohg</string>
		</array>
		<key>public.kern2.ROHG_nga_2ND</key>
		<array>
			<string>nga-rohg.init</string>
			<string>nga-rohg</string>
		</array>
		<key>public.kern2.ROHG_nya_2ND</key>
		<array>
			<string>nya-rohg.init</string>
			<string>nya-rohg</string>
		</array>
		<key>public.kern2.ROHG_ovowel_2ND</key>
		<array>
			<string>ovowel-rohg.init</string>
			<string>ovowel-rohg</string>
		</array>
		<key>public.kern2.ROHG_pa_2ND</key>
		<array>
			<string>pa-rohg.init</string>
			<string>pa-rohg</string>
			<string>fa-rohg.init</string>
			<string>fa-rohg</string>
			<string>va-rohg.init</string>
			<string>va-rohg</string>
		</array>
		<key>public.kern2.ROHG_ra_2ND</key>
		<array>
			<string>ra-rohg.init</string>
			<string>ra-rohg</string>
		</array>
		<key>public.kern2.ROHG_rra_2ND</key>
		<array>
			<string>rra-rohg.init</string>
			<string>rra-rohg</string>
			<string>dda-rohg.init</string>
			<string>dda-rohg</string>
			<string>ka-rohg.init</string>
			<string>ka-rohg</string>
		</array>
		<key>public.kern2.ROHG_sha_2ND</key>
		<array>
			<string>sha-rohg.init</string>
			<string>sha-rohg</string>
			<string>sa-rohg.init</string>
			<string>sa-rohg</string>
			<string>ha-rohg.init</string>
			<string>ha-rohg</string>
		</array>
		<key>public.kern2.ROHG_ta_2ND</key>
		<array>
			<string>ta-rohg.init</string>
			<string>ta-rohg</string>
			<string>a-rohg.init</string>
			<string>a-rohg</string>
		</array>
		<key>public.kern2.ROHG_tta_2ND</key>
		<array>
			<string>tta-rohg.init</string>
			<string>tta-rohg</string>
		</array>
		<key>public.kern2.ROHG_wa_2ND</key>
		<array>
			<string>wa-rohg.init</string>
			<string>wa-rohg</string>
		</array>
		<key>public.kern2.ROHG_ya_2ND</key>
		<array>
			<string>ya-rohg.init</string>
			<string>ya-rohg</string>
		</array>
		<key>public.kern2.ROHG_za_2ND</key>
		<array>
			<string>za-rohg.init</string>
			<string>za-rohg</string>
		</array>
	</dict>
</plist>
