<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.AA</key>
    <array>
      <string>aa-wcho</string>
      <string>a-wcho</string>
    </array>
    <key>public.kern1.AANG</key>
    <array>
      <string>aang-wcho</string>
      <string>ang-wcho</string>
    </array>
    <key>public.kern1.JA</key>
    <array>
      <string>ja-wcho</string>
      <string>za-wcho</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>ka-wcho</string>
      <string>o-wcho</string>
      <string>au-wcho</string>
      <string>ra-wcho</string>
      <string>ha-wcho</string>
      <string>llha-wcho</string>
      <string>tra-wcho</string>
    </array>
    <key>public.kern1.SA</key>
    <array>
      <string>sa-wcho</string>
      <string>sha-wcho</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>pha-wcho</string>
      <string>wa-wcho</string>
      <string>u-wcho</string>
      <string>ing-wcho</string>
      <string>uen-wcho</string>
    </array>
    <key>public.kern1.hyphen.left</key>
    <array>
      <string>hyphen</string>
      <string>hyphen.wcho</string>
    </array>
    <key>public.kern1.paren.left</key>
    <array>
      <string>parenleft</string>
      <string>parenleft.wcho</string>
      <string>braceleft</string>
      <string>braceleft.wcho</string>
      <string>bracketleft</string>
      <string>bracketleft.wcho</string>
    </array>
    <key>public.kern1.period.left</key>
    <array>
      <string>period</string>
      <string>period.wcho</string>
      <string>comma</string>
      <string>comma.wcho</string>
    </array>
    <key>public.kern1.quote.left</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblleft.wcho</string>
      <string>quotedblright</string>
      <string>quotedblright.wcho</string>
      <string>quotedbl</string>
      <string>quotedbl.wcho</string>
      <string>quotesingle</string>
      <string>quotesingle.wcho</string>
    </array>
    <key>public.kern2.AA</key>
    <array>
      <string>aa-wcho</string>
      <string>a-wcho</string>
    </array>
    <key>public.kern2.AANG</key>
    <array>
      <string>aang-wcho</string>
      <string>ang-wcho</string>
    </array>
    <key>public.kern2.CA</key>
    <array>
      <string>ca-wcho</string>
      <string>pa-wcho</string>
    </array>
    <key>public.kern2.JA</key>
    <array>
      <string>ja-wcho</string>
      <string>za-wcho</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>o-wcho</string>
      <string>au-wcho</string>
    </array>
    <key>public.kern2.Paren.right</key>
    <array>
      <string>parenright</string>
      <string>parenright.wcho</string>
      <string>braceright</string>
      <string>braceright.wcho</string>
      <string>bracketright</string>
      <string>bracketright.wcho</string>
    </array>
    <key>public.kern2.SA</key>
    <array>
      <string>sa-wcho</string>
      <string>sha-wcho</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>pha-wcho</string>
      <string>wa-wcho</string>
      <string>u-wcho</string>
      <string>uen-wcho</string>
    </array>
    <key>public.kern2.hyphen.right</key>
    <array>
      <string>hyphen</string>
      <string>hyphen.wcho</string>
    </array>
    <key>public.kern2.period.right</key>
    <array>
      <string>period</string>
      <string>period.wcho</string>
      <string>comma</string>
      <string>comma.wcho</string>
    </array>
    <key>public.kern2.quote.right</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblleft.wcho</string>
      <string>quotedblright</string>
      <string>quotedblright.wcho</string>
      <string>quotedbl</string>
      <string>quotedbl.wcho</string>
      <string>quotesingle</string>
      <string>quotesingle.wcho</string>
    </array>
  </dict>
</plist>
