<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a-wcho</key>
    <dict>
      <key>en-wcho</key>
      <integer>30</integer>
      <key>ing-wcho</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.SA</key>
      <integer>-60</integer>
    </dict>
    <key>aa-wcho</key>
    <dict>
      <key>public.kern2.period.right</key>
      <integer>-130</integer>
    </dict>
    <key>aan-wcho</key>
    <dict>
      <key>aan-wcho</key>
      <integer>-40</integer>
      <key>eight-wcho</key>
      <integer>40</integer>
      <key>la-wcho</key>
      <integer>-50</integer>
      <key>nya-wcho</key>
      <integer>-40</integer>
      <key>on-wcho</key>
      <integer>30</integer>
      <key>public.kern2.AANG</key>
      <integer>-30</integer>
      <key>public.kern2.CA</key>
      <integer>-20</integer>
      <key>public.kern2.SA</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>20</integer>
      <key>public.kern2.period.right</key>
      <integer>-150</integer>
      <key>six-wcho</key>
      <integer>-40</integer>
      <key>va-wcho</key>
      <integer>-30</integer>
      <key>ya-wcho</key>
      <integer>-30</integer>
      <key>yih-wcho</key>
      <integer>-60</integer>
    </dict>
    <key>ba-wcho</key>
    <dict>
      <key>eight-wcho</key>
      <integer>-40</integer>
      <key>la-wcho</key>
      <integer>-60</integer>
      <key>ma-wcho</key>
      <integer>-70</integer>
      <key>nya-wcho</key>
      <integer>-70</integer>
      <key>one-wcho</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-90</integer>
      <key>public.kern2.Paren.right</key>
      <integer>-20</integer>
      <key>public.kern2.quote.right</key>
      <integer>-50</integer>
      <key>va-wcho</key>
      <integer>10</integer>
    </dict>
    <key>backslash.wcho</key>
    <dict>
      <key>la-wcho</key>
      <integer>-70</integer>
      <key>nya-wcho</key>
      <integer>-50</integer>
      <key>on-wcho</key>
      <integer>30</integer>
      <key>public.kern2.AA</key>
      <integer>20</integer>
      <key>public.kern2.AANG</key>
      <integer>30</integer>
      <key>tha-wcho</key>
      <integer>20</integer>
    </dict>
    <key>ca-wcho</key>
    <dict>
      <key>four-wcho</key>
      <integer>-40</integer>
      <key>ga-wcho</key>
      <integer>-40</integer>
      <key>ha-wcho</key>
      <integer>20</integer>
      <key>kha-wcho</key>
      <integer>-50</integer>
      <key>na-wcho</key>
      <integer>-40</integer>
      <key>ong-wcho</key>
      <integer>20</integer>
      <key>parenleft.wcho</key>
      <integer>30</integer>
      <key>public.kern2.AANG</key>
      <integer>-50</integer>
      <key>public.kern2.CA</key>
      <integer>-50</integer>
      <key>public.kern2.JA</key>
      <integer>30</integer>
      <key>public.kern2.SA</key>
      <integer>-50</integer>
      <key>public.kern2.period.right</key>
      <integer>-160</integer>
      <key>tha-wcho</key>
      <integer>-40</integer>
      <key>tsa-wcho</key>
      <integer>-20</integer>
      <key>ya-wcho</key>
      <integer>-50</integer>
      <key>yih-wcho</key>
      <integer>-50</integer>
    </dict>
    <key>da-wcho</key>
    <dict>
      <key>ka-wcho</key>
      <integer>20</integer>
      <key>parenleft.wcho</key>
      <integer>30</integer>
      <key>public.kern2.JA</key>
      <integer>30</integer>
      <key>public.kern2.Paren.right</key>
      <integer>-20</integer>
      <key>public.kern2.period.right</key>
      <integer>-60</integer>
    </dict>
    <key>e-wcho</key>
    <dict>
      <key>backslash.wcho</key>
      <integer>-70</integer>
      <key>en-wcho</key>
      <integer>-30</integer>
      <key>la-wcho</key>
      <integer>-110</integer>
      <key>ma-wcho</key>
      <integer>-70</integer>
      <key>ngunSign-wcho</key>
      <integer>20</integer>
      <key>nya-wcho</key>
      <integer>-90</integer>
      <key>one-wcho</key>
      <integer>-30</integer>
      <key>public.kern2.JA</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.quote.right</key>
      <integer>-80</integer>
      <key>seven-wcho</key>
      <integer>-30</integer>
    </dict>
    <key>eight-wcho</key>
    <dict>
      <key>e-wcho</key>
      <integer>-20</integer>
      <key>four-wcho</key>
      <integer>-60</integer>
      <key>public.kern2.period.right</key>
      <integer>-120</integer>
    </dict>
    <key>en-wcho</key>
    <dict>
      <key>aan-wcho</key>
      <integer>30</integer>
      <key>e-wcho</key>
      <integer>20</integer>
      <key>ha-wcho</key>
      <integer>30</integer>
      <key>ing-wcho</key>
      <integer>20</integer>
      <key>la-wcho</key>
      <integer>-20</integer>
      <key>ma-wcho</key>
      <integer>-50</integer>
      <key>na-wcho</key>
      <integer>20</integer>
      <key>parenleft.wcho</key>
      <integer>50</integer>
      <key>public.kern2.period.right</key>
      <integer>-70</integer>
    </dict>
    <key>fa-wcho</key>
    <dict>
      <key>fa-wcho</key>
      <integer>20</integer>
      <key>kha-wcho</key>
      <integer>-30</integer>
      <key>la-wcho</key>
      <integer>-30</integer>
      <key>public.kern2.AANG</key>
      <integer>-30</integer>
      <key>public.kern2.CA</key>
      <integer>-20</integer>
      <key>public.kern2.JA</key>
      <integer>20</integer>
      <key>public.kern2.SA</key>
      <integer>-70</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>30</integer>
      <key>public.kern2.period.right</key>
      <integer>-140</integer>
      <key>tha-wcho</key>
      <integer>-40</integer>
      <key>yih-wcho</key>
      <integer>-30</integer>
    </dict>
    <key>five-wcho</key>
    <dict>
      <key>backslash.wcho</key>
      <integer>-60</integer>
      <key>en-wcho</key>
      <integer>-20</integer>
      <key>la-wcho</key>
      <integer>-120</integer>
      <key>ma-wcho</key>
      <integer>-50</integer>
      <key>nya-wcho</key>
      <integer>-80</integer>
      <key>public.kern2.JA</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.period.right</key>
      <integer>-50</integer>
      <key>seven-wcho</key>
      <integer>-20</integer>
      <key>six-wcho</key>
      <integer>-40</integer>
    </dict>
    <key>four-wcho</key>
    <dict>
      <key>backslash.wcho</key>
      <integer>30</integer>
      <key>en-wcho</key>
      <integer>20</integer>
      <key>fa-wcho</key>
      <integer>-50</integer>
      <key>five-wcho</key>
      <integer>-40</integer>
      <key>four-wcho</key>
      <integer>-50</integer>
      <key>ga-wcho</key>
      <integer>-30</integer>
      <key>i-wcho</key>
      <integer>20</integer>
      <key>kha-wcho</key>
      <integer>-60</integer>
      <key>la-wcho</key>
      <integer>40</integer>
      <key>na-wcho</key>
      <integer>-50</integer>
      <key>nya-wcho</key>
      <integer>20</integer>
      <key>one-wcho</key>
      <integer>30</integer>
      <key>ong-wcho</key>
      <integer>30</integer>
      <key>public.kern2.AANG</key>
      <integer>-80</integer>
      <key>public.kern2.CA</key>
      <integer>-70</integer>
      <key>public.kern2.JA</key>
      <integer>40</integer>
      <key>public.kern2.SA</key>
      <integer>-90</integer>
      <key>public.kern2.period.right</key>
      <integer>-120</integer>
      <key>tha-wcho</key>
      <integer>-30</integer>
      <key>va-wcho</key>
      <integer>30</integer>
      <key>ya-wcho</key>
      <integer>-100</integer>
      <key>yih-wcho</key>
      <integer>-80</integer>
    </dict>
    <key>ga-wcho</key>
    <dict>
      <key>backslash.wcho</key>
      <integer>-40</integer>
      <key>la-wcho</key>
      <integer>-130</integer>
      <key>nya-wcho</key>
      <integer>-90</integer>
      <key>one-wcho</key>
      <integer>-50</integer>
      <key>parenleft.wcho</key>
      <integer>30</integer>
      <key>public.kern2.AA</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.period.right</key>
      <integer>-40</integer>
      <key>public.kern2.quote.right</key>
      <integer>-80</integer>
    </dict>
    <key>ha-wcho</key>
    <dict>
      <key>public.kern2.period.right</key>
      <integer>-20</integer>
    </dict>
    <key>i-wcho</key>
    <dict>
      <key>na-wcho</key>
      <integer>10</integer>
      <key>public.kern2.AA</key>
      <integer>20</integer>
      <key>public.kern2.quote.right</key>
      <integer>30</integer>
    </dict>
    <key>ing-wcho</key>
    <dict>
      <key>parenleft.wcho</key>
      <integer>60</integer>
      <key>public.kern2.period.right</key>
      <integer>-90</integer>
    </dict>
    <key>kha-wcho</key>
    <dict>
      <key>e-wcho</key>
      <integer>10</integer>
      <key>en-wcho</key>
      <integer>-30</integer>
      <key>ha-wcho</key>
      <integer>30</integer>
      <key>la-wcho</key>
      <integer>-70</integer>
      <key>llha-wcho</key>
      <integer>30</integer>
      <key>nga-wcho</key>
      <integer>30</integer>
      <key>nya-wcho</key>
      <integer>-110</integer>
      <key>public.kern2.CA</key>
      <integer>30</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>20</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>30</integer>
      <key>public.kern2.quote.right</key>
      <integer>-50</integer>
      <key>tra-wcho</key>
      <integer>30</integer>
      <key>zero-wcho</key>
      <integer>20</integer>
    </dict>
    <key>la-wcho</key>
    <dict>
      <key>backslash.wcho</key>
      <integer>20</integer>
      <key>fa-wcho</key>
      <integer>-40</integer>
      <key>ing-wcho</key>
      <integer>20</integer>
      <key>na-wcho</key>
      <integer>10</integer>
      <key>nga-wcho</key>
      <integer>30</integer>
      <key>ngunSign-wcho</key>
      <integer>20</integer>
      <key>on-wcho</key>
      <integer>20</integer>
      <key>public.kern2.AA</key>
      <integer>20</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>ta-wcho</key>
      <integer>30</integer>
    </dict>
    <key>llha-wcho</key>
    <dict>
      <key>parenleft.wcho</key>
      <integer>60</integer>
      <key>public.kern2.period.right</key>
      <integer>-50</integer>
    </dict>
    <key>ma-wcho</key>
    <dict>
      <key>i-wcho</key>
      <integer>20</integer>
      <key>kha-wcho</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.period.right</key>
      <integer>-40</integer>
    </dict>
    <key>na-wcho</key>
    <dict>
      <key>e-wcho</key>
      <integer>20</integer>
      <key>ma-wcho</key>
      <integer>-40</integer>
      <key>na-wcho</key>
      <integer>20</integer>
      <key>ngunSign-wcho</key>
      <integer>30</integer>
      <key>public.kern2.AA</key>
      <integer>20</integer>
      <key>public.kern2.AANG</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.quote.right</key>
      <integer>-30</integer>
      <key>slash.wcho</key>
      <integer>30</integer>
      <key>tsa-wcho</key>
      <integer>20</integer>
    </dict>
    <key>nga-wcho</key>
    <dict>
      <key>aan-wcho</key>
      <integer>-50</integer>
      <key>e-wcho</key>
      <integer>-20</integer>
      <key>four-wcho</key>
      <integer>-60</integer>
      <key>kha-wcho</key>
      <integer>-90</integer>
      <key>na-wcho</key>
      <integer>-30</integer>
      <key>on-wcho</key>
      <integer>50</integer>
      <key>ong-wcho</key>
      <integer>10</integer>
      <key>public.kern2.AANG</key>
      <integer>-40</integer>
      <key>public.kern2.CA</key>
      <integer>-40</integer>
      <key>public.kern2.SA</key>
      <integer>-70</integer>
      <key>public.kern2.period.right</key>
      <integer>-130</integer>
      <key>slash.wcho</key>
      <integer>-30</integer>
      <key>tha-wcho</key>
      <integer>-50</integer>
      <key>ya-wcho</key>
      <integer>-30</integer>
      <key>yih-wcho</key>
      <integer>-80</integer>
    </dict>
    <key>ngunSign-wcho</key>
    <dict>
      <key>five-wcho</key>
      <integer>-50</integer>
      <key>four-wcho</key>
      <integer>-50</integer>
      <key>i-wcho</key>
      <integer>20</integer>
      <key>public.kern2.CA</key>
      <integer>-20</integer>
      <key>public.kern2.JA</key>
      <integer>20</integer>
      <key>public.kern2.U</key>
      <integer>30</integer>
      <key>public.kern2.period.right</key>
      <integer>-150</integer>
      <key>seven-wcho</key>
      <integer>30</integer>
    </dict>
    <key>nine-wcho</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.period.right</key>
      <integer>-80</integer>
    </dict>
    <key>nya-wcho</key>
    <dict>
      <key>aan-wcho</key>
      <integer>10</integer>
      <key>fa-wcho</key>
      <integer>-40</integer>
      <key>ga-wcho</key>
      <integer>30</integer>
      <key>la-wcho</key>
      <integer>-30</integer>
      <key>ngunSign-wcho</key>
      <integer>30</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.period.right</key>
      <integer>-40</integer>
      <key>public.kern2.quote.right</key>
      <integer>-40</integer>
    </dict>
    <key>on-wcho</key>
    <dict>
      <key>e-wcho</key>
      <integer>30</integer>
      <key>la-wcho</key>
      <integer>-50</integer>
      <key>ma-wcho</key>
      <integer>-60</integer>
      <key>pha-wcho</key>
      <integer>-30</integer>
      <key>public.kern2.AA</key>
      <integer>20</integer>
      <key>public.kern2.CA</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.quote.right</key>
      <integer>-30</integer>
      <key>zero-wcho</key>
      <integer>-30</integer>
    </dict>
    <key>one-wcho</key>
    <dict>
      <key>backslash.wcho</key>
      <integer>30</integer>
      <key>one-wcho</key>
      <integer>30</integer>
    </dict>
    <key>ong-wcho</key>
    <dict>
      <key>parenleft.wcho</key>
      <integer>60</integer>
    </dict>
    <key>pa-wcho</key>
    <dict>
      <key>backslash.wcho</key>
      <integer>-30</integer>
      <key>i-wcho</key>
      <integer>20</integer>
      <key>la-wcho</key>
      <integer>-70</integer>
      <key>public.kern2.AA</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.quote.right</key>
      <integer>-50</integer>
    </dict>
    <key>pha-wcho</key>
    <dict>
      <key>kha-wcho</key>
      <integer>-30</integer>
      <key>public.kern2.AANG</key>
      <integer>-20</integer>
      <key>public.kern2.period.right</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.AA</key>
    <dict>
      <key>aan-wcho</key>
      <integer>-40</integer>
      <key>ba-wcho</key>
      <integer>10</integer>
      <key>en-wcho</key>
      <integer>30</integer>
      <key>five-wcho</key>
      <integer>-30</integer>
      <key>ga-wcho</key>
      <integer>-30</integer>
      <key>ha-wcho</key>
      <integer>40</integer>
      <key>ka-wcho</key>
      <integer>30</integer>
      <key>kha-wcho</key>
      <integer>-20</integer>
      <key>la-wcho</key>
      <integer>20</integer>
      <key>na-wcho</key>
      <integer>-30</integer>
      <key>nga-wcho</key>
      <integer>20</integer>
      <key>nya-wcho</key>
      <integer>10</integer>
      <key>on-wcho</key>
      <integer>30</integer>
      <key>ong-wcho</key>
      <integer>40</integer>
      <key>public.kern2.AANG</key>
      <integer>-50</integer>
      <key>public.kern2.CA</key>
      <integer>-70</integer>
      <key>public.kern2.JA</key>
      <integer>20</integer>
      <key>public.kern2.SA</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>30</integer>
      <key>public.kern2.quote.right</key>
      <integer>70</integer>
      <key>ra-wcho</key>
      <integer>20</integer>
      <key>va-wcho</key>
      <integer>20</integer>
      <key>ya-wcho</key>
      <integer>-50</integer>
      <key>yih-wcho</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.AANG</key>
    <dict>
      <key>la-wcho</key>
      <integer>-30</integer>
      <key>ma-wcho</key>
      <integer>-50</integer>
      <key>parenleft.wcho</key>
      <integer>60</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.period.right</key>
      <integer>-50</integer>
      <key>public.kern2.quote.right</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.JA</key>
    <dict>
      <key>aan-wcho</key>
      <integer>-50</integer>
      <key>four-wcho</key>
      <integer>-100</integer>
      <key>kha-wcho</key>
      <integer>-60</integer>
      <key>na-wcho</key>
      <integer>-50</integer>
      <key>public.kern2.AANG</key>
      <integer>-50</integer>
      <key>public.kern2.CA</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.SA</key>
      <integer>-120</integer>
      <key>public.kern2.U</key>
      <integer>20</integer>
      <key>public.kern2.period.right</key>
      <integer>-120</integer>
      <key>public.kern2.quote.right</key>
      <integer>30</integer>
      <key>sa-wcho</key>
      <integer>-90</integer>
      <key>ta-wcho</key>
      <integer>-20</integer>
      <key>tha-wcho</key>
      <integer>-20</integer>
      <key>tsa-wcho</key>
      <integer>-20</integer>
      <key>ya-wcho</key>
      <integer>-50</integer>
      <key>yih-wcho</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>ba-wcho</key>
      <integer>20</integer>
      <key>da-wcho</key>
      <integer>20</integer>
      <key>fa-wcho</key>
      <integer>30</integer>
      <key>ga-wcho</key>
      <integer>10</integer>
      <key>ha-wcho</key>
      <integer>20</integer>
      <key>i-wcho</key>
      <integer>20</integer>
      <key>ing-wcho</key>
      <integer>30</integer>
      <key>ka-wcho</key>
      <integer>20</integer>
      <key>kha-wcho</key>
      <integer>20</integer>
      <key>na-wcho</key>
      <integer>20</integer>
      <key>nga-wcho</key>
      <integer>20</integer>
      <key>on-wcho</key>
      <integer>30</integer>
      <key>pha-wcho</key>
      <integer>20</integer>
      <key>public.kern2.AA</key>
      <integer>20</integer>
      <key>public.kern2.AANG</key>
      <integer>20</integer>
      <key>public.kern2.CA</key>
      <integer>30</integer>
      <key>public.kern2.JA</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.period.right</key>
      <integer>-20</integer>
      <key>ra-wcho</key>
      <integer>20</integer>
      <key>ta-wcho</key>
      <integer>20</integer>
      <key>tha-wcho</key>
      <integer>20</integer>
      <key>va-wcho</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.SA</key>
    <dict>
      <key>public.kern2.hyphen.right</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>four-wcho</key>
      <integer>-20</integer>
      <key>kha-wcho</key>
      <integer>-20</integer>
      <key>la-wcho</key>
      <integer>-10</integer>
      <key>nya-wcho</key>
      <integer>-20</integer>
      <key>on-wcho</key>
      <integer>30</integer>
      <key>public.kern2.AANG</key>
      <integer>-30</integer>
      <key>public.kern2.CA</key>
      <integer>-20</integer>
      <key>public.kern2.JA</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.SA</key>
      <integer>-30</integer>
      <key>public.kern2.period.right</key>
      <integer>-70</integer>
      <key>public.kern2.quote.right</key>
      <integer>20</integer>
      <key>sha-wcho</key>
      <integer>-20</integer>
      <key>six-wcho</key>
      <integer>-20</integer>
      <key>tha-wcho</key>
      <integer>-30</integer>
      <key>ya-wcho</key>
      <integer>-20</integer>
      <key>yih-wcho</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen.left</key>
    <dict>
      <key>fa-wcho</key>
      <integer>30</integer>
      <key>la-wcho</key>
      <integer>-40</integer>
      <key>one-wcho</key>
      <integer>-80</integer>
      <key>public.kern2.JA</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.paren.left</key>
    <dict>
      <key>ga-wcho</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.quote.left</key>
    <dict>
      <key>ca-wcho</key>
      <integer>-140</integer>
      <key>en-wcho</key>
      <integer>30</integer>
      <key>la-wcho</key>
      <integer>40</integer>
      <key>ta-wcho</key>
      <integer>-10</integer>
      <key>tra-wcho</key>
      <integer>20</integer>
      <key>va-wcho</key>
      <integer>30</integer>
      <key>yih-wcho</key>
      <integer>-170</integer>
    </dict>
    <key>ra-wcho</key>
    <dict>
      <key>public.kern2.period.right</key>
      <integer>-20</integer>
    </dict>
    <key>sa-wcho</key>
    <dict>
      <key>e-wcho</key>
      <integer>40</integer>
      <key>nga-wcho</key>
      <integer>40</integer>
    </dict>
    <key>seven-wcho</key>
    <dict>
      <key>aan-wcho</key>
      <integer>-10</integer>
      <key>ba-wcho</key>
      <integer>-30</integer>
      <key>backslash.wcho</key>
      <integer>10</integer>
      <key>eight-wcho</key>
      <integer>-30</integer>
      <key>five-wcho</key>
      <integer>-60</integer>
      <key>four-wcho</key>
      <integer>-90</integer>
      <key>ga-wcho</key>
      <integer>-60</integer>
      <key>kha-wcho</key>
      <integer>-50</integer>
      <key>na-wcho</key>
      <integer>-80</integer>
      <key>one-wcho</key>
      <integer>20</integer>
      <key>public.kern2.AANG</key>
      <integer>-100</integer>
      <key>public.kern2.CA</key>
      <integer>-90</integer>
      <key>public.kern2.SA</key>
      <integer>-110</integer>
      <key>public.kern2.period.right</key>
      <integer>-190</integer>
      <key>slash.wcho</key>
      <integer>-60</integer>
      <key>ya-wcho</key>
      <integer>-120</integer>
      <key>yih-wcho</key>
      <integer>-80</integer>
    </dict>
    <key>six-wcho</key>
    <dict>
      <key>aan-wcho</key>
      <integer>-40</integer>
      <key>e-wcho</key>
      <integer>-20</integer>
      <key>four-wcho</key>
      <integer>-60</integer>
      <key>kha-wcho</key>
      <integer>-30</integer>
      <key>public.kern2.CA</key>
      <integer>-60</integer>
      <key>public.kern2.JA</key>
      <integer>20</integer>
      <key>public.kern2.SA</key>
      <integer>-100</integer>
      <key>public.kern2.period.right</key>
      <integer>-150</integer>
      <key>ya-wcho</key>
      <integer>-50</integer>
    </dict>
    <key>slash.wcho</key>
    <dict>
      <key>kha-wcho</key>
      <integer>-60</integer>
      <key>public.kern2.SA</key>
      <integer>-80</integer>
      <key>va-wcho</key>
      <integer>30</integer>
      <key>yih-wcho</key>
      <integer>-110</integer>
    </dict>
    <key>ta-wcho</key>
    <dict>
      <key>aan-wcho</key>
      <integer>-40</integer>
      <key>ba-wcho</key>
      <integer>-20</integer>
      <key>fa-wcho</key>
      <integer>-40</integer>
      <key>five-wcho</key>
      <integer>-100</integer>
      <key>four-wcho</key>
      <integer>-120</integer>
      <key>ga-wcho</key>
      <integer>-40</integer>
      <key>kha-wcho</key>
      <integer>-80</integer>
      <key>na-wcho</key>
      <integer>-70</integer>
      <key>ngunSign-wcho</key>
      <integer>-30</integer>
      <key>on-wcho</key>
      <integer>30</integer>
      <key>public.kern2.AA</key>
      <integer>-20</integer>
      <key>public.kern2.AANG</key>
      <integer>-60</integer>
      <key>public.kern2.CA</key>
      <integer>-100</integer>
      <key>public.kern2.SA</key>
      <integer>-150</integer>
      <key>public.kern2.period.right</key>
      <integer>-210</integer>
      <key>public.kern2.quote.right</key>
      <integer>30</integer>
      <key>tha-wcho</key>
      <integer>-30</integer>
      <key>ya-wcho</key>
      <integer>-110</integer>
      <key>yih-wcho</key>
      <integer>-160</integer>
    </dict>
    <key>tha-wcho</key>
    <dict>
      <key>en-wcho</key>
      <integer>30</integer>
      <key>four-wcho</key>
      <integer>-70</integer>
      <key>ga-wcho</key>
      <integer>-40</integer>
      <key>ha-wcho</key>
      <integer>30</integer>
      <key>i-wcho</key>
      <integer>40</integer>
      <key>kha-wcho</key>
      <integer>-50</integer>
      <key>la-wcho</key>
      <integer>30</integer>
      <key>na-wcho</key>
      <integer>-70</integer>
      <key>nya-wcho</key>
      <integer>20</integer>
      <key>on-wcho</key>
      <integer>30</integer>
      <key>ong-wcho</key>
      <integer>30</integer>
      <key>public.kern2.AANG</key>
      <integer>-40</integer>
      <key>public.kern2.CA</key>
      <integer>-40</integer>
      <key>public.kern2.JA</key>
      <integer>10</integer>
      <key>public.kern2.SA</key>
      <integer>-90</integer>
      <key>public.kern2.period.right</key>
      <integer>-130</integer>
      <key>public.kern2.quote.right</key>
      <integer>30</integer>
      <key>va-wcho</key>
      <integer>20</integer>
      <key>ya-wcho</key>
      <integer>-70</integer>
      <key>yih-wcho</key>
      <integer>-80</integer>
    </dict>
    <key>three-wcho</key>
    <dict>
      <key>backslash.wcho</key>
      <integer>-60</integer>
      <key>la-wcho</key>
      <integer>-60</integer>
      <key>nga-wcho</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>-50</integer>
      <key>public.kern2.period.right</key>
      <integer>-40</integer>
      <key>six-wcho</key>
      <integer>-30</integer>
      <key>zero-wcho</key>
      <integer>-20</integer>
    </dict>
    <key>tra-wcho</key>
    <dict>
      <key>parenleft.wcho</key>
      <integer>60</integer>
      <key>public.kern2.period.right</key>
      <integer>-30</integer>
    </dict>
    <key>tsa-wcho</key>
    <dict>
      <key>four-wcho</key>
      <integer>-50</integer>
      <key>la-wcho</key>
      <integer>20</integer>
      <key>nga-wcho</key>
      <integer>20</integer>
      <key>parenleft.wcho</key>
      <integer>60</integer>
      <key>public.kern2.period.right</key>
      <integer>-80</integer>
      <key>public.kern2.quote.right</key>
      <integer>40</integer>
      <key>sha-wcho</key>
      <integer>-30</integer>
      <key>yih-wcho</key>
      <integer>-30</integer>
    </dict>
    <key>two-wcho</key>
    <dict>
      <key>parenleft.wcho</key>
      <integer>40</integer>
      <key>public.kern2.period.right</key>
      <integer>-80</integer>
    </dict>
    <key>va-wcho</key>
    <dict>
      <key>aan-wcho</key>
      <integer>-50</integer>
      <key>ba-wcho</key>
      <integer>-20</integer>
      <key>e-wcho</key>
      <integer>-10</integer>
      <key>fa-wcho</key>
      <integer>-50</integer>
      <key>four-wcho</key>
      <integer>-120</integer>
      <key>ga-wcho</key>
      <integer>-90</integer>
      <key>ha-wcho</key>
      <integer>20</integer>
      <key>kha-wcho</key>
      <integer>-100</integer>
      <key>na-wcho</key>
      <integer>-110</integer>
      <key>public.kern2.AANG</key>
      <integer>-90</integer>
      <key>public.kern2.CA</key>
      <integer>-110</integer>
      <key>public.kern2.SA</key>
      <integer>-150</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>-30</integer>
      <key>public.kern2.period.right</key>
      <integer>-170</integer>
      <key>public.kern2.quote.right</key>
      <integer>40</integer>
      <key>slash.wcho</key>
      <integer>-90</integer>
      <key>tha-wcho</key>
      <integer>-40</integer>
      <key>tsa-wcho</key>
      <integer>-10</integer>
      <key>ya-wcho</key>
      <integer>-120</integer>
      <key>yih-wcho</key>
      <integer>-200</integer>
    </dict>
    <key>wa-wcho</key>
    <dict>
      <key>fa-wcho</key>
      <integer>20</integer>
      <key>public.kern2.period.right</key>
      <integer>-90</integer>
    </dict>
    <key>ya-wcho</key>
    <dict>
      <key>en-wcho</key>
      <integer>-40</integer>
      <key>la-wcho</key>
      <integer>-30</integer>
      <key>ma-wcho</key>
      <integer>-40</integer>
      <key>nya-wcho</key>
      <integer>-50</integer>
      <key>one-wcho</key>
      <integer>-40</integer>
      <key>parenleft.wcho</key>
      <integer>30</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.period.right</key>
      <integer>-40</integer>
      <key>public.kern2.quote.right</key>
      <integer>-50</integer>
    </dict>
    <key>yih-wcho</key>
    <dict>
      <key>ka-wcho</key>
      <integer>30</integer>
      <key>nga-wcho</key>
      <integer>30</integer>
      <key>ngunSign-wcho</key>
      <integer>30</integer>
      <key>public.kern2.AA</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.period.right</key>
      <integer>-40</integer>
      <key>seven-wcho</key>
      <integer>30</integer>
      <key>slash.wcho</key>
      <integer>30</integer>
      <key>tsa-wcho</key>
      <integer>20</integer>
    </dict>
    <key>zero-wcho</key>
    <dict>
      <key>public.kern2.period.right</key>
      <integer>-80</integer>
    </dict>
  </dict>
</plist>
