<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>35</integer>
    <key>GSOffsetKeepCompatible</key>
    <integer>1</integer>
    <key>GSOffsetMakeStroke</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>33</integer>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>a-wcho</string>
      <string>aa-wcho</string>
      <string>aan-wcho</string>
      <string>aang-wcho</string>
      <string>ang-wcho</string>
      <string>au-wcho</string>
      <string>ba-wcho</string>
      <string>backslash</string>
      <string>backslash.wcho</string>
      <string>braceleft</string>
      <string>braceleft.wcho</string>
      <string>braceright</string>
      <string>braceright.wcho</string>
      <string>bracketleft</string>
      <string>bracketleft.wcho</string>
      <string>bracketright</string>
      <string>bracketright.wcho</string>
      <string>ca-wcho</string>
      <string>comma</string>
      <string>comma.wcho</string>
      <string>da-wcho</string>
      <string>dotted_circle</string>
      <string>e-wcho</string>
      <string>eight-wcho</string>
      <string>en-wcho</string>
      <string>fa-wcho</string>
      <string>five-wcho</string>
      <string>four-wcho</string>
      <string>ga-wcho</string>
      <string>ha-wcho</string>
      <string>hyphen</string>
      <string>hyphen.wcho</string>
      <string>i-wcho</string>
      <string>ing-wcho</string>
      <string>ja-wcho</string>
      <string>ka-wcho</string>
      <string>kha-wcho</string>
      <string>koi-wcho</string>
      <string>koini-wcho</string>
      <string>la-wcho</string>
      <string>llha-wcho</string>
      <string>ma-wcho</string>
      <string>na-wcho</string>
      <string>nga-wcho</string>
      <string>ngunSign-wcho</string>
      <string>nine-wcho</string>
      <string>nya-wcho</string>
      <string>o-wcho</string>
      <string>on-wcho</string>
      <string>one-wcho</string>
      <string>ong-wcho</string>
      <string>pa-wcho</string>
      <string>parenleft</string>
      <string>parenleft.wcho</string>
      <string>parenright</string>
      <string>parenright.wcho</string>
      <string>period</string>
      <string>period.wcho</string>
      <string>pha-wcho</string>
      <string>quotedbl</string>
      <string>quotedbl.wcho</string>
      <string>quotedblleft</string>
      <string>quotedblleft.wcho</string>
      <string>quotedblright</string>
      <string>quotedblright.wcho</string>
      <string>quotesingle</string>
      <string>quotesingle.wcho</string>
      <string>ra-wcho</string>
      <string>sa-wcho</string>
      <string>seven-wcho</string>
      <string>sha-wcho</string>
      <string>six-wcho</string>
      <string>slash</string>
      <string>slash.wcho</string>
      <string>space</string>
      <string>ta-wcho</string>
      <string>tha-wcho</string>
      <string>three-wcho</string>
      <string>tra-wcho</string>
      <string>tsa-wcho</string>
      <string>tup-wcho</string>
      <string>tupni-wcho</string>
      <string>two-wcho</string>
      <string>u-wcho</string>
      <string>uen-wcho</string>
      <string>uni00A0</string>
      <string>va-wcho</string>
      <string>wa-wcho</string>
      <string>ya-wcho</string>
      <string>yih-wcho</string>
      <string>za-wcho</string>
      <string>zero-wcho</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>a-wcho</key>
      <string>u1E2C1</string>
      <key>aa-wcho</key>
      <string>u1E2C0</string>
      <key>aan-wcho</key>
      <string>u1E2E8</string>
      <key>aang-wcho</key>
      <string>u1E2E3</string>
      <key>ang-wcho</key>
      <string>u1E2E4</string>
      <key>au-wcho</key>
      <string>u1E2D6</string>
      <key>ba-wcho</key>
      <string>u1E2C2</string>
      <key>ca-wcho</key>
      <string>u1E2C3</string>
      <key>da-wcho</key>
      <string>u1E2C4</string>
      <key>dotted_circle</key>
      <string>uni25CC</string>
      <key>e-wcho</key>
      <string>u1E2DB</string>
      <key>eight-wcho</key>
      <string>u1E2F8</string>
      <key>en-wcho</key>
      <string>u1E2E7</string>
      <key>fa-wcho</key>
      <string>u1E2CD</string>
      <key>five-wcho</key>
      <string>u1E2F5</string>
      <key>four-wcho</key>
      <string>u1E2F4</string>
      <key>ga-wcho</key>
      <string>u1E2C5</string>
      <key>ha-wcho</key>
      <string>u1E2DA</string>
      <key>i-wcho</key>
      <string>u1E2DC</string>
      <key>ing-wcho</key>
      <string>u1E2E5</string>
      <key>ja-wcho</key>
      <string>u1E2D0</string>
      <key>ka-wcho</key>
      <string>u1E2D4</string>
      <key>kha-wcho</key>
      <string>u1E2D9</string>
      <key>koi-wcho</key>
      <string>u1E2EE</string>
      <key>koini-wcho</key>
      <string>u1E2EF</string>
      <key>la-wcho</key>
      <string>u1E2C8</string>
      <key>llha-wcho</key>
      <string>u1E2DF</string>
      <key>ma-wcho</key>
      <string>u1E2D8</string>
      <key>na-wcho</key>
      <string>u1E2C9</string>
      <key>nga-wcho</key>
      <string>u1E2DD</string>
      <key>ngunSign-wcho</key>
      <string>u1E2FF</string>
      <key>nine-wcho</key>
      <string>u1E2F9</string>
      <key>nya-wcho</key>
      <string>u1E2E9</string>
      <key>o-wcho</key>
      <string>u1E2D5</string>
      <key>on-wcho</key>
      <string>u1E2E6</string>
      <key>one-wcho</key>
      <string>u1E2F1</string>
      <key>ong-wcho</key>
      <string>u1E2E2</string>
      <key>pa-wcho</key>
      <string>u1E2CA</string>
      <key>pha-wcho</key>
      <string>u1E2C7</string>
      <key>ra-wcho</key>
      <string>u1E2D7</string>
      <key>sa-wcho</key>
      <string>u1E2CE</string>
      <key>seven-wcho</key>
      <string>u1E2F7</string>
      <key>sha-wcho</key>
      <string>u1E2CF</string>
      <key>six-wcho</key>
      <string>u1E2F6</string>
      <key>ta-wcho</key>
      <string>u1E2CB</string>
      <key>tha-wcho</key>
      <string>u1E2CC</string>
      <key>three-wcho</key>
      <string>u1E2F3</string>
      <key>tra-wcho</key>
      <string>u1E2E1</string>
      <key>tsa-wcho</key>
      <string>u1E2E0</string>
      <key>tup-wcho</key>
      <string>u1E2EC</string>
      <key>tupni-wcho</key>
      <string>u1E2ED</string>
      <key>two-wcho</key>
      <string>u1E2F2</string>
      <key>u-wcho</key>
      <string>u1E2DE</string>
      <key>uen-wcho</key>
      <string>u1E2EA</string>
      <key>va-wcho</key>
      <string>u1E2D3</string>
      <key>wa-wcho</key>
      <string>u1E2D2</string>
      <key>ya-wcho</key>
      <string>u1E2C6</string>
      <key>yih-wcho</key>
      <string>u1E2EB</string>
      <key>za-wcho</key>
      <string>u1E2D1</string>
      <key>zero-wcho</key>
      <string>u1E2F0</string>
    </dict>
  </dict>
</plist>
