<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.asinh</key>
    <array>
      <string>asinh</string>
    </array>
    <key>public.kern1.basinh</key>
    <array>
      <string>basinh</string>
    </array>
    <key>public.kern1.casinh</key>
    <array>
      <string>casinh</string>
      <string>ttasinh</string>
      <string>vasinh</string>
      <string>kavasinh</string>
      <string>nyacasinh</string>
      <string>tavasinh</string>
      <string>davasinh</string>
      <string>navasinh</string>
      <string>cahalantsinh</string>
      <string>ttahalantsinh</string>
      <string>vahalantsinh</string>
      <string>kavahalantsinh</string>
      <string>nyacahalantsinh</string>
      <string>tavahalantsinh</string>
      <string>davahalantsinh</string>
      <string>navahalantsinh</string>
      <string>civowelsinh</string>
      <string>ttivowelsinh</string>
      <string>vivowelsinh</string>
      <string>kavivowelsinh</string>
      <string>nyacivowelsinh</string>
      <string>tavivowelsinh</string>
      <string>davivowelsinh</string>
      <string>navivowelsinh</string>
      <string>ciivowelsinh</string>
      <string>ttiivowelsinh</string>
      <string>viivowelsinh</string>
      <string>kaviivowelsinh</string>
      <string>nyaciivowelsinh</string>
      <string>taviivowelsinh</string>
      <string>daviivowelsinh</string>
      <string>naviivowelsinh</string>
      <string>carephsinh</string>
      <string>ttarephsinh</string>
      <string>varephsinh</string>
      <string>kavarephsinh</string>
      <string>nyacarephsinh</string>
      <string>tavarephsinh</string>
      <string>davarephsinh</string>
      <string>navarephsinh</string>
      <string>cuvowelsinh</string>
      <string>ttuvowelsinh</string>
      <string>vuvowelsinh</string>
      <string>kavuvowelsinh</string>
      <string>nyacuvowelsinh</string>
      <string>tavuvowelsinh</string>
      <string>davuvowelsinh</string>
      <string>navuvowelsinh</string>
      <string>cuuvowelsinh</string>
      <string>ttuuvowelsinh</string>
      <string>vuuvowelsinh</string>
      <string>kavuuvowelsinh</string>
      <string>nyacuuvowelsinh</string>
      <string>tavuuvowelsinh</string>
      <string>davuuvowelsinh</string>
      <string>navuuvowelsinh</string>
    </array>
    <key>public.kern1.chasinh</key>
    <array>
      <string>chasinh</string>
    </array>
    <key>public.kern1.darrvocalicvowelsinh</key>
    <array>
      <string>darrvocalicvowelsinh</string>
    </array>
    <key>public.kern1.dasinh</key>
    <array>
      <string>nyasinh</string>
      <string>jnyasinh</string>
      <string>dasinh</string>
      <string>ndasinh</string>
      <string>nadasinh</string>
      <string>nyarasinh</string>
      <string>jnyarasinh</string>
      <string>darasinh</string>
      <string>ndarasinh</string>
      <string>nadarasinh</string>
      <string>nyahalantsinh</string>
      <string>jnyahalantsinh</string>
      <string>dahalantsinh</string>
      <string>ndahalantsinh</string>
      <string>nadahalantsinh</string>
      <string>nyarahalantsinh</string>
      <string>jnyarahalantsinh</string>
      <string>darahalantsinh</string>
      <string>ndarahalantsinh</string>
      <string>nadarahalantsinh</string>
      <string>nyivowelsinh</string>
      <string>nyarivowelsinh</string>
      <string>jnyivowelsinh</string>
      <string>jnyarivowelsinh</string>
      <string>divowelsinh</string>
      <string>darivowelsinh</string>
      <string>ndivowelsinh</string>
      <string>ndarivowelsinh</string>
      <string>nadivowelsinh</string>
      <string>nadarivowelsinh</string>
      <string>nyiivowelsinh</string>
      <string>nyariivowelsinh</string>
      <string>jnyiivowelsinh</string>
      <string>jnyariivowelsinh</string>
      <string>diivowelsinh</string>
      <string>dariivowelsinh</string>
      <string>ndiivowelsinh</string>
      <string>ndariivowelsinh</string>
      <string>nadiivowelsinh</string>
      <string>nadariivowelsinh</string>
      <string>nyarephsinh</string>
      <string>jnyarephsinh</string>
      <string>darephsinh</string>
      <string>ndarephsinh</string>
      <string>nadarephsinh</string>
      <string>nyuvowelsinh</string>
      <string>jnyuvowelsinh</string>
      <string>duvowelsinh</string>
      <string>nduvowelsinh</string>
      <string>naduvowelsinh</string>
      <string>nyuuvowelsinh</string>
      <string>jnyuuvowelsinh</string>
      <string>duuvowelsinh</string>
      <string>nduuvowelsinh</string>
      <string>naduuvowelsinh</string>
    </array>
    <key>public.kern1.dayaavowelsinh</key>
    <array>
      <string>dayaavowelsinh</string>
    </array>
    <key>public.kern1.dayahalantsinh</key>
    <array>
      <string>dayahalantsinh</string>
    </array>
    <key>public.kern1.dayasinh</key>
    <array>
      <string>dayasinh</string>
    </array>
    <key>public.kern1.dayoovowelsinh</key>
    <array>
      <string>dayoovowelsinh</string>
    </array>
    <key>public.kern1.doovowelsignsinh</key>
    <array>
      <string>doovowelsignsinh</string>
    </array>
    <key>public.kern1.fasinh</key>
    <array>
      <string>fasinh</string>
    </array>
    <key>public.kern1.gasinh</key>
    <array>
      <string>gasinh</string>
      <string>nngasinh</string>
      <string>bhasinh</string>
      <string>hasinh</string>
    </array>
    <key>public.kern1.ghasinh</key>
    <array>
      <string>ghasinh</string>
      <string>yasinh</string>
      <string>sasinh</string>
    </array>
    <key>public.kern1.kasinh</key>
    <array>
      <string>kasinh</string>
    </array>
    <key>public.kern1.khasinh</key>
    <array>
      <string>khasinh</string>
    </array>
    <key>public.kern1.larasinh</key>
    <array>
      <string>larasinh</string>
      <string>larahalantsinh</string>
      <string>larivowelsinh</string>
      <string>lariivowelsinh</string>
    </array>
    <key>public.kern1.lasinh</key>
    <array>
      <string>lasinh</string>
      <string>lahalantsinh</string>
      <string>livowelsinh</string>
      <string>liivowelsinh</string>
      <string>larephsinh</string>
      <string>luvowelsinh</string>
      <string>luuvowelsinh</string>
    </array>
    <key>public.kern1.llasinh</key>
    <array>
      <string>llasinh</string>
      <string>llahalantsinh</string>
      <string>llivowelsinh</string>
      <string>lliivowelsinh</string>
      <string>llarephsinh</string>
    </array>
    <key>public.kern1.masinh</key>
    <array>
      <string>masinh</string>
      <string>mahalantsinh</string>
      <string>mivowelsinh</string>
      <string>miivowelsinh</string>
      <string>marephsinh</string>
      <string>matouchsinh</string>
    </array>
    <key>public.kern1.mbasinh</key>
    <array>
      <string>mbasinh</string>
    </array>
    <key>public.kern1.ngasinh</key>
    <array>
      <string>ngasinh</string>
      <string>jhasinh</string>
      <string>ddasinh</string>
      <string>nnddasinh</string>
      <string>dhasinh</string>
      <string>gadhasinh</string>
      <string>dadhasinh</string>
      <string>nadhasinh</string>
    </array>
    <key>public.kern1.nnasinh</key>
    <array>
      <string>nnasinh</string>
    </array>
    <key>public.kern1.nyaavowelsinh</key>
    <array>
      <string>nyaavowelsinh</string>
      <string>jnyaavowelsinh</string>
      <string>daavowelsinh</string>
      <string>ndaavowelsinh</string>
      <string>nadaavowelsinh</string>
      <string>darvocalicvowelsinh</string>
    </array>
    <key>public.kern1.pasinh</key>
    <array>
      <string>jasinh</string>
      <string>nyjasinh</string>
      <string>pasinh</string>
      <string>ssasinh</string>
      <string>kassasinh</string>
    </array>
    <key>public.kern1.raevowelsinh</key>
    <array>
      <string>raevowelsinh</string>
      <string>raaevowelsinh</string>
    </array>
    <key>public.kern1.rasinh</key>
    <array>
      <string>rasinh</string>
    </array>
    <key>public.kern1.shasinh</key>
    <array>
      <string>shasinh</string>
      <string>shahalantsinh</string>
      <string>shivowelsinh</string>
      <string>shiivowelsinh</string>
      <string>sharephsinh</string>
      <string>shuvowelsinh</string>
      <string>shuuvowelsinh</string>
    </array>
    <key>public.kern1.tasinh</key>
    <array>
      <string>tasinh</string>
      <string>nasinh</string>
    </array>
    <key>public.kern1.thasinh</key>
    <array>
      <string>esinh</string>
      <string>eesinh</string>
      <string>aisinh</string>
      <string>thasinh</string>
      <string>phasinh</string>
      <string>tathasinh</string>
      <string>nathasinh</string>
      <string>llarasinh</string>
      <string>llahalantaltsinh</string>
      <string>thivowelsinh</string>
      <string>phivowelsinh</string>
      <string>llarivowelsinh</string>
      <string>tathivowelsinh</string>
      <string>nathivowelsinh</string>
      <string>thiivowelsinh</string>
      <string>phiivowelsinh</string>
      <string>llariivowelsinh</string>
      <string>tathiivowelsinh</string>
      <string>nathiivowelsinh</string>
      <string>thuvowelsinh</string>
      <string>phuvowelsinh</string>
      <string>lluvowelsinh</string>
      <string>tathuvowelsinh</string>
      <string>nathuvowelsinh</string>
      <string>thuuvowelsinh</string>
      <string>phuuvowelsinh</string>
      <string>tathuuvowelsinh</string>
      <string>nathuuvowelsinh</string>
    </array>
    <key>public.kern1.tthasinh</key>
    <array>
      <string>tthasinh</string>
      <string>ddhasinh</string>
      <string>ttatthasinh</string>
    </array>
    <key>public.kern1.usinh</key>
    <array>
      <string>usinh</string>
    </array>
    <key>public.kern1.yapostsinh</key>
    <array>
      <string>yapostsinh</string>
      <string>yaposthalantsinh</string>
      <string>yapostivowelsinh</string>
      <string>yapostiivowelsinh</string>
      <string>yapostrephsinh</string>
      <string>yapostuvowelsinh</string>
      <string>yapostuuvowelsinh</string>
    </array>
    <key>public.kern2.aavowelsignsinh</key>
    <array>
      <string>aavowelsignsinh</string>
      <string>oovowelsignaltsinh</string>
    </array>
    <key>public.kern2.aevowelsignsinh</key>
    <array>
      <string>aevowelsignsinh</string>
      <string>aaevowelsignsinh</string>
    </array>
    <key>public.kern2.anusvarasinh</key>
    <array>
      <string>anusvarasinh</string>
    </array>
    <key>public.kern2.dasinh</key>
    <array>
      <string>asinh</string>
      <string>aasinh</string>
      <string>easinh</string>
      <string>aaesinh</string>
      <string>dasinh</string>
      <string>darasinh</string>
      <string>dahalantsinh</string>
      <string>darahalantsinh</string>
      <string>divowelsinh</string>
      <string>darivowelsinh</string>
      <string>diivowelsinh</string>
      <string>dariivowelsinh</string>
      <string>darephsinh</string>
      <string>duvowelsinh</string>
      <string>duuvowelsinh</string>
      <string>daavowelsinh</string>
      <string>darvocalicvowelsinh</string>
      <string>darrvocalicvowelsinh</string>
      <string>doovowelsignsinh</string>
      <string>dayasinh</string>
      <string>dayahalantsinh</string>
      <string>dayaavowelsinh</string>
      <string>dayoovowelsinh</string>
      <string>datouchsinh</string>
    </array>
    <key>public.kern2.lasinh</key>
    <array>
      <string>lasinh</string>
      <string>lahalantsinh</string>
      <string>livowelsinh</string>
      <string>liivowelsinh</string>
      <string>larephsinh</string>
      <string>latouchsinh</string>
    </array>
    <key>public.kern2.llasinh</key>
    <array>
      <string>llasinh</string>
      <string>llahalantsinh</string>
      <string>llivowelsinh</string>
      <string>lliivowelsinh</string>
      <string>llarephsinh</string>
      <string>llatouchsinh</string>
    </array>
    <key>public.kern2.lvocalicvowelsignsinh</key>
    <array>
      <string>lvocalicvowelsignsinh</string>
      <string>llvocalicvowelsignsinh</string>
    </array>
    <key>public.kern2.rvocalicvowelsignsinh</key>
    <array>
      <string>rvocalicvowelsignsinh</string>
      <string>rrvocalicvowelsignsinh</string>
    </array>
    <key>public.kern2.usinh</key>
    <array>
      <string>usinh</string>
      <string>uusinh</string>
    </array>
    <key>public.kern2.yapostsinh</key>
    <array>
      <string>yapostsinh</string>
      <string>yaposthalantsinh</string>
      <string>yapostivowelsinh</string>
      <string>yapostiivowelsinh</string>
      <string>yapostrephsinh</string>
      <string>yapostuvowelsinh</string>
      <string>yapostuuvowelsinh</string>
    </array>
  </dict>
</plist>
