<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>20</integer>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1357</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>1D72C4DB-D20D-420D-B086-1F84B9DB7C9C</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>height</key>
    <integer>60</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>nbspace</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>dottedCircle</string>
      <string>comma</string>
      <string>exclam</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>candrabindu_chakma</string>
      <string>candrabindu_visarga</string>
      <string>candrabindu_iMatra</string>
      <string>candrabindu_iMatra_aMatra</string>
      <string>candrabindu_iiMatra</string>
      <string>candrabindu_iiMatra_aMatra</string>
      <string>anusvara_chakma</string>
      <string>anusvara_candrabindu</string>
      <string>anusvara_iMatra</string>
      <string>anusvara_iMatra_aMatra</string>
      <string>anusvara_iiMatra</string>
      <string>anusvara_iiMatra_aMatra</string>
      <string>visarga_chakma</string>
      <string>visarga_iMatra</string>
      <string>visarga_iMatra_aMatra</string>
      <string>visarga_iiMatra</string>
      <string>visarga_iiMatra_aMatra</string>
      <string>visarga_anusvara</string>
      <string>maayyaa_iMatra_aMatra</string>
      <string>maayyaa_iiMatra_aMatra</string>
      <string>aa_chakma</string>
      <string>i_chakma</string>
      <string>u_chakma</string>
      <string>e_chakma</string>
      <string>kaa_chakma</string>
      <string>khaa_chakma</string>
      <string>gaa_chakma</string>
      <string>ghaa_chakma</string>
      <string>ngaa_chakma</string>
      <string>caa_chakma</string>
      <string>chaa_chakma</string>
      <string>jaa_chakma</string>
      <string>jhaa_chakma</string>
      <string>nyaa_chakma</string>
      <string>ttaa_chakma</string>
      <string>tthaa_chakma</string>
      <string>ddaa_chakma</string>
      <string>ddhaa_chakma</string>
      <string>nnaa_chakma</string>
      <string>taa_chakma</string>
      <string>thaa_chakma</string>
      <string>daa_chakma</string>
      <string>dhaa_chakma</string>
      <string>naa_chakma</string>
      <string>paa_chakma</string>
      <string>phaa_chakma</string>
      <string>baa_chakma</string>
      <string>bhaa_chakma</string>
      <string>maa_chakma</string>
      <string>yyaa_chakma</string>
      <string>yaa_chakma</string>
      <string>raa_chakma</string>
      <string>laa_chakma</string>
      <string>waa_chakma</string>
      <string>saa_chakma</string>
      <string>haa_chakma</string>
      <string>vaa_chakma</string>
      <string>aMatra_chakma</string>
      <string>iMatra_chakma</string>
      <string>iiMatra_chakma</string>
      <string>uMatra_chakma</string>
      <string>uMatra_chakma.alt</string>
      <string>uuMatra_chakma</string>
      <string>uuMatra_chakma.alt</string>
      <string>eMatra_chakma</string>
      <string>eMatra_chakma.alt</string>
      <string>doubleEMatra_chakma</string>
      <string>doubleEMatra_chakma.alt</string>
      <string>aiMatra_chakma</string>
      <string>aiMatra_chakma.short</string>
      <string>aiMatra_candrabindu</string>
      <string>aiMatra_candrabindu.short</string>
      <string>aiMatra_anusvara</string>
      <string>aiMatra_anusvara.short</string>
      <string>aiMatra_visarga</string>
      <string>aiMatra_visarga.short</string>
      <string>aiMatra_maayyaa</string>
      <string>aiMatra_maayyaa.short</string>
      <string>oMatra_chakma</string>
      <string>auMatra_chakma</string>
      <string>oiMatra_chakma</string>
      <string>oiMatra_chakma.short</string>
      <string>oiMatra_candrabindu</string>
      <string>oiMatra_candrabindu.short</string>
      <string>oiMatra_anusvara</string>
      <string>oiMatra_anusvara.short</string>
      <string>oiMatra_visarga</string>
      <string>oiMatra_visarga.short</string>
      <string>oiMatra_maayyaa</string>
      <string>oiMatra_maayyaa.short</string>
      <string>iMatra_aMatra</string>
      <string>iiMatra_aMatra</string>
      <string>oMark_chakma</string>
      <string>auMark_chakma</string>
      <string>virama_chakma</string>
      <string>maayyaa_chakma</string>
      <string>maayyaa_iMatra</string>
      <string>maayyaa_iiMatra</string>
      <string>zero_chakma</string>
      <string>one_chakma</string>
      <string>two_chakma</string>
      <string>three_chakma</string>
      <string>four_chakma</string>
      <string>five_chakma</string>
      <string>six_chakma</string>
      <string>seven_chakma</string>
      <string>eight_chakma</string>
      <string>nine_chakma</string>
      <string>section_chakma</string>
      <string>danda_chakma</string>
      <string>doubledanda_chakma</string>
      <string>question_chakma</string>
      <string>lhaa_chakma</string>
      <string>aaMatra_chakma</string>
      <string>eiMatra_chakma</string>
      <string>u_chakma.below</string>
      <string>shorteiMatra</string>
      <string>kaa_chakma.below</string>
      <string>khaa_chakma.below</string>
      <string>gaa_chakma.below</string>
      <string>ghaa_chakma.below</string>
      <string>ngaa_chakma.below</string>
      <string>caa_chakma.below</string>
      <string>chaa_chakma.below</string>
      <string>jaa_chakma.below</string>
      <string>jhaa_chakma.below</string>
      <string>nyaa_chakma.below</string>
      <string>ttaa_chakma.below</string>
      <string>tthaa_chakma.below</string>
      <string>ddaa_chakma.below</string>
      <string>ddhaa_chakma.below</string>
      <string>nnaa_chakma.below</string>
      <string>taa_chakma.below</string>
      <string>thaa_chakma.below</string>
      <string>daa_chakma.below</string>
      <string>dhaa_chakma.below</string>
      <string>naa_chakma.below</string>
      <string>paa_chakma.below</string>
      <string>phaa_chakma.below</string>
      <string>baa_chakma.below</string>
      <string>bhaa_chakma.below</string>
      <string>maa_chakma.below</string>
      <string>yyaa_chakma.post</string>
      <string>yaa_chakma.below</string>
      <string>raa_chakma.below</string>
      <string>raa_chakma.below.curve</string>
      <string>raa.below_oMark</string>
      <string>raa.below_oMark.curve</string>
      <string>raa.below_auMark</string>
      <string>raa.below_auMark.curve</string>
      <string>laa_chakma.below</string>
      <string>laa_chakma.below.alt</string>
      <string>waa_chakma.below</string>
      <string>saa_chakma.below</string>
      <string>haa_chakma.below</string>
      <string>haa_chakma.below.alt</string>
      <string>lhaa_chakma.below</string>
      <string>vaa_chakma.below</string>
      <string>ngaa_aaMatra</string>
      <string>ngaa_eiMatra</string>
      <string>ngaa_e.below</string>
      <string>jhaa_aaMatra</string>
      <string>jhaa_eiMatra</string>
      <string>jhaa_e.below</string>
      <string>jhaa_yyaa.post</string>
      <string>nyaa_raa.below</string>
      <string>nyaa_yyaa.post</string>
      <string>ttaa_aaMatra</string>
      <string>ttaa_eiMatra</string>
      <string>ttaa_e.below</string>
      <string>ttaa_yyaa.post</string>
      <string>tthaa_aaMatra</string>
      <string>tthaa_eiMatra</string>
      <string>tthaa_e.below</string>
      <string>ddaa_yyaa.post</string>
      <string>ddhaa_yyaa.post</string>
      <string>ghaa_chakma.alt</string>
      <string>chaa_chakma.alt</string>
      <string>jaa_chakma.alt</string>
      <string>nnaa_chakma.alt</string>
      <string>naa_chakma.alt</string>
      <string>yaa_chakma.alt</string>
      <string>yaa_chakma.alt2</string>
      <string>section_chakma.alt</string>
      <string>uni09E6</string>
      <string>uni09E7</string>
      <string>uni09E8</string>
      <string>uni09E9</string>
      <string>uni09EA</string>
      <string>uni09EB</string>
      <string>uni09EC</string>
      <string>uni09ED</string>
      <string>uni09EE</string>
      <string>uni09EF</string>
      <string>uni1040</string>
      <string>uni1041</string>
      <string>uni1042</string>
      <string>uni1043</string>
      <string>uni1044</string>
      <string>uni1045</string>
      <string>uni1046</string>
      <string>uni1047</string>
      <string>uni1048</string>
      <string>uni1049</string>
      <string>jhaa_yyaa_aaMatra</string>
      <string>jhaa_yyaa_eiMatra</string>
      <string>ngaa_yyaa_aaMatra</string>
      <string>ngaa_yyaa_eiMatra</string>
      <string>ttaa_yyaa_aaMatra</string>
      <string>ttaa_yyaa_eiMatra</string>
      <string>tthaa_yyaa_aaMatra</string>
      <string>tthaa_yyaa_eiMatra</string>
      <string>jhaa.base</string>
      <string>jhaa_yyaa_e.below</string>
      <string>ngaa_yyaa_e.below</string>
      <string>ttaa.base</string>
      <string>ttaa_yyaa_e.below</string>
      <string>tthaa.base</string>
      <string>tthaa_yyaa_e.below</string>
      <string>aa.below_yyaa.post</string>
      <string>i.below_yyaa.post</string>
      <string>chaa_chakma.alt.below</string>
      <string>ghaa_chakma.alt.below</string>
      <string>jaa_chakma.alt.below</string>
      <string>naa_chakma.alt.below</string>
      <string>nnaa_chakma.alt.below</string>
      <string>raa.below_oMark.short</string>
      <string>raa.below_uMark</string>
      <string>raa.below_uMark.short</string>
      <string>raa.below_uuMark</string>
      <string>raa.below_uuMark.alt</string>
      <string>raa.below_uuMark.short</string>
      <string>raa.below_uuMark.short.alt</string>
      <string>raa_chakma.below_uuMatra.alt</string>
      <string>raa_chakma.below_uuMatra</string>
      <string>raa.below_uMatra</string>
      <string>shorteiMatra_yyaa.post</string>
      <string>yyaa_chakma.post.alt1</string>
      <string>yyaa_chakma.post.alt2</string>
      <string>yyaa_chakma.post.alt3</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>aa.below_yyaa.post</key>
      <string>uniA733.below_yyaa.post</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
    <key>width</key>
    <integer>80</integer>
  </dict>
</plist>
