<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1069</integer>
	<key>capHeight</key>
	<integer>714</integer>
	<key>descender</key>
	<integer>-368</integer>
	<key>familyName</key>
	<string>Noto Sans Sundanese</string>
	<key>openTypeHeadCreated</key>
	<string>2020/06/24 12:48:42</string>
	<key>openTypeHheaAscender</key>
	<integer>1069</integer>
	<key>openTypeHheaDescender</key>
	<integer>-368</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2TypoAscender</key>
	<integer>1069</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-368</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1069</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>368</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-15</integer>
		<integer>0</integer>
		<integer>536</integer>
		<integer>551</integer>
		<integer>714</integer>
		<integer>729</integer>
		<integer>1069</integer>
		<integer>1084</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Noto Sans Sundanese-Bold</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-383</integer>
		<integer>-368</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>159</integer>
		<integer>132</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>185</integer>
		<integer>132</integer>
	</array>
	<key>styleName</key>
	<string>Bold</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>536</integer>
</dict>
</plist>
