<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>965</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>uA500</string>
      <string>uA501</string>
      <string>uA502</string>
      <string>uA503</string>
      <string>uA504</string>
      <string>uA505</string>
      <string>uA506</string>
      <string>uA507</string>
      <string>uA508</string>
      <string>uA509</string>
      <string>uA50A</string>
      <string>uA50B</string>
      <string>uA50C</string>
      <string>uA50D</string>
      <string>uA50E</string>
      <string>uA50F</string>
      <string>uA510</string>
      <string>uA511</string>
      <string>uA512</string>
      <string>uA513</string>
      <string>uA514</string>
      <string>uA515</string>
      <string>uA516</string>
      <string>uA517</string>
      <string>uA518</string>
      <string>uA519</string>
      <string>uA51A</string>
      <string>uA51B</string>
      <string>uA51C</string>
      <string>uA51D</string>
      <string>uA51E</string>
      <string>uA51F</string>
      <string>uA520</string>
      <string>uA521</string>
      <string>uA522</string>
      <string>uA523</string>
      <string>uA524</string>
      <string>uA525</string>
      <string>uA526</string>
      <string>uA527</string>
      <string>uA528</string>
      <string>uA529</string>
      <string>uA52A</string>
      <string>uA52B</string>
      <string>uA52C</string>
      <string>uA52D</string>
      <string>uA52E</string>
      <string>uA52F</string>
      <string>uA530</string>
      <string>uA531</string>
      <string>uA532</string>
      <string>uA533</string>
      <string>uA534</string>
      <string>uA535</string>
      <string>uA536</string>
      <string>uA537</string>
      <string>uA538</string>
      <string>uA539</string>
      <string>uA53A</string>
      <string>uA53B</string>
      <string>uA53C</string>
      <string>uA53D</string>
      <string>uA53E</string>
      <string>uA53F</string>
      <string>uA540</string>
      <string>uA541</string>
      <string>uA542</string>
      <string>uA543</string>
      <string>uA544</string>
      <string>uA545</string>
      <string>uA546</string>
      <string>uA547</string>
      <string>uA548</string>
      <string>uA549</string>
      <string>uA54A</string>
      <string>uA54B</string>
      <string>uA54C</string>
      <string>uA54D</string>
      <string>uA54E</string>
      <string>uA54F</string>
      <string>uA550</string>
      <string>uA551</string>
      <string>uA552</string>
      <string>uA553</string>
      <string>uA554</string>
      <string>uA555</string>
      <string>uA556</string>
      <string>uA557</string>
      <string>uA558</string>
      <string>uA559</string>
      <string>uA55A</string>
      <string>uA55B</string>
      <string>uA55C</string>
      <string>uA55D</string>
      <string>uA55E</string>
      <string>uA55F</string>
      <string>uA560</string>
      <string>uA561</string>
      <string>uA562</string>
      <string>uA563</string>
      <string>uA564</string>
      <string>uA565</string>
      <string>uA566</string>
      <string>uA567</string>
      <string>uA568</string>
      <string>uA569</string>
      <string>uA56A</string>
      <string>uA56B</string>
      <string>uA56C</string>
      <string>uA56D</string>
      <string>uA56E</string>
      <string>uA56F</string>
      <string>uA570</string>
      <string>uA571</string>
      <string>uA572</string>
      <string>uA573</string>
      <string>uA574</string>
      <string>uA575</string>
      <string>uA576</string>
      <string>uA577</string>
      <string>uA578</string>
      <string>uA579</string>
      <string>uA57A</string>
      <string>uA57B</string>
      <string>uA57C</string>
      <string>uA57D</string>
      <string>uA57E</string>
      <string>uA57F</string>
      <string>uA580</string>
      <string>uA581</string>
      <string>uA582</string>
      <string>uA583</string>
      <string>uA584</string>
      <string>uA585</string>
      <string>uA586</string>
      <string>uA587</string>
      <string>uA588</string>
      <string>uA589</string>
      <string>uA58A</string>
      <string>uA58B</string>
      <string>uA58C</string>
      <string>uA58D</string>
      <string>uA58E</string>
      <string>uA58F</string>
      <string>uA590</string>
      <string>uA591</string>
      <string>uA592</string>
      <string>uA593</string>
      <string>uA594</string>
      <string>uA595</string>
      <string>uA596</string>
      <string>uA597</string>
      <string>uA598</string>
      <string>uA599</string>
      <string>uA59A</string>
      <string>uA59B</string>
      <string>uA59C</string>
      <string>uA59D</string>
      <string>uA59E</string>
      <string>uA59F</string>
      <string>uA5A0</string>
      <string>uA5A1</string>
      <string>uA5A2</string>
      <string>uA5A3</string>
      <string>uA5A4</string>
      <string>uA5A5</string>
      <string>uA5A6</string>
      <string>uA5A7</string>
      <string>uA5A8</string>
      <string>uA5A9</string>
      <string>uA5AA</string>
      <string>uA5AB</string>
      <string>uA5AC</string>
      <string>uA5AD</string>
      <string>uA5AE</string>
      <string>uA5AF</string>
      <string>uA5B0</string>
      <string>uA5B1</string>
      <string>uA5B2</string>
      <string>uA5B3</string>
      <string>uA5B4</string>
      <string>uA5B5</string>
      <string>uA5B6</string>
      <string>uA5B7</string>
      <string>uA5B8</string>
      <string>uA5B9</string>
      <string>uA5BA</string>
      <string>uA5BB</string>
      <string>uA5BC</string>
      <string>uA5BD</string>
      <string>uA5BE</string>
      <string>uA5BF</string>
      <string>uA5C0</string>
      <string>uA5C1</string>
      <string>uA5C2</string>
      <string>uA5C3</string>
      <string>uA5C4</string>
      <string>uA5C5</string>
      <string>uA5C6</string>
      <string>uA5C7</string>
      <string>uA5C8</string>
      <string>uA5C9</string>
      <string>uA5CA</string>
      <string>uA5CB</string>
      <string>uA5CC</string>
      <string>uA5CD</string>
      <string>uA5CE</string>
      <string>uA5CF</string>
      <string>uA5D0</string>
      <string>uA5D1</string>
      <string>uA5D2</string>
      <string>uA5D3</string>
      <string>uA5D4</string>
      <string>uA5D5</string>
      <string>uA5D6</string>
      <string>uA5D7</string>
      <string>uA5D8</string>
      <string>uA5D9</string>
      <string>uA5DA</string>
      <string>uA5DB</string>
      <string>uA5DC</string>
      <string>uA5DD</string>
      <string>uA5DE</string>
      <string>uA5DF</string>
      <string>uA5E0</string>
      <string>uA5E1</string>
      <string>uA5E2</string>
      <string>uA5E3</string>
      <string>uA5E4</string>
      <string>uA5E5</string>
      <string>uA5E6</string>
      <string>uA5E7</string>
      <string>uA5E8</string>
      <string>uA5E9</string>
      <string>uA5EA</string>
      <string>uA5EB</string>
      <string>uA5EC</string>
      <string>uA5ED</string>
      <string>uA5EE</string>
      <string>uA5EF</string>
      <string>uA5F0</string>
      <string>uA5F1</string>
      <string>uA5F2</string>
      <string>uA5F3</string>
      <string>uA5F4</string>
      <string>uA5F5</string>
      <string>uA5F6</string>
      <string>uA5F7</string>
      <string>uA5F8</string>
      <string>uA5F9</string>
      <string>uA5FA</string>
      <string>uA5FB</string>
      <string>uA5FC</string>
      <string>uA5FD</string>
      <string>uA5FE</string>
      <string>uA5FF</string>
      <string>uA600</string>
      <string>uA601</string>
      <string>uA602</string>
      <string>uA603</string>
      <string>uA604</string>
      <string>uA605</string>
      <string>uA606</string>
      <string>uA607</string>
      <string>uA608</string>
      <string>uA609</string>
      <string>uA60A</string>
      <string>uA60B</string>
      <string>uA60C</string>
      <string>uA60D</string>
      <string>uA60E</string>
      <string>uA60F</string>
      <string>uA610</string>
      <string>uA611</string>
      <string>uA612</string>
      <string>uA613</string>
      <string>uA614</string>
      <string>uA615</string>
      <string>uA616</string>
      <string>uA617</string>
      <string>uA618</string>
      <string>uA619</string>
      <string>uA61A</string>
      <string>uA61B</string>
      <string>uA61C</string>
      <string>uA61D</string>
      <string>uA61E</string>
      <string>uA61F</string>
      <string>uA620</string>
      <string>uA621</string>
      <string>uA622</string>
      <string>uA623</string>
      <string>uA624</string>
      <string>uA625</string>
      <string>uA626</string>
      <string>uA627</string>
      <string>uA628</string>
      <string>uA629</string>
      <string>uA62A</string>
      <string>uA62B</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
