<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>3</integer>
    <key>GSOffsetProportional</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1075</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Light</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>noodleExtremesAndInflections</key>
    <integer>1</integer>
    <key>noodleRemoveOverlap</key>
    <integer>1</integer>
    <key>noodleThickness</key>
    <string>22.0</string>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>breve</string>
      <string>caron</string>
      <string>dotaccent</string>
      <string>dotlessi</string>
      <string>g720</string>
      <string>g721</string>
      <string>g722</string>
      <string>g723</string>
      <string>g724</string>
      <string>g725</string>
      <string>g726</string>
      <string>g727</string>
      <string>g728</string>
      <string>g729</string>
      <string>g730</string>
      <string>g731</string>
      <string>g732</string>
      <string>g733</string>
      <string>g734</string>
      <string>g735</string>
      <string>g736</string>
      <string>g737</string>
      <string>g738</string>
      <string>g739</string>
      <string>g740</string>
      <string>g741</string>
      <string>g742</string>
      <string>ogonek</string>
      <string>ring</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni0307</string>
      <string>uni1400</string>
      <string>uni1401</string>
      <string>uni1402</string>
      <string>uni1403</string>
      <string>uni1404</string>
      <string>uni1405</string>
      <string>uni1406</string>
      <string>uni1407</string>
      <string>uni1408</string>
      <string>uni1409</string>
      <string>uni140A</string>
      <string>uni140B</string>
      <string>uni140C</string>
      <string>uni140D</string>
      <string>uni140E</string>
      <string>uni140F</string>
      <string>uni1410</string>
      <string>uni1411</string>
      <string>uni1412</string>
      <string>uni1413</string>
      <string>uni1414</string>
      <string>uni1415</string>
      <string>uni1416</string>
      <string>uni1417</string>
      <string>uni1418</string>
      <string>uni1419</string>
      <string>uni141A</string>
      <string>uni141B</string>
      <string>uni141C</string>
      <string>uni141D</string>
      <string>uni141E</string>
      <string>uni141F</string>
      <string>uni1420</string>
      <string>uni1421</string>
      <string>uni1422</string>
      <string>uni1423</string>
      <string>uni1424</string>
      <string>uni1425</string>
      <string>uni1426</string>
      <string>uni1427</string>
      <string>uni1428</string>
      <string>uni1429</string>
      <string>uni142A</string>
      <string>uni142B</string>
      <string>uni142C</string>
      <string>uni142D</string>
      <string>uni142E</string>
      <string>uni142F</string>
      <string>uni1430</string>
      <string>uni1431</string>
      <string>uni1432</string>
      <string>uni1433</string>
      <string>uni1434</string>
      <string>uni1435</string>
      <string>uni1436</string>
      <string>uni1437</string>
      <string>uni1438</string>
      <string>uni1439</string>
      <string>uni143A</string>
      <string>uni143B</string>
      <string>uni143C</string>
      <string>uni143D</string>
      <string>uni143E</string>
      <string>uni143F</string>
      <string>uni1440</string>
      <string>uni1441</string>
      <string>uni1442</string>
      <string>uni1443</string>
      <string>uni1444</string>
      <string>uni1445</string>
      <string>uni1446</string>
      <string>uni1447</string>
      <string>uni1448</string>
      <string>uni1449</string>
      <string>uni144A</string>
      <string>uni144B</string>
      <string>uni144C</string>
      <string>uni144D</string>
      <string>uni144E</string>
      <string>uni144F</string>
      <string>uni1450</string>
      <string>uni1451</string>
      <string>uni1452</string>
      <string>uni1453</string>
      <string>uni1454</string>
      <string>uni1455</string>
      <string>uni1456</string>
      <string>uni1457</string>
      <string>uni1458</string>
      <string>uni1459</string>
      <string>uni145A</string>
      <string>uni145B</string>
      <string>uni145C</string>
      <string>uni145D</string>
      <string>uni145E</string>
      <string>uni145F</string>
      <string>uni1460</string>
      <string>uni1461</string>
      <string>uni1462</string>
      <string>uni1463</string>
      <string>uni1464</string>
      <string>uni1465</string>
      <string>uni1466</string>
      <string>uni1467</string>
      <string>uni1468</string>
      <string>uni1469</string>
      <string>uni146A</string>
      <string>uni146B</string>
      <string>uni146C</string>
      <string>uni146D</string>
      <string>uni146E</string>
      <string>uni146F</string>
      <string>uni1470</string>
      <string>uni1471</string>
      <string>uni1472</string>
      <string>uni1473</string>
      <string>uni1474</string>
      <string>uni1475</string>
      <string>uni1476</string>
      <string>uni1477</string>
      <string>uni1478</string>
      <string>uni1479</string>
      <string>uni147A</string>
      <string>uni147B</string>
      <string>uni147C</string>
      <string>uni147D</string>
      <string>uni147E</string>
      <string>uni147F</string>
      <string>uni1480</string>
      <string>uni1481</string>
      <string>uni1482</string>
      <string>uni1483</string>
      <string>uni1484</string>
      <string>uni1485</string>
      <string>uni1486</string>
      <string>uni1487</string>
      <string>uni1488</string>
      <string>uni1489</string>
      <string>uni148A</string>
      <string>uni148B</string>
      <string>uni148C</string>
      <string>uni148D</string>
      <string>uni148E</string>
      <string>uni148F</string>
      <string>uni1490</string>
      <string>uni1491</string>
      <string>uni1492</string>
      <string>uni1493</string>
      <string>uni1494</string>
      <string>uni1495</string>
      <string>uni1496</string>
      <string>uni1497</string>
      <string>uni1498</string>
      <string>uni1499</string>
      <string>uni149A</string>
      <string>uni149B</string>
      <string>uni149C</string>
      <string>uni149D</string>
      <string>uni149E</string>
      <string>uni149F</string>
      <string>uni14A0</string>
      <string>uni14A1</string>
      <string>uni14A2</string>
      <string>uni14A3</string>
      <string>uni14A4</string>
      <string>uni14A5</string>
      <string>uni14A6</string>
      <string>uni14A7</string>
      <string>uni14A8</string>
      <string>uni14A9</string>
      <string>uni14AA</string>
      <string>uni14AB</string>
      <string>uni14AC</string>
      <string>uni14AD</string>
      <string>uni14AE</string>
      <string>uni14AF</string>
      <string>uni14B0</string>
      <string>uni14B1</string>
      <string>uni14B2</string>
      <string>uni14B3</string>
      <string>uni14B4</string>
      <string>uni14B5</string>
      <string>uni14B6</string>
      <string>uni14B7</string>
      <string>uni14B8</string>
      <string>uni14B9</string>
      <string>uni14BA</string>
      <string>uni14BB</string>
      <string>uni14BC</string>
      <string>uni14BD</string>
      <string>uni14BE</string>
      <string>uni14BF</string>
      <string>uni14C0</string>
      <string>uni14C1</string>
      <string>uni14C2</string>
      <string>uni14C3</string>
      <string>uni14C4</string>
      <string>uni14C5</string>
      <string>uni14C6</string>
      <string>uni14C7</string>
      <string>uni14C8</string>
      <string>uni14C9</string>
      <string>uni14CA</string>
      <string>uni14CB</string>
      <string>uni14CC</string>
      <string>uni14CD</string>
      <string>uni14CE</string>
      <string>uni14CF</string>
      <string>uni14D0</string>
      <string>uni14D1</string>
      <string>uni14D2</string>
      <string>uni14D3</string>
      <string>uni14D4</string>
      <string>uni14D5</string>
      <string>uni14D6</string>
      <string>uni14D7</string>
      <string>uni14D8</string>
      <string>uni14D9</string>
      <string>uni14DA</string>
      <string>uni14DB</string>
      <string>uni14DC</string>
      <string>uni14DD</string>
      <string>uni14DE</string>
      <string>uni14DF</string>
      <string>uni14E0</string>
      <string>uni14E1</string>
      <string>uni14E2</string>
      <string>uni14E3</string>
      <string>uni14E4</string>
      <string>uni14E5</string>
      <string>uni14E6</string>
      <string>uni14E7</string>
      <string>uni14E8</string>
      <string>uni14E9</string>
      <string>uni14EA</string>
      <string>uni14EB</string>
      <string>uni14EC</string>
      <string>uni14ED</string>
      <string>uni14EE</string>
      <string>uni14EF</string>
      <string>uni14F0</string>
      <string>uni14F1</string>
      <string>uni14F2</string>
      <string>uni14F3</string>
      <string>uni14F4</string>
      <string>uni14F5</string>
      <string>uni14F6</string>
      <string>uni14F7</string>
      <string>uni14F8</string>
      <string>uni14F9</string>
      <string>uni14FA</string>
      <string>uni14FB</string>
      <string>uni14FC</string>
      <string>uni14FD</string>
      <string>uni14FE</string>
      <string>uni14FF</string>
      <string>uni1500</string>
      <string>uni1501</string>
      <string>uni1502</string>
      <string>uni1503</string>
      <string>uni1504</string>
      <string>uni1505</string>
      <string>uni1506</string>
      <string>uni1507</string>
      <string>uni1508</string>
      <string>uni1509</string>
      <string>uni150A</string>
      <string>uni150B</string>
      <string>uni150C</string>
      <string>uni150D</string>
      <string>uni150E</string>
      <string>uni150F</string>
      <string>uni1510</string>
      <string>uni1511</string>
      <string>uni1512</string>
      <string>uni1513</string>
      <string>uni1514</string>
      <string>uni1515</string>
      <string>uni1516</string>
      <string>uni1517</string>
      <string>uni1518</string>
      <string>uni1519</string>
      <string>uni151A</string>
      <string>uni151B</string>
      <string>uni151C</string>
      <string>uni151D</string>
      <string>uni151E</string>
      <string>uni151F</string>
      <string>uni1520</string>
      <string>uni1521</string>
      <string>uni1522</string>
      <string>uni1523</string>
      <string>uni1524</string>
      <string>uni1525</string>
      <string>uni1526</string>
      <string>uni1527</string>
      <string>uni1528</string>
      <string>uni1529</string>
      <string>uni152A</string>
      <string>uni152B</string>
      <string>uni152C</string>
      <string>uni152D</string>
      <string>uni152E</string>
      <string>uni152F</string>
      <string>uni1530</string>
      <string>uni1531</string>
      <string>uni1532</string>
      <string>uni1533</string>
      <string>uni1534</string>
      <string>uni1535</string>
      <string>uni1536</string>
      <string>uni1537</string>
      <string>uni1538</string>
      <string>uni1539</string>
      <string>uni153A</string>
      <string>uni153B</string>
      <string>uni153C</string>
      <string>uni153D</string>
      <string>uni153E</string>
      <string>uni153F</string>
      <string>uni1540</string>
      <string>uni1541</string>
      <string>uni1542</string>
      <string>uni1543</string>
      <string>uni1544</string>
      <string>uni1545</string>
      <string>uni1546</string>
      <string>uni1547</string>
      <string>uni1548</string>
      <string>uni1549</string>
      <string>uni154A</string>
      <string>uni154B</string>
      <string>uni154C</string>
      <string>uni154D</string>
      <string>uni154E</string>
      <string>uni154F</string>
      <string>uni1550</string>
      <string>uni1551</string>
      <string>uni1552</string>
      <string>uni1553</string>
      <string>uni1554</string>
      <string>uni1555</string>
      <string>uni1556</string>
      <string>uni1557</string>
      <string>uni1558</string>
      <string>uni1559</string>
      <string>uni155A</string>
      <string>uni155B</string>
      <string>uni155C</string>
      <string>uni155D</string>
      <string>uni155E</string>
      <string>uni155F</string>
      <string>uni1560</string>
      <string>uni1561</string>
      <string>uni1562</string>
      <string>uni1563</string>
      <string>uni1564</string>
      <string>uni1565</string>
      <string>uni1566</string>
      <string>uni1567</string>
      <string>uni1568</string>
      <string>uni1569</string>
      <string>uni156A</string>
      <string>uni156B</string>
      <string>uni156C</string>
      <string>uni156D</string>
      <string>uni156E</string>
      <string>uni156F</string>
      <string>uni1570</string>
      <string>uni1571</string>
      <string>uni1572</string>
      <string>uni1573</string>
      <string>uni1574</string>
      <string>uni1575</string>
      <string>uni1576</string>
      <string>uni1577</string>
      <string>uni1578</string>
      <string>uni1579</string>
      <string>uni157A</string>
      <string>uni157B</string>
      <string>uni157C</string>
      <string>uni157D</string>
      <string>uni157E</string>
      <string>uni157F</string>
      <string>uni1580</string>
      <string>uni1581</string>
      <string>uni1582</string>
      <string>uni1583</string>
      <string>uni1584</string>
      <string>uni1585</string>
      <string>uni1586</string>
      <string>uni1587</string>
      <string>uni1588</string>
      <string>uni1589</string>
      <string>uni158A</string>
      <string>uni158B</string>
      <string>uni158C</string>
      <string>uni158D</string>
      <string>uni158E</string>
      <string>uni158F</string>
      <string>uni1590</string>
      <string>uni1591</string>
      <string>uni1592</string>
      <string>uni1593</string>
      <string>uni1594</string>
      <string>uni1595</string>
      <string>uni1596</string>
      <string>uni1597</string>
      <string>uni1598</string>
      <string>uni1599</string>
      <string>uni159A</string>
      <string>uni159B</string>
      <string>uni159C</string>
      <string>uni159D</string>
      <string>uni159E</string>
      <string>uni159F</string>
      <string>uni15A0</string>
      <string>uni15A1</string>
      <string>uni15A2</string>
      <string>uni15A3</string>
      <string>uni15A4</string>
      <string>uni15A5</string>
      <string>uni15A6</string>
      <string>uni15A7</string>
      <string>uni15A8</string>
      <string>uni15A9</string>
      <string>uni15AA</string>
      <string>uni15AB</string>
      <string>uni15AC</string>
      <string>uni15AD</string>
      <string>uni15AE</string>
      <string>uni15AF</string>
      <string>uni15B0</string>
      <string>uni15B1</string>
      <string>uni15B2</string>
      <string>uni15B3</string>
      <string>uni15B4</string>
      <string>uni15B5</string>
      <string>uni15B6</string>
      <string>uni15B7</string>
      <string>uni15B8</string>
      <string>uni15B9</string>
      <string>uni15BA</string>
      <string>uni15BB</string>
      <string>uni15BC</string>
      <string>uni15BD</string>
      <string>uni15BE</string>
      <string>uni15BF</string>
      <string>uni15C0</string>
      <string>uni15C1</string>
      <string>uni15C2</string>
      <string>uni15C3</string>
      <string>uni15C4</string>
      <string>uni15C5</string>
      <string>uni15C6</string>
      <string>uni15C7</string>
      <string>uni15C8</string>
      <string>uni15C9</string>
      <string>uni15CA</string>
      <string>uni15CB</string>
      <string>uni15CC</string>
      <string>uni15CD</string>
      <string>uni15CE</string>
      <string>uni15CF</string>
      <string>uni15D0</string>
      <string>uni15D1</string>
      <string>uni15D2</string>
      <string>uni15D3</string>
      <string>uni15D4</string>
      <string>uni15D5</string>
      <string>uni15D6</string>
      <string>uni15D7</string>
      <string>uni15D8</string>
      <string>uni15D9</string>
      <string>uni15DA</string>
      <string>uni15DB</string>
      <string>uni15DC</string>
      <string>uni15DD</string>
      <string>uni15DE</string>
      <string>uni15DF</string>
      <string>uni15E0</string>
      <string>uni15E1</string>
      <string>uni15E2</string>
      <string>uni15E3</string>
      <string>uni15E4</string>
      <string>uni15E5</string>
      <string>uni15E6</string>
      <string>uni15E7</string>
      <string>uni15E8</string>
      <string>uni15E9</string>
      <string>uni15EA</string>
      <string>uni15EB</string>
      <string>uni15EC</string>
      <string>uni15ED</string>
      <string>uni15EE</string>
      <string>uni15EF</string>
      <string>uni15F0</string>
      <string>uni15F1</string>
      <string>uni15F2</string>
      <string>uni15F3</string>
      <string>uni15F4</string>
      <string>uni15F5</string>
      <string>uni15F6</string>
      <string>uni15F7</string>
      <string>uni15F8</string>
      <string>uni15F9</string>
      <string>uni15FA</string>
      <string>uni15FB</string>
      <string>uni15FC</string>
      <string>uni15FD</string>
      <string>uni15FE</string>
      <string>uni15FF</string>
      <string>uni1600</string>
      <string>uni1601</string>
      <string>uni1602</string>
      <string>uni1603</string>
      <string>uni1604</string>
      <string>uni1605</string>
      <string>uni1606</string>
      <string>uni1607</string>
      <string>uni1608</string>
      <string>uni1609</string>
      <string>uni160A</string>
      <string>uni160B</string>
      <string>uni160C</string>
      <string>uni160D</string>
      <string>uni160E</string>
      <string>uni160F</string>
      <string>uni1610</string>
      <string>uni1611</string>
      <string>uni1612</string>
      <string>uni1613</string>
      <string>uni1614</string>
      <string>uni1615</string>
      <string>uni1616</string>
      <string>uni1617</string>
      <string>uni1618</string>
      <string>uni1619</string>
      <string>uni161A</string>
      <string>uni161B</string>
      <string>uni161C</string>
      <string>uni161D</string>
      <string>uni161E</string>
      <string>uni161F</string>
      <string>uni1620</string>
      <string>uni1621</string>
      <string>uni1622</string>
      <string>uni1623</string>
      <string>uni1624</string>
      <string>uni1625</string>
      <string>uni1626</string>
      <string>uni1627</string>
      <string>uni1628</string>
      <string>uni1629</string>
      <string>uni162A</string>
      <string>uni162B</string>
      <string>uni162C</string>
      <string>uni162D</string>
      <string>uni162E</string>
      <string>uni162F</string>
      <string>uni1630</string>
      <string>uni1631</string>
      <string>uni1632</string>
      <string>uni1633</string>
      <string>uni1634</string>
      <string>uni1635</string>
      <string>uni1636</string>
      <string>uni1637</string>
      <string>uni1638</string>
      <string>uni1639</string>
      <string>uni163A</string>
      <string>uni163B</string>
      <string>uni163C</string>
      <string>uni163D</string>
      <string>uni163E</string>
      <string>uni163F</string>
      <string>uni1640</string>
      <string>uni1641</string>
      <string>uni1642</string>
      <string>uni1643</string>
      <string>uni1644</string>
      <string>uni1645</string>
      <string>uni1646</string>
      <string>uni1647</string>
      <string>uni1648</string>
      <string>uni1649</string>
      <string>uni164A</string>
      <string>uni164B</string>
      <string>uni164C</string>
      <string>uni164D</string>
      <string>uni164E</string>
      <string>uni164F</string>
      <string>uni1650</string>
      <string>uni1651</string>
      <string>uni1652</string>
      <string>uni1653</string>
      <string>uni1654</string>
      <string>uni1655</string>
      <string>uni1656</string>
      <string>uni1657</string>
      <string>uni1658</string>
      <string>uni1659</string>
      <string>uni165A</string>
      <string>uni165B</string>
      <string>uni165C</string>
      <string>uni165D</string>
      <string>uni165E</string>
      <string>uni165F</string>
      <string>uni1660</string>
      <string>uni1661</string>
      <string>uni1662</string>
      <string>uni1663</string>
      <string>uni1664</string>
      <string>uni1665</string>
      <string>uni1666</string>
      <string>uni1667</string>
      <string>uni1668</string>
      <string>uni1669</string>
      <string>uni166A</string>
      <string>uni166B</string>
      <string>uni166C</string>
      <string>uni166D</string>
      <string>uni166E</string>
      <string>uni166F</string>
      <string>uni1670</string>
      <string>uni1671</string>
      <string>uni1672</string>
      <string>uni1673</string>
      <string>uni1674</string>
      <string>uni1675</string>
      <string>uni1676</string>
      <string>uni1677</string>
      <string>uni1678</string>
      <string>uni1679</string>
      <string>uni167A</string>
      <string>uni167B</string>
      <string>uni167C</string>
      <string>uni167D</string>
      <string>uni167E</string>
      <string>uni167F</string>
      <string>uni18B0</string>
      <string>uni18B1</string>
      <string>uni18B2</string>
      <string>uni18B3</string>
      <string>uni18B4</string>
      <string>uni18B5</string>
      <string>uni18B6</string>
      <string>uni18B7</string>
      <string>uni18B8</string>
      <string>uni18B9</string>
      <string>uni18BA</string>
      <string>uni18BB</string>
      <string>uni18BC</string>
      <string>uni18BD</string>
      <string>uni18BE</string>
      <string>uni18BF</string>
      <string>uni18C0</string>
      <string>uni18C1</string>
      <string>uni18C2</string>
      <string>uni18C3</string>
      <string>uni18C4</string>
      <string>uni18C5</string>
      <string>uni18C6</string>
      <string>uni18C7</string>
      <string>uni18C8</string>
      <string>uni18C9</string>
      <string>uni18CA</string>
      <string>uni18CB</string>
      <string>uni18CC</string>
      <string>uni18CD</string>
      <string>uni18CE</string>
      <string>uni18CF</string>
      <string>uni18D0</string>
      <string>uni18D1</string>
      <string>uni18D2</string>
      <string>uni18D3</string>
      <string>uni18D4</string>
      <string>uni18D5</string>
      <string>uni18D6</string>
      <string>uni18D7</string>
      <string>uni18D8</string>
      <string>uni18D9</string>
      <string>uni18DA</string>
      <string>uni18DB</string>
      <string>uni18DC</string>
      <string>uni18DD</string>
      <string>uni18DE</string>
      <string>uni18DF</string>
      <string>uni18E0</string>
      <string>uni18E1</string>
      <string>uni18E2</string>
      <string>uni18E3</string>
      <string>uni18E4</string>
      <string>uni18E5</string>
      <string>uni18E6</string>
      <string>uni18E7</string>
      <string>uni18E8</string>
      <string>uni18E9</string>
      <string>uni18EA</string>
      <string>uni18EB</string>
      <string>uni18EC</string>
      <string>uni18ED</string>
      <string>uni18EE</string>
      <string>uni18EF</string>
      <string>uni18F0</string>
      <string>uni18F1</string>
      <string>uni18F2</string>
      <string>uni18F3</string>
      <string>uni18F4</string>
      <string>uni18F5</string>
      <string>uni25CC</string>
    </array>
  </dict>
</plist>
