<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>14.322916666666666</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.quoteright</key>
      <real>10.742196666666667</real>
      <key>public.kern2.quotesingle</key>
      <real>39.0625</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>37.760419999999996</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>41.341139999999996</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <real>49.31641666666667</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <real>16.113276666666668</real>
      <key>public.kern2.T</key>
      <real>79.75256333333333</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>98.47012666666667</real>
      <key>public.kern2.quoteright</key>
      <real>65.59244333333334</real>
      <key>public.kern2.quotesingle</key>
      <real>97.98197333333333</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <real>12.36976</real>
      <key>public.kern2.T</key>
      <real>3.580727333333332</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>5.37108</real>
      <key>public.kern2.parenright</key>
      <real>12.532556666666665</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <real>12.532556666666666</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>1.7903636666666665</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>25.716143333333335</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <real>8.951836666666667</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>40.85286000000001</real>
      <key>public.kern2.parenright</key>
      <real>43.9453</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <real>53.222683333333336</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <integer>0</integer>
      <key>bracketright</key>
      <integer>0</integer>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>parenright</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>42.154939999999996</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>85.28644</real>
      <key>public.kern2.quoteright</key>
      <real>38.574220000000004</real>
      <key>public.kern2.quotesingle</key>
      <real>71.94012</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>54.52476333333333</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>65.59244333333334</real>
      <key>public.kern2.quoteright</key>
      <real>38.085903333333334</real>
      <key>public.kern2.quotesingle</key>
      <real>73.56768333333335</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>22.62370333333333</real>
      <key>public.kern2.parenright</key>
      <real>35.970060000000004</real>
      <key>public.kern2.quoteright</key>
      <real>27.83202333333334</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>6.184892666666667</real>
      <key>luu-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>-42.15494</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-11.555972666666667</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-20.833343333333335</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-35.48178</real>
      <key>public.kern2.exclam</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.555972666666667</real>
      <key>public.kern2.o-tamil</key>
      <real>-18.554703333333336</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-37.760419999999996</real>
      <key>public.kern2.quotesingle</key>
      <real>-50.94404333333333</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-5.37108</real>
      <key>public.kern2.slash</key>
      <real>14.322916666666666</real>
      <key>public.kern2.ya-tamil</key>
      <real>-18.554703333333336</real>
      <key>slash</key>
      <real>24.739583333333336</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>7.161439999999999</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-11.555972666666667</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>53.222683333333336</real>
      <key>bracketright</key>
      <real>81.21744</real>
      <key>parenright</key>
      <real>75.03255999999999</real>
      <key>public.kern2.a-tamil</key>
      <real>-25.227870666666664</real>
      <key>public.kern2.ka-tamil</key>
      <real>-3.580727333333333</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.u-tamil</key>
      <real>-10.742196666666667</real>
      <key>question</key>
      <real>48.8281</real>
      <key>quotedbl</key>
      <real>88.70439999999999</real>
      <key>quotedblright</key>
      <real>49.64196333333334</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>5.37108</real>
      <key>public.kern2.a-tamil</key>
      <real>-76.66012333333333</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-21.321596666666665</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>20.833343333333335</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-43.9453</real>
      <key>public.kern2.nya-tamil</key>
      <real>-35.48178</real>
      <key>public.kern2.o-tamil</key>
      <real>-27.99482</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-50.13018</real>
      <key>public.kern2.rra-tamil</key>
      <real>-8.951836666666667</real>
      <key>public.kern2.slash</key>
      <real>-3.580727333333333</real>
      <key>public.kern2.u-tamil</key>
      <real>-40.85286</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-61.68624</real>
      <key>slash</key>
      <real>-12.36976</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-12.858047333333335</real>
      <key>public.kern2.T</key>
      <real>-23.925783333333335</real>
      <key>public.kern2.a-tamil</key>
      <real>24.739583333333336</real>
      <key>public.kern2.ai-tamil</key>
      <real>-12.36976</real>
      <key>public.kern2.e-tamil</key>
      <real>-6.184892666666667</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-25.716143333333335</real>
      <key>public.kern2.i-tamil</key>
      <real>-12.858047333333333</real>
      <key>public.kern2.ka-tamil</key>
      <real>-6.184892666666667</real>
      <key>public.kern2.quoteright</key>
      <real>-20.019516666666668</real>
      <key>public.kern2.quotesingle</key>
      <real>-50.45572666666666</real>
      <key>quotedbl</key>
      <real>4.0689936666666675</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-27.50654</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-20.507809333333334</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-32.87762</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-19.042990666666668</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-3.580727333333333</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>41.66666</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>25.716143333333335</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>20.345067</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-5.37108</real>
      <key>public.kern2.parenright</key>
      <real>51.432323333333336</real>
      <key>public.kern2.period</key>
      <real>-16.113276666666668</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-14.322916666666666</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-5.37108</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-6.184892666666668</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-11.067683666666667</real>
      <key>public.kern2.u-tamil</key>
      <real>-3.580727333333333</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <real>18.554703333333336</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>101.56269333333334</real>
      <key>public.kern2.a-tamil</key>
      <real>-75.52083999999999</real>
      <key>public.kern2.colon</key>
      <real>42.15494</real>
      <key>public.kern2.e-tamil</key>
      <real>-5.37108</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>48.33982</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>48.33982</real>
      <key>public.kern2.exclam</key>
      <real>107.25904</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>110.02634</real>
      <key>public.kern2.u-tamil</key>
      <real>-5.37108</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>61.68624</real>
      <key>public.kern2.a-tamil</key>
      <real>-46.06124333333334</real>
      <key>public.kern2.exclam</key>
      <real>15.462263333333334</real>
      <key>public.kern2.ka-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.parenright</key>
      <real>46.223976666666665</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-18.22915666666667</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-236.32829366666664</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-74.54427999999999</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-41.341139999999996</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-32.87762</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-232.4215396666667</real>
      <key>public.kern2.e-tamil</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.ka-tamil</key>
      <real>-66.08072333333334</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.om-tamil</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.u-tamil</key>
      <real>-23.111956666666664</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-27.01822333333333</real>
      <key>public.kern2.ka-tamil</key>
      <real>-10.742196666666667</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>40.85286</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>7.161439999999999</real>
      <key>public.kern2.parenright</key>
      <real>46.223976666666665</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>52.408856666666665</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-13.346332666666665</real>
      <key>public.kern2.quotesingle</key>
      <real>-7.161439999999999</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-17.252627</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-67.87112</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-20.833343333333335</real>
      <key>public.kern2.ka-tamil</key>
      <real>-15.950487333333333</real>
      <key>public.kern2.nya-tamil</key>
      <real>-12.858047333333333</real>
      <key>public.kern2.rra-tamil</key>
      <real>-22.135430666666668</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-23.925783333333335</real>
      <key>public.kern2.a-tamil</key>
      <real>39.8763</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-10.742196666666667</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-32.06375666666666</real>
      <key>public.kern2.quotesingle</key>
      <real>-46.223976666666665</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-100.09756333333334</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.555972666666667</real>
      <key>public.kern2.period</key>
      <real>-12.858047333333333</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-51.75780666666667</real>
      <key>public.kern2.ai-tamil</key>
      <real>-12.36976</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.o-tamil</key>
      <real>-12.36976</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-15.950487333333333</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.042990666666668</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-15.136729333333333</real>
      <key>public.kern2.quoteright</key>
      <real>-27.99482</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>76.66012333333333</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>30.110663333333335</real>
      <key>public.kern2.parenright</key>
      <real>90.49476</real>
      <key>public.kern2.quoteright</key>
      <real>65.59244333333334</real>
      <key>public.kern2.quotesingle</key>
      <real>106.44562</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>7.161439999999999</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>1.790363666666666</real>
      <key>public.kern2.parenright</key>
      <real>14.322916666666666</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <real>35.97006</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>10.742196666666667</real>
      <key>public.kern2.quotesingle</key>
      <real>10.742196666666667</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>30.59898</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.quoteright</key>
      <real>18.554703333333336</real>
      <key>public.kern2.quotesingle</key>
      <real>53.7109</real>
    </dict>
  </dict>
</plist>
