<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1268</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10B00</string>
      <string>u10B0010B35</string>
      <string>u10B01</string>
      <string>u10B02</string>
      <string>u10B03</string>
      <string>u10B04</string>
      <string>u10B05</string>
      <string>u10B06</string>
      <string>u10B07</string>
      <string>u10B08</string>
      <string>u10B09</string>
      <string>u10B0A</string>
      <string>u10B0B</string>
      <string>u10B0C</string>
      <string>u10B0D</string>
      <string>u10B0E</string>
      <string>u10B0F</string>
      <string>u10B10</string>
      <string>u10B11</string>
      <string>u10B12</string>
      <string>u10B13</string>
      <string>u10B14</string>
      <string>u10B15</string>
      <string>u10B16</string>
      <string>u10B17</string>
      <string>u10B18</string>
      <string>u10B19</string>
      <string>u10B1A</string>
      <string>u10B1B</string>
      <string>u10B1C</string>
      <string>u10B1D</string>
      <string>u10B1E</string>
      <string>u10B1F</string>
      <string>u10B20</string>
      <string>u10B21</string>
      <string>u10B22</string>
      <string>u10B23</string>
      <string>u10B24</string>
      <string>u10B25</string>
      <string>u10B26</string>
      <string>u10B27</string>
      <string>u10B28</string>
      <string>u10B29</string>
      <string>u10B2A</string>
      <string>u10B2B</string>
      <string>u10B2C</string>
      <string>u10B2D</string>
      <string>u10B2E</string>
      <string>u10B2F</string>
      <string>u10B30</string>
      <string>u10B31</string>
      <string>u10B3110B00</string>
      <string>u10B3110B17</string>
      <string>u10B3110B19</string>
      <string>u10B32</string>
      <string>u10B33</string>
      <string>u10B34</string>
      <string>u10B35</string>
      <string>u10B39</string>
      <string>u10B3A</string>
      <string>u10B3B</string>
      <string>u10B3C</string>
      <string>u10B3D</string>
      <string>u10B3E</string>
      <string>u10B3F</string>
      <string>uni002E</string>
      <string>uni00A0</string>
      <string>uni00B7</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2E30</string>
      <string>uni2E31</string>
    </array>
  </dict>
</plist>
