<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>60</integer>
      <key>public.kern2.parenright</key>
      <integer>100</integer>
      <key>public.kern2.question</key>
      <integer>90</integer>
      <key>public.kern2.quoteright</key>
      <real>107.87878787878788</real>
      <key>public.kern2.quotesingle</key>
      <real>113.63636363636364</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>45</integer>
      <key>public.kern2.parenright</key>
      <integer>85</integer>
      <key>public.kern2.question</key>
      <integer>60</integer>
      <key>public.kern2.quoteright</key>
      <integer>80</integer>
      <key>public.kern2.quotesingle</key>
      <integer>95</integer>
    </dict>
    <key>kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-9.242424242424242</real>
      <key>public.kern2.question</key>
      <real>37.27272727272727</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>97.6562</real>
    </dict>
    <key>nii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>45.93939393939394</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>138.3030303030303</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>63.4766</real>
    </dict>
    <key>nyii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <real>17.87878787878788</real>
      <key>public.kern2.quotesingle</key>
      <real>23.636363636363637</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>-32.121212121212125</real>
      <key>luu-tamil</key>
      <real>-32.121212121212125</real>
      <key>nnnu-tamil</key>
      <real>-32.121212121212125</real>
      <key>nnnuu-tamil</key>
      <real>-32.121212121212125</real>
      <key>nnu-tamil</key>
      <real>-32.121212121212125</real>
      <key>nnuu-tamil</key>
      <real>-32.121212121212125</real>
      <key>public.kern2.colon</key>
      <real>-2.121212121212121</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-42.121212121212125</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-78</integer>
      <key>public.kern2.exclam</key>
      <real>-14.057761212121212</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-42.121212121212125</real>
      <key>public.kern2.o-tamil</key>
      <real>-35.80967878787879</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.period</key>
      <real>13.636363636363637</real>
      <key>public.kern2.question</key>
      <real>-49.54545454545455</real>
      <key>public.kern2.quoteright</key>
      <real>-37.121212121212125</real>
      <key>public.kern2.quotesingle</key>
      <real>-66.98156363636363</real>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.visarga-tamil</key>
      <real>-44.24242424242424</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-60</integer>
      <key>ta-tamil</key>
      <integer>-20</integer>
      <key>tu-tamil</key>
      <integer>10</integer>
      <key>tuu-tamil</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>10</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-11.06060606060606</real>
      <key>public.kern2.quotesingle</key>
      <real>-4.242424242424242</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-41.06060606060606</real>
      <key>public.kern2.exclam</key>
      <real>-4.242424242424242</real>
      <key>public.kern2.ka-tamil</key>
      <real>-2.121212121212121</real>
      <key>public.kern2.period</key>
      <real>-24.242424242424242</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.cu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>12.121212121212121</real>
    </dict>
    <key>public.kern1.cuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-34.24242424242424</real>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.question</key>
      <real>-14.848484848484851</real>
      <key>public.kern2.quoteright</key>
      <real>-44.24242424242424</real>
      <key>public.kern2.quotesingle</key>
      <real>-28.484848484848484</real>
      <key>public.kern2.ya-tamil</key>
      <real>-47.878787878787875</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-65</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-28.939393939393938</real>
      <key>public.kern2.o-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.u-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-32.121212121212125</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ai-tamil</key>
      <integer>10</integer>
      <key>public.kern2.e-tamil</key>
      <integer>30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>30</integer>
      <key>public.kern2.ka-tamil</key>
      <real>15.757575757575758</real>
      <key>public.kern2.nya-tamil</key>
      <integer>30</integer>
      <key>public.kern2.o-tamil</key>
      <integer>20</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.rupee-tamil</key>
      <real>27.87878787878788</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>10</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-11.06060606060606</real>
      <key>public.kern2.e-tamil</key>
      <real>-10.87594303030303</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-20.026012121212123</real>
      <key>public.kern2.exclam</key>
      <real>-6.363636363636363</real>
      <key>public.kern2.i-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.o-tamil</key>
      <real>-2.121212121212121</real>
      <key>public.kern2.om-tamil</key>
      <real>-12.121212121212121</real>
      <key>public.kern2.question</key>
      <integer>-29</integer>
      <key>public.kern2.quoteright</key>
      <real>-24.242424242424242</real>
      <key>public.kern2.quotesingle</key>
      <real>-46.36363636363636</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-4.242424242424242</real>
      <key>public.kern2.slash</key>
      <integer>20</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-31.060606060606062</real>
    </dict>
    <key>public.kern1.kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.parenright</key>
      <integer>20</integer>
      <key>public.kern2.question</key>
      <real>-2.121212121212121</real>
      <key>public.kern2.quoteright</key>
      <integer>30</integer>
      <key>public.kern2.quotesingle</key>
      <real>39.39393939393939</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.e-tamil</key>
      <integer>10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-4.242424242424242</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.question</key>
      <real>-4.242424242424242</real>
      <key>public.kern2.quoteright</key>
      <real>-12.121212121212121</real>
      <key>public.kern2.quotesingle</key>
      <real>-44.24242424242424</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-4.242424242424242</real>
      <key>public.kern2.e-tamil</key>
      <real>7.878787878787879</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>40</integer>
      <key>public.kern2.hyphen</key>
      <real>22.87878787878788</real>
      <key>public.kern2.ka-tamil</key>
      <real>6.818181818181818</real>
      <key>public.kern2.o-tamil</key>
      <real>-2.121212121212121</real>
      <key>public.kern2.parenright</key>
      <integer>60</integer>
      <key>public.kern2.question</key>
      <integer>40</integer>
      <key>public.kern2.quoteright</key>
      <integer>75</integer>
      <key>public.kern2.quotesingle</key>
      <real>85.75757575757575</real>
      <key>public.kern2.rra-tamil</key>
      <real>-12.121212121212121</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.ai-tamil</key>
      <real>-2.121212121212121</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-14.057761212121212</real>
      <key>public.kern2.exclam</key>
      <real>-4.242424242424242</real>
      <key>public.kern2.question</key>
      <real>-8.484848484848484</real>
      <key>public.kern2.quoteright</key>
      <real>-4.242424242424242</real>
      <key>public.kern2.quotesingle</key>
      <real>-26.363636363636363</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.mii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>33.63636363636364</real>
      <key>public.kern2.parenright</key>
      <integer>60</integer>
      <key>public.kern2.question</key>
      <integer>50</integer>
      <key>public.kern2.quoteright</key>
      <integer>70</integer>
      <key>public.kern2.quotesingle</key>
      <real>75.75757575757575</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.colon</key>
      <real>43.9453</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>81.03030303030303</real>
      <key>public.kern2.exclam</key>
      <integer>120</integer>
      <key>public.kern2.i-tamil</key>
      <real>70.60606060606061</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.541163636363637</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <integer>120</integer>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
      <key>public.kern2.rupee-tamil</key>
      <real>62.121212121212125</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-58.5938</real>
      <key>public.kern2.ai-tamil</key>
      <integer>30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>65</integer>
      <key>public.kern2.i-tamil</key>
      <real>12.727272727272727</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.question</key>
      <integer>70</integer>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>55.75757575757576</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-12.121212121212121</real>
      <key>public.kern2.hyphen</key>
      <real>4.242424242424242</real>
      <key>public.kern2.question</key>
      <real>-4.242424242424242</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-22.12121212121212</real>
    </dict>
    <key>public.kern1.pii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>40</integer>
      <key>public.kern2.i-tamil</key>
      <real>8.484848484848484</real>
      <key>public.kern2.parenright</key>
      <integer>70</integer>
      <key>public.kern2.question</key>
      <real>57.878787878787875</real>
      <key>public.kern2.quoteright</key>
      <real>93.63636363636364</real>
      <key>public.kern2.quotesingle</key>
      <real>85.75757575757575</real>
      <key>public.kern2.rupee-tamil</key>
      <real>47.878787878787875</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-137.87878787878788</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-47.45454545454545</real>
      <key>public.kern2.nya-tamil</key>
      <real>-11.06060606060606</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-137.87878787878788</real>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-155.75757575757575</real>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.o-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.om-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.rii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>91.36363636363636</real>
      <key>public.kern2.parenright</key>
      <integer>118</integer>
      <key>public.kern2.question</key>
      <integer>100</integer>
      <key>public.kern2.quoteright</key>
      <real>138.24242424242425</real>
      <key>public.kern2.quotesingle</key>
      <real>147.8181818181818</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-13.93939393939394</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>5.757575757575758</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.question</key>
      <real>30.77651515151515</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>13.181818181818182</real>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.242424242424242</real>
      <key>public.kern2.quotesingle</key>
      <real>-6.363636363636363</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-44.24242424242424</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-14.6484</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-22.812460606060604</real>
      <key>public.kern2.nya-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.o-tamil</key>
      <real>-24.242424242424242</real>
      <key>public.kern2.rra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.visarga-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-12.121212121212121</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>20</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-52.121212121212125</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>-46.36363636363636</real>
      <key>public.kern2.quotesingle</key>
      <integer>-99</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-42.121212121212125</real>
      <key>public.kern2.e-tamil</key>
      <integer>40</integer>
      <key>public.kern2.hyphen</key>
      <integer>60</integer>
      <key>public.kern2.i-tamil</key>
      <real>16.060606060606062</real>
      <key>public.kern2.ka-tamil</key>
      <integer>5</integer>
      <key>public.kern2.nya-tamil</key>
      <real>4.242424242424242</real>
      <key>public.kern2.o-tamil</key>
      <integer>30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <real>-14.6484</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-21.060606060606062</real>
      <key>public.kern2.e-tamil</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>50</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-9.95028303030303</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.vii-tamil</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>130</integer>
    </dict>
    <key>tii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>45.93939393939394</real>
    </dict>
    <key>ttii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
