<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.u10357</key>
    <array>
      <string>u10355</string>
      <string>u10356</string>
      <string>u10357</string>
      <string>u10358</string>
      <string>u10359</string>
      <string>u1035C</string>
      <string>u10369</string>
      <string>u1036D</string>
    </array>
    <key>public.kern1.u1036F</key>
    <array>
      <string>u1036F</string>
      <string>u10370</string>
    </array>
    <key>public.kern1.u10375</key>
    <array>
      <string>u1035D</string>
      <string>u10372</string>
      <string>u10375</string>
    </array>
    <key>public.kern2.u10355</key>
    <array>
      <string>u10355</string>
      <string>u10356</string>
      <string>u10369</string>
    </array>
    <key>public.kern2.u10357</key>
    <array>
      <string>u10354</string>
      <string>u10357</string>
      <string>u10358</string>
      <string>u1035E</string>
      <string>u10363</string>
      <string>u10366</string>
      <string>u10368</string>
      <string>u1036D</string>
      <string>u10370</string>
    </array>
    <key>public.kern2.u10359</key>
    <array>
      <string>u10359</string>
      <string>u10367</string>
      <string>u1036F</string>
      <string>u10374</string>
    </array>
    <key>public.kern2.u1035C</key>
    <array>
      <string>u1035C</string>
      <string>u10375</string>
    </array>
    <key>public.kern2.u1035D</key>
    <array>
      <string>u1035D</string>
      <string>u10372</string>
    </array>
  </dict>
</plist>
