<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AA_indi</key>
    <string>A_A__indi.glif</string>
    <key>AA_vwl.alt</key>
    <string>A_A__vwl.alt.glif</string>
    <key>AI_indi</key>
    <string>A_I__indi.glif</string>
    <key>AU_indi</key>
    <string>A_U__indi.glif</string>
    <key>AU_vwl</key>
    <string>A_U__vwl.glif</string>
    <key>A_indi</key>
    <string>A__indi.glif</string>
    <key>Ba</key>
    <string>B_a.glif</string>
    <key>Ba.above</key>
    <string>B_a.above.glif</string>
    <key>Ba.blw</key>
    <string>B_a.blw.glif</string>
    <key>Bau</key>
    <string>B_au.glif</string>
    <key>Bbha</key>
    <string>B_bha.glif</string>
    <key>Bda</key>
    <string>B_da.glif</string>
    <key>Bde</key>
    <string>B_de.glif</string>
    <key>Bdha</key>
    <string>B_dha.glif</string>
    <key>Bdhe</key>
    <string>B_dhe.glif</string>
    <key>Bdhi</key>
    <string>B_dhi.glif</string>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>Bha</key>
    <string>B_ha.glif</string>
    <key>Bhe</key>
    <string>B_he.glif</string>
    <key>Bhna</key>
    <string>B_hna.glif</string>
    <key>Bhrr</key>
    <string>B_hrr.glif</string>
    <key>Bhu</key>
    <string>B_hu.glif</string>
    <key>Bhuu</key>
    <string>B_huu.glif</string>
    <key>Bi</key>
    <string>B_i.glif</string>
    <key>Blu</key>
    <string>B_lu.glif</string>
    <key>Bnni</key>
    <string>B_nni.glif</string>
    <key>Ca</key>
    <string>C_a.glif</string>
    <key>Cca</key>
    <string>C_ca.glif</string>
    <key>Cce</key>
    <string>C_ce.glif</string>
    <key>Ccha</key>
    <string>C_cha.glif</string>
    <key>Cche</key>
    <string>C_che.glif</string>
    <key>Ce</key>
    <string>C_e.glif</string>
    <key>Cha</key>
    <string>C_ha.glif</string>
    <key>Chau</key>
    <string>C_hau.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Chi_bhks</key>
    <string>C_hi_bhks.glif</string>
    <key>Ci</key>
    <string>C_i.glif</string>
    <key>Cii</key>
    <string>C_ii.glif</string>
    <key>Ctva</key>
    <string>C_tva.glif</string>
    <key>Da</key>
    <string>D_a.glif</string>
    <key>Da.above</key>
    <string>D_a.above.glif</string>
    <key>Dada</key>
    <string>D_ada.glif</string>
    <key>Dade</key>
    <string>D_ade.glif</string>
    <key>Dadha</key>
    <string>D_adha.glif</string>
    <key>Dadhe</key>
    <string>D_adhe.glif</string>
    <key>Dadhi</key>
    <string>D_adhi.glif</string>
    <key>Dadi</key>
    <string>D_adi.glif</string>
    <key>Dbhya</key>
    <string>D_bhya.glif</string>
    <key>Dda</key>
    <string>D_da.glif</string>
    <key>Ddddhau</key>
    <string>D_dddhau.glif</string>
    <key>Dde</key>
    <string>D_de.glif</string>
    <key>Ddha</key>
    <string>D_dha.glif</string>
    <key>Ddhe</key>
    <string>D_dhe.glif</string>
    <key>Ddhi</key>
    <string>D_dhi.glif</string>
    <key>Ddi</key>
    <string>D_di.glif</string>
    <key>Dga</key>
    <string>D_ga.glif</string>
    <key>Dgha</key>
    <string>D_gha.glif</string>
    <key>Dgu</key>
    <string>D_gu.glif</string>
    <key>Dha</key>
    <string>D_ha.glif</string>
    <key>Dha.above</key>
    <string>D_ha.above.glif</string>
    <key>Dhi</key>
    <string>D_hi.glif</string>
    <key>Di</key>
    <string>D_i.glif</string>
    <key>Drr</key>
    <string>D_rr.glif</string>
    <key>Dru</key>
    <string>D_ru.glif</string>
    <key>Dve</key>
    <string>D_ve.glif</string>
    <key>E_indi</key>
    <string>E__indi.glif</string>
    <key>E_vwl.alt2</key>
    <string>E__vwl.alt2.glif</string>
    <key>Ga</key>
    <string>G_a.glif</string>
    <key>GapFiller_2</key>
    <string>G_apF_iller_2.glif</string>
    <key>Ggra</key>
    <string>G_gra.glif</string>
    <key>Ggraa</key>
    <string>G_graa.glif</string>
    <key>Ggrau</key>
    <string>G_grau.glif</string>
    <key>Gha</key>
    <string>G_ha.glif</string>
    <key>Ghai</key>
    <string>G_hai.glif</string>
    <key>Ghau</key>
    <string>G_hau.glif</string>
    <key>Ghe</key>
    <string>G_he.glif</string>
    <key>Ghi</key>
    <string>G_hi.glif</string>
    <key>Ghra</key>
    <string>G_hra.glif</string>
    <key>Gi</key>
    <string>G_i.glif</string>
    <key>Gii</key>
    <string>G_ii.glif</string>
    <key>Gja</key>
    <string>G_ja.glif</string>
    <key>Gla</key>
    <string>G_la.glif</string>
    <key>Gma</key>
    <string>G_ma.glif</string>
    <key>Gna</key>
    <string>G_na.glif</string>
    <key>Gu</key>
    <string>G_u.glif</string>
    <key>Gvi</key>
    <string>G_vi.glif</string>
    <key>Ha</key>
    <string>H_a.glif</string>
    <key>He</key>
    <string>H_e.glif</string>
    <key>Hi</key>
    <string>H_i.glif</string>
    <key>Hla</key>
    <string>H_la.glif</string>
    <key>Hma</key>
    <string>H_ma.glif</string>
    <key>Hme</key>
    <string>H_me.glif</string>
    <key>Hmi</key>
    <string>H_mi.glif</string>
    <key>Hna</key>
    <string>H_na.glif</string>
    <key>Hne</key>
    <string>H_ne.glif</string>
    <key>Hni</key>
    <string>H_ni.glif</string>
    <key>Hra</key>
    <string>H_ra.glif</string>
    <key>Hrr</key>
    <string>H_rr.glif</string>
    <key>II_indi</key>
    <string>I_I__indi.glif</string>
    <key>II_vwl</key>
    <string>I_I__vwl.glif</string>
    <key>I_indi</key>
    <string>I__indi.glif</string>
    <key>Ja</key>
    <string>J_a.glif</string>
    <key>Jbha</key>
    <string>J_bha.glif</string>
    <key>Jbhya</key>
    <string>J_bhya.glif</string>
    <key>Je</key>
    <string>J_e.glif</string>
    <key>Jggra</key>
    <string>J_ggra.glif</string>
    <key>Jha</key>
    <string>J_ha.glif</string>
    <key>Jhe</key>
    <string>J_he.glif</string>
    <key>Jhi</key>
    <string>J_hi.glif</string>
    <key>Jho</key>
    <string>J_ho.glif</string>
    <key>Ji</key>
    <string>J_i.glif</string>
    <key>Jjha</key>
    <string>J_jha.glif</string>
    <key>Jji</key>
    <string>J_ji.glif</string>
    <key>Jnya</key>
    <string>J_nya.glif</string>
    <key>Jnyai</key>
    <string>J_nyai.glif</string>
    <key>Jnye</key>
    <string>J_nye.glif</string>
    <key>Jnyi</key>
    <string>J_nyi.glif</string>
    <key>Jo</key>
    <string>J_o.glif</string>
    <key>Jri</key>
    <string>J_ri.glif</string>
    <key>Jrr</key>
    <string>J_rr.glif</string>
    <key>Ju</key>
    <string>J_u.glif</string>
    <key>Jya</key>
    <string>J_ya.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Ke</key>
    <string>K_e.glif</string>
    <key>Kha</key>
    <string>K_ha.glif</string>
    <key>Khaa</key>
    <string>K_haa.glif</string>
    <key>Khai</key>
    <string>K_hai.glif</string>
    <key>Khau</key>
    <string>K_hau.glif</string>
    <key>Kho</key>
    <string>K_ho.glif</string>
    <key>Ki</key>
    <string>K_i.glif</string>
    <key>Kle</key>
    <string>K_le.glif</string>
    <key>Kngi</key>
    <string>K_ngi.glif</string>
    <key>Knna</key>
    <string>K_nna.glif</string>
    <key>Kra</key>
    <string>K_ra.glif</string>
    <key>Kre</key>
    <string>K_re.glif</string>
    <key>Kri</key>
    <string>K_ri.glif</string>
    <key>Krii</key>
    <string>K_rii.glif</string>
    <key>Krr</key>
    <string>K_rr.glif</string>
    <key>Ksa</key>
    <string>K_sa.glif</string>
    <key>Kse</key>
    <string>K_se.glif</string>
    <key>Ksi</key>
    <string>K_si.glif</string>
    <key>Ksii</key>
    <string>K_sii.glif</string>
    <key>Kssa</key>
    <string>K_ssa.glif</string>
    <key>Ksse</key>
    <string>K_sse.glif</string>
    <key>Kssmi</key>
    <string>K_ssmi.glif</string>
    <key>Kssnna</key>
    <string>K_ssnna.glif</string>
    <key>Kssnnya</key>
    <string>K_ssnnya.glif</string>
    <key>Kta</key>
    <string>K_ta.glif</string>
    <key>Kte</key>
    <string>K_te.glif</string>
    <key>Ktii</key>
    <string>K_tii.glif</string>
    <key>Ktya</key>
    <string>K_tya.glif</string>
    <key>Ktyaa</key>
    <string>K_tyaa.glif</string>
    <key>Ku</key>
    <string>K_u.glif</string>
    <key>Kuu</key>
    <string>K_uu.glif</string>
    <key>Kya</key>
    <string>K_ya.glif</string>
    <key>Kye</key>
    <string>K_ye.glif</string>
    <key>Kyi</key>
    <string>K_yi.glif</string>
    <key>Kyii</key>
    <string>K_yii.glif</string>
    <key>La</key>
    <string>L_a.glif</string>
    <key>Le</key>
    <string>L_e.glif</string>
    <key>Li</key>
    <string>L_i.glif</string>
    <key>Lka</key>
    <string>L_ka.glif</string>
    <key>Lli</key>
    <string>L_li.glif</string>
    <key>Llo</key>
    <string>L_lo.glif</string>
    <key>Lpa</key>
    <string>L_pa.glif</string>
    <key>Ma</key>
    <string>M_a.glif</string>
    <key>Ma.above</key>
    <string>M_a.above.glif</string>
    <key>Ma_virama</key>
    <string>M_a_virama.glif</string>
    <key>Mai</key>
    <string>M_ai.glif</string>
    <key>Mba</key>
    <string>M_ba.glif</string>
    <key>Mbha</key>
    <string>M_bha.glif</string>
    <key>Me</key>
    <string>M_e.glif</string>
    <key>Mi</key>
    <string>M_i.glif</string>
    <key>Mle</key>
    <string>M_le.glif</string>
    <key>Mna</key>
    <string>M_na.glif</string>
    <key>Mni</key>
    <string>M_ni.glif</string>
    <key>Mvrr</key>
    <string>M_vrr.glif</string>
    <key>Na</key>
    <string>N_a.glif</string>
    <key>Na_U</key>
    <string>N_a_U_.glif</string>
    <key>Na_UU</key>
    <string>N_a_U_U_.glif</string>
    <key>Na_virama</key>
    <string>N_a_virama.glif</string>
    <key>Na_ya</key>
    <string>N_a_ya.glif</string>
    <key>Nana</key>
    <string>N_ana.glif</string>
    <key>Nane</key>
    <string>N_ane.glif</string>
    <key>Nani</key>
    <string>N_ani.glif</string>
    <key>Nda</key>
    <string>N_da.glif</string>
    <key>Ndha</key>
    <string>N_dha.glif</string>
    <key>Ndhe</key>
    <string>N_dhe.glif</string>
    <key>Ndhi</key>
    <string>N_dhi.glif</string>
    <key>Ndra</key>
    <string>N_dra.glif</string>
    <key>Ndre</key>
    <string>N_dre.glif</string>
    <key>Ndyo</key>
    <string>N_dyo.glif</string>
    <key>Ne</key>
    <string>N_e.glif</string>
    <key>Nga</key>
    <string>N_ga.glif</string>
    <key>Ngga</key>
    <string>N_gga.glif</string>
    <key>Ngggra</key>
    <string>N_gggra.glif</string>
    <key>Ngi</key>
    <string>N_gi.glif</string>
    <key>Ngii</key>
    <string>N_gii.glif</string>
    <key>Ngjii</key>
    <string>N_gjii.glif</string>
    <key>Ngka</key>
    <string>N_gka.glif</string>
    <key>Ngki</key>
    <string>N_gki.glif</string>
    <key>Ngli</key>
    <string>N_gli.glif</string>
    <key>Nglu</key>
    <string>N_glu.glif</string>
    <key>Ngma</key>
    <string>N_gma.glif</string>
    <key>Ngni</key>
    <string>N_gni.glif</string>
    <key>Ngo</key>
    <string>N_go.glif</string>
    <key>Ngsha</key>
    <string>N_gsha.glif</string>
    <key>Ngsya</key>
    <string>N_gsya.glif</string>
    <key>Nha</key>
    <string>N_ha.glif</string>
    <key>Ni</key>
    <string>N_i.glif</string>
    <key>Nma</key>
    <string>N_ma.glif</string>
    <key>Nmo</key>
    <string>N_mo.glif</string>
    <key>Nna</key>
    <string>N_na.glif</string>
    <key>Nni</key>
    <string>N_ni.glif</string>
    <key>Nnnna</key>
    <string>N_nnna.glif</string>
    <key>Nnnni</key>
    <string>N_nnni.glif</string>
    <key>Nnsa</key>
    <string>N_nsa.glif</string>
    <key>Nnvu</key>
    <string>N_nvu.glif</string>
    <key>No_ya</key>
    <string>N_o_ya.glif</string>
    <key>Nrr</key>
    <string>N_rr.glif</string>
    <key>Nsa</key>
    <string>N_sa.glif</string>
    <key>Nsii</key>
    <string>N_sii.glif</string>
    <key>Nso</key>
    <string>N_so.glif</string>
    <key>Nta</key>
    <string>N_ta.glif</string>
    <key>Ntaa</key>
    <string>N_taa.glif</string>
    <key>Nte</key>
    <string>N_te.glif</string>
    <key>Ntha</key>
    <string>N_tha.glif</string>
    <key>Nthe</key>
    <string>N_the.glif</string>
    <key>Nthi</key>
    <string>N_thi.glif</string>
    <key>Nti</key>
    <string>N_ti.glif</string>
    <key>Ntrye</key>
    <string>N_trye.glif</string>
    <key>Ntu</key>
    <string>N_tu.glif</string>
    <key>Ntya</key>
    <string>N_tya.glif</string>
    <key>Ntyau</key>
    <string>N_tyau.glif</string>
    <key>Ntyo</key>
    <string>N_tyo.glif</string>
    <key>NumberEight</key>
    <string>N_umberE_ight.glif</string>
    <key>NumberEighty</key>
    <string>N_umberE_ighty.glif</string>
    <key>NumberFifty</key>
    <string>N_umberF_ifty.glif</string>
    <key>NumberFive</key>
    <string>N_umberF_ive.glif</string>
    <key>NumberForty</key>
    <string>N_umberF_orty.glif</string>
    <key>NumberFour</key>
    <string>N_umberF_our.glif</string>
    <key>NumberNine</key>
    <string>N_umberN_ine.glif</string>
    <key>NumberNinety</key>
    <string>N_umberN_inety.glif</string>
    <key>NumberSeven</key>
    <string>N_umberS_even.glif</string>
    <key>NumberSeventy</key>
    <string>N_umberS_eventy.glif</string>
    <key>NumberSix</key>
    <string>N_umberS_ix.glif</string>
    <key>NumberSixty</key>
    <string>N_umberS_ixty.glif</string>
    <key>NumberTen</key>
    <string>N_umberT_en.glif</string>
    <key>NumberThirty</key>
    <string>N_umberT_hirty.glif</string>
    <key>NumberThree</key>
    <string>N_umberT_hree.glif</string>
    <key>NumberTwo</key>
    <string>N_umberT_wo.glif</string>
    <key>Nva</key>
    <string>N_va.glif</string>
    <key>Nve</key>
    <string>N_ve.glif</string>
    <key>Nvi</key>
    <string>N_vi.glif</string>
    <key>Nya</key>
    <string>N_ya.glif</string>
    <key>Nyaa</key>
    <string>N_yaa.glif</string>
    <key>Nyau</key>
    <string>N_yau.glif</string>
    <key>Nyca</key>
    <string>N_yca.glif</string>
    <key>Nyi</key>
    <string>N_yi.glif</string>
    <key>Nyja</key>
    <string>N_yja.glif</string>
    <key>Nyo</key>
    <string>N_yo.glif</string>
    <key>O_indi</key>
    <string>O__indi.glif</string>
    <key>OneHundredUnit</key>
    <string>O_neH_undredU_nit.glif</string>
    <key>Pa</key>
    <string>P_a.glif</string>
    <key>Pa.above</key>
    <string>P_a.above.glif</string>
    <key>Pa.alt</key>
    <string>P_a.alt.glif</string>
    <key>Pa.blw</key>
    <string>P_a.blw.glif</string>
    <key>Pai</key>
    <string>P_ai.glif</string>
    <key>Pasi</key>
    <string>P_asi.glif</string>
    <key>Pau</key>
    <string>P_au.glif</string>
    <key>Pha</key>
    <string>P_ha.glif</string>
    <key>Phi_bhks</key>
    <string>P_hi_bhks.glif</string>
    <key>Pi_bhks</key>
    <string>P_i_bhks.glif</string>
    <key>Pkri</key>
    <string>P_kri.glif</string>
    <key>Plu</key>
    <string>P_lu.glif</string>
    <key>Pno</key>
    <string>P_no.glif</string>
    <key>Ptu</key>
    <string>P_tu.glif</string>
    <key>Ptya</key>
    <string>P_tya.glif</string>
    <key>Ra</key>
    <string>R_a.glif</string>
    <key>Rai</key>
    <string>R_ai.glif</string>
    <key>Rde</key>
    <string>R_de.glif</string>
    <key>Rdo</key>
    <string>R_do.glif</string>
    <key>Rdvi</key>
    <string>R_dvi.glif</string>
    <key>Re</key>
    <string>R_e.glif</string>
    <key>Repha</key>
    <string>R_epha.glif</string>
    <key>Rggii</key>
    <string>R_ggii.glif</string>
    <key>Rkaa</key>
    <string>R_kaa.glif</string>
    <key>Rli</key>
    <string>R_li.glif</string>
    <key>Rlli</key>
    <string>R_lli.glif</string>
    <key>Rllo</key>
    <string>R_llo.glif</string>
    <key>Rnni</key>
    <string>R_nni.glif</string>
    <key>Rtta</key>
    <string>R_tta.glif</string>
    <key>Rtti</key>
    <string>R_tti.glif</string>
    <key>Ru</key>
    <string>R_u.glif</string>
    <key>Rya</key>
    <string>R_ya.glif</string>
    <key>Rye</key>
    <string>R_ye.glif</string>
    <key>Ryi</key>
    <string>R_yi.glif</string>
    <key>Sa</key>
    <string>S_a.glif</string>
    <key>Sa.above</key>
    <string>S_a.above.glif</string>
    <key>Sa.blw</key>
    <string>S_a.blw.glif</string>
    <key>Se</key>
    <string>S_e.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Shc</key>
    <string>S_hc.glif</string>
    <key>Shca</key>
    <string>S_hca.glif</string>
    <key>Shi</key>
    <string>S_hi.glif</string>
    <key>Shne</key>
    <string>S_hne.glif</string>
    <key>Shru</key>
    <string>S_hru.glif</string>
    <key>Shruu</key>
    <string>S_hruu.glif</string>
    <key>Shti</key>
    <string>S_hti.glif</string>
    <key>Shtva</key>
    <string>S_htva.glif</string>
    <key>Shu</key>
    <string>S_hu.glif</string>
    <key>Shuu</key>
    <string>S_huu.glif</string>
    <key>Shvii</key>
    <string>S_hvii.glif</string>
    <key>Si</key>
    <string>S_i.glif</string>
    <key>Si.above</key>
    <string>S_i.above.glif</string>
    <key>Ska</key>
    <string>S_ka.glif</string>
    <key>Smi</key>
    <string>S_mi.glif</string>
    <key>Sni</key>
    <string>S_ni.glif</string>
    <key>Sprr</key>
    <string>S_prr.glif</string>
    <key>Srr</key>
    <string>S_rr.glif</string>
    <key>Ssa</key>
    <string>S_sa.glif</string>
    <key>Sse</key>
    <string>S_se.glif</string>
    <key>Ssi</key>
    <string>S_si.glif</string>
    <key>Sska</key>
    <string>S_ska.glif</string>
    <key>Sske</key>
    <string>S_ske.glif</string>
    <key>Sski</key>
    <string>S_ski.glif</string>
    <key>Sstta</key>
    <string>S_stta.glif</string>
    <key>Sstte</key>
    <string>S_stte.glif</string>
    <key>Ssttha</key>
    <string>S_sttha.glif</string>
    <key>Sstthe</key>
    <string>S_stthe.glif</string>
    <key>Sstthi</key>
    <string>S_stthi.glif</string>
    <key>Sstti</key>
    <string>S_stti.glif</string>
    <key>Ssttya</key>
    <string>S_sttya.glif</string>
    <key>Sta</key>
    <string>S_ta.glif</string>
    <key>Stra</key>
    <string>S_tra.glif</string>
    <key>Strii</key>
    <string>S_trii.glif</string>
    <key>Strr</key>
    <string>S_trr.glif</string>
    <key>Stye</key>
    <string>S_tye.glif</string>
    <key>Svii</key>
    <string>S_vii.glif</string>
    <key>Ta</key>
    <string>T_a.glif</string>
    <key>Ta_virama</key>
    <string>T_a_virama.glif</string>
    <key>Tatava</key>
    <string>T_atava.glif</string>
    <key>Tataya</key>
    <string>T_ataya.glif</string>
    <key>Tate</key>
    <string>T_ate.glif</string>
    <key>Te</key>
    <string>T_e.glif</string>
    <key>Tha</key>
    <string>T_ha.glif</string>
    <key>Thi</key>
    <string>T_hi.glif</string>
    <key>Ti</key>
    <string>T_i.glif</string>
    <key>Tka</key>
    <string>T_ka.glif</string>
    <key>Tke</key>
    <string>T_ke.glif</string>
    <key>Tki</key>
    <string>T_ki.glif</string>
    <key>Tma</key>
    <string>T_ma.glif</string>
    <key>Tna</key>
    <string>T_na.glif</string>
    <key>Tpa</key>
    <string>T_pa.glif</string>
    <key>Tpe</key>
    <string>T_pe.glif</string>
    <key>Tpi</key>
    <string>T_pi.glif</string>
    <key>Tplu</key>
    <string>T_plu.glif</string>
    <key>Tpra</key>
    <string>T_pra.glif</string>
    <key>Tra</key>
    <string>T_ra.glif</string>
    <key>Tre</key>
    <string>T_re.glif</string>
    <key>Tri</key>
    <string>T_ri.glif</string>
    <key>Trr</key>
    <string>T_rr.glif</string>
    <key>Tsa</key>
    <string>T_sa.glif</string>
    <key>Tsau</key>
    <string>T_sau.glif</string>
    <key>Tsphu</key>
    <string>T_sphu.glif</string>
    <key>Tsya</key>
    <string>T_sya.glif</string>
    <key>Tta</key>
    <string>T_ta.glif</string>
    <key>Ttha</key>
    <string>T_tha.glif</string>
    <key>Tthi</key>
    <string>T_thi.glif</string>
    <key>Tthii</key>
    <string>T_thii.glif</string>
    <key>Tti</key>
    <string>T_ti.glif</string>
    <key>Ttpra</key>
    <string>T_tpra.glif</string>
    <key>Tttva</key>
    <string>T_ttva.glif</string>
    <key>Ttuu</key>
    <string>T_tuu.glif</string>
    <key>Ttyi</key>
    <string>T_tyi.glif</string>
    <key>Tu</key>
    <string>T_u.glif</string>
    <key>Tuu</key>
    <string>T_uu.glif</string>
    <key>Tve</key>
    <string>T_ve.glif</string>
    <key>Tya</key>
    <string>T_ya.glif</string>
    <key>Tye</key>
    <string>T_ye.glif</string>
    <key>UU_indi</key>
    <string>U_U__indi.glif</string>
    <key>UU_vwl</key>
    <string>U_U__vwl.glif</string>
    <key>U_indi</key>
    <string>U__indi.glif</string>
    <key>U_vwl.alt</key>
    <string>U__vwl.alt.glif</string>
    <key>Va</key>
    <string>V_a.glif</string>
    <key>Va.sub</key>
    <string>V_a.sub.glif</string>
    <key>Ve</key>
    <string>V_e.glif</string>
    <key>Vlu</key>
    <string>V_lu.glif</string>
    <key>VocRR</key>
    <string>V_ocR_R_.glif</string>
    <key>VocRR.wide</key>
    <string>V_ocR_R_.wide.glif</string>
    <key>VocRR_indi</key>
    <string>V_ocR_R__indi.glif</string>
    <key>Vvi</key>
    <string>V_vi.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Ya.blw</key>
    <string>Y_a.blw.glif</string>
    <key>Yai</key>
    <string>Y_ai.glif</string>
    <key>Yau</key>
    <string>Y_au.glif</string>
    <key>Yi</key>
    <string>Y_i.glif</string>
    <key>Yii</key>
    <string>Y_ii.glif</string>
    <key>u11C53</key>
    <string>u11C_53.glif</string>
  </dict>
</plist>
