<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>angkhankhu-thai</key>
    <string>angkhankhu-thai.glif</string>
    <key>baht</key>
    <string>baht.glif</string>
    <key>boBaimai-thai</key>
    <string>boB_aimai-thai.glif</string>
    <key>choChan-thai</key>
    <string>choC_han-thai.glif</string>
    <key>choChang-thai</key>
    <string>choC_hang-thai.glif</string>
    <key>choChing-thai</key>
    <string>choC_hing-thai.glif</string>
    <key>choChoe-thai</key>
    <string>choC_hoe-thai.glif</string>
    <key>doChada-thai</key>
    <string>doC_hada-thai.glif</string>
    <key>doChada-thai.short</key>
    <string>doC_hada-thai.short.glif</string>
    <key>doDek-thai</key>
    <string>doD_ek-thai.glif</string>
    <key>eight-thai</key>
    <string>eight-thai.glif</string>
    <key>five-thai</key>
    <string>five-thai.glif</string>
    <key>foFa-thai</key>
    <string>foF_a-thai.glif</string>
    <key>foFan-thai</key>
    <string>foF_an-thai.glif</string>
    <key>fongman-thai</key>
    <string>fongman-thai.glif</string>
    <key>four-thai</key>
    <string>four-thai.glif</string>
    <key>hoHip-thai</key>
    <string>hoH_ip-thai.glif</string>
    <key>hoNokhuk-thai</key>
    <string>hoN_okhuk-thai.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>khoKhai-thai</key>
    <string>khoK_hai-thai.glif</string>
    <key>khoKhon-thai</key>
    <string>khoK_hon-thai.glif</string>
    <key>khoKhuat-thai</key>
    <string>khoK_huat-thai.glif</string>
    <key>khoKhwai-thai</key>
    <string>khoK_hwai-thai.glif</string>
    <key>khoRakhang-thai</key>
    <string>khoR_akhang-thai.glif</string>
    <key>khomut-thai</key>
    <string>khomut-thai.glif</string>
    <key>koKai-thai</key>
    <string>koK_ai-thai.glif</string>
    <key>lakkhangyao-thai</key>
    <string>lakkhangyao-thai.glif</string>
    <key>loChula-thai</key>
    <string>loC_hula-thai.glif</string>
    <key>loChula-thai.short</key>
    <string>loC_hula-thai.short.glif</string>
    <key>loLing-thai</key>
    <string>loL_ing-thai.glif</string>
    <key>lu-thai</key>
    <string>lu-thai.glif</string>
    <key>lu-thai.short</key>
    <string>lu-thai.short.glif</string>
    <key>lu_lakkhangyao-thai</key>
    <string>lu_lakkhangyao-thai.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macronbelowcomb.alt</key>
    <string>macronbelowcomb.alt.glif</string>
    <key>maiChattawa-thai</key>
    <string>maiC_hattawa-thai.glif</string>
    <key>maiChattawa-thai.narrow</key>
    <string>maiC_hattawa-thai.narrow.glif</string>
    <key>maiChattawa-thai.small</key>
    <string>maiC_hattawa-thai.small.glif</string>
    <key>maiEk-thai</key>
    <string>maiE_k-thai.glif</string>
    <key>maiEk-thai.narrow</key>
    <string>maiE_k-thai.narrow.glif</string>
    <key>maiEk-thai.small</key>
    <string>maiE_k-thai.small.glif</string>
    <key>maiHanaKat-thai</key>
    <string>maiH_anaK_at-thai.glif</string>
    <key>maiHanaKat-thai.narrow</key>
    <string>maiH_anaK_at-thai.narrow.glif</string>
    <key>maiTho-thai</key>
    <string>maiT_ho-thai.glif</string>
    <key>maiTho-thai.narrow</key>
    <string>maiT_ho-thai.narrow.glif</string>
    <key>maiTho-thai.small</key>
    <string>maiT_ho-thai.small.glif</string>
    <key>maiTri-thai</key>
    <string>maiT_ri-thai.glif</string>
    <key>maiTri-thai.narrow</key>
    <string>maiT_ri-thai.narrow.glif</string>
    <key>maiTri-thai.small</key>
    <string>maiT_ri-thai.small.glif</string>
    <key>maitaikhu-thai</key>
    <string>maitaikhu-thai.glif</string>
    <key>maitaikhu-thai.narrow</key>
    <string>maitaikhu-thai.narrow.glif</string>
    <key>maiyamok-thai</key>
    <string>maiyamok-thai.glif</string>
    <key>moMa-thai</key>
    <string>moM_a-thai.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ngoNgu-thai</key>
    <string>ngoN_gu-thai.glif</string>
    <key>nikhahit-thai</key>
    <string>nikhahit-thai.glif</string>
    <key>nikhahit-thai.narrow</key>
    <string>nikhahit-thai.narrow.glif</string>
    <key>nikhahit_maiChattawa-thai</key>
    <string>nikhahit_maiC_hattawa-thai.glif</string>
    <key>nikhahit_maiChattawa-thai.narrow</key>
    <string>nikhahit_maiC_hattawa-thai.narrow.glif</string>
    <key>nikhahit_maiEk-thai</key>
    <string>nikhahit_maiE_k-thai.glif</string>
    <key>nikhahit_maiEk-thai.narrow</key>
    <string>nikhahit_maiE_k-thai.narrow.glif</string>
    <key>nikhahit_maiTho-thai</key>
    <string>nikhahit_maiT_ho-thai.glif</string>
    <key>nikhahit_maiTho-thai.narrow</key>
    <string>nikhahit_maiT_ho-thai.narrow.glif</string>
    <key>nikhahit_maiTri-thai</key>
    <string>nikhahit_maiT_ri-thai.glif</string>
    <key>nikhahit_maiTri-thai.narrow</key>
    <string>nikhahit_maiT_ri-thai.narrow.glif</string>
    <key>nine-thai</key>
    <string>nine-thai.glif</string>
    <key>noNen-thai</key>
    <string>noN_en-thai.glif</string>
    <key>noNu-thai</key>
    <string>noN_u-thai.glif</string>
    <key>oAng-thai</key>
    <string>oA_ng-thai.glif</string>
    <key>one-thai</key>
    <string>one-thai.glif</string>
    <key>paiyannoi-thai</key>
    <string>paiyannoi-thai.glif</string>
    <key>phinthu-thai</key>
    <string>phinthu-thai.glif</string>
    <key>phinthu-thai.small</key>
    <string>phinthu-thai.small.glif</string>
    <key>phoPhan-thai</key>
    <string>phoP_han-thai.glif</string>
    <key>phoPhung-thai</key>
    <string>phoP_hung-thai.glif</string>
    <key>phoSamphao-thai</key>
    <string>phoS_amphao-thai.glif</string>
    <key>poPla-thai</key>
    <string>poP_la-thai.glif</string>
    <key>roRua-thai</key>
    <string>roR_ua-thai.glif</string>
    <key>ru-thai</key>
    <string>ru-thai.glif</string>
    <key>ru-thai.short</key>
    <string>ru-thai.short.glif</string>
    <key>ru_lakkhangyao-thai</key>
    <string>ru_lakkhangyao-thai.glif</string>
    <key>saraA-thai</key>
    <string>saraA_-thai.glif</string>
    <key>saraAa-thai</key>
    <string>saraA_a-thai.glif</string>
    <key>saraAe-thai</key>
    <string>saraA_e-thai.glif</string>
    <key>saraAiMaimalai-thai</key>
    <string>saraA_iM_aimalai-thai.glif</string>
    <key>saraAiMaimuan-thai</key>
    <string>saraA_iM_aimuan-thai.glif</string>
    <key>saraAm-thai</key>
    <string>saraA_m-thai.glif</string>
    <key>saraE-thai</key>
    <string>saraE_-thai.glif</string>
    <key>saraI-thai</key>
    <string>saraI_-thai.glif</string>
    <key>saraI-thai.narrow</key>
    <string>saraI_-thai.narrow.glif</string>
    <key>saraIi-thai</key>
    <string>saraI_i-thai.glif</string>
    <key>saraIi-thai.narrow</key>
    <string>saraI_i-thai.narrow.glif</string>
    <key>saraO-thai</key>
    <string>saraO_-thai.glif</string>
    <key>saraU-thai</key>
    <string>saraU_-thai.glif</string>
    <key>saraU-thai.small</key>
    <string>saraU_-thai.small.glif</string>
    <key>saraUe-thai</key>
    <string>saraU_e-thai.glif</string>
    <key>saraUe-thai.narrow</key>
    <string>saraU_e-thai.narrow.glif</string>
    <key>saraUee-thai</key>
    <string>saraU_ee-thai.glif</string>
    <key>saraUee-thai.narrow</key>
    <string>saraU_ee-thai.narrow.glif</string>
    <key>saraUu-thai</key>
    <string>saraU_u-thai.glif</string>
    <key>saraUu-thai.small</key>
    <string>saraU_u-thai.small.glif</string>
    <key>seven-thai</key>
    <string>seven-thai.glif</string>
    <key>six-thai</key>
    <string>six-thai.glif</string>
    <key>soRusi-thai</key>
    <string>soR_usi-thai.glif</string>
    <key>soSala-thai</key>
    <string>soS_ala-thai.glif</string>
    <key>soSo-thai</key>
    <string>soS_o-thai.glif</string>
    <key>soSua-thai</key>
    <string>soS_ua-thai.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>thanthakhat-thai</key>
    <string>thanthakhat-thai.glif</string>
    <key>thanthakhat-thai.narrow</key>
    <string>thanthakhat-thai.narrow.glif</string>
    <key>thanthakhat-thai.small</key>
    <string>thanthakhat-thai.small.glif</string>
    <key>thoNangmontho-thai</key>
    <string>thoN_angmontho-thai.glif</string>
    <key>thoPhuthao-thai</key>
    <string>thoP_huthao-thai.glif</string>
    <key>thoThahan-thai</key>
    <string>thoT_hahan-thai.glif</string>
    <key>thoThan-thai</key>
    <string>thoT_han-thai.glif</string>
    <key>thoThan-thai.less</key>
    <string>thoT_han-thai.less.glif</string>
    <key>thoThong-thai</key>
    <string>thoT_hong-thai.glif</string>
    <key>thoThung-thai</key>
    <string>thoT_hung-thai.glif</string>
    <key>three-thai</key>
    <string>three-thai.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>toPatak-thai</key>
    <string>toP_atak-thai.glif</string>
    <key>toPatak-thai.short</key>
    <string>toP_atak-thai.short.glif</string>
    <key>toTao-thai</key>
    <string>toT_ao-thai.glif</string>
    <key>two-thai</key>
    <string>two-thai.glif</string>
    <key>uni02BC</key>
    <string>uni02B_C_.glif</string>
    <key>uni02D7</key>
    <string>uni02D_7.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>woWaen-thai</key>
    <string>woW_aen-thai.glif</string>
    <key>yamakkan-thai</key>
    <string>yamakkan-thai.glif</string>
    <key>yoYak-thai</key>
    <string>yoY_ak-thai.glif</string>
    <key>yoYing-thai</key>
    <string>yoY_ing-thai.glif</string>
    <key>yoYing-thai.less</key>
    <string>yoY_ing-thai.less.glif</string>
    <key>zero-thai</key>
    <string>zero-thai.glif</string>
  </dict>
</plist>
