<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA930</key>
    <string>uniA_930.glif</string>
    <key>uniA931</key>
    <string>uniA_931.glif</string>
    <key>uniA932</key>
    <string>uniA_932.glif</string>
    <key>uniA933</key>
    <string>uniA_933.glif</string>
    <key>uniA934</key>
    <string>uniA_934.glif</string>
    <key>uniA935</key>
    <string>uniA_935.glif</string>
    <key>uniA936</key>
    <string>uniA_936.glif</string>
    <key>uniA937</key>
    <string>uniA_937.glif</string>
    <key>uniA938</key>
    <string>uniA_938.glif</string>
    <key>uniA939</key>
    <string>uniA_939.glif</string>
    <key>uniA93A</key>
    <string>uniA_93A_.glif</string>
    <key>uniA93B</key>
    <string>uniA_93B_.glif</string>
    <key>uniA93C</key>
    <string>uniA_93C_.glif</string>
    <key>uniA93D</key>
    <string>uniA_93D_.glif</string>
    <key>uniA93E</key>
    <string>uniA_93E_.glif</string>
    <key>uniA93F</key>
    <string>uniA_93F_.glif</string>
    <key>uniA940</key>
    <string>uniA_940.glif</string>
    <key>uniA941</key>
    <string>uniA_941.glif</string>
    <key>uniA942</key>
    <string>uniA_942.glif</string>
    <key>uniA943</key>
    <string>uniA_943.glif</string>
    <key>uniA944</key>
    <string>uniA_944.glif</string>
    <key>uniA945</key>
    <string>uniA_945.glif</string>
    <key>uniA946</key>
    <string>uniA_946.glif</string>
    <key>uniA947</key>
    <string>uniA_947.glif</string>
    <key>uniA948</key>
    <string>uniA_948.glif</string>
    <key>uniA949</key>
    <string>uniA_949.glif</string>
    <key>uniA94A</key>
    <string>uniA_94A_.glif</string>
    <key>uniA94B</key>
    <string>uniA_94B_.glif</string>
    <key>uniA94C</key>
    <string>uniA_94C_.glif</string>
    <key>uniA94D</key>
    <string>uniA_94D_.glif</string>
    <key>uniA94E</key>
    <string>uniA_94E_.glif</string>
    <key>uniA94F</key>
    <string>uniA_94F_.glif</string>
    <key>uniA950</key>
    <string>uniA_950.glif</string>
    <key>uniA951</key>
    <string>uniA_951.glif</string>
    <key>uniA952</key>
    <string>uniA_952.glif</string>
    <key>uniA953</key>
    <string>uniA_953.glif</string>
    <key>uniA95F</key>
    <string>uniA_95F_.glif</string>
  </dict>
</plist>
