<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1252</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni10000</string>
      <string>uni10001</string>
      <string>uni10002</string>
      <string>uni10003</string>
      <string>uni10004</string>
      <string>uni10005</string>
      <string>uni10006</string>
      <string>uni10007</string>
      <string>uni10008</string>
      <string>uni10009</string>
      <string>uni1000A</string>
      <string>uni1000B</string>
      <string>uni1000D</string>
      <string>uni1000E</string>
      <string>uni1000F</string>
      <string>uni10010</string>
      <string>uni10011</string>
      <string>uni10012</string>
      <string>uni10013</string>
      <string>uni10014</string>
      <string>uni10015</string>
      <string>uni10016</string>
      <string>uni10017</string>
      <string>uni10018</string>
      <string>uni10019</string>
      <string>uni1001A</string>
      <string>uni1001B</string>
      <string>uni1001C</string>
      <string>uni1001D</string>
      <string>uni1001E</string>
      <string>uni1001F</string>
      <string>uni10020</string>
      <string>uni10021</string>
      <string>uni10022</string>
      <string>uni10023</string>
      <string>uni10024</string>
      <string>uni10025</string>
      <string>uni10026</string>
      <string>uni10028</string>
      <string>uni10029</string>
      <string>uni1002A</string>
      <string>uni1002B</string>
      <string>uni1002C</string>
      <string>uni1002D</string>
      <string>uni1002E</string>
      <string>uni1002F</string>
      <string>uni10030</string>
      <string>uni10031</string>
      <string>uni10032</string>
      <string>uni10033</string>
      <string>uni10034</string>
      <string>uni10035</string>
      <string>uni10036</string>
      <string>uni10037</string>
      <string>uni10038</string>
      <string>uni10039</string>
      <string>uni1003A</string>
      <string>uni1003C</string>
      <string>uni1003D</string>
      <string>uni1003F</string>
      <string>uni10040</string>
      <string>uni10041</string>
      <string>uni10042</string>
      <string>uni10043</string>
      <string>uni10044</string>
      <string>uni10045</string>
      <string>uni10046</string>
      <string>uni10047</string>
      <string>uni10048</string>
      <string>uni10049</string>
      <string>uni1004A</string>
      <string>uni1004B</string>
      <string>uni1004C</string>
      <string>uni1004D</string>
      <string>uni10050</string>
      <string>uni10051</string>
      <string>uni10052</string>
      <string>uni10053</string>
      <string>uni10054</string>
      <string>uni10055</string>
      <string>uni10056</string>
      <string>uni10057</string>
      <string>uni10058</string>
      <string>uni10059</string>
      <string>uni1005A</string>
      <string>uni1005B</string>
      <string>uni1005C</string>
      <string>uni1005D</string>
      <string>uni10080</string>
      <string>uni10081</string>
      <string>uni10082</string>
      <string>uni10083</string>
      <string>uni10084</string>
      <string>uni10085</string>
      <string>uni10086</string>
      <string>uni10087</string>
      <string>uni10088</string>
      <string>uni10089</string>
      <string>uni1008A</string>
      <string>uni1008B</string>
      <string>uni1008C</string>
      <string>uni1008D</string>
      <string>uni1008E</string>
      <string>uni1008F</string>
      <string>uni10090</string>
      <string>uni10091</string>
      <string>uni10092</string>
      <string>uni10093</string>
      <string>uni10094</string>
      <string>uni10095</string>
      <string>uni10096</string>
      <string>uni10097</string>
      <string>uni10098</string>
      <string>uni10099</string>
      <string>uni1009A</string>
      <string>uni1009B</string>
      <string>uni1009C</string>
      <string>uni1009D</string>
      <string>uni1009E</string>
      <string>uni1009F</string>
      <string>uni100A0</string>
      <string>uni100A1</string>
      <string>uni100A2</string>
      <string>uni100A3</string>
      <string>uni100A4</string>
      <string>uni100A5</string>
      <string>uni100A6</string>
      <string>uni100A7</string>
      <string>uni100A8</string>
      <string>uni100A9</string>
      <string>uni100AA</string>
      <string>uni100AB</string>
      <string>uni100AC</string>
      <string>uni100AD</string>
      <string>uni100AE</string>
      <string>uni100AF</string>
      <string>uni100B0</string>
      <string>uni100B1</string>
      <string>uni100B2</string>
      <string>uni100B3</string>
      <string>uni100B4</string>
      <string>uni100B5</string>
      <string>uni100B6</string>
      <string>uni100B7</string>
      <string>uni100B8</string>
      <string>uni100B9</string>
      <string>uni100BA</string>
      <string>uni100BB</string>
      <string>uni100BC</string>
      <string>uni100BD</string>
      <string>uni100BE</string>
      <string>uni100BF</string>
      <string>uni100C0</string>
      <string>uni100C1</string>
      <string>uni100C2</string>
      <string>uni100C3</string>
      <string>uni100C4</string>
      <string>uni100C5</string>
      <string>uni100C6</string>
      <string>uni100C7</string>
      <string>uni100C8</string>
      <string>uni100C9</string>
      <string>uni100CA</string>
      <string>uni100CB</string>
      <string>uni100CC</string>
      <string>uni100CD</string>
      <string>uni100CE</string>
      <string>uni100CF</string>
      <string>uni100D0</string>
      <string>uni100D1</string>
      <string>uni100D2</string>
      <string>uni100D3</string>
      <string>uni100D4</string>
      <string>uni100D5</string>
      <string>uni100D6</string>
      <string>uni100D7</string>
      <string>uni100D8</string>
      <string>uni100D9</string>
      <string>uni100DA</string>
      <string>uni100DB</string>
      <string>uni100DC</string>
      <string>uni100DD</string>
      <string>uni100DE</string>
      <string>uni100DF</string>
      <string>uni100E0</string>
      <string>uni100E1</string>
      <string>uni100E2</string>
      <string>uni100E3</string>
      <string>uni100E4</string>
      <string>uni100E5</string>
      <string>uni100E6</string>
      <string>uni100E7</string>
      <string>uni100E8</string>
      <string>uni100E9</string>
      <string>uni100EA</string>
      <string>uni100EB</string>
      <string>uni100EC</string>
      <string>uni100ED</string>
      <string>uni100EE</string>
      <string>uni100EF</string>
      <string>uni100F0</string>
      <string>uni100F1</string>
      <string>uni100F2</string>
      <string>uni100F3</string>
      <string>uni100F4</string>
      <string>uni100F5</string>
      <string>uni100F6</string>
      <string>uni100F7</string>
      <string>uni100F8</string>
      <string>uni100F9</string>
      <string>uni100FA</string>
      <string>uni10100</string>
      <string>uni10101</string>
      <string>uni10102</string>
      <string>uni10107</string>
      <string>uni10108</string>
      <string>uni10109</string>
      <string>uni1010A</string>
      <string>uni1010B</string>
      <string>uni1010C</string>
      <string>uni1010D</string>
      <string>uni1010E</string>
      <string>uni1010F</string>
      <string>uni10110</string>
      <string>uni10111</string>
      <string>uni10112</string>
      <string>uni10113</string>
      <string>uni10114</string>
      <string>uni10115</string>
      <string>uni10116</string>
      <string>uni10117</string>
      <string>uni10118</string>
      <string>uni10119</string>
      <string>uni1011A</string>
      <string>uni1011B</string>
      <string>uni1011C</string>
      <string>uni1011D</string>
      <string>uni1011E</string>
      <string>uni1011F</string>
      <string>uni10120</string>
      <string>uni10121</string>
      <string>uni10122</string>
      <string>uni10123</string>
      <string>uni10124</string>
      <string>uni10125</string>
      <string>uni10126</string>
      <string>uni10127</string>
      <string>uni10128</string>
      <string>uni10129</string>
      <string>uni1012A</string>
      <string>uni1012B</string>
      <string>uni1012C</string>
      <string>uni1012D</string>
      <string>uni1012E</string>
      <string>uni1012F</string>
      <string>uni10130</string>
      <string>uni10131</string>
      <string>uni10132</string>
      <string>uni10133</string>
      <string>uni10137</string>
      <string>uni10138</string>
      <string>uni10139</string>
      <string>uni1013A</string>
      <string>uni1013B</string>
      <string>uni1013C</string>
      <string>uni1013D</string>
      <string>uni1013E</string>
      <string>uni1013F</string>
    </array>
  </dict>
</plist>
