<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>alef-hb</key>
    <dict>
      <key>ayin-hb</key>
      <integer>-20</integer>
      <key>finaltsadi-hb</key>
      <integer>-10</integer>
      <key>lamed-hb</key>
      <integer>-25</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>nun-hb</key>
      <integer>-10</integer>
      <key>samekh-hb</key>
      <integer>-10</integer>
    </dict>
    <key>ayin-hb</key>
    <dict>
      <key>het-hb</key>
      <integer>-10</integer>
      <key>yod-hb</key>
      <integer>-10</integer>
    </dict>
    <key>bet-hb</key>
    <dict>
      <key>ayin-hb</key>
      <integer>-10</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>samekh-hb</key>
      <integer>-20</integer>
      <key>shin-hb</key>
      <integer>-10</integer>
    </dict>
    <key>dalet-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-10</integer>
      <key>ayin-hb</key>
      <integer>-10</integer>
      <key>bet-hb</key>
      <integer>-20</integer>
      <key>mem-hb</key>
      <integer>-20</integer>
      <key>pe-hb</key>
      <integer>-10</integer>
      <key>samekh-hb</key>
      <integer>-20</integer>
    </dict>
    <key>gimel-hb</key>
    <dict>
      <key>ayin-hb</key>
      <integer>-40</integer>
      <key>lamed-hb</key>
      <integer>-30</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>pe-hb</key>
      <integer>-10</integer>
      <key>samekh-hb</key>
      <integer>-20</integer>
      <key>tet-hb</key>
      <integer>-20</integer>
    </dict>
    <key>he-hb</key>
    <dict>
      <key>ayin-hb</key>
      <integer>-10</integer>
    </dict>
    <key>het-hb</key>
    <dict>
      <key>mem-hb</key>
      <integer>-20</integer>
      <key>samekh-hb</key>
      <integer>-20</integer>
    </dict>
    <key>kaf-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-10</integer>
      <key>ayin-hb</key>
      <integer>-30</integer>
      <key>qof-hb</key>
      <integer>-20</integer>
      <key>samekh-hb</key>
      <integer>-30</integer>
    </dict>
    <key>lamed-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-20</integer>
      <key>bet-hb</key>
      <integer>-20</integer>
      <key>finalmem-hb</key>
      <integer>-30</integer>
      <key>mem-hb</key>
      <integer>-30</integer>
      <key>resh-hb</key>
      <integer>-20</integer>
    </dict>
    <key>nun-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-10</integer>
      <key>ayin-hb</key>
      <integer>-40</integer>
      <key>finaltsadi-hb</key>
      <integer>-30</integer>
      <key>het-hb</key>
      <integer>-10</integer>
      <key>lamed-hb</key>
      <integer>-30</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>samekh-hb</key>
      <integer>-20</integer>
      <key>shin-hb</key>
      <integer>-20</integer>
      <key>tet-hb</key>
      <integer>-20</integer>
      <key>yod-hb</key>
      <integer>-20</integer>
    </dict>
    <key>pe-hb</key>
    <dict>
      <key>lamed-hb</key>
      <integer>-10</integer>
    </dict>
    <key>qof-hb</key>
    <dict>
      <key>lamed-hb</key>
      <integer>-10</integer>
      <key>shin-hb</key>
      <integer>-20</integer>
    </dict>
    <key>resh-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-10</integer>
      <key>lamed-hb</key>
      <integer>-10</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>tav-hb</key>
      <integer>-10</integer>
    </dict>
    <key>samekh-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-10</integer>
      <key>finaltsadi-hb</key>
      <integer>-10</integer>
      <key>resh-hb</key>
      <integer>-10</integer>
    </dict>
    <key>shin-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-10</integer>
    </dict>
    <key>tav-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-20</integer>
      <key>lamed-hb</key>
      <integer>-20</integer>
    </dict>
    <key>tet-hb</key>
    <dict>
      <key>ayin-hb</key>
      <integer>-20</integer>
    </dict>
    <key>tsadi-hb</key>
    <dict>
      <key>ayin-hb</key>
      <integer>-20</integer>
      <key>dalet-hb</key>
      <integer>-10</integer>
      <key>finalmem-hb</key>
      <integer>-10</integer>
      <key>het-hb</key>
      <integer>-20</integer>
      <key>lamed-hb</key>
      <integer>-20</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>qof-hb</key>
      <integer>-10</integer>
      <key>shin-hb</key>
      <integer>-10</integer>
      <key>tet-hb</key>
      <integer>-10</integer>
      <key>zayin-hb</key>
      <integer>-10</integer>
    </dict>
    <key>vav-hb</key>
    <dict>
      <key>lamed-hb</key>
      <integer>-10</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>pe-hb</key>
      <integer>-10</integer>
      <key>resh-hb</key>
      <integer>-10</integer>
      <key>samekh-hb</key>
      <integer>-10</integer>
      <key>shin-hb</key>
      <integer>-10</integer>
      <key>tav-hb</key>
      <integer>-10</integer>
      <key>tsadi-hb</key>
      <integer>-10</integer>
    </dict>
    <key>yod-hb</key>
    <dict>
      <key>mem-hb</key>
      <integer>-10</integer>
      <key>pe-hb</key>
      <integer>-10</integer>
      <key>samekh-hb</key>
      <integer>-20</integer>
    </dict>
    <key>zayin-hb</key>
    <dict>
      <key>alef-hb</key>
      <integer>-10</integer>
      <key>mem-hb</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
