<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.uni0532</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-20</integer>
      <key>public.kern2.uni053A</key>
      <integer>-29</integer>
      <key>public.kern2.uni0545</key>
      <integer>-10</integer>
      <key>public.kern2.uni0547</key>
      <integer>-20</integer>
      <key>public.kern2.uni0551</key>
      <integer>-10</integer>
      <key>public.kern2.uni0571</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.uni0533</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.uni0535</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-100</integer>
      <key>public.kern2.uni055C</key>
      <integer>-40</integer>
      <key>public.kern2.uni055E</key>
      <integer>-70</integer>
      <key>public.kern2.uni0579</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.uni0536</key>
    <dict>
      <key>public.kern2.uni0533</key>
      <integer>-30</integer>
      <key>public.kern2.uni0534</key>
      <integer>-40</integer>
      <key>public.kern2.uni053F</key>
      <integer>-22</integer>
      <key>public.kern2.uni054E</key>
      <integer>-40</integer>
      <key>public.kern2.uni0551</key>
      <integer>-17</integer>
      <key>public.kern2.uni0553</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uni0537</key>
    <dict>
      <key>public.kern2.uni0533</key>
      <integer>-30</integer>
      <key>public.kern2.uni0534</key>
      <integer>-15</integer>
      <key>public.kern2.uni0536</key>
      <integer>-15</integer>
      <key>public.kern2.uni053A</key>
      <integer>-35</integer>
      <key>public.kern2.uni0563</key>
      <integer>-29</integer>
      <key>public.kern2.uni0571</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni0539</key>
    <dict>
      <key>public.kern2.uni0571</key>
      <integer>-25</integer>
      <key>public.kern2.uni057B</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.uni053A</key>
    <dict>
      <key>public.kern2.uni0571</key>
      <integer>-26</integer>
      <key>public.kern2.uni057B</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.uni053B</key>
    <dict>
      <key>public.kern2.uni0533</key>
      <integer>-39</integer>
      <key>public.kern2.uni0534</key>
      <integer>-56</integer>
      <key>public.kern2.uni053F</key>
      <integer>-24</integer>
      <key>public.kern2.uni0541</key>
      <integer>-12</integer>
      <key>public.kern2.uni0543</key>
      <integer>-10</integer>
      <key>public.kern2.uni0546</key>
      <integer>-15</integer>
      <key>public.kern2.uni054B</key>
      <integer>-15</integer>
      <key>public.kern2.uni054F</key>
      <integer>-20</integer>
      <key>public.kern2.uni0556</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni053D</key>
    <dict>
      <key>public.kern2.uni0536</key>
      <integer>-12</integer>
      <key>public.kern2.uni053A</key>
      <integer>-30</integer>
      <key>public.kern2.uni0541</key>
      <integer>-15</integer>
      <key>public.kern2.uni0571</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni053E</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-15</integer>
      <key>public.kern2.uni053F</key>
      <integer>-22</integer>
      <key>public.kern2.uni0546</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.uni0540</key>
    <dict>
      <key>public.kern2.uni0531</key>
      <integer>-11</integer>
      <key>public.kern2.uni0533</key>
      <integer>-34</integer>
      <key>public.kern2.uni0534</key>
      <integer>-35</integer>
      <key>public.kern2.uni0536</key>
      <integer>-30</integer>
      <key>public.kern2.uni053A</key>
      <integer>-22</integer>
      <key>public.kern2.uni053E</key>
      <integer>-15</integer>
      <key>public.kern2.uni053F</key>
      <integer>-20</integer>
      <key>public.kern2.uni0543</key>
      <integer>-20</integer>
      <key>public.kern2.uni0549</key>
      <integer>-30</integer>
      <key>public.kern2.uni054E</key>
      <integer>-39</integer>
      <key>public.kern2.uni0553</key>
      <integer>-60</integer>
      <key>public.kern2.uni0554</key>
      <integer>-15</integer>
      <key>public.kern2.uni0555</key>
      <integer>-30</integer>
      <key>public.kern2.uni0561</key>
      <integer>-75</integer>
      <key>public.kern2.uni0562</key>
      <integer>-60</integer>
      <key>public.kern2.uni0563</key>
      <integer>-75</integer>
      <key>public.kern2.uni0564</key>
      <integer>-75</integer>
      <key>public.kern2.uni0567</key>
      <integer>-40</integer>
      <key>public.kern2.uni056B</key>
      <integer>-30</integer>
      <key>public.kern2.uni0570</key>
      <integer>-55</integer>
      <key>public.kern2.uni0571</key>
      <integer>-34</integer>
      <key>public.kern2.uni0573</key>
      <integer>-40</integer>
      <key>public.kern2.uni0575</key>
      <integer>-50</integer>
      <key>public.kern2.uni0576</key>
      <integer>-40</integer>
      <key>public.kern2.uni0577</key>
      <integer>-20</integer>
      <key>public.kern2.uni057B</key>
      <integer>-37</integer>
      <key>uni0540</key>
      <integer>-55</integer>
    </dict>
    <key>public.kern1.uni0541</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.uni0543</key>
    <dict>
      <key>public.kern2.uni0533</key>
      <integer>-20</integer>
      <key>public.kern2.uni0534</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni0544</key>
    <dict>
      <key>public.kern2.uni0531</key>
      <integer>-20</integer>
      <key>public.kern2.uni0533</key>
      <integer>-25</integer>
      <key>public.kern2.uni0534</key>
      <integer>-35</integer>
      <key>public.kern2.uni0536</key>
      <integer>-25</integer>
      <key>public.kern2.uni0538</key>
      <integer>-40</integer>
      <key>public.kern2.uni053A</key>
      <integer>-61</integer>
      <key>public.kern2.uni053B</key>
      <integer>-20</integer>
      <key>public.kern2.uni053F</key>
      <integer>-15</integer>
      <key>public.kern2.uni0541</key>
      <integer>-22</integer>
      <key>public.kern2.uni0543</key>
      <integer>-20</integer>
      <key>public.kern2.uni0545</key>
      <integer>-22</integer>
      <key>public.kern2.uni0549</key>
      <integer>-15</integer>
      <key>public.kern2.uni054B</key>
      <integer>-24</integer>
      <key>public.kern2.uni054E</key>
      <integer>-45</integer>
      <key>public.kern2.uni0550</key>
      <integer>-40</integer>
      <key>public.kern2.uni0551</key>
      <integer>-15</integer>
      <key>public.kern2.uni0553</key>
      <integer>-50</integer>
      <key>public.kern2.uni0554</key>
      <integer>-40</integer>
      <key>public.kern2.uni0559</key>
      <integer>29</integer>
      <key>public.kern2.uni0561</key>
      <integer>-20</integer>
      <key>public.kern2.uni0562</key>
      <integer>-20</integer>
      <key>public.kern2.uni0563</key>
      <integer>-78</integer>
      <key>public.kern2.uni0573</key>
      <integer>-25</integer>
      <key>public.kern2.uni0575</key>
      <integer>-78</integer>
      <key>public.kern2.uni0577</key>
      <integer>-39</integer>
      <key>public.kern2.uni0579</key>
      <integer>-78</integer>
      <key>public.kern2.uni057B</key>
      <integer>-78</integer>
      <key>public.kern2.uni0584</key>
      <integer>-78</integer>
    </dict>
    <key>public.kern1.uni0545</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>-10</integer>
      <key>public.kern2.uni054E</key>
      <integer>-35</integer>
      <key>public.kern2.uni0579</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni0546</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-46</integer>
    </dict>
    <key>public.kern1.uni0547</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-35</integer>
      <key>public.kern2.uni0579</key>
      <integer>-22</integer>
    </dict>
    <key>public.kern1.uni0549</key>
    <dict>
      <key>public.kern2.uni057B</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni054B</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.uni054F</key>
    <dict>
      <key>public.kern2.uni0533</key>
      <integer>-34</integer>
      <key>public.kern2.uni0534</key>
      <integer>-24</integer>
    </dict>
    <key>public.kern1.uni0551</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.uni0552</key>
    <dict>
      <key>public.kern2.uni0533</key>
      <integer>-29</integer>
      <key>public.kern2.uni0534</key>
      <integer>-54</integer>
      <key>public.kern2.uni0536</key>
      <integer>-10</integer>
      <key>public.kern2.uni053F</key>
      <integer>-29</integer>
      <key>public.kern2.uni0541</key>
      <integer>-15</integer>
      <key>public.kern2.uni054F</key>
      <integer>-20</integer>
      <key>public.kern2.uni055B</key>
      <integer>-100</integer>
      <key>public.kern2.uni055C</key>
      <integer>-100</integer>
      <key>public.kern2.uni055E</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.uni0556</key>
    <dict>
      <key>public.kern2.uni0533</key>
      <integer>-40</integer>
      <key>public.kern2.uni0534</key>
      <integer>-49</integer>
      <key>public.kern2.uni053F</key>
      <integer>-55</integer>
    </dict>
    <key>public.kern1.uni0563</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>-39</integer>
    </dict>
    <key>public.kern1.uni0565</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-272</integer>
      <key>public.kern2.uni055C</key>
      <integer>-302</integer>
      <key>public.kern2.uni055E</key>
      <integer>-439</integer>
    </dict>
    <key>public.kern1.uni0566</key>
    <dict>
      <key>public.kern2.uni0561</key>
      <integer>-20</integer>
      <key>public.kern2.uni0562</key>
      <integer>-20</integer>
      <key>public.kern2.uni0563</key>
      <integer>-15</integer>
      <key>public.kern2.uni0564</key>
      <integer>-20</integer>
      <key>public.kern2.uni0567</key>
      <integer>-15</integer>
      <key>public.kern2.uni056B</key>
      <integer>35</integer>
      <key>public.kern2.uni0570</key>
      <integer>-25</integer>
      <key>public.kern2.uni0575</key>
      <integer>70</integer>
      <key>public.kern2.uni0577</key>
      <integer>70</integer>
      <key>public.kern2.uni0579</key>
      <integer>110</integer>
      <key>public.kern2.uni057B</key>
      <integer>30</integer>
      <key>public.kern2.uni0584</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.uni0567</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-272</integer>
      <key>public.kern2.uni055C</key>
      <integer>-302</integer>
      <key>public.kern2.uni055E</key>
      <integer>-293</integer>
      <key>public.kern2.uni0563</key>
      <integer>-15</integer>
      <key>public.kern2.uni0571</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.uni0569</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>-29</integer>
      <key>public.kern2.uni0577</key>
      <integer>-29</integer>
      <key>public.kern2.uni0579</key>
      <integer>-24</integer>
      <key>public.kern2.uni0586</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni056B</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-272</integer>
      <key>public.kern2.uni055C</key>
      <integer>-302</integer>
      <key>public.kern2.uni055E</key>
      <integer>-441</integer>
    </dict>
    <key>public.kern1.uni0579</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>-20</integer>
      <key>public.kern2.uni0579</key>
      <integer>12</integer>
    </dict>
    <key>public.kern1.uni057C</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>-29</integer>
    </dict>
    <key>public.kern1.uni0582</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>-39</integer>
      <key>public.kern2.uni055B</key>
      <integer>-272</integer>
      <key>public.kern2.uni055C</key>
      <integer>-293</integer>
      <key>public.kern2.uni055E</key>
      <integer>-293</integer>
      <key>public.kern2.uni0577</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni0586</key>
    <dict>
      <key>public.kern2.uni053F</key>
      <integer>-50</integer>
      <key>public.kern2.uni0559</key>
      <integer>-44</integer>
    </dict>
    <key>uni0531</key>
    <dict>
      <key>uni0531</key>
      <real>-14.6484</real>
      <key>uni0533</key>
      <real>-65.918</real>
      <key>uni0534</key>
      <real>-85.4492</real>
      <key>uni0535</key>
      <real>-14.6484</real>
      <key>uni053E</key>
      <real>-34.1797</real>
      <key>uni053F</key>
      <real>-70.8008</real>
      <key>uni0542</key>
      <real>-85.4492</real>
      <key>uni0544</key>
      <real>-14.6484</real>
      <key>uni0546</key>
      <integer>-10</integer>
      <key>uni0547</key>
      <real>-31.25</real>
      <key>uni0549</key>
      <real>-26.8555</real>
      <key>uni054A</key>
      <real>-71.7773</real>
      <key>uni054D</key>
      <real>-14.6484</real>
      <key>uni054E</key>
      <real>-40.0391</real>
      <key>uni0553</key>
      <real>-29.2969</real>
      <key>uni0555</key>
      <real>-29.2969</real>
      <key>uni0577</key>
      <real>-14.6484</real>
      <key>uni058F</key>
      <real>-85.4492</real>
    </dict>
    <key>uni0535</key>
    <dict>
      <key>uni0534</key>
      <integer>-30</integer>
      <key>uni0542</key>
      <integer>-30</integer>
      <key>uni0579</key>
      <real>-19.5312</real>
      <key>uni058F</key>
      <integer>-30</integer>
    </dict>
    <key>uni0536</key>
    <dict>
      <key>uni054A</key>
      <integer>-40</integer>
    </dict>
    <key>uni0537</key>
    <dict>
      <key>uni054A</key>
      <integer>-35</integer>
    </dict>
    <key>uni0538</key>
    <dict>
      <key>uni053E</key>
      <real>-11.2305</real>
      <key>uni054A</key>
      <integer>-40</integer>
      <key>uni0576</key>
      <real>-19.5312</real>
      <key>uni057B</key>
      <real>-9.76562</real>
    </dict>
    <key>uni0539</key>
    <dict>
      <key>uni056E</key>
      <real>-19.5312</real>
      <key>uni0581</key>
      <real>-19.5312</real>
      <key>uni0585</key>
      <real>-19.5312</real>
    </dict>
    <key>uni053A</key>
    <dict>
      <key>uni056E</key>
      <integer>-45</integer>
      <key>uni0581</key>
      <integer>-45</integer>
      <key>uni0585</key>
      <integer>-45</integer>
    </dict>
    <key>uni053B</key>
    <dict>
      <key>uni054A</key>
      <integer>-40</integer>
    </dict>
    <key>uni053C</key>
    <dict>
      <key>uni0533</key>
      <real>-53.7109</real>
      <key>uni053E</key>
      <integer>-30</integer>
      <key>uni053F</key>
      <real>-65.918</real>
      <key>uni0549</key>
      <integer>-30</integer>
      <key>uni054E</key>
      <real>-65.918</real>
      <key>uni0553</key>
      <integer>-45</integer>
      <key>uni0555</key>
      <integer>-30</integer>
    </dict>
    <key>uni053D</key>
    <dict>
      <key>uni0540</key>
      <real>-29.2969</real>
    </dict>
    <key>uni0540</key>
    <dict>
      <key>uni054A</key>
      <integer>-40</integer>
    </dict>
    <key>uni0542</key>
    <dict>
      <key>uni0533</key>
      <real>-61.0352</real>
      <key>uni053F</key>
      <real>-63.4766</real>
      <key>uni054E</key>
      <real>-63.4766</real>
      <key>uni0577</key>
      <real>-9.76562</real>
      <key>uni057B</key>
      <real>-19.5312</real>
    </dict>
    <key>uni0544</key>
    <dict>
      <key>uni0540</key>
      <integer>-50</integer>
      <key>uni054A</key>
      <integer>-35</integer>
      <key>uni0562</key>
      <real>-78.125</real>
      <key>uni0564</key>
      <real>-78.125</real>
      <key>uni0568</key>
      <real>-78.125</real>
      <key>uni056C</key>
      <real>-78.125</real>
      <key>uni0572</key>
      <real>-78.125</real>
    </dict>
    <key>uni054C</key>
    <dict>
      <key>uni053F</key>
      <integer>-25</integer>
      <key>uni0571</key>
      <integer>-25</integer>
    </dict>
    <key>uni054E</key>
    <dict>
      <key>uni0533</key>
      <real>-58.5938</real>
      <key>uni053F</key>
      <real>-63.4766</real>
      <key>uni054E</key>
      <real>-63.4766</real>
    </dict>
    <key>uni0550</key>
    <dict>
      <key>public.kern2.uni0561</key>
      <integer>-50</integer>
      <key>public.kern2.uni0562</key>
      <integer>-50</integer>
      <key>public.kern2.uni0564</key>
      <integer>-50</integer>
      <key>public.kern2.uni0567</key>
      <integer>-25</integer>
      <key>public.kern2.uni056B</key>
      <integer>-25</integer>
      <key>public.kern2.uni0570</key>
      <integer>-25</integer>
      <key>public.kern2.uni0575</key>
      <integer>-50</integer>
      <key>public.kern2.uni0576</key>
      <integer>-40</integer>
      <key>public.kern2.uni0579</key>
      <integer>-40</integer>
      <key>public.kern2.uni057B</key>
      <integer>-30</integer>
      <key>public.kern2.uni0584</key>
      <integer>-50</integer>
      <key>uni053A</key>
      <real>-63.4766</real>
      <key>uni053F</key>
      <real>-19.5312</real>
      <key>uni0547</key>
      <real>-12.207</real>
      <key>uni0551</key>
      <real>-14.6484</real>
      <key>uni0563</key>
      <integer>-65</integer>
      <key>uni0566</key>
      <integer>-65</integer>
      <key>uni056A</key>
      <integer>-50</integer>
      <key>uni056E</key>
      <integer>-65</integer>
      <key>uni0571</key>
      <integer>-65</integer>
      <key>uni0581</key>
      <integer>-65</integer>
      <key>uni0585</key>
      <integer>-65</integer>
    </dict>
    <key>uni0554</key>
    <dict>
      <key>uni0533</key>
      <real>-21.9727</real>
      <key>uni0534</key>
      <real>-14.6484</real>
      <key>uni053F</key>
      <real>-14.6484</real>
      <key>uni0542</key>
      <real>-14.6484</real>
      <key>uni0546</key>
      <real>-12.207</real>
      <key>uni0571</key>
      <real>-14.6484</real>
      <key>uni058F</key>
      <real>-14.6484</real>
    </dict>
    <key>uni0568</key>
    <dict>
      <key>uni055B</key>
      <real>-271.97299</real>
      <key>uni055C</key>
      <integer>-302</integer>
      <key>uni055E</key>
      <integer>-441</integer>
    </dict>
    <key>uni056B</key>
    <dict>
      <key>uni055B</key>
      <real>-271.97299</real>
      <key>uni055C</key>
      <integer>-302</integer>
      <key>uni055E</key>
      <integer>-441</integer>
    </dict>
    <key>uni0572</key>
    <dict>
      <key>uni0575</key>
      <integer>85</integer>
      <key>uni0577</key>
      <integer>100</integer>
      <key>uni0579</key>
      <integer>135</integer>
      <key>uni057B</key>
      <integer>60</integer>
      <key>uni0584</key>
      <integer>80</integer>
    </dict>
    <key>uni057B</key>
    <dict>
      <key>uni0586</key>
      <real>-19.5312</real>
    </dict>
    <key>uni0585</key>
    <dict>
      <key>uni055B</key>
      <real>-271.97299</real>
      <key>uni055C</key>
      <integer>-302</integer>
      <key>uni055E</key>
      <integer>-441</integer>
    </dict>
  </dict>
</plist>
