<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>u1E000</key>
    <string>u1E_000.glif</string>
    <key>u1E001</key>
    <string>u1E_001.glif</string>
    <key>u1E002</key>
    <string>u1E_002.glif</string>
    <key>u1E003</key>
    <string>u1E_003.glif</string>
    <key>u1E004</key>
    <string>u1E_004.glif</string>
    <key>u1E005</key>
    <string>u1E_005.glif</string>
    <key>u1E006</key>
    <string>u1E_006.glif</string>
    <key>u1E008</key>
    <string>u1E_008.glif</string>
    <key>u1E009</key>
    <string>u1E_009.glif</string>
    <key>u1E00A</key>
    <string>u1E_00A_.glif</string>
    <key>u1E00B</key>
    <string>u1E_00B_.glif</string>
    <key>u1E00C</key>
    <string>u1E_00C_.glif</string>
    <key>u1E00D</key>
    <string>u1E_00D_.glif</string>
    <key>u1E00E</key>
    <string>u1E_00E_.glif</string>
    <key>u1E00F</key>
    <string>u1E_00F_.glif</string>
    <key>u1E010</key>
    <string>u1E_010.glif</string>
    <key>u1E011</key>
    <string>u1E_011.glif</string>
    <key>u1E012</key>
    <string>u1E_012.glif</string>
    <key>u1E013</key>
    <string>u1E_013.glif</string>
    <key>u1E014</key>
    <string>u1E_014.glif</string>
    <key>u1E015</key>
    <string>u1E_015.glif</string>
    <key>u1E016</key>
    <string>u1E_016.glif</string>
    <key>u1E017</key>
    <string>u1E_017.glif</string>
    <key>u1E018</key>
    <string>u1E_018.glif</string>
    <key>u1E01B</key>
    <string>u1E_01B_.glif</string>
    <key>u1E01C</key>
    <string>u1E_01C_.glif</string>
    <key>u1E01D</key>
    <string>u1E_01D_.glif</string>
    <key>u1E01E</key>
    <string>u1E_01E_.glif</string>
    <key>u1E01F</key>
    <string>u1E_01F_.glif</string>
    <key>u1E020</key>
    <string>u1E_020.glif</string>
    <key>u1E021</key>
    <string>u1E_021.glif</string>
    <key>u1E023</key>
    <string>u1E_023.glif</string>
    <key>u1E024</key>
    <string>u1E_024.glif</string>
    <key>u1E026</key>
    <string>u1E_026.glif</string>
    <key>u1E027</key>
    <string>u1E_027.glif</string>
    <key>u1E028</key>
    <string>u1E_028.glif</string>
    <key>u1E029</key>
    <string>u1E_029.glif</string>
    <key>u1E02A</key>
    <string>u1E_02A_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0305</key>
    <string>uni0305.glif</string>
    <key>uni0484</key>
    <string>uni0484.glif</string>
    <key>uni0487</key>
    <string>uni0487.glif</string>
    <key>uni2C00</key>
    <string>uni2C_00.glif</string>
    <key>uni2C01</key>
    <string>uni2C_01.glif</string>
    <key>uni2C02</key>
    <string>uni2C_02.glif</string>
    <key>uni2C03</key>
    <string>uni2C_03.glif</string>
    <key>uni2C04</key>
    <string>uni2C_04.glif</string>
    <key>uni2C05</key>
    <string>uni2C_05.glif</string>
    <key>uni2C06</key>
    <string>uni2C_06.glif</string>
    <key>uni2C07</key>
    <string>uni2C_07.glif</string>
    <key>uni2C08</key>
    <string>uni2C_08.glif</string>
    <key>uni2C09</key>
    <string>uni2C_09.glif</string>
    <key>uni2C0A</key>
    <string>uni2C_0A_.glif</string>
    <key>uni2C0B</key>
    <string>uni2C_0B_.glif</string>
    <key>uni2C0C</key>
    <string>uni2C_0C_.glif</string>
    <key>uni2C0D</key>
    <string>uni2C_0D_.glif</string>
    <key>uni2C0E</key>
    <string>uni2C_0E_.glif</string>
    <key>uni2C0F</key>
    <string>uni2C_0F_.glif</string>
    <key>uni2C10</key>
    <string>uni2C_10.glif</string>
    <key>uni2C11</key>
    <string>uni2C_11.glif</string>
    <key>uni2C12</key>
    <string>uni2C_12.glif</string>
    <key>uni2C13</key>
    <string>uni2C_13.glif</string>
    <key>uni2C14</key>
    <string>uni2C_14.glif</string>
    <key>uni2C15</key>
    <string>uni2C_15.glif</string>
    <key>uni2C16</key>
    <string>uni2C_16.glif</string>
    <key>uni2C17</key>
    <string>uni2C_17.glif</string>
    <key>uni2C18</key>
    <string>uni2C_18.glif</string>
    <key>uni2C19</key>
    <string>uni2C_19.glif</string>
    <key>uni2C1A</key>
    <string>uni2C_1A_.glif</string>
    <key>uni2C1B</key>
    <string>uni2C_1B_.glif</string>
    <key>uni2C1C</key>
    <string>uni2C_1C_.glif</string>
    <key>uni2C1D</key>
    <string>uni2C_1D_.glif</string>
    <key>uni2C1E</key>
    <string>uni2C_1E_.glif</string>
    <key>uni2C1F</key>
    <string>uni2C_1F_.glif</string>
    <key>uni2C20</key>
    <string>uni2C_20.glif</string>
    <key>uni2C21</key>
    <string>uni2C_21.glif</string>
    <key>uni2C22</key>
    <string>uni2C_22.glif</string>
    <key>uni2C23</key>
    <string>uni2C_23.glif</string>
    <key>uni2C24</key>
    <string>uni2C_24.glif</string>
    <key>uni2C25</key>
    <string>uni2C_25.glif</string>
    <key>uni2C26</key>
    <string>uni2C_26.glif</string>
    <key>uni2C27</key>
    <string>uni2C_27.glif</string>
    <key>uni2C28</key>
    <string>uni2C_28.glif</string>
    <key>uni2C29</key>
    <string>uni2C_29.glif</string>
    <key>uni2C2A</key>
    <string>uni2C_2A_.glif</string>
    <key>uni2C2B</key>
    <string>uni2C_2B_.glif</string>
    <key>uni2C2C</key>
    <string>uni2C_2C_.glif</string>
    <key>uni2C2D</key>
    <string>uni2C_2D_.glif</string>
    <key>uni2C2E</key>
    <string>uni2C_2E_.glif</string>
    <key>uni2C30</key>
    <string>uni2C_30.glif</string>
    <key>uni2C31</key>
    <string>uni2C_31.glif</string>
    <key>uni2C32</key>
    <string>uni2C_32.glif</string>
    <key>uni2C33</key>
    <string>uni2C_33.glif</string>
    <key>uni2C34</key>
    <string>uni2C_34.glif</string>
    <key>uni2C35</key>
    <string>uni2C_35.glif</string>
    <key>uni2C36</key>
    <string>uni2C_36.glif</string>
    <key>uni2C37</key>
    <string>uni2C_37.glif</string>
    <key>uni2C38</key>
    <string>uni2C_38.glif</string>
    <key>uni2C39</key>
    <string>uni2C_39.glif</string>
    <key>uni2C3A</key>
    <string>uni2C_3A_.glif</string>
    <key>uni2C3B</key>
    <string>uni2C_3B_.glif</string>
    <key>uni2C3C</key>
    <string>uni2C_3C_.glif</string>
    <key>uni2C3D</key>
    <string>uni2C_3D_.glif</string>
    <key>uni2C3E</key>
    <string>uni2C_3E_.glif</string>
    <key>uni2C3F</key>
    <string>uni2C_3F_.glif</string>
    <key>uni2C40</key>
    <string>uni2C_40.glif</string>
    <key>uni2C41</key>
    <string>uni2C_41.glif</string>
    <key>uni2C42</key>
    <string>uni2C_42.glif</string>
    <key>uni2C43</key>
    <string>uni2C_43.glif</string>
    <key>uni2C44</key>
    <string>uni2C_44.glif</string>
    <key>uni2C45</key>
    <string>uni2C_45.glif</string>
    <key>uni2C46</key>
    <string>uni2C_46.glif</string>
    <key>uni2C47</key>
    <string>uni2C_47.glif</string>
    <key>uni2C48</key>
    <string>uni2C_48.glif</string>
    <key>uni2C49</key>
    <string>uni2C_49.glif</string>
    <key>uni2C4A</key>
    <string>uni2C_4A_.glif</string>
    <key>uni2C4B</key>
    <string>uni2C_4B_.glif</string>
    <key>uni2C4C</key>
    <string>uni2C_4C_.glif</string>
    <key>uni2C4D</key>
    <string>uni2C_4D_.glif</string>
    <key>uni2C4E</key>
    <string>uni2C_4E_.glif</string>
    <key>uni2C4F</key>
    <string>uni2C_4F_.glif</string>
    <key>uni2C50</key>
    <string>uni2C_50.glif</string>
    <key>uni2C51</key>
    <string>uni2C_51.glif</string>
    <key>uni2C52</key>
    <string>uni2C_52.glif</string>
    <key>uni2C53</key>
    <string>uni2C_53.glif</string>
    <key>uni2C54</key>
    <string>uni2C_54.glif</string>
    <key>uni2C55</key>
    <string>uni2C_55.glif</string>
    <key>uni2C56</key>
    <string>uni2C_56.glif</string>
    <key>uni2C57</key>
    <string>uni2C_57.glif</string>
    <key>uni2C58</key>
    <string>uni2C_58.glif</string>
    <key>uni2C59</key>
    <string>uni2C_59.glif</string>
    <key>uni2C5A</key>
    <string>uni2C_5A_.glif</string>
    <key>uni2C5B</key>
    <string>uni2C_5B_.glif</string>
    <key>uni2C5C</key>
    <string>uni2C_5C_.glif</string>
    <key>uni2C5D</key>
    <string>uni2C_5D_.glif</string>
    <key>uni2C5E</key>
    <string>uni2C_5E_.glif</string>
    <key>uniA66F</key>
    <string>uniA_66F_.glif</string>
  </dict>
</plist>
