<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E000</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E001</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E002</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E003</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E004</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E005</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E006</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E008</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E009</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E00A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E00B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E00C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E00D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E00E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E00F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E010</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E011</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E012</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E013</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E014</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E015</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E016</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E017</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E018</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E01B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E01C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E01D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E01E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E01F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E020</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E021</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E023</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E024</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E026</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E027</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E028</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E029</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1E02A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0305</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0484</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0487</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C00</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C02</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C03</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C04</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C05</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C06</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C07</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C08</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C09</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C0A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C0B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C0C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C0D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C0E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C0F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C10</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C11</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C12</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C13</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C14</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C15</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C16</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C17</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C18</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C19</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C1A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C1B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C1C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C1D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C1E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C1F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C20</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C21</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C22</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C23</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C24</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C25</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C26</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C27</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C28</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C29</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C2A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C2B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C2C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C2D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C2E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C30</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C31</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C32</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C33</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C34</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C35</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C36</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C37</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C38</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C39</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C3A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C3B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C3C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C3D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C3E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C3F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C40</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C41</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C42</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C43</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C44</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C45</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C46</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C47</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C48</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C49</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C4A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C4B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C4C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C4D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C4E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C4F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C50</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C51</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C52</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C53</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C54</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C55</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C56</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C57</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C58</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C59</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C5A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C5B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C5C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C5D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2C5E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA66F</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
