<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>_droit</key>
    <string>_droit.glif</string>
    <key>_part.Desc2</key>
    <string>_part.D_esc2.glif</string>
    <key>_part.J</key>
    <string>_part.J_.glif</string>
    <key>_part.T</key>
    <string>_part.T_.glif</string>
    <key>_part.angleleft.n</key>
    <string>_part.angleleft.n.glif</string>
    <key>_part.desc</key>
    <string>_part.desc.glif</string>
    <key>_part.j</key>
    <string>_part.j.glif</string>
    <key>_part.l</key>
    <string>_part.l.glif</string>
    <key>_part.spirale</key>
    <string>_part.spirale.glif</string>
    <key>_part.termleft</key>
    <string>_part.termleft.glif</string>
    <key>_part.utop</key>
    <string>_part.utop.glif</string>
    <key>_rond</key>
    <string>_rond.glif</string>
    <key>aleph-elym</key>
    <string>aleph-elym.glif</string>
    <key>aleph-elym.ss01</key>
    <string>aleph-elym.ss01.glif</string>
    <key>ayin-elym</key>
    <string>ayin-elym.glif</string>
    <key>beth-elym</key>
    <string>beth-elym.glif</string>
    <key>daleth-elym</key>
    <string>daleth-elym.glif</string>
    <key>daleth-elym.ss01</key>
    <string>daleth-elym.ss01.glif</string>
    <key>gimel-elym</key>
    <string>gimel-elym.glif</string>
    <key>gimel-elym.ss01</key>
    <string>gimel-elym.ss01.glif</string>
    <key>he-elym</key>
    <string>he-elym.glif</string>
    <key>he-elym.ss01</key>
    <string>he-elym.ss01.glif</string>
    <key>he-elym.ss02</key>
    <string>he-elym.ss02.glif</string>
    <key>heth-elym</key>
    <string>heth-elym.glif</string>
    <key>kaph-elym</key>
    <string>kaph-elym.glif</string>
    <key>lamedh-elym</key>
    <string>lamedh-elym.glif</string>
    <key>lamedh-elym.ss01</key>
    <string>lamedh-elym.ss01.glif</string>
    <key>mem-elym</key>
    <string>mem-elym.glif</string>
    <key>mem-elym.ss01</key>
    <string>mem-elym.ss01.glif</string>
    <key>nun-elym</key>
    <string>nun-elym.glif</string>
    <key>nun-elym.ss01</key>
    <string>nun-elym.ss01.glif</string>
    <key>pe-elym</key>
    <string>pe-elym.glif</string>
    <key>pe-elym.ss01</key>
    <string>pe-elym.ss01.glif</string>
    <key>qoph-elym</key>
    <string>qoph-elym.glif</string>
    <key>resh-elym</key>
    <string>resh-elym.glif</string>
    <key>sadhe-elym</key>
    <string>sadhe-elym.glif</string>
    <key>sadhe-elym.ss01</key>
    <string>sadhe-elym.ss01.glif</string>
    <key>samekh-elym</key>
    <string>samekh-elym.glif</string>
    <key>samekh-elym.ss01</key>
    <string>samekh-elym.ss01.glif</string>
    <key>shin-elym</key>
    <string>shin-elym.glif</string>
    <key>shin-elym.ss01</key>
    <string>shin-elym.ss01.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>taw-elym</key>
    <string>taw-elym.glif</string>
    <key>taw-elym.ss01</key>
    <string>taw-elym.ss01.glif</string>
    <key>teth-elym</key>
    <string>teth-elym.glif</string>
    <key>waw-elym</key>
    <string>waw-elym.glif</string>
    <key>yodh-elym</key>
    <string>yodh-elym.glif</string>
    <key>yodh-elym.ss01</key>
    <string>yodh-elym.ss01.glif</string>
    <key>zayin-elym</key>
    <string>zayin-elym.glif</string>
    <key>zayin-elym.ss01</key>
    <string>zayin-elym.ss01.glif</string>
    <key>zayin_yodh-elym</key>
    <string>zayin_yodh-elym.glif</string>
    <key>zayin_yodh-elym.ss01</key>
    <string>zayin_yodh-elym.ss01.glif</string>
    <key>zayin_yodh-elym.ss02</key>
    <string>zayin_yodh-elym.ss02.glif</string>
    <key>zayin_yodh-elym.ss03</key>
    <string>zayin_yodh-elym.ss03.glif</string>
  </dict>
</plist>
