<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A63E58D2-94F7-438A-BA5A-DED0E72B5837</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._droit</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.Desc2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.J</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.T</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.angleleft.n</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.desc</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.j</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.l</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.spirale</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.termleft</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.utop</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._rond</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aleph-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aleph-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ayin-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.beth-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daleth-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daleth-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gimel-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gimel-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.he-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.he-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.he-elym.ss02</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.heth-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaph-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lamedh-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lamedh-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mem-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mem-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nbspace</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nun-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nun-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pe-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pe-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qoph-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.resh-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sadhe-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sadhe-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.samekh-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.samekh-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shin-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shin-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.taw-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.taw-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.teth-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.waw-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yodh-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yodh-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zayin-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zayin-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zayin_yodh-elym</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zayin_yodh-elym.ss01</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zayin_yodh-elym.ss02</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zayin_yodh-elym.ss03</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
