<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1680</key>
    <string>uni1680.glif</string>
    <key>uni1681</key>
    <string>uni1681.glif</string>
    <key>uni1682</key>
    <string>uni1682.glif</string>
    <key>uni1683</key>
    <string>uni1683.glif</string>
    <key>uni1684</key>
    <string>uni1684.glif</string>
    <key>uni1685</key>
    <string>uni1685.glif</string>
    <key>uni1686</key>
    <string>uni1686.glif</string>
    <key>uni1687</key>
    <string>uni1687.glif</string>
    <key>uni1688</key>
    <string>uni1688.glif</string>
    <key>uni1689</key>
    <string>uni1689.glif</string>
    <key>uni168A</key>
    <string>uni168A_.glif</string>
    <key>uni168B</key>
    <string>uni168B_.glif</string>
    <key>uni168C</key>
    <string>uni168C_.glif</string>
    <key>uni168D</key>
    <string>uni168D_.glif</string>
    <key>uni168E</key>
    <string>uni168E_.glif</string>
    <key>uni168F</key>
    <string>uni168F_.glif</string>
    <key>uni1690</key>
    <string>uni1690.glif</string>
    <key>uni1691</key>
    <string>uni1691.glif</string>
    <key>uni1692</key>
    <string>uni1692.glif</string>
    <key>uni1693</key>
    <string>uni1693.glif</string>
    <key>uni1694</key>
    <string>uni1694.glif</string>
    <key>uni1695</key>
    <string>uni1695.glif</string>
    <key>uni1696</key>
    <string>uni1696.glif</string>
    <key>uni1697</key>
    <string>uni1697.glif</string>
    <key>uni1698</key>
    <string>uni1698.glif</string>
    <key>uni1699</key>
    <string>uni1699.glif</string>
    <key>uni169A</key>
    <string>uni169A_.glif</string>
    <key>uni169B</key>
    <string>uni169B_.glif</string>
    <key>uni169C</key>
    <string>uni169C_.glif</string>
  </dict>
</plist>
