<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.four-thai</key>
    <array>
      <string>four-thai</string>
      <string>five-thai</string>
    </array>
    <key>public.kern1.hyphen.left</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.saraE-thai</key>
    <array>
      <string>saraE-thai</string>
      <string>saraAe-thai</string>
      <string>saraAiMaimalai-thai</string>
      <string>saraAiMaimuan-thai</string>
      <string>saraO-thai</string>
    </array>
    <key>public.kern1.zero-thai</key>
    <array>
      <string>zero-thai</string>
      <string>one-thai</string>
    </array>
    <key>public.kern2.boBaimai-thai</key>
    <array>
      <string>choChing-thai</string>
      <string>boBaimai-thai</string>
      <string>poPla-thai</string>
      <string>soRusi-thai</string>
    </array>
    <key>public.kern2.choChan-thai</key>
    <array>
      <string>choChan-thai</string>
      <string>thoThan-thai</string>
      <string>thoThan-thai.less</string>
    </array>
    <key>public.kern2.doDek-thai</key>
    <array>
      <string>doDek-thai</string>
      <string>toTao-thai</string>
      <string>thoPhuthao-thai</string>
    </array>
    <key>public.kern2.four-thai</key>
    <array>
      <string>four-thai</string>
      <string>five-thai</string>
    </array>
    <key>public.kern2.hyphen.right</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.khoKhai-thai</key>
    <array>
      <string>khoKhai-thai</string>
      <string>khoKhuat-thai</string>
      <string>choChang-thai</string>
      <string>soSo-thai</string>
    </array>
    <key>public.kern2.khoKhwai-thai</key>
    <array>
      <string>khoKhwai-thai</string>
      <string>khoKhon-thai</string>
      <string>soSala-thai</string>
    </array>
    <key>public.kern2.khoRakhang-thai</key>
    <array>
      <string>thoNangmontho-thai</string>
      <string>khoRakhang-thai</string>
    </array>
    <key>public.kern2.loLing-thai</key>
    <array>
      <string>loLing-thai</string>
      <string>soSua-thai</string>
    </array>
    <key>public.kern2.noNu-thai</key>
    <array>
      <string>noNu-thai</string>
    </array>
    <key>public.kern2.oAng-thai</key>
    <array>
      <string>oAng-thai</string>
      <string>hoNokhuk-thai</string>
    </array>
    <key>public.kern2.phoPhan-thai</key>
    <array>
      <string>foFan-thai</string>
      <string>phoPhan-thai</string>
      <string>loChula-thai</string>
    </array>
    <key>public.kern2.phoSamphao-thai</key>
    <array>
      <string>phoSamphao-thai</string>
      <string>lu-thai</string>
      <string>lu-thai.short</string>
      <string>doChada-thai</string>
      <string>doChada-thai.short</string>
      <string>toPatak-thai</string>
      <string>toPatak-thai.short</string>
      <string>lu_lakkhangyao-thai</string>
    </array>
    <key>public.kern2.thoThung-thai</key>
    <array>
      <string>thoThung-thai</string>
      <string>ru-thai</string>
      <string>ru-thai.short</string>
      <string>ru_lakkhangyao-thai</string>
      <string>yoYing-thai</string>
      <string>yoYing-thai.less</string>
      <string>choChoe-thai</string>
      <string>noNen-thai</string>
    </array>
    <key>public.kern2.zero-thai</key>
    <array>
      <string>zero-thai</string>
      <string>one-thai</string>
    </array>
  </dict>
</plist>
