<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>965</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10840</string>
      <string>u10841</string>
      <string>u10842</string>
      <string>u10843</string>
      <string>u10844</string>
      <string>u10845</string>
      <string>u10846</string>
      <string>u10847</string>
      <string>u10848</string>
      <string>u10849</string>
      <string>u1084A</string>
      <string>u1084B</string>
      <string>u1084C</string>
      <string>u1084D</string>
      <string>u1084E</string>
      <string>u1084F</string>
      <string>u10850</string>
      <string>u10851</string>
      <string>u10852</string>
      <string>u10853</string>
      <string>u10854</string>
      <string>u10855</string>
      <string>u10857</string>
      <string>u10858</string>
      <string>u10859</string>
      <string>u1085A</string>
      <string>u1085B</string>
      <string>u1085C</string>
      <string>u1085D</string>
      <string>u1085E</string>
      <string>u1085F</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
