<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u110D0</key>
    <string>u110D_0.glif</string>
    <key>u110D1</key>
    <string>u110D_1.glif</string>
    <key>u110D2</key>
    <string>u110D_2.glif</string>
    <key>u110D3</key>
    <string>u110D_3.glif</string>
    <key>u110D4</key>
    <string>u110D_4.glif</string>
    <key>u110D5</key>
    <string>u110D_5.glif</string>
    <key>u110D6</key>
    <string>u110D_6.glif</string>
    <key>u110D7</key>
    <string>u110D_7.glif</string>
    <key>u110D8</key>
    <string>u110D_8.glif</string>
    <key>u110D9</key>
    <string>u110D_9.glif</string>
    <key>u110DA</key>
    <string>u110D_A_.glif</string>
    <key>u110DB</key>
    <string>u110D_B_.glif</string>
    <key>u110DC</key>
    <string>u110D_C_.glif</string>
    <key>u110DD</key>
    <string>u110D_D_.glif</string>
    <key>u110DE</key>
    <string>u110D_E_.glif</string>
    <key>u110DF</key>
    <string>u110D_F_.glif</string>
    <key>u110E0</key>
    <string>u110E_0.glif</string>
    <key>u110E1</key>
    <string>u110E_1.glif</string>
    <key>u110E2</key>
    <string>u110E_2.glif</string>
    <key>u110E3</key>
    <string>u110E_3.glif</string>
    <key>u110E4</key>
    <string>u110E_4.glif</string>
    <key>u110E5</key>
    <string>u110E_5.glif</string>
    <key>u110E6</key>
    <string>u110E_6.glif</string>
    <key>u110E7</key>
    <string>u110E_7.glif</string>
    <key>u110E8</key>
    <string>u110E_8.glif</string>
    <key>u110F0</key>
    <string>u110F_0.glif</string>
    <key>u110F1</key>
    <string>u110F_1.glif</string>
    <key>u110F2</key>
    <string>u110F_2.glif</string>
    <key>u110F3</key>
    <string>u110F_3.glif</string>
    <key>u110F4</key>
    <string>u110F_4.glif</string>
    <key>u110F5</key>
    <string>u110F_5.glif</string>
    <key>u110F6</key>
    <string>u110F_6.glif</string>
    <key>u110F7</key>
    <string>u110F_7.glif</string>
    <key>u110F8</key>
    <string>u110F_8.glif</string>
    <key>u110F9</key>
    <string>u110F_9.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
