<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>998</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u14400</string>
      <string>u14401</string>
      <string>u14402</string>
      <string>u14403</string>
      <string>u14404</string>
      <string>u14405</string>
      <string>u14406</string>
      <string>u14407</string>
      <string>u14408</string>
      <string>u14409</string>
      <string>u1440A</string>
      <string>u1440B</string>
      <string>u1440C</string>
      <string>u1440D</string>
      <string>u1440E</string>
      <string>u1440F</string>
      <string>u14410</string>
      <string>u14411</string>
      <string>u14412</string>
      <string>u14413</string>
      <string>u14414</string>
      <string>u14415</string>
      <string>u14416</string>
      <string>u14417</string>
      <string>u14418</string>
      <string>u14419</string>
      <string>u1441A</string>
      <string>u1441B</string>
      <string>u1441C</string>
      <string>u1441D</string>
      <string>u1441E</string>
      <string>u1441F</string>
      <string>u14420</string>
      <string>u14421</string>
      <string>u14422</string>
      <string>u14423</string>
      <string>u14424</string>
      <string>u14425</string>
      <string>u14426</string>
      <string>u14427</string>
      <string>u14428</string>
      <string>u14429</string>
      <string>u1442A</string>
      <string>u1442B</string>
      <string>u1442C</string>
      <string>u1442D</string>
      <string>u1442E</string>
      <string>u1442F</string>
      <string>u14430</string>
      <string>u14431</string>
      <string>u14432</string>
      <string>u14433</string>
      <string>u14434</string>
      <string>u14435</string>
      <string>u14436</string>
      <string>u14437</string>
      <string>u14438</string>
      <string>u14439</string>
      <string>u1443A</string>
      <string>u1443B</string>
      <string>u1443C</string>
      <string>u1443D</string>
      <string>u1443E</string>
      <string>u1443F</string>
      <string>u14440</string>
      <string>u14441</string>
      <string>u14442</string>
      <string>u14443</string>
      <string>u14444</string>
      <string>u14445</string>
      <string>u14446</string>
      <string>u14447</string>
      <string>u14448</string>
      <string>u14449</string>
      <string>u1444A</string>
      <string>u1444B</string>
      <string>u1444C</string>
      <string>u1444D</string>
      <string>u1444E</string>
      <string>u1444F</string>
      <string>u14450</string>
      <string>u14451</string>
      <string>u14452</string>
      <string>u14453</string>
      <string>u14454</string>
      <string>u14455</string>
      <string>u14456</string>
      <string>u14457</string>
      <string>u14458</string>
      <string>u14459</string>
      <string>u1445A</string>
      <string>u1445B</string>
      <string>u1445C</string>
      <string>u1445D</string>
      <string>u1445E</string>
      <string>u1445F</string>
      <string>u14460</string>
      <string>u14461</string>
      <string>u14462</string>
      <string>u14463</string>
      <string>u14464</string>
      <string>u14465</string>
      <string>u14466</string>
      <string>u14467</string>
      <string>u14468</string>
      <string>u14469</string>
      <string>u1446A</string>
      <string>u1446B</string>
      <string>u1446C</string>
      <string>u1446D</string>
      <string>u1446E</string>
      <string>u1446F</string>
      <string>u14470</string>
      <string>u14471</string>
      <string>u14472</string>
      <string>u14473</string>
      <string>u14474</string>
      <string>u14475</string>
      <string>u14476</string>
      <string>u14477</string>
      <string>u14478</string>
      <string>u14479</string>
      <string>u1447A</string>
      <string>u1447B</string>
      <string>u1447C</string>
      <string>u1447D</string>
      <string>u1447E</string>
      <string>u1447F</string>
      <string>u14480</string>
      <string>u14481</string>
      <string>u14482</string>
      <string>u14483</string>
      <string>u14484</string>
      <string>u14485</string>
      <string>u14486</string>
      <string>u14487</string>
      <string>u14488</string>
      <string>u14489</string>
      <string>u1448A</string>
      <string>u1448B</string>
      <string>u1448C</string>
      <string>u1448D</string>
      <string>u1448E</string>
      <string>u1448F</string>
      <string>u14490</string>
      <string>u14491</string>
      <string>u14492</string>
      <string>u14493</string>
      <string>u14494</string>
      <string>u14495</string>
      <string>u14496</string>
      <string>u14497</string>
      <string>u14498</string>
      <string>u14499</string>
      <string>u1449A</string>
      <string>u1449B</string>
      <string>u1449C</string>
      <string>u1449D</string>
      <string>u1449E</string>
      <string>u1449F</string>
      <string>u144A0</string>
      <string>u144A1</string>
      <string>u144A2</string>
      <string>u144A3</string>
      <string>u144A4</string>
      <string>u144A5</string>
      <string>u144A6</string>
      <string>u144A7</string>
      <string>u144A8</string>
      <string>u144A9</string>
      <string>u144AA</string>
      <string>u144AB</string>
      <string>u144AC</string>
      <string>u144AD</string>
      <string>u144AE</string>
      <string>u144AF</string>
      <string>u144B0</string>
      <string>u144B1</string>
      <string>u144B2</string>
      <string>u144B3</string>
      <string>u144B4</string>
      <string>u144B5</string>
      <string>u144B6</string>
      <string>u144B7</string>
      <string>u144B8</string>
      <string>u144B9</string>
      <string>u144BA</string>
      <string>u144BB</string>
      <string>u144BC</string>
      <string>u144BD</string>
      <string>u144BE</string>
      <string>u144BF</string>
      <string>u144C0</string>
      <string>u144C1</string>
      <string>u144C2</string>
      <string>u144C3</string>
      <string>u144C4</string>
      <string>u144C5</string>
      <string>u144C6</string>
      <string>u144C7</string>
      <string>u144C8</string>
      <string>u144C9</string>
      <string>u144CA</string>
      <string>u144CB</string>
      <string>u144CC</string>
      <string>u144CD</string>
      <string>u144CE</string>
      <string>u144CF</string>
      <string>u144D0</string>
      <string>u144D1</string>
      <string>u144D2</string>
      <string>u144D3</string>
      <string>u144D4</string>
      <string>u144D5</string>
      <string>u144D6</string>
      <string>u144D7</string>
      <string>u144D8</string>
      <string>u144D9</string>
      <string>u144DA</string>
      <string>u144DB</string>
      <string>u144DC</string>
      <string>u144DD</string>
      <string>u144DE</string>
      <string>u144DF</string>
      <string>u144E0</string>
      <string>u144E1</string>
      <string>u144E2</string>
      <string>u144E3</string>
      <string>u144E4</string>
      <string>u144E5</string>
      <string>u144E6</string>
      <string>u144E7</string>
      <string>u144E8</string>
      <string>u144E9</string>
      <string>u144EA</string>
      <string>u144EB</string>
      <string>u144EC</string>
      <string>u144ED</string>
      <string>u144EE</string>
      <string>u144EF</string>
      <string>u144F0</string>
      <string>u144F1</string>
      <string>u144F2</string>
      <string>u144F3</string>
      <string>u144F4</string>
      <string>u144F5</string>
      <string>u144F6</string>
      <string>u144F7</string>
      <string>u144F8</string>
      <string>u144F9</string>
      <string>u144FA</string>
      <string>u144FB</string>
      <string>u144FC</string>
      <string>u144FD</string>
      <string>u144FE</string>
      <string>u144FF</string>
      <string>u14500</string>
      <string>u14501</string>
      <string>u14502</string>
      <string>u14503</string>
      <string>u14504</string>
      <string>u14505</string>
      <string>u14506</string>
      <string>u14507</string>
      <string>u14508</string>
      <string>u14509</string>
      <string>u1450A</string>
      <string>u1450B</string>
      <string>u1450C</string>
      <string>u1450D</string>
      <string>u1450E</string>
      <string>u1450F</string>
      <string>u14510</string>
      <string>u14511</string>
      <string>u14512</string>
      <string>u14513</string>
      <string>u14514</string>
      <string>u14515</string>
      <string>u14516</string>
      <string>u14517</string>
      <string>u14518</string>
      <string>u14519</string>
      <string>u1451A</string>
      <string>u1451B</string>
      <string>u1451C</string>
      <string>u1451D</string>
      <string>u1451E</string>
      <string>u1451F</string>
      <string>u14520</string>
      <string>u14521</string>
      <string>u14522</string>
      <string>u14523</string>
      <string>u14524</string>
      <string>u14525</string>
      <string>u14526</string>
      <string>u14527</string>
      <string>u14528</string>
      <string>u14529</string>
      <string>u1452A</string>
      <string>u1452B</string>
      <string>u1452C</string>
      <string>u1452D</string>
      <string>u1452E</string>
      <string>u1452F</string>
      <string>u14530</string>
      <string>u14531</string>
      <string>u14532</string>
      <string>u14533</string>
      <string>u14534</string>
      <string>u14535</string>
      <string>u14536</string>
      <string>u14537</string>
      <string>u14538</string>
      <string>u14539</string>
      <string>u1453A</string>
      <string>u1453B</string>
      <string>u1453C</string>
      <string>u1453D</string>
      <string>u1453E</string>
      <string>u1453F</string>
      <string>u14540</string>
      <string>u14541</string>
      <string>u14542</string>
      <string>u14543</string>
      <string>u14544</string>
      <string>u14545</string>
      <string>u14546</string>
      <string>u14547</string>
      <string>u14548</string>
      <string>u14549</string>
      <string>u1454A</string>
      <string>u1454B</string>
      <string>u1454C</string>
      <string>u1454D</string>
      <string>u1454E</string>
      <string>u1454F</string>
      <string>u14550</string>
      <string>u14551</string>
      <string>u14552</string>
      <string>u14553</string>
      <string>u14554</string>
      <string>u14555</string>
      <string>u14556</string>
      <string>u14557</string>
      <string>u14558</string>
      <string>u14559</string>
      <string>u1455A</string>
      <string>u1455B</string>
      <string>u1455C</string>
      <string>u1455D</string>
      <string>u1455E</string>
      <string>u1455F</string>
      <string>u14560</string>
      <string>u14561</string>
      <string>u14562</string>
      <string>u14563</string>
      <string>u14564</string>
      <string>u14565</string>
      <string>u14566</string>
      <string>u14567</string>
      <string>u14568</string>
      <string>u14569</string>
      <string>u1456A</string>
      <string>u1456B</string>
      <string>u1456C</string>
      <string>u1456D</string>
      <string>u1456E</string>
      <string>u1456F</string>
      <string>u14570</string>
      <string>u14571</string>
      <string>u14572</string>
      <string>u14573</string>
      <string>u14574</string>
      <string>u14575</string>
      <string>u14576</string>
      <string>u14577</string>
      <string>u14578</string>
      <string>u14579</string>
      <string>u1457A</string>
      <string>u1457B</string>
      <string>u1457C</string>
      <string>u1457D</string>
      <string>u1457E</string>
      <string>u1457F</string>
      <string>u14580</string>
      <string>u14581</string>
      <string>u14582</string>
      <string>u14583</string>
      <string>u14584</string>
      <string>u14585</string>
      <string>u14586</string>
      <string>u14587</string>
      <string>u14588</string>
      <string>u14589</string>
      <string>u1458A</string>
      <string>u1458B</string>
      <string>u1458C</string>
      <string>u1458D</string>
      <string>u1458E</string>
      <string>u1458F</string>
      <string>u14590</string>
      <string>u14591</string>
      <string>u14592</string>
      <string>u14593</string>
      <string>u14594</string>
      <string>u14595</string>
      <string>u14596</string>
      <string>u14597</string>
      <string>u14598</string>
      <string>u14599</string>
      <string>u1459A</string>
      <string>u1459B</string>
      <string>u1459C</string>
      <string>u1459D</string>
      <string>u1459E</string>
      <string>u1459F</string>
      <string>u145A0</string>
      <string>u145A1</string>
      <string>u145A2</string>
      <string>u145A3</string>
      <string>u145A4</string>
      <string>u145A5</string>
      <string>u145A6</string>
      <string>u145A7</string>
      <string>u145A8</string>
      <string>u145A9</string>
      <string>u145AA</string>
      <string>u145AB</string>
      <string>u145AC</string>
      <string>u145AD</string>
      <string>u145AE</string>
      <string>u145AF</string>
      <string>u145B0</string>
      <string>u145B1</string>
      <string>u145B2</string>
      <string>u145B3</string>
      <string>u145B4</string>
      <string>u145B5</string>
      <string>u145B6</string>
      <string>u145B7</string>
      <string>u145B8</string>
      <string>u145B9</string>
      <string>u145BA</string>
      <string>u145BB</string>
      <string>u145BC</string>
      <string>u145BD</string>
      <string>u145BE</string>
      <string>u145BF</string>
      <string>u145C0</string>
      <string>u145C1</string>
      <string>u145C2</string>
      <string>u145C3</string>
      <string>u145C4</string>
      <string>u145C5</string>
      <string>u145C6</string>
      <string>u145C7</string>
      <string>u145C8</string>
      <string>u145C9</string>
      <string>u145CA</string>
      <string>u145CB</string>
      <string>u145CC</string>
      <string>u145CD</string>
      <string>u145CE</string>
      <string>u145CF</string>
      <string>u145D0</string>
      <string>u145D1</string>
      <string>u145D2</string>
      <string>u145D3</string>
      <string>u145D4</string>
      <string>u145D5</string>
      <string>u145D6</string>
      <string>u145D7</string>
      <string>u145D8</string>
      <string>u145D9</string>
      <string>u145DA</string>
      <string>u145DB</string>
      <string>u145DC</string>
      <string>u145DD</string>
      <string>u145DE</string>
      <string>u145DF</string>
      <string>u145E0</string>
      <string>u145E1</string>
      <string>u145E2</string>
      <string>u145E3</string>
      <string>u145E4</string>
      <string>u145E5</string>
      <string>u145E6</string>
      <string>u145E7</string>
      <string>u145E8</string>
      <string>u145E9</string>
      <string>u145EA</string>
      <string>u145EB</string>
      <string>u145EC</string>
      <string>u145ED</string>
      <string>u145EE</string>
      <string>u145EF</string>
      <string>u145F0</string>
      <string>u145F1</string>
      <string>u145F2</string>
      <string>u145F3</string>
      <string>u145F4</string>
      <string>u145F5</string>
      <string>u145F6</string>
      <string>u145F7</string>
      <string>u145F8</string>
      <string>u145F9</string>
      <string>u145FA</string>
      <string>u145FB</string>
      <string>u145FC</string>
      <string>u145FD</string>
      <string>u145FE</string>
      <string>u145FF</string>
      <string>u14600</string>
      <string>u14601</string>
      <string>u14602</string>
      <string>u14603</string>
      <string>u14604</string>
      <string>u14605</string>
      <string>u14606</string>
      <string>u14607</string>
      <string>u14608</string>
      <string>u14609</string>
      <string>u1460A</string>
      <string>u1460B</string>
      <string>u1460C</string>
      <string>u1460D</string>
      <string>u1460E</string>
      <string>u1460F</string>
      <string>u14610</string>
      <string>u14611</string>
      <string>u14612</string>
      <string>u14613</string>
      <string>u14614</string>
      <string>u14615</string>
      <string>u14616</string>
      <string>u14617</string>
      <string>u14618</string>
      <string>u14619</string>
      <string>u1461A</string>
      <string>u1461B</string>
      <string>u1461C</string>
      <string>u1461D</string>
      <string>u1461E</string>
      <string>u1461F</string>
      <string>u14620</string>
      <string>u14621</string>
      <string>u14622</string>
      <string>u14623</string>
      <string>u14624</string>
      <string>u14625</string>
      <string>u14626</string>
      <string>u14627</string>
      <string>u14628</string>
      <string>u14629</string>
      <string>u1462A</string>
      <string>u1462B</string>
      <string>u1462C</string>
      <string>u1462D</string>
      <string>u1462E</string>
      <string>u1462F</string>
      <string>u14630</string>
      <string>u14631</string>
      <string>u14632</string>
      <string>u14633</string>
      <string>u14634</string>
      <string>u14635</string>
      <string>u14636</string>
      <string>u14637</string>
      <string>u14638</string>
      <string>u14639</string>
      <string>u1463A</string>
      <string>u1463B</string>
      <string>u1463C</string>
      <string>u1463D</string>
      <string>u1463E</string>
      <string>u1463F</string>
      <string>u14640</string>
      <string>u14641</string>
      <string>u14642</string>
      <string>u14643</string>
      <string>u14644</string>
      <string>u14645</string>
      <string>u14646</string>
      <string>uni00A0</string>
      <string>uni200B</string>
    </array>
  </dict>
</plist>
