<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>eightguru</string>
      <string>fiveguru</string>
      <string>fourguru</string>
      <string>nineguru</string>
      <string>oneguru</string>
      <string>sevenguru</string>
      <string>sixguru</string>
      <string>space</string>
      <string>threeguru</string>
      <string>twoguru</string>
      <string>u11280</string>
      <string>u11281</string>
      <string>u11282</string>
      <string>u11283</string>
      <string>u11284</string>
      <string>u11285</string>
      <string>u11286</string>
      <string>u11288</string>
      <string>u1128A</string>
      <string>u1128B</string>
      <string>u1128C</string>
      <string>u1128D</string>
      <string>u1128F</string>
      <string>u11290</string>
      <string>u11291</string>
      <string>u11292</string>
      <string>u11293</string>
      <string>u11294</string>
      <string>u11295</string>
      <string>u11296</string>
      <string>u11297</string>
      <string>u11298</string>
      <string>u11299</string>
      <string>u1129A</string>
      <string>u1129B</string>
      <string>u1129C</string>
      <string>u1129D</string>
      <string>u1129F</string>
      <string>u112A0</string>
      <string>u112A1</string>
      <string>u112A2</string>
      <string>u112A3</string>
      <string>u112A4</string>
      <string>u112A5</string>
      <string>u112A6</string>
      <string>u112A7</string>
      <string>u112A8</string>
      <string>u112A9</string>
      <string>uni00A0</string>
      <string>zeroguru</string>
    </array>
  </dict>
</plist>
