<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni060C</key>
    <string>uni060C_.glif</string>
    <key>uni061B</key>
    <string>uni061B_.glif</string>
    <key>uni061F</key>
    <string>uni061F_.glif</string>
    <key>uni0660</key>
    <string>uni0660.glif</string>
    <key>uni0661</key>
    <string>uni0661.glif</string>
    <key>uni0662</key>
    <string>uni0662.glif</string>
    <key>uni0663</key>
    <string>uni0663.glif</string>
    <key>uni0664</key>
    <string>uni0664.glif</string>
    <key>uni0665</key>
    <string>uni0665.glif</string>
    <key>uni0666</key>
    <string>uni0666.glif</string>
    <key>uni0667</key>
    <string>uni0667.glif</string>
    <key>uni0668</key>
    <string>uni0668.glif</string>
    <key>uni0669</key>
    <string>uni0669.glif</string>
    <key>uni066A</key>
    <string>uni066A_.glif</string>
    <key>uni066B</key>
    <string>uni066B_.glif</string>
    <key>uni066C</key>
    <string>uni066C_.glif</string>
    <key>uni0780</key>
    <string>uni0780.glif</string>
    <key>uni0781</key>
    <string>uni0781.glif</string>
    <key>uni0782</key>
    <string>uni0782.glif</string>
    <key>uni0783</key>
    <string>uni0783.glif</string>
    <key>uni0784</key>
    <string>uni0784.glif</string>
    <key>uni0785</key>
    <string>uni0785.glif</string>
    <key>uni0786</key>
    <string>uni0786.glif</string>
    <key>uni0787</key>
    <string>uni0787.glif</string>
    <key>uni0788</key>
    <string>uni0788.glif</string>
    <key>uni0789</key>
    <string>uni0789.glif</string>
    <key>uni078A</key>
    <string>uni078A_.glif</string>
    <key>uni078B</key>
    <string>uni078B_.glif</string>
    <key>uni078C</key>
    <string>uni078C_.glif</string>
    <key>uni078D</key>
    <string>uni078D_.glif</string>
    <key>uni078E</key>
    <string>uni078E_.glif</string>
    <key>uni078F</key>
    <string>uni078F_.glif</string>
    <key>uni0790</key>
    <string>uni0790.glif</string>
    <key>uni0791</key>
    <string>uni0791.glif</string>
    <key>uni0792</key>
    <string>uni0792.glif</string>
    <key>uni0793</key>
    <string>uni0793.glif</string>
    <key>uni0794</key>
    <string>uni0794.glif</string>
    <key>uni0795</key>
    <string>uni0795.glif</string>
    <key>uni0796</key>
    <string>uni0796.glif</string>
    <key>uni0797</key>
    <string>uni0797.glif</string>
    <key>uni0798</key>
    <string>uni0798.glif</string>
    <key>uni0799</key>
    <string>uni0799.glif</string>
    <key>uni079A</key>
    <string>uni079A_.glif</string>
    <key>uni079B</key>
    <string>uni079B_.glif</string>
    <key>uni079C</key>
    <string>uni079C_.glif</string>
    <key>uni079D</key>
    <string>uni079D_.glif</string>
    <key>uni079E</key>
    <string>uni079E_.glif</string>
    <key>uni079F</key>
    <string>uni079F_.glif</string>
    <key>uni07A0</key>
    <string>uni07A_0.glif</string>
    <key>uni07A1</key>
    <string>uni07A_1.glif</string>
    <key>uni07A2</key>
    <string>uni07A_2.glif</string>
    <key>uni07A3</key>
    <string>uni07A_3.glif</string>
    <key>uni07A4</key>
    <string>uni07A_4.glif</string>
    <key>uni07A5</key>
    <string>uni07A_5.glif</string>
    <key>uni07A6</key>
    <string>uni07A_6.glif</string>
    <key>uni07A7</key>
    <string>uni07A_7.glif</string>
    <key>uni07A8</key>
    <string>uni07A_8.glif</string>
    <key>uni07A9</key>
    <string>uni07A_9.glif</string>
    <key>uni07AA</key>
    <string>uni07A_A_.glif</string>
    <key>uni07AB</key>
    <string>uni07A_B_.glif</string>
    <key>uni07AC</key>
    <string>uni07A_C_.glif</string>
    <key>uni07AD</key>
    <string>uni07A_D_.glif</string>
    <key>uni07AE</key>
    <string>uni07A_E_.glif</string>
    <key>uni07AF</key>
    <string>uni07A_F_.glif</string>
    <key>uni07B0</key>
    <string>uni07B_0.glif</string>
    <key>uni07B1</key>
    <string>uni07B_1.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni200E</key>
    <string>uni200E_.glif</string>
    <key>uni200F</key>
    <string>uni200F_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniFDF2</key>
    <string>uniF_D_F_2.glif</string>
    <key>uniFDFD</key>
    <string>uniF_D_F_D_.glif</string>
  </dict>
</plist>
