<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Aen-georgian</key>
    <string>A_en-georgian.glif</string>
    <key>Aen-oldgeorgian</key>
    <string>A_en-oldgeorgian.glif</string>
    <key>Ain-georgian</key>
    <string>A_in-georgian.glif</string>
    <key>An-georgian</key>
    <string>A_n-georgian.glif</string>
    <key>An-georgian_acutecomb</key>
    <string>A_n-georgian_acutecomb.glif</string>
    <key>An-georgian_dieresiscomb</key>
    <string>A_n-georgian_dieresiscomb.glif</string>
    <key>An-georgian_macroncomb</key>
    <string>A_n-georgian_macroncomb.glif</string>
    <key>An-georgian_macroncomb_dieresiscomb</key>
    <string>A_n-georgian_macroncomb_dieresiscomb.glif</string>
    <key>An-oldgeorgian</key>
    <string>A_n-oldgeorgian.glif</string>
    <key>Ban-georgian</key>
    <string>B_an-georgian.glif</string>
    <key>Ban-oldgeorgian</key>
    <string>B_an-oldgeorgian.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Can-georgian</key>
    <string>C_an-georgian.glif</string>
    <key>Can-oldgeorgian</key>
    <string>C_an-oldgeorgian.glif</string>
    <key>Char-georgian</key>
    <string>C_har-georgian.glif</string>
    <key>Char-oldgeorgian</key>
    <string>C_har-oldgeorgian.glif</string>
    <key>Chin-georgian</key>
    <string>C_hin-georgian.glif</string>
    <key>Chin-oldgeorgian</key>
    <string>C_hin-oldgeorgian.glif</string>
    <key>Cil-georgian</key>
    <string>C_il-georgian.glif</string>
    <key>Cil-oldgeorgian</key>
    <string>C_il-oldgeorgian.glif</string>
    <key>Don-georgian</key>
    <string>D_on-georgian.glif</string>
    <key>Don-oldgeorgian</key>
    <string>D_on-oldgeorgian.glif</string>
    <key>Elifi-georgian</key>
    <string>E_lifi-georgian.glif</string>
    <key>En-georgian</key>
    <string>E_n-georgian.glif</string>
    <key>En-georgian_acutecomb</key>
    <string>E_n-georgian_acutecomb.glif</string>
    <key>En-georgian_macroncomb</key>
    <string>E_n-georgian_macroncomb.glif</string>
    <key>En-oldgeorgian</key>
    <string>E_n-oldgeorgian.glif</string>
    <key>Fi-georgian</key>
    <string>F_i-georgian.glif</string>
    <key>Gan-georgian</key>
    <string>G_an-georgian.glif</string>
    <key>Gan-oldgeorgian</key>
    <string>G_an-oldgeorgian.glif</string>
    <key>GanTurned-georgian</key>
    <string>G_anT_urned-georgian.glif</string>
    <key>Ghan-georgian</key>
    <string>G_han-georgian.glif</string>
    <key>Ghan-oldgeorgian</key>
    <string>G_han-oldgeorgian.glif</string>
    <key>Hae-georgian</key>
    <string>H_ae-georgian.glif</string>
    <key>Hae-oldgeorgian</key>
    <string>H_ae-oldgeorgian.glif</string>
    <key>Har-georgian</key>
    <string>H_ar-georgian.glif</string>
    <key>Har-oldgeorgian</key>
    <string>H_ar-oldgeorgian.glif</string>
    <key>HardSign-georgian</key>
    <string>H_ardS_ign-georgian.glif</string>
    <key>He-georgian</key>
    <string>H_e-georgian.glif</string>
    <key>He-oldgeorgian</key>
    <string>H_e-oldgeorgian.glif</string>
    <key>Hie-georgian</key>
    <string>H_ie-georgian.glif</string>
    <key>Hie-oldgeorgian</key>
    <string>H_ie-oldgeorgian.glif</string>
    <key>Hoe-georgian</key>
    <string>H_oe-georgian.glif</string>
    <key>Hoe-oldgeorgian</key>
    <string>H_oe-oldgeorgian.glif</string>
    <key>In-georgian</key>
    <string>I_n-georgian.glif</string>
    <key>In-georgian_acutecomb</key>
    <string>I_n-georgian_acutecomb.glif</string>
    <key>In-georgian_macroncomb</key>
    <string>I_n-georgian_macroncomb.glif</string>
    <key>In-oldgeorgian</key>
    <string>I_n-oldgeorgian.glif</string>
    <key>Jhan-georgian</key>
    <string>J_han-georgian.glif</string>
    <key>Jhan-oldgeorgian</key>
    <string>J_han-oldgeorgian.glif</string>
    <key>Jil-georgian</key>
    <string>J_il-georgian.glif</string>
    <key>Jil-oldgeorgian</key>
    <string>J_il-oldgeorgian.glif</string>
    <key>Kan-georgian</key>
    <string>K_an-georgian.glif</string>
    <key>Kan-oldgeorgian</key>
    <string>K_an-oldgeorgian.glif</string>
    <key>Khar-georgian</key>
    <string>K_har-georgian.glif</string>
    <key>Khar-oldgeorgian</key>
    <string>K_har-oldgeorgian.glif</string>
    <key>Labial-georgian</key>
    <string>L_abial-georgian.glif</string>
    <key>Las-georgian</key>
    <string>L_as-georgian.glif</string>
    <key>Las-oldgeorgian</key>
    <string>L_as-oldgeorgian.glif</string>
    <key>Man-georgian</key>
    <string>M_an-georgian.glif</string>
    <key>Man-oldgeorgian</key>
    <string>M_an-oldgeorgian.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Nar-georgian</key>
    <string>N_ar-georgian.glif</string>
    <key>Nar-oldgeorgian</key>
    <string>N_ar-oldgeorgian.glif</string>
    <key>On-georgian</key>
    <string>O_n-georgian.glif</string>
    <key>On-georgian_acutecomb</key>
    <string>O_n-georgian_acutecomb.glif</string>
    <key>On-georgian_dieresiscomb</key>
    <string>O_n-georgian_dieresiscomb.glif</string>
    <key>On-georgian_macroncomb</key>
    <string>O_n-georgian_macroncomb.glif</string>
    <key>On-georgian_macroncomb_dieresiscomb</key>
    <string>O_n-georgian_macroncomb_dieresiscomb.glif</string>
    <key>On-oldgeorgian</key>
    <string>O_n-oldgeorgian.glif</string>
    <key>Par-georgian</key>
    <string>P_ar-georgian.glif</string>
    <key>Par-oldgeorgian</key>
    <string>P_ar-oldgeorgian.glif</string>
    <key>Phar-georgian</key>
    <string>P_har-georgian.glif</string>
    <key>Phar-oldgeorgian</key>
    <string>P_har-oldgeorgian.glif</string>
    <key>Qar-georgian</key>
    <string>Q_ar-georgian.glif</string>
    <key>Qar-oldgeorgian</key>
    <string>Q_ar-oldgeorgian.glif</string>
    <key>Rae-georgian</key>
    <string>R_ae-georgian.glif</string>
    <key>Rae-oldgeorgian</key>
    <string>R_ae-oldgeorgian.glif</string>
    <key>San-georgian</key>
    <string>S_an-georgian.glif</string>
    <key>San-oldgeorgian</key>
    <string>S_an-oldgeorgian.glif</string>
    <key>Shin-georgian</key>
    <string>S_hin-georgian.glif</string>
    <key>Shin-oldgeorgian</key>
    <string>S_hin-oldgeorgian.glif</string>
    <key>Tan-georgian</key>
    <string>T_an-georgian.glif</string>
    <key>Tan-oldgeorgian</key>
    <string>T_an-oldgeorgian.glif</string>
    <key>Tar-georgian</key>
    <string>T_ar-georgian.glif</string>
    <key>Tar-oldgeorgian</key>
    <string>T_ar-oldgeorgian.glif</string>
    <key>Un-georgian</key>
    <string>U_n-georgian.glif</string>
    <key>Un-georgian_acutecomb</key>
    <string>U_n-georgian_acutecomb.glif</string>
    <key>Un-georgian_circumflexcomb</key>
    <string>U_n-georgian_circumflexcomb.glif</string>
    <key>Un-georgian_dieresiscomb</key>
    <string>U_n-georgian_dieresiscomb.glif</string>
    <key>Un-georgian_macroncomb</key>
    <string>U_n-georgian_macroncomb.glif</string>
    <key>Un-georgian_macroncomb_dieresiscomb</key>
    <string>U_n-georgian_macroncomb_dieresiscomb.glif</string>
    <key>Un-oldgeorgian</key>
    <string>U_n-oldgeorgian.glif</string>
    <key>Vin-georgian</key>
    <string>V_in-georgian.glif</string>
    <key>Vin-oldgeorgian</key>
    <string>V_in-oldgeorgian.glif</string>
    <key>We-georgian</key>
    <string>W_e-georgian.glif</string>
    <key>We-oldgeorgian</key>
    <string>W_e-oldgeorgian.glif</string>
    <key>Xan-georgian</key>
    <string>X_an-georgian.glif</string>
    <key>Xan-oldgeorgian</key>
    <string>X_an-oldgeorgian.glif</string>
    <key>Yn-georgian</key>
    <string>Y_n-georgian.glif</string>
    <key>Yn-georgian_acutecomb</key>
    <string>Y_n-georgian_acutecomb.glif</string>
    <key>Yn-georgian_macroncomb</key>
    <string>Y_n-georgian_macroncomb.glif</string>
    <key>Yn-oldgeorgian</key>
    <string>Y_n-oldgeorgian.glif</string>
    <key>Zen-georgian</key>
    <string>Z_en-georgian.glif</string>
    <key>Zen-oldgeorgian</key>
    <string>Z_en-oldgeorgian.glif</string>
    <key>Zhar-georgian</key>
    <string>Z_har-georgian.glif</string>
    <key>Zhar-oldgeorgian</key>
    <string>Z_har-oldgeorgian.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>aen-georgian</key>
    <string>aen-georgian.glif</string>
    <key>aen-oldgeorgian</key>
    <string>aen-oldgeorgian.glif</string>
    <key>ain-georgian</key>
    <string>ain-georgian.glif</string>
    <key>an-georgian</key>
    <string>an-georgian.glif</string>
    <key>an-georgian_acutecomb</key>
    <string>an-georgian_acutecomb.glif</string>
    <key>an-georgian_dieresiscomb</key>
    <string>an-georgian_dieresiscomb.glif</string>
    <key>an-georgian_macroncomb</key>
    <string>an-georgian_macroncomb.glif</string>
    <key>an-georgian_macroncomb_dieresiscomb</key>
    <string>an-georgian_macroncomb_dieresiscomb.glif</string>
    <key>an-oldgeorgian</key>
    <string>an-oldgeorgian.glif</string>
    <key>ban-georgian</key>
    <string>ban-georgian.glif</string>
    <key>ban-oldgeorgian</key>
    <string>ban-oldgeorgian.glif</string>
    <key>can-georgian</key>
    <string>can-georgian.glif</string>
    <key>can-oldgeorgian</key>
    <string>can-oldgeorgian.glif</string>
    <key>char-georgian</key>
    <string>char-georgian.glif</string>
    <key>char-oldgeorgian</key>
    <string>char-oldgeorgian.glif</string>
    <key>chin-georgian</key>
    <string>chin-georgian.glif</string>
    <key>chin-oldgeorgian</key>
    <string>chin-oldgeorgian.glif</string>
    <key>cil-georgian</key>
    <string>cil-georgian.glif</string>
    <key>cil-oldgeorgian</key>
    <string>cil-oldgeorgian.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>don-georgian</key>
    <string>don-georgian.glif</string>
    <key>don-oldgeorgian</key>
    <string>don-oldgeorgian.glif</string>
    <key>elifi-georgian</key>
    <string>elifi-georgian.glif</string>
    <key>en-georgian</key>
    <string>en-georgian.glif</string>
    <key>en-georgian_acutecomb</key>
    <string>en-georgian_acutecomb.glif</string>
    <key>en-georgian_macroncomb</key>
    <string>en-georgian_macroncomb.glif</string>
    <key>en-oldgeorgian</key>
    <string>en-oldgeorgian.glif</string>
    <key>fi-georgian</key>
    <string>fi-georgian.glif</string>
    <key>gan-georgian</key>
    <string>gan-georgian.glif</string>
    <key>gan-oldgeorgian</key>
    <string>gan-oldgeorgian.glif</string>
    <key>ghan-georgian</key>
    <string>ghan-georgian.glif</string>
    <key>ghan-oldgeorgian</key>
    <string>ghan-oldgeorgian.glif</string>
    <key>hae-georgian</key>
    <string>hae-georgian.glif</string>
    <key>hae-oldgeorgian</key>
    <string>hae-oldgeorgian.glif</string>
    <key>har-georgian</key>
    <string>har-georgian.glif</string>
    <key>har-oldgeorgian</key>
    <string>har-oldgeorgian.glif</string>
    <key>hardsign-georgian</key>
    <string>hardsign-georgian.glif</string>
    <key>he-georgian</key>
    <string>he-georgian.glif</string>
    <key>he-oldgeorgian</key>
    <string>he-oldgeorgian.glif</string>
    <key>hie-georgian</key>
    <string>hie-georgian.glif</string>
    <key>hie-oldgeorgian</key>
    <string>hie-oldgeorgian.glif</string>
    <key>hoe-georgian</key>
    <string>hoe-georgian.glif</string>
    <key>hoe-oldgeorgian</key>
    <string>hoe-oldgeorgian.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>in-georgian</key>
    <string>in-georgian.glif</string>
    <key>in-georgian_acutecomb</key>
    <string>in-georgian_acutecomb.glif</string>
    <key>in-georgian_macroncomb</key>
    <string>in-georgian_macroncomb.glif</string>
    <key>in-oldgeorgian</key>
    <string>in-oldgeorgian.glif</string>
    <key>jhan-georgian</key>
    <string>jhan-georgian.glif</string>
    <key>jhan-oldgeorgian</key>
    <string>jhan-oldgeorgian.glif</string>
    <key>jil-georgian</key>
    <string>jil-georgian.glif</string>
    <key>jil-oldgeorgian</key>
    <string>jil-oldgeorgian.glif</string>
    <key>kan-georgian</key>
    <string>kan-georgian.glif</string>
    <key>kan-oldgeorgian</key>
    <string>kan-oldgeorgian.glif</string>
    <key>khar-georgian</key>
    <string>khar-georgian.glif</string>
    <key>khar-oldgeorgian</key>
    <string>khar-oldgeorgian.glif</string>
    <key>labial-georgian</key>
    <string>labial-georgian.glif</string>
    <key>lari</key>
    <string>lari.glif</string>
    <key>las-georgian</key>
    <string>las-georgian.glif</string>
    <key>las-oldgeorgian</key>
    <string>las-oldgeorgian.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>man-georgian</key>
    <string>man-georgian.glif</string>
    <key>man-oldgeorgian</key>
    <string>man-oldgeorgian.glif</string>
    <key>nar-georgian</key>
    <string>nar-georgian.glif</string>
    <key>nar-oldgeorgian</key>
    <string>nar-oldgeorgian.glif</string>
    <key>narMod-georgian</key>
    <string>narM_od-georgian.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>on-georgian</key>
    <string>on-georgian.glif</string>
    <key>on-georgian_acutecomb</key>
    <string>on-georgian_acutecomb.glif</string>
    <key>on-georgian_dieresiscomb</key>
    <string>on-georgian_dieresiscomb.glif</string>
    <key>on-georgian_macroncomb</key>
    <string>on-georgian_macroncomb.glif</string>
    <key>on-georgian_macroncomb_dieresiscomb</key>
    <string>on-georgian_macroncomb_dieresiscomb.glif</string>
    <key>on-oldgeorgian</key>
    <string>on-oldgeorgian.glif</string>
    <key>par-georgian</key>
    <string>par-georgian.glif</string>
    <key>par-oldgeorgian</key>
    <string>par-oldgeorgian.glif</string>
    <key>paragraph-georgian</key>
    <string>paragraph-georgian.glif</string>
    <key>period-arm</key>
    <string>period-arm.glif</string>
    <key>phar-georgian</key>
    <string>phar-georgian.glif</string>
    <key>phar-oldgeorgian</key>
    <string>phar-oldgeorgian.glif</string>
    <key>qar-georgian</key>
    <string>qar-georgian.glif</string>
    <key>qar-oldgeorgian</key>
    <string>qar-oldgeorgian.glif</string>
    <key>rae-georgian</key>
    <string>rae-georgian.glif</string>
    <key>rae-oldgeorgian</key>
    <string>rae-oldgeorgian.glif</string>
    <key>san-georgian</key>
    <string>san-georgian.glif</string>
    <key>san-oldgeorgian</key>
    <string>san-oldgeorgian.glif</string>
    <key>shin-georgian</key>
    <string>shin-georgian.glif</string>
    <key>shin-oldgeorgian</key>
    <string>shin-oldgeorgian.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>tan-georgian</key>
    <string>tan-georgian.glif</string>
    <key>tan-oldgeorgian</key>
    <string>tan-oldgeorgian.glif</string>
    <key>tar-georgian</key>
    <string>tar-georgian.glif</string>
    <key>tar-oldgeorgian</key>
    <string>tar-oldgeorgian.glif</string>
    <key>turnedgan-georgian</key>
    <string>turnedgan-georgian.glif</string>
    <key>un-georgian</key>
    <string>un-georgian.glif</string>
    <key>un-georgian_acutecomb</key>
    <string>un-georgian_acutecomb.glif</string>
    <key>un-georgian_circumflexcomb</key>
    <string>un-georgian_circumflexcomb.glif</string>
    <key>un-georgian_dieresiscomb</key>
    <string>un-georgian_dieresiscomb.glif</string>
    <key>un-georgian_macroncomb</key>
    <string>un-georgian_macroncomb.glif</string>
    <key>un-georgian_macroncomb_dieresiscomb</key>
    <string>un-georgian_macroncomb_dieresiscomb.glif</string>
    <key>un-oldgeorgian</key>
    <string>un-oldgeorgian.glif</string>
    <key>vin-georgian</key>
    <string>vin-georgian.glif</string>
    <key>vin-oldgeorgian</key>
    <string>vin-oldgeorgian.glif</string>
    <key>we-georgian</key>
    <string>we-georgian.glif</string>
    <key>we-oldgeorgian</key>
    <string>we-oldgeorgian.glif</string>
    <key>xan-georgian</key>
    <string>xan-georgian.glif</string>
    <key>xan-oldgeorgian</key>
    <string>xan-oldgeorgian.glif</string>
    <key>yn-georgian</key>
    <string>yn-georgian.glif</string>
    <key>yn-georgian_acutecomb</key>
    <string>yn-georgian_acutecomb.glif</string>
    <key>yn-georgian_macroncomb</key>
    <string>yn-georgian_macroncomb.glif</string>
    <key>yn-oldgeorgian</key>
    <string>yn-oldgeorgian.glif</string>
    <key>zen-georgian</key>
    <string>zen-georgian.glif</string>
    <key>zen-oldgeorgian</key>
    <string>zen-oldgeorgian.glif</string>
    <key>zhar-georgian</key>
    <string>zhar-georgian.glif</string>
    <key>zhar-oldgeorgian</key>
    <string>zhar-oldgeorgian.glif</string>
  </dict>
</plist>
