<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>895</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>u10C80</string>
      <string>u10C81</string>
      <string>u10C82</string>
      <string>u10C83</string>
      <string>u10C84</string>
      <string>u10C85</string>
      <string>u10C86</string>
      <string>u10C87</string>
      <string>u10C88</string>
      <string>u10C89</string>
      <string>u10C8A</string>
      <string>u10C8B</string>
      <string>u10C8C</string>
      <string>u10C8D</string>
      <string>u10C8E</string>
      <string>u10C8F</string>
      <string>u10C90</string>
      <string>u10C91</string>
      <string>u10C92</string>
      <string>u10C93</string>
      <string>u10C94</string>
      <string>u10C95</string>
      <string>u10C96</string>
      <string>u10C97</string>
      <string>u10C98</string>
      <string>u10C99</string>
      <string>u10C9A</string>
      <string>u10C9B</string>
      <string>u10C9C</string>
      <string>u10C9D</string>
      <string>u10C9E</string>
      <string>u10C9F</string>
      <string>u10CA0</string>
      <string>u10CA1</string>
      <string>u10CA2</string>
      <string>u10CA3</string>
      <string>u10CA4</string>
      <string>u10CA5</string>
      <string>u10CA6</string>
      <string>u10CA7</string>
      <string>u10CA8</string>
      <string>u10CA9</string>
      <string>u10CAA</string>
      <string>u10CAB</string>
      <string>u10CAC</string>
      <string>u10CAD</string>
      <string>u10CAE</string>
      <string>u10CAF</string>
      <string>u10CB0</string>
      <string>u10CB1</string>
      <string>u10CB2</string>
      <string>u10CC0</string>
      <string>u10CC1</string>
      <string>u10CC2</string>
      <string>u10CC3</string>
      <string>u10CC4</string>
      <string>u10CC5</string>
      <string>u10CC6</string>
      <string>u10CC7</string>
      <string>u10CC8</string>
      <string>u10CC9</string>
      <string>u10CCA</string>
      <string>u10CCB</string>
      <string>u10CCC</string>
      <string>u10CCD</string>
      <string>u10CCE</string>
      <string>u10CCF</string>
      <string>u10CD0</string>
      <string>u10CD1</string>
      <string>u10CD2</string>
      <string>u10CD3</string>
      <string>u10CD4</string>
      <string>u10CD5</string>
      <string>u10CD6</string>
      <string>u10CD7</string>
      <string>u10CD8</string>
      <string>u10CD9</string>
      <string>u10CDA</string>
      <string>u10CDB</string>
      <string>u10CDC</string>
      <string>u10CDD</string>
      <string>u10CDE</string>
      <string>u10CDF</string>
      <string>u10CE0</string>
      <string>u10CE1</string>
      <string>u10CE2</string>
      <string>u10CE3</string>
      <string>u10CE4</string>
      <string>u10CE5</string>
      <string>u10CE6</string>
      <string>u10CE7</string>
      <string>u10CE8</string>
      <string>u10CE9</string>
      <string>u10CEA</string>
      <string>u10CEB</string>
      <string>u10CEC</string>
      <string>u10CED</string>
      <string>u10CEE</string>
      <string>u10CEF</string>
      <string>u10CF0</string>
      <string>u10CF1</string>
      <string>u10CF2</string>
      <string>u10CFA</string>
      <string>u10CFB</string>
      <string>u10CFC</string>
      <string>u10CFD</string>
      <string>u10CFE</string>
      <string>u10CFF</string>
      <string>uni10C80.ltr</string>
      <string>uni10C81.ltr</string>
      <string>uni10C82.ltr</string>
      <string>uni10C83.ltr</string>
      <string>uni10C84.ltr</string>
      <string>uni10C85.ltr</string>
      <string>uni10C86.ltr</string>
      <string>uni10C87.ltr</string>
      <string>uni10C88.ltr</string>
      <string>uni10C89.ltr</string>
      <string>uni10C8A.ltr</string>
      <string>uni10C8B.ltr</string>
      <string>uni10C8C.ltr</string>
      <string>uni10C8D.ltr</string>
      <string>uni10C8E.ltr</string>
      <string>uni10C8F.ltr</string>
      <string>uni10C90.ltr</string>
      <string>uni10C91.ltr</string>
      <string>uni10C92.ltr</string>
      <string>uni10C93.ltr</string>
      <string>uni10C94.ltr</string>
      <string>uni10C95.ltr</string>
      <string>uni10C96.ltr</string>
      <string>uni10C97.ltr</string>
      <string>uni10C98.ltr</string>
      <string>uni10C99.ltr</string>
      <string>uni10C9A.ltr</string>
      <string>uni10C9B.ltr</string>
      <string>uni10C9C.ltr</string>
      <string>uni10C9D.ltr</string>
      <string>uni10C9E.ltr</string>
      <string>uni10C9F.ltr</string>
      <string>uni10CA0.ltr</string>
      <string>uni10CA1.ltr</string>
      <string>uni10CA2.ltr</string>
      <string>uni10CA3.ltr</string>
      <string>uni10CA4.ltr</string>
      <string>uni10CA5.ltr</string>
      <string>uni10CA6.ltr</string>
      <string>uni10CA7.ltr</string>
      <string>uni10CA8.ltr</string>
      <string>uni10CA9.ltr</string>
      <string>uni10CAA.ltr</string>
      <string>uni10CAB.ltr</string>
      <string>uni10CAC.ltr</string>
      <string>uni10CAD.ltr</string>
      <string>uni10CAE.ltr</string>
      <string>uni10CAF.ltr</string>
      <string>uni10CB0.ltr</string>
      <string>uni10CB1.ltr</string>
      <string>uni10CB2.ltr</string>
      <string>uni10CC0.ltr</string>
      <string>uni10CC1.ltr</string>
      <string>uni10CC2.ltr</string>
      <string>uni10CC3.ltr</string>
      <string>uni10CC4.ltr</string>
      <string>uni10CC5.ltr</string>
      <string>uni10CC6.ltr</string>
      <string>uni10CC7.ltr</string>
      <string>uni10CC8.ltr</string>
      <string>uni10CC9.ltr</string>
      <string>uni10CCA.ltr</string>
      <string>uni10CCB.ltr</string>
      <string>uni10CCC.ltr</string>
      <string>uni10CCD.ltr</string>
      <string>uni10CCE.ltr</string>
      <string>uni10CCF.ltr</string>
      <string>uni10CD0.ltr</string>
      <string>uni10CD1.ltr</string>
      <string>uni10CD2.ltr</string>
      <string>uni10CD3.ltr</string>
      <string>uni10CD4.ltr</string>
      <string>uni10CD5.ltr</string>
      <string>uni10CD6.ltr</string>
      <string>uni10CD7.ltr</string>
      <string>uni10CD8.ltr</string>
      <string>uni10CD9.ltr</string>
      <string>uni10CDA.ltr</string>
      <string>uni10CDB.ltr</string>
      <string>uni10CDC.ltr</string>
      <string>uni10CDD.ltr</string>
      <string>uni10CDE.ltr</string>
      <string>uni10CDF.ltr</string>
      <string>uni10CE0.ltr</string>
      <string>uni10CE1.ltr</string>
      <string>uni10CE2.ltr</string>
      <string>uni10CE3.ltr</string>
      <string>uni10CE4.ltr</string>
      <string>uni10CE5.ltr</string>
      <string>uni10CE6.ltr</string>
      <string>uni10CE7.ltr</string>
      <string>uni10CE8.ltr</string>
      <string>uni10CE9.ltr</string>
      <string>uni10CEA.ltr</string>
      <string>uni10CEB.ltr</string>
      <string>uni10CEC.ltr</string>
      <string>uni10CED.ltr</string>
      <string>uni10CEE.ltr</string>
      <string>uni10CEF.ltr</string>
      <string>uni10CF0.ltr</string>
      <string>uni10CF1.ltr</string>
      <string>uni10CF2.ltr</string>
    </array>
  </dict>
</plist>
