<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>ZWJ</key>
	<string>Z_W_J_.glif</string>
	<key>ZWNJ</key>
	<string>Z_W_N_J_.glif</string>
	<key>a-batak</key>
	<string>a-batak.glif</string>
	<key>aSima-batak</key>
	<string>aS_ima-batak.glif</string>
	<key>a_uSign-batak</key>
	<string>a_uS_ign-batak.glif</string>
	<key>ba-batak</key>
	<string>ba-batak.glif</string>
	<key>ba_uSign-batak</key>
	<string>ba_uS_ign-batak.glif</string>
	<key>batak_null</key>
	<string>batak_null.glif</string>
	<key>binduJudul-batak</key>
	<string>binduJ_udul-batak.glif</string>
	<key>binduNaMetek-batak</key>
	<string>binduN_aM_etek-batak.glif</string>
	<key>binduPangolat-batak</key>
	<string>binduP_angolat-batak.glif</string>
	<key>binduPinarboras-batak</key>
	<string>binduP_inarboras-batak.glif</string>
	<key>ca-batak</key>
	<string>ca-batak.glif</string>
	<key>da-batak</key>
	<string>da-batak.glif</string>
	<key>da_uSign-batak</key>
	<string>da_uS_ign-batak.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>eSign-batak</key>
	<string>eS_ign-batak.glif</string>
	<key>eSignPak-batak</key>
	<string>eS_ignP_ak-batak.glif</string>
	<key>eeSign-batak</key>
	<string>eeS_ign-batak.glif</string>
	<key>ga-batak</key>
	<string>ga-batak.glif</string>
	<key>gaSima-batak</key>
	<string>gaS_ima-batak.glif</string>
	<key>ga_uSign-batak</key>
	<string>ga_uS_ign-batak.glif</string>
	<key>hSign-batak</key>
	<string>hS_ign-batak.glif</string>
	<key>ha-batak</key>
	<string>ha-batak.glif</string>
	<key>haMandai-batak</key>
	<string>haM_andai-batak.glif</string>
	<key>haMandai_uSign-batak</key>
	<string>haM_andai_uS_ign-batak.glif</string>
	<key>haSima-batak</key>
	<string>haS_ima-batak.glif</string>
	<key>ha_uSign-batak</key>
	<string>ha_uS_ign-batak.glif</string>
	<key>i-batak</key>
	<string>i-batak.glif</string>
	<key>iSign-batak</key>
	<string>iS_ign-batak.glif</string>
	<key>iSignKaro-batak</key>
	<string>iS_ignK_aro-batak.glif</string>
	<key>ja-batak</key>
	<string>ja-batak.glif</string>
	<key>ja-batak.btx</key>
	<string>ja-batak.btx.glif</string>
	<key>ja_uSign-batak</key>
	<string>ja_uS_ign-batak.glif</string>
	<key>ja_uSign-batak.btx</key>
	<string>ja_uS_ign-batak.btx.glif</string>
	<key>karoBa-batak</key>
	<string>karoB_a-batak.glif</string>
	<key>karoBa_uSign-batak</key>
	<string>karoB_a_uS_ign-batak.glif</string>
	<key>la-batak</key>
	<string>la-batak.glif</string>
	<key>laSima-batak</key>
	<string>laS_ima-batak.glif</string>
	<key>la_uSign-batak</key>
	<string>la_uS_ign-batak.glif</string>
	<key>ma-batak</key>
	<string>ma-batak.glif</string>
	<key>maSima-batak</key>
	<string>maS_ima-batak.glif</string>
	<key>maSima_uSign-batak</key>
	<string>maS_ima_uS_ign-batak.glif</string>
	<key>ma_uSign-batak</key>
	<string>ma_uS_ign-batak.glif</string>
	<key>mba-batak</key>
	<string>mba-batak.glif</string>
	<key>na-batak</key>
	<string>na-batak.glif</string>
	<key>naMandai-batak</key>
	<string>naM_andai-batak.glif</string>
	<key>naMandai_uSign-batak</key>
	<string>naM_andai_uS_ign-batak.glif</string>
	<key>na_uSign-batak</key>
	<string>na_uS_ign-batak.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nda-batak</key>
	<string>nda-batak.glif</string>
	<key>ngSign-batak</key>
	<string>ngS_ign-batak.glif</string>
	<key>nga-batak</key>
	<string>nga-batak.glif</string>
	<key>nga_uSign-batak</key>
	<string>nga_uS_ign-batak.glif</string>
	<key>nya-batak</key>
	<string>nya-batak.glif</string>
	<key>nya_uSign-batak</key>
	<string>nya_uS_ign-batak.glif</string>
	<key>oSign-batak</key>
	<string>oS_ign-batak.glif</string>
	<key>oSignKaro-batak</key>
	<string>oS_ignK_aro-batak.glif</string>
	<key>pa-batak</key>
	<string>pa-batak.glif</string>
	<key>paSima-batak</key>
	<string>paS_ima-batak.glif</string>
	<key>pakpakWa-batak</key>
	<string>pakpakW_a-batak.glif</string>
	<key>pangolat-batak</key>
	<string>pangolat-batak.glif</string>
	<key>panongonan-batak</key>
	<string>panongonan-batak.glif</string>
	<key>ra-batak</key>
	<string>ra-batak.glif</string>
	<key>raSima-batak</key>
	<string>raS_ima-batak.glif</string>
	<key>ra_uSign-batak</key>
	<string>ra_uS_ign-batak.glif</string>
	<key>sa-batak</key>
	<string>sa-batak.glif</string>
	<key>saMandai-batak</key>
	<string>saM_andai-batak.glif</string>
	<key>saMandai_uSign-batak</key>
	<string>saM_andai_uS_ign-batak.glif</string>
	<key>saSima-batak</key>
	<string>saS_ima-batak.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>taNorth-batak</key>
	<string>taN_orth-batak.glif</string>
	<key>taNorth_uSign-batak</key>
	<string>taN_orth_uS_ign-batak.glif</string>
	<key>taSouth-batak</key>
	<string>taS_outh-batak.glif</string>
	<key>taSouth_uSign-batak</key>
	<string>taS_outh_uS_ign-batak.glif</string>
	<key>tompi-batak</key>
	<string>tompi-batak.glif</string>
	<key>u-batak</key>
	<string>u-batak.glif</string>
	<key>uSign-batak</key>
	<string>uS_ign-batak.glif</string>
	<key>uSign-batak.paMandai</key>
	<string>uS_ign-batak.paM_andai.glif</string>
	<key>uSign-batak.simple</key>
	<string>uS_ign-batak.simple.glif</string>
	<key>uSignSima-batak</key>
	<string>uS_ignS_ima-batak.glif</string>
	<key>wa-batak</key>
	<string>wa-batak.glif</string>
	<key>waSima-batak</key>
	<string>waS_ima-batak.glif</string>
	<key>waSima_uSign-batak</key>
	<string>waS_ima_uS_ign-batak.glif</string>
	<key>wa_uSign-batak</key>
	<string>wa_uS_ign-batak.glif</string>
	<key>ya-batak</key>
	<string>ya-batak.glif</string>
	<key>yaSima-batak</key>
	<string>yaS_ima-batak.glif</string>
	<key>zerowidthspace</key>
	<string>zerowidthspace.glif</string>
</dict>
</plist>
