<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ZWJ</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ZWNJ</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ba-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ba_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.batak_null</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.binduJudul-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.binduNaMetek-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.binduPangolat-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.binduPinarboras-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ca-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.da-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.da_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dottedCircle</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eSignPak-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eeSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ga-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gaSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ga_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ha-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haMandai-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haMandai_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ha_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iSignKaro-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ja-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ja-batak.btx</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ja_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ja_uSign-batak.btx</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.karoBa-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.karoBa_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.la-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.laSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.la_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ma-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.maSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.maSima_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ma_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mba-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.na-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naMandai-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naMandai_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.na_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nbspace</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nda-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nga-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nga_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nya-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nya_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oSignKaro-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pa-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pakpakWa-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pangolat-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.panongonan-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ra-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ra_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sa-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.saMandai-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.saMandai_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.saSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.taNorth-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.taNorth_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.taSouth-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.taSouth_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tompi-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uSign-batak.paMandai</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uSign-batak.simple</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uSignSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wa-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.waSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.waSima_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wa_uSign-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ya-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yaSima-batak</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zerowidthspace</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
