<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>a-beng</key>
    <string>a-beng.glif</string>
    <key>aa-beng</key>
    <string>aa-beng.glif</string>
    <key>aaMatra-beng</key>
    <string>aaM_atra-beng.glif</string>
    <key>aaMatra-beng.fina</key>
    <string>aaM_atra-beng.fina.glif</string>
    <key>ai-beng</key>
    <string>ai-beng.glif</string>
    <key>aiMatra-beng</key>
    <string>aiM_atra-beng.glif</string>
    <key>aiMatra-beng.init</key>
    <string>aiM_atra-beng.init.glif</string>
    <key>anji-beng</key>
    <string>anji-beng.glif</string>
    <key>anudatta-deva</key>
    <string>anudatta-deva.glif</string>
    <key>anusvara-beng</key>
    <string>anusvara-beng.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>assacross</key>
    <string>assacross.glif</string>
    <key>assastroke</key>
    <string>assastroke.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>au-beng</key>
    <string>au-beng.glif</string>
    <key>auLength-beng</key>
    <string>auL_ength-beng.glif</string>
    <key>auLength-beng.fina</key>
    <string>auL_ength-beng.fina.glif</string>
    <key>auMatra-beng</key>
    <string>auM_atra-beng.glif</string>
    <key>avagraha-beng</key>
    <string>avagraha-beng.glif</string>
    <key>b-beng</key>
    <string>b-beng.glif</string>
    <key>b_ba-beng</key>
    <string>b_ba-beng.glif</string>
    <key>b_bha-beng</key>
    <string>b_bha-beng.glif</string>
    <key>b_d_ra-beng</key>
    <string>b_d_ra-beng.glif</string>
    <key>b_da-beng</key>
    <string>b_da-beng.glif</string>
    <key>b_dha-beng</key>
    <string>b_dha-beng.glif</string>
    <key>b_ja-beng</key>
    <string>b_ja-beng.glif</string>
    <key>b_la-beng</key>
    <string>b_la-beng.glif</string>
    <key>b_ra-beng</key>
    <string>b_ra-beng.glif</string>
    <key>b_ra_uMatra-beng</key>
    <string>b_ra_uM_atra-beng.glif</string>
    <key>b_ra_uuMatra-beng</key>
    <string>b_ra_uuM_atra-beng.glif</string>
    <key>ba-beng</key>
    <string>ba-beng.glif</string>
    <key>ba-beng.blwf</key>
    <string>ba-beng.blwf.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bh-beng</key>
    <string>bh-beng.glif</string>
    <key>bh-beng.nukt</key>
    <string>bh-beng.nukt.glif</string>
    <key>bh_ba-beng</key>
    <string>bh_ba-beng.glif</string>
    <key>bh_la-beng</key>
    <string>bh_la-beng.glif</string>
    <key>bh_ra-beng</key>
    <string>bh_ra-beng.glif</string>
    <key>bh_ra_uMatra-beng</key>
    <string>bh_ra_uM_atra-beng.glif</string>
    <key>bh_ra_uuMatra-beng</key>
    <string>bh_ra_uuM_atra-beng.glif</string>
    <key>bha-beng</key>
    <string>bha-beng.glif</string>
    <key>bha-beng.nukt</key>
    <string>bha-beng.nukt.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c-beng</key>
    <string>c-beng.glif</string>
    <key>c-beng.nukt</key>
    <string>c-beng.nukt.glif</string>
    <key>c_ba-beng</key>
    <string>c_ba-beng.glif</string>
    <key>c_ca-beng</key>
    <string>c_ca-beng.glif</string>
    <key>c_ch_ba-beng</key>
    <string>c_ch_ba-beng.glif</string>
    <key>c_ch_ra-beng</key>
    <string>c_ch_ra-beng.glif</string>
    <key>c_cha-beng</key>
    <string>c_cha-beng.glif</string>
    <key>c_na-beng</key>
    <string>c_na-beng.glif</string>
    <key>c_nya-beng</key>
    <string>c_nya-beng.glif</string>
    <key>c_ra-beng</key>
    <string>c_ra-beng.glif</string>
    <key>ca-beng</key>
    <string>ca-beng.glif</string>
    <key>ca-beng.nukt</key>
    <string>ca-beng.nukt.glif</string>
    <key>candrabindu-beng</key>
    <string>candrabindu-beng.glif</string>
    <key>candrabindu-beng.alt</key>
    <string>candrabindu-beng.alt.glif</string>
    <key>ch-beng</key>
    <string>ch-beng.glif</string>
    <key>ch-beng.nukt</key>
    <string>ch-beng.nukt.glif</string>
    <key>ch_ba-beng</key>
    <string>ch_ba-beng.glif</string>
    <key>ch_ra-beng</key>
    <string>ch_ra-beng.glif</string>
    <key>cha-beng</key>
    <string>cha-beng.glif</string>
    <key>cha-beng.nukt</key>
    <string>cha-beng.nukt.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d-beng</key>
    <string>d-beng.glif</string>
    <key>d-beng.nukt</key>
    <string>d-beng.nukt.glif</string>
    <key>d_ba-beng</key>
    <string>d_ba-beng.glif</string>
    <key>d_bh_ra-beng</key>
    <string>d_bh_ra-beng.glif</string>
    <key>d_bha-beng</key>
    <string>d_bha-beng.glif</string>
    <key>d_d_ba-beng</key>
    <string>d_d_ba-beng.glif</string>
    <key>d_da-beng</key>
    <string>d_da-beng.glif</string>
    <key>d_dh_ba-beng</key>
    <string>d_dh_ba-beng.glif</string>
    <key>d_dha-beng</key>
    <string>d_dha-beng.glif</string>
    <key>d_ga-beng</key>
    <string>d_ga-beng.glif</string>
    <key>d_gha-beng</key>
    <string>d_gha-beng.glif</string>
    <key>d_ma-beng</key>
    <string>d_ma-beng.glif</string>
    <key>d_na-beng</key>
    <string>d_na-beng.glif</string>
    <key>d_ra-beng</key>
    <string>d_ra-beng.glif</string>
    <key>d_ra_uMatra-beng</key>
    <string>d_ra_uM_atra-beng.glif</string>
    <key>d_ra_uuMatra-beng</key>
    <string>d_ra_uuM_atra-beng.glif</string>
    <key>da-beng</key>
    <string>da-beng.glif</string>
    <key>da-beng.nukt</key>
    <string>da-beng.nukt.glif</string>
    <key>danda-deva</key>
    <string>danda-deva.glif</string>
    <key>dbldanda-deva</key>
    <string>dbldanda-deva.glif</string>
    <key>dd-beng</key>
    <string>dd-beng.glif</string>
    <key>dd-beng.nukt</key>
    <string>dd-beng.nukt.glif</string>
    <key>ddNukta_ba-beng</key>
    <string>ddN_ukta_ba-beng.glif</string>
    <key>ddNukta_ga-beng</key>
    <string>ddN_ukta_ga-beng.glif</string>
    <key>ddNukta_ra-beng</key>
    <string>ddN_ukta_ra-beng.glif</string>
    <key>dd_ba-beng</key>
    <string>dd_ba-beng.glif</string>
    <key>dd_dda-beng</key>
    <string>dd_dda-beng.glif</string>
    <key>dd_ga-beng</key>
    <string>dd_ga-beng.glif</string>
    <key>dd_ma-beng</key>
    <string>dd_ma-beng.glif</string>
    <key>dd_ra-beng</key>
    <string>dd_ra-beng.glif</string>
    <key>dda-beng</key>
    <string>dda-beng.glif</string>
    <key>ddh-beng</key>
    <string>ddh-beng.glif</string>
    <key>ddh-beng.nukt</key>
    <string>ddh-beng.nukt.glif</string>
    <key>ddhNukta_ba-beng</key>
    <string>ddhN_ukta_ba-beng.glif</string>
    <key>ddhNukta_ra-beng</key>
    <string>ddhN_ukta_ra-beng.glif</string>
    <key>ddh_ba-beng</key>
    <string>ddh_ba-beng.glif</string>
    <key>ddh_ra-beng</key>
    <string>ddh_ra-beng.glif</string>
    <key>ddha-beng</key>
    <string>ddha-beng.glif</string>
    <key>dh-beng</key>
    <string>dh-beng.glif</string>
    <key>dh-beng.nukt</key>
    <string>dh-beng.nukt.glif</string>
    <key>dh_ba-beng</key>
    <string>dh_ba-beng.glif</string>
    <key>dh_ma-beng</key>
    <string>dh_ma-beng.glif</string>
    <key>dh_na-beng</key>
    <string>dh_na-beng.glif</string>
    <key>dh_ra-beng</key>
    <string>dh_ra-beng.glif</string>
    <key>dh_ra_uMatra-beng</key>
    <string>dh_ra_uM_atra-beng.glif</string>
    <key>dh_ra_uuMatra-beng</key>
    <string>dh_ra_uuM_atra-beng.glif</string>
    <key>dha-beng</key>
    <string>dha-beng.glif</string>
    <key>dha-beng.nukt</key>
    <string>dha-beng.nukt.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dottedcircle</key>
    <string>dottedcircle.glif</string>
    <key>e-beng</key>
    <string>e-beng.glif</string>
    <key>eMatra-beng</key>
    <string>eM_atra-beng.glif</string>
    <key>eMatra-beng.init</key>
    <string>eM_atra-beng.init.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight-beng</key>
    <string>eight-beng.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five-beng</key>
    <string>five-beng.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four-beng</key>
    <string>four-beng.glif</string>
    <key>fourNumr-beng</key>
    <string>fourN_umr-beng.glif</string>
    <key>g-beng</key>
    <string>g-beng.glif</string>
    <key>g-beng.nukt</key>
    <string>g-beng.nukt.glif</string>
    <key>g_ba-beng</key>
    <string>g_ba-beng.glif</string>
    <key>g_da-beng</key>
    <string>g_da-beng.glif</string>
    <key>g_dha-beng</key>
    <string>g_dha-beng.glif</string>
    <key>g_ga-beng</key>
    <string>g_ga-beng.glif</string>
    <key>g_la-beng</key>
    <string>g_la-beng.glif</string>
    <key>g_ma-beng</key>
    <string>g_ma-beng.glif</string>
    <key>g_na-beng</key>
    <string>g_na-beng.glif</string>
    <key>g_ra-beng</key>
    <string>g_ra-beng.glif</string>
    <key>g_ra_uMatra-beng</key>
    <string>g_ra_uM_atra-beng.glif</string>
    <key>g_ra_uuMatra-beng</key>
    <string>g_ra_uuM_atra-beng.glif</string>
    <key>ga-beng</key>
    <string>ga-beng.glif</string>
    <key>ga-beng.nukt</key>
    <string>ga-beng.nukt.glif</string>
    <key>ga_uMatra-beng</key>
    <string>ga_uM_atra-beng.glif</string>
    <key>ganda-beng</key>
    <string>ganda-beng.glif</string>
    <key>gh-beng</key>
    <string>gh-beng.glif</string>
    <key>gh-beng.nukt</key>
    <string>gh-beng.nukt.glif</string>
    <key>gh_ba-beng</key>
    <string>gh_ba-beng.glif</string>
    <key>gh_la-beng</key>
    <string>gh_la-beng.glif</string>
    <key>gh_na-beng</key>
    <string>gh_na-beng.glif</string>
    <key>gh_ra-beng</key>
    <string>gh_ra-beng.glif</string>
    <key>gha-beng</key>
    <string>gha-beng.glif</string>
    <key>gha-beng.nukt</key>
    <string>gha-beng.nukt.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>h-beng</key>
    <string>h-beng.glif</string>
    <key>h-beng.nukt</key>
    <string>h-beng.nukt.glif</string>
    <key>h_ba-beng</key>
    <string>h_ba-beng.glif</string>
    <key>h_la-beng</key>
    <string>h_la-beng.glif</string>
    <key>h_ma-beng</key>
    <string>h_ma-beng.glif</string>
    <key>h_na-beng</key>
    <string>h_na-beng.glif</string>
    <key>h_nna-beng</key>
    <string>h_nna-beng.glif</string>
    <key>h_ra-beng</key>
    <string>h_ra-beng.glif</string>
    <key>ha-beng</key>
    <string>ha-beng.glif</string>
    <key>ha-beng.nukt</key>
    <string>ha-beng.nukt.glif</string>
    <key>ha_rVocalicMatra-beng</key>
    <string>ha_rV_ocalicM_atra-beng.glif</string>
    <key>ha_uMatra-beng</key>
    <string>ha_uM_atra-beng.glif</string>
    <key>halant-beng</key>
    <string>halant-beng.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i-beng</key>
    <string>i-beng.glif</string>
    <key>iMatra-beng</key>
    <string>iM_atra-beng.glif</string>
    <key>iMatra-beng.short</key>
    <string>iM_atra-beng.short.glif</string>
    <key>iMatra-beng.wide1</key>
    <string>iM_atra-beng.wide1.glif</string>
    <key>iMatra-beng.wide2</key>
    <string>iM_atra-beng.wide2.glif</string>
    <key>iMatra-beng.wide3</key>
    <string>iM_atra-beng.wide3.glif</string>
    <key>iMatra-beng.wide4</key>
    <string>iM_atra-beng.wide4.glif</string>
    <key>iMatra_candrabindu-beng</key>
    <string>iM_atra_candrabindu-beng.glif</string>
    <key>iMatra_reph-beng</key>
    <string>iM_atra_reph-beng.glif</string>
    <key>ii-beng</key>
    <string>ii-beng.glif</string>
    <key>iiMatra-beng</key>
    <string>iiM_atra-beng.glif</string>
    <key>iiMatra-beng.fina</key>
    <string>iiM_atra-beng.fina.glif</string>
    <key>iiMatra_reph-beng</key>
    <string>iiM_atra_reph-beng.glif</string>
    <key>iiMatra_reph_candrabindu-beng</key>
    <string>iiM_atra_reph_candrabindu-beng.glif</string>
    <key>isshar-beng</key>
    <string>isshar-beng.glif</string>
    <key>j-beng</key>
    <string>j-beng.glif</string>
    <key>j-beng.nukt</key>
    <string>j-beng.nukt.glif</string>
    <key>j_ba-beng</key>
    <string>j_ba-beng.glif</string>
    <key>j_j_ba-beng</key>
    <string>j_j_ba-beng.glif</string>
    <key>j_ja-beng</key>
    <string>j_ja-beng.glif</string>
    <key>j_jha-beng</key>
    <string>j_jha-beng.glif</string>
    <key>j_ny-beng</key>
    <string>j_ny-beng.glif</string>
    <key>j_ny_ba-beng</key>
    <string>j_ny_ba-beng.glif</string>
    <key>j_ny_ra-beng</key>
    <string>j_ny_ra-beng.glif</string>
    <key>j_nya-beng</key>
    <string>j_nya-beng.glif</string>
    <key>j_ra-beng</key>
    <string>j_ra-beng.glif</string>
    <key>ja-beng</key>
    <string>ja-beng.glif</string>
    <key>ja-beng.nukt</key>
    <string>ja-beng.nukt.glif</string>
    <key>jh-beng</key>
    <string>jh-beng.glif</string>
    <key>jh-beng.nukt</key>
    <string>jh-beng.nukt.glif</string>
    <key>jh_ba-beng</key>
    <string>jh_ba-beng.glif</string>
    <key>jh_ra-beng</key>
    <string>jh_ra-beng.glif</string>
    <key>jha-beng</key>
    <string>jha-beng.glif</string>
    <key>jha-beng.nukt</key>
    <string>jha-beng.nukt.glif</string>
    <key>k-beng</key>
    <string>k-beng.glif</string>
    <key>k-beng.nukt</key>
    <string>k-beng.nukt.glif</string>
    <key>k_ba-beng</key>
    <string>k_ba-beng.glif</string>
    <key>k_ka-beng</key>
    <string>k_ka-beng.glif</string>
    <key>k_la-beng</key>
    <string>k_la-beng.glif</string>
    <key>k_ma-beng</key>
    <string>k_ma-beng.glif</string>
    <key>k_na-beng</key>
    <string>k_na-beng.glif</string>
    <key>k_ra-beng</key>
    <string>k_ra-beng.glif</string>
    <key>k_sa-beng</key>
    <string>k_sa-beng.glif</string>
    <key>k_ss-beng</key>
    <string>k_ss-beng.glif</string>
    <key>k_ss_ba-beng</key>
    <string>k_ss_ba-beng.glif</string>
    <key>k_ss_ma-beng</key>
    <string>k_ss_ma-beng.glif</string>
    <key>k_ss_nna-beng</key>
    <string>k_ss_nna-beng.glif</string>
    <key>k_ss_ra-beng</key>
    <string>k_ss_ra-beng.glif</string>
    <key>k_ssa-beng</key>
    <string>k_ssa-beng.glif</string>
    <key>k_t_ba-beng</key>
    <string>k_t_ba-beng.glif</string>
    <key>k_t_ra-beng</key>
    <string>k_t_ra-beng.glif</string>
    <key>k_ta-beng</key>
    <string>k_ta-beng.glif</string>
    <key>k_tt_ra-beng</key>
    <string>k_tt_ra-beng.glif</string>
    <key>k_tt_ra_auLength-beng</key>
    <string>k_tt_ra_auL_ength-beng.glif</string>
    <key>k_tt_ra_iMatra-beng</key>
    <string>k_tt_ra_iM_atra-beng.glif</string>
    <key>k_tt_ra_iiMatra-beng</key>
    <string>k_tt_ra_iiM_atra-beng.glif</string>
    <key>k_tta-beng</key>
    <string>k_tta-beng.glif</string>
    <key>k_tta_auLength-beng</key>
    <string>k_tta_auL_ength-beng.glif</string>
    <key>k_tta_iMatra-beng</key>
    <string>k_tta_iM_atra-beng.glif</string>
    <key>k_tta_iiMatra-beng</key>
    <string>k_tta_iiM_atra-beng.glif</string>
    <key>ka-beng</key>
    <string>ka-beng.glif</string>
    <key>ka-beng.nukt</key>
    <string>ka-beng.nukt.glif</string>
    <key>kh-beng</key>
    <string>kh-beng.glif</string>
    <key>kh-beng.nukt</key>
    <string>kh-beng.nukt.glif</string>
    <key>kh_ba-beng</key>
    <string>kh_ba-beng.glif</string>
    <key>kh_ra-beng</key>
    <string>kh_ra-beng.glif</string>
    <key>kha-beng</key>
    <string>kha-beng.glif</string>
    <key>kha-beng.nukt</key>
    <string>kha-beng.nukt.glif</string>
    <key>l-beng</key>
    <string>l-beng.glif</string>
    <key>l-beng.nukt</key>
    <string>l-beng.nukt.glif</string>
    <key>lVocalic-beng</key>
    <string>lV_ocalic-beng.glif</string>
    <key>lVocalicMatra-beng</key>
    <string>lV_ocalicM_atra-beng.glif</string>
    <key>l_ba-beng</key>
    <string>l_ba-beng.glif</string>
    <key>l_da-beng</key>
    <string>l_da-beng.glif</string>
    <key>l_dd_ra-beng</key>
    <string>l_dd_ra-beng.glif</string>
    <key>l_dda-beng</key>
    <string>l_dda-beng.glif</string>
    <key>l_dha-beng</key>
    <string>l_dha-beng.glif</string>
    <key>l_ga-beng</key>
    <string>l_ga-beng.glif</string>
    <key>l_ga_uMatra-beng</key>
    <string>l_ga_uM_atra-beng.glif</string>
    <key>l_ka-beng</key>
    <string>l_ka-beng.glif</string>
    <key>l_la-beng</key>
    <string>l_la-beng.glif</string>
    <key>l_ma-beng</key>
    <string>l_ma-beng.glif</string>
    <key>l_pa-beng</key>
    <string>l_pa-beng.glif</string>
    <key>l_pha-beng</key>
    <string>l_pha-beng.glif</string>
    <key>l_ra-beng</key>
    <string>l_ra-beng.glif</string>
    <key>l_ta-beng</key>
    <string>l_ta-beng.glif</string>
    <key>l_tt_ra-beng</key>
    <string>l_tt_ra-beng.glif</string>
    <key>l_tt_ra_auLength-beng</key>
    <string>l_tt_ra_auL_ength-beng.glif</string>
    <key>l_tt_ra_iiMatra-beng</key>
    <string>l_tt_ra_iiM_atra-beng.glif</string>
    <key>l_tta-beng</key>
    <string>l_tta-beng.glif</string>
    <key>l_tta_auLength-beng</key>
    <string>l_tta_auL_ength-beng.glif</string>
    <key>l_tta_iiMatra-beng</key>
    <string>l_tta_iiM_atra-beng.glif</string>
    <key>la-beng</key>
    <string>la-beng.glif</string>
    <key>la-beng.nukt</key>
    <string>la-beng.nukt.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>llVocalic-beng</key>
    <string>llV_ocalic-beng.glif</string>
    <key>llVocalicMatra-beng</key>
    <string>llV_ocalicM_atra-beng.glif</string>
    <key>m-beng</key>
    <string>m-beng.glif</string>
    <key>m-beng.nukt</key>
    <string>m-beng.nukt.glif</string>
    <key>m_b_ra-beng</key>
    <string>m_b_ra-beng.glif</string>
    <key>m_ba-beng</key>
    <string>m_ba-beng.glif</string>
    <key>m_bh_ra-beng</key>
    <string>m_bh_ra-beng.glif</string>
    <key>m_bha-beng</key>
    <string>m_bha-beng.glif</string>
    <key>m_da-beng</key>
    <string>m_da-beng.glif</string>
    <key>m_la-beng</key>
    <string>m_la-beng.glif</string>
    <key>m_ma-beng</key>
    <string>m_ma-beng.glif</string>
    <key>m_na-beng</key>
    <string>m_na-beng.glif</string>
    <key>m_p_ra-beng</key>
    <string>m_p_ra-beng.glif</string>
    <key>m_pa-beng</key>
    <string>m_pa-beng.glif</string>
    <key>m_pha-beng</key>
    <string>m_pha-beng.glif</string>
    <key>m_ra-beng</key>
    <string>m_ra-beng.glif</string>
    <key>m_sa-beng</key>
    <string>m_sa-beng.glif</string>
    <key>m_ta-beng</key>
    <string>m_ta-beng.glif</string>
    <key>ma-beng</key>
    <string>ma-beng.glif</string>
    <key>ma-beng.nukt</key>
    <string>ma-beng.nukt.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n-beng</key>
    <string>n-beng.glif</string>
    <key>n-beng.nukt</key>
    <string>n-beng.nukt.glif</string>
    <key>n_ba-beng</key>
    <string>n_ba-beng.glif</string>
    <key>n_d_ba-beng</key>
    <string>n_d_ba-beng.glif</string>
    <key>n_d_ra-beng</key>
    <string>n_d_ra-beng.glif</string>
    <key>n_da-beng</key>
    <string>n_da-beng.glif</string>
    <key>n_dd_ra-beng</key>
    <string>n_dd_ra-beng.glif</string>
    <key>n_dda-beng</key>
    <string>n_dda-beng.glif</string>
    <key>n_dh_ra-beng</key>
    <string>n_dh_ra-beng.glif</string>
    <key>n_dha-beng</key>
    <string>n_dha-beng.glif</string>
    <key>n_ma-beng</key>
    <string>n_ma-beng.glif</string>
    <key>n_na-beng</key>
    <string>n_na-beng.glif</string>
    <key>n_ra-beng</key>
    <string>n_ra-beng.glif</string>
    <key>n_sa-beng</key>
    <string>n_sa-beng.glif</string>
    <key>n_t_ba-beng</key>
    <string>n_t_ba-beng.glif</string>
    <key>n_t_ra-beng</key>
    <string>n_t_ra-beng.glif</string>
    <key>n_ta-beng</key>
    <string>n_ta-beng.glif</string>
    <key>n_ta_uMatra-beng</key>
    <string>n_ta_uM_atra-beng.glif</string>
    <key>n_th_ra-beng</key>
    <string>n_th_ra-beng.glif</string>
    <key>n_tha-beng</key>
    <string>n_tha-beng.glif</string>
    <key>n_tt_iMatra-beng</key>
    <string>n_tt_iM_atra-beng.glif</string>
    <key>n_tt_ra-beng</key>
    <string>n_tt_ra-beng.glif</string>
    <key>n_tt_ra_auLength-beng</key>
    <string>n_tt_ra_auL_ength-beng.glif</string>
    <key>n_tt_ra_iMatra-beng</key>
    <string>n_tt_ra_iM_atra-beng.glif</string>
    <key>n_tt_ra_iiMatra-beng</key>
    <string>n_tt_ra_iiM_atra-beng.glif</string>
    <key>n_tta-beng</key>
    <string>n_tta-beng.glif</string>
    <key>n_tta_auLength-beng</key>
    <string>n_tta_auL_ength-beng.glif</string>
    <key>n_tta_iiMatra-beng</key>
    <string>n_tta_iiM_atra-beng.glif</string>
    <key>n_ttha-beng</key>
    <string>n_ttha-beng.glif</string>
    <key>n_ttha_iiMatra-beng</key>
    <string>n_ttha_iiM_atra-beng.glif</string>
    <key>na-beng</key>
    <string>na-beng.glif</string>
    <key>na-beng.nukt</key>
    <string>na-beng.nukt.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ng-beng</key>
    <string>ng-beng.glif</string>
    <key>ng-beng.nukt</key>
    <string>ng-beng.nukt.glif</string>
    <key>ng_ba-beng</key>
    <string>ng_ba-beng.glif</string>
    <key>ng_ga-beng</key>
    <string>ng_ga-beng.glif</string>
    <key>ng_gha-beng</key>
    <string>ng_gha-beng.glif</string>
    <key>ng_k_ra-beng</key>
    <string>ng_k_ra-beng.glif</string>
    <key>ng_k_ssa-beng</key>
    <string>ng_k_ssa-beng.glif</string>
    <key>ng_ka-beng</key>
    <string>ng_ka-beng.glif</string>
    <key>ng_kha-beng</key>
    <string>ng_kha-beng.glif</string>
    <key>ng_ma-beng</key>
    <string>ng_ma-beng.glif</string>
    <key>ng_ra-beng</key>
    <string>ng_ra-beng.glif</string>
    <key>nga-beng</key>
    <string>nga-beng.glif</string>
    <key>nga-beng.nukt</key>
    <string>nga-beng.nukt.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine-beng</key>
    <string>nine-beng.glif</string>
    <key>nn-beng</key>
    <string>nn-beng.glif</string>
    <key>nn-beng.nukt</key>
    <string>nn-beng.nukt.glif</string>
    <key>nn_ba-beng</key>
    <string>nn_ba-beng.glif</string>
    <key>nn_dd_ra-beng</key>
    <string>nn_dd_ra-beng.glif</string>
    <key>nn_dda-beng</key>
    <string>nn_dda-beng.glif</string>
    <key>nn_ddha-beng</key>
    <string>nn_ddha-beng.glif</string>
    <key>nn_ma-beng</key>
    <string>nn_ma-beng.glif</string>
    <key>nn_na-beng</key>
    <string>nn_na-beng.glif</string>
    <key>nn_nna-beng</key>
    <string>nn_nna-beng.glif</string>
    <key>nn_ra-beng</key>
    <string>nn_ra-beng.glif</string>
    <key>nn_tt_ra-beng</key>
    <string>nn_tt_ra-beng.glif</string>
    <key>nn_tt_ra_auLength-beng</key>
    <string>nn_tt_ra_auL_ength-beng.glif</string>
    <key>nn_tt_ra_iiMatra-beng</key>
    <string>nn_tt_ra_iiM_atra-beng.glif</string>
    <key>nn_tta-beng</key>
    <string>nn_tta-beng.glif</string>
    <key>nn_tta_auLength-beng</key>
    <string>nn_tta_auL_ength-beng.glif</string>
    <key>nn_tta_iiMatra-beng</key>
    <string>nn_tta_iiM_atra-beng.glif</string>
    <key>nn_ttha-beng</key>
    <string>nn_ttha-beng.glif</string>
    <key>nn_ttha_iiMatra-beng</key>
    <string>nn_ttha_iiM_atra-beng.glif</string>
    <key>nna-beng</key>
    <string>nna-beng.glif</string>
    <key>nna-beng.nukt</key>
    <string>nna-beng.nukt.glif</string>
    <key>nukta-beng</key>
    <string>nukta-beng.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>ny-beng</key>
    <string>ny-beng.glif</string>
    <key>ny-beng.nukt</key>
    <string>ny-beng.nukt.glif</string>
    <key>ny_ba-beng</key>
    <string>ny_ba-beng.glif</string>
    <key>ny_ca-beng</key>
    <string>ny_ca-beng.glif</string>
    <key>ny_cha-beng</key>
    <string>ny_cha-beng.glif</string>
    <key>ny_ja-beng</key>
    <string>ny_ja-beng.glif</string>
    <key>ny_jha-beng</key>
    <string>ny_jha-beng.glif</string>
    <key>ny_ra-beng</key>
    <string>ny_ra-beng.glif</string>
    <key>nya-beng</key>
    <string>nya-beng.glif</string>
    <key>nya-beng.nukt</key>
    <string>nya-beng.nukt.glif</string>
    <key>o-beng</key>
    <string>o-beng.glif</string>
    <key>oMatra-beng</key>
    <string>oM_atra-beng.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one-beng</key>
    <string>one-beng.glif</string>
    <key>oneLessNumr-beng</key>
    <string>oneL_essN_umr-beng.glif</string>
    <key>oneNumr-beng</key>
    <string>oneN_umr-beng.glif</string>
    <key>p-beng</key>
    <string>p-beng.glif</string>
    <key>p-beng.nukt</key>
    <string>p-beng.nukt.glif</string>
    <key>p_ba-beng</key>
    <string>p_ba-beng.glif</string>
    <key>p_la-beng</key>
    <string>p_la-beng.glif</string>
    <key>p_ma-beng</key>
    <string>p_ma-beng.glif</string>
    <key>p_na-beng</key>
    <string>p_na-beng.glif</string>
    <key>p_pa-beng</key>
    <string>p_pa-beng.glif</string>
    <key>p_ra-beng</key>
    <string>p_ra-beng.glif</string>
    <key>p_ra_uMatra-beng</key>
    <string>p_ra_uM_atra-beng.glif</string>
    <key>p_ra_uuMatra-beng</key>
    <string>p_ra_uuM_atra-beng.glif</string>
    <key>p_sa-beng</key>
    <string>p_sa-beng.glif</string>
    <key>p_ta-beng</key>
    <string>p_ta-beng.glif</string>
    <key>p_ta_uMatra-beng</key>
    <string>p_ta_uM_atra-beng.glif</string>
    <key>p_tta-beng</key>
    <string>p_tta-beng.glif</string>
    <key>p_tta_auLength-beng</key>
    <string>p_tta_auL_ength-beng.glif</string>
    <key>p_tta_iiMatra-beng</key>
    <string>p_tta_iiM_atra-beng.glif</string>
    <key>pa-beng</key>
    <string>pa-beng.glif</string>
    <key>pa-beng.nukt</key>
    <string>pa-beng.nukt.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>ph-beng</key>
    <string>ph-beng.glif</string>
    <key>ph-beng.nukt</key>
    <string>ph-beng.nukt.glif</string>
    <key>ph_ba-beng</key>
    <string>ph_ba-beng.glif</string>
    <key>ph_la-beng</key>
    <string>ph_la-beng.glif</string>
    <key>ph_ra-beng</key>
    <string>ph_ra-beng.glif</string>
    <key>ph_tta-beng</key>
    <string>ph_tta-beng.glif</string>
    <key>ph_tta_auLength-beng</key>
    <string>ph_tta_auL_ength-beng.glif</string>
    <key>ph_tta_iiMatra-beng</key>
    <string>ph_tta_iiM_atra-beng.glif</string>
    <key>pha-beng</key>
    <string>pha-beng.glif</string>
    <key>pha-beng.nukt</key>
    <string>pha-beng.nukt.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r-beng</key>
    <string>r-beng.glif</string>
    <key>rVocalic-beng</key>
    <string>rV_ocalic-beng.glif</string>
    <key>rVocalicMatra-beng</key>
    <string>rV_ocalicM_atra-beng.glif</string>
    <key>ra-beng</key>
    <string>ra-beng.glif</string>
    <key>ra-beng.blwf</key>
    <string>ra-beng.blwf.glif</string>
    <key>ra_uMatra-beng</key>
    <string>ra_uM_atra-beng.glif</string>
    <key>ra_uuMatra-beng</key>
    <string>ra_uuM_atra-beng.glif</string>
    <key>ralowerdiagonal-beng</key>
    <string>ralowerdiagonal-beng.glif</string>
    <key>ralowerdiagonal-beng.nukt</key>
    <string>ralowerdiagonal-beng.nukt.glif</string>
    <key>ralowerdiagonalhalf-beng</key>
    <string>ralowerdiagonalhalf-beng.glif</string>
    <key>ralowerdiagonalhalf-beng.nukt</key>
    <string>ralowerdiagonalhalf-beng.nukt.glif</string>
    <key>ralowerdiagonalhalf_ba-beng</key>
    <string>ralowerdiagonalhalf_ba-beng.glif</string>
    <key>ralowerdiagonalhalf_ra-beng</key>
    <string>ralowerdiagonalhalf_ra-beng.glif</string>
    <key>ramiddlediagonal-beng</key>
    <string>ramiddlediagonal-beng.glif</string>
    <key>ramiddlediagonal-beng.nukt</key>
    <string>ramiddlediagonal-beng.nukt.glif</string>
    <key>ramiddlediagonal_uMatra-beng</key>
    <string>ramiddlediagonal_uM_atra-beng.glif</string>
    <key>ramiddlediagonal_uuMatra-beng</key>
    <string>ramiddlediagonal_uuM_atra-beng.glif</string>
    <key>ramiddlediagonalhalf-beng</key>
    <string>ramiddlediagonalhalf-beng.glif</string>
    <key>ramiddlediagonalhalf-beng.nukt</key>
    <string>ramiddlediagonalhalf-beng.nukt.glif</string>
    <key>ramiddlediagonalhalf_ba-beng</key>
    <string>ramiddlediagonalhalf_ba-beng.glif</string>
    <key>ramiddlediagonalhalf_ra-beng</key>
    <string>ramiddlediagonalhalf_ra-beng.glif</string>
    <key>reph-beng</key>
    <string>reph-beng.glif</string>
    <key>reph_candrabindu-beng</key>
    <string>reph_candrabindu-beng.glif</string>
    <key>rha-beng</key>
    <string>rha-beng.glif</string>
    <key>rrVocalic-beng</key>
    <string>rrV_ocalic-beng.glif</string>
    <key>rrVocalicMatra-beng</key>
    <string>rrV_ocalicM_atra-beng.glif</string>
    <key>rra-beng</key>
    <string>rra-beng.glif</string>
    <key>rupee-beng</key>
    <string>rupee-beng.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>rupeemark-beng</key>
    <string>rupeemark-beng.glif</string>
    <key>s-beng</key>
    <string>s-beng.glif</string>
    <key>s-beng.nukt</key>
    <string>s-beng.nukt.glif</string>
    <key>s_ba-beng</key>
    <string>s_ba-beng.glif</string>
    <key>s_k_ra-beng</key>
    <string>s_k_ra-beng.glif</string>
    <key>s_ka-beng</key>
    <string>s_ka-beng.glif</string>
    <key>s_kha-beng</key>
    <string>s_kha-beng.glif</string>
    <key>s_la-beng</key>
    <string>s_la-beng.glif</string>
    <key>s_la_uMatra-beng</key>
    <string>s_la_uM_atra-beng.glif</string>
    <key>s_ma-beng</key>
    <string>s_ma-beng.glif</string>
    <key>s_na-beng</key>
    <string>s_na-beng.glif</string>
    <key>s_p_ra-beng</key>
    <string>s_p_ra-beng.glif</string>
    <key>s_pa-beng</key>
    <string>s_pa-beng.glif</string>
    <key>s_pha-beng</key>
    <string>s_pha-beng.glif</string>
    <key>s_ra-beng</key>
    <string>s_ra-beng.glif</string>
    <key>s_ra_uMatra-beng</key>
    <string>s_ra_uM_atra-beng.glif</string>
    <key>s_ra_uuMatra-beng</key>
    <string>s_ra_uuM_atra-beng.glif</string>
    <key>s_t_ba-beng</key>
    <string>s_t_ba-beng.glif</string>
    <key>s_t_ra-beng</key>
    <string>s_t_ra-beng.glif</string>
    <key>s_ta-beng</key>
    <string>s_ta-beng.glif</string>
    <key>s_ta_uMatra-beng</key>
    <string>s_ta_uM_atra-beng.glif</string>
    <key>s_tha-beng</key>
    <string>s_tha-beng.glif</string>
    <key>s_tt_ra-beng</key>
    <string>s_tt_ra-beng.glif</string>
    <key>s_tt_ra_auLength-beng</key>
    <string>s_tt_ra_auL_ength-beng.glif</string>
    <key>s_tt_ra_iiMatra-beng</key>
    <string>s_tt_ra_iiM_atra-beng.glif</string>
    <key>s_tta-beng</key>
    <string>s_tta-beng.glif</string>
    <key>s_tta_auLength-beng</key>
    <string>s_tta_auL_ength-beng.glif</string>
    <key>s_tta_iiMatra-beng</key>
    <string>s_tta_iiM_atra-beng.glif</string>
    <key>sa-beng</key>
    <string>sa-beng.glif</string>
    <key>sa-beng.nukt</key>
    <string>sa-beng.nukt.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven-beng</key>
    <string>seven-beng.glif</string>
    <key>sh-beng</key>
    <string>sh-beng.glif</string>
    <key>sh-beng.nukt</key>
    <string>sh-beng.nukt.glif</string>
    <key>sh_ba-beng</key>
    <string>sh_ba-beng.glif</string>
    <key>sh_ca-beng</key>
    <string>sh_ca-beng.glif</string>
    <key>sh_cha-beng</key>
    <string>sh_cha-beng.glif</string>
    <key>sh_la-beng</key>
    <string>sh_la-beng.glif</string>
    <key>sh_ma-beng</key>
    <string>sh_ma-beng.glif</string>
    <key>sh_na-beng</key>
    <string>sh_na-beng.glif</string>
    <key>sh_ra-beng</key>
    <string>sh_ra-beng.glif</string>
    <key>sh_ra_uMatra-beng</key>
    <string>sh_ra_uM_atra-beng.glif</string>
    <key>sh_ra_uuMatra-beng</key>
    <string>sh_ra_uuM_atra-beng.glif</string>
    <key>sh_ta-beng</key>
    <string>sh_ta-beng.glif</string>
    <key>sha-beng</key>
    <string>sha-beng.glif</string>
    <key>sha-beng.nukt</key>
    <string>sha-beng.nukt.glif</string>
    <key>sha_uMatra-beng</key>
    <string>sha_uM_atra-beng.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six-beng</key>
    <string>six-beng.glif</string>
    <key>sixteenDnom-beng</key>
    <string>sixteenD_nom-beng.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ss-beng</key>
    <string>ss-beng.glif</string>
    <key>ss-beng.nukt</key>
    <string>ss-beng.nukt.glif</string>
    <key>ss_ba-beng</key>
    <string>ss_ba-beng.glif</string>
    <key>ss_k_ra-beng</key>
    <string>ss_k_ra-beng.glif</string>
    <key>ss_ka-beng</key>
    <string>ss_ka-beng.glif</string>
    <key>ss_ma-beng</key>
    <string>ss_ma-beng.glif</string>
    <key>ss_nna-beng</key>
    <string>ss_nna-beng.glif</string>
    <key>ss_pa-beng</key>
    <string>ss_pa-beng.glif</string>
    <key>ss_pha-beng</key>
    <string>ss_pha-beng.glif</string>
    <key>ss_ra-beng</key>
    <string>ss_ra-beng.glif</string>
    <key>ss_tt_ra-beng</key>
    <string>ss_tt_ra-beng.glif</string>
    <key>ss_tt_ra_auLength-beng</key>
    <string>ss_tt_ra_auL_ength-beng.glif</string>
    <key>ss_tt_ra_iMatra-beng</key>
    <string>ss_tt_ra_iM_atra-beng.glif</string>
    <key>ss_tt_ra_iiMatra-beng</key>
    <string>ss_tt_ra_iiM_atra-beng.glif</string>
    <key>ss_tta-beng</key>
    <string>ss_tta-beng.glif</string>
    <key>ss_tta_auLength-beng</key>
    <string>ss_tta_auL_ength-beng.glif</string>
    <key>ss_tta_iMatra-beng</key>
    <string>ss_tta_iM_atra-beng.glif</string>
    <key>ss_tta_iiMatra-beng</key>
    <string>ss_tta_iiM_atra-beng.glif</string>
    <key>ss_ttha-beng</key>
    <string>ss_ttha-beng.glif</string>
    <key>ss_ttha_iiMatra-beng</key>
    <string>ss_ttha_iiM_atra-beng.glif</string>
    <key>ssa-beng</key>
    <string>ssa-beng.glif</string>
    <key>ssa-beng.nukt</key>
    <string>ssa-beng.nukt.glif</string>
    <key>t-beng</key>
    <string>t-beng.glif</string>
    <key>t-beng.nukt</key>
    <string>t-beng.nukt.glif</string>
    <key>t_ba-beng</key>
    <string>t_ba-beng.glif</string>
    <key>t_la-beng</key>
    <string>t_la-beng.glif</string>
    <key>t_ma-beng</key>
    <string>t_ma-beng.glif</string>
    <key>t_na-beng</key>
    <string>t_na-beng.glif</string>
    <key>t_ra-beng</key>
    <string>t_ra-beng.glif</string>
    <key>t_ra_uMatra-beng</key>
    <string>t_ra_uM_atra-beng.glif</string>
    <key>t_ra_uuMatra-beng</key>
    <string>t_ra_uuM_atra-beng.glif</string>
    <key>t_t_ba-beng</key>
    <string>t_t_ba-beng.glif</string>
    <key>t_ta-beng</key>
    <string>t_ta-beng.glif</string>
    <key>t_tha-beng</key>
    <string>t_tha-beng.glif</string>
    <key>ta-beng</key>
    <string>ta-beng.glif</string>
    <key>ta-beng.nukt</key>
    <string>ta-beng.nukt.glif</string>
    <key>taKhanda-beng</key>
    <string>taK_handa-beng.glif</string>
    <key>th-beng</key>
    <string>th-beng.glif</string>
    <key>th-beng.nukt</key>
    <string>th-beng.nukt.glif</string>
    <key>th_ba-beng</key>
    <string>th_ba-beng.glif</string>
    <key>th_ra-beng</key>
    <string>th_ra-beng.glif</string>
    <key>th_ra_uMatra-beng</key>
    <string>th_ra_uM_atra-beng.glif</string>
    <key>th_ra_uuMatra-beng</key>
    <string>th_ra_uuM_atra-beng.glif</string>
    <key>tha-beng</key>
    <string>tha-beng.glif</string>
    <key>tha-beng.nukt</key>
    <string>tha-beng.nukt.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three-beng</key>
    <string>three-beng.glif</string>
    <key>threeNumr-beng</key>
    <string>threeN_umr-beng.glif</string>
    <key>tt-beng</key>
    <string>tt-beng.glif</string>
    <key>tt-beng.nukt</key>
    <string>tt-beng.nukt.glif</string>
    <key>tt_ba-beng</key>
    <string>tt_ba-beng.glif</string>
    <key>tt_ba_auLength-beng</key>
    <string>tt_ba_auL_ength-beng.glif</string>
    <key>tt_ba_iMatra-beng</key>
    <string>tt_ba_iM_atra-beng.glif</string>
    <key>tt_ba_iiMatra-beng</key>
    <string>tt_ba_iiM_atra-beng.glif</string>
    <key>tt_ma-beng</key>
    <string>tt_ma-beng.glif</string>
    <key>tt_ma_iMatra-beng</key>
    <string>tt_ma_iM_atra-beng.glif</string>
    <key>tt_ma_iiMatra-beng</key>
    <string>tt_ma_iiM_atra-beng.glif</string>
    <key>tt_ra-beng</key>
    <string>tt_ra-beng.glif</string>
    <key>tt_ra_auLength-beng</key>
    <string>tt_ra_auL_ength-beng.glif</string>
    <key>tt_ra_iMatra-beng</key>
    <string>tt_ra_iM_atra-beng.glif</string>
    <key>tt_ra_iiMatra-beng</key>
    <string>tt_ra_iiM_atra-beng.glif</string>
    <key>tt_tta-beng</key>
    <string>tt_tta-beng.glif</string>
    <key>tt_tta_auLength-beng</key>
    <string>tt_tta_auL_ength-beng.glif</string>
    <key>tt_tta_iMatra-beng</key>
    <string>tt_tta_iM_atra-beng.glif</string>
    <key>tt_tta_iiMatra-beng</key>
    <string>tt_tta_iiM_atra-beng.glif</string>
    <key>tta-beng</key>
    <string>tta-beng.glif</string>
    <key>tta-beng.nukt</key>
    <string>tta-beng.nukt.glif</string>
    <key>tta_auLength-beng</key>
    <string>tta_auL_ength-beng.glif</string>
    <key>tta_iMatra-beng</key>
    <string>tta_iM_atra-beng.glif</string>
    <key>tta_iiMatra-beng</key>
    <string>tta_iiM_atra-beng.glif</string>
    <key>tth-beng</key>
    <string>tth-beng.glif</string>
    <key>tth-beng.nukt</key>
    <string>tth-beng.nukt.glif</string>
    <key>tth_ba-beng</key>
    <string>tth_ba-beng.glif</string>
    <key>tth_ba_iiMatra-beng</key>
    <string>tth_ba_iiM_atra-beng.glif</string>
    <key>tth_ra-beng</key>
    <string>tth_ra-beng.glif</string>
    <key>tth_ra_iiMatra-beng</key>
    <string>tth_ra_iiM_atra-beng.glif</string>
    <key>ttha-beng</key>
    <string>ttha-beng.glif</string>
    <key>ttha-beng.nukt</key>
    <string>ttha-beng.nukt.glif</string>
    <key>ttha_iiMatra-beng</key>
    <string>ttha_iiM_atra-beng.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two-beng</key>
    <string>two-beng.glif</string>
    <key>twoNumr-beng</key>
    <string>twoN_umr-beng.glif</string>
    <key>u-beng</key>
    <string>u-beng.glif</string>
    <key>uMatra-beng</key>
    <string>uM_atra-beng.glif</string>
    <key>uMatra-beng.alt</key>
    <string>uM_atra-beng.alt.glif</string>
    <key>udatta-deva</key>
    <string>udatta-deva.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>uni02BC</key>
    <string>uni02B_C_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uu-beng</key>
    <string>uu-beng.glif</string>
    <key>uuMatra-beng</key>
    <string>uuM_atra-beng.glif</string>
    <key>uuMatra-beng.alt</key>
    <string>uuM_atra-beng.alt.glif</string>
    <key>visarga-beng</key>
    <string>visarga-beng.glif</string>
    <key>y-beng</key>
    <string>y-beng.glif</string>
    <key>y-beng.nukt</key>
    <string>y-beng.nukt.glif</string>
    <key>yNukta_ba-beng</key>
    <string>yN_ukta_ba-beng.glif</string>
    <key>yNukta_ra-beng</key>
    <string>yN_ukta_ra-beng.glif</string>
    <key>y_ba-beng</key>
    <string>y_ba-beng.glif</string>
    <key>y_ra-beng</key>
    <string>y_ra-beng.glif</string>
    <key>ya-beng</key>
    <string>ya-beng.glif</string>
    <key>ya-beng.pstf</key>
    <string>ya-beng.pstf.glif</string>
    <key>yya-beng</key>
    <string>yya-beng.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero-beng</key>
    <string>zero-beng.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
  </dict>
</plist>
