<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>720</integer>
    <key>capHeight</key>
    <integer>570</integer>
    <key>copyright</key>
    <string>Copyright 2019 Google LLC. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-280</integer>
    <key>familyName</key>
    <string>Noto Sans Elymaic</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>214</integer>
        <key>y</key>
        <integer>500</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>215</integer>
        <key>y</key>
        <integer>312</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>-5</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/12/04 11:05:40</string>
    <key>openTypeNameDescription</key>
    <string>Designed by Morgane Pierson</string>
    <key>openTypeNameDesigner</key>
    <string>Morgane Pierson</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.instagram.com/morgane_pierson/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Google LLC</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com/get/noto/</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>570</integer>
      <integer>580</integer>
      <integer>570</integer>
      <integer>580</integer>
      <integer>720</integer>
      <integer>730</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-290</integer>
      <integer>-280</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Noto Sans Elymaic</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>Italic</string>
    <key>trademark</key>
    <string>Noto is a trademark of Google LLC</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>570</integer>
  </dict>
</plist>
