<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>gimel-elym.ss01</key>
    <dict>
      <key>yodh-elym</key>
      <integer>-30</integer>
      <key>zayin_yodh-elym.ss01</key>
      <integer>-40</integer>
    </dict>
    <key>he-elym</key>
    <dict>
      <key>mem-elym</key>
      <integer>-30</integer>
    </dict>
    <key>he-elym.ss01</key>
    <dict>
      <key>lamedh-elym.ss01</key>
      <integer>-50</integer>
      <key>mem-elym.ss01</key>
      <integer>-20</integer>
    </dict>
    <key>he-elym.ss02</key>
    <dict>
      <key>mem-elym.ss01</key>
      <integer>-50</integer>
    </dict>
    <key>heth-elym</key>
    <dict>
      <key>qoph-elym</key>
      <integer>-50</integer>
      <key>yodh-elym</key>
      <integer>-50</integer>
    </dict>
    <key>lamedh-elym</key>
    <dict>
      <key>yodh-elym</key>
      <integer>-60</integer>
    </dict>
    <key>lamedh-elym.ss01</key>
    <dict>
      <key>pe-elym.ss01</key>
      <integer>-50</integer>
      <key>samekh-elym.ss01</key>
      <integer>-80</integer>
      <key>yodh-elym.ss01</key>
      <integer>-30</integer>
      <key>zayin_yodh-elym.ss01</key>
      <integer>-80</integer>
      <key>zayin_yodh-elym.ss02</key>
      <integer>-60</integer>
    </dict>
    <key>nun-elym</key>
    <dict>
      <key>daleth-elym</key>
      <integer>110</integer>
      <key>daleth-elym.ss01</key>
      <integer>100</integer>
      <key>kaph-elym</key>
      <integer>70</integer>
      <key>pe-elym</key>
      <integer>40</integer>
      <key>yodh-elym</key>
      <integer>-20</integer>
    </dict>
    <key>nun-elym.ss01</key>
    <dict>
      <key>daleth-elym</key>
      <integer>100</integer>
      <key>daleth-elym.ss01</key>
      <integer>160</integer>
      <key>kaph-elym</key>
      <integer>80</integer>
      <key>lamedh-elym.ss01</key>
      <integer>40</integer>
      <key>pe-elym</key>
      <integer>50</integer>
      <key>pe-elym.ss01</key>
      <integer>70</integer>
      <key>zayin_yodh-elym.ss02</key>
      <integer>0</integer>
    </dict>
    <key>pe-elym</key>
    <dict>
      <key>nun-elym</key>
      <integer>-20</integer>
      <key>nun-elym.ss01</key>
      <integer>-40</integer>
    </dict>
    <key>pe-elym.ss01</key>
    <dict>
      <key>gimel-elym</key>
      <integer>-30</integer>
      <key>lamedh-elym.ss01</key>
      <integer>-30</integer>
      <key>nun-elym.ss01</key>
      <integer>-30</integer>
      <key>zayin_yodh-elym.ss03</key>
      <integer>-50</integer>
    </dict>
    <key>qoph-elym</key>
    <dict>
      <key>samekh-elym</key>
      <integer>-40</integer>
      <key>samekh-elym.ss01</key>
      <integer>-30</integer>
    </dict>
    <key>sadhe-elym</key>
    <dict>
      <key>daleth-elym</key>
      <integer>110</integer>
      <key>daleth-elym.ss01</key>
      <integer>100</integer>
      <key>kaph-elym</key>
      <integer>70</integer>
      <key>sadhe-elym.ss01</key>
      <integer>-20</integer>
    </dict>
    <key>sadhe-elym.ss01</key>
    <dict>
      <key>daleth-elym</key>
      <integer>100</integer>
      <key>daleth-elym.ss01</key>
      <integer>100</integer>
      <key>kaph-elym</key>
      <integer>60</integer>
      <key>mem-elym.ss01</key>
      <integer>10</integer>
      <key>pe-elym.ss01</key>
      <integer>70</integer>
      <key>yodh-elym</key>
      <integer>-50</integer>
      <key>zayin_yodh-elym.ss01</key>
      <integer>-20</integer>
    </dict>
    <key>samekh-elym</key>
    <dict>
      <key>gimel-elym</key>
      <integer>-50</integer>
      <key>samekh-elym.ss01</key>
      <integer>-30</integer>
      <key>zayin_yodh-elym</key>
      <integer>-30</integer>
    </dict>
    <key>samekh-elym.ss01</key>
    <dict>
      <key>gimel-elym</key>
      <integer>-50</integer>
      <key>lamedh-elym.ss01</key>
      <integer>-40</integer>
      <key>resh-elym</key>
      <integer>-30</integer>
      <key>yodh-elym</key>
      <integer>-30</integer>
      <key>zayin_yodh-elym</key>
      <integer>-30</integer>
      <key>zayin_yodh-elym.ss01</key>
      <integer>-50</integer>
    </dict>
    <key>shin-elym</key>
    <dict>
      <key>yodh-elym</key>
      <integer>-50</integer>
    </dict>
    <key>shin-elym.ss01</key>
    <dict>
      <key>zayin_yodh-elym.ss01</key>
      <integer>-70</integer>
    </dict>
    <key>taw-elym.ss01</key>
    <dict>
      <key>nun-elym.ss01</key>
      <integer>-50</integer>
      <key>samekh-elym.ss01</key>
      <integer>-20</integer>
      <key>zayin_yodh-elym.ss01</key>
      <integer>-50</integer>
    </dict>
    <key>yodh-elym</key>
    <dict>
      <key>gimel-elym</key>
      <integer>-50</integer>
      <key>sadhe-elym.ss01</key>
      <integer>-30</integer>
      <key>shin-elym</key>
      <integer>-30</integer>
    </dict>
    <key>zayin-elym</key>
    <dict>
      <key>samekh-elym</key>
      <integer>-30</integer>
      <key>samekh-elym.ss01</key>
      <integer>-30</integer>
      <key>yodh-elym</key>
      <integer>-80</integer>
    </dict>
    <key>zayin-elym.ss01</key>
    <dict>
      <key>samekh-elym.ss01</key>
      <integer>-60</integer>
      <key>yodh-elym</key>
      <integer>-80</integer>
      <key>zayin_yodh-elym.ss01</key>
      <integer>-120</integer>
    </dict>
    <key>zayin_yodh-elym.ss01</key>
    <dict>
      <key>gimel-elym</key>
      <integer>-80</integer>
      <key>mem-elym.ss01</key>
      <integer>0</integer>
      <key>zayin_yodh-elym.ss01</key>
      <integer>30</integer>
    </dict>
    <key>zayin_yodh-elym.ss02</key>
    <dict>
      <key>ayin-elym</key>
      <integer>-30</integer>
      <key>heth-elym</key>
      <integer>-50</integer>
      <key>nun-elym.ss01</key>
      <integer>-50</integer>
      <key>qoph-elym</key>
      <integer>-50</integer>
      <key>yodh-elym</key>
      <integer>-60</integer>
      <key>zayin_yodh-elym.ss01</key>
      <integer>-80</integer>
    </dict>
  </dict>
</plist>
