<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSCornerRadius</key>
    <integer>40</integer>
    <key>GSOffsetHorizontal</key>
    <integer>-1</integer>
    <key>GSOffsetProportional</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>40</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1342</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axis Mappings</key>
    <dict>
      <key>wght</key>
      <dict>
        <key>400</key>
        <integer>100</integer>
      </dict>
    </dict>
    <key>com.schriftgestaltung.customParameter.GSFont.Disable Subroutines</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/space</string>
      <string>/nbspace</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.note</key>
    <string>Noto Sans Elymaic
_ in according to the Unicode Proposal by Anshuman Panday</string>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.italicAngle</key>
    <string>5°</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>A63E58D2-94F7-438A-BA5A-DED0E72B5837</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>aleph-elym</string>
      <string>aleph-elym.ss01</string>
      <string>ayin-elym</string>
      <string>beth-elym</string>
      <string>daleth-elym</string>
      <string>daleth-elym.ss01</string>
      <string>gimel-elym</string>
      <string>gimel-elym.ss01</string>
      <string>he-elym</string>
      <string>he-elym.ss01</string>
      <string>he-elym.ss02</string>
      <string>heth-elym</string>
      <string>kaph-elym</string>
      <string>lamedh-elym</string>
      <string>lamedh-elym.ss01</string>
      <string>mem-elym</string>
      <string>mem-elym.ss01</string>
      <string>nun-elym</string>
      <string>nun-elym.ss01</string>
      <string>pe-elym</string>
      <string>pe-elym.ss01</string>
      <string>qoph-elym</string>
      <string>resh-elym</string>
      <string>sadhe-elym</string>
      <string>sadhe-elym.ss01</string>
      <string>samekh-elym</string>
      <string>samekh-elym.ss01</string>
      <string>shin-elym</string>
      <string>shin-elym.ss01</string>
      <string>space</string>
      <string>taw-elym</string>
      <string>taw-elym.ss01</string>
      <string>teth-elym</string>
      <string>waw-elym</string>
      <string>yodh-elym</string>
      <string>yodh-elym.ss01</string>
      <string>zayin-elym</string>
      <string>zayin-elym.ss01</string>
      <string>zayin_yodh-elym</string>
      <string>zayin_yodh-elym.ss01</string>
      <string>zayin_yodh-elym.ss02</string>
      <string>zayin_yodh-elym.ss03</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>aleph-elym</key>
      <string>u10FE0</string>
      <key>aleph-elym.ss01</key>
      <string>u10FE0.ss01</string>
      <key>ayin-elym</key>
      <string>u10FEF</string>
      <key>beth-elym</key>
      <string>u10FE1</string>
      <key>daleth-elym</key>
      <string>u10FE3</string>
      <key>daleth-elym.ss01</key>
      <string>u10FE3.ss01</string>
      <key>gimel-elym</key>
      <string>u10FE2</string>
      <key>gimel-elym.ss01</key>
      <string>u10FE2.ss01</string>
      <key>he-elym</key>
      <string>u10FE4</string>
      <key>he-elym.ss01</key>
      <string>u10FE4.ss01</string>
      <key>he-elym.ss02</key>
      <string>u10FE4.ss02</string>
      <key>heth-elym</key>
      <string>u10FE7</string>
      <key>kaph-elym</key>
      <string>u10FEA</string>
      <key>lamedh-elym</key>
      <string>u10FEB</string>
      <key>lamedh-elym.ss01</key>
      <string>u10FEB.ss01</string>
      <key>mem-elym</key>
      <string>u10FEC</string>
      <key>mem-elym.ss01</key>
      <string>u10FEC.ss01</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nun-elym</key>
      <string>u10FED</string>
      <key>nun-elym.ss01</key>
      <string>u10FED.ss01</string>
      <key>pe-elym</key>
      <string>u10FF0</string>
      <key>pe-elym.ss01</key>
      <string>u10FF0.ss01</string>
      <key>qoph-elym</key>
      <string>u10FF2</string>
      <key>resh-elym</key>
      <string>u10FF3</string>
      <key>sadhe-elym</key>
      <string>u10FF1</string>
      <key>sadhe-elym.ss01</key>
      <string>u10FF1.ss01</string>
      <key>samekh-elym</key>
      <string>u10FEE</string>
      <key>samekh-elym.ss01</key>
      <string>u10FEE.ss01</string>
      <key>shin-elym</key>
      <string>u10FF4</string>
      <key>shin-elym.ss01</key>
      <string>u10FF4.ss01</string>
      <key>taw-elym</key>
      <string>u10FF5</string>
      <key>taw-elym.ss01</key>
      <string>u10FF5.ss01</string>
      <key>teth-elym</key>
      <string>u10FE8</string>
      <key>waw-elym</key>
      <string>u10FE5</string>
      <key>yodh-elym</key>
      <string>u10FE9</string>
      <key>yodh-elym.ss01</key>
      <string>u10FE9.ss01</string>
      <key>zayin-elym</key>
      <string>u10FE6</string>
      <key>zayin-elym.ss01</key>
      <string>u10FE6.ss01</string>
      <key>zayin_yodh-elym</key>
      <string>u10FF6</string>
      <key>zayin_yodh-elym.ss01</key>
      <string>u10FF6.ss01</string>
      <key>zayin_yodh-elym.ss02</key>
      <string>u10FF6.ss02</string>
      <key>zayin_yodh-elym.ss03</key>
      <string>u10FF6.ss03</string>
    </dict>
  </dict>
</plist>
