<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>60</integer>
      <key>public.kern2.parenright</key>
      <real>97.03030303030303</real>
      <key>public.kern2.question</key>
      <real>85.54545454545455</real>
      <key>public.kern2.quoteright</key>
      <real>103.42424242424242</real>
      <key>public.kern2.quotesingle</key>
      <real>101.12121212121212</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>39.484848484848484</real>
      <key>public.kern2.parenright</key>
      <real>82.03030303030303</real>
      <key>public.kern2.question</key>
      <integer>60</integer>
      <key>public.kern2.quoteright</key>
      <integer>66</integer>
      <key>public.kern2.quotesingle</key>
      <integer>81</integer>
    </dict>
    <key>kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-6.27272727272727</real>
      <key>public.kern2.question</key>
      <real>46.181818181818194</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>97.6562</real>
    </dict>
    <key>nii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>32.872727272727275</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>101.52121212121213</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>63.4766</real>
    </dict>
    <key>nyii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <real>2.3939393939393927</real>
      <key>public.kern2.quotesingle</key>
      <real>11.121212121212123</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>-22.151515151515152</real>
      <key>luu-tamil</key>
      <real>-22.151515151515152</real>
      <key>nnnu-tamil</key>
      <real>-22.151515151515152</real>
      <key>nnnuu-tamil</key>
      <real>-22.151515151515152</real>
      <key>nnu-tamil</key>
      <real>-22.151515151515152</real>
      <key>nnuu-tamil</key>
      <real>-22.151515151515152</real>
      <key>public.kern2.colon</key>
      <real>-0.6363636363636349</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-29.60606060606061</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-54.624242424242425</real>
      <key>public.kern2.exclam</key>
      <real>-11.053262363636362</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-28.969696969696972</real>
      <key>public.kern2.nya-tamil</key>
      <real>-15.60606060606061</real>
      <key>public.kern2.o-tamil</key>
      <real>-20.712600606060604</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.period</key>
      <real>18.090909090909097</real>
      <key>public.kern2.question</key>
      <real>-42.86363636363636</real>
      <key>public.kern2.quoteright</key>
      <real>-35.63636363636364</real>
      <key>public.kern2.quotesingle</key>
      <real>-64.52808909090908</real>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.visarga-tamil</key>
      <real>-27.27272727272727</real>
      <key>public.kern2.ya-tamil</key>
      <real>-47.484848484848484</real>
      <key>ta-tamil</key>
      <integer>-20</integer>
      <key>tu-tamil</key>
      <integer>10</integer>
      <key>tuu-tamil</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>10</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-10.318181818181817</real>
      <key>public.kern2.quotesingle</key>
      <real>-1.2727272727272698</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-26.31818181818182</real>
      <key>public.kern2.exclam</key>
      <real>-1.2727272727272698</real>
      <key>public.kern2.ka-tamil</key>
      <real>-0.6363636363636349</real>
      <key>public.kern2.period</key>
      <real>-21.27272727272727</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.cu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>12.121212121212121</real>
    </dict>
    <key>public.kern1.cuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-17.27272727272727</real>
      <key>public.kern2.o-tamil</key>
      <integer>-16</integer>
      <key>public.kern2.question</key>
      <real>-13.363636363636365</real>
      <key>public.kern2.quoteright</key>
      <real>-34.272727272727266</real>
      <key>public.kern2.quotesingle</key>
      <real>-29.54545454545454</real>
      <key>public.kern2.ya-tamil</key>
      <real>-28.36363636363636</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-44</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-15.68181818181818</real>
      <key>public.kern2.o-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.u-tamil</key>
      <real>-37.56837121212121</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-30.63636363636364</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ai-tamil</key>
      <integer>10</integer>
      <key>public.kern2.e-tamil</key>
      <real>30.742424242424242</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>30</integer>
      <key>public.kern2.ka-tamil</key>
      <real>21.696969696969703</real>
      <key>public.kern2.nya-tamil</key>
      <integer>30</integer>
      <key>public.kern2.o-tamil</key>
      <integer>20</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.rupee-tamil</key>
      <real>29.36363636363636</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>10</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-3.3181818181818175</real>
      <key>public.kern2.e-tamil</key>
      <real>-3.262782909090909</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-17.798739393939393</real>
      <key>public.kern2.exclam</key>
      <real>-1.9090909090909065</real>
      <key>public.kern2.i-tamil</key>
      <real>-7.894520000000001</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.o-tamil</key>
      <real>-0.6363636363636349</real>
      <key>public.kern2.om-tamil</key>
      <real>-10.636363636363635</real>
      <key>public.kern2.question</key>
      <real>-33.45454545454545</real>
      <key>public.kern2.quoteright</key>
      <real>-24.242424242424242</real>
      <key>public.kern2.quotesingle</key>
      <real>-44.878787878787875</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-1.2727272727272698</real>
      <key>public.kern2.slash</key>
      <integer>20</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-9.31818181818182</real>
    </dict>
    <key>public.kern1.kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.parenright</key>
      <real>17.030303030303028</real>
      <key>public.kern2.question</key>
      <real>-3.6060606060606073</real>
      <key>public.kern2.quoteright</key>
      <real>13.030303030303028</real>
      <key>public.kern2.quotesingle</key>
      <real>25.39393939393939</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.ya-tamil</key>
      <real>-38.515151515151516</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-3</integer>
      <key>public.kern2.e-tamil</key>
      <integer>10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-1.2727272727272698</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.question</key>
      <real>-1.2727272727272698</real>
      <key>public.kern2.quoteright</key>
      <real>-20.60606060606061</real>
      <key>public.kern2.quotesingle</key>
      <real>-41.272727272727266</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-1.2727272727272698</real>
      <key>public.kern2.ai-tamil</key>
      <integer>-7</integer>
      <key>public.kern2.e-tamil</key>
      <real>9.363636363636365</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>26</integer>
      <key>public.kern2.hyphen</key>
      <real>24.363636363636367</real>
      <key>public.kern2.ka-tamil</key>
      <real>9.045454545454549</real>
      <key>public.kern2.o-tamil</key>
      <real>-0.6363636363636349</real>
      <key>public.kern2.parenright</key>
      <integer>39</integer>
      <key>public.kern2.period</key>
      <real>-1.4848484848484862</real>
      <key>public.kern2.question</key>
      <integer>40</integer>
      <key>public.kern2.quoteright</key>
      <integer>54</integer>
      <key>public.kern2.quotesingle</key>
      <real>67.72727272727272</real>
      <key>public.kern2.rra-tamil</key>
      <real>-10.636363636363635</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>16</integer>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.ai-tamil</key>
      <real>-0.6363636363636349</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-11.053262363636362</real>
      <key>public.kern2.exclam</key>
      <real>-1.2727272727272698</real>
      <key>public.kern2.question</key>
      <real>-6.999999999999998</real>
      <key>public.kern2.quoteright</key>
      <real>-22.27272727272727</real>
      <key>public.kern2.quotesingle</key>
      <real>-26.363636363636363</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.mii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>23.56060606060607</real>
      <key>public.kern2.parenright</key>
      <integer>46</integer>
      <key>public.kern2.question</key>
      <real>47.03030303030303</real>
      <key>public.kern2.quoteright</key>
      <real>43.484848484848484</real>
      <key>public.kern2.quotesingle</key>
      <real>52.212121212121204</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.colon</key>
      <real>43.9453</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>83.10909090909091</real>
      <key>public.kern2.exclam</key>
      <integer>120</integer>
      <key>public.kern2.i-tamil</key>
      <real>77.18181818181819</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.716229090909094</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <real>117.03030303030303</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
      <key>public.kern2.rupee-tamil</key>
      <real>60.63636363636364</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-34.547836969696974</real>
      <key>public.kern2.ai-tamil</key>
      <integer>30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>65</integer>
      <key>public.kern2.i-tamil</key>
      <real>3.818181818181813</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.question</key>
      <real>64.06060606060606</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.72727272727272</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-10.636363636363635</real>
      <key>public.kern2.hyphen</key>
      <real>1.2727272727272698</real>
      <key>public.kern2.period</key>
      <real>-1.4848484848484862</real>
      <key>public.kern2.question</key>
      <real>-5.727272727272728</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-20.636363636363633</real>
    </dict>
    <key>public.kern1.pii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>26</integer>
      <key>public.kern2.i-tamil</key>
      <real>2.5454545454545396</real>
      <key>public.kern2.parenright</key>
      <real>53.03030303030303</real>
      <key>public.kern2.question</key>
      <real>53.42424242424242</real>
      <key>public.kern2.quoteright</key>
      <real>67.12121212121212</real>
      <key>public.kern2.quotesingle</key>
      <real>57.75757575757575</real>
      <key>public.kern2.rupee-tamil</key>
      <real>28.36363636363636</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-109.24242424242425</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-50.381818181818176</real>
      <key>public.kern2.nya-tamil</key>
      <real>-27.243971818181816</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-97.36363636363636</real>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-102.72727272727272</real>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.o-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.om-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.rii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>61.878787878787875</real>
      <key>public.kern2.parenright</key>
      <real>81.51515151515152</real>
      <key>public.kern2.question</key>
      <integer>100</integer>
      <key>public.kern2.quoteright</key>
      <real>104.30303030303031</real>
      <key>public.kern2.quotesingle</key>
      <real>119.52121212121212</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.68181818181818</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>8.72727272727273</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.question</key>
      <real>30.77651515151515</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-2.9696969696969724</real>
      <key>public.kern2.hyphen</key>
      <real>10.954545454545453</real>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-21.27272727272727</real>
      <key>public.kern2.quotesingle</key>
      <real>-1.9090909090909065</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <real>-38.515151515151516</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-41.272727272727266</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-14.6484</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>public.kern2.u-tamil</key>
      <real>10.253910000000001</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-27.84373818181818</real>
      <key>public.kern2.nya-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.o-tamil</key>
      <real>-21.27272727272727</real>
      <key>public.kern2.rra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-24.484848484848484</real>
      <key>public.kern2.ya-tamil</key>
      <real>-10.636363636363635</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>6</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-50.63636363636364</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-2.9696969696969724</real>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>-41.90909090909091</real>
      <key>public.kern2.quotesingle</key>
      <integer>-99</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-19.63636363636364</real>
      <key>public.kern2.e-tamil</key>
      <integer>26</integer>
      <key>public.kern2.hyphen</key>
      <integer>60</integer>
      <key>public.kern2.i-tamil</key>
      <real>15.31818181818182</real>
      <key>public.kern2.ka-tamil</key>
      <integer>5</integer>
      <key>public.kern2.nya-tamil</key>
      <real>1.2727272727272698</real>
      <key>public.kern2.o-tamil</key>
      <integer>9</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <real>-14.6484</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-9.28787878787879</real>
      <key>public.kern2.e-tamil</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>50</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-4.469933393939395</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.324230000000002</real>
    </dict>
    <key>public.kern1.vii-tamil</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>130</integer>
    </dict>
    <key>tii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>21.842424242424244</real>
    </dict>
    <key>ttii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
