<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jun 16 19, 16:05</string>
      <string>glyphs.J_un 16 19, 16_05</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56</string>
      <string>glyphs.J_un 19 19, 21_56</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56.background</string>
      <string>glyphs.J_un 19 19, 21_56.background</string>
    </array>
    <array>
      <string>May 24 19, 14:40</string>
      <string>glyphs.M_ay 24 19, 14_40</string>
    </array>
    <array>
      <string>Jun 20 19, 14:30</string>
      <string>glyphs.J_un 20 19, 14_30</string>
    </array>
    <array>
      <string>Jun 24 19, 21:22</string>
      <string>glyphs.J_un 24 19, 21_22</string>
    </array>
    <array>
      <string>Jun 24 19, 21:22.background</string>
      <string>glyphs.J_un 24 19, 21_22.background</string>
    </array>
    <array>
      <string>Feb 24 17, 14:57</string>
      <string>glyphs.F_eb 24 17, 14_57</string>
    </array>
    <array>
      <string>Jun 26 19, 14:27</string>
      <string>glyphs.J_un 26 19, 14_27</string>
    </array>
    <array>
      <string>Jun 26 19, 14:27.background</string>
      <string>glyphs.J_un 26 19, 14_27.background</string>
    </array>
  </array>
</plist>
