<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1735</key>
    <string>uni1735.glif</string>
    <key>uni1736</key>
    <string>uni1736.glif</string>
    <key>uni1740</key>
    <string>uni1740.glif</string>
    <key>uni1741</key>
    <string>uni1741.glif</string>
    <key>uni1742</key>
    <string>uni1742.glif</string>
    <key>uni1743</key>
    <string>uni1743.glif</string>
    <key>uni1743_i</key>
    <string>uni1743_i.glif</string>
    <key>uni1744</key>
    <string>uni1744.glif</string>
    <key>uni1744_u</key>
    <string>uni1744_u.glif</string>
    <key>uni1745</key>
    <string>uni1745.glif</string>
    <key>uni1745_i</key>
    <string>uni1745_i.glif</string>
    <key>uni1745_u</key>
    <string>uni1745_u.glif</string>
    <key>uni1746</key>
    <string>uni1746.glif</string>
    <key>uni1747</key>
    <string>uni1747.glif</string>
    <key>uni1747_i</key>
    <string>uni1747_i.glif</string>
    <key>uni1748</key>
    <string>uni1748.glif</string>
    <key>uni1748_u</key>
    <string>uni1748_u.glif</string>
    <key>uni1749</key>
    <string>uni1749.glif</string>
    <key>uni1749_u</key>
    <string>uni1749_u.glif</string>
    <key>uni174A</key>
    <string>uni174A_.glif</string>
    <key>uni174B</key>
    <string>uni174B_.glif</string>
    <key>uni174B_i</key>
    <string>uni174B__i.glif</string>
    <key>uni174C</key>
    <string>uni174C_.glif</string>
    <key>uni174C_u</key>
    <string>uni174C__u.glif</string>
    <key>uni174D</key>
    <string>uni174D_.glif</string>
    <key>uni174D_i</key>
    <string>uni174D__i.glif</string>
    <key>uni174D_u</key>
    <string>uni174D__u.glif</string>
    <key>uni174E</key>
    <string>uni174E_.glif</string>
    <key>uni174E_i</key>
    <string>uni174E__i.glif</string>
    <key>uni174F</key>
    <string>uni174F_.glif</string>
    <key>uni1750</key>
    <string>uni1750.glif</string>
    <key>uni1750_u</key>
    <string>uni1750_u.glif</string>
    <key>uni1751</key>
    <string>uni1751.glif</string>
    <key>uni1752</key>
    <string>uni1752.glif</string>
    <key>uni1753</key>
    <string>uni1753.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
