<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>iMatra-beng</key>
    <dict>
      <key>kha-beng</key>
      <real>-21.137931034482758</real>
    </dict>
    <key>iMatra-beng.wide3</key>
    <dict>
      <key>l_tta-beng</key>
      <real>-11.682758620689654</real>
      <key>p_tta-beng</key>
      <real>-33.6551724137931</real>
    </dict>
    <key>public.kern1.bnmE</key>
    <dict>
      <key>c_ba-beng</key>
      <integer>20</integer>
      <key>j_ny_ba-beng</key>
      <real>-22.482758620689655</real>
      <key>j_ny_ra-beng</key>
      <real>11.655172413793103</real>
      <key>l_ra-beng</key>
      <real>3.3103448275862073</real>
      <key>m_b_ra-beng</key>
      <real>8.344827586206897</real>
      <key>m_la-beng</key>
      <real>3.3103448275862073</real>
      <key>n_d_ba-beng</key>
      <real>-55.310344827586206</real>
      <key>ng_k_ra-beng</key>
      <real>11.655172413793103</real>
      <key>p_ba-beng</key>
      <real>-32.51724137931034</real>
      <key>p_ma-beng</key>
      <integer>-35</integer>
      <key>p_na-beng</key>
      <integer>-25</integer>
      <key>p_sa-beng</key>
      <real>-38.310344827586206</real>
      <key>p_tta_auLength-beng</key>
      <real>-32.51724137931034</real>
      <key>p_tta_iiMatra-beng</key>
      <real>-32.51724137931034</real>
      <key>public.kern2.above_N</key>
      <real>-34.172413793103445</real>
      <key>public.kern2.b_ra</key>
      <real>11.655172413793103</real>
      <key>public.kern2.bnBA</key>
      <real>-17.482758620689655</real>
      <key>public.kern2.lower_LA</key>
      <integer>20</integer>
      <key>public.kern2.upper_SA</key>
      <integer>-35</integer>
      <key>public.kern2.upper_SHA</key>
      <real>-38.310344827586206</real>
      <key>public.kern2.upper_ttha</key>
      <real>-38.310344827586206</real>
      <key>ss_ba-beng</key>
      <real>-16.689655172413794</real>
      <key>ss_ka-beng</key>
      <real>-25.310344827586206</real>
      <key>ss_ra-beng</key>
      <real>3.3103448275862073</real>
      <key>ss_tt_ra-beng</key>
      <real>16.689655172413794</real>
      <key>t_t_ba-beng</key>
      <real>-25.310344827586206</real>
      <key>tt_ba-beng</key>
      <integer>20</integer>
      <key>y_ra-beng</key>
      <real>3.3103448275862073</real>
    </dict>
  </dict>
</plist>
