<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.aGlt.eth</key>
    <array>
      <string>aGlottal.eth</string>
      <string>aaGlottal.eth</string>
      <string>eGlottal.eth</string>
    </array>
    <key>public.kern1.aPhr.eth</key>
    <array>
      <string>aPhr.eth</string>
      <string>tza.eth</string>
    </array>
    <key>public.kern1.ba.eth</key>
    <array>
      <string>ba.eth</string>
      <string>baa.eth</string>
      <string>be.eth</string>
      <string>tha.eth</string>
      <string>thaa.eth</string>
      <string>baashort</string>
      <string>boshort</string>
    </array>
    <key>public.kern1.bwaSebatbeit.eth</key>
    <array>
      <string>bwaSebatbeit.eth</string>
      <string>bwe.eth</string>
    </array>
    <key>public.kern1.caa.eth</key>
    <array>
      <string>caa.eth</string>
      <string>cca.eth</string>
      <string>ccaa.eth</string>
    </array>
    <key>public.kern1.cchhe.eth</key>
    <array>
      <string>cchhe.eth</string>
      <string>cchho.eth</string>
    </array>
    <key>public.kern1.che.eth</key>
    <array>
      <string>che.eth</string>
      <string>cho.eth</string>
      <string>choa.eth</string>
      <string>cche.eth</string>
      <string>ccho.eth</string>
    </array>
    <key>public.kern1.chee.eth</key>
    <array>
      <string>chee.eth</string>
      <string>cchee.eth</string>
      <string>cchhee.eth</string>
    </array>
    <key>public.kern1.ePhr.eth</key>
    <array>
      <string>ePhr.eth</string>
      <string>tze.eth</string>
    </array>
    <key>public.kern1.ga.eth</key>
    <array>
      <string>ga.eth</string>
      <string>gaa.eth</string>
      <string>ge.eth</string>
    </array>
    <key>public.kern1.gya.eth</key>
    <array>
      <string>gya.eth</string>
      <string>gyaa.eth</string>
    </array>
    <key>public.kern1.ha.eth</key>
    <array>
      <string>ha.eth</string>
      <string>he.eth</string>
    </array>
    <key>public.kern1.hha.eth</key>
    <array>
      <string>hha.eth</string>
      <string>hhaa.eth</string>
      <string>hhe.eth</string>
    </array>
    <key>public.kern1.ho.eth</key>
    <array>
      <string>ho.eth</string>
      <string>hoa.eth</string>
    </array>
    <key>public.kern1.hu.eth</key>
    <array>
      <string>hu.eth</string>
      <string>zu.eth</string>
      <string>dzu.eth</string>
      <string>kurt.eth</string>
    </array>
    <key>public.kern1.hyphen.left</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.kxa.eth</key>
    <array>
      <string>sa.eth</string>
      <string>saa.eth</string>
      <string>se.eth</string>
      <string>ka.eth</string>
      <string>kaa.eth</string>
      <string>ke.eth</string>
      <string>kxa.eth</string>
      <string>kxaa.eth</string>
      <string>kxe.eth</string>
      <string>go.eth</string>
      <string>goa.eth</string>
      <string>tthaa.eth</string>
      <string>tthe.eth</string>
    </array>
    <key>public.kern1.kya.eth</key>
    <array>
      <string>kya.eth</string>
      <string>kyaa.eth</string>
      <string>kye.eth</string>
    </array>
    <key>public.kern1.la.eth</key>
    <array>
      <string>la.eth</string>
      <string>laa.eth</string>
      <string>le.eth</string>
    </array>
    <key>public.kern1.lo.eth</key>
    <array>
      <string>lo.eth</string>
      <string>loa.eth</string>
    </array>
    <key>public.kern1.ma.eth</key>
    <array>
      <string>ma.eth</string>
      <string>wa.eth</string>
    </array>
    <key>public.kern1.me.eth</key>
    <array>
      <string>me.eth</string>
      <string>mo.eth</string>
      <string>moa.eth</string>
      <string>shorttoploops</string>
    </array>
    <key>public.kern1.mee.eth</key>
    <array>
      <string>mee.eth</string>
      <string>szee.eth</string>
    </array>
    <key>public.kern1.mi.eth</key>
    <array>
      <string>mi.eth</string>
      <string>szi.eth</string>
    </array>
    <key>public.kern1.mwa.eth</key>
    <array>
      <string>mwa.eth</string>
      <string>szwa.eth</string>
    </array>
    <key>public.kern1.no.eth</key>
    <array>
      <string>xo.eth</string>
      <string>xoa.eth</string>
      <string>no.eth</string>
      <string>noa.eth</string>
    </array>
    <key>public.kern1.pa.eth</key>
    <array>
      <string>pa.eth</string>
      <string>paa.eth</string>
    </array>
    <key>public.kern1.pee.eth</key>
    <array>
      <string>zhee.eth</string>
      <string>pee.eth</string>
      <string>pwee.eth</string>
      <string>zzee.eth</string>
    </array>
    <key>public.kern1.pha.eth</key>
    <array>
      <string>pha.eth</string>
      <string>phaa.eth</string>
    </array>
    <key>public.kern1.po.eth</key>
    <array>
      <string>po.eth</string>
      <string>poa.eth</string>
    </array>
    <key>public.kern1.qa.eth</key>
    <array>
      <string>qa.eth</string>
      <string>qaa.eth</string>
      <string>qe.eth</string>
      <string>qya.eth</string>
    </array>
    <key>public.kern1.qee.eth</key>
    <array>
      <string>qee.eth</string>
      <string>qwee.eth</string>
    </array>
    <key>public.kern1.qha.eth</key>
    <array>
      <string>qha.eth</string>
      <string>qhaa.eth</string>
    </array>
    <key>public.kern1.qhu.eth</key>
    <array>
      <string>qhu.eth</string>
      <string>qhi.eth</string>
      <string>qhee.eth</string>
      <string>qhwaa.eth</string>
      <string>qhwee.eth</string>
      <string>cu.eth</string>
      <string>ci.eth</string>
      <string>cee.eth</string>
      <string>cwa.eth</string>
      <string>ccu.eth</string>
      <string>cci.eth</string>
      <string>ccee.eth</string>
    </array>
    <key>public.kern1.qhwi.eth</key>
    <array>
      <string>qhwi.eth</string>
      <string>qhwe.eth</string>
    </array>
    <key>public.kern1.ra.eth</key>
    <array>
      <string>nose</string>
    </array>
    <key>public.kern1.ro.eth</key>
    <array>
      <string>ro.eth</string>
      <string>roa.eth</string>
    </array>
    <key>public.kern1.see.eth</key>
    <array>
      <string>shee.eth</string>
      <string>bee.eth</string>
      <string>vee.eth</string>
      <string>zee.eth</string>
      <string>gee.eth</string>
      <string>gwee.eth</string>
      <string>bwee.eth</string>
      <string>ggwee.eth</string>
      <string>ssee.eth</string>
      <string>gyee.eth</string>
      <string>dzee.eth</string>
      <string>cchha.eth</string>
      <string>cchhaa.eth</string>
    </array>
    <key>public.kern1.shu.eth</key>
    <array>
      <string>nu.eth</string>
      <string>shu.eth</string>
      <string>vu.eth</string>
      <string>xu.eth</string>
      <string>nyu.eth</string>
      <string>kyu.eth</string>
      <string>gyu.eth</string>
      <string>tthu.eth</string>
    </array>
    <key>public.kern1.shwa.eth</key>
    <array>
      <string>xi.eth</string>
      <string>chi.eth</string>
      <string>si.eth</string>
      <string>shi.eth</string>
      <string>bi.eth</string>
      <string>vi.eth</string>
      <string>ni.eth</string>
      <string>nyi.eth</string>
      <string>ki.eth</string>
      <string>kxi.eth</string>
      <string>zi.eth</string>
      <string>di.eth</string>
      <string>ddi.eth</string>
      <string>ji.eth</string>
      <string>gi.eth</string>
      <string>ggi.eth</string>
      <string>ggwaa.eth</string>
      <string>thi.eth</string>
      <string>tsi.eth</string>
      <string>ssi.eth</string>
      <string>cchi.eth</string>
      <string>kyi.eth</string>
      <string>gyi.eth</string>
      <string>tthi.eth</string>
      <string>dzi.eth</string>
      <string>cchhi.eth</string>
      <string>bbi.eth</string>
    </array>
    <key>public.kern1.so.eth</key>
    <array>
      <string>so.eth</string>
      <string>bo.eth</string>
      <string>ko.eth</string>
      <string>koa.eth</string>
      <string>the.eth</string>
      <string>tho.eth</string>
      <string>soa.eth</string>
      <string>boa.eth</string>
      <string>thoa.eth</string>
      <string>ttho.eth</string>
    </array>
    <key>public.kern1.su.eth</key>
    <array>
      <string>mu.eth</string>
      <string>szu.eth</string>
      <string>su.eth</string>
      <string>bu.eth</string>
      <string>we.eth</string>
      <string>uPhr.eth</string>
      <string>thu.eth</string>
      <string>tzu.eth</string>
    </array>
    <key>public.kern1.swa.eth</key>
    <array>
      <string>swa.eth</string>
      <string>shwa.eth</string>
      <string>bwa.eth</string>
      <string>vwa.eth</string>
      <string>thwa.eth</string>
      <string>chwa.eth</string>
    </array>
    <key>public.kern1.sze.eth</key>
    <array>
      <string>sze.eth</string>
      <string>szo.eth</string>
    </array>
    <key>public.kern1.thee.eth</key>
    <array>
      <string>thee.eth</string>
      <string>cha.eth</string>
      <string>chaa.eth</string>
      <string>ccha.eth</string>
      <string>cchaa.eth</string>
    </array>
    <key>public.kern1.to.eth</key>
    <array>
      <string>lollipop</string>
      <string>lollipopsmall</string>
    </array>
    <key>public.kern1.tsa.eth</key>
    <array>
      <string>tsa.eth</string>
      <string>tsaa.eth</string>
    </array>
    <key>public.kern1.tzo.eth</key>
    <array>
      <string>oPhr.eth</string>
      <string>tzo.eth</string>
      <string>tzoa.eth</string>
    </array>
    <key>public.kern1.va.eth</key>
    <array>
      <string>sha.eth</string>
      <string>shaa.eth</string>
      <string>she.eth</string>
      <string>va.eth</string>
      <string>vaa.eth</string>
      <string>ve.eth</string>
      <string>ssa.eth</string>
      <string>ssaa.eth</string>
      <string>sse.eth</string>
      <string>dzaa.eth</string>
      <string>dze.eth</string>
      <string>bba.eth</string>
      <string>bbaa.eth</string>
    </array>
    <key>public.kern1.waa.eth</key>
    <array>
      <string>waa.eth</string>
      <string>wo.eth</string>
      <string>woa.eth</string>
    </array>
    <key>public.kern1.xa.eth</key>
    <array>
      <string>xa.eth</string>
      <string>xaa.eth</string>
      <string>xe.eth</string>
      <string>na.eth</string>
    </array>
    <key>public.kern1.xee.eth</key>
    <array>
      <string>see.eth</string>
      <string>xee.eth</string>
      <string>xwee.eth</string>
      <string>kee.eth</string>
      <string>kwee.eth</string>
      <string>kxee.eth</string>
      <string>xyee.eth</string>
      <string>tthee.eth</string>
    </array>
    <key>public.kern1.xya.eth</key>
    <array>
      <string>xya.eth</string>
      <string>xyaa.eth</string>
      <string>xye.eth</string>
    </array>
    <key>public.kern1.ya.eth</key>
    <array>
      <string>ya.eth</string>
      <string>yaa.eth</string>
    </array>
    <key>public.kern1.yo.eth</key>
    <array>
      <string>yo.eth</string>
      <string>yoa.eth</string>
    </array>
    <key>public.kern1.za.eth</key>
    <array>
      <string>za.eth</string>
      <string>zaa.eth</string>
      <string>ze.eth</string>
    </array>
    <key>public.kern1.zo.eth</key>
    <array>
      <string>zo.eth</string>
      <string>zoa.eth</string>
      <string>dzo.eth</string>
    </array>
    <key>public.kern1.zza.eth</key>
    <array>
      <string>zha.eth</string>
      <string>zhaa.eth</string>
      <string>zza.eth</string>
      <string>zzaa.eth</string>
      <string>zzo.eth</string>
    </array>
    <key>public.kern2.aGlt.eth</key>
    <array>
      <string>nee.eth</string>
      <string>aGlottal.eth</string>
      <string>uGlottal.eth</string>
      <string>iGlottal.eth</string>
      <string>eeGlottal.eth</string>
      <string>oGlottal.eth</string>
    </array>
    <key>public.kern2.aPhr.eth</key>
    <array>
      <string>aPhr.eth</string>
      <string>uPhr.eth</string>
      <string>tza.eth</string>
      <string>tzu.eth</string>
    </array>
    <key>public.kern2.ba.eth</key>
    <array>
      <string>ba.eth</string>
      <string>bu.eth</string>
      <string>bi.eth</string>
      <string>bee.eth</string>
      <string>bo.eth</string>
      <string>bwaSebatbeit.eth</string>
      <string>bwi.eth</string>
      <string>baashort</string>
      <string>boshort</string>
    </array>
    <key>public.kern2.baa.eth</key>
    <array>
      <string>baa.eth</string>
      <string>bwee.eth</string>
    </array>
    <key>public.kern2.bba.eth</key>
    <array>
      <string>bba.eth</string>
      <string>bbu.eth</string>
      <string>bbi.eth</string>
      <string>bbaa.eth</string>
      <string>bbee.eth</string>
      <string>bbe.eth</string>
      <string>bbo.eth</string>
    </array>
    <key>public.kern2.ca.eth</key>
    <array>
      <string>ca.eth</string>
      <string>cu.eth</string>
      <string>ci.eth</string>
      <string>cee.eth</string>
    </array>
    <key>public.kern2.cca.eth</key>
    <array>
      <string>cca.eth</string>
      <string>ccu.eth</string>
      <string>cci.eth</string>
      <string>ccee.eth</string>
      <string>cco.eth</string>
    </array>
    <key>public.kern2.ccha.eth</key>
    <array>
      <string>be.eth</string>
      <string>bwe.eth</string>
      <string>boa.eth</string>
      <string>thoa.eth</string>
      <string>choa.eth</string>
      <string>ccha.eth</string>
      <string>cchu.eth</string>
      <string>cchi.eth</string>
      <string>cchee.eth</string>
      <string>ccho.eth</string>
    </array>
    <key>public.kern2.cchaa.eth</key>
    <array>
      <string>cchaa.eth</string>
      <string>cche.eth</string>
    </array>
    <key>public.kern2.cchha.eth</key>
    <array>
      <string>cchha.eth</string>
      <string>cchhu.eth</string>
      <string>cchhi.eth</string>
      <string>cchhee.eth</string>
      <string>cchho.eth</string>
    </array>
    <key>public.kern2.cchhaa.eth</key>
    <array>
      <string>cchhaa.eth</string>
      <string>cchhe.eth</string>
    </array>
    <key>public.kern2.da.eth</key>
    <array>
      <string>ye.eth</string>
      <string>da.eth</string>
      <string>de.eth</string>
    </array>
    <key>public.kern2.dda.eth</key>
    <array>
      <string>dda.eth</string>
      <string>ddhe.eth</string>
    </array>
    <key>public.kern2.ddhu.eth</key>
    <array>
      <string>ddu.eth</string>
      <string>ddi.eth</string>
      <string>ddaa.eth</string>
      <string>ddhu.eth</string>
      <string>ddhi.eth</string>
      <string>ddhaa.eth</string>
    </array>
    <key>public.kern2.du.eth</key>
    <array>
      <string>du.eth</string>
      <string>di.eth</string>
      <string>daa.eth</string>
    </array>
    <key>public.kern2.dzu.eth</key>
    <array>
      <string>dzu.eth</string>
      <string>dzi.eth</string>
      <string>dzee.eth</string>
      <string>dzo.eth</string>
    </array>
    <key>public.kern2.ePhr.eth</key>
    <array>
      <string>ePhr.eth</string>
      <string>tze.eth</string>
    </array>
    <key>public.kern2.fa.eth</key>
    <array>
      <string>ra.eth</string>
      <string>ri.eth</string>
      <string>raa.eth</string>
      <string>ree.eth</string>
      <string>fa.eth</string>
      <string>fee.eth</string>
      <string>fwaSebatbeit.eth</string>
      <string>fwi.eth</string>
      <string>fi.eth</string>
    </array>
    <key>public.kern2.ga.eth</key>
    <array>
      <string>ga.eth</string>
      <string>gu.eth</string>
      <string>gi.eth</string>
      <string>gee.eth</string>
      <string>gwi.eth</string>
      <string>gwe.eth</string>
    </array>
    <key>public.kern2.gaa.eth</key>
    <array>
      <string>gaa.eth</string>
      <string>gwee.eth</string>
    </array>
    <key>public.kern2.gga.eth</key>
    <array>
      <string>gga.eth</string>
      <string>ggu.eth</string>
      <string>ggi.eth</string>
      <string>ggee.eth</string>
      <string>ggwa.eth</string>
      <string>ggwi.eth</string>
      <string>ggwe.eth</string>
      <string>gyo.eth</string>
    </array>
    <key>public.kern2.go.eth</key>
    <array>
      <string>go.eth</string>
      <string>gwa.eth</string>
      <string>gya.eth</string>
      <string>gyu.eth</string>
      <string>gyi.eth</string>
      <string>gyee.eth</string>
    </array>
    <key>public.kern2.ha.eth</key>
    <array>
      <string>ha.eth</string>
      <string>hu.eth</string>
      <string>ho.eth</string>
      <string>sza.eth</string>
      <string>szu.eth</string>
    </array>
    <key>public.kern2.haa.eth</key>
    <array>
      <string>hi.eth</string>
      <string>haa.eth</string>
      <string>hee.eth</string>
    </array>
    <key>public.kern2.hha.eth</key>
    <array>
      <string>hha.eth</string>
      <string>hhu.eth</string>
      <string>hhi.eth</string>
      <string>hhee.eth</string>
      <string>hho.eth</string>
    </array>
    <key>public.kern2.hhaa.eth</key>
    <array>
      <string>hhaa.eth</string>
      <string>hhwa.eth</string>
    </array>
    <key>public.kern2.hyphen.right</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.iPhr.eth</key>
    <array>
      <string>iPhr.eth</string>
      <string>aaPhr.eth</string>
      <string>eePhr.eth</string>
    </array>
    <key>public.kern2.ju.eth</key>
    <array>
      <string>ju.eth</string>
      <string>ji.eth</string>
      <string>jaa.eth</string>
      <string>jee.eth</string>
      <string>jwa.eth</string>
    </array>
    <key>public.kern2.ka.eth</key>
    <array>
      <string>ka.eth</string>
      <string>ku.eth</string>
      <string>ki.eth</string>
      <string>kee.eth</string>
      <string>ke.eth</string>
      <string>ko.eth</string>
      <string>kwa.eth</string>
      <string>kwi.eth</string>
      <string>kwe.eth</string>
      <string>kya.eth</string>
      <string>kyu.eth</string>
      <string>kyi.eth</string>
      <string>kyee.eth</string>
      <string>kye.eth</string>
      <string>kyo.eth</string>
    </array>
    <key>public.kern2.kaa.eth</key>
    <array>
      <string>kaa.eth</string>
      <string>kwee.eth</string>
    </array>
    <key>public.kern2.kxwaa.eth</key>
    <array>
      <string>kxaa.eth</string>
      <string>kxwaa.eth</string>
      <string>kxwee.eth</string>
    </array>
    <key>public.kern2.la.eth</key>
    <array>
      <string>la.eth</string>
      <string>lu.eth</string>
      <string>li.eth</string>
      <string>lee.eth</string>
      <string>le.eth</string>
      <string>lo.eth</string>
    </array>
    <key>public.kern2.ma.eth</key>
    <array>
      <string>mu.eth</string>
      <string>ma.eth</string>
      <string>re.eth</string>
      <string>ro.eth</string>
      <string>wa.eth</string>
      <string>wu.eth</string>
      <string>we.eth</string>
      <string>mwaSebatbeit.eth</string>
    </array>
    <key>public.kern2.maa.eth</key>
    <array>
      <string>mi.eth</string>
      <string>maa.eth</string>
      <string>mee.eth</string>
      <string>mwa.eth</string>
      <string>mwi.eth</string>
      <string>mwee.eth</string>
    </array>
    <key>public.kern2.me.eth</key>
    <array>
      <string>me.eth</string>
      <string>mwe.eth</string>
    </array>
    <key>public.kern2.na.eth</key>
    <array>
      <string>nu.eth</string>
      <string>na.eth</string>
      <string>ni.eth</string>
    </array>
    <key>public.kern2.naa.eth</key>
    <array>
      <string>naa.eth</string>
      <string>no.eth</string>
    </array>
    <key>public.kern2.nya.eth</key>
    <array>
      <string>nya.eth</string>
      <string>nyu.eth</string>
      <string>nyi.eth</string>
      <string>kxa.eth</string>
      <string>kxu.eth</string>
      <string>kxi.eth</string>
      <string>kxee.eth</string>
      <string>kxe.eth</string>
      <string>kxo.eth</string>
      <string>kxwa.eth</string>
      <string>kxwi.eth</string>
      <string>kxwe.eth</string>
    </array>
    <key>public.kern2.nyaa.eth</key>
    <array>
      <string>nyaa.eth</string>
      <string>nyo.eth</string>
    </array>
    <key>public.kern2.pa.eth</key>
    <array>
      <string>pi.eth</string>
      <string>pa.eth</string>
      <string>pu.eth</string>
      <string>pee.eth</string>
      <string>pwaSebatbeit.eth</string>
      <string>pwi.eth</string>
    </array>
    <key>public.kern2.paa.eth</key>
    <array>
      <string>paa.eth</string>
      <string>pwa.eth</string>
      <string>pwee.eth</string>
    </array>
    <key>public.kern2.pe.eth</key>
    <array>
      <string>pwe.eth</string>
      <string>pe.eth</string>
    </array>
    <key>public.kern2.pha.eth</key>
    <array>
      <string>phi.eth</string>
      <string>pha.eth</string>
      <string>phu.eth</string>
      <string>phee.eth</string>
      <string>phe.eth</string>
      <string>pho.eth</string>
    </array>
    <key>public.kern2.qa.eth</key>
    <array>
      <string>qa.eth</string>
      <string>qu.eth</string>
      <string>qi.eth</string>
      <string>qee.eth</string>
      <string>qwa.eth</string>
      <string>qwi.eth</string>
      <string>qwe.eth</string>
    </array>
    <key>public.kern2.qha.eth</key>
    <array>
      <string>qha.eth</string>
      <string>qhu.eth</string>
      <string>qhi.eth</string>
      <string>qhee.eth</string>
      <string>qhwa.eth</string>
      <string>qhwi.eth</string>
      <string>qhwe.eth</string>
    </array>
    <key>public.kern2.qhaa.eth</key>
    <array>
      <string>qhaa.eth</string>
      <string>qhwee.eth</string>
      <string>caa.eth</string>
      <string>cwa.eth</string>
    </array>
    <key>public.kern2.qya.eth</key>
    <array>
      <string>qya.eth</string>
      <string>qyu.eth</string>
      <string>qyi.eth</string>
      <string>qyee.eth</string>
    </array>
    <key>public.kern2.ra.eth</key>
    <array>
      <string>nose</string>
    </array>
    <key>public.kern2.ru.eth</key>
    <array>
      <string>ru.eth</string>
      <string>faa.eth</string>
      <string>fwee.eth</string>
    </array>
    <key>public.kern2.sa.eth</key>
    <array>
      <string>sa.eth</string>
      <string>su.eth</string>
      <string>si.eth</string>
      <string>see.eth</string>
      <string>se.eth</string>
      <string>so.eth</string>
      <string>tthu.eth</string>
      <string>tthi.eth</string>
      <string>tthee.eth</string>
      <string>tthe.eth</string>
      <string>ttho.eth</string>
    </array>
    <key>public.kern2.saa.eth</key>
    <array>
      <string>saa.eth</string>
      <string>tthaa.eth</string>
    </array>
    <key>public.kern2.sha.eth</key>
    <array>
      <string>sho.eth</string>
      <string>sha.eth</string>
      <string>shu.eth</string>
      <string>shi.eth</string>
      <string>shee.eth</string>
      <string>she.eth</string>
      <string>va.eth</string>
      <string>vu.eth</string>
      <string>vi.eth</string>
      <string>vee.eth</string>
      <string>vo.eth</string>
    </array>
    <key>public.kern2.shaa.eth</key>
    <array>
      <string>shaa.eth</string>
      <string>vaa.eth</string>
    </array>
    <key>public.kern2.ssa.eth</key>
    <array>
      <string>ve.eth</string>
      <string>shoa.eth</string>
      <string>ssa.eth</string>
      <string>ssu.eth</string>
      <string>ssi.eth</string>
      <string>ssee.eth</string>
      <string>sse.eth</string>
      <string>sso.eth</string>
    </array>
    <key>public.kern2.swa.eth</key>
    <array>
      <string>swa.eth</string>
      <string>shwa.eth</string>
      <string>bwa.eth</string>
      <string>vwa.eth</string>
    </array>
    <key>public.kern2.szi.eth</key>
    <array>
      <string>szi.eth</string>
      <string>szaa.eth</string>
      <string>szee.eth</string>
      <string>shorttoploops</string>
    </array>
    <key>public.kern2.szo.eth</key>
    <array>
      <string>szo.eth</string>
      <string>szwa.eth</string>
    </array>
    <key>public.kern2.ta.eth</key>
    <array>
      <string>ta.eth</string>
      <string>tu.eth</string>
      <string>ti.eth</string>
      <string>tee.eth</string>
      <string>lollipop</string>
      <string>lollipopsmall</string>
    </array>
    <key>public.kern2.tha.eth</key>
    <array>
      <string>chi.eth</string>
      <string>tha.eth</string>
      <string>thu.eth</string>
      <string>thi.eth</string>
      <string>thee.eth</string>
      <string>tho.eth</string>
      <string>cha.eth</string>
      <string>chu.eth</string>
      <string>chee.eth</string>
      <string>cho.eth</string>
      <string>fo.eth</string>
    </array>
    <key>public.kern2.thaa.eth</key>
    <array>
      <string>thaa.eth</string>
      <string>the.eth</string>
      <string>thwa.eth</string>
      <string>chaa.eth</string>
      <string>che.eth</string>
      <string>chwa.eth</string>
    </array>
    <key>public.kern2.tsa.eth</key>
    <array>
      <string>oPhr.eth</string>
      <string>tsa.eth</string>
      <string>tsu.eth</string>
      <string>tsi.eth</string>
      <string>tsee.eth</string>
      <string>tse.eth</string>
      <string>tso.eth</string>
      <string>tzo.eth</string>
    </array>
    <key>public.kern2.tsaa.eth</key>
    <array>
      <string>tsaa.eth</string>
      <string>tswa.eth</string>
    </array>
    <key>public.kern2.tzaa.eth</key>
    <array>
      <string>tzi.eth</string>
      <string>tzaa.eth</string>
      <string>tzee.eth</string>
    </array>
    <key>public.kern2.wi.eth</key>
    <array>
      <string>wi.eth</string>
      <string>waa.eth</string>
      <string>wee.eth</string>
    </array>
    <key>public.kern2.xa.eth</key>
    <array>
      <string>xi.eth</string>
      <string>xa.eth</string>
      <string>xu.eth</string>
      <string>xee.eth</string>
      <string>xwa.eth</string>
      <string>xwi.eth</string>
      <string>xwe.eth</string>
    </array>
    <key>public.kern2.xya.eth</key>
    <array>
      <string>xya.eth</string>
      <string>xyu.eth</string>
      <string>xyi.eth</string>
      <string>xyaa.eth</string>
      <string>xyee.eth</string>
      <string>xye.eth</string>
      <string>xyo.eth</string>
    </array>
    <key>public.kern2.ya.eth</key>
    <array>
      <string>ya.eth</string>
      <string>yu.eth</string>
      <string>yi.eth</string>
      <string>yee.eth</string>
      <string>yo.eth</string>
    </array>
    <key>public.kern2.za.eth</key>
    <array>
      <string>za.eth</string>
      <string>zu.eth</string>
      <string>zi.eth</string>
      <string>zee.eth</string>
      <string>zo.eth</string>
    </array>
    <key>public.kern2.ze.eth</key>
    <array>
      <string>ze.eth</string>
      <string>zha.eth</string>
      <string>zhu.eth</string>
      <string>zhi.eth</string>
      <string>zhee.eth</string>
      <string>zho.eth</string>
      <string>zhwa.eth</string>
    </array>
    <key>public.kern2.zza.eth</key>
    <array>
      <string>zza.eth</string>
      <string>zzu.eth</string>
      <string>zzi.eth</string>
      <string>zzee.eth</string>
      <string>zzo.eth</string>
    </array>
  </dict>
</plist>
