<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansTeluguUI-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Telugu UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Telugu UI 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Telugu UI GSUB.txt</string>
	</dict>
	
	<key>NotoSansTeluguUI-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Telugu UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Telugu UI 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Telugu UI GSUB.txt</string>
	</dict>
	
	<key>NotoSansTeluguUI-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Telugu UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Telugu UI 151-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Telugu UI GSUB.txt</string>
	</dict>
	
	<key>NotoSansTeluguUI-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Telugu UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Telugu UI 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Telugu UI GSUB.txt</string>
	</dict>

	<key>NotoSansTeluguUI-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Telugu UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Telugu UI 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Telugu UI GSUB.txt</string>
	</dict>
		
	<key>NotoSansTeluguUI-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Telugu UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Telugu UI 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Telugu UI GSUB.txt</string>
	</dict>
		
	<key>NotoSansTeluguUI-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Telugu UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Telugu UI 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Telugu UI GSUB.txt</string>
	</dict>
		
</dict>
</plist>

