<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>1.5536245454545448</real>
      <key>public.kern2.quoteright</key>
      <real>4.660867272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>5.28231454545454</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>28.586644545454547</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>42.584049393939395</real>
      <key>public.kern2.quoteright</key>
      <real>21.336432727272726</real>
      <key>public.kern2.quotesingle</key>
      <real>39.47679818181818</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>43.708558181818184</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>4.35014575757576</real>
      <key>public.kern2.parenright</key>
      <real>54.68748121212121</real>
      <key>public.kern2.quoteright</key>
      <real>11.289653030303032</real>
      <key>public.kern2.quotesingle</key>
      <real>55.85644909090908</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <real>24.236498787878784</real>
      <key>public.kern2.T</key>
      <real>63.062231818181814</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>6.628783636363632</real>
      <key>public.kern2.parenright</key>
      <real>90.84992000000001</real>
      <key>public.kern2.quoteright</key>
      <real>54.19923545454546</real>
      <key>public.kern2.quotesingle</key>
      <real>81.33591606060607</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <real>4.616465454545455</real>
      <key>public.kern2.T</key>
      <real>7.250235575757571</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>10.978901818181818</real>
      <key>public.kern2.parenright</key>
      <real>29.208098181818176</real>
      <key>public.kern2.quoteright</key>
      <real>4.35014575757576</real>
      <key>public.kern2.quotesingle</key>
      <real>23.30433424242424</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>2.6929436969696963</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>1.4500466060606074</real>
      <key>public.kern2.parenright</key>
      <real>28.675403939393938</real>
      <key>public.kern2.quoteright</key>
      <real>2.900087272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>20.093538181818182</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <real>0.1553624545454544</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>35.95524878787879</real>
      <key>public.kern2.parenright</key>
      <real>42.39168181818182</real>
      <key>public.kern2.quoteright</key>
      <real>2.17507181818182</real>
      <key>public.kern2.quotesingle</key>
      <real>40.261014242424245</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>6.525211212121217</real>
      <key>bracketright</key>
      <real>6.525211212121217</real>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>parenright</key>
      <real>7.975254848484855</real>
      <key>public.kern2.T</key>
      <real>35.65932787878788</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>0.9321709090909067</real>
      <key>public.kern2.parenright</key>
      <real>78.22854484848483</real>
      <key>public.kern2.quoteright</key>
      <real>30.584175151515147</real>
      <key>public.kern2.quotesingle</key>
      <real>63.90566484848484</real>
      <key>question</key>
      <real>8.70029151515152</real>
      <key>quotedbl</key>
      <real>7.975254848484855</real>
      <key>quotedblright</key>
      <real>5.075167575757575</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>38.72219242424243</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>53.88848636363637</real>
      <key>public.kern2.quoteright</key>
      <real>25.42018272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>54.43594545454546</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>21.203219090909087</real>
      <key>public.kern2.parenright</key>
      <real>37.701240909090906</real>
      <key>public.kern2.quoteright</key>
      <real>13.494313636363643</real>
      <key>public.kern2.quotesingle</key>
      <real>43.13148515151515</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>2.9296860000000002</real>
      <key>luu-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>-42.495262727272724</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-13.183566</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-17.578110000000002</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-32.22658</real>
      <key>public.kern2.exclam</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.183566</real>
      <key>public.kern2.o-tamil</key>
      <real>-8.789070000000002</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-41.01562</real>
      <key>public.kern2.quotesingle</key>
      <real>-45.143850303030305</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-10.25388</real>
      <key>public.kern2.slash</key>
      <real>27.34375</real>
      <key>public.kern2.ya-tamil</key>
      <real>-8.789070000000002</real>
      <key>slash</key>
      <real>11.71875</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>13.671839999999998</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-13.183566</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>43.98970424242424</real>
      <key>bracketright</key>
      <real>78.96840545454545</real>
      <key>parenright</key>
      <real>77.69593090909092</real>
      <key>public.kern2.a-tamil</key>
      <real>-17.089844</real>
      <key>public.kern2.ka-tamil</key>
      <real>-6.835934</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>4.660867272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>5.28231454545454</real>
      <key>public.kern2.u-tamil</key>
      <real>-20.50783</real>
      <key>question</key>
      <real>49.24240454545454</real>
      <key>quotedbl</key>
      <real>70.72679060606062</real>
      <key>quotedblright</key>
      <real>37.05021181818182</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>8.078814545454543</real>
      <key>public.kern2.a-tamil</key>
      <real>-62.01169</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-22.94923</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>13.849419999999999</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-43.9453</real>
      <key>public.kern2.nya-tamil</key>
      <real>-32.22658</real>
      <key>public.kern2.o-tamil</key>
      <real>-31.25002</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-46.87498</real>
      <key>public.kern2.rra-tamil</key>
      <real>-17.08987</real>
      <key>public.kern2.slash</key>
      <real>-6.835934</real>
      <key>public.kern2.u-tamil</key>
      <real>-42.48046</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-60.05864</real>
      <key>slash</key>
      <real>-5.859360000000001</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-13.716254969696971</real>
      <key>public.kern2.T</key>
      <real>-21.943052121212126</real>
      <key>public.kern2.a-tamil</key>
      <real>11.71875</real>
      <key>public.kern2.ai-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.e-tamil</key>
      <real>-2.9296860000000002</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-22.46091</real>
      <key>public.kern2.i-tamil</key>
      <real>-11.230454</real>
      <key>public.kern2.ka-tamil</key>
      <real>-2.9296860000000002</real>
      <key>public.kern2.quoteright</key>
      <real>-26.35239363636364</real>
      <key>public.kern2.quotesingle</key>
      <real>-34.17966</real>
      <key>quotedbl</key>
      <real>8.064009454545456</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-25.87894</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-30.273435999999997</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-36.13282</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-1.4500466060606074</real>
      <key>public.kern2.a-tamil</key>
      <real>-14.160164000000002</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-6.835934</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>35.15626</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>22.46091</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>12.207037</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-10.25388</real>
      <key>public.kern2.parenright</key>
      <real>47.821992121212126</real>
      <key>public.kern2.period</key>
      <real>-32.62605818181818</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-27.34375</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-10.25388</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-3.758284060606064</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-7.812487000000001</real>
      <key>public.kern2.u-tamil</key>
      <real>-6.835934</real>
      <key>question</key>
      <real>4.35014575757576</real>
      <key>quotedbl</key>
      <real>6.924721818181823</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>91.79696000000001</real>
      <key>public.kern2.a-tamil</key>
      <real>-82.03124</real>
      <key>public.kern2.colon</key>
      <real>40.52734</real>
      <key>public.kern2.e-tamil</key>
      <real>-10.25388</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>43.45702</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>43.45702</real>
      <key>public.kern2.exclam</key>
      <real>89.35544</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>103.51574</real>
      <key>public.kern2.u-tamil</key>
      <real>-10.25388</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>60.05864</real>
      <key>public.kern2.a-tamil</key>
      <real>-34.66801000000001</real>
      <key>public.kern2.exclam</key>
      <real>7.32423</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.parenright</key>
      <real>52.73441</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-21.48439</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-207.031297</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-70.97835636363637</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-47.85154</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-36.13282</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-212.890203</real>
      <key>public.kern2.e-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.ka-tamil</key>
      <real>-61.02034848484848</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.om-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.u-tamil</key>
      <real>-26.36719</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-20.50779</real>
      <key>public.kern2.ka-tamil</key>
      <real>-20.50783</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>42.48046</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>13.671839999999998</real>
      <key>public.kern2.parenright</key>
      <real>52.73441</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>55.66409</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-16.601526</real>
      <key>public.kern2.quotesingle</key>
      <real>-13.671839999999998</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-10.742197</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-21.48439</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-62.98832</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-17.578110000000002</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.695294</real>
      <key>public.kern2.nya-tamil</key>
      <real>-11.230454</real>
      <key>public.kern2.rra-tamil</key>
      <real>-15.625004</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-19.04295</real>
      <key>public.kern2.a-tamil</key>
      <real>31.738300000000002</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-20.50783</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-43.456990000000005</real>
      <key>public.kern2.quotesingle</key>
      <real>-52.73441</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-75.68353000000002</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.183566</real>
      <key>public.kern2.period</key>
      <real>-11.230454</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-32.22654</real>
      <key>public.kern2.ai-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.o-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-12.695294</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.160164000000002</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-20.019556</real>
      <key>public.kern2.quoteright</key>
      <real>-31.25002</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>64.49749393939393</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.45843393939394</real>
      <key>public.kern2.parenright</key>
      <real>85.84870181818184</real>
      <key>public.kern2.quoteright</key>
      <real>57.09932272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>94.40114181818183</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>18.332715757575755</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>5.5930309696969704</real>
      <key>public.kern2.parenright</key>
      <real>33.66181848484848</real>
      <key>public.kern2.quoteright</key>
      <real>5.385882727272728</real>
      <key>public.kern2.quotesingle</key>
      <real>38.32268181818181</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>20.50783</real>
      <key>public.kern2.quotesingle</key>
      <real>19.057771515151515</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>24.029379696969695</real>
      <key>public.kern2.parenright</key>
      <real>41.962593636363636</real>
      <key>public.kern2.quoteright</key>
      <real>9.410517272727272</real>
      <key>public.kern2.quotesingle</key>
      <real>48.42859818181818</real>
    </dict>
  </dict>
</plist>
