<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10C80</key>
    <string>u10C_80.glif</string>
    <key>u10C81</key>
    <string>u10C_81.glif</string>
    <key>u10C82</key>
    <string>u10C_82.glif</string>
    <key>u10C83</key>
    <string>u10C_83.glif</string>
    <key>u10C84</key>
    <string>u10C_84.glif</string>
    <key>u10C85</key>
    <string>u10C_85.glif</string>
    <key>u10C86</key>
    <string>u10C_86.glif</string>
    <key>u10C87</key>
    <string>u10C_87.glif</string>
    <key>u10C88</key>
    <string>u10C_88.glif</string>
    <key>u10C89</key>
    <string>u10C_89.glif</string>
    <key>u10C8A</key>
    <string>u10C_8A_.glif</string>
    <key>u10C8B</key>
    <string>u10C_8B_.glif</string>
    <key>u10C8C</key>
    <string>u10C_8C_.glif</string>
    <key>u10C8D</key>
    <string>u10C_8D_.glif</string>
    <key>u10C8E</key>
    <string>u10C_8E_.glif</string>
    <key>u10C8F</key>
    <string>u10C_8F_.glif</string>
    <key>u10C90</key>
    <string>u10C_90.glif</string>
    <key>u10C91</key>
    <string>u10C_91.glif</string>
    <key>u10C92</key>
    <string>u10C_92.glif</string>
    <key>u10C93</key>
    <string>u10C_93.glif</string>
    <key>u10C94</key>
    <string>u10C_94.glif</string>
    <key>u10C95</key>
    <string>u10C_95.glif</string>
    <key>u10C96</key>
    <string>u10C_96.glif</string>
    <key>u10C97</key>
    <string>u10C_97.glif</string>
    <key>u10C98</key>
    <string>u10C_98.glif</string>
    <key>u10C99</key>
    <string>u10C_99.glif</string>
    <key>u10C9A</key>
    <string>u10C_9A_.glif</string>
    <key>u10C9B</key>
    <string>u10C_9B_.glif</string>
    <key>u10C9C</key>
    <string>u10C_9C_.glif</string>
    <key>u10C9D</key>
    <string>u10C_9D_.glif</string>
    <key>u10C9E</key>
    <string>u10C_9E_.glif</string>
    <key>u10C9F</key>
    <string>u10C_9F_.glif</string>
    <key>u10CA0</key>
    <string>u10C_A_0.glif</string>
    <key>u10CA1</key>
    <string>u10C_A_1.glif</string>
    <key>u10CA2</key>
    <string>u10C_A_2.glif</string>
    <key>u10CA3</key>
    <string>u10C_A_3.glif</string>
    <key>u10CA4</key>
    <string>u10C_A_4.glif</string>
    <key>u10CA5</key>
    <string>u10C_A_5.glif</string>
    <key>u10CA6</key>
    <string>u10C_A_6.glif</string>
    <key>u10CA7</key>
    <string>u10C_A_7.glif</string>
    <key>u10CA8</key>
    <string>u10C_A_8.glif</string>
    <key>u10CA9</key>
    <string>u10C_A_9.glif</string>
    <key>u10CAA</key>
    <string>u10C_A_A_.glif</string>
    <key>u10CAB</key>
    <string>u10C_A_B_.glif</string>
    <key>u10CAC</key>
    <string>u10C_A_C_.glif</string>
    <key>u10CAD</key>
    <string>u10C_A_D_.glif</string>
    <key>u10CAE</key>
    <string>u10C_A_E_.glif</string>
    <key>u10CAF</key>
    <string>u10C_A_F_.glif</string>
    <key>u10CB0</key>
    <string>u10C_B_0.glif</string>
    <key>u10CB1</key>
    <string>u10C_B_1.glif</string>
    <key>u10CB2</key>
    <string>u10C_B_2.glif</string>
    <key>u10CC0</key>
    <string>u10C_C_0.glif</string>
    <key>u10CC1</key>
    <string>u10C_C_1.glif</string>
    <key>u10CC2</key>
    <string>u10C_C_2.glif</string>
    <key>u10CC3</key>
    <string>u10C_C_3.glif</string>
    <key>u10CC4</key>
    <string>u10C_C_4.glif</string>
    <key>u10CC5</key>
    <string>u10C_C_5.glif</string>
    <key>u10CC6</key>
    <string>u10C_C_6.glif</string>
    <key>u10CC7</key>
    <string>u10C_C_7.glif</string>
    <key>u10CC8</key>
    <string>u10C_C_8.glif</string>
    <key>u10CC9</key>
    <string>u10C_C_9.glif</string>
    <key>u10CCA</key>
    <string>u10C_C_A_.glif</string>
    <key>u10CCB</key>
    <string>u10C_C_B_.glif</string>
    <key>u10CCC</key>
    <string>u10C_C_C_.glif</string>
    <key>u10CCD</key>
    <string>u10C_C_D_.glif</string>
    <key>u10CCE</key>
    <string>u10C_C_E_.glif</string>
    <key>u10CCF</key>
    <string>u10C_C_F_.glif</string>
    <key>u10CD0</key>
    <string>u10C_D_0.glif</string>
    <key>u10CD1</key>
    <string>u10C_D_1.glif</string>
    <key>u10CD2</key>
    <string>u10C_D_2.glif</string>
    <key>u10CD3</key>
    <string>u10C_D_3.glif</string>
    <key>u10CD4</key>
    <string>u10C_D_4.glif</string>
    <key>u10CD5</key>
    <string>u10C_D_5.glif</string>
    <key>u10CD6</key>
    <string>u10C_D_6.glif</string>
    <key>u10CD7</key>
    <string>u10C_D_7.glif</string>
    <key>u10CD8</key>
    <string>u10C_D_8.glif</string>
    <key>u10CD9</key>
    <string>u10C_D_9.glif</string>
    <key>u10CDA</key>
    <string>u10C_D_A_.glif</string>
    <key>u10CDB</key>
    <string>u10C_D_B_.glif</string>
    <key>u10CDC</key>
    <string>u10C_D_C_.glif</string>
    <key>u10CDD</key>
    <string>u10C_D_D_.glif</string>
    <key>u10CDE</key>
    <string>u10C_D_E_.glif</string>
    <key>u10CDF</key>
    <string>u10C_D_F_.glif</string>
    <key>u10CE0</key>
    <string>u10C_E_0.glif</string>
    <key>u10CE1</key>
    <string>u10C_E_1.glif</string>
    <key>u10CE2</key>
    <string>u10C_E_2.glif</string>
    <key>u10CE3</key>
    <string>u10C_E_3.glif</string>
    <key>u10CE4</key>
    <string>u10C_E_4.glif</string>
    <key>u10CE5</key>
    <string>u10C_E_5.glif</string>
    <key>u10CE6</key>
    <string>u10C_E_6.glif</string>
    <key>u10CE7</key>
    <string>u10C_E_7.glif</string>
    <key>u10CE8</key>
    <string>u10C_E_8.glif</string>
    <key>u10CE9</key>
    <string>u10C_E_9.glif</string>
    <key>u10CEA</key>
    <string>u10C_E_A_.glif</string>
    <key>u10CEB</key>
    <string>u10C_E_B_.glif</string>
    <key>u10CEC</key>
    <string>u10C_E_C_.glif</string>
    <key>u10CED</key>
    <string>u10C_E_D_.glif</string>
    <key>u10CEE</key>
    <string>u10C_E_E_.glif</string>
    <key>u10CEF</key>
    <string>u10C_E_F_.glif</string>
    <key>u10CF0</key>
    <string>u10C_F_0.glif</string>
    <key>u10CF1</key>
    <string>u10C_F_1.glif</string>
    <key>u10CF2</key>
    <string>u10C_F_2.glif</string>
    <key>u10CFA</key>
    <string>u10C_F_A_.glif</string>
    <key>u10CFB</key>
    <string>u10C_F_B_.glif</string>
    <key>u10CFC</key>
    <string>u10C_F_C_.glif</string>
    <key>u10CFD</key>
    <string>u10C_F_D_.glif</string>
    <key>u10CFE</key>
    <string>u10C_F_E_.glif</string>
    <key>u10CFF</key>
    <string>u10C_F_F_.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni10C80.ltr</key>
    <string>uni10C_80.ltr.glif</string>
    <key>uni10C81.ltr</key>
    <string>uni10C_81.ltr.glif</string>
    <key>uni10C82.ltr</key>
    <string>uni10C_82.ltr.glif</string>
    <key>uni10C83.ltr</key>
    <string>uni10C_83.ltr.glif</string>
    <key>uni10C84.ltr</key>
    <string>uni10C_84.ltr.glif</string>
    <key>uni10C85.ltr</key>
    <string>uni10C_85.ltr.glif</string>
    <key>uni10C86.ltr</key>
    <string>uni10C_86.ltr.glif</string>
    <key>uni10C87.ltr</key>
    <string>uni10C_87.ltr.glif</string>
    <key>uni10C88.ltr</key>
    <string>uni10C_88.ltr.glif</string>
    <key>uni10C89.ltr</key>
    <string>uni10C_89.ltr.glif</string>
    <key>uni10C8A.ltr</key>
    <string>uni10C_8A_.ltr.glif</string>
    <key>uni10C8B.ltr</key>
    <string>uni10C_8B_.ltr.glif</string>
    <key>uni10C8C.ltr</key>
    <string>uni10C_8C_.ltr.glif</string>
    <key>uni10C8D.ltr</key>
    <string>uni10C_8D_.ltr.glif</string>
    <key>uni10C8E.ltr</key>
    <string>uni10C_8E_.ltr.glif</string>
    <key>uni10C8F.ltr</key>
    <string>uni10C_8F_.ltr.glif</string>
    <key>uni10C90.ltr</key>
    <string>uni10C_90.ltr.glif</string>
    <key>uni10C91.ltr</key>
    <string>uni10C_91.ltr.glif</string>
    <key>uni10C92.ltr</key>
    <string>uni10C_92.ltr.glif</string>
    <key>uni10C93.ltr</key>
    <string>uni10C_93.ltr.glif</string>
    <key>uni10C94.ltr</key>
    <string>uni10C_94.ltr.glif</string>
    <key>uni10C95.ltr</key>
    <string>uni10C_95.ltr.glif</string>
    <key>uni10C96.ltr</key>
    <string>uni10C_96.ltr.glif</string>
    <key>uni10C97.ltr</key>
    <string>uni10C_97.ltr.glif</string>
    <key>uni10C98.ltr</key>
    <string>uni10C_98.ltr.glif</string>
    <key>uni10C99.ltr</key>
    <string>uni10C_99.ltr.glif</string>
    <key>uni10C9A.ltr</key>
    <string>uni10C_9A_.ltr.glif</string>
    <key>uni10C9B.ltr</key>
    <string>uni10C_9B_.ltr.glif</string>
    <key>uni10C9C.ltr</key>
    <string>uni10C_9C_.ltr.glif</string>
    <key>uni10C9D.ltr</key>
    <string>uni10C_9D_.ltr.glif</string>
    <key>uni10C9E.ltr</key>
    <string>uni10C_9E_.ltr.glif</string>
    <key>uni10C9F.ltr</key>
    <string>uni10C_9F_.ltr.glif</string>
    <key>uni10CA0.ltr</key>
    <string>uni10C_A_0.ltr.glif</string>
    <key>uni10CA1.ltr</key>
    <string>uni10C_A_1.ltr.glif</string>
    <key>uni10CA2.ltr</key>
    <string>uni10C_A_2.ltr.glif</string>
    <key>uni10CA3.ltr</key>
    <string>uni10C_A_3.ltr.glif</string>
    <key>uni10CA4.ltr</key>
    <string>uni10C_A_4.ltr.glif</string>
    <key>uni10CA5.ltr</key>
    <string>uni10C_A_5.ltr.glif</string>
    <key>uni10CA6.ltr</key>
    <string>uni10C_A_6.ltr.glif</string>
    <key>uni10CA7.ltr</key>
    <string>uni10C_A_7.ltr.glif</string>
    <key>uni10CA8.ltr</key>
    <string>uni10C_A_8.ltr.glif</string>
    <key>uni10CA9.ltr</key>
    <string>uni10C_A_9.ltr.glif</string>
    <key>uni10CAA.ltr</key>
    <string>uni10C_A_A_.ltr.glif</string>
    <key>uni10CAB.ltr</key>
    <string>uni10C_A_B_.ltr.glif</string>
    <key>uni10CAC.ltr</key>
    <string>uni10C_A_C_.ltr.glif</string>
    <key>uni10CAD.ltr</key>
    <string>uni10C_A_D_.ltr.glif</string>
    <key>uni10CAE.ltr</key>
    <string>uni10C_A_E_.ltr.glif</string>
    <key>uni10CAF.ltr</key>
    <string>uni10C_A_F_.ltr.glif</string>
    <key>uni10CB0.ltr</key>
    <string>uni10C_B_0.ltr.glif</string>
    <key>uni10CB1.ltr</key>
    <string>uni10C_B_1.ltr.glif</string>
    <key>uni10CB2.ltr</key>
    <string>uni10C_B_2.ltr.glif</string>
    <key>uni10CC0.ltr</key>
    <string>uni10C_C_0.ltr.glif</string>
    <key>uni10CC1.ltr</key>
    <string>uni10C_C_1.ltr.glif</string>
    <key>uni10CC2.ltr</key>
    <string>uni10C_C_2.ltr.glif</string>
    <key>uni10CC3.ltr</key>
    <string>uni10C_C_3.ltr.glif</string>
    <key>uni10CC4.ltr</key>
    <string>uni10C_C_4.ltr.glif</string>
    <key>uni10CC5.ltr</key>
    <string>uni10C_C_5.ltr.glif</string>
    <key>uni10CC6.ltr</key>
    <string>uni10C_C_6.ltr.glif</string>
    <key>uni10CC7.ltr</key>
    <string>uni10C_C_7.ltr.glif</string>
    <key>uni10CC8.ltr</key>
    <string>uni10C_C_8.ltr.glif</string>
    <key>uni10CC9.ltr</key>
    <string>uni10C_C_9.ltr.glif</string>
    <key>uni10CCA.ltr</key>
    <string>uni10C_C_A_.ltr.glif</string>
    <key>uni10CCB.ltr</key>
    <string>uni10C_C_B_.ltr.glif</string>
    <key>uni10CCC.ltr</key>
    <string>uni10C_C_C_.ltr.glif</string>
    <key>uni10CCD.ltr</key>
    <string>uni10C_C_D_.ltr.glif</string>
    <key>uni10CCE.ltr</key>
    <string>uni10C_C_E_.ltr.glif</string>
    <key>uni10CCF.ltr</key>
    <string>uni10C_C_F_.ltr.glif</string>
    <key>uni10CD0.ltr</key>
    <string>uni10C_D_0.ltr.glif</string>
    <key>uni10CD1.ltr</key>
    <string>uni10C_D_1.ltr.glif</string>
    <key>uni10CD2.ltr</key>
    <string>uni10C_D_2.ltr.glif</string>
    <key>uni10CD3.ltr</key>
    <string>uni10C_D_3.ltr.glif</string>
    <key>uni10CD4.ltr</key>
    <string>uni10C_D_4.ltr.glif</string>
    <key>uni10CD5.ltr</key>
    <string>uni10C_D_5.ltr.glif</string>
    <key>uni10CD6.ltr</key>
    <string>uni10C_D_6.ltr.glif</string>
    <key>uni10CD7.ltr</key>
    <string>uni10C_D_7.ltr.glif</string>
    <key>uni10CD8.ltr</key>
    <string>uni10C_D_8.ltr.glif</string>
    <key>uni10CD9.ltr</key>
    <string>uni10C_D_9.ltr.glif</string>
    <key>uni10CDA.ltr</key>
    <string>uni10C_D_A_.ltr.glif</string>
    <key>uni10CDB.ltr</key>
    <string>uni10C_D_B_.ltr.glif</string>
    <key>uni10CDC.ltr</key>
    <string>uni10C_D_C_.ltr.glif</string>
    <key>uni10CDD.ltr</key>
    <string>uni10C_D_D_.ltr.glif</string>
    <key>uni10CDE.ltr</key>
    <string>uni10C_D_E_.ltr.glif</string>
    <key>uni10CDF.ltr</key>
    <string>uni10C_D_F_.ltr.glif</string>
    <key>uni10CE0.ltr</key>
    <string>uni10C_E_0.ltr.glif</string>
    <key>uni10CE1.ltr</key>
    <string>uni10C_E_1.ltr.glif</string>
    <key>uni10CE2.ltr</key>
    <string>uni10C_E_2.ltr.glif</string>
    <key>uni10CE3.ltr</key>
    <string>uni10C_E_3.ltr.glif</string>
    <key>uni10CE4.ltr</key>
    <string>uni10C_E_4.ltr.glif</string>
    <key>uni10CE5.ltr</key>
    <string>uni10C_E_5.ltr.glif</string>
    <key>uni10CE6.ltr</key>
    <string>uni10C_E_6.ltr.glif</string>
    <key>uni10CE7.ltr</key>
    <string>uni10C_E_7.ltr.glif</string>
    <key>uni10CE8.ltr</key>
    <string>uni10C_E_8.ltr.glif</string>
    <key>uni10CE9.ltr</key>
    <string>uni10C_E_9.ltr.glif</string>
    <key>uni10CEA.ltr</key>
    <string>uni10C_E_A_.ltr.glif</string>
    <key>uni10CEB.ltr</key>
    <string>uni10C_E_B_.ltr.glif</string>
    <key>uni10CEC.ltr</key>
    <string>uni10C_E_C_.ltr.glif</string>
    <key>uni10CED.ltr</key>
    <string>uni10C_E_D_.ltr.glif</string>
    <key>uni10CEE.ltr</key>
    <string>uni10C_E_E_.ltr.glif</string>
    <key>uni10CEF.ltr</key>
    <string>uni10C_E_F_.ltr.glif</string>
    <key>uni10CF0.ltr</key>
    <string>uni10C_F_0.ltr.glif</string>
    <key>uni10CF1.ltr</key>
    <string>uni10C_F_1.ltr.glif</string>
    <key>uni10CF2.ltr</key>
    <string>uni10C_F_2.ltr.glif</string>
  </dict>
</plist>
