<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10C00</key>
    <string>u10C_00.glif</string>
    <key>u10C01</key>
    <string>u10C_01.glif</string>
    <key>u10C02</key>
    <string>u10C_02.glif</string>
    <key>u10C03</key>
    <string>u10C_03.glif</string>
    <key>u10C04</key>
    <string>u10C_04.glif</string>
    <key>u10C05</key>
    <string>u10C_05.glif</string>
    <key>u10C06</key>
    <string>u10C_06.glif</string>
    <key>u10C07</key>
    <string>u10C_07.glif</string>
    <key>u10C08</key>
    <string>u10C_08.glif</string>
    <key>u10C09</key>
    <string>u10C_09.glif</string>
    <key>u10C0A</key>
    <string>u10C_0A_.glif</string>
    <key>u10C0B</key>
    <string>u10C_0B_.glif</string>
    <key>u10C0C</key>
    <string>u10C_0C_.glif</string>
    <key>u10C0D</key>
    <string>u10C_0D_.glif</string>
    <key>u10C0E</key>
    <string>u10C_0E_.glif</string>
    <key>u10C0F</key>
    <string>u10C_0F_.glif</string>
    <key>u10C10</key>
    <string>u10C_10.glif</string>
    <key>u10C11</key>
    <string>u10C_11.glif</string>
    <key>u10C12</key>
    <string>u10C_12.glif</string>
    <key>u10C13</key>
    <string>u10C_13.glif</string>
    <key>u10C14</key>
    <string>u10C_14.glif</string>
    <key>u10C15</key>
    <string>u10C_15.glif</string>
    <key>u10C16</key>
    <string>u10C_16.glif</string>
    <key>u10C17</key>
    <string>u10C_17.glif</string>
    <key>u10C18</key>
    <string>u10C_18.glif</string>
    <key>u10C19</key>
    <string>u10C_19.glif</string>
    <key>u10C1A</key>
    <string>u10C_1A_.glif</string>
    <key>u10C1B</key>
    <string>u10C_1B_.glif</string>
    <key>u10C1C</key>
    <string>u10C_1C_.glif</string>
    <key>u10C1D</key>
    <string>u10C_1D_.glif</string>
    <key>u10C1E</key>
    <string>u10C_1E_.glif</string>
    <key>u10C1F</key>
    <string>u10C_1F_.glif</string>
    <key>u10C20</key>
    <string>u10C_20.glif</string>
    <key>u10C21</key>
    <string>u10C_21.glif</string>
    <key>u10C22</key>
    <string>u10C_22.glif</string>
    <key>u10C23</key>
    <string>u10C_23.glif</string>
    <key>u10C24</key>
    <string>u10C_24.glif</string>
    <key>u10C25</key>
    <string>u10C_25.glif</string>
    <key>u10C26</key>
    <string>u10C_26.glif</string>
    <key>u10C27</key>
    <string>u10C_27.glif</string>
    <key>u10C28</key>
    <string>u10C_28.glif</string>
    <key>u10C29</key>
    <string>u10C_29.glif</string>
    <key>u10C2A</key>
    <string>u10C_2A_.glif</string>
    <key>u10C2B</key>
    <string>u10C_2B_.glif</string>
    <key>u10C2C</key>
    <string>u10C_2C_.glif</string>
    <key>u10C2D</key>
    <string>u10C_2D_.glif</string>
    <key>u10C2E</key>
    <string>u10C_2E_.glif</string>
    <key>u10C2F</key>
    <string>u10C_2F_.glif</string>
    <key>u10C30</key>
    <string>u10C_30.glif</string>
    <key>u10C31</key>
    <string>u10C_31.glif</string>
    <key>u10C32</key>
    <string>u10C_32.glif</string>
    <key>u10C33</key>
    <string>u10C_33.glif</string>
    <key>u10C34</key>
    <string>u10C_34.glif</string>
    <key>u10C35</key>
    <string>u10C_35.glif</string>
    <key>u10C36</key>
    <string>u10C_36.glif</string>
    <key>u10C37</key>
    <string>u10C_37.glif</string>
    <key>u10C38</key>
    <string>u10C_38.glif</string>
    <key>u10C39</key>
    <string>u10C_39.glif</string>
    <key>u10C3A</key>
    <string>u10C_3A_.glif</string>
    <key>u10C3B</key>
    <string>u10C_3B_.glif</string>
    <key>u10C3C</key>
    <string>u10C_3C_.glif</string>
    <key>u10C3D</key>
    <string>u10C_3D_.glif</string>
    <key>u10C3E</key>
    <string>u10C_3E_.glif</string>
    <key>u10C3F</key>
    <string>u10C_3F_.glif</string>
    <key>u10C40</key>
    <string>u10C_40.glif</string>
    <key>u10C41</key>
    <string>u10C_41.glif</string>
    <key>u10C42</key>
    <string>u10C_42.glif</string>
    <key>u10C43</key>
    <string>u10C_43.glif</string>
    <key>u10C44</key>
    <string>u10C_44.glif</string>
    <key>u10C45</key>
    <string>u10C_45.glif</string>
    <key>u10C46</key>
    <string>u10C_46.glif</string>
    <key>u10C47</key>
    <string>u10C_47.glif</string>
    <key>u10C48</key>
    <string>u10C_48.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
