<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.YEZI_be</key>
    <array>
      <string>be-yezi</string>
      <string>hha-yezi</string>
    </array>
    <key>public.kern1.YEZI_cim_1ST</key>
    <array>
      <string>cim-yezi</string>
      <string>chim-yezi</string>
      <string>chhim-yezi</string>
    </array>
    <key>public.kern1.YEZI_dad</key>
    <array>
      <string>dad-yezi</string>
    </array>
    <key>public.kern1.YEZI_elif_1ST</key>
    <array>
      <string>elif-yezi</string>
    </array>
    <key>public.kern1.YEZI_ew</key>
    <array>
      <string>ew-yezi</string>
      <string>hay-yezi</string>
    </array>
    <key>public.kern1.YEZI_eyn_1ST</key>
    <array>
      <string>eyn-yezi</string>
    </array>
    <key>public.kern1.YEZI_fa_1ST</key>
    <array>
      <string>fa-yezi</string>
    </array>
    <key>public.kern1.YEZI_gaf</key>
    <array>
      <string>gaf-yezi</string>
    </array>
    <key>public.kern1.YEZI_ja</key>
    <array>
      <string>ja-yezi</string>
    </array>
    <key>public.kern1.YEZI_kaf_1ST</key>
    <array>
      <string>kaf-yezi</string>
      <string>khaf-yezi</string>
    </array>
    <key>public.kern1.YEZI_lam_1ST</key>
    <array>
      <string>lam-yezi</string>
    </array>
    <key>public.kern1.YEZI_mim_1ST</key>
    <array>
      <string>mim-yezi</string>
    </array>
    <key>public.kern1.YEZI_nun</key>
    <array>
      <string>nun-yezi</string>
      <string>sin-yezi</string>
    </array>
    <key>public.kern1.YEZI_pe_1ST</key>
    <array>
      <string>pe-yezi</string>
    </array>
    <key>public.kern1.YEZI_phe_1ST</key>
    <array>
      <string>phe-yezi</string>
    </array>
    <key>public.kern1.YEZI_qaf</key>
    <array>
      <string>qaf-yezi</string>
    </array>
    <key>public.kern1.YEZI_ra</key>
    <array>
      <string>ra-yezi</string>
      <string>rha-yezi</string>
      <string>shin-yezi</string>
    </array>
    <key>public.kern1.YEZI_sad</key>
    <array>
      <string>sad-yezi</string>
    </array>
    <key>public.kern1.YEZI_se_1ST</key>
    <array>
      <string>se-yezi</string>
    </array>
    <key>public.kern1.YEZI_ta_1ST</key>
    <array>
      <string>ta-yezi</string>
    </array>
    <key>public.kern1.YEZI_the</key>
    <array>
      <string>the-yezi</string>
    </array>
    <key>public.kern1.YEZI_um_1ST</key>
    <array>
      <string>um-yezi</string>
      <string>va-yezi</string>
      <string>waw-yezi</string>
      <string>ow-yezi</string>
    </array>
    <key>public.kern1.YEZI_va.alt_1ST</key>
    <array>
      <string>va-yezi.alt</string>
    </array>
    <key>public.kern1.YEZI_xa</key>
    <array>
      <string>xa-yezi</string>
    </array>
    <key>public.kern1.YEZI_yot_1ST</key>
    <array>
      <string>yot-yezi</string>
      <string>et-yezi</string>
      <string>dal-yezi</string>
    </array>
    <key>public.kern1.YEZI_za_1ST</key>
    <array>
      <string>za-yezi</string>
    </array>
    <key>public.kern1.YEZI_zal_1ST</key>
    <array>
      <string>zal-yezi</string>
    </array>
    <key>public.kern1.YEZI_ze</key>
    <array>
      <string>ze-yezi</string>
      <string>xheyn-yezi</string>
    </array>
    <key>public.kern2.YEZI_be</key>
    <array>
      <string>be-yezi</string>
      <string>hha-yezi</string>
    </array>
    <key>public.kern2.YEZI_chim_2ND</key>
    <array>
      <string>chim-yezi</string>
      <string>chhim-yezi</string>
    </array>
    <key>public.kern2.YEZI_cim_2ND</key>
    <array>
      <string>cim-yezi</string>
    </array>
    <key>public.kern2.YEZI_dad</key>
    <array>
      <string>dad-yezi</string>
    </array>
    <key>public.kern2.YEZI_elif_2ND</key>
    <array>
      <string>elif-yezi</string>
    </array>
    <key>public.kern2.YEZI_ew</key>
    <array>
      <string>ew-yezi</string>
      <string>hay-yezi</string>
    </array>
    <key>public.kern2.YEZI_eyn_2ND</key>
    <array>
      <string>eyn-yezi</string>
    </array>
    <key>public.kern2.YEZI_fa_2ND</key>
    <array>
      <string>fa-yezi</string>
    </array>
    <key>public.kern2.YEZI_gaf</key>
    <array>
      <string>gaf-yezi</string>
    </array>
    <key>public.kern2.YEZI_ja</key>
    <array>
      <string>ja-yezi</string>
    </array>
    <key>public.kern2.YEZI_kaf_2ND</key>
    <array>
      <string>kaf-yezi</string>
      <string>khaf-yezi</string>
    </array>
    <key>public.kern2.YEZI_lam_2ND</key>
    <array>
      <string>lam-yezi</string>
    </array>
    <key>public.kern2.YEZI_mim_2ND</key>
    <array>
      <string>mim-yezi</string>
    </array>
    <key>public.kern2.YEZI_nun</key>
    <array>
      <string>nun-yezi</string>
      <string>sin-yezi</string>
    </array>
    <key>public.kern2.YEZI_pe_2ND</key>
    <array>
      <string>pe-yezi</string>
    </array>
    <key>public.kern2.YEZI_phe_2ND</key>
    <array>
      <string>phe-yezi</string>
    </array>
    <key>public.kern2.YEZI_qaf</key>
    <array>
      <string>qaf-yezi</string>
    </array>
    <key>public.kern2.YEZI_ra</key>
    <array>
      <string>ra-yezi</string>
      <string>rha-yezi</string>
      <string>shin-yezi</string>
    </array>
    <key>public.kern2.YEZI_sad</key>
    <array>
      <string>sad-yezi</string>
    </array>
    <key>public.kern2.YEZI_se_2ND</key>
    <array>
      <string>se-yezi</string>
    </array>
    <key>public.kern2.YEZI_ta_2ND</key>
    <array>
      <string>ta-yezi</string>
    </array>
    <key>public.kern2.YEZI_the</key>
    <array>
      <string>the-yezi</string>
    </array>
    <key>public.kern2.YEZI_um_2ND</key>
    <array>
      <string>um-yezi</string>
    </array>
    <key>public.kern2.YEZI_va.alt_2ND</key>
    <array>
      <string>va-yezi.alt</string>
    </array>
    <key>public.kern2.YEZI_va_2ND</key>
    <array>
      <string>va-yezi</string>
      <string>waw-yezi</string>
      <string>ow-yezi</string>
    </array>
    <key>public.kern2.YEZI_xa</key>
    <array>
      <string>xa-yezi</string>
    </array>
    <key>public.kern2.YEZI_yot_2ND</key>
    <array>
      <string>yot-yezi</string>
      <string>et-yezi</string>
    </array>
    <key>public.kern2.YEZI_za_2ND</key>
    <array>
      <string>za-yezi</string>
    </array>
    <key>public.kern2.YEZI_zal_2ND</key>
    <array>
      <string>zal-yezi</string>
      <string>dal-yezi</string>
    </array>
    <key>public.kern2.YEZI_ze</key>
    <array>
      <string>ze-yezi</string>
      <string>xheyn-yezi</string>
    </array>
  </dict>
</plist>
