<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>i_i-makasar</key>
	<string>i_i-makasar.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>u_u-makasar</key>
	<string>u_u-makasar.glif</string>
	<key>uni11EE0</key>
	<string>uni11E_E_0.glif</string>
	<key>uni11EE1</key>
	<string>uni11E_E_1.glif</string>
	<key>uni11EE2</key>
	<string>uni11E_E_2.glif</string>
	<key>uni11EE3</key>
	<string>uni11E_E_3.glif</string>
	<key>uni11EE4</key>
	<string>uni11E_E_4.glif</string>
	<key>uni11EE5</key>
	<string>uni11E_E_5.glif</string>
	<key>uni11EE6</key>
	<string>uni11E_E_6.glif</string>
	<key>uni11EE7</key>
	<string>uni11E_E_7.glif</string>
	<key>uni11EE8</key>
	<string>uni11E_E_8.glif</string>
	<key>uni11EE9</key>
	<string>uni11E_E_9.glif</string>
	<key>uni11EEA</key>
	<string>uni11E_E_A_.glif</string>
	<key>uni11EEB</key>
	<string>uni11E_E_B_.glif</string>
	<key>uni11EEC</key>
	<string>uni11E_E_C_.glif</string>
	<key>uni11EED</key>
	<string>uni11E_E_D_.glif</string>
	<key>uni11EEE</key>
	<string>uni11E_E_E_.glif</string>
	<key>uni11EEF</key>
	<string>uni11E_E_F_.glif</string>
	<key>uni11EF0</key>
	<string>uni11E_F_0.glif</string>
	<key>uni11EF1</key>
	<string>uni11E_F_1.glif</string>
	<key>uni11EF2</key>
	<string>uni11E_F_2.glif</string>
	<key>uni11EF3</key>
	<string>uni11E_F_3.glif</string>
	<key>uni11EF4</key>
	<string>uni11E_F_4.glif</string>
	<key>uni11EF5</key>
	<string>uni11E_F_5.glif</string>
	<key>uni11EF6</key>
	<string>uni11E_F_6.glif</string>
	<key>uni11EF7</key>
	<string>uni11E_F_7.glif</string>
	<key>uni11EF8</key>
	<string>uni11E_F_8.glif</string>
	<key>uni25CC</key>
	<string>uni25C_C_.glif</string>
</dict>
</plist>
