<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>nine-thai</key>
    <dict>
      <key>eight-thai</key>
      <integer>-10</integer>
      <key>public.kern2.four-thai</key>
      <integer>-10</integer>
      <key>public.kern2.zero-thai</key>
      <integer>-10</integer>
      <key>six-thai</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.four-thai</key>
    <dict>
      <key>eight-thai</key>
      <integer>-10</integer>
      <key>public.kern2.zero-thai</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.saraE-thai</key>
    <dict>
      <key>ngoNgu-thai</key>
      <integer>-20</integer>
      <key>public.kern2.boBaimai-thai</key>
      <integer>-5</integer>
      <key>public.kern2.choChan-thai</key>
      <integer>6</integer>
      <key>public.kern2.doDek-thai</key>
      <integer>-10</integer>
      <key>public.kern2.khoKhai-thai</key>
      <integer>-31</integer>
      <key>public.kern2.khoKhwai-thai</key>
      <integer>-10</integer>
      <key>public.kern2.khoRakhang-thai</key>
      <integer>-10</integer>
      <key>public.kern2.loLing-thai</key>
      <integer>0</integer>
      <key>public.kern2.noNu-thai</key>
      <integer>-6</integer>
      <key>public.kern2.oAng-thai</key>
      <integer>0</integer>
      <key>public.kern2.phoPhan-thai</key>
      <integer>-10</integer>
      <key>public.kern2.thoThung-thai</key>
      <integer>-4</integer>
      <key>roRua-thai</key>
      <integer>0</integer>
      <key>thoThong-thai</key>
      <integer>-10</integer>
      <key>woWaen-thai</key>
      <integer>0</integer>
      <key>yoYak-thai</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.zero-thai</key>
    <dict>
      <key>six-thai</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
