<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1069</integer>
    <key>capHeight</key>
    <integer>778</integer>
    <key>copyright</key>
    <string>Copyright 2018 Google Inc. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-180</integer>
    <key>familyName</key>
    <string>Noto Sans Palmyrene</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2018/02/02 20:37:09</string>
    <key>openTypeHheaAscender</key>
    <integer>1069</integer>
    <key>openTypeHheaDescender</key>
    <integer>-293</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Designed by Monotype design team.</string>
    <key>openTypeNameDesigner</key>
    <string>Monotype Design Team</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.monotype.com/studio</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Monotype Imaging Inc.</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com/get/noto/</string>
    <key>openTypeNameVersion</key>
    <string>Version 2.000</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>8</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1069</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-293</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>57</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1069</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>293</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>640</integer>
      <integer>655</integer>
      <integer>778</integer>
      <integer>793</integer>
      <integer>1069</integer>
      <integer>1084</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-195</integer>
      <integer>-180</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>76</integer>
      <integer>66</integer>
      <integer>111</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>88</integer>
      <integer>73</integer>
      <integer>111</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Noto is a trademark of Google Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>640</integer>
  </dict>
</plist>
