<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/hyphentwo</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uniA900</string>
      <string>uniA901</string>
      <string>uniA902</string>
      <string>uniA903</string>
      <string>uniA904</string>
      <string>uniA905</string>
      <string>uniA906</string>
      <string>uniA907</string>
      <string>uniA908</string>
      <string>uniA909</string>
      <string>uniA90A</string>
      <string>uniA90B</string>
      <string>uniA90C</string>
      <string>uniA90D</string>
      <string>uniA90E</string>
      <string>uniA90F</string>
      <string>uniA910</string>
      <string>uniA911</string>
      <string>uniA912</string>
      <string>uniA913</string>
      <string>uniA914</string>
      <string>uniA915</string>
      <string>uniA916</string>
      <string>uniA917</string>
      <string>uniA918</string>
      <string>uniA919</string>
      <string>uniA91A</string>
      <string>uniA91B</string>
      <string>uniA91C</string>
      <string>uniA91D</string>
      <string>uniA91E</string>
      <string>uniA91F</string>
      <string>uniA920</string>
      <string>uniA921</string>
      <string>uniA922</string>
      <string>uniA923</string>
      <string>uniA924</string>
      <string>uniA925</string>
      <string>uniA926</string>
      <string>uniA927</string>
      <string>uniA928</string>
      <string>uniA929</string>
      <string>uniA92A</string>
      <string>uniA92B</string>
      <string>uniA92C</string>
      <string>uniA92C.alt</string>
      <string>uniA92D</string>
      <string>uniA92D.alt</string>
      <string>uniA92E</string>
      <string>uniA92F</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>hyphentwo</key>
      <string>uni2010</string>
    </dict>
  </dict>
</plist>
