<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansMyanmar-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmar-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmar-Bold GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmar-SemiBold GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmar-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmar-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmar-Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmar-Regular GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmar-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmar-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmar-BoldCondensed GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmar-SemiBold GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmar-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmar-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmar-LightCondensed GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmar-Regular GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmar-CondensedSemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmar-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmar-SemiBoldCondensed GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmar-SemiBold GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmar-Light</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmar-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmar-Light GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmar-Regular GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmar-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmar-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmar-Regular GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmar-Regular GSUB.txt</string>
	</dict>
	<key>NotoSansMyanmar-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSansMyanmar-Regular GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSansMyanmar-SemiBold GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSansMyanmar-SemiBold GSUB.txt</string>
	</dict>
</dict>
</plist>
