<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>ZWJ</key>
    <string>Z_W_J_.glif</string>
    <key>ZWNJ</key>
    <string>Z_W_N_J_.glif</string>
    <key>aMatra_chakma</key>
    <string>aM_atra_chakma.glif</string>
    <key>aa.below_yyaa.post</key>
    <string>aa.below_yyaa.post.glif</string>
    <key>aaMatra_chakma</key>
    <string>aaM_atra_chakma.glif</string>
    <key>aa_chakma</key>
    <string>aa_chakma.glif</string>
    <key>aiMatra_anusvara</key>
    <string>aiM_atra_anusvara.glif</string>
    <key>aiMatra_anusvara.short</key>
    <string>aiM_atra_anusvara.short.glif</string>
    <key>aiMatra_candrabindu</key>
    <string>aiM_atra_candrabindu.glif</string>
    <key>aiMatra_candrabindu.short</key>
    <string>aiM_atra_candrabindu.short.glif</string>
    <key>aiMatra_chakma</key>
    <string>aiM_atra_chakma.glif</string>
    <key>aiMatra_chakma.short</key>
    <string>aiM_atra_chakma.short.glif</string>
    <key>aiMatra_maayyaa</key>
    <string>aiM_atra_maayyaa.glif</string>
    <key>aiMatra_maayyaa.short</key>
    <string>aiM_atra_maayyaa.short.glif</string>
    <key>aiMatra_visarga</key>
    <string>aiM_atra_visarga.glif</string>
    <key>aiMatra_visarga.short</key>
    <string>aiM_atra_visarga.short.glif</string>
    <key>anusvara_candrabindu</key>
    <string>anusvara_candrabindu.glif</string>
    <key>anusvara_chakma</key>
    <string>anusvara_chakma.glif</string>
    <key>anusvara_iMatra</key>
    <string>anusvara_iM_atra.glif</string>
    <key>anusvara_iMatra_aMatra</key>
    <string>anusvara_iM_atra_aM_atra.glif</string>
    <key>anusvara_iiMatra</key>
    <string>anusvara_iiM_atra.glif</string>
    <key>anusvara_iiMatra_aMatra</key>
    <string>anusvara_iiM_atra_aM_atra.glif</string>
    <key>auMark_chakma</key>
    <string>auM_ark_chakma.glif</string>
    <key>auMatra_chakma</key>
    <string>auM_atra_chakma.glif</string>
    <key>baa_chakma</key>
    <string>baa_chakma.glif</string>
    <key>baa_chakma.below</key>
    <string>baa_chakma.below.glif</string>
    <key>bhaa_chakma</key>
    <string>bhaa_chakma.glif</string>
    <key>bhaa_chakma.below</key>
    <string>bhaa_chakma.below.glif</string>
    <key>bottom11111</key>
    <string>bottom11111.glif</string>
    <key>bottom11112</key>
    <string>bottom11112.glif</string>
    <key>caa_chakma</key>
    <string>caa_chakma.glif</string>
    <key>caa_chakma.below</key>
    <string>caa_chakma.below.glif</string>
    <key>candrabindu_chakma</key>
    <string>candrabindu_chakma.glif</string>
    <key>candrabindu_iMatra</key>
    <string>candrabindu_iM_atra.glif</string>
    <key>candrabindu_iMatra_aMatra</key>
    <string>candrabindu_iM_atra_aM_atra.glif</string>
    <key>candrabindu_iiMatra</key>
    <string>candrabindu_iiM_atra.glif</string>
    <key>candrabindu_iiMatra_aMatra</key>
    <string>candrabindu_iiM_atra_aM_atra.glif</string>
    <key>candrabindu_visarga</key>
    <string>candrabindu_visarga.glif</string>
    <key>chaa_chakma</key>
    <string>chaa_chakma.glif</string>
    <key>chaa_chakma.alt</key>
    <string>chaa_chakma.alt.glif</string>
    <key>chaa_chakma.alt.below</key>
    <string>chaa_chakma.alt.below.glif</string>
    <key>chaa_chakma.below</key>
    <string>chaa_chakma.below.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>daa_chakma</key>
    <string>daa_chakma.glif</string>
    <key>daa_chakma.below</key>
    <string>daa_chakma.below.glif</string>
    <key>danda_chakma</key>
    <string>danda_chakma.glif</string>
    <key>ddaa_chakma</key>
    <string>ddaa_chakma.glif</string>
    <key>ddaa_chakma.below</key>
    <string>ddaa_chakma.below.glif</string>
    <key>ddaa_yyaa.post</key>
    <string>ddaa_yyaa.post.glif</string>
    <key>ddhaa_chakma</key>
    <string>ddhaa_chakma.glif</string>
    <key>ddhaa_chakma.below</key>
    <string>ddhaa_chakma.below.glif</string>
    <key>ddhaa_yyaa.post</key>
    <string>ddhaa_yyaa.post.glif</string>
    <key>dhaa_chakma</key>
    <string>dhaa_chakma.glif</string>
    <key>dhaa_chakma.below</key>
    <string>dhaa_chakma.below.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>doubleEMatra_chakma</key>
    <string>doubleE_M_atra_chakma.glif</string>
    <key>doubleEMatra_chakma.alt</key>
    <string>doubleE_M_atra_chakma.alt.glif</string>
    <key>doubledanda_chakma</key>
    <string>doubledanda_chakma.glif</string>
    <key>eMatra_chakma</key>
    <string>eM_atra_chakma.glif</string>
    <key>eMatra_chakma.alt</key>
    <string>eM_atra_chakma.alt.glif</string>
    <key>e_chakma</key>
    <string>e_chakma.glif</string>
    <key>eiMatra_chakma</key>
    <string>eiM_atra_chakma.glif</string>
    <key>eight_chakma</key>
    <string>eight_chakma.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>five_chakma</key>
    <string>five_chakma.glif</string>
    <key>four_chakma</key>
    <string>four_chakma.glif</string>
    <key>gaa_chakma</key>
    <string>gaa_chakma.glif</string>
    <key>gaa_chakma.below</key>
    <string>gaa_chakma.below.glif</string>
    <key>ghaa_chakma</key>
    <string>ghaa_chakma.glif</string>
    <key>ghaa_chakma.alt</key>
    <string>ghaa_chakma.alt.glif</string>
    <key>ghaa_chakma.alt.below</key>
    <string>ghaa_chakma.alt.below.glif</string>
    <key>ghaa_chakma.below</key>
    <string>ghaa_chakma.below.glif</string>
    <key>haa_chakma</key>
    <string>haa_chakma.glif</string>
    <key>haa_chakma.below</key>
    <string>haa_chakma.below.glif</string>
    <key>haa_chakma.below.alt</key>
    <string>haa_chakma.below.alt.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i.below_yyaa.post</key>
    <string>i.below_yyaa.post.glif</string>
    <key>iMatra_aMatra</key>
    <string>iM_atra_aM_atra.glif</string>
    <key>iMatra_chakma</key>
    <string>iM_atra_chakma.glif</string>
    <key>i_chakma</key>
    <string>i_chakma.glif</string>
    <key>iiMatra_aMatra</key>
    <string>iiM_atra_aM_atra.glif</string>
    <key>iiMatra_chakma</key>
    <string>iiM_atra_chakma.glif</string>
    <key>jaa_chakma</key>
    <string>jaa_chakma.glif</string>
    <key>jaa_chakma.alt</key>
    <string>jaa_chakma.alt.glif</string>
    <key>jaa_chakma.alt.below</key>
    <string>jaa_chakma.alt.below.glif</string>
    <key>jaa_chakma.below</key>
    <string>jaa_chakma.below.glif</string>
    <key>jhaa.base</key>
    <string>jhaa.base.glif</string>
    <key>jhaa_aaMatra</key>
    <string>jhaa_aaM_atra.glif</string>
    <key>jhaa_chakma</key>
    <string>jhaa_chakma.glif</string>
    <key>jhaa_chakma.below</key>
    <string>jhaa_chakma.below.glif</string>
    <key>jhaa_e.below</key>
    <string>jhaa_e.below.glif</string>
    <key>jhaa_eiMatra</key>
    <string>jhaa_eiM_atra.glif</string>
    <key>jhaa_yyaa.post</key>
    <string>jhaa_yyaa.post.glif</string>
    <key>jhaa_yyaa_aaMatra</key>
    <string>jhaa_yyaa_aaM_atra.glif</string>
    <key>jhaa_yyaa_e.below</key>
    <string>jhaa_yyaa_e.below.glif</string>
    <key>jhaa_yyaa_eiMatra</key>
    <string>jhaa_yyaa_eiM_atra.glif</string>
    <key>kaa_chakma</key>
    <string>kaa_chakma.glif</string>
    <key>kaa_chakma.below</key>
    <string>kaa_chakma.below.glif</string>
    <key>khaa_chakma</key>
    <string>khaa_chakma.glif</string>
    <key>khaa_chakma.below</key>
    <string>khaa_chakma.below.glif</string>
    <key>laa_chakma</key>
    <string>laa_chakma.glif</string>
    <key>laa_chakma.below</key>
    <string>laa_chakma.below.glif</string>
    <key>laa_chakma.below.alt</key>
    <string>laa_chakma.below.alt.glif</string>
    <key>lhaa_chakma</key>
    <string>lhaa_chakma.glif</string>
    <key>lhaa_chakma.below</key>
    <string>lhaa_chakma.below.glif</string>
    <key>maa_chakma</key>
    <string>maa_chakma.glif</string>
    <key>maa_chakma.below</key>
    <string>maa_chakma.below.glif</string>
    <key>maayyaa_chakma</key>
    <string>maayyaa_chakma.glif</string>
    <key>maayyaa_iMatra</key>
    <string>maayyaa_iM_atra.glif</string>
    <key>maayyaa_iMatra_aMatra</key>
    <string>maayyaa_iM_atra_aM_atra.glif</string>
    <key>maayyaa_iiMatra</key>
    <string>maayyaa_iiM_atra.glif</string>
    <key>maayyaa_iiMatra_aMatra</key>
    <string>maayyaa_iiM_atra_aM_atra.glif</string>
    <key>naa_chakma</key>
    <string>naa_chakma.glif</string>
    <key>naa_chakma.alt</key>
    <string>naa_chakma.alt.glif</string>
    <key>naa_chakma.alt.below</key>
    <string>naa_chakma.alt.below.glif</string>
    <key>naa_chakma.below</key>
    <string>naa_chakma.below.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ngaa_aaMatra</key>
    <string>ngaa_aaM_atra.glif</string>
    <key>ngaa_chakma</key>
    <string>ngaa_chakma.glif</string>
    <key>ngaa_chakma.below</key>
    <string>ngaa_chakma.below.glif</string>
    <key>ngaa_e.below</key>
    <string>ngaa_e.below.glif</string>
    <key>ngaa_eiMatra</key>
    <string>ngaa_eiM_atra.glif</string>
    <key>ngaa_yyaa_aaMatra</key>
    <string>ngaa_yyaa_aaM_atra.glif</string>
    <key>ngaa_yyaa_e.below</key>
    <string>ngaa_yyaa_e.below.glif</string>
    <key>ngaa_yyaa_eiMatra</key>
    <string>ngaa_yyaa_eiM_atra.glif</string>
    <key>nine_chakma</key>
    <string>nine_chakma.glif</string>
    <key>nnaa_chakma</key>
    <string>nnaa_chakma.glif</string>
    <key>nnaa_chakma.alt</key>
    <string>nnaa_chakma.alt.glif</string>
    <key>nnaa_chakma.alt.below</key>
    <string>nnaa_chakma.alt.below.glif</string>
    <key>nnaa_chakma.below</key>
    <string>nnaa_chakma.below.glif</string>
    <key>nyaa.base</key>
    <string>nyaa.base.glif</string>
    <key>nyaa_chakma</key>
    <string>nyaa_chakma.glif</string>
    <key>nyaa_chakma.below</key>
    <string>nyaa_chakma.below.glif</string>
    <key>nyaa_raa.below</key>
    <string>nyaa_raa.below.glif</string>
    <key>nyaa_yyaa.post</key>
    <string>nyaa_yyaa.post.glif</string>
    <key>oMark_chakma</key>
    <string>oM_ark_chakma.glif</string>
    <key>oMatra_chakma</key>
    <string>oM_atra_chakma.glif</string>
    <key>oiMatra_anusvara</key>
    <string>oiM_atra_anusvara.glif</string>
    <key>oiMatra_anusvara.short</key>
    <string>oiM_atra_anusvara.short.glif</string>
    <key>oiMatra_candrabindu</key>
    <string>oiM_atra_candrabindu.glif</string>
    <key>oiMatra_candrabindu.short</key>
    <string>oiM_atra_candrabindu.short.glif</string>
    <key>oiMatra_chakma</key>
    <string>oiM_atra_chakma.glif</string>
    <key>oiMatra_chakma.short</key>
    <string>oiM_atra_chakma.short.glif</string>
    <key>oiMatra_maayyaa</key>
    <string>oiM_atra_maayyaa.glif</string>
    <key>oiMatra_maayyaa.short</key>
    <string>oiM_atra_maayyaa.short.glif</string>
    <key>oiMatra_visarga</key>
    <string>oiM_atra_visarga.glif</string>
    <key>oiMatra_visarga.short</key>
    <string>oiM_atra_visarga.short.glif</string>
    <key>one_chakma</key>
    <string>one_chakma.glif</string>
    <key>paa_chakma</key>
    <string>paa_chakma.glif</string>
    <key>paa_chakma.below</key>
    <string>paa_chakma.below.glif</string>
    <key>phaa_chakma</key>
    <string>phaa_chakma.glif</string>
    <key>phaa_chakma.below</key>
    <string>phaa_chakma.below.glif</string>
    <key>question_chakma</key>
    <string>question_chakma.glif</string>
    <key>ra.legs</key>
    <string>ra.legs.glif</string>
    <key>raa.below_auMark</key>
    <string>raa.below_auM_ark.glif</string>
    <key>raa.below_auMark.curve</key>
    <string>raa.below_auM_ark.curve.glif</string>
    <key>raa.below_oMark</key>
    <string>raa.below_oM_ark.glif</string>
    <key>raa.below_oMark.short</key>
    <string>raa.below_oM_ark.short.glif</string>
    <key>raa.below_uMark</key>
    <string>raa.below_uM_ark.glif</string>
    <key>raa.below_uMark.short</key>
    <string>raa.below_uM_ark.short.glif</string>
    <key>raa.below_uMatra</key>
    <string>raa.below_uM_atra.glif</string>
    <key>raa.below_uuMark</key>
    <string>raa.below_uuM_ark.glif</string>
    <key>raa.below_uuMark.alt</key>
    <string>raa.below_uuM_ark.alt.glif</string>
    <key>raa.below_uuMark.short</key>
    <string>raa.below_uuM_ark.short.glif</string>
    <key>raa.below_uuMark.short.alt</key>
    <string>raa.below_uuM_ark.short.alt.glif</string>
    <key>raa_chakma</key>
    <string>raa_chakma.glif</string>
    <key>raa_chakma.below</key>
    <string>raa_chakma.below.glif</string>
    <key>raa_chakma.below.curve</key>
    <string>raa_chakma.below.curve.glif</string>
    <key>raa_chakma.below_uuMatra</key>
    <string>raa_chakma.below_uuM_atra.glif</string>
    <key>raa_chakma.below_uuMatra.alt</key>
    <string>raa_chakma.below_uuM_atra.alt.glif</string>
    <key>saa_chakma</key>
    <string>saa_chakma.glif</string>
    <key>saa_chakma.below</key>
    <string>saa_chakma.below.glif</string>
    <key>section_chakma</key>
    <string>section_chakma.glif</string>
    <key>section_chakma.alt</key>
    <string>section_chakma.alt.glif</string>
    <key>seven_chakma</key>
    <string>seven_chakma.glif</string>
    <key>shorteiMatra</key>
    <string>shorteiM_atra.glif</string>
    <key>shorteiMatra_yyaa.post</key>
    <string>shorteiM_atra_yyaa.post.glif</string>
    <key>six_chakma</key>
    <string>six_chakma.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>taa_chakma</key>
    <string>taa_chakma.glif</string>
    <key>taa_chakma.below</key>
    <string>taa_chakma.below.glif</string>
    <key>thaa_chakma</key>
    <string>thaa_chakma.glif</string>
    <key>thaa_chakma.below</key>
    <string>thaa_chakma.below.glif</string>
    <key>three_chakma</key>
    <string>three_chakma.glif</string>
    <key>ttaa.base</key>
    <string>ttaa.base.glif</string>
    <key>ttaa_aaMatra</key>
    <string>ttaa_aaM_atra.glif</string>
    <key>ttaa_chakma</key>
    <string>ttaa_chakma.glif</string>
    <key>ttaa_chakma.below</key>
    <string>ttaa_chakma.below.glif</string>
    <key>ttaa_e.below</key>
    <string>ttaa_e.below.glif</string>
    <key>ttaa_eiMatra</key>
    <string>ttaa_eiM_atra.glif</string>
    <key>ttaa_tthaa_left</key>
    <string>ttaa_tthaa_left.glif</string>
    <key>ttaa_yyaa.post</key>
    <string>ttaa_yyaa.post.glif</string>
    <key>ttaa_yyaa_aaMatra</key>
    <string>ttaa_yyaa_aaM_atra.glif</string>
    <key>ttaa_yyaa_e.below</key>
    <string>ttaa_yyaa_e.below.glif</string>
    <key>ttaa_yyaa_eiMatra</key>
    <string>ttaa_yyaa_eiM_atra.glif</string>
    <key>tthaa.base</key>
    <string>tthaa.base.glif</string>
    <key>tthaa_aaMatra</key>
    <string>tthaa_aaM_atra.glif</string>
    <key>tthaa_chakma</key>
    <string>tthaa_chakma.glif</string>
    <key>tthaa_chakma.below</key>
    <string>tthaa_chakma.below.glif</string>
    <key>tthaa_e.below</key>
    <string>tthaa_e.below.glif</string>
    <key>tthaa_eiMatra</key>
    <string>tthaa_eiM_atra.glif</string>
    <key>tthaa_yyaa_aaMatra</key>
    <string>tthaa_yyaa_aaM_atra.glif</string>
    <key>tthaa_yyaa_e.below</key>
    <string>tthaa_yyaa_e.below.glif</string>
    <key>tthaa_yyaa_eiMatra</key>
    <string>tthaa_yyaa_eiM_atra.glif</string>
    <key>two_chakma</key>
    <string>two_chakma.glif</string>
    <key>uMatra_chakma</key>
    <string>uM_atra_chakma.glif</string>
    <key>uMatra_chakma.alt</key>
    <string>uM_atra_chakma.alt.glif</string>
    <key>u_chakma</key>
    <string>u_chakma.glif</string>
    <key>u_chakma.below</key>
    <string>u_chakma.below.glif</string>
    <key>uni09E6</key>
    <string>uni09E_6.glif</string>
    <key>uni09E7</key>
    <string>uni09E_7.glif</string>
    <key>uni09E8</key>
    <string>uni09E_8.glif</string>
    <key>uni09E9</key>
    <string>uni09E_9.glif</string>
    <key>uni09EA</key>
    <string>uni09E_A_.glif</string>
    <key>uni09EB</key>
    <string>uni09E_B_.glif</string>
    <key>uni09EC</key>
    <string>uni09E_C_.glif</string>
    <key>uni09ED</key>
    <string>uni09E_D_.glif</string>
    <key>uni09EE</key>
    <string>uni09E_E_.glif</string>
    <key>uni09EF</key>
    <string>uni09E_F_.glif</string>
    <key>uni1040</key>
    <string>uni1040.glif</string>
    <key>uni1041</key>
    <string>uni1041.glif</string>
    <key>uni1042</key>
    <string>uni1042.glif</string>
    <key>uni1043</key>
    <string>uni1043.glif</string>
    <key>uni1044</key>
    <string>uni1044.glif</string>
    <key>uni1045</key>
    <string>uni1045.glif</string>
    <key>uni1046</key>
    <string>uni1046.glif</string>
    <key>uni1047</key>
    <string>uni1047.glif</string>
    <key>uni1048</key>
    <string>uni1048.glif</string>
    <key>uni1049</key>
    <string>uni1049.glif</string>
    <key>uuMatra_chakma</key>
    <string>uuM_atra_chakma.glif</string>
    <key>uuMatra_chakma.alt</key>
    <string>uuM_atra_chakma.alt.glif</string>
    <key>vaa_chakma</key>
    <string>vaa_chakma.glif</string>
    <key>vaa_chakma.below</key>
    <string>vaa_chakma.below.glif</string>
    <key>virama_chakma</key>
    <string>virama_chakma.glif</string>
    <key>visarga_anusvara</key>
    <string>visarga_anusvara.glif</string>
    <key>visarga_chakma</key>
    <string>visarga_chakma.glif</string>
    <key>visarga_iMatra</key>
    <string>visarga_iM_atra.glif</string>
    <key>visarga_iMatra_aMatra</key>
    <string>visarga_iM_atra_aM_atra.glif</string>
    <key>visarga_iiMatra</key>
    <string>visarga_iiM_atra.glif</string>
    <key>visarga_iiMatra_aMatra</key>
    <string>visarga_iiM_atra_aM_atra.glif</string>
    <key>waa_chakma</key>
    <string>waa_chakma.glif</string>
    <key>waa_chakma.below</key>
    <string>waa_chakma.below.glif</string>
    <key>yaa_chakma</key>
    <string>yaa_chakma.glif</string>
    <key>yaa_chakma.alt</key>
    <string>yaa_chakma.alt.glif</string>
    <key>yaa_chakma.alt2</key>
    <string>yaa_chakma.alt2.glif</string>
    <key>yaa_chakma.below</key>
    <string>yaa_chakma.below.glif</string>
    <key>yyaa_chakma</key>
    <string>yyaa_chakma.glif</string>
    <key>yyaa_chakma.post</key>
    <string>yyaa_chakma.post.glif</string>
    <key>yyaa_chakma.post.alt1</key>
    <string>yyaa_chakma.post.alt1.glif</string>
    <key>yyaa_chakma.post.alt2</key>
    <string>yyaa_chakma.post.alt2.glif</string>
    <key>yyaa_chakma.post.alt3</key>
    <string>yyaa_chakma.post.alt3.glif</string>
    <key>zero_chakma</key>
    <string>zero_chakma.glif</string>
  </dict>
</plist>
