<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1D72C4DB-D20D-420D-B086-1F84B9DB7C9C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ZWJ</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ZWNJ</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aa.below_yyaa.post</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aaMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_anusvara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_anusvara.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_candrabindu</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_candrabindu.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_chakma.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_maayyaa</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_maayyaa.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_visarga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra_visarga.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.anusvara_candrabindu</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.anusvara_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.anusvara_iMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.anusvara_iMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.anusvara_iiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.anusvara_iiMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.auMark_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.auMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.baa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.baa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bhaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bhaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bottom11111</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bottom11112</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.candrabindu_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.candrabindu_iMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.candrabindu_iMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.candrabindu_iiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.candrabindu_iiMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.candrabindu_visarga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chaa_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chaa_chakma.alt.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.danda_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddaa_yyaa.post</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddhaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddhaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddhaa_yyaa.post</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dhaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dhaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dottedCircle</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.doubleEMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.doubleEMatra_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.doubledanda_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eMatra_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eiMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghaa_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghaa_chakma.alt.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haa_chakma.below.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.below_yyaa.post</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iiMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iiMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jaa_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jaa_chakma.alt.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa.base</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa_aaMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa_e.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa_eiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa_yyaa.post</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa_yyaa_aaMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa_yyaa_e.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jhaa_yyaa_eiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.laa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.laa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.laa_chakma.below.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lhaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lhaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.maa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.maa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.maayyaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.maayyaa_iMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.maayyaa_iMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.maayyaa_iiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.maayyaa_iiMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naa_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naa_chakma.alt.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nbspace</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_aaMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_e.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_eiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_yyaa_aaMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_yyaa_e.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngaa_yyaa_eiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nnaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nnaa_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nnaa_chakma.alt.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nnaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nyaa.base</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nyaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nyaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nyaa_raa.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nyaa_yyaa.post</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oMark_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_anusvara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_anusvara.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_candrabindu</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_candrabindu.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_chakma.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_maayyaa</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_maayyaa.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_visarga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oiMatra_visarga.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.phaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.phaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ra.legs</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_auMark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_auMark.curve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_oMark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_oMark.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_uMark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_uMark.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_uMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_uuMark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_uuMark.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_uuMark.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa.below_uuMark.short.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa_chakma.below.curve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa_chakma.below_uuMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa_chakma.below_uuMatra.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.saa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.saa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shorteiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shorteiMatra_yyaa.post</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.taa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.taa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa.base</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_aaMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_e.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_eiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_tthaa_left</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_yyaa.post</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_yyaa_aaMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_yyaa_e.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa_yyaa_eiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tthaa.base</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tthaa_aaMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tthaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tthaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tthaa_e.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tthaa_eiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tthaa_yyaa_aaMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tthaa_yyaa_e.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tthaa_yyaa_eiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uMatra_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09E6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09E7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09E8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09E9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09ED</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1040</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1041</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1042</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1043</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1044</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1045</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1046</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1047</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1048</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1049</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uuMatra_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uuMatra_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.virama_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.visarga_anusvara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.visarga_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.visarga_iMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.visarga_iMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.visarga_iiMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.visarga_iiMatra_aMatra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.waa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.waa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yaa_chakma.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yaa_chakma.alt2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yaa_chakma.below</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yyaa_chakma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yyaa_chakma.post</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yyaa_chakma.post.alt1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yyaa_chakma.post.alt2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yyaa_chakma.post.alt3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero_chakma</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
