<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
  </dict>
</plist>
