<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSerifMyanmar-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Myanmar GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Myanmar 28-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Myanmar GSUB.txt</string>
	</dict>
	
	<key>NotoSerifMyanmar-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Myanmar GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Myanmar 128-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Myanmar GSUB.txt</string>
	</dict>

	<key>NotoSerifMyanmar-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Myanmar GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Myanmar 194-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Myanmar GSUB.txt</string>
	</dict>

	<key>NotoSerifMyanmar-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Myanmar GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Myanmar 28-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Myanmar GSUB.txt</string>
	</dict>
		
	<key>NotoSerifMyanmar-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Myanmar GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Myanmar 128-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Myanmar GSUB.txt</string>
	</dict>
		
	<key>NotoSerifMyanmar-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Myanmar GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Myanmar 194-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Myanmar GSUB.txt</string>
	</dict>
		
</dict>
</plist>

