<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSerifMyanmar-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSerifMyanmar_GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSerifMyanmar-Bold_GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSerifMyanmar_GSUB.txt</string>
	</dict>
	<key>NotoSerifMyanmar-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSerifMyanmar_GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSerifMyanmar-Cond_GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSerifMyanmar_GSUB.txt</string>
	</dict>
	<key>NotoSerifMyanmar-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSerifMyanmar_GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSerifMyanmar-CondBold_GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSerifMyanmar_GSUB.txt</string>
	</dict>
	<key>NotoSerifMyanmar-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSerifMyanmar_GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSerifMyanmar-CondLight_GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSerifMyanmar_GSUB.txt</string>
	</dict>
	<key>NotoSerifMyanmar-Light</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSerifMyanmar_GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSerifMyanmar-Light_GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSerifMyanmar_GSUB.txt</string>
	</dict>
	<key>NotoSerifMyanmar-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>NotoSerifMyanmar_GDEF.txt</string>
		<key>GPOS</key>
		<string>NotoSerifMyanmar-Regular_GPOS.txt</string>
		<key>GSUB</key>
		<string>NotoSerifMyanmar_GSUB.txt</string>
	</dict>
</dict>
</plist>
