<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.P</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern1.aa-tamil</key>
    <array>
      <string>aa-tamil</string>
      <string>nguu-tamil</string>
      <string>puu-tamil</string>
      <string>yuu-tamil</string>
      <string>vuu-tamil</string>
    </array>
    <key>public.kern1.ai-tamil</key>
    <array>
      <string>ai-tamil</string>
      <string>ja-tamil</string>
      <string>jii-tamil</string>
    </array>
    <key>public.kern1.ca-tamil</key>
    <array>
      <string>ii-tamil</string>
      <string>ca-tamil</string>
      <string>four-tamil</string>
      <string>cii-tamil</string>
    </array>
    <key>public.kern1.cu-tamil</key>
    <array>
      <string>cu-tamil</string>
    </array>
    <key>public.kern1.cuu-tamil</key>
    <array>
      <string>onethousand-tamil</string>
      <string>cuu-tamil</string>
    </array>
    <key>public.kern1.e-tamil</key>
    <array>
      <string>e-tamil</string>
      <string>ee-tamil</string>
      <string>au-tamil</string>
      <string>aaMatra-tamil</string>
      <string>oMatra-tamil</string>
      <string>ooMatra-tamil</string>
      <string>auMatra-tamil</string>
      <string>aulengthmark-tamil</string>
      <string>nna-tamil</string>
      <string>ra-tamil</string>
      <string>lla-tamil</string>
      <string>nnna-tamil</string>
      <string>seven-tamil</string>
      <string>onehundred-tamil</string>
      <string>nyuu-tamil</string>
      <string>nnuu-tamil</string>
      <string>tuu-tamil</string>
      <string>nuu-tamil</string>
      <string>luu-tamil</string>
      <string>rruu-tamil</string>
      <string>nnnuu-tamil</string>
    </array>
    <key>public.kern1.eeMatra-tamil</key>
    <array>
      <string>eeMatra-tamil</string>
    </array>
    <key>public.kern1.exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern1.five-tamil</key>
    <array>
      <string>five-tamil</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.i-tamil</key>
    <array>
      <string>i-tamil</string>
    </array>
    <key>public.kern1.iMatra-tamil</key>
    <array>
      <string>iMatra-tamil</string>
      <string>eMatra-tamil</string>
      <string>li-tamil</string>
      <string>si-tamil</string>
      <string>ttu-tamil</string>
      <string>iMatra-tamil.alt01</string>
      <string>iMatra-tamil.alt02</string>
      <string>iiMatra-tamil.alt01</string>
    </array>
    <key>public.kern1.iiMatra-tamil</key>
    <array>
      <string>iiMatra-tamil</string>
    </array>
    <key>public.kern1.ka-tamil</key>
    <array>
      <string>ka-tamil</string>
      <string>nya-tamil</string>
      <string>ta-tamil</string>
      <string>na-tamil</string>
      <string>one-tamil</string>
      <string>six-tamil</string>
      <string>nine-tamil</string>
      <string>credit-tamil</string>
      <string>rupee-tamil</string>
      <string>ttii-tamil</string>
      <string>ku-tamil</string>
      <string>ru-tamil</string>
      <string>llu-tamil</string>
      <string>ruu-tamil</string>
      <string>lluu-tamil</string>
    </array>
    <key>public.kern1.kii-tamil</key>
    <array>
      <string>kii-tamil</string>
      <string>nyii-tamil</string>
      <string>tii-tamil</string>
      <string>nii-tamil</string>
    </array>
    <key>public.kern1.kuu-tamil</key>
    <array>
      <string>day-tamil</string>
      <string>kuu-tamil</string>
    </array>
    <key>public.kern1.la-tamil</key>
    <array>
      <string>aiMatra-tamil</string>
      <string>la-tamil</string>
      <string>rra-tamil</string>
      <string>sa-tamil</string>
      <string>ha-tamil</string>
      <string>om-tamil</string>
      <string>zero-tamil</string>
      <string>year-tamil</string>
    </array>
    <key>public.kern1.lii-tamil</key>
    <array>
      <string>lii-tamil</string>
      <string>sii-tamil</string>
    </array>
    <key>public.kern1.ma-tamil</key>
    <array>
      <string>ma-tamil</string>
      <string>llla-tamil</string>
      <string>mu-tamil</string>
      <string>lllu-tamil</string>
      <string>muu-tamil</string>
      <string>llluu-tamil</string>
    </array>
    <key>public.kern1.mii-tamil</key>
    <array>
      <string>mii-tamil</string>
      <string>lllii-tamil</string>
      <string>rrii-tamil</string>
      <string>hii-tamil</string>
    </array>
    <key>public.kern1.month-tamil</key>
    <array>
      <string>month-tamil</string>
    </array>
    <key>public.kern1.number-tamil</key>
    <array>
      <string>number-tamil</string>
    </array>
    <key>public.kern1.o-tamil</key>
    <array>
      <string>o-tamil</string>
      <string>oo-tamil</string>
    </array>
    <key>public.kern1.pa-tamil</key>
    <array>
      <string>a-tamil</string>
      <string>nga-tamil</string>
      <string>pa-tamil</string>
      <string>ya-tamil</string>
      <string>va-tamil</string>
      <string>eight-tamil</string>
      <string>debit-tamil</string>
      <string>ngu-tamil</string>
      <string>nyu-tamil</string>
      <string>nnu-tamil</string>
      <string>tu-tamil</string>
      <string>nu-tamil</string>
      <string>pu-tamil</string>
      <string>yu-tamil</string>
      <string>lu-tamil</string>
      <string>vu-tamil</string>
      <string>rru-tamil</string>
      <string>nnnu-tamil</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern1.pii-tamil</key>
    <array>
      <string>ngii-tamil</string>
      <string>pii-tamil</string>
      <string>yii-tamil</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quotesinglbase</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.rii-tamil</key>
    <array>
      <string>nnii-tamil</string>
      <string>rii-tamil</string>
      <string>llii-tamil</string>
      <string>nnnii-tamil</string>
    </array>
    <key>public.kern1.sha-tamil</key>
    <array>
      <string>sha-tamil</string>
      <string>shii-tamil</string>
    </array>
    <key>public.kern1.shrii-tamil</key>
    <array>
      <string>shrii-tamil</string>
    </array>
    <key>public.kern1.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern1.ssa-tamil</key>
    <array>
      <string>ssa-tamil</string>
      <string>kssa-tamil</string>
      <string>ssii-tamil</string>
      <string>kssii-tamil</string>
    </array>
    <key>public.kern1.ten-tamil</key>
    <array>
      <string>ten-tamil</string>
    </array>
    <key>public.kern1.tti-tamil</key>
    <array>
      <string>tta-tamil</string>
      <string>asabove-tamil</string>
      <string>tti-tamil</string>
    </array>
    <key>public.kern1.ttuu-tamil</key>
    <array>
      <string>ttuu-tamil</string>
    </array>
    <key>public.kern1.u-tamil</key>
    <array>
      <string>u-tamil</string>
      <string>two-tamil</string>
      <string>three-tamil</string>
    </array>
    <key>public.kern1.uMatra-tamil</key>
    <array>
      <string>uMatra-tamil</string>
      <string>uMatra-tamil.alt01</string>
      <string>uMatra-tamil.alt02</string>
    </array>
    <key>public.kern1.uu-tamil</key>
    <array>
      <string>uu-tamil</string>
    </array>
    <key>public.kern1.uuMatra-tamil</key>
    <array>
      <string>uuMatra-tamil</string>
      <string>uuMatra-tamil.alt01</string>
      <string>uuMatra-tamil.alt02</string>
    </array>
    <key>public.kern1.vii-tamil</key>
    <array>
      <string>vii-tamil</string>
    </array>
    <key>public.kern1.visarga-tamil</key>
    <array>
      <string>visarga-tamil</string>
    </array>
    <key>public.kern2.a-tamil</key>
    <array>
      <string>a-tamil</string>
      <string>aa-tamil</string>
      <string>eight-tamil</string>
    </array>
    <key>public.kern2.ai-tamil</key>
    <array>
      <string>ai-tamil</string>
      <string>ja-tamil</string>
      <string>jii-tamil</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.debit-tamil</key>
    <array>
      <string>debit-tamil</string>
    </array>
    <key>public.kern2.e-tamil</key>
    <array>
      <string>e-tamil</string>
      <string>ee-tamil</string>
      <string>aiMatra-tamil</string>
      <string>aulengthmark-tamil</string>
      <string>nna-tamil</string>
      <string>la-tamil</string>
      <string>va-tamil</string>
      <string>lla-tamil</string>
      <string>nnna-tamil</string>
      <string>ssa-tamil</string>
      <string>sa-tamil</string>
      <string>ha-tamil</string>
      <string>zero-tamil</string>
      <string>seven-tamil</string>
      <string>day-tamil</string>
      <string>year-tamil</string>
      <string>credit-tamil</string>
      <string>asabove-tamil</string>
      <string>li-tamil</string>
      <string>si-tamil</string>
      <string>nnii-tamil</string>
      <string>lii-tamil</string>
      <string>vii-tamil</string>
      <string>llii-tamil</string>
      <string>nnnii-tamil</string>
      <string>ssii-tamil</string>
      <string>sii-tamil</string>
      <string>hii-tamil</string>
      <string>nyu-tamil</string>
      <string>nnu-tamil</string>
      <string>lu-tamil</string>
      <string>vu-tamil</string>
      <string>nnnu-tamil</string>
      <string>nyuu-tamil</string>
      <string>nnuu-tamil</string>
      <string>luu-tamil</string>
      <string>vuu-tamil</string>
      <string>nnnuu-tamil</string>
    </array>
    <key>public.kern2.eMatra-tamil</key>
    <array>
      <string>eMatra-tamil</string>
      <string>eeMatra-tamil</string>
      <string>oMatra-tamil</string>
      <string>ooMatra-tamil</string>
      <string>auMatra-tamil</string>
    </array>
    <key>public.kern2.exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.i-tamil</key>
    <array>
      <string>i-tamil</string>
    </array>
    <key>public.kern2.ka-tamil</key>
    <array>
      <string>ka-tamil</string>
      <string>ca-tamil</string>
      <string>ta-tamil</string>
      <string>kssa-tamil</string>
      <string>one-tamil</string>
      <string>four-tamil</string>
      <string>six-tamil</string>
      <string>nine-tamil</string>
      <string>onethousand-tamil</string>
      <string>kii-tamil</string>
      <string>cii-tamil</string>
      <string>tii-tamil</string>
      <string>kssii-tamil</string>
      <string>cu-tamil</string>
      <string>tu-tamil</string>
      <string>kuu-tamil</string>
      <string>tuu-tamil</string>
    </array>
    <key>public.kern2.nya-tamil</key>
    <array>
      <string>nya-tamil</string>
      <string>nyii-tamil</string>
      <string>ku-tamil</string>
      <string>mu-tamil</string>
      <string>ru-tamil</string>
      <string>lllu-tamil</string>
      <string>llu-tamil</string>
      <string>cuu-tamil</string>
      <string>muu-tamil</string>
      <string>ruu-tamil</string>
      <string>llluu-tamil</string>
      <string>lluu-tamil</string>
    </array>
    <key>public.kern2.o-tamil</key>
    <array>
      <string>o-tamil</string>
      <string>oo-tamil</string>
      <string>au-tamil</string>
    </array>
    <key>public.kern2.om-tamil</key>
    <array>
      <string>om-tamil</string>
    </array>
    <key>public.kern2.pa-tamil</key>
    <array>
      <string>ii-tamil</string>
      <string>aaMatra-tamil</string>
      <string>nga-tamil</string>
      <string>tta-tamil</string>
      <string>na-tamil</string>
      <string>pa-tamil</string>
      <string>ma-tamil</string>
      <string>ra-tamil</string>
      <string>llla-tamil</string>
      <string>three-tamil</string>
      <string>month-tamil</string>
      <string>number-tamil</string>
      <string>tti-tamil</string>
      <string>ngii-tamil</string>
      <string>ttii-tamil</string>
      <string>nii-tamil</string>
      <string>pii-tamil</string>
      <string>mii-tamil</string>
      <string>rii-tamil</string>
      <string>lllii-tamil</string>
      <string>ngu-tamil</string>
      <string>nu-tamil</string>
      <string>pu-tamil</string>
      <string>nguu-tamil</string>
      <string>nuu-tamil</string>
      <string>puu-tamil</string>
      <string>shrii-tamil</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>asterisk</string>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.rra-tamil</key>
    <array>
      <string>rra-tamil</string>
      <string>onehundred-tamil</string>
      <string>rrii-tamil</string>
      <string>rru-tamil</string>
      <string>rruu-tamil</string>
    </array>
    <key>public.kern2.rupee-tamil</key>
    <array>
      <string>five-tamil</string>
      <string>rupee-tamil</string>
      <string>ttu-tamil</string>
      <string>ttuu-tamil</string>
    </array>
    <key>public.kern2.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.u-tamil</key>
    <array>
      <string>u-tamil</string>
      <string>uu-tamil</string>
      <string>two-tamil</string>
    </array>
    <key>public.kern2.visarga-tamil</key>
    <array>
      <string>visarga-tamil</string>
    </array>
    <key>public.kern2.ya-tamil</key>
    <array>
      <string>ya-tamil</string>
      <string>sha-tamil</string>
      <string>ten-tamil</string>
      <string>yii-tamil</string>
      <string>shii-tamil</string>
      <string>yu-tamil</string>
      <string>yuu-tamil</string>
    </array>
  </dict>
</plist>
