<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansKannada-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Kannada GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Kannada 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Kannada GSUB.txt</string>
	</dict>
	
	<key>NotoSansKannada-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Kannada GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Kannada 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Kannada GSUB.txt</string>
	</dict>
	
	<key>NotoSansKannada-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Kannada GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Kannada 151-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Kannada GSUB.txt</string>
	</dict>
	
	<key>NotoSansKannada-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Kannada GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Kannada 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Kannada GSUB.txt</string>
	</dict>

	<key>NotoSansKannada-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Kannada GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Kannada 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Kannada GSUB.txt</string>
	</dict>
		
	<key>NotoSansKannada-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Kannada GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Kannada 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Kannada GSUB.txt</string>
	</dict>
		
	<key>NotoSansKannada-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Kannada GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Kannada 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Kannada GSUB.txt</string>
	</dict>
		
</dict>
</plist>

