<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u1D2E0</key>
    <string>u1D_2E_0.glif</string>
    <key>u1D2E1</key>
    <string>u1D_2E_1.glif</string>
    <key>u1D2E2</key>
    <string>u1D_2E_2.glif</string>
    <key>u1D2E3</key>
    <string>u1D_2E_3.glif</string>
    <key>u1D2E4</key>
    <string>u1D_2E_4.glif</string>
    <key>u1D2E5</key>
    <string>u1D_2E_5.glif</string>
    <key>u1D2E6</key>
    <string>u1D_2E_6.glif</string>
    <key>u1D2E7</key>
    <string>u1D_2E_7.glif</string>
    <key>u1D2E8</key>
    <string>u1D_2E_8.glif</string>
    <key>u1D2E9</key>
    <string>u1D_2E_9.glif</string>
    <key>u1D2EA</key>
    <string>u1D_2E_A_.glif</string>
    <key>u1D2EB</key>
    <string>u1D_2E_B_.glif</string>
    <key>u1D2EC</key>
    <string>u1D_2E_C_.glif</string>
    <key>u1D2ED</key>
    <string>u1D_2E_D_.glif</string>
    <key>u1D2EE</key>
    <string>u1D_2E_E_.glif</string>
    <key>u1D2EF</key>
    <string>u1D_2E_F_.glif</string>
    <key>u1D2F0</key>
    <string>u1D_2F_0.glif</string>
    <key>u1D2F1</key>
    <string>u1D_2F_1.glif</string>
    <key>u1D2F2</key>
    <string>u1D_2F_2.glif</string>
    <key>u1D2F3</key>
    <string>u1D_2F_3.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
