<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>58.10548333333333</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>23.925783333333335</real>
      <key>public.kern2.parenright</key>
      <real>79.91536</real>
      <key>public.kern2.quoteright</key>
      <real>47.03774</real>
      <key>public.kern2.quotesingle</key>
      <real>42.64322</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>65.26696</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>35.97006</real>
      <key>public.kern2.parenright</key>
      <real>107.91029999999999</real>
      <key>public.kern2.quoteright</key>
      <real>55.013043333333336</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>40.364580000000004</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>17.74084</real>
      <key>public.kern2.parenright</key>
      <real>66.56904</real>
      <key>public.kern2.quoteright</key>
      <real>35.48178</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>42.64322</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.parenright</key>
      <real>76.33464</real>
      <key>public.kern2.quoteright</key>
      <real>31.087259999999997</real>
      <key>public.kern2.quotesingle</key>
      <real>34.66798</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>34.01690333333333</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>15.136729333333335</real>
      <key>public.kern2.parenright</key>
      <real>77.63672</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>46.54946</real>
      <key>question</key>
      <real>16.113276666666668</real>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>31.08726</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>28.645833333333332</real>
      <key>bracketright</key>
      <real>30.436193333333335</real>
      <key>eMatra-tamil</key>
      <real>5.37108</real>
      <key>eeMatra-tamil</key>
      <real>7.161439999999999</real>
      <key>parenright</key>
      <real>26.855473333333332</real>
      <key>public.kern2.T</key>
      <real>30.924463333333332</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>6.184892666666666</real>
      <key>public.kern2.parenright</key>
      <real>40.20184666666667</real>
      <key>public.kern2.quoteright</key>
      <real>30.924463333333335</real>
      <key>public.kern2.quotesingle</key>
      <real>27.83202333333334</real>
      <key>question</key>
      <real>17.903636666666667</real>
      <key>quotedbl</key>
      <real>21.484393333333333</real>
      <key>quotedblright</key>
      <real>12.532556666666665</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>21.647143333333332</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>58.10548333333333</real>
      <key>public.kern2.quoteright</key>
      <real>21.647143333333332</real>
      <key>public.kern2.quotesingle</key>
      <real>18.554703333333336</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>31.575540000000004</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>6.184892666666667</real>
      <key>luu-tamil</key>
      <real>-6.184892666666667</real>
      <key>public.kern2.T</key>
      <real>-66.56904</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-43.45701999999999</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-73.2422</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-67.05732</real>
      <key>public.kern2.exclam</key>
      <real>-30.110663333333335</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-28.808583333333328</real>
      <key>public.kern2.nya-tamil</key>
      <real>-21.647143333333332</real>
      <key>public.kern2.o-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-141.60201</real>
      <key>public.kern2.quotesingle</key>
      <real>-141.60201</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.slash</key>
      <real>14.322916666666666</real>
      <key>public.kern2.ya-tamil</key>
      <real>-18.554703333333336</real>
      <key>slash</key>
      <real>24.739583333333336</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>7.161439999999999</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.648399999999999</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>54.199216666666665</real>
      <key>bracketright</key>
      <real>50.61846</real>
      <key>parenright</key>
      <real>57.29165666666667</real>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.u-tamil</key>
      <real>-29.2969</real>
      <key>question</key>
      <real>8.951836666666667</real>
      <key>quotedbl</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.a-tamil</key>
      <real>-25.716143333333335</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-14.160123666666664</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-27.01822333333333</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.765619999999998</real>
      <key>public.kern2.o-tamil</key>
      <real>-20.833343333333335</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-43.9453</real>
      <key>public.kern2.rra-tamil</key>
      <real>-3.580727333333334</real>
      <key>public.kern2.slash</key>
      <real>-3.580727333333333</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
      <key>slash</key>
      <real>-6.184892666666666</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-47.03774</real>
      <key>public.kern2.T</key>
      <real>-54.199216666666665</real>
      <key>public.kern2.a-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-34.66798</real>
      <key>public.kern2.exclam</key>
      <real>-38.574220000000004</real>
      <key>public.kern2.i-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-24.73958333333333</real>
      <key>public.kern2.quoteright</key>
      <real>-43.9453</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-49.64196333333334</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-23.600236666666667</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-35.97006</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-17.74084</real>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.exclam</key>
      <real>-27.50654</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-15.950487333333331</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>39.0625</real>
      <key>public.kern2.a-tamil</key>
      <real>-58.10548333333333</real>
      <key>public.kern2.e-tamil</key>
      <real>-30.598979999999997</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>20.345067</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.nya-tamil</key>
      <real>-31.901023333333335</real>
      <key>public.kern2.o-tamil</key>
      <real>-25.716143333333335</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-43.9453</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-26.692676666666664</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-23.111956666666664</real>
      <key>public.kern2.a-tamil</key>
      <real>-16.43876</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-9.765620000000002</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.36976</real>
      <key>public.kern2.quoteright</key>
      <real>-3.580727333333333</real>
      <key>public.kern2.quotesingle</key>
      <real>-23.111956666666664</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>78.125</real>
      <key>public.kern2.a-tamil</key>
      <real>-116.69906666666665</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>43.45702</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>43.45702</real>
      <key>public.kern2.exclam</key>
      <real>78.45048333333334</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.648400000000002</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>97.6562</real>
      <key>public.kern2.u-tamil</key>
      <real>-40.85286</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>36.45834</real>
      <key>public.kern2.a-tamil</key>
      <real>-74.056</real>
      <key>public.kern2.e-tamil</key>
      <real>-20.019516666666668</real>
      <key>public.kern2.ka-tamil</key>
      <real>-25.716143333333335</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>-50.13018</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-45.24738</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-268.55499</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-59.89584333333333</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-32.87762</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-253.90601</real>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-75.84636</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-42.64322</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-20.019516666666668</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-23.111956666666668</real>
      <key>public.kern2.quotesingle</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-40.85286</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.exclam</key>
      <real>-17.74084</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-14.648399999999999</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.rra-tamil</key>
      <real>-9.765619999999998</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-18.554703333333336</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-10.742196666666667</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-24.90231666666666</real>
      <key>public.kern2.quotesingle</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-126.953</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-31.087259999999997</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-73.2422</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-34.66798</real>
      <key>public.kern2.nya-tamil</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-34.1797</real>
      <key>public.kern2.u-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-39.0625</real>
      <key>public.kern2.exclam</key>
      <real>-8.951836666666667</real>
      <key>public.kern2.quoteright</key>
      <real>-27.99482</real>
      <key>public.kern2.quotesingle</key>
      <real>-42.64322</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>79.42707999999999</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.parenright</key>
      <real>110.51456666666667</real>
      <key>public.kern2.quoteright</key>
      <real>55.01304333333333</real>
      <key>public.kern2.quotesingle</key>
      <real>76.33464000000001</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>51.432323333333336</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>32.38934</real>
      <key>public.kern2.parenright</key>
      <real>81.21744</real>
      <key>public.kern2.quoteright</key>
      <real>46.54946</real>
      <key>public.kern2.quotesingle</key>
      <real>41.66666</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>10.742196666666667</real>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>47.52602</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
