<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.0585</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <real>-210.88</real>
      <key>public.kern2.uni055C</key>
      <real>-255.7</real>
      <key>public.kern2.uni055E</key>
      <integer>-406</integer>
    </dict>
    <key>public.kern1.uni0544</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <integer>-77</integer>
      <key>public.kern2.uni0568</key>
      <integer>-50</integer>
      <key>public.kern2.uni0571</key>
      <integer>-51</integer>
      <key>public.kern2.uni0577</key>
      <integer>-63</integer>
      <key>public.kern2.uni0578</key>
      <integer>-54</integer>
      <key>public.kern2.uni0579</key>
      <integer>-67</integer>
      <key>public.kern2.uni057B</key>
      <integer>-65</integer>
      <key>public.kern2.uni057D</key>
      <integer>-43</integer>
      <key>uni0570</key>
      <real>-32.9</real>
      <key>uni0573</key>
      <real>-31.3</real>
    </dict>
    <key>public.kern1.uni0552</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-177</integer>
      <key>public.kern2.uni055C</key>
      <integer>-195</integer>
      <key>public.kern2.uni055E</key>
      <integer>-266</integer>
    </dict>
    <key>public.kern1.uni0555</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-60</integer>
      <key>public.kern2.uni055C</key>
      <integer>-60</integer>
      <key>public.kern2.uni055E</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.uni0561</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-211</integer>
      <key>public.kern2.uni055C</key>
      <integer>-256</integer>
      <key>public.kern2.uni055E</key>
      <integer>-406</integer>
    </dict>
    <key>public.kern1.uni0564</key>
    <dict>
      <key>public.kern2.uni0579</key>
      <integer>53</integer>
    </dict>
    <key>public.kern1.uni0565</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-211</integer>
      <key>public.kern2.uni055C</key>
      <integer>-256</integer>
      <key>public.kern2.uni055E</key>
      <integer>-343</integer>
    </dict>
    <key>public.kern1.uni0566</key>
    <dict>
      <key>public.kern2.uni0577</key>
      <integer>28</integer>
      <key>public.kern2.uni0579</key>
      <integer>59</integer>
      <key>public.kern2.uni057B</key>
      <integer>-12</integer>
      <key>public.kern2.uni057D</key>
      <integer>-9</integer>
    </dict>
    <key>public.kern1.uni0567</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <integer>-28</integer>
      <key>public.kern2.uni0571</key>
      <integer>-20</integer>
      <key>public.kern2.uni0579</key>
      <integer>23</integer>
    </dict>
    <key>public.kern1.uni056B</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-211</integer>
      <key>public.kern2.uni055C</key>
      <integer>-256</integer>
      <key>public.kern2.uni055E</key>
      <integer>-349</integer>
      <key>public.kern2.uni0579</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.uni0579</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <integer>-26</integer>
      <key>public.kern2.uni056B</key>
      <integer>-23</integer>
      <key>public.kern2.uni0571</key>
      <integer>-15</integer>
      <key>public.kern2.uni057D</key>
      <integer>-30</integer>
      <key>public.kern2.uni0587</key>
      <integer>-30</integer>
      <key>uni0570</key>
      <real>-12.6</real>
    </dict>
    <key>public.kern1.uni0582</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-211</integer>
      <key>public.kern2.uni055C</key>
      <integer>-256</integer>
      <key>public.kern2.uni055E</key>
      <integer>-341</integer>
    </dict>
    <key>uni0531</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-129</integer>
      <key>public.kern2.uni055C</key>
      <integer>-129</integer>
      <key>public.kern2.uni055E</key>
      <real>-190.60001</real>
    </dict>
    <key>uni0535</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <real>-210.88</real>
      <key>public.kern2.uni055C</key>
      <integer>-196</integer>
      <key>public.kern2.uni055E</key>
      <real>-348.57999</real>
    </dict>
    <key>uni0538</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-55</integer>
      <key>public.kern2.uni055C</key>
      <integer>-55</integer>
      <key>public.kern2.uni055E</key>
      <integer>-65</integer>
    </dict>
    <key>uni053B</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-70</integer>
      <key>public.kern2.uni055C</key>
      <integer>-70</integer>
      <key>public.kern2.uni055E</key>
      <integer>-120</integer>
    </dict>
    <key>uni053C</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <real>-61.6</real>
    </dict>
    <key>uni0542</key>
    <dict>
      <key>public.kern2.uni0541</key>
      <integer>25</integer>
      <key>public.kern2.uni0549</key>
      <real>-25.8</real>
      <key>public.kern2.uni0577</key>
      <integer>-20</integer>
      <key>public.kern2.uni057B</key>
      <integer>-25</integer>
    </dict>
    <key>uni0546</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <real>-29.2</real>
    </dict>
    <key>uni0548</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-55</integer>
      <key>public.kern2.uni055C</key>
      <integer>-55</integer>
      <key>public.kern2.uni055E</key>
      <integer>-75</integer>
    </dict>
    <key>uni054C</key>
    <dict>
      <key>public.kern2.uni0571</key>
      <real>22.1</real>
      <key>uni0570</key>
      <real>22.9</real>
      <key>uni0573</key>
      <real>22.9</real>
      <key>uni0576</key>
      <real>14.5</real>
    </dict>
    <key>uni054D</key>
    <dict>
      <key>public.kern2.uni055E</key>
      <integer>-100</integer>
    </dict>
    <key>uni0568</key>
    <dict>
      <key>public.kern2.uni055E</key>
      <integer>-406</integer>
    </dict>
    <key>uni056C</key>
    <dict>
      <key>public.kern2.uni0531</key>
      <real>-31.1</real>
      <key>public.kern2.uni0563</key>
      <real>-23.2</real>
      <key>public.kern2.uni0568</key>
      <real>14.5</real>
      <key>public.kern2.uni0571</key>
      <real>-20.3</real>
      <key>public.kern2.uni0577</key>
      <real>42.1</real>
      <key>public.kern2.uni0578</key>
      <real>-14.5</real>
      <key>public.kern2.uni0579</key>
      <integer>70</integer>
      <key>public.kern2.uni057B</key>
      <real>-17.4</real>
      <key>public.kern2.uni057D</key>
      <real>-20.3</real>
      <key>public.kern2.uni0587</key>
      <real>-14.5</real>
      <key>uni0570</key>
      <real>-14.5</real>
    </dict>
    <key>uni0572</key>
    <dict>
      <key>public.kern2.uni0577</key>
      <real>32.9</real>
      <key>public.kern2.uni0579</key>
      <real>68.7</real>
    </dict>
  </dict>
</plist>
