<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1286</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>colon</string>
      <string>ellipsis</string>
      <string>tricolon</string>
      <string>u10980</string>
      <string>u10981</string>
      <string>u10982</string>
      <string>u10983</string>
      <string>u10984</string>
      <string>u10985</string>
      <string>u10986</string>
      <string>u10987</string>
      <string>u10988</string>
      <string>u10989</string>
      <string>u1098A</string>
      <string>u1098B</string>
      <string>u1098C</string>
      <string>u1098D</string>
      <string>u1098E</string>
      <string>u1098F</string>
      <string>u10990</string>
      <string>u10991</string>
      <string>u10992</string>
      <string>u10993</string>
      <string>u10994</string>
      <string>u10995</string>
      <string>u10996</string>
      <string>u10997</string>
      <string>u10998</string>
      <string>u10999</string>
      <string>u1099A</string>
      <string>u1099B</string>
      <string>u1099C</string>
      <string>u1099D</string>
      <string>u1099E</string>
      <string>u1099F</string>
      <string>u10981.rev</string>
      <string>u109A0</string>
      <string>u109A1</string>
      <string>u109A2</string>
      <string>u109A3</string>
      <string>u109A4</string>
      <string>u109A5</string>
      <string>u109A6</string>
      <string>u109A7</string>
      <string>u109A8</string>
      <string>u109A9</string>
      <string>u109AA</string>
      <string>u109AB</string>
      <string>u109AC</string>
      <string>u109AD</string>
      <string>u109AE</string>
      <string>u109AF</string>
      <string>u109B0</string>
      <string>u109B1</string>
      <string>u109B2</string>
      <string>u109B3</string>
      <string>u109B4</string>
      <string>u109B5</string>
      <string>u109B6</string>
      <string>u109B7</string>
      <string>u109BC</string>
      <string>u109BD</string>
      <string>u109BE</string>
      <string>u109BF</string>
      <string>u109C0</string>
      <string>u109C1</string>
      <string>u109C2</string>
      <string>u109C3</string>
      <string>u109C4</string>
      <string>u109C5</string>
      <string>u109C6</string>
      <string>u109C7</string>
      <string>u109C8</string>
      <string>u109C9</string>
      <string>u109CA</string>
      <string>u109CB</string>
      <string>u109CC</string>
      <string>u109CD</string>
      <string>u109CE</string>
      <string>u109CF</string>
      <string>u109D2</string>
      <string>u109D3</string>
      <string>u109D4</string>
      <string>u109D5</string>
      <string>u109D6</string>
      <string>u109D7</string>
      <string>u109D8</string>
      <string>u109D9</string>
      <string>u109DA</string>
      <string>u109DB</string>
      <string>u109DC</string>
      <string>u109DD</string>
      <string>u109DE</string>
      <string>u109DF</string>
      <string>u109E0</string>
      <string>u109E1</string>
      <string>u109E2</string>
      <string>u109E3</string>
      <string>u109E4</string>
      <string>u109E5</string>
      <string>u109E6</string>
      <string>u109E7</string>
      <string>u109E8</string>
      <string>u109E9</string>
      <string>u109EA</string>
      <string>u109EB</string>
      <string>u109EC</string>
      <string>u109ED</string>
      <string>u109EE</string>
      <string>u109EF</string>
      <string>u109F0</string>
      <string>u109F1</string>
      <string>u109F2</string>
      <string>u109F3</string>
      <string>u109F4</string>
      <string>u109F5</string>
      <string>u109F6</string>
      <string>u109F7</string>
      <string>u109F8</string>
      <string>u109F9</string>
      <string>u109FA</string>
      <string>u109FB</string>
      <string>u109FC</string>
      <string>u109FD</string>
      <string>u109FE</string>
      <string>u109FF</string>
      <string>mero-colon</string>
      <string>u109A2.alt1</string>
      <string>u109A2.alt2</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>tricolon</key>
      <string>uni205D</string>
    </dict>
  </dict>
</plist>
