<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.aGlt.eth</key>
	<array>
		<string>aGlottal.eth</string>
		<string>aaGlottal.eth</string>
		<string>eGlottal.eth</string>
	</array>
	<key>public.kern1.aPhr.eth</key>
	<array>
		<string>aPhr.eth</string>
		<string>tza.eth</string>
	</array>
	<key>public.kern1.ba.eth</key>
	<array>
		<string>ba.eth</string>
		<string>baa.eth</string>
		<string>be.eth</string>
		<string>tha.eth</string>
		<string>thaa.eth</string>
		<string>baashort</string>
		<string>boshort</string>
	</array>
	<key>public.kern1.bwaSebatbeit.eth</key>
	<array>
		<string>bwaSebatbeit.eth</string>
		<string>bwe.eth</string>
	</array>
	<key>public.kern1.caa.eth</key>
	<array>
		<string>caa.eth</string>
		<string>cca.eth</string>
		<string>ccaa.eth</string>
	</array>
	<key>public.kern1.cchhe.eth</key>
	<array>
		<string>cchhe.eth</string>
		<string>cchho.eth</string>
	</array>
	<key>public.kern1.che.eth</key>
	<array>
		<string>cche.eth</string>
		<string>ccho.eth</string>
		<string>che.eth</string>
		<string>cho.eth</string>
		<string>choa.eth</string>
	</array>
	<key>public.kern1.chee.eth</key>
	<array>
		<string>cchee.eth</string>
		<string>cchhee.eth</string>
		<string>chee.eth</string>
	</array>
	<key>public.kern1.ePhr.eth</key>
	<array>
		<string>ePhr.eth</string>
		<string>tze.eth</string>
	</array>
	<key>public.kern1.ga.eth</key>
	<array>
		<string>ga.eth</string>
		<string>gaa.eth</string>
		<string>ge.eth</string>
	</array>
	<key>public.kern1.gya.eth</key>
	<array>
		<string>gya.eth</string>
		<string>gyaa.eth</string>
	</array>
	<key>public.kern1.ha.eth</key>
	<array>
		<string>ha.eth</string>
		<string>he.eth</string>
	</array>
	<key>public.kern1.hha.eth</key>
	<array>
		<string>hha.eth</string>
		<string>hhaa.eth</string>
		<string>hhe.eth</string>
		<string>hhya.eth</string>
		<string>hhyaa.eth</string>
		<string>hhye.eth</string>
	</array>
	<key>public.kern1.ho.eth</key>
	<array>
		<string>ho.eth</string>
		<string>hoa.eth</string>
	</array>
	<key>public.kern1.hu.eth</key>
	<array>
		<string>dzu.eth</string>
		<string>hu.eth</string>
		<string>kurt.eth</string>
		<string>zu.eth</string>
	</array>
	<key>public.kern1.hyphen.left</key>
	<array>
		<string>hyphen</string>
	</array>
	<key>public.kern1.kxa.eth</key>
	<array>
		<string>go.eth</string>
		<string>goa.eth</string>
		<string>ka.eth</string>
		<string>kaa.eth</string>
		<string>ke.eth</string>
		<string>kxa.eth</string>
		<string>kxaa.eth</string>
		<string>kxe.eth</string>
		<string>sa.eth</string>
		<string>saa.eth</string>
		<string>se.eth</string>
		<string>tthaa.eth</string>
		<string>tthe.eth</string>
	</array>
	<key>public.kern1.kya.eth</key>
	<array>
		<string>kya.eth</string>
		<string>kyaa.eth</string>
		<string>kye.eth</string>
	</array>
	<key>public.kern1.la.eth</key>
	<array>
		<string>la.eth</string>
		<string>laa.eth</string>
		<string>le.eth</string>
	</array>
	<key>public.kern1.lo.eth</key>
	<array>
		<string>lo.eth</string>
		<string>loa.eth</string>
	</array>
	<key>public.kern1.ma.eth</key>
	<array>
		<string>ma.eth</string>
		<string>wa.eth</string>
	</array>
	<key>public.kern1.me.eth</key>
	<array>
		<string>me.eth</string>
		<string>mo.eth</string>
		<string>moa.eth</string>
		<string>shorttoploops</string>
	</array>
	<key>public.kern1.mee.eth</key>
	<array>
		<string>mee.eth</string>
		<string>szee.eth</string>
	</array>
	<key>public.kern1.mi.eth</key>
	<array>
		<string>mi.eth</string>
		<string>szi.eth</string>
	</array>
	<key>public.kern1.mwa.eth</key>
	<array>
		<string>mwa.eth</string>
		<string>szwa.eth</string>
	</array>
	<key>public.kern1.no.eth</key>
	<array>
		<string>no.eth</string>
		<string>noa.eth</string>
		<string>xo.eth</string>
		<string>xoa.eth</string>
	</array>
	<key>public.kern1.pa.eth</key>
	<array>
		<string>pa.eth</string>
		<string>paa.eth</string>
	</array>
	<key>public.kern1.pee.eth</key>
	<array>
		<string>pee.eth</string>
		<string>pwee.eth</string>
		<string>zhee.eth</string>
		<string>zzee.eth</string>
	</array>
	<key>public.kern1.pha.eth</key>
	<array>
		<string>pha.eth</string>
		<string>phaa.eth</string>
	</array>
	<key>public.kern1.po.eth</key>
	<array>
		<string>po.eth</string>
		<string>poa.eth</string>
	</array>
	<key>public.kern1.qa.eth</key>
	<array>
		<string>qa.eth</string>
		<string>qaa.eth</string>
		<string>qe.eth</string>
		<string>qya.eth</string>
	</array>
	<key>public.kern1.qee.eth</key>
	<array>
		<string>qee.eth</string>
		<string>qwee.eth</string>
	</array>
	<key>public.kern1.qha.eth</key>
	<array>
		<string>qha.eth</string>
		<string>qhaa.eth</string>
	</array>
	<key>public.kern1.qhu.eth</key>
	<array>
		<string>ccee.eth</string>
		<string>cci.eth</string>
		<string>ccu.eth</string>
		<string>cee.eth</string>
		<string>ci.eth</string>
		<string>cu.eth</string>
		<string>cwa.eth</string>
		<string>qhee.eth</string>
		<string>qhi.eth</string>
		<string>qhu.eth</string>
		<string>qhwaa.eth</string>
		<string>qhwee.eth</string>
	</array>
	<key>public.kern1.qhwi.eth</key>
	<array>
		<string>qhwe.eth</string>
		<string>qhwi.eth</string>
	</array>
	<key>public.kern1.ra.eth</key>
	<array>
		<string>nose</string>
	</array>
	<key>public.kern1.ro.eth</key>
	<array>
		<string>ro.eth</string>
		<string>roa.eth</string>
	</array>
	<key>public.kern1.see.eth</key>
	<array>
		<string>bee.eth</string>
		<string>bwee.eth</string>
		<string>cchha.eth</string>
		<string>cchhaa.eth</string>
		<string>dzee.eth</string>
		<string>gee.eth</string>
		<string>ggwee.eth</string>
		<string>gwee.eth</string>
		<string>gyee.eth</string>
		<string>shee.eth</string>
		<string>ssee.eth</string>
		<string>vee.eth</string>
		<string>zee.eth</string>
	</array>
	<key>public.kern1.shu.eth</key>
	<array>
		<string>gyu.eth</string>
		<string>kyu.eth</string>
		<string>nu.eth</string>
		<string>nyu.eth</string>
		<string>shu.eth</string>
		<string>tthu.eth</string>
		<string>vu.eth</string>
		<string>xu.eth</string>
	</array>
	<key>public.kern1.shwa.eth</key>
	<array>
		<string>bbi.eth</string>
		<string>bi.eth</string>
		<string>cchhi.eth</string>
		<string>cchi.eth</string>
		<string>chi.eth</string>
		<string>ddi.eth</string>
		<string>di.eth</string>
		<string>dzi.eth</string>
		<string>ggi.eth</string>
		<string>ggwaa.eth</string>
		<string>gi.eth</string>
		<string>gyi.eth</string>
		<string>ji.eth</string>
		<string>ki.eth</string>
		<string>kxi.eth</string>
		<string>kyi.eth</string>
		<string>ni.eth</string>
		<string>nyi.eth</string>
		<string>shi.eth</string>
		<string>si.eth</string>
		<string>ssi.eth</string>
		<string>thi.eth</string>
		<string>tsi.eth</string>
		<string>tthi.eth</string>
		<string>vi.eth</string>
		<string>xi.eth</string>
		<string>zi.eth</string>
	</array>
	<key>public.kern1.so.eth</key>
	<array>
		<string>bo.eth</string>
		<string>boa.eth</string>
		<string>ko.eth</string>
		<string>koa.eth</string>
		<string>so.eth</string>
		<string>soa.eth</string>
		<string>the.eth</string>
		<string>tho.eth</string>
		<string>thoa.eth</string>
		<string>ttho.eth</string>
	</array>
	<key>public.kern1.su.eth</key>
	<array>
		<string>bu.eth</string>
		<string>mu.eth</string>
		<string>su.eth</string>
		<string>szu.eth</string>
		<string>thu.eth</string>
		<string>tzu.eth</string>
		<string>uPhr.eth</string>
		<string>we.eth</string>
	</array>
	<key>public.kern1.swa.eth</key>
	<array>
		<string>bwa.eth</string>
		<string>chwa.eth</string>
		<string>shwa.eth</string>
		<string>swa.eth</string>
		<string>thwa.eth</string>
		<string>vwa.eth</string>
	</array>
	<key>public.kern1.sze.eth</key>
	<array>
		<string>sze.eth</string>
		<string>szo.eth</string>
	</array>
	<key>public.kern1.thee.eth</key>
	<array>
		<string>ccha.eth</string>
		<string>cchaa.eth</string>
		<string>cha.eth</string>
		<string>chaa.eth</string>
		<string>thee.eth</string>
	</array>
	<key>public.kern1.to.eth</key>
	<array>
		<string>lollipop</string>
		<string>lollipopsmall</string>
	</array>
	<key>public.kern1.tsa.eth</key>
	<array>
		<string>tsa.eth</string>
		<string>tsaa.eth</string>
	</array>
	<key>public.kern1.tzo.eth</key>
	<array>
		<string>oPhr.eth</string>
		<string>tzo.eth</string>
		<string>tzoa.eth</string>
	</array>
	<key>public.kern1.va.eth</key>
	<array>
		<string>bba.eth</string>
		<string>bbaa.eth</string>
		<string>dzaa.eth</string>
		<string>dze.eth</string>
		<string>sha.eth</string>
		<string>shaa.eth</string>
		<string>she.eth</string>
		<string>ssa.eth</string>
		<string>ssaa.eth</string>
		<string>sse.eth</string>
		<string>va.eth</string>
		<string>vaa.eth</string>
		<string>ve.eth</string>
	</array>
	<key>public.kern1.waa.eth</key>
	<array>
		<string>waa.eth</string>
		<string>wo.eth</string>
		<string>woa.eth</string>
	</array>
	<key>public.kern1.xa.eth</key>
	<array>
		<string>na.eth</string>
		<string>xa.eth</string>
		<string>xaa.eth</string>
		<string>xe.eth</string>
	</array>
	<key>public.kern1.xee.eth</key>
	<array>
		<string>kee.eth</string>
		<string>kwee.eth</string>
		<string>kxee.eth</string>
		<string>see.eth</string>
		<string>tthee.eth</string>
		<string>xee.eth</string>
		<string>xwee.eth</string>
		<string>xyee.eth</string>
	</array>
	<key>public.kern1.xya.eth</key>
	<array>
		<string>xya.eth</string>
		<string>xyaa.eth</string>
		<string>xye.eth</string>
	</array>
	<key>public.kern1.ya.eth</key>
	<array>
		<string>ya.eth</string>
		<string>yaa.eth</string>
	</array>
	<key>public.kern1.yo.eth</key>
	<array>
		<string>yo.eth</string>
		<string>yoa.eth</string>
	</array>
	<key>public.kern1.za.eth</key>
	<array>
		<string>za.eth</string>
		<string>zaa.eth</string>
		<string>ze.eth</string>
	</array>
	<key>public.kern1.zo.eth</key>
	<array>
		<string>dzo.eth</string>
		<string>zo.eth</string>
		<string>zoa.eth</string>
	</array>
	<key>public.kern1.zza.eth</key>
	<array>
		<string>zha.eth</string>
		<string>zhaa.eth</string>
		<string>zza.eth</string>
		<string>zzaa.eth</string>
		<string>zzo.eth</string>
	</array>
	<key>public.kern2.aGlt.eth</key>
	<array>
		<string>aGlottal.eth</string>
		<string>eeGlottal.eth</string>
		<string>iGlottal.eth</string>
		<string>nee.eth</string>
		<string>oGlottal.eth</string>
		<string>uGlottal.eth</string>
	</array>
	<key>public.kern2.aPhr.eth</key>
	<array>
		<string>aPhr.eth</string>
		<string>tza.eth</string>
		<string>tzu.eth</string>
		<string>uPhr.eth</string>
	</array>
	<key>public.kern2.ba.eth</key>
	<array>
		<string>ba.eth</string>
		<string>bee.eth</string>
		<string>bi.eth</string>
		<string>bo.eth</string>
		<string>bu.eth</string>
		<string>bwaSebatbeit.eth</string>
		<string>bwi.eth</string>
		<string>baashort</string>
		<string>boshort</string>
		<string>bwee-gurage.eth</string>
		<string>bwi-gurage.eth</string>
	</array>
	<key>public.kern2.baa.eth</key>
	<array>
		<string>baa.eth</string>
		<string>bwee.eth</string>
	</array>
	<key>public.kern2.bba.eth</key>
	<array>
		<string>bba.eth</string>
		<string>bbaa.eth</string>
		<string>bbe.eth</string>
		<string>bbee.eth</string>
		<string>bbi.eth</string>
		<string>bbo.eth</string>
		<string>bbu.eth</string>
	</array>
	<key>public.kern2.ca.eth</key>
	<array>
		<string>ca.eth</string>
		<string>cee.eth</string>
		<string>ci.eth</string>
		<string>cu.eth</string>
	</array>
	<key>public.kern2.cca.eth</key>
	<array>
		<string>cca.eth</string>
		<string>ccee.eth</string>
		<string>cci.eth</string>
		<string>cco.eth</string>
		<string>ccu.eth</string>
	</array>
	<key>public.kern2.ccha.eth</key>
	<array>
		<string>be.eth</string>
		<string>boa.eth</string>
		<string>bwe.eth</string>
		<string>ccha.eth</string>
		<string>cchee.eth</string>
		<string>cchi.eth</string>
		<string>ccho.eth</string>
		<string>cchu.eth</string>
		<string>choa.eth</string>
		<string>thoa.eth</string>
	</array>
	<key>public.kern2.cchaa.eth</key>
	<array>
		<string>cchaa.eth</string>
		<string>cche.eth</string>
	</array>
	<key>public.kern2.cchha.eth</key>
	<array>
		<string>cchha.eth</string>
		<string>cchhee.eth</string>
		<string>cchhi.eth</string>
		<string>cchho.eth</string>
		<string>cchhu.eth</string>
	</array>
	<key>public.kern2.cchhaa.eth</key>
	<array>
		<string>cchhaa.eth</string>
		<string>cchhe.eth</string>
	</array>
	<key>public.kern2.da.eth</key>
	<array>
		<string>da.eth</string>
		<string>de.eth</string>
		<string>ye.eth</string>
	</array>
	<key>public.kern2.dda.eth</key>
	<array>
		<string>dda.eth</string>
		<string>ddhe.eth</string>
	</array>
	<key>public.kern2.ddhu.eth</key>
	<array>
		<string>ddaa.eth</string>
		<string>ddhaa.eth</string>
		<string>ddhi.eth</string>
		<string>ddhu.eth</string>
		<string>ddi.eth</string>
		<string>ddu.eth</string>
	</array>
	<key>public.kern2.du.eth</key>
	<array>
		<string>daa.eth</string>
		<string>di.eth</string>
		<string>du.eth</string>
	</array>
	<key>public.kern2.dzu.eth</key>
	<array>
		<string>dzee.eth</string>
		<string>dzi.eth</string>
		<string>dzo.eth</string>
		<string>dzu.eth</string>
	</array>
	<key>public.kern2.ePhr.eth</key>
	<array>
		<string>ePhr.eth</string>
		<string>tze.eth</string>
	</array>
	<key>public.kern2.fa.eth</key>
	<array>
		<string>fa.eth</string>
		<string>fee.eth</string>
		<string>fi.eth</string>
		<string>fwaSebatbeit.eth</string>
		<string>fwi.eth</string>
		<string>ra.eth</string>
		<string>raa.eth</string>
		<string>ree.eth</string>
		<string>ri.eth</string>
		<string>fwee-gurage.eth</string>
		<string>fwi-gurage.eth</string>
	</array>
	<key>public.kern2.ga.eth</key>
	<array>
		<string>ga.eth</string>
		<string>gee.eth</string>
		<string>gi.eth</string>
		<string>gu.eth</string>
		<string>gwe.eth</string>
		<string>gwi.eth</string>
		<string>gwee-gurage.eth</string>
		<string>gwi-gurage.eth</string>
	</array>
	<key>public.kern2.gaa.eth</key>
	<array>
		<string>gaa.eth</string>
		<string>gwee.eth</string>
	</array>
	<key>public.kern2.gga.eth</key>
	<array>
		<string>gga.eth</string>
		<string>ggee.eth</string>
		<string>ggi.eth</string>
		<string>ggu.eth</string>
		<string>ggwa.eth</string>
		<string>ggwe.eth</string>
		<string>ggwi.eth</string>
		<string>gyo.eth</string>
	</array>
	<key>public.kern2.go.eth</key>
	<array>
		<string>go.eth</string>
		<string>gwa.eth</string>
		<string>gya.eth</string>
		<string>gyee.eth</string>
		<string>gyi.eth</string>
		<string>gyu.eth</string>
	</array>
	<key>public.kern2.ha.eth</key>
	<array>
		<string>ha.eth</string>
		<string>ho.eth</string>
		<string>hu.eth</string>
		<string>sza.eth</string>
		<string>szu.eth</string>
	</array>
	<key>public.kern2.haa.eth</key>
	<array>
		<string>haa.eth</string>
		<string>hee.eth</string>
		<string>hi.eth</string>
	</array>
	<key>public.kern2.hha.eth</key>
	<array>
		<string>hha.eth</string>
		<string>hhee.eth</string>
		<string>hhi.eth</string>
		<string>hho.eth</string>
		<string>hhu.eth</string>
		<string>hhwa-gurage.eth</string>
		<string>hhya.eth</string>
		<string>hhyee.eth</string>
		<string>hhyi.eth</string>
		<string>hhyo.eth</string>
		<string>hhyu.eth</string>
		<string>hwee.eth</string>
		<string>hwi.eth</string>
	</array>
	<key>public.kern2.hhaa.eth</key>
	<array>
		<string>hhaa.eth</string>
		<string>hhwa.eth</string>
		<string>hhyaa.eth</string>
	</array>
	<key>public.kern2.hyphen.right</key>
	<array>
		<string>hyphen</string>
	</array>
	<key>public.kern2.iPhr.eth</key>
	<array>
		<string>aaPhr.eth</string>
		<string>eePhr.eth</string>
		<string>iPhr.eth</string>
	</array>
	<key>public.kern2.ju.eth</key>
	<array>
		<string>jaa.eth</string>
		<string>jee.eth</string>
		<string>ji.eth</string>
		<string>ju.eth</string>
		<string>jwa.eth</string>
	</array>
	<key>public.kern2.ka.eth</key>
	<array>
		<string>ka.eth</string>
		<string>ke.eth</string>
		<string>kee.eth</string>
		<string>ki.eth</string>
		<string>ko.eth</string>
		<string>ku.eth</string>
		<string>kwa.eth</string>
		<string>kwe.eth</string>
		<string>kwi.eth</string>
		<string>kya.eth</string>
		<string>kye.eth</string>
		<string>kyee.eth</string>
		<string>kyi.eth</string>
		<string>kyo.eth</string>
		<string>kyu.eth</string>
		<string>kwe-gurage.eth</string>
		<string>kwee-gurage.eth</string>
		<string>kwi-gurage.eth</string>
	</array>
	<key>public.kern2.kaa.eth</key>
	<array>
		<string>kaa.eth</string>
		<string>kwee.eth</string>
	</array>
	<key>public.kern2.kxwaa.eth</key>
	<array>
		<string>kxaa.eth</string>
		<string>kxwaa.eth</string>
		<string>kxwee.eth</string>
	</array>
	<key>public.kern2.la.eth</key>
	<array>
		<string>la.eth</string>
		<string>le.eth</string>
		<string>lee.eth</string>
		<string>li.eth</string>
		<string>lo.eth</string>
		<string>lu.eth</string>
	</array>
	<key>public.kern2.ma.eth</key>
	<array>
		<string>ma.eth</string>
		<string>mu.eth</string>
		<string>mwaSebatbeit.eth</string>
		<string>re.eth</string>
		<string>ro.eth</string>
		<string>wa.eth</string>
		<string>we.eth</string>
		<string>wu.eth</string>
	</array>
	<key>public.kern2.maa.eth</key>
	<array>
		<string>maa.eth</string>
		<string>mee.eth</string>
		<string>mi.eth</string>
		<string>mwa.eth</string>
		<string>mwee.eth</string>
		<string>mwi.eth</string>
		<string>mwi-gurage.eth</string>
	</array>
	<key>public.kern2.me.eth</key>
	<array>
		<string>me.eth</string>
		<string>mwe.eth</string>
	</array>
	<key>public.kern2.na.eth</key>
	<array>
		<string>na.eth</string>
		<string>ni.eth</string>
		<string>nu.eth</string>
	</array>
	<key>public.kern2.naa.eth</key>
	<array>
		<string>naa.eth</string>
		<string>no.eth</string>
	</array>
	<key>public.kern2.nya.eth</key>
	<array>
		<string>kxa.eth</string>
		<string>kxe.eth</string>
		<string>kxee.eth</string>
		<string>kxi.eth</string>
		<string>kxo.eth</string>
		<string>kxu.eth</string>
		<string>kxwa.eth</string>
		<string>kxwe.eth</string>
		<string>kxwi.eth</string>
		<string>nya.eth</string>
		<string>nyi.eth</string>
		<string>nyu.eth</string>
	</array>
	<key>public.kern2.nyaa.eth</key>
	<array>
		<string>nyaa.eth</string>
		<string>nyo.eth</string>
	</array>
	<key>public.kern2.pa.eth</key>
	<array>
		<string>pa.eth</string>
		<string>pee.eth</string>
		<string>pi.eth</string>
		<string>pu.eth</string>
		<string>pwaSebatbeit.eth</string>
		<string>pwi.eth</string>
		<string>pwee-gurage.eth</string>
		<string>pwi-gurage.eth</string>
	</array>
	<key>public.kern2.paa.eth</key>
	<array>
		<string>paa.eth</string>
		<string>pwa.eth</string>
		<string>pwee.eth</string>
	</array>
	<key>public.kern2.pe.eth</key>
	<array>
		<string>pe.eth</string>
		<string>pwe.eth</string>
	</array>
	<key>public.kern2.pha.eth</key>
	<array>
		<string>pha.eth</string>
		<string>phe.eth</string>
		<string>phee.eth</string>
		<string>phi.eth</string>
		<string>pho.eth</string>
		<string>phu.eth</string>
	</array>
	<key>public.kern2.qa.eth</key>
	<array>
		<string>qa.eth</string>
		<string>qee.eth</string>
		<string>qi.eth</string>
		<string>qu.eth</string>
		<string>qwa.eth</string>
		<string>qwe.eth</string>
		<string>qwi.eth</string>
		<string>qwee-gurage.eth</string>
		<string>qwi-gurage.eth</string>
	</array>
	<key>public.kern2.qha.eth</key>
	<array>
		<string>qha.eth</string>
		<string>qhee.eth</string>
		<string>qhi.eth</string>
		<string>qhu.eth</string>
		<string>qhwa.eth</string>
		<string>qhwe.eth</string>
		<string>qhwi.eth</string>
	</array>
	<key>public.kern2.qhaa.eth</key>
	<array>
		<string>caa.eth</string>
		<string>cwa.eth</string>
		<string>qhaa.eth</string>
		<string>qhwee.eth</string>
	</array>
	<key>public.kern2.qya.eth</key>
	<array>
		<string>qya.eth</string>
		<string>qyee.eth</string>
		<string>qyi.eth</string>
		<string>qyu.eth</string>
	</array>
	<key>public.kern2.ra.eth</key>
	<array>
		<string>nose</string>
	</array>
	<key>public.kern2.ru.eth</key>
	<array>
		<string>faa.eth</string>
		<string>fwee.eth</string>
		<string>ru.eth</string>
	</array>
	<key>public.kern2.sa.eth</key>
	<array>
		<string>sa.eth</string>
		<string>se.eth</string>
		<string>see.eth</string>
		<string>si.eth</string>
		<string>so.eth</string>
		<string>su.eth</string>
		<string>tthe.eth</string>
		<string>tthee.eth</string>
		<string>tthi.eth</string>
		<string>ttho.eth</string>
		<string>tthu.eth</string>
	</array>
	<key>public.kern2.saa.eth</key>
	<array>
		<string>saa.eth</string>
		<string>tthaa.eth</string>
	</array>
	<key>public.kern2.sha.eth</key>
	<array>
		<string>sha.eth</string>
		<string>she.eth</string>
		<string>shee.eth</string>
		<string>shi.eth</string>
		<string>sho.eth</string>
		<string>shu.eth</string>
		<string>va.eth</string>
		<string>vee.eth</string>
		<string>vi.eth</string>
		<string>vo.eth</string>
		<string>vu.eth</string>
	</array>
	<key>public.kern2.shaa.eth</key>
	<array>
		<string>shaa.eth</string>
		<string>vaa.eth</string>
	</array>
	<key>public.kern2.ssa.eth</key>
	<array>
		<string>shoa.eth</string>
		<string>ssa.eth</string>
		<string>sse.eth</string>
		<string>ssee.eth</string>
		<string>ssi.eth</string>
		<string>sso.eth</string>
		<string>ssu.eth</string>
		<string>ve.eth</string>
	</array>
	<key>public.kern2.swa.eth</key>
	<array>
		<string>bwa.eth</string>
		<string>shwa.eth</string>
		<string>swa.eth</string>
		<string>vwa.eth</string>
	</array>
	<key>public.kern2.szi.eth</key>
	<array>
		<string>szaa.eth</string>
		<string>szee.eth</string>
		<string>szi.eth</string>
		<string>shorttoploops</string>
	</array>
	<key>public.kern2.szo.eth</key>
	<array>
		<string>szo.eth</string>
		<string>szwa.eth</string>
	</array>
	<key>public.kern2.ta.eth</key>
	<array>
		<string>ta.eth</string>
		<string>tee.eth</string>
		<string>ti.eth</string>
		<string>tu.eth</string>
		<string>lollipop</string>
		<string>lollipopsmall</string>
	</array>
	<key>public.kern2.tha.eth</key>
	<array>
		<string>cha.eth</string>
		<string>chee.eth</string>
		<string>chi.eth</string>
		<string>cho.eth</string>
		<string>chu.eth</string>
		<string>fo.eth</string>
		<string>tha.eth</string>
		<string>thee.eth</string>
		<string>thi.eth</string>
		<string>tho.eth</string>
		<string>thu.eth</string>
	</array>
	<key>public.kern2.thaa.eth</key>
	<array>
		<string>chaa.eth</string>
		<string>che.eth</string>
		<string>chwa.eth</string>
		<string>thaa.eth</string>
		<string>the.eth</string>
		<string>thwa.eth</string>
	</array>
	<key>public.kern2.tsa.eth</key>
	<array>
		<string>oPhr.eth</string>
		<string>tsa.eth</string>
		<string>tse.eth</string>
		<string>tsee.eth</string>
		<string>tsi.eth</string>
		<string>tso.eth</string>
		<string>tsu.eth</string>
		<string>tzo.eth</string>
	</array>
	<key>public.kern2.tsaa.eth</key>
	<array>
		<string>tsaa.eth</string>
		<string>tswa.eth</string>
	</array>
	<key>public.kern2.tzaa.eth</key>
	<array>
		<string>tzaa.eth</string>
		<string>tzee.eth</string>
		<string>tzi.eth</string>
	</array>
	<key>public.kern2.wi.eth</key>
	<array>
		<string>waa.eth</string>
		<string>wee.eth</string>
		<string>wi.eth</string>
	</array>
	<key>public.kern2.xa.eth</key>
	<array>
		<string>xa.eth</string>
		<string>xee.eth</string>
		<string>xi.eth</string>
		<string>xu.eth</string>
		<string>xwa.eth</string>
		<string>xwe.eth</string>
		<string>xwi.eth</string>
	</array>
	<key>public.kern2.xya.eth</key>
	<array>
		<string>xya.eth</string>
		<string>xyaa.eth</string>
		<string>xye.eth</string>
		<string>xyee.eth</string>
		<string>xyi.eth</string>
		<string>xyo.eth</string>
		<string>xyu.eth</string>
	</array>
	<key>public.kern2.ya.eth</key>
	<array>
		<string>ya.eth</string>
		<string>yee.eth</string>
		<string>yi.eth</string>
		<string>yo.eth</string>
		<string>yu.eth</string>
	</array>
	<key>public.kern2.za.eth</key>
	<array>
		<string>za.eth</string>
		<string>zee.eth</string>
		<string>zi.eth</string>
		<string>zo.eth</string>
		<string>zu.eth</string>
	</array>
	<key>public.kern2.ze.eth</key>
	<array>
		<string>ze.eth</string>
		<string>zha.eth</string>
		<string>zhee.eth</string>
		<string>zhi.eth</string>
		<string>zho.eth</string>
		<string>zhu.eth</string>
		<string>zhwa.eth</string>
	</array>
	<key>public.kern2.zza.eth</key>
	<array>
		<string>zza.eth</string>
		<string>zzee.eth</string>
		<string>zzi.eth</string>
		<string>zzo.eth</string>
		<string>zzu.eth</string>
	</array>
</dict>
</plist>
