<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni198A</key>
    <dict>
      <key>uni1986</key>
      <real>118.164</real>
      <key>uni198C</key>
      <real>118.164</real>
      <key>uni1991</key>
      <real>118.164</real>
      <key>uni199A</key>
      <real>118.164</real>
      <key>uni199D</key>
      <real>118.164</real>
      <key>uni19A4</key>
      <real>83.9844</real>
      <key>uni19A5</key>
      <real>34.1797</real>
      <key>uni19A9</key>
      <real>118.164</real>
      <key>uni19B2</key>
      <real>118.164</real>
      <key>uni19B7</key>
      <real>118.164</real>
      <key>uni19B9</key>
      <real>118.164</real>
      <key>uni19BF</key>
      <real>118.164</real>
      <key>uni19C0</key>
      <real>118.164</real>
    </dict>
    <key>uni1994</key>
    <dict>
      <key>uni198C</key>
      <real>118.164</real>
      <key>uni1991</key>
      <real>118.164</real>
      <key>uni199A</key>
      <real>118.164</real>
      <key>uni199D</key>
      <real>118.164</real>
      <key>uni19A4</key>
      <real>83.9844</real>
      <key>uni19A5</key>
      <real>34.1797</real>
      <key>uni19A9</key>
      <real>118.164</real>
      <key>uni19B2</key>
      <real>118.164</real>
      <key>uni19B7</key>
      <real>118.164</real>
      <key>uni19B9</key>
      <real>118.164</real>
      <key>uni19BF</key>
      <real>118.164</real>
      <key>uni19C0</key>
      <real>118.164</real>
    </dict>
    <key>uni19B4</key>
    <dict>
      <key>uni1983</key>
      <real>88.8672</real>
      <key>uni1987</key>
      <real>83.0078</real>
      <key>uni198B</key>
      <real>83.0078</real>
      <key>uni198C</key>
      <real>83.0078</real>
      <key>uni1993</key>
      <real>88.8672</real>
      <key>uni1999</key>
      <real>88.8672</real>
      <key>uni19A1</key>
      <real>137.69501</real>
      <key>uni19A4</key>
      <real>137.69501</real>
      <key>uni19A7</key>
      <real>95.7031</real>
      <key>uni19A8</key>
      <real>88.8672</real>
      <key>uni19A9</key>
      <real>88.8672</real>
      <key>uni19B3</key>
      <real>108.398</real>
      <key>uni19C3</key>
      <real>99.6094</real>
      <key>uni19C4</key>
      <real>76.1719</real>
      <key>uni19C6</key>
      <real>144.53101</real>
    </dict>
    <key>uni19BE</key>
    <dict>
      <key>uni1986</key>
      <real>118.164</real>
      <key>uni198C</key>
      <real>118.164</real>
      <key>uni1991</key>
      <real>118.164</real>
      <key>uni199A</key>
      <real>118.164</real>
      <key>uni199D</key>
      <real>118.164</real>
      <key>uni19A4</key>
      <real>83.9844</real>
      <key>uni19A5</key>
      <real>34.1797</real>
      <key>uni19A9</key>
      <real>118.164</real>
      <key>uni19B2</key>
      <real>118.164</real>
      <key>uni19B7</key>
      <real>118.164</real>
      <key>uni19B9</key>
      <real>118.164</real>
      <key>uni19BF</key>
      <real>118.164</real>
      <key>uni19C0</key>
      <real>118.164</real>
    </dict>
    <key>uni19DE</key>
    <dict>
      <key>uni1986</key>
      <real>118.164</real>
      <key>uni198C</key>
      <real>118.164</real>
      <key>uni1991</key>
      <real>118.164</real>
      <key>uni199A</key>
      <real>118.164</real>
      <key>uni199D</key>
      <real>118.164</real>
      <key>uni19A4</key>
      <real>83.9844</real>
      <key>uni19A5</key>
      <real>34.1797</real>
      <key>uni19A9</key>
      <real>118.164</real>
      <key>uni19B2</key>
      <real>118.164</real>
      <key>uni19B7</key>
      <real>118.164</real>
      <key>uni19B9</key>
      <real>118.164</real>
      <key>uni19BF</key>
      <real>118.164</real>
      <key>uni19C0</key>
      <real>118.164</real>
    </dict>
    <key>uni19DF</key>
    <dict>
      <key>uni1986</key>
      <real>118.164</real>
      <key>uni198C</key>
      <real>118.164</real>
      <key>uni1991</key>
      <real>118.164</real>
      <key>uni199A</key>
      <real>118.164</real>
      <key>uni199D</key>
      <real>118.164</real>
      <key>uni19A4</key>
      <real>83.9844</real>
      <key>uni19A5</key>
      <real>34.1797</real>
      <key>uni19A9</key>
      <real>118.164</real>
      <key>uni19B2</key>
      <real>118.164</real>
      <key>uni19B7</key>
      <real>118.164</real>
      <key>uni19B9</key>
      <real>118.164</real>
      <key>uni19BF</key>
      <real>118.164</real>
      <key>uni19C0</key>
      <real>118.164</real>
    </dict>
  </dict>
</plist>
