<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1346</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>uni1980</string>
      <string>uni1981</string>
      <string>uni1982</string>
      <string>uni1983</string>
      <string>uni1984</string>
      <string>uni1985</string>
      <string>uni1986</string>
      <string>uni1987</string>
      <string>uni1988</string>
      <string>uni1989</string>
      <string>uni198A</string>
      <string>uni198B</string>
      <string>uni198C</string>
      <string>uni198D</string>
      <string>uni198E</string>
      <string>uni198F</string>
      <string>uni1990</string>
      <string>uni1991</string>
      <string>uni1992</string>
      <string>uni1993</string>
      <string>uni1994</string>
      <string>uni1995</string>
      <string>uni1996</string>
      <string>uni1997</string>
      <string>uni1998</string>
      <string>uni1999</string>
      <string>uni199A</string>
      <string>uni199B</string>
      <string>uni199C</string>
      <string>uni199D</string>
      <string>uni199E</string>
      <string>uni199F</string>
      <string>uni19A0</string>
      <string>uni19A1</string>
      <string>uni19A2</string>
      <string>uni19A3</string>
      <string>uni19A4</string>
      <string>uni19A5</string>
      <string>uni19A6</string>
      <string>uni19A7</string>
      <string>uni19A8</string>
      <string>uni19A9</string>
      <string>uni19AA</string>
      <string>uni19AB</string>
      <string>uni19B0</string>
      <string>uni19B1</string>
      <string>uni19B2</string>
      <string>uni19B3</string>
      <string>uni19B4</string>
      <string>uni19B5</string>
      <string>uni19B6</string>
      <string>uni19B7</string>
      <string>uni19B8</string>
      <string>uni19B9</string>
      <string>uni19BA</string>
      <string>uni19BB</string>
      <string>uni19BC</string>
      <string>uni19BD</string>
      <string>uni19BE</string>
      <string>uni19BF</string>
      <string>uni19C0</string>
      <string>uni19C1</string>
      <string>uni19C2</string>
      <string>uni19C3</string>
      <string>uni19C4</string>
      <string>uni19C5</string>
      <string>uni19C6</string>
      <string>uni19C7</string>
      <string>uni19C8</string>
      <string>uni19C9</string>
      <string>uni19D0</string>
      <string>uni19D1</string>
      <string>uni19D2</string>
      <string>uni19D3</string>
      <string>uni19D4</string>
      <string>uni19D5</string>
      <string>uni19D6</string>
      <string>uni19D7</string>
      <string>uni19D8</string>
      <string>uni19D9</string>
      <string>uni19DA</string>
      <string>uni19DE</string>
      <string>uni19DF</string>
      <string>finalcons-mark</string>
      <string>belowmk1</string>
      <string>belowmk2</string>
      <string>abovemk1</string>
      <string>uni00A0</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>finalcons-mark</key>
      <string>finalconsmark</string>
    </dict>
  </dict>
</plist>
