<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>alef-hb</key>
    <string>alef-hb.glif</string>
    <key>alefdagesh-hb</key>
    <string>alefdagesh-hb.glif</string>
    <key>aleflamed-hb</key>
    <string>aleflamed-hb.glif</string>
    <key>alefpatah-hb</key>
    <string>alefpatah-hb.glif</string>
    <key>alefqamats-hb</key>
    <string>alefqamats-hb.glif</string>
    <key>alternativeplus-hb</key>
    <string>alternativeplus-hb.glif</string>
    <key>atnahhafukh-hb</key>
    <string>atnahhafukh-hb.glif</string>
    <key>ayin-hb</key>
    <string>ayin-hb.glif</string>
    <key>ayinaltone-hb</key>
    <string>ayinaltone-hb.glif</string>
    <key>bet-hb</key>
    <string>bet-hb.glif</string>
    <key>betdagesh-hb</key>
    <string>betdagesh-hb.glif</string>
    <key>betrafe-hb</key>
    <string>betrafe-hb.glif</string>
    <key>dagesh-hb</key>
    <string>dagesh-hb.glif</string>
    <key>dalet-hb</key>
    <string>dalet-hb.glif</string>
    <key>daletdagesh-hb</key>
    <string>daletdagesh-hb.glif</string>
    <key>dargaleft-hb</key>
    <string>dargaleft-hb.glif</string>
    <key>dehi-hb</key>
    <string>dehi-hb.glif</string>
    <key>etnahtaleft-hb</key>
    <string>etnahtaleft-hb.glif</string>
    <key>finalkaf-hb</key>
    <string>finalkaf-hb.glif</string>
    <key>finalkafdagesh-hb</key>
    <string>finalkafdagesh-hb.glif</string>
    <key>finalmem-hb</key>
    <string>finalmem-hb.glif</string>
    <key>finalnun-hb</key>
    <string>finalnun-hb.glif</string>
    <key>finalpe-hb</key>
    <string>finalpe-hb.glif</string>
    <key>finalpedagesh-hb</key>
    <string>finalpedagesh-hb.glif</string>
    <key>finaltsadi-hb</key>
    <string>finaltsadi-hb.glif</string>
    <key>finalwidemem-hb</key>
    <string>finalwidemem-hb.glif</string>
    <key>geresh-hb</key>
    <string>geresh-hb.glif</string>
    <key>gereshaccent-hb</key>
    <string>gereshaccent-hb.glif</string>
    <key>gereshmuqdam-hb</key>
    <string>gereshmuqdam-hb.glif</string>
    <key>gershayim-hb</key>
    <string>gershayim-hb.glif</string>
    <key>gershayimaccent-hb</key>
    <string>gershayimaccent-hb.glif</string>
    <key>gimel-hb</key>
    <string>gimel-hb.glif</string>
    <key>gimeldagesh-hb</key>
    <string>gimeldagesh-hb.glif</string>
    <key>hatafpatah-hb</key>
    <string>hatafpatah-hb.glif</string>
    <key>hatafpatah_zerowidthjoiner_siluqleft-hb</key>
    <string>hatafpatah_zerowidthjoiner_siluqleft-hb.glif</string>
    <key>hatafqamats-hb</key>
    <string>hatafqamats-hb.glif</string>
    <key>hatafqamats_zerowidthjoiner_siluqleft-hb</key>
    <string>hatafqamats_zerowidthjoiner_siluqleft-hb.glif</string>
    <key>hatafsegol-hb</key>
    <string>hatafsegol-hb.glif</string>
    <key>hatafsegol_zerowidthjoiner_siluqleft-hb</key>
    <string>hatafsegol_zerowidthjoiner_siluqleft-hb.glif</string>
    <key>he-hb</key>
    <string>he-hb.glif</string>
    <key>hedagesh-hb</key>
    <string>hedagesh-hb.glif</string>
    <key>het-hb</key>
    <string>het-hb.glif</string>
    <key>hiriq-hb</key>
    <string>hiriq-hb.glif</string>
    <key>holam-hb</key>
    <string>holam-hb.glif</string>
    <key>holamhaser-hb</key>
    <string>holamhaser-hb.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>iluy-hb</key>
    <string>iluy-hb.glif</string>
    <key>judeospanishvarika-hb</key>
    <string>judeospanishvarika-hb.glif</string>
    <key>kaf-hb</key>
    <string>kaf-hb.glif</string>
    <key>kafdagesh-hb</key>
    <string>kafdagesh-hb.glif</string>
    <key>kafrafe-hb</key>
    <string>kafrafe-hb.glif</string>
    <key>lamed-hb</key>
    <string>lamed-hb.glif</string>
    <key>lameddagesh-hb</key>
    <string>lameddagesh-hb.glif</string>
    <key>lowerdot-hb</key>
    <string>lowerdot-hb.glif</string>
    <key>mahapakhleft-hb</key>
    <string>mahapakhleft-hb.glif</string>
    <key>maqaf-hb</key>
    <string>maqaf-hb.glif</string>
    <key>masoracircle-hb</key>
    <string>masoracircle-hb.glif</string>
    <key>mem-hb</key>
    <string>mem-hb.glif</string>
    <key>memdagesh-hb</key>
    <string>memdagesh-hb.glif</string>
    <key>merkhakefulaleft-hb</key>
    <string>merkhakefulaleft-hb.glif</string>
    <key>merkhaleft-hb</key>
    <string>merkhaleft-hb.glif</string>
    <key>munahleft-hb</key>
    <string>munahleft-hb.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nun-hb</key>
    <string>nun-hb.glif</string>
    <key>nundagesh-hb</key>
    <string>nundagesh-hb.glif</string>
    <key>nunhafukha-hb</key>
    <string>nunhafukha-hb.glif</string>
    <key>ole-hb</key>
    <string>ole-hb.glif</string>
    <key>paseq-hb</key>
    <string>paseq-hb.glif</string>
    <key>pashta-hb</key>
    <string>pashta-hb.glif</string>
    <key>patah-hb</key>
    <string>patah-hb.glif</string>
    <key>pazer-hb</key>
    <string>pazer-hb.glif</string>
    <key>pe-hb</key>
    <string>pe-hb.glif</string>
    <key>pedagesh-hb</key>
    <string>pedagesh-hb.glif</string>
    <key>perafe-hb</key>
    <string>perafe-hb.glif</string>
    <key>qadma-hb</key>
    <string>qadma-hb.glif</string>
    <key>qamats-hb</key>
    <string>qamats-hb.glif</string>
    <key>qamatsqatan-hb</key>
    <string>qamatsqatan-hb.glif</string>
    <key>qarneypara-hb</key>
    <string>qarneypara-hb.glif</string>
    <key>qof-hb</key>
    <string>qof-hb.glif</string>
    <key>qofdagesh-hb</key>
    <string>qofdagesh-hb.glif</string>
    <key>qubuts-hb</key>
    <string>qubuts-hb.glif</string>
    <key>rafe-hb</key>
    <string>rafe-hb.glif</string>
    <key>resh-hb</key>
    <string>resh-hb.glif</string>
    <key>reshdagesh-hb</key>
    <string>reshdagesh-hb.glif</string>
    <key>reviamugrash-hb</key>
    <string>reviamugrash-hb.glif</string>
    <key>samekh-hb</key>
    <string>samekh-hb.glif</string>
    <key>samekhdagesh-hb</key>
    <string>samekhdagesh-hb.glif</string>
    <key>segol-hb</key>
    <string>segol-hb.glif</string>
    <key>segolta-hb</key>
    <string>segolta-hb.glif</string>
    <key>shalshelet-hb</key>
    <string>shalshelet-hb.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>sheva-hb</key>
    <string>sheva-hb.glif</string>
    <key>shin-hb</key>
    <string>shin-hb.glif</string>
    <key>shindagesh-hb</key>
    <string>shindagesh-hb.glif</string>
    <key>shindageshshindot-hb</key>
    <string>shindageshshindot-hb.glif</string>
    <key>shindageshsindot-hb</key>
    <string>shindageshsindot-hb.glif</string>
    <key>shindot-hb</key>
    <string>shindot-hb.glif</string>
    <key>shinshindot-hb</key>
    <string>shinshindot-hb.glif</string>
    <key>shinsindot-hb</key>
    <string>shinsindot-hb.glif</string>
    <key>siluqleft-hb</key>
    <string>siluqleft-hb.glif</string>
    <key>sindot-hb</key>
    <string>sindot-hb.glif</string>
    <key>sofpasuq-hb</key>
    <string>sofpasuq-hb.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>tav-hb</key>
    <string>tav-hb.glif</string>
    <key>tavdagesh-hb</key>
    <string>tavdagesh-hb.glif</string>
    <key>telishagedola-hb</key>
    <string>telishagedola-hb.glif</string>
    <key>telishaqetana-hb</key>
    <string>telishaqetana-hb.glif</string>
    <key>tet-hb</key>
    <string>tet-hb.glif</string>
    <key>tetdagesh-hb</key>
    <string>tetdagesh-hb.glif</string>
    <key>tevirleft-hb</key>
    <string>tevirleft-hb.glif</string>
    <key>tipehaleft-hb</key>
    <string>tipehaleft-hb.glif</string>
    <key>tsadi-hb</key>
    <string>tsadi-hb.glif</string>
    <key>tsadidagesh-hb</key>
    <string>tsadidagesh-hb.glif</string>
    <key>tsere-hb</key>
    <string>tsere-hb.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni200E</key>
    <string>uni200E_.glif</string>
    <key>uni200F</key>
    <string>uni200F_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>upperdot-hb</key>
    <string>upperdot-hb.glif</string>
    <key>vav-hb</key>
    <string>vav-hb.glif</string>
    <key>vavdagesh-hb</key>
    <string>vavdagesh-hb.glif</string>
    <key>vavholam-hb</key>
    <string>vavholam-hb.glif</string>
    <key>vavvav-hb</key>
    <string>vavvav-hb.glif</string>
    <key>vavyod-hb</key>
    <string>vavyod-hb.glif</string>
    <key>widealef-hb</key>
    <string>widealef-hb.glif</string>
    <key>widedalet-hb</key>
    <string>widedalet-hb.glif</string>
    <key>widehe-hb</key>
    <string>widehe-hb.glif</string>
    <key>widekaf-hb</key>
    <string>widekaf-hb.glif</string>
    <key>widelamed-hb</key>
    <string>widelamed-hb.glif</string>
    <key>wideresh-hb</key>
    <string>wideresh-hb.glif</string>
    <key>widetav-hb</key>
    <string>widetav-hb.glif</string>
    <key>yerahbenyomoleft-hb</key>
    <string>yerahbenyomoleft-hb.glif</string>
    <key>yetiv-hb</key>
    <string>yetiv-hb.glif</string>
    <key>yod-hb</key>
    <string>yod-hb.glif</string>
    <key>yoddagesh-hb</key>
    <string>yoddagesh-hb.glif</string>
    <key>yodhiriq-hb</key>
    <string>yodhiriq-hb.glif</string>
    <key>yodyod-hb</key>
    <string>yodyod-hb.glif</string>
    <key>yodyodpatah-hb</key>
    <string>yodyodpatah-hb.glif</string>
    <key>zaqefgadol-hb</key>
    <string>zaqefgadol-hb.glif</string>
    <key>zaqefqatan-hb</key>
    <string>zaqefqatan-hb.glif</string>
    <key>zarqa-hb</key>
    <string>zarqa-hb.glif</string>
    <key>zayin-hb</key>
    <string>zayin-hb.glif</string>
    <key>zayindagesh-hb</key>
    <string>zayindagesh-hb.glif</string>
    <key>zinor-hb</key>
    <string>zinor-hb.glif</string>
  </dict>
</plist>
