<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSOffsetHorizontal</key>
	<integer>21</integer>
	<key>GSOffsetVertical</key>
	<integer>16</integer>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Use Extension Kerning</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>CR</string>
		<string>NULL</string>
		<string>aGlottal.eth</string>
		<string>aPhr.eth</string>
		<string>aaGlottal.eth</string>
		<string>aaPhr.eth</string>
		<string>ba.eth</string>
		<string>baa.eth</string>
		<string>bba.eth</string>
		<string>bbaa.eth</string>
		<string>bbe.eth</string>
		<string>bbee.eth</string>
		<string>bbi.eth</string>
		<string>bbo.eth</string>
		<string>bbu.eth</string>
		<string>be.eth</string>
		<string>bee.eth</string>
		<string>bi.eth</string>
		<string>bo.eth</string>
		<string>boa.eth</string>
		<string>bu.eth</string>
		<string>bwa.eth</string>
		<string>bwaSebatbeit.eth</string>
		<string>bwe.eth</string>
		<string>bwee.eth</string>
		<string>bwi.eth</string>
		<string>ca.eth</string>
		<string>caa.eth</string>
		<string>cca.eth</string>
		<string>ccaa.eth</string>
		<string>cce.eth</string>
		<string>ccee.eth</string>
		<string>ccha.eth</string>
		<string>cchaa.eth</string>
		<string>cche.eth</string>
		<string>cchee.eth</string>
		<string>cchha.eth</string>
		<string>cchhaa.eth</string>
		<string>cchhe.eth</string>
		<string>cchhee.eth</string>
		<string>cchhi.eth</string>
		<string>cchho.eth</string>
		<string>cchhu.eth</string>
		<string>cchi.eth</string>
		<string>ccho.eth</string>
		<string>cchu.eth</string>
		<string>cci.eth</string>
		<string>cco.eth</string>
		<string>ccu.eth</string>
		<string>ce.eth</string>
		<string>cee.eth</string>
		<string>cha.eth</string>
		<string>chaa.eth</string>
		<string>che.eth</string>
		<string>chee.eth</string>
		<string>chi.eth</string>
		<string>chiret.eth</string>
		<string>cho.eth</string>
		<string>choa.eth</string>
		<string>chu.eth</string>
		<string>chwa.eth</string>
		<string>ci.eth</string>
		<string>co.eth</string>
		<string>coa.eth</string>
		<string>colon.eth</string>
		<string>comma.eth</string>
		<string>cu.eth</string>
		<string>cwa.eth</string>
		<string>da.eth</string>
		<string>daa.eth</string>
		<string>dblverticallineabovecomb</string>
		<string>dda.eth</string>
		<string>ddaa.eth</string>
		<string>dde.eth</string>
		<string>ddee.eth</string>
		<string>ddhaa.eth</string>
		<string>ddhe.eth</string>
		<string>ddhee.eth</string>
		<string>ddhi.eth</string>
		<string>ddho.eth</string>
		<string>ddhu.eth</string>
		<string>ddi.eth</string>
		<string>ddo.eth</string>
		<string>ddoa.eth</string>
		<string>ddu.eth</string>
		<string>ddwa.eth</string>
		<string>de.eth</string>
		<string>dee.eth</string>
		<string>deret.eth</string>
		<string>deretHidet.eth</string>
		<string>di.eth</string>
		<string>dieresiscomb</string>
		<string>difat.eth</string>
		<string>do.eth</string>
		<string>doa.eth</string>
		<string>du.eth</string>
		<string>dwa.eth</string>
		<string>dzaa.eth</string>
		<string>dze.eth</string>
		<string>dzee.eth</string>
		<string>dzi.eth</string>
		<string>dzo.eth</string>
		<string>dzu.eth</string>
		<string>eGlottal.eth</string>
		<string>ePhr.eth</string>
		<string>eeGlottal.eth</string>
		<string>eePhr.eth</string>
		<string>eight.eth</string>
		<string>eightFin.eth</string>
		<string>eightIni.eth</string>
		<string>eightMed.eth</string>
		<string>eighty.eth</string>
		<string>eightyFin.eth</string>
		<string>eightyIni.eth</string>
		<string>eightyMed.eth</string>
		<string>ellipsisvertical</string>
		<string>fa.eth</string>
		<string>faa.eth</string>
		<string>fe.eth</string>
		<string>fee.eth</string>
		<string>fi.eth</string>
		<string>fifty.eth</string>
		<string>fiftyFin.eth</string>
		<string>fiftyIni.eth</string>
		<string>fiftyMed.eth</string>
		<string>five.eth</string>
		<string>fiveFin.eth</string>
		<string>fiveIni.eth</string>
		<string>fiveMed.eth</string>
		<string>fo.eth</string>
		<string>forty.eth</string>
		<string>fortyFin.eth</string>
		<string>fortyIni.eth</string>
		<string>fortyMed.eth</string>
		<string>four.eth</string>
		<string>fourFin.eth</string>
		<string>fourIni.eth</string>
		<string>fourMed.eth</string>
		<string>fu.eth</string>
		<string>fwa.eth</string>
		<string>fwaSebatbeit.eth</string>
		<string>fwe.eth</string>
		<string>fwee.eth</string>
		<string>fwi.eth</string>
		<string>fya.eth</string>
		<string>ga.eth</string>
		<string>gaa.eth</string>
		<string>ge.eth</string>
		<string>gee.eth</string>
		<string>geminVowellengthcomb-ethiopic</string>
		<string>geminationcomb-ethiopic</string>
		<string>gga.eth</string>
		<string>ggaa.eth</string>
		<string>gge.eth</string>
		<string>ggee.eth</string>
		<string>ggi.eth</string>
		<string>ggo.eth</string>
		<string>ggu.eth</string>
		<string>ggwa.eth</string>
		<string>ggwaa.eth</string>
		<string>ggwe.eth</string>
		<string>ggwee.eth</string>
		<string>ggwi.eth</string>
		<string>gi.eth</string>
		<string>go.eth</string>
		<string>goa.eth</string>
		<string>gu.eth</string>
		<string>gwa.eth</string>
		<string>gwaa.eth</string>
		<string>gwe.eth</string>
		<string>gwee.eth</string>
		<string>gwi.eth</string>
		<string>gya.eth</string>
		<string>gyaa.eth</string>
		<string>gye.eth</string>
		<string>gyee.eth</string>
		<string>gyi.eth</string>
		<string>gyo.eth</string>
		<string>gyu.eth</string>
		<string>ha.eth</string>
		<string>haa.eth</string>
		<string>he.eth</string>
		<string>hee.eth</string>
		<string>hha.eth</string>
		<string>hhaa.eth</string>
		<string>hhe.eth</string>
		<string>hhee.eth</string>
		<string>hhi.eth</string>
		<string>hho.eth</string>
		<string>hhu.eth</string>
		<string>hhwa.eth</string>
		<string>hi.eth</string>
		<string>hidet.eth</string>
		<string>ho.eth</string>
		<string>hoa.eth</string>
		<string>hu.eth</string>
		<string>hundred.eth</string>
		<string>hundredFin.eth</string>
		<string>hundredIni.eth</string>
		<string>hundredMed.eth</string>
		<string>hyphen</string>
		<string>iGlottal.eth</string>
		<string>iPhr.eth</string>
		<string>ja.eth</string>
		<string>jaa.eth</string>
		<string>je.eth</string>
		<string>jee.eth</string>
		<string>ji.eth</string>
		<string>jo.eth</string>
		<string>joa.eth</string>
		<string>ju.eth</string>
		<string>jwa.eth</string>
		<string>ka.eth</string>
		<string>kaa.eth</string>
		<string>ke.eth</string>
		<string>kee.eth</string>
		<string>kenat.eth</string>
		<string>ki.eth</string>
		<string>ko.eth</string>
		<string>koa.eth</string>
		<string>ku.eth</string>
		<string>kurt.eth</string>
		<string>kwa.eth</string>
		<string>kwaa.eth</string>
		<string>kwe.eth</string>
		<string>kwee.eth</string>
		<string>kwi.eth</string>
		<string>kxa.eth</string>
		<string>kxaa.eth</string>
		<string>kxe.eth</string>
		<string>kxee.eth</string>
		<string>kxi.eth</string>
		<string>kxo.eth</string>
		<string>kxu.eth</string>
		<string>kxwa.eth</string>
		<string>kxwaa.eth</string>
		<string>kxwe.eth</string>
		<string>kxwee.eth</string>
		<string>kxwi.eth</string>
		<string>kya.eth</string>
		<string>kyaa.eth</string>
		<string>kye.eth</string>
		<string>kyee.eth</string>
		<string>kyi.eth</string>
		<string>kyo.eth</string>
		<string>kyu.eth</string>
		<string>la.eth</string>
		<string>laa.eth</string>
		<string>le.eth</string>
		<string>lee.eth</string>
		<string>li.eth</string>
		<string>lo.eth</string>
		<string>loa.eth</string>
		<string>lu.eth</string>
		<string>lwa.eth</string>
		<string>ma.eth</string>
		<string>maa.eth</string>
		<string>me.eth</string>
		<string>mee.eth</string>
		<string>mi.eth</string>
		<string>mo.eth</string>
		<string>moa.eth</string>
		<string>mu.eth</string>
		<string>mwa.eth</string>
		<string>mwaSebatbeit.eth</string>
		<string>mwe.eth</string>
		<string>mwee.eth</string>
		<string>mwi.eth</string>
		<string>mya.eth</string>
		<string>na.eth</string>
		<string>naa.eth</string>
		<string>ne.eth</string>
		<string>nee.eth</string>
		<string>ni.eth</string>
		<string>nine.eth</string>
		<string>nineFin.eth</string>
		<string>nineIni.eth</string>
		<string>nineMed.eth</string>
		<string>ninety.eth</string>
		<string>ninetyFin.eth</string>
		<string>ninetyIni.eth</string>
		<string>ninetyMed.eth</string>
		<string>no.eth</string>
		<string>noa.eth</string>
		<string>nu.eth</string>
		<string>nwa.eth</string>
		<string>nya.eth</string>
		<string>nyaa.eth</string>
		<string>nye.eth</string>
		<string>nyee.eth</string>
		<string>nyi.eth</string>
		<string>nyo.eth</string>
		<string>nyoa.eth</string>
		<string>nyu.eth</string>
		<string>nywa.eth</string>
		<string>oGlottal.eth</string>
		<string>oPhr.eth</string>
		<string>oaGlottal.eth</string>
		<string>one.eth</string>
		<string>oneFin.eth</string>
		<string>oneIni.eth</string>
		<string>oneMed.eth</string>
		<string>pa.eth</string>
		<string>paa.eth</string>
		<string>paragraphseparator.eth</string>
		<string>pe.eth</string>
		<string>pee.eth</string>
		<string>period.eth</string>
		<string>pha.eth</string>
		<string>phaa.eth</string>
		<string>phe.eth</string>
		<string>phee.eth</string>
		<string>phi.eth</string>
		<string>pho.eth</string>
		<string>phoa.eth</string>
		<string>phu.eth</string>
		<string>phwa.eth</string>
		<string>pi.eth</string>
		<string>po.eth</string>
		<string>poa.eth</string>
		<string>prefacecolon.eth</string>
		<string>pu.eth</string>
		<string>pwa.eth</string>
		<string>pwaSebatbeit.eth</string>
		<string>pwe.eth</string>
		<string>pwee.eth</string>
		<string>pwi.eth</string>
		<string>qa.eth</string>
		<string>qaa.eth</string>
		<string>qe.eth</string>
		<string>qee.eth</string>
		<string>qha.eth</string>
		<string>qhaa.eth</string>
		<string>qhe.eth</string>
		<string>qhee.eth</string>
		<string>qhi.eth</string>
		<string>qho.eth</string>
		<string>qhu.eth</string>
		<string>qhwa.eth</string>
		<string>qhwaa.eth</string>
		<string>qhwe.eth</string>
		<string>qhwee.eth</string>
		<string>qhwi.eth</string>
		<string>qi.eth</string>
		<string>qo.eth</string>
		<string>qoa.eth</string>
		<string>qu.eth</string>
		<string>question.eth</string>
		<string>qwa.eth</string>
		<string>qwaa.eth</string>
		<string>qwe.eth</string>
		<string>qwee.eth</string>
		<string>qwi.eth</string>
		<string>qya.eth</string>
		<string>qyaa.eth</string>
		<string>qye.eth</string>
		<string>qyee.eth</string>
		<string>qyi.eth</string>
		<string>qyo.eth</string>
		<string>qyu.eth</string>
		<string>ra.eth</string>
		<string>raa.eth</string>
		<string>re.eth</string>
		<string>ree.eth</string>
		<string>ri.eth</string>
		<string>rikrik.eth</string>
		<string>ro.eth</string>
		<string>roa.eth</string>
		<string>ru.eth</string>
		<string>rwa.eth</string>
		<string>rya.eth</string>
		<string>sa.eth</string>
		<string>saa.eth</string>
		<string>se.eth</string>
		<string>sectionmark.eth</string>
		<string>see.eth</string>
		<string>semicolon.eth</string>
		<string>seven.eth</string>
		<string>sevenFin.eth</string>
		<string>sevenIni.eth</string>
		<string>sevenMed.eth</string>
		<string>seventy.eth</string>
		<string>seventyFin.eth</string>
		<string>seventyIni.eth</string>
		<string>seventyMed.eth</string>
		<string>sha.eth</string>
		<string>shaa.eth</string>
		<string>she.eth</string>
		<string>shee.eth</string>
		<string>shi.eth</string>
		<string>sho.eth</string>
		<string>shoa.eth</string>
		<string>shortRikrik.eth</string>
		<string>shu.eth</string>
		<string>shwa.eth</string>
		<string>si.eth</string>
		<string>six.eth</string>
		<string>sixFin.eth</string>
		<string>sixIni.eth</string>
		<string>sixMed.eth</string>
		<string>sixty.eth</string>
		<string>sixtyFin.eth</string>
		<string>sixtyIni.eth</string>
		<string>sixtyMed.eth</string>
		<string>so.eth</string>
		<string>soa.eth</string>
		<string>space</string>
		<string>ssa.eth</string>
		<string>ssaa.eth</string>
		<string>sse.eth</string>
		<string>ssee.eth</string>
		<string>ssi.eth</string>
		<string>sso.eth</string>
		<string>ssu.eth</string>
		<string>su.eth</string>
		<string>swa.eth</string>
		<string>sza.eth</string>
		<string>szaa.eth</string>
		<string>sze.eth</string>
		<string>szee.eth</string>
		<string>szi.eth</string>
		<string>szo.eth</string>
		<string>szu.eth</string>
		<string>szwa.eth</string>
		<string>ta.eth</string>
		<string>taa.eth</string>
		<string>te.eth</string>
		<string>tee.eth</string>
		<string>ten.eth</string>
		<string>tenFin.eth</string>
		<string>tenIni.eth</string>
		<string>tenMed.eth</string>
		<string>tenthousand.eth</string>
		<string>tenthousandFin.eth</string>
		<string>tenthousandIni.eth</string>
		<string>tenthousandMed.eth</string>
		<string>tha.eth</string>
		<string>thaa.eth</string>
		<string>the.eth</string>
		<string>thee.eth</string>
		<string>thi.eth</string>
		<string>thirty.eth</string>
		<string>thirtyFin.eth</string>
		<string>thirtyIni.eth</string>
		<string>thirtyMed.eth</string>
		<string>tho.eth</string>
		<string>thoa.eth</string>
		<string>three.eth</string>
		<string>threeFin.eth</string>
		<string>threeIni.eth</string>
		<string>threeMed.eth</string>
		<string>thu.eth</string>
		<string>thwa.eth</string>
		<string>ti.eth</string>
		<string>to.eth</string>
		<string>toa.eth</string>
		<string>tsa.eth</string>
		<string>tsaa.eth</string>
		<string>tse.eth</string>
		<string>tsee.eth</string>
		<string>tsi.eth</string>
		<string>tso.eth</string>
		<string>tsu.eth</string>
		<string>tswa.eth</string>
		<string>tthaa.eth</string>
		<string>tthe.eth</string>
		<string>tthee.eth</string>
		<string>tthi.eth</string>
		<string>ttho.eth</string>
		<string>tthu.eth</string>
		<string>tu.eth</string>
		<string>twa.eth</string>
		<string>twenty.eth</string>
		<string>twentyFin.eth</string>
		<string>twentyIni.eth</string>
		<string>twentyMed.eth</string>
		<string>two.eth</string>
		<string>twoFin.eth</string>
		<string>twoIni.eth</string>
		<string>twoMed.eth</string>
		<string>tza.eth</string>
		<string>tzaa.eth</string>
		<string>tze.eth</string>
		<string>tzee.eth</string>
		<string>tzi.eth</string>
		<string>tzo.eth</string>
		<string>tzoa.eth</string>
		<string>tzu.eth</string>
		<string>uGlottal.eth</string>
		<string>uPhr.eth</string>
		<string>uni00A0</string>
		<string>uni2010</string>
		<string>uni25CC</string>
		<string>va.eth</string>
		<string>vaa.eth</string>
		<string>ve.eth</string>
		<string>vee.eth</string>
		<string>vi.eth</string>
		<string>vo.eth</string>
		<string>vowellengthcomb-ethiopic</string>
		<string>vu.eth</string>
		<string>vwa.eth</string>
		<string>wa.eth</string>
		<string>waGlottal.eth</string>
		<string>waa.eth</string>
		<string>we.eth</string>
		<string>wee.eth</string>
		<string>wi.eth</string>
		<string>wo.eth</string>
		<string>woa.eth</string>
		<string>wordspace.eth</string>
		<string>wu.eth</string>
		<string>xa.eth</string>
		<string>xaa.eth</string>
		<string>xe.eth</string>
		<string>xee.eth</string>
		<string>xi.eth</string>
		<string>xo.eth</string>
		<string>xoa.eth</string>
		<string>xu.eth</string>
		<string>xwa.eth</string>
		<string>xwaa.eth</string>
		<string>xwe.eth</string>
		<string>xwee.eth</string>
		<string>xwi.eth</string>
		<string>xya.eth</string>
		<string>xyaa.eth</string>
		<string>xye.eth</string>
		<string>xyee.eth</string>
		<string>xyi.eth</string>
		<string>xyo.eth</string>
		<string>xyu.eth</string>
		<string>ya.eth</string>
		<string>yaa.eth</string>
		<string>ye.eth</string>
		<string>yee.eth</string>
		<string>yi.eth</string>
		<string>yizet.eth</string>
		<string>yo.eth</string>
		<string>yoa.eth</string>
		<string>yu.eth</string>
		<string>za.eth</string>
		<string>zaa.eth</string>
		<string>ze.eth</string>
		<string>zee.eth</string>
		<string>zha.eth</string>
		<string>zhaa.eth</string>
		<string>zhe.eth</string>
		<string>zhee.eth</string>
		<string>zhi.eth</string>
		<string>zho.eth</string>
		<string>zhu.eth</string>
		<string>zhwa.eth</string>
		<string>zi.eth</string>
		<string>zo.eth</string>
		<string>zoa.eth</string>
		<string>zu.eth</string>
		<string>zwa.eth</string>
		<string>zza.eth</string>
		<string>zzaa.eth</string>
		<string>zze.eth</string>
		<string>zzee.eth</string>
		<string>zzi.eth</string>
		<string>zzo.eth</string>
		<string>zzu.eth</string>
		<string>hhya.eth</string>
		<string>hhyu.eth</string>
		<string>hhyi.eth</string>
		<string>hhyaa.eth</string>
		<string>hhyee.eth</string>
		<string>hhye.eth</string>
		<string>hhyo.eth</string>
		<string>hhwa-gurage.eth</string>
		<string>hwi.eth</string>
		<string>hwee.eth</string>
		<string>hwe.eth</string>
		<string>mwi-gurage.eth</string>
		<string>mwee-gurage.eth</string>
		<string>qwi-gurage.eth</string>
		<string>qwee-gurage.eth</string>
		<string>qwe-gurage.eth</string>
		<string>bwi-gurage.eth</string>
		<string>bwee-gurage.eth</string>
		<string>kwi-gurage.eth</string>
		<string>kwee-gurage.eth</string>
		<string>kwe-gurage.eth</string>
		<string>gwi-gurage.eth</string>
		<string>gwee-gurage.eth</string>
		<string>gwe-gurage.eth</string>
		<string>fwi-gurage.eth</string>
		<string>fwee-gurage.eth</string>
		<string>pwi-gurage.eth</string>
		<string>pwee-gurage.eth</string>
		<string>lollipop</string>
		<string>nose</string>
		<string>baashort</string>
		<string>ballbig</string>
		<string>ballsmall</string>
		<string>baselinebowl</string>
		<string>bbowlnarrow</string>
		<string>bbowlshort</string>
		<string>bone</string>
		<string>bonelong</string>
		<string>bonemiddle</string>
		<string>boshort</string>
		<string>eightform</string>
		<string>eightyform</string>
		<string>fiftyform</string>
		<string>fiveform</string>
		<string>footlong</string>
		<string>footmiddle</string>
		<string>footright</string>
		<string>footshort</string>
		<string>fortyform</string>
		<string>fourform</string>
		<string>hundredform</string>
		<string>jstem</string>
		<string>jstem2</string>
		<string>leftdoubleflag</string>
		<string>leftsingleflag</string>
		<string>lollipopsmall</string>
		<string>midring</string>
		<string>midringshort</string>
		<string>nineform</string>
		<string>ninetyform</string>
		<string>numeral</string>
		<string>numeral_fina</string>
		<string>numeral_init</string>
		<string>numeral_medi</string>
		<string>numeralnarrow</string>
		<string>numeralswide</string>
		<string>oneform</string>
		<string>rightbulb</string>
		<string>rightbulbsmall</string>
		<string>rightdoubleflag</string>
		<string>rightsingleflag</string>
		<string>sevenform</string>
		<string>seventyform</string>
		<string>shortnarch</string>
		<string>shorttoploops</string>
		<string>sixform</string>
		<string>sixtyform</string>
		<string>stem1</string>
		<string>stem2</string>
		<string>tenform</string>
		<string>tenthousandform</string>
		<string>thirtyform</string>
		<string>threeform</string>
		<string>twentyform</string>
		<string>twoform</string>
		<string>winghat</string>
		<string>winghatshort</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.smartSets.uniqueKey</key>
	<string>5879689424</string>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>CR</string>
		<string>NULL</string>
		<string>aGlottal.eth</string>
		<string>aPhr.eth</string>
		<string>aaGlottal.eth</string>
		<string>aaPhr.eth</string>
		<string>ba.eth</string>
		<string>baa.eth</string>
		<string>bba.eth</string>
		<string>bbaa.eth</string>
		<string>bbe.eth</string>
		<string>bbee.eth</string>
		<string>bbi.eth</string>
		<string>bbo.eth</string>
		<string>bbu.eth</string>
		<string>be.eth</string>
		<string>bee.eth</string>
		<string>bi.eth</string>
		<string>bo.eth</string>
		<string>boa.eth</string>
		<string>bu.eth</string>
		<string>bwa.eth</string>
		<string>bwaSebatbeit.eth</string>
		<string>bwe.eth</string>
		<string>bwee.eth</string>
		<string>bwi.eth</string>
		<string>ca.eth</string>
		<string>caa.eth</string>
		<string>cca.eth</string>
		<string>ccaa.eth</string>
		<string>cce.eth</string>
		<string>ccee.eth</string>
		<string>ccha.eth</string>
		<string>cchaa.eth</string>
		<string>cche.eth</string>
		<string>cchee.eth</string>
		<string>cchha.eth</string>
		<string>cchhaa.eth</string>
		<string>cchhe.eth</string>
		<string>cchhee.eth</string>
		<string>cchhi.eth</string>
		<string>cchho.eth</string>
		<string>cchhu.eth</string>
		<string>cchi.eth</string>
		<string>ccho.eth</string>
		<string>cchu.eth</string>
		<string>cci.eth</string>
		<string>cco.eth</string>
		<string>ccu.eth</string>
		<string>ce.eth</string>
		<string>cee.eth</string>
		<string>cha.eth</string>
		<string>chaa.eth</string>
		<string>che.eth</string>
		<string>chee.eth</string>
		<string>chi.eth</string>
		<string>chiret.eth</string>
		<string>cho.eth</string>
		<string>choa.eth</string>
		<string>chu.eth</string>
		<string>chwa.eth</string>
		<string>ci.eth</string>
		<string>co.eth</string>
		<string>coa.eth</string>
		<string>colon.eth</string>
		<string>comma.eth</string>
		<string>cu.eth</string>
		<string>cwa.eth</string>
		<string>da.eth</string>
		<string>daa.eth</string>
		<string>dblverticallineabovecomb</string>
		<string>dda.eth</string>
		<string>ddaa.eth</string>
		<string>dde.eth</string>
		<string>ddee.eth</string>
		<string>ddhaa.eth</string>
		<string>ddhe.eth</string>
		<string>ddhee.eth</string>
		<string>ddhi.eth</string>
		<string>ddho.eth</string>
		<string>ddhu.eth</string>
		<string>ddi.eth</string>
		<string>ddo.eth</string>
		<string>ddoa.eth</string>
		<string>ddu.eth</string>
		<string>ddwa.eth</string>
		<string>de.eth</string>
		<string>dee.eth</string>
		<string>deret.eth</string>
		<string>deretHidet.eth</string>
		<string>di.eth</string>
		<string>dieresiscomb</string>
		<string>difat.eth</string>
		<string>do.eth</string>
		<string>doa.eth</string>
		<string>du.eth</string>
		<string>dwa.eth</string>
		<string>dzaa.eth</string>
		<string>dze.eth</string>
		<string>dzee.eth</string>
		<string>dzi.eth</string>
		<string>dzo.eth</string>
		<string>dzu.eth</string>
		<string>eGlottal.eth</string>
		<string>ePhr.eth</string>
		<string>eeGlottal.eth</string>
		<string>eePhr.eth</string>
		<string>eight.eth</string>
		<string>eightFin.eth</string>
		<string>eightIni.eth</string>
		<string>eightMed.eth</string>
		<string>eighty.eth</string>
		<string>eightyFin.eth</string>
		<string>eightyIni.eth</string>
		<string>eightyMed.eth</string>
		<string>ellipsisvertical</string>
		<string>fa.eth</string>
		<string>faa.eth</string>
		<string>fe.eth</string>
		<string>fee.eth</string>
		<string>fi.eth</string>
		<string>fifty.eth</string>
		<string>fiftyFin.eth</string>
		<string>fiftyIni.eth</string>
		<string>fiftyMed.eth</string>
		<string>five.eth</string>
		<string>fiveFin.eth</string>
		<string>fiveIni.eth</string>
		<string>fiveMed.eth</string>
		<string>fo.eth</string>
		<string>forty.eth</string>
		<string>fortyFin.eth</string>
		<string>fortyIni.eth</string>
		<string>fortyMed.eth</string>
		<string>four.eth</string>
		<string>fourFin.eth</string>
		<string>fourIni.eth</string>
		<string>fourMed.eth</string>
		<string>fu.eth</string>
		<string>fwa.eth</string>
		<string>fwaSebatbeit.eth</string>
		<string>fwe.eth</string>
		<string>fwee.eth</string>
		<string>fwi.eth</string>
		<string>fya.eth</string>
		<string>ga.eth</string>
		<string>gaa.eth</string>
		<string>ge.eth</string>
		<string>gee.eth</string>
		<string>geminVowellengthcomb-ethiopic</string>
		<string>geminationcomb-ethiopic</string>
		<string>gga.eth</string>
		<string>ggaa.eth</string>
		<string>gge.eth</string>
		<string>ggee.eth</string>
		<string>ggi.eth</string>
		<string>ggo.eth</string>
		<string>ggu.eth</string>
		<string>ggwa.eth</string>
		<string>ggwaa.eth</string>
		<string>ggwe.eth</string>
		<string>ggwee.eth</string>
		<string>ggwi.eth</string>
		<string>gi.eth</string>
		<string>go.eth</string>
		<string>goa.eth</string>
		<string>gu.eth</string>
		<string>gwa.eth</string>
		<string>gwaa.eth</string>
		<string>gwe.eth</string>
		<string>gwee.eth</string>
		<string>gwi.eth</string>
		<string>gya.eth</string>
		<string>gyaa.eth</string>
		<string>gye.eth</string>
		<string>gyee.eth</string>
		<string>gyi.eth</string>
		<string>gyo.eth</string>
		<string>gyu.eth</string>
		<string>ha.eth</string>
		<string>haa.eth</string>
		<string>he.eth</string>
		<string>hee.eth</string>
		<string>hha.eth</string>
		<string>hhaa.eth</string>
		<string>hhe.eth</string>
		<string>hhee.eth</string>
		<string>hhi.eth</string>
		<string>hho.eth</string>
		<string>hhu.eth</string>
		<string>hhwa.eth</string>
		<string>hi.eth</string>
		<string>hidet.eth</string>
		<string>ho.eth</string>
		<string>hoa.eth</string>
		<string>hu.eth</string>
		<string>hundred.eth</string>
		<string>hundredFin.eth</string>
		<string>hundredIni.eth</string>
		<string>hundredMed.eth</string>
		<string>hyphen</string>
		<string>iGlottal.eth</string>
		<string>iPhr.eth</string>
		<string>ja.eth</string>
		<string>jaa.eth</string>
		<string>je.eth</string>
		<string>jee.eth</string>
		<string>ji.eth</string>
		<string>jo.eth</string>
		<string>joa.eth</string>
		<string>ju.eth</string>
		<string>jwa.eth</string>
		<string>ka.eth</string>
		<string>kaa.eth</string>
		<string>ke.eth</string>
		<string>kee.eth</string>
		<string>kenat.eth</string>
		<string>ki.eth</string>
		<string>ko.eth</string>
		<string>koa.eth</string>
		<string>ku.eth</string>
		<string>kurt.eth</string>
		<string>kwa.eth</string>
		<string>kwaa.eth</string>
		<string>kwe.eth</string>
		<string>kwee.eth</string>
		<string>kwi.eth</string>
		<string>kxa.eth</string>
		<string>kxaa.eth</string>
		<string>kxe.eth</string>
		<string>kxee.eth</string>
		<string>kxi.eth</string>
		<string>kxo.eth</string>
		<string>kxu.eth</string>
		<string>kxwa.eth</string>
		<string>kxwaa.eth</string>
		<string>kxwe.eth</string>
		<string>kxwee.eth</string>
		<string>kxwi.eth</string>
		<string>kya.eth</string>
		<string>kyaa.eth</string>
		<string>kye.eth</string>
		<string>kyee.eth</string>
		<string>kyi.eth</string>
		<string>kyo.eth</string>
		<string>kyu.eth</string>
		<string>la.eth</string>
		<string>laa.eth</string>
		<string>le.eth</string>
		<string>lee.eth</string>
		<string>li.eth</string>
		<string>lo.eth</string>
		<string>loa.eth</string>
		<string>lu.eth</string>
		<string>lwa.eth</string>
		<string>ma.eth</string>
		<string>maa.eth</string>
		<string>me.eth</string>
		<string>mee.eth</string>
		<string>mi.eth</string>
		<string>mo.eth</string>
		<string>moa.eth</string>
		<string>mu.eth</string>
		<string>mwa.eth</string>
		<string>mwaSebatbeit.eth</string>
		<string>mwe.eth</string>
		<string>mwee.eth</string>
		<string>mwi.eth</string>
		<string>mya.eth</string>
		<string>na.eth</string>
		<string>naa.eth</string>
		<string>ne.eth</string>
		<string>nee.eth</string>
		<string>ni.eth</string>
		<string>nine.eth</string>
		<string>nineFin.eth</string>
		<string>nineIni.eth</string>
		<string>nineMed.eth</string>
		<string>ninety.eth</string>
		<string>ninetyFin.eth</string>
		<string>ninetyIni.eth</string>
		<string>ninetyMed.eth</string>
		<string>no.eth</string>
		<string>noa.eth</string>
		<string>nu.eth</string>
		<string>nwa.eth</string>
		<string>nya.eth</string>
		<string>nyaa.eth</string>
		<string>nye.eth</string>
		<string>nyee.eth</string>
		<string>nyi.eth</string>
		<string>nyo.eth</string>
		<string>nyoa.eth</string>
		<string>nyu.eth</string>
		<string>nywa.eth</string>
		<string>oGlottal.eth</string>
		<string>oPhr.eth</string>
		<string>oaGlottal.eth</string>
		<string>one.eth</string>
		<string>oneFin.eth</string>
		<string>oneIni.eth</string>
		<string>oneMed.eth</string>
		<string>pa.eth</string>
		<string>paa.eth</string>
		<string>paragraphseparator.eth</string>
		<string>pe.eth</string>
		<string>pee.eth</string>
		<string>period.eth</string>
		<string>pha.eth</string>
		<string>phaa.eth</string>
		<string>phe.eth</string>
		<string>phee.eth</string>
		<string>phi.eth</string>
		<string>pho.eth</string>
		<string>phoa.eth</string>
		<string>phu.eth</string>
		<string>phwa.eth</string>
		<string>pi.eth</string>
		<string>po.eth</string>
		<string>poa.eth</string>
		<string>prefacecolon.eth</string>
		<string>pu.eth</string>
		<string>pwa.eth</string>
		<string>pwaSebatbeit.eth</string>
		<string>pwe.eth</string>
		<string>pwee.eth</string>
		<string>pwi.eth</string>
		<string>qa.eth</string>
		<string>qaa.eth</string>
		<string>qe.eth</string>
		<string>qee.eth</string>
		<string>qha.eth</string>
		<string>qhaa.eth</string>
		<string>qhe.eth</string>
		<string>qhee.eth</string>
		<string>qhi.eth</string>
		<string>qho.eth</string>
		<string>qhu.eth</string>
		<string>qhwa.eth</string>
		<string>qhwaa.eth</string>
		<string>qhwe.eth</string>
		<string>qhwee.eth</string>
		<string>qhwi.eth</string>
		<string>qi.eth</string>
		<string>qo.eth</string>
		<string>qoa.eth</string>
		<string>qu.eth</string>
		<string>question.eth</string>
		<string>qwa.eth</string>
		<string>qwaa.eth</string>
		<string>qwe.eth</string>
		<string>qwee.eth</string>
		<string>qwi.eth</string>
		<string>qya.eth</string>
		<string>qyaa.eth</string>
		<string>qye.eth</string>
		<string>qyee.eth</string>
		<string>qyi.eth</string>
		<string>qyo.eth</string>
		<string>qyu.eth</string>
		<string>ra.eth</string>
		<string>raa.eth</string>
		<string>re.eth</string>
		<string>ree.eth</string>
		<string>ri.eth</string>
		<string>rikrik.eth</string>
		<string>ro.eth</string>
		<string>roa.eth</string>
		<string>ru.eth</string>
		<string>rwa.eth</string>
		<string>rya.eth</string>
		<string>sa.eth</string>
		<string>saa.eth</string>
		<string>se.eth</string>
		<string>sectionmark.eth</string>
		<string>see.eth</string>
		<string>semicolon.eth</string>
		<string>seven.eth</string>
		<string>sevenFin.eth</string>
		<string>sevenIni.eth</string>
		<string>sevenMed.eth</string>
		<string>seventy.eth</string>
		<string>seventyFin.eth</string>
		<string>seventyIni.eth</string>
		<string>seventyMed.eth</string>
		<string>sha.eth</string>
		<string>shaa.eth</string>
		<string>she.eth</string>
		<string>shee.eth</string>
		<string>shi.eth</string>
		<string>sho.eth</string>
		<string>shoa.eth</string>
		<string>shortRikrik.eth</string>
		<string>shu.eth</string>
		<string>shwa.eth</string>
		<string>si.eth</string>
		<string>six.eth</string>
		<string>sixFin.eth</string>
		<string>sixIni.eth</string>
		<string>sixMed.eth</string>
		<string>sixty.eth</string>
		<string>sixtyFin.eth</string>
		<string>sixtyIni.eth</string>
		<string>sixtyMed.eth</string>
		<string>so.eth</string>
		<string>soa.eth</string>
		<string>space</string>
		<string>ssa.eth</string>
		<string>ssaa.eth</string>
		<string>sse.eth</string>
		<string>ssee.eth</string>
		<string>ssi.eth</string>
		<string>sso.eth</string>
		<string>ssu.eth</string>
		<string>su.eth</string>
		<string>swa.eth</string>
		<string>sza.eth</string>
		<string>szaa.eth</string>
		<string>sze.eth</string>
		<string>szee.eth</string>
		<string>szi.eth</string>
		<string>szo.eth</string>
		<string>szu.eth</string>
		<string>szwa.eth</string>
		<string>ta.eth</string>
		<string>taa.eth</string>
		<string>te.eth</string>
		<string>tee.eth</string>
		<string>ten.eth</string>
		<string>tenFin.eth</string>
		<string>tenIni.eth</string>
		<string>tenMed.eth</string>
		<string>tenthousand.eth</string>
		<string>tenthousandFin.eth</string>
		<string>tenthousandIni.eth</string>
		<string>tenthousandMed.eth</string>
		<string>tha.eth</string>
		<string>thaa.eth</string>
		<string>the.eth</string>
		<string>thee.eth</string>
		<string>thi.eth</string>
		<string>thirty.eth</string>
		<string>thirtyFin.eth</string>
		<string>thirtyIni.eth</string>
		<string>thirtyMed.eth</string>
		<string>tho.eth</string>
		<string>thoa.eth</string>
		<string>three.eth</string>
		<string>threeFin.eth</string>
		<string>threeIni.eth</string>
		<string>threeMed.eth</string>
		<string>thu.eth</string>
		<string>thwa.eth</string>
		<string>ti.eth</string>
		<string>to.eth</string>
		<string>toa.eth</string>
		<string>tsa.eth</string>
		<string>tsaa.eth</string>
		<string>tse.eth</string>
		<string>tsee.eth</string>
		<string>tsi.eth</string>
		<string>tso.eth</string>
		<string>tsu.eth</string>
		<string>tswa.eth</string>
		<string>tthaa.eth</string>
		<string>tthe.eth</string>
		<string>tthee.eth</string>
		<string>tthi.eth</string>
		<string>ttho.eth</string>
		<string>tthu.eth</string>
		<string>tu.eth</string>
		<string>twa.eth</string>
		<string>twenty.eth</string>
		<string>twentyFin.eth</string>
		<string>twentyIni.eth</string>
		<string>twentyMed.eth</string>
		<string>two.eth</string>
		<string>twoFin.eth</string>
		<string>twoIni.eth</string>
		<string>twoMed.eth</string>
		<string>tza.eth</string>
		<string>tzaa.eth</string>
		<string>tze.eth</string>
		<string>tzee.eth</string>
		<string>tzi.eth</string>
		<string>tzo.eth</string>
		<string>tzoa.eth</string>
		<string>tzu.eth</string>
		<string>uGlottal.eth</string>
		<string>uPhr.eth</string>
		<string>uni00A0</string>
		<string>uni2010</string>
		<string>uni25CC</string>
		<string>va.eth</string>
		<string>vaa.eth</string>
		<string>ve.eth</string>
		<string>vee.eth</string>
		<string>vi.eth</string>
		<string>vo.eth</string>
		<string>vowellengthcomb-ethiopic</string>
		<string>vu.eth</string>
		<string>vwa.eth</string>
		<string>wa.eth</string>
		<string>waGlottal.eth</string>
		<string>waa.eth</string>
		<string>we.eth</string>
		<string>wee.eth</string>
		<string>wi.eth</string>
		<string>wo.eth</string>
		<string>woa.eth</string>
		<string>wordspace.eth</string>
		<string>wu.eth</string>
		<string>xa.eth</string>
		<string>xaa.eth</string>
		<string>xe.eth</string>
		<string>xee.eth</string>
		<string>xi.eth</string>
		<string>xo.eth</string>
		<string>xoa.eth</string>
		<string>xu.eth</string>
		<string>xwa.eth</string>
		<string>xwaa.eth</string>
		<string>xwe.eth</string>
		<string>xwee.eth</string>
		<string>xwi.eth</string>
		<string>xya.eth</string>
		<string>xyaa.eth</string>
		<string>xye.eth</string>
		<string>xyee.eth</string>
		<string>xyi.eth</string>
		<string>xyo.eth</string>
		<string>xyu.eth</string>
		<string>ya.eth</string>
		<string>yaa.eth</string>
		<string>ye.eth</string>
		<string>yee.eth</string>
		<string>yi.eth</string>
		<string>yizet.eth</string>
		<string>yo.eth</string>
		<string>yoa.eth</string>
		<string>yu.eth</string>
		<string>za.eth</string>
		<string>zaa.eth</string>
		<string>ze.eth</string>
		<string>zee.eth</string>
		<string>zha.eth</string>
		<string>zhaa.eth</string>
		<string>zhe.eth</string>
		<string>zhee.eth</string>
		<string>zhi.eth</string>
		<string>zho.eth</string>
		<string>zhu.eth</string>
		<string>zhwa.eth</string>
		<string>zi.eth</string>
		<string>zo.eth</string>
		<string>zoa.eth</string>
		<string>zu.eth</string>
		<string>zwa.eth</string>
		<string>zza.eth</string>
		<string>zzaa.eth</string>
		<string>zze.eth</string>
		<string>zzee.eth</string>
		<string>zzi.eth</string>
		<string>zzo.eth</string>
		<string>zzu.eth</string>
		<string>hhya.eth</string>
		<string>hhyu.eth</string>
		<string>hhyi.eth</string>
		<string>hhyaa.eth</string>
		<string>hhyee.eth</string>
		<string>hhye.eth</string>
		<string>hhyo.eth</string>
		<string>hhwa-gurage.eth</string>
		<string>hwi.eth</string>
		<string>hwee.eth</string>
		<string>hwe.eth</string>
		<string>mwi-gurage.eth</string>
		<string>mwee-gurage.eth</string>
		<string>qwi-gurage.eth</string>
		<string>qwee-gurage.eth</string>
		<string>qwe-gurage.eth</string>
		<string>bwi-gurage.eth</string>
		<string>bwee-gurage.eth</string>
		<string>kwi-gurage.eth</string>
		<string>kwee-gurage.eth</string>
		<string>kwe-gurage.eth</string>
		<string>gwi-gurage.eth</string>
		<string>gwee-gurage.eth</string>
		<string>gwe-gurage.eth</string>
		<string>fwi-gurage.eth</string>
		<string>fwee-gurage.eth</string>
		<string>pwi-gurage.eth</string>
		<string>pwee-gurage.eth</string>
		<string>lollipop</string>
		<string>nose</string>
		<string>baashort</string>
		<string>ballbig</string>
		<string>ballsmall</string>
		<string>baselinebowl</string>
		<string>bbowlnarrow</string>
		<string>bbowlshort</string>
		<string>bone</string>
		<string>bonelong</string>
		<string>bonemiddle</string>
		<string>boshort</string>
		<string>eightform</string>
		<string>eightyform</string>
		<string>fiftyform</string>
		<string>fiveform</string>
		<string>footlong</string>
		<string>footmiddle</string>
		<string>footright</string>
		<string>footshort</string>
		<string>fortyform</string>
		<string>fourform</string>
		<string>hundredform</string>
		<string>jstem</string>
		<string>jstem2</string>
		<string>leftdoubleflag</string>
		<string>leftsingleflag</string>
		<string>lollipopsmall</string>
		<string>midring</string>
		<string>midringshort</string>
		<string>nineform</string>
		<string>ninetyform</string>
		<string>numeral</string>
		<string>numeral_fina</string>
		<string>numeral_init</string>
		<string>numeral_medi</string>
		<string>numeralnarrow</string>
		<string>numeralswide</string>
		<string>oneform</string>
		<string>rightbulb</string>
		<string>rightbulbsmall</string>
		<string>rightdoubleflag</string>
		<string>rightsingleflag</string>
		<string>sevenform</string>
		<string>seventyform</string>
		<string>shortnarch</string>
		<string>shorttoploops</string>
		<string>sixform</string>
		<string>sixtyform</string>
		<string>stem1</string>
		<string>stem2</string>
		<string>tenform</string>
		<string>tenthousandform</string>
		<string>thirtyform</string>
		<string>threeform</string>
		<string>twentyform</string>
		<string>twoform</string>
		<string>winghat</string>
		<string>winghatshort</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>dblverticallineabovecomb</key>
		<string>uni030E</string>
		<key>dieresiscomb</key>
		<string>uni0308</string>
		<key>ellipsisvertical</key>
		<string>uni22EE</string>
		<key>geminVowellengthcomb-ethiopic</key>
		<string>uni135D</string>
		<key>geminationcomb-ethiopic</key>
		<string>uni135F</string>
		<key>he.eth</key>
		<string>uni05D4.eth</string>
		<key>lollipop</key>
		<string>u1F36D</string>
		<key>mu.eth</key>
		<string>uni03BC.eth</string>
		<key>nose</key>
		<string>u1F443</string>
		<key>paragraphseparator.eth</key>
		<string>uni2029.eth</string>
		<key>pe.eth</key>
		<string>uni05E4.eth</string>
		<key>sho.eth</key>
		<string>uni03F8.eth</string>
		<key>vowellengthcomb-ethiopic</key>
		<string>uni135E</string>
	</dict>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>lollipop</string>
		<string>nose</string>
		<string>baashort</string>
		<string>ballbig</string>
		<string>ballsmall</string>
		<string>baselinebowl</string>
		<string>bbowlnarrow</string>
		<string>bbowlshort</string>
		<string>bone</string>
		<string>bonelong</string>
		<string>bonemiddle</string>
		<string>boshort</string>
		<string>eightform</string>
		<string>eightyform</string>
		<string>fiftyform</string>
		<string>fiveform</string>
		<string>footlong</string>
		<string>footmiddle</string>
		<string>footright</string>
		<string>footshort</string>
		<string>fortyform</string>
		<string>fourform</string>
		<string>hundredform</string>
		<string>jstem</string>
		<string>jstem2</string>
		<string>leftdoubleflag</string>
		<string>leftsingleflag</string>
		<string>lollipopsmall</string>
		<string>midring</string>
		<string>midringshort</string>
		<string>nineform</string>
		<string>ninetyform</string>
		<string>numeral</string>
		<string>numeral_fina</string>
		<string>numeral_init</string>
		<string>numeral_medi</string>
		<string>numeralnarrow</string>
		<string>numeralswide</string>
		<string>oneform</string>
		<string>rightbulb</string>
		<string>rightbulbsmall</string>
		<string>rightdoubleflag</string>
		<string>rightsingleflag</string>
		<string>sevenform</string>
		<string>seventyform</string>
		<string>shortnarch</string>
		<string>shorttoploops</string>
		<string>sixform</string>
		<string>sixtyform</string>
		<string>stem1</string>
		<string>stem2</string>
		<string>tenform</string>
		<string>tenthousandform</string>
		<string>thirtyform</string>
		<string>threeform</string>
		<string>twentyform</string>
		<string>twoform</string>
		<string>winghat</string>
		<string>winghatshort</string>
	</array>
</dict>
</plist>
