<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>998</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Disable Subroutines</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u12000</string>
      <string>u12001</string>
      <string>u12002</string>
      <string>u12003</string>
      <string>u12004</string>
      <string>u12005</string>
      <string>u12006</string>
      <string>u12007</string>
      <string>u12008</string>
      <string>u12009</string>
      <string>u1200A</string>
      <string>u1200B</string>
      <string>u1200C</string>
      <string>u1200D</string>
      <string>u1200E</string>
      <string>u1200F</string>
      <string>u12010</string>
      <string>u12011</string>
      <string>u12012</string>
      <string>u12013</string>
      <string>u12014</string>
      <string>u12015</string>
      <string>u12016</string>
      <string>u12017</string>
      <string>u12018</string>
      <string>u12019</string>
      <string>u1201A</string>
      <string>u1201B</string>
      <string>u1201C</string>
      <string>u1201D</string>
      <string>u1201E</string>
      <string>u1201F</string>
      <string>u12020</string>
      <string>u12021</string>
      <string>u12022</string>
      <string>u12023</string>
      <string>u12024</string>
      <string>u12025</string>
      <string>u12026</string>
      <string>u12027</string>
      <string>u12028</string>
      <string>u12029</string>
      <string>u1202A</string>
      <string>u1202B</string>
      <string>u1202C</string>
      <string>u1202D</string>
      <string>u1202E</string>
      <string>u1202F</string>
      <string>u12030</string>
      <string>u12031</string>
      <string>u12032</string>
      <string>u12033</string>
      <string>u12034</string>
      <string>u12035</string>
      <string>u12036</string>
      <string>u12037</string>
      <string>u12038</string>
      <string>u12039</string>
      <string>u1203A</string>
      <string>u1203B</string>
      <string>u1203C</string>
      <string>u1203D</string>
      <string>u1203E</string>
      <string>u1203F</string>
      <string>u12040</string>
      <string>u12041</string>
      <string>u12042</string>
      <string>u12043</string>
      <string>u12044</string>
      <string>u12045</string>
      <string>u12046</string>
      <string>u12047</string>
      <string>u12048</string>
      <string>u12049</string>
      <string>u1204A</string>
      <string>u1204B</string>
      <string>u1204C</string>
      <string>u1204D</string>
      <string>u1204E</string>
      <string>u1204F</string>
      <string>u12050</string>
      <string>u12051</string>
      <string>u12052</string>
      <string>u12053</string>
      <string>u12054</string>
      <string>u12055</string>
      <string>u12056</string>
      <string>u12057</string>
      <string>u12058</string>
      <string>u12059</string>
      <string>u1205A</string>
      <string>u1205B</string>
      <string>u1205C</string>
      <string>u1205D</string>
      <string>u1205E</string>
      <string>u1205F</string>
      <string>u12060</string>
      <string>u12061</string>
      <string>u12062</string>
      <string>u12063</string>
      <string>u12064</string>
      <string>u12065</string>
      <string>u12066</string>
      <string>u12067</string>
      <string>u12068</string>
      <string>u12069</string>
      <string>u1206A</string>
      <string>u1206B</string>
      <string>u1206C</string>
      <string>u1206D</string>
      <string>u1206E</string>
      <string>u1206F</string>
      <string>u12070</string>
      <string>u12071</string>
      <string>u12072</string>
      <string>u12073</string>
      <string>u12074</string>
      <string>u12075</string>
      <string>u12076</string>
      <string>u12077</string>
      <string>u12078</string>
      <string>u12079</string>
      <string>u1207A</string>
      <string>u1207B</string>
      <string>u1207C</string>
      <string>u1207D</string>
      <string>u1207E</string>
      <string>u1207F</string>
      <string>u12080</string>
      <string>u12081</string>
      <string>u12082</string>
      <string>u12083</string>
      <string>u12084</string>
      <string>u12085</string>
      <string>u12086</string>
      <string>u12087</string>
      <string>u12088</string>
      <string>u12089</string>
      <string>u1208A</string>
      <string>u1208B</string>
      <string>u1208C</string>
      <string>u1208D</string>
      <string>u1208E</string>
      <string>u1208F</string>
      <string>u12090</string>
      <string>u12091</string>
      <string>u12092</string>
      <string>u12093</string>
      <string>u12094</string>
      <string>u12095</string>
      <string>u12096</string>
      <string>u12097</string>
      <string>u12098</string>
      <string>u12099</string>
      <string>u1209A</string>
      <string>u1209B</string>
      <string>u1209C</string>
      <string>u1209D</string>
      <string>u1209E</string>
      <string>u1209F</string>
      <string>u120A0</string>
      <string>u120A1</string>
      <string>u120A2</string>
      <string>u120A3</string>
      <string>u120A4</string>
      <string>u120A5</string>
      <string>u120A6</string>
      <string>u120A7</string>
      <string>u120A8</string>
      <string>u120A9</string>
      <string>u120AA</string>
      <string>u120AB</string>
      <string>u120AC</string>
      <string>u120AD</string>
      <string>u120AE</string>
      <string>u120AF</string>
      <string>u120B0</string>
      <string>u120B1</string>
      <string>u120B2</string>
      <string>u120B3</string>
      <string>u120B4</string>
      <string>u120B5</string>
      <string>u120B6</string>
      <string>u120B7</string>
      <string>u120B8</string>
      <string>u120B9</string>
      <string>u120BA</string>
      <string>u120BB</string>
      <string>u120BC</string>
      <string>u120BD</string>
      <string>u120BE</string>
      <string>u120BF</string>
      <string>u120C0</string>
      <string>u120C1</string>
      <string>u120C2</string>
      <string>u120C3</string>
      <string>u120C4</string>
      <string>u120C5</string>
      <string>u120C6</string>
      <string>u120C7</string>
      <string>u120C8</string>
      <string>u120C9</string>
      <string>u120CA</string>
      <string>u120CB</string>
      <string>u120CC</string>
      <string>u120CD</string>
      <string>u120CE</string>
      <string>u120CF</string>
      <string>u120D0</string>
      <string>u120D1</string>
      <string>u120D2</string>
      <string>u120D3</string>
      <string>u120D4</string>
      <string>u120D5</string>
      <string>u120D6</string>
      <string>u120D7</string>
      <string>u120D8</string>
      <string>u120D9</string>
      <string>u120DA</string>
      <string>u120DB</string>
      <string>u120DC</string>
      <string>u120DD</string>
      <string>u120DE</string>
      <string>u120DF</string>
      <string>u120E0</string>
      <string>u120E1</string>
      <string>u120E2</string>
      <string>u120E3</string>
      <string>u120E4</string>
      <string>u120E5</string>
      <string>u120E6</string>
      <string>u120E7</string>
      <string>u120E8</string>
      <string>u120E9</string>
      <string>u120EA</string>
      <string>u120EB</string>
      <string>u120EC</string>
      <string>u120ED</string>
      <string>u120EE</string>
      <string>u120EF</string>
      <string>u120F0</string>
      <string>u120F1</string>
      <string>u120F2</string>
      <string>u120F3</string>
      <string>u120F4</string>
      <string>u120F5</string>
      <string>u120F6</string>
      <string>u120F7</string>
      <string>u120F8</string>
      <string>u120F9</string>
      <string>u120FA</string>
      <string>u120FB</string>
      <string>u120FC</string>
      <string>u120FD</string>
      <string>u120FE</string>
      <string>u120FF</string>
      <string>u12100</string>
      <string>u12101</string>
      <string>u12102</string>
      <string>u12103</string>
      <string>u12104</string>
      <string>u12105</string>
      <string>u12106</string>
      <string>u12107</string>
      <string>u12108</string>
      <string>u12109</string>
      <string>u1210A</string>
      <string>u1210B</string>
      <string>u1210C</string>
      <string>u1210D</string>
      <string>u1210E</string>
      <string>u1210F</string>
      <string>u12110</string>
      <string>u12111</string>
      <string>u12112</string>
      <string>u12113</string>
      <string>u12114</string>
      <string>u12115</string>
      <string>u12116</string>
      <string>u12117</string>
      <string>u12118</string>
      <string>u12119</string>
      <string>u1211A</string>
      <string>u1211B</string>
      <string>u1211C</string>
      <string>u1211D</string>
      <string>u1211E</string>
      <string>u1211F</string>
      <string>u12120</string>
      <string>u12121</string>
      <string>u12122</string>
      <string>u12123</string>
      <string>u12124</string>
      <string>u12125</string>
      <string>u12126</string>
      <string>u12127</string>
      <string>u12128</string>
      <string>u12129</string>
      <string>u1212A</string>
      <string>u1212B</string>
      <string>u1212C</string>
      <string>u1212D</string>
      <string>u1212E</string>
      <string>u1212F</string>
      <string>u12130</string>
      <string>u12131</string>
      <string>u12132</string>
      <string>u12133</string>
      <string>u12134</string>
      <string>u12135</string>
      <string>u12136</string>
      <string>u12137</string>
      <string>u12138</string>
      <string>u12139</string>
      <string>u1213A</string>
      <string>u1213B</string>
      <string>u1213C</string>
      <string>u1213D</string>
      <string>u1213E</string>
      <string>u1213F</string>
      <string>u12140</string>
      <string>u12141</string>
      <string>u12142</string>
      <string>u12143</string>
      <string>u12144</string>
      <string>u12145</string>
      <string>u12146</string>
      <string>u12147</string>
      <string>u12148</string>
      <string>u12149</string>
      <string>u1214A</string>
      <string>u1214B</string>
      <string>u1214C</string>
      <string>u1214D</string>
      <string>u1214E</string>
      <string>u1214F</string>
      <string>u12150</string>
      <string>u12151</string>
      <string>u12152</string>
      <string>u12153</string>
      <string>u12154</string>
      <string>u12155</string>
      <string>u12156</string>
      <string>u12157</string>
      <string>u12158</string>
      <string>u12159</string>
      <string>u1215A</string>
      <string>u1215B</string>
      <string>u1215C</string>
      <string>u1215D</string>
      <string>u1215E</string>
      <string>u1215F</string>
      <string>u12160</string>
      <string>u12161</string>
      <string>u12162</string>
      <string>u12163</string>
      <string>u12164</string>
      <string>u12165</string>
      <string>u12166</string>
      <string>u12167</string>
      <string>u12168</string>
      <string>u12169</string>
      <string>u1216A</string>
      <string>u1216B</string>
      <string>u1216C</string>
      <string>u1216D</string>
      <string>u1216E</string>
      <string>u1216F</string>
      <string>u12170</string>
      <string>u12171</string>
      <string>u12172</string>
      <string>u12173</string>
      <string>u12174</string>
      <string>u12175</string>
      <string>u12176</string>
      <string>u12177</string>
      <string>u12178</string>
      <string>u12179</string>
      <string>u1217A</string>
      <string>u1217B</string>
      <string>u1217C</string>
      <string>u1217D</string>
      <string>u1217E</string>
      <string>u1217F</string>
      <string>u12180</string>
      <string>u12181</string>
      <string>u12182</string>
      <string>u12183</string>
      <string>u12184</string>
      <string>u12185</string>
      <string>u12186</string>
      <string>u12187</string>
      <string>u12188</string>
      <string>u12189</string>
      <string>u1218A</string>
      <string>u1218B</string>
      <string>u1218C</string>
      <string>u1218D</string>
      <string>u1218E</string>
      <string>u1218F</string>
      <string>u12190</string>
      <string>u12191</string>
      <string>u12192</string>
      <string>u12193</string>
      <string>u12194</string>
      <string>u12195</string>
      <string>u12196</string>
      <string>u12197</string>
      <string>u12198</string>
      <string>u12199</string>
      <string>u1219A</string>
      <string>u1219B</string>
      <string>u1219C</string>
      <string>u1219D</string>
      <string>u1219E</string>
      <string>u1219F</string>
      <string>u121A0</string>
      <string>u121A1</string>
      <string>u121A2</string>
      <string>u121A3</string>
      <string>u121A4</string>
      <string>u121A5</string>
      <string>u121A6</string>
      <string>u121A7</string>
      <string>u121A8</string>
      <string>u121A9</string>
      <string>u121AA</string>
      <string>u121AB</string>
      <string>u121AC</string>
      <string>u121AD</string>
      <string>u121AE</string>
      <string>u121AF</string>
      <string>u121B0</string>
      <string>u121B1</string>
      <string>u121B2</string>
      <string>u121B3</string>
      <string>u121B4</string>
      <string>u121B5</string>
      <string>u121B6</string>
      <string>u121B7</string>
      <string>u121B8</string>
      <string>u121B9</string>
      <string>u121BA</string>
      <string>u121BB</string>
      <string>u121BC</string>
      <string>u121BD</string>
      <string>u121BE</string>
      <string>u121BF</string>
      <string>u121C0</string>
      <string>u121C1</string>
      <string>u121C2</string>
      <string>u121C3</string>
      <string>u121C4</string>
      <string>u121C5</string>
      <string>u121C6</string>
      <string>u121C7</string>
      <string>u121C8</string>
      <string>u121C9</string>
      <string>u121CA</string>
      <string>u121CB</string>
      <string>u121CC</string>
      <string>u121CD</string>
      <string>u121CE</string>
      <string>u121CF</string>
      <string>u121D0</string>
      <string>u121D1</string>
      <string>u121D2</string>
      <string>u121D3</string>
      <string>u121D4</string>
      <string>u121D5</string>
      <string>u121D6</string>
      <string>u121D7</string>
      <string>u121D8</string>
      <string>u121D9</string>
      <string>u121DA</string>
      <string>u121DB</string>
      <string>u121DC</string>
      <string>u121DD</string>
      <string>u121DE</string>
      <string>u121DF</string>
      <string>u121E0</string>
      <string>u121E1</string>
      <string>u121E2</string>
      <string>u121E3</string>
      <string>u121E4</string>
      <string>u121E5</string>
      <string>u121E6</string>
      <string>u121E7</string>
      <string>u121E8</string>
      <string>u121E9</string>
      <string>u121EA</string>
      <string>u121EB</string>
      <string>u121EC</string>
      <string>u121ED</string>
      <string>u121EE</string>
      <string>u121EF</string>
      <string>u121F0</string>
      <string>u121F1</string>
      <string>u121F2</string>
      <string>u121F3</string>
      <string>u121F4</string>
      <string>u121F5</string>
      <string>u121F6</string>
      <string>u121F7</string>
      <string>u121F8</string>
      <string>u121F9</string>
      <string>u121FA</string>
      <string>u121FB</string>
      <string>u121FC</string>
      <string>u121FD</string>
      <string>u121FE</string>
      <string>u121FF</string>
      <string>u12200</string>
      <string>u12201</string>
      <string>u12202</string>
      <string>u12203</string>
      <string>u12204</string>
      <string>u12205</string>
      <string>u12206</string>
      <string>u12207</string>
      <string>u12208</string>
      <string>u12209</string>
      <string>u1220A</string>
      <string>u1220B</string>
      <string>u1220C</string>
      <string>u1220D</string>
      <string>u1220E</string>
      <string>u1220F</string>
      <string>u12210</string>
      <string>u12211</string>
      <string>u12212</string>
      <string>u12213</string>
      <string>u12214</string>
      <string>u12215</string>
      <string>u12216</string>
      <string>u12217</string>
      <string>u12218</string>
      <string>u12219</string>
      <string>u1221A</string>
      <string>u1221B</string>
      <string>u1221C</string>
      <string>u1221D</string>
      <string>u1221E</string>
      <string>u1221F</string>
      <string>u12220</string>
      <string>u12221</string>
      <string>u12222</string>
      <string>u12223</string>
      <string>u12224</string>
      <string>u12225</string>
      <string>u12226</string>
      <string>u12227</string>
      <string>u12228</string>
      <string>u12229</string>
      <string>u1222A</string>
      <string>u1222B</string>
      <string>u1222C</string>
      <string>u1222D</string>
      <string>u1222E</string>
      <string>u1222F</string>
      <string>u12230</string>
      <string>u12231</string>
      <string>u12232</string>
      <string>u12233</string>
      <string>u12234</string>
      <string>u12235</string>
      <string>u12236</string>
      <string>u12237</string>
      <string>u12238</string>
      <string>u12239</string>
      <string>u1223A</string>
      <string>u1223B</string>
      <string>u1223C</string>
      <string>u1223D</string>
      <string>u1223E</string>
      <string>u1223F</string>
      <string>u12240</string>
      <string>u12241</string>
      <string>u12242</string>
      <string>u12243</string>
      <string>u12244</string>
      <string>u12245</string>
      <string>u12246</string>
      <string>u12247</string>
      <string>u12248</string>
      <string>u12249</string>
      <string>u1224A</string>
      <string>u1224B</string>
      <string>u1224C</string>
      <string>u1224D</string>
      <string>u1224E</string>
      <string>u1224F</string>
      <string>u12250</string>
      <string>u12251</string>
      <string>u12252</string>
      <string>u12253</string>
      <string>u12254</string>
      <string>u12255</string>
      <string>u12256</string>
      <string>u12257</string>
      <string>u12258</string>
      <string>u12259</string>
      <string>u1225A</string>
      <string>u1225B</string>
      <string>u1225C</string>
      <string>u1225D</string>
      <string>u1225E</string>
      <string>u1225F</string>
      <string>u12260</string>
      <string>u12261</string>
      <string>u12262</string>
      <string>u12263</string>
      <string>u12264</string>
      <string>u12265</string>
      <string>u12266</string>
      <string>u12267</string>
      <string>u12268</string>
      <string>u12269</string>
      <string>u1226A</string>
      <string>u1226B</string>
      <string>u1226C</string>
      <string>u1226D</string>
      <string>u1226E</string>
      <string>u1226F</string>
      <string>u12270</string>
      <string>u12271</string>
      <string>u12272</string>
      <string>u12273</string>
      <string>u12274</string>
      <string>u12275</string>
      <string>u12276</string>
      <string>u12277</string>
      <string>u12278</string>
      <string>u12279</string>
      <string>u1227A</string>
      <string>u1227B</string>
      <string>u1227C</string>
      <string>u1227D</string>
      <string>u1227E</string>
      <string>u1227F</string>
      <string>u12280</string>
      <string>u12281</string>
      <string>u12282</string>
      <string>u12283</string>
      <string>u12284</string>
      <string>u12285</string>
      <string>u12286</string>
      <string>u12287</string>
      <string>u12288</string>
      <string>u12289</string>
      <string>u1228A</string>
      <string>u1228B</string>
      <string>u1228C</string>
      <string>u1228D</string>
      <string>u1228E</string>
      <string>u1228F</string>
      <string>u12290</string>
      <string>u12291</string>
      <string>u12292</string>
      <string>u12293</string>
      <string>u12294</string>
      <string>u12295</string>
      <string>u12296</string>
      <string>u12297</string>
      <string>u12298</string>
      <string>u12299</string>
      <string>u1229A</string>
      <string>u1229B</string>
      <string>u1229C</string>
      <string>u1229D</string>
      <string>u1229E</string>
      <string>u1229F</string>
      <string>u122A0</string>
      <string>u122A1</string>
      <string>u122A2</string>
      <string>u122A3</string>
      <string>u122A4</string>
      <string>u122A5</string>
      <string>u122A6</string>
      <string>u122A7</string>
      <string>u122A8</string>
      <string>u122A9</string>
      <string>u122AA</string>
      <string>u122AB</string>
      <string>u122AC</string>
      <string>u122AD</string>
      <string>u122AE</string>
      <string>u122AF</string>
      <string>u122B0</string>
      <string>u122B1</string>
      <string>u122B2</string>
      <string>u122B3</string>
      <string>u122B4</string>
      <string>u122B5</string>
      <string>u122B6</string>
      <string>u122B7</string>
      <string>u122B8</string>
      <string>u122B9</string>
      <string>u122BA</string>
      <string>u122BB</string>
      <string>u122BC</string>
      <string>u122BD</string>
      <string>u122BE</string>
      <string>u122BF</string>
      <string>u122C0</string>
      <string>u122C1</string>
      <string>u122C2</string>
      <string>u122C3</string>
      <string>u122C4</string>
      <string>u122C5</string>
      <string>u122C6</string>
      <string>u122C7</string>
      <string>u122C8</string>
      <string>u122C9</string>
      <string>u122CA</string>
      <string>u122CB</string>
      <string>u122CC</string>
      <string>u122CD</string>
      <string>u122CE</string>
      <string>u122CF</string>
      <string>u122D0</string>
      <string>u122D1</string>
      <string>u122D2</string>
      <string>u122D3</string>
      <string>u122D4</string>
      <string>u122D5</string>
      <string>u122D6</string>
      <string>u122D7</string>
      <string>u122D8</string>
      <string>u122D9</string>
      <string>u122DA</string>
      <string>u122DB</string>
      <string>u122DC</string>
      <string>u122DD</string>
      <string>u122DE</string>
      <string>u122DF</string>
      <string>u122E0</string>
      <string>u122E1</string>
      <string>u122E2</string>
      <string>u122E3</string>
      <string>u122E4</string>
      <string>u122E5</string>
      <string>u122E6</string>
      <string>u122E7</string>
      <string>u122E8</string>
      <string>u122E9</string>
      <string>u122EA</string>
      <string>u122EB</string>
      <string>u122EC</string>
      <string>u122ED</string>
      <string>u122EE</string>
      <string>u122EF</string>
      <string>u122F0</string>
      <string>u122F1</string>
      <string>u122F2</string>
      <string>u122F3</string>
      <string>u122F4</string>
      <string>u122F5</string>
      <string>u122F6</string>
      <string>u122F7</string>
      <string>u122F8</string>
      <string>u122F9</string>
      <string>u122FA</string>
      <string>u122FB</string>
      <string>u122FC</string>
      <string>u122FD</string>
      <string>u122FE</string>
      <string>u122FF</string>
      <string>u12300</string>
      <string>u12301</string>
      <string>u12302</string>
      <string>u12303</string>
      <string>u12304</string>
      <string>u12305</string>
      <string>u12306</string>
      <string>u12307</string>
      <string>u12308</string>
      <string>u12309</string>
      <string>u1230A</string>
      <string>u1230B</string>
      <string>u1230C</string>
      <string>u1230D</string>
      <string>u1230E</string>
      <string>u1230F</string>
      <string>u12310</string>
      <string>u12311</string>
      <string>u12312</string>
      <string>u12313</string>
      <string>u12314</string>
      <string>u12315</string>
      <string>u12316</string>
      <string>u12317</string>
      <string>u12318</string>
      <string>u12319</string>
      <string>u1231A</string>
      <string>u1231B</string>
      <string>u1231C</string>
      <string>u1231D</string>
      <string>u1231E</string>
      <string>u1231F</string>
      <string>u12320</string>
      <string>u12321</string>
      <string>u12322</string>
      <string>u12323</string>
      <string>u12324</string>
      <string>u12325</string>
      <string>u12326</string>
      <string>u12327</string>
      <string>u12328</string>
      <string>u12329</string>
      <string>u1232A</string>
      <string>u1232B</string>
      <string>u1232C</string>
      <string>u1232D</string>
      <string>u1232E</string>
      <string>u1232F</string>
      <string>u12330</string>
      <string>u12331</string>
      <string>u12332</string>
      <string>u12333</string>
      <string>u12334</string>
      <string>u12335</string>
      <string>u12336</string>
      <string>u12337</string>
      <string>u12338</string>
      <string>u12339</string>
      <string>u1233A</string>
      <string>u1233B</string>
      <string>u1233C</string>
      <string>u1233D</string>
      <string>u1233E</string>
      <string>u1233F</string>
      <string>u12340</string>
      <string>u12341</string>
      <string>u12342</string>
      <string>u12343</string>
      <string>u12344</string>
      <string>u12345</string>
      <string>u12346</string>
      <string>u12347</string>
      <string>u12348</string>
      <string>u12349</string>
      <string>u1234A</string>
      <string>u1234B</string>
      <string>u1234C</string>
      <string>u1234D</string>
      <string>u1234E</string>
      <string>u1234F</string>
      <string>u12350</string>
      <string>u12351</string>
      <string>u12352</string>
      <string>u12353</string>
      <string>u12354</string>
      <string>u12355</string>
      <string>u12356</string>
      <string>u12357</string>
      <string>u12358</string>
      <string>u12359</string>
      <string>u1235A</string>
      <string>u1235B</string>
      <string>u1235C</string>
      <string>u1235D</string>
      <string>u1235E</string>
      <string>u1235F</string>
      <string>u12360</string>
      <string>u12361</string>
      <string>u12362</string>
      <string>u12363</string>
      <string>u12364</string>
      <string>u12365</string>
      <string>u12366</string>
      <string>u12367</string>
      <string>u12368</string>
      <string>u12369</string>
      <string>u1236A</string>
      <string>u1236B</string>
      <string>u1236C</string>
      <string>u1236D</string>
      <string>u1236E</string>
      <string>u1236F</string>
      <string>u12370</string>
      <string>u12371</string>
      <string>u12372</string>
      <string>u12373</string>
      <string>u12374</string>
      <string>u12375</string>
      <string>u12376</string>
      <string>u12377</string>
      <string>u12378</string>
      <string>u12379</string>
      <string>u1237A</string>
      <string>u1237B</string>
      <string>u1237C</string>
      <string>u1237D</string>
      <string>u1237E</string>
      <string>u1237F</string>
      <string>u12380</string>
      <string>u12381</string>
      <string>u12382</string>
      <string>u12383</string>
      <string>u12384</string>
      <string>u12385</string>
      <string>u12386</string>
      <string>u12387</string>
      <string>u12388</string>
      <string>u12389</string>
      <string>u1238A</string>
      <string>u1238B</string>
      <string>u1238C</string>
      <string>u1238D</string>
      <string>u1238E</string>
      <string>u1238F</string>
      <string>u12390</string>
      <string>u12391</string>
      <string>u12392</string>
      <string>u12393</string>
      <string>u12394</string>
      <string>u12395</string>
      <string>u12396</string>
      <string>u12397</string>
      <string>u12398</string>
      <string>u12399</string>
      <string>u12400</string>
      <string>u12401</string>
      <string>u12402</string>
      <string>u12403</string>
      <string>u12404</string>
      <string>u12405</string>
      <string>u12406</string>
      <string>u12407</string>
      <string>u12408</string>
      <string>u12409</string>
      <string>u1240A</string>
      <string>u1240B</string>
      <string>u1240C</string>
      <string>u1240D</string>
      <string>u1240E</string>
      <string>u1240F</string>
      <string>u12410</string>
      <string>u12411</string>
      <string>u12412</string>
      <string>u12413</string>
      <string>u12414</string>
      <string>u12415</string>
      <string>u12416</string>
      <string>u12417</string>
      <string>u12418</string>
      <string>u12419</string>
      <string>u1241A</string>
      <string>u1241B</string>
      <string>u1241C</string>
      <string>u1241D</string>
      <string>u1241E</string>
      <string>u1241F</string>
      <string>u12420</string>
      <string>u12421</string>
      <string>u12422</string>
      <string>u12423</string>
      <string>u12424</string>
      <string>u12425</string>
      <string>u12426</string>
      <string>u12427</string>
      <string>u12428</string>
      <string>u12429</string>
      <string>u1242A</string>
      <string>u1242B</string>
      <string>u1242C</string>
      <string>u1242D</string>
      <string>u1242E</string>
      <string>u1242F</string>
      <string>u12430</string>
      <string>u12431</string>
      <string>u12432</string>
      <string>u12433</string>
      <string>u12434</string>
      <string>u12435</string>
      <string>u12436</string>
      <string>u12437</string>
      <string>u12438</string>
      <string>u12439</string>
      <string>u1243A</string>
      <string>u1243B</string>
      <string>u1243C</string>
      <string>u1243D</string>
      <string>u1243E</string>
      <string>u1243F</string>
      <string>u12440</string>
      <string>u12441</string>
      <string>u12442</string>
      <string>u12443</string>
      <string>u12444</string>
      <string>u12445</string>
      <string>u12446</string>
      <string>u12447</string>
      <string>u12448</string>
      <string>u12449</string>
      <string>u1244A</string>
      <string>u1244B</string>
      <string>u1244C</string>
      <string>u1244D</string>
      <string>u1244E</string>
      <string>u1244F</string>
      <string>u12450</string>
      <string>u12451</string>
      <string>u12452</string>
      <string>u12453</string>
      <string>u12454</string>
      <string>u12455</string>
      <string>u12456</string>
      <string>u12457</string>
      <string>u12458</string>
      <string>u12459</string>
      <string>u1245A</string>
      <string>u1245B</string>
      <string>u1245C</string>
      <string>u1245D</string>
      <string>u1245E</string>
      <string>u1245F</string>
      <string>u12460</string>
      <string>u12461</string>
      <string>u12462</string>
      <string>u12463</string>
      <string>u12464</string>
      <string>u12465</string>
      <string>u12466</string>
      <string>u12467</string>
      <string>u12468</string>
      <string>u12469</string>
      <string>u1246A</string>
      <string>u1246B</string>
      <string>u1246C</string>
      <string>u1246D</string>
      <string>u1246E</string>
      <string>u12470</string>
      <string>u12471</string>
      <string>u12472</string>
      <string>u12473</string>
      <string>u12474</string>
      <string>u12480</string>
      <string>u12481</string>
      <string>u12482</string>
      <string>u12483</string>
      <string>u12484</string>
      <string>u12485</string>
      <string>u12486</string>
      <string>u12487</string>
      <string>u12488</string>
      <string>u12489</string>
      <string>u1248A</string>
      <string>u1248B</string>
      <string>u1248C</string>
      <string>u1248D</string>
      <string>u1248E</string>
      <string>u1248F</string>
      <string>u12490</string>
      <string>u12491</string>
      <string>u12492</string>
      <string>u12493</string>
      <string>u12494</string>
      <string>u12495</string>
      <string>u12496</string>
      <string>u12497</string>
      <string>u12498</string>
      <string>u12499</string>
      <string>u1249A</string>
      <string>u1249B</string>
      <string>u1249C</string>
      <string>u1249D</string>
      <string>u1249E</string>
      <string>u1249F</string>
      <string>u124A0</string>
      <string>u124A1</string>
      <string>u124A2</string>
      <string>u124A3</string>
      <string>u124A4</string>
      <string>u124A5</string>
      <string>u124A6</string>
      <string>u124A7</string>
      <string>u124A8</string>
      <string>u124A9</string>
      <string>u124AA</string>
      <string>u124AB</string>
      <string>u124AC</string>
      <string>u124AD</string>
      <string>u124AE</string>
      <string>u124AF</string>
      <string>u124B0</string>
      <string>u124B1</string>
      <string>u124B2</string>
      <string>u124B3</string>
      <string>u124B4</string>
      <string>u124B5</string>
      <string>u124B6</string>
      <string>u124B7</string>
      <string>u124B8</string>
      <string>u124B9</string>
      <string>u124BA</string>
      <string>u124BB</string>
      <string>u124BC</string>
      <string>u124BD</string>
      <string>u124BE</string>
      <string>u124BF</string>
      <string>u124C0</string>
      <string>u124C1</string>
      <string>u124C2</string>
      <string>u124C3</string>
      <string>u124C4</string>
      <string>u124C5</string>
      <string>u124C6</string>
      <string>u124C7</string>
      <string>u124C8</string>
      <string>u124C9</string>
      <string>u124CA</string>
      <string>u124CB</string>
      <string>u124CC</string>
      <string>u124CD</string>
      <string>u124CE</string>
      <string>u124CF</string>
      <string>u124D0</string>
      <string>u124D1</string>
      <string>u124D2</string>
      <string>u124D3</string>
      <string>u124D4</string>
      <string>u124D5</string>
      <string>u124D6</string>
      <string>u124D7</string>
      <string>u124D8</string>
      <string>u124D9</string>
      <string>u124DA</string>
      <string>u124DB</string>
      <string>u124DC</string>
      <string>u124DD</string>
      <string>u124DE</string>
      <string>u124DF</string>
      <string>u124E0</string>
      <string>u124E1</string>
      <string>u124E2</string>
      <string>u124E3</string>
      <string>u124E4</string>
      <string>u124E5</string>
      <string>u124E6</string>
      <string>u124E7</string>
      <string>u124E8</string>
      <string>u124E9</string>
      <string>u124EA</string>
      <string>u124EB</string>
      <string>u124EC</string>
      <string>u124ED</string>
      <string>u124EE</string>
      <string>u124EF</string>
      <string>u124F0</string>
      <string>u124F1</string>
      <string>u124F2</string>
      <string>u124F3</string>
      <string>u124F4</string>
      <string>u124F5</string>
      <string>u124F6</string>
      <string>u124F7</string>
      <string>u124F8</string>
      <string>u124F9</string>
      <string>u124FA</string>
      <string>u124FB</string>
      <string>u124FC</string>
      <string>u124FD</string>
      <string>u124FE</string>
      <string>u124FF</string>
      <string>u12500</string>
      <string>u12501</string>
      <string>u12502</string>
      <string>u12503</string>
      <string>u12504</string>
      <string>u12505</string>
      <string>u12506</string>
      <string>u12507</string>
      <string>u12508</string>
      <string>u12509</string>
      <string>u1250A</string>
      <string>u1250B</string>
      <string>u1250C</string>
      <string>u1250D</string>
      <string>u1250E</string>
      <string>u1250F</string>
      <string>u12510</string>
      <string>u12511</string>
      <string>u12512</string>
      <string>u12513</string>
      <string>u12514</string>
      <string>u12515</string>
      <string>u12516</string>
      <string>u12517</string>
      <string>u12518</string>
      <string>u12519</string>
      <string>u1251A</string>
      <string>u1251B</string>
      <string>u1251C</string>
      <string>u1251D</string>
      <string>u1251E</string>
      <string>u1251F</string>
      <string>u12520</string>
      <string>u12521</string>
      <string>u12522</string>
      <string>u12523</string>
      <string>u12524</string>
      <string>u12525</string>
      <string>u12526</string>
      <string>u12527</string>
      <string>u12528</string>
      <string>u12529</string>
      <string>u1252A</string>
      <string>u1252B</string>
      <string>u1252C</string>
      <string>u1252D</string>
      <string>u1252E</string>
      <string>u1252F</string>
      <string>u12530</string>
      <string>u12531</string>
      <string>u12532</string>
      <string>u12533</string>
      <string>u12534</string>
      <string>u12535</string>
      <string>u12536</string>
      <string>u12537</string>
      <string>u12538</string>
      <string>u12539</string>
      <string>u1253A</string>
      <string>u1253B</string>
      <string>u1253C</string>
      <string>u1253D</string>
      <string>u1253E</string>
      <string>u1253F</string>
      <string>u12540</string>
      <string>u12541</string>
      <string>u12542</string>
      <string>u12543</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
