<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>chhim-yezi</key>
    <dict>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.YEZI_be</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_dad</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-90</integer>
      <key>public.kern2.YEZI_gaf</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_mim_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-150</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_ra</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ta_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-50</integer>
      <key>xheyn-yezi</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.YEZI_cim_1ST</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_ta_2ND</key>
      <integer>20</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-70</integer>
      <key>public.kern2.YEZI_yot_2ND</key>
      <integer>20</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-60</integer>
      <key>waw-yezi</key>
      <integer>30</integer>
      <key>xheyn-yezi</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.YEZI_dad</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-10</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_gaf</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.YEZI_elif_1ST</key>
    <dict>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.YEZI_ew</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-40</integer>
      <key>waw-yezi</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.YEZI_eyn_1ST</key>
    <dict>
      <key>ow-yezi</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_be</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_lam_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-70</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-140</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>1</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-40</integer>
      <key>waw-yezi</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.YEZI_fa_1ST</key>
    <dict>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>15</integer>
      <key>waw-yezi</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.YEZI_gaf</key>
    <dict>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_dad</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-30</integer>
      <key>xheyn-yezi</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.YEZI_ja</key>
    <dict>
      <key>public.kern2.YEZI_ew</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.YEZI_kaf_1ST</key>
    <dict>
      <key>hha-yezi</key>
      <integer>-20</integer>
      <key>ow-yezi</key>
      <integer>-10</integer>
      <key>public.kern2.YEZI_be</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-70</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_dad</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_gaf</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_lam_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ra</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-30</integer>
      <key>waw-yezi</key>
      <integer>1</integer>
    </dict>
    <key>public.kern1.YEZI_lam_1ST</key>
    <dict>
      <key>ow-yezi</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_be</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>10</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-30</integer>
      <key>waw-yezi</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.YEZI_mim_1ST</key>
    <dict>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_eyn_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_mim_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.YEZI_nun</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-10</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-20</integer>
      <key>xheyn-yezi</key>
      <integer>1</integer>
    </dict>
    <key>public.kern1.YEZI_pe_1ST</key>
    <dict>
      <key>ow-yezi</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_be</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_dad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-10</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_gaf</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_mim_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-70</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.YEZI_phe_1ST</key>
    <dict>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_elif_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-10</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_mim_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-180</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ta_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.YEZI_qaf</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_eyn_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-140</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-70</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-60</integer>
      <key>waw-yezi</key>
      <integer>30</integer>
      <key>xheyn-yezi</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.YEZI_ra</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.YEZI_sad</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_dad</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_mim_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_nun</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_ra</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.YEZI_se_1ST</key>
    <dict>
      <key>ow-yezi</key>
      <integer>1</integer>
      <key>public.kern2.YEZI_be</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_mim_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-160</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ta_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-70</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.YEZI_ta_1ST</key>
    <dict>
      <key>ow-yezi</key>
      <integer>10</integer>
      <key>public.kern2.YEZI_be</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_gaf</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_mim_2ND</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_nun</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-150</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_ta_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-55</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-50</integer>
      <key>xheyn-yezi</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.YEZI_the</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-70</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_eyn_2ND</key>
      <integer>-70</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_lam_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-60</integer>
      <key>waw-yezi</key>
      <integer>30</integer>
      <key>xheyn-yezi</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.YEZI_um_1ST</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_dad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_eyn_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_gaf</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_mim_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_nun</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_ra</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_ta_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-50</integer>
      <key>xheyn-yezi</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.YEZI_va.alt_1ST</key>
    <dict>
      <key>ow-yezi</key>
      <integer>-90</integer>
      <key>public.kern2.YEZI_be</key>
      <integer>-140</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_dad</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_elif_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_eyn_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-70</integer>
      <key>public.kern2.YEZI_nun</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-100</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-180</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_zal_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-100</integer>
      <key>xheyn-yezi</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.YEZI_xa</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_ew</key>
      <integer>-15</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_um_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_ze</key>
      <integer>-40</integer>
      <key>xheyn-yezi</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.YEZI_yot_1ST</key>
    <dict>
      <key>ow-yezi</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_va_2ND</key>
      <integer>1</integer>
    </dict>
    <key>public.kern1.YEZI_za_1ST</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-10</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.YEZI_zal_1ST</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.YEZI_ze</key>
    <dict>
      <key>public.kern2.YEZI_be</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_chim_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_cim_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_dad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_fa_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_gaf</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_ja</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_kaf_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_pe_2ND</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_phe_2ND</key>
      <integer>-120</integer>
      <key>public.kern2.YEZI_qaf</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_ra</key>
      <integer>-20</integer>
      <key>public.kern2.YEZI_sad</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_se_2ND</key>
      <integer>-60</integer>
      <key>public.kern2.YEZI_ta_2ND</key>
      <integer>-30</integer>
      <key>public.kern2.YEZI_the</key>
      <integer>-50</integer>
      <key>public.kern2.YEZI_va.alt_2ND</key>
      <integer>-80</integer>
      <key>public.kern2.YEZI_xa</key>
      <integer>-40</integer>
      <key>public.kern2.YEZI_za_2ND</key>
      <integer>-20</integer>
    </dict>
    <key>xheyn-yezi</key>
    <dict>
      <key>public.kern2.YEZI_the</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
