<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>5</integer>
    <key>GSOffsetProportional</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>10</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1342</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
      <dict>
        <key>Name</key>
        <string>Width</string>
        <key>Tag</key>
        <string>wdth</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Axis Mappings</key>
    <dict>
      <key>wght</key>
      <dict>
        <key>400</key>
        <integer>94</integer>
        <key>500</key>
        <integer>110</integer>
        <key>600</key>
        <integer>130</integer>
        <key>700</key>
        <integer>152</integer>
      </dict>
    </dict>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/uni00A0</string>
      <string>/space</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Extension Kerning</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.smallCapHeight</key>
    <integer>571</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>CR</string>
      <string>space</string>
      <string>nbspace</string>
      <string>glyph5</string>
      <string>glyph6</string>
      <string>glyph7</string>
      <string>glyph8</string>
      <string>glyph9</string>
      <string>glyph10</string>
      <string>glyph11</string>
      <string>glyph12</string>
      <string>glyph13</string>
      <string>glyph14</string>
      <string>glyph15</string>
      <string>glyph16</string>
      <string>glyph17</string>
      <string>glyph18</string>
      <string>glyph19</string>
      <string>glyph20</string>
      <string>glyph21</string>
      <string>glyph22</string>
      <string>glyph23</string>
      <string>glyph24</string>
      <string>glyph25</string>
      <string>glyph26</string>
      <string>glyph27</string>
      <string>glyph28</string>
      <string>glyph29</string>
      <string>glyph30</string>
      <string>glyph31</string>
      <string>glyph32</string>
      <string>glyph33</string>
      <string>glyph34</string>
      <string>glyph35</string>
      <string>glyph36</string>
      <string>glyph37</string>
      <string>glyph38</string>
      <string>glyph39</string>
      <string>glyph40</string>
      <string>glyph41</string>
      <string>glyph42</string>
      <string>glyph43</string>
      <string>glyph44</string>
      <string>glyph45</string>
      <string>glyph46</string>
      <string>glyph47</string>
      <string>glyph48</string>
      <string>glyph49</string>
      <string>glyph50</string>
      <string>glyph51</string>
      <string>glyph52</string>
      <string>glyph53</string>
      <string>glyph54</string>
      <string>glyph55</string>
      <string>glyph56</string>
      <string>glyph57</string>
      <string>glyph58</string>
      <string>glyph59</string>
      <string>glyph60</string>
      <string>glyph61</string>
      <string>glyph62</string>
      <string>glyph63</string>
      <string>elif-yezi</string>
      <string>be-yezi</string>
      <string>pe-yezi</string>
      <string>phe-yezi</string>
      <string>the-yezi</string>
      <string>se-yezi</string>
      <string>cim-yezi</string>
      <string>chim-yezi</string>
      <string>chhim-yezi</string>
      <string>hha-yezi</string>
      <string>xa-yezi</string>
      <string>dal-yezi</string>
      <string>zal-yezi</string>
      <string>ra-yezi</string>
      <string>rha-yezi</string>
      <string>za-yezi</string>
      <string>ja-yezi</string>
      <string>sin-yezi</string>
      <string>shin-yezi</string>
      <string>sad-yezi</string>
      <string>dad-yezi</string>
      <string>ta-yezi</string>
      <string>ze-yezi</string>
      <string>eyn-yezi</string>
      <string>xheyn-yezi</string>
      <string>glyph89</string>
      <string>glyph90</string>
      <string>glyph91</string>
      <string>glyph92</string>
      <string>glyph93</string>
      <string>glyph94</string>
      <string>glyph95</string>
      <string>fa-yezi</string>
      <string>va-yezi</string>
      <string>va-yezi.alt</string>
      <string>qaf-yezi</string>
      <string>kaf-yezi</string>
      <string>khaf-yezi</string>
      <string>gaf-yezi</string>
      <string>lam-yezi</string>
      <string>mim-yezi</string>
      <string>nun-yezi</string>
      <string>um-yezi</string>
      <string>waw-yezi</string>
      <string>ow-yezi</string>
      <string>ew-yezi</string>
      <string>hay-yezi</string>
      <string>yot-yezi</string>
      <string>et-yezi</string>
      <string>glyph113</string>
      <string>yotCircum-yezi</string>
      <string>lamDot-yezi</string>
      <string>glyph116</string>
      <string>glyph117</string>
      <string>glyph118</string>
      <string>hamza-yezi</string>
      <string>madda-yezi</string>
      <string>glyph121</string>
      <string>glyph122</string>
      <string>glyph123</string>
      <string>glyph124</string>
      <string>glyph125</string>
      <string>glyph126</string>
      <string>glyph127</string>
      <string>hyphen-yezi</string>
      <string>glyph129</string>
      <string>uni060C</string>
      <string>uni061B</string>
      <string>uni061F</string>
      <string>uni06D4</string>
      <string>glyph134</string>
      <string>glyph135</string>
      <string>glyph136</string>
      <string>glyph137</string>
      <string>glyph138</string>
      <string>glyph139</string>
      <string>glyph140</string>
      <string>glyph141</string>
      <string>glyph142</string>
      <string>glyph143</string>
      <string>glyph144</string>
      <string>glyph145</string>
      <string>glyph146</string>
      <string>glyph147</string>
      <string>glyph148</string>
      <string>glyph149</string>
      <string>glyph150</string>
      <string>glyph151</string>
      <string>glyph152</string>
      <string>glyph153</string>
      <string>glyph154</string>
      <string>glyph155</string>
      <string>glyph156</string>
      <string>glyph157</string>
      <string>glyph158</string>
      <string>glyph159</string>
      <string>glyph160</string>
      <string>glyph161</string>
      <string>glyph162</string>
      <string>glyph163</string>
      <string>glyph164</string>
      <string>glyph165</string>
      <string>glyph166</string>
      <string>glyph167</string>
      <string>glyph168</string>
      <string>glyph169</string>
      <string>glyph170</string>
      <string>glyph171</string>
      <string>glyph172</string>
      <string>glyph173</string>
      <string>glyph174</string>
      <string>glyph175</string>
      <string>glyph176</string>
      <string>glyph177</string>
      <string>glyph178</string>
      <string>glyph179</string>
      <string>glyph180</string>
      <string>glyph181</string>
      <string>glyph182</string>
      <string>glyph183</string>
      <string>glyph184</string>
      <string>glyph185</string>
      <string>glyph186</string>
      <string>glyph187</string>
      <string>glyph188</string>
      <string>glyph189</string>
      <string>glyph190</string>
      <string>glyph191</string>
      <string>_0192</string>
      <string>_0193</string>
      <string>_0194</string>
      <string>_0195</string>
      <string>_0196</string>
      <string>_0197</string>
      <string>_0198</string>
      <string>_0199</string>
      <string>_0200</string>
      <string>_0201</string>
      <string>_0202</string>
      <string>_0203</string>
      <string>_0204</string>
      <string>_0205</string>
      <string>_0206</string>
      <string>_0207</string>
      <string>_0208</string>
      <string>_0209</string>
      <string>_0210</string>
      <string>_0211</string>
      <string>_0212</string>
      <string>_0213</string>
      <string>_0214</string>
      <string>_0215</string>
      <string>_0216</string>
      <string>_0217</string>
      <string>_0218</string>
      <string>_0219</string>
      <string>_0220</string>
      <string>_0221</string>
      <string>_0222</string>
      <string>_0223</string>
      <string>_0224</string>
      <string>_0225</string>
      <string>_0226</string>
      <string>_0227</string>
      <string>_0228</string>
      <string>_0229</string>
      <string>_0230</string>
      <string>_0231</string>
      <string>_0232</string>
      <string>_0233</string>
      <string>_0234</string>
      <string>_0235</string>
      <string>_0236</string>
      <string>_0237</string>
      <string>_0238</string>
      <string>_0239</string>
      <string>_0240</string>
      <string>_0241</string>
      <string>_0242</string>
      <string>_0243</string>
      <string>_0244</string>
      <string>_0245</string>
      <string>_0246</string>
      <string>_0247</string>
      <string>_0248</string>
      <string>_0249</string>
      <string>_0250</string>
      <string>_0251</string>
      <string>_0252</string>
      <string>_0253</string>
      <string>_0254</string>
      <string>_0255</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>.null</key>
      <string>uni0000</string>
      <key>CR</key>
      <string>uni000D</string>
      <key>be-yezi</key>
      <string>beyezi</string>
      <key>chhim-yezi</key>
      <string>chhimyezi</string>
      <key>chim-yezi</key>
      <string>chimyezi</string>
      <key>cim-yezi</key>
      <string>cimyezi</string>
      <key>dad-yezi</key>
      <string>dadyezi</string>
      <key>dal-yezi</key>
      <string>dalyezi</string>
      <key>elif-yezi</key>
      <string>elifyezi</string>
      <key>et-yezi</key>
      <string>etyezi</string>
      <key>ew-yezi</key>
      <string>ewyezi</string>
      <key>eyn-yezi</key>
      <string>eynyezi</string>
      <key>fa-yezi</key>
      <string>fayezi</string>
      <key>gaf-yezi</key>
      <string>gafyezi</string>
      <key>hamza-yezi</key>
      <string>hamzayezi</string>
      <key>hay-yezi</key>
      <string>hayyezi</string>
      <key>hha-yezi</key>
      <string>hhayezi</string>
      <key>hyphen-yezi</key>
      <string>hyphenyezi</string>
      <key>ja-yezi</key>
      <string>jayezi</string>
      <key>kaf-yezi</key>
      <string>kafyezi</string>
      <key>khaf-yezi</key>
      <string>khafyezi</string>
      <key>lam-yezi</key>
      <string>lamyezi</string>
      <key>lamDot-yezi</key>
      <string>lamDotyezi</string>
      <key>madda-yezi</key>
      <string>maddayezi</string>
      <key>mim-yezi</key>
      <string>mimyezi</string>
      <key>nun-yezi</key>
      <string>nunyezi</string>
      <key>ow-yezi</key>
      <string>owyezi</string>
      <key>pe-yezi</key>
      <string>peyezi</string>
      <key>phe-yezi</key>
      <string>pheyezi</string>
      <key>qaf-yezi</key>
      <string>qafyezi</string>
      <key>ra-yezi</key>
      <string>rayezi</string>
      <key>rha-yezi</key>
      <string>rhayezi</string>
      <key>sad-yezi</key>
      <string>sadyezi</string>
      <key>se-yezi</key>
      <string>seyezi</string>
      <key>shin-yezi</key>
      <string>shinyezi</string>
      <key>sin-yezi</key>
      <string>sinyezi</string>
      <key>ta-yezi</key>
      <string>tayezi</string>
      <key>the-yezi</key>
      <string>theyezi</string>
      <key>um-yezi</key>
      <string>umyezi</string>
      <key>va-yezi</key>
      <string>vayezi</string>
      <key>va-yezi.alt</key>
      <string>vayezi.alt</string>
      <key>waw-yezi</key>
      <string>wawyezi</string>
      <key>xa-yezi</key>
      <string>xayezi</string>
      <key>xheyn-yezi</key>
      <string>xheynyezi</string>
      <key>yot-yezi</key>
      <string>yotyezi</string>
      <key>yotCircum-yezi</key>
      <string>yotCircumyezi</string>
      <key>za-yezi</key>
      <string>zayezi</string>
      <key>zal-yezi</key>
      <string>zalyezi</string>
      <key>ze-yezi</key>
      <string>zeyezi</string>
    </dict>
  </dict>
</plist>
