<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.github.googlei18n.ufo2ft.useProductionNames</key>
	<false/>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>NULL</string>
				<string>CR</string>
				<string>space</string>
				<string>nbspace</string>
				<string>zerowidthspace</string>
				<string>ZWNJ</string>
				<string>ZWJ</string>
				<string>dottedCircle</string>
				<string>a-batak</string>
				<string>a_uSign-batak</string>
				<string>aSima-batak</string>
				<string>ha-batak</string>
				<string>ha_uSign-batak</string>
				<string>haSima-batak</string>
				<string>haMandai-batak</string>
				<string>haMandai_uSign-batak</string>
				<string>ba-batak</string>
				<string>ba_uSign-batak</string>
				<string>karoBa-batak</string>
				<string>karoBa_uSign-batak</string>
				<string>pa-batak</string>
				<string>paSima-batak</string>
				<string>na-batak</string>
				<string>na_uSign-batak</string>
				<string>naMandai-batak</string>
				<string>naMandai_uSign-batak</string>
				<string>wa-batak</string>
				<string>wa_uSign-batak</string>
				<string>waSima-batak</string>
				<string>waSima_uSign-batak</string>
				<string>pakpakWa-batak</string>
				<string>ga-batak</string>
				<string>ga_uSign-batak</string>
				<string>gaSima-batak</string>
				<string>ja-batak</string>
				<string>ja_uSign-batak</string>
				<string>ja-batak.btx</string>
				<string>ja_uSign-batak.btx</string>
				<string>da-batak</string>
				<string>da_uSign-batak</string>
				<string>ra-batak</string>
				<string>ra_uSign-batak</string>
				<string>raSima-batak</string>
				<string>ma-batak</string>
				<string>ma_uSign-batak</string>
				<string>maSima-batak</string>
				<string>maSima_uSign-batak</string>
				<string>taSouth-batak</string>
				<string>taSouth_uSign-batak</string>
				<string>taNorth-batak</string>
				<string>taNorth_uSign-batak</string>
				<string>sa-batak</string>
				<string>saSima-batak</string>
				<string>saMandai-batak</string>
				<string>saMandai_uSign-batak</string>
				<string>ya-batak</string>
				<string>yaSima-batak</string>
				<string>nga-batak</string>
				<string>nga_uSign-batak</string>
				<string>la-batak</string>
				<string>la_uSign-batak</string>
				<string>laSima-batak</string>
				<string>nya-batak</string>
				<string>nya_uSign-batak</string>
				<string>ca-batak</string>
				<string>nda-batak</string>
				<string>mba-batak</string>
				<string>i-batak</string>
				<string>u-batak</string>
				<string>tompi-batak</string>
				<string>eSign-batak</string>
				<string>eSignPak-batak</string>
				<string>eeSign-batak</string>
				<string>iSign-batak</string>
				<string>iSignKaro-batak</string>
				<string>oSign-batak</string>
				<string>oSignKaro-batak</string>
				<string>uSign-batak</string>
				<string>uSign-batak.paMandai</string>
				<string>uSign-batak.simple</string>
				<string>uSignSima-batak</string>
				<string>ngSign-batak</string>
				<string>hSign-batak</string>
				<string>pangolat-batak</string>
				<string>panongonan-batak</string>
				<string>binduNaMetek-batak</string>
				<string>binduPinarboras-batak</string>
				<string>binduJudul-batak</string>
				<string>binduPangolat-batak</string>
				<string>batak_null</string>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>UUID0</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zerowidthspace</string>
		<string>ZWNJ</string>
		<string>ZWJ</string>
		<string>dottedCircle</string>
		<string>a-batak</string>
		<string>a_uSign-batak</string>
		<string>aSima-batak</string>
		<string>ha-batak</string>
		<string>ha_uSign-batak</string>
		<string>haSima-batak</string>
		<string>haMandai-batak</string>
		<string>haMandai_uSign-batak</string>
		<string>ba-batak</string>
		<string>ba_uSign-batak</string>
		<string>karoBa-batak</string>
		<string>karoBa_uSign-batak</string>
		<string>pa-batak</string>
		<string>paSima-batak</string>
		<string>na-batak</string>
		<string>na_uSign-batak</string>
		<string>naMandai-batak</string>
		<string>naMandai_uSign-batak</string>
		<string>wa-batak</string>
		<string>wa_uSign-batak</string>
		<string>waSima-batak</string>
		<string>waSima_uSign-batak</string>
		<string>pakpakWa-batak</string>
		<string>ga-batak</string>
		<string>ga_uSign-batak</string>
		<string>gaSima-batak</string>
		<string>ja-batak</string>
		<string>ja_uSign-batak</string>
		<string>ja-batak.btx</string>
		<string>ja_uSign-batak.btx</string>
		<string>da-batak</string>
		<string>da_uSign-batak</string>
		<string>ra-batak</string>
		<string>ra_uSign-batak</string>
		<string>raSima-batak</string>
		<string>ma-batak</string>
		<string>ma_uSign-batak</string>
		<string>maSima-batak</string>
		<string>maSima_uSign-batak</string>
		<string>taSouth-batak</string>
		<string>taSouth_uSign-batak</string>
		<string>taNorth-batak</string>
		<string>taNorth_uSign-batak</string>
		<string>sa-batak</string>
		<string>saSima-batak</string>
		<string>saMandai-batak</string>
		<string>saMandai_uSign-batak</string>
		<string>ya-batak</string>
		<string>yaSima-batak</string>
		<string>nga-batak</string>
		<string>nga_uSign-batak</string>
		<string>la-batak</string>
		<string>la_uSign-batak</string>
		<string>laSima-batak</string>
		<string>nya-batak</string>
		<string>nya_uSign-batak</string>
		<string>ca-batak</string>
		<string>nda-batak</string>
		<string>mba-batak</string>
		<string>i-batak</string>
		<string>u-batak</string>
		<string>tompi-batak</string>
		<string>eSign-batak</string>
		<string>eSignPak-batak</string>
		<string>eeSign-batak</string>
		<string>iSign-batak</string>
		<string>iSignKaro-batak</string>
		<string>oSign-batak</string>
		<string>oSignKaro-batak</string>
		<string>uSign-batak</string>
		<string>uSign-batak.paMandai</string>
		<string>uSign-batak.simple</string>
		<string>uSignSima-batak</string>
		<string>ngSign-batak</string>
		<string>hSign-batak</string>
		<string>pangolat-batak</string>
		<string>panongonan-batak</string>
		<string>binduNaMetek-batak</string>
		<string>binduPinarboras-batak</string>
		<string>binduJudul-batak</string>
		<string>binduPangolat-batak</string>
		<string>batak_null</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zerowidthspace</string>
		<string>ZWNJ</string>
		<string>ZWJ</string>
		<string>dottedCircle</string>
		<string>a-batak</string>
		<string>a_uSign-batak</string>
		<string>aSima-batak</string>
		<string>ha-batak</string>
		<string>ha_uSign-batak</string>
		<string>haSima-batak</string>
		<string>haMandai-batak</string>
		<string>haMandai_uSign-batak</string>
		<string>ba-batak</string>
		<string>ba_uSign-batak</string>
		<string>karoBa-batak</string>
		<string>karoBa_uSign-batak</string>
		<string>pa-batak</string>
		<string>paSima-batak</string>
		<string>na-batak</string>
		<string>na_uSign-batak</string>
		<string>naMandai-batak</string>
		<string>naMandai_uSign-batak</string>
		<string>wa-batak</string>
		<string>wa_uSign-batak</string>
		<string>waSima-batak</string>
		<string>waSima_uSign-batak</string>
		<string>pakpakWa-batak</string>
		<string>ga-batak</string>
		<string>ga_uSign-batak</string>
		<string>gaSima-batak</string>
		<string>ja-batak</string>
		<string>ja_uSign-batak</string>
		<string>ja-batak.btx</string>
		<string>ja_uSign-batak.btx</string>
		<string>da-batak</string>
		<string>da_uSign-batak</string>
		<string>ra-batak</string>
		<string>ra_uSign-batak</string>
		<string>raSima-batak</string>
		<string>ma-batak</string>
		<string>ma_uSign-batak</string>
		<string>maSima-batak</string>
		<string>maSima_uSign-batak</string>
		<string>taSouth-batak</string>
		<string>taSouth_uSign-batak</string>
		<string>taNorth-batak</string>
		<string>taNorth_uSign-batak</string>
		<string>sa-batak</string>
		<string>saSima-batak</string>
		<string>saMandai-batak</string>
		<string>saMandai_uSign-batak</string>
		<string>ya-batak</string>
		<string>yaSima-batak</string>
		<string>nga-batak</string>
		<string>nga_uSign-batak</string>
		<string>la-batak</string>
		<string>la_uSign-batak</string>
		<string>laSima-batak</string>
		<string>nya-batak</string>
		<string>nya_uSign-batak</string>
		<string>ca-batak</string>
		<string>nda-batak</string>
		<string>mba-batak</string>
		<string>i-batak</string>
		<string>u-batak</string>
		<string>tompi-batak</string>
		<string>eSign-batak</string>
		<string>eSignPak-batak</string>
		<string>eeSign-batak</string>
		<string>iSign-batak</string>
		<string>iSignKaro-batak</string>
		<string>oSign-batak</string>
		<string>oSignKaro-batak</string>
		<string>uSign-batak</string>
		<string>uSign-batak.paMandai</string>
		<string>uSign-batak.simple</string>
		<string>uSignSima-batak</string>
		<string>ngSign-batak</string>
		<string>hSign-batak</string>
		<string>pangolat-batak</string>
		<string>panongonan-batak</string>
		<string>binduNaMetek-batak</string>
		<string>binduPinarboras-batak</string>
		<string>binduJudul-batak</string>
		<string>binduPangolat-batak</string>
		<string>batak_null</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>a-batak</key>
		<string>abatak</string>
		<key>aSima-batak</key>
		<string>aSimabatak</string>
		<key>a_uSign-batak</key>
		<string>a_uSignbatak</string>
		<key>ba-batak</key>
		<string>babatak</string>
		<key>ba_uSign-batak</key>
		<string>ba_uSignbatak</string>
		<key>binduJudul-batak</key>
		<string>binduJudulbatak</string>
		<key>binduNaMetek-batak</key>
		<string>binduNaMetekbatak</string>
		<key>binduPangolat-batak</key>
		<string>binduPangolatbatak</string>
		<key>binduPinarboras-batak</key>
		<string>binduPinarborasbatak</string>
		<key>ca-batak</key>
		<string>cabatak</string>
		<key>da-batak</key>
		<string>dabatak</string>
		<key>da_uSign-batak</key>
		<string>da_uSignbatak</string>
		<key>dottedCircle</key>
		<string>uni25CC</string>
		<key>eSign-batak</key>
		<string>eSignbatak</string>
		<key>eSignPak-batak</key>
		<string>eSignPakbatak</string>
		<key>eeSign-batak</key>
		<string>eeSignbatak</string>
		<key>ga-batak</key>
		<string>gabatak</string>
		<key>gaSima-batak</key>
		<string>gaSimabatak</string>
		<key>ga_uSign-batak</key>
		<string>ga_uSignbatak</string>
		<key>hSign-batak</key>
		<string>hSignbatak</string>
		<key>ha-batak</key>
		<string>habatak</string>
		<key>haMandai-batak</key>
		<string>haMandaibatak</string>
		<key>haMandai_uSign-batak</key>
		<string>haMandai_uSignbatak</string>
		<key>haSima-batak</key>
		<string>haSimabatak</string>
		<key>ha_uSign-batak</key>
		<string>ha_uSignbatak</string>
		<key>i-batak</key>
		<string>ibatak</string>
		<key>iSign-batak</key>
		<string>iSignbatak</string>
		<key>iSignKaro-batak</key>
		<string>iSignKarobatak</string>
		<key>ja-batak</key>
		<string>jabatak</string>
		<key>ja-batak.btx</key>
		<string>jabatak.btx</string>
		<key>ja_uSign-batak</key>
		<string>ja_uSignbatak</string>
		<key>ja_uSign-batak.btx</key>
		<string>ja_uSignbatak.btx</string>
		<key>karoBa-batak</key>
		<string>karoBabatak</string>
		<key>karoBa_uSign-batak</key>
		<string>karoBa_uSignbatak</string>
		<key>la-batak</key>
		<string>labatak</string>
		<key>laSima-batak</key>
		<string>laSimabatak</string>
		<key>la_uSign-batak</key>
		<string>la_uSignbatak</string>
		<key>ma-batak</key>
		<string>mabatak</string>
		<key>maSima-batak</key>
		<string>maSimabatak</string>
		<key>maSima_uSign-batak</key>
		<string>maSima_uSignbatak</string>
		<key>ma_uSign-batak</key>
		<string>ma_uSignbatak</string>
		<key>mba-batak</key>
		<string>mbabatak</string>
		<key>na-batak</key>
		<string>nabatak</string>
		<key>naMandai-batak</key>
		<string>naMandaibatak</string>
		<key>naMandai_uSign-batak</key>
		<string>naMandai_uSignbatak</string>
		<key>na_uSign-batak</key>
		<string>na_uSignbatak</string>
		<key>nbspace</key>
		<string>uni00A0</string>
		<key>nda-batak</key>
		<string>ndabatak</string>
		<key>ngSign-batak</key>
		<string>ngSignbatak</string>
		<key>nga-batak</key>
		<string>ngabatak</string>
		<key>nga_uSign-batak</key>
		<string>nga_uSignbatak</string>
		<key>nya-batak</key>
		<string>nyabatak</string>
		<key>nya_uSign-batak</key>
		<string>nya_uSignbatak</string>
		<key>oSign-batak</key>
		<string>oSignbatak</string>
		<key>oSignKaro-batak</key>
		<string>oSignKarobatak</string>
		<key>pa-batak</key>
		<string>pabatak</string>
		<key>paSima-batak</key>
		<string>paSimabatak</string>
		<key>pakpakWa-batak</key>
		<string>pakpakWabatak</string>
		<key>pangolat-batak</key>
		<string>pangolatbatak</string>
		<key>panongonan-batak</key>
		<string>panongonanbatak</string>
		<key>ra-batak</key>
		<string>rabatak</string>
		<key>raSima-batak</key>
		<string>raSimabatak</string>
		<key>ra_uSign-batak</key>
		<string>ra_uSignbatak</string>
		<key>sa-batak</key>
		<string>sabatak</string>
		<key>saMandai-batak</key>
		<string>saMandaibatak</string>
		<key>saMandai_uSign-batak</key>
		<string>saMandai_uSignbatak</string>
		<key>saSima-batak</key>
		<string>saSimabatak</string>
		<key>taNorth-batak</key>
		<string>taNorthbatak</string>
		<key>taNorth_uSign-batak</key>
		<string>taNorth_uSignbatak</string>
		<key>taSouth-batak</key>
		<string>taSouthbatak</string>
		<key>taSouth_uSign-batak</key>
		<string>taSouth_uSignbatak</string>
		<key>tompi-batak</key>
		<string>tompibatak</string>
		<key>u-batak</key>
		<string>ubatak</string>
		<key>uSign-batak</key>
		<string>uSignbatak</string>
		<key>uSign-batak.paMandai</key>
		<string>uSignbatak.paMandai</string>
		<key>uSign-batak.simple</key>
		<string>uSignbatak.simple</string>
		<key>uSignSima-batak</key>
		<string>uSignSimabatak</string>
		<key>wa-batak</key>
		<string>wabatak</string>
		<key>waSima-batak</key>
		<string>waSimabatak</string>
		<key>waSima_uSign-batak</key>
		<string>waSima_uSignbatak</string>
		<key>wa_uSign-batak</key>
		<string>wa_uSignbatak</string>
		<key>ya-batak</key>
		<string>yabatak</string>
		<key>yaSima-batak</key>
		<string>yaSimabatak</string>
		<key>zerowidthspace</key>
		<string>uni200B</string>
	</dict>
</dict>
</plist>
