<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jun 16 19, 16:01</string>
      <string>glyphs.J_un 16 19, 16_01</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56</string>
      <string>glyphs.J_un 19 19, 21_56</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56.background</string>
      <string>glyphs.J_un 19 19, 21_56.background</string>
    </array>
    <array>
      <string>May 24 19, 15:48</string>
      <string>glyphs.M_ay 24 19, 15_48</string>
    </array>
    <array>
      <string>May 24 19, 15:48 #1</string>
      <string>glyphs.M_ay 24 19, 15_48 #1</string>
    </array>
    <array>
      <string>Jun 20 19, 13:57</string>
      <string>glyphs.J_un 20 19, 13_57</string>
    </array>
    <array>
      <string>Jun 24 19, 21:15</string>
      <string>glyphs.J_un 24 19, 21_15</string>
    </array>
    <array>
      <string>Jun 24 19, 22:12</string>
      <string>glyphs.J_un 24 19, 22_12</string>
    </array>
    <array>
      <string>Jun 24 19, 22:12.background</string>
      <string>glyphs.J_un 24 19, 22_12.background</string>
    </array>
    <array>
      <string>Feb 21 17, 14:31</string>
      <string>glyphs.F_eb 21 17, 14_31</string>
    </array>
    <array>
      <string>Jun 26 19, 14:24</string>
      <string>glyphs.J_un 26 19, 14_24</string>
    </array>
  </array>
</plist>
