<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.u16B1F</key>
    <array>
      <string>u16B17</string>
      <string>u16B1B</string>
      <string>u16B1F</string>
      <string>u16B24</string>
      <string>u16B26</string>
      <string>u16B2C</string>
      <string>u16B5C</string>
      <string>u16B87</string>
      <string>u16B8D</string>
      <string>u16B8E</string>
    </array>
    <key>public.kern1.u16B29</key>
    <array>
      <string>u16B03</string>
      <string>u16B29</string>
    </array>
    <key>public.kern1.u16B2E</key>
    <array>
      <string>u16B02</string>
      <string>u16B15</string>
      <string>u16B2E</string>
    </array>
    <key>public.kern1.u16B2F</key>
    <array>
      <string>u16B00</string>
      <string>u16B2F</string>
      <string>u16B5F</string>
    </array>
    <key>public.kern1.u16B6F</key>
    <array>
      <string>u16B6C</string>
      <string>u16B6F</string>
    </array>
    <key>public.kern2.u16B29</key>
    <array>
      <string>u16B03</string>
      <string>u16B29</string>
      <string>u16B5C</string>
    </array>
    <key>public.kern2.u16B2E</key>
    <array>
      <string>u16B02</string>
      <string>u16B15</string>
      <string>u16B2E</string>
    </array>
    <key>public.kern2.u16B2F</key>
    <array>
      <string>u16B00</string>
      <string>u16B2F</string>
      <string>u16B5F</string>
    </array>
  </dict>
</plist>
