<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1060</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>u16B00</string>
      <string>u16B01</string>
      <string>u16B02</string>
      <string>u16B03</string>
      <string>u16B04</string>
      <string>u16B05</string>
      <string>u16B06</string>
      <string>u16B07</string>
      <string>u16B08</string>
      <string>u16B09</string>
      <string>u16B0A</string>
      <string>u16B0B</string>
      <string>u16B0C</string>
      <string>u16B0E</string>
      <string>u16B0F</string>
      <string>u16B10</string>
      <string>u16B11</string>
      <string>u16B0D</string>
      <string>u16B12</string>
      <string>u16B13</string>
      <string>u16B14</string>
      <string>u16B15</string>
      <string>u16B16</string>
      <string>u16B17</string>
      <string>u16B18</string>
      <string>u16B19</string>
      <string>u16B1A</string>
      <string>u16B1B</string>
      <string>u16B1C</string>
      <string>u16B1D</string>
      <string>u16B1E</string>
      <string>u16B1F</string>
      <string>u16B20</string>
      <string>u16B21</string>
      <string>u16B22</string>
      <string>u16B23</string>
      <string>u16B24</string>
      <string>u16B25</string>
      <string>u16B26</string>
      <string>u16B27</string>
      <string>u16B28</string>
      <string>u16B29</string>
      <string>u16B2A</string>
      <string>u16B2B</string>
      <string>u16B2C</string>
      <string>u16B2D</string>
      <string>u16B2E</string>
      <string>u16B2F</string>
      <string>u16B30</string>
      <string>u16B31</string>
      <string>u16B32</string>
      <string>u16B33</string>
      <string>u16B34</string>
      <string>u16B35</string>
      <string>u16B36</string>
      <string>u16B37</string>
      <string>u16B38</string>
      <string>u16B39</string>
      <string>u16B3A</string>
      <string>u16B3B</string>
      <string>u16B3C</string>
      <string>u16B3D</string>
      <string>u16B3E</string>
      <string>u16B3F</string>
      <string>u16B40</string>
      <string>u16B41</string>
      <string>u16B42</string>
      <string>u16B43</string>
      <string>u16B44</string>
      <string>u16B45</string>
      <string>u16B50</string>
      <string>u16B51</string>
      <string>u16B61</string>
      <string>u16B52</string>
      <string>u16B53</string>
      <string>u16B54</string>
      <string>u16B55</string>
      <string>u16B56</string>
      <string>u16B57</string>
      <string>u16B58</string>
      <string>u16B59</string>
      <string>u16B5B</string>
      <string>u16B5C</string>
      <string>u16B5D</string>
      <string>u16B5E</string>
      <string>u16B5F</string>
      <string>u16B60</string>
      <string>u16B63</string>
      <string>u16B64</string>
      <string>u16B65</string>
      <string>u16B66</string>
      <string>u16B67</string>
      <string>u16B68</string>
      <string>u16B69</string>
      <string>u16B6A</string>
      <string>u16B6B</string>
      <string>u16B6C</string>
      <string>u16B6D</string>
      <string>u16B6E</string>
      <string>u16B6F</string>
      <string>u16B70</string>
      <string>u16B71</string>
      <string>u16B72</string>
      <string>u16B73</string>
      <string>u16B74</string>
      <string>u16B75</string>
      <string>u16B76</string>
      <string>u16B77</string>
      <string>u16B7D</string>
      <string>u16B7E</string>
      <string>u16B7F</string>
      <string>u16B80</string>
      <string>u16B81</string>
      <string>u16B82</string>
      <string>u16B83</string>
      <string>u16B84</string>
      <string>u16B85</string>
      <string>u16B86</string>
      <string>u16B87</string>
      <string>u16B88</string>
      <string>u16B89</string>
      <string>u16B8A</string>
      <string>u16B8B</string>
      <string>u16B8C</string>
      <string>u16B8D</string>
      <string>u16B8E</string>
      <string>u16B8F</string>
    </array>
  </dict>
</plist>
