<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aGlottal-ethiopic</key>
    <string>aG_lottal-ethiopic.glif</string>
    <key>aPharyngeal-ethiopic</key>
    <string>aP_haryngeal-ethiopic.glif</string>
    <key>aaGlottal-ethiopic</key>
    <string>aaG_lottal-ethiopic.glif</string>
    <key>aaPharyngeal-ethiopic</key>
    <string>aaP_haryngeal-ethiopic.glif</string>
    <key>ba-ethiopic</key>
    <string>ba-ethiopic.glif</string>
    <key>baa-ethiopic</key>
    <string>baa-ethiopic.glif</string>
    <key>baashort</key>
    <string>baashort.glif</string>
    <key>ballbig</key>
    <string>ballbig.glif</string>
    <key>ballsmall</key>
    <string>ballsmall.glif</string>
    <key>baselinebowl</key>
    <string>baselinebowl.glif</string>
    <key>bba-ethiopic</key>
    <string>bba-ethiopic.glif</string>
    <key>bbaa-ethiopic</key>
    <string>bbaa-ethiopic.glif</string>
    <key>bbe-ethiopic</key>
    <string>bbe-ethiopic.glif</string>
    <key>bbee-ethiopic</key>
    <string>bbee-ethiopic.glif</string>
    <key>bbi-ethiopic</key>
    <string>bbi-ethiopic.glif</string>
    <key>bbo-ethiopic</key>
    <string>bbo-ethiopic.glif</string>
    <key>bbu-ethiopic</key>
    <string>bbu-ethiopic.glif</string>
    <key>be-ethiopic</key>
    <string>be-ethiopic.glif</string>
    <key>bee-ethiopic</key>
    <string>bee-ethiopic.glif</string>
    <key>bi-ethiopic</key>
    <string>bi-ethiopic.glif</string>
    <key>bo-ethiopic</key>
    <string>bo-ethiopic.glif</string>
    <key>boa-ethiopic</key>
    <string>boa-ethiopic.glif</string>
    <key>bone</key>
    <string>bone.glif</string>
    <key>bone.alt</key>
    <string>bone.alt.glif</string>
    <key>bonelong</key>
    <string>bonelong.glif</string>
    <key>bonemiddle</key>
    <string>bonemiddle.glif</string>
    <key>boshort</key>
    <string>boshort.glif</string>
    <key>bu-ethiopic</key>
    <string>bu-ethiopic.glif</string>
    <key>bwa-ethiopic</key>
    <string>bwa-ethiopic.glif</string>
    <key>bwaSebatbeit-ethiopic</key>
    <string>bwaS_ebatbeit-ethiopic.glif</string>
    <key>bwe-ethiopic</key>
    <string>bwe-ethiopic.glif</string>
    <key>bwee-ethiopic</key>
    <string>bwee-ethiopic.glif</string>
    <key>bwi-ethiopic</key>
    <string>bwi-ethiopic.glif</string>
    <key>ca-ethiopic</key>
    <string>ca-ethiopic.glif</string>
    <key>caa-ethiopic</key>
    <string>caa-ethiopic.glif</string>
    <key>cca-ethiopic</key>
    <string>cca-ethiopic.glif</string>
    <key>ccaa-ethiopic</key>
    <string>ccaa-ethiopic.glif</string>
    <key>cce-ethiopic</key>
    <string>cce-ethiopic.glif</string>
    <key>ccee-ethiopic</key>
    <string>ccee-ethiopic.glif</string>
    <key>ccha-ethiopic</key>
    <string>ccha-ethiopic.glif</string>
    <key>cchaa-ethiopic</key>
    <string>cchaa-ethiopic.glif</string>
    <key>cche-ethiopic</key>
    <string>cche-ethiopic.glif</string>
    <key>cchee-ethiopic</key>
    <string>cchee-ethiopic.glif</string>
    <key>cchha-ethiopic</key>
    <string>cchha-ethiopic.glif</string>
    <key>cchhaa-ethiopic</key>
    <string>cchhaa-ethiopic.glif</string>
    <key>cchhe-ethiopic</key>
    <string>cchhe-ethiopic.glif</string>
    <key>cchhee-ethiopic</key>
    <string>cchhee-ethiopic.glif</string>
    <key>cchhi-ethiopic</key>
    <string>cchhi-ethiopic.glif</string>
    <key>cchho-ethiopic</key>
    <string>cchho-ethiopic.glif</string>
    <key>cchhu-ethiopic</key>
    <string>cchhu-ethiopic.glif</string>
    <key>cchi-ethiopic</key>
    <string>cchi-ethiopic.glif</string>
    <key>ccho-ethiopic</key>
    <string>ccho-ethiopic.glif</string>
    <key>cchu-ethiopic</key>
    <string>cchu-ethiopic.glif</string>
    <key>cci-ethiopic</key>
    <string>cci-ethiopic.glif</string>
    <key>cco-ethiopic</key>
    <string>cco-ethiopic.glif</string>
    <key>ccu-ethiopic</key>
    <string>ccu-ethiopic.glif</string>
    <key>ce-ethiopic</key>
    <string>ce-ethiopic.glif</string>
    <key>cee-ethiopic</key>
    <string>cee-ethiopic.glif</string>
    <key>cha-ethiopic</key>
    <string>cha-ethiopic.glif</string>
    <key>chaa-ethiopic</key>
    <string>chaa-ethiopic.glif</string>
    <key>che-ethiopic</key>
    <string>che-ethiopic.glif</string>
    <key>chee-ethiopic</key>
    <string>chee-ethiopic.glif</string>
    <key>chi-ethiopic</key>
    <string>chi-ethiopic.glif</string>
    <key>chiret-ethiopic</key>
    <string>chiret-ethiopic.glif</string>
    <key>cho-ethiopic</key>
    <string>cho-ethiopic.glif</string>
    <key>choa-ethiopic</key>
    <string>choa-ethiopic.glif</string>
    <key>chu-ethiopic</key>
    <string>chu-ethiopic.glif</string>
    <key>chwa-ethiopic</key>
    <string>chwa-ethiopic.glif</string>
    <key>ci-ethiopic</key>
    <string>ci-ethiopic.glif</string>
    <key>co-ethiopic</key>
    <string>co-ethiopic.glif</string>
    <key>coa-ethiopic</key>
    <string>coa-ethiopic.glif</string>
    <key>colon-ethiopic</key>
    <string>colon-ethiopic.glif</string>
    <key>comma-ethiopic</key>
    <string>comma-ethiopic.glif</string>
    <key>cu-ethiopic</key>
    <string>cu-ethiopic.glif</string>
    <key>cwa-ethiopic</key>
    <string>cwa-ethiopic.glif</string>
    <key>da-ethiopic</key>
    <string>da-ethiopic.glif</string>
    <key>daa-ethiopic</key>
    <string>daa-ethiopic.glif</string>
    <key>dblverticallineabovecomb</key>
    <string>dblverticallineabovecomb.glif</string>
    <key>dda-ethiopic</key>
    <string>dda-ethiopic.glif</string>
    <key>ddaa-ethiopic</key>
    <string>ddaa-ethiopic.glif</string>
    <key>dde-ethiopic</key>
    <string>dde-ethiopic.glif</string>
    <key>ddee-ethiopic</key>
    <string>ddee-ethiopic.glif</string>
    <key>ddhaa-ethiopic</key>
    <string>ddhaa-ethiopic.glif</string>
    <key>ddhe-ethiopic</key>
    <string>ddhe-ethiopic.glif</string>
    <key>ddhee-ethiopic</key>
    <string>ddhee-ethiopic.glif</string>
    <key>ddhi-ethiopic</key>
    <string>ddhi-ethiopic.glif</string>
    <key>ddho-ethiopic</key>
    <string>ddho-ethiopic.glif</string>
    <key>ddhu-ethiopic</key>
    <string>ddhu-ethiopic.glif</string>
    <key>ddi-ethiopic</key>
    <string>ddi-ethiopic.glif</string>
    <key>ddo-ethiopic</key>
    <string>ddo-ethiopic.glif</string>
    <key>ddoa-ethiopic</key>
    <string>ddoa-ethiopic.glif</string>
    <key>ddu-ethiopic</key>
    <string>ddu-ethiopic.glif</string>
    <key>ddwa-ethiopic</key>
    <string>ddwa-ethiopic.glif</string>
    <key>de-ethiopic</key>
    <string>de-ethiopic.glif</string>
    <key>dee-ethiopic</key>
    <string>dee-ethiopic.glif</string>
    <key>deret-ethiopic</key>
    <string>deret-ethiopic.glif</string>
    <key>deretHidet-ethiopic</key>
    <string>deretH_idet-ethiopic.glif</string>
    <key>di-ethiopic</key>
    <string>di-ethiopic.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>difat-ethiopic</key>
    <string>difat-ethiopic.glif</string>
    <key>do-ethiopic</key>
    <string>do-ethiopic.glif</string>
    <key>doa-ethiopic</key>
    <string>doa-ethiopic.glif</string>
    <key>du-ethiopic</key>
    <string>du-ethiopic.glif</string>
    <key>dwa-ethiopic</key>
    <string>dwa-ethiopic.glif</string>
    <key>dzaa-ethiopic</key>
    <string>dzaa-ethiopic.glif</string>
    <key>dze-ethiopic</key>
    <string>dze-ethiopic.glif</string>
    <key>dzee-ethiopic</key>
    <string>dzee-ethiopic.glif</string>
    <key>dzi-ethiopic</key>
    <string>dzi-ethiopic.glif</string>
    <key>dzo-ethiopic</key>
    <string>dzo-ethiopic.glif</string>
    <key>dzu-ethiopic</key>
    <string>dzu-ethiopic.glif</string>
    <key>eGlottal-ethiopic</key>
    <string>eG_lottal-ethiopic.glif</string>
    <key>ePharyngeal-ethiopic</key>
    <string>eP_haryngeal-ethiopic.glif</string>
    <key>eeGlottal-ethiopic</key>
    <string>eeG_lottal-ethiopic.glif</string>
    <key>eePharyngeal-ethiopic</key>
    <string>eeP_haryngeal-ethiopic.glif</string>
    <key>eight-ethiopic</key>
    <string>eight-ethiopic.glif</string>
    <key>eightFin-ethiopic</key>
    <string>eightF_in-ethiopic.glif</string>
    <key>eightIni-ethiopic</key>
    <string>eightI_ni-ethiopic.glif</string>
    <key>eightMed-ethiopic</key>
    <string>eightM_ed-ethiopic.glif</string>
    <key>eightform</key>
    <string>eightform.glif</string>
    <key>eighty-ethiopic</key>
    <string>eighty-ethiopic.glif</string>
    <key>eightyFin-ethiopic</key>
    <string>eightyF_in-ethiopic.glif</string>
    <key>eightyIni-ethiopic</key>
    <string>eightyI_ni-ethiopic.glif</string>
    <key>eightyMed-ethiopic</key>
    <string>eightyM_ed-ethiopic.glif</string>
    <key>eightyform</key>
    <string>eightyform.glif</string>
    <key>ellipsisvertical</key>
    <string>ellipsisvertical.glif</string>
    <key>fa-ethiopic</key>
    <string>fa-ethiopic.glif</string>
    <key>faa-ethiopic</key>
    <string>faa-ethiopic.glif</string>
    <key>fe-ethiopic</key>
    <string>fe-ethiopic.glif</string>
    <key>fee-ethiopic</key>
    <string>fee-ethiopic.glif</string>
    <key>fi-ethiopic</key>
    <string>fi-ethiopic.glif</string>
    <key>fifty-ethiopic</key>
    <string>fifty-ethiopic.glif</string>
    <key>fiftyFin-ethiopic</key>
    <string>fiftyF_in-ethiopic.glif</string>
    <key>fiftyIni-ethiopic</key>
    <string>fiftyI_ni-ethiopic.glif</string>
    <key>fiftyMed-ethiopic</key>
    <string>fiftyM_ed-ethiopic.glif</string>
    <key>fiftyform</key>
    <string>fiftyform.glif</string>
    <key>five-ethiopic</key>
    <string>five-ethiopic.glif</string>
    <key>fiveFin-ethiopic</key>
    <string>fiveF_in-ethiopic.glif</string>
    <key>fiveIni-ethiopic</key>
    <string>fiveI_ni-ethiopic.glif</string>
    <key>fiveMed-ethiopic</key>
    <string>fiveM_ed-ethiopic.glif</string>
    <key>fiveform</key>
    <string>fiveform.glif</string>
    <key>flagstick</key>
    <string>flagstick.glif</string>
    <key>fo-ethiopic</key>
    <string>fo-ethiopic.glif</string>
    <key>footlong</key>
    <string>footlong.glif</string>
    <key>footmiddle</key>
    <string>footmiddle.glif</string>
    <key>footright</key>
    <string>footright.glif</string>
    <key>forty-ethiopic</key>
    <string>forty-ethiopic.glif</string>
    <key>fortyFin-ethiopic</key>
    <string>fortyF_in-ethiopic.glif</string>
    <key>fortyIni-ethiopic</key>
    <string>fortyI_ni-ethiopic.glif</string>
    <key>fortyMed-ethiopic</key>
    <string>fortyM_ed-ethiopic.glif</string>
    <key>fortyform</key>
    <string>fortyform.glif</string>
    <key>four-ethiopic</key>
    <string>four-ethiopic.glif</string>
    <key>fourFin-ethiopic</key>
    <string>fourF_in-ethiopic.glif</string>
    <key>fourIni-ethiopic</key>
    <string>fourI_ni-ethiopic.glif</string>
    <key>fourMed-ethiopic</key>
    <string>fourM_ed-ethiopic.glif</string>
    <key>fourform</key>
    <string>fourform.glif</string>
    <key>fu-ethiopic</key>
    <string>fu-ethiopic.glif</string>
    <key>fwa-ethiopic</key>
    <string>fwa-ethiopic.glif</string>
    <key>fwaSebatbeit-ethiopic</key>
    <string>fwaS_ebatbeit-ethiopic.glif</string>
    <key>fwe-ethiopic</key>
    <string>fwe-ethiopic.glif</string>
    <key>fwee-ethiopic</key>
    <string>fwee-ethiopic.glif</string>
    <key>fwi-ethiopic</key>
    <string>fwi-ethiopic.glif</string>
    <key>fya-ethiopic</key>
    <string>fya-ethiopic.glif</string>
    <key>ga-ethiopic</key>
    <string>ga-ethiopic.glif</string>
    <key>gaa-ethiopic</key>
    <string>gaa-ethiopic.glif</string>
    <key>ge-ethiopic</key>
    <string>ge-ethiopic.glif</string>
    <key>gee-ethiopic</key>
    <string>gee-ethiopic.glif</string>
    <key>geminationcomb-ethiopic</key>
    <string>geminationcomb-ethiopic.glif</string>
    <key>geminvowellengthcomb-ethiopic</key>
    <string>geminvowellengthcomb-ethiopic.glif</string>
    <key>gga-ethiopic</key>
    <string>gga-ethiopic.glif</string>
    <key>ggaa-ethiopic</key>
    <string>ggaa-ethiopic.glif</string>
    <key>gge-ethiopic</key>
    <string>gge-ethiopic.glif</string>
    <key>ggee-ethiopic</key>
    <string>ggee-ethiopic.glif</string>
    <key>ggi-ethiopic</key>
    <string>ggi-ethiopic.glif</string>
    <key>ggo-ethiopic</key>
    <string>ggo-ethiopic.glif</string>
    <key>ggu-ethiopic</key>
    <string>ggu-ethiopic.glif</string>
    <key>ggwa-ethiopic</key>
    <string>ggwa-ethiopic.glif</string>
    <key>ggwaa-ethiopic</key>
    <string>ggwaa-ethiopic.glif</string>
    <key>ggwe-ethiopic</key>
    <string>ggwe-ethiopic.glif</string>
    <key>ggwee-ethiopic</key>
    <string>ggwee-ethiopic.glif</string>
    <key>ggwi-ethiopic</key>
    <string>ggwi-ethiopic.glif</string>
    <key>gi-ethiopic</key>
    <string>gi-ethiopic.glif</string>
    <key>go-ethiopic</key>
    <string>go-ethiopic.glif</string>
    <key>goa-ethiopic</key>
    <string>goa-ethiopic.glif</string>
    <key>gu-ethiopic</key>
    <string>gu-ethiopic.glif</string>
    <key>gwa-ethiopic</key>
    <string>gwa-ethiopic.glif</string>
    <key>gwaa-ethiopic</key>
    <string>gwaa-ethiopic.glif</string>
    <key>gwe-ethiopic</key>
    <string>gwe-ethiopic.glif</string>
    <key>gwee-ethiopic</key>
    <string>gwee-ethiopic.glif</string>
    <key>gwi-ethiopic</key>
    <string>gwi-ethiopic.glif</string>
    <key>gya-ethiopic</key>
    <string>gya-ethiopic.glif</string>
    <key>gyaa-ethiopic</key>
    <string>gyaa-ethiopic.glif</string>
    <key>gye-ethiopic</key>
    <string>gye-ethiopic.glif</string>
    <key>gyee-ethiopic</key>
    <string>gyee-ethiopic.glif</string>
    <key>gyi-ethiopic</key>
    <string>gyi-ethiopic.glif</string>
    <key>gyo-ethiopic</key>
    <string>gyo-ethiopic.glif</string>
    <key>gyu-ethiopic</key>
    <string>gyu-ethiopic.glif</string>
    <key>ha-ethiopic</key>
    <string>ha-ethiopic.glif</string>
    <key>haa-ethiopic</key>
    <string>haa-ethiopic.glif</string>
    <key>halfbone</key>
    <string>halfbone.glif</string>
    <key>he-ethiopic</key>
    <string>he-ethiopic.glif</string>
    <key>hee-ethiopic</key>
    <string>hee-ethiopic.glif</string>
    <key>hha-ethiopic</key>
    <string>hha-ethiopic.glif</string>
    <key>hhaa-ethiopic</key>
    <string>hhaa-ethiopic.glif</string>
    <key>hhe-ethiopic</key>
    <string>hhe-ethiopic.glif</string>
    <key>hhee-ethiopic</key>
    <string>hhee-ethiopic.glif</string>
    <key>hhi-ethiopic</key>
    <string>hhi-ethiopic.glif</string>
    <key>hho-ethiopic</key>
    <string>hho-ethiopic.glif</string>
    <key>hhu-ethiopic</key>
    <string>hhu-ethiopic.glif</string>
    <key>hhwa-ethiopic</key>
    <string>hhwa-ethiopic.glif</string>
    <key>hi-ethiopic</key>
    <string>hi-ethiopic.glif</string>
    <key>hidet-ethiopic</key>
    <string>hidet-ethiopic.glif</string>
    <key>ho-ethiopic</key>
    <string>ho-ethiopic.glif</string>
    <key>hoa-ethiopic</key>
    <string>hoa-ethiopic.glif</string>
    <key>hu-ethiopic</key>
    <string>hu-ethiopic.glif</string>
    <key>hundred-ethiopic</key>
    <string>hundred-ethiopic.glif</string>
    <key>hundredFin-ethiopic</key>
    <string>hundredF_in-ethiopic.glif</string>
    <key>hundredIni-ethiopic</key>
    <string>hundredI_ni-ethiopic.glif</string>
    <key>hundredMed-ethiopic</key>
    <string>hundredM_ed-ethiopic.glif</string>
    <key>hundredform</key>
    <string>hundredform.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>iGlottal-ethiopic</key>
    <string>iG_lottal-ethiopic.glif</string>
    <key>iPharyngeal-ethiopic</key>
    <string>iP_haryngeal-ethiopic.glif</string>
    <key>ja-ethiopic</key>
    <string>ja-ethiopic.glif</string>
    <key>jaa-ethiopic</key>
    <string>jaa-ethiopic.glif</string>
    <key>je-ethiopic</key>
    <string>je-ethiopic.glif</string>
    <key>jee-ethiopic</key>
    <string>jee-ethiopic.glif</string>
    <key>ji-ethiopic</key>
    <string>ji-ethiopic.glif</string>
    <key>jo-ethiopic</key>
    <string>jo-ethiopic.glif</string>
    <key>joa-ethiopic</key>
    <string>joa-ethiopic.glif</string>
    <key>jstem</key>
    <string>jstem.glif</string>
    <key>ju-ethiopic</key>
    <string>ju-ethiopic.glif</string>
    <key>jwa-ethiopic</key>
    <string>jwa-ethiopic.glif</string>
    <key>ka-ethiopic</key>
    <string>ka-ethiopic.glif</string>
    <key>kaa-ethiopic</key>
    <string>kaa-ethiopic.glif</string>
    <key>ke-ethiopic</key>
    <string>ke-ethiopic.glif</string>
    <key>kee-ethiopic</key>
    <string>kee-ethiopic.glif</string>
    <key>kenat-ethiopic</key>
    <string>kenat-ethiopic.glif</string>
    <key>ki-ethiopic</key>
    <string>ki-ethiopic.glif</string>
    <key>ko-ethiopic</key>
    <string>ko-ethiopic.glif</string>
    <key>koa-ethiopic</key>
    <string>koa-ethiopic.glif</string>
    <key>ku-ethiopic</key>
    <string>ku-ethiopic.glif</string>
    <key>kurt-ethiopic</key>
    <string>kurt-ethiopic.glif</string>
    <key>kwa-ethiopic</key>
    <string>kwa-ethiopic.glif</string>
    <key>kwaa-ethiopic</key>
    <string>kwaa-ethiopic.glif</string>
    <key>kwe-ethiopic</key>
    <string>kwe-ethiopic.glif</string>
    <key>kwee-ethiopic</key>
    <string>kwee-ethiopic.glif</string>
    <key>kwi-ethiopic</key>
    <string>kwi-ethiopic.glif</string>
    <key>kxa-ethiopic</key>
    <string>kxa-ethiopic.glif</string>
    <key>kxaa-ethiopic</key>
    <string>kxaa-ethiopic.glif</string>
    <key>kxe-ethiopic</key>
    <string>kxe-ethiopic.glif</string>
    <key>kxee-ethiopic</key>
    <string>kxee-ethiopic.glif</string>
    <key>kxi-ethiopic</key>
    <string>kxi-ethiopic.glif</string>
    <key>kxo-ethiopic</key>
    <string>kxo-ethiopic.glif</string>
    <key>kxu-ethiopic</key>
    <string>kxu-ethiopic.glif</string>
    <key>kxwa-ethiopic</key>
    <string>kxwa-ethiopic.glif</string>
    <key>kxwaa-ethiopic</key>
    <string>kxwaa-ethiopic.glif</string>
    <key>kxwe-ethiopic</key>
    <string>kxwe-ethiopic.glif</string>
    <key>kxwee-ethiopic</key>
    <string>kxwee-ethiopic.glif</string>
    <key>kxwi-ethiopic</key>
    <string>kxwi-ethiopic.glif</string>
    <key>kya-ethiopic</key>
    <string>kya-ethiopic.glif</string>
    <key>kyaa-ethiopic</key>
    <string>kyaa-ethiopic.glif</string>
    <key>kye-ethiopic</key>
    <string>kye-ethiopic.glif</string>
    <key>kyee-ethiopic</key>
    <string>kyee-ethiopic.glif</string>
    <key>kyi-ethiopic</key>
    <string>kyi-ethiopic.glif</string>
    <key>kyo-ethiopic</key>
    <string>kyo-ethiopic.glif</string>
    <key>kyu-ethiopic</key>
    <string>kyu-ethiopic.glif</string>
    <key>la-ethiopic</key>
    <string>la-ethiopic.glif</string>
    <key>laa-ethiopic</key>
    <string>laa-ethiopic.glif</string>
    <key>le-ethiopic</key>
    <string>le-ethiopic.glif</string>
    <key>lee-ethiopic</key>
    <string>lee-ethiopic.glif</string>
    <key>leftdoubleflag</key>
    <string>leftdoubleflag.glif</string>
    <key>leftsingleflag</key>
    <string>leftsingleflag.glif</string>
    <key>li-ethiopic</key>
    <string>li-ethiopic.glif</string>
    <key>lo-ethiopic</key>
    <string>lo-ethiopic.glif</string>
    <key>loa-ethiopic</key>
    <string>loa-ethiopic.glif</string>
    <key>lollipop</key>
    <string>lollipop.glif</string>
    <key>lu-ethiopic</key>
    <string>lu-ethiopic.glif</string>
    <key>lwa-ethiopic</key>
    <string>lwa-ethiopic.glif</string>
    <key>ma-ethiopic</key>
    <string>ma-ethiopic.glif</string>
    <key>maa-ethiopic</key>
    <string>maa-ethiopic.glif</string>
    <key>me-ethiopic</key>
    <string>me-ethiopic.glif</string>
    <key>mee-ethiopic</key>
    <string>mee-ethiopic.glif</string>
    <key>mi-ethiopic</key>
    <string>mi-ethiopic.glif</string>
    <key>midring</key>
    <string>midring.glif</string>
    <key>midringshort</key>
    <string>midringshort.glif</string>
    <key>mo-ethiopic</key>
    <string>mo-ethiopic.glif</string>
    <key>moa-ethiopic</key>
    <string>moa-ethiopic.glif</string>
    <key>mu-ethiopic</key>
    <string>mu-ethiopic.glif</string>
    <key>mwa-ethiopic</key>
    <string>mwa-ethiopic.glif</string>
    <key>mwaSebatbeit-ethiopic</key>
    <string>mwaS_ebatbeit-ethiopic.glif</string>
    <key>mwe-ethiopic</key>
    <string>mwe-ethiopic.glif</string>
    <key>mwee-ethiopic</key>
    <string>mwee-ethiopic.glif</string>
    <key>mwi-ethiopic</key>
    <string>mwi-ethiopic.glif</string>
    <key>mya-ethiopic</key>
    <string>mya-ethiopic.glif</string>
    <key>na-ethiopic</key>
    <string>na-ethiopic.glif</string>
    <key>naa-ethiopic</key>
    <string>naa-ethiopic.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ne-ethiopic</key>
    <string>ne-ethiopic.glif</string>
    <key>nee-ethiopic</key>
    <string>nee-ethiopic.glif</string>
    <key>ni-ethiopic</key>
    <string>ni-ethiopic.glif</string>
    <key>nine-ethiopic</key>
    <string>nine-ethiopic.glif</string>
    <key>nineFin-ethiopic</key>
    <string>nineF_in-ethiopic.glif</string>
    <key>nineIni-ethiopic</key>
    <string>nineI_ni-ethiopic.glif</string>
    <key>nineMed-ethiopic</key>
    <string>nineM_ed-ethiopic.glif</string>
    <key>nineform</key>
    <string>nineform.glif</string>
    <key>ninety-ethiopic</key>
    <string>ninety-ethiopic.glif</string>
    <key>ninetyFin-ethiopic</key>
    <string>ninetyF_in-ethiopic.glif</string>
    <key>ninetyIni-ethiopic</key>
    <string>ninetyI_ni-ethiopic.glif</string>
    <key>ninetyMed-ethiopic</key>
    <string>ninetyM_ed-ethiopic.glif</string>
    <key>ninetyform</key>
    <string>ninetyform.glif</string>
    <key>no-ethiopic</key>
    <string>no-ethiopic.glif</string>
    <key>noa-ethiopic</key>
    <string>noa-ethiopic.glif</string>
    <key>nose</key>
    <string>nose.glif</string>
    <key>nu-ethiopic</key>
    <string>nu-ethiopic.glif</string>
    <key>numeral</key>
    <string>numeral.glif</string>
    <key>numeral_fina</key>
    <string>numeral_fina.glif</string>
    <key>numeral_init</key>
    <string>numeral_init.glif</string>
    <key>numeral_medi</key>
    <string>numeral_medi.glif</string>
    <key>numeralnarrow</key>
    <string>numeralnarrow.glif</string>
    <key>nwa-ethiopic</key>
    <string>nwa-ethiopic.glif</string>
    <key>nya-ethiopic</key>
    <string>nya-ethiopic.glif</string>
    <key>nyaa-ethiopic</key>
    <string>nyaa-ethiopic.glif</string>
    <key>nye-ethiopic</key>
    <string>nye-ethiopic.glif</string>
    <key>nyee-ethiopic</key>
    <string>nyee-ethiopic.glif</string>
    <key>nyi-ethiopic</key>
    <string>nyi-ethiopic.glif</string>
    <key>nyo-ethiopic</key>
    <string>nyo-ethiopic.glif</string>
    <key>nyoa-ethiopic</key>
    <string>nyoa-ethiopic.glif</string>
    <key>nyu-ethiopic</key>
    <string>nyu-ethiopic.glif</string>
    <key>nywa-ethiopic</key>
    <string>nywa-ethiopic.glif</string>
    <key>oGlottal-ethiopic</key>
    <string>oG_lottal-ethiopic.glif</string>
    <key>oPharyngeal-ethiopic</key>
    <string>oP_haryngeal-ethiopic.glif</string>
    <key>oaGlottal-ethiopic</key>
    <string>oaG_lottal-ethiopic.glif</string>
    <key>one-ethiopic</key>
    <string>one-ethiopic.glif</string>
    <key>oneFin-ethiopic</key>
    <string>oneF_in-ethiopic.glif</string>
    <key>oneIni-ethiopic</key>
    <string>oneI_ni-ethiopic.glif</string>
    <key>oneMed-ethiopic</key>
    <string>oneM_ed-ethiopic.glif</string>
    <key>oneform</key>
    <string>oneform.glif</string>
    <key>pa-ethiopic</key>
    <string>pa-ethiopic.glif</string>
    <key>paa-ethiopic</key>
    <string>paa-ethiopic.glif</string>
    <key>paragraphseparator-ethiopic</key>
    <string>paragraphseparator-ethiopic.glif</string>
    <key>pe-ethiopic</key>
    <string>pe-ethiopic.glif</string>
    <key>pee-ethiopic</key>
    <string>pee-ethiopic.glif</string>
    <key>period-ethiopic</key>
    <string>period-ethiopic.glif</string>
    <key>pha-ethiopic</key>
    <string>pha-ethiopic.glif</string>
    <key>phaa-ethiopic</key>
    <string>phaa-ethiopic.glif</string>
    <key>phe-ethiopic</key>
    <string>phe-ethiopic.glif</string>
    <key>phee-ethiopic</key>
    <string>phee-ethiopic.glif</string>
    <key>phi-ethiopic</key>
    <string>phi-ethiopic.glif</string>
    <key>pho-ethiopic</key>
    <string>pho-ethiopic.glif</string>
    <key>phoa-ethiopic</key>
    <string>phoa-ethiopic.glif</string>
    <key>phu-ethiopic</key>
    <string>phu-ethiopic.glif</string>
    <key>phwa-ethiopic</key>
    <string>phwa-ethiopic.glif</string>
    <key>pi-ethiopic</key>
    <string>pi-ethiopic.glif</string>
    <key>po-ethiopic</key>
    <string>po-ethiopic.glif</string>
    <key>poa-ethiopic</key>
    <string>poa-ethiopic.glif</string>
    <key>prefacecolon-ethiopic</key>
    <string>prefacecolon-ethiopic.glif</string>
    <key>pu-ethiopic</key>
    <string>pu-ethiopic.glif</string>
    <key>pwa-ethiopic</key>
    <string>pwa-ethiopic.glif</string>
    <key>pwaSebatbeit-ethiopic</key>
    <string>pwaS_ebatbeit-ethiopic.glif</string>
    <key>pwe-ethiopic</key>
    <string>pwe-ethiopic.glif</string>
    <key>pwee-ethiopic</key>
    <string>pwee-ethiopic.glif</string>
    <key>pwi-ethiopic</key>
    <string>pwi-ethiopic.glif</string>
    <key>qa-ethiopic</key>
    <string>qa-ethiopic.glif</string>
    <key>qaa-ethiopic</key>
    <string>qaa-ethiopic.glif</string>
    <key>qe-ethiopic</key>
    <string>qe-ethiopic.glif</string>
    <key>qee-ethiopic</key>
    <string>qee-ethiopic.glif</string>
    <key>qha-ethiopic</key>
    <string>qha-ethiopic.glif</string>
    <key>qhaa-ethiopic</key>
    <string>qhaa-ethiopic.glif</string>
    <key>qhe-ethiopic</key>
    <string>qhe-ethiopic.glif</string>
    <key>qhee-ethiopic</key>
    <string>qhee-ethiopic.glif</string>
    <key>qhi-ethiopic</key>
    <string>qhi-ethiopic.glif</string>
    <key>qho-ethiopic</key>
    <string>qho-ethiopic.glif</string>
    <key>qhu-ethiopic</key>
    <string>qhu-ethiopic.glif</string>
    <key>qhwa-ethiopic</key>
    <string>qhwa-ethiopic.glif</string>
    <key>qhwaa-ethiopic</key>
    <string>qhwaa-ethiopic.glif</string>
    <key>qhwe-ethiopic</key>
    <string>qhwe-ethiopic.glif</string>
    <key>qhwee-ethiopic</key>
    <string>qhwee-ethiopic.glif</string>
    <key>qhwi-ethiopic</key>
    <string>qhwi-ethiopic.glif</string>
    <key>qi-ethiopic</key>
    <string>qi-ethiopic.glif</string>
    <key>qo-ethiopic</key>
    <string>qo-ethiopic.glif</string>
    <key>qoa-ethiopic</key>
    <string>qoa-ethiopic.glif</string>
    <key>qu-ethiopic</key>
    <string>qu-ethiopic.glif</string>
    <key>question-ethiopic</key>
    <string>question-ethiopic.glif</string>
    <key>qwa-ethiopic</key>
    <string>qwa-ethiopic.glif</string>
    <key>qwaa-ethiopic</key>
    <string>qwaa-ethiopic.glif</string>
    <key>qwe-ethiopic</key>
    <string>qwe-ethiopic.glif</string>
    <key>qwee-ethiopic</key>
    <string>qwee-ethiopic.glif</string>
    <key>qwi-ethiopic</key>
    <string>qwi-ethiopic.glif</string>
    <key>qya-ethiopic</key>
    <string>qya-ethiopic.glif</string>
    <key>qyaa-ethiopic</key>
    <string>qyaa-ethiopic.glif</string>
    <key>qye-ethiopic</key>
    <string>qye-ethiopic.glif</string>
    <key>qyee-ethiopic</key>
    <string>qyee-ethiopic.glif</string>
    <key>qyi-ethiopic</key>
    <string>qyi-ethiopic.glif</string>
    <key>qyo-ethiopic</key>
    <string>qyo-ethiopic.glif</string>
    <key>qyu-ethiopic</key>
    <string>qyu-ethiopic.glif</string>
    <key>ra-ethiopic</key>
    <string>ra-ethiopic.glif</string>
    <key>raa-ethiopic</key>
    <string>raa-ethiopic.glif</string>
    <key>re-ethiopic</key>
    <string>re-ethiopic.glif</string>
    <key>ree-ethiopic</key>
    <string>ree-ethiopic.glif</string>
    <key>ri-ethiopic</key>
    <string>ri-ethiopic.glif</string>
    <key>rightbulb</key>
    <string>rightbulb.glif</string>
    <key>rightbulbsmall</key>
    <string>rightbulbsmall.glif</string>
    <key>rightdoubleflag</key>
    <string>rightdoubleflag.glif</string>
    <key>rightsingleflag</key>
    <string>rightsingleflag.glif</string>
    <key>rikrik-ethiopic</key>
    <string>rikrik-ethiopic.glif</string>
    <key>ro-ethiopic</key>
    <string>ro-ethiopic.glif</string>
    <key>roa-ethiopic</key>
    <string>roa-ethiopic.glif</string>
    <key>ru-ethiopic</key>
    <string>ru-ethiopic.glif</string>
    <key>rwa-ethiopic</key>
    <string>rwa-ethiopic.glif</string>
    <key>rya-ethiopic</key>
    <string>rya-ethiopic.glif</string>
    <key>sa-ethiopic</key>
    <string>sa-ethiopic.glif</string>
    <key>saa-ethiopic</key>
    <string>saa-ethiopic.glif</string>
    <key>se-ethiopic</key>
    <string>se-ethiopic.glif</string>
    <key>sectionmark-ethiopic</key>
    <string>sectionmark-ethiopic.glif</string>
    <key>see-ethiopic</key>
    <string>see-ethiopic.glif</string>
    <key>semicolon-ethiopic</key>
    <string>semicolon-ethiopic.glif</string>
    <key>seven-ethiopic</key>
    <string>seven-ethiopic.glif</string>
    <key>sevenFin-ethiopic</key>
    <string>sevenF_in-ethiopic.glif</string>
    <key>sevenIni-ethiopic</key>
    <string>sevenI_ni-ethiopic.glif</string>
    <key>sevenMed-ethiopic</key>
    <string>sevenM_ed-ethiopic.glif</string>
    <key>sevenform</key>
    <string>sevenform.glif</string>
    <key>seventy-ethiopic</key>
    <string>seventy-ethiopic.glif</string>
    <key>seventyFin-ethiopic</key>
    <string>seventyF_in-ethiopic.glif</string>
    <key>seventyIni-ethiopic</key>
    <string>seventyI_ni-ethiopic.glif</string>
    <key>seventyMed-ethiopic</key>
    <string>seventyM_ed-ethiopic.glif</string>
    <key>seventyform</key>
    <string>seventyform.glif</string>
    <key>sha-ethiopic</key>
    <string>sha-ethiopic.glif</string>
    <key>shaa-ethiopic</key>
    <string>shaa-ethiopic.glif</string>
    <key>she-ethiopic</key>
    <string>she-ethiopic.glif</string>
    <key>shee-ethiopic</key>
    <string>shee-ethiopic.glif</string>
    <key>shi-ethiopic</key>
    <string>shi-ethiopic.glif</string>
    <key>sho-ethiopic</key>
    <string>sho-ethiopic.glif</string>
    <key>shoa-ethiopic</key>
    <string>shoa-ethiopic.glif</string>
    <key>shortRikrik-ethiopic</key>
    <string>shortR_ikrik-ethiopic.glif</string>
    <key>shortnarch</key>
    <string>shortnarch.glif</string>
    <key>shorttoploops</key>
    <string>shorttoploops.glif</string>
    <key>shu-ethiopic</key>
    <string>shu-ethiopic.glif</string>
    <key>shwa-ethiopic</key>
    <string>shwa-ethiopic.glif</string>
    <key>si-ethiopic</key>
    <string>si-ethiopic.glif</string>
    <key>six-ethiopic</key>
    <string>six-ethiopic.glif</string>
    <key>sixFin-ethiopic</key>
    <string>sixF_in-ethiopic.glif</string>
    <key>sixIni-ethiopic</key>
    <string>sixI_ni-ethiopic.glif</string>
    <key>sixMed-ethiopic</key>
    <string>sixM_ed-ethiopic.glif</string>
    <key>sixform</key>
    <string>sixform.glif</string>
    <key>sixty-ethiopic</key>
    <string>sixty-ethiopic.glif</string>
    <key>sixtyFin-ethiopic</key>
    <string>sixtyF_in-ethiopic.glif</string>
    <key>sixtyIni-ethiopic</key>
    <string>sixtyI_ni-ethiopic.glif</string>
    <key>sixtyMed-ethiopic</key>
    <string>sixtyM_ed-ethiopic.glif</string>
    <key>sixtyform</key>
    <string>sixtyform.glif</string>
    <key>so-ethiopic</key>
    <string>so-ethiopic.glif</string>
    <key>soa-ethiopic</key>
    <string>soa-ethiopic.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssa-ethiopic</key>
    <string>ssa-ethiopic.glif</string>
    <key>ssaa-ethiopic</key>
    <string>ssaa-ethiopic.glif</string>
    <key>sse-ethiopic</key>
    <string>sse-ethiopic.glif</string>
    <key>ssee-ethiopic</key>
    <string>ssee-ethiopic.glif</string>
    <key>ssi-ethiopic</key>
    <string>ssi-ethiopic.glif</string>
    <key>sso-ethiopic</key>
    <string>sso-ethiopic.glif</string>
    <key>ssu-ethiopic</key>
    <string>ssu-ethiopic.glif</string>
    <key>stem1</key>
    <string>stem1.glif</string>
    <key>su-ethiopic</key>
    <string>su-ethiopic.glif</string>
    <key>swa-ethiopic</key>
    <string>swa-ethiopic.glif</string>
    <key>sza-ethiopic</key>
    <string>sza-ethiopic.glif</string>
    <key>szaa-ethiopic</key>
    <string>szaa-ethiopic.glif</string>
    <key>sze-ethiopic</key>
    <string>sze-ethiopic.glif</string>
    <key>szee-ethiopic</key>
    <string>szee-ethiopic.glif</string>
    <key>szi-ethiopic</key>
    <string>szi-ethiopic.glif</string>
    <key>szo-ethiopic</key>
    <string>szo-ethiopic.glif</string>
    <key>szu-ethiopic</key>
    <string>szu-ethiopic.glif</string>
    <key>szwa-ethiopic</key>
    <string>szwa-ethiopic.glif</string>
    <key>ta-ethiopic</key>
    <string>ta-ethiopic.glif</string>
    <key>taa-ethiopic</key>
    <string>taa-ethiopic.glif</string>
    <key>te-ethiopic</key>
    <string>te-ethiopic.glif</string>
    <key>tee-ethiopic</key>
    <string>tee-ethiopic.glif</string>
    <key>ten-ethiopic</key>
    <string>ten-ethiopic.glif</string>
    <key>tenFin-ethiopic</key>
    <string>tenF_in-ethiopic.glif</string>
    <key>tenIni-ethiopic</key>
    <string>tenI_ni-ethiopic.glif</string>
    <key>tenMed-ethiopic</key>
    <string>tenM_ed-ethiopic.glif</string>
    <key>tenform</key>
    <string>tenform.glif</string>
    <key>tenthousand-ethiopic</key>
    <string>tenthousand-ethiopic.glif</string>
    <key>tenthousandFin-ethiopic</key>
    <string>tenthousandF_in-ethiopic.glif</string>
    <key>tenthousandIni-ethiopic</key>
    <string>tenthousandI_ni-ethiopic.glif</string>
    <key>tenthousandMed-ethiopic</key>
    <string>tenthousandM_ed-ethiopic.glif</string>
    <key>tenthousandform</key>
    <string>tenthousandform.glif</string>
    <key>tha-ethiopic</key>
    <string>tha-ethiopic.glif</string>
    <key>thaa-ethiopic</key>
    <string>thaa-ethiopic.glif</string>
    <key>the-ethiopic</key>
    <string>the-ethiopic.glif</string>
    <key>thee-ethiopic</key>
    <string>thee-ethiopic.glif</string>
    <key>thi-ethiopic</key>
    <string>thi-ethiopic.glif</string>
    <key>thirty-ethiopic</key>
    <string>thirty-ethiopic.glif</string>
    <key>thirtyFin-ethiopic</key>
    <string>thirtyF_in-ethiopic.glif</string>
    <key>thirtyIni-ethiopic</key>
    <string>thirtyI_ni-ethiopic.glif</string>
    <key>thirtyMed-ethiopic</key>
    <string>thirtyM_ed-ethiopic.glif</string>
    <key>thirtyform</key>
    <string>thirtyform.glif</string>
    <key>tho-ethiopic</key>
    <string>tho-ethiopic.glif</string>
    <key>thoa-ethiopic</key>
    <string>thoa-ethiopic.glif</string>
    <key>three-ethiopic</key>
    <string>three-ethiopic.glif</string>
    <key>threeFin-ethiopic</key>
    <string>threeF_in-ethiopic.glif</string>
    <key>threeIni-ethiopic</key>
    <string>threeI_ni-ethiopic.glif</string>
    <key>threeMed-ethiopic</key>
    <string>threeM_ed-ethiopic.glif</string>
    <key>threeform</key>
    <string>threeform.glif</string>
    <key>thu-ethiopic</key>
    <string>thu-ethiopic.glif</string>
    <key>thwa-ethiopic</key>
    <string>thwa-ethiopic.glif</string>
    <key>ti-ethiopic</key>
    <string>ti-ethiopic.glif</string>
    <key>to-ethiopic</key>
    <string>to-ethiopic.glif</string>
    <key>toa-ethiopic</key>
    <string>toa-ethiopic.glif</string>
    <key>topball</key>
    <string>topball.glif</string>
    <key>tsa-ethiopic</key>
    <string>tsa-ethiopic.glif</string>
    <key>tsaa-ethiopic</key>
    <string>tsaa-ethiopic.glif</string>
    <key>tse-ethiopic</key>
    <string>tse-ethiopic.glif</string>
    <key>tsee-ethiopic</key>
    <string>tsee-ethiopic.glif</string>
    <key>tsi-ethiopic</key>
    <string>tsi-ethiopic.glif</string>
    <key>tso-ethiopic</key>
    <string>tso-ethiopic.glif</string>
    <key>tsu-ethiopic</key>
    <string>tsu-ethiopic.glif</string>
    <key>tswa-ethiopic</key>
    <string>tswa-ethiopic.glif</string>
    <key>tthaa-ethiopic</key>
    <string>tthaa-ethiopic.glif</string>
    <key>tthe-ethiopic</key>
    <string>tthe-ethiopic.glif</string>
    <key>tthee-ethiopic</key>
    <string>tthee-ethiopic.glif</string>
    <key>tthi-ethiopic</key>
    <string>tthi-ethiopic.glif</string>
    <key>ttho-ethiopic</key>
    <string>ttho-ethiopic.glif</string>
    <key>tthu-ethiopic</key>
    <string>tthu-ethiopic.glif</string>
    <key>tu-ethiopic</key>
    <string>tu-ethiopic.glif</string>
    <key>twa-ethiopic</key>
    <string>twa-ethiopic.glif</string>
    <key>twenty-ethiopic</key>
    <string>twenty-ethiopic.glif</string>
    <key>twentyFin-ethiopic</key>
    <string>twentyF_in-ethiopic.glif</string>
    <key>twentyIni-ethiopic</key>
    <string>twentyI_ni-ethiopic.glif</string>
    <key>twentyMed-ethiopic</key>
    <string>twentyM_ed-ethiopic.glif</string>
    <key>twentyform</key>
    <string>twentyform.glif</string>
    <key>two-ethiopic</key>
    <string>two-ethiopic.glif</string>
    <key>twoFin-ethiopic</key>
    <string>twoF_in-ethiopic.glif</string>
    <key>twoIni-ethiopic</key>
    <string>twoI_ni-ethiopic.glif</string>
    <key>twoMed-ethiopic</key>
    <string>twoM_ed-ethiopic.glif</string>
    <key>twoform</key>
    <string>twoform.glif</string>
    <key>tza-ethiopic</key>
    <string>tza-ethiopic.glif</string>
    <key>tzaa-ethiopic</key>
    <string>tzaa-ethiopic.glif</string>
    <key>tze-ethiopic</key>
    <string>tze-ethiopic.glif</string>
    <key>tzee-ethiopic</key>
    <string>tzee-ethiopic.glif</string>
    <key>tzi-ethiopic</key>
    <string>tzi-ethiopic.glif</string>
    <key>tzo-ethiopic</key>
    <string>tzo-ethiopic.glif</string>
    <key>tzoa-ethiopic</key>
    <string>tzoa-ethiopic.glif</string>
    <key>tzu-ethiopic</key>
    <string>tzu-ethiopic.glif</string>
    <key>uGlottal-ethiopic</key>
    <string>uG_lottal-ethiopic.glif</string>
    <key>uPharyngeal-ethiopic</key>
    <string>uP_haryngeal-ethiopic.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>upperloop</key>
    <string>upperloop.glif</string>
    <key>upperloopsmall</key>
    <string>upperloopsmall.glif</string>
    <key>va-ethiopic</key>
    <string>va-ethiopic.glif</string>
    <key>vaa-ethiopic</key>
    <string>vaa-ethiopic.glif</string>
    <key>ve-ethiopic</key>
    <string>ve-ethiopic.glif</string>
    <key>vee-ethiopic</key>
    <string>vee-ethiopic.glif</string>
    <key>vi-ethiopic</key>
    <string>vi-ethiopic.glif</string>
    <key>vo-ethiopic</key>
    <string>vo-ethiopic.glif</string>
    <key>vowellengthcomb-ethiopic</key>
    <string>vowellengthcomb-ethiopic.glif</string>
    <key>vu-ethiopic</key>
    <string>vu-ethiopic.glif</string>
    <key>vwa-ethiopic</key>
    <string>vwa-ethiopic.glif</string>
    <key>wa-ethiopic</key>
    <string>wa-ethiopic.glif</string>
    <key>waGlottal-ethiopic</key>
    <string>waG_lottal-ethiopic.glif</string>
    <key>waa-ethiopic</key>
    <string>waa-ethiopic.glif</string>
    <key>watertap</key>
    <string>watertap.glif</string>
    <key>we-ethiopic</key>
    <string>we-ethiopic.glif</string>
    <key>wee-ethiopic</key>
    <string>wee-ethiopic.glif</string>
    <key>whatnot</key>
    <string>whatnot.glif</string>
    <key>whatnotflat</key>
    <string>whatnotflat.glif</string>
    <key>wi-ethiopic</key>
    <string>wi-ethiopic.glif</string>
    <key>winghat</key>
    <string>winghat.glif</string>
    <key>winghatshort</key>
    <string>winghatshort.glif</string>
    <key>wo-ethiopic</key>
    <string>wo-ethiopic.glif</string>
    <key>woa-ethiopic</key>
    <string>woa-ethiopic.glif</string>
    <key>wordspace-ethiopic</key>
    <string>wordspace-ethiopic.glif</string>
    <key>wu-ethiopic</key>
    <string>wu-ethiopic.glif</string>
    <key>xa-ethiopic</key>
    <string>xa-ethiopic.glif</string>
    <key>xaa-ethiopic</key>
    <string>xaa-ethiopic.glif</string>
    <key>xe-ethiopic</key>
    <string>xe-ethiopic.glif</string>
    <key>xee-ethiopic</key>
    <string>xee-ethiopic.glif</string>
    <key>xi-ethiopic</key>
    <string>xi-ethiopic.glif</string>
    <key>xo-ethiopic</key>
    <string>xo-ethiopic.glif</string>
    <key>xoa-ethiopic</key>
    <string>xoa-ethiopic.glif</string>
    <key>xu-ethiopic</key>
    <string>xu-ethiopic.glif</string>
    <key>xwa-ethiopic</key>
    <string>xwa-ethiopic.glif</string>
    <key>xwaa-ethiopic</key>
    <string>xwaa-ethiopic.glif</string>
    <key>xwe-ethiopic</key>
    <string>xwe-ethiopic.glif</string>
    <key>xwee-ethiopic</key>
    <string>xwee-ethiopic.glif</string>
    <key>xwi-ethiopic</key>
    <string>xwi-ethiopic.glif</string>
    <key>xya-ethiopic</key>
    <string>xya-ethiopic.glif</string>
    <key>xyaa-ethiopic</key>
    <string>xyaa-ethiopic.glif</string>
    <key>xye-ethiopic</key>
    <string>xye-ethiopic.glif</string>
    <key>xyee-ethiopic</key>
    <string>xyee-ethiopic.glif</string>
    <key>xyi-ethiopic</key>
    <string>xyi-ethiopic.glif</string>
    <key>xyo-ethiopic</key>
    <string>xyo-ethiopic.glif</string>
    <key>xyu-ethiopic</key>
    <string>xyu-ethiopic.glif</string>
    <key>ya-ethiopic</key>
    <string>ya-ethiopic.glif</string>
    <key>yaa-ethiopic</key>
    <string>yaa-ethiopic.glif</string>
    <key>ye-ethiopic</key>
    <string>ye-ethiopic.glif</string>
    <key>yee-ethiopic</key>
    <string>yee-ethiopic.glif</string>
    <key>yi-ethiopic</key>
    <string>yi-ethiopic.glif</string>
    <key>yizet-ethiopic</key>
    <string>yizet-ethiopic.glif</string>
    <key>yo-ethiopic</key>
    <string>yo-ethiopic.glif</string>
    <key>yoa-ethiopic</key>
    <string>yoa-ethiopic.glif</string>
    <key>yu-ethiopic</key>
    <string>yu-ethiopic.glif</string>
    <key>za-ethiopic</key>
    <string>za-ethiopic.glif</string>
    <key>zaa-ethiopic</key>
    <string>zaa-ethiopic.glif</string>
    <key>ze-ethiopic</key>
    <string>ze-ethiopic.glif</string>
    <key>zee-ethiopic</key>
    <string>zee-ethiopic.glif</string>
    <key>zha-ethiopic</key>
    <string>zha-ethiopic.glif</string>
    <key>zhaa-ethiopic</key>
    <string>zhaa-ethiopic.glif</string>
    <key>zhe-ethiopic</key>
    <string>zhe-ethiopic.glif</string>
    <key>zhee-ethiopic</key>
    <string>zhee-ethiopic.glif</string>
    <key>zhi-ethiopic</key>
    <string>zhi-ethiopic.glif</string>
    <key>zho-ethiopic</key>
    <string>zho-ethiopic.glif</string>
    <key>zhu-ethiopic</key>
    <string>zhu-ethiopic.glif</string>
    <key>zhwa-ethiopic</key>
    <string>zhwa-ethiopic.glif</string>
    <key>zi-ethiopic</key>
    <string>zi-ethiopic.glif</string>
    <key>zo-ethiopic</key>
    <string>zo-ethiopic.glif</string>
    <key>zoa-ethiopic</key>
    <string>zoa-ethiopic.glif</string>
    <key>zu-ethiopic</key>
    <string>zu-ethiopic.glif</string>
    <key>zwa-ethiopic</key>
    <string>zwa-ethiopic.glif</string>
    <key>zza-ethiopic</key>
    <string>zza-ethiopic.glif</string>
    <key>zzaa-ethiopic</key>
    <string>zzaa-ethiopic.glif</string>
    <key>zze-ethiopic</key>
    <string>zze-ethiopic.glif</string>
    <key>zzee-ethiopic</key>
    <string>zzee-ethiopic.glif</string>
    <key>zzi-ethiopic</key>
    <string>zzi-ethiopic.glif</string>
    <key>zzo-ethiopic</key>
    <string>zzo-ethiopic.glif</string>
    <key>zzu-ethiopic</key>
    <string>zzu-ethiopic.glif</string>
  </dict>
</plist>
