<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jul 5 19, 13:10</string>
      <string>glyphs.J_ul 5 19, 13_10</string>
    </array>
    <array>
      <string>Jan 6 17, 15:47</string>
      <string>glyphs.J_an 6 17, 15_47</string>
    </array>
    <array>
      <string>Jan 6 17, 15:47.background</string>
      <string>glyphs.J_an 6 17, 15_47.background</string>
    </array>
    <array>
      <string>Jan 26 17, 21:03</string>
      <string>glyphs.J_an 26 17, 21_03</string>
    </array>
    <array>
      <string>Jan 26 17, 21:03.background</string>
      <string>glyphs.J_an 26 17, 21_03.background</string>
    </array>
    <array>
      <string>Feb 4 17, 12:13</string>
      <string>glyphs.F_eb 4 17, 12_13</string>
    </array>
    <array>
      <string>Feb 4 17, 12:13.background</string>
      <string>glyphs.F_eb 4 17, 12_13.background</string>
    </array>
    <array>
      <string>Feb 10 17, 17:14</string>
      <string>glyphs.F_eb 10 17, 17_14</string>
    </array>
    <array>
      <string>Feb 10 17, 17:22</string>
      <string>glyphs.F_eb 10 17, 17_22</string>
    </array>
    <array>
      <string>Jan 20 17, 14:10</string>
      <string>glyphs.J_an 20 17, 14_10</string>
    </array>
    <array>
      <string>Jan 20 17, 14:10.background</string>
      <string>glyphs.J_an 20 17, 14_10.background</string>
    </array>
  </array>
</plist>
