<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>a_zanb</key>
    <string>a_zanb.glif</string>
    <key>a_zanb.sub</key>
    <string>a_zanb.sub.glif</string>
    <key>aa_zanb</key>
    <string>aa_zanb.glif</string>
    <key>aa_zanb.sub</key>
    <string>aa_zanb.sub.glif</string>
    <key>ai_zanb</key>
    <string>ai_zanb.glif</string>
    <key>anusvara_zanb</key>
    <string>anusvara_zanb.glif</string>
    <key>au_zanb</key>
    <string>au_zanb.glif</string>
    <key>ba_zanb</key>
    <string>ba_zanb.glif</string>
    <key>ba_zanb.short</key>
    <string>ba_zanb.short.glif</string>
    <key>ba_zanb.sub</key>
    <string>ba_zanb.sub.glif</string>
    <key>bha_zanb</key>
    <string>bha_zanb.glif</string>
    <key>bha_zanb.sub</key>
    <string>bha_zanb.sub.glif</string>
    <key>ca_zanb</key>
    <string>ca_zanb.glif</string>
    <key>ca_zanb.short</key>
    <string>ca_zanb.short.glif</string>
    <key>ca_zanb.sub</key>
    <string>ca_zanb.sub.glif</string>
    <key>candraWithOrnament_zanb</key>
    <string>candraW_ithO_rnament_zanb.glif</string>
    <key>candrabinduWithOrnament_zanb</key>
    <string>candrabinduW_ithO_rnament_zanb.glif</string>
    <key>candrabindu_zanb</key>
    <string>candrabindu_zanb.glif</string>
    <key>cha_zanb</key>
    <string>cha_zanb.glif</string>
    <key>cha_zanb.sub</key>
    <string>cha_zanb.sub.glif</string>
    <key>closingHeadMark_zanb</key>
    <string>closingH_eadM_ark_zanb.glif</string>
    <key>da_zanb</key>
    <string>da_zanb.glif</string>
    <key>da_zanb.short</key>
    <string>da_zanb.short.glif</string>
    <key>da_zanb.sub</key>
    <string>da_zanb.sub.glif</string>
    <key>dda_zanb</key>
    <string>dda_zanb.glif</string>
    <key>dda_zanb.sub</key>
    <string>dda_zanb.sub.glif</string>
    <key>ddha_zanb</key>
    <string>ddha_zanb.glif</string>
    <key>ddha_zanb.sub</key>
    <string>ddha_zanb.sub.glif</string>
    <key>dha_zanb</key>
    <string>dha_zanb.glif</string>
    <key>dha_zanb.sub</key>
    <string>dha_zanb.sub.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>doubleShad_zanb</key>
    <string>doubleS_had_zanb.glif</string>
    <key>dza_zanb</key>
    <string>dza_zanb.glif</string>
    <key>dza_zanb.flat</key>
    <string>dza_zanb.flat.glif</string>
    <key>dza_zanb.short</key>
    <string>dza_zanb.short.glif</string>
    <key>dza_zanb.sub</key>
    <string>dza_zanb.sub.glif</string>
    <key>dzha_zanb</key>
    <string>dzha_zanb.glif</string>
    <key>dzha_zanb.flat</key>
    <string>dzha_zanb.flat.glif</string>
    <key>dzha_zanb.sub</key>
    <string>dzha_zanb.sub.glif</string>
    <key>e_zanb</key>
    <string>e_zanb.glif</string>
    <key>e_zanb.ai</key>
    <string>e_zanb.ai.glif</string>
    <key>e_zanb.wide</key>
    <string>e_zanb.wide.glif</string>
    <key>e_zanb.wide.ai</key>
    <string>e_zanb.wide.ai.glif</string>
    <key>finalConsonantMark_zanb</key>
    <string>finalC_onsonantM_ark_zanb.glif</string>
    <key>finalDoubleHeadMark_zanb</key>
    <string>finalD_oubleH_eadM_ark_zanb.glif</string>
    <key>finalLa_zanb</key>
    <string>finalL_a_zanb.glif</string>
    <key>finalRa_zanb</key>
    <string>finalR_a_zanb.glif</string>
    <key>finalVa_zanb</key>
    <string>finalV_a_zanb.glif</string>
    <key>finalVa_zanb.stem</key>
    <string>finalV_a_zanb.stem.glif</string>
    <key>finalYa_zanb</key>
    <string>finalY_a_zanb.glif</string>
    <key>ga_zanb</key>
    <string>ga_zanb.glif</string>
    <key>ga_zanb.short</key>
    <string>ga_zanb.short.glif</string>
    <key>ga_zanb.sub</key>
    <string>ga_zanb.sub.glif</string>
    <key>gha_zanb</key>
    <string>gha_zanb.glif</string>
    <key>gha_zanb.sub</key>
    <string>gha_zanb.sub.glif</string>
    <key>ha_zanb</key>
    <string>ha_zanb.glif</string>
    <key>ha_zanb.short</key>
    <string>ha_zanb.short.glif</string>
    <key>ha_zanb.sub</key>
    <string>ha_zanb.sub.glif</string>
    <key>i_zanb</key>
    <string>i_zanb.glif</string>
    <key>i_zanb.wide</key>
    <string>i_zanb.wide.glif</string>
    <key>initialDoubleHeadMark_zanb</key>
    <string>initialD_oubleH_eadM_ark_zanb.glif</string>
    <key>initialHeadMark_zanb</key>
    <string>initialH_eadM_ark_zanb.glif</string>
    <key>initialRa_zanb</key>
    <string>initialR_a_zanb.glif</string>
    <key>ja_zanb</key>
    <string>ja_zanb.glif</string>
    <key>ja_zanb.short</key>
    <string>ja_zanb.short.glif</string>
    <key>ja_zanb.sub</key>
    <string>ja_zanb.sub.glif</string>
    <key>ka_zanb</key>
    <string>ka_zanb.glif</string>
    <key>ka_zanb.short</key>
    <string>ka_zanb.short.glif</string>
    <key>ka_zanb.sub</key>
    <string>ka_zanb.sub.glif</string>
    <key>kha_zanb</key>
    <string>kha_zanb.glif</string>
    <key>kha_zanb.sub</key>
    <string>kha_zanb.sub.glif</string>
    <key>kssa_zanb</key>
    <string>kssa_zanb.glif</string>
    <key>kssa_zanb.sub</key>
    <string>kssa_zanb.sub.glif</string>
    <key>la_zanb</key>
    <string>la_zanb.glif</string>
    <key>la_zanb.head</key>
    <string>la_zanb.head.glif</string>
    <key>la_zanb.sub</key>
    <string>la_zanb.sub.glif</string>
    <key>lengthMark_zanb</key>
    <string>lengthM_ark_zanb.glif</string>
    <key>longTsheg_zanb</key>
    <string>longT_sheg_zanb.glif</string>
    <key>ma_zanb</key>
    <string>ma_zanb.glif</string>
    <key>ma_zanb.short</key>
    <string>ma_zanb.short.glif</string>
    <key>ma_zanb.sub</key>
    <string>ma_zanb.sub.glif</string>
    <key>na_zanb</key>
    <string>na_zanb.glif</string>
    <key>na_zanb.short</key>
    <string>na_zanb.short.glif</string>
    <key>na_zanb.sub</key>
    <string>na_zanb.sub.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nga_zanb</key>
    <string>nga_zanb.glif</string>
    <key>nga_zanb.short</key>
    <string>nga_zanb.short.glif</string>
    <key>nga_zanb.sub</key>
    <string>nga_zanb.sub.glif</string>
    <key>nna_zanb</key>
    <string>nna_zanb.glif</string>
    <key>nna_zanb.sub</key>
    <string>nna_zanb.sub.glif</string>
    <key>nya_zanb</key>
    <string>nya_zanb.glif</string>
    <key>nya_zanb.short</key>
    <string>nya_zanb.short.glif</string>
    <key>nya_zanb.sub</key>
    <string>nya_zanb.sub.glif</string>
    <key>o_zanb</key>
    <string>o_zanb.glif</string>
    <key>o_zanb.ai</key>
    <string>o_zanb.ai.glif</string>
    <key>o_zanb.au</key>
    <string>o_zanb.au.glif</string>
    <key>o_zanb.wide</key>
    <string>o_zanb.wide.glif</string>
    <key>o_zanb.wide.ai</key>
    <string>o_zanb.wide.ai.glif</string>
    <key>o_zanb.wide.au</key>
    <string>o_zanb.wide.au.glif</string>
    <key>oe_zanb</key>
    <string>oe_zanb.glif</string>
    <key>oe_zanb.wide</key>
    <string>oe_zanb.wide.glif</string>
    <key>pa_zanb</key>
    <string>pa_zanb.glif</string>
    <key>pa_zanb.short</key>
    <string>pa_zanb.short.glif</string>
    <key>pa_zanb.sub</key>
    <string>pa_zanb.sub.glif</string>
    <key>pha_zanb</key>
    <string>pha_zanb.glif</string>
    <key>pha_zanb.sub</key>
    <string>pha_zanb.sub.glif</string>
    <key>ra_zanb</key>
    <string>ra_zanb.glif</string>
    <key>ra_zanb.sub</key>
    <string>ra_zanb.sub.glif</string>
    <key>reversed_i_zanb</key>
    <string>reversed_i_zanb.glif</string>
    <key>reversed_i_zanb.wide</key>
    <string>reversed_i_zanb.wide.glif</string>
    <key>sa_zanb</key>
    <string>sa_zanb.glif</string>
    <key>sa_zanb.head</key>
    <string>sa_zanb.head.glif</string>
    <key>sa_zanb.sub</key>
    <string>sa_zanb.sub.glif</string>
    <key>sha_zanb</key>
    <string>sha_zanb.glif</string>
    <key>sha_zanb.sub</key>
    <string>sha_zanb.sub.glif</string>
    <key>shad_zanb</key>
    <string>shad_zanb.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssa_zanb</key>
    <string>ssa_zanb.glif</string>
    <key>ssa_zanb.sub</key>
    <string>ssa_zanb.sub.glif</string>
    <key>subjoiner_zanb</key>
    <string>subjoiner_zanb.glif</string>
    <key>ta_zanb</key>
    <string>ta_zanb.glif</string>
    <key>ta_zanb.short</key>
    <string>ta_zanb.short.glif</string>
    <key>ta_zanb.sub</key>
    <string>ta_zanb.sub.glif</string>
    <key>tha_zanb</key>
    <string>tha_zanb.glif</string>
    <key>tha_zanb.sub</key>
    <string>tha_zanb.sub.glif</string>
    <key>tsa_zanb</key>
    <string>tsa_zanb.glif</string>
    <key>tsa_zanb.flat</key>
    <string>tsa_zanb.flat.glif</string>
    <key>tsa_zanb.short</key>
    <string>tsa_zanb.short.glif</string>
    <key>tsa_zanb.sub</key>
    <string>tsa_zanb.sub.glif</string>
    <key>tsha_zanb</key>
    <string>tsha_zanb.glif</string>
    <key>tsha_zanb.flat</key>
    <string>tsha_zanb.flat.glif</string>
    <key>tsha_zanb.sub</key>
    <string>tsha_zanb.sub.glif</string>
    <key>tsheg_zanb</key>
    <string>tsheg_zanb.glif</string>
    <key>tta_zanb</key>
    <string>tta_zanb.glif</string>
    <key>tta_zanb.sub</key>
    <string>tta_zanb.sub.glif</string>
    <key>ttha_zanb</key>
    <string>ttha_zanb.glif</string>
    <key>ttha_zanb.sub</key>
    <string>ttha_zanb.sub.glif</string>
    <key>u_zanb</key>
    <string>u_zanb.glif</string>
    <key>u_zanb.wide</key>
    <string>u_zanb.wide.glif</string>
    <key>ue_zanb</key>
    <string>ue_zanb.glif</string>
    <key>ue_zanb.wide</key>
    <string>ue_zanb.wide.glif</string>
    <key>va_zanb</key>
    <string>va_zanb.glif</string>
    <key>va_zanb.sub</key>
    <string>va_zanb.sub.glif</string>
    <key>virama_zanb</key>
    <string>virama_zanb.glif</string>
    <key>visarga_zanb</key>
    <string>visarga_zanb.glif</string>
    <key>ya_zanb</key>
    <string>ya_zanb.glif</string>
    <key>ya_zanb.sub</key>
    <string>ya_zanb.sub.glif</string>
    <key>za_zanb</key>
    <string>za_zanb.glif</string>
    <key>za_zanb.sub</key>
    <string>za_zanb.sub.glif</string>
    <key>zha_zanb</key>
    <string>zha_zanb.glif</string>
    <key>zha_zanb.sub</key>
    <string>zha_zanb.sub.glif</string>
  </dict>
</plist>
