<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.bnmE</key>
    <array>
      <string>eMatra-beng</string>
      <string>eMatra-beng.init</string>
      <string>aiMatra-beng</string>
    </array>
    <key>public.kern1.bnmE.init</key>
    <array>
      <string>aiMatra-beng.init</string>
    </array>
    <key>public.kern2.above_N</key>
    <array>
      <string>nn_tta-beng</string>
      <string>nn_tt_ra-beng</string>
      <string>nn_ttha-beng</string>
      <string>nn_ddha-beng</string>
      <string>nn_na-beng</string>
      <string>nn_ma-beng</string>
      <string>n_ba-beng</string>
      <string>n_tta-beng</string>
      <string>n_tt_ra-beng</string>
      <string>n_ttha-beng</string>
      <string>n_d_ba-beng</string>
      <string>n_da-beng</string>
      <string>n_dha-beng</string>
      <string>n_ma-beng</string>
      <string>n_sa-beng</string>
      <string>nn_tta_iiMatra-beng</string>
      <string>nn_tt_ra_iiMatra-beng</string>
      <string>n_tta_iiMatra-beng</string>
      <string>n_tt_ra_iiMatra-beng</string>
      <string>nn_ttha_iiMatra-beng</string>
      <string>n_ttha_iiMatra-beng</string>
      <string>nn_tta_auLength-beng</string>
      <string>nn_tt_ra_auLength-beng</string>
      <string>n_tta_auLength-beng</string>
      <string>n_tt_ra_auLength-beng</string>
    </array>
    <key>public.kern2.b_ra</key>
    <array>
      <string>ng_k_ra-beng</string>
      <string>j_ny_ra-beng</string>
      <string>jh_ra-beng</string>
      <string>b_ra-beng</string>
      <string>b_ra_uMatra-beng</string>
      <string>b_ra_uuMatra-beng</string>
      <string>ramiddlediagonalhalf_ra-beng</string>
      <string>ralowerdiagonalhalf_ra-beng</string>
    </array>
    <key>public.kern2.bnBA</key>
    <array>
      <string>ka-beng</string>
      <string>jha-beng</string>
      <string>dha-beng</string>
      <string>ba-beng</string>
      <string>ra-beng</string>
      <string>k_ka-beng</string>
      <string>k_tta-beng</string>
      <string>k_ba-beng</string>
      <string>k_ma-beng</string>
      <string>k_sa-beng</string>
      <string>dh_ba-beng</string>
      <string>dh_ma-beng</string>
      <string>b_ba-beng</string>
      <string>b_da-beng</string>
      <string>ra_uMatra-beng</string>
      <string>ra_uuMatra-beng</string>
      <string>ramiddlediagonalhalf_ba-beng</string>
      <string>ralowerdiagonalhalf_ba-beng</string>
      <string>ramiddlediagonal_uMatra-beng</string>
      <string>ramiddlediagonal_uuMatra-beng</string>
    </array>
    <key>public.kern2.lower_LA</key>
    <array>
      <string>k_la-beng</string>
      <string>g_la-beng</string>
      <string>ph_la-beng</string>
      <string>b_la-beng</string>
      <string>bh_la-beng</string>
      <string>h_la-beng</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>uni02BC</string>
    </array>
    <key>public.kern2.upper_SA</key>
    <array>
      <string>m_ba-beng</string>
      <string>m_da-beng</string>
      <string>m_pa-beng</string>
      <string>m_pha-beng</string>
      <string>m_ma-beng</string>
      <string>m_sa-beng</string>
      <string>m_p_ra-beng</string>
      <string>ss_pa-beng</string>
      <string>ss_pha-beng</string>
      <string>ss_ma-beng</string>
      <string>s_ba-beng</string>
      <string>s_ka-beng</string>
      <string>s_kha-beng</string>
      <string>s_tha-beng</string>
      <string>s_na-beng</string>
      <string>s_pa-beng</string>
      <string>s_p_ra-beng</string>
      <string>s_pha-beng</string>
      <string>s_ma-beng</string>
    </array>
    <key>public.kern2.upper_SHA</key>
    <array>
      <string>l_ba-beng</string>
      <string>l_ka-beng</string>
      <string>l_tta-beng</string>
      <string>l_tt_ra-beng</string>
      <string>l_dda-beng</string>
      <string>l_dd_ra-beng</string>
      <string>l_da-beng</string>
      <string>l_dha-beng</string>
      <string>l_pha-beng</string>
      <string>l_ma-beng</string>
      <string>sh_ba-beng</string>
      <string>sh_ca-beng</string>
      <string>sh_cha-beng</string>
      <string>sh_ma-beng</string>
      <string>l_tta_iiMatra-beng</string>
      <string>l_tt_ra_iiMatra-beng</string>
      <string>l_tta_auLength-beng</string>
      <string>l_tt_ra_auLength-beng</string>
    </array>
    <key>public.kern2.upper_ttha</key>
    <array>
      <string>ss_ttha-beng</string>
    </array>
  </dict>
</plist>
