<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSerifTelugu-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Telugu GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Telugu 28-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Telugu GSUB.txt</string>
	</dict>
	
	<key>NotoSerifTelugu-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Telugu GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Telugu 94-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Telugu GSUB.txt</string>
	</dict>
	
	<key>NotoSerifTelugu-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Serif Telugu GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Serif Telugu 194-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Serif Telugu GSUB.txt</string>
	</dict>

</dict>
</plist>

