<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10880</string>
      <string>u10881</string>
      <string>u10882</string>
      <string>u10883</string>
      <string>u10884</string>
      <string>u10885</string>
      <string>u10886</string>
      <string>u10887</string>
      <string>u10888</string>
      <string>u10889</string>
      <string>u1088A</string>
      <string>u1088B</string>
      <string>u1088C</string>
      <string>u1088D</string>
      <string>u1088E</string>
      <string>u1088F</string>
      <string>u10890</string>
      <string>u10891</string>
      <string>u10892</string>
      <string>u10893</string>
      <string>u10894</string>
      <string>u10895</string>
      <string>u10896</string>
      <string>u10897</string>
      <string>u10898</string>
      <string>u10899</string>
      <string>u1089A</string>
      <string>u1089B</string>
      <string>u1089C</string>
      <string>u1089D</string>
      <string>u1089E</string>
      <string>u108A7</string>
      <string>u108A8</string>
      <string>u108A9</string>
      <string>u108AA</string>
      <string>u108AB</string>
      <string>u108AC</string>
      <string>u108AD</string>
      <string>u108AE</string>
      <string>u108AF</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
