<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>H18543</key>
	<string>H_18543.glif</string>
	<key>H18551</key>
	<string>H_18551.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>arrowboth</key>
	<string>arrowboth.glif</string>
	<key>arrowupdn</key>
	<string>arrowupdn.glif</string>
	<key>club</key>
	<string>club.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>diamond</key>
	<string>diamond.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>exclamdbl</key>
	<string>exclamdbl.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>heart</key>
	<string>heart.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nonbreakingspace</key>
	<string>nonbreakingspace.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>smileface</key>
	<string>smileface.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>spade</key>
	<string>spade.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u1F004</key>
	<string>u1F_004.glif</string>
	<key>u1F0CF</key>
	<string>u1F_0C_F_.glif</string>
	<key>u1F170</key>
	<string>u1F_170.glif</string>
	<key>u1F171</key>
	<string>u1F_171.glif</string>
	<key>u1F17E</key>
	<string>u1F_17E_.glif</string>
	<key>u1F17F</key>
	<string>u1F_17F_.glif</string>
	<key>u1F18E</key>
	<string>u1F_18E_.glif</string>
	<key>u1F191</key>
	<string>u1F_191.glif</string>
	<key>u1F192</key>
	<string>u1F_192.glif</string>
	<key>u1F193</key>
	<string>u1F_193.glif</string>
	<key>u1F194</key>
	<string>u1F_194.glif</string>
	<key>u1F195</key>
	<string>u1F_195.glif</string>
	<key>u1F196</key>
	<string>u1F_196.glif</string>
	<key>u1F197</key>
	<string>u1F_197.glif</string>
	<key>u1F198</key>
	<string>u1F_198.glif</string>
	<key>u1F199</key>
	<string>u1F_199.glif</string>
	<key>u1F19A</key>
	<string>u1F_19A_.glif</string>
	<key>u1F1E6</key>
	<string>u1F_1E_6.glif</string>
	<key>u1F1E7</key>
	<string>u1F_1E_7.glif</string>
	<key>u1F1E8</key>
	<string>u1F_1E_8.glif</string>
	<key>u1F1E9</key>
	<string>u1F_1E_9.glif</string>
	<key>u1F1EA</key>
	<string>u1F_1E_A_.glif</string>
	<key>u1F1EB</key>
	<string>u1F_1E_B_.glif</string>
	<key>u1F1EC</key>
	<string>u1F_1E_C_.glif</string>
	<key>u1F1ED</key>
	<string>u1F_1E_D_.glif</string>
	<key>u1F1EE</key>
	<string>u1F_1E_E_.glif</string>
	<key>u1F1EF</key>
	<string>u1F_1E_F_.glif</string>
	<key>u1F1F0</key>
	<string>u1F_1F_0.glif</string>
	<key>u1F1F1</key>
	<string>u1F_1F_1.glif</string>
	<key>u1F1F2</key>
	<string>u1F_1F_2.glif</string>
	<key>u1F1F3</key>
	<string>u1F_1F_3.glif</string>
	<key>u1F1F4</key>
	<string>u1F_1F_4.glif</string>
	<key>u1F1F5</key>
	<string>u1F_1F_5.glif</string>
	<key>u1F1F6</key>
	<string>u1F_1F_6.glif</string>
	<key>u1F1F7</key>
	<string>u1F_1F_7.glif</string>
	<key>u1F1F8</key>
	<string>u1F_1F_8.glif</string>
	<key>u1F1F9</key>
	<string>u1F_1F_9.glif</string>
	<key>u1F1FA</key>
	<string>u1F_1F_A_.glif</string>
	<key>u1F1FB</key>
	<string>u1F_1F_B_.glif</string>
	<key>u1F1FC</key>
	<string>u1F_1F_C_.glif</string>
	<key>u1F1FD</key>
	<string>u1F_1F_D_.glif</string>
	<key>u1F1FE</key>
	<string>u1F_1F_E_.glif</string>
	<key>u1F1FF</key>
	<string>u1F_1F_F_.glif</string>
	<key>u1F201</key>
	<string>u1F_201.glif</string>
	<key>u1F202</key>
	<string>u1F_202.glif</string>
	<key>u1F21A</key>
	<string>u1F_21A_.glif</string>
	<key>u1F22F</key>
	<string>u1F_22F_.glif</string>
	<key>u1F232</key>
	<string>u1F_232.glif</string>
	<key>u1F233</key>
	<string>u1F_233.glif</string>
	<key>u1F234</key>
	<string>u1F_234.glif</string>
	<key>u1F235</key>
	<string>u1F_235.glif</string>
	<key>u1F236</key>
	<string>u1F_236.glif</string>
	<key>u1F237</key>
	<string>u1F_237.glif</string>
	<key>u1F238</key>
	<string>u1F_238.glif</string>
	<key>u1F239</key>
	<string>u1F_239.glif</string>
	<key>u1F23A</key>
	<string>u1F_23A_.glif</string>
	<key>u1F250</key>
	<string>u1F_250.glif</string>
	<key>u1F251</key>
	<string>u1F_251.glif</string>
	<key>u1F300</key>
	<string>u1F_300.glif</string>
	<key>u1F301</key>
	<string>u1F_301.glif</string>
	<key>u1F302</key>
	<string>u1F_302.glif</string>
	<key>u1F303</key>
	<string>u1F_303.glif</string>
	<key>u1F304</key>
	<string>u1F_304.glif</string>
	<key>u1F305</key>
	<string>u1F_305.glif</string>
	<key>u1F306</key>
	<string>u1F_306.glif</string>
	<key>u1F307</key>
	<string>u1F_307.glif</string>
	<key>u1F308</key>
	<string>u1F_308.glif</string>
	<key>u1F309</key>
	<string>u1F_309.glif</string>
	<key>u1F30A</key>
	<string>u1F_30A_.glif</string>
	<key>u1F30B</key>
	<string>u1F_30B_.glif</string>
	<key>u1F30C</key>
	<string>u1F_30C_.glif</string>
	<key>u1F30D</key>
	<string>u1F_30D_.glif</string>
	<key>u1F30E</key>
	<string>u1F_30E_.glif</string>
	<key>u1F30F</key>
	<string>u1F_30F_.glif</string>
	<key>u1F310</key>
	<string>u1F_310.glif</string>
	<key>u1F311</key>
	<string>u1F_311.glif</string>
	<key>u1F312</key>
	<string>u1F_312.glif</string>
	<key>u1F313</key>
	<string>u1F_313.glif</string>
	<key>u1F314</key>
	<string>u1F_314.glif</string>
	<key>u1F315</key>
	<string>u1F_315.glif</string>
	<key>u1F316</key>
	<string>u1F_316.glif</string>
	<key>u1F317</key>
	<string>u1F_317.glif</string>
	<key>u1F318</key>
	<string>u1F_318.glif</string>
	<key>u1F319</key>
	<string>u1F_319.glif</string>
	<key>u1F31A</key>
	<string>u1F_31A_.glif</string>
	<key>u1F31B</key>
	<string>u1F_31B_.glif</string>
	<key>u1F31C</key>
	<string>u1F_31C_.glif</string>
	<key>u1F31D</key>
	<string>u1F_31D_.glif</string>
	<key>u1F31E</key>
	<string>u1F_31E_.glif</string>
	<key>u1F31F</key>
	<string>u1F_31F_.glif</string>
	<key>u1F320</key>
	<string>u1F_320.glif</string>
	<key>u1F330</key>
	<string>u1F_330.glif</string>
	<key>u1F331</key>
	<string>u1F_331.glif</string>
	<key>u1F332</key>
	<string>u1F_332.glif</string>
	<key>u1F333</key>
	<string>u1F_333.glif</string>
	<key>u1F334</key>
	<string>u1F_334.glif</string>
	<key>u1F335</key>
	<string>u1F_335.glif</string>
	<key>u1F337</key>
	<string>u1F_337.glif</string>
	<key>u1F338</key>
	<string>u1F_338.glif</string>
	<key>u1F339</key>
	<string>u1F_339.glif</string>
	<key>u1F33A</key>
	<string>u1F_33A_.glif</string>
	<key>u1F33B</key>
	<string>u1F_33B_.glif</string>
	<key>u1F33C</key>
	<string>u1F_33C_.glif</string>
	<key>u1F33D</key>
	<string>u1F_33D_.glif</string>
	<key>u1F33E</key>
	<string>u1F_33E_.glif</string>
	<key>u1F33F</key>
	<string>u1F_33F_.glif</string>
	<key>u1F340</key>
	<string>u1F_340.glif</string>
	<key>u1F341</key>
	<string>u1F_341.glif</string>
	<key>u1F342</key>
	<string>u1F_342.glif</string>
	<key>u1F343</key>
	<string>u1F_343.glif</string>
	<key>u1F344</key>
	<string>u1F_344.glif</string>
	<key>u1F345</key>
	<string>u1F_345.glif</string>
	<key>u1F346</key>
	<string>u1F_346.glif</string>
	<key>u1F347</key>
	<string>u1F_347.glif</string>
	<key>u1F348</key>
	<string>u1F_348.glif</string>
	<key>u1F349</key>
	<string>u1F_349.glif</string>
	<key>u1F34A</key>
	<string>u1F_34A_.glif</string>
	<key>u1F34B</key>
	<string>u1F_34B_.glif</string>
	<key>u1F34C</key>
	<string>u1F_34C_.glif</string>
	<key>u1F34D</key>
	<string>u1F_34D_.glif</string>
	<key>u1F34E</key>
	<string>u1F_34E_.glif</string>
	<key>u1F34F</key>
	<string>u1F_34F_.glif</string>
	<key>u1F350</key>
	<string>u1F_350.glif</string>
	<key>u1F351</key>
	<string>u1F_351.glif</string>
	<key>u1F352</key>
	<string>u1F_352.glif</string>
	<key>u1F353</key>
	<string>u1F_353.glif</string>
	<key>u1F354</key>
	<string>u1F_354.glif</string>
	<key>u1F355</key>
	<string>u1F_355.glif</string>
	<key>u1F356</key>
	<string>u1F_356.glif</string>
	<key>u1F357</key>
	<string>u1F_357.glif</string>
	<key>u1F358</key>
	<string>u1F_358.glif</string>
	<key>u1F359</key>
	<string>u1F_359.glif</string>
	<key>u1F35A</key>
	<string>u1F_35A_.glif</string>
	<key>u1F35B</key>
	<string>u1F_35B_.glif</string>
	<key>u1F35C</key>
	<string>u1F_35C_.glif</string>
	<key>u1F35D</key>
	<string>u1F_35D_.glif</string>
	<key>u1F35E</key>
	<string>u1F_35E_.glif</string>
	<key>u1F35F</key>
	<string>u1F_35F_.glif</string>
	<key>u1F360</key>
	<string>u1F_360.glif</string>
	<key>u1F361</key>
	<string>u1F_361.glif</string>
	<key>u1F362</key>
	<string>u1F_362.glif</string>
	<key>u1F363</key>
	<string>u1F_363.glif</string>
	<key>u1F364</key>
	<string>u1F_364.glif</string>
	<key>u1F365</key>
	<string>u1F_365.glif</string>
	<key>u1F366</key>
	<string>u1F_366.glif</string>
	<key>u1F367</key>
	<string>u1F_367.glif</string>
	<key>u1F368</key>
	<string>u1F_368.glif</string>
	<key>u1F369</key>
	<string>u1F_369.glif</string>
	<key>u1F36A</key>
	<string>u1F_36A_.glif</string>
	<key>u1F36B</key>
	<string>u1F_36B_.glif</string>
	<key>u1F36C</key>
	<string>u1F_36C_.glif</string>
	<key>u1F36D</key>
	<string>u1F_36D_.glif</string>
	<key>u1F36E</key>
	<string>u1F_36E_.glif</string>
	<key>u1F36F</key>
	<string>u1F_36F_.glif</string>
	<key>u1F370</key>
	<string>u1F_370.glif</string>
	<key>u1F371</key>
	<string>u1F_371.glif</string>
	<key>u1F372</key>
	<string>u1F_372.glif</string>
	<key>u1F373</key>
	<string>u1F_373.glif</string>
	<key>u1F374</key>
	<string>u1F_374.glif</string>
	<key>u1F375</key>
	<string>u1F_375.glif</string>
	<key>u1F376</key>
	<string>u1F_376.glif</string>
	<key>u1F377</key>
	<string>u1F_377.glif</string>
	<key>u1F378</key>
	<string>u1F_378.glif</string>
	<key>u1F379</key>
	<string>u1F_379.glif</string>
	<key>u1F37A</key>
	<string>u1F_37A_.glif</string>
	<key>u1F37B</key>
	<string>u1F_37B_.glif</string>
	<key>u1F37C</key>
	<string>u1F_37C_.glif</string>
	<key>u1F380</key>
	<string>u1F_380.glif</string>
	<key>u1F381</key>
	<string>u1F_381.glif</string>
	<key>u1F382</key>
	<string>u1F_382.glif</string>
	<key>u1F383</key>
	<string>u1F_383.glif</string>
	<key>u1F384</key>
	<string>u1F_384.glif</string>
	<key>u1F385</key>
	<string>u1F_385.glif</string>
	<key>u1F386</key>
	<string>u1F_386.glif</string>
	<key>u1F387</key>
	<string>u1F_387.glif</string>
	<key>u1F388</key>
	<string>u1F_388.glif</string>
	<key>u1F389</key>
	<string>u1F_389.glif</string>
	<key>u1F38A</key>
	<string>u1F_38A_.glif</string>
	<key>u1F38B</key>
	<string>u1F_38B_.glif</string>
	<key>u1F38C</key>
	<string>u1F_38C_.glif</string>
	<key>u1F38D</key>
	<string>u1F_38D_.glif</string>
	<key>u1F38E</key>
	<string>u1F_38E_.glif</string>
	<key>u1F38F</key>
	<string>u1F_38F_.glif</string>
	<key>u1F390</key>
	<string>u1F_390.glif</string>
	<key>u1F391</key>
	<string>u1F_391.glif</string>
	<key>u1F392</key>
	<string>u1F_392.glif</string>
	<key>u1F393</key>
	<string>u1F_393.glif</string>
	<key>u1F3A0</key>
	<string>u1F_3A_0.glif</string>
	<key>u1F3A1</key>
	<string>u1F_3A_1.glif</string>
	<key>u1F3A2</key>
	<string>u1F_3A_2.glif</string>
	<key>u1F3A3</key>
	<string>u1F_3A_3.glif</string>
	<key>u1F3A4</key>
	<string>u1F_3A_4.glif</string>
	<key>u1F3A5</key>
	<string>u1F_3A_5.glif</string>
	<key>u1F3A6</key>
	<string>u1F_3A_6.glif</string>
	<key>u1F3A7</key>
	<string>u1F_3A_7.glif</string>
	<key>u1F3A8</key>
	<string>u1F_3A_8.glif</string>
	<key>u1F3A9</key>
	<string>u1F_3A_9.glif</string>
	<key>u1F3AA</key>
	<string>u1F_3A_A_.glif</string>
	<key>u1F3AB</key>
	<string>u1F_3A_B_.glif</string>
	<key>u1F3AC</key>
	<string>u1F_3A_C_.glif</string>
	<key>u1F3AD</key>
	<string>u1F_3A_D_.glif</string>
	<key>u1F3AE</key>
	<string>u1F_3A_E_.glif</string>
	<key>u1F3AF</key>
	<string>u1F_3A_F_.glif</string>
	<key>u1F3B0</key>
	<string>u1F_3B_0.glif</string>
	<key>u1F3B1</key>
	<string>u1F_3B_1.glif</string>
	<key>u1F3B2</key>
	<string>u1F_3B_2.glif</string>
	<key>u1F3B3</key>
	<string>u1F_3B_3.glif</string>
	<key>u1F3B4</key>
	<string>u1F_3B_4.glif</string>
	<key>u1F3B5</key>
	<string>u1F_3B_5.glif</string>
	<key>u1F3B6</key>
	<string>u1F_3B_6.glif</string>
	<key>u1F3B7</key>
	<string>u1F_3B_7.glif</string>
	<key>u1F3B8</key>
	<string>u1F_3B_8.glif</string>
	<key>u1F3B9</key>
	<string>u1F_3B_9.glif</string>
	<key>u1F3BA</key>
	<string>u1F_3B_A_.glif</string>
	<key>u1F3BB</key>
	<string>u1F_3B_B_.glif</string>
	<key>u1F3BC</key>
	<string>u1F_3B_C_.glif</string>
	<key>u1F3BD</key>
	<string>u1F_3B_D_.glif</string>
	<key>u1F3BE</key>
	<string>u1F_3B_E_.glif</string>
	<key>u1F3BF</key>
	<string>u1F_3B_F_.glif</string>
	<key>u1F3C0</key>
	<string>u1F_3C_0.glif</string>
	<key>u1F3C1</key>
	<string>u1F_3C_1.glif</string>
	<key>u1F3C2</key>
	<string>u1F_3C_2.glif</string>
	<key>u1F3C3</key>
	<string>u1F_3C_3.glif</string>
	<key>u1F3C4</key>
	<string>u1F_3C_4.glif</string>
	<key>u1F3C6</key>
	<string>u1F_3C_6.glif</string>
	<key>u1F3C7</key>
	<string>u1F_3C_7.glif</string>
	<key>u1F3C8</key>
	<string>u1F_3C_8.glif</string>
	<key>u1F3C9</key>
	<string>u1F_3C_9.glif</string>
	<key>u1F3CA</key>
	<string>u1F_3C_A_.glif</string>
	<key>u1F3E0</key>
	<string>u1F_3E_0.glif</string>
	<key>u1F3E1</key>
	<string>u1F_3E_1.glif</string>
	<key>u1F3E2</key>
	<string>u1F_3E_2.glif</string>
	<key>u1F3E3</key>
	<string>u1F_3E_3.glif</string>
	<key>u1F3E4</key>
	<string>u1F_3E_4.glif</string>
	<key>u1F3E5</key>
	<string>u1F_3E_5.glif</string>
	<key>u1F3E6</key>
	<string>u1F_3E_6.glif</string>
	<key>u1F3E7</key>
	<string>u1F_3E_7.glif</string>
	<key>u1F3E8</key>
	<string>u1F_3E_8.glif</string>
	<key>u1F3E9</key>
	<string>u1F_3E_9.glif</string>
	<key>u1F3EA</key>
	<string>u1F_3E_A_.glif</string>
	<key>u1F3EB</key>
	<string>u1F_3E_B_.glif</string>
	<key>u1F3EC</key>
	<string>u1F_3E_C_.glif</string>
	<key>u1F3ED</key>
	<string>u1F_3E_D_.glif</string>
	<key>u1F3EE</key>
	<string>u1F_3E_E_.glif</string>
	<key>u1F3EF</key>
	<string>u1F_3E_F_.glif</string>
	<key>u1F3F0</key>
	<string>u1F_3F_0.glif</string>
	<key>u1F400</key>
	<string>u1F_400.glif</string>
	<key>u1F401</key>
	<string>u1F_401.glif</string>
	<key>u1F402</key>
	<string>u1F_402.glif</string>
	<key>u1F403</key>
	<string>u1F_403.glif</string>
	<key>u1F404</key>
	<string>u1F_404.glif</string>
	<key>u1F405</key>
	<string>u1F_405.glif</string>
	<key>u1F406</key>
	<string>u1F_406.glif</string>
	<key>u1F407</key>
	<string>u1F_407.glif</string>
	<key>u1F408</key>
	<string>u1F_408.glif</string>
	<key>u1F409</key>
	<string>u1F_409.glif</string>
	<key>u1F40A</key>
	<string>u1F_40A_.glif</string>
	<key>u1F40B</key>
	<string>u1F_40B_.glif</string>
	<key>u1F40C</key>
	<string>u1F_40C_.glif</string>
	<key>u1F40D</key>
	<string>u1F_40D_.glif</string>
	<key>u1F40E</key>
	<string>u1F_40E_.glif</string>
	<key>u1F40F</key>
	<string>u1F_40F_.glif</string>
	<key>u1F410</key>
	<string>u1F_410.glif</string>
	<key>u1F411</key>
	<string>u1F_411.glif</string>
	<key>u1F412</key>
	<string>u1F_412.glif</string>
	<key>u1F413</key>
	<string>u1F_413.glif</string>
	<key>u1F414</key>
	<string>u1F_414.glif</string>
	<key>u1F415</key>
	<string>u1F_415.glif</string>
	<key>u1F416</key>
	<string>u1F_416.glif</string>
	<key>u1F417</key>
	<string>u1F_417.glif</string>
	<key>u1F418</key>
	<string>u1F_418.glif</string>
	<key>u1F419</key>
	<string>u1F_419.glif</string>
	<key>u1F41A</key>
	<string>u1F_41A_.glif</string>
	<key>u1F41B</key>
	<string>u1F_41B_.glif</string>
	<key>u1F41C</key>
	<string>u1F_41C_.glif</string>
	<key>u1F41D</key>
	<string>u1F_41D_.glif</string>
	<key>u1F41E</key>
	<string>u1F_41E_.glif</string>
	<key>u1F41F</key>
	<string>u1F_41F_.glif</string>
	<key>u1F420</key>
	<string>u1F_420.glif</string>
	<key>u1F421</key>
	<string>u1F_421.glif</string>
	<key>u1F422</key>
	<string>u1F_422.glif</string>
	<key>u1F423</key>
	<string>u1F_423.glif</string>
	<key>u1F424</key>
	<string>u1F_424.glif</string>
	<key>u1F425</key>
	<string>u1F_425.glif</string>
	<key>u1F426</key>
	<string>u1F_426.glif</string>
	<key>u1F427</key>
	<string>u1F_427.glif</string>
	<key>u1F428</key>
	<string>u1F_428.glif</string>
	<key>u1F429</key>
	<string>u1F_429.glif</string>
	<key>u1F42B</key>
	<string>u1F_42B_.glif</string>
	<key>u1F42C</key>
	<string>u1F_42C_.glif</string>
	<key>u1F42D</key>
	<string>u1F_42D_.glif</string>
	<key>u1F42E</key>
	<string>u1F_42E_.glif</string>
	<key>u1F42F</key>
	<string>u1F_42F_.glif</string>
	<key>u1F430</key>
	<string>u1F_430.glif</string>
	<key>u1F431</key>
	<string>u1F_431.glif</string>
	<key>u1F432</key>
	<string>u1F_432.glif</string>
	<key>u1F433</key>
	<string>u1F_433.glif</string>
	<key>u1F434</key>
	<string>u1F_434.glif</string>
	<key>u1F435</key>
	<string>u1F_435.glif</string>
	<key>u1F436</key>
	<string>u1F_436.glif</string>
	<key>u1F437</key>
	<string>u1F_437.glif</string>
	<key>u1F438</key>
	<string>u1F_438.glif</string>
	<key>u1F439</key>
	<string>u1F_439.glif</string>
	<key>u1F43A</key>
	<string>u1F_43A_.glif</string>
	<key>u1F43B</key>
	<string>u1F_43B_.glif</string>
	<key>u1F43C</key>
	<string>u1F_43C_.glif</string>
	<key>u1F43D</key>
	<string>u1F_43D_.glif</string>
	<key>u1F43E</key>
	<string>u1F_43E_.glif</string>
	<key>u1F440</key>
	<string>u1F_440.glif</string>
	<key>u1F442</key>
	<string>u1F_442.glif</string>
	<key>u1F443</key>
	<string>u1F_443.glif</string>
	<key>u1F444</key>
	<string>u1F_444.glif</string>
	<key>u1F445</key>
	<string>u1F_445.glif</string>
	<key>u1F446</key>
	<string>u1F_446.glif</string>
	<key>u1F447</key>
	<string>u1F_447.glif</string>
	<key>u1F448</key>
	<string>u1F_448.glif</string>
	<key>u1F449</key>
	<string>u1F_449.glif</string>
	<key>u1F44A</key>
	<string>u1F_44A_.glif</string>
	<key>u1F44B</key>
	<string>u1F_44B_.glif</string>
	<key>u1F44C</key>
	<string>u1F_44C_.glif</string>
	<key>u1F44D</key>
	<string>u1F_44D_.glif</string>
	<key>u1F44E</key>
	<string>u1F_44E_.glif</string>
	<key>u1F44F</key>
	<string>u1F_44F_.glif</string>
	<key>u1F450</key>
	<string>u1F_450.glif</string>
	<key>u1F451</key>
	<string>u1F_451.glif</string>
	<key>u1F452</key>
	<string>u1F_452.glif</string>
	<key>u1F453</key>
	<string>u1F_453.glif</string>
	<key>u1F454</key>
	<string>u1F_454.glif</string>
	<key>u1F455</key>
	<string>u1F_455.glif</string>
	<key>u1F456</key>
	<string>u1F_456.glif</string>
	<key>u1F457</key>
	<string>u1F_457.glif</string>
	<key>u1F458</key>
	<string>u1F_458.glif</string>
	<key>u1F459</key>
	<string>u1F_459.glif</string>
	<key>u1F45A</key>
	<string>u1F_45A_.glif</string>
	<key>u1F45B</key>
	<string>u1F_45B_.glif</string>
	<key>u1F45C</key>
	<string>u1F_45C_.glif</string>
	<key>u1F45D</key>
	<string>u1F_45D_.glif</string>
	<key>u1F45E</key>
	<string>u1F_45E_.glif</string>
	<key>u1F45F</key>
	<string>u1F_45F_.glif</string>
	<key>u1F460</key>
	<string>u1F_460.glif</string>
	<key>u1F461</key>
	<string>u1F_461.glif</string>
	<key>u1F462</key>
	<string>u1F_462.glif</string>
	<key>u1F463</key>
	<string>u1F_463.glif</string>
	<key>u1F464</key>
	<string>u1F_464.glif</string>
	<key>u1F465</key>
	<string>u1F_465.glif</string>
	<key>u1F466</key>
	<string>u1F_466.glif</string>
	<key>u1F467</key>
	<string>u1F_467.glif</string>
	<key>u1F468</key>
	<string>u1F_468.glif</string>
	<key>u1F469</key>
	<string>u1F_469.glif</string>
	<key>u1F46A</key>
	<string>u1F_46A_.glif</string>
	<key>u1F46B</key>
	<string>u1F_46B_.glif</string>
	<key>u1F46C</key>
	<string>u1F_46C_.glif</string>
	<key>u1F46D</key>
	<string>u1F_46D_.glif</string>
	<key>u1F46E</key>
	<string>u1F_46E_.glif</string>
	<key>u1F46F</key>
	<string>u1F_46F_.glif</string>
	<key>u1F470</key>
	<string>u1F_470.glif</string>
	<key>u1F471</key>
	<string>u1F_471.glif</string>
	<key>u1F472</key>
	<string>u1F_472.glif</string>
	<key>u1F473</key>
	<string>u1F_473.glif</string>
	<key>u1F474</key>
	<string>u1F_474.glif</string>
	<key>u1F475</key>
	<string>u1F_475.glif</string>
	<key>u1F476</key>
	<string>u1F_476.glif</string>
	<key>u1F477</key>
	<string>u1F_477.glif</string>
	<key>u1F478</key>
	<string>u1F_478.glif</string>
	<key>u1F479</key>
	<string>u1F_479.glif</string>
	<key>u1F47A</key>
	<string>u1F_47A_.glif</string>
	<key>u1F47B</key>
	<string>u1F_47B_.glif</string>
	<key>u1F47C</key>
	<string>u1F_47C_.glif</string>
	<key>u1F47D</key>
	<string>u1F_47D_.glif</string>
	<key>u1F47E</key>
	<string>u1F_47E_.glif</string>
	<key>u1F47F</key>
	<string>u1F_47F_.glif</string>
	<key>u1F480</key>
	<string>u1F_480.glif</string>
	<key>u1F481</key>
	<string>u1F_481.glif</string>
	<key>u1F482</key>
	<string>u1F_482.glif</string>
	<key>u1F483</key>
	<string>u1F_483.glif</string>
	<key>u1F484</key>
	<string>u1F_484.glif</string>
	<key>u1F485</key>
	<string>u1F_485.glif</string>
	<key>u1F486</key>
	<string>u1F_486.glif</string>
	<key>u1F487</key>
	<string>u1F_487.glif</string>
	<key>u1F488</key>
	<string>u1F_488.glif</string>
	<key>u1F489</key>
	<string>u1F_489.glif</string>
	<key>u1F48A</key>
	<string>u1F_48A_.glif</string>
	<key>u1F48B</key>
	<string>u1F_48B_.glif</string>
	<key>u1F48C</key>
	<string>u1F_48C_.glif</string>
	<key>u1F48D</key>
	<string>u1F_48D_.glif</string>
	<key>u1F48E</key>
	<string>u1F_48E_.glif</string>
	<key>u1F48F</key>
	<string>u1F_48F_.glif</string>
	<key>u1F490</key>
	<string>u1F_490.glif</string>
	<key>u1F491</key>
	<string>u1F_491.glif</string>
	<key>u1F492</key>
	<string>u1F_492.glif</string>
	<key>u1F493</key>
	<string>u1F_493.glif</string>
	<key>u1F494</key>
	<string>u1F_494.glif</string>
	<key>u1F495</key>
	<string>u1F_495.glif</string>
	<key>u1F496</key>
	<string>u1F_496.glif</string>
	<key>u1F497</key>
	<string>u1F_497.glif</string>
	<key>u1F498</key>
	<string>u1F_498.glif</string>
	<key>u1F499</key>
	<string>u1F_499.glif</string>
	<key>u1F49A</key>
	<string>u1F_49A_.glif</string>
	<key>u1F49B</key>
	<string>u1F_49B_.glif</string>
	<key>u1F49C</key>
	<string>u1F_49C_.glif</string>
	<key>u1F49D</key>
	<string>u1F_49D_.glif</string>
	<key>u1F49E</key>
	<string>u1F_49E_.glif</string>
	<key>u1F49F</key>
	<string>u1F_49F_.glif</string>
	<key>u1F4A0</key>
	<string>u1F_4A_0.glif</string>
	<key>u1F4A1</key>
	<string>u1F_4A_1.glif</string>
	<key>u1F4A2</key>
	<string>u1F_4A_2.glif</string>
	<key>u1F4A3</key>
	<string>u1F_4A_3.glif</string>
	<key>u1F4A4</key>
	<string>u1F_4A_4.glif</string>
	<key>u1F4A5</key>
	<string>u1F_4A_5.glif</string>
	<key>u1F4A6</key>
	<string>u1F_4A_6.glif</string>
	<key>u1F4A7</key>
	<string>u1F_4A_7.glif</string>
	<key>u1F4A8</key>
	<string>u1F_4A_8.glif</string>
	<key>u1F4A9</key>
	<string>u1F_4A_9.glif</string>
	<key>u1F4AA</key>
	<string>u1F_4A_A_.glif</string>
	<key>u1F4AB</key>
	<string>u1F_4A_B_.glif</string>
	<key>u1F4AC</key>
	<string>u1F_4A_C_.glif</string>
	<key>u1F4AD</key>
	<string>u1F_4A_D_.glif</string>
	<key>u1F4AE</key>
	<string>u1F_4A_E_.glif</string>
	<key>u1F4AF</key>
	<string>u1F_4A_F_.glif</string>
	<key>u1F4B0</key>
	<string>u1F_4B_0.glif</string>
	<key>u1F4B1</key>
	<string>u1F_4B_1.glif</string>
	<key>u1F4B2</key>
	<string>u1F_4B_2.glif</string>
	<key>u1F4B3</key>
	<string>u1F_4B_3.glif</string>
	<key>u1F4B4</key>
	<string>u1F_4B_4.glif</string>
	<key>u1F4B5</key>
	<string>u1F_4B_5.glif</string>
	<key>u1F4B6</key>
	<string>u1F_4B_6.glif</string>
	<key>u1F4B7</key>
	<string>u1F_4B_7.glif</string>
	<key>u1F4B8</key>
	<string>u1F_4B_8.glif</string>
	<key>u1F4B9</key>
	<string>u1F_4B_9.glif</string>
	<key>u1F4BA</key>
	<string>u1F_4B_A_.glif</string>
	<key>u1F4BB</key>
	<string>u1F_4B_B_.glif</string>
	<key>u1F4BC</key>
	<string>u1F_4B_C_.glif</string>
	<key>u1F4BD</key>
	<string>u1F_4B_D_.glif</string>
	<key>u1F4BE</key>
	<string>u1F_4B_E_.glif</string>
	<key>u1F4BF</key>
	<string>u1F_4B_F_.glif</string>
	<key>u1F4C0</key>
	<string>u1F_4C_0.glif</string>
	<key>u1F4C1</key>
	<string>u1F_4C_1.glif</string>
	<key>u1F4C2</key>
	<string>u1F_4C_2.glif</string>
	<key>u1F4C3</key>
	<string>u1F_4C_3.glif</string>
	<key>u1F4C4</key>
	<string>u1F_4C_4.glif</string>
	<key>u1F4C5</key>
	<string>u1F_4C_5.glif</string>
	<key>u1F4C6</key>
	<string>u1F_4C_6.glif</string>
	<key>u1F4C7</key>
	<string>u1F_4C_7.glif</string>
	<key>u1F4C8</key>
	<string>u1F_4C_8.glif</string>
	<key>u1F4C9</key>
	<string>u1F_4C_9.glif</string>
	<key>u1F4CA</key>
	<string>u1F_4C_A_.glif</string>
	<key>u1F4CB</key>
	<string>u1F_4C_B_.glif</string>
	<key>u1F4CC</key>
	<string>u1F_4C_C_.glif</string>
	<key>u1F4CD</key>
	<string>u1F_4C_D_.glif</string>
	<key>u1F4CE</key>
	<string>u1F_4C_E_.glif</string>
	<key>u1F4CF</key>
	<string>u1F_4C_F_.glif</string>
	<key>u1F4D0</key>
	<string>u1F_4D_0.glif</string>
	<key>u1F4D1</key>
	<string>u1F_4D_1.glif</string>
	<key>u1F4D2</key>
	<string>u1F_4D_2.glif</string>
	<key>u1F4D3</key>
	<string>u1F_4D_3.glif</string>
	<key>u1F4D4</key>
	<string>u1F_4D_4.glif</string>
	<key>u1F4D5</key>
	<string>u1F_4D_5.glif</string>
	<key>u1F4D6</key>
	<string>u1F_4D_6.glif</string>
	<key>u1F4D7</key>
	<string>u1F_4D_7.glif</string>
	<key>u1F4D8</key>
	<string>u1F_4D_8.glif</string>
	<key>u1F4D9</key>
	<string>u1F_4D_9.glif</string>
	<key>u1F4DA</key>
	<string>u1F_4D_A_.glif</string>
	<key>u1F4DB</key>
	<string>u1F_4D_B_.glif</string>
	<key>u1F4DC</key>
	<string>u1F_4D_C_.glif</string>
	<key>u1F4DD</key>
	<string>u1F_4D_D_.glif</string>
	<key>u1F4DE</key>
	<string>u1F_4D_E_.glif</string>
	<key>u1F4DF</key>
	<string>u1F_4D_F_.glif</string>
	<key>u1F4E0</key>
	<string>u1F_4E_0.glif</string>
	<key>u1F4E1</key>
	<string>u1F_4E_1.glif</string>
	<key>u1F4E2</key>
	<string>u1F_4E_2.glif</string>
	<key>u1F4E3</key>
	<string>u1F_4E_3.glif</string>
	<key>u1F4E4</key>
	<string>u1F_4E_4.glif</string>
	<key>u1F4E5</key>
	<string>u1F_4E_5.glif</string>
	<key>u1F4E6</key>
	<string>u1F_4E_6.glif</string>
	<key>u1F4E7</key>
	<string>u1F_4E_7.glif</string>
	<key>u1F4E8</key>
	<string>u1F_4E_8.glif</string>
	<key>u1F4E9</key>
	<string>u1F_4E_9.glif</string>
	<key>u1F4EA</key>
	<string>u1F_4E_A_.glif</string>
	<key>u1F4EB</key>
	<string>u1F_4E_B_.glif</string>
	<key>u1F4EC</key>
	<string>u1F_4E_C_.glif</string>
	<key>u1F4ED</key>
	<string>u1F_4E_D_.glif</string>
	<key>u1F4EE</key>
	<string>u1F_4E_E_.glif</string>
	<key>u1F4EF</key>
	<string>u1F_4E_F_.glif</string>
	<key>u1F4F0</key>
	<string>u1F_4F_0.glif</string>
	<key>u1F4F1</key>
	<string>u1F_4F_1.glif</string>
	<key>u1F4F2</key>
	<string>u1F_4F_2.glif</string>
	<key>u1F4F3</key>
	<string>u1F_4F_3.glif</string>
	<key>u1F4F4</key>
	<string>u1F_4F_4.glif</string>
	<key>u1F4F5</key>
	<string>u1F_4F_5.glif</string>
	<key>u1F4F6</key>
	<string>u1F_4F_6.glif</string>
	<key>u1F4F7</key>
	<string>u1F_4F_7.glif</string>
	<key>u1F4F9</key>
	<string>u1F_4F_9.glif</string>
	<key>u1F4FA</key>
	<string>u1F_4F_A_.glif</string>
	<key>u1F4FB</key>
	<string>u1F_4F_B_.glif</string>
	<key>u1F4FC</key>
	<string>u1F_4F_C_.glif</string>
	<key>u1F500</key>
	<string>u1F_500.glif</string>
	<key>u1F501</key>
	<string>u1F_501.glif</string>
	<key>u1F502</key>
	<string>u1F_502.glif</string>
	<key>u1F503</key>
	<string>u1F_503.glif</string>
	<key>u1F504</key>
	<string>u1F_504.glif</string>
	<key>u1F505</key>
	<string>u1F_505.glif</string>
	<key>u1F506</key>
	<string>u1F_506.glif</string>
	<key>u1F507</key>
	<string>u1F_507.glif</string>
	<key>u1F508</key>
	<string>u1F_508.glif</string>
	<key>u1F509</key>
	<string>u1F_509.glif</string>
	<key>u1F50A</key>
	<string>u1F_50A_.glif</string>
	<key>u1F50B</key>
	<string>u1F_50B_.glif</string>
	<key>u1F50C</key>
	<string>u1F_50C_.glif</string>
	<key>u1F50D</key>
	<string>u1F_50D_.glif</string>
	<key>u1F50E</key>
	<string>u1F_50E_.glif</string>
	<key>u1F50F</key>
	<string>u1F_50F_.glif</string>
	<key>u1F510</key>
	<string>u1F_510.glif</string>
	<key>u1F511</key>
	<string>u1F_511.glif</string>
	<key>u1F512</key>
	<string>u1F_512.glif</string>
	<key>u1F513</key>
	<string>u1F_513.glif</string>
	<key>u1F514</key>
	<string>u1F_514.glif</string>
	<key>u1F515</key>
	<string>u1F_515.glif</string>
	<key>u1F516</key>
	<string>u1F_516.glif</string>
	<key>u1F517</key>
	<string>u1F_517.glif</string>
	<key>u1F518</key>
	<string>u1F_518.glif</string>
	<key>u1F519</key>
	<string>u1F_519.glif</string>
	<key>u1F51A</key>
	<string>u1F_51A_.glif</string>
	<key>u1F51B</key>
	<string>u1F_51B_.glif</string>
	<key>u1F51C</key>
	<string>u1F_51C_.glif</string>
	<key>u1F51D</key>
	<string>u1F_51D_.glif</string>
	<key>u1F51E</key>
	<string>u1F_51E_.glif</string>
	<key>u1F51F</key>
	<string>u1F_51F_.glif</string>
	<key>u1F520</key>
	<string>u1F_520.glif</string>
	<key>u1F521</key>
	<string>u1F_521.glif</string>
	<key>u1F522</key>
	<string>u1F_522.glif</string>
	<key>u1F523</key>
	<string>u1F_523.glif</string>
	<key>u1F524</key>
	<string>u1F_524.glif</string>
	<key>u1F525</key>
	<string>u1F_525.glif</string>
	<key>u1F526</key>
	<string>u1F_526.glif</string>
	<key>u1F527</key>
	<string>u1F_527.glif</string>
	<key>u1F528</key>
	<string>u1F_528.glif</string>
	<key>u1F529</key>
	<string>u1F_529.glif</string>
	<key>u1F52A</key>
	<string>u1F_52A_.glif</string>
	<key>u1F52B</key>
	<string>u1F_52B_.glif</string>
	<key>u1F52C</key>
	<string>u1F_52C_.glif</string>
	<key>u1F52D</key>
	<string>u1F_52D_.glif</string>
	<key>u1F52E</key>
	<string>u1F_52E_.glif</string>
	<key>u1F52F</key>
	<string>u1F_52F_.glif</string>
	<key>u1F530</key>
	<string>u1F_530.glif</string>
	<key>u1F531</key>
	<string>u1F_531.glif</string>
	<key>u1F532</key>
	<string>u1F_532.glif</string>
	<key>u1F533</key>
	<string>u1F_533.glif</string>
	<key>u1F534</key>
	<string>u1F_534.glif</string>
	<key>u1F535</key>
	<string>u1F_535.glif</string>
	<key>u1F536</key>
	<string>u1F_536.glif</string>
	<key>u1F537</key>
	<string>u1F_537.glif</string>
	<key>u1F538</key>
	<string>u1F_538.glif</string>
	<key>u1F539</key>
	<string>u1F_539.glif</string>
	<key>u1F53A</key>
	<string>u1F_53A_.glif</string>
	<key>u1F53B</key>
	<string>u1F_53B_.glif</string>
	<key>u1F53C</key>
	<string>u1F_53C_.glif</string>
	<key>u1F53D</key>
	<string>u1F_53D_.glif</string>
	<key>u1F550</key>
	<string>u1F_550.glif</string>
	<key>u1F551</key>
	<string>u1F_551.glif</string>
	<key>u1F552</key>
	<string>u1F_552.glif</string>
	<key>u1F553</key>
	<string>u1F_553.glif</string>
	<key>u1F554</key>
	<string>u1F_554.glif</string>
	<key>u1F555</key>
	<string>u1F_555.glif</string>
	<key>u1F556</key>
	<string>u1F_556.glif</string>
	<key>u1F557</key>
	<string>u1F_557.glif</string>
	<key>u1F558</key>
	<string>u1F_558.glif</string>
	<key>u1F559</key>
	<string>u1F_559.glif</string>
	<key>u1F55A</key>
	<string>u1F_55A_.glif</string>
	<key>u1F55B</key>
	<string>u1F_55B_.glif</string>
	<key>u1F55C</key>
	<string>u1F_55C_.glif</string>
	<key>u1F55D</key>
	<string>u1F_55D_.glif</string>
	<key>u1F55E</key>
	<string>u1F_55E_.glif</string>
	<key>u1F55F</key>
	<string>u1F_55F_.glif</string>
	<key>u1F560</key>
	<string>u1F_560.glif</string>
	<key>u1F561</key>
	<string>u1F_561.glif</string>
	<key>u1F562</key>
	<string>u1F_562.glif</string>
	<key>u1F563</key>
	<string>u1F_563.glif</string>
	<key>u1F564</key>
	<string>u1F_564.glif</string>
	<key>u1F565</key>
	<string>u1F_565.glif</string>
	<key>u1F566</key>
	<string>u1F_566.glif</string>
	<key>u1F567</key>
	<string>u1F_567.glif</string>
	<key>u1F5FB</key>
	<string>u1F_5F_B_.glif</string>
	<key>u1F5FC</key>
	<string>u1F_5F_C_.glif</string>
	<key>u1F5FD</key>
	<string>u1F_5F_D_.glif</string>
	<key>u1F5FE</key>
	<string>u1F_5F_E_.glif</string>
	<key>u1F5FF</key>
	<string>u1F_5F_F_.glif</string>
	<key>u1F600</key>
	<string>u1F_600.glif</string>
	<key>u1F601</key>
	<string>u1F_601.glif</string>
	<key>u1F602</key>
	<string>u1F_602.glif</string>
	<key>u1F603</key>
	<string>u1F_603.glif</string>
	<key>u1F604</key>
	<string>u1F_604.glif</string>
	<key>u1F605</key>
	<string>u1F_605.glif</string>
	<key>u1F606</key>
	<string>u1F_606.glif</string>
	<key>u1F607</key>
	<string>u1F_607.glif</string>
	<key>u1F608</key>
	<string>u1F_608.glif</string>
	<key>u1F609</key>
	<string>u1F_609.glif</string>
	<key>u1F60A</key>
	<string>u1F_60A_.glif</string>
	<key>u1F60B</key>
	<string>u1F_60B_.glif</string>
	<key>u1F60C</key>
	<string>u1F_60C_.glif</string>
	<key>u1F60D</key>
	<string>u1F_60D_.glif</string>
	<key>u1F60E</key>
	<string>u1F_60E_.glif</string>
	<key>u1F60F</key>
	<string>u1F_60F_.glif</string>
	<key>u1F610</key>
	<string>u1F_610.glif</string>
	<key>u1F611</key>
	<string>u1F_611.glif</string>
	<key>u1F612</key>
	<string>u1F_612.glif</string>
	<key>u1F613</key>
	<string>u1F_613.glif</string>
	<key>u1F614</key>
	<string>u1F_614.glif</string>
	<key>u1F615</key>
	<string>u1F_615.glif</string>
	<key>u1F616</key>
	<string>u1F_616.glif</string>
	<key>u1F617</key>
	<string>u1F_617.glif</string>
	<key>u1F618</key>
	<string>u1F_618.glif</string>
	<key>u1F619</key>
	<string>u1F_619.glif</string>
	<key>u1F61A</key>
	<string>u1F_61A_.glif</string>
	<key>u1F61B</key>
	<string>u1F_61B_.glif</string>
	<key>u1F61C</key>
	<string>u1F_61C_.glif</string>
	<key>u1F61D</key>
	<string>u1F_61D_.glif</string>
	<key>u1F61E</key>
	<string>u1F_61E_.glif</string>
	<key>u1F61F</key>
	<string>u1F_61F_.glif</string>
	<key>u1F620</key>
	<string>u1F_620.glif</string>
	<key>u1F621</key>
	<string>u1F_621.glif</string>
	<key>u1F622</key>
	<string>u1F_622.glif</string>
	<key>u1F623</key>
	<string>u1F_623.glif</string>
	<key>u1F624</key>
	<string>u1F_624.glif</string>
	<key>u1F625</key>
	<string>u1F_625.glif</string>
	<key>u1F626</key>
	<string>u1F_626.glif</string>
	<key>u1F627</key>
	<string>u1F_627.glif</string>
	<key>u1F628</key>
	<string>u1F_628.glif</string>
	<key>u1F629</key>
	<string>u1F_629.glif</string>
	<key>u1F62A</key>
	<string>u1F_62A_.glif</string>
	<key>u1F62B</key>
	<string>u1F_62B_.glif</string>
	<key>u1F62C</key>
	<string>u1F_62C_.glif</string>
	<key>u1F62D</key>
	<string>u1F_62D_.glif</string>
	<key>u1F62E</key>
	<string>u1F_62E_.glif</string>
	<key>u1F62F</key>
	<string>u1F_62F_.glif</string>
	<key>u1F630</key>
	<string>u1F_630.glif</string>
	<key>u1F631</key>
	<string>u1F_631.glif</string>
	<key>u1F632</key>
	<string>u1F_632.glif</string>
	<key>u1F633</key>
	<string>u1F_633.glif</string>
	<key>u1F634</key>
	<string>u1F_634.glif</string>
	<key>u1F635</key>
	<string>u1F_635.glif</string>
	<key>u1F636</key>
	<string>u1F_636.glif</string>
	<key>u1F637</key>
	<string>u1F_637.glif</string>
	<key>u1F638</key>
	<string>u1F_638.glif</string>
	<key>u1F639</key>
	<string>u1F_639.glif</string>
	<key>u1F63A</key>
	<string>u1F_63A_.glif</string>
	<key>u1F63B</key>
	<string>u1F_63B_.glif</string>
	<key>u1F63C</key>
	<string>u1F_63C_.glif</string>
	<key>u1F63D</key>
	<string>u1F_63D_.glif</string>
	<key>u1F63E</key>
	<string>u1F_63E_.glif</string>
	<key>u1F63F</key>
	<string>u1F_63F_.glif</string>
	<key>u1F640</key>
	<string>u1F_640.glif</string>
	<key>u1F645</key>
	<string>u1F_645.glif</string>
	<key>u1F646</key>
	<string>u1F_646.glif</string>
	<key>u1F647</key>
	<string>u1F_647.glif</string>
	<key>u1F648</key>
	<string>u1F_648.glif</string>
	<key>u1F649</key>
	<string>u1F_649.glif</string>
	<key>u1F64A</key>
	<string>u1F_64A_.glif</string>
	<key>u1F64B</key>
	<string>u1F_64B_.glif</string>
	<key>u1F64C</key>
	<string>u1F_64C_.glif</string>
	<key>u1F64D</key>
	<string>u1F_64D_.glif</string>
	<key>u1F64E</key>
	<string>u1F_64E_.glif</string>
	<key>u1F64F</key>
	<string>u1F_64F_.glif</string>
	<key>u1F680</key>
	<string>u1F_680.glif</string>
	<key>u1F681</key>
	<string>u1F_681.glif</string>
	<key>u1F682</key>
	<string>u1F_682.glif</string>
	<key>u1F683</key>
	<string>u1F_683.glif</string>
	<key>u1F684</key>
	<string>u1F_684.glif</string>
	<key>u1F685</key>
	<string>u1F_685.glif</string>
	<key>u1F686</key>
	<string>u1F_686.glif</string>
	<key>u1F687</key>
	<string>u1F_687.glif</string>
	<key>u1F688</key>
	<string>u1F_688.glif</string>
	<key>u1F689</key>
	<string>u1F_689.glif</string>
	<key>u1F68A</key>
	<string>u1F_68A_.glif</string>
	<key>u1F68B</key>
	<string>u1F_68B_.glif</string>
	<key>u1F68C</key>
	<string>u1F_68C_.glif</string>
	<key>u1F68D</key>
	<string>u1F_68D_.glif</string>
	<key>u1F68E</key>
	<string>u1F_68E_.glif</string>
	<key>u1F68F</key>
	<string>u1F_68F_.glif</string>
	<key>u1F690</key>
	<string>u1F_690.glif</string>
	<key>u1F691</key>
	<string>u1F_691.glif</string>
	<key>u1F692</key>
	<string>u1F_692.glif</string>
	<key>u1F693</key>
	<string>u1F_693.glif</string>
	<key>u1F694</key>
	<string>u1F_694.glif</string>
	<key>u1F695</key>
	<string>u1F_695.glif</string>
	<key>u1F696</key>
	<string>u1F_696.glif</string>
	<key>u1F697</key>
	<string>u1F_697.glif</string>
	<key>u1F699</key>
	<string>u1F_699.glif</string>
	<key>u1F69A</key>
	<string>u1F_69A_.glif</string>
	<key>u1F69B</key>
	<string>u1F_69B_.glif</string>
	<key>u1F69C</key>
	<string>u1F_69C_.glif</string>
	<key>u1F69D</key>
	<string>u1F_69D_.glif</string>
	<key>u1F69E</key>
	<string>u1F_69E_.glif</string>
	<key>u1F69F</key>
	<string>u1F_69F_.glif</string>
	<key>u1F6A0</key>
	<string>u1F_6A_0.glif</string>
	<key>u1F6A1</key>
	<string>u1F_6A_1.glif</string>
	<key>u1F6A2</key>
	<string>u1F_6A_2.glif</string>
	<key>u1F6A3</key>
	<string>u1F_6A_3.glif</string>
	<key>u1F6A4</key>
	<string>u1F_6A_4.glif</string>
	<key>u1F6A5</key>
	<string>u1F_6A_5.glif</string>
	<key>u1F6A6</key>
	<string>u1F_6A_6.glif</string>
	<key>u1F6A7</key>
	<string>u1F_6A_7.glif</string>
	<key>u1F6A8</key>
	<string>u1F_6A_8.glif</string>
	<key>u1F6A9</key>
	<string>u1F_6A_9.glif</string>
	<key>u1F6AA</key>
	<string>u1F_6A_A_.glif</string>
	<key>u1F6AB</key>
	<string>u1F_6A_B_.glif</string>
	<key>u1F6AC</key>
	<string>u1F_6A_C_.glif</string>
	<key>u1F6AD</key>
	<string>u1F_6A_D_.glif</string>
	<key>u1F6AE</key>
	<string>u1F_6A_E_.glif</string>
	<key>u1F6AF</key>
	<string>u1F_6A_F_.glif</string>
	<key>u1F6B0</key>
	<string>u1F_6B_0.glif</string>
	<key>u1F6B1</key>
	<string>u1F_6B_1.glif</string>
	<key>u1F6B2</key>
	<string>u1F_6B_2.glif</string>
	<key>u1F6B3</key>
	<string>u1F_6B_3.glif</string>
	<key>u1F6B4</key>
	<string>u1F_6B_4.glif</string>
	<key>u1F6B5</key>
	<string>u1F_6B_5.glif</string>
	<key>u1F6B6</key>
	<string>u1F_6B_6.glif</string>
	<key>u1F6B7</key>
	<string>u1F_6B_7.glif</string>
	<key>u1F6B8</key>
	<string>u1F_6B_8.glif</string>
	<key>u1F6B9</key>
	<string>u1F_6B_9.glif</string>
	<key>u1F6BA</key>
	<string>u1F_6B_A_.glif</string>
	<key>u1F6BB</key>
	<string>u1F_6B_B_.glif</string>
	<key>u1F6BC</key>
	<string>u1F_6B_C_.glif</string>
	<key>u1F6BD</key>
	<string>u1F_6B_D_.glif</string>
	<key>u1F6BE</key>
	<string>u1F_6B_E_.glif</string>
	<key>u1F6BF</key>
	<string>u1F_6B_F_.glif</string>
	<key>u1F6C0</key>
	<string>u1F_6C_0.glif</string>
	<key>u1F6C1</key>
	<string>u1F_6C_1.glif</string>
	<key>u1F6C2</key>
	<string>u1F_6C_2.glif</string>
	<key>u1F6C3</key>
	<string>u1F_6C_3.glif</string>
	<key>u1F6C4</key>
	<string>u1F_6C_4.glif</string>
	<key>u1F6C5</key>
	<string>u1F_6C_5.glif</string>
	<key>uFE4E5</key>
	<string>uF_E_4E_5.glif</string>
	<key>uFE4E6</key>
	<string>uF_E_4E_6.glif</string>
	<key>uFE4E7</key>
	<string>uF_E_4E_7.glif</string>
	<key>uFE4E8</key>
	<string>uF_E_4E_8.glif</string>
	<key>uFE4E9</key>
	<string>uF_E_4E_9.glif</string>
	<key>uFE4EA</key>
	<string>uF_E_4E_A_.glif</string>
	<key>uFE4EB</key>
	<string>uF_E_4E_B_.glif</string>
	<key>uFE4EC</key>
	<string>uF_E_4E_C_.glif</string>
	<key>uFE4ED</key>
	<string>uF_E_4E_D_.glif</string>
	<key>uFE4EE</key>
	<string>uF_E_4E_E_.glif</string>
	<key>uni0023_20E3</key>
	<string>uni0023_20E_3.glif</string>
	<key>uni0030_20E3</key>
	<string>uni0030_20E_3.glif</string>
	<key>uni0031_20E3</key>
	<string>uni0031_20E_3.glif</string>
	<key>uni0032_20E3</key>
	<string>uni0032_20E_3.glif</string>
	<key>uni0033_20E3</key>
	<string>uni0033_20E_3.glif</string>
	<key>uni0034_20E3</key>
	<string>uni0034_20E_3.glif</string>
	<key>uni0035_20E3</key>
	<string>uni0035_20E_3.glif</string>
	<key>uni0036_20E3</key>
	<string>uni0036_20E_3.glif</string>
	<key>uni0037_20E3</key>
	<string>uni0037_20E_3.glif</string>
	<key>uni0038_20E3</key>
	<string>uni0038_20E_3.glif</string>
	<key>uni0039_20E3</key>
	<string>uni0039_20E_3.glif</string>
	<key>uni200D</key>
	<string>uni200D_.glif</string>
	<key>uni2049</key>
	<string>uni2049.glif</string>
	<key>uni20E3</key>
	<string>uni20E_3.glif</string>
	<key>uni2139</key>
	<string>uni2139.glif</string>
	<key>uni2196</key>
	<string>uni2196.glif</string>
	<key>uni2197</key>
	<string>uni2197.glif</string>
	<key>uni2198</key>
	<string>uni2198.glif</string>
	<key>uni2199</key>
	<string>uni2199.glif</string>
	<key>uni21A9</key>
	<string>uni21A_9.glif</string>
	<key>uni21AA</key>
	<string>uni21A_A_.glif</string>
	<key>uni231A</key>
	<string>uni231A_.glif</string>
	<key>uni231B</key>
	<string>uni231B_.glif</string>
	<key>uni23E9</key>
	<string>uni23E_9.glif</string>
	<key>uni23EA</key>
	<string>uni23E_A_.glif</string>
	<key>uni23EB</key>
	<string>uni23E_B_.glif</string>
	<key>uni23EC</key>
	<string>uni23E_C_.glif</string>
	<key>uni23F0</key>
	<string>uni23F_0.glif</string>
	<key>uni23F3</key>
	<string>uni23F_3.glif</string>
	<key>uni24C2</key>
	<string>uni24C_2.glif</string>
	<key>uni25B6</key>
	<string>uni25B_6.glif</string>
	<key>uni25C0</key>
	<string>uni25C_0.glif</string>
	<key>uni25FB</key>
	<string>uni25F_B_.glif</string>
	<key>uni25FC</key>
	<string>uni25F_C_.glif</string>
	<key>uni25FD</key>
	<string>uni25F_D_.glif</string>
	<key>uni25FE</key>
	<string>uni25F_E_.glif</string>
	<key>uni2600</key>
	<string>uni2600.glif</string>
	<key>uni2601</key>
	<string>uni2601.glif</string>
	<key>uni260E</key>
	<string>uni260E_.glif</string>
	<key>uni2611</key>
	<string>uni2611.glif</string>
	<key>uni2614</key>
	<string>uni2614.glif</string>
	<key>uni2615</key>
	<string>uni2615.glif</string>
	<key>uni261D</key>
	<string>uni261D_.glif</string>
	<key>uni2648</key>
	<string>uni2648.glif</string>
	<key>uni2649</key>
	<string>uni2649.glif</string>
	<key>uni264A</key>
	<string>uni264A_.glif</string>
	<key>uni264B</key>
	<string>uni264B_.glif</string>
	<key>uni264C</key>
	<string>uni264C_.glif</string>
	<key>uni264D</key>
	<string>uni264D_.glif</string>
	<key>uni264E</key>
	<string>uni264E_.glif</string>
	<key>uni264F</key>
	<string>uni264F_.glif</string>
	<key>uni2650</key>
	<string>uni2650.glif</string>
	<key>uni2651</key>
	<string>uni2651.glif</string>
	<key>uni2652</key>
	<string>uni2652.glif</string>
	<key>uni2653</key>
	<string>uni2653.glif</string>
	<key>uni2668</key>
	<string>uni2668.glif</string>
	<key>uni267B</key>
	<string>uni267B_.glif</string>
	<key>uni267F</key>
	<string>uni267F_.glif</string>
	<key>uni2693</key>
	<string>uni2693.glif</string>
	<key>uni26A0</key>
	<string>uni26A_0.glif</string>
	<key>uni26A1</key>
	<string>uni26A_1.glif</string>
	<key>uni26AA</key>
	<string>uni26A_A_.glif</string>
	<key>uni26AB</key>
	<string>uni26A_B_.glif</string>
	<key>uni26BD</key>
	<string>uni26B_D_.glif</string>
	<key>uni26BE</key>
	<string>uni26B_E_.glif</string>
	<key>uni26C4</key>
	<string>uni26C_4.glif</string>
	<key>uni26C5</key>
	<string>uni26C_5.glif</string>
	<key>uni26CE</key>
	<string>uni26C_E_.glif</string>
	<key>uni26D4</key>
	<string>uni26D_4.glif</string>
	<key>uni26EA</key>
	<string>uni26E_A_.glif</string>
	<key>uni26F2</key>
	<string>uni26F_2.glif</string>
	<key>uni26F3</key>
	<string>uni26F_3.glif</string>
	<key>uni26F5</key>
	<string>uni26F_5.glif</string>
	<key>uni26FA</key>
	<string>uni26F_A_.glif</string>
	<key>uni26FD</key>
	<string>uni26F_D_.glif</string>
	<key>uni2702</key>
	<string>uni2702.glif</string>
	<key>uni2705</key>
	<string>uni2705.glif</string>
	<key>uni2708</key>
	<string>uni2708.glif</string>
	<key>uni2709</key>
	<string>uni2709.glif</string>
	<key>uni270A</key>
	<string>uni270A_.glif</string>
	<key>uni270B</key>
	<string>uni270B_.glif</string>
	<key>uni270C</key>
	<string>uni270C_.glif</string>
	<key>uni270F</key>
	<string>uni270F_.glif</string>
	<key>uni2712</key>
	<string>uni2712.glif</string>
	<key>uni2714</key>
	<string>uni2714.glif</string>
	<key>uni2716</key>
	<string>uni2716.glif</string>
	<key>uni2728</key>
	<string>uni2728.glif</string>
	<key>uni2733</key>
	<string>uni2733.glif</string>
	<key>uni2734</key>
	<string>uni2734.glif</string>
	<key>uni2744</key>
	<string>uni2744.glif</string>
	<key>uni2747</key>
	<string>uni2747.glif</string>
	<key>uni274C</key>
	<string>uni274C_.glif</string>
	<key>uni274E</key>
	<string>uni274E_.glif</string>
	<key>uni2753</key>
	<string>uni2753.glif</string>
	<key>uni2754</key>
	<string>uni2754.glif</string>
	<key>uni2755</key>
	<string>uni2755.glif</string>
	<key>uni2757</key>
	<string>uni2757.glif</string>
	<key>uni2764</key>
	<string>uni2764.glif</string>
	<key>uni2795</key>
	<string>uni2795.glif</string>
	<key>uni2796</key>
	<string>uni2796.glif</string>
	<key>uni2797</key>
	<string>uni2797.glif</string>
	<key>uni27A1</key>
	<string>uni27A_1.glif</string>
	<key>uni27B0</key>
	<string>uni27B_0.glif</string>
	<key>uni27BF</key>
	<string>uni27B_F_.glif</string>
	<key>uni2934</key>
	<string>uni2934.glif</string>
	<key>uni2935</key>
	<string>uni2935.glif</string>
	<key>uni2B05</key>
	<string>uni2B_05.glif</string>
	<key>uni2B06</key>
	<string>uni2B_06.glif</string>
	<key>uni2B07</key>
	<string>uni2B_07.glif</string>
	<key>uni2B1B</key>
	<string>uni2B_1B_.glif</string>
	<key>uni2B1C</key>
	<string>uni2B_1C_.glif</string>
	<key>uni2B50</key>
	<string>uni2B_50.glif</string>
	<key>uni2B55</key>
	<string>uni2B_55.glif</string>
	<key>uni3030</key>
	<string>uni3030.glif</string>
	<key>uni303D</key>
	<string>uni303D_.glif</string>
	<key>uni3297</key>
	<string>uni3297.glif</string>
	<key>uni3299</key>
	<string>uni3299.glif</string>
	<key>uniFE0F</key>
	<string>uniF_E_0F_.glif</string>    
	<key>uniFEFF</key>
	<string>uniF_E_F_F_.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
