<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u16A40</key>
    <string>u16A_40.glif</string>
    <key>u16A41</key>
    <string>u16A_41.glif</string>
    <key>u16A42</key>
    <string>u16A_42.glif</string>
    <key>u16A43</key>
    <string>u16A_43.glif</string>
    <key>u16A44</key>
    <string>u16A_44.glif</string>
    <key>u16A45</key>
    <string>u16A_45.glif</string>
    <key>u16A46</key>
    <string>u16A_46.glif</string>
    <key>u16A47</key>
    <string>u16A_47.glif</string>
    <key>u16A48</key>
    <string>u16A_48.glif</string>
    <key>u16A49</key>
    <string>u16A_49.glif</string>
    <key>u16A4A</key>
    <string>u16A_4A_.glif</string>
    <key>u16A4B</key>
    <string>u16A_4B_.glif</string>
    <key>u16A4C</key>
    <string>u16A_4C_.glif</string>
    <key>u16A4D</key>
    <string>u16A_4D_.glif</string>
    <key>u16A4E</key>
    <string>u16A_4E_.glif</string>
    <key>u16A4F</key>
    <string>u16A_4F_.glif</string>
    <key>u16A50</key>
    <string>u16A_50.glif</string>
    <key>u16A51</key>
    <string>u16A_51.glif</string>
    <key>u16A52</key>
    <string>u16A_52.glif</string>
    <key>u16A53</key>
    <string>u16A_53.glif</string>
    <key>u16A54</key>
    <string>u16A_54.glif</string>
    <key>u16A55</key>
    <string>u16A_55.glif</string>
    <key>u16A56</key>
    <string>u16A_56.glif</string>
    <key>u16A57</key>
    <string>u16A_57.glif</string>
    <key>u16A58</key>
    <string>u16A_58.glif</string>
    <key>u16A59</key>
    <string>u16A_59.glif</string>
    <key>u16A5A</key>
    <string>u16A_5A_.glif</string>
    <key>u16A5B</key>
    <string>u16A_5B_.glif</string>
    <key>u16A5C</key>
    <string>u16A_5C_.glif</string>
    <key>u16A5D</key>
    <string>u16A_5D_.glif</string>
    <key>u16A5E</key>
    <string>u16A_5E_.glif</string>
    <key>u16A60</key>
    <string>u16A_60.glif</string>
    <key>u16A61</key>
    <string>u16A_61.glif</string>
    <key>u16A62</key>
    <string>u16A_62.glif</string>
    <key>u16A63</key>
    <string>u16A_63.glif</string>
    <key>u16A64</key>
    <string>u16A_64.glif</string>
    <key>u16A65</key>
    <string>u16A_65.glif</string>
    <key>u16A66</key>
    <string>u16A_66.glif</string>
    <key>u16A67</key>
    <string>u16A_67.glif</string>
    <key>u16A68</key>
    <string>u16A_68.glif</string>
    <key>u16A69</key>
    <string>u16A_69.glif</string>
    <key>u16A6E</key>
    <string>u16A_6E_.glif</string>
    <key>u16A6F</key>
    <string>u16A_6F_.glif</string>
  </dict>
</plist>
