<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1169</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>colon</string>
      <string>comma</string>
      <string>exclam</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>period</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>semicolon</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni060C</string>
      <string>uni061B</string>
      <string>uni061F</string>
      <string>uni0660</string>
      <string>uni0661</string>
      <string>uni0662</string>
      <string>uni0663</string>
      <string>uni0664</string>
      <string>uni0665</string>
      <string>uni0666</string>
      <string>uni0667</string>
      <string>uni0668</string>
      <string>uni0669</string>
      <string>uni066A</string>
      <string>uni066B</string>
      <string>uni066C</string>
      <string>uni0780</string>
      <string>uni0781</string>
      <string>uni0782</string>
      <string>uni0783</string>
      <string>uni0784</string>
      <string>uni0785</string>
      <string>uni0786</string>
      <string>uni0787</string>
      <string>uni0788</string>
      <string>uni0789</string>
      <string>uni078A</string>
      <string>uni078B</string>
      <string>uni078C</string>
      <string>uni078D</string>
      <string>uni078E</string>
      <string>uni078F</string>
      <string>uni0790</string>
      <string>uni0791</string>
      <string>uni0792</string>
      <string>uni0793</string>
      <string>uni0794</string>
      <string>uni0795</string>
      <string>uni0796</string>
      <string>uni0797</string>
      <string>uni0798</string>
      <string>uni0799</string>
      <string>uni079A</string>
      <string>uni079B</string>
      <string>uni079C</string>
      <string>uni079D</string>
      <string>uni079E</string>
      <string>uni079F</string>
      <string>uni07A0</string>
      <string>uni07A1</string>
      <string>uni07A2</string>
      <string>uni07A3</string>
      <string>uni07A4</string>
      <string>uni07A5</string>
      <string>uni07A6</string>
      <string>uni07A7</string>
      <string>uni07A8</string>
      <string>uni07A9</string>
      <string>uni07AA</string>
      <string>uni07AB</string>
      <string>uni07AC</string>
      <string>uni07AD</string>
      <string>uni07AE</string>
      <string>uni07AF</string>
      <string>uni07B0</string>
      <string>uni07B1</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni200E</string>
      <string>uni200F</string>
      <string>uni25CC</string>
      <string>uniFDF2</string>
      <string>uniFDFD</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>colon</string>
      <string>comma</string>
      <string>exclam</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>period</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>semicolon</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni060C</string>
      <string>uni061B</string>
      <string>uni061F</string>
      <string>uni0660</string>
      <string>uni0661</string>
      <string>uni0662</string>
      <string>uni0663</string>
      <string>uni0664</string>
      <string>uni0665</string>
      <string>uni0666</string>
      <string>uni0667</string>
      <string>uni0668</string>
      <string>uni0669</string>
      <string>uni066A</string>
      <string>uni066B</string>
      <string>uni066C</string>
      <string>uni0780</string>
      <string>uni0781</string>
      <string>uni0782</string>
      <string>uni0783</string>
      <string>uni0784</string>
      <string>uni0785</string>
      <string>uni0786</string>
      <string>uni0787</string>
      <string>uni0788</string>
      <string>uni0789</string>
      <string>uni078A</string>
      <string>uni078B</string>
      <string>uni078C</string>
      <string>uni078D</string>
      <string>uni078E</string>
      <string>uni078F</string>
      <string>uni0790</string>
      <string>uni0791</string>
      <string>uni0792</string>
      <string>uni0793</string>
      <string>uni0794</string>
      <string>uni0795</string>
      <string>uni0796</string>
      <string>uni0797</string>
      <string>uni0798</string>
      <string>uni0799</string>
      <string>uni079A</string>
      <string>uni079B</string>
      <string>uni079C</string>
      <string>uni079D</string>
      <string>uni079E</string>
      <string>uni079F</string>
      <string>uni07A0</string>
      <string>uni07A1</string>
      <string>uni07A2</string>
      <string>uni07A3</string>
      <string>uni07A4</string>
      <string>uni07A5</string>
      <string>uni07A6</string>
      <string>uni07A7</string>
      <string>uni07A8</string>
      <string>uni07A9</string>
      <string>uni07AA</string>
      <string>uni07AB</string>
      <string>uni07AC</string>
      <string>uni07AD</string>
      <string>uni07AE</string>
      <string>uni07AF</string>
      <string>uni07B0</string>
      <string>uni07B1</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni200E</string>
      <string>uni200F</string>
      <string>uni25CC</string>
      <string>uniFDF2</string>
      <string>uniFDFD</string>
    </array>
  </dict>
</plist>
