<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1057</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>iya.ligature</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni1A00</string>
      <string>uni1A01</string>
      <string>uni1A02</string>
      <string>uni1A03</string>
      <string>uni1A04</string>
      <string>uni1A05</string>
      <string>uni1A06</string>
      <string>uni1A07</string>
      <string>uni1A08</string>
      <string>uni1A09</string>
      <string>uni1A0A</string>
      <string>uni1A0B</string>
      <string>uni1A0C</string>
      <string>uni1A0D</string>
      <string>uni1A0E</string>
      <string>uni1A0F</string>
      <string>uni1A10</string>
      <string>uni1A11</string>
      <string>uni1A12</string>
      <string>uni1A13</string>
      <string>uni1A14</string>
      <string>uni1A15</string>
      <string>uni1A16</string>
      <string>uni1A17</string>
      <string>uni1A18</string>
      <string>uni1A19</string>
      <string>uni1A1A</string>
      <string>uni1A1B</string>
      <string>uni1A1E</string>
      <string>uni1A1F</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uniA9CF</string>
    </array>
  </dict>
</plist>
