<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>uni0E81</key>
    <string>uni0E_81.glif</string>
    <key>uni0E82</key>
    <string>uni0E_82.glif</string>
    <key>uni0E84</key>
    <string>uni0E_84.glif</string>
    <key>uni0E87</key>
    <string>uni0E_87.glif</string>
    <key>uni0E88</key>
    <string>uni0E_88.glif</string>
    <key>uni0E8A</key>
    <string>uni0E_8A_.glif</string>
    <key>uni0E8D</key>
    <string>uni0E_8D_.glif</string>
    <key>uni0E94</key>
    <string>uni0E_94.glif</string>
    <key>uni0E95</key>
    <string>uni0E_95.glif</string>
    <key>uni0E96</key>
    <string>uni0E_96.glif</string>
    <key>uni0E97</key>
    <string>uni0E_97.glif</string>
    <key>uni0E99</key>
    <string>uni0E_99.glif</string>
    <key>uni0E9A</key>
    <string>uni0E_9A_.glif</string>
    <key>uni0E9B</key>
    <string>uni0E_9B_.glif</string>
    <key>uni0E9C</key>
    <string>uni0E_9C_.glif</string>
    <key>uni0E9D</key>
    <string>uni0E_9D_.glif</string>
    <key>uni0E9E</key>
    <string>uni0E_9E_.glif</string>
    <key>uni0E9F</key>
    <string>uni0E_9F_.glif</string>
    <key>uni0EA1</key>
    <string>uni0E_A_1.glif</string>
    <key>uni0EA2</key>
    <string>uni0E_A_2.glif</string>
    <key>uni0EA3</key>
    <string>uni0E_A_3.glif</string>
    <key>uni0EA5</key>
    <string>uni0E_A_5.glif</string>
    <key>uni0EA7</key>
    <string>uni0E_A_7.glif</string>
    <key>uni0EAA</key>
    <string>uni0E_A_A_.glif</string>
    <key>uni0EAB</key>
    <string>uni0E_A_B_.glif</string>
    <key>uni0EAD</key>
    <string>uni0E_A_D_.glif</string>
    <key>uni0EAE</key>
    <string>uni0E_A_E_.glif</string>
    <key>uni0EAF</key>
    <string>uni0E_A_F_.glif</string>
    <key>uni0EB0</key>
    <string>uni0E_B_0.glif</string>
    <key>uni0EB1</key>
    <string>uni0E_B_1.glif</string>
    <key>uni0EB2</key>
    <string>uni0E_B_2.glif</string>
    <key>uni0EB3</key>
    <string>uni0E_B_3.glif</string>
    <key>uni0EB4</key>
    <string>uni0E_B_4.glif</string>
    <key>uni0EB5</key>
    <string>uni0E_B_5.glif</string>
    <key>uni0EB6</key>
    <string>uni0E_B_6.glif</string>
    <key>uni0EB7</key>
    <string>uni0E_B_7.glif</string>
    <key>uni0EB8</key>
    <string>uni0E_B_8.glif</string>
    <key>uni0EB9</key>
    <string>uni0E_B_9.glif</string>
    <key>uni0EBB</key>
    <string>uni0E_B_B_.glif</string>
    <key>uni0EBC</key>
    <string>uni0E_B_C_.glif</string>
    <key>uni0EBD</key>
    <string>uni0E_B_D_.glif</string>
    <key>uni0EC0</key>
    <string>uni0E_C_0.glif</string>
    <key>uni0EC1</key>
    <string>uni0E_C_1.glif</string>
    <key>uni0EC2</key>
    <string>uni0E_C_2.glif</string>
    <key>uni0EC3</key>
    <string>uni0E_C_3.glif</string>
    <key>uni0EC4</key>
    <string>uni0E_C_4.glif</string>
    <key>uni0EC6</key>
    <string>uni0E_C_6.glif</string>
    <key>uni0EC8</key>
    <string>uni0E_C_8.glif</string>
    <key>uni0EC9</key>
    <string>uni0E_C_9.glif</string>
    <key>uni0ECA</key>
    <string>uni0E_C_A_.glif</string>
    <key>uni0ECB</key>
    <string>uni0E_C_B_.glif</string>
    <key>uni0ECC</key>
    <string>uni0E_C_C_.glif</string>
    <key>uni0ECD</key>
    <string>uni0E_C_D_.glif</string>
    <key>uni0ED0</key>
    <string>uni0E_D_0.glif</string>
    <key>uni0ED1</key>
    <string>uni0E_D_1.glif</string>
    <key>uni0ED2</key>
    <string>uni0E_D_2.glif</string>
    <key>uni0ED3</key>
    <string>uni0E_D_3.glif</string>
    <key>uni0ED4</key>
    <string>uni0E_D_4.glif</string>
    <key>uni0ED5</key>
    <string>uni0E_D_5.glif</string>
    <key>uni0ED6</key>
    <string>uni0E_D_6.glif</string>
    <key>uni0ED7</key>
    <string>uni0E_D_7.glif</string>
    <key>uni0ED8</key>
    <string>uni0E_D_8.glif</string>
    <key>uni0ED9</key>
    <string>uni0E_D_9.glif</string>
    <key>uni0EDC</key>
    <string>uni0E_D_C_.glif</string>
    <key>uni0EDD</key>
    <string>uni0E_D_D_.glif</string>
    <key>uni0EC8.blw</key>
    <string>uni0E_C_8.blw.glif</string>
    <key>uni0EC9.blw</key>
    <string>uni0E_C_9.blw.glif</string>
    <key>uni0ECA.blw</key>
    <string>uni0E_C_A_.blw.glif</string>
    <key>uni0ECB.blw</key>
    <string>uni0E_C_B_.blw.glif</string>
    <key>uni0ECC.blw</key>
    <string>uni0E_C_C_.blw.glif</string>
    <key>uni0ECD.blw</key>
    <string>uni0E_C_D_.blw.glif</string>
    <key>uni0ECD_0EC9</key>
    <string>uni0E_C_D__0E_C_9.glif</string>
    <key>uni0EC8_uni0ECD.liga</key>
    <string>uni0E_C_8_uni0E_C_D_.liga.glif</string>
    <key>uni0E81.am</key>
    <string>uni0E_81.am.glif</string>
    <key>uni0E82.am</key>
    <string>uni0E_82.am.glif</string>
    <key>uni0E84.am</key>
    <string>uni0E_84.am.glif</string>
    <key>uni0E87.am</key>
    <string>uni0E_87.am.glif</string>
    <key>uni0E88.am</key>
    <string>uni0E_88.am.glif</string>
    <key>uni0E8A.am</key>
    <string>uni0E_8A_.am.glif</string>
    <key>uni0E8D.am</key>
    <string>uni0E_8D_.am.glif</string>
    <key>uni0E94.am</key>
    <string>uni0E_94.am.glif</string>
    <key>uni0E95.am</key>
    <string>uni0E_95.am.glif</string>
    <key>uni0E96.am</key>
    <string>uni0E_96.am.glif</string>
    <key>uni0E97.am</key>
    <string>uni0E_97.am.glif</string>
    <key>uni0E99.am</key>
    <string>uni0E_99.am.glif</string>
    <key>uni0E9A.am</key>
    <string>uni0E_9A_.am.glif</string>
    <key>uni0E9B.am</key>
    <string>uni0E_9B_.am.glif</string>
    <key>uni0E9C.am</key>
    <string>uni0E_9C_.am.glif</string>
    <key>uni0E9D.am</key>
    <string>uni0E_9D_.am.glif</string>
    <key>uni0E9E.am</key>
    <string>uni0E_9E_.am.glif</string>
    <key>uni0E9F.am</key>
    <string>uni0E_9F_.am.glif</string>
    <key>uni0EA1.am</key>
    <string>uni0E_A_1.am.glif</string>
    <key>uni0EA2.am</key>
    <string>uni0E_A_2.am.glif</string>
    <key>uni0EA3.am</key>
    <string>uni0E_A_3.am.glif</string>
    <key>uni0EA5.am</key>
    <string>uni0E_A_5.am.glif</string>
    <key>uni0EA7.am</key>
    <string>uni0E_A_7.am.glif</string>
    <key>uni0EAA.am</key>
    <string>uni0E_A_A_.am.glif</string>
    <key>uni0EAB.am</key>
    <string>uni0E_A_B_.am.glif</string>
    <key>uni0EAD.am</key>
    <string>uni0E_A_D_.am.glif</string>
    <key>uni0EAE.am</key>
    <string>uni0E_A_E_.am.glif</string>
    <key>uni0EDC.am</key>
    <string>uni0E_D_C_.am.glif</string>
    <key>uni0EDD.am</key>
    <string>uni0E_D_D_.am.glif</string>
    <key>uni0EB3.right</key>
    <string>uni0E_B_3.right.glif</string>
    <key>uni0ECB_uni0ECD.liga</key>
    <string>uni0E_C_B__uni0E_C_D_.liga.glif</string>
    <key>uni0ECA_uni0ECD.liga</key>
    <string>uni0E_C_A__uni0E_C_D_.liga.glif</string>
    <key>glyph140</key>
    <string>glyph140.glif</string>
    <key>glyph141</key>
    <string>glyph141.glif</string>
    <key>glyph142</key>
    <string>glyph142.glif</string>
    <key>glyph143</key>
    <string>glyph143.glif</string>
    <key>glyph144</key>
    <string>glyph144.glif</string>
    <key>glyph145</key>
    <string>glyph145.glif</string>
    <key>glyph146</key>
    <string>glyph146.glif</string>
    <key>glyph147</key>
    <string>glyph147.glif</string>
    <key>uni0E87_uni0EB8.liga</key>
    <string>uni0E_87_uni0E_B_8.liga.glif</string>
    <key>uni0E87_uni0EB9.liga</key>
    <string>uni0E_87_uni0E_B_9.liga.glif</string>
    <key>uni0EBC_uni0EB8.liga</key>
    <string>uni0E_B_C__uni0E_B_8.liga.glif</string>
    <key>uni0EBC_uni0EB9.liga</key>
    <string>uni0E_B_C__uni0E_B_9.liga.glif</string>
    <key>glyph152</key>
    <string>glyph152.glif</string>
    <key>glyph153</key>
    <string>glyph153.glif</string>
    <key>glyph154</key>
    <string>glyph154.glif</string>
    <key>glyph155</key>
    <string>glyph155.glif</string>
    <key>glyph156</key>
    <string>glyph156.glif</string>
    <key>glyph157</key>
    <string>glyph157.glif</string>
    <key>glyph158</key>
    <string>glyph158.glif</string>
    <key>glyph159</key>
    <string>glyph159.glif</string>
    <key>glyph160</key>
    <string>glyph160.glif</string>
    <key>glyph161</key>
    <string>glyph161.glif</string>
    <key>uni0EDE</key>
    <string>uni0E_D_E_.glif</string>
    <key>uni0EDF</key>
    <string>uni0E_D_F_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
