<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>nbspace</string>
      <string>space</string>
      <string>u10A80</string>
      <string>u10A81</string>
      <string>u10A82</string>
      <string>u10A83</string>
      <string>u10A84</string>
      <string>u10A85</string>
      <string>u10A86</string>
      <string>u10A87</string>
      <string>u10A88</string>
      <string>u10A89</string>
      <string>u10A8A</string>
      <string>u10A8B</string>
      <string>u10A8C</string>
      <string>u10A8D</string>
      <string>u10A8E</string>
      <string>u10A8F</string>
      <string>u10A90</string>
      <string>u10A91</string>
      <string>u10A92</string>
      <string>u10A93</string>
      <string>u10A94</string>
      <string>u10A95</string>
      <string>u10A96</string>
      <string>u10A97</string>
      <string>u10A98</string>
      <string>u10A99</string>
      <string>u10A9A</string>
      <string>u10A9B</string>
      <string>u10A9C</string>
      <string>u10A9D</string>
      <string>u10A9E</string>
      <string>u10A9F</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
  </dict>
</plist>
