<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>7.32423</real>
      <key>public.kern2.quoteright</key>
      <real>21.972660000000005</real>
      <key>public.kern2.quotesingle</key>
      <real>24.902340000000002</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>33.203109999999995</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>55.66409</real>
      <key>public.kern2.quoteright</key>
      <real>24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>41.01562</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>53.7109</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>20.50783</real>
      <key>public.kern2.parenright</key>
      <real>80.07812</real>
      <key>public.kern2.quoteright</key>
      <real>53.22265</real>
      <key>public.kern2.quotesingle</key>
      <real>62.011759999999995</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>61.523410000000005</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>31.24998</real>
      <key>public.kern2.parenright</key>
      <real>92.77340000000001</real>
      <key>public.kern2.quoteright</key>
      <real>54.19933</real>
      <key>public.kern2.quotesingle</key>
      <real>67.87117</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>8.789070000000002</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>13.671839999999998</real>
      <key>public.kern2.parenright</key>
      <real>48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>20.50783</real>
      <key>public.kern2.quotesingle</key>
      <real>20.99607</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>6.835934</real>
      <key>public.kern2.parenright</key>
      <real>51.75781</real>
      <key>public.kern2.quoteright</key>
      <real>13.671839999999998</real>
      <key>public.kern2.quotesingle</key>
      <real>31.25002</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <real>0.732423</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>11.71875</real>
      <key>public.kern2.parenright</key>
      <real>36.6211</real>
      <key>public.kern2.quoteright</key>
      <real>10.253910000000001</real>
      <key>public.kern2.quotesingle</key>
      <real>10.253910000000001</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>30.76171</real>
      <key>bracketright</key>
      <real>30.76171</real>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>parenright</key>
      <real>37.59763</real>
      <key>public.kern2.T</key>
      <real>17.578140000000005</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>4.39452</real>
      <key>public.kern2.parenright</key>
      <real>27.83202</real>
      <key>public.kern2.quoteright</key>
      <real>19.04298</real>
      <key>public.kern2.quotesingle</key>
      <real>21.972660000000005</real>
      <key>question</key>
      <real>41.01566</real>
      <key>quotedbl</key>
      <real>37.59763</real>
      <key>quotedblright</key>
      <real>23.925789999999996</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>10.253910000000001</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>52.73437</real>
      <key>public.kern2.quoteright</key>
      <real>14.648430000000005</real>
      <key>public.kern2.quotesingle</key>
      <real>31.738300000000002</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>21.972630000000002</real>
      <key>public.kern2.parenright</key>
      <real>38.08597</real>
      <key>public.kern2.quoteright</key>
      <real>14.648430000000005</real>
      <key>public.kern2.quotesingle</key>
      <real>21.972630000000002</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>2.9296860000000002</real>
      <key>luu-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>-49.80469</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-13.183566</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-17.578110000000002</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-32.22658</real>
      <key>public.kern2.exclam</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.183566</real>
      <key>public.kern2.o-tamil</key>
      <real>-8.789070000000002</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-41.01562</real>
      <key>public.kern2.quotesingle</key>
      <real>-65.918</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-10.25388</real>
      <key>public.kern2.slash</key>
      <real>27.34375</real>
      <key>public.kern2.ya-tamil</key>
      <real>-8.789070000000002</real>
      <key>slash</key>
      <real>11.71875</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>13.671839999999998</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-13.183566</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>27.83202</real>
      <key>bracketright</key>
      <real>76.66022</real>
      <key>parenright</key>
      <real>81.54308</real>
      <key>public.kern2.a-tamil</key>
      <real>-17.089844</real>
      <key>public.kern2.ka-tamil</key>
      <real>-6.835934</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>21.972660000000005</real>
      <key>public.kern2.quotesingle</key>
      <real>24.902340000000002</real>
      <key>public.kern2.u-tamil</key>
      <real>-20.50783</real>
      <key>question</key>
      <real>50.78125</real>
      <key>quotedbl</key>
      <real>34.179669999999994</real>
      <key>quotedblright</key>
      <real>20.50783</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.a-tamil</key>
      <real>-62.01169</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-22.94923</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-43.9453</real>
      <key>public.kern2.nya-tamil</key>
      <real>-32.22658</real>
      <key>public.kern2.o-tamil</key>
      <real>-31.25002</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-46.87498</real>
      <key>public.kern2.rra-tamil</key>
      <real>-17.08987</real>
      <key>public.kern2.slash</key>
      <real>-6.835934</real>
      <key>public.kern2.u-tamil</key>
      <real>-42.48046</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-60.05864</real>
      <key>slash</key>
      <real>-5.859360000000001</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-22.94923</real>
      <key>public.kern2.T</key>
      <real>-32.71486</real>
      <key>public.kern2.a-tamil</key>
      <real>11.71875</real>
      <key>public.kern2.ai-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.e-tamil</key>
      <real>-2.9296860000000002</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-22.46091</real>
      <key>public.kern2.i-tamil</key>
      <real>-11.230454</real>
      <key>public.kern2.ka-tamil</key>
      <real>-2.9296860000000002</real>
      <key>public.kern2.quoteright</key>
      <real>-31.73827</real>
      <key>public.kern2.quotesingle</key>
      <real>-34.17966</real>
      <key>quotedbl</key>
      <real>-7.32423</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-25.87894</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-30.273435999999997</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-36.13282</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-6.835934</real>
      <key>public.kern2.a-tamil</key>
      <real>-14.160164000000002</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-6.835934</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>35.15626</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>22.46091</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>12.207037</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-10.25388</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-39.55078</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-27.34375</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-10.25388</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-6.835934</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-7.812487000000001</real>
      <key>public.kern2.u-tamil</key>
      <real>-6.835934</real>
      <key>question</key>
      <real>20.50783</real>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>91.79696000000001</real>
      <key>public.kern2.a-tamil</key>
      <real>-82.03124</real>
      <key>public.kern2.colon</key>
      <real>40.52734</real>
      <key>public.kern2.e-tamil</key>
      <real>-10.25388</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>43.45702</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>43.45702</real>
      <key>public.kern2.exclam</key>
      <real>89.35544</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>103.51574</real>
      <key>public.kern2.u-tamil</key>
      <real>-10.25388</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>60.05864</real>
      <key>public.kern2.a-tamil</key>
      <real>-34.66801000000001</real>
      <key>public.kern2.exclam</key>
      <real>7.32423</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.parenright</key>
      <real>52.73441</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-21.48439</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-207.031297</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-69.82423999999999</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-47.85154</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-36.13282</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-212.890203</real>
      <key>public.kern2.e-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.ka-tamil</key>
      <real>-66.40628</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.om-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.u-tamil</key>
      <real>-26.36719</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-20.50779</real>
      <key>public.kern2.ka-tamil</key>
      <real>-20.50783</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>42.48046</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>13.671839999999998</real>
      <key>public.kern2.parenright</key>
      <real>52.73441</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>55.66409</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-16.601526</real>
      <key>public.kern2.quotesingle</key>
      <real>-13.671839999999998</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-10.742197</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-21.48439</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-62.98832</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-17.578110000000002</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.695294</real>
      <key>public.kern2.nya-tamil</key>
      <real>-11.230454</real>
      <key>public.kern2.rra-tamil</key>
      <real>-15.625004</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-19.04295</real>
      <key>public.kern2.a-tamil</key>
      <real>31.738300000000002</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-20.50783</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-43.456990000000005</real>
      <key>public.kern2.quotesingle</key>
      <real>-52.73441</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-75.68353000000002</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.183566</real>
      <key>public.kern2.period</key>
      <real>-11.230454</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-32.22654</real>
      <key>public.kern2.ai-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.o-tamil</key>
      <real>-5.859360000000001</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-12.695294</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.160164000000002</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-20.019556</real>
      <key>public.kern2.quoteright</key>
      <real>-31.25002</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>73.73048</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>33.69142</real>
      <key>public.kern2.parenright</key>
      <real>92.77340000000001</real>
      <key>public.kern2.quoteright</key>
      <real>67.87117</real>
      <key>public.kern2.quotesingle</key>
      <real>85.93748</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>35.64454</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>13.671839999999998</real>
      <key>public.kern2.parenright</key>
      <real>57.128930000000004</real>
      <key>public.kern2.quoteright</key>
      <real>25.39059</real>
      <key>public.kern2.quotesingle</key>
      <real>41.01562</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>20.50783</real>
      <key>public.kern2.quotesingle</key>
      <real>13.671839999999998</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>11.71875</real>
      <key>public.kern2.parenright</key>
      <real>52.73437</real>
      <key>public.kern2.quoteright</key>
      <real>11.71875</real>
      <key>public.kern2.quotesingle</key>
      <real>28.80862</real>
    </dict>
  </dict>
</plist>
