<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>tricolon</key>
    <string>tricolon.glif</string>
    <key>u10980</key>
    <string>u10980.glif</string>
    <key>u10981</key>
    <string>u10981.glif</string>
    <key>u10981.rev</key>
    <string>u10981.rev.glif</string>
    <key>u10982</key>
    <string>u10982.glif</string>
    <key>u10983</key>
    <string>u10983.glif</string>
    <key>u10984</key>
    <string>u10984.glif</string>
    <key>u10985</key>
    <string>u10985.glif</string>
    <key>u10986</key>
    <string>u10986.glif</string>
    <key>u10987</key>
    <string>u10987.glif</string>
    <key>u10988</key>
    <string>u10988.glif</string>
    <key>u10989</key>
    <string>u10989.glif</string>
    <key>u1098A</key>
    <string>u1098A_.glif</string>
    <key>u1098B</key>
    <string>u1098B_.glif</string>
    <key>u1098C</key>
    <string>u1098C_.glif</string>
    <key>u1098D</key>
    <string>u1098D_.glif</string>
    <key>u1098E</key>
    <string>u1098E_.glif</string>
    <key>u1098F</key>
    <string>u1098F_.glif</string>
    <key>u10990</key>
    <string>u10990.glif</string>
    <key>u10991</key>
    <string>u10991.glif</string>
    <key>u10992</key>
    <string>u10992.glif</string>
    <key>u10993</key>
    <string>u10993.glif</string>
    <key>u10994</key>
    <string>u10994.glif</string>
    <key>u10995</key>
    <string>u10995.glif</string>
    <key>u10996</key>
    <string>u10996.glif</string>
    <key>u10997</key>
    <string>u10997.glif</string>
    <key>u10998</key>
    <string>u10998.glif</string>
    <key>u10999</key>
    <string>u10999.glif</string>
    <key>u1099A</key>
    <string>u1099A_.glif</string>
    <key>u1099B</key>
    <string>u1099B_.glif</string>
    <key>u1099C</key>
    <string>u1099C_.glif</string>
    <key>u1099D</key>
    <string>u1099D_.glif</string>
    <key>u1099E</key>
    <string>u1099E_.glif</string>
    <key>u1099F</key>
    <string>u1099F_.glif</string>
    <key>u109A0</key>
    <string>u109A_0.glif</string>
    <key>u109A1</key>
    <string>u109A_1.glif</string>
    <key>u109A2</key>
    <string>u109A_2.glif</string>
    <key>u109A2.alt1</key>
    <string>u109A_2.alt1.glif</string>
    <key>u109A2.alt2</key>
    <string>u109A_2.alt2.glif</string>
    <key>u109A3</key>
    <string>u109A_3.glif</string>
    <key>u109A4</key>
    <string>u109A_4.glif</string>
    <key>u109A5</key>
    <string>u109A_5.glif</string>
    <key>u109A6</key>
    <string>u109A_6.glif</string>
    <key>u109A7</key>
    <string>u109A_7.glif</string>
    <key>u109A8</key>
    <string>u109A_8.glif</string>
    <key>u109A9</key>
    <string>u109A_9.glif</string>
    <key>u109AA</key>
    <string>u109A_A_.glif</string>
    <key>u109AB</key>
    <string>u109A_B_.glif</string>
    <key>u109AC</key>
    <string>u109A_C_.glif</string>
    <key>u109AD</key>
    <string>u109A_D_.glif</string>
    <key>u109AE</key>
    <string>u109A_E_.glif</string>
    <key>u109AF</key>
    <string>u109A_F_.glif</string>
    <key>u109B0</key>
    <string>u109B_0.glif</string>
    <key>u109B1</key>
    <string>u109B_1.glif</string>
    <key>u109B2</key>
    <string>u109B_2.glif</string>
    <key>u109B3</key>
    <string>u109B_3.glif</string>
    <key>u109B4</key>
    <string>u109B_4.glif</string>
    <key>u109B5</key>
    <string>u109B_5.glif</string>
    <key>u109B6</key>
    <string>u109B_6.glif</string>
    <key>u109B7</key>
    <string>u109B_7.glif</string>
    <key>u109BC</key>
    <string>u109B_C_.glif</string>
    <key>u109BD</key>
    <string>u109B_D_.glif</string>
    <key>u109BE</key>
    <string>u109B_E_.glif</string>
    <key>u109BF</key>
    <string>u109B_F_.glif</string>
    <key>u109C0</key>
    <string>u109C_0.glif</string>
    <key>u109C1</key>
    <string>u109C_1.glif</string>
    <key>u109C2</key>
    <string>u109C_2.glif</string>
    <key>u109C3</key>
    <string>u109C_3.glif</string>
    <key>u109C4</key>
    <string>u109C_4.glif</string>
    <key>u109C5</key>
    <string>u109C_5.glif</string>
    <key>u109C6</key>
    <string>u109C_6.glif</string>
    <key>u109C7</key>
    <string>u109C_7.glif</string>
    <key>u109C8</key>
    <string>u109C_8.glif</string>
    <key>u109C9</key>
    <string>u109C_9.glif</string>
    <key>u109CA</key>
    <string>u109C_A_.glif</string>
    <key>u109CB</key>
    <string>u109C_B_.glif</string>
    <key>u109CC</key>
    <string>u109C_C_.glif</string>
    <key>u109CD</key>
    <string>u109C_D_.glif</string>
    <key>u109CE</key>
    <string>u109C_E_.glif</string>
    <key>u109CF</key>
    <string>u109C_F_.glif</string>
    <key>u109D2</key>
    <string>u109D_2.glif</string>
    <key>u109D3</key>
    <string>u109D_3.glif</string>
    <key>u109D4</key>
    <string>u109D_4.glif</string>
    <key>u109D5</key>
    <string>u109D_5.glif</string>
    <key>u109D6</key>
    <string>u109D_6.glif</string>
    <key>u109D7</key>
    <string>u109D_7.glif</string>
    <key>u109D8</key>
    <string>u109D_8.glif</string>
    <key>u109D9</key>
    <string>u109D_9.glif</string>
    <key>u109DA</key>
    <string>u109D_A_.glif</string>
    <key>u109DB</key>
    <string>u109D_B_.glif</string>
    <key>u109DC</key>
    <string>u109D_C_.glif</string>
    <key>u109DD</key>
    <string>u109D_D_.glif</string>
    <key>u109DE</key>
    <string>u109D_E_.glif</string>
    <key>u109DF</key>
    <string>u109D_F_.glif</string>
    <key>u109E0</key>
    <string>u109E_0.glif</string>
    <key>u109E1</key>
    <string>u109E_1.glif</string>
    <key>u109E2</key>
    <string>u109E_2.glif</string>
    <key>u109E3</key>
    <string>u109E_3.glif</string>
    <key>u109E4</key>
    <string>u109E_4.glif</string>
    <key>u109E5</key>
    <string>u109E_5.glif</string>
    <key>u109E6</key>
    <string>u109E_6.glif</string>
    <key>u109E7</key>
    <string>u109E_7.glif</string>
    <key>u109E8</key>
    <string>u109E_8.glif</string>
    <key>u109E9</key>
    <string>u109E_9.glif</string>
    <key>u109EA</key>
    <string>u109E_A_.glif</string>
    <key>u109EB</key>
    <string>u109E_B_.glif</string>
    <key>u109EC</key>
    <string>u109E_C_.glif</string>
    <key>u109ED</key>
    <string>u109E_D_.glif</string>
    <key>u109EE</key>
    <string>u109E_E_.glif</string>
    <key>u109EF</key>
    <string>u109E_F_.glif</string>
    <key>u109F0</key>
    <string>u109F_0.glif</string>
    <key>u109F1</key>
    <string>u109F_1.glif</string>
    <key>u109F2</key>
    <string>u109F_2.glif</string>
    <key>u109F3</key>
    <string>u109F_3.glif</string>
    <key>u109F4</key>
    <string>u109F_4.glif</string>
    <key>u109F5</key>
    <string>u109F_5.glif</string>
    <key>u109F6</key>
    <string>u109F_6.glif</string>
    <key>u109F7</key>
    <string>u109F_7.glif</string>
    <key>u109F8</key>
    <string>u109F_8.glif</string>
    <key>u109F9</key>
    <string>u109F_9.glif</string>
    <key>u109FA</key>
    <string>u109F_A_.glif</string>
    <key>u109FB</key>
    <string>u109F_B_.glif</string>
    <key>u109FC</key>
    <string>u109F_C_.glif</string>
    <key>u109FD</key>
    <string>u109F_D_.glif</string>
    <key>u109FE</key>
    <string>u109F_E_.glif</string>
    <key>u109FF</key>
    <string>u109F_F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
