<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ellipsis</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tricolon</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10980</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10981</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10981.rev</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10982</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10983</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10984</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10985</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10986</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10987</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10988</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10989</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1098A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1098B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1098C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1098D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1098E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1098F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10990</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10991</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10992</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10993</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10994</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10995</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10996</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10997</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10998</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u10999</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1099A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1099B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1099C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1099D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1099E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1099F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A2.alt1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A2.alt2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109A9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109AA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109AB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109AC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109AD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109AE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109AF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109B0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109B1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109B2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109B3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109B4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109B5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109B6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109B7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109BC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109BD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109BE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109BF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109C9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109CA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109CB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109CC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109CD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109CE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109CF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109D2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109D3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109D4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109D5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109D6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109D7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109D8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109D9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109DA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109DB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109DC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109DD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109DE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109DF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109E9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109EA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109EB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109EC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109ED</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109EE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109EF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109F9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109FA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109FB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109FC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109FD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109FE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u109FF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
