<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a_zanb</key>
    <string>a_zanb.glif</string>
    <key>a_zanb.sub</key>
    <string>a_zanb.sub.glif</string>
    <key>anusvara_zanb</key>
    <string>anusvara_zanb.glif</string>
    <key>candraWithOrnament_zanb</key>
    <string>candraW_ithO_rnament_zanb.glif</string>
    <key>candrabinduWithOrnament_zanb</key>
    <string>candrabinduW_ithO_rnament_zanb.glif</string>
    <key>candrabindu_zanb</key>
    <string>candrabindu_zanb.glif</string>
    <key>cha_zanb</key>
    <string>cha_zanb.glif</string>
    <key>closingHeadMark_zanb</key>
    <string>closingH_eadM_ark_zanb.glif</string>
    <key>dza_zanb</key>
    <string>dza_zanb.glif</string>
    <key>dza_zanb.short</key>
    <string>dza_zanb.short.glif</string>
    <key>dzha_zanb</key>
    <string>dzha_zanb.glif</string>
    <key>dzha_zanb.sub</key>
    <string>dzha_zanb.sub.glif</string>
    <key>e_zanb.ai</key>
    <string>e_zanb.ai.glif</string>
    <key>finalLa_zanb</key>
    <string>finalL_a_zanb.glif</string>
    <key>finalRa_zanb</key>
    <string>finalR_a_zanb.glif</string>
    <key>finalVa_zanb</key>
    <string>finalV_a_zanb.glif</string>
    <key>finalYa_zanb</key>
    <string>finalY_a_zanb.glif</string>
    <key>i_zanb</key>
    <string>i_zanb.glif</string>
    <key>i_zanb.wide</key>
    <string>i_zanb.wide.glif</string>
    <key>initialHeadMark_zanb</key>
    <string>initialH_eadM_ark_zanb.glif</string>
    <key>ka_zanb.short</key>
    <string>ka_zanb.short.glif</string>
    <key>kha_zanb</key>
    <string>kha_zanb.glif</string>
    <key>lengthMark_zanb</key>
    <string>lengthM_ark_zanb.glif</string>
    <key>nna_zanb</key>
    <string>nna_zanb.glif</string>
    <key>o_zanb</key>
    <string>o_zanb.glif</string>
    <key>o_zanb.ai</key>
    <string>o_zanb.ai.glif</string>
    <key>o_zanb.au</key>
    <string>o_zanb.au.glif</string>
    <key>o_zanb.wide</key>
    <string>o_zanb.wide.glif</string>
    <key>o_zanb.wide.ai</key>
    <string>o_zanb.wide.ai.glif</string>
    <key>o_zanb.wide.au</key>
    <string>o_zanb.wide.au.glif</string>
    <key>reversed_i_zanb</key>
    <string>reversed_i_zanb.glif</string>
    <key>reversed_i_zanb.wide</key>
    <string>reversed_i_zanb.wide.glif</string>
    <key>sa_zanb.head</key>
    <string>sa_zanb.head.glif</string>
    <key>ssa_zanb</key>
    <string>ssa_zanb.glif</string>
    <key>subjoiner_zanb</key>
    <string>subjoiner_zanb.glif</string>
    <key>tsa_zanb</key>
    <string>tsa_zanb.glif</string>
    <key>tsa_zanb.flat</key>
    <string>tsa_zanb.flat.glif</string>
    <key>tsa_zanb.short</key>
    <string>tsa_zanb.short.glif</string>
    <key>tsa_zanb.sub</key>
    <string>tsa_zanb.sub.glif</string>
    <key>tsha_zanb.sub</key>
    <string>tsha_zanb.sub.glif</string>
    <key>ttha_zanb</key>
    <string>ttha_zanb.glif</string>
    <key>ue_zanb.wide</key>
    <string>ue_zanb.wide.glif</string>
    <key>virama_zanb</key>
    <string>virama_zanb.glif</string>
    <key>visarga_zanb</key>
    <string>visarga_zanb.glif</string>
  </dict>
</plist>
