<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aaesinh</key>
    <string>aaesinh.glif</string>
    <key>aaevowelsignlowsinh</key>
    <string>aaevowelsignlowsinh.glif</string>
    <key>aaevowelsignsinh</key>
    <string>aaevowelsignsinh.glif</string>
    <key>aasinh</key>
    <string>aasinh.glif</string>
    <key>aavowelsignsinh</key>
    <string>aavowelsignsinh.glif</string>
    <key>aevowelsignlowsinh</key>
    <string>aevowelsignlowsinh.glif</string>
    <key>aevowelsignsinh</key>
    <string>aevowelsignsinh.glif</string>
    <key>aisinh</key>
    <string>aisinh.glif</string>
    <key>aivowelsignsinh</key>
    <string>aivowelsignsinh.glif</string>
    <key>anusvarasinh</key>
    <string>anusvarasinh.glif</string>
    <key>asciicircum.sinh</key>
    <string>asciicircum.sinh.glif</string>
    <key>asciitilde.sinh</key>
    <string>asciitilde.sinh.glif</string>
    <key>asinh</key>
    <string>asinh.glif</string>
    <key>asterisk.sinh</key>
    <string>asterisk.sinh.glif</string>
    <key>ausinh</key>
    <string>ausinh.glif</string>
    <key>backslash.sinh</key>
    <string>backslash.sinh.glif</string>
    <key>bahalantsinh</key>
    <string>bahalantsinh.glif</string>
    <key>bar.sinh</key>
    <string>bar.sinh.glif</string>
    <key>barasinh</key>
    <string>barasinh.glif</string>
    <key>barephsinh</key>
    <string>barephsinh.glif</string>
    <key>basinh</key>
    <string>basinh.glif</string>
    <key>batouchsinh</key>
    <string>batouchsinh.glif</string>
    <key>bhahalantsinh</key>
    <string>bhahalantsinh.glif</string>
    <key>bharasinh</key>
    <string>bharasinh.glif</string>
    <key>bharephsinh</key>
    <string>bharephsinh.glif</string>
    <key>bhasinh</key>
    <string>bhasinh.glif</string>
    <key>bhatouchsinh</key>
    <string>bhatouchsinh.glif</string>
    <key>bhiivowelsinh</key>
    <string>bhiivowelsinh.glif</string>
    <key>bhivowelsinh</key>
    <string>bhivowelsinh.glif</string>
    <key>bhuuvowelsinh</key>
    <string>bhuuvowelsinh.glif</string>
    <key>bhuvowelsinh</key>
    <string>bhuvowelsinh.glif</string>
    <key>biivowelsinh</key>
    <string>biivowelsinh.glif</string>
    <key>bivowelsinh</key>
    <string>bivowelsinh.glif</string>
    <key>braceleft.sinh</key>
    <string>braceleft.sinh.glif</string>
    <key>braceright.sinh</key>
    <string>braceright.sinh.glif</string>
    <key>bracketleft.sinh</key>
    <string>bracketleft.sinh.glif</string>
    <key>bracketright.sinh</key>
    <string>bracketright.sinh.glif</string>
    <key>buuvowelsinh</key>
    <string>buuvowelsinh.glif</string>
    <key>buvowelsinh</key>
    <string>buvowelsinh.glif</string>
    <key>cahalantsinh</key>
    <string>cahalantsinh.glif</string>
    <key>carasinh</key>
    <string>carasinh.glif</string>
    <key>carephsinh</key>
    <string>carephsinh.glif</string>
    <key>casinh</key>
    <string>casinh.glif</string>
    <key>catouchsinh</key>
    <string>catouchsinh.glif</string>
    <key>chahalantsinh</key>
    <string>chahalantsinh.glif</string>
    <key>charasinh</key>
    <string>charasinh.glif</string>
    <key>charephsinh</key>
    <string>charephsinh.glif</string>
    <key>chasinh</key>
    <string>chasinh.glif</string>
    <key>chatouchsinh</key>
    <string>chatouchsinh.glif</string>
    <key>chiivowelsinh</key>
    <string>chiivowelsinh.glif</string>
    <key>chivowelsinh</key>
    <string>chivowelsinh.glif</string>
    <key>chuuvowelsinh</key>
    <string>chuuvowelsinh.glif</string>
    <key>chuvowelsinh</key>
    <string>chuvowelsinh.glif</string>
    <key>ciivowelsinh</key>
    <string>ciivowelsinh.glif</string>
    <key>civowelsinh</key>
    <string>civowelsinh.glif</string>
    <key>colon.sinh</key>
    <string>colon.sinh.glif</string>
    <key>comma.sinh</key>
    <string>comma.sinh.glif</string>
    <key>cuuvowelsinh</key>
    <string>cuuvowelsinh.glif</string>
    <key>cuvowelsinh</key>
    <string>cuvowelsinh.glif</string>
    <key>daavowelsinh</key>
    <string>daavowelsinh.glif</string>
    <key>dadhahalantsinh</key>
    <string>dadhahalantsinh.glif</string>
    <key>dadharasinh</key>
    <string>dadharasinh.glif</string>
    <key>dadharephsinh</key>
    <string>dadharephsinh.glif</string>
    <key>dadhasinh</key>
    <string>dadhasinh.glif</string>
    <key>dadhiivowelsinh</key>
    <string>dadhiivowelsinh.glif</string>
    <key>dadhivowelsinh</key>
    <string>dadhivowelsinh.glif</string>
    <key>dadhuuvowelsinh</key>
    <string>dadhuuvowelsinh.glif</string>
    <key>dadhuvowelsinh</key>
    <string>dadhuvowelsinh.glif</string>
    <key>dahalantsinh</key>
    <string>dahalantsinh.glif</string>
    <key>danda.sinh</key>
    <string>danda.sinh.glif</string>
    <key>darahalantsinh</key>
    <string>darahalantsinh.glif</string>
    <key>darasinh</key>
    <string>darasinh.glif</string>
    <key>darephsinh</key>
    <string>darephsinh.glif</string>
    <key>dariivowelsinh</key>
    <string>dariivowelsinh.glif</string>
    <key>darivowelsinh</key>
    <string>darivowelsinh.glif</string>
    <key>darrvocalicvowelsinh</key>
    <string>darrvocalicvowelsinh.glif</string>
    <key>darvocalicvowelsinh</key>
    <string>darvocalicvowelsinh.glif</string>
    <key>dasinh</key>
    <string>dasinh.glif</string>
    <key>datouchsinh</key>
    <string>datouchsinh.glif</string>
    <key>davahalantsinh</key>
    <string>davahalantsinh.glif</string>
    <key>davarasinh</key>
    <string>davarasinh.glif</string>
    <key>davarephsinh</key>
    <string>davarephsinh.glif</string>
    <key>davasinh</key>
    <string>davasinh.glif</string>
    <key>daviivowelsinh</key>
    <string>daviivowelsinh.glif</string>
    <key>davivowelsinh</key>
    <string>davivowelsinh.glif</string>
    <key>davuuvowelsinh</key>
    <string>davuuvowelsinh.glif</string>
    <key>davuvowelsinh</key>
    <string>davuvowelsinh.glif</string>
    <key>dayaavowelsinh</key>
    <string>dayaavowelsinh.glif</string>
    <key>dayahalantsinh</key>
    <string>dayahalantsinh.glif</string>
    <key>dayasinh</key>
    <string>dayasinh.glif</string>
    <key>dayoovowelsinh</key>
    <string>dayoovowelsinh.glif</string>
    <key>dbldanda.sinh</key>
    <string>dbldanda.sinh.glif</string>
    <key>ddahalantsinh</key>
    <string>ddahalantsinh.glif</string>
    <key>ddarasinh</key>
    <string>ddarasinh.glif</string>
    <key>ddarephsinh</key>
    <string>ddarephsinh.glif</string>
    <key>ddasinh</key>
    <string>ddasinh.glif</string>
    <key>ddatouchsinh</key>
    <string>ddatouchsinh.glif</string>
    <key>ddhahalantsinh</key>
    <string>ddhahalantsinh.glif</string>
    <key>ddharasinh</key>
    <string>ddharasinh.glif</string>
    <key>ddharephsinh</key>
    <string>ddharephsinh.glif</string>
    <key>ddhasinh</key>
    <string>ddhasinh.glif</string>
    <key>ddhatouchsinh</key>
    <string>ddhatouchsinh.glif</string>
    <key>ddhiivowelsinh</key>
    <string>ddhiivowelsinh.glif</string>
    <key>ddhivowelsinh</key>
    <string>ddhivowelsinh.glif</string>
    <key>ddhuuvowelsinh</key>
    <string>ddhuuvowelsinh.glif</string>
    <key>ddhuvowelsinh</key>
    <string>ddhuvowelsinh.glif</string>
    <key>ddiivowelsinh</key>
    <string>ddiivowelsinh.glif</string>
    <key>ddivowelsinh</key>
    <string>ddivowelsinh.glif</string>
    <key>dduuvowelsinh</key>
    <string>dduuvowelsinh.glif</string>
    <key>dduvowelsinh</key>
    <string>dduvowelsinh.glif</string>
    <key>dhahalantsinh</key>
    <string>dhahalantsinh.glif</string>
    <key>dharasinh</key>
    <string>dharasinh.glif</string>
    <key>dharephsinh</key>
    <string>dharephsinh.glif</string>
    <key>dhasinh</key>
    <string>dhasinh.glif</string>
    <key>dhatouchsinh</key>
    <string>dhatouchsinh.glif</string>
    <key>dhiivowelsinh</key>
    <string>dhiivowelsinh.glif</string>
    <key>dhivowelsinh</key>
    <string>dhivowelsinh.glif</string>
    <key>dhuuvowelsinh</key>
    <string>dhuuvowelsinh.glif</string>
    <key>dhuvowelsinh</key>
    <string>dhuvowelsinh.glif</string>
    <key>diivowelsinh</key>
    <string>diivowelsinh.glif</string>
    <key>divide.sinh</key>
    <string>divide.sinh.glif</string>
    <key>divowelsinh</key>
    <string>divowelsinh.glif</string>
    <key>doovowelsignsinh</key>
    <string>doovowelsignsinh.glif</string>
    <key>duuvowelsinh</key>
    <string>duuvowelsinh.glif</string>
    <key>duvowelsinh</key>
    <string>duvowelsinh.glif</string>
    <key>easinh</key>
    <string>easinh.glif</string>
    <key>eesinh</key>
    <string>eesinh.glif</string>
    <key>eight.sinh</key>
    <string>eight.sinh.glif</string>
    <key>ellipsis.sinh</key>
    <string>ellipsis.sinh.glif</string>
    <key>emdash.sinh</key>
    <string>emdash.sinh.glif</string>
    <key>endash.sinh</key>
    <string>endash.sinh.glif</string>
    <key>equal.sinh</key>
    <string>equal.sinh.glif</string>
    <key>esinh</key>
    <string>esinh.glif</string>
    <key>evowelsignsinh</key>
    <string>evowelsignsinh.glif</string>
    <key>exclam.sinh</key>
    <string>exclam.sinh.glif</string>
    <key>fahalantsinh</key>
    <string>fahalantsinh.glif</string>
    <key>farasinh</key>
    <string>farasinh.glif</string>
    <key>farephsinh</key>
    <string>farephsinh.glif</string>
    <key>fasinh</key>
    <string>fasinh.glif</string>
    <key>fatouchsinh</key>
    <string>fatouchsinh.glif</string>
    <key>fiivowelsinh</key>
    <string>fiivowelsinh.glif</string>
    <key>five.sinh</key>
    <string>five.sinh.glif</string>
    <key>fivowelsinh</key>
    <string>fivowelsinh.glif</string>
    <key>four.sinh</key>
    <string>four.sinh.glif</string>
    <key>fuuvowelsinh</key>
    <string>fuuvowelsinh.glif</string>
    <key>fuvowelsinh</key>
    <string>fuvowelsinh.glif</string>
    <key>gadhahalantsinh</key>
    <string>gadhahalantsinh.glif</string>
    <key>gadharasinh</key>
    <string>gadharasinh.glif</string>
    <key>gadharephsinh</key>
    <string>gadharephsinh.glif</string>
    <key>gadhasinh</key>
    <string>gadhasinh.glif</string>
    <key>gadhiivowelsinh</key>
    <string>gadhiivowelsinh.glif</string>
    <key>gadhivowelsinh</key>
    <string>gadhivowelsinh.glif</string>
    <key>gadhuuvowelsinh</key>
    <string>gadhuuvowelsinh.glif</string>
    <key>gadhuvowelsinh</key>
    <string>gadhuvowelsinh.glif</string>
    <key>gahalantsinh</key>
    <string>gahalantsinh.glif</string>
    <key>garasinh</key>
    <string>garasinh.glif</string>
    <key>garephsinh</key>
    <string>garephsinh.glif</string>
    <key>gasinh</key>
    <string>gasinh.glif</string>
    <key>gatouchsinh</key>
    <string>gatouchsinh.glif</string>
    <key>ghahalantsinh</key>
    <string>ghahalantsinh.glif</string>
    <key>gharasinh</key>
    <string>gharasinh.glif</string>
    <key>gharephsinh</key>
    <string>gharephsinh.glif</string>
    <key>ghasinh</key>
    <string>ghasinh.glif</string>
    <key>ghatouchsinh</key>
    <string>ghatouchsinh.glif</string>
    <key>ghiivowelsinh</key>
    <string>ghiivowelsinh.glif</string>
    <key>ghivowelsinh</key>
    <string>ghivowelsinh.glif</string>
    <key>ghuuvowelsinh</key>
    <string>ghuuvowelsinh.glif</string>
    <key>ghuvowelsinh</key>
    <string>ghuvowelsinh.glif</string>
    <key>giivowelsinh</key>
    <string>giivowelsinh.glif</string>
    <key>givowelsinh</key>
    <string>givowelsinh.glif</string>
    <key>greater.sinh</key>
    <string>greater.sinh.glif</string>
    <key>guuvowelsinh</key>
    <string>guuvowelsinh.glif</string>
    <key>guvowelsinh</key>
    <string>guvowelsinh.glif</string>
    <key>hahalantsinh</key>
    <string>hahalantsinh.glif</string>
    <key>harasinh</key>
    <string>harasinh.glif</string>
    <key>harephsinh</key>
    <string>harephsinh.glif</string>
    <key>hasinh</key>
    <string>hasinh.glif</string>
    <key>hatouchsinh</key>
    <string>hatouchsinh.glif</string>
    <key>hiivowelsinh</key>
    <string>hiivowelsinh.glif</string>
    <key>hivowelsinh</key>
    <string>hivowelsinh.glif</string>
    <key>huuvowelsinh</key>
    <string>huuvowelsinh.glif</string>
    <key>huvowelsinh</key>
    <string>huvowelsinh.glif</string>
    <key>hyphen.sinh</key>
    <string>hyphen.sinh.glif</string>
    <key>iisinh</key>
    <string>iisinh.glif</string>
    <key>iivowelsignsinh</key>
    <string>iivowelsignsinh.glif</string>
    <key>isinh</key>
    <string>isinh.glif</string>
    <key>ivowelsignsinh</key>
    <string>ivowelsignsinh.glif</string>
    <key>jahalantsinh</key>
    <string>jahalantsinh.glif</string>
    <key>jarasinh</key>
    <string>jarasinh.glif</string>
    <key>jarephsinh</key>
    <string>jarephsinh.glif</string>
    <key>jasinh</key>
    <string>jasinh.glif</string>
    <key>jatouchsinh</key>
    <string>jatouchsinh.glif</string>
    <key>jhahalantsinh</key>
    <string>jhahalantsinh.glif</string>
    <key>jharasinh</key>
    <string>jharasinh.glif</string>
    <key>jharephsinh</key>
    <string>jharephsinh.glif</string>
    <key>jhasinh</key>
    <string>jhasinh.glif</string>
    <key>jhatouchsinh</key>
    <string>jhatouchsinh.glif</string>
    <key>jhiivowelsinh</key>
    <string>jhiivowelsinh.glif</string>
    <key>jhivowelsinh</key>
    <string>jhivowelsinh.glif</string>
    <key>jhuuvowelsinh</key>
    <string>jhuuvowelsinh.glif</string>
    <key>jhuvowelsinh</key>
    <string>jhuvowelsinh.glif</string>
    <key>jiivowelsinh</key>
    <string>jiivowelsinh.glif</string>
    <key>jivowelsinh</key>
    <string>jivowelsinh.glif</string>
    <key>jnyaavowelsinh</key>
    <string>jnyaavowelsinh.glif</string>
    <key>jnyahalantsinh</key>
    <string>jnyahalantsinh.glif</string>
    <key>jnyarahalantsinh</key>
    <string>jnyarahalantsinh.glif</string>
    <key>jnyarasinh</key>
    <string>jnyarasinh.glif</string>
    <key>jnyarephsinh</key>
    <string>jnyarephsinh.glif</string>
    <key>jnyariivowelsinh</key>
    <string>jnyariivowelsinh.glif</string>
    <key>jnyarivowelsinh</key>
    <string>jnyarivowelsinh.glif</string>
    <key>jnyasinh</key>
    <string>jnyasinh.glif</string>
    <key>jnyatouchsinh</key>
    <string>jnyatouchsinh.glif</string>
    <key>jnyiivowelsinh</key>
    <string>jnyiivowelsinh.glif</string>
    <key>jnyivowelsinh</key>
    <string>jnyivowelsinh.glif</string>
    <key>jnyuuvowelsinh</key>
    <string>jnyuuvowelsinh.glif</string>
    <key>jnyuvowelsinh</key>
    <string>jnyuvowelsinh.glif</string>
    <key>juuvowelsinh</key>
    <string>juuvowelsinh.glif</string>
    <key>juvowelsinh</key>
    <string>juvowelsinh.glif</string>
    <key>kahalantsinh</key>
    <string>kahalantsinh.glif</string>
    <key>karasinh</key>
    <string>karasinh.glif</string>
    <key>karephsinh</key>
    <string>karephsinh.glif</string>
    <key>kasinh</key>
    <string>kasinh.glif</string>
    <key>kassahalantsinh</key>
    <string>kassahalantsinh.glif</string>
    <key>kassarasinh</key>
    <string>kassarasinh.glif</string>
    <key>kassarephsinh</key>
    <string>kassarephsinh.glif</string>
    <key>kassasinh</key>
    <string>kassasinh.glif</string>
    <key>kassiivowelsinh</key>
    <string>kassiivowelsinh.glif</string>
    <key>kassivowelsinh</key>
    <string>kassivowelsinh.glif</string>
    <key>kassuuvowelsinh</key>
    <string>kassuuvowelsinh.glif</string>
    <key>kassuvowelsinh</key>
    <string>kassuvowelsinh.glif</string>
    <key>katouchsinh</key>
    <string>katouchsinh.glif</string>
    <key>kavahalantsinh</key>
    <string>kavahalantsinh.glif</string>
    <key>kavarasinh</key>
    <string>kavarasinh.glif</string>
    <key>kavarephsinh</key>
    <string>kavarephsinh.glif</string>
    <key>kavasinh</key>
    <string>kavasinh.glif</string>
    <key>kaviivowelsinh</key>
    <string>kaviivowelsinh.glif</string>
    <key>kavivowelsinh</key>
    <string>kavivowelsinh.glif</string>
    <key>kavuuvowelsinh</key>
    <string>kavuuvowelsinh.glif</string>
    <key>kavuvowelsinh</key>
    <string>kavuvowelsinh.glif</string>
    <key>khahalantsinh</key>
    <string>khahalantsinh.glif</string>
    <key>kharasinh</key>
    <string>kharasinh.glif</string>
    <key>kharephsinh</key>
    <string>kharephsinh.glif</string>
    <key>khasinh</key>
    <string>khasinh.glif</string>
    <key>khatouchsinh</key>
    <string>khatouchsinh.glif</string>
    <key>khiivowelsinh</key>
    <string>khiivowelsinh.glif</string>
    <key>khivowelsinh</key>
    <string>khivowelsinh.glif</string>
    <key>khuuvowelsinh</key>
    <string>khuuvowelsinh.glif</string>
    <key>khuvowelsinh</key>
    <string>khuvowelsinh.glif</string>
    <key>kiivowelsinh</key>
    <string>kiivowelsinh.glif</string>
    <key>kivowelsinh</key>
    <string>kivowelsinh.glif</string>
    <key>kunddaliyasinh</key>
    <string>kunddaliyasinh.glif</string>
    <key>kuuvowelsinh</key>
    <string>kuuvowelsinh.glif</string>
    <key>kuvowelsinh</key>
    <string>kuvowelsinh.glif</string>
    <key>lahalantsinh</key>
    <string>lahalantsinh.glif</string>
    <key>larahalantsinh</key>
    <string>larahalantsinh.glif</string>
    <key>larasinh</key>
    <string>larasinh.glif</string>
    <key>larephsinh</key>
    <string>larephsinh.glif</string>
    <key>lariivowelsinh</key>
    <string>lariivowelsinh.glif</string>
    <key>larivowelsinh</key>
    <string>larivowelsinh.glif</string>
    <key>lasinh</key>
    <string>lasinh.glif</string>
    <key>latouchsinh</key>
    <string>latouchsinh.glif</string>
    <key>less.sinh</key>
    <string>less.sinh.glif</string>
    <key>liivowelsinh</key>
    <string>liivowelsinh.glif</string>
    <key>livowelsinh</key>
    <string>livowelsinh.glif</string>
    <key>llahalantaltsinh</key>
    <string>llahalantaltsinh.glif</string>
    <key>llahalantsinh</key>
    <string>llahalantsinh.glif</string>
    <key>llarasinh</key>
    <string>llarasinh.glif</string>
    <key>llarephsinh</key>
    <string>llarephsinh.glif</string>
    <key>llariivowelsinh</key>
    <string>llariivowelsinh.glif</string>
    <key>llarivowelsinh</key>
    <string>llarivowelsinh.glif</string>
    <key>llasinh</key>
    <string>llasinh.glif</string>
    <key>llatouchsinh</key>
    <string>llatouchsinh.glif</string>
    <key>lliivowelsinh</key>
    <string>lliivowelsinh.glif</string>
    <key>llivowelsinh</key>
    <string>llivowelsinh.glif</string>
    <key>lluvowelsinh</key>
    <string>lluvowelsinh.glif</string>
    <key>llvocalicsinh</key>
    <string>llvocalicsinh.glif</string>
    <key>llvocalicvowelsignsinh</key>
    <string>llvocalicvowelsignsinh.glif</string>
    <key>luuvowelsinh</key>
    <string>luuvowelsinh.glif</string>
    <key>luvowelsinh</key>
    <string>luvowelsinh.glif</string>
    <key>lvocalicsinh</key>
    <string>lvocalicsinh.glif</string>
    <key>lvocalicvowelsignsinh</key>
    <string>lvocalicvowelsignsinh.glif</string>
    <key>mahalantsinh</key>
    <string>mahalantsinh.glif</string>
    <key>marasinh</key>
    <string>marasinh.glif</string>
    <key>marephsinh</key>
    <string>marephsinh.glif</string>
    <key>masinh</key>
    <string>masinh.glif</string>
    <key>matouchsinh</key>
    <string>matouchsinh.glif</string>
    <key>mbahalantsinh</key>
    <string>mbahalantsinh.glif</string>
    <key>mbarasinh</key>
    <string>mbarasinh.glif</string>
    <key>mbarephsinh</key>
    <string>mbarephsinh.glif</string>
    <key>mbasinh</key>
    <string>mbasinh.glif</string>
    <key>mbatouchsinh</key>
    <string>mbatouchsinh.glif</string>
    <key>mbiivowelsinh</key>
    <string>mbiivowelsinh.glif</string>
    <key>mbivowelsinh</key>
    <string>mbivowelsinh.glif</string>
    <key>mbuuvowelsinh</key>
    <string>mbuuvowelsinh.glif</string>
    <key>mbuvowelsinh</key>
    <string>mbuvowelsinh.glif</string>
    <key>miivowelsinh</key>
    <string>miivowelsinh.glif</string>
    <key>minus.sinh</key>
    <string>minus.sinh.glif</string>
    <key>mivowelsinh</key>
    <string>mivowelsinh.glif</string>
    <key>multiply.sinh</key>
    <string>multiply.sinh.glif</string>
    <key>muuvowelsinh</key>
    <string>muuvowelsinh.glif</string>
    <key>muvowelsinh</key>
    <string>muvowelsinh.glif</string>
    <key>nadaavowelsinh</key>
    <string>nadaavowelsinh.glif</string>
    <key>nadahalantsinh</key>
    <string>nadahalantsinh.glif</string>
    <key>nadarahalantsinh</key>
    <string>nadarahalantsinh.glif</string>
    <key>nadarasinh</key>
    <string>nadarasinh.glif</string>
    <key>nadarephsinh</key>
    <string>nadarephsinh.glif</string>
    <key>nadariivowelsinh</key>
    <string>nadariivowelsinh.glif</string>
    <key>nadarivowelsinh</key>
    <string>nadarivowelsinh.glif</string>
    <key>nadasinh</key>
    <string>nadasinh.glif</string>
    <key>nadhahalantsinh</key>
    <string>nadhahalantsinh.glif</string>
    <key>nadharasinh</key>
    <string>nadharasinh.glif</string>
    <key>nadharephsinh</key>
    <string>nadharephsinh.glif</string>
    <key>nadhasinh</key>
    <string>nadhasinh.glif</string>
    <key>nadhiivowelsinh</key>
    <string>nadhiivowelsinh.glif</string>
    <key>nadhivowelsinh</key>
    <string>nadhivowelsinh.glif</string>
    <key>nadhuuvowelsinh</key>
    <string>nadhuuvowelsinh.glif</string>
    <key>nadhuvowelsinh</key>
    <string>nadhuvowelsinh.glif</string>
    <key>nadiivowelsinh</key>
    <string>nadiivowelsinh.glif</string>
    <key>nadivowelsinh</key>
    <string>nadivowelsinh.glif</string>
    <key>naduuvowelsinh</key>
    <string>naduuvowelsinh.glif</string>
    <key>naduvowelsinh</key>
    <string>naduvowelsinh.glif</string>
    <key>nahalantsinh</key>
    <string>nahalantsinh.glif</string>
    <key>narasinh</key>
    <string>narasinh.glif</string>
    <key>narephsinh</key>
    <string>narephsinh.glif</string>
    <key>nasinh</key>
    <string>nasinh.glif</string>
    <key>nathahalantsinh</key>
    <string>nathahalantsinh.glif</string>
    <key>natharasinh</key>
    <string>natharasinh.glif</string>
    <key>natharephsinh</key>
    <string>natharephsinh.glif</string>
    <key>nathasinh</key>
    <string>nathasinh.glif</string>
    <key>nathiivowelsinh</key>
    <string>nathiivowelsinh.glif</string>
    <key>nathivowelsinh</key>
    <string>nathivowelsinh.glif</string>
    <key>nathuuvowelsinh</key>
    <string>nathuuvowelsinh.glif</string>
    <key>nathuvowelsinh</key>
    <string>nathuvowelsinh.glif</string>
    <key>natouchsinh</key>
    <string>natouchsinh.glif</string>
    <key>navahalantsinh</key>
    <string>navahalantsinh.glif</string>
    <key>navarasinh</key>
    <string>navarasinh.glif</string>
    <key>navarephsinh</key>
    <string>navarephsinh.glif</string>
    <key>navasinh</key>
    <string>navasinh.glif</string>
    <key>naviivowelsinh</key>
    <string>naviivowelsinh.glif</string>
    <key>navivowelsinh</key>
    <string>navivowelsinh.glif</string>
    <key>navuuvowelsinh</key>
    <string>navuuvowelsinh.glif</string>
    <key>navuvowelsinh</key>
    <string>navuvowelsinh.glif</string>
    <key>ndaavowelsinh</key>
    <string>ndaavowelsinh.glif</string>
    <key>ndahalantsinh</key>
    <string>ndahalantsinh.glif</string>
    <key>ndarahalantsinh</key>
    <string>ndarahalantsinh.glif</string>
    <key>ndarasinh</key>
    <string>ndarasinh.glif</string>
    <key>ndarephsinh</key>
    <string>ndarephsinh.glif</string>
    <key>ndariivowelsinh</key>
    <string>ndariivowelsinh.glif</string>
    <key>ndarivowelsinh</key>
    <string>ndarivowelsinh.glif</string>
    <key>ndasinh</key>
    <string>ndasinh.glif</string>
    <key>ndatouchsinh</key>
    <string>ndatouchsinh.glif</string>
    <key>ndiivowelsinh</key>
    <string>ndiivowelsinh.glif</string>
    <key>ndivowelsinh</key>
    <string>ndivowelsinh.glif</string>
    <key>nduuvowelsinh</key>
    <string>nduuvowelsinh.glif</string>
    <key>nduvowelsinh</key>
    <string>nduvowelsinh.glif</string>
    <key>ngahalantsinh</key>
    <string>ngahalantsinh.glif</string>
    <key>ngarasinh</key>
    <string>ngarasinh.glif</string>
    <key>ngarephsinh</key>
    <string>ngarephsinh.glif</string>
    <key>ngasinh</key>
    <string>ngasinh.glif</string>
    <key>ngatouchsinh</key>
    <string>ngatouchsinh.glif</string>
    <key>ngiivowelsinh</key>
    <string>ngiivowelsinh.glif</string>
    <key>ngivowelsinh</key>
    <string>ngivowelsinh.glif</string>
    <key>nguuvowelsinh</key>
    <string>nguuvowelsinh.glif</string>
    <key>nguvowelsinh</key>
    <string>nguvowelsinh.glif</string>
    <key>niivowelsinh</key>
    <string>niivowelsinh.glif</string>
    <key>nine.sinh</key>
    <string>nine.sinh.glif</string>
    <key>nivowelsinh</key>
    <string>nivowelsinh.glif</string>
    <key>nnahalantsinh</key>
    <string>nnahalantsinh.glif</string>
    <key>nnarasinh</key>
    <string>nnarasinh.glif</string>
    <key>nnarephsinh</key>
    <string>nnarephsinh.glif</string>
    <key>nnasinh</key>
    <string>nnasinh.glif</string>
    <key>nnatouchsinh</key>
    <string>nnatouchsinh.glif</string>
    <key>nnddahalantsinh</key>
    <string>nnddahalantsinh.glif</string>
    <key>nnddarasinh</key>
    <string>nnddarasinh.glif</string>
    <key>nnddarephsinh</key>
    <string>nnddarephsinh.glif</string>
    <key>nnddasinh</key>
    <string>nnddasinh.glif</string>
    <key>nnddatouchsinh</key>
    <string>nnddatouchsinh.glif</string>
    <key>nnddiivowelsinh</key>
    <string>nnddiivowelsinh.glif</string>
    <key>nnddivowelsinh</key>
    <string>nnddivowelsinh.glif</string>
    <key>nndduuvowelsinh</key>
    <string>nndduuvowelsinh.glif</string>
    <key>nndduvowelsinh</key>
    <string>nndduvowelsinh.glif</string>
    <key>nngahalantsinh</key>
    <string>nngahalantsinh.glif</string>
    <key>nngarasinh</key>
    <string>nngarasinh.glif</string>
    <key>nngarephsinh</key>
    <string>nngarephsinh.glif</string>
    <key>nngasinh</key>
    <string>nngasinh.glif</string>
    <key>nngatouchsinh</key>
    <string>nngatouchsinh.glif</string>
    <key>nngiivowelsinh</key>
    <string>nngiivowelsinh.glif</string>
    <key>nngivowelsinh</key>
    <string>nngivowelsinh.glif</string>
    <key>nnguuvowelsinh</key>
    <string>nnguuvowelsinh.glif</string>
    <key>nnguvowelsinh</key>
    <string>nnguvowelsinh.glif</string>
    <key>nniivowelsinh</key>
    <string>nniivowelsinh.glif</string>
    <key>nnivowelsinh</key>
    <string>nnivowelsinh.glif</string>
    <key>nnuuvowelsinh</key>
    <string>nnuuvowelsinh.glif</string>
    <key>nnuvowelsinh</key>
    <string>nnuvowelsinh.glif</string>
    <key>numbersign.sinh</key>
    <string>numbersign.sinh.glif</string>
    <key>nuuvowelsinh</key>
    <string>nuuvowelsinh.glif</string>
    <key>nuvowelsinh</key>
    <string>nuvowelsinh.glif</string>
    <key>nyaavowelsinh</key>
    <string>nyaavowelsinh.glif</string>
    <key>nyacahalantsinh</key>
    <string>nyacahalantsinh.glif</string>
    <key>nyacarasinh</key>
    <string>nyacarasinh.glif</string>
    <key>nyacarephsinh</key>
    <string>nyacarephsinh.glif</string>
    <key>nyacasinh</key>
    <string>nyacasinh.glif</string>
    <key>nyaciivowelsinh</key>
    <string>nyaciivowelsinh.glif</string>
    <key>nyacivowelsinh</key>
    <string>nyacivowelsinh.glif</string>
    <key>nyacuuvowelsinh</key>
    <string>nyacuuvowelsinh.glif</string>
    <key>nyacuvowelsinh</key>
    <string>nyacuvowelsinh.glif</string>
    <key>nyahalantsinh</key>
    <string>nyahalantsinh.glif</string>
    <key>nyarahalantsinh</key>
    <string>nyarahalantsinh.glif</string>
    <key>nyarasinh</key>
    <string>nyarasinh.glif</string>
    <key>nyarephsinh</key>
    <string>nyarephsinh.glif</string>
    <key>nyariivowelsinh</key>
    <string>nyariivowelsinh.glif</string>
    <key>nyarivowelsinh</key>
    <string>nyarivowelsinh.glif</string>
    <key>nyasinh</key>
    <string>nyasinh.glif</string>
    <key>nyatouchsinh</key>
    <string>nyatouchsinh.glif</string>
    <key>nyiivowelsinh</key>
    <string>nyiivowelsinh.glif</string>
    <key>nyivowelsinh</key>
    <string>nyivowelsinh.glif</string>
    <key>nyjahalantsinh</key>
    <string>nyjahalantsinh.glif</string>
    <key>nyjarasinh</key>
    <string>nyjarasinh.glif</string>
    <key>nyjarephsinh</key>
    <string>nyjarephsinh.glif</string>
    <key>nyjasinh</key>
    <string>nyjasinh.glif</string>
    <key>nyjatouchsinh</key>
    <string>nyjatouchsinh.glif</string>
    <key>nyjiivowelsinh</key>
    <string>nyjiivowelsinh.glif</string>
    <key>nyjivowelsinh</key>
    <string>nyjivowelsinh.glif</string>
    <key>nyjuuvowelsinh</key>
    <string>nyjuuvowelsinh.glif</string>
    <key>nyjuvowelsinh</key>
    <string>nyjuvowelsinh.glif</string>
    <key>nyuuvowelsinh</key>
    <string>nyuuvowelsinh.glif</string>
    <key>nyuvowelsinh</key>
    <string>nyuvowelsinh.glif</string>
    <key>one.sinh</key>
    <string>one.sinh.glif</string>
    <key>oosinh</key>
    <string>oosinh.glif</string>
    <key>oovowelsignaltsinh</key>
    <string>oovowelsignaltsinh.glif</string>
    <key>osinh</key>
    <string>osinh.glif</string>
    <key>pahalantsinh</key>
    <string>pahalantsinh.glif</string>
    <key>parasinh</key>
    <string>parasinh.glif</string>
    <key>parenleft.sinh</key>
    <string>parenleft.sinh.glif</string>
    <key>parenright.sinh</key>
    <string>parenright.sinh.glif</string>
    <key>parephsinh</key>
    <string>parephsinh.glif</string>
    <key>pasinh</key>
    <string>pasinh.glif</string>
    <key>patouchsinh</key>
    <string>patouchsinh.glif</string>
    <key>percent.sinh</key>
    <string>percent.sinh.glif</string>
    <key>period.sinh</key>
    <string>period.sinh.glif</string>
    <key>phahalantsinh</key>
    <string>phahalantsinh.glif</string>
    <key>pharasinh</key>
    <string>pharasinh.glif</string>
    <key>pharephsinh</key>
    <string>pharephsinh.glif</string>
    <key>phasinh</key>
    <string>phasinh.glif</string>
    <key>phatouchsinh</key>
    <string>phatouchsinh.glif</string>
    <key>phiivowelsinh</key>
    <string>phiivowelsinh.glif</string>
    <key>phivowelsinh</key>
    <string>phivowelsinh.glif</string>
    <key>phuuvowelsinh</key>
    <string>phuuvowelsinh.glif</string>
    <key>phuvowelsinh</key>
    <string>phuvowelsinh.glif</string>
    <key>piivowelsinh</key>
    <string>piivowelsinh.glif</string>
    <key>pivowelsinh</key>
    <string>pivowelsinh.glif</string>
    <key>plus.sinh</key>
    <string>plus.sinh.glif</string>
    <key>puuvowelsinh</key>
    <string>puuvowelsinh.glif</string>
    <key>puvowelsinh</key>
    <string>puvowelsinh.glif</string>
    <key>question.sinh</key>
    <string>question.sinh.glif</string>
    <key>quotedbl.sinh</key>
    <string>quotedbl.sinh.glif</string>
    <key>quotedblleft.sinh</key>
    <string>quotedblleft.sinh.glif</string>
    <key>quotedblright.sinh</key>
    <string>quotedblright.sinh.glif</string>
    <key>quoteleft.sinh</key>
    <string>quoteleft.sinh.glif</string>
    <key>quoteright.sinh</key>
    <string>quoteright.sinh.glif</string>
    <key>quotesingle.sinh</key>
    <string>quotesingle.sinh.glif</string>
    <key>raaevowelsinh</key>
    <string>raaevowelsinh.glif</string>
    <key>raevowelsinh</key>
    <string>raevowelsinh.glif</string>
    <key>rahalantsinh</key>
    <string>rahalantsinh.glif</string>
    <key>rakarsinh</key>
    <string>rakarsinh.glif</string>
    <key>rasinh</key>
    <string>rasinh.glif</string>
    <key>ratouchsinh</key>
    <string>ratouchsinh.glif</string>
    <key>rephsinh</key>
    <string>rephsinh.glif</string>
    <key>riivowelsinh</key>
    <string>riivowelsinh.glif</string>
    <key>rivowelsinh</key>
    <string>rivowelsinh.glif</string>
    <key>rrvocalicsinh</key>
    <string>rrvocalicsinh.glif</string>
    <key>rrvocalicvowelsignsinh</key>
    <string>rrvocalicvowelsignsinh.glif</string>
    <key>rvocalicbasesinh</key>
    <string>rvocalicbasesinh.glif</string>
    <key>rvocalicsinh</key>
    <string>rvocalicsinh.glif</string>
    <key>rvocalicvowelsignsinh</key>
    <string>rvocalicvowelsignsinh.glif</string>
    <key>sahalantsinh</key>
    <string>sahalantsinh.glif</string>
    <key>sarasinh</key>
    <string>sarasinh.glif</string>
    <key>sarephsinh</key>
    <string>sarephsinh.glif</string>
    <key>sasinh</key>
    <string>sasinh.glif</string>
    <key>satouchsinh</key>
    <string>satouchsinh.glif</string>
    <key>semicolon.sinh</key>
    <string>semicolon.sinh.glif</string>
    <key>seven.sinh</key>
    <string>seven.sinh.glif</string>
    <key>sfthyphen.sinh</key>
    <string>sfthyphen.sinh.glif</string>
    <key>shahalantsinh</key>
    <string>shahalantsinh.glif</string>
    <key>sharasinh</key>
    <string>sharasinh.glif</string>
    <key>sharephsinh</key>
    <string>sharephsinh.glif</string>
    <key>shasinh</key>
    <string>shasinh.glif</string>
    <key>shatouchsinh</key>
    <string>shatouchsinh.glif</string>
    <key>shiivowelsinh</key>
    <string>shiivowelsinh.glif</string>
    <key>shivowelsinh</key>
    <string>shivowelsinh.glif</string>
    <key>shuuvowelsinh</key>
    <string>shuuvowelsinh.glif</string>
    <key>shuvowelsinh</key>
    <string>shuvowelsinh.glif</string>
    <key>siivowelsinh</key>
    <string>siivowelsinh.glif</string>
    <key>sivowelsinh</key>
    <string>sivowelsinh.glif</string>
    <key>six.sinh</key>
    <string>six.sinh.glif</string>
    <key>slash.sinh</key>
    <string>slash.sinh.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssahalantsinh</key>
    <string>ssahalantsinh.glif</string>
    <key>ssarasinh</key>
    <string>ssarasinh.glif</string>
    <key>ssarephsinh</key>
    <string>ssarephsinh.glif</string>
    <key>ssasinh</key>
    <string>ssasinh.glif</string>
    <key>ssatouchsinh</key>
    <string>ssatouchsinh.glif</string>
    <key>ssiivowelsinh</key>
    <string>ssiivowelsinh.glif</string>
    <key>ssivowelsinh</key>
    <string>ssivowelsinh.glif</string>
    <key>ssuuvowelsinh</key>
    <string>ssuuvowelsinh.glif</string>
    <key>ssuvowelsinh</key>
    <string>ssuvowelsinh.glif</string>
    <key>suuvowelsinh</key>
    <string>suuvowelsinh.glif</string>
    <key>suvowelsinh</key>
    <string>suvowelsinh.glif</string>
    <key>tahalantsinh</key>
    <string>tahalantsinh.glif</string>
    <key>tarasinh</key>
    <string>tarasinh.glif</string>
    <key>tarephsinh</key>
    <string>tarephsinh.glif</string>
    <key>tasinh</key>
    <string>tasinh.glif</string>
    <key>tathahalantsinh</key>
    <string>tathahalantsinh.glif</string>
    <key>tatharasinh</key>
    <string>tatharasinh.glif</string>
    <key>tatharephsinh</key>
    <string>tatharephsinh.glif</string>
    <key>tathasinh</key>
    <string>tathasinh.glif</string>
    <key>tathiivowelsinh</key>
    <string>tathiivowelsinh.glif</string>
    <key>tathivowelsinh</key>
    <string>tathivowelsinh.glif</string>
    <key>tathuuvowelsinh</key>
    <string>tathuuvowelsinh.glif</string>
    <key>tathuvowelsinh</key>
    <string>tathuvowelsinh.glif</string>
    <key>tatouchsinh</key>
    <string>tatouchsinh.glif</string>
    <key>tavahalantsinh</key>
    <string>tavahalantsinh.glif</string>
    <key>tavarasinh</key>
    <string>tavarasinh.glif</string>
    <key>tavarephsinh</key>
    <string>tavarephsinh.glif</string>
    <key>tavasinh</key>
    <string>tavasinh.glif</string>
    <key>taviivowelsinh</key>
    <string>taviivowelsinh.glif</string>
    <key>tavivowelsinh</key>
    <string>tavivowelsinh.glif</string>
    <key>tavuuvowelsinh</key>
    <string>tavuuvowelsinh.glif</string>
    <key>tavuvowelsinh</key>
    <string>tavuvowelsinh.glif</string>
    <key>thahalantsinh</key>
    <string>thahalantsinh.glif</string>
    <key>tharasinh</key>
    <string>tharasinh.glif</string>
    <key>tharephsinh</key>
    <string>tharephsinh.glif</string>
    <key>thasinh</key>
    <string>thasinh.glif</string>
    <key>thatouchsinh</key>
    <string>thatouchsinh.glif</string>
    <key>thiivowelsinh</key>
    <string>thiivowelsinh.glif</string>
    <key>thivowelsinh</key>
    <string>thivowelsinh.glif</string>
    <key>three.sinh</key>
    <string>three.sinh.glif</string>
    <key>thuuvowelsinh</key>
    <string>thuuvowelsinh.glif</string>
    <key>thuvowelsinh</key>
    <string>thuvowelsinh.glif</string>
    <key>tiivowelsinh</key>
    <string>tiivowelsinh.glif</string>
    <key>tivowelsinh</key>
    <string>tivowelsinh.glif</string>
    <key>ttahalantsinh</key>
    <string>ttahalantsinh.glif</string>
    <key>ttarasinh</key>
    <string>ttarasinh.glif</string>
    <key>ttarephsinh</key>
    <string>ttarephsinh.glif</string>
    <key>ttasinh</key>
    <string>ttasinh.glif</string>
    <key>ttatouchsinh</key>
    <string>ttatouchsinh.glif</string>
    <key>ttatthahalantsinh</key>
    <string>ttatthahalantsinh.glif</string>
    <key>ttattharasinh</key>
    <string>ttattharasinh.glif</string>
    <key>ttattharephsinh</key>
    <string>ttattharephsinh.glif</string>
    <key>ttatthasinh</key>
    <string>ttatthasinh.glif</string>
    <key>ttatthiivowelsinh</key>
    <string>ttatthiivowelsinh.glif</string>
    <key>ttatthivowelsinh</key>
    <string>ttatthivowelsinh.glif</string>
    <key>ttatthuuvowelsinh</key>
    <string>ttatthuuvowelsinh.glif</string>
    <key>ttatthuvowelsinh</key>
    <string>ttatthuvowelsinh.glif</string>
    <key>tthahalantsinh</key>
    <string>tthahalantsinh.glif</string>
    <key>ttharasinh</key>
    <string>ttharasinh.glif</string>
    <key>ttharephsinh</key>
    <string>ttharephsinh.glif</string>
    <key>tthasinh</key>
    <string>tthasinh.glif</string>
    <key>tthatouchsinh</key>
    <string>tthatouchsinh.glif</string>
    <key>tthiivowelsinh</key>
    <string>tthiivowelsinh.glif</string>
    <key>tthivowelsinh</key>
    <string>tthivowelsinh.glif</string>
    <key>tthuuvowelsinh</key>
    <string>tthuuvowelsinh.glif</string>
    <key>tthuvowelsinh</key>
    <string>tthuvowelsinh.glif</string>
    <key>ttiivowelsinh</key>
    <string>ttiivowelsinh.glif</string>
    <key>ttivowelsinh</key>
    <string>ttivowelsinh.glif</string>
    <key>ttuuvowelsinh</key>
    <string>ttuuvowelsinh.glif</string>
    <key>ttuvowelsinh</key>
    <string>ttuvowelsinh.glif</string>
    <key>tuuvowelsinh</key>
    <string>tuuvowelsinh.glif</string>
    <key>tuvowelsinh</key>
    <string>tuvowelsinh.glif</string>
    <key>two.sinh</key>
    <string>two.sinh.glif</string>
    <key>u111E1</key>
    <string>u111E_1.glif</string>
    <key>u111E2</key>
    <string>u111E_2.glif</string>
    <key>u111E3</key>
    <string>u111E_3.glif</string>
    <key>u111E4</key>
    <string>u111E_4.glif</string>
    <key>u111E5</key>
    <string>u111E_5.glif</string>
    <key>u111E6</key>
    <string>u111E_6.glif</string>
    <key>u111E7</key>
    <string>u111E_7.glif</string>
    <key>u111E8</key>
    <string>u111E_8.glif</string>
    <key>u111E9</key>
    <string>u111E_9.glif</string>
    <key>u111EA</key>
    <string>u111E_A_.glif</string>
    <key>u111EB</key>
    <string>u111E_B_.glif</string>
    <key>u111EC</key>
    <string>u111E_C_.glif</string>
    <key>u111ED</key>
    <string>u111E_D_.glif</string>
    <key>u111EE</key>
    <string>u111E_E_.glif</string>
    <key>u111EF</key>
    <string>u111E_F_.glif</string>
    <key>u111F0</key>
    <string>u111F_0.glif</string>
    <key>u111F1</key>
    <string>u111F_1.glif</string>
    <key>u111F2</key>
    <string>u111F_2.glif</string>
    <key>u111F3</key>
    <string>u111F_3.glif</string>
    <key>u111F4</key>
    <string>u111F_4.glif</string>
    <key>underscore.sinh</key>
    <string>underscore.sinh.glif</string>
    <key>uni00A0.sinh</key>
    <string>uni00A_0.sinh.glif</string>
    <key>uni0DDA</key>
    <string>uni0D_D_A_.glif</string>
    <key>uni0DDC</key>
    <string>uni0D_D_C_.glif</string>
    <key>uni0DDD</key>
    <string>uni0D_D_D_.glif</string>
    <key>uni0DDE</key>
    <string>uni0D_D_E_.glif</string>
    <key>uni0DE6</key>
    <string>uni0D_E_6.glif</string>
    <key>uni0DE7</key>
    <string>uni0D_E_7.glif</string>
    <key>uni0DE8</key>
    <string>uni0D_E_8.glif</string>
    <key>uni0DE9</key>
    <string>uni0D_E_9.glif</string>
    <key>uni0DEA</key>
    <string>uni0D_E_A_.glif</string>
    <key>uni0DEB</key>
    <string>uni0D_E_B_.glif</string>
    <key>uni0DEC</key>
    <string>uni0D_E_C_.glif</string>
    <key>uni0DED</key>
    <string>uni0D_E_D_.glif</string>
    <key>uni0DEE</key>
    <string>uni0D_E_E_.glif</string>
    <key>uni0DEF</key>
    <string>uni0D_E_F_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>usinh</key>
    <string>usinh.glif</string>
    <key>uusinh</key>
    <string>uusinh.glif</string>
    <key>uuvowelsignsinh</key>
    <string>uuvowelsignsinh.glif</string>
    <key>uvowelsignsinh</key>
    <string>uvowelsignsinh.glif</string>
    <key>vahalantsinh</key>
    <string>vahalantsinh.glif</string>
    <key>varasinh</key>
    <string>varasinh.glif</string>
    <key>varephsinh</key>
    <string>varephsinh.glif</string>
    <key>vasinh</key>
    <string>vasinh.glif</string>
    <key>vatouchsinh</key>
    <string>vatouchsinh.glif</string>
    <key>viivowelsinh</key>
    <string>viivowelsinh.glif</string>
    <key>viramasinh</key>
    <string>viramasinh.glif</string>
    <key>visargasinh</key>
    <string>visargasinh.glif</string>
    <key>vivowelsinh</key>
    <string>vivowelsinh.glif</string>
    <key>vuuvowelsinh</key>
    <string>vuuvowelsinh.glif</string>
    <key>vuvowelsinh</key>
    <string>vuvowelsinh.glif</string>
    <key>yahalantsinh</key>
    <string>yahalantsinh.glif</string>
    <key>yaposthalantsinh</key>
    <string>yaposthalantsinh.glif</string>
    <key>yapostiivowelsinh</key>
    <string>yapostiivowelsinh.glif</string>
    <key>yapostivowelsinh</key>
    <string>yapostivowelsinh.glif</string>
    <key>yapostrephsinh</key>
    <string>yapostrephsinh.glif</string>
    <key>yapostsinh</key>
    <string>yapostsinh.glif</string>
    <key>yapostuuvowelsinh</key>
    <string>yapostuuvowelsinh.glif</string>
    <key>yapostuvowelsinh</key>
    <string>yapostuvowelsinh.glif</string>
    <key>yarasinh</key>
    <string>yarasinh.glif</string>
    <key>yarephsinh</key>
    <string>yarephsinh.glif</string>
    <key>yasinh</key>
    <string>yasinh.glif</string>
    <key>yatouchsinh</key>
    <string>yatouchsinh.glif</string>
    <key>yiivowelsinh</key>
    <string>yiivowelsinh.glif</string>
    <key>yivowelsinh</key>
    <string>yivowelsinh.glif</string>
    <key>yuuvowelsinh</key>
    <string>yuuvowelsinh.glif</string>
    <key>yuvowelsinh</key>
    <string>yuvowelsinh.glif</string>
    <key>zero.sinh</key>
    <string>zero.sinh.glif</string>
  </dict>
</plist>
