<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0964</key>
    <string>uni0964.glif</string>
    <key>uni0965</key>
    <string>uni0965.glif</string>
    <key>uni09E6</key>
    <string>uni09E_6.glif</string>
    <key>uni09E7</key>
    <string>uni09E_7.glif</string>
    <key>uni09E8</key>
    <string>uni09E_8.glif</string>
    <key>uni09E9</key>
    <string>uni09E_9.glif</string>
    <key>uni09EA</key>
    <string>uni09E_A_.glif</string>
    <key>uni09EB</key>
    <string>uni09E_B_.glif</string>
    <key>uni09EC</key>
    <string>uni09E_C_.glif</string>
    <key>uni09ED</key>
    <string>uni09E_D_.glif</string>
    <key>uni09EE</key>
    <string>uni09E_E_.glif</string>
    <key>uni09EF</key>
    <string>uni09E_F_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
    <key>uni2055</key>
    <string>uni2055.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA800</key>
    <string>uniA_800.glif</string>
    <key>uniA801</key>
    <string>uniA_801.glif</string>
    <key>uniA802</key>
    <string>uniA_802.glif</string>
    <key>uniA803</key>
    <string>uniA_803.glif</string>
    <key>uniA804</key>
    <string>uniA_804.glif</string>
    <key>uniA805</key>
    <string>uniA_805.glif</string>
    <key>uniA806</key>
    <string>uniA_806.glif</string>
    <key>uniA807</key>
    <string>uniA_807.glif</string>
    <key>uniA807uniA807</key>
    <string>uniA_807uniA_807.glif</string>
    <key>uniA807uniA814</key>
    <string>uniA_807uniA_814.glif</string>
    <key>uniA808</key>
    <string>uniA_808.glif</string>
    <key>uniA809</key>
    <string>uniA_809.glif</string>
    <key>uniA80A</key>
    <string>uniA_80A_.glif</string>
    <key>uniA80B</key>
    <string>uniA_80B_.glif</string>
    <key>uniA80C</key>
    <string>uniA_80C_.glif</string>
    <key>uniA80CuniA80C</key>
    <string>uniA_80C_uniA_80C_.glif</string>
    <key>uniA80CuniA80D</key>
    <string>uniA_80C_uniA_80D_.glif</string>
    <key>uniA80D</key>
    <string>uniA_80D_.glif</string>
    <key>uniA80E</key>
    <string>uniA_80E_.glif</string>
    <key>uniA80EuniA80E</key>
    <string>uniA_80E_uniA_80E_.glif</string>
    <key>uniA80F</key>
    <string>uniA_80F_.glif</string>
    <key>uniA810</key>
    <string>uniA_810.glif</string>
    <key>uniA811</key>
    <string>uniA_811.glif</string>
    <key>uniA812</key>
    <string>uniA_812.glif</string>
    <key>uniA813</key>
    <string>uniA_813.glif</string>
    <key>uniA814</key>
    <string>uniA_814.glif</string>
    <key>uniA814uniA814</key>
    <string>uniA_814uniA_814.glif</string>
    <key>uniA815</key>
    <string>uniA_815.glif</string>
    <key>uniA816</key>
    <string>uniA_816.glif</string>
    <key>uniA817</key>
    <string>uniA_817.glif</string>
    <key>uniA818</key>
    <string>uniA_818.glif</string>
    <key>uniA818uniA814</key>
    <string>uniA_818uniA_814.glif</string>
    <key>uniA818uniA816</key>
    <string>uniA_818uniA_816.glif</string>
    <key>uniA818uniA818</key>
    <string>uniA_818uniA_818.glif</string>
    <key>uniA819</key>
    <string>uniA_819.glif</string>
    <key>uniA81A</key>
    <string>uniA_81A_.glif</string>
    <key>uniA81B</key>
    <string>uniA_81B_.glif</string>
    <key>uniA81BuniA81B</key>
    <string>uniA_81B_uniA_81B_.glif</string>
    <key>uniA81C</key>
    <string>uniA_81C_.glif</string>
    <key>uniA81D</key>
    <string>uniA_81D_.glif</string>
    <key>uniA81DuniA81B</key>
    <string>uniA_81D_uniA_81B_.glif</string>
    <key>uniA81DuniA81D</key>
    <string>uniA_81D_uniA_81D_.glif</string>
    <key>uniA81E</key>
    <string>uniA_81E_.glif</string>
    <key>uniA81EuniA81F</key>
    <string>uniA_81E_uniA_81F_.glif</string>
    <key>uniA81F</key>
    <string>uniA_81F_.glif</string>
    <key>uniA820</key>
    <string>uniA_820.glif</string>
    <key>uniA821</key>
    <string>uniA_821.glif</string>
    <key>uniA821uniA807</key>
    <string>uniA_821uniA_807.glif</string>
    <key>uniA821uniA80C</key>
    <string>uniA_821uniA_80C_.glif</string>
    <key>uniA821uniA80D</key>
    <string>uniA_821uniA_80D_.glif</string>
    <key>uniA821uniA814</key>
    <string>uniA_821uniA_814.glif</string>
    <key>uniA821uniA81B</key>
    <string>uniA_821uniA_81B_.glif</string>
    <key>uniA822</key>
    <string>uniA_822.glif</string>
    <key>uniA823</key>
    <string>uniA_823.glif</string>
    <key>uniA824</key>
    <string>uniA_824.glif</string>
    <key>uniA825</key>
    <string>uniA_825.glif</string>
    <key>uniA826</key>
    <string>uniA_826.glif</string>
    <key>uniA827</key>
    <string>uniA_827.glif</string>
    <key>uniA828</key>
    <string>uniA_828.glif</string>
    <key>uniA829</key>
    <string>uniA_829.glif</string>
    <key>uniA82A</key>
    <string>uniA_82A_.glif</string>
    <key>uniA82B</key>
    <string>uniA_82B_.glif</string>
    <key>uniA82C</key>
    <string>uniA_82C_.glif</string>
  </dict>
</plist>
