<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansSinhala-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
	
	<key>NotoSansSinhala-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
	
	<key>NotoSansSinhala-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 151-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
	
	<key>NotoSansSinhala-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>

	<key>NotoSansSinhala-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
		
	<key>NotoSansSinhala-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
		
	<key>NotoSansSinhala-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
	
	<key>NotoSansSinhalaUI-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
	
	<key>NotoSansSinhalaUI-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
	
	<key>NotoSansSinhalaUI-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 151-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>

	<key>NotoSansSinhalaUI-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
	
	<key>NotoSansSinhalaUI-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
	
	<key>NotoSansSinhalaUI-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
		
	<key>NotoSansSinhalaUI-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Sinhala GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Sinhala 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Sinhala GSUB.txt</string>
	</dict>
		
</dict>
</plist>

