<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>iMatra-beng</key>
    <dict>
      <key>kha-beng</key>
      <real>-16.310344827586206</real>
    </dict>
    <key>iMatra-beng.wide3</key>
    <dict>
      <key>p_tta-beng</key>
      <real>-25.724137931034484</real>
    </dict>
    <key>public.kern1.bnmE</key>
    <dict>
      <key>c_ba-beng</key>
      <integer>20</integer>
      <key>j_ny_ba-beng</key>
      <real>-25.586206896551722</real>
      <key>j_ny_ra-beng</key>
      <real>13.724137931034484</real>
      <key>l_ra-beng</key>
      <real>7.448275862068966</real>
      <key>m_b_ra-beng</key>
      <real>6.275862068965517</real>
      <key>m_la-beng</key>
      <real>7.448275862068966</real>
      <key>n_d_ba-beng</key>
      <real>-49.44827586206897</real>
      <key>ng_k_ra-beng</key>
      <real>13.724137931034484</real>
      <key>p_ba-beng</key>
      <real>-29.413793103448278</real>
      <key>p_ma-beng</key>
      <integer>-35</integer>
      <key>p_na-beng</key>
      <integer>-25</integer>
      <key>p_sa-beng</key>
      <real>-42.44827586206897</real>
      <key>p_tta_auLength-beng</key>
      <real>-29.413793103448278</real>
      <key>p_tta_iiMatra-beng</key>
      <real>-29.413793103448278</real>
      <key>public.kern2.above_N</key>
      <real>-33.13793103448276</real>
      <key>public.kern2.b_ra</key>
      <real>13.724137931034484</real>
      <key>public.kern2.bnBA</key>
      <real>-20.586206896551722</real>
      <key>public.kern2.lower_LA</key>
      <integer>20</integer>
      <key>public.kern2.upper_SA</key>
      <integer>-35</integer>
      <key>public.kern2.upper_SHA</key>
      <real>-42.44827586206897</real>
      <key>public.kern2.upper_ttha</key>
      <real>-42.44827586206897</real>
      <key>ss_ba-beng</key>
      <real>-12.551724137931034</real>
      <key>ss_ka-beng</key>
      <real>-19.448275862068964</real>
      <key>ss_ra-beng</key>
      <real>7.448275862068966</real>
      <key>ss_tt_ra-beng</key>
      <real>12.551724137931034</real>
      <key>t_t_ba-beng</key>
      <real>-19.448275862068964</real>
      <key>tt_ba-beng</key>
      <integer>20</integer>
      <key>y_ra-beng</key>
      <real>7.448275862068966</real>
    </dict>
  </dict>
</plist>
