<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>oiMatra_anusvara</key>
    <string>oiM_atra_anusvara.glif</string>
    <key>oiMatra_anusvara.short</key>
    <string>oiM_atra_anusvara.short.glif</string>
    <key>oiMatra_candrabindu</key>
    <string>oiM_atra_candrabindu.glif</string>
    <key>oiMatra_candrabindu.short</key>
    <string>oiM_atra_candrabindu.short.glif</string>
    <key>oiMatra_maayyaa</key>
    <string>oiM_atra_maayyaa.glif</string>
    <key>oiMatra_maayyaa.short</key>
    <string>oiM_atra_maayyaa.short.glif</string>
    <key>oiMatra_visarga</key>
    <string>oiM_atra_visarga.glif</string>
    <key>oiMatra_visarga.short</key>
    <string>oiM_atra_visarga.short.glif</string>
    <key>phaa_chakma.below</key>
    <string>phaa_chakma.below.glif</string>
    <key>raa.below_oMark.short</key>
    <string>raa.below_oM_ark.short.glif</string>
    <key>raa.below_uMark</key>
    <string>raa.below_uM_ark.glif</string>
    <key>raa.below_uMark.short</key>
    <string>raa.below_uM_ark.short.glif</string>
    <key>raa.below_uuMark</key>
    <string>raa.below_uuM_ark.glif</string>
    <key>raa.below_uuMark.alt</key>
    <string>raa.below_uuM_ark.alt.glif</string>
    <key>raa.below_uuMark.short</key>
    <string>raa.below_uuM_ark.short.glif</string>
  </dict>
</plist>
