<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>a-wcho</key>
    <string>a-wcho.glif</string>
    <key>aa-wcho</key>
    <string>aa-wcho.glif</string>
    <key>aan-wcho</key>
    <string>aan-wcho.glif</string>
    <key>aang-wcho</key>
    <string>aang-wcho.glif</string>
    <key>ang-wcho</key>
    <string>ang-wcho.glif</string>
    <key>au-wcho</key>
    <string>au-wcho.glif</string>
    <key>ba-wcho</key>
    <string>ba-wcho.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>backslash.wcho</key>
    <string>backslash.wcho.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.wcho</key>
    <string>braceleft.wcho.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.wcho</key>
    <string>braceright.wcho.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.wcho</key>
    <string>bracketleft.wcho.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.wcho</key>
    <string>bracketright.wcho.glif</string>
    <key>ca-wcho</key>
    <string>ca-wcho.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.wcho</key>
    <string>comma.wcho.glif</string>
    <key>da-wcho</key>
    <string>da-wcho.glif</string>
    <key>dotted_circle</key>
    <string>dotted_circle.glif</string>
    <key>e-wcho</key>
    <string>e-wcho.glif</string>
    <key>eight-wcho</key>
    <string>eight-wcho.glif</string>
    <key>en-wcho</key>
    <string>en-wcho.glif</string>
    <key>fa-wcho</key>
    <string>fa-wcho.glif</string>
    <key>five-wcho</key>
    <string>five-wcho.glif</string>
    <key>four-wcho</key>
    <string>four-wcho.glif</string>
    <key>ga-wcho</key>
    <string>ga-wcho.glif</string>
    <key>ha-wcho</key>
    <string>ha-wcho.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.wcho</key>
    <string>hyphen.wcho.glif</string>
    <key>i-wcho</key>
    <string>i-wcho.glif</string>
    <key>ing-wcho</key>
    <string>ing-wcho.glif</string>
    <key>ja-wcho</key>
    <string>ja-wcho.glif</string>
    <key>ka-wcho</key>
    <string>ka-wcho.glif</string>
    <key>kha-wcho</key>
    <string>kha-wcho.glif</string>
    <key>koi-wcho</key>
    <string>koi-wcho.glif</string>
    <key>koini-wcho</key>
    <string>koini-wcho.glif</string>
    <key>la-wcho</key>
    <string>la-wcho.glif</string>
    <key>llha-wcho</key>
    <string>llha-wcho.glif</string>
    <key>ma-wcho</key>
    <string>ma-wcho.glif</string>
    <key>na-wcho</key>
    <string>na-wcho.glif</string>
    <key>nga-wcho</key>
    <string>nga-wcho.glif</string>
    <key>ngunSign-wcho</key>
    <string>ngunS_ign-wcho.glif</string>
    <key>nine-wcho</key>
    <string>nine-wcho.glif</string>
    <key>nya-wcho</key>
    <string>nya-wcho.glif</string>
    <key>o-wcho</key>
    <string>o-wcho.glif</string>
    <key>on-wcho</key>
    <string>on-wcho.glif</string>
    <key>one-wcho</key>
    <string>one-wcho.glif</string>
    <key>ong-wcho</key>
    <string>ong-wcho.glif</string>
    <key>pa-wcho</key>
    <string>pa-wcho.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.wcho</key>
    <string>parenleft.wcho.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.wcho</key>
    <string>parenright.wcho.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.wcho</key>
    <string>period.wcho.glif</string>
    <key>pha-wcho</key>
    <string>pha-wcho.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedbl.wcho</key>
    <string>quotedbl.wcho.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblleft.wcho</key>
    <string>quotedblleft.wcho.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblright.wcho</key>
    <string>quotedblright.wcho.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>quotesingle.wcho</key>
    <string>quotesingle.wcho.glif</string>
    <key>ra-wcho</key>
    <string>ra-wcho.glif</string>
    <key>sa-wcho</key>
    <string>sa-wcho.glif</string>
    <key>seven-wcho</key>
    <string>seven-wcho.glif</string>
    <key>sha-wcho</key>
    <string>sha-wcho.glif</string>
    <key>six-wcho</key>
    <string>six-wcho.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slash.wcho</key>
    <string>slash.wcho.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ta-wcho</key>
    <string>ta-wcho.glif</string>
    <key>tha-wcho</key>
    <string>tha-wcho.glif</string>
    <key>three-wcho</key>
    <string>three-wcho.glif</string>
    <key>tra-wcho</key>
    <string>tra-wcho.glif</string>
    <key>tsa-wcho</key>
    <string>tsa-wcho.glif</string>
    <key>tup-wcho</key>
    <string>tup-wcho.glif</string>
    <key>tupni-wcho</key>
    <string>tupni-wcho.glif</string>
    <key>two-wcho</key>
    <string>two-wcho.glif</string>
    <key>u-wcho</key>
    <string>u-wcho.glif</string>
    <key>uen-wcho</key>
    <string>uen-wcho.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>va-wcho</key>
    <string>va-wcho.glif</string>
    <key>wa-wcho</key>
    <string>wa-wcho.glif</string>
    <key>ya-wcho</key>
    <string>ya-wcho.glif</string>
    <key>yih-wcho</key>
    <string>yih-wcho.glif</string>
    <key>za-wcho</key>
    <string>za-wcho.glif</string>
    <key>zero-wcho</key>
    <string>zero-wcho.glif</string>
  </dict>
</plist>
