<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>AM_wara</key>
	<string>A_M__wara.glif</string>
	<key>AM_wara.sm</key>
	<string>A_M__wara.sm.glif</string>
	<key>ANG_wara</key>
	<string>A_N_G__wara.glif</string>
	<key>ANG_wara.sm</key>
	<string>A_N_G__wara.sm.glif</string>
	<key>AT_wara</key>
	<string>A_T__wara.glif</string>
	<key>AT_wara.sm</key>
	<string>A_T__wara.sm.glif</string>
	<key>A_wara</key>
	<string>A__wara.glif</string>
	<key>A_wara.sm</key>
	<string>A__wara.sm.glif</string>
	<key>BU_wara</key>
	<string>B_U__wara.glif</string>
	<key>BU_wara.sm</key>
	<string>B_U__wara.sm.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>DA_wara</key>
	<string>D_A__wara.glif</string>
	<key>DA_wara.sm</key>
	<string>D_A__wara.sm.glif</string>
	<key>ENN_wara</key>
	<string>E_N_N__wara.glif</string>
	<key>ENN_wara.sm</key>
	<string>E_N_N__wara.sm.glif</string>
	<key>ENY_wara</key>
	<string>E_N_Y__wara.glif</string>
	<key>ENY_wara.sm</key>
	<string>E_N_Y__wara.sm.glif</string>
	<key>E_wara</key>
	<string>E__wara.glif</string>
	<key>E_wara.sm</key>
	<string>E__wara.sm.glif</string>
	<key>GA_wara</key>
	<string>G_A__wara.glif</string>
	<key>GA_wara.sm</key>
	<string>G_A__wara.sm.glif</string>
	<key>HAR_wara</key>
	<string>H_A_R__wara.glif</string>
	<key>HAR_wara.sm</key>
	<string>H_A_R__wara.sm.glif</string>
	<key>HIYO_wara</key>
	<string>H_I_Y_O__wara.glif</string>
	<key>HIYO_wara.sm</key>
	<string>H_I_Y_O__wara.sm.glif</string>
	<key>HOLO_wara</key>
	<string>H_O_L_O__wara.glif</string>
	<key>HOLO_wara.sm</key>
	<string>H_O_L_O__wara.sm.glif</string>
	<key>HORR_wara</key>
	<string>H_O_R_R__wara.glif</string>
	<key>HORR_wara.sm</key>
	<string>H_O_R_R__wara.sm.glif</string>
	<key>II_wara</key>
	<string>I_I__wara.glif</string>
	<key>II_wara.sm</key>
	<string>I_I__wara.sm.glif</string>
	<key>KO_wara</key>
	<string>K_O__wara.glif</string>
	<key>KO_wara.sm</key>
	<string>K_O__wara.sm.glif</string>
	<key>NGAA_wara</key>
	<string>N_G_A_A__wara.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>NUNG_wara</key>
	<string>N_U_N_G__wara.glif</string>
	<key>NUNG_wara.sm</key>
	<string>N_U_N_G__wara.sm.glif</string>
	<key>ODD_wara</key>
	<string>O_D_D__wara.glif</string>
	<key>ODD_wara.sm</key>
	<string>O_D_D__wara.sm.glif</string>
	<key>O_wara</key>
	<string>O__wara.glif</string>
	<key>O_wara.sm</key>
	<string>O__wara.sm.glif</string>
	<key>PU_wara</key>
	<string>P_U__wara.glif</string>
	<key>PU_wara.sm</key>
	<string>P_U__wara.sm.glif</string>
	<key>SII_wara</key>
	<string>S_I_I__wara.glif</string>
	<key>SII_wara.sm</key>
	<string>S_I_I__wara.sm.glif</string>
	<key>SSUU_wara</key>
	<string>S_S_U_U__wara.glif</string>
	<key>SSUU_wara.sm</key>
	<string>S_S_U_U__wara.sm.glif</string>
	<key>TTE_wara</key>
	<string>T_T_E__wara.glif</string>
	<key>TTE_wara.sm</key>
	<string>T_T_E__wara.sm.glif</string>
	<key>UC_wara</key>
	<string>U_C__wara.glif</string>
	<key>UC_wara.sm</key>
	<string>U_C__wara.sm.glif</string>
	<key>UU_wara</key>
	<string>U_U__wara.glif</string>
	<key>UU_wara.sm</key>
	<string>U_U__wara.sm.glif</string>
	<key>VIYO_wara</key>
	<string>V_I_Y_O__wara.glif</string>
	<key>VIYO_wara.sm</key>
	<string>V_I_Y_O__wara.sm.glif</string>
	<key>WI_wara</key>
	<string>W_I__wara.glif</string>
	<key>WI_wara.sm</key>
	<string>W_I__wara.sm.glif</string>
	<key>YA_wara</key>
	<string>Y_A__wara.glif</string>
	<key>YA_wara.sm</key>
	<string>Y_A__wara.sm.glif</string>
	<key>YO_wara</key>
	<string>Y_O__wara.glif</string>
	<key>YO_wara.sm</key>
	<string>Y_O__wara.sm.glif</string>
	<key>YUJ_wara</key>
	<string>Y_U_J__wara.glif</string>
	<key>YUJ_wara.sm</key>
	<string>Y_U_J__wara.sm.glif</string>
	<key>YU_wara</key>
	<string>Y_U__wara.glif</string>
	<key>YU_wara.sm</key>
	<string>Y_U__wara.sm.glif</string>
	<key>ZWJ</key>
	<string>Z_W_J_.glif</string>
	<key>ZWNJ</key>
	<string>Z_W_N_J_.glif</string>
	<key>a_wara</key>
	<string>a_wara.glif</string>
	<key>a_wara.sm</key>
	<string>a_wara.sm.glif</string>
	<key>am_wara</key>
	<string>am_wara.glif</string>
	<key>am_wara.abv</key>
	<string>am_wara.abv.glif</string>
	<key>am_wara.sm</key>
	<string>am_wara.sm.glif</string>
	<key>ang_wara</key>
	<string>ang_wara.glif</string>
	<key>ang_wara.abv</key>
	<string>ang_wara.abv.glif</string>
	<key>ang_wara.sm</key>
	<string>ang_wara.sm.glif</string>
	<key>at_wara</key>
	<string>at_wara.glif</string>
	<key>at_wara.abv</key>
	<string>at_wara.abv.glif</string>
	<key>at_wara.sm</key>
	<string>at_wara.sm.glif</string>
	<key>bu_wara</key>
	<string>bu_wara.glif</string>
	<key>bu_wara.abv</key>
	<string>bu_wara.abv.glif</string>
	<key>bu_wara.sm</key>
	<string>bu_wara.sm.glif</string>
	<key>da_wara</key>
	<string>da_wara.glif</string>
	<key>da_wara.abv</key>
	<string>da_wara.abv.glif</string>
	<key>da_wara.sm</key>
	<string>da_wara.sm.glif</string>
	<key>e_wara</key>
	<string>e_wara.glif</string>
	<key>e_wara.sm</key>
	<string>e_wara.sm.glif</string>
	<key>eight_wara</key>
	<string>eight_wara.glif</string>
	<key>eighty_wara</key>
	<string>eighty_wara.glif</string>
	<key>enn_wara</key>
	<string>enn_wara.glif</string>
	<key>enn_wara.abv</key>
	<string>enn_wara.abv.glif</string>
	<key>enn_wara.sm</key>
	<string>enn_wara.sm.glif</string>
	<key>eny_wara</key>
	<string>eny_wara.glif</string>
	<key>eny_wara.abv</key>
	<string>eny_wara.abv.glif</string>
	<key>eny_wara.sm</key>
	<string>eny_wara.sm.glif</string>
	<key>fifty_wara</key>
	<string>fifty_wara.glif</string>
	<key>five_wara</key>
	<string>five_wara.glif</string>
	<key>forty_wara</key>
	<string>forty_wara.glif</string>
	<key>four_wara</key>
	<string>four_wara.glif</string>
	<key>ga_wara</key>
	<string>ga_wara.glif</string>
	<key>ga_wara.abv</key>
	<string>ga_wara.abv.glif</string>
	<key>ga_wara.sm</key>
	<string>ga_wara.sm.glif</string>
	<key>har_wara</key>
	<string>har_wara.glif</string>
	<key>har_wara.abv</key>
	<string>har_wara.abv.glif</string>
	<key>har_wara.abv.flip</key>
	<string>har_wara.abv.flip.glif</string>
	<key>har_wara.sm</key>
	<string>har_wara.sm.glif</string>
	<key>hiyo_wara</key>
	<string>hiyo_wara.glif</string>
	<key>hiyo_wara.abv</key>
	<string>hiyo_wara.abv.glif</string>
	<key>hiyo_wara.sm</key>
	<string>hiyo_wara.sm.glif</string>
	<key>holo_wara</key>
	<string>holo_wara.glif</string>
	<key>holo_wara.abv</key>
	<string>holo_wara.abv.glif</string>
	<key>holo_wara.abv.flip</key>
	<string>holo_wara.abv.flip.glif</string>
	<key>holo_wara.sm</key>
	<string>holo_wara.sm.glif</string>
	<key>horr_wara</key>
	<string>horr_wara.glif</string>
	<key>horr_wara.abv</key>
	<string>horr_wara.abv.glif</string>
	<key>horr_wara.sm</key>
	<string>horr_wara.sm.glif</string>
	<key>ii_wara</key>
	<string>ii_wara.glif</string>
	<key>ii_wara.sm</key>
	<string>ii_wara.sm.glif</string>
	<key>ko_wara</key>
	<string>ko_wara.glif</string>
	<key>ko_wara.abv</key>
	<string>ko_wara.abv.glif</string>
	<key>ko_wara.sm</key>
	<string>ko_wara.sm.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ngaa_wara</key>
	<string>ngaa_wara.glif</string>
	<key>ngaa_wara.abv</key>
	<string>ngaa_wara.abv.glif</string>
	<key>nine_wara</key>
	<string>nine_wara.glif</string>
	<key>ninety_wara</key>
	<string>ninety_wara.glif</string>
	<key>nung_wara</key>
	<string>nung_wara.glif</string>
	<key>nung_wara.abv</key>
	<string>nung_wara.abv.glif</string>
	<key>nung_wara.sm</key>
	<string>nung_wara.sm.glif</string>
	<key>o_wara</key>
	<string>o_wara.glif</string>
	<key>o_wara.sm</key>
	<string>o_wara.sm.glif</string>
	<key>odd_wara</key>
	<string>odd_wara.glif</string>
	<key>odd_wara.abv</key>
	<string>odd_wara.abv.glif</string>
	<key>odd_wara.sm</key>
	<string>odd_wara.sm.glif</string>
	<key>om_wara</key>
	<string>om_wara.glif</string>
	<key>one_wara</key>
	<string>one_wara.glif</string>
	<key>pu_wara</key>
	<string>pu_wara.glif</string>
	<key>pu_wara.abv</key>
	<string>pu_wara.abv.glif</string>
	<key>pu_wara.abv.flip</key>
	<string>pu_wara.abv.flip.glif</string>
	<key>pu_wara.sm</key>
	<string>pu_wara.sm.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>seven_wara</key>
	<string>seven_wara.glif</string>
	<key>seventy_wara</key>
	<string>seventy_wara.glif</string>
	<key>sii_wara</key>
	<string>sii_wara.glif</string>
	<key>sii_wara.abv</key>
	<string>sii_wara.abv.glif</string>
	<key>sii_wara.sm</key>
	<string>sii_wara.sm.glif</string>
	<key>six_wara</key>
	<string>six_wara.glif</string>
	<key>sixty_wara</key>
	<string>sixty_wara.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ssuu_wara</key>
	<string>ssuu_wara.glif</string>
	<key>ssuu_wara.abv</key>
	<string>ssuu_wara.abv.glif</string>
	<key>ssuu_wara.sm</key>
	<string>ssuu_wara.sm.glif</string>
	<key>ten_wara</key>
	<string>ten_wara.glif</string>
	<key>thirty_wara</key>
	<string>thirty_wara.glif</string>
	<key>three_wara</key>
	<string>three_wara.glif</string>
	<key>tte_wara</key>
	<string>tte_wara.glif</string>
	<key>tte_wara.abv</key>
	<string>tte_wara.abv.glif</string>
	<key>tte_wara.abv.flip</key>
	<string>tte_wara.abv.flip.glif</string>
	<key>tte_wara.sm</key>
	<string>tte_wara.sm.glif</string>
	<key>twenty_wara</key>
	<string>twenty_wara.glif</string>
	<key>two_wara</key>
	<string>two_wara.glif</string>
	<key>uc_wara</key>
	<string>uc_wara.glif</string>
	<key>uc_wara.abv</key>
	<string>uc_wara.abv.glif</string>
	<key>uc_wara.sm</key>
	<string>uc_wara.sm.glif</string>
	<key>uu_wara</key>
	<string>uu_wara.glif</string>
	<key>uu_wara.sm</key>
	<string>uu_wara.sm.glif</string>
	<key>viyo_wara</key>
	<string>viyo_wara.glif</string>
	<key>viyo_wara.abv</key>
	<string>viyo_wara.abv.glif</string>
	<key>viyo_wara.sm</key>
	<string>viyo_wara.sm.glif</string>
	<key>wi_wara</key>
	<string>wi_wara.glif</string>
	<key>wi_wara.sm</key>
	<string>wi_wara.sm.glif</string>
	<key>ya_wara</key>
	<string>ya_wara.glif</string>
	<key>ya_wara.sm</key>
	<string>ya_wara.sm.glif</string>
	<key>yo_wara</key>
	<string>yo_wara.glif</string>
	<key>yo_wara.sm</key>
	<string>yo_wara.sm.glif</string>
	<key>yu_wara</key>
	<string>yu_wara.glif</string>
	<key>yu_wara.sm</key>
	<string>yu_wara.sm.glif</string>
	<key>yuj_wara</key>
	<string>yuj_wara.glif</string>
	<key>yuj_wara.abv</key>
	<string>yuj_wara.abv.glif</string>
	<key>yuj_wara.sm</key>
	<string>yuj_wara.sm.glif</string>
	<key>zero_wara</key>
	<string>zero_wara.glif</string>
</dict>
</plist>
