<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>998</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10330</string>
      <string>u10331</string>
      <string>u10332</string>
      <string>u10333</string>
      <string>u10334</string>
      <string>u10335</string>
      <string>u10336</string>
      <string>u10337</string>
      <string>u10338</string>
      <string>u10339</string>
      <string>u10339.dieresis</string>
      <string>u1033A</string>
      <string>u1033B</string>
      <string>u1033C</string>
      <string>u1033D</string>
      <string>u1033E</string>
      <string>u1033F</string>
      <string>u10340</string>
      <string>u10341</string>
      <string>u10342</string>
      <string>u10343</string>
      <string>u10344</string>
      <string>u10345</string>
      <string>u10346</string>
      <string>u10347</string>
      <string>u10348</string>
      <string>u10349</string>
      <string>u1034A</string>
      <string>uni00A0</string>
      <string>uni0304</string>
      <string>uni0305</string>
      <string>uni0305.alt1</string>
      <string>uni0305.alt2</string>
      <string>uni0305.alt3</string>
      <string>uni0308</string>
      <string>uni0331</string>
    </array>
  </dict>
</plist>
