<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA900</key>
    <string>uniA_900.glif</string>
    <key>uniA901</key>
    <string>uniA_901.glif</string>
    <key>uniA902</key>
    <string>uniA_902.glif</string>
    <key>uniA903</key>
    <string>uniA_903.glif</string>
    <key>uniA904</key>
    <string>uniA_904.glif</string>
    <key>uniA905</key>
    <string>uniA_905.glif</string>
    <key>uniA906</key>
    <string>uniA_906.glif</string>
    <key>uniA907</key>
    <string>uniA_907.glif</string>
    <key>uniA908</key>
    <string>uniA_908.glif</string>
    <key>uniA909</key>
    <string>uniA_909.glif</string>
    <key>uniA90A</key>
    <string>uniA_90A_.glif</string>
    <key>uniA90B</key>
    <string>uniA_90B_.glif</string>
    <key>uniA90C</key>
    <string>uniA_90C_.glif</string>
    <key>uniA90D</key>
    <string>uniA_90D_.glif</string>
    <key>uniA90E</key>
    <string>uniA_90E_.glif</string>
    <key>uniA90F</key>
    <string>uniA_90F_.glif</string>
    <key>uniA910</key>
    <string>uniA_910.glif</string>
    <key>uniA911</key>
    <string>uniA_911.glif</string>
    <key>uniA912</key>
    <string>uniA_912.glif</string>
    <key>uniA913</key>
    <string>uniA_913.glif</string>
    <key>uniA914</key>
    <string>uniA_914.glif</string>
    <key>uniA915</key>
    <string>uniA_915.glif</string>
    <key>uniA916</key>
    <string>uniA_916.glif</string>
    <key>uniA917</key>
    <string>uniA_917.glif</string>
    <key>uniA918</key>
    <string>uniA_918.glif</string>
    <key>uniA919</key>
    <string>uniA_919.glif</string>
    <key>uniA91A</key>
    <string>uniA_91A_.glif</string>
    <key>uniA91B</key>
    <string>uniA_91B_.glif</string>
    <key>uniA91C</key>
    <string>uniA_91C_.glif</string>
    <key>uniA91D</key>
    <string>uniA_91D_.glif</string>
    <key>uniA91E</key>
    <string>uniA_91E_.glif</string>
    <key>uniA91F</key>
    <string>uniA_91F_.glif</string>
    <key>uniA920</key>
    <string>uniA_920.glif</string>
    <key>uniA921</key>
    <string>uniA_921.glif</string>
    <key>uniA922</key>
    <string>uniA_922.glif</string>
    <key>uniA923</key>
    <string>uniA_923.glif</string>
    <key>uniA924</key>
    <string>uniA_924.glif</string>
    <key>uniA925</key>
    <string>uniA_925.glif</string>
    <key>uniA926</key>
    <string>uniA_926.glif</string>
    <key>uniA927</key>
    <string>uniA_927.glif</string>
    <key>uniA928</key>
    <string>uniA_928.glif</string>
    <key>uniA929</key>
    <string>uniA_929.glif</string>
    <key>uniA92A</key>
    <string>uniA_92A_.glif</string>
    <key>uniA92B</key>
    <string>uniA_92B_.glif</string>
    <key>uniA92C</key>
    <string>uniA_92C_.glif</string>
    <key>uniA92C.alt</key>
    <string>uniA_92C_.alt.glif</string>
    <key>uniA92D</key>
    <string>uniA_92D_.glif</string>
    <key>uniA92D.alt</key>
    <string>uniA_92D_.alt.glif</string>
    <key>uniA92E</key>
    <string>uniA_92E_.glif</string>
    <key>uniA92F</key>
    <string>uniA_92F_.glif</string>
  </dict>
</plist>
