<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1163</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisableAllAutomaticBehaviour</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aaesinh</string>
      <string>aaevowelsignlowsinh</string>
      <string>aaevowelsignsinh</string>
      <string>aasinh</string>
      <string>aavowelsignsinh</string>
      <string>aevowelsignlowsinh</string>
      <string>aevowelsignsinh</string>
      <string>aisinh</string>
      <string>aivowelsignsinh</string>
      <string>anusvarasinh</string>
      <string>asciicircum.sinh</string>
      <string>asciitilde.sinh</string>
      <string>asinh</string>
      <string>asterisk.sinh</string>
      <string>ausinh</string>
      <string>backslash.sinh</string>
      <string>bahalantsinh</string>
      <string>bar.sinh</string>
      <string>barasinh</string>
      <string>barephsinh</string>
      <string>basinh</string>
      <string>batouchsinh</string>
      <string>bhahalantsinh</string>
      <string>bharasinh</string>
      <string>bharephsinh</string>
      <string>bhasinh</string>
      <string>bhatouchsinh</string>
      <string>bhiivowelsinh</string>
      <string>bhivowelsinh</string>
      <string>bhuuvowelsinh</string>
      <string>bhuvowelsinh</string>
      <string>biivowelsinh</string>
      <string>bivowelsinh</string>
      <string>braceleft.sinh</string>
      <string>braceright.sinh</string>
      <string>bracketleft.sinh</string>
      <string>bracketright.sinh</string>
      <string>buuvowelsinh</string>
      <string>buvowelsinh</string>
      <string>cahalantsinh</string>
      <string>carasinh</string>
      <string>carephsinh</string>
      <string>casinh</string>
      <string>catouchsinh</string>
      <string>chahalantsinh</string>
      <string>charasinh</string>
      <string>charephsinh</string>
      <string>chasinh</string>
      <string>chatouchsinh</string>
      <string>chiivowelsinh</string>
      <string>chivowelsinh</string>
      <string>chuuvowelsinh</string>
      <string>chuvowelsinh</string>
      <string>ciivowelsinh</string>
      <string>civowelsinh</string>
      <string>colon.sinh</string>
      <string>comma.sinh</string>
      <string>cuuvowelsinh</string>
      <string>cuvowelsinh</string>
      <string>daavowelsinh</string>
      <string>dadhahalantsinh</string>
      <string>dadharasinh</string>
      <string>dadharephsinh</string>
      <string>dadhasinh</string>
      <string>dadhiivowelsinh</string>
      <string>dadhivowelsinh</string>
      <string>dadhuuvowelsinh</string>
      <string>dadhuvowelsinh</string>
      <string>dahalantsinh</string>
      <string>danda.sinh</string>
      <string>darahalantsinh</string>
      <string>darasinh</string>
      <string>darephsinh</string>
      <string>dariivowelsinh</string>
      <string>darivowelsinh</string>
      <string>darrvocalicvowelsinh</string>
      <string>darvocalicvowelsinh</string>
      <string>dasinh</string>
      <string>datouchsinh</string>
      <string>davahalantsinh</string>
      <string>davarasinh</string>
      <string>davarephsinh</string>
      <string>davasinh</string>
      <string>daviivowelsinh</string>
      <string>davivowelsinh</string>
      <string>davuuvowelsinh</string>
      <string>davuvowelsinh</string>
      <string>dayaavowelsinh</string>
      <string>dayahalantsinh</string>
      <string>dayasinh</string>
      <string>dayoovowelsinh</string>
      <string>dbldanda.sinh</string>
      <string>ddahalantsinh</string>
      <string>ddarasinh</string>
      <string>ddarephsinh</string>
      <string>ddasinh</string>
      <string>ddatouchsinh</string>
      <string>ddhahalantsinh</string>
      <string>ddharasinh</string>
      <string>ddharephsinh</string>
      <string>ddhasinh</string>
      <string>ddhatouchsinh</string>
      <string>ddhiivowelsinh</string>
      <string>ddhivowelsinh</string>
      <string>ddhuuvowelsinh</string>
      <string>ddhuvowelsinh</string>
      <string>ddiivowelsinh</string>
      <string>ddivowelsinh</string>
      <string>dduuvowelsinh</string>
      <string>dduvowelsinh</string>
      <string>dhahalantsinh</string>
      <string>dharasinh</string>
      <string>dharephsinh</string>
      <string>dhasinh</string>
      <string>dhatouchsinh</string>
      <string>dhiivowelsinh</string>
      <string>dhivowelsinh</string>
      <string>dhuuvowelsinh</string>
      <string>dhuvowelsinh</string>
      <string>diivowelsinh</string>
      <string>divide.sinh</string>
      <string>divowelsinh</string>
      <string>doovowelsignsinh</string>
      <string>duuvowelsinh</string>
      <string>duvowelsinh</string>
      <string>easinh</string>
      <string>eesinh</string>
      <string>eight.sinh</string>
      <string>ellipsis.sinh</string>
      <string>emdash.sinh</string>
      <string>endash.sinh</string>
      <string>equal.sinh</string>
      <string>esinh</string>
      <string>evowelsignsinh</string>
      <string>exclam.sinh</string>
      <string>fahalantsinh</string>
      <string>farasinh</string>
      <string>farephsinh</string>
      <string>fasinh</string>
      <string>fatouchsinh</string>
      <string>fiivowelsinh</string>
      <string>five.sinh</string>
      <string>fivowelsinh</string>
      <string>four.sinh</string>
      <string>fuuvowelsinh</string>
      <string>fuvowelsinh</string>
      <string>gadhahalantsinh</string>
      <string>gadharasinh</string>
      <string>gadharephsinh</string>
      <string>gadhasinh</string>
      <string>gadhiivowelsinh</string>
      <string>gadhivowelsinh</string>
      <string>gadhuuvowelsinh</string>
      <string>gadhuvowelsinh</string>
      <string>gahalantsinh</string>
      <string>garasinh</string>
      <string>garephsinh</string>
      <string>gasinh</string>
      <string>gatouchsinh</string>
      <string>ghahalantsinh</string>
      <string>gharasinh</string>
      <string>gharephsinh</string>
      <string>ghasinh</string>
      <string>ghatouchsinh</string>
      <string>ghiivowelsinh</string>
      <string>ghivowelsinh</string>
      <string>ghuuvowelsinh</string>
      <string>ghuvowelsinh</string>
      <string>giivowelsinh</string>
      <string>givowelsinh</string>
      <string>greater.sinh</string>
      <string>guuvowelsinh</string>
      <string>guvowelsinh</string>
      <string>hahalantsinh</string>
      <string>harasinh</string>
      <string>harephsinh</string>
      <string>hasinh</string>
      <string>hatouchsinh</string>
      <string>hiivowelsinh</string>
      <string>hivowelsinh</string>
      <string>huuvowelsinh</string>
      <string>huvowelsinh</string>
      <string>hyphen.sinh</string>
      <string>iisinh</string>
      <string>iivowelsignsinh</string>
      <string>isinh</string>
      <string>ivowelsignsinh</string>
      <string>jahalantsinh</string>
      <string>jarasinh</string>
      <string>jarephsinh</string>
      <string>jasinh</string>
      <string>jatouchsinh</string>
      <string>jhahalantsinh</string>
      <string>jharasinh</string>
      <string>jharephsinh</string>
      <string>jhasinh</string>
      <string>jhatouchsinh</string>
      <string>jhiivowelsinh</string>
      <string>jhivowelsinh</string>
      <string>jhuuvowelsinh</string>
      <string>jhuvowelsinh</string>
      <string>jiivowelsinh</string>
      <string>jivowelsinh</string>
      <string>jnyaavowelsinh</string>
      <string>jnyahalantsinh</string>
      <string>jnyarahalantsinh</string>
      <string>jnyarasinh</string>
      <string>jnyarephsinh</string>
      <string>jnyariivowelsinh</string>
      <string>jnyarivowelsinh</string>
      <string>jnyasinh</string>
      <string>jnyatouchsinh</string>
      <string>jnyiivowelsinh</string>
      <string>jnyivowelsinh</string>
      <string>jnyuuvowelsinh</string>
      <string>jnyuvowelsinh</string>
      <string>juuvowelsinh</string>
      <string>juvowelsinh</string>
      <string>kahalantsinh</string>
      <string>karasinh</string>
      <string>karephsinh</string>
      <string>kasinh</string>
      <string>kassahalantsinh</string>
      <string>kassarasinh</string>
      <string>kassarephsinh</string>
      <string>kassasinh</string>
      <string>kassiivowelsinh</string>
      <string>kassivowelsinh</string>
      <string>kassuuvowelsinh</string>
      <string>kassuvowelsinh</string>
      <string>katouchsinh</string>
      <string>kavahalantsinh</string>
      <string>kavarasinh</string>
      <string>kavarephsinh</string>
      <string>kavasinh</string>
      <string>kaviivowelsinh</string>
      <string>kavivowelsinh</string>
      <string>kavuuvowelsinh</string>
      <string>kavuvowelsinh</string>
      <string>khahalantsinh</string>
      <string>kharasinh</string>
      <string>kharephsinh</string>
      <string>khasinh</string>
      <string>khatouchsinh</string>
      <string>khiivowelsinh</string>
      <string>khivowelsinh</string>
      <string>khuuvowelsinh</string>
      <string>khuvowelsinh</string>
      <string>kiivowelsinh</string>
      <string>kivowelsinh</string>
      <string>kunddaliyasinh</string>
      <string>kuuvowelsinh</string>
      <string>kuvowelsinh</string>
      <string>lahalantsinh</string>
      <string>larahalantsinh</string>
      <string>larasinh</string>
      <string>larephsinh</string>
      <string>lariivowelsinh</string>
      <string>larivowelsinh</string>
      <string>lasinh</string>
      <string>latouchsinh</string>
      <string>less.sinh</string>
      <string>liivowelsinh</string>
      <string>livowelsinh</string>
      <string>llahalantaltsinh</string>
      <string>llahalantsinh</string>
      <string>llarasinh</string>
      <string>llarephsinh</string>
      <string>llariivowelsinh</string>
      <string>llarivowelsinh</string>
      <string>llasinh</string>
      <string>llatouchsinh</string>
      <string>lliivowelsinh</string>
      <string>llivowelsinh</string>
      <string>lluvowelsinh</string>
      <string>llvocalicsinh</string>
      <string>llvocalicvowelsignsinh</string>
      <string>luuvowelsinh</string>
      <string>luvowelsinh</string>
      <string>lvocalicsinh</string>
      <string>lvocalicvowelsignsinh</string>
      <string>mahalantsinh</string>
      <string>marasinh</string>
      <string>marephsinh</string>
      <string>masinh</string>
      <string>matouchsinh</string>
      <string>mbahalantsinh</string>
      <string>mbarasinh</string>
      <string>mbarephsinh</string>
      <string>mbasinh</string>
      <string>mbatouchsinh</string>
      <string>mbiivowelsinh</string>
      <string>mbivowelsinh</string>
      <string>mbuuvowelsinh</string>
      <string>mbuvowelsinh</string>
      <string>miivowelsinh</string>
      <string>minus.sinh</string>
      <string>mivowelsinh</string>
      <string>multiply.sinh</string>
      <string>muuvowelsinh</string>
      <string>muvowelsinh</string>
      <string>nadaavowelsinh</string>
      <string>nadahalantsinh</string>
      <string>nadarahalantsinh</string>
      <string>nadarasinh</string>
      <string>nadarephsinh</string>
      <string>nadariivowelsinh</string>
      <string>nadarivowelsinh</string>
      <string>nadasinh</string>
      <string>nadhahalantsinh</string>
      <string>nadharasinh</string>
      <string>nadharephsinh</string>
      <string>nadhasinh</string>
      <string>nadhiivowelsinh</string>
      <string>nadhivowelsinh</string>
      <string>nadhuuvowelsinh</string>
      <string>nadhuvowelsinh</string>
      <string>nadiivowelsinh</string>
      <string>nadivowelsinh</string>
      <string>naduuvowelsinh</string>
      <string>naduvowelsinh</string>
      <string>nahalantsinh</string>
      <string>narasinh</string>
      <string>narephsinh</string>
      <string>nasinh</string>
      <string>nathahalantsinh</string>
      <string>natharasinh</string>
      <string>natharephsinh</string>
      <string>nathasinh</string>
      <string>nathiivowelsinh</string>
      <string>nathivowelsinh</string>
      <string>nathuuvowelsinh</string>
      <string>nathuvowelsinh</string>
      <string>natouchsinh</string>
      <string>navahalantsinh</string>
      <string>navarasinh</string>
      <string>navarephsinh</string>
      <string>navasinh</string>
      <string>naviivowelsinh</string>
      <string>navivowelsinh</string>
      <string>navuuvowelsinh</string>
      <string>navuvowelsinh</string>
      <string>ndaavowelsinh</string>
      <string>ndahalantsinh</string>
      <string>ndarahalantsinh</string>
      <string>ndarasinh</string>
      <string>ndarephsinh</string>
      <string>ndariivowelsinh</string>
      <string>ndarivowelsinh</string>
      <string>ndasinh</string>
      <string>ndatouchsinh</string>
      <string>ndiivowelsinh</string>
      <string>ndivowelsinh</string>
      <string>nduuvowelsinh</string>
      <string>nduvowelsinh</string>
      <string>ngahalantsinh</string>
      <string>ngarasinh</string>
      <string>ngarephsinh</string>
      <string>ngasinh</string>
      <string>ngatouchsinh</string>
      <string>ngiivowelsinh</string>
      <string>ngivowelsinh</string>
      <string>nguuvowelsinh</string>
      <string>nguvowelsinh</string>
      <string>niivowelsinh</string>
      <string>nine.sinh</string>
      <string>nivowelsinh</string>
      <string>nnahalantsinh</string>
      <string>nnarasinh</string>
      <string>nnarephsinh</string>
      <string>nnasinh</string>
      <string>nnatouchsinh</string>
      <string>nnddahalantsinh</string>
      <string>nnddarasinh</string>
      <string>nnddarephsinh</string>
      <string>nnddasinh</string>
      <string>nnddatouchsinh</string>
      <string>nnddiivowelsinh</string>
      <string>nnddivowelsinh</string>
      <string>nndduuvowelsinh</string>
      <string>nndduvowelsinh</string>
      <string>nngahalantsinh</string>
      <string>nngarasinh</string>
      <string>nngarephsinh</string>
      <string>nngasinh</string>
      <string>nngatouchsinh</string>
      <string>nngiivowelsinh</string>
      <string>nngivowelsinh</string>
      <string>nnguuvowelsinh</string>
      <string>nnguvowelsinh</string>
      <string>nniivowelsinh</string>
      <string>nnivowelsinh</string>
      <string>nnuuvowelsinh</string>
      <string>nnuvowelsinh</string>
      <string>numbersign.sinh</string>
      <string>nuuvowelsinh</string>
      <string>nuvowelsinh</string>
      <string>nyaavowelsinh</string>
      <string>nyacahalantsinh</string>
      <string>nyacarasinh</string>
      <string>nyacarephsinh</string>
      <string>nyacasinh</string>
      <string>nyaciivowelsinh</string>
      <string>nyacivowelsinh</string>
      <string>nyacuuvowelsinh</string>
      <string>nyacuvowelsinh</string>
      <string>nyahalantsinh</string>
      <string>nyarahalantsinh</string>
      <string>nyarasinh</string>
      <string>nyarephsinh</string>
      <string>nyariivowelsinh</string>
      <string>nyarivowelsinh</string>
      <string>nyasinh</string>
      <string>nyatouchsinh</string>
      <string>nyiivowelsinh</string>
      <string>nyivowelsinh</string>
      <string>nyjahalantsinh</string>
      <string>nyjarasinh</string>
      <string>nyjarephsinh</string>
      <string>nyjasinh</string>
      <string>nyjatouchsinh</string>
      <string>nyjiivowelsinh</string>
      <string>nyjivowelsinh</string>
      <string>nyjuuvowelsinh</string>
      <string>nyjuvowelsinh</string>
      <string>nyuuvowelsinh</string>
      <string>nyuvowelsinh</string>
      <string>one.sinh</string>
      <string>oosinh</string>
      <string>oovowelsignaltsinh</string>
      <string>osinh</string>
      <string>pahalantsinh</string>
      <string>parasinh</string>
      <string>parenleft.sinh</string>
      <string>parenright.sinh</string>
      <string>parephsinh</string>
      <string>pasinh</string>
      <string>patouchsinh</string>
      <string>percent.sinh</string>
      <string>period.sinh</string>
      <string>phahalantsinh</string>
      <string>pharasinh</string>
      <string>pharephsinh</string>
      <string>phasinh</string>
      <string>phatouchsinh</string>
      <string>phiivowelsinh</string>
      <string>phivowelsinh</string>
      <string>phuuvowelsinh</string>
      <string>phuvowelsinh</string>
      <string>piivowelsinh</string>
      <string>pivowelsinh</string>
      <string>plus.sinh</string>
      <string>puuvowelsinh</string>
      <string>puvowelsinh</string>
      <string>question.sinh</string>
      <string>quotedbl.sinh</string>
      <string>quotedblleft.sinh</string>
      <string>quotedblright.sinh</string>
      <string>quoteleft.sinh</string>
      <string>quoteright.sinh</string>
      <string>quotesingle.sinh</string>
      <string>raaevowelsinh</string>
      <string>raevowelsinh</string>
      <string>rahalantsinh</string>
      <string>rakarsinh</string>
      <string>rasinh</string>
      <string>ratouchsinh</string>
      <string>rephsinh</string>
      <string>riivowelsinh</string>
      <string>rivowelsinh</string>
      <string>rrvocalicsinh</string>
      <string>rrvocalicvowelsignsinh</string>
      <string>rvocalicbasesinh</string>
      <string>rvocalicsinh</string>
      <string>rvocalicvowelsignsinh</string>
      <string>sahalantsinh</string>
      <string>sarasinh</string>
      <string>sarephsinh</string>
      <string>sasinh</string>
      <string>satouchsinh</string>
      <string>semicolon.sinh</string>
      <string>seven.sinh</string>
      <string>sfthyphen.sinh</string>
      <string>shahalantsinh</string>
      <string>sharasinh</string>
      <string>sharephsinh</string>
      <string>shasinh</string>
      <string>shatouchsinh</string>
      <string>shiivowelsinh</string>
      <string>shivowelsinh</string>
      <string>shuuvowelsinh</string>
      <string>shuvowelsinh</string>
      <string>siivowelsinh</string>
      <string>sivowelsinh</string>
      <string>six.sinh</string>
      <string>slash.sinh</string>
      <string>space</string>
      <string>ssahalantsinh</string>
      <string>ssarasinh</string>
      <string>ssarephsinh</string>
      <string>ssasinh</string>
      <string>ssatouchsinh</string>
      <string>ssiivowelsinh</string>
      <string>ssivowelsinh</string>
      <string>ssuuvowelsinh</string>
      <string>ssuvowelsinh</string>
      <string>suuvowelsinh</string>
      <string>suvowelsinh</string>
      <string>tahalantsinh</string>
      <string>tarasinh</string>
      <string>tarephsinh</string>
      <string>tasinh</string>
      <string>tathahalantsinh</string>
      <string>tatharasinh</string>
      <string>tatharephsinh</string>
      <string>tathasinh</string>
      <string>tathiivowelsinh</string>
      <string>tathivowelsinh</string>
      <string>tathuuvowelsinh</string>
      <string>tathuvowelsinh</string>
      <string>tatouchsinh</string>
      <string>tavahalantsinh</string>
      <string>tavarasinh</string>
      <string>tavarephsinh</string>
      <string>tavasinh</string>
      <string>taviivowelsinh</string>
      <string>tavivowelsinh</string>
      <string>tavuuvowelsinh</string>
      <string>tavuvowelsinh</string>
      <string>thahalantsinh</string>
      <string>tharasinh</string>
      <string>tharephsinh</string>
      <string>thasinh</string>
      <string>thatouchsinh</string>
      <string>thiivowelsinh</string>
      <string>thivowelsinh</string>
      <string>three.sinh</string>
      <string>thuuvowelsinh</string>
      <string>thuvowelsinh</string>
      <string>tiivowelsinh</string>
      <string>tivowelsinh</string>
      <string>ttahalantsinh</string>
      <string>ttarasinh</string>
      <string>ttarephsinh</string>
      <string>ttasinh</string>
      <string>ttatouchsinh</string>
      <string>ttatthahalantsinh</string>
      <string>ttattharasinh</string>
      <string>ttattharephsinh</string>
      <string>ttatthasinh</string>
      <string>ttatthiivowelsinh</string>
      <string>ttatthivowelsinh</string>
      <string>ttatthuuvowelsinh</string>
      <string>ttatthuvowelsinh</string>
      <string>tthahalantsinh</string>
      <string>ttharasinh</string>
      <string>ttharephsinh</string>
      <string>tthasinh</string>
      <string>tthatouchsinh</string>
      <string>tthiivowelsinh</string>
      <string>tthivowelsinh</string>
      <string>tthuuvowelsinh</string>
      <string>tthuvowelsinh</string>
      <string>ttiivowelsinh</string>
      <string>ttivowelsinh</string>
      <string>ttuuvowelsinh</string>
      <string>ttuvowelsinh</string>
      <string>tuuvowelsinh</string>
      <string>tuvowelsinh</string>
      <string>two.sinh</string>
      <string>u111E1</string>
      <string>u111E2</string>
      <string>u111E3</string>
      <string>u111E4</string>
      <string>u111E5</string>
      <string>u111E6</string>
      <string>u111E7</string>
      <string>u111E8</string>
      <string>u111E9</string>
      <string>u111EA</string>
      <string>u111EB</string>
      <string>u111EC</string>
      <string>u111ED</string>
      <string>u111EE</string>
      <string>u111EF</string>
      <string>u111F0</string>
      <string>u111F1</string>
      <string>u111F2</string>
      <string>u111F3</string>
      <string>u111F4</string>
      <string>underscore.sinh</string>
      <string>uni00A0.sinh</string>
      <string>uni0DDA</string>
      <string>uni0DDC</string>
      <string>uni0DDD</string>
      <string>uni0DDE</string>
      <string>uni0DE6</string>
      <string>uni0DE7</string>
      <string>uni0DE8</string>
      <string>uni0DE9</string>
      <string>uni0DEA</string>
      <string>uni0DEB</string>
      <string>uni0DEC</string>
      <string>uni0DED</string>
      <string>uni0DEE</string>
      <string>uni0DEF</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>usinh</string>
      <string>uusinh</string>
      <string>uuvowelsignsinh</string>
      <string>uvowelsignsinh</string>
      <string>vahalantsinh</string>
      <string>varasinh</string>
      <string>varephsinh</string>
      <string>vasinh</string>
      <string>vatouchsinh</string>
      <string>viivowelsinh</string>
      <string>viramasinh</string>
      <string>visargasinh</string>
      <string>vivowelsinh</string>
      <string>vuuvowelsinh</string>
      <string>vuvowelsinh</string>
      <string>yahalantsinh</string>
      <string>yaposthalantsinh</string>
      <string>yapostiivowelsinh</string>
      <string>yapostivowelsinh</string>
      <string>yapostrephsinh</string>
      <string>yapostsinh</string>
      <string>yapostuuvowelsinh</string>
      <string>yapostuvowelsinh</string>
      <string>yarasinh</string>
      <string>yarephsinh</string>
      <string>yasinh</string>
      <string>yatouchsinh</string>
      <string>yiivowelsinh</string>
      <string>yivowelsinh</string>
      <string>yuuvowelsinh</string>
      <string>yuvowelsinh</string>
      <string>zero.sinh</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aaesinh</string>
      <string>aaevowelsignlowsinh</string>
      <string>aaevowelsignsinh</string>
      <string>aasinh</string>
      <string>aavowelsignsinh</string>
      <string>aevowelsignlowsinh</string>
      <string>aevowelsignsinh</string>
      <string>aisinh</string>
      <string>aivowelsignsinh</string>
      <string>anusvarasinh</string>
      <string>asciicircum.sinh</string>
      <string>asciitilde.sinh</string>
      <string>asinh</string>
      <string>asterisk.sinh</string>
      <string>ausinh</string>
      <string>backslash.sinh</string>
      <string>bahalantsinh</string>
      <string>bar.sinh</string>
      <string>barasinh</string>
      <string>barephsinh</string>
      <string>basinh</string>
      <string>batouchsinh</string>
      <string>bhahalantsinh</string>
      <string>bharasinh</string>
      <string>bharephsinh</string>
      <string>bhasinh</string>
      <string>bhatouchsinh</string>
      <string>bhiivowelsinh</string>
      <string>bhivowelsinh</string>
      <string>bhuuvowelsinh</string>
      <string>bhuvowelsinh</string>
      <string>biivowelsinh</string>
      <string>bivowelsinh</string>
      <string>braceleft.sinh</string>
      <string>braceright.sinh</string>
      <string>bracketleft.sinh</string>
      <string>bracketright.sinh</string>
      <string>buuvowelsinh</string>
      <string>buvowelsinh</string>
      <string>cahalantsinh</string>
      <string>carasinh</string>
      <string>carephsinh</string>
      <string>casinh</string>
      <string>catouchsinh</string>
      <string>chahalantsinh</string>
      <string>charasinh</string>
      <string>charephsinh</string>
      <string>chasinh</string>
      <string>chatouchsinh</string>
      <string>chiivowelsinh</string>
      <string>chivowelsinh</string>
      <string>chuuvowelsinh</string>
      <string>chuvowelsinh</string>
      <string>ciivowelsinh</string>
      <string>civowelsinh</string>
      <string>colon.sinh</string>
      <string>comma.sinh</string>
      <string>cuuvowelsinh</string>
      <string>cuvowelsinh</string>
      <string>daavowelsinh</string>
      <string>dadhahalantsinh</string>
      <string>dadharasinh</string>
      <string>dadharephsinh</string>
      <string>dadhasinh</string>
      <string>dadhiivowelsinh</string>
      <string>dadhivowelsinh</string>
      <string>dadhuuvowelsinh</string>
      <string>dadhuvowelsinh</string>
      <string>dahalantsinh</string>
      <string>danda.sinh</string>
      <string>darahalantsinh</string>
      <string>darasinh</string>
      <string>darephsinh</string>
      <string>dariivowelsinh</string>
      <string>darivowelsinh</string>
      <string>darrvocalicvowelsinh</string>
      <string>darvocalicvowelsinh</string>
      <string>dasinh</string>
      <string>datouchsinh</string>
      <string>davahalantsinh</string>
      <string>davarasinh</string>
      <string>davarephsinh</string>
      <string>davasinh</string>
      <string>daviivowelsinh</string>
      <string>davivowelsinh</string>
      <string>davuuvowelsinh</string>
      <string>davuvowelsinh</string>
      <string>dayaavowelsinh</string>
      <string>dayahalantsinh</string>
      <string>dayasinh</string>
      <string>dayoovowelsinh</string>
      <string>dbldanda.sinh</string>
      <string>ddahalantsinh</string>
      <string>ddarasinh</string>
      <string>ddarephsinh</string>
      <string>ddasinh</string>
      <string>ddatouchsinh</string>
      <string>ddhahalantsinh</string>
      <string>ddharasinh</string>
      <string>ddharephsinh</string>
      <string>ddhasinh</string>
      <string>ddhatouchsinh</string>
      <string>ddhiivowelsinh</string>
      <string>ddhivowelsinh</string>
      <string>ddhuuvowelsinh</string>
      <string>ddhuvowelsinh</string>
      <string>ddiivowelsinh</string>
      <string>ddivowelsinh</string>
      <string>dduuvowelsinh</string>
      <string>dduvowelsinh</string>
      <string>dhahalantsinh</string>
      <string>dharasinh</string>
      <string>dharephsinh</string>
      <string>dhasinh</string>
      <string>dhatouchsinh</string>
      <string>dhiivowelsinh</string>
      <string>dhivowelsinh</string>
      <string>dhuuvowelsinh</string>
      <string>dhuvowelsinh</string>
      <string>diivowelsinh</string>
      <string>divide.sinh</string>
      <string>divowelsinh</string>
      <string>doovowelsignsinh</string>
      <string>duuvowelsinh</string>
      <string>duvowelsinh</string>
      <string>easinh</string>
      <string>eesinh</string>
      <string>eight.sinh</string>
      <string>ellipsis.sinh</string>
      <string>emdash.sinh</string>
      <string>endash.sinh</string>
      <string>equal.sinh</string>
      <string>esinh</string>
      <string>evowelsignsinh</string>
      <string>exclam.sinh</string>
      <string>fahalantsinh</string>
      <string>farasinh</string>
      <string>farephsinh</string>
      <string>fasinh</string>
      <string>fatouchsinh</string>
      <string>fiivowelsinh</string>
      <string>five.sinh</string>
      <string>fivowelsinh</string>
      <string>four.sinh</string>
      <string>fuuvowelsinh</string>
      <string>fuvowelsinh</string>
      <string>gadhahalantsinh</string>
      <string>gadharasinh</string>
      <string>gadharephsinh</string>
      <string>gadhasinh</string>
      <string>gadhiivowelsinh</string>
      <string>gadhivowelsinh</string>
      <string>gadhuuvowelsinh</string>
      <string>gadhuvowelsinh</string>
      <string>gahalantsinh</string>
      <string>garasinh</string>
      <string>garephsinh</string>
      <string>gasinh</string>
      <string>gatouchsinh</string>
      <string>ghahalantsinh</string>
      <string>gharasinh</string>
      <string>gharephsinh</string>
      <string>ghasinh</string>
      <string>ghatouchsinh</string>
      <string>ghiivowelsinh</string>
      <string>ghivowelsinh</string>
      <string>ghuuvowelsinh</string>
      <string>ghuvowelsinh</string>
      <string>giivowelsinh</string>
      <string>givowelsinh</string>
      <string>greater.sinh</string>
      <string>guuvowelsinh</string>
      <string>guvowelsinh</string>
      <string>hahalantsinh</string>
      <string>harasinh</string>
      <string>harephsinh</string>
      <string>hasinh</string>
      <string>hatouchsinh</string>
      <string>hiivowelsinh</string>
      <string>hivowelsinh</string>
      <string>huuvowelsinh</string>
      <string>huvowelsinh</string>
      <string>hyphen.sinh</string>
      <string>iisinh</string>
      <string>iivowelsignsinh</string>
      <string>isinh</string>
      <string>ivowelsignsinh</string>
      <string>jahalantsinh</string>
      <string>jarasinh</string>
      <string>jarephsinh</string>
      <string>jasinh</string>
      <string>jatouchsinh</string>
      <string>jhahalantsinh</string>
      <string>jharasinh</string>
      <string>jharephsinh</string>
      <string>jhasinh</string>
      <string>jhatouchsinh</string>
      <string>jhiivowelsinh</string>
      <string>jhivowelsinh</string>
      <string>jhuuvowelsinh</string>
      <string>jhuvowelsinh</string>
      <string>jiivowelsinh</string>
      <string>jivowelsinh</string>
      <string>jnyaavowelsinh</string>
      <string>jnyahalantsinh</string>
      <string>jnyarahalantsinh</string>
      <string>jnyarasinh</string>
      <string>jnyarephsinh</string>
      <string>jnyariivowelsinh</string>
      <string>jnyarivowelsinh</string>
      <string>jnyasinh</string>
      <string>jnyatouchsinh</string>
      <string>jnyiivowelsinh</string>
      <string>jnyivowelsinh</string>
      <string>jnyuuvowelsinh</string>
      <string>jnyuvowelsinh</string>
      <string>juuvowelsinh</string>
      <string>juvowelsinh</string>
      <string>kahalantsinh</string>
      <string>karasinh</string>
      <string>karephsinh</string>
      <string>kasinh</string>
      <string>kassahalantsinh</string>
      <string>kassarasinh</string>
      <string>kassarephsinh</string>
      <string>kassasinh</string>
      <string>kassiivowelsinh</string>
      <string>kassivowelsinh</string>
      <string>kassuuvowelsinh</string>
      <string>kassuvowelsinh</string>
      <string>katouchsinh</string>
      <string>kavahalantsinh</string>
      <string>kavarasinh</string>
      <string>kavarephsinh</string>
      <string>kavasinh</string>
      <string>kaviivowelsinh</string>
      <string>kavivowelsinh</string>
      <string>kavuuvowelsinh</string>
      <string>kavuvowelsinh</string>
      <string>khahalantsinh</string>
      <string>kharasinh</string>
      <string>kharephsinh</string>
      <string>khasinh</string>
      <string>khatouchsinh</string>
      <string>khiivowelsinh</string>
      <string>khivowelsinh</string>
      <string>khuuvowelsinh</string>
      <string>khuvowelsinh</string>
      <string>kiivowelsinh</string>
      <string>kivowelsinh</string>
      <string>kunddaliyasinh</string>
      <string>kuuvowelsinh</string>
      <string>kuvowelsinh</string>
      <string>lahalantsinh</string>
      <string>larahalantsinh</string>
      <string>larasinh</string>
      <string>larephsinh</string>
      <string>lariivowelsinh</string>
      <string>larivowelsinh</string>
      <string>lasinh</string>
      <string>latouchsinh</string>
      <string>less.sinh</string>
      <string>liivowelsinh</string>
      <string>livowelsinh</string>
      <string>llahalantaltsinh</string>
      <string>llahalantsinh</string>
      <string>llarasinh</string>
      <string>llarephsinh</string>
      <string>llariivowelsinh</string>
      <string>llarivowelsinh</string>
      <string>llasinh</string>
      <string>llatouchsinh</string>
      <string>lliivowelsinh</string>
      <string>llivowelsinh</string>
      <string>lluvowelsinh</string>
      <string>llvocalicsinh</string>
      <string>llvocalicvowelsignsinh</string>
      <string>luuvowelsinh</string>
      <string>luvowelsinh</string>
      <string>lvocalicsinh</string>
      <string>lvocalicvowelsignsinh</string>
      <string>mahalantsinh</string>
      <string>marasinh</string>
      <string>marephsinh</string>
      <string>masinh</string>
      <string>matouchsinh</string>
      <string>mbahalantsinh</string>
      <string>mbarasinh</string>
      <string>mbarephsinh</string>
      <string>mbasinh</string>
      <string>mbatouchsinh</string>
      <string>mbiivowelsinh</string>
      <string>mbivowelsinh</string>
      <string>mbuuvowelsinh</string>
      <string>mbuvowelsinh</string>
      <string>miivowelsinh</string>
      <string>minus.sinh</string>
      <string>mivowelsinh</string>
      <string>multiply.sinh</string>
      <string>muuvowelsinh</string>
      <string>muvowelsinh</string>
      <string>nadaavowelsinh</string>
      <string>nadahalantsinh</string>
      <string>nadarahalantsinh</string>
      <string>nadarasinh</string>
      <string>nadarephsinh</string>
      <string>nadariivowelsinh</string>
      <string>nadarivowelsinh</string>
      <string>nadasinh</string>
      <string>nadhahalantsinh</string>
      <string>nadharasinh</string>
      <string>nadharephsinh</string>
      <string>nadhasinh</string>
      <string>nadhiivowelsinh</string>
      <string>nadhivowelsinh</string>
      <string>nadhuuvowelsinh</string>
      <string>nadhuvowelsinh</string>
      <string>nadiivowelsinh</string>
      <string>nadivowelsinh</string>
      <string>naduuvowelsinh</string>
      <string>naduvowelsinh</string>
      <string>nahalantsinh</string>
      <string>narasinh</string>
      <string>narephsinh</string>
      <string>nasinh</string>
      <string>nathahalantsinh</string>
      <string>natharasinh</string>
      <string>natharephsinh</string>
      <string>nathasinh</string>
      <string>nathiivowelsinh</string>
      <string>nathivowelsinh</string>
      <string>nathuuvowelsinh</string>
      <string>nathuvowelsinh</string>
      <string>natouchsinh</string>
      <string>navahalantsinh</string>
      <string>navarasinh</string>
      <string>navarephsinh</string>
      <string>navasinh</string>
      <string>naviivowelsinh</string>
      <string>navivowelsinh</string>
      <string>navuuvowelsinh</string>
      <string>navuvowelsinh</string>
      <string>ndaavowelsinh</string>
      <string>ndahalantsinh</string>
      <string>ndarahalantsinh</string>
      <string>ndarasinh</string>
      <string>ndarephsinh</string>
      <string>ndariivowelsinh</string>
      <string>ndarivowelsinh</string>
      <string>ndasinh</string>
      <string>ndatouchsinh</string>
      <string>ndiivowelsinh</string>
      <string>ndivowelsinh</string>
      <string>nduuvowelsinh</string>
      <string>nduvowelsinh</string>
      <string>ngahalantsinh</string>
      <string>ngarasinh</string>
      <string>ngarephsinh</string>
      <string>ngasinh</string>
      <string>ngatouchsinh</string>
      <string>ngiivowelsinh</string>
      <string>ngivowelsinh</string>
      <string>nguuvowelsinh</string>
      <string>nguvowelsinh</string>
      <string>niivowelsinh</string>
      <string>nine.sinh</string>
      <string>nivowelsinh</string>
      <string>nnahalantsinh</string>
      <string>nnarasinh</string>
      <string>nnarephsinh</string>
      <string>nnasinh</string>
      <string>nnatouchsinh</string>
      <string>nnddahalantsinh</string>
      <string>nnddarasinh</string>
      <string>nnddarephsinh</string>
      <string>nnddasinh</string>
      <string>nnddatouchsinh</string>
      <string>nnddiivowelsinh</string>
      <string>nnddivowelsinh</string>
      <string>nndduuvowelsinh</string>
      <string>nndduvowelsinh</string>
      <string>nngahalantsinh</string>
      <string>nngarasinh</string>
      <string>nngarephsinh</string>
      <string>nngasinh</string>
      <string>nngatouchsinh</string>
      <string>nngiivowelsinh</string>
      <string>nngivowelsinh</string>
      <string>nnguuvowelsinh</string>
      <string>nnguvowelsinh</string>
      <string>nniivowelsinh</string>
      <string>nnivowelsinh</string>
      <string>nnuuvowelsinh</string>
      <string>nnuvowelsinh</string>
      <string>numbersign.sinh</string>
      <string>nuuvowelsinh</string>
      <string>nuvowelsinh</string>
      <string>nyaavowelsinh</string>
      <string>nyacahalantsinh</string>
      <string>nyacarasinh</string>
      <string>nyacarephsinh</string>
      <string>nyacasinh</string>
      <string>nyaciivowelsinh</string>
      <string>nyacivowelsinh</string>
      <string>nyacuuvowelsinh</string>
      <string>nyacuvowelsinh</string>
      <string>nyahalantsinh</string>
      <string>nyarahalantsinh</string>
      <string>nyarasinh</string>
      <string>nyarephsinh</string>
      <string>nyariivowelsinh</string>
      <string>nyarivowelsinh</string>
      <string>nyasinh</string>
      <string>nyatouchsinh</string>
      <string>nyiivowelsinh</string>
      <string>nyivowelsinh</string>
      <string>nyjahalantsinh</string>
      <string>nyjarasinh</string>
      <string>nyjarephsinh</string>
      <string>nyjasinh</string>
      <string>nyjatouchsinh</string>
      <string>nyjiivowelsinh</string>
      <string>nyjivowelsinh</string>
      <string>nyjuuvowelsinh</string>
      <string>nyjuvowelsinh</string>
      <string>nyuuvowelsinh</string>
      <string>nyuvowelsinh</string>
      <string>one.sinh</string>
      <string>oosinh</string>
      <string>oovowelsignaltsinh</string>
      <string>osinh</string>
      <string>pahalantsinh</string>
      <string>parasinh</string>
      <string>parenleft.sinh</string>
      <string>parenright.sinh</string>
      <string>parephsinh</string>
      <string>pasinh</string>
      <string>patouchsinh</string>
      <string>percent.sinh</string>
      <string>period.sinh</string>
      <string>phahalantsinh</string>
      <string>pharasinh</string>
      <string>pharephsinh</string>
      <string>phasinh</string>
      <string>phatouchsinh</string>
      <string>phiivowelsinh</string>
      <string>phivowelsinh</string>
      <string>phuuvowelsinh</string>
      <string>phuvowelsinh</string>
      <string>piivowelsinh</string>
      <string>pivowelsinh</string>
      <string>plus.sinh</string>
      <string>puuvowelsinh</string>
      <string>puvowelsinh</string>
      <string>question.sinh</string>
      <string>quotedbl.sinh</string>
      <string>quotedblleft.sinh</string>
      <string>quotedblright.sinh</string>
      <string>quoteleft.sinh</string>
      <string>quoteright.sinh</string>
      <string>quotesingle.sinh</string>
      <string>raaevowelsinh</string>
      <string>raevowelsinh</string>
      <string>rahalantsinh</string>
      <string>rakarsinh</string>
      <string>rasinh</string>
      <string>ratouchsinh</string>
      <string>rephsinh</string>
      <string>riivowelsinh</string>
      <string>rivowelsinh</string>
      <string>rrvocalicsinh</string>
      <string>rrvocalicvowelsignsinh</string>
      <string>rvocalicbasesinh</string>
      <string>rvocalicsinh</string>
      <string>rvocalicvowelsignsinh</string>
      <string>sahalantsinh</string>
      <string>sarasinh</string>
      <string>sarephsinh</string>
      <string>sasinh</string>
      <string>satouchsinh</string>
      <string>semicolon.sinh</string>
      <string>seven.sinh</string>
      <string>sfthyphen.sinh</string>
      <string>shahalantsinh</string>
      <string>sharasinh</string>
      <string>sharephsinh</string>
      <string>shasinh</string>
      <string>shatouchsinh</string>
      <string>shiivowelsinh</string>
      <string>shivowelsinh</string>
      <string>shuuvowelsinh</string>
      <string>shuvowelsinh</string>
      <string>siivowelsinh</string>
      <string>sivowelsinh</string>
      <string>six.sinh</string>
      <string>slash.sinh</string>
      <string>space</string>
      <string>ssahalantsinh</string>
      <string>ssarasinh</string>
      <string>ssarephsinh</string>
      <string>ssasinh</string>
      <string>ssatouchsinh</string>
      <string>ssiivowelsinh</string>
      <string>ssivowelsinh</string>
      <string>ssuuvowelsinh</string>
      <string>ssuvowelsinh</string>
      <string>suuvowelsinh</string>
      <string>suvowelsinh</string>
      <string>tahalantsinh</string>
      <string>tarasinh</string>
      <string>tarephsinh</string>
      <string>tasinh</string>
      <string>tathahalantsinh</string>
      <string>tatharasinh</string>
      <string>tatharephsinh</string>
      <string>tathasinh</string>
      <string>tathiivowelsinh</string>
      <string>tathivowelsinh</string>
      <string>tathuuvowelsinh</string>
      <string>tathuvowelsinh</string>
      <string>tatouchsinh</string>
      <string>tavahalantsinh</string>
      <string>tavarasinh</string>
      <string>tavarephsinh</string>
      <string>tavasinh</string>
      <string>taviivowelsinh</string>
      <string>tavivowelsinh</string>
      <string>tavuuvowelsinh</string>
      <string>tavuvowelsinh</string>
      <string>thahalantsinh</string>
      <string>tharasinh</string>
      <string>tharephsinh</string>
      <string>thasinh</string>
      <string>thatouchsinh</string>
      <string>thiivowelsinh</string>
      <string>thivowelsinh</string>
      <string>three.sinh</string>
      <string>thuuvowelsinh</string>
      <string>thuvowelsinh</string>
      <string>tiivowelsinh</string>
      <string>tivowelsinh</string>
      <string>ttahalantsinh</string>
      <string>ttarasinh</string>
      <string>ttarephsinh</string>
      <string>ttasinh</string>
      <string>ttatouchsinh</string>
      <string>ttatthahalantsinh</string>
      <string>ttattharasinh</string>
      <string>ttattharephsinh</string>
      <string>ttatthasinh</string>
      <string>ttatthiivowelsinh</string>
      <string>ttatthivowelsinh</string>
      <string>ttatthuuvowelsinh</string>
      <string>ttatthuvowelsinh</string>
      <string>tthahalantsinh</string>
      <string>ttharasinh</string>
      <string>ttharephsinh</string>
      <string>tthasinh</string>
      <string>tthatouchsinh</string>
      <string>tthiivowelsinh</string>
      <string>tthivowelsinh</string>
      <string>tthuuvowelsinh</string>
      <string>tthuvowelsinh</string>
      <string>ttiivowelsinh</string>
      <string>ttivowelsinh</string>
      <string>ttuuvowelsinh</string>
      <string>ttuvowelsinh</string>
      <string>tuuvowelsinh</string>
      <string>tuvowelsinh</string>
      <string>two.sinh</string>
      <string>u111E1</string>
      <string>u111E2</string>
      <string>u111E3</string>
      <string>u111E4</string>
      <string>u111E5</string>
      <string>u111E6</string>
      <string>u111E7</string>
      <string>u111E8</string>
      <string>u111E9</string>
      <string>u111EA</string>
      <string>u111EB</string>
      <string>u111EC</string>
      <string>u111ED</string>
      <string>u111EE</string>
      <string>u111EF</string>
      <string>u111F0</string>
      <string>u111F1</string>
      <string>u111F2</string>
      <string>u111F3</string>
      <string>u111F4</string>
      <string>underscore.sinh</string>
      <string>uni00A0.sinh</string>
      <string>uni0DDA</string>
      <string>uni0DDC</string>
      <string>uni0DDD</string>
      <string>uni0DDE</string>
      <string>uni0DE6</string>
      <string>uni0DE7</string>
      <string>uni0DE8</string>
      <string>uni0DE9</string>
      <string>uni0DEA</string>
      <string>uni0DEB</string>
      <string>uni0DEC</string>
      <string>uni0DED</string>
      <string>uni0DEE</string>
      <string>uni0DEF</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>usinh</string>
      <string>uusinh</string>
      <string>uuvowelsignsinh</string>
      <string>uvowelsignsinh</string>
      <string>vahalantsinh</string>
      <string>varasinh</string>
      <string>varephsinh</string>
      <string>vasinh</string>
      <string>vatouchsinh</string>
      <string>viivowelsinh</string>
      <string>viramasinh</string>
      <string>visargasinh</string>
      <string>vivowelsinh</string>
      <string>vuuvowelsinh</string>
      <string>vuvowelsinh</string>
      <string>yahalantsinh</string>
      <string>yaposthalantsinh</string>
      <string>yapostiivowelsinh</string>
      <string>yapostivowelsinh</string>
      <string>yapostrephsinh</string>
      <string>yapostsinh</string>
      <string>yapostuuvowelsinh</string>
      <string>yapostuvowelsinh</string>
      <string>yarasinh</string>
      <string>yarephsinh</string>
      <string>yasinh</string>
      <string>yatouchsinh</string>
      <string>yiivowelsinh</string>
      <string>yivowelsinh</string>
      <string>yuuvowelsinh</string>
      <string>yuvowelsinh</string>
      <string>zero.sinh</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>danda.sinh</key>
      <string>uni0964.sinh</string>
      <key>dbldanda.sinh</key>
      <string>uni0965.sinh</string>
      <key>sfthyphen.sinh</key>
      <string>uni00AD.sinh</string>
    </dict>
  </dict>
</plist>
