<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Bold</string>
      <string>glyphs.B_old</string>
    </array>
    <array>
      <string>Bold Condensed</string>
      <string>glyphs.B_old C_ondensed</string>
    </array>
    <array>
      <string>Regular</string>
      <string>glyphs.R_egular</string>
    </array>
    <array>
      <string>SemiBold</string>
      <string>glyphs.S_emiB_old</string>
    </array>
    <array>
      <string>Condensed</string>
      <string>glyphs.C_ondensed</string>
    </array>
    <array>
      <string>SemiBold Condensed</string>
      <string>glyphs.S_emiB_old C_ondensed</string>
    </array>
    <array>
      <string>Light Condensed</string>
      <string>glyphs.L_ight C_ondensed</string>
    </array>
    <array>
      <string>Bold #1</string>
      <string>glyphs.B_old #1</string>
    </array>
    <array>
      <string>Bold Condensed #1</string>
      <string>glyphs.B_old C_ondensed #1</string>
    </array>
    <array>
      <string>Regular #1</string>
      <string>glyphs.R_egular #1</string>
    </array>
    <array>
      <string>SemiBold #1</string>
      <string>glyphs.S_emiB_old #1</string>
    </array>
    <array>
      <string>Condensed #1</string>
      <string>glyphs.C_ondensed #1</string>
    </array>
    <array>
      <string>SemiBold Condensed #1</string>
      <string>glyphs.S_emiB_old C_ondensed #1</string>
    </array>
    <array>
      <string>Light Condensed #1</string>
      <string>glyphs.L_ight C_ondensed #1</string>
    </array>
    <array>
      <string>Bold #2</string>
      <string>glyphs.B_old #2</string>
    </array>
    <array>
      <string>Bold Condensed #2</string>
      <string>glyphs.B_old C_ondensed #2</string>
    </array>
    <array>
      <string>Regular #2</string>
      <string>glyphs.R_egular #2</string>
    </array>
    <array>
      <string>SemiBold #2</string>
      <string>glyphs.S_emiB_old #2</string>
    </array>
    <array>
      <string>Condensed #2</string>
      <string>glyphs.C_ondensed #2</string>
    </array>
    <array>
      <string>SemiBold Condensed #2</string>
      <string>glyphs.S_emiB_old C_ondensed #2</string>
    </array>
    <array>
      <string>Light Condensed #2</string>
      <string>glyphs.L_ight C_ondensed #2</string>
    </array>
    <array>
      <string>Bold #3</string>
      <string>glyphs.B_old #3</string>
    </array>
    <array>
      <string>Bold Condensed #3</string>
      <string>glyphs.B_old C_ondensed #3</string>
    </array>
    <array>
      <string>Regular #3</string>
      <string>glyphs.R_egular #3</string>
    </array>
    <array>
      <string>SemiBold #3</string>
      <string>glyphs.S_emiB_old #3</string>
    </array>
    <array>
      <string>Condensed #3</string>
      <string>glyphs.C_ondensed #3</string>
    </array>
    <array>
      <string>SemiBold Condensed #3</string>
      <string>glyphs.S_emiB_old C_ondensed #3</string>
    </array>
    <array>
      <string>Light Condensed #3</string>
      <string>glyphs.L_ight C_ondensed #3</string>
    </array>
    <array>
      <string>Bold #4</string>
      <string>glyphs.B_old #4</string>
    </array>
    <array>
      <string>Bold Condensed #4</string>
      <string>glyphs.B_old C_ondensed #4</string>
    </array>
    <array>
      <string>Regular #4</string>
      <string>glyphs.R_egular #4</string>
    </array>
    <array>
      <string>SemiBold #4</string>
      <string>glyphs.S_emiB_old #4</string>
    </array>
    <array>
      <string>Condensed #4</string>
      <string>glyphs.C_ondensed #4</string>
    </array>
    <array>
      <string>SemiBold Condensed #4</string>
      <string>glyphs.S_emiB_old C_ondensed #4</string>
    </array>
    <array>
      <string>Light Condensed #4</string>
      <string>glyphs.L_ight C_ondensed #4</string>
    </array>
  </array>
</plist>
