<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>3.2798740404040423</real>
      <key>public.kern2.quoteright</key>
      <real>9.839608686868694</real>
      <key>public.kern2.quotesingle</key>
      <real>11.15155292929293</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>16.94680515151515</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>41.89354535353535</real>
      <key>public.kern2.quoteright</key>
      <real>13.642297373737376</real>
      <key>public.kern2.quotesingle</key>
      <real>38.78630121212121</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>41.143855151515154</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>2.2786477777777776</real>
      <key>public.kern2.parenright</key>
      <real>48.86757818181818</real>
      <key>public.kern2.quoteright</key>
      <real>12.325405555555557</real>
      <key>public.kern2.quotesingle</key>
      <real>51.6641197979798</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <real>12.695308888888889</real>
      <key>public.kern2.T</key>
      <real>80.02876212121213</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>9.390785656565656</real>
      <key>public.kern2.parenright</key>
      <real>100.71421494949496</real>
      <key>public.kern2.quoteright</key>
      <real>69.04498191919193</real>
      <key>public.kern2.quotesingle</key>
      <real>96.08309888888888</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <real>9.745871515151514</real>
      <key>public.kern2.T</key>
      <real>6.757025272727272</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>5.750853333333333</real>
      <key>public.kern2.parenright</key>
      <real>20.23161131313131</real>
      <key>public.kern2.quoteright</key>
      <real>2.2786477777777776</real>
      <key>public.kern2.quotesingle</key>
      <real>14.67310292929293</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>1.4105895555555554</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>0.7595482222222221</real>
      <key>public.kern2.parenright</key>
      <real>31.930637272727274</real>
      <key>public.kern2.quoteright</key>
      <real>1.5190933333333332</real>
      <key>public.kern2.quotesingle</key>
      <real>12.991257373737376</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedblright</key>
      <real>0.32798740404040405</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>37.434892222222224</real>
      <key>public.kern2.parenright</key>
      <real>44.11792424242425</real>
      <key>public.kern2.quoteright</key>
      <real>4.591818282828285</real>
      <key>public.kern2.quotesingle</key>
      <real>46.52484151515152</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>3.417967777777779</real>
      <key>bracketright</key>
      <real>3.417967777777779</real>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>parenright</key>
      <real>4.177514444444446</real>
      <key>public.kern2.T</key>
      <real>41.08467535353535</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>1.9679163636363635</real>
      <key>public.kern2.parenright</key>
      <real>79.65887414141415</real>
      <key>public.kern2.quoteright</key>
      <real>38.91947414141414</real>
      <key>public.kern2.quotesingle</key>
      <real>66.51970323232322</real>
      <key>question</key>
      <real>4.557295555555555</real>
      <key>quotedbl</key>
      <real>4.177514444444446</real>
      <key>quotedblright</key>
      <real>2.6584211111111102</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>47.55072272727273</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>64.93647121212122</real>
      <key>public.kern2.quoteright</key>
      <real>36.566810000000004</real>
      <key>public.kern2.quotesingle</key>
      <real>66.42102626262628</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>24.211846363636365</real>
      <key>public.kern2.parenright</key>
      <real>38.49038737373737</real>
      <key>public.kern2.quoteright</key>
      <real>28.487995454545462</real>
      <key>public.kern2.quotesingle</key>
      <real>44.85773464646464</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>6.184892666666667</real>
      <key>luu-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>-45.15861525252525</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-11.555972666666667</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-20.833343333333335</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-35.48178</real>
      <key>public.kern2.exclam</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.555972666666667</real>
      <key>public.kern2.o-tamil</key>
      <real>-18.554703333333336</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-37.760419999999996</real>
      <key>public.kern2.quotesingle</key>
      <real>-55.8465795959596</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-5.37108</real>
      <key>public.kern2.slash</key>
      <real>14.322916666666666</real>
      <key>public.kern2.ya-tamil</key>
      <real>-18.554703333333336</real>
      <key>slash</key>
      <real>24.739583333333336</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>7.161439999999999</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-11.555972666666667</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>54.39652040404041</real>
      <key>bracketright</key>
      <real>83.35800747474748</real>
      <key>parenright</key>
      <real>79.52084404040404</real>
      <key>public.kern2.a-tamil</key>
      <real>-25.227870666666664</real>
      <key>public.kern2.ka-tamil</key>
      <real>-3.580727333333333</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>9.839608686868694</real>
      <key>public.kern2.quotesingle</key>
      <real>11.15155292929293</real>
      <key>public.kern2.u-tamil</key>
      <real>-10.742196666666667</real>
      <key>question</key>
      <real>52.004399494949496</real>
      <key>quotedbl</key>
      <real>73.68605626262627</real>
      <key>quotedblright</key>
      <real>41.39049767676768</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>4.2317599999999995</real>
      <key>public.kern2.a-tamil</key>
      <real>-76.66012333333333</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-21.321596666666665</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>16.41414929292929</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-43.9453</real>
      <key>public.kern2.nya-tamil</key>
      <real>-35.48178</real>
      <key>public.kern2.o-tamil</key>
      <real>-27.99482</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-50.13018</real>
      <key>public.kern2.rra-tamil</key>
      <real>-8.951836666666667</real>
      <key>public.kern2.slash</key>
      <real>-3.580727333333333</real>
      <key>public.kern2.u-tamil</key>
      <real>-40.85286</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-61.68624</real>
      <key>slash</key>
      <real>-12.36976</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-14.653345676767675</real>
      <key>public.kern2.T</key>
      <real>-25.444884444444448</real>
      <key>public.kern2.a-tamil</key>
      <real>24.739583333333336</real>
      <key>public.kern2.ai-tamil</key>
      <real>-12.36976</real>
      <key>public.kern2.e-tamil</key>
      <real>-6.184892666666667</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-25.716143333333335</real>
      <key>public.kern2.i-tamil</key>
      <real>-12.858047333333333</real>
      <key>public.kern2.ka-tamil</key>
      <real>-6.184892666666667</real>
      <key>public.kern2.quoteright</key>
      <real>-20.779063333333333</real>
      <key>public.kern2.quotesingle</key>
      <real>-50.45572666666666</real>
      <key>quotedbl</key>
      <real>-0.07400024242424226</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-27.50654</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-20.507809333333334</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-32.87762</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-0.7595482222222221</real>
      <key>public.kern2.a-tamil</key>
      <real>-19.042990666666668</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-3.580727333333333</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>41.66666</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>25.716143333333335</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>20.345067</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-5.37108</real>
      <key>public.kern2.parenright</key>
      <real>52.95142444444445</real>
      <key>public.kern2.period</key>
      <real>-20.049122828282826</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-14.322916666666666</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-5.37108</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-5.632493959595959</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-11.067683666666667</real>
      <key>public.kern2.u-tamil</key>
      <real>-3.580727333333333</real>
      <key>question</key>
      <real>2.2786477777777776</real>
      <key>quotedbl</key>
      <real>14.618857171717172</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>101.56269333333334</real>
      <key>public.kern2.a-tamil</key>
      <real>-75.52083999999999</real>
      <key>public.kern2.colon</key>
      <real>42.15494</real>
      <key>public.kern2.e-tamil</key>
      <real>-5.37108</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>48.33982</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>48.33982</real>
      <key>public.kern2.exclam</key>
      <real>107.25904</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>110.02634</real>
      <key>public.kern2.u-tamil</key>
      <real>-5.37108</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>61.68624</real>
      <key>public.kern2.a-tamil</key>
      <real>-46.06124333333334</real>
      <key>public.kern2.exclam</key>
      <real>15.462263333333334</real>
      <key>public.kern2.ka-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.parenright</key>
      <real>46.223976666666665</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-18.22915666666667</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-236.32829366666664</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-73.88830787878787</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-41.341139999999996</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-32.87762</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-232.4215396666667</real>
      <key>public.kern2.e-tamil</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.ka-tamil</key>
      <real>-66.84027777777777</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.om-tamil</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.u-tamil</key>
      <real>-23.111956666666664</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-27.01822333333333</real>
      <key>public.kern2.ka-tamil</key>
      <real>-10.742196666666667</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>40.85286</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>7.161439999999999</real>
      <key>public.kern2.parenright</key>
      <real>46.223976666666665</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>52.408856666666665</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-13.346332666666665</real>
      <key>public.kern2.quotesingle</key>
      <real>-7.161439999999999</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-17.252627</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-18.22915666666667</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-67.87112</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-20.833343333333335</real>
      <key>public.kern2.ka-tamil</key>
      <real>-15.950487333333333</real>
      <key>public.kern2.nya-tamil</key>
      <real>-12.858047333333333</real>
      <key>public.kern2.rra-tamil</key>
      <real>-22.135430666666668</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-23.925783333333335</real>
      <key>public.kern2.a-tamil</key>
      <real>39.8763</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-10.742196666666667</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-32.06375666666666</real>
      <key>public.kern2.quotesingle</key>
      <real>-46.223976666666665</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-100.09756333333334</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.555972666666667</real>
      <key>public.kern2.period</key>
      <real>-12.858047333333333</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-51.75780666666667</real>
      <key>public.kern2.ai-tamil</key>
      <real>-12.36976</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.o-tamil</key>
      <real>-12.36976</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-15.950487333333333</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.042990666666668</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-15.136729333333333</real>
      <key>public.kern2.quoteright</key>
      <real>-27.99482</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>78.45542323232321</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>31.905963232323238</real>
      <key>public.kern2.parenright</key>
      <real>94.43059272727274</real>
      <key>public.kern2.quoteright</key>
      <real>70.56407525252526</real>
      <key>public.kern2.quotesingle</key>
      <real>106.23839030303031</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>13.548558181818183</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>2.9296828888888884</real>
      <key>public.kern2.parenright</key>
      <real>23.057724545454544</real>
      <key>public.kern2.quoteright</key>
      <real>6.76688373737374</real>
      <key>public.kern2.quotesingle</key>
      <real>36.34983333333333</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>10.742196666666667</real>
      <key>public.kern2.quotesingle</key>
      <real>9.982642222222221</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>29.356077676767676</real>
      <key>public.kern2.parenright</key>
      <real>44.03409161616162</real>
      <key>public.kern2.quoteright</key>
      <real>19.866647575757575</real>
      <key>public.kern2.quotesingle</key>
      <real>49.46434363636364</real>
    </dict>
  </dict>
</plist>
