<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Ain</key>
    <string>A_in.glif</string>
    <key>Aleph</key>
    <string>A_leph.glif</string>
    <key>Beth</key>
    <string>B_eth.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Daleth</key>
    <string>D_aleth.glif</string>
    <key>Dhadhe</key>
    <string>D_hadhe.glif</string>
    <key>Dhaleth</key>
    <string>D_haleth.glif</string>
    <key>Fe</key>
    <string>F_e.glif</string>
    <key>Ghayn</key>
    <string>G_hayn.glif</string>
    <key>Gimel</key>
    <string>G_imel.glif</string>
    <key>He</key>
    <string>H_e.glif</string>
    <key>Het</key>
    <string>H_et.glif</string>
    <key>Kaph</key>
    <string>K_aph.glif</string>
    <key>Kheth</key>
    <string>K_heth.glif</string>
    <key>Lamed</key>
    <string>L_amed.glif</string>
    <key>Mem</key>
    <string>M_em.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Number</key>
    <string>N_umber.glif</string>
    <key>NumberMarker</key>
    <string>N_umberM_arker.glif</string>
    <key>NumberOne</key>
    <string>N_umberO_ne.glif</string>
    <key>Nun</key>
    <string>N_un.glif</string>
    <key>Qof</key>
    <string>Q_of.glif</string>
    <key>Resh</key>
    <string>R_esh.glif</string>
    <key>Sadhe</key>
    <string>S_adhe.glif</string>
    <key>Samekh</key>
    <string>S_amekh.glif</string>
    <key>Sat</key>
    <string>S_at.glif</string>
    <key>Shin</key>
    <string>S_hin.glif</string>
    <key>Taw</key>
    <string>T_aw.glif</string>
    <key>Teth</key>
    <string>T_eth.glif</string>
    <key>Thaw</key>
    <string>T_haw.glif</string>
    <key>Theth</key>
    <string>T_heth.glif</string>
    <key>Waw</key>
    <string>W_aw.glif</string>
    <key>Yeh</key>
    <string>Y_eh.glif</string>
    <key>Zayin</key>
    <string>Z_ayin.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
