<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u16B00</key>
    <string>u16B_00.glif</string>
    <key>u16B01</key>
    <string>u16B_01.glif</string>
    <key>u16B02</key>
    <string>u16B_02.glif</string>
    <key>u16B03</key>
    <string>u16B_03.glif</string>
    <key>u16B04</key>
    <string>u16B_04.glif</string>
    <key>u16B05</key>
    <string>u16B_05.glif</string>
    <key>u16B06</key>
    <string>u16B_06.glif</string>
    <key>u16B07</key>
    <string>u16B_07.glif</string>
    <key>u16B08</key>
    <string>u16B_08.glif</string>
    <key>u16B09</key>
    <string>u16B_09.glif</string>
    <key>u16B0A</key>
    <string>u16B_0A_.glif</string>
    <key>u16B0B</key>
    <string>u16B_0B_.glif</string>
    <key>u16B0C</key>
    <string>u16B_0C_.glif</string>
    <key>u16B0D</key>
    <string>u16B_0D_.glif</string>
    <key>u16B0E</key>
    <string>u16B_0E_.glif</string>
    <key>u16B0F</key>
    <string>u16B_0F_.glif</string>
    <key>u16B10</key>
    <string>u16B_10.glif</string>
    <key>u16B11</key>
    <string>u16B_11.glif</string>
    <key>u16B12</key>
    <string>u16B_12.glif</string>
    <key>u16B13</key>
    <string>u16B_13.glif</string>
    <key>u16B14</key>
    <string>u16B_14.glif</string>
    <key>u16B15</key>
    <string>u16B_15.glif</string>
    <key>u16B16</key>
    <string>u16B_16.glif</string>
    <key>u16B17</key>
    <string>u16B_17.glif</string>
    <key>u16B18</key>
    <string>u16B_18.glif</string>
    <key>u16B19</key>
    <string>u16B_19.glif</string>
    <key>u16B1A</key>
    <string>u16B_1A_.glif</string>
    <key>u16B1B</key>
    <string>u16B_1B_.glif</string>
    <key>u16B1C</key>
    <string>u16B_1C_.glif</string>
    <key>u16B1D</key>
    <string>u16B_1D_.glif</string>
    <key>u16B1E</key>
    <string>u16B_1E_.glif</string>
    <key>u16B1F</key>
    <string>u16B_1F_.glif</string>
    <key>u16B20</key>
    <string>u16B_20.glif</string>
    <key>u16B21</key>
    <string>u16B_21.glif</string>
    <key>u16B22</key>
    <string>u16B_22.glif</string>
    <key>u16B23</key>
    <string>u16B_23.glif</string>
    <key>u16B24</key>
    <string>u16B_24.glif</string>
    <key>u16B25</key>
    <string>u16B_25.glif</string>
    <key>u16B26</key>
    <string>u16B_26.glif</string>
    <key>u16B27</key>
    <string>u16B_27.glif</string>
    <key>u16B28</key>
    <string>u16B_28.glif</string>
    <key>u16B29</key>
    <string>u16B_29.glif</string>
    <key>u16B2A</key>
    <string>u16B_2A_.glif</string>
    <key>u16B2B</key>
    <string>u16B_2B_.glif</string>
    <key>u16B2C</key>
    <string>u16B_2C_.glif</string>
    <key>u16B2D</key>
    <string>u16B_2D_.glif</string>
    <key>u16B2E</key>
    <string>u16B_2E_.glif</string>
    <key>u16B2F</key>
    <string>u16B_2F_.glif</string>
    <key>u16B30</key>
    <string>u16B_30.glif</string>
    <key>u16B31</key>
    <string>u16B_31.glif</string>
    <key>u16B32</key>
    <string>u16B_32.glif</string>
    <key>u16B33</key>
    <string>u16B_33.glif</string>
    <key>u16B34</key>
    <string>u16B_34.glif</string>
    <key>u16B35</key>
    <string>u16B_35.glif</string>
    <key>u16B36</key>
    <string>u16B_36.glif</string>
    <key>u16B37</key>
    <string>u16B_37.glif</string>
    <key>u16B38</key>
    <string>u16B_38.glif</string>
    <key>u16B39</key>
    <string>u16B_39.glif</string>
    <key>u16B3A</key>
    <string>u16B_3A_.glif</string>
    <key>u16B3B</key>
    <string>u16B_3B_.glif</string>
    <key>u16B3C</key>
    <string>u16B_3C_.glif</string>
    <key>u16B3D</key>
    <string>u16B_3D_.glif</string>
    <key>u16B3E</key>
    <string>u16B_3E_.glif</string>
    <key>u16B3F</key>
    <string>u16B_3F_.glif</string>
    <key>u16B40</key>
    <string>u16B_40.glif</string>
    <key>u16B41</key>
    <string>u16B_41.glif</string>
    <key>u16B42</key>
    <string>u16B_42.glif</string>
    <key>u16B43</key>
    <string>u16B_43.glif</string>
    <key>u16B44</key>
    <string>u16B_44.glif</string>
    <key>u16B45</key>
    <string>u16B_45.glif</string>
    <key>u16B50</key>
    <string>u16B_50.glif</string>
    <key>u16B51</key>
    <string>u16B_51.glif</string>
    <key>u16B52</key>
    <string>u16B_52.glif</string>
    <key>u16B53</key>
    <string>u16B_53.glif</string>
    <key>u16B54</key>
    <string>u16B_54.glif</string>
    <key>u16B55</key>
    <string>u16B_55.glif</string>
    <key>u16B56</key>
    <string>u16B_56.glif</string>
    <key>u16B57</key>
    <string>u16B_57.glif</string>
    <key>u16B58</key>
    <string>u16B_58.glif</string>
    <key>u16B59</key>
    <string>u16B_59.glif</string>
    <key>u16B5B</key>
    <string>u16B_5B_.glif</string>
    <key>u16B5C</key>
    <string>u16B_5C_.glif</string>
    <key>u16B5D</key>
    <string>u16B_5D_.glif</string>
    <key>u16B5E</key>
    <string>u16B_5E_.glif</string>
    <key>u16B5F</key>
    <string>u16B_5F_.glif</string>
    <key>u16B60</key>
    <string>u16B_60.glif</string>
    <key>u16B61</key>
    <string>u16B_61.glif</string>
    <key>u16B63</key>
    <string>u16B_63.glif</string>
    <key>u16B64</key>
    <string>u16B_64.glif</string>
    <key>u16B65</key>
    <string>u16B_65.glif</string>
    <key>u16B66</key>
    <string>u16B_66.glif</string>
    <key>u16B67</key>
    <string>u16B_67.glif</string>
    <key>u16B68</key>
    <string>u16B_68.glif</string>
    <key>u16B69</key>
    <string>u16B_69.glif</string>
    <key>u16B6A</key>
    <string>u16B_6A_.glif</string>
    <key>u16B6B</key>
    <string>u16B_6B_.glif</string>
    <key>u16B6C</key>
    <string>u16B_6C_.glif</string>
    <key>u16B6D</key>
    <string>u16B_6D_.glif</string>
    <key>u16B6E</key>
    <string>u16B_6E_.glif</string>
    <key>u16B6F</key>
    <string>u16B_6F_.glif</string>
    <key>u16B70</key>
    <string>u16B_70.glif</string>
    <key>u16B71</key>
    <string>u16B_71.glif</string>
    <key>u16B72</key>
    <string>u16B_72.glif</string>
    <key>u16B73</key>
    <string>u16B_73.glif</string>
    <key>u16B74</key>
    <string>u16B_74.glif</string>
    <key>u16B75</key>
    <string>u16B_75.glif</string>
    <key>u16B76</key>
    <string>u16B_76.glif</string>
    <key>u16B77</key>
    <string>u16B_77.glif</string>
    <key>u16B7D</key>
    <string>u16B_7D_.glif</string>
    <key>u16B7E</key>
    <string>u16B_7E_.glif</string>
    <key>u16B7F</key>
    <string>u16B_7F_.glif</string>
    <key>u16B80</key>
    <string>u16B_80.glif</string>
    <key>u16B81</key>
    <string>u16B_81.glif</string>
    <key>u16B82</key>
    <string>u16B_82.glif</string>
    <key>u16B83</key>
    <string>u16B_83.glif</string>
    <key>u16B84</key>
    <string>u16B_84.glif</string>
    <key>u16B85</key>
    <string>u16B_85.glif</string>
    <key>u16B86</key>
    <string>u16B_86.glif</string>
    <key>u16B87</key>
    <string>u16B_87.glif</string>
    <key>u16B88</key>
    <string>u16B_88.glif</string>
    <key>u16B89</key>
    <string>u16B_89.glif</string>
    <key>u16B8A</key>
    <string>u16B_8A_.glif</string>
    <key>u16B8B</key>
    <string>u16B_8B_.glif</string>
    <key>u16B8C</key>
    <string>u16B_8C_.glif</string>
    <key>u16B8D</key>
    <string>u16B_8D_.glif</string>
    <key>u16B8E</key>
    <string>u16B_8E_.glif</string>
    <key>u16B8F</key>
    <string>u16B_8F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
