<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1300</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni0640</string>
      <string>uni0840</string>
      <string>uni0840.Fina</string>
      <string>uni0840.Fina_XShort</string>
      <string>uni0840.Isol</string>
      <string>uni0841</string>
      <string>uni0841.Fina</string>
      <string>uni0841.Init</string>
      <string>uni0841.Isol</string>
      <string>uni0841.Medi</string>
      <string>uni0842</string>
      <string>uni0842.Fina</string>
      <string>uni0842.Init</string>
      <string>uni0842.Isol</string>
      <string>uni0842.Medi</string>
      <string>uni0843</string>
      <string>uni0843.Fina</string>
      <string>uni0843.Init</string>
      <string>uni0843.Isol</string>
      <string>uni0843.Medi</string>
      <string>uni0844</string>
      <string>uni0844.Fina</string>
      <string>uni0844.Fina_XShort</string>
      <string>uni0844.Init</string>
      <string>uni0844.Isol</string>
      <string>uni0844.Medi</string>
      <string>uni0844.Medi_XShort</string>
      <string>uni0845</string>
      <string>uni0845.Fina</string>
      <string>uni0845.Init</string>
      <string>uni0845.Isol</string>
      <string>uni0845.Medi</string>
      <string>uni0846</string>
      <string>uni0846.Fina</string>
      <string>uni0846.Isol</string>
      <string>uni0847</string>
      <string>uni0847.Fina</string>
      <string>uni0847.Fina_XShort</string>
      <string>uni0847.Isol</string>
      <string>uni0847.Medi</string>
      <string>uni0848</string>
      <string>uni0848.Fina</string>
      <string>uni0848.Fina_Long</string>
      <string>uni0848.Fina_Short</string>
      <string>uni0848.Init</string>
      <string>uni0848.Init_Long</string>
      <string>uni0848.Isol</string>
      <string>uni0848.Isol_Long</string>
      <string>uni0848.Medi</string>
      <string>uni0848.Medi_Long</string>
      <string>uni0848.Medi_Short</string>
      <string>uni0849</string>
      <string>uni0849.Fina</string>
      <string>uni0849.Fina_Short</string>
      <string>uni0849.Fina_XShort</string>
      <string>uni0849.Isol</string>
      <string>uni084A</string>
      <string>uni084A.Fina</string>
      <string>uni084A.Init</string>
      <string>uni084A.Isol</string>
      <string>uni084A.Medi</string>
      <string>uni084B</string>
      <string>uni084B.Fina</string>
      <string>uni084B.Init</string>
      <string>uni084B.Isol</string>
      <string>uni084B.Medi</string>
      <string>uni084C</string>
      <string>uni084C.Fina</string>
      <string>uni084C.Init</string>
      <string>uni084C.Isol</string>
      <string>uni084C.Medi</string>
      <string>uni084D</string>
      <string>uni084D.Fina</string>
      <string>uni084D.Init</string>
      <string>uni084D.Isol</string>
      <string>uni084D.Medi</string>
      <string>uni084E</string>
      <string>uni084E.Fina</string>
      <string>uni084E.Init</string>
      <string>uni084E.Isol</string>
      <string>uni084E.Medi</string>
      <string>uni084F</string>
      <string>uni084F.Fina</string>
      <string>uni084F.Init</string>
      <string>uni084F.Isol</string>
      <string>uni084F.Medi</string>
      <string>uni0850</string>
      <string>uni0850.Fina</string>
      <string>uni0850.Init</string>
      <string>uni0850.Isol</string>
      <string>uni0850.Medi</string>
      <string>uni0851</string>
      <string>uni0851.Fina</string>
      <string>uni0851.Init</string>
      <string>uni0851.Isol</string>
      <string>uni0851.Medi</string>
      <string>uni0852</string>
      <string>uni0852.Fina</string>
      <string>uni0852.Init</string>
      <string>uni0852.Isol</string>
      <string>uni0852.Medi</string>
      <string>uni0853</string>
      <string>uni0853.Fina</string>
      <string>uni0853.Init</string>
      <string>uni0853.Isol</string>
      <string>uni0853.Medi</string>
      <string>uni0854</string>
      <string>uni0854.Fina</string>
      <string>uni0854.Isol</string>
      <string>uni0855</string>
      <string>uni0855.Fina</string>
      <string>uni0855.Init</string>
      <string>uni0855.Isol</string>
      <string>uni0855.Medi</string>
      <string>uni0856</string>
      <string>uni0856.Isol</string>
      <string>uni0857</string>
      <string>uni0857.Isol</string>
      <string>uni0858</string>
      <string>uni0858.Isol</string>
      <string>uni0859</string>
      <string>uni085A</string>
      <string>uni085B</string>
      <string>uni085E</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
    </array>
  </dict>
</plist>
