<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>12</integer>
    <key>GSOffsetMakeStroke</key>
    <integer>1</integer>
    <key>GSOffsetProportional</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>10</integer>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>a-soyo</string>
      <string>aFinal-soyo</string>
      <string>aSub-soyo</string>
      <string>aSub-soyo.2</string>
      <string>aSub-soyo.3</string>
      <string>aSub-soyo.ini2</string>
      <string>aSub-soyo.ini3</string>
      <string>aa-soyo</string>
      <string>aaSub-soyo</string>
      <string>aaSub-soyo.2</string>
      <string>aaSub-soyo.3</string>
      <string>aaSub-soyo.ini2</string>
      <string>aaSub-soyo.ini3</string>
      <string>aiMatra-soyo</string>
      <string>aiMatra-soyo.open</string>
      <string>anusvara-soyo</string>
      <string>auMatra-soyo</string>
      <string>auMatra-soyo.open</string>
      <string>bFinal-soyo</string>
      <string>bFinal-soyo.half</string>
      <string>ba-soyo</string>
      <string>baSub-soyo</string>
      <string>baSub-soyo.2</string>
      <string>baSub-soyo.3</string>
      <string>baSub-soyo.ini2</string>
      <string>baSub-soyo.ini3</string>
      <string>bha-soyo</string>
      <string>bhaSub-soyo</string>
      <string>bhaSub-soyo.2</string>
      <string>bhaSub-soyo.3</string>
      <string>bhaSub-soyo.ini2</string>
      <string>bhaSub-soyo.ini3</string>
      <string>ca-soyo</string>
      <string>caSub-soyo</string>
      <string>caSub-soyo.2</string>
      <string>caSub-soyo.3</string>
      <string>caSub-soyo.ini2</string>
      <string>caSub-soyo.ini3</string>
      <string>cha-soyo</string>
      <string>chaSub-soyo</string>
      <string>chaSub-soyo.2</string>
      <string>chaSub-soyo.3</string>
      <string>chaSub-soyo.ini2</string>
      <string>chaSub-soyo.ini3</string>
      <string>dFinal-soyo</string>
      <string>dFinal-soyo.half</string>
      <string>da-soyo</string>
      <string>daSub-soyo</string>
      <string>daSub-soyo.2</string>
      <string>daSub-soyo.3</string>
      <string>daSub-soyo.ini2</string>
      <string>daSub-soyo.ini3</string>
      <string>dda-soyo</string>
      <string>ddaSub-soyo</string>
      <string>ddaSub-soyo.2</string>
      <string>ddaSub-soyo.3</string>
      <string>ddaSub-soyo.ini2</string>
      <string>ddaSub-soyo.ini3</string>
      <string>ddha-soyo</string>
      <string>ddhaSub-soyo</string>
      <string>ddhaSub-soyo.2</string>
      <string>ddhaSub-soyo.3</string>
      <string>ddhaSub-soyo.ini2</string>
      <string>ddhaSub-soyo.ini3</string>
      <string>dha-soyo</string>
      <string>dhaSub-soyo</string>
      <string>dhaSub-soyo.2</string>
      <string>dhaSub-soyo.3</string>
      <string>dhaSub-soyo.ini2</string>
      <string>dhaSub-soyo.ini3</string>
      <string>dottedCircle</string>
      <string>dza-soyo</string>
      <string>dzaSub-soyo</string>
      <string>dzaSub-soyo.2</string>
      <string>dzaSub-soyo.3</string>
      <string>dzaSub-soyo.ini2</string>
      <string>dzaSub-soyo.ini3</string>
      <string>eMatra-soyo</string>
      <string>gFinal-soyo</string>
      <string>gFinal-soyo.half</string>
      <string>ga-soyo</string>
      <string>gaSub-soyo</string>
      <string>gaSub-soyo.2</string>
      <string>gaSub-soyo.3</string>
      <string>gaSub-soyo.ini2</string>
      <string>gaSub-soyo.ini3</string>
      <string>gemination-soyo</string>
      <string>gha-soyo</string>
      <string>ghaSub-soyo</string>
      <string>ghaSub-soyo.2</string>
      <string>ghaSub-soyo.3</string>
      <string>ghaSub-soyo.ini2</string>
      <string>ghaSub-soyo.ini3</string>
      <string>ha-soyo</string>
      <string>haSub-soyo</string>
      <string>haSub-soyo.2</string>
      <string>haSub-soyo.3</string>
      <string>haSub-soyo.ini2</string>
      <string>haSub-soyo.ini3</string>
      <string>head-soyo</string>
      <string>head-soyo.open</string>
      <string>headMoonSun-soyo</string>
      <string>headMoonSunFlame-soyo</string>
      <string>headMoonSunTripleFlame-soyo</string>
      <string>headSub-soyo</string>
      <string>headSub-soyo.open</string>
      <string>iMatra-soyo</string>
      <string>ja-soyo</string>
      <string>jaSub-soyo</string>
      <string>jaSub-soyo.2</string>
      <string>jaSub-soyo.3</string>
      <string>jaSub-soyo.ini2</string>
      <string>jaSub-soyo.ini3</string>
      <string>jha-soyo</string>
      <string>jhaSub-soyo</string>
      <string>jhaSub-soyo.2</string>
      <string>jhaSub-soyo.3</string>
      <string>jhaSub-soyo.ini2</string>
      <string>jhaSub-soyo.ini3</string>
      <string>jihvamuliya-soyo</string>
      <string>joiner-soyo.blank</string>
      <string>joiner-soyo.both.nonSpacing</string>
      <string>joiner-soyo.both.tight</string>
      <string>joiner-soyo.mid</string>
      <string>joiner-soyo.right</string>
      <string>joiner-soyo.right.tight</string>
      <string>kFinal-soyo</string>
      <string>kFinal-soyo.half</string>
      <string>ka-soyo</string>
      <string>kaSub-soyo</string>
      <string>kaSub-soyo.2</string>
      <string>kaSub-soyo.3</string>
      <string>kaSub-soyo.ini2</string>
      <string>kaSub-soyo.ini3</string>
      <string>kha-soyo</string>
      <string>khaSub-soyo</string>
      <string>khaSub-soyo.2</string>
      <string>khaSub-soyo.3</string>
      <string>khaSub-soyo.ini2</string>
      <string>khaSub-soyo.ini3</string>
      <string>kssa-soyo</string>
      <string>kssaSub-soyo</string>
      <string>kssaSub-soyo.2</string>
      <string>kssaSub-soyo.3</string>
      <string>kssaSub-soyo.ini2</string>
      <string>kssaSub-soyo.ini3</string>
      <string>lFinal-soyo</string>
      <string>lFinal-soyo.half</string>
      <string>lVocalicMatra-soyo</string>
      <string>lVocalicMatra-soyo.half</string>
      <string>la-soyo</string>
      <string>laInitial-soyo</string>
      <string>laSub-soyo</string>
      <string>laSub-soyo.2</string>
      <string>laSub-soyo.3</string>
      <string>laSub-soyo.ini2</string>
      <string>laSub-soyo.ini3</string>
      <string>mFinal-soyo</string>
      <string>mFinal-soyo.half</string>
      <string>ma-soyo</string>
      <string>maSub-soyo</string>
      <string>maSub-soyo.2</string>
      <string>maSub-soyo.3</string>
      <string>maSub-soyo.ini2</string>
      <string>maSub-soyo.ini3</string>
      <string>nFinal-soyo</string>
      <string>nFinal-soyo.half</string>
      <string>na-soyo</string>
      <string>naSub-soyo</string>
      <string>naSub-soyo.2</string>
      <string>naSub-soyo.3</string>
      <string>naSub-soyo.ini2</string>
      <string>naSub-soyo.ini3</string>
      <string>ngFinal-soyo</string>
      <string>ngFinal-soyo.half</string>
      <string>nga-soyo</string>
      <string>ngaSub-soyo</string>
      <string>ngaSub-soyo.2</string>
      <string>ngaSub-soyo.3</string>
      <string>ngaSub-soyo.ini2</string>
      <string>ngaSub-soyo.ini3</string>
      <string>nna-soyo</string>
      <string>nnaSub-soyo</string>
      <string>nnaSub-soyo.2</string>
      <string>nnaSub-soyo.3</string>
      <string>nnaSub-soyo.ini2</string>
      <string>nnaSub-soyo.ini3</string>
      <string>nya-soyo</string>
      <string>nyaSub-soyo</string>
      <string>nyaSub-soyo.2</string>
      <string>nyaSub-soyo.3</string>
      <string>nyaSub-soyo.ini2</string>
      <string>nyaSub-soyo.ini3</string>
      <string>oMatra-soyo</string>
      <string>oeMatra-soyo</string>
      <string>pa-soyo</string>
      <string>paSub-soyo</string>
      <string>paSub-soyo.2</string>
      <string>paSub-soyo.3</string>
      <string>paSub-soyo.ini2</string>
      <string>paSub-soyo.ini3</string>
      <string>pha-soyo</string>
      <string>phaSub-soyo</string>
      <string>phaSub-soyo.2</string>
      <string>phaSub-soyo.3</string>
      <string>phaSub-soyo.ini2</string>
      <string>phaSub-soyo.ini3</string>
      <string>pluta-soyo</string>
      <string>rFinal-soyo</string>
      <string>rFinal-soyo.half</string>
      <string>rVocalicMatra-soyo</string>
      <string>rVocalicMatra-soyo.half</string>
      <string>ra-soyo</string>
      <string>raInitial-soyo</string>
      <string>raSub-soyo</string>
      <string>raSub-soyo.2</string>
      <string>raSub-soyo.3</string>
      <string>raSub-soyo.ini2</string>
      <string>raSub-soyo.ini3</string>
      <string>sFinal-soyo</string>
      <string>sFinal-soyo.half</string>
      <string>sa-soyo</string>
      <string>saInitial-soyo</string>
      <string>saSub-soyo</string>
      <string>saSub-soyo.2</string>
      <string>saSub-soyo.3</string>
      <string>saSub-soyo.ini2</string>
      <string>saSub-soyo.ini3</string>
      <string>shFinal-soyo</string>
      <string>shFinal-soyo.half</string>
      <string>sha-soyo</string>
      <string>shaInitial-soyo</string>
      <string>shaSub-soyo</string>
      <string>shaSub-soyo.2</string>
      <string>shaSub-soyo.3</string>
      <string>shaSub-soyo.ini2</string>
      <string>shaSub-soyo.ini3</string>
      <string>shad-soyo</string>
      <string>shaddouble-soyo</string>
      <string>space</string>
      <string>ssa-soyo</string>
      <string>ssaSub-soyo</string>
      <string>ssaSub-soyo.2</string>
      <string>ssaSub-soyo.3</string>
      <string>ssaSub-soyo.ini2</string>
      <string>ssaSub-soyo.ini3</string>
      <string>subjoiner-soyo</string>
      <string>ta-soyo</string>
      <string>taSub-soyo</string>
      <string>taSub-soyo.2</string>
      <string>taSub-soyo.3</string>
      <string>taSub-soyo.ini2</string>
      <string>taSub-soyo.ini3</string>
      <string>tail-soyo</string>
      <string>tail-soyo.long</string>
      <string>terminal1-soyo</string>
      <string>terminal2-soyo</string>
      <string>tha-soyo</string>
      <string>thaSub-soyo</string>
      <string>thaSub-soyo.2</string>
      <string>thaSub-soyo.3</string>
      <string>thaSub-soyo.ini2</string>
      <string>thaSub-soyo.ini3</string>
      <string>tsa-soyo</string>
      <string>tsaSub-soyo</string>
      <string>tsaSub-soyo.2</string>
      <string>tsaSub-soyo.3</string>
      <string>tsaSub-soyo.ini2</string>
      <string>tsaSub-soyo.ini3</string>
      <string>tsha-soyo</string>
      <string>tshaSub-soyo</string>
      <string>tshaSub-soyo.2</string>
      <string>tshaSub-soyo.3</string>
      <string>tshaSub-soyo.ini2</string>
      <string>tshaSub-soyo.ini3</string>
      <string>tsheg-soyo</string>
      <string>tta-soyo</string>
      <string>ttaSub-soyo</string>
      <string>ttaSub-soyo.2</string>
      <string>ttaSub-soyo.3</string>
      <string>ttaSub-soyo.ini2</string>
      <string>ttaSub-soyo.ini3</string>
      <string>ttha-soyo</string>
      <string>tthaSub-soyo</string>
      <string>tthaSub-soyo.2</string>
      <string>tthaSub-soyo.3</string>
      <string>tthaSub-soyo.ini2</string>
      <string>tthaSub-soyo.ini3</string>
      <string>uMatra-soyo</string>
      <string>uMatra-soyo.half</string>
      <string>ueMatra-soyo</string>
      <string>ueMatra-soyo.half</string>
      <string>uni00A0</string>
      <string>upadhmaniya-soyo</string>
      <string>va-soyo</string>
      <string>vaSub-soyo</string>
      <string>vaSub-soyo.2</string>
      <string>vaSub-soyo.3</string>
      <string>vaSub-soyo.ini2</string>
      <string>vaSub-soyo.ini3</string>
      <string>visagra-soyo</string>
      <string>vowelLength-soyo</string>
      <string>ya-soyo</string>
      <string>yaSub-soyo</string>
      <string>yaSub-soyo.2</string>
      <string>yaSub-soyo.3</string>
      <string>yaSub-soyo.ini2</string>
      <string>yaSub-soyo.ini3</string>
      <string>za-soyo</string>
      <string>zaSub-soyo</string>
      <string>zaSub-soyo.2</string>
      <string>zaSub-soyo.3</string>
      <string>zaSub-soyo.ini2</string>
      <string>zaSub-soyo.ini3</string>
      <string>zha-soyo</string>
      <string>zhaSub-soyo</string>
      <string>zhaSub-soyo.2</string>
      <string>zhaSub-soyo.3</string>
      <string>zhaSub-soyo.ini2</string>
      <string>zhaSub-soyo.ini3</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>a-soyo</key>
      <string>uni11A50</string>
      <key>aFinal-soyo</key>
      <string>uni11A95</string>
      <key>aSub-soyo</key>
      <string>aSubsoyo</string>
      <key>aSub-soyo.2</key>
      <string>aSubsoyo.2</string>
      <key>aSub-soyo.3</key>
      <string>aSubsoyo.3</string>
      <key>aSub-soyo.ini2</key>
      <string>aSubsoyo.ini2</string>
      <key>aSub-soyo.ini3</key>
      <string>aSubsoyo.ini3</string>
      <key>aa-soyo</key>
      <string>uni11A7A</string>
      <key>aaSub-soyo</key>
      <string>aaSubsoyo</string>
      <key>aaSub-soyo.2</key>
      <string>aaSubsoyo.2</string>
      <key>aaSub-soyo.3</key>
      <string>aaSubsoyo.3</string>
      <key>aaSub-soyo.ini2</key>
      <string>aaSubsoyo.ini2</string>
      <key>aaSub-soyo.ini3</key>
      <string>aaSubsoyo.ini3</string>
      <key>aiMatra-soyo</key>
      <string>uni11A57</string>
      <key>aiMatra-soyo.open</key>
      <string>uni11A57.open</string>
      <key>anusvara-soyo</key>
      <string>uni11A96</string>
      <key>auMatra-soyo</key>
      <string>uni11A58</string>
      <key>auMatra-soyo.open</key>
      <string>uni11A58.open</string>
      <key>bFinal-soyo</key>
      <string>uni11A8F</string>
      <key>bFinal-soyo.half</key>
      <string>uni11A8F.half</string>
      <key>ba-soyo</key>
      <string>uni11A72</string>
      <key>baSub-soyo</key>
      <string>baSubsoyo</string>
      <key>baSub-soyo.2</key>
      <string>baSubsoyo.2</string>
      <key>baSub-soyo.3</key>
      <string>baSubsoyo.3</string>
      <key>baSub-soyo.ini2</key>
      <string>baSubsoyo.ini2</string>
      <key>baSub-soyo.ini3</key>
      <string>baSubsoyo.ini3</string>
      <key>bha-soyo</key>
      <string>uni11A73</string>
      <key>bhaSub-soyo</key>
      <string>bhaSubsoyo</string>
      <key>bhaSub-soyo.2</key>
      <string>bhaSubsoyo.2</string>
      <key>bhaSub-soyo.3</key>
      <string>bhaSubsoyo.3</string>
      <key>bhaSub-soyo.ini2</key>
      <string>bhaSubsoyo.ini2</string>
      <key>bhaSub-soyo.ini3</key>
      <string>bhaSubsoyo.ini3</string>
      <key>ca-soyo</key>
      <string>uni11A61</string>
      <key>caSub-soyo</key>
      <string>caSubsoyo</string>
      <key>caSub-soyo.2</key>
      <string>caSubsoyo.2</string>
      <key>caSub-soyo.3</key>
      <string>caSubsoyo.3</string>
      <key>caSub-soyo.ini2</key>
      <string>caSubsoyo.ini2</string>
      <key>caSub-soyo.ini3</key>
      <string>caSubsoyo.ini3</string>
      <key>cha-soyo</key>
      <string>uni11A62</string>
      <key>chaSub-soyo</key>
      <string>chaSubsoyo</string>
      <key>chaSub-soyo.2</key>
      <string>chaSubsoyo.2</string>
      <key>chaSub-soyo.3</key>
      <string>chaSubsoyo.3</string>
      <key>chaSub-soyo.ini2</key>
      <string>chaSubsoyo.ini2</string>
      <key>chaSub-soyo.ini3</key>
      <string>chaSubsoyo.ini3</string>
      <key>dFinal-soyo</key>
      <string>uni11A8D</string>
      <key>dFinal-soyo.half</key>
      <string>uni11A8D.half</string>
      <key>da-soyo</key>
      <string>uni11A6D</string>
      <key>daSub-soyo</key>
      <string>daSubsoyo</string>
      <key>daSub-soyo.2</key>
      <string>daSubsoyo.2</string>
      <key>daSub-soyo.3</key>
      <string>daSubsoyo.3</string>
      <key>daSub-soyo.ini2</key>
      <string>daSubsoyo.ini2</string>
      <key>daSub-soyo.ini3</key>
      <string>daSubsoyo.ini3</string>
      <key>dda-soyo</key>
      <string>uni11A68</string>
      <key>ddaSub-soyo</key>
      <string>ddaSubsoyo</string>
      <key>ddaSub-soyo.2</key>
      <string>ddaSubsoyo.2</string>
      <key>ddaSub-soyo.3</key>
      <string>ddaSubsoyo.3</string>
      <key>ddaSub-soyo.ini2</key>
      <string>ddaSubsoyo.ini2</string>
      <key>ddaSub-soyo.ini3</key>
      <string>ddaSubsoyo.ini3</string>
      <key>ddha-soyo</key>
      <string>uni11A69</string>
      <key>ddhaSub-soyo</key>
      <string>ddhaSubsoyo</string>
      <key>ddhaSub-soyo.2</key>
      <string>ddhaSubsoyo.2</string>
      <key>ddhaSub-soyo.3</key>
      <string>ddhaSubsoyo.3</string>
      <key>ddhaSub-soyo.ini2</key>
      <string>ddhaSubsoyo.ini2</string>
      <key>ddhaSub-soyo.ini3</key>
      <string>ddhaSubsoyo.ini3</string>
      <key>dha-soyo</key>
      <string>uni11A6E</string>
      <key>dhaSub-soyo</key>
      <string>dhaSubsoyo</string>
      <key>dhaSub-soyo.2</key>
      <string>dhaSubsoyo.2</string>
      <key>dhaSub-soyo.3</key>
      <string>dhaSubsoyo.3</string>
      <key>dhaSub-soyo.ini2</key>
      <string>dhaSubsoyo.ini2</string>
      <key>dhaSub-soyo.ini3</key>
      <string>dhaSubsoyo.ini3</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>dza-soyo</key>
      <string>uni11A77</string>
      <key>dzaSub-soyo</key>
      <string>dzaSubsoyo</string>
      <key>dzaSub-soyo.2</key>
      <string>dzaSubsoyo.2</string>
      <key>dzaSub-soyo.3</key>
      <string>dzaSubsoyo.3</string>
      <key>dzaSub-soyo.ini2</key>
      <string>dzaSubsoyo.ini2</string>
      <key>dzaSub-soyo.ini3</key>
      <string>dzaSubsoyo.ini3</string>
      <key>eMatra-soyo</key>
      <string>uni11A54</string>
      <key>gFinal-soyo</key>
      <string>uni11A8A</string>
      <key>gFinal-soyo.half</key>
      <string>uni11A8A.half</string>
      <key>ga-soyo</key>
      <string>uni11A5E</string>
      <key>gaSub-soyo</key>
      <string>gaSubsoyo</string>
      <key>gaSub-soyo.2</key>
      <string>gaSubsoyo.2</string>
      <key>gaSub-soyo.3</key>
      <string>gaSubsoyo.3</string>
      <key>gaSub-soyo.ini2</key>
      <string>gaSubsoyo.ini2</string>
      <key>gaSub-soyo.ini3</key>
      <string>gaSubsoyo.ini3</string>
      <key>gemination-soyo</key>
      <string>uni11A98</string>
      <key>gha-soyo</key>
      <string>uni11A5F</string>
      <key>ghaSub-soyo</key>
      <string>ghaSubsoyo</string>
      <key>ghaSub-soyo.2</key>
      <string>ghaSubsoyo.2</string>
      <key>ghaSub-soyo.3</key>
      <string>ghaSubsoyo.3</string>
      <key>ghaSub-soyo.ini2</key>
      <string>ghaSubsoyo.ini2</string>
      <key>ghaSub-soyo.ini3</key>
      <string>ghaSubsoyo.ini3</string>
      <key>ha-soyo</key>
      <string>uni11A82</string>
      <key>haSub-soyo</key>
      <string>haSubsoyo</string>
      <key>haSub-soyo.2</key>
      <string>haSubsoyo.2</string>
      <key>haSub-soyo.3</key>
      <string>haSubsoyo.3</string>
      <key>haSub-soyo.ini2</key>
      <string>haSubsoyo.ini2</string>
      <key>haSub-soyo.ini3</key>
      <string>haSubsoyo.ini3</string>
      <key>head-soyo</key>
      <string>headsoyo</string>
      <key>head-soyo.open</key>
      <string>headsoyo.open</string>
      <key>headMoonSun-soyo</key>
      <string>uni11AA0</string>
      <key>headMoonSunFlame-soyo</key>
      <string>uni11A9F</string>
      <key>headMoonSunTripleFlame-soyo</key>
      <string>uni11A9E</string>
      <key>headSub-soyo</key>
      <string>headSubsoyo</string>
      <key>headSub-soyo.open</key>
      <string>headSubsoyo.open</string>
      <key>iMatra-soyo</key>
      <string>uni11A51</string>
      <key>ja-soyo</key>
      <string>uni11A63</string>
      <key>jaSub-soyo</key>
      <string>jaSubsoyo</string>
      <key>jaSub-soyo.2</key>
      <string>jaSubsoyo.2</string>
      <key>jaSub-soyo.3</key>
      <string>jaSubsoyo.3</string>
      <key>jaSub-soyo.ini2</key>
      <string>jaSubsoyo.ini2</string>
      <key>jaSub-soyo.ini3</key>
      <string>jaSubsoyo.ini3</string>
      <key>jha-soyo</key>
      <string>uni11A64</string>
      <key>jhaSub-soyo</key>
      <string>jhaSubsoyo</string>
      <key>jhaSub-soyo.2</key>
      <string>jhaSubsoyo.2</string>
      <key>jhaSub-soyo.3</key>
      <string>jhaSubsoyo.3</string>
      <key>jhaSub-soyo.ini2</key>
      <string>jhaSubsoyo.ini2</string>
      <key>jhaSub-soyo.ini3</key>
      <string>jhaSubsoyo.ini3</string>
      <key>jihvamuliya-soyo</key>
      <string>uni11A84</string>
      <key>joiner-soyo.blank</key>
      <string>joinersoyo.blank</string>
      <key>joiner-soyo.both.nonSpacing</key>
      <string>joinersoyo.both.nonSpacing</string>
      <key>joiner-soyo.both.tight</key>
      <string>joinersoyo.both.tight</string>
      <key>joiner-soyo.mid</key>
      <string>joinersoyo.mid</string>
      <key>joiner-soyo.right</key>
      <string>joinersoyo.right</string>
      <key>joiner-soyo.right.tight</key>
      <string>joinersoyo.right.tight</string>
      <key>kFinal-soyo</key>
      <string>uni11A8B</string>
      <key>kFinal-soyo.half</key>
      <string>uni11A8B.half</string>
      <key>ka-soyo</key>
      <string>uni11A5C</string>
      <key>kaSub-soyo</key>
      <string>kaSubsoyo</string>
      <key>kaSub-soyo.2</key>
      <string>kaSubsoyo.2</string>
      <key>kaSub-soyo.3</key>
      <string>kaSubsoyo.3</string>
      <key>kaSub-soyo.ini2</key>
      <string>kaSubsoyo.ini2</string>
      <key>kaSub-soyo.ini3</key>
      <string>kaSubsoyo.ini3</string>
      <key>kha-soyo</key>
      <string>uni11A5D</string>
      <key>khaSub-soyo</key>
      <string>khaSubsoyo</string>
      <key>khaSub-soyo.2</key>
      <string>khaSubsoyo.2</string>
      <key>khaSub-soyo.3</key>
      <string>khaSubsoyo.3</string>
      <key>khaSub-soyo.ini2</key>
      <string>khaSubsoyo.ini2</string>
      <key>khaSub-soyo.ini3</key>
      <string>khaSubsoyo.ini3</string>
      <key>kssa-soyo</key>
      <string>uni11A83</string>
      <key>kssaSub-soyo</key>
      <string>kssaSubsoyo</string>
      <key>kssaSub-soyo.2</key>
      <string>kssaSubsoyo.2</string>
      <key>kssaSub-soyo.3</key>
      <string>kssaSubsoyo.3</string>
      <key>kssaSub-soyo.ini2</key>
      <string>kssaSubsoyo.ini2</string>
      <key>kssaSub-soyo.ini3</key>
      <string>kssaSubsoyo.ini3</string>
      <key>lFinal-soyo</key>
      <string>uni11A92</string>
      <key>lFinal-soyo.half</key>
      <string>uni11A92.half</string>
      <key>lVocalicMatra-soyo</key>
      <string>uni11A5A</string>
      <key>lVocalicMatra-soyo.half</key>
      <string>uni11A5A.half</string>
      <key>la-soyo</key>
      <string>uni11A7D</string>
      <key>laInitial-soyo</key>
      <string>uni11A87</string>
      <key>laSub-soyo</key>
      <string>laSubsoyo</string>
      <key>laSub-soyo.2</key>
      <string>laSubsoyo.2</string>
      <key>laSub-soyo.3</key>
      <string>laSubsoyo.3</string>
      <key>laSub-soyo.ini2</key>
      <string>laSubsoyo.ini2</string>
      <key>laSub-soyo.ini3</key>
      <string>laSubsoyo.ini3</string>
      <key>mFinal-soyo</key>
      <string>uni11A90</string>
      <key>mFinal-soyo.half</key>
      <string>uni11A90.half</string>
      <key>ma-soyo</key>
      <string>uni11A74</string>
      <key>maSub-soyo</key>
      <string>maSubsoyo</string>
      <key>maSub-soyo.2</key>
      <string>maSubsoyo.2</string>
      <key>maSub-soyo.3</key>
      <string>maSubsoyo.3</string>
      <key>maSub-soyo.ini2</key>
      <string>maSubsoyo.ini2</string>
      <key>maSub-soyo.ini3</key>
      <string>maSubsoyo.ini3</string>
      <key>nFinal-soyo</key>
      <string>uni11A8E</string>
      <key>nFinal-soyo.half</key>
      <string>uni11A8E.half</string>
      <key>na-soyo</key>
      <string>uni11A6F</string>
      <key>naSub-soyo</key>
      <string>naSubsoyo</string>
      <key>naSub-soyo.2</key>
      <string>naSubsoyo.2</string>
      <key>naSub-soyo.3</key>
      <string>naSubsoyo.3</string>
      <key>naSub-soyo.ini2</key>
      <string>naSubsoyo.ini2</string>
      <key>naSub-soyo.ini3</key>
      <string>naSubsoyo.ini3</string>
      <key>ngFinal-soyo</key>
      <string>uni11A8C</string>
      <key>ngFinal-soyo.half</key>
      <string>uni11A8C.half</string>
      <key>nga-soyo</key>
      <string>uni11A60</string>
      <key>ngaSub-soyo</key>
      <string>ngaSubsoyo</string>
      <key>ngaSub-soyo.2</key>
      <string>ngaSubsoyo.2</string>
      <key>ngaSub-soyo.3</key>
      <string>ngaSubsoyo.3</string>
      <key>ngaSub-soyo.ini2</key>
      <string>ngaSubsoyo.ini2</string>
      <key>ngaSub-soyo.ini3</key>
      <string>ngaSubsoyo.ini3</string>
      <key>nna-soyo</key>
      <string>uni11A6A</string>
      <key>nnaSub-soyo</key>
      <string>nnaSubsoyo</string>
      <key>nnaSub-soyo.2</key>
      <string>nnaSubsoyo.2</string>
      <key>nnaSub-soyo.3</key>
      <string>nnaSubsoyo.3</string>
      <key>nnaSub-soyo.ini2</key>
      <string>nnaSubsoyo.ini2</string>
      <key>nnaSub-soyo.ini3</key>
      <string>nnaSubsoyo.ini3</string>
      <key>nya-soyo</key>
      <string>uni11A65</string>
      <key>nyaSub-soyo</key>
      <string>nyaSubsoyo</string>
      <key>nyaSub-soyo.2</key>
      <string>nyaSubsoyo.2</string>
      <key>nyaSub-soyo.3</key>
      <string>nyaSubsoyo.3</string>
      <key>nyaSub-soyo.ini2</key>
      <string>nyaSubsoyo.ini2</string>
      <key>nyaSub-soyo.ini3</key>
      <string>nyaSubsoyo.ini3</string>
      <key>oMatra-soyo</key>
      <string>uni11A55</string>
      <key>oeMatra-soyo</key>
      <string>uni11A56</string>
      <key>pa-soyo</key>
      <string>uni11A70</string>
      <key>paSub-soyo</key>
      <string>paSubsoyo</string>
      <key>paSub-soyo.2</key>
      <string>paSubsoyo.2</string>
      <key>paSub-soyo.3</key>
      <string>paSubsoyo.3</string>
      <key>paSub-soyo.ini2</key>
      <string>paSubsoyo.ini2</string>
      <key>paSub-soyo.ini3</key>
      <string>paSubsoyo.ini3</string>
      <key>pha-soyo</key>
      <string>uni11A71</string>
      <key>phaSub-soyo</key>
      <string>phaSubsoyo</string>
      <key>phaSub-soyo.2</key>
      <string>phaSubsoyo.2</string>
      <key>phaSub-soyo.3</key>
      <string>phaSubsoyo.3</string>
      <key>phaSub-soyo.ini2</key>
      <string>phaSubsoyo.ini2</string>
      <key>phaSub-soyo.ini3</key>
      <string>phaSubsoyo.ini3</string>
      <key>pluta-soyo</key>
      <string>uni11A9D</string>
      <key>rFinal-soyo</key>
      <string>uni11A91</string>
      <key>rFinal-soyo.half</key>
      <string>uni11A91.half</string>
      <key>rVocalicMatra-soyo</key>
      <string>uni11A59</string>
      <key>rVocalicMatra-soyo.half</key>
      <string>uni11A59.half</string>
      <key>ra-soyo</key>
      <string>uni11A7C</string>
      <key>raInitial-soyo</key>
      <string>uni11A86</string>
      <key>raSub-soyo</key>
      <string>raSubsoyo</string>
      <key>raSub-soyo.2</key>
      <string>raSubsoyo.2</string>
      <key>raSub-soyo.3</key>
      <string>raSubsoyo.3</string>
      <key>raSub-soyo.ini2</key>
      <string>raSubsoyo.ini2</string>
      <key>raSub-soyo.ini3</key>
      <string>raSubsoyo.ini3</string>
      <key>sFinal-soyo</key>
      <string>uni11A94</string>
      <key>sFinal-soyo.half</key>
      <string>uni11A94.half</string>
      <key>sa-soyo</key>
      <string>uni11A81</string>
      <key>saInitial-soyo</key>
      <string>uni11A89</string>
      <key>saSub-soyo</key>
      <string>saSubsoyo</string>
      <key>saSub-soyo.2</key>
      <string>saSubsoyo.2</string>
      <key>saSub-soyo.3</key>
      <string>saSubsoyo.3</string>
      <key>saSub-soyo.ini2</key>
      <string>saSubsoyo.ini2</string>
      <key>saSub-soyo.ini3</key>
      <string>saSubsoyo.ini3</string>
      <key>shFinal-soyo</key>
      <string>uni11A93</string>
      <key>shFinal-soyo.half</key>
      <string>uni11A93.half</string>
      <key>sha-soyo</key>
      <string>uni11A7F</string>
      <key>shaInitial-soyo</key>
      <string>uni11A88</string>
      <key>shaSub-soyo</key>
      <string>shaSubsoyo</string>
      <key>shaSub-soyo.2</key>
      <string>shaSubsoyo.2</string>
      <key>shaSub-soyo.3</key>
      <string>shaSubsoyo.3</string>
      <key>shaSub-soyo.ini2</key>
      <string>shaSubsoyo.ini2</string>
      <key>shaSub-soyo.ini3</key>
      <string>shaSubsoyo.ini3</string>
      <key>shad-soyo</key>
      <string>uni11A9B</string>
      <key>shaddouble-soyo</key>
      <string>uni11A9C</string>
      <key>ssa-soyo</key>
      <string>uni11A80</string>
      <key>ssaSub-soyo</key>
      <string>ssaSubsoyo</string>
      <key>ssaSub-soyo.2</key>
      <string>ssaSubsoyo.2</string>
      <key>ssaSub-soyo.3</key>
      <string>ssaSubsoyo.3</string>
      <key>ssaSub-soyo.ini2</key>
      <string>ssaSubsoyo.ini2</string>
      <key>ssaSub-soyo.ini3</key>
      <string>ssaSubsoyo.ini3</string>
      <key>subjoiner-soyo</key>
      <string>uni11A99</string>
      <key>ta-soyo</key>
      <string>uni11A6B</string>
      <key>taSub-soyo</key>
      <string>taSubsoyo</string>
      <key>taSub-soyo.2</key>
      <string>taSubsoyo.2</string>
      <key>taSub-soyo.3</key>
      <string>taSubsoyo.3</string>
      <key>taSub-soyo.ini2</key>
      <string>taSubsoyo.ini2</string>
      <key>taSub-soyo.ini3</key>
      <string>taSubsoyo.ini3</string>
      <key>tail-soyo</key>
      <string>tailsoyo</string>
      <key>tail-soyo.long</key>
      <string>tailsoyo.long</string>
      <key>terminal1-soyo</key>
      <string>uni11AA1</string>
      <key>terminal2-soyo</key>
      <string>uni11AA2</string>
      <key>tha-soyo</key>
      <string>uni11A6C</string>
      <key>thaSub-soyo</key>
      <string>thaSubsoyo</string>
      <key>thaSub-soyo.2</key>
      <string>thaSubsoyo.2</string>
      <key>thaSub-soyo.3</key>
      <string>thaSubsoyo.3</string>
      <key>thaSub-soyo.ini2</key>
      <string>thaSubsoyo.ini2</string>
      <key>thaSub-soyo.ini3</key>
      <string>thaSubsoyo.ini3</string>
      <key>tsa-soyo</key>
      <string>uni11A75</string>
      <key>tsaSub-soyo</key>
      <string>tsaSubsoyo</string>
      <key>tsaSub-soyo.2</key>
      <string>tsaSubsoyo.2</string>
      <key>tsaSub-soyo.3</key>
      <string>tsaSubsoyo.3</string>
      <key>tsaSub-soyo.ini2</key>
      <string>tsaSubsoyo.ini2</string>
      <key>tsaSub-soyo.ini3</key>
      <string>tsaSubsoyo.ini3</string>
      <key>tsha-soyo</key>
      <string>uni11A76</string>
      <key>tshaSub-soyo</key>
      <string>tshaSubsoyo</string>
      <key>tshaSub-soyo.2</key>
      <string>tshaSubsoyo.2</string>
      <key>tshaSub-soyo.3</key>
      <string>tshaSubsoyo.3</string>
      <key>tshaSub-soyo.ini2</key>
      <string>tshaSubsoyo.ini2</string>
      <key>tshaSub-soyo.ini3</key>
      <string>tshaSubsoyo.ini3</string>
      <key>tsheg-soyo</key>
      <string>uni11A9A</string>
      <key>tta-soyo</key>
      <string>uni11A66</string>
      <key>ttaSub-soyo</key>
      <string>ttaSubsoyo</string>
      <key>ttaSub-soyo.2</key>
      <string>ttaSubsoyo.2</string>
      <key>ttaSub-soyo.3</key>
      <string>ttaSubsoyo.3</string>
      <key>ttaSub-soyo.ini2</key>
      <string>ttaSubsoyo.ini2</string>
      <key>ttaSub-soyo.ini3</key>
      <string>ttaSubsoyo.ini3</string>
      <key>ttha-soyo</key>
      <string>uni11A67</string>
      <key>tthaSub-soyo</key>
      <string>tthaSubsoyo</string>
      <key>tthaSub-soyo.2</key>
      <string>tthaSubsoyo.2</string>
      <key>tthaSub-soyo.3</key>
      <string>tthaSubsoyo.3</string>
      <key>tthaSub-soyo.ini2</key>
      <string>tthaSubsoyo.ini2</string>
      <key>tthaSub-soyo.ini3</key>
      <string>tthaSubsoyo.ini3</string>
      <key>uMatra-soyo</key>
      <string>uni11A53</string>
      <key>uMatra-soyo.half</key>
      <string>uni11A53.half</string>
      <key>ueMatra-soyo</key>
      <string>uni11A52</string>
      <key>ueMatra-soyo.half</key>
      <string>uni11A52.half</string>
      <key>upadhmaniya-soyo</key>
      <string>uni11A85</string>
      <key>va-soyo</key>
      <string>uni11A7E</string>
      <key>vaSub-soyo</key>
      <string>vaSubsoyo</string>
      <key>vaSub-soyo.2</key>
      <string>vaSubsoyo.2</string>
      <key>vaSub-soyo.3</key>
      <string>vaSubsoyo.3</string>
      <key>vaSub-soyo.ini2</key>
      <string>vaSubsoyo.ini2</string>
      <key>vaSub-soyo.ini3</key>
      <string>vaSubsoyo.ini3</string>
      <key>visagra-soyo</key>
      <string>uni11A97</string>
      <key>vowelLength-soyo</key>
      <string>uni11A5B</string>
      <key>ya-soyo</key>
      <string>uni11A7B</string>
      <key>yaSub-soyo</key>
      <string>yaSubsoyo</string>
      <key>yaSub-soyo.2</key>
      <string>yaSubsoyo.2</string>
      <key>yaSub-soyo.3</key>
      <string>yaSubsoyo.3</string>
      <key>yaSub-soyo.ini2</key>
      <string>yaSubsoyo.ini2</string>
      <key>yaSub-soyo.ini3</key>
      <string>yaSubsoyo.ini3</string>
      <key>za-soyo</key>
      <string>uni11A79</string>
      <key>zaSub-soyo</key>
      <string>zaSubsoyo</string>
      <key>zaSub-soyo.2</key>
      <string>zaSubsoyo.2</string>
      <key>zaSub-soyo.3</key>
      <string>zaSubsoyo.3</string>
      <key>zaSub-soyo.ini2</key>
      <string>zaSubsoyo.ini2</string>
      <key>zaSub-soyo.ini3</key>
      <string>zaSubsoyo.ini3</string>
      <key>zha-soyo</key>
      <string>uni11A78</string>
      <key>zhaSub-soyo</key>
      <string>zhaSubsoyo</string>
      <key>zhaSub-soyo.2</key>
      <string>zhaSubsoyo.2</string>
      <key>zhaSub-soyo.3</key>
      <string>zhaSubsoyo.3</string>
      <key>zhaSub-soyo.ini2</key>
      <string>zhaSubsoyo.ini2</string>
      <key>zhaSub-soyo.ini3</key>
      <string>zhaSubsoyo.ini3</string>
    </dict>
  </dict>
</plist>
