<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>973</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>uni0800</string>
      <string>uni0801</string>
      <string>uni0802</string>
      <string>uni0803</string>
      <string>uni0804</string>
      <string>uni0805</string>
      <string>uni0806</string>
      <string>uni0807</string>
      <string>uni0808</string>
      <string>uni0809</string>
      <string>uni080A</string>
      <string>uni080B</string>
      <string>uni080C</string>
      <string>uni080D</string>
      <string>uni080E</string>
      <string>uni080F</string>
      <string>uni0810</string>
      <string>uni0811</string>
      <string>uni0812</string>
      <string>uni0813</string>
      <string>uni0814</string>
      <string>uni0815</string>
      <string>uni0816</string>
      <string>uni0817</string>
      <string>uni0818</string>
      <string>uni0819</string>
      <string>uni081A</string>
      <string>uni081B</string>
      <string>uni081C</string>
      <string>uni081D</string>
      <string>uni081E</string>
      <string>uni081F</string>
      <string>uni0820</string>
      <string>uni0821</string>
      <string>uni0822</string>
      <string>uni0823</string>
      <string>uni0824</string>
      <string>uni0825</string>
      <string>uni0826</string>
      <string>uni0827</string>
      <string>uni0828</string>
      <string>uni0829</string>
      <string>uni082A</string>
      <string>uni082B</string>
      <string>uni082C</string>
      <string>uni082D</string>
      <string>uni0830</string>
      <string>uni0831</string>
      <string>uni0832</string>
      <string>uni0833</string>
      <string>uni0834</string>
      <string>uni0835</string>
      <string>uni0836</string>
      <string>uni0837</string>
      <string>uni0838</string>
      <string>uni0839</string>
      <string>uni083A</string>
      <string>uni083B</string>
      <string>uni083C</string>
      <string>uni083D</string>
      <string>uni083E</string>
      <string>uni0818.alt</string>
      <string>uni2E31</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
