<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>master01</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphentwo</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B80</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B81</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B82</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B83</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B84</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B85</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B86</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B87</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B88</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B89</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B8A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B8B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B8C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B8D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B8E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B8F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B90</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B91</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B92</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B93</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B94</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B95</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B96</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B97</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B98</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B99</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B9A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B9B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B9C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B9D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B9E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1B9F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA11BA5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA21BA5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA31BA5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA41B80</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA81B80</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BA91B80</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BAA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BAB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BAC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BAD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BAE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BAF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BB9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BBA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BBB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BBC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BBD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BBE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1BBF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1CC0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1CC1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1CC2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1CC3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1CC4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1CC5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1CC6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1CC7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
