<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1057</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.InstanceDescriptorAsGSInstance.xHeight</key>
    <string>536</string>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>UUID0</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>designspace.location</key>
    <array>
      <array>
        <string>Weight</string>
        <real>100.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uniA78B</string>
      <string>uniA78C</string>
      <string>uniAA80</string>
      <string>uniAA81</string>
      <string>uniAA82</string>
      <string>uniAA83</string>
      <string>uniAA84</string>
      <string>uniAA85</string>
      <string>uniAA86</string>
      <string>uniAA87</string>
      <string>uniAA88</string>
      <string>uniAA89</string>
      <string>uniAA8A</string>
      <string>uniAA8B</string>
      <string>uniAA8C</string>
      <string>uniAA8D</string>
      <string>uniAA8E</string>
      <string>uniAA8F</string>
      <string>uniAA90</string>
      <string>uniAA91</string>
      <string>uniAA92</string>
      <string>uniAA93</string>
      <string>uniAA94</string>
      <string>uniAA95</string>
      <string>uniAA96</string>
      <string>uniAA97</string>
      <string>uniAA98</string>
      <string>uniAA99</string>
      <string>uniAA9A</string>
      <string>uniAA9B</string>
      <string>uniAA9C</string>
      <string>uniAA9D</string>
      <string>uniAA9E</string>
      <string>uniAA9F</string>
      <string>uniAAA0</string>
      <string>uniAAA1</string>
      <string>uniAAA2</string>
      <string>uniAAA3</string>
      <string>uniAAA4</string>
      <string>uniAAA5</string>
      <string>uniAAA6</string>
      <string>uniAAA7</string>
      <string>uniAAA8</string>
      <string>uniAAA9</string>
      <string>uniAAAA</string>
      <string>uniAAAB</string>
      <string>uniAAAC</string>
      <string>uniAAAD</string>
      <string>uniAAAE</string>
      <string>uniAAAF</string>
      <string>uniAAB0</string>
      <string>uniAAB1</string>
      <string>uniAAB2</string>
      <string>uniAAB3</string>
      <string>uniAAB4</string>
      <string>uniAAB5</string>
      <string>uniAAB6</string>
      <string>uniAAB7</string>
      <string>uniAAB8</string>
      <string>uniAAB9</string>
      <string>uniAABA</string>
      <string>uniAABB</string>
      <string>uniAABC</string>
      <string>uniAABD</string>
      <string>uniAABE</string>
      <string>uniAABF</string>
      <string>uniAAC0</string>
      <string>uniAAC1</string>
      <string>uniAAC2</string>
      <string>uniAADB</string>
      <string>uniAADC</string>
      <string>uniAADD</string>
      <string>uniAADE</string>
      <string>uniAADF</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
    </array>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
