<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansTaiViet-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Tai Viet GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Tai Viet Regular GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Tai Viet GSUB.txt</string>
	</dict>
</dict>
</plist>