<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansKhmer-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Khmer 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Khmer GSUB.txt</string>
	</dict>
	
	<key>NotoSansKhmer-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Khmer 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Khmer GSUB.txt</string>
	</dict>

	<key>NotoSansKhmer-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Khmer 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Khmer GSUB.txt</string>
	</dict>

	<key>NotoSansKhmer-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Khmer 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Khmer GSUB.txt</string>
	</dict>
		
	<key>NotoSansKhmer-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Khmer 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Khmer GSUB.txt</string>
	</dict>
		
	<key>NotoSansKhmer-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Khmer GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Khmer 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Khmer GSUB.txt</string>
	</dict>
		
</dict>
</plist>

