<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0964</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0965</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09E6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09E7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09E8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09E9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09ED</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni09EF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2010</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2011</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2055</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA800</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA801</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA802</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA803</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA804</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA805</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA806</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA807</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA807uniA807</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA807uniA814</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA808</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA809</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA80A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA80B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA80C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA80CuniA80C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA80CuniA80D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA80D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA80E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA80EuniA80E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA80F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA810</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA811</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA812</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA813</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA814</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA814uniA814</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA815</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA816</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA817</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA818</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA818uniA814</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA818uniA816</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA818uniA818</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA819</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81BuniA81B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81DuniA81B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81DuniA81D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81EuniA81F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA81F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA820</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA821</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA821uniA807</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA821uniA80C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA821uniA80D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA821uniA814</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA821uniA81B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA822</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA823</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA824</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA825</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA826</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA827</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA828</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA829</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA82A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA82B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA82C</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
