<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1735</key>
    <string>uni1735.glif</string>
    <key>uni1736</key>
    <string>uni1736.glif</string>
    <key>uni1760</key>
    <string>uni1760.glif</string>
    <key>uni1761</key>
    <string>uni1761.glif</string>
    <key>uni1762</key>
    <string>uni1762.glif</string>
    <key>uni1763</key>
    <string>uni1763.glif</string>
    <key>uni1764</key>
    <string>uni1764.glif</string>
    <key>uni1765</key>
    <string>uni1765.glif</string>
    <key>uni1766</key>
    <string>uni1766.glif</string>
    <key>uni1767</key>
    <string>uni1767.glif</string>
    <key>uni1768</key>
    <string>uni1768.glif</string>
    <key>uni1769</key>
    <string>uni1769.glif</string>
    <key>uni176A</key>
    <string>uni176A_.glif</string>
    <key>uni176B</key>
    <string>uni176B_.glif</string>
    <key>uni176C</key>
    <string>uni176C_.glif</string>
    <key>uni176E</key>
    <string>uni176E_.glif</string>
    <key>uni176F</key>
    <string>uni176F_.glif</string>
    <key>uni1770</key>
    <string>uni1770.glif</string>
    <key>uni1772</key>
    <string>uni1772.glif</string>
    <key>uni1773</key>
    <string>uni1773.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
