<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jan 28 17, 19:22</string>
      <string>glyphs.J_an 28 17, 19_22</string>
    </array>
    <array>
      <string>Feb 4 17, 13:43</string>
      <string>glyphs.F_eb 4 17, 13_43</string>
    </array>
  </array>
</plist>
