<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>eightguru</key>
    <string>eightguru.glif</string>
    <key>fiveguru</key>
    <string>fiveguru.glif</string>
    <key>fourguru</key>
    <string>fourguru.glif</string>
    <key>nineguru</key>
    <string>nineguru.glif</string>
    <key>oneguru</key>
    <string>oneguru.glif</string>
    <key>sevenguru</key>
    <string>sevenguru.glif</string>
    <key>sixguru</key>
    <string>sixguru.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>threeguru</key>
    <string>threeguru.glif</string>
    <key>twoguru</key>
    <string>twoguru.glif</string>
    <key>u11280</key>
    <string>u11280.glif</string>
    <key>u11281</key>
    <string>u11281.glif</string>
    <key>u11282</key>
    <string>u11282.glif</string>
    <key>u11283</key>
    <string>u11283.glif</string>
    <key>u11284</key>
    <string>u11284.glif</string>
    <key>u11285</key>
    <string>u11285.glif</string>
    <key>u11286</key>
    <string>u11286.glif</string>
    <key>u11288</key>
    <string>u11288.glif</string>
    <key>u1128A</key>
    <string>u1128A_.glif</string>
    <key>u1128B</key>
    <string>u1128B_.glif</string>
    <key>u1128C</key>
    <string>u1128C_.glif</string>
    <key>u1128D</key>
    <string>u1128D_.glif</string>
    <key>u1128F</key>
    <string>u1128F_.glif</string>
    <key>u11290</key>
    <string>u11290.glif</string>
    <key>u11291</key>
    <string>u11291.glif</string>
    <key>u11292</key>
    <string>u11292.glif</string>
    <key>u11293</key>
    <string>u11293.glif</string>
    <key>u11294</key>
    <string>u11294.glif</string>
    <key>u11295</key>
    <string>u11295.glif</string>
    <key>u11296</key>
    <string>u11296.glif</string>
    <key>u11297</key>
    <string>u11297.glif</string>
    <key>u11298</key>
    <string>u11298.glif</string>
    <key>u11299</key>
    <string>u11299.glif</string>
    <key>u1129A</key>
    <string>u1129A_.glif</string>
    <key>u1129B</key>
    <string>u1129B_.glif</string>
    <key>u1129C</key>
    <string>u1129C_.glif</string>
    <key>u1129D</key>
    <string>u1129D_.glif</string>
    <key>u1129F</key>
    <string>u1129F_.glif</string>
    <key>u112A0</key>
    <string>u112A_0.glif</string>
    <key>u112A1</key>
    <string>u112A_1.glif</string>
    <key>u112A2</key>
    <string>u112A_2.glif</string>
    <key>u112A3</key>
    <string>u112A_3.glif</string>
    <key>u112A4</key>
    <string>u112A_4.glif</string>
    <key>u112A5</key>
    <string>u112A_5.glif</string>
    <key>u112A6</key>
    <string>u112A_6.glif</string>
    <key>u112A7</key>
    <string>u112A_7.glif</string>
    <key>u112A8</key>
    <string>u112A_8.glif</string>
    <key>u112A9</key>
    <string>u112A_9.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>zeroguru</key>
    <string>zeroguru.glif</string>
  </dict>
</plist>
