<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aGlottal.eth</key>
    <string>aG_lottal.eth.glif</string>
    <key>aPhr.eth</key>
    <string>aP_hr.eth.glif</string>
    <key>aaGlottal.eth</key>
    <string>aaG_lottal.eth.glif</string>
    <key>aaPhr.eth</key>
    <string>aaP_hr.eth.glif</string>
    <key>ba.eth</key>
    <string>ba.eth.glif</string>
    <key>baa.eth</key>
    <string>baa.eth.glif</string>
    <key>baashort</key>
    <string>baashort.glif</string>
    <key>ballbig</key>
    <string>ballbig.glif</string>
    <key>ballsmall</key>
    <string>ballsmall.glif</string>
    <key>baselinebowl</key>
    <string>baselinebowl.glif</string>
    <key>bba.eth</key>
    <string>bba.eth.glif</string>
    <key>bbaa.eth</key>
    <string>bbaa.eth.glif</string>
    <key>bbe.eth</key>
    <string>bbe.eth.glif</string>
    <key>bbee.eth</key>
    <string>bbee.eth.glif</string>
    <key>bbi.eth</key>
    <string>bbi.eth.glif</string>
    <key>bbo.eth</key>
    <string>bbo.eth.glif</string>
    <key>bbowlnarrow</key>
    <string>bbowlnarrow.glif</string>
    <key>bbowlshort</key>
    <string>bbowlshort.glif</string>
    <key>bbu.eth</key>
    <string>bbu.eth.glif</string>
    <key>be.eth</key>
    <string>be.eth.glif</string>
    <key>bee.eth</key>
    <string>bee.eth.glif</string>
    <key>bi.eth</key>
    <string>bi.eth.glif</string>
    <key>bo.eth</key>
    <string>bo.eth.glif</string>
    <key>boa.eth</key>
    <string>boa.eth.glif</string>
    <key>bone</key>
    <string>bone.glif</string>
    <key>bonelong</key>
    <string>bonelong.glif</string>
    <key>bonemiddle</key>
    <string>bonemiddle.glif</string>
    <key>boshort</key>
    <string>boshort.glif</string>
    <key>bu.eth</key>
    <string>bu.eth.glif</string>
    <key>bwa.eth</key>
    <string>bwa.eth.glif</string>
    <key>bwaSebatbeit.eth</key>
    <string>bwaS_ebatbeit.eth.glif</string>
    <key>bwe.eth</key>
    <string>bwe.eth.glif</string>
    <key>bwee.eth</key>
    <string>bwee.eth.glif</string>
    <key>bwi.eth</key>
    <string>bwi.eth.glif</string>
    <key>ca.eth</key>
    <string>ca.eth.glif</string>
    <key>caa.eth</key>
    <string>caa.eth.glif</string>
    <key>cca.eth</key>
    <string>cca.eth.glif</string>
    <key>ccaa.eth</key>
    <string>ccaa.eth.glif</string>
    <key>cce.eth</key>
    <string>cce.eth.glif</string>
    <key>ccee.eth</key>
    <string>ccee.eth.glif</string>
    <key>ccha.eth</key>
    <string>ccha.eth.glif</string>
    <key>cchaa.eth</key>
    <string>cchaa.eth.glif</string>
    <key>cche.eth</key>
    <string>cche.eth.glif</string>
    <key>cchee.eth</key>
    <string>cchee.eth.glif</string>
    <key>cchha.eth</key>
    <string>cchha.eth.glif</string>
    <key>cchhaa.eth</key>
    <string>cchhaa.eth.glif</string>
    <key>cchhe.eth</key>
    <string>cchhe.eth.glif</string>
    <key>cchhee.eth</key>
    <string>cchhee.eth.glif</string>
    <key>cchhi.eth</key>
    <string>cchhi.eth.glif</string>
    <key>cchho.eth</key>
    <string>cchho.eth.glif</string>
    <key>cchhu.eth</key>
    <string>cchhu.eth.glif</string>
    <key>cchi.eth</key>
    <string>cchi.eth.glif</string>
    <key>ccho.eth</key>
    <string>ccho.eth.glif</string>
    <key>cchu.eth</key>
    <string>cchu.eth.glif</string>
    <key>cci.eth</key>
    <string>cci.eth.glif</string>
    <key>cco.eth</key>
    <string>cco.eth.glif</string>
    <key>ccu.eth</key>
    <string>ccu.eth.glif</string>
    <key>ce.eth</key>
    <string>ce.eth.glif</string>
    <key>cee.eth</key>
    <string>cee.eth.glif</string>
    <key>cha.eth</key>
    <string>cha.eth.glif</string>
    <key>chaa.eth</key>
    <string>chaa.eth.glif</string>
    <key>che.eth</key>
    <string>che.eth.glif</string>
    <key>chee.eth</key>
    <string>chee.eth.glif</string>
    <key>chi.eth</key>
    <string>chi.eth.glif</string>
    <key>chiret.eth</key>
    <string>chiret.eth.glif</string>
    <key>cho.eth</key>
    <string>cho.eth.glif</string>
    <key>choa.eth</key>
    <string>choa.eth.glif</string>
    <key>chu.eth</key>
    <string>chu.eth.glif</string>
    <key>chwa.eth</key>
    <string>chwa.eth.glif</string>
    <key>ci.eth</key>
    <string>ci.eth.glif</string>
    <key>co.eth</key>
    <string>co.eth.glif</string>
    <key>coa.eth</key>
    <string>coa.eth.glif</string>
    <key>colon.eth</key>
    <string>colon.eth.glif</string>
    <key>comma.eth</key>
    <string>comma.eth.glif</string>
    <key>cu.eth</key>
    <string>cu.eth.glif</string>
    <key>cwa.eth</key>
    <string>cwa.eth.glif</string>
    <key>da.eth</key>
    <string>da.eth.glif</string>
    <key>daa.eth</key>
    <string>daa.eth.glif</string>
    <key>dblverticallineabovecomb</key>
    <string>dblverticallineabovecomb.glif</string>
    <key>dda.eth</key>
    <string>dda.eth.glif</string>
    <key>ddaa.eth</key>
    <string>ddaa.eth.glif</string>
    <key>dde.eth</key>
    <string>dde.eth.glif</string>
    <key>ddee.eth</key>
    <string>ddee.eth.glif</string>
    <key>ddhaa.eth</key>
    <string>ddhaa.eth.glif</string>
    <key>ddhe.eth</key>
    <string>ddhe.eth.glif</string>
    <key>ddhee.eth</key>
    <string>ddhee.eth.glif</string>
    <key>ddhi.eth</key>
    <string>ddhi.eth.glif</string>
    <key>ddho.eth</key>
    <string>ddho.eth.glif</string>
    <key>ddhu.eth</key>
    <string>ddhu.eth.glif</string>
    <key>ddi.eth</key>
    <string>ddi.eth.glif</string>
    <key>ddo.eth</key>
    <string>ddo.eth.glif</string>
    <key>ddoa.eth</key>
    <string>ddoa.eth.glif</string>
    <key>ddu.eth</key>
    <string>ddu.eth.glif</string>
    <key>ddwa.eth</key>
    <string>ddwa.eth.glif</string>
    <key>de.eth</key>
    <string>de.eth.glif</string>
    <key>dee.eth</key>
    <string>dee.eth.glif</string>
    <key>deret.eth</key>
    <string>deret.eth.glif</string>
    <key>deretHidet.eth</key>
    <string>deretH_idet.eth.glif</string>
    <key>di.eth</key>
    <string>di.eth.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>difat.eth</key>
    <string>difat.eth.glif</string>
    <key>do.eth</key>
    <string>do.eth.glif</string>
    <key>doa.eth</key>
    <string>doa.eth.glif</string>
    <key>du.eth</key>
    <string>du.eth.glif</string>
    <key>dwa.eth</key>
    <string>dwa.eth.glif</string>
    <key>dzaa.eth</key>
    <string>dzaa.eth.glif</string>
    <key>dze.eth</key>
    <string>dze.eth.glif</string>
    <key>dzee.eth</key>
    <string>dzee.eth.glif</string>
    <key>dzi.eth</key>
    <string>dzi.eth.glif</string>
    <key>dzo.eth</key>
    <string>dzo.eth.glif</string>
    <key>dzu.eth</key>
    <string>dzu.eth.glif</string>
    <key>eGlottal.eth</key>
    <string>eG_lottal.eth.glif</string>
    <key>ePhr.eth</key>
    <string>eP_hr.eth.glif</string>
    <key>eeGlottal.eth</key>
    <string>eeG_lottal.eth.glif</string>
    <key>eePhr.eth</key>
    <string>eeP_hr.eth.glif</string>
    <key>eight.eth</key>
    <string>eight.eth.glif</string>
    <key>eightFin.eth</key>
    <string>eightF_in.eth.glif</string>
    <key>eightIni.eth</key>
    <string>eightI_ni.eth.glif</string>
    <key>eightMed.eth</key>
    <string>eightM_ed.eth.glif</string>
    <key>eightform</key>
    <string>eightform.glif</string>
    <key>eighty.eth</key>
    <string>eighty.eth.glif</string>
    <key>eightyFin.eth</key>
    <string>eightyF_in.eth.glif</string>
    <key>eightyIni.eth</key>
    <string>eightyI_ni.eth.glif</string>
    <key>eightyMed.eth</key>
    <string>eightyM_ed.eth.glif</string>
    <key>eightyform</key>
    <string>eightyform.glif</string>
    <key>ellipsisvertical</key>
    <string>ellipsisvertical.glif</string>
    <key>fa.eth</key>
    <string>fa.eth.glif</string>
    <key>faa.eth</key>
    <string>faa.eth.glif</string>
    <key>fe.eth</key>
    <string>fe.eth.glif</string>
    <key>fee.eth</key>
    <string>fee.eth.glif</string>
    <key>fi.eth</key>
    <string>fi.eth.glif</string>
    <key>fifty.eth</key>
    <string>fifty.eth.glif</string>
    <key>fiftyFin.eth</key>
    <string>fiftyF_in.eth.glif</string>
    <key>fiftyIni.eth</key>
    <string>fiftyI_ni.eth.glif</string>
    <key>fiftyMed.eth</key>
    <string>fiftyM_ed.eth.glif</string>
    <key>fiftyform</key>
    <string>fiftyform.glif</string>
    <key>five.eth</key>
    <string>five.eth.glif</string>
    <key>fiveFin.eth</key>
    <string>fiveF_in.eth.glif</string>
    <key>fiveIni.eth</key>
    <string>fiveI_ni.eth.glif</string>
    <key>fiveMed.eth</key>
    <string>fiveM_ed.eth.glif</string>
    <key>fiveform</key>
    <string>fiveform.glif</string>
    <key>fo.eth</key>
    <string>fo.eth.glif</string>
    <key>footlong</key>
    <string>footlong.glif</string>
    <key>footmiddle</key>
    <string>footmiddle.glif</string>
    <key>footright</key>
    <string>footright.glif</string>
    <key>footshort</key>
    <string>footshort.glif</string>
    <key>forty.eth</key>
    <string>forty.eth.glif</string>
    <key>fortyFin.eth</key>
    <string>fortyF_in.eth.glif</string>
    <key>fortyIni.eth</key>
    <string>fortyI_ni.eth.glif</string>
    <key>fortyMed.eth</key>
    <string>fortyM_ed.eth.glif</string>
    <key>fortyform</key>
    <string>fortyform.glif</string>
    <key>four.eth</key>
    <string>four.eth.glif</string>
    <key>fourFin.eth</key>
    <string>fourF_in.eth.glif</string>
    <key>fourIni.eth</key>
    <string>fourI_ni.eth.glif</string>
    <key>fourMed.eth</key>
    <string>fourM_ed.eth.glif</string>
    <key>fourform</key>
    <string>fourform.glif</string>
    <key>fu.eth</key>
    <string>fu.eth.glif</string>
    <key>fwa.eth</key>
    <string>fwa.eth.glif</string>
    <key>fwaSebatbeit.eth</key>
    <string>fwaS_ebatbeit.eth.glif</string>
    <key>fwe.eth</key>
    <string>fwe.eth.glif</string>
    <key>fwee.eth</key>
    <string>fwee.eth.glif</string>
    <key>fwi.eth</key>
    <string>fwi.eth.glif</string>
    <key>fya.eth</key>
    <string>fya.eth.glif</string>
    <key>ga.eth</key>
    <string>ga.eth.glif</string>
    <key>gaa.eth</key>
    <string>gaa.eth.glif</string>
    <key>ge.eth</key>
    <string>ge.eth.glif</string>
    <key>gee.eth</key>
    <string>gee.eth.glif</string>
    <key>geminVowellengthcomb-ethiopic</key>
    <string>geminV_owellengthcomb-ethiopic.glif</string>
    <key>geminationcomb-ethiopic</key>
    <string>geminationcomb-ethiopic.glif</string>
    <key>gga.eth</key>
    <string>gga.eth.glif</string>
    <key>ggaa.eth</key>
    <string>ggaa.eth.glif</string>
    <key>gge.eth</key>
    <string>gge.eth.glif</string>
    <key>ggee.eth</key>
    <string>ggee.eth.glif</string>
    <key>ggi.eth</key>
    <string>ggi.eth.glif</string>
    <key>ggo.eth</key>
    <string>ggo.eth.glif</string>
    <key>ggu.eth</key>
    <string>ggu.eth.glif</string>
    <key>ggwa.eth</key>
    <string>ggwa.eth.glif</string>
    <key>ggwaa.eth</key>
    <string>ggwaa.eth.glif</string>
    <key>ggwe.eth</key>
    <string>ggwe.eth.glif</string>
    <key>ggwee.eth</key>
    <string>ggwee.eth.glif</string>
    <key>ggwi.eth</key>
    <string>ggwi.eth.glif</string>
    <key>gi.eth</key>
    <string>gi.eth.glif</string>
    <key>go.eth</key>
    <string>go.eth.glif</string>
    <key>goa.eth</key>
    <string>goa.eth.glif</string>
    <key>gu.eth</key>
    <string>gu.eth.glif</string>
    <key>gwa.eth</key>
    <string>gwa.eth.glif</string>
    <key>gwaa.eth</key>
    <string>gwaa.eth.glif</string>
    <key>gwe.eth</key>
    <string>gwe.eth.glif</string>
    <key>gwee.eth</key>
    <string>gwee.eth.glif</string>
    <key>gwi.eth</key>
    <string>gwi.eth.glif</string>
    <key>gya.eth</key>
    <string>gya.eth.glif</string>
    <key>gyaa.eth</key>
    <string>gyaa.eth.glif</string>
    <key>gye.eth</key>
    <string>gye.eth.glif</string>
    <key>gyee.eth</key>
    <string>gyee.eth.glif</string>
    <key>gyi.eth</key>
    <string>gyi.eth.glif</string>
    <key>gyo.eth</key>
    <string>gyo.eth.glif</string>
    <key>gyu.eth</key>
    <string>gyu.eth.glif</string>
    <key>ha.eth</key>
    <string>ha.eth.glif</string>
    <key>haa.eth</key>
    <string>haa.eth.glif</string>
    <key>he.eth</key>
    <string>he.eth.glif</string>
    <key>hee.eth</key>
    <string>hee.eth.glif</string>
    <key>hha.eth</key>
    <string>hha.eth.glif</string>
    <key>hhaa.eth</key>
    <string>hhaa.eth.glif</string>
    <key>hhe.eth</key>
    <string>hhe.eth.glif</string>
    <key>hhee.eth</key>
    <string>hhee.eth.glif</string>
    <key>hhi.eth</key>
    <string>hhi.eth.glif</string>
    <key>hho.eth</key>
    <string>hho.eth.glif</string>
    <key>hhu.eth</key>
    <string>hhu.eth.glif</string>
    <key>hhwa.eth</key>
    <string>hhwa.eth.glif</string>
    <key>hi.eth</key>
    <string>hi.eth.glif</string>
    <key>hidet.eth</key>
    <string>hidet.eth.glif</string>
    <key>ho.eth</key>
    <string>ho.eth.glif</string>
    <key>hoa.eth</key>
    <string>hoa.eth.glif</string>
    <key>hu.eth</key>
    <string>hu.eth.glif</string>
    <key>hundred.eth</key>
    <string>hundred.eth.glif</string>
    <key>hundredFin.eth</key>
    <string>hundredF_in.eth.glif</string>
    <key>hundredIni.eth</key>
    <string>hundredI_ni.eth.glif</string>
    <key>hundredMed.eth</key>
    <string>hundredM_ed.eth.glif</string>
    <key>hundredform</key>
    <string>hundredform.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>iGlottal.eth</key>
    <string>iG_lottal.eth.glif</string>
    <key>iPhr.eth</key>
    <string>iP_hr.eth.glif</string>
    <key>ja.eth</key>
    <string>ja.eth.glif</string>
    <key>jaa.eth</key>
    <string>jaa.eth.glif</string>
    <key>je.eth</key>
    <string>je.eth.glif</string>
    <key>jee.eth</key>
    <string>jee.eth.glif</string>
    <key>ji.eth</key>
    <string>ji.eth.glif</string>
    <key>jo.eth</key>
    <string>jo.eth.glif</string>
    <key>joa.eth</key>
    <string>joa.eth.glif</string>
    <key>jstem</key>
    <string>jstem.glif</string>
    <key>jstem2</key>
    <string>jstem2.glif</string>
    <key>ju.eth</key>
    <string>ju.eth.glif</string>
    <key>jwa.eth</key>
    <string>jwa.eth.glif</string>
    <key>ka.eth</key>
    <string>ka.eth.glif</string>
    <key>kaa.eth</key>
    <string>kaa.eth.glif</string>
    <key>ke.eth</key>
    <string>ke.eth.glif</string>
    <key>kee.eth</key>
    <string>kee.eth.glif</string>
    <key>kenat.eth</key>
    <string>kenat.eth.glif</string>
    <key>ki.eth</key>
    <string>ki.eth.glif</string>
    <key>ko.eth</key>
    <string>ko.eth.glif</string>
    <key>koa.eth</key>
    <string>koa.eth.glif</string>
    <key>ku.eth</key>
    <string>ku.eth.glif</string>
    <key>kurt.eth</key>
    <string>kurt.eth.glif</string>
    <key>kwa.eth</key>
    <string>kwa.eth.glif</string>
    <key>kwaa.eth</key>
    <string>kwaa.eth.glif</string>
    <key>kwe.eth</key>
    <string>kwe.eth.glif</string>
    <key>kwee.eth</key>
    <string>kwee.eth.glif</string>
    <key>kwi.eth</key>
    <string>kwi.eth.glif</string>
    <key>kxa.eth</key>
    <string>kxa.eth.glif</string>
    <key>kxaa.eth</key>
    <string>kxaa.eth.glif</string>
    <key>kxe.eth</key>
    <string>kxe.eth.glif</string>
    <key>kxee.eth</key>
    <string>kxee.eth.glif</string>
    <key>kxi.eth</key>
    <string>kxi.eth.glif</string>
    <key>kxo.eth</key>
    <string>kxo.eth.glif</string>
    <key>kxu.eth</key>
    <string>kxu.eth.glif</string>
    <key>kxwa.eth</key>
    <string>kxwa.eth.glif</string>
    <key>kxwaa.eth</key>
    <string>kxwaa.eth.glif</string>
    <key>kxwe.eth</key>
    <string>kxwe.eth.glif</string>
    <key>kxwee.eth</key>
    <string>kxwee.eth.glif</string>
    <key>kxwi.eth</key>
    <string>kxwi.eth.glif</string>
    <key>kya.eth</key>
    <string>kya.eth.glif</string>
    <key>kyaa.eth</key>
    <string>kyaa.eth.glif</string>
    <key>kye.eth</key>
    <string>kye.eth.glif</string>
    <key>kyee.eth</key>
    <string>kyee.eth.glif</string>
    <key>kyi.eth</key>
    <string>kyi.eth.glif</string>
    <key>kyo.eth</key>
    <string>kyo.eth.glif</string>
    <key>kyu.eth</key>
    <string>kyu.eth.glif</string>
    <key>la.eth</key>
    <string>la.eth.glif</string>
    <key>laa.eth</key>
    <string>laa.eth.glif</string>
    <key>le.eth</key>
    <string>le.eth.glif</string>
    <key>lee.eth</key>
    <string>lee.eth.glif</string>
    <key>leftdoubleflag</key>
    <string>leftdoubleflag.glif</string>
    <key>leftsingleflag</key>
    <string>leftsingleflag.glif</string>
    <key>li.eth</key>
    <string>li.eth.glif</string>
    <key>lo.eth</key>
    <string>lo.eth.glif</string>
    <key>loa.eth</key>
    <string>loa.eth.glif</string>
    <key>lollipop</key>
    <string>lollipop.glif</string>
    <key>lollipopsmall</key>
    <string>lollipopsmall.glif</string>
    <key>lu.eth</key>
    <string>lu.eth.glif</string>
    <key>lwa.eth</key>
    <string>lwa.eth.glif</string>
    <key>ma.eth</key>
    <string>ma.eth.glif</string>
    <key>maa.eth</key>
    <string>maa.eth.glif</string>
    <key>me.eth</key>
    <string>me.eth.glif</string>
    <key>mee.eth</key>
    <string>mee.eth.glif</string>
    <key>mi.eth</key>
    <string>mi.eth.glif</string>
    <key>midring</key>
    <string>midring.glif</string>
    <key>midringshort</key>
    <string>midringshort.glif</string>
    <key>mo.eth</key>
    <string>mo.eth.glif</string>
    <key>moa.eth</key>
    <string>moa.eth.glif</string>
    <key>mu.eth</key>
    <string>mu.eth.glif</string>
    <key>mwa.eth</key>
    <string>mwa.eth.glif</string>
    <key>mwaSebatbeit.eth</key>
    <string>mwaS_ebatbeit.eth.glif</string>
    <key>mwe.eth</key>
    <string>mwe.eth.glif</string>
    <key>mwee.eth</key>
    <string>mwee.eth.glif</string>
    <key>mwi.eth</key>
    <string>mwi.eth.glif</string>
    <key>mya.eth</key>
    <string>mya.eth.glif</string>
    <key>na.eth</key>
    <string>na.eth.glif</string>
    <key>naa.eth</key>
    <string>naa.eth.glif</string>
    <key>ne.eth</key>
    <string>ne.eth.glif</string>
    <key>nee.eth</key>
    <string>nee.eth.glif</string>
    <key>ni.eth</key>
    <string>ni.eth.glif</string>
    <key>nine.eth</key>
    <string>nine.eth.glif</string>
    <key>nineFin.eth</key>
    <string>nineF_in.eth.glif</string>
    <key>nineIni.eth</key>
    <string>nineI_ni.eth.glif</string>
    <key>nineMed.eth</key>
    <string>nineM_ed.eth.glif</string>
    <key>nineform</key>
    <string>nineform.glif</string>
    <key>ninety.eth</key>
    <string>ninety.eth.glif</string>
    <key>ninetyFin.eth</key>
    <string>ninetyF_in.eth.glif</string>
    <key>ninetyIni.eth</key>
    <string>ninetyI_ni.eth.glif</string>
    <key>ninetyMed.eth</key>
    <string>ninetyM_ed.eth.glif</string>
    <key>ninetyform</key>
    <string>ninetyform.glif</string>
    <key>no.eth</key>
    <string>no.eth.glif</string>
    <key>noa.eth</key>
    <string>noa.eth.glif</string>
    <key>nose</key>
    <string>nose.glif</string>
    <key>nu.eth</key>
    <string>nu.eth.glif</string>
    <key>numeral</key>
    <string>numeral.glif</string>
    <key>numeral_fina</key>
    <string>numeral_fina.glif</string>
    <key>numeral_init</key>
    <string>numeral_init.glif</string>
    <key>numeral_medi</key>
    <string>numeral_medi.glif</string>
    <key>numeralnarrow</key>
    <string>numeralnarrow.glif</string>
    <key>numeralswide</key>
    <string>numeralswide.glif</string>
    <key>nwa.eth</key>
    <string>nwa.eth.glif</string>
    <key>nya.eth</key>
    <string>nya.eth.glif</string>
    <key>nyaa.eth</key>
    <string>nyaa.eth.glif</string>
    <key>nye.eth</key>
    <string>nye.eth.glif</string>
    <key>nyee.eth</key>
    <string>nyee.eth.glif</string>
    <key>nyi.eth</key>
    <string>nyi.eth.glif</string>
    <key>nyo.eth</key>
    <string>nyo.eth.glif</string>
    <key>nyoa.eth</key>
    <string>nyoa.eth.glif</string>
    <key>nyu.eth</key>
    <string>nyu.eth.glif</string>
    <key>nywa.eth</key>
    <string>nywa.eth.glif</string>
    <key>oGlottal.eth</key>
    <string>oG_lottal.eth.glif</string>
    <key>oPhr.eth</key>
    <string>oP_hr.eth.glif</string>
    <key>oaGlottal.eth</key>
    <string>oaG_lottal.eth.glif</string>
    <key>one.eth</key>
    <string>one.eth.glif</string>
    <key>oneFin.eth</key>
    <string>oneF_in.eth.glif</string>
    <key>oneIni.eth</key>
    <string>oneI_ni.eth.glif</string>
    <key>oneMed.eth</key>
    <string>oneM_ed.eth.glif</string>
    <key>oneform</key>
    <string>oneform.glif</string>
    <key>pa.eth</key>
    <string>pa.eth.glif</string>
    <key>paa.eth</key>
    <string>paa.eth.glif</string>
    <key>paragraphseparator.eth</key>
    <string>paragraphseparator.eth.glif</string>
    <key>pe.eth</key>
    <string>pe.eth.glif</string>
    <key>pee.eth</key>
    <string>pee.eth.glif</string>
    <key>period.eth</key>
    <string>period.eth.glif</string>
    <key>pha.eth</key>
    <string>pha.eth.glif</string>
    <key>phaa.eth</key>
    <string>phaa.eth.glif</string>
    <key>phe.eth</key>
    <string>phe.eth.glif</string>
    <key>phee.eth</key>
    <string>phee.eth.glif</string>
    <key>phi.eth</key>
    <string>phi.eth.glif</string>
    <key>pho.eth</key>
    <string>pho.eth.glif</string>
    <key>phoa.eth</key>
    <string>phoa.eth.glif</string>
    <key>phu.eth</key>
    <string>phu.eth.glif</string>
    <key>phwa.eth</key>
    <string>phwa.eth.glif</string>
    <key>pi.eth</key>
    <string>pi.eth.glif</string>
    <key>po.eth</key>
    <string>po.eth.glif</string>
    <key>poa.eth</key>
    <string>poa.eth.glif</string>
    <key>prefacecolon.eth</key>
    <string>prefacecolon.eth.glif</string>
    <key>pu.eth</key>
    <string>pu.eth.glif</string>
    <key>pwa.eth</key>
    <string>pwa.eth.glif</string>
    <key>pwaSebatbeit.eth</key>
    <string>pwaS_ebatbeit.eth.glif</string>
    <key>pwe.eth</key>
    <string>pwe.eth.glif</string>
    <key>pwee.eth</key>
    <string>pwee.eth.glif</string>
    <key>pwi.eth</key>
    <string>pwi.eth.glif</string>
    <key>qa.eth</key>
    <string>qa.eth.glif</string>
    <key>qaa.eth</key>
    <string>qaa.eth.glif</string>
    <key>qe.eth</key>
    <string>qe.eth.glif</string>
    <key>qee.eth</key>
    <string>qee.eth.glif</string>
    <key>qha.eth</key>
    <string>qha.eth.glif</string>
    <key>qhaa.eth</key>
    <string>qhaa.eth.glif</string>
    <key>qhe.eth</key>
    <string>qhe.eth.glif</string>
    <key>qhee.eth</key>
    <string>qhee.eth.glif</string>
    <key>qhi.eth</key>
    <string>qhi.eth.glif</string>
    <key>qho.eth</key>
    <string>qho.eth.glif</string>
    <key>qhu.eth</key>
    <string>qhu.eth.glif</string>
    <key>qhwa.eth</key>
    <string>qhwa.eth.glif</string>
    <key>qhwaa.eth</key>
    <string>qhwaa.eth.glif</string>
    <key>qhwe.eth</key>
    <string>qhwe.eth.glif</string>
    <key>qhwee.eth</key>
    <string>qhwee.eth.glif</string>
    <key>qhwi.eth</key>
    <string>qhwi.eth.glif</string>
    <key>qi.eth</key>
    <string>qi.eth.glif</string>
    <key>qo.eth</key>
    <string>qo.eth.glif</string>
    <key>qoa.eth</key>
    <string>qoa.eth.glif</string>
    <key>qu.eth</key>
    <string>qu.eth.glif</string>
    <key>question.eth</key>
    <string>question.eth.glif</string>
    <key>qwa.eth</key>
    <string>qwa.eth.glif</string>
    <key>qwaa.eth</key>
    <string>qwaa.eth.glif</string>
    <key>qwe.eth</key>
    <string>qwe.eth.glif</string>
    <key>qwee.eth</key>
    <string>qwee.eth.glif</string>
    <key>qwi.eth</key>
    <string>qwi.eth.glif</string>
    <key>qya.eth</key>
    <string>qya.eth.glif</string>
    <key>qyaa.eth</key>
    <string>qyaa.eth.glif</string>
    <key>qye.eth</key>
    <string>qye.eth.glif</string>
    <key>qyee.eth</key>
    <string>qyee.eth.glif</string>
    <key>qyi.eth</key>
    <string>qyi.eth.glif</string>
    <key>qyo.eth</key>
    <string>qyo.eth.glif</string>
    <key>qyu.eth</key>
    <string>qyu.eth.glif</string>
    <key>ra.eth</key>
    <string>ra.eth.glif</string>
    <key>raa.eth</key>
    <string>raa.eth.glif</string>
    <key>re.eth</key>
    <string>re.eth.glif</string>
    <key>ree.eth</key>
    <string>ree.eth.glif</string>
    <key>ri.eth</key>
    <string>ri.eth.glif</string>
    <key>rightbulb</key>
    <string>rightbulb.glif</string>
    <key>rightbulbsmall</key>
    <string>rightbulbsmall.glif</string>
    <key>rightdoubleflag</key>
    <string>rightdoubleflag.glif</string>
    <key>rightsingleflag</key>
    <string>rightsingleflag.glif</string>
    <key>rikrik.eth</key>
    <string>rikrik.eth.glif</string>
    <key>ro.eth</key>
    <string>ro.eth.glif</string>
    <key>roa.eth</key>
    <string>roa.eth.glif</string>
    <key>ru.eth</key>
    <string>ru.eth.glif</string>
    <key>rwa.eth</key>
    <string>rwa.eth.glif</string>
    <key>rya.eth</key>
    <string>rya.eth.glif</string>
    <key>sa.eth</key>
    <string>sa.eth.glif</string>
    <key>saa.eth</key>
    <string>saa.eth.glif</string>
    <key>se.eth</key>
    <string>se.eth.glif</string>
    <key>sectionmark.eth</key>
    <string>sectionmark.eth.glif</string>
    <key>see.eth</key>
    <string>see.eth.glif</string>
    <key>semicolon.eth</key>
    <string>semicolon.eth.glif</string>
    <key>seven.eth</key>
    <string>seven.eth.glif</string>
    <key>sevenFin.eth</key>
    <string>sevenF_in.eth.glif</string>
    <key>sevenIni.eth</key>
    <string>sevenI_ni.eth.glif</string>
    <key>sevenMed.eth</key>
    <string>sevenM_ed.eth.glif</string>
    <key>sevenform</key>
    <string>sevenform.glif</string>
    <key>seventy.eth</key>
    <string>seventy.eth.glif</string>
    <key>seventyFin.eth</key>
    <string>seventyF_in.eth.glif</string>
    <key>seventyIni.eth</key>
    <string>seventyI_ni.eth.glif</string>
    <key>seventyMed.eth</key>
    <string>seventyM_ed.eth.glif</string>
    <key>seventyform</key>
    <string>seventyform.glif</string>
    <key>sha.eth</key>
    <string>sha.eth.glif</string>
    <key>shaa.eth</key>
    <string>shaa.eth.glif</string>
    <key>she.eth</key>
    <string>she.eth.glif</string>
    <key>shee.eth</key>
    <string>shee.eth.glif</string>
    <key>shi.eth</key>
    <string>shi.eth.glif</string>
    <key>sho.eth</key>
    <string>sho.eth.glif</string>
    <key>shoa.eth</key>
    <string>shoa.eth.glif</string>
    <key>shortRikrik.eth</key>
    <string>shortR_ikrik.eth.glif</string>
    <key>shortnarch</key>
    <string>shortnarch.glif</string>
    <key>shorttoploops</key>
    <string>shorttoploops.glif</string>
    <key>shu.eth</key>
    <string>shu.eth.glif</string>
    <key>shwa.eth</key>
    <string>shwa.eth.glif</string>
    <key>si.eth</key>
    <string>si.eth.glif</string>
    <key>six.eth</key>
    <string>six.eth.glif</string>
    <key>sixFin.eth</key>
    <string>sixF_in.eth.glif</string>
    <key>sixIni.eth</key>
    <string>sixI_ni.eth.glif</string>
    <key>sixMed.eth</key>
    <string>sixM_ed.eth.glif</string>
    <key>sixform</key>
    <string>sixform.glif</string>
    <key>sixty.eth</key>
    <string>sixty.eth.glif</string>
    <key>sixtyFin.eth</key>
    <string>sixtyF_in.eth.glif</string>
    <key>sixtyIni.eth</key>
    <string>sixtyI_ni.eth.glif</string>
    <key>sixtyMed.eth</key>
    <string>sixtyM_ed.eth.glif</string>
    <key>sixtyform</key>
    <string>sixtyform.glif</string>
    <key>so.eth</key>
    <string>so.eth.glif</string>
    <key>soa.eth</key>
    <string>soa.eth.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssa.eth</key>
    <string>ssa.eth.glif</string>
    <key>ssaa.eth</key>
    <string>ssaa.eth.glif</string>
    <key>sse.eth</key>
    <string>sse.eth.glif</string>
    <key>ssee.eth</key>
    <string>ssee.eth.glif</string>
    <key>ssi.eth</key>
    <string>ssi.eth.glif</string>
    <key>sso.eth</key>
    <string>sso.eth.glif</string>
    <key>ssu.eth</key>
    <string>ssu.eth.glif</string>
    <key>stem1</key>
    <string>stem1.glif</string>
    <key>stem2</key>
    <string>stem2.glif</string>
    <key>su.eth</key>
    <string>su.eth.glif</string>
    <key>swa.eth</key>
    <string>swa.eth.glif</string>
    <key>sza.eth</key>
    <string>sza.eth.glif</string>
    <key>szaa.eth</key>
    <string>szaa.eth.glif</string>
    <key>sze.eth</key>
    <string>sze.eth.glif</string>
    <key>szee.eth</key>
    <string>szee.eth.glif</string>
    <key>szi.eth</key>
    <string>szi.eth.glif</string>
    <key>szo.eth</key>
    <string>szo.eth.glif</string>
    <key>szu.eth</key>
    <string>szu.eth.glif</string>
    <key>szwa.eth</key>
    <string>szwa.eth.glif</string>
    <key>ta.eth</key>
    <string>ta.eth.glif</string>
    <key>taa.eth</key>
    <string>taa.eth.glif</string>
    <key>te.eth</key>
    <string>te.eth.glif</string>
    <key>tee.eth</key>
    <string>tee.eth.glif</string>
    <key>ten.eth</key>
    <string>ten.eth.glif</string>
    <key>tenFin.eth</key>
    <string>tenF_in.eth.glif</string>
    <key>tenIni.eth</key>
    <string>tenI_ni.eth.glif</string>
    <key>tenMed.eth</key>
    <string>tenM_ed.eth.glif</string>
    <key>tenform</key>
    <string>tenform.glif</string>
    <key>tenthousand.eth</key>
    <string>tenthousand.eth.glif</string>
    <key>tenthousandFin.eth</key>
    <string>tenthousandF_in.eth.glif</string>
    <key>tenthousandIni.eth</key>
    <string>tenthousandI_ni.eth.glif</string>
    <key>tenthousandMed.eth</key>
    <string>tenthousandM_ed.eth.glif</string>
    <key>tenthousandform</key>
    <string>tenthousandform.glif</string>
    <key>tha.eth</key>
    <string>tha.eth.glif</string>
    <key>thaa.eth</key>
    <string>thaa.eth.glif</string>
    <key>the.eth</key>
    <string>the.eth.glif</string>
    <key>thee.eth</key>
    <string>thee.eth.glif</string>
    <key>thi.eth</key>
    <string>thi.eth.glif</string>
    <key>thirty.eth</key>
    <string>thirty.eth.glif</string>
    <key>thirtyFin.eth</key>
    <string>thirtyF_in.eth.glif</string>
    <key>thirtyIni.eth</key>
    <string>thirtyI_ni.eth.glif</string>
    <key>thirtyMed.eth</key>
    <string>thirtyM_ed.eth.glif</string>
    <key>thirtyform</key>
    <string>thirtyform.glif</string>
    <key>tho.eth</key>
    <string>tho.eth.glif</string>
    <key>thoa.eth</key>
    <string>thoa.eth.glif</string>
    <key>three.eth</key>
    <string>three.eth.glif</string>
    <key>threeFin.eth</key>
    <string>threeF_in.eth.glif</string>
    <key>threeIni.eth</key>
    <string>threeI_ni.eth.glif</string>
    <key>threeMed.eth</key>
    <string>threeM_ed.eth.glif</string>
    <key>threeform</key>
    <string>threeform.glif</string>
    <key>thu.eth</key>
    <string>thu.eth.glif</string>
    <key>thwa.eth</key>
    <string>thwa.eth.glif</string>
    <key>ti.eth</key>
    <string>ti.eth.glif</string>
    <key>to.eth</key>
    <string>to.eth.glif</string>
    <key>toa.eth</key>
    <string>toa.eth.glif</string>
    <key>tsa.eth</key>
    <string>tsa.eth.glif</string>
    <key>tsaa.eth</key>
    <string>tsaa.eth.glif</string>
    <key>tse.eth</key>
    <string>tse.eth.glif</string>
    <key>tsee.eth</key>
    <string>tsee.eth.glif</string>
    <key>tsi.eth</key>
    <string>tsi.eth.glif</string>
    <key>tso.eth</key>
    <string>tso.eth.glif</string>
    <key>tsu.eth</key>
    <string>tsu.eth.glif</string>
    <key>tswa.eth</key>
    <string>tswa.eth.glif</string>
    <key>tthaa.eth</key>
    <string>tthaa.eth.glif</string>
    <key>tthe.eth</key>
    <string>tthe.eth.glif</string>
    <key>tthee.eth</key>
    <string>tthee.eth.glif</string>
    <key>tthi.eth</key>
    <string>tthi.eth.glif</string>
    <key>ttho.eth</key>
    <string>ttho.eth.glif</string>
    <key>tthu.eth</key>
    <string>tthu.eth.glif</string>
    <key>tu.eth</key>
    <string>tu.eth.glif</string>
    <key>twa.eth</key>
    <string>twa.eth.glif</string>
    <key>twenty.eth</key>
    <string>twenty.eth.glif</string>
    <key>twentyFin.eth</key>
    <string>twentyF_in.eth.glif</string>
    <key>twentyIni.eth</key>
    <string>twentyI_ni.eth.glif</string>
    <key>twentyMed.eth</key>
    <string>twentyM_ed.eth.glif</string>
    <key>twentyform</key>
    <string>twentyform.glif</string>
    <key>two.eth</key>
    <string>two.eth.glif</string>
    <key>twoFin.eth</key>
    <string>twoF_in.eth.glif</string>
    <key>twoIni.eth</key>
    <string>twoI_ni.eth.glif</string>
    <key>twoMed.eth</key>
    <string>twoM_ed.eth.glif</string>
    <key>twoform</key>
    <string>twoform.glif</string>
    <key>tza.eth</key>
    <string>tza.eth.glif</string>
    <key>tzaa.eth</key>
    <string>tzaa.eth.glif</string>
    <key>tze.eth</key>
    <string>tze.eth.glif</string>
    <key>tzee.eth</key>
    <string>tzee.eth.glif</string>
    <key>tzi.eth</key>
    <string>tzi.eth.glif</string>
    <key>tzo.eth</key>
    <string>tzo.eth.glif</string>
    <key>tzoa.eth</key>
    <string>tzoa.eth.glif</string>
    <key>tzu.eth</key>
    <string>tzu.eth.glif</string>
    <key>uGlottal.eth</key>
    <string>uG_lottal.eth.glif</string>
    <key>uPhr.eth</key>
    <string>uP_hr.eth.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>va.eth</key>
    <string>va.eth.glif</string>
    <key>vaa.eth</key>
    <string>vaa.eth.glif</string>
    <key>ve.eth</key>
    <string>ve.eth.glif</string>
    <key>vee.eth</key>
    <string>vee.eth.glif</string>
    <key>vi.eth</key>
    <string>vi.eth.glif</string>
    <key>vo.eth</key>
    <string>vo.eth.glif</string>
    <key>vowellengthcomb-ethiopic</key>
    <string>vowellengthcomb-ethiopic.glif</string>
    <key>vu.eth</key>
    <string>vu.eth.glif</string>
    <key>vwa.eth</key>
    <string>vwa.eth.glif</string>
    <key>wa.eth</key>
    <string>wa.eth.glif</string>
    <key>waGlottal.eth</key>
    <string>waG_lottal.eth.glif</string>
    <key>waa.eth</key>
    <string>waa.eth.glif</string>
    <key>we.eth</key>
    <string>we.eth.glif</string>
    <key>wee.eth</key>
    <string>wee.eth.glif</string>
    <key>wi.eth</key>
    <string>wi.eth.glif</string>
    <key>winghat</key>
    <string>winghat.glif</string>
    <key>winghatshort</key>
    <string>winghatshort.glif</string>
    <key>wo.eth</key>
    <string>wo.eth.glif</string>
    <key>woa.eth</key>
    <string>woa.eth.glif</string>
    <key>wordspace.eth</key>
    <string>wordspace.eth.glif</string>
    <key>wu.eth</key>
    <string>wu.eth.glif</string>
    <key>xa.eth</key>
    <string>xa.eth.glif</string>
    <key>xaa.eth</key>
    <string>xaa.eth.glif</string>
    <key>xe.eth</key>
    <string>xe.eth.glif</string>
    <key>xee.eth</key>
    <string>xee.eth.glif</string>
    <key>xi.eth</key>
    <string>xi.eth.glif</string>
    <key>xo.eth</key>
    <string>xo.eth.glif</string>
    <key>xoa.eth</key>
    <string>xoa.eth.glif</string>
    <key>xu.eth</key>
    <string>xu.eth.glif</string>
    <key>xwa.eth</key>
    <string>xwa.eth.glif</string>
    <key>xwaa.eth</key>
    <string>xwaa.eth.glif</string>
    <key>xwe.eth</key>
    <string>xwe.eth.glif</string>
    <key>xwee.eth</key>
    <string>xwee.eth.glif</string>
    <key>xwi.eth</key>
    <string>xwi.eth.glif</string>
    <key>xya.eth</key>
    <string>xya.eth.glif</string>
    <key>xyaa.eth</key>
    <string>xyaa.eth.glif</string>
    <key>xye.eth</key>
    <string>xye.eth.glif</string>
    <key>xyee.eth</key>
    <string>xyee.eth.glif</string>
    <key>xyi.eth</key>
    <string>xyi.eth.glif</string>
    <key>xyo.eth</key>
    <string>xyo.eth.glif</string>
    <key>xyu.eth</key>
    <string>xyu.eth.glif</string>
    <key>ya.eth</key>
    <string>ya.eth.glif</string>
    <key>yaa.eth</key>
    <string>yaa.eth.glif</string>
    <key>ye.eth</key>
    <string>ye.eth.glif</string>
    <key>yee.eth</key>
    <string>yee.eth.glif</string>
    <key>yi.eth</key>
    <string>yi.eth.glif</string>
    <key>yizet.eth</key>
    <string>yizet.eth.glif</string>
    <key>yo.eth</key>
    <string>yo.eth.glif</string>
    <key>yoa.eth</key>
    <string>yoa.eth.glif</string>
    <key>yu.eth</key>
    <string>yu.eth.glif</string>
    <key>za.eth</key>
    <string>za.eth.glif</string>
    <key>zaa.eth</key>
    <string>zaa.eth.glif</string>
    <key>ze.eth</key>
    <string>ze.eth.glif</string>
    <key>zee.eth</key>
    <string>zee.eth.glif</string>
    <key>zha.eth</key>
    <string>zha.eth.glif</string>
    <key>zhaa.eth</key>
    <string>zhaa.eth.glif</string>
    <key>zhe.eth</key>
    <string>zhe.eth.glif</string>
    <key>zhee.eth</key>
    <string>zhee.eth.glif</string>
    <key>zhi.eth</key>
    <string>zhi.eth.glif</string>
    <key>zho.eth</key>
    <string>zho.eth.glif</string>
    <key>zhu.eth</key>
    <string>zhu.eth.glif</string>
    <key>zhwa.eth</key>
    <string>zhwa.eth.glif</string>
    <key>zi.eth</key>
    <string>zi.eth.glif</string>
    <key>zo.eth</key>
    <string>zo.eth.glif</string>
    <key>zoa.eth</key>
    <string>zoa.eth.glif</string>
    <key>zu.eth</key>
    <string>zu.eth.glif</string>
    <key>zwa.eth</key>
    <string>zwa.eth.glif</string>
    <key>zza.eth</key>
    <string>zza.eth.glif</string>
    <key>zzaa.eth</key>
    <string>zzaa.eth.glif</string>
    <key>zze.eth</key>
    <string>zze.eth.glif</string>
    <key>zzee.eth</key>
    <string>zzee.eth.glif</string>
    <key>zzi.eth</key>
    <string>zzi.eth.glif</string>
    <key>zzo.eth</key>
    <string>zzo.eth.glif</string>
    <key>zzu.eth</key>
    <string>zzu.eth.glif</string>
  </dict>
</plist>
