<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0800</key>
    <string>uni0800.glif</string>
    <key>uni0801</key>
    <string>uni0801.glif</string>
    <key>uni0802</key>
    <string>uni0802.glif</string>
    <key>uni0803</key>
    <string>uni0803.glif</string>
    <key>uni0804</key>
    <string>uni0804.glif</string>
    <key>uni0805</key>
    <string>uni0805.glif</string>
    <key>uni0806</key>
    <string>uni0806.glif</string>
    <key>uni0807</key>
    <string>uni0807.glif</string>
    <key>uni0808</key>
    <string>uni0808.glif</string>
    <key>uni0809</key>
    <string>uni0809.glif</string>
    <key>uni080A</key>
    <string>uni080A_.glif</string>
    <key>uni080B</key>
    <string>uni080B_.glif</string>
    <key>uni080C</key>
    <string>uni080C_.glif</string>
    <key>uni080D</key>
    <string>uni080D_.glif</string>
    <key>uni080E</key>
    <string>uni080E_.glif</string>
    <key>uni080F</key>
    <string>uni080F_.glif</string>
    <key>uni0810</key>
    <string>uni0810.glif</string>
    <key>uni0811</key>
    <string>uni0811.glif</string>
    <key>uni0812</key>
    <string>uni0812.glif</string>
    <key>uni0813</key>
    <string>uni0813.glif</string>
    <key>uni0814</key>
    <string>uni0814.glif</string>
    <key>uni0815</key>
    <string>uni0815.glif</string>
    <key>uni0816</key>
    <string>uni0816.glif</string>
    <key>uni0817</key>
    <string>uni0817.glif</string>
    <key>uni0818</key>
    <string>uni0818.glif</string>
    <key>uni0818.alt</key>
    <string>uni0818.alt.glif</string>
    <key>uni0819</key>
    <string>uni0819.glif</string>
    <key>uni081A</key>
    <string>uni081A_.glif</string>
    <key>uni081B</key>
    <string>uni081B_.glif</string>
    <key>uni081C</key>
    <string>uni081C_.glif</string>
    <key>uni081D</key>
    <string>uni081D_.glif</string>
    <key>uni081E</key>
    <string>uni081E_.glif</string>
    <key>uni081F</key>
    <string>uni081F_.glif</string>
    <key>uni0820</key>
    <string>uni0820.glif</string>
    <key>uni0821</key>
    <string>uni0821.glif</string>
    <key>uni0822</key>
    <string>uni0822.glif</string>
    <key>uni0823</key>
    <string>uni0823.glif</string>
    <key>uni0824</key>
    <string>uni0824.glif</string>
    <key>uni0825</key>
    <string>uni0825.glif</string>
    <key>uni0826</key>
    <string>uni0826.glif</string>
    <key>uni0827</key>
    <string>uni0827.glif</string>
    <key>uni0828</key>
    <string>uni0828.glif</string>
    <key>uni0829</key>
    <string>uni0829.glif</string>
    <key>uni082A</key>
    <string>uni082A_.glif</string>
    <key>uni082B</key>
    <string>uni082B_.glif</string>
    <key>uni082C</key>
    <string>uni082C_.glif</string>
    <key>uni082D</key>
    <string>uni082D_.glif</string>
    <key>uni0830</key>
    <string>uni0830.glif</string>
    <key>uni0831</key>
    <string>uni0831.glif</string>
    <key>uni0832</key>
    <string>uni0832.glif</string>
    <key>uni0833</key>
    <string>uni0833.glif</string>
    <key>uni0834</key>
    <string>uni0834.glif</string>
    <key>uni0835</key>
    <string>uni0835.glif</string>
    <key>uni0836</key>
    <string>uni0836.glif</string>
    <key>uni0837</key>
    <string>uni0837.glif</string>
    <key>uni0838</key>
    <string>uni0838.glif</string>
    <key>uni0839</key>
    <string>uni0839.glif</string>
    <key>uni083A</key>
    <string>uni083A_.glif</string>
    <key>uni083B</key>
    <string>uni083B_.glif</string>
    <key>uni083C</key>
    <string>uni083C_.glif</string>
    <key>uni083D</key>
    <string>uni083D_.glif</string>
    <key>uni083E</key>
    <string>uni083E_.glif</string>
    <key>uni2E31</key>
    <string>uni2E_31.glif</string>
  </dict>
</plist>
