<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0800</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0801</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0802</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0803</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0804</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0805</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0806</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0807</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0808</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0809</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni080A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni080B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni080C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni080D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni080E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni080F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0810</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0811</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0812</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0813</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0814</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0815</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0816</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0817</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0818</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0818.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0819</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni081A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni081B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni081C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni081D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni081E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni081F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0820</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0821</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0822</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0823</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0824</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0825</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0826</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0827</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0828</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0829</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni082A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni082B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni082C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni082D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0830</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0831</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0832</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0833</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0834</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0835</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0836</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0837</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0838</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0839</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni083A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni083B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni083C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni083D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni083E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2E31</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
