<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>CR</key>
		<string>C_R_.glif</string>
		<key>NULL</key>
		<string>N_U_L_L_.glif</string>
		<key>a-hmnp</key>
		<string>a-hmnp.glif</string>
		<key>aa-hmnp</key>
		<string>aa-hmnp.glif</string>
		<key>bSomThw-hmnp</key>
		<string>bS_omT_hw-hmnp.glif</string>
		<key>ca-hmnp</key>
		<string>ca-hmnp.glif</string>
		<key>circledCa-hmnp</key>
		<string>circledC_a-hmnp.glif</string>
		<key>dSomThw-hmnp</key>
		<string>dS_omT_hw-hmnp.glif</string>
		<key>da-hmnp</key>
		<string>da-hmnp.glif</string>
		<key>dla-hmnp</key>
		<string>dla-hmnp.glif</string>
		<key>e-hmnp</key>
		<string>e-hmnp.glif</string>
		<key>ee-hmnp</key>
		<string>ee-hmnp.glif</string>
		<key>eight-hmnp</key>
		<string>eight-hmnp.glif</string>
		<key>fa-hmnp</key>
		<string>fa-hmnp.glif</string>
		<key>five-hmnp</key>
		<string>five-hmnp.glif</string>
		<key>four-hmnp</key>
		<string>four-hmnp.glif</string>
		<key>gSomThw-hmnp</key>
		<string>gS_omT_hw-hmnp.glif</string>
		<key>ga-hmnp</key>
		<string>ga-hmnp.glif</string>
		<key>ha-hmnp</key>
		<string>ha-hmnp.glif</string>
		<key>hah-hmnp</key>
		<string>hah-hmnp.glif</string>
		<key>i-hmnp</key>
		<string>i-hmnp.glif</string>
		<key>jSomThw-hmnp</key>
		<string>jS_omT_hw-hmnp.glif</string>
		<key>ka-hmnp</key>
		<string>ka-hmnp.glif</string>
		<key>khabTheeb-hmnp</key>
		<string>khabT_heeb-hmnp.glif</string>
		<key>khuSaim-hmnp</key>
		<string>khuS_aim-hmnp.glif</string>
		<key>khuamLuas-hmnp</key>
		<string>khuamL_uas-hmnp.glif</string>
		<key>la-hmnp</key>
		<string>la-hmnp.glif</string>
		<key>mSomThw-hmnp</key>
		<string>mS_omT_hw-hmnp.glif</string>
		<key>ma-hmnp</key>
		<string>ma-hmnp.glif</string>
		<key>mla-hmnp</key>
		<string>mla-hmnp.glif</string>
		<key>na-hmnp</key>
		<string>na-hmnp.glif</string>
		<key>nca-hmnp</key>
		<string>nca-hmnp.glif</string>
		<key>nine-hmnp</key>
		<string>nine-hmnp.glif</string>
		<key>nka-hmnp</key>
		<string>nka-hmnp.glif</string>
		<key>npa-hmnp</key>
		<string>npa-hmnp.glif</string>
		<key>npla-hmnp</key>
		<string>npla-hmnp.glif</string>
		<key>nqa-hmnp</key>
		<string>nqa-hmnp.glif</string>
		<key>nra-hmnp</key>
		<string>nra-hmnp.glif</string>
		<key>nta-hmnp</key>
		<string>nta-hmnp.glif</string>
		<key>ntsa-hmnp</key>
		<string>ntsa-hmnp.glif</string>
		<key>ntxa-hmnp</key>
		<string>ntxa-hmnp.glif</string>
		<key>nya-hmnp</key>
		<string>nya-hmnp.glif</string>
		<key>nyaj-hmnp</key>
		<string>nyaj-hmnp.glif</string>
		<key>o-hmnp</key>
		<string>o-hmnp.glif</string>
		<key>one-hmnp</key>
		<string>one-hmnp.glif</string>
		<key>oo-hmnp</key>
		<string>oo-hmnp.glif</string>
		<key>oov-hmnp</key>
		<string>oov-hmnp.glif</string>
		<key>pa-hmnp</key>
		<string>pa-hmnp.glif</string>
		<key>pes-hmnp</key>
		<string>pes-hmnp.glif</string>
		<key>pla-hmnp</key>
		<string>pla-hmnp.glif</string>
		<key>poos-hmnp</key>
		<string>poos-hmnp.glif</string>
		<key>qa-hmnp</key>
		<string>qa-hmnp.glif</string>
		<key>ra-hmnp</key>
		<string>ra-hmnp.glif</string>
		<key>rra-hmnp</key>
		<string>rra-hmnp.glif</string>
		<key>sSomThw-hmnp</key>
		<string>sS_omT_hw-hmnp.glif</string>
		<key>sa-hmnp</key>
		<string>sa-hmnp.glif</string>
		<key>seven-hmnp</key>
		<string>seven-hmnp.glif</string>
		<key>six-hmnp</key>
		<string>six-hmnp.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>ta-hmnp</key>
		<string>ta-hmnp.glif</string>
		<key>three-hmnp</key>
		<string>three-hmnp.glif</string>
		<key>tsa-hmnp</key>
		<string>tsa-hmnp.glif</string>
		<key>two-hmnp</key>
		<string>two-hmnp.glif</string>
		<key>txa-hmnp</key>
		<string>txa-hmnp.glif</string>
		<key>u-hmnp</key>
		<string>u-hmnp.glif</string>
		<key>vSomThw-hmnp</key>
		<string>vS_omT_hw-hmnp.glif</string>
		<key>va-hmnp</key>
		<string>va-hmnp.glif</string>
		<key>w-hmnp</key>
		<string>w-hmnp.glif</string>
		<key>xa-hmnp</key>
		<string>xa-hmnp.glif</string>
		<key>xwXw-hmnp</key>
		<string>xwX_w-hmnp.glif</string>
		<key>xya-hmnp</key>
		<string>xya-hmnp.glif</string>
		<key>ya-hmnp</key>
		<string>ya-hmnp.glif</string>
		<key>za-hmnp</key>
		<string>za-hmnp.glif</string>
		<key>zero-hmnp</key>
		<string>zero-hmnp.glif</string>
	</dict>
</plist>
