<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.0585</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-256</integer>
      <key>public.kern2.uni055C</key>
      <integer>-309</integer>
      <key>public.kern2.uni055E</key>
      <integer>-494</integer>
    </dict>
    <key>public.kern1.uni0544</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <integer>-70</integer>
      <key>public.kern2.uni0568</key>
      <integer>-30</integer>
      <key>public.kern2.uni0571</key>
      <integer>-35</integer>
      <key>public.kern2.uni0577</key>
      <integer>-35</integer>
      <key>public.kern2.uni0578</key>
      <integer>-30</integer>
      <key>public.kern2.uni0579</key>
      <integer>-45</integer>
      <key>public.kern2.uni057B</key>
      <integer>-45</integer>
      <key>public.kern2.uni057D</key>
      <integer>-30</integer>
      <key>public.kern2.uni0587</key>
      <integer>20</integer>
      <key>uni0570</key>
      <integer>-20</integer>
      <key>uni0576</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.uni0552</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-256</integer>
      <key>public.kern2.uni055C</key>
      <integer>-309</integer>
      <key>public.kern2.uni055E</key>
      <integer>-420</integer>
    </dict>
    <key>public.kern1.uni0555</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-50</integer>
      <key>public.kern2.uni055C</key>
      <integer>-50</integer>
      <key>public.kern2.uni055E</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.uni0561</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-256</integer>
      <key>public.kern2.uni055C</key>
      <integer>-309</integer>
      <key>public.kern2.uni055E</key>
      <integer>-494</integer>
    </dict>
    <key>public.kern1.uni0564</key>
    <dict>
      <key>public.kern2.uni0579</key>
      <integer>45</integer>
    </dict>
    <key>public.kern1.uni0565</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-256</integer>
      <key>public.kern2.uni055C</key>
      <integer>-309</integer>
      <key>public.kern2.uni055E</key>
      <integer>-434</integer>
    </dict>
    <key>public.kern1.uni0566</key>
    <dict>
      <key>public.kern2.uni0577</key>
      <integer>25</integer>
      <key>public.kern2.uni0579</key>
      <integer>90</integer>
      <key>public.kern2.uni057B</key>
      <integer>-25</integer>
      <key>public.kern2.uni057D</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uni0567</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <integer>-45</integer>
      <key>public.kern2.uni0571</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.uni056B</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-256</integer>
      <key>public.kern2.uni055C</key>
      <integer>-309</integer>
      <key>public.kern2.uni055E</key>
      <integer>-430</integer>
      <key>public.kern2.uni0579</key>
      <integer>65</integer>
      <key>public.kern2.uni057B</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.uni056F</key>
    <dict>
      <key>public.kern2.uni0579</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.uni0579</key>
    <dict>
      <key>public.kern2.uni0579</key>
      <integer>45</integer>
    </dict>
    <key>public.kern1.uni0582</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-256</integer>
      <key>public.kern2.uni055C</key>
      <integer>-309</integer>
      <key>public.kern2.uni055E</key>
      <integer>-450</integer>
    </dict>
    <key>uni0531</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-180</integer>
      <key>public.kern2.uni055C</key>
      <integer>-180</integer>
      <key>public.kern2.uni055E</key>
      <integer>-220</integer>
    </dict>
    <key>uni0535</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-256</integer>
      <key>public.kern2.uni055C</key>
      <integer>-289</integer>
      <key>public.kern2.uni055E</key>
      <integer>-494</integer>
    </dict>
    <key>uni0538</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-70</integer>
      <key>public.kern2.uni055C</key>
      <integer>-70</integer>
      <key>public.kern2.uni055E</key>
      <integer>-90</integer>
    </dict>
    <key>uni053B</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-80</integer>
      <key>public.kern2.uni055C</key>
      <integer>-80</integer>
      <key>public.kern2.uni055E</key>
      <integer>-120</integer>
    </dict>
    <key>uni053C</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-90</integer>
    </dict>
    <key>uni0542</key>
    <dict>
      <key>public.kern2.uni0549</key>
      <integer>-40</integer>
      <key>public.kern2.uni0577</key>
      <integer>-30</integer>
      <key>public.kern2.uni057B</key>
      <integer>-35</integer>
    </dict>
    <key>uni0546</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-30</integer>
    </dict>
    <key>uni0547</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-35</integer>
      <key>public.kern2.uni0563</key>
      <integer>-25</integer>
      <key>public.kern2.uni0568</key>
      <integer>-25</integer>
    </dict>
    <key>uni0548</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-70</integer>
      <key>public.kern2.uni055C</key>
      <integer>-70</integer>
      <key>public.kern2.uni055E</key>
      <integer>-90</integer>
    </dict>
    <key>uni054C</key>
    <dict>
      <key>uni0570</key>
      <integer>15</integer>
    </dict>
    <key>uni054D</key>
    <dict>
      <key>public.kern2.uni055E</key>
      <integer>-120</integer>
    </dict>
    <key>uni0568</key>
    <dict>
      <key>public.kern2.uni055E</key>
      <integer>-494</integer>
    </dict>
    <key>uni056C</key>
    <dict>
      <key>public.kern2.uni0531</key>
      <integer>-55</integer>
      <key>public.kern2.uni0563</key>
      <integer>-45</integer>
      <key>public.kern2.uni056B</key>
      <integer>-15</integer>
      <key>public.kern2.uni0571</key>
      <integer>-45</integer>
      <key>public.kern2.uni0577</key>
      <integer>30</integer>
      <key>public.kern2.uni0578</key>
      <integer>-50</integer>
      <key>public.kern2.uni0579</key>
      <integer>70</integer>
      <key>public.kern2.uni057D</key>
      <integer>-40</integer>
      <key>public.kern2.uni0587</key>
      <integer>-45</integer>
      <key>uni0570</key>
      <integer>-40</integer>
      <key>uni0573</key>
      <integer>-40</integer>
      <key>uni0576</key>
      <integer>-45</integer>
    </dict>
    <key>uni0572</key>
    <dict>
      <key>public.kern2.uni0577</key>
      <integer>30</integer>
      <key>public.kern2.uni0579</key>
      <integer>110</integer>
    </dict>
  </dict>
</plist>
