<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0531</key>
    <string>uni0531.glif</string>
    <key>uni0532</key>
    <string>uni0532.glif</string>
    <key>uni0533</key>
    <string>uni0533.glif</string>
    <key>uni0534</key>
    <string>uni0534.glif</string>
    <key>uni0535</key>
    <string>uni0535.glif</string>
    <key>uni0536</key>
    <string>uni0536.glif</string>
    <key>uni0537</key>
    <string>uni0537.glif</string>
    <key>uni0538</key>
    <string>uni0538.glif</string>
    <key>uni0539</key>
    <string>uni0539.glif</string>
    <key>uni053A</key>
    <string>uni053A_.glif</string>
    <key>uni053B</key>
    <string>uni053B_.glif</string>
    <key>uni053C</key>
    <string>uni053C_.glif</string>
    <key>uni053D</key>
    <string>uni053D_.glif</string>
    <key>uni053E</key>
    <string>uni053E_.glif</string>
    <key>uni053F</key>
    <string>uni053F_.glif</string>
    <key>uni0540</key>
    <string>uni0540.glif</string>
    <key>uni0541</key>
    <string>uni0541.glif</string>
    <key>uni0542</key>
    <string>uni0542.glif</string>
    <key>uni0543</key>
    <string>uni0543.glif</string>
    <key>uni0544</key>
    <string>uni0544.glif</string>
    <key>uni0545</key>
    <string>uni0545.glif</string>
    <key>uni0546</key>
    <string>uni0546.glif</string>
    <key>uni0547</key>
    <string>uni0547.glif</string>
    <key>uni0548</key>
    <string>uni0548.glif</string>
    <key>uni0548_uni0552</key>
    <string>uni0548_uni0552.glif</string>
    <key>uni0549</key>
    <string>uni0549.glif</string>
    <key>uni054A</key>
    <string>uni054A_.glif</string>
    <key>uni054B</key>
    <string>uni054B_.glif</string>
    <key>uni054C</key>
    <string>uni054C_.glif</string>
    <key>uni054D</key>
    <string>uni054D_.glif</string>
    <key>uni054E</key>
    <string>uni054E_.glif</string>
    <key>uni054F</key>
    <string>uni054F_.glif</string>
    <key>uni0550</key>
    <string>uni0550.glif</string>
    <key>uni0551</key>
    <string>uni0551.glif</string>
    <key>uni0552</key>
    <string>uni0552.glif</string>
    <key>uni0553</key>
    <string>uni0553.glif</string>
    <key>uni0554</key>
    <string>uni0554.glif</string>
    <key>uni0555</key>
    <string>uni0555.glif</string>
    <key>uni0556</key>
    <string>uni0556.glif</string>
    <key>uni0559</key>
    <string>uni0559.glif</string>
    <key>uni055A</key>
    <string>uni055A_.glif</string>
    <key>uni055B</key>
    <string>uni055B_.glif</string>
    <key>uni055C</key>
    <string>uni055C_.glif</string>
    <key>uni055D</key>
    <string>uni055D_.glif</string>
    <key>uni055E</key>
    <string>uni055E_.glif</string>
    <key>uni055F</key>
    <string>uni055F_.glif</string>
    <key>uni0560</key>
    <string>uni0560.glif</string>
    <key>uni0561</key>
    <string>uni0561.glif</string>
    <key>uni0562</key>
    <string>uni0562.glif</string>
    <key>uni0563</key>
    <string>uni0563.glif</string>
    <key>uni0564</key>
    <string>uni0564.glif</string>
    <key>uni0565</key>
    <string>uni0565.glif</string>
    <key>uni0566</key>
    <string>uni0566.glif</string>
    <key>uni0567</key>
    <string>uni0567.glif</string>
    <key>uni0568</key>
    <string>uni0568.glif</string>
    <key>uni0569</key>
    <string>uni0569.glif</string>
    <key>uni056A</key>
    <string>uni056A_.glif</string>
    <key>uni056B</key>
    <string>uni056B_.glif</string>
    <key>uni056C</key>
    <string>uni056C_.glif</string>
    <key>uni056D</key>
    <string>uni056D_.glif</string>
    <key>uni056E</key>
    <string>uni056E_.glif</string>
    <key>uni056F</key>
    <string>uni056F_.glif</string>
    <key>uni0570</key>
    <string>uni0570.glif</string>
    <key>uni0571</key>
    <string>uni0571.glif</string>
    <key>uni0572</key>
    <string>uni0572.glif</string>
    <key>uni0573</key>
    <string>uni0573.glif</string>
    <key>uni0574</key>
    <string>uni0574.glif</string>
    <key>uni0575</key>
    <string>uni0575.glif</string>
    <key>uni0576</key>
    <string>uni0576.glif</string>
    <key>uni0577</key>
    <string>uni0577.glif</string>
    <key>uni0578</key>
    <string>uni0578.glif</string>
    <key>uni0578_uni0582</key>
    <string>uni0578_uni0582.glif</string>
    <key>uni0579</key>
    <string>uni0579.glif</string>
    <key>uni057A</key>
    <string>uni057A_.glif</string>
    <key>uni057B</key>
    <string>uni057B_.glif</string>
    <key>uni057C</key>
    <string>uni057C_.glif</string>
    <key>uni057D</key>
    <string>uni057D_.glif</string>
    <key>uni057E</key>
    <string>uni057E_.glif</string>
    <key>uni057F</key>
    <string>uni057F_.glif</string>
    <key>uni0580</key>
    <string>uni0580.glif</string>
    <key>uni0581</key>
    <string>uni0581.glif</string>
    <key>uni0582</key>
    <string>uni0582.glif</string>
    <key>uni0583</key>
    <string>uni0583.glif</string>
    <key>uni0584</key>
    <string>uni0584.glif</string>
    <key>uni0585</key>
    <string>uni0585.glif</string>
    <key>uni0586</key>
    <string>uni0586.glif</string>
    <key>uni0587</key>
    <string>uni0587.glif</string>
    <key>uni0588</key>
    <string>uni0588.glif</string>
    <key>uni0589</key>
    <string>uni0589.glif</string>
    <key>uni058A</key>
    <string>uni058A_.glif</string>
    <key>uni058D</key>
    <string>uni058D_.glif</string>
    <key>uni058E</key>
    <string>uni058E_.glif</string>
    <key>uni058F</key>
    <string>uni058F_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniFB13</key>
    <string>uniF_B_13.glif</string>
    <key>uniFB14</key>
    <string>uniF_B_14.glif</string>
    <key>uniFB15</key>
    <string>uniF_B_15.glif</string>
    <key>uniFB16</key>
    <string>uniF_B_16.glif</string>
    <key>uniFB17</key>
    <string>uniF_B_17.glif</string>
  </dict>
</plist>
