<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>961</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10800</string>
      <string>u10801</string>
      <string>u10802</string>
      <string>u10803</string>
      <string>u10804</string>
      <string>u10805</string>
      <string>u10808</string>
      <string>u1080A</string>
      <string>u1080B</string>
      <string>u1080C</string>
      <string>u1080D</string>
      <string>u1080E</string>
      <string>u1080F</string>
      <string>u10810</string>
      <string>u10811</string>
      <string>u10812</string>
      <string>u10813</string>
      <string>u10814</string>
      <string>u10815</string>
      <string>u10816</string>
      <string>u10817</string>
      <string>u10818</string>
      <string>u10819</string>
      <string>u1081A</string>
      <string>u1081B</string>
      <string>u1081C</string>
      <string>u1081D</string>
      <string>u1081E</string>
      <string>u1081F</string>
      <string>u10820</string>
      <string>u10821</string>
      <string>u10822</string>
      <string>u10823</string>
      <string>u10824</string>
      <string>u10825</string>
      <string>u10826</string>
      <string>u10827</string>
      <string>u10828</string>
      <string>u10829</string>
      <string>u1082A</string>
      <string>u1082B</string>
      <string>u1082C</string>
      <string>u1082D</string>
      <string>u1082E</string>
      <string>u1082F</string>
      <string>u10830</string>
      <string>u10831</string>
      <string>u10832</string>
      <string>u10833</string>
      <string>u10834</string>
      <string>u10835</string>
      <string>u10837</string>
      <string>u10838</string>
      <string>u1083C</string>
      <string>u1083F</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
