<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>I_anusvara</key>
    <string>I__anusvara.glif</string>
    <key>I_anusvara.alt</key>
    <string>I__anusvara.alt.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>NullMark</key>
    <string>N_ullM_ark.glif</string>
    <key>Tra</key>
    <string>T_ra.glif</string>
    <key>a-takr</key>
    <string>a-takr.glif</string>
    <key>aa-takr</key>
    <string>aa-takr.glif</string>
    <key>aaMatra-takr</key>
    <string>aaM_atra-takr.glif</string>
    <key>ai-takr</key>
    <string>ai-takr.glif</string>
    <key>aiMatra-takr</key>
    <string>aiM_atra-takr.glif</string>
    <key>anusvara-takr</key>
    <string>anusvara-takr.glif</string>
    <key>archaicKha-takr</key>
    <string>archaicK_ha-takr.glif</string>
    <key>au-takr</key>
    <string>au-takr.glif</string>
    <key>auMatra-takr</key>
    <string>auM_atra-takr.glif</string>
    <key>ba-takr</key>
    <string>ba-takr.glif</string>
    <key>bha-takr</key>
    <string>bha-takr.glif</string>
    <key>ca-takr</key>
    <string>ca-takr.glif</string>
    <key>cha-takr</key>
    <string>cha-takr.glif</string>
    <key>da-takr</key>
    <string>da-takr.glif</string>
    <key>danda-deva</key>
    <string>danda-deva.glif</string>
    <key>dbldanda-deva</key>
    <string>dbldanda-deva.glif</string>
    <key>dda-takr</key>
    <string>dda-takr.glif</string>
    <key>ddha-takr</key>
    <string>ddha-takr.glif</string>
    <key>dha-takr</key>
    <string>dha-takr.glif</string>
    <key>digitEight-takr</key>
    <string>digitE_ight-takr.glif</string>
    <key>digitFive-takr</key>
    <string>digitF_ive-takr.glif</string>
    <key>digitFour-takr</key>
    <string>digitF_our-takr.glif</string>
    <key>digitNine-takr</key>
    <string>digitN_ine-takr.glif</string>
    <key>digitOne-takr</key>
    <string>digitO_ne-takr.glif</string>
    <key>digitSeven-takr</key>
    <string>digitS_even-takr.glif</string>
    <key>digitSix-takr</key>
    <string>digitS_ix-takr.glif</string>
    <key>digitThree-takr</key>
    <string>digitT_hree-takr.glif</string>
    <key>digitTwo-takr</key>
    <string>digitT_wo-takr.glif</string>
    <key>digitZero-takr</key>
    <string>digitZ_ero-takr.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>e-takr</key>
    <string>e-takr.glif</string>
    <key>eMatra-takr</key>
    <string>eM_atra-takr.glif</string>
    <key>ga-takr</key>
    <string>ga-takr.glif</string>
    <key>gha-takr</key>
    <string>gha-takr.glif</string>
    <key>ha-takr</key>
    <string>ha-takr.glif</string>
    <key>ha.pst</key>
    <string>ha.pst.glif</string>
    <key>i-takr</key>
    <string>i-takr.glif</string>
    <key>iMatra-takr</key>
    <string>iM_atra-takr.glif</string>
    <key>iMatra-takr.alt</key>
    <string>iM_atra-takr.alt.glif</string>
    <key>ii-takr</key>
    <string>ii-takr.glif</string>
    <key>iiMatra-takr</key>
    <string>iiM_atra-takr.glif</string>
    <key>ja-takr</key>
    <string>ja-takr.glif</string>
    <key>jha-takr</key>
    <string>jha-takr.glif</string>
    <key>ka-takr</key>
    <string>ka-takr.glif</string>
    <key>kha-takr</key>
    <string>kha-takr.glif</string>
    <key>la-takr</key>
    <string>la-takr.glif</string>
    <key>ma-takr</key>
    <string>ma-takr.glif</string>
    <key>na-takr</key>
    <string>na-takr.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nga-takr</key>
    <string>nga-takr.glif</string>
    <key>nna-takr</key>
    <string>nna-takr.glif</string>
    <key>northIndicFractionOneEighth</key>
    <string>northI_ndicF_ractionO_neE_ighth.glif</string>
    <key>northIndicFractionOneHalf</key>
    <string>northI_ndicF_ractionO_neH_alf.glif</string>
    <key>northIndicFractionOneQuarter</key>
    <string>northI_ndicF_ractionO_neQ_uarter.glif</string>
    <key>northIndicFractionOneSixteenth</key>
    <string>northI_ndicF_ractionO_neS_ixteenth.glif</string>
    <key>northIndicFractionThreeQuarters</key>
    <string>northI_ndicF_ractionT_hreeQ_uarters.glif</string>
    <key>northIndicFractionThreeSixteenths</key>
    <string>northI_ndicF_ractionT_hreeS_ixteenths.glif</string>
    <key>northIndicPlaceholderMark</key>
    <string>northI_ndicP_laceholderM_ark.glif</string>
    <key>northIndicQuantityMark</key>
    <string>northI_ndicQ_uantityM_ark.glif</string>
    <key>northIndicQuarterMark</key>
    <string>northI_ndicQ_uarterM_ark.glif</string>
    <key>northIndicRupeeMark</key>
    <string>northI_ndicR_upeeM_ark.glif</string>
    <key>nukta-takr</key>
    <string>nukta-takr.glif</string>
    <key>nya-takr</key>
    <string>nya-takr.glif</string>
    <key>o-takr</key>
    <string>o-takr.glif</string>
    <key>oMatra-takr</key>
    <string>oM_atra-takr.glif</string>
    <key>pa-takr</key>
    <string>pa-takr.glif</string>
    <key>pha-takr</key>
    <string>pha-takr.glif</string>
    <key>ra-takr</key>
    <string>ra-takr.glif</string>
    <key>ra.blw</key>
    <string>ra.blw.glif</string>
    <key>rra-takr</key>
    <string>rra-takr.glif</string>
    <key>sa-takr</key>
    <string>sa-takr.glif</string>
    <key>sha-takr</key>
    <string>sha-takr.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ta-takr</key>
    <string>ta-takr.glif</string>
    <key>tha-takr</key>
    <string>tha-takr.glif</string>
    <key>tta-takr</key>
    <string>tta-takr.glif</string>
    <key>ttha-takr</key>
    <string>ttha-takr.glif</string>
    <key>u-takr</key>
    <string>u-takr.glif</string>
    <key>uMatra-takr</key>
    <string>uM_atra-takr.glif</string>
    <key>uu-takr</key>
    <string>uu-takr.glif</string>
    <key>uuMatra-takr</key>
    <string>uuM_atra-takr.glif</string>
    <key>va-takr</key>
    <string>va-takr.glif</string>
    <key>virama-takr</key>
    <string>virama-takr.glif</string>
    <key>visarga-takr</key>
    <string>visarga-takr.glif</string>
    <key>ya-takr</key>
    <string>ya-takr.glif</string>
    <key>ya.blw</key>
    <string>ya.blw.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
  </dict>
</plist>
