<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I_anusvara</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I_anusvara.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NullMark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tra</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aa-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aaMatra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ai-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aiMatra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.anusvara-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.archaicKha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.au-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.auMatra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ba-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ca-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.da-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.danda-deva</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbldanda-deva</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dda-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitEight-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitFive-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitFour-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitNine-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitOne-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitSeven-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitSix-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitThree-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitTwo-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.digitZero-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dottedCircle</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eMatra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ga-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ha.pst</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iMatra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iMatra-takr.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ii-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iiMatra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ja-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.la-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ma-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.na-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nbspace</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nga-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nna-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicFractionOneEighth</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicFractionOneHalf</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicFractionOneQuarter</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicFractionOneSixteenth</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicFractionThreeQuarters</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicFractionThreeSixteenths</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicPlaceholderMark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicQuantityMark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicQuarterMark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.northIndicRupeeMark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nukta-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nya-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oMatra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pa-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ra.blw</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sa-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ta-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tta-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttha-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uMatra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uu-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uuMatra-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.va-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.virama-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.visarga-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ya-takr</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ya.blw</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zerowidthjoiner</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zerowidthnonjoiner</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
