<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10330</key>
    <string>u10330.glif</string>
    <key>u10331</key>
    <string>u10331.glif</string>
    <key>u10332</key>
    <string>u10332.glif</string>
    <key>u10333</key>
    <string>u10333.glif</string>
    <key>u10334</key>
    <string>u10334.glif</string>
    <key>u10335</key>
    <string>u10335.glif</string>
    <key>u10336</key>
    <string>u10336.glif</string>
    <key>u10337</key>
    <string>u10337.glif</string>
    <key>u10338</key>
    <string>u10338.glif</string>
    <key>u10339</key>
    <string>u10339.glif</string>
    <key>u10339.dieresis</key>
    <string>u10339.dieresis.glif</string>
    <key>u1033A</key>
    <string>u1033A_.glif</string>
    <key>u1033B</key>
    <string>u1033B_.glif</string>
    <key>u1033C</key>
    <string>u1033C_.glif</string>
    <key>u1033D</key>
    <string>u1033D_.glif</string>
    <key>u1033E</key>
    <string>u1033E_.glif</string>
    <key>u1033F</key>
    <string>u1033F_.glif</string>
    <key>u10340</key>
    <string>u10340.glif</string>
    <key>u10341</key>
    <string>u10341.glif</string>
    <key>u10342</key>
    <string>u10342.glif</string>
    <key>u10343</key>
    <string>u10343.glif</string>
    <key>u10344</key>
    <string>u10344.glif</string>
    <key>u10345</key>
    <string>u10345.glif</string>
    <key>u10346</key>
    <string>u10346.glif</string>
    <key>u10347</key>
    <string>u10347.glif</string>
    <key>u10348</key>
    <string>u10348.glif</string>
    <key>u10349</key>
    <string>u10349.glif</string>
    <key>u1034A</key>
    <string>u1034A_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0305</key>
    <string>uni0305.glif</string>
    <key>uni0305.alt1</key>
    <string>uni0305.alt1.glif</string>
    <key>uni0305.alt2</key>
    <string>uni0305.alt2.glif</string>
    <key>uni0305.alt3</key>
    <string>uni0305.alt3.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni0331</key>
    <string>uni0331.glif</string>
  </dict>
</plist>
