<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansDevanagari-Black</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Black GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Black GSUB w172-190.txt</string>
	</dict>
	<key>NotoSansDevanagariExtraCondensed-Black</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Black Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Black GSUB w172-190.txt</string>
	</dict>
	<key>NotoSansDevanagari-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Bold GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Bold GSUB w122-171.txt</string>
	</dict>
	<key>NotoSansDevanagariExtraCondensed-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Bold Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Bold GSUB w122-171.txt</string>
	</dict>
	<key>NotoSansDevanagariExtraCondensed-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Regular GSUB w59-121.txt</string>
	</dict>
	<key>NotoSansDevanagari-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Regular GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Regular GSUB w59-121.txt</string>
	</dict>
	<key>NotoSansDevanagari-Thin</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Thin GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Thin GSUB w26-58.txt</string>
	</dict>
	<key>NotoSansDevanagariExtraCondensed-Thin</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Thin Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Thin GSUB w26-58.txt</string>
	</dict>
</dict>
</plist>
