<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>uni01C4</key>
    <string>uni01C_4.glif</string>
    <key>uni028B</key>
    <string>uni028B_.glif</string>
    <key>uni03B1030603130300</key>
    <string>uni03B_1030603130300.glif</string>
    <key>uni03B1030603130301</key>
    <string>uni03B_1030603130301.glif</string>
    <key>uni03B1030603140300</key>
    <string>uni03B_1030603140300.glif</string>
    <key>uni03B1030603140301</key>
    <string>uni03B_1030603140301.glif</string>
    <key>uni03B9030603130300</key>
    <string>uni03B_9030603130300.glif</string>
    <key>uni03B9030603130301</key>
    <string>uni03B_9030603130301.glif</string>
    <key>uni03B9030603140300</key>
    <string>uni03B_9030603140300.glif</string>
    <key>uni03B9030603140301</key>
    <string>uni03B_9030603140301.glif</string>
    <key>uni03B9030803060300</key>
    <string>uni03B_9030803060300.glif</string>
    <key>uni03B9030803060301</key>
    <string>uni03B_9030803060301.glif</string>
    <key>uni03C5030603130300</key>
    <string>uni03C_5030603130300.glif</string>
    <key>uni03C5030603130301</key>
    <string>uni03C_5030603130301.glif</string>
    <key>uni03C5030603140300</key>
    <string>uni03C_5030603140300.glif</string>
    <key>uni03C5030603140301</key>
    <string>uni03C_5030603140301.glif</string>
    <key>uni03C5030803060300</key>
    <string>uni03C_5030803060300.glif</string>
    <key>uni03C5030803060301</key>
    <string>uni03C_5030803060301.glif</string>
    <key>uni1D5E</key>
    <string>uni1D_5E_.glif</string>
    <key>uni1D7F</key>
    <string>uni1D_7F_.glif</string>
    <key>uni1DB9</key>
    <string>uni1D_B_9.glif</string>
    <key>uni1DC1</key>
    <string>uni1D_C_1.glif</string>
    <key>uni1E1C</key>
    <string>uni1E_1C_.glif</string>
    <key>uni1E2A</key>
    <string>uni1E_2A_.glif</string>
    <key>uni1E2B</key>
    <string>uni1E_2B_.glif</string>
    <key>uni1E67</key>
    <string>uni1E_67.glif</string>
    <key>uni1E79</key>
    <string>uni1E_79.glif</string>
    <key>uni1FD8</key>
    <string>uni1F_D_8.glif</string>
    <key>uni210B</key>
    <string>uni210B_.glif</string>
    <key>uniA68B</key>
    <string>uniA_68B_.glif</string>
    <key>uniAB33</key>
    <string>uniA_B_33.glif</string>
  </dict>
</plist>
