<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u102A0</key>
    <string>u102A_0.glif</string>
    <key>u102A1</key>
    <string>u102A_1.glif</string>
    <key>u102A2</key>
    <string>u102A_2.glif</string>
    <key>u102A3</key>
    <string>u102A_3.glif</string>
    <key>u102A4</key>
    <string>u102A_4.glif</string>
    <key>u102A5</key>
    <string>u102A_5.glif</string>
    <key>u102A6</key>
    <string>u102A_6.glif</string>
    <key>u102A7</key>
    <string>u102A_7.glif</string>
    <key>u102A8</key>
    <string>u102A_8.glif</string>
    <key>u102A9</key>
    <string>u102A_9.glif</string>
    <key>u102AA</key>
    <string>u102A_A_.glif</string>
    <key>u102AB</key>
    <string>u102A_B_.glif</string>
    <key>u102AC</key>
    <string>u102A_C_.glif</string>
    <key>u102AD</key>
    <string>u102A_D_.glif</string>
    <key>u102AE</key>
    <string>u102A_E_.glif</string>
    <key>u102AF</key>
    <string>u102A_F_.glif</string>
    <key>u102B0</key>
    <string>u102B_0.glif</string>
    <key>u102B1</key>
    <string>u102B_1.glif</string>
    <key>u102B2</key>
    <string>u102B_2.glif</string>
    <key>u102B3</key>
    <string>u102B_3.glif</string>
    <key>u102B4</key>
    <string>u102B_4.glif</string>
    <key>u102B5</key>
    <string>u102B_5.glif</string>
    <key>u102B6</key>
    <string>u102B_6.glif</string>
    <key>u102B7</key>
    <string>u102B_7.glif</string>
    <key>u102B8</key>
    <string>u102B_8.glif</string>
    <key>u102B9</key>
    <string>u102B_9.glif</string>
    <key>u102BA</key>
    <string>u102B_A_.glif</string>
    <key>u102BB</key>
    <string>u102B_B_.glif</string>
    <key>u102BC</key>
    <string>u102B_C_.glif</string>
    <key>u102BD</key>
    <string>u102B_D_.glif</string>
    <key>u102BE</key>
    <string>u102B_E_.glif</string>
    <key>u102BF</key>
    <string>u102B_F_.glif</string>
    <key>u102C0</key>
    <string>u102C_0.glif</string>
    <key>u102C1</key>
    <string>u102C_1.glif</string>
    <key>u102C2</key>
    <string>u102C_2.glif</string>
    <key>u102C3</key>
    <string>u102C_3.glif</string>
    <key>u102C4</key>
    <string>u102C_4.glif</string>
    <key>u102C5</key>
    <string>u102C_5.glif</string>
    <key>u102C6</key>
    <string>u102C_6.glif</string>
    <key>u102C7</key>
    <string>u102C_7.glif</string>
    <key>u102C8</key>
    <string>u102C_8.glif</string>
    <key>u102C9</key>
    <string>u102C_9.glif</string>
    <key>u102CA</key>
    <string>u102C_A_.glif</string>
    <key>u102CB</key>
    <string>u102C_B_.glif</string>
    <key>u102CC</key>
    <string>u102C_C_.glif</string>
    <key>u102CD</key>
    <string>u102C_D_.glif</string>
    <key>u102CE</key>
    <string>u102C_E_.glif</string>
    <key>u102CF</key>
    <string>u102C_F_.glif</string>
    <key>u102D0</key>
    <string>u102D_0.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
