<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.u16AE9</key>
    <array>
      <string>u16ADC</string>
      <string>u16AEA</string>
    </array>
    <key>public.kern2.u16AE7</key>
    <array>
      <string>u16AE7</string>
    </array>
    <key>public.kern2.u16AE8</key>
    <array>
      <string>u16ADD</string>
    </array>
    <key>public.kern2.u16AE9</key>
    <array>
      <string>u16AD5</string>
      <string>u16AEA</string>
    </array>
  </dict>
</plist>
