<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1060</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u16AD0</string>
      <string>u16AD1</string>
      <string>u16AD2</string>
      <string>u16AD3</string>
      <string>u16AD4</string>
      <string>u16AD5</string>
      <string>u16AD6</string>
      <string>u16AD7</string>
      <string>u16AD8</string>
      <string>u16AD9</string>
      <string>u16ADA</string>
      <string>u16ADB</string>
      <string>u16ADC</string>
      <string>u16ADD</string>
      <string>u16ADE</string>
      <string>u16ADF</string>
      <string>u16AE0</string>
      <string>u16AE1</string>
      <string>u16AE2</string>
      <string>u16AE3</string>
      <string>u16AE4</string>
      <string>u16AE5</string>
      <string>u16AE6</string>
      <string>u16AE7</string>
      <string>u16AE8</string>
      <string>u16AE9</string>
      <string>u16AEA</string>
      <string>u16AEB</string>
      <string>u16AEC</string>
      <string>u16AED</string>
      <string>u16AF0</string>
      <string>u16AF1</string>
      <string>u16AF1.sm</string>
      <string>u16AF2</string>
      <string>u16AF2.sm</string>
      <string>u16AF3</string>
      <string>u16AF4</string>
      <string>u16AF4.sm</string>
      <string>u16AF5</string>
      <string>uni00A0</string>
      <string>uni25CC</string>
    </array>
  </dict>
</plist>
