<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jun 16 19, 15:56</string>
      <string>glyphs.J_un 16 19, 15_56</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56</string>
      <string>glyphs.J_un 19 19, 21_56</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56.background</string>
      <string>glyphs.J_un 19 19, 21_56.background</string>
    </array>
    <array>
      <string>May 24 19, 13:32</string>
      <string>glyphs.M_ay 24 19, 13_32</string>
    </array>
    <array>
      <string>May 24 19, 13:33</string>
      <string>glyphs.M_ay 24 19, 13_33</string>
    </array>
    <array>
      <string>Jun 20 19, 13:47</string>
      <string>glyphs.J_un 20 19, 13_47</string>
    </array>
    <array>
      <string>Jun 20 19, 13:47.background</string>
      <string>glyphs.J_un 20 19, 13_47.background</string>
    </array>
    <array>
      <string>Jun 24 19, 21:09</string>
      <string>glyphs.J_un 24 19, 21_09</string>
    </array>
    <array>
      <string>Jun 24 19, 21:09.background</string>
      <string>glyphs.J_un 24 19, 21_09.background</string>
    </array>
    <array>
      <string>Feb 25 17, 14:29</string>
      <string>glyphs.F_eb 25 17, 14_29</string>
    </array>
    <array>
      <string>Feb 24 17, 14:38</string>
      <string>glyphs.F_eb 24 17, 14_38</string>
    </array>
    <array>
      <string>Feb 27 17, 11:59</string>
      <string>glyphs.F_eb 27 17, 11_59</string>
    </array>
    <array>
      <string>Feb 26 17, 17:12</string>
      <string>glyphs.F_eb 26 17, 17_12</string>
    </array>
    <array>
      <string>Feb 26 17, 17:12.background</string>
      <string>glyphs.F_eb 26 17, 17_12.background</string>
    </array>
    <array>
      <string>Feb 24 17, 13:29</string>
      <string>glyphs.F_eb 24 17, 13_29</string>
    </array>
    <array>
      <string>Feb 24 17, 16:54</string>
      <string>glyphs.F_eb 24 17, 16_54</string>
    </array>
    <array>
      <string>Feb 21 17, 15:21</string>
      <string>glyphs.F_eb 21 17, 15_21</string>
    </array>
    <array>
      <string>Feb 27 17, 11:13</string>
      <string>glyphs.F_eb 27 17, 11_13</string>
    </array>
    <array>
      <string>Feb 27 17, 17:24</string>
      <string>glyphs.F_eb 27 17, 17_24</string>
    </array>
    <array>
      <string>Feb 24 17, 16:46</string>
      <string>glyphs.F_eb 24 17, 16_46</string>
    </array>
    <array>
      <string>Feb 28 17, 11:19</string>
      <string>glyphs.F_eb 28 17, 11_19</string>
    </array>
    <array>
      <string>Feb 28 17, 14:46</string>
      <string>glyphs.F_eb 28 17, 14_46</string>
    </array>
    <array>
      <string>Feb 28 17, 16:25</string>
      <string>glyphs.F_eb 28 17, 16_25</string>
    </array>
    <array>
      <string>Feb 28 17, 19:14</string>
      <string>glyphs.F_eb 28 17, 19_14</string>
    </array>
    <array>
      <string>Mar 1 17, 11:00</string>
      <string>glyphs.M_ar 1 17, 11_00</string>
    </array>
    <array>
      <string>Mar 1 17, 13:34</string>
      <string>glyphs.M_ar 1 17, 13_34</string>
    </array>
    <array>
      <string>Mar 4 17, 11:32</string>
      <string>glyphs.M_ar 4 17, 11_32</string>
    </array>
  </array>
</plist>
