<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NULL</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA930</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA931</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA932</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA933</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA934</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA935</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA936</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA937</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA938</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA939</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA93A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA93B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA93C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA93D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA93E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA93F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA940</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA941</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA942</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA943</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA944</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA945</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA946</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA947</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA948</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA949</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA94A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA94B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA94C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA94D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA94E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA94F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA950</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA951</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA952</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA953</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniA95F</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
