<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10480</key>
    <string>u10480.glif</string>
    <key>u10481</key>
    <string>u10481.glif</string>
    <key>u10482</key>
    <string>u10482.glif</string>
    <key>u10483</key>
    <string>u10483.glif</string>
    <key>u10484</key>
    <string>u10484.glif</string>
    <key>u10485</key>
    <string>u10485.glif</string>
    <key>u10486</key>
    <string>u10486.glif</string>
    <key>u10487</key>
    <string>u10487.glif</string>
    <key>u10488</key>
    <string>u10488.glif</string>
    <key>u10489</key>
    <string>u10489.glif</string>
    <key>u1048A</key>
    <string>u1048A_.glif</string>
    <key>u1048B</key>
    <string>u1048B_.glif</string>
    <key>u1048C</key>
    <string>u1048C_.glif</string>
    <key>u1048D</key>
    <string>u1048D_.glif</string>
    <key>u1048E</key>
    <string>u1048E_.glif</string>
    <key>u1048F</key>
    <string>u1048F_.glif</string>
    <key>u10490</key>
    <string>u10490.glif</string>
    <key>u10491</key>
    <string>u10491.glif</string>
    <key>u10492</key>
    <string>u10492.glif</string>
    <key>u10493</key>
    <string>u10493.glif</string>
    <key>u10494</key>
    <string>u10494.glif</string>
    <key>u10495</key>
    <string>u10495.glif</string>
    <key>u10496</key>
    <string>u10496.glif</string>
    <key>u10497</key>
    <string>u10497.glif</string>
    <key>u10498</key>
    <string>u10498.glif</string>
    <key>u10499</key>
    <string>u10499.glif</string>
    <key>u1049A</key>
    <string>u1049A_.glif</string>
    <key>u1049B</key>
    <string>u1049B_.glif</string>
    <key>u1049C</key>
    <string>u1049C_.glif</string>
    <key>u1049D</key>
    <string>u1049D_.glif</string>
    <key>u104A0</key>
    <string>u104A_0.glif</string>
    <key>u104A1</key>
    <string>u104A_1.glif</string>
    <key>u104A2</key>
    <string>u104A_2.glif</string>
    <key>u104A3</key>
    <string>u104A_3.glif</string>
    <key>u104A4</key>
    <string>u104A_4.glif</string>
    <key>u104A5</key>
    <string>u104A_5.glif</string>
    <key>u104A6</key>
    <string>u104A_6.glif</string>
    <key>u104A7</key>
    <string>u104A_7.glif</string>
    <key>u104A8</key>
    <string>u104A_8.glif</string>
    <key>u104A9</key>
    <string>u104A_9.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
