<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1342</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axis Mappings</key>
    <dict>
      <key>wght</key>
      <dict>
        <key>400</key>
        <integer>89</integer>
        <key>500</key>
        <integer>106</integer>
        <key>600</key>
        <integer>126</integer>
        <key>700</key>
        <integer>149</integer>
      </dict>
    </dict>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/space</string>
      <string>/nbspace</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.Master Name</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>89</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>C25A89AB-2A2A-4F3F-B02F-59B6A31F96ED</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>89</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>CR</string>
      <string>space</string>
      <string>glyph4</string>
      <string>glyph5</string>
      <string>glyph6</string>
      <string>glyph7</string>
      <string>glyph8</string>
      <string>glyph9</string>
      <string>glyph10</string>
      <string>glyph11</string>
      <string>glyph12</string>
      <string>glyph13</string>
      <string>glyph14</string>
      <string>glyph15</string>
      <string>glyph16</string>
      <string>glyph17</string>
      <string>glyph18</string>
      <string>glyph19</string>
      <string>glyph20</string>
      <string>glyph21</string>
      <string>glyph22</string>
      <string>glyph23</string>
      <string>glyph24</string>
      <string>glyph25</string>
      <string>glyph26</string>
      <string>glyph27</string>
      <string>glyph28</string>
      <string>glyph29</string>
      <string>glyph30</string>
      <string>glyph31</string>
      <string>comma-medf</string>
      <string>period-medf</string>
      <string>glyph34</string>
      <string>or-medf</string>
      <string>exclam-medf</string>
      <string>glyph37</string>
      <string>glyph38</string>
      <string>glyph39</string>
      <string>glyph40</string>
      <string>glyph41</string>
      <string>glyph42</string>
      <string>glyph43</string>
      <string>glyph44</string>
      <string>glyph45</string>
      <string>glyph46</string>
      <string>glyph47</string>
      <string>glyph48</string>
      <string>glyph49</string>
      <string>glyph50</string>
      <string>glyph51</string>
      <string>glyph52</string>
      <string>glyph53</string>
      <string>glyph54</string>
      <string>glyph55</string>
      <string>glyph56</string>
      <string>glyph57</string>
      <string>glyph58</string>
      <string>glyph59</string>
      <string>glyph60</string>
      <string>glyph61</string>
      <string>glyph62</string>
      <string>glyph63</string>
      <string>zero-medf</string>
      <string>one-medf</string>
      <string>two-medf</string>
      <string>three-medf</string>
      <string>four-medf</string>
      <string>five-medf</string>
      <string>six-medf</string>
      <string>seven-medf</string>
      <string>eight-medf</string>
      <string>nine-medf</string>
      <string>ten-medf</string>
      <string>eleven-medf</string>
      <string>twelve-medf</string>
      <string>thirteen-medf</string>
      <string>fourteen-medf</string>
      <string>fifteen-medf</string>
      <string>sixteen-medf</string>
      <string>seventeen-medf</string>
      <string>eighteen-medf</string>
      <string>nineteen-medf</string>
      <string>glyph84</string>
      <string>glyph85</string>
      <string>glyph86</string>
      <string>glyph87</string>
      <string>glyph88</string>
      <string>glyph89</string>
      <string>glyph90</string>
      <string>glyph91</string>
      <string>glyph92</string>
      <string>glyph93</string>
      <string>glyph94</string>
      <string>glyph95</string>
      <string>glyph96</string>
      <string>one-medf.alt</string>
      <string>two-medf.alt</string>
      <string>three-medf.alt</string>
      <string>glyph100</string>
      <string>glyph101</string>
      <string>glyph102</string>
      <string>glyph103</string>
      <string>glyph104</string>
      <string>glyph105</string>
      <string>glyph106</string>
      <string>glyph107</string>
      <string>glyph108</string>
      <string>glyph109</string>
      <string>glyph110</string>
      <string>glyph111</string>
      <string>glyph112</string>
      <string>glyph113</string>
      <string>glyph114</string>
      <string>glyph115</string>
      <string>glyph116</string>
      <string>glyph117</string>
      <string>glyph118</string>
      <string>glyph119</string>
      <string>glyph120</string>
      <string>glyph121</string>
      <string>glyph122</string>
      <string>glyph123</string>
      <string>glyph124</string>
      <string>glyph125</string>
      <string>glyph126</string>
      <string>glyph127</string>
      <string>M-medf</string>
      <string>S-medf</string>
      <string>V-medf</string>
      <string>W-medf</string>
      <string>Atiu-medf</string>
      <string>Z-medf</string>
      <string>KP-medf</string>
      <string>P-medf</string>
      <string>T-medf</string>
      <string>G-medf</string>
      <string>F-medf</string>
      <string>I-medf</string>
      <string>K-medf</string>
      <string>A-medf</string>
      <string>J-medf</string>
      <string>E-medf</string>
      <string>B-medf</string>
      <string>C-medf</string>
      <string>U-medf</string>
      <string>YU-medf</string>
      <string>L-medf</string>
      <string>Q-medf</string>
      <string>H-medf</string>
      <string>NG-medf</string>
      <string>X-medf</string>
      <string>D-medf</string>
      <string>OE-medf</string>
      <string>N-medf</string>
      <string>R-medf</string>
      <string>O-medf</string>
      <string>AI-medf</string>
      <string>Y-medf</string>
      <string>m-medf</string>
      <string>s-medf</string>
      <string>v-medf</string>
      <string>w-medf</string>
      <string>atiu-medf</string>
      <string>z-medf</string>
      <string>kp-medf</string>
      <string>p-medf</string>
      <string>t-medf</string>
      <string>g-medf</string>
      <string>f-medf</string>
      <string>i-medf</string>
      <string>k-medf</string>
      <string>a-medf</string>
      <string>j-medf</string>
      <string>e-medf</string>
      <string>b-medf</string>
      <string>c-medf</string>
      <string>u-medf</string>
      <string>yu-medf</string>
      <string>l-medf</string>
      <string>q-medf</string>
      <string>h-medf</string>
      <string>ng-medf</string>
      <string>x-medf</string>
      <string>d-medf</string>
      <string>oe-medf</string>
      <string>n-medf</string>
      <string>r-medf</string>
      <string>o-medf</string>
      <string>ai-medf</string>
      <string>y-medf</string>
      <string>glyph192</string>
      <string>glyph193</string>
      <string>glyph194</string>
      <string>glyph195</string>
      <string>glyph196</string>
      <string>glyph197</string>
      <string>glyph198</string>
      <string>glyph199</string>
      <string>glyph200</string>
      <string>glyph201</string>
      <string>glyph202</string>
      <string>glyph203</string>
      <string>glyph204</string>
      <string>glyph205</string>
      <string>glyph206</string>
      <string>glyph207</string>
      <string>glyph208</string>
      <string>glyph209</string>
      <string>glyph210</string>
      <string>glyph211</string>
      <string>glyph212</string>
      <string>glyph213</string>
      <string>glyph214</string>
      <string>glyph215</string>
      <string>glyph216</string>
      <string>glyph217</string>
      <string>glyph218</string>
      <string>glyph219</string>
      <string>glyph220</string>
      <string>glyph221</string>
      <string>glyph222</string>
      <string>glyph223</string>
      <string>glyph224</string>
      <string>glyph225</string>
      <string>glyph226</string>
      <string>glyph227</string>
      <string>glyph228</string>
      <string>glyph229</string>
      <string>glyph230</string>
      <string>glyph231</string>
      <string>glyph232</string>
      <string>glyph233</string>
      <string>glyph234</string>
      <string>glyph235</string>
      <string>glyph236</string>
      <string>glyph237</string>
      <string>glyph238</string>
      <string>glyph239</string>
      <string>glyph240</string>
      <string>glyph241</string>
      <string>glyph242</string>
      <string>glyph243</string>
      <string>glyph244</string>
      <string>glyph245</string>
      <string>glyph246</string>
      <string>glyph247</string>
      <string>glyph248</string>
      <string>glyph249</string>
      <string>glyph250</string>
      <string>glyph251</string>
      <string>glyph252</string>
      <string>glyph253</string>
      <string>glyph254</string>
      <string>glyph255</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>.null</key>
      <string>uni0000</string>
      <key>A-medf</key>
      <string>Amedf</string>
      <key>AI-medf</key>
      <string>AImedf</string>
      <key>Atiu-medf</key>
      <string>Atiumedf</string>
      <key>B-medf</key>
      <string>Bmedf</string>
      <key>C-medf</key>
      <string>Cmedf</string>
      <key>CR</key>
      <string>uni000D</string>
      <key>D-medf</key>
      <string>Dmedf</string>
      <key>E-medf</key>
      <string>Emedf</string>
      <key>F-medf</key>
      <string>Fmedf</string>
      <key>G-medf</key>
      <string>Gmedf</string>
      <key>H-medf</key>
      <string>Hmedf</string>
      <key>I-medf</key>
      <string>Imedf</string>
      <key>J-medf</key>
      <string>Jmedf</string>
      <key>K-medf</key>
      <string>Kmedf</string>
      <key>KP-medf</key>
      <string>KPmedf</string>
      <key>L-medf</key>
      <string>Lmedf</string>
      <key>M-medf</key>
      <string>Mmedf</string>
      <key>N-medf</key>
      <string>Nmedf</string>
      <key>NG-medf</key>
      <string>NGmedf</string>
      <key>O-medf</key>
      <string>Omedf</string>
      <key>OE-medf</key>
      <string>OEmedf</string>
      <key>P-medf</key>
      <string>Pmedf</string>
      <key>Q-medf</key>
      <string>Qmedf</string>
      <key>R-medf</key>
      <string>Rmedf</string>
      <key>S-medf</key>
      <string>Smedf</string>
      <key>T-medf</key>
      <string>Tmedf</string>
      <key>U-medf</key>
      <string>Umedf</string>
      <key>V-mdef</key>
      <string>Vmdef</string>
      <key>V-medf</key>
      <string>Vmedf</string>
      <key>W-medf</key>
      <string>Wmedf</string>
      <key>X-medf</key>
      <string>Xmedf</string>
      <key>Y-medf</key>
      <string>Ymedf</string>
      <key>YU-medf</key>
      <string>YUmedf</string>
      <key>Z-medf</key>
      <string>Zmedf</string>
      <key>a-medf</key>
      <string>amedf</string>
      <key>ai-medf</key>
      <string>aimedf</string>
      <key>atiu-medf</key>
      <string>atiumedf</string>
      <key>b-medf</key>
      <string>bmedf</string>
      <key>c-medf</key>
      <string>cmedf</string>
      <key>comma-medf</key>
      <string>commamedf</string>
      <key>d-medf</key>
      <string>dmedf</string>
      <key>e-medf</key>
      <string>emedf</string>
      <key>eight-medf</key>
      <string>eightmedf</string>
      <key>eighteen-medf</key>
      <string>eighteenmedf</string>
      <key>eleven-medf</key>
      <string>elevenmedf</string>
      <key>exclam-medf</key>
      <string>exclammedf</string>
      <key>f-medf</key>
      <string>fmedf</string>
      <key>fifteen-medf</key>
      <string>fifteenmedf</string>
      <key>five-medf</key>
      <string>fivemedf</string>
      <key>four-medf</key>
      <string>fourmedf</string>
      <key>fourteen-medf</key>
      <string>fourteenmedf</string>
      <key>g-medf</key>
      <string>gmedf</string>
      <key>h-medf</key>
      <string>hmedf</string>
      <key>i-medf</key>
      <string>imedf</string>
      <key>j-medf</key>
      <string>jmedf</string>
      <key>k-medf</key>
      <string>kmedf</string>
      <key>kp-medf</key>
      <string>kpmedf</string>
      <key>l-medf</key>
      <string>lmedf</string>
      <key>m-medf</key>
      <string>mmedf</string>
      <key>n-medf</key>
      <string>nmedf</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>ng-medf</key>
      <string>ngmedf</string>
      <key>nine-medf</key>
      <string>ninemedf</string>
      <key>nineteen-medf</key>
      <string>nineteenmedf</string>
      <key>o-medf</key>
      <string>omedf</string>
      <key>oe-medf</key>
      <string>oemedf</string>
      <key>one-medf</key>
      <string>onemedf</string>
      <key>one-medf.alt</key>
      <string>onemedf.alt</string>
      <key>or-medf</key>
      <string>ormedf</string>
      <key>p-medf</key>
      <string>pmedf</string>
      <key>period-medf</key>
      <string>periodmedf</string>
      <key>q-medf</key>
      <string>qmedf</string>
      <key>r-medf</key>
      <string>rmedf</string>
      <key>s-medf</key>
      <string>smedf</string>
      <key>seven-medf</key>
      <string>sevenmedf</string>
      <key>seventeen-medf</key>
      <string>seventeenmedf</string>
      <key>six-medf</key>
      <string>sixmedf</string>
      <key>sixteen-medf</key>
      <string>sixteenmedf</string>
      <key>t-medf</key>
      <string>tmedf</string>
      <key>ten-medf</key>
      <string>tenmedf</string>
      <key>thirteen-medf</key>
      <string>thirteenmedf</string>
      <key>three-medf</key>
      <string>threemedf</string>
      <key>three-medf.alt</key>
      <string>threemedf.alt</string>
      <key>twelve-medf</key>
      <string>twelvemedf</string>
      <key>two-medf</key>
      <string>twomedf</string>
      <key>two-medf.alt</key>
      <string>twomedf.alt</string>
      <key>u-medf</key>
      <string>umedf</string>
      <key>v-medf</key>
      <string>vmedf</string>
      <key>w-medf</key>
      <string>wmedf</string>
      <key>x-medf</key>
      <string>xmedf</string>
      <key>y-medf</key>
      <string>ymedf</string>
      <key>yu-medf</key>
      <string>yumedf</string>
      <key>z-medf</key>
      <string>zmedf</string>
      <key>zero-medf</key>
      <string>zeromedf</string>
    </dict>
  </dict>
</plist>
