<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>Alif-adlam</key>
    <string>A_lif-adlam.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Ba-adlam</key>
    <string>B_a-adlam.glif</string>
    <key>Bhe-adlam</key>
    <string>B_he-adlam.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Chi-adlam</key>
    <string>C_hi-adlam.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Daali-adlam</key>
    <string>D_aali-adlam.glif</string>
    <key>Dha-adlam</key>
    <string>D_ha-adlam.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E-adlam</key>
    <string>E_-adlam.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Fa-adlam</key>
    <string>F_a-adlam.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Ga-adlam</key>
    <string>G_a-adlam.glif</string>
    <key>Gbe-adlam</key>
    <string>G_be-adlam.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha-adlam</key>
    <string>H_a-adlam.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I-adlam</key>
    <string>I_-adlam.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Jiim-adlam</key>
    <string>J_iim-adlam.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kaf-adlam</key>
    <string>K_af-adlam.glif</string>
    <key>Kha-adlam</key>
    <string>K_ha-adlam.glif</string>
    <key>Kpo-adlam</key>
    <string>K_po-adlam.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Laam-adlam</key>
    <string>L_aam-adlam.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Miim-adlam</key>
    <string>M_iim-adlam.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Nha-adlam</key>
    <string>N_ha-adlam.glif</string>
    <key>Nun-adlam</key>
    <string>N_un-adlam.glif</string>
    <key>Nya-adlam</key>
    <string>N_ya-adlam.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O-adlam</key>
    <string>O_-adlam.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pe-adlam</key>
    <string>P_e-adlam.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Qaaf-adlam</key>
    <string>Q_aaf-adlam.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Ra-adlam</key>
    <string>R_a-adlam.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sha-adlam</key>
    <string>S_ha-adlam.glif</string>
    <key>Sinnyiiyhe-adlam</key>
    <string>S_innyiiyhe-adlam.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tu-adlam</key>
    <string>T_u-adlam.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-adlam</key>
    <string>U_-adlam.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Va-adlam</key>
    <string>V_a-adlam.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Waw-adlam</key>
    <string>W_aw-adlam.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ya-adlam</key>
    <string>Y_a-adlam.glif</string>
    <key>Yhe-adlam</key>
    <string>Y_he-adlam.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zal-adlam</key>
    <string>Z_al-adlam.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>afii00208</key>
    <string>afii00208.glif</string>
    <key>alif-adlam</key>
    <string>alif-adlam.glif</string>
    <key>aliflengthencomb-adlam</key>
    <string>aliflengthencomb-adlam.glif</string>
    <key>aliflengthencomb-adlam.case</key>
    <string>aliflengthencomb-adlam.case.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>apostrophe-adlam</key>
    <string>apostrophe-adlam.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>ba-adlam</key>
    <string>ba-adlam.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bhe-adlam</key>
    <string>bhe-adlam.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>chi-adlam</key>
    <string>chi-adlam.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commareversed</key>
    <string>commareversed.glif</string>
    <key>consonantmodcomb-adlam</key>
    <string>consonantmodcomb-adlam.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>daali-adlam</key>
    <string>daali-adlam.glif</string>
    <key>daali-adlam.medi</key>
    <string>daali-adlam.medi.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dha-adlam</key>
    <string>dha-adlam.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e-adlam</key>
    <string>e-adlam.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight-adlam</key>
    <string>eight-adlam.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam-adlam</key>
    <string>exclam-adlam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>fa-adlam</key>
    <string>fa-adlam.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five-adlam</key>
    <string>five-adlam.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four-adlam</key>
    <string>four-adlam.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>ga-adlam</key>
    <string>ga-adlam.glif</string>
    <key>gbe-adlam</key>
    <string>gbe-adlam.glif</string>
    <key>gemconsonantmodcomb-adlam</key>
    <string>gemconsonantmodcomb-adlam.glif</string>
    <key>gemination-adlam</key>
    <string>gemination-adlam.glif</string>
    <key>gemination-adlam.case</key>
    <string>gemination-adlam.case.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>ha-adlam</key>
    <string>ha-adlam.glif</string>
    <key>hamza-adlam</key>
    <string>hamza-adlam.glif</string>
    <key>hoortobbhere-adlam</key>
    <string>hoortobbhere-adlam.glif</string>
    <key>hoortobbhere-adlam.below</key>
    <string>hoortobbhere-adlam.below.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i-adlam</key>
    <string>i-adlam.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jiim-adlam</key>
    <string>jiim-adlam.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kaf-adlam</key>
    <string>kaf-adlam.glif</string>
    <key>kashida-ar</key>
    <string>kashida-ar.glif</string>
    <key>kha-adlam</key>
    <string>kha-adlam.glif</string>
    <key>kpo-adlam</key>
    <string>kpo-adlam.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>laam-adlam</key>
    <string>laam-adlam.glif</string>
    <key>leftDoubleParen</key>
    <string>leftD_oubleP_aren.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>miim-adlam</key>
    <string>miim-adlam.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nha-adlam</key>
    <string>nha-adlam.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine-adlam</key>
    <string>nine-adlam.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>nun-adlam</key>
    <string>nun-adlam.glif</string>
    <key>nya-adlam</key>
    <string>nya-adlam.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o-adlam</key>
    <string>o-adlam.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one-adlam</key>
    <string>one-adlam.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>pe-adlam</key>
    <string>pe-adlam.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>qaaf-adlam</key>
    <string>qaaf-adlam.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question-adlam</key>
    <string>question-adlam.glif</string>
    <key>question-ar</key>
    <string>question-ar.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quotereversed</key>
    <string>quotereversed.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ra-adlam</key>
    <string>ra-adlam.glif</string>
    <key>reversedsemicolon</key>
    <string>reversedsemicolon.glif</string>
    <key>rightDoubleParen</key>
    <string>rightD_oubleP_aren.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven-adlam</key>
    <string>seven-adlam.glif</string>
    <key>sha-adlam</key>
    <string>sha-adlam.glif</string>
    <key>sinnyiiyhe-adlam</key>
    <string>sinnyiiyhe-adlam.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six-adlam</key>
    <string>six-adlam.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three-adlam</key>
    <string>three-adlam.glif</string>
    <key>tu-adlam</key>
    <string>tu-adlam.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two-adlam</key>
    <string>two-adlam.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u-adlam</key>
    <string>u-adlam.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>va-adlam</key>
    <string>va-adlam.glif</string>
    <key>vowellengthencomb-adlam</key>
    <string>vowellengthencomb-adlam.glif</string>
    <key>vowellengthencomb-adlam.case</key>
    <string>vowellengthencomb-adlam.case.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>waw-adlam</key>
    <string>waw-adlam.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ya-adlam</key>
    <string>ya-adlam.glif</string>
    <key>yhe-adlam</key>
    <string>yhe-adlam.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zal-adlam</key>
    <string>zal-adlam.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero-adlam</key>
    <string>zero-adlam.glif</string>
  </dict>
</plist>
