<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array/>
    <key>com.schriftgestaltung.customParameter.InstanceDescriptorAsGSInstance.xHeight</key>
    <string>536</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>glyphOrder</string>
        <key>value</key>
        <array>
          <string>.notdef</string>
          <string>NULL</string>
          <string>CR</string>
          <string>space</string>
          <string>nbspace</string>
          <string>dottedCircle</string>
          <string>i_zanb</string>
          <string>i_zanb.wide</string>
          <string>ue_zanb</string>
          <string>ue_zanb.wide</string>
          <string>u_zanb</string>
          <string>u_zanb.wide</string>
          <string>e_zanb</string>
          <string>e_zanb.wide</string>
          <string>e_zanb.wide.ai</string>
          <string>e_zanb.ai</string>
          <string>oe_zanb</string>
          <string>oe_zanb.wide</string>
          <string>o_zanb</string>
          <string>o_zanb.wide</string>
          <string>o_zanb.wide.ai</string>
          <string>o_zanb.ai</string>
          <string>o_zanb.wide.au</string>
          <string>o_zanb.au</string>
          <string>ai_zanb</string>
          <string>au_zanb</string>
          <string>reversed_i_zanb</string>
          <string>reversed_i_zanb.wide</string>
          <string>lengthMark_zanb</string>
          <string>finalConsonantMark_zanb</string>
          <string>virama_zanb</string>
          <string>candrabindu_zanb</string>
          <string>candrabinduWithOrnament_zanb</string>
          <string>candraWithOrnament_zanb</string>
          <string>anusvara_zanb</string>
          <string>visarga_zanb</string>
          <string>finalYa_zanb</string>
          <string>finalRa_zanb</string>
          <string>finalLa_zanb</string>
          <string>finalVa_zanb</string>
          <string>subjoiner_zanb</string>
          <string>subjoiner_zanb.alt</string>
          <string>finalVa_zanb.stem</string>
          <string>a_zanb</string>
          <string>ka_zanb</string>
          <string>kha_zanb</string>
          <string>ga_zanb</string>
          <string>gha_zanb</string>
          <string>nga_zanb</string>
          <string>ca_zanb</string>
          <string>cha_zanb</string>
          <string>ja_zanb</string>
          <string>nya_zanb</string>
          <string>tta_zanb</string>
          <string>ttha_zanb</string>
          <string>dda_zanb</string>
          <string>ddha_zanb</string>
          <string>nna_zanb</string>
          <string>ta_zanb</string>
          <string>tha_zanb</string>
          <string>da_zanb</string>
          <string>dha_zanb</string>
          <string>na_zanb</string>
          <string>pa_zanb</string>
          <string>pha_zanb</string>
          <string>ba_zanb</string>
          <string>bha_zanb</string>
          <string>ma_zanb</string>
          <string>tsa_zanb</string>
          <string>tsha_zanb</string>
          <string>dza_zanb</string>
          <string>dzha_zanb</string>
          <string>zha_zanb</string>
          <string>za_zanb</string>
          <string>aa_zanb</string>
          <string>ya_zanb</string>
          <string>ra_zanb</string>
          <string>la_zanb</string>
          <string>va_zanb</string>
          <string>sha_zanb</string>
          <string>ssa_zanb</string>
          <string>sa_zanb</string>
          <string>ha_zanb</string>
          <string>kssa_zanb</string>
          <string>initialRa_zanb</string>
          <string>a_zanb.sub</string>
          <string>ka_zanb.sub</string>
          <string>kha_zanb.sub</string>
          <string>ga_zanb.sub</string>
          <string>gha_zanb.sub</string>
          <string>nga_zanb.sub</string>
          <string>ca_zanb.sub</string>
          <string>cha_zanb.sub</string>
          <string>ja_zanb.sub</string>
          <string>nya_zanb.sub</string>
          <string>tta_zanb.sub</string>
          <string>ttha_zanb.sub</string>
          <string>dda_zanb.sub</string>
          <string>ddha_zanb.sub</string>
          <string>nna_zanb.sub</string>
          <string>ta_zanb.sub</string>
          <string>tha_zanb.sub</string>
          <string>da_zanb.sub</string>
          <string>dha_zanb.sub</string>
          <string>na_zanb.sub</string>
          <string>pa_zanb.sub</string>
          <string>pha_zanb.sub</string>
          <string>ba_zanb.sub</string>
          <string>bha_zanb.sub</string>
          <string>ma_zanb.sub</string>
          <string>tsa_zanb.sub</string>
          <string>tsha_zanb.sub</string>
          <string>dza_zanb.sub</string>
          <string>dzha_zanb.sub</string>
          <string>zha_zanb.sub</string>
          <string>za_zanb.sub</string>
          <string>aa_zanb.sub</string>
          <string>ya_zanb.sub</string>
          <string>ra_zanb.sub</string>
          <string>la_zanb.sub</string>
          <string>va_zanb.sub</string>
          <string>sha_zanb.sub</string>
          <string>ssa_zanb.sub</string>
          <string>sa_zanb.sub</string>
          <string>ha_zanb.sub</string>
          <string>kssa_zanb.sub</string>
          <string>tsa_zanb.flat</string>
          <string>tsha_zanb.flat</string>
          <string>dza_zanb.flat</string>
          <string>dzha_zanb.flat</string>
          <string>la_zanb.head</string>
          <string>sa_zanb.head</string>
          <string>ka_zanb.short</string>
          <string>ga_zanb.short</string>
          <string>nga_zanb.short</string>
          <string>ca_zanb.short</string>
          <string>ja_zanb.short</string>
          <string>nya_zanb.short</string>
          <string>ta_zanb.short</string>
          <string>da_zanb.short</string>
          <string>na_zanb.short</string>
          <string>pa_zanb.short</string>
          <string>ba_zanb.short</string>
          <string>ma_zanb.short</string>
          <string>tsa_zanb.short</string>
          <string>dza_zanb.short</string>
          <string>ha_zanb.short</string>
          <string>initialHeadMark_zanb</string>
          <string>closingHeadMark_zanb</string>
          <string>tsheg_zanb</string>
          <string>longTsheg_zanb</string>
          <string>shad_zanb</string>
          <string>doubleShad_zanb</string>
          <string>initialDoubleHeadMark_zanb</string>
          <string>finalDoubleHeadMark_zanb</string>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMaster.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>underlineThickness</string>
        <key>value</key>
        <integer>50</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>underlinePosition</string>
        <key>value</key>
        <integer>-100</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>master01</string>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>nbspace</string>
      <string>dottedCircle</string>
      <string>i_zanb</string>
      <string>i_zanb.wide</string>
      <string>ue_zanb</string>
      <string>ue_zanb.wide</string>
      <string>u_zanb</string>
      <string>u_zanb.wide</string>
      <string>e_zanb</string>
      <string>e_zanb.wide</string>
      <string>e_zanb.wide.ai</string>
      <string>e_zanb.ai</string>
      <string>oe_zanb</string>
      <string>oe_zanb.wide</string>
      <string>o_zanb</string>
      <string>o_zanb.wide</string>
      <string>o_zanb.wide.ai</string>
      <string>o_zanb.ai</string>
      <string>o_zanb.wide.au</string>
      <string>o_zanb.au</string>
      <string>ai_zanb</string>
      <string>au_zanb</string>
      <string>reversed_i_zanb</string>
      <string>reversed_i_zanb.wide</string>
      <string>lengthMark_zanb</string>
      <string>finalConsonantMark_zanb</string>
      <string>virama_zanb</string>
      <string>candrabindu_zanb</string>
      <string>candrabinduWithOrnament_zanb</string>
      <string>candraWithOrnament_zanb</string>
      <string>anusvara_zanb</string>
      <string>visarga_zanb</string>
      <string>finalYa_zanb</string>
      <string>finalRa_zanb</string>
      <string>finalLa_zanb</string>
      <string>finalVa_zanb</string>
      <string>subjoiner_zanb</string>
      <string>subjoiner_zanb.alt</string>
      <string>finalVa_zanb.stem</string>
      <string>a_zanb</string>
      <string>ka_zanb</string>
      <string>kha_zanb</string>
      <string>ga_zanb</string>
      <string>gha_zanb</string>
      <string>nga_zanb</string>
      <string>ca_zanb</string>
      <string>cha_zanb</string>
      <string>ja_zanb</string>
      <string>nya_zanb</string>
      <string>tta_zanb</string>
      <string>ttha_zanb</string>
      <string>dda_zanb</string>
      <string>ddha_zanb</string>
      <string>nna_zanb</string>
      <string>ta_zanb</string>
      <string>tha_zanb</string>
      <string>da_zanb</string>
      <string>dha_zanb</string>
      <string>na_zanb</string>
      <string>pa_zanb</string>
      <string>pha_zanb</string>
      <string>ba_zanb</string>
      <string>bha_zanb</string>
      <string>ma_zanb</string>
      <string>tsa_zanb</string>
      <string>tsha_zanb</string>
      <string>dza_zanb</string>
      <string>dzha_zanb</string>
      <string>zha_zanb</string>
      <string>za_zanb</string>
      <string>aa_zanb</string>
      <string>ya_zanb</string>
      <string>ra_zanb</string>
      <string>la_zanb</string>
      <string>va_zanb</string>
      <string>sha_zanb</string>
      <string>ssa_zanb</string>
      <string>sa_zanb</string>
      <string>ha_zanb</string>
      <string>kssa_zanb</string>
      <string>initialRa_zanb</string>
      <string>a_zanb.sub</string>
      <string>ka_zanb.sub</string>
      <string>kha_zanb.sub</string>
      <string>ga_zanb.sub</string>
      <string>gha_zanb.sub</string>
      <string>nga_zanb.sub</string>
      <string>ca_zanb.sub</string>
      <string>cha_zanb.sub</string>
      <string>ja_zanb.sub</string>
      <string>nya_zanb.sub</string>
      <string>tta_zanb.sub</string>
      <string>ttha_zanb.sub</string>
      <string>dda_zanb.sub</string>
      <string>ddha_zanb.sub</string>
      <string>nna_zanb.sub</string>
      <string>ta_zanb.sub</string>
      <string>tha_zanb.sub</string>
      <string>da_zanb.sub</string>
      <string>dha_zanb.sub</string>
      <string>na_zanb.sub</string>
      <string>pa_zanb.sub</string>
      <string>pha_zanb.sub</string>
      <string>ba_zanb.sub</string>
      <string>bha_zanb.sub</string>
      <string>ma_zanb.sub</string>
      <string>tsa_zanb.sub</string>
      <string>tsha_zanb.sub</string>
      <string>dza_zanb.sub</string>
      <string>dzha_zanb.sub</string>
      <string>zha_zanb.sub</string>
      <string>za_zanb.sub</string>
      <string>aa_zanb.sub</string>
      <string>ya_zanb.sub</string>
      <string>ra_zanb.sub</string>
      <string>la_zanb.sub</string>
      <string>va_zanb.sub</string>
      <string>sha_zanb.sub</string>
      <string>ssa_zanb.sub</string>
      <string>sa_zanb.sub</string>
      <string>ha_zanb.sub</string>
      <string>kssa_zanb.sub</string>
      <string>tsa_zanb.flat</string>
      <string>tsha_zanb.flat</string>
      <string>dza_zanb.flat</string>
      <string>dzha_zanb.flat</string>
      <string>la_zanb.head</string>
      <string>sa_zanb.head</string>
      <string>ka_zanb.short</string>
      <string>ga_zanb.short</string>
      <string>nga_zanb.short</string>
      <string>ca_zanb.short</string>
      <string>ja_zanb.short</string>
      <string>nya_zanb.short</string>
      <string>ta_zanb.short</string>
      <string>da_zanb.short</string>
      <string>na_zanb.short</string>
      <string>pa_zanb.short</string>
      <string>ba_zanb.short</string>
      <string>ma_zanb.short</string>
      <string>tsa_zanb.short</string>
      <string>dza_zanb.short</string>
      <string>ha_zanb.short</string>
      <string>initialHeadMark_zanb</string>
      <string>closingHeadMark_zanb</string>
      <string>tsheg_zanb</string>
      <string>longTsheg_zanb</string>
      <string>shad_zanb</string>
      <string>doubleShad_zanb</string>
      <string>initialDoubleHeadMark_zanb</string>
      <string>finalDoubleHeadMark_zanb</string>
    </array>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>designspace.location</key>
    <array>
      <array>
        <string>Weight</string>
        <real>100.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>nbspace</string>
      <string>dottedCircle</string>
      <string>i_zanb</string>
      <string>i_zanb.wide</string>
      <string>ue_zanb</string>
      <string>ue_zanb.wide</string>
      <string>u_zanb</string>
      <string>u_zanb.wide</string>
      <string>e_zanb</string>
      <string>e_zanb.wide</string>
      <string>e_zanb.wide.ai</string>
      <string>e_zanb.ai</string>
      <string>oe_zanb</string>
      <string>oe_zanb.wide</string>
      <string>o_zanb</string>
      <string>o_zanb.wide</string>
      <string>o_zanb.wide.ai</string>
      <string>o_zanb.ai</string>
      <string>o_zanb.wide.au</string>
      <string>o_zanb.au</string>
      <string>ai_zanb</string>
      <string>au_zanb</string>
      <string>reversed_i_zanb</string>
      <string>reversed_i_zanb.wide</string>
      <string>lengthMark_zanb</string>
      <string>finalConsonantMark_zanb</string>
      <string>virama_zanb</string>
      <string>candrabindu_zanb</string>
      <string>candrabinduWithOrnament_zanb</string>
      <string>candraWithOrnament_zanb</string>
      <string>anusvara_zanb</string>
      <string>visarga_zanb</string>
      <string>finalYa_zanb</string>
      <string>finalRa_zanb</string>
      <string>finalLa_zanb</string>
      <string>finalVa_zanb</string>
      <string>subjoiner_zanb</string>
      <string>finalVa_zanb.stem</string>
      <string>a_zanb</string>
      <string>ka_zanb</string>
      <string>kha_zanb</string>
      <string>ga_zanb</string>
      <string>gha_zanb</string>
      <string>nga_zanb</string>
      <string>ca_zanb</string>
      <string>cha_zanb</string>
      <string>ja_zanb</string>
      <string>nya_zanb</string>
      <string>tta_zanb</string>
      <string>ttha_zanb</string>
      <string>dda_zanb</string>
      <string>ddha_zanb</string>
      <string>nna_zanb</string>
      <string>ta_zanb</string>
      <string>tha_zanb</string>
      <string>da_zanb</string>
      <string>dha_zanb</string>
      <string>na_zanb</string>
      <string>pa_zanb</string>
      <string>pha_zanb</string>
      <string>ba_zanb</string>
      <string>bha_zanb</string>
      <string>ma_zanb</string>
      <string>tsa_zanb</string>
      <string>tsha_zanb</string>
      <string>dza_zanb</string>
      <string>dzha_zanb</string>
      <string>zha_zanb</string>
      <string>za_zanb</string>
      <string>aa_zanb</string>
      <string>ya_zanb</string>
      <string>ra_zanb</string>
      <string>la_zanb</string>
      <string>va_zanb</string>
      <string>sha_zanb</string>
      <string>ssa_zanb</string>
      <string>sa_zanb</string>
      <string>ha_zanb</string>
      <string>kssa_zanb</string>
      <string>initialRa_zanb</string>
      <string>a_zanb.sub</string>
      <string>ka_zanb.sub</string>
      <string>kha_zanb.sub</string>
      <string>ga_zanb.sub</string>
      <string>gha_zanb.sub</string>
      <string>nga_zanb.sub</string>
      <string>ca_zanb.sub</string>
      <string>cha_zanb.sub</string>
      <string>ja_zanb.sub</string>
      <string>nya_zanb.sub</string>
      <string>tta_zanb.sub</string>
      <string>ttha_zanb.sub</string>
      <string>dda_zanb.sub</string>
      <string>ddha_zanb.sub</string>
      <string>nna_zanb.sub</string>
      <string>ta_zanb.sub</string>
      <string>tha_zanb.sub</string>
      <string>da_zanb.sub</string>
      <string>dha_zanb.sub</string>
      <string>na_zanb.sub</string>
      <string>pa_zanb.sub</string>
      <string>pha_zanb.sub</string>
      <string>ba_zanb.sub</string>
      <string>bha_zanb.sub</string>
      <string>ma_zanb.sub</string>
      <string>tsa_zanb.sub</string>
      <string>tsha_zanb.sub</string>
      <string>dza_zanb.sub</string>
      <string>dzha_zanb.sub</string>
      <string>zha_zanb.sub</string>
      <string>za_zanb.sub</string>
      <string>aa_zanb.sub</string>
      <string>ya_zanb.sub</string>
      <string>ra_zanb.sub</string>
      <string>la_zanb.sub</string>
      <string>va_zanb.sub</string>
      <string>sha_zanb.sub</string>
      <string>ssa_zanb.sub</string>
      <string>sa_zanb.sub</string>
      <string>ha_zanb.sub</string>
      <string>kssa_zanb.sub</string>
      <string>tsa_zanb.flat</string>
      <string>tsha_zanb.flat</string>
      <string>dza_zanb.flat</string>
      <string>dzha_zanb.flat</string>
      <string>la_zanb.head</string>
      <string>sa_zanb.head</string>
      <string>ka_zanb.short</string>
      <string>ga_zanb.short</string>
      <string>nga_zanb.short</string>
      <string>ca_zanb.short</string>
      <string>ja_zanb.short</string>
      <string>nya_zanb.short</string>
      <string>ta_zanb.short</string>
      <string>da_zanb.short</string>
      <string>na_zanb.short</string>
      <string>pa_zanb.short</string>
      <string>ba_zanb.short</string>
      <string>ma_zanb.short</string>
      <string>tsa_zanb.short</string>
      <string>dza_zanb.short</string>
      <string>ha_zanb.short</string>
      <string>initialHeadMark_zanb</string>
      <string>closingHeadMark_zanb</string>
      <string>tsheg_zanb</string>
      <string>longTsheg_zanb</string>
      <string>shad_zanb</string>
      <string>doubleShad_zanb</string>
      <string>initialDoubleHeadMark_zanb</string>
      <string>finalDoubleHeadMark_zanb</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
