<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>-3.552713678800501e-15</real>
      <key>public.kern2.quoteright</key>
      <real>3.552713678800501e-15</real>
      <key>public.kern2.quotesingle</key>
      <real>-3.552713678800501e-15</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>55.896564285714284</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>30.27344476190477</real>
      <key>public.kern2.parenright</key>
      <real>97.85387000000001</real>
      <key>public.kern2.quoteright</key>
      <real>52.09494214285715</real>
      <key>public.kern2.quotesingle</key>
      <real>53.385396428571426</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>75.71847714285715</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>48.82811642857142</real>
      <key>public.kern2.parenright</key>
      <real>126.16270714285717</real>
      <key>public.kern2.quoteright</key>
      <real>64.05785404761906</real>
      <key>public.kern2.quotesingle</key>
      <real>71.42858857142858</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <real>4.813062142857147</real>
      <key>eeMatra-tamil</key>
      <real>8.021759285714289</real>
      <key>public.kern2.T</key>
      <real>30.959377142857143</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>12.90454285714285</real>
      <key>public.kern2.parenright</key>
      <real>70.02187714285715</real>
      <key>public.kern2.quoteright</key>
      <real>27.680909285714293</real>
      <key>public.kern2.quotesingle</key>
      <real>27.762267380952384</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>49.37450857142858</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>28.3551719047619</real>
      <key>public.kern2.parenright</key>
      <real>87.54179571428571</real>
      <key>public.kern2.quoteright</key>
      <real>40.73660285714286</real>
      <key>public.kern2.quotesingle</key>
      <real>45.16601642857143</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>18.519809285714285</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>15.47387652380953</real>
      <key>public.kern2.parenright</key>
      <real>92.00613571428573</real>
      <key>public.kern2.quoteright</key>
      <real>34.37733714285714</real>
      <key>public.kern2.quotesingle</key>
      <real>46.189079285714286</real>
      <key>question</key>
      <real>27.018229999999996</real>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-1.7763568394002505e-15</real>
      <key>public.kern2.parenright</key>
      <real>30.57572857142857</real>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>73.4049</real>
      <key>bracketright</key>
      <real>65.59242</real>
      <key>eMatra-tamil</key>
      <real>15.869138333333334</real>
      <key>eeMatra-tamil</key>
      <real>17.415358333333334</real>
      <key>parenright</key>
      <real>64.37179666666667</real>
      <key>public.kern2.T</key>
      <real>20.263666428571433</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>9.347093428571432</real>
      <key>public.kern2.parenright</key>
      <real>29.471245714285722</real>
      <key>public.kern2.quoteright</key>
      <real>19.461492142857146</real>
      <key>public.kern2.quotesingle</key>
      <real>19.60100071428572</real>
      <key>question</key>
      <real>41.66666833333333</real>
      <key>quotedbl</key>
      <real>42.8874</real>
      <key>quotedblright</key>
      <real>31.41275</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>19.612648333333336</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>2.406522857142858</real>
      <key>public.kern2.parenright</key>
      <real>54.82699857142856</real>
      <key>public.kern2.quoteright</key>
      <real>4.638673571428573</real>
      <key>public.kern2.quotesingle</key>
      <real>7.184704999999998</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>46.64246571428572</real>
      <key>public.kern2.quoteright</key>
      <real>3.552713678800501e-15</real>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>2.9296860000000002</real>
      <key>luu-tamil</key>
      <real>-2.9296860000000002</real>
      <key>public.kern2.T</key>
      <real>-59.058790238095234</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-38.57422000000001</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-73.24220000000001</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-70.31252</real>
      <key>public.kern2.exclam</key>
      <real>-21.972630000000002</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-23.925749999999994</real>
      <key>public.kern2.nya-tamil</key>
      <real>-10.253910000000003</real>
      <key>public.kern2.o-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-141.60201</real>
      <key>public.kern2.quotesingle</key>
      <real>-141.60201</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.slash</key>
      <real>27.34375</real>
      <key>public.kern2.ya-tamil</key>
      <real>-8.789070000000002</real>
      <key>slash</key>
      <real>11.71875</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>13.671839999999998</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.648400000000002</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>61.22119785714285</real>
      <key>bracketright</key>
      <real>51.978685000000006</real>
      <key>parenright</key>
      <real>60.279515</real>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-19.531200000000002</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>3.552713678800501e-15</real>
      <key>public.kern2.quotesingle</key>
      <real>-3.552713678800501e-15</real>
      <key>public.kern2.u-tamil</key>
      <real>-29.2969</real>
      <key>question</key>
      <real>15.218091666666666</real>
      <key>quotedbl</key>
      <real>-3.552713678800501e-15</real>
      <key>quotedblright</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.a-tamil</key>
      <real>-22.460909999999995</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.277327</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-20.50779</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.765620000000002</real>
      <key>public.kern2.o-tamil</key>
      <real>-17.578110000000002</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-43.945299999999996</real>
      <key>public.kern2.rra-tamil</key>
      <real>-6.835934000000002</real>
      <key>public.kern2.slash</key>
      <real>-6.835934</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.296900000000004</real>
      <key>slash</key>
      <real>-2.9296860000000007</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-42.736225714285716</real>
      <key>public.kern2.T</key>
      <real>-59.08205</real>
      <key>public.kern2.a-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-39.55078</real>
      <key>public.kern2.exclam</key>
      <real>-33.69142</real>
      <key>public.kern2.i-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.71875</real>
      <key>public.kern2.quoteright</key>
      <real>-43.9453</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>quotedbl</key>
      <real>3.552713678800501e-15</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-41.50393</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-31.73827</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-37.597660000000005</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-16.113240000000005</real>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.exclam</key>
      <real>-25.878940000000004</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-1.8717438333333338</real>
      <key>public.kern2.quotesingle</key>
      <real>-4.278266690476192</real>
      <key>public.kern2.u-tamil</key>
      <real>-12.695294000000004</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>39.0625</real>
      <key>public.kern2.a-tamil</key>
      <real>-53.222649999999994</real>
      <key>public.kern2.e-tamil</key>
      <real>-27.343780000000002</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>12.207037</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.nya-tamil</key>
      <real>-25.39059</real>
      <key>public.kern2.o-tamil</key>
      <real>-22.460910000000002</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-43.9453</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>29.366639499999998</real>
      <key>public.kern2.rra-tamil</key>
      <real>-33.203109999999995</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.36719</real>
      <key>public.kern2.a-tamil</key>
      <real>-18.06636</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-9.765620000000002</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-5.8593600000000015</real>
      <key>public.kern2.quoteright</key>
      <real>-3.0924463333333323</real>
      <key>public.kern2.quotesingle</key>
      <real>-40.53895214285715</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.531200000000002</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>78.125</real>
      <key>public.kern2.a-tamil</key>
      <real>-111.81639999999999</real>
      <key>public.kern2.colon</key>
      <real>-2.220446049250313e-16</real>
      <key>public.kern2.e-tamil</key>
      <real>-8.881784197001252e-16</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>38.57422</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>38.57422</real>
      <key>public.kern2.exclam</key>
      <real>65.42965000000001</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.648400000000002</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>97.65620000000001</real>
      <key>public.kern2.u-tamil</key>
      <real>-42.48046000000001</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>42.968740000000004</real>
      <key>public.kern2.a-tamil</key>
      <real>-65.918</real>
      <key>public.kern2.e-tamil</key>
      <real>-24.90235</real>
      <key>public.kern2.exclam</key>
      <real>-3.552713678800501e-15</real>
      <key>public.kern2.ka-tamil</key>
      <real>-22.46091</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>-46.87498000000001</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-41.992180000000005</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-268.55499</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-58.512388333333334</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-36.13282</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-253.90601</real>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-70.40552571428572</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.531200000000002</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-45.898419999999994</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>2.220446049250313e-16</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-24.90235</real>
      <key>public.kern2.quotesingle</key>
      <real>4.440892098500626e-16</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.36719</real>
      <key>public.kern2.quotesingle</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-42.48046000000001</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.exclam</key>
      <real>-16.11324</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-14.648400000000002</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>2.220446049250313e-16</real>
      <key>public.kern2.rra-tamil</key>
      <real>-9.765619999999998</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-8.789070000000002</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-20.50783</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-29.78515</real>
      <key>public.kern2.quotesingle</key>
      <real>-39.0625</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-126.953</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-32.714859999999994</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-73.2422</real>
      <key>public.kern2.ai-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-39.55078</real>
      <key>public.kern2.nya-tamil</key>
      <real>-21.48439</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-34.1797</real>
      <key>public.kern2.u-tamil</key>
      <real>-39.0625</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-39.06249999999999</real>
      <key>public.kern2.exclam</key>
      <real>-17.089869999999998</real>
      <key>public.kern2.quoteright</key>
      <real>-31.25002</real>
      <key>public.kern2.quotesingle</key>
      <real>-45.898419999999994</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>66.27836428571428</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>50.292956428571436</real>
      <key>public.kern2.parenright</key>
      <real>123.59331904761906</real>
      <key>public.kern2.quoteright</key>
      <real>62.98828833333333</real>
      <key>public.kern2.quotesingle</key>
      <real>49.83956047619047</real>
      <key>question</key>
      <real>16.845692857142865</real>
      <key>quotedbl</key>
      <real>29.94791666666667</real>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>49.46754428571429</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>33.43565428571428</real>
      <key>public.kern2.parenright</key>
      <real>94.29636857142857</real>
      <key>public.kern2.quoteright</key>
      <real>43.78254</real>
      <key>public.kern2.quotesingle</key>
      <real>46.654107857142854</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>14.171800476190482</real>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>25.320892142857147</real>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-1.7763568394002505e-15</real>
      <key>public.kern2.parenright</key>
      <real>41.68991142857142</real>
      <key>public.kern2.quoteright</key>
      <real>-1.7763568394002505e-15</real>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
