<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.Ban-georgian</key>
    <array>
      <string>Ban-georgian</string>
      <string>Zen-georgian</string>
      <string>Rae-georgian</string>
      <string>Xan-georgian</string>
    </array>
    <key>public.kern1.Ban-oldgeorgian</key>
    <array>
      <string>Ban-oldgeorgian</string>
      <string>Gan-oldgeorgian</string>
    </array>
    <key>public.kern1.Chin-oldgeorgian</key>
    <array>
      <string>Chin-oldgeorgian</string>
    </array>
    <key>public.kern1.Cil-oldgeorgian</key>
    <array>
      <string>Cil-oldgeorgian</string>
      <string>Hoe-oldgeorgian</string>
    </array>
    <key>public.kern1.Don-oldgeorgian</key>
    <array>
      <string>Don-oldgeorgian</string>
      <string>Nar-oldgeorgian</string>
      <string>Hie-oldgeorgian</string>
    </array>
    <key>public.kern1.En-georgian</key>
    <array>
      <string>En-georgian</string>
      <string>Man-georgian</string>
      <string>Un-georgian</string>
      <string>Khar-georgian</string>
      <string>Qar-georgian</string>
      <string>Shin-georgian</string>
    </array>
    <key>public.kern1.En-oldgeorgian</key>
    <array>
      <string>En-oldgeorgian</string>
      <string>In-oldgeorgian</string>
      <string>Par-oldgeorgian</string>
      <string>Zhar-oldgeorgian</string>
      <string>Ghan-oldgeorgian</string>
      <string>Qar-oldgeorgian</string>
      <string>Shin-oldgeorgian</string>
      <string>Xan-oldgeorgian</string>
      <string>We-oldgeorgian</string>
    </array>
    <key>public.kern1.In-georgian</key>
    <array>
      <string>Tan-georgian</string>
      <string>In-georgian</string>
      <string>On-georgian</string>
      <string>Tar-georgian</string>
      <string>HardSign-georgian</string>
      <string>Labial-georgian</string>
    </array>
    <key>public.kern1.Las-georgian</key>
    <array>
      <string>Las-georgian</string>
      <string>Ghan-georgian</string>
    </array>
    <key>public.kern1.Vin-georgian</key>
    <array>
      <string>Vin-georgian</string>
      <string>Kan-georgian</string>
    </array>
    <key>public.kern1.Vin-oldgeorgian</key>
    <array>
      <string>Vin-oldgeorgian</string>
      <string>Tan-oldgeorgian</string>
    </array>
    <key>public.kern1.Zen-oldgeorgian</key>
    <array>
      <string>Zen-oldgeorgian</string>
      <string>Las-oldgeorgian</string>
      <string>Hae-oldgeorgian</string>
    </array>
    <key>public.kern1.an-georgian</key>
    <array>
      <string>an-georgian</string>
      <string>san-georgian</string>
    </array>
    <key>public.kern1.ban-georgian</key>
    <array>
      <string>ban-georgian</string>
      <string>don-georgian</string>
      <string>zen-georgian</string>
      <string>las-georgian</string>
      <string>nar-georgian</string>
      <string>ghan-georgian</string>
      <string>xan-georgian</string>
      <string>fi-georgian</string>
      <string>turnedgan-georgian</string>
      <string>aen-georgian</string>
      <string>hardsign-georgian</string>
      <string>labial-georgian</string>
    </array>
    <key>public.kern1.ban-oldgeorgian</key>
    <array>
      <string>gan-oldgeorgian</string>
    </array>
    <key>public.kern1.en-georgian</key>
    <array>
      <string>en-georgian</string>
      <string>un-georgian</string>
    </array>
    <key>public.kern1.en-oldgeorgian</key>
    <array>
      <string>en-oldgeorgian</string>
      <string>kan-oldgeorgian</string>
    </array>
    <key>public.kern1.ghan-oldgeorgian</key>
    <array>
      <string>an-oldgeorgian</string>
      <string>vin-oldgeorgian</string>
      <string>tan-oldgeorgian</string>
      <string>in-oldgeorgian</string>
      <string>las-oldgeorgian</string>
      <string>nar-oldgeorgian</string>
      <string>rae-oldgeorgian</string>
      <string>ghan-oldgeorgian</string>
      <string>chin-oldgeorgian</string>
      <string>can-oldgeorgian</string>
      <string>jil-oldgeorgian</string>
      <string>cil-oldgeorgian</string>
      <string>char-oldgeorgian</string>
      <string>hoe-oldgeorgian</string>
    </array>
    <key>public.kern1.hae-georgian</key>
    <array>
      <string>hae-georgian</string>
      <string>he-georgian</string>
    </array>
    <key>public.kern1.man-georgian</key>
    <array>
      <string>man-georgian</string>
      <string>shin-georgian</string>
      <string>jil-georgian</string>
    </array>
    <key>public.kern1.on-georgian</key>
    <array>
      <string>tan-georgian</string>
      <string>in-georgian</string>
      <string>on-georgian</string>
      <string>rae-georgian</string>
    </array>
    <key>public.kern1.on-oldgeorgian</key>
    <array>
      <string>on-oldgeorgian</string>
      <string>par-oldgeorgian</string>
      <string>zhar-oldgeorgian</string>
      <string>san-oldgeorgian</string>
      <string>qar-oldgeorgian</string>
      <string>shin-oldgeorgian</string>
      <string>xan-oldgeorgian</string>
      <string>hae-oldgeorgian</string>
      <string>har-oldgeorgian</string>
    </array>
    <key>public.kern1.phar-oldgeorgian</key>
    <array>
      <string>zen-oldgeorgian</string>
      <string>tar-oldgeorgian</string>
      <string>phar-oldgeorgian</string>
      <string>hie-oldgeorgian</string>
    </array>
    <key>public.kern1.un-oldgeorgian</key>
    <array>
      <string>un-oldgeorgian</string>
      <string>we-oldgeorgian</string>
    </array>
    <key>public.kern1.uni0535</key>
    <array>
      <string>period-arm</string>
    </array>
    <key>public.kern1.zhar-georgian</key>
    <array>
      <string>zhar-georgian</string>
      <string>qar-georgian</string>
    </array>
    <key>public.kern2.Ban-georgian</key>
    <array>
      <string>Ban-georgian</string>
      <string>Jil-georgian</string>
    </array>
    <key>public.kern2.Ban-oldgeorgian</key>
    <array>
      <string>Ban-oldgeorgian</string>
      <string>Qar-oldgeorgian</string>
      <string>Har-oldgeorgian</string>
    </array>
    <key>public.kern2.Don-georgian</key>
    <array>
      <string>Don-georgian</string>
      <string>Las-georgian</string>
      <string>Ghan-georgian</string>
    </array>
    <key>public.kern2.Don-oldgeorgian</key>
    <array>
      <string>An-oldgeorgian</string>
      <string>Don-oldgeorgian</string>
    </array>
    <key>public.kern2.Gan-oldgeorgian</key>
    <array>
      <string>Gan-oldgeorgian</string>
      <string>En-oldgeorgian</string>
      <string>Vin-oldgeorgian</string>
      <string>Las-oldgeorgian</string>
      <string>Hae-oldgeorgian</string>
    </array>
    <key>public.kern2.In-georgian</key>
    <array>
      <string>Tan-georgian</string>
      <string>In-georgian</string>
      <string>On-georgian</string>
      <string>Rae-georgian</string>
      <string>Tar-georgian</string>
      <string>HardSign-georgian</string>
      <string>Labial-georgian</string>
    </array>
    <key>public.kern2.Nar-georgian</key>
    <array>
      <string>Nar-georgian</string>
      <string>San-georgian</string>
      <string>Cil-georgian</string>
      <string>Xan-georgian</string>
      <string>Elifi-georgian</string>
    </array>
    <key>public.kern2.Rae-oldgeorgian</key>
    <array>
      <string>Rae-oldgeorgian</string>
    </array>
    <key>public.kern2.San-oldgeorgian</key>
    <array>
      <string>San-oldgeorgian</string>
      <string>Ghan-oldgeorgian</string>
      <string>Shin-oldgeorgian</string>
    </array>
    <key>public.kern2.Tan-oldgeorgian</key>
    <array>
      <string>Tan-oldgeorgian</string>
      <string>On-oldgeorgian</string>
      <string>Un-oldgeorgian</string>
      <string>Can-oldgeorgian</string>
    </array>
    <key>public.kern2.Tar-oldgeorgian</key>
    <array>
      <string>Nar-oldgeorgian</string>
      <string>Tar-oldgeorgian</string>
      <string>Chin-oldgeorgian</string>
      <string>Cil-oldgeorgian</string>
      <string>Xan-oldgeorgian</string>
      <string>He-oldgeorgian</string>
    </array>
    <key>public.kern2.Vin-georgian</key>
    <array>
      <string>En-georgian</string>
      <string>Vin-georgian</string>
    </array>
    <key>public.kern2.Zen-oldgeorgian</key>
    <array>
      <string>Zen-oldgeorgian</string>
      <string>In-oldgeorgian</string>
      <string>Par-oldgeorgian</string>
    </array>
    <key>public.kern2.an-georgian</key>
    <array>
      <string>an-georgian</string>
      <string>par-georgian</string>
    </array>
    <key>public.kern2.an-oldgeorgian</key>
    <array>
      <string>an-oldgeorgian</string>
      <string>in-oldgeorgian</string>
      <string>par-oldgeorgian</string>
      <string>zhar-oldgeorgian</string>
      <string>khar-oldgeorgian</string>
    </array>
    <key>public.kern2.ban-georgian</key>
    <array>
      <string>ban-georgian</string>
      <string>tan-georgian</string>
      <string>man-georgian</string>
      <string>phar-georgian</string>
      <string>jil-georgian</string>
      <string>fi-georgian</string>
      <string>turnedgan-georgian</string>
      <string>aen-georgian</string>
      <string>hardsign-georgian</string>
      <string>labial-georgian</string>
    </array>
    <key>public.kern2.cil-oldgeorgian</key>
    <array>
      <string>cil-oldgeorgian</string>
      <string>char-oldgeorgian</string>
    </array>
    <key>public.kern2.cil-oldgeorgiann</key>
    <array>
      <string>chin-oldgeorgian</string>
      <string>can-oldgeorgian</string>
      <string>xan-oldgeorgian</string>
      <string>he-oldgeorgian</string>
    </array>
    <key>public.kern2.don-georgian</key>
    <array>
      <string>don-georgian</string>
      <string>las-georgian</string>
      <string>ghan-georgian</string>
    </array>
    <key>public.kern2.en-georgian</key>
    <array>
      <string>en-georgian</string>
      <string>vin-georgian</string>
      <string>khar-georgian</string>
      <string>yn-georgian</string>
    </array>
    <key>public.kern2.ghan-oldgeorgian</key>
    <array>
      <string>gan-oldgeorgian</string>
      <string>en-oldgeorgian</string>
      <string>vin-oldgeorgian</string>
      <string>las-oldgeorgian</string>
      <string>nar-oldgeorgian</string>
      <string>tar-oldgeorgian</string>
      <string>ghan-oldgeorgian</string>
      <string>hae-oldgeorgian</string>
    </array>
    <key>public.kern2.nar-georgian</key>
    <array>
      <string>nar-georgian</string>
      <string>san-georgian</string>
      <string>cil-georgian</string>
      <string>xan-georgian</string>
    </array>
    <key>public.kern2.on-georgian</key>
    <array>
      <string>in-georgian</string>
      <string>on-georgian</string>
      <string>rae-georgian</string>
    </array>
    <key>public.kern2.on-oldgeorgian</key>
    <array>
      <string>ban-oldgeorgian</string>
      <string>tan-oldgeorgian</string>
      <string>kan-oldgeorgian</string>
      <string>on-oldgeorgian</string>
      <string>rae-oldgeorgian</string>
      <string>san-oldgeorgian</string>
      <string>un-oldgeorgian</string>
      <string>qar-oldgeorgian</string>
      <string>shin-oldgeorgian</string>
      <string>we-oldgeorgian</string>
      <string>har-oldgeorgian</string>
    </array>
    <key>public.kern2.phar-oldgeorgian</key>
    <array>
      <string>man-oldgeorgian</string>
      <string>phar-oldgeorgian</string>
      <string>jil-oldgeorgian</string>
      <string>hoe-oldgeorgian</string>
    </array>
  </dict>
</plist>
