<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>5.864996436781608</real>
      <key>public.kern2.quoteright</key>
      <real>17.59496528735632</real>
      <key>public.kern2.quotesingle</key>
      <real>19.940954252873567</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>46.1902808045977</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>14.850486206896552</real>
      <key>public.kern2.parenright</key>
      <real>69.48185873563219</real>
      <key>public.kern2.quoteright</key>
      <real>38.45635931034483</real>
      <key>public.kern2.quotesingle</key>
      <real>40.79112344827586</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>60.883626896551725</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>26.40087045977012</real>
      <key>public.kern2.parenright</key>
      <real>96.11853517241379</real>
      <key>public.kern2.quoteright</key>
      <real>56.186037816091954</real>
      <key>public.kern2.quotesingle</key>
      <real>59.27290206896552</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>55.798741954022994</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>27.803945977011495</real>
      <key>public.kern2.parenright</key>
      <real>82.68227999999999</real>
      <key>public.kern2.quoteright</key>
      <real>53.07681735632184</real>
      <key>public.kern2.quotesingle</key>
      <real>54.985038045977014</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>33.50619643678161</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>14.839222068965515</real>
      <key>public.kern2.parenright</key>
      <real>65.9011248275862</real>
      <key>public.kern2.quoteright</key>
      <real>23.37016701149425</real>
      <key>public.kern2.quotesingle</key>
      <real>30.099461264367818</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>21.11394</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>10.753418229885057</real>
      <key>public.kern2.parenright</key>
      <real>69.05532540229883</real>
      <key>public.kern2.quoteright</key>
      <real>20.900691034482758</real>
      <key>public.kern2.quotesingle</key>
      <real>39.51149310344828</real>
      <key>question</key>
      <real>10.001344137931035</real>
      <key>quotedblright</key>
      <real>0.5864996436781609</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>9.383979885057473</real>
      <key>public.kern2.parenright</key>
      <real>36.273130344827585</real>
      <key>public.kern2.quoteright</key>
      <real>8.21098540229885</real>
      <key>public.kern2.quotesingle</key>
      <real>8.21098540229885</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>23.892104942528736</real>
      <key>bracketright</key>
      <real>25.00336287356322</real>
      <key>eMatra-tamil</key>
      <real>3.333773793103448</real>
      <key>eeMatra-tamil</key>
      <real>4.44503172413793</real>
      <key>parenright</key>
      <real>24.139051149425285</real>
      <key>public.kern2.T</key>
      <real>33.270476321839084</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>7.357882344827586</real>
      <key>public.kern2.parenright</key>
      <real>47.2398135632184</real>
      <key>public.kern2.quoteright</key>
      <real>34.4434708045977</real>
      <key>public.kern2.quotesingle</key>
      <real>34.870014252873574</real>
      <key>question</key>
      <real>19.26185471264368</real>
      <key>quotedbl</key>
      <real>20.805277356321838</real>
      <key>quotedblright</key>
      <real>12.532556666666665</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>21.647143333333332</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>59.77237022988506</real>
      <key>public.kern2.quoteright</key>
      <real>25.166126781609194</real>
      <key>public.kern2.quotesingle</key>
      <real>26.64220551724138</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>11.421286091954023</real>
      <key>public.kern2.parenright</key>
      <real>37.7492191954023</real>
      <key>public.kern2.quoteright</key>
      <real>11.729968850574712</real>
      <key>public.kern2.quotesingle</key>
      <real>11.421286091954023</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>6.184892666666667</real>
      <key>luu-tamil</key>
      <real>-3.838898896551725</real>
      <key>public.kern2.T</key>
      <real>-62.67962333333333</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-31.35662273563218</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-53.36297850574712</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-55.08039103448276</real>
      <key>public.kern2.exclam</key>
      <real>-22.393577931034486</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-22.264489632183906</real>
      <key>public.kern2.nya-tamil</key>
      <real>-13.436157931034483</real>
      <key>public.kern2.o-tamil</key>
      <real>-25.22227367816092</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-102.21382068965517</real>
      <key>public.kern2.quotesingle</key>
      <real>-115.98110965517242</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-17.190885517241384</real>
      <key>public.kern2.slash</key>
      <real>14.322916666666666</real>
      <key>public.kern2.ya-tamil</key>
      <real>-18.554703333333336</real>
      <key>slash</key>
      <real>24.739583333333336</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>7.161439999999999</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-13.475410321839082</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>55.92783632183908</real>
      <key>bracketright</key>
      <real>66.05268390804598</real>
      <key>parenright</key>
      <real>72.04681264367815</real>
      <key>public.kern2.a-tamil</key>
      <real>-30.78417852873563</real>
      <key>public.kern2.ka-tamil</key>
      <real>-13.481020712643677</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>17.59496528735632</real>
      <key>public.kern2.quotesingle</key>
      <real>19.940954252873567</real>
      <key>public.kern2.u-tamil</key>
      <real>-22.25890908045977</real>
      <key>question</key>
      <real>29.757102643678163</real>
      <key>quotedbl</key>
      <real>6.791034597701147</real>
      <key>quotedblright</key>
      <real>4.074626321839081</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.a-tamil</key>
      <real>-45.03972195402298</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-16.876544459770113</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-33.43883862068965</real>
      <key>public.kern2.nya-tamil</key>
      <real>-19.52002551724138</real>
      <key>public.kern2.o-tamil</key>
      <real>-23.549765517241383</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-46.291288965517246</real>
      <key>public.kern2.rra-tamil</key>
      <real>-5.618044666666667</real>
      <key>public.kern2.slash</key>
      <real>-3.580727333333333</real>
      <key>public.kern2.u-tamil</key>
      <real>-24.588022758620692</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-41.58251172413793</real>
      <key>slash</key>
      <real>-8.530876827586209</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-37.2833408045977</real>
      <key>public.kern2.T</key>
      <real>-45.4326124137931</real>
      <key>public.kern2.a-tamil</key>
      <real>33.629669540229884</real>
      <key>public.kern2.ai-tamil</key>
      <real>-16.81479172413793</real>
      <key>public.kern2.e-tamil</key>
      <real>-8.40741308045977</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-15.15357931034483</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-31.27245574712644</real>
      <key>public.kern2.exclam</key>
      <real>-23.94261931034483</real>
      <key>public.kern2.i-tamil</key>
      <real>-13.969300712643678</real>
      <key>public.kern2.ka-tamil</key>
      <real>-17.701597218390805</real>
      <key>public.kern2.quoteright</key>
      <real>-36.228207011494256</real>
      <key>public.kern2.quotesingle</key>
      <real>-64.59905494252872</real>
      <key>quotedbl</key>
      <real>-5.864996436781608</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-41.24576827586207</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-22.427246988505747</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-34.79706551724138</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-12.369762781609193</real>
      <key>public.kern2.a-tamil</key>
      <real>-22.376782666666667</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.exclam</key>
      <real>-17.073024827586206</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-11.258509402298849</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>40.05028482758621</real>
      <key>public.kern2.a-tamil</key>
      <real>-36.06547241379311</real>
      <key>public.kern2.e-tamil</key>
      <real>-18.992470344827588</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>21.877212988505747</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>20.345067</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-20.221588965517242</real>
      <key>public.kern2.nya-tamil</key>
      <real>-19.80063517241379</real>
      <key>public.kern2.o-tamil</key>
      <real>-15.961744137931035</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-40.42631655172414</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-19.284276551724137</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.678520114942526</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-16.382658620689654</real>
      <key>public.kern2.a-tamil</key>
      <real>-10.203368275862069</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-7.419626229885057</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-13.290197252873563</real>
      <key>public.kern2.ka-tamil</key>
      <real>-7.6777820689655165</real>
      <key>public.kern2.quoteright</key>
      <real>-2.222520413793103</real>
      <key>public.kern2.quotesingle</key>
      <real>-14.345352413793101</real>
      <key>public.kern2.u-tamil</key>
      <real>-13.481020712643677</real>
      <key>question</key>
      <real>4.074626321839081</real>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>87.01515954022989</real>
      <key>public.kern2.a-tamil</key>
      <real>-101.07973931034483</real>
      <key>public.kern2.colon</key>
      <real>15.989804827586207</real>
      <key>public.kern2.e-tamil</key>
      <real>-2.037306206896552</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>45.30911655172414</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>45.30911655172414</real>
      <key>public.kern2.exclam</key>
      <real>89.37786689655172</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-16.006618045977014</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>102.34832206896552</real>
      <key>public.kern2.u-tamil</key>
      <real>-27.39425379310345</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>46.027543448275864</real>
      <key>public.kern2.a-tamil</key>
      <real>-63.4372991954023</real>
      <key>public.kern2.e-tamil</key>
      <real>-12.425906896551725</real>
      <key>public.kern2.exclam</key>
      <real>5.864996436781608</real>
      <key>public.kern2.ka-tamil</key>
      <real>-18.678152413793104</real>
      <key>public.kern2.parenright</key>
      <real>17.53323252873563</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>-31.115284137931035</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-28.084580689655176</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-22.068087011494253</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-256.3310707011494</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-64.2791524137931</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-36.89610827586206</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-32.87762</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-245.7567281494253</real>
      <key>public.kern2.e-tamil</key>
      <real>-22.068087011494253</real>
      <key>public.kern2.ka-tamil</key>
      <real>-73.50037103448275</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-22.068087011494253</real>
      <key>public.kern2.om-tamil</key>
      <real>-22.068087011494253</real>
      <key>public.kern2.u-tamil</key>
      <real>-20.88941804597701</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-44.98920896551724</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-31.46327781609195</real>
      <key>public.kern2.ka-tamil</key>
      <real>-22.25890908045977</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>15.495912413793103</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-4.44503172413793</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-9.709498620689654</real>
      <key>public.kern2.parenright</key>
      <real>17.53323252873563</real>
      <key>public.kern2.quoteright</key>
      <real>14.816810344827587</real>
      <key>public.kern2.quotesingle</key>
      <real>19.87922149425287</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-19.407754459770118</real>
      <key>public.kern2.quotesingle</key>
      <real>-14.839222068965515</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-21.697679206896552</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-32.27145528735632</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.exclam</key>
      <real>-11.011555862068965</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-62.112783448275856</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-16.994412988505747</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.11160416091954</real>
      <key>public.kern2.nya-tamil</key>
      <real>-4.877190367816092</real>
      <key>public.kern2.rra-tamil</key>
      <real>-14.457617149425285</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-20.59200954022989</real>
      <key>public.kern2.a-tamil</key>
      <real>45.432589655172414</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-10.742196666666667</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-27.61872494252873</real>
      <key>public.kern2.quotesingle</key>
      <real>-41.778922183908044</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-116.76645505747126</real>
      <key>public.kern2.ka-tamil</key>
      <real>-10.444719287356323</real>
      <key>public.kern2.period</key>
      <real>-24.17273105747126</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-21.21498620689655</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-65.09294735632184</real>
      <key>public.kern2.ai-tamil</key>
      <real>-16.81479172413793</real>
      <key>public.kern2.e-tamil</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.ka-tamil</key>
      <real>-25.22225724137931</real>
      <key>public.kern2.nya-tamil</key>
      <real>-11.314648965517243</real>
      <key>public.kern2.o-tamil</key>
      <real>-16.81479172413793</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-27.26517105747126</real>
      <key>public.kern2.u-tamil</key>
      <real>-31.468893011494252</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-29.987207678160917</real>
      <key>public.kern2.exclam</key>
      <real>-5.556312413793103</real>
      <key>public.kern2.quoteright</key>
      <real>-27.99482</real>
      <key>public.kern2.quotesingle</key>
      <real>-44.98920896551724</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>81.58785931034481</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>38.877290344827585</real>
      <key>public.kern2.parenright</key>
      <real>109.95881379310346</real>
      <key>public.kern2.quoteright</key>
      <real>67.91607873563218</real>
      <key>public.kern2.quotesingle</key>
      <real>87.3854827586207</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>46.06121931034483</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>22.82013655172414</real>
      <key>public.kern2.parenright</key>
      <real>71.4630408045977</real>
      <key>public.kern2.quoteright</key>
      <real>40.99315643678161</real>
      <key>public.kern2.quotesingle</key>
      <real>40.18498275862069</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>10.742196666666667</real>
      <key>public.kern2.quotesingle</key>
      <real>2.7164082758620687</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>9.383979885057473</real>
      <key>public.kern2.parenright</key>
      <real>53.2058067816092</real>
      <key>public.kern2.quoteright</key>
      <real>9.383979885057473</real>
      <key>public.kern2.quotesingle</key>
      <real>12.779504137931035</real>
    </dict>
  </dict>
</plist>
