<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>35.79310344827586</real>
      <key>public.kern2.parenright</key>
      <real>60.59770114942528</real>
      <key>public.kern2.question</key>
      <real>55.41379310344828</real>
      <key>public.kern2.quoteright</key>
      <real>42.86206896551724</real>
      <key>public.kern2.quotesingle</key>
      <real>44.126436781609186</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>52.862068965517246</real>
      <key>public.kern2.parenright</key>
      <real>94.01149425287356</real>
      <key>public.kern2.question</key>
      <real>71.79310344827586</real>
      <key>public.kern2.quoteright</key>
      <real>72.66666666666667</real>
      <key>public.kern2.quotesingle</key>
      <real>79.80459770114943</real>
    </dict>
    <key>kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-17.666666666666668</real>
      <key>public.kern2.question</key>
      <real>-3.7241379310344875</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>93.18272</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>80.88505747126436</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>63.4766</real>
    </dict>
    <key>nyii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <real>-50.0344827586207</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.770114942528735</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>ha-tamil</key>
      <real>-50.264367816091955</real>
      <key>lluu-tamil</key>
      <real>-50.79310344827586</real>
      <key>lu-tamil</key>
      <real>-32.93103448275862</real>
      <key>luu-tamil</key>
      <real>-32.93103448275862</real>
      <key>nnnu-tamil</key>
      <real>-32.93103448275862</real>
      <key>nnnuu-tamil</key>
      <real>-32.93103448275862</real>
      <key>nnu-tamil</key>
      <real>-32.93103448275862</real>
      <key>nnuu-tamil</key>
      <real>-32.93103448275862</real>
      <key>public.kern2.colon</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-65.98850574712644</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-121.61609195402298</real>
      <key>public.kern2.exclam</key>
      <real>-49.116827609195404</real>
      <key>public.kern2.hyphen</key>
      <real>-38.91811310344827</real>
      <key>public.kern2.ka-tamil</key>
      <real>-43.93103448275862</real>
      <key>public.kern2.nya-tamil</key>
      <real>-35.06896551724138</real>
      <key>public.kern2.o-tamil</key>
      <integer>-49</integer>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.period</key>
      <integer>1</integer>
      <key>public.kern2.question</key>
      <real>-77.60344827586206</real>
      <key>public.kern2.quoteright</key>
      <real>-50.43678160919541</real>
      <key>public.kern2.quotesingle</key>
      <real>-78.38467655172413</real>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.visarga-tamil</key>
      <real>-37.47126436781609</real>
      <key>public.kern2.ya-tamil</key>
      <real>-61.919540229885044</real>
      <key>ta-tamil</key>
      <real>-16.068965517241377</real>
      <key>tu-tamil</key>
      <integer>10</integer>
      <key>tuu-tamil</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>11.965517241379311</real>
      <key>public.kern2.ka-tamil</key>
      <real>-17.09770114942529</real>
      <key>public.kern2.quotesingle</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.ya-tamil</key>
      <real>-12.666666666666668</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-44.00574712643678</real>
      <key>public.kern2.exclam</key>
      <real>-16.59770114942529</real>
      <key>public.kern2.ka-tamil</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.period</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.cu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>12.137931034482758</real>
    </dict>
    <key>public.kern1.cuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-35.333333333333336</real>
      <key>public.kern2.o-tamil</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.question</key>
      <real>-66.33333333333333</real>
      <key>public.kern2.quoteright</key>
      <real>-64.72413793103449</real>
      <key>public.kern2.quotesingle</key>
      <real>-64.72413793103449</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-4.551724137931034</real>
      <key>public.kern2.ya-tamil</key>
      <real>-36.59770114942528</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-54</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-19.5</real>
      <key>public.kern2.o-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.u-tamil</key>
      <real>-35.37291666666667</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-32.40229885057472</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ai-tamil</key>
      <integer>10</integer>
      <key>public.kern2.e-tamil</key>
      <real>31.833333333333332</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>30</integer>
      <key>public.kern2.ka-tamil</key>
      <real>14.666666666666666</real>
      <key>public.kern2.nya-tamil</key>
      <integer>30</integer>
      <key>public.kern2.o-tamil</key>
      <integer>20</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.rupee-tamil</key>
      <real>23.666666666666668</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>10</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.5</real>
      <key>public.kern2.e-tamil</key>
      <real>-11.46551724137931</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-38.43103448275862</real>
      <key>public.kern2.exclam</key>
      <real>-22.93103448275862</real>
      <key>public.kern2.i-tamil</key>
      <real>-11.110653333333333</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.862068965517244</real>
      <key>public.kern2.o-tamil</key>
      <real>-8.298850574712645</real>
      <key>public.kern2.om-tamil</key>
      <real>-16.333333333333332</real>
      <key>public.kern2.question</key>
      <real>-52.186206896551724</real>
      <key>public.kern2.quoteright</key>
      <real>-55.72413793103449</real>
      <key>public.kern2.quotesingle</key>
      <real>-74.19540229885057</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-16.59770114942529</real>
      <key>public.kern2.slash</key>
      <integer>20</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-22.166666666666668</real>
    </dict>
    <key>public.kern1.kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-37.689655172413794</real>
      <key>public.kern2.parenright</key>
      <real>4.804597701149425</real>
      <key>public.kern2.question</key>
      <real>-33.94252873563219</real>
      <key>public.kern2.quoteright</key>
      <real>-37.01149425287357</real>
      <key>public.kern2.quotesingle</key>
      <real>-45.60919540229885</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.ya-tamil</key>
      <real>-34.05747126436782</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-2.4022988505747125</real>
      <key>public.kern2.e-tamil</key>
      <integer>10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-7.892238344827586</real>
      <key>public.kern2.question</key>
      <real>-17.218390804597703</real>
      <key>public.kern2.quoteright</key>
      <real>-26.71264367816092</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.735632183908045</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-16.59770114942529</real>
      <key>public.kern2.ai-tamil</key>
      <real>-3.6666666666666665</real>
      <key>public.kern2.e-tamil</key>
      <real>-8.74712643678161</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>28.73563218390805</real>
      <key>public.kern2.hyphen</key>
      <real>18.666666666666668</real>
      <key>public.kern2.i-tamil</key>
      <real>4.551724137931034</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.913793103448278</real>
      <key>public.kern2.nya-tamil</key>
      <real>-2.275862068965517</real>
      <key>public.kern2.o-tamil</key>
      <real>-10.264367816091955</real>
      <key>public.kern2.parenright</key>
      <integer>49</integer>
      <key>public.kern2.period</key>
      <real>-7.597701149425288</real>
      <key>public.kern2.question</key>
      <integer>40</integer>
      <key>public.kern2.quoteright</key>
      <real>41.44827586206896</real>
      <key>public.kern2.quotesingle</key>
      <real>43.7816091954023</real>
      <key>public.kern2.rra-tamil</key>
      <real>-16.333333333333332</real>
      <key>public.kern2.rupee-tamil</key>
      <real>22.666666666666668</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-2.275862068965517</real>
      <key>public.kern2.ya-tamil</key>
      <real>-2.275862068965517</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.ai-tamil</key>
      <real>-10.264367816091955</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-22.580727333333332</real>
      <key>public.kern2.exclam</key>
      <real>-20.52873563218391</real>
      <key>public.kern2.question</key>
      <real>-36.333333333333336</real>
      <key>public.kern2.quoteright</key>
      <real>-23.666666666666668</real>
      <key>public.kern2.quotesingle</key>
      <real>-68.62068965517241</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.mii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>30.959770114942526</real>
      <key>public.kern2.parenright</key>
      <real>69.01149425287356</real>
      <key>public.kern2.question</key>
      <real>55.08045977011494</real>
      <key>public.kern2.quoteright</key>
      <real>51.137931034482754</real>
      <key>public.kern2.quotesingle</key>
      <real>56.333333333333336</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.colon</key>
      <real>43.9453</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>75.13333333333333</real>
      <key>public.kern2.exclam</key>
      <real>112.13793103448276</real>
      <key>public.kern2.i-tamil</key>
      <real>95.6896551724138</real>
      <key>public.kern2.ka-tamil</key>
      <real>-5.37108</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <real>112.66666666666667</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
      <key>public.kern2.rupee-tamil</key>
      <real>66.33333333333333</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-51.776073333333336</real>
      <key>public.kern2.ai-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <real>-3.931034482758621</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>65</integer>
      <key>public.kern2.i-tamil</key>
      <integer>38</integer>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.question</key>
      <real>55.333333333333336</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>31.609195402298848</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-24.195402298850574</real>
      <key>public.kern2.hyphen</key>
      <real>12.666666666666668</real>
      <key>public.kern2.period</key>
      <real>-3.6666666666666665</real>
      <key>public.kern2.question</key>
      <real>-31.52873563218391</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-26.333333333333332</real>
    </dict>
    <key>public.kern1.pii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>20.873563218390807</real>
      <key>public.kern2.i-tamil</key>
      <real>17.47126436781609</real>
      <key>public.kern2.parenright</key>
      <real>31.747126436781613</real>
      <key>public.kern2.question</key>
      <real>27.20689655172414</real>
      <key>public.kern2.quoteright</key>
      <real>22.379310344827584</real>
      <key>public.kern2.quotesingle</key>
      <real>20.988505747126432</real>
      <key>public.kern2.rupee-tamil</key>
      <real>32.666666666666664</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-118.86206896551725</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-30.40229885057471</real>
      <key>public.kern2.nya-tamil</key>
      <real>-29.572162873563215</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-107.73563218390805</real>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-118</integer>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.o-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.om-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.rii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>78.97701149425288</real>
      <key>public.kern2.parenright</key>
      <real>87.26896551724138</real>
      <key>public.kern2.question</key>
      <integer>100</integer>
      <key>public.kern2.quoteright</key>
      <real>84.8183908045977</real>
      <key>public.kern2.quotesingle</key>
      <real>78.2551724137931</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-11.833333333333334</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-2.666666666666667</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-5.057471264367816</real>
      <key>public.kern2.hyphen</key>
      <real>23.431034482758623</real>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-36.59770114942528</real>
      <key>public.kern2.quotesingle</key>
      <real>-22.93103448275862</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <real>-34.05747126436782</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-54.94252873563218</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-3.931034482758621</real>
      <key>public.kern2.o-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-14.6484</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>public.kern2.u-tamil</key>
      <real>21.647143333333332</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-33.166666666666664</real>
      <key>public.kern2.nya-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.o-tamil</key>
      <real>-28.73563218390805</real>
      <key>public.kern2.rra-tamil</key>
      <real>-26.953467586206898</real>
      <key>public.kern2.visarga-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-16.333333333333332</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>14.942528735632184</real>
      <key>public.kern2.e-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-56.333333333333336</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-2.7816091954022992</real>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <real>-33.781053793103446</real>
      <key>public.kern2.quoteright</key>
      <integer>-59</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-99</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-25.448275862068968</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-51.05747126436782</real>
      <key>public.kern2.e-tamil</key>
      <real>32.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <integer>60</integer>
      <key>public.kern2.i-tamil</key>
      <real>18.166666666666668</real>
      <key>public.kern2.ka-tamil</key>
      <integer>5</integer>
      <key>public.kern2.nya-tamil</key>
      <real>12.666666666666668</real>
      <key>public.kern2.o-tamil</key>
      <integer>19</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <real>-14.6484</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-29.99425287356322</real>
      <key>public.kern2.e-tamil</key>
      <real>8.206896551724139</real>
      <key>public.kern2.hyphen</key>
      <integer>50</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-28.564384574712648</real>
      <key>public.kern2.o-tamil</key>
      <real>-3.931034482758621</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <real>-4.551724137931034</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.12893</real>
    </dict>
    <key>public.kern1.vii-tamil</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>125.44827586206897</real>
    </dict>
    <key>tii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-33.94252873563219</real>
    </dict>
    <key>ttii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-31.79310344827586</real>
    </dict>
  </dict>
</plist>
