<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1300</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>AA_indi</string>
      <string>AA_vwl</string>
      <string>AA_vwl.alt</string>
      <string>AA_vwl.alt2</string>
      <string>AI_indi</string>
      <string>AI_vwl</string>
      <string>AI_vwl.alt</string>
      <string>AU_indi</string>
      <string>AU_vwl</string>
      <string>AU_vwl.alt</string>
      <string>A_indi</string>
      <string>Anusvara</string>
      <string>Anusvara.alt</string>
      <string>Anusvara.alt.reph</string>
      <string>Anusvara.reph</string>
      <string>Arrowhead</string>
      <string>Avagraha</string>
      <string>Ba</string>
      <string>Ba.above</string>
      <string>Ba.blw</string>
      <string>Bai</string>
      <string>Bau</string>
      <string>Bbha</string>
      <string>Bda</string>
      <string>Bde</string>
      <string>Bdha</string>
      <string>Bdhai</string>
      <string>Bdhau</string>
      <string>Bdhe</string>
      <string>Bdhi</string>
      <string>Bdhii</string>
      <string>Bdho</string>
      <string>Bdo</string>
      <string>Be</string>
      <string>Bha</string>
      <string>Bhai</string>
      <string>Bhau</string>
      <string>Bhe</string>
      <string>Bhi</string>
      <string>Bhii</string>
      <string>Bhna</string>
      <string>Bho</string>
      <string>Bhra</string>
      <string>Bhrr</string>
      <string>Bhruu</string>
      <string>Bhu</string>
      <string>Bhuu</string>
      <string>Bhya</string>
      <string>Bi</string>
      <string>Bii</string>
      <string>Blu</string>
      <string>Bnni</string>
      <string>Bo</string>
      <string>Bru</string>
      <string>CR</string>
      <string>Ca</string>
      <string>Cai</string>
      <string>Candrabindu</string>
      <string>Candrabindu.alt</string>
      <string>Candrabindu.alt.reph</string>
      <string>Candrabindu.reph</string>
      <string>Cau</string>
      <string>Cca</string>
      <string>Ccai</string>
      <string>Ccau</string>
      <string>Cce</string>
      <string>Cch</string>
      <string>Ccha</string>
      <string>Cche</string>
      <string>Cchvo</string>
      <string>Cci</string>
      <string>Ccii</string>
      <string>Cco</string>
      <string>Ce</string>
      <string>Cha</string>
      <string>Chai</string>
      <string>Chau</string>
      <string>Che</string>
      <string>Chi_bhks</string>
      <string>Chii</string>
      <string>Cho</string>
      <string>Ci</string>
      <string>Cii</string>
      <string>Co</string>
      <string>Ctva</string>
      <string>Da</string>
      <string>Da.above</string>
      <string>Dada</string>
      <string>Dadai</string>
      <string>Dadau</string>
      <string>Dade</string>
      <string>Dadha</string>
      <string>Dadhai</string>
      <string>Dadhau</string>
      <string>Dadhe</string>
      <string>Dadhi</string>
      <string>Dadhii</string>
      <string>Dadho</string>
      <string>Dadi</string>
      <string>Dadii</string>
      <string>Dado</string>
      <string>Dai</string>
      <string>Danda</string>
      <string>Dau</string>
      <string>Dbha</string>
      <string>Dbhya</string>
      <string>DblDanda</string>
      <string>Dbu</string>
      <string>Dda</string>
      <string>Ddai</string>
      <string>Ddau</string>
      <string>Ddddhau</string>
      <string>Dde</string>
      <string>Ddha</string>
      <string>Ddhai</string>
      <string>Ddhau</string>
      <string>Ddhe</string>
      <string>Ddhi</string>
      <string>Ddhii</string>
      <string>Ddho</string>
      <string>Ddhra</string>
      <string>Ddi</string>
      <string>Ddii</string>
      <string>Ddo</string>
      <string>Ddr</string>
      <string>Ddve</string>
      <string>De</string>
      <string>Dga</string>
      <string>Dgau</string>
      <string>Dgha</string>
      <string>Dgho</string>
      <string>Dgo</string>
      <string>Dgu</string>
      <string>Dha</string>
      <string>Dha.above</string>
      <string>Dhau</string>
      <string>Dhi</string>
      <string>Dhii</string>
      <string>Dhma</string>
      <string>Dhmo</string>
      <string>Dho</string>
      <string>Dhva</string>
      <string>Di</string>
      <string>Dii</string>
      <string>Dll</string>
      <string>Do</string>
      <string>Dra</string>
      <string>Drr</string>
      <string>Dru</string>
      <string>Dva</string>
      <string>Dvau</string>
      <string>Dve</string>
      <string>Dvi</string>
      <string>Dvru</string>
      <string>Dvya</string>
      <string>E_indi</string>
      <string>E_vwl</string>
      <string>E_vwl.alt</string>
      <string>E_vwl.alt2</string>
      <string>EightHundred</string>
      <string>FiveHundred</string>
      <string>FourHundred</string>
      <string>Ga</string>
      <string>GapFiller_1</string>
      <string>GapFiller_2</string>
      <string>Gau</string>
      <string>Gdha</string>
      <string>Gga</string>
      <string>Ggra</string>
      <string>Ggraa</string>
      <string>Ggrai</string>
      <string>Ggrau</string>
      <string>Ggre</string>
      <string>Ggri</string>
      <string>Ggrii</string>
      <string>Ggro</string>
      <string>Gha</string>
      <string>Ghai</string>
      <string>Ghau</string>
      <string>Ghe</string>
      <string>Ghi</string>
      <string>Ghii</string>
      <string>Gho</string>
      <string>Ghra</string>
      <string>Ghvo</string>
      <string>Gi</string>
      <string>Gii</string>
      <string>Gja</string>
      <string>Gla</string>
      <string>Glo</string>
      <string>Gma</string>
      <string>Gna</string>
      <string>Gnaa</string>
      <string>Gnai</string>
      <string>Gnau</string>
      <string>Gne</string>
      <string>Gni</string>
      <string>Gnii</string>
      <string>Gno</string>
      <string>Go</string>
      <string>Grr</string>
      <string>Grrr</string>
      <string>Gu</string>
      <string>Guu</string>
      <string>Gva</string>
      <string>Gvi</string>
      <string>Ha</string>
      <string>Hai</string>
      <string>Hau</string>
      <string>He</string>
      <string>Hi</string>
      <string>Hii</string>
      <string>Hla</string>
      <string>Hma</string>
      <string>Hmai</string>
      <string>Hmau</string>
      <string>Hme</string>
      <string>Hmi</string>
      <string>Hmii</string>
      <string>Hmo</string>
      <string>Hna</string>
      <string>Hnai</string>
      <string>Hnau</string>
      <string>Hne</string>
      <string>Hni</string>
      <string>Hnii</string>
      <string>Hno</string>
      <string>Ho</string>
      <string>Hra</string>
      <string>Hrii</string>
      <string>Hrr</string>
      <string>Hva</string>
      <string>II_indi</string>
      <string>II_vwl</string>
      <string>I_indi</string>
      <string>I_vwl</string>
      <string>Ja</string>
      <string>Jai</string>
      <string>Jau</string>
      <string>Jbha</string>
      <string>Jbhya</string>
      <string>Je</string>
      <string>Jggra</string>
      <string>Jha</string>
      <string>Jhai</string>
      <string>Jhau</string>
      <string>Jhe</string>
      <string>Jhi</string>
      <string>Jhii</string>
      <string>Jho</string>
      <string>Ji</string>
      <string>Jii</string>
      <string>Jjha</string>
      <string>Jji</string>
      <string>Jnya</string>
      <string>Jnyai</string>
      <string>Jnyau</string>
      <string>Jnye</string>
      <string>Jnyi</string>
      <string>Jnyii</string>
      <string>Jnyo</string>
      <string>Jo</string>
      <string>Jri</string>
      <string>Jrr</string>
      <string>Ju</string>
      <string>Juu</string>
      <string>Jva</string>
      <string>Jvi</string>
      <string>Jya</string>
      <string>Ka</string>
      <string>Kai</string>
      <string>Kau</string>
      <string>Ke</string>
      <string>Kha</string>
      <string>Khaa</string>
      <string>Khai</string>
      <string>Khau</string>
      <string>Khe</string>
      <string>Kho</string>
      <string>Ki</string>
      <string>Kii</string>
      <string>Kle</string>
      <string>Kngi</string>
      <string>Knna</string>
      <string>Ko</string>
      <string>Kra</string>
      <string>Krai</string>
      <string>Krau</string>
      <string>Kre</string>
      <string>Kri</string>
      <string>Krii</string>
      <string>Kro</string>
      <string>Krr</string>
      <string>Krrr</string>
      <string>Ksa</string>
      <string>Ksai</string>
      <string>Ksau</string>
      <string>Kse</string>
      <string>Ksi</string>
      <string>Ksii</string>
      <string>Kso</string>
      <string>Kssa</string>
      <string>Kssai</string>
      <string>Kssau</string>
      <string>Ksse</string>
      <string>Kssi</string>
      <string>Kssii</string>
      <string>Kssmi</string>
      <string>Kssnna</string>
      <string>Kssnnya</string>
      <string>Ksso</string>
      <string>Kssye</string>
      <string>Kta</string>
      <string>Ktai</string>
      <string>Ktau</string>
      <string>Kte</string>
      <string>Kti</string>
      <string>Ktii</string>
      <string>Kto</string>
      <string>Ktu</string>
      <string>Ktya</string>
      <string>Ktyaa</string>
      <string>Ku</string>
      <string>Kuu</string>
      <string>Kva</string>
      <string>Kya</string>
      <string>Kyai</string>
      <string>Kyau</string>
      <string>Kye</string>
      <string>Kyi</string>
      <string>Kyii</string>
      <string>Kyo</string>
      <string>La</string>
      <string>Lai</string>
      <string>Lau</string>
      <string>Le</string>
      <string>Li</string>
      <string>Lii</string>
      <string>Lka</string>
      <string>Lli</string>
      <string>Llo</string>
      <string>Lo</string>
      <string>Lpa</string>
      <string>Lpi</string>
      <string>Lpo</string>
      <string>Lva</string>
      <string>Lvi</string>
      <string>Ma</string>
      <string>Ma.above</string>
      <string>Ma_virama</string>
      <string>Mai</string>
      <string>Mau</string>
      <string>Mba</string>
      <string>Mbha</string>
      <string>Mbhe</string>
      <string>Me</string>
      <string>Mi</string>
      <string>Mii</string>
      <string>Mle</string>
      <string>Mma</string>
      <string>Mna</string>
      <string>Mni</string>
      <string>Mo</string>
      <string>Mpa</string>
      <string>Mrr</string>
      <string>Mva</string>
      <string>Mvi</string>
      <string>Mvrr</string>
      <string>Mya</string>
      <string>NULL</string>
      <string>Na</string>
      <string>Na_U</string>
      <string>Na_UU</string>
      <string>Na_virama</string>
      <string>Na_ya</string>
      <string>Nai</string>
      <string>Nana</string>
      <string>Nanai</string>
      <string>Nanau</string>
      <string>Nane</string>
      <string>Nani</string>
      <string>Nanii</string>
      <string>Nano</string>
      <string>Nau</string>
      <string>Nda</string>
      <string>Ndha</string>
      <string>Ndhai</string>
      <string>Ndhau</string>
      <string>Ndhe</string>
      <string>Ndhi</string>
      <string>Ndhii</string>
      <string>Ndho</string>
      <string>Ndra</string>
      <string>Ndre</string>
      <string>Ndri</string>
      <string>Ndyau</string>
      <string>Ndyo</string>
      <string>Ne</string>
      <string>Nga</string>
      <string>Ngau</string>
      <string>Ngga</string>
      <string>Nggai</string>
      <string>Nggau</string>
      <string>Ngge</string>
      <string>Ngggra</string>
      <string>Nggi</string>
      <string>Nggii</string>
      <string>Nggo</string>
      <string>Ngi</string>
      <string>Ngii</string>
      <string>Ngjii</string>
      <string>Ngka</string>
      <string>Ngki</string>
      <string>Ngli</string>
      <string>Nglu</string>
      <string>Ngma</string>
      <string>Ngni</string>
      <string>Ngo</string>
      <string>Ngsha</string>
      <string>Ngshai</string>
      <string>Ngshau</string>
      <string>Ngshe</string>
      <string>Ngshi</string>
      <string>Ngshii</string>
      <string>Ngsho</string>
      <string>Ngsi</string>
      <string>Ngsya</string>
      <string>Ngva</string>
      <string>Ngya</string>
      <string>Ngye</string>
      <string>Nha</string>
      <string>Ni</string>
      <string>Nii</string>
      <string>NineHundred</string>
      <string>Nma</string>
      <string>Nmo</string>
      <string>Nna</string>
      <string>Nnau</string>
      <string>Nndda</string>
      <string>Nnddai</string>
      <string>Nnddau</string>
      <string>Nndde</string>
      <string>Nnddi</string>
      <string>Nnddii</string>
      <string>Nnddo</string>
      <string>Nnddva</string>
      <string>Nni</string>
      <string>Nnii</string>
      <string>Nnnna</string>
      <string>Nnnnai</string>
      <string>Nnnnau</string>
      <string>Nnnne</string>
      <string>Nnnni</string>
      <string>Nnnnii</string>
      <string>Nnnno</string>
      <string>Nnnnya</string>
      <string>Nno</string>
      <string>Nnsa</string>
      <string>Nnvu</string>
      <string>Nnya</string>
      <string>Nnye</string>
      <string>No</string>
      <string>No_ya</string>
      <string>Nrr</string>
      <string>Nrrr</string>
      <string>Nsa</string>
      <string>Nsii</string>
      <string>Nso</string>
      <string>Nta</string>
      <string>Ntaa</string>
      <string>Nte</string>
      <string>Ntha</string>
      <string>Nthai</string>
      <string>Nthau</string>
      <string>Nthe</string>
      <string>Nthi</string>
      <string>Nthii</string>
      <string>Ntho</string>
      <string>Nti</string>
      <string>Ntrye</string>
      <string>Ntu</string>
      <string>Ntya</string>
      <string>Ntyau</string>
      <string>Ntyo</string>
      <string>NumberEight</string>
      <string>NumberEight.mark</string>
      <string>NumberEighty</string>
      <string>NumberEighty.mark</string>
      <string>NumberEightySolo</string>
      <string>NumberEightySolo.mark</string>
      <string>NumberFifty</string>
      <string>NumberFifty.mark</string>
      <string>NumberFiftySolo</string>
      <string>NumberFiftySolo.mark</string>
      <string>NumberFive</string>
      <string>NumberFive.mark</string>
      <string>NumberForty</string>
      <string>NumberForty.mark</string>
      <string>NumberFortySolo</string>
      <string>NumberFortySolo.mark</string>
      <string>NumberFour</string>
      <string>NumberFour.mark</string>
      <string>NumberNine</string>
      <string>NumberNine.mark</string>
      <string>NumberNinety</string>
      <string>NumberNinety.mark</string>
      <string>NumberNinetySolo</string>
      <string>NumberNinetySolo.mark</string>
      <string>NumberOne</string>
      <string>NumberOne.mark</string>
      <string>NumberSeven</string>
      <string>NumberSeven.mark</string>
      <string>NumberSeventy</string>
      <string>NumberSeventy.mark</string>
      <string>NumberSeventySolo</string>
      <string>NumberSeventySolo.mark</string>
      <string>NumberSix</string>
      <string>NumberSix.mark</string>
      <string>NumberSixty</string>
      <string>NumberSixty.mark</string>
      <string>NumberSixtySolo</string>
      <string>NumberSixtySolo.mark</string>
      <string>NumberTen</string>
      <string>NumberTen.alt.mark</string>
      <string>NumberTenSolo</string>
      <string>NumberThirty</string>
      <string>NumberThirty.mark</string>
      <string>NumberThirtySolo</string>
      <string>NumberThirtySolo.mark</string>
      <string>NumberThree</string>
      <string>NumberThree.mark</string>
      <string>NumberTwenty</string>
      <string>NumberTwenty.mark</string>
      <string>NumberTwentySolo</string>
      <string>NumberTwentySolo.mark</string>
      <string>NumberTwo</string>
      <string>NumberTwo.mark</string>
      <string>Nva</string>
      <string>Nve</string>
      <string>Nvi</string>
      <string>Nya</string>
      <string>Nyaa</string>
      <string>Nyau</string>
      <string>Nyca</string>
      <string>Nycaa</string>
      <string>Nyi</string>
      <string>Nyii</string>
      <string>Nyja</string>
      <string>Nyo</string>
      <string>O_indi</string>
      <string>O_vwl</string>
      <string>O_vwl.alt</string>
      <string>OneHundred</string>
      <string>OneHundredUnit</string>
      <string>Pa</string>
      <string>Pa.above</string>
      <string>Pa.alt</string>
      <string>Pa.blw</string>
      <string>Paa</string>
      <string>Pai</string>
      <string>Pasi</string>
      <string>Pau</string>
      <string>Pe</string>
      <string>Pha</string>
      <string>Phai</string>
      <string>Phau</string>
      <string>Phe</string>
      <string>Phi_bhks</string>
      <string>Phii</string>
      <string>Pho</string>
      <string>Pi_bhks</string>
      <string>Pii</string>
      <string>Pkri</string>
      <string>Plu</string>
      <string>Pno</string>
      <string>Po</string>
      <string>Pra</string>
      <string>Praa</string>
      <string>Prai</string>
      <string>Pre</string>
      <string>Pri</string>
      <string>Pro</string>
      <string>Prr</string>
      <string>Psa</string>
      <string>Psu</string>
      <string>Pta</string>
      <string>Ptau</string>
      <string>Pti</string>
      <string>Ptu</string>
      <string>Ptya</string>
      <string>Pva</string>
      <string>Pvo</string>
      <string>Ra</string>
      <string>Rai</string>
      <string>Rau</string>
      <string>Rcci</string>
      <string>Rdadhi</string>
      <string>Rdde</string>
      <string>Rddi</string>
      <string>Rde</string>
      <string>Rdo</string>
      <string>Rdvi</string>
      <string>Re</string>
      <string>Repha</string>
      <string>Rggau</string>
      <string>Rggii</string>
      <string>Rghaa</string>
      <string>Ri</string>
      <string>Rii</string>
      <string>Rjnyaa</string>
      <string>Rkaa</string>
      <string>Rli</string>
      <string>Rlli</string>
      <string>Rllo</string>
      <string>Rnni</string>
      <string>Rnnnnaa</string>
      <string>Rnnnni</string>
      <string>Rnnnno</string>
      <string>Ro</string>
      <string>Rpa</string>
      <string>Rr</string>
      <string>Rssaa</string>
      <string>Rsse</string>
      <string>Rssi</string>
      <string>Rssyaa</string>
      <string>Rthe</string>
      <string>Rtta</string>
      <string>Rtti</string>
      <string>Rttu</string>
      <string>Ru</string>
      <string>Ruu</string>
      <string>Rvva</string>
      <string>Rvve</string>
      <string>Rvvi</string>
      <string>Rvyu</string>
      <string>Rya</string>
      <string>Ryaa</string>
      <string>Rye</string>
      <string>Ryi</string>
      <string>Sa</string>
      <string>Sa.above</string>
      <string>Sa.blw</string>
      <string>Sai</string>
      <string>Sau</string>
      <string>Sau.above</string>
      <string>Se</string>
      <string>SevenHundred</string>
      <string>Sha</string>
      <string>Shau</string>
      <string>Shc</string>
      <string>Shca</string>
      <string>Shcai</string>
      <string>Shcau</string>
      <string>Shce</string>
      <string>Shcu</string>
      <string>Shi</string>
      <string>Shii</string>
      <string>Shle</string>
      <string>Shlo</string>
      <string>Shne</string>
      <string>Shnu</string>
      <string>Sho</string>
      <string>Shra</string>
      <string>Shrau</string>
      <string>Shre</string>
      <string>Shri</string>
      <string>Shrii</string>
      <string>Shro</string>
      <string>Shrr</string>
      <string>Shru</string>
      <string>Shruu</string>
      <string>Shryu</string>
      <string>Shti</string>
      <string>Shtva</string>
      <string>Shtve</string>
      <string>Shu</string>
      <string>Shuu</string>
      <string>Shva</string>
      <string>Shvii</string>
      <string>Shya</string>
      <string>Si</string>
      <string>Si.above</string>
      <string>Sii</string>
      <string>SixHundred</string>
      <string>Ska</string>
      <string>Skrr</string>
      <string>Sma</string>
      <string>Smai</string>
      <string>Sme</string>
      <string>Smi</string>
      <string>Sni</string>
      <string>So</string>
      <string>Spha</string>
      <string>Spho</string>
      <string>Sphu</string>
      <string>Sprr</string>
      <string>Sra</string>
      <string>Srr</string>
      <string>Ssa</string>
      <string>Ssai</string>
      <string>Ssau</string>
      <string>Sse</string>
      <string>Ssi</string>
      <string>Ssii</string>
      <string>Sska</string>
      <string>Sskai</string>
      <string>Sskau</string>
      <string>Sske</string>
      <string>Sski</string>
      <string>Sskii</string>
      <string>Ssko</string>
      <string>Sso</string>
      <string>Sstta</string>
      <string>Ssttai</string>
      <string>Ssttau</string>
      <string>Sstte</string>
      <string>Ssttha</string>
      <string>Sstthe</string>
      <string>Sstthi</string>
      <string>Sstthii</string>
      <string>Sstti</string>
      <string>Ssttii</string>
      <string>Sstto</string>
      <string>Ssttu</string>
      <string>Ssttya</string>
      <string>Ssva</string>
      <string>Ssve</string>
      <string>Sta</string>
      <string>Stau</string>
      <string>Ste</string>
      <string>Stha</string>
      <string>Sthi</string>
      <string>Sti</string>
      <string>Stii</string>
      <string>Stra</string>
      <string>Strii</string>
      <string>Strr</string>
      <string>Strrr</string>
      <string>Stu</string>
      <string>Stuu</string>
      <string>Stvi</string>
      <string>Stye</string>
      <string>Sva</string>
      <string>Svau</string>
      <string>Sve</string>
      <string>Svii</string>
      <string>Svo</string>
      <string>Ta</string>
      <string>Ta_virama</string>
      <string>Tai</string>
      <string>Tata</string>
      <string>Tatai</string>
      <string>Tatau</string>
      <string>Tatava</string>
      <string>Tataya</string>
      <string>Tate</string>
      <string>Tati</string>
      <string>Tatii</string>
      <string>Tato</string>
      <string>Tau_bhks</string>
      <string>Te</string>
      <string>Tha</string>
      <string>Thau</string>
      <string>Thi</string>
      <string>Thii</string>
      <string>Tho</string>
      <string>ThreeHundred</string>
      <string>Ti</string>
      <string>Tii</string>
      <string>Tka</string>
      <string>Tkai</string>
      <string>Tkau</string>
      <string>Tke</string>
      <string>Tki</string>
      <string>Tkii</string>
      <string>Tko</string>
      <string>Tma</string>
      <string>Tna</string>
      <string>To</string>
      <string>Tpa</string>
      <string>Tpai</string>
      <string>Tpau</string>
      <string>Tpe</string>
      <string>Tpi</string>
      <string>Tpii</string>
      <string>Tplu</string>
      <string>Tpo</string>
      <string>Tpra</string>
      <string>Tra</string>
      <string>Trai</string>
      <string>Tre</string>
      <string>Tri</string>
      <string>Trr</string>
      <string>Tsa</string>
      <string>Tsau</string>
      <string>Tsphu</string>
      <string>Tsu</string>
      <string>Tsya</string>
      <string>Tta</string>
      <string>Tta_E</string>
      <string>Tta_U</string>
      <string>Ttau</string>
      <string>Ttha</string>
      <string>Tthau</string>
      <string>Tthi</string>
      <string>Tthii</string>
      <string>Ttho</string>
      <string>Tti</string>
      <string>Ttii</string>
      <string>Tto</string>
      <string>Ttpra</string>
      <string>Tttva</string>
      <string>Ttu</string>
      <string>Ttuu</string>
      <string>Ttva</string>
      <string>Ttvi</string>
      <string>Ttvii</string>
      <string>Ttyi</string>
      <string>Tu</string>
      <string>Tuu</string>
      <string>Tva</string>
      <string>Tve</string>
      <string>TwoHundred</string>
      <string>Tya</string>
      <string>Tye</string>
      <string>UU_indi</string>
      <string>UU_vwl</string>
      <string>UU_vwl.alt</string>
      <string>U_indi</string>
      <string>U_vwl</string>
      <string>U_vwl.alt</string>
      <string>Va</string>
      <string>Va.sub</string>
      <string>Vai</string>
      <string>Vau</string>
      <string>Ve</string>
      <string>Vi</string>
      <string>Vii</string>
      <string>Virama</string>
      <string>Visarga</string>
      <string>Vlu</string>
      <string>Vnni</string>
      <string>Vo</string>
      <string>VocL</string>
      <string>VocL_indi</string>
      <string>VocR</string>
      <string>VocR.wide</string>
      <string>VocRR</string>
      <string>VocRR.wide</string>
      <string>VocRR_indi</string>
      <string>VocR_indi</string>
      <string>Vra</string>
      <string>Vrr</string>
      <string>Vva</string>
      <string>Vve</string>
      <string>Vvi</string>
      <string>WordSep</string>
      <string>Ya</string>
      <string>Ya.blw</string>
      <string>Yai</string>
      <string>Yau</string>
      <string>Ye</string>
      <string>Yi</string>
      <string>Yii</string>
      <string>Yo</string>
      <string>Yva</string>
      <string>Yve</string>
      <string>ii-vwl-part</string>
      <string>space</string>
      <string>u11C50</string>
      <string>u11C51</string>
      <string>u11C52</string>
      <string>u11C53</string>
      <string>u11C54</string>
      <string>u11C55</string>
      <string>u11C56</string>
      <string>u11C57</string>
      <string>u11C58</string>
      <string>u11C59</string>
      <string>uni00A0</string>
      <string>uni200B</string>
      <string>uni25CC</string>
      <string>vwl_pt1</string>
      <string>vwl_pt2</string>
      <string>vwl_pt3</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Sho</key>
      <string>uni03F7</string>
      <key>ii-vwl-part</key>
      <string>iivwlpart</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>Pa.alt</string>
      <string>AA_vwl.alt2</string>
      <string>E_vwl.alt2</string>
      <string>O_vwl.alt</string>
      <string>AU_vwl.alt</string>
      <string>ii-vwl-part</string>
      <string>vwl_pt1</string>
      <string>vwl_pt2</string>
      <string>vwl_pt3</string>
      <string>Arrowhead</string>
      <string>Cch</string>
      <string>Shc</string>
      <string>Sau.above</string>
      <string>Si.above</string>
      <string>Da.above</string>
      <string>Dha.above</string>
      <string>Pa.above</string>
      <string>Ba.above</string>
      <string>Ma.above</string>
      <string>Sa.above</string>
      <string>Ba.blw</string>
      <string>Sa.blw</string>
      <string>Va.sub</string>
    </array>
  </dict>
</plist>
