<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aen-georgian</key>
    <string>A_en-georgian.glif</string>
    <key>An-georgian</key>
    <string>A_n-georgian.glif</string>
    <key>Char-georgian</key>
    <string>C_har-georgian.glif</string>
    <key>Ghan-georgian</key>
    <string>G_han-georgian.glif</string>
    <key>In-georgian</key>
    <string>I_n-georgian.glif</string>
    <key>Kan-georgian</key>
    <string>K_an-georgian.glif</string>
    <key>Man-georgian</key>
    <string>M_an-georgian.glif</string>
    <key>On-georgian</key>
    <string>O_n-georgian.glif</string>
    <key>Par-georgian</key>
    <string>P_ar-georgian.glif</string>
    <key>Phar-georgian</key>
    <string>P_har-georgian.glif</string>
    <key>Qar-georgian</key>
    <string>Q_ar-georgian.glif</string>
    <key>San-georgian</key>
    <string>S_an-georgian.glif</string>
    <key>Un-georgian</key>
    <string>U_n-georgian.glif</string>
    <key>We-georgian</key>
    <string>W_e-georgian.glif</string>
    <key>Zen-georgian</key>
    <string>Z_en-georgian.glif</string>
    <key>Zhar-georgian</key>
    <string>Z_har-georgian.glif</string>
  </dict>
</plist>
