<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jun 16 19, 16:19</string>
      <string>glyphs.J_un 16 19, 16_19</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56</string>
      <string>glyphs.J_un 19 19, 21_56</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56.background</string>
      <string>glyphs.J_un 19 19, 21_56.background</string>
    </array>
    <array>
      <string>Jun 24 19, 21:25</string>
      <string>glyphs.J_un 24 19, 21_25</string>
    </array>
    <array>
      <string>Jun 24 19, 21:25.background</string>
      <string>glyphs.J_un 24 19, 21_25.background</string>
    </array>
    <array>
      <string>Feb 28 17, 12:45</string>
      <string>glyphs.F_eb 28 17, 12_45</string>
    </array>
    <array>
      <string>Jun 26 19, 14:30</string>
      <string>glyphs.J_un 26 19, 14_30</string>
    </array>
  </array>
</plist>
