<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>60</integer>
      <key>public.kern2.parenright</key>
      <real>92.36363636363636</real>
      <key>public.kern2.question</key>
      <real>78.54545454545455</real>
      <key>public.kern2.quoteright</key>
      <real>93.0909090909091</real>
      <key>public.kern2.quotesingle</key>
      <real>93.45454545454545</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>41.81818181818182</real>
      <key>public.kern2.parenright</key>
      <real>77.36363636363636</real>
      <key>public.kern2.question</key>
      <integer>60</integer>
      <key>public.kern2.quoteright</key>
      <integer>66</integer>
      <key>public.kern2.quotesingle</key>
      <integer>81</integer>
    </dict>
    <key>kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-8.272727272727273</real>
      <key>public.kern2.question</key>
      <real>40.18181818181819</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>97.6562</real>
    </dict>
    <key>nii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>11.772727272727273</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>89.45454545454544</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>63.4766</real>
    </dict>
    <key>nyii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <real>-3.2727272727272734</real>
      <key>public.kern2.quotesingle</key>
      <real>3.454545454545455</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>-20.818181818181817</real>
      <key>luu-tamil</key>
      <real>-20.818181818181817</real>
      <key>nnnu-tamil</key>
      <real>-20.818181818181817</real>
      <key>nnnuu-tamil</key>
      <real>-20.818181818181817</real>
      <key>nnu-tamil</key>
      <real>-20.818181818181817</real>
      <key>nnuu-tamil</key>
      <real>-20.818181818181817</real>
      <key>public.kern2.colon</key>
      <real>-1.6363636363636367</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-35.27272727272727</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-72.8909090909091</real>
      <key>public.kern2.exclam</key>
      <real>-13.076700363636363</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-33.63636363636364</real>
      <key>public.kern2.nya-tamil</key>
      <real>-21.272727272727273</real>
      <key>public.kern2.o-tamil</key>
      <real>-28.44957727272727</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.period</key>
      <real>15.090909090909092</real>
      <key>public.kern2.question</key>
      <real>-47.36363636363637</real>
      <key>public.kern2.quoteright</key>
      <real>-36.63636363636363</real>
      <key>public.kern2.quotesingle</key>
      <real>-66.18042909090909</real>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.27272727272727</real>
      <key>public.kern2.ya-tamil</key>
      <real>-49.81818181818182</real>
      <key>ta-tamil</key>
      <integer>-20</integer>
      <key>tu-tamil</key>
      <integer>10</integer>
      <key>tuu-tamil</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>10</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-10.818181818181817</real>
      <key>public.kern2.quotesingle</key>
      <real>-3.2727272727272734</real>
      <key>public.kern2.u-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-26.818181818181817</real>
      <key>public.kern2.exclam</key>
      <real>-3.2727272727272734</real>
      <key>public.kern2.ka-tamil</key>
      <real>-1.6363636363636367</real>
      <key>public.kern2.period</key>
      <real>-23.272727272727273</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.cu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>15.454545454545455</real>
    </dict>
    <key>public.kern1.cuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-19.27272727272727</real>
      <key>public.kern2.o-tamil</key>
      <integer>-16</integer>
      <key>public.kern2.question</key>
      <real>-34.36363636363637</real>
      <key>public.kern2.quoteright</key>
      <real>-36.272727272727266</real>
      <key>public.kern2.quotesingle</key>
      <real>-33.54545454545455</real>
      <key>public.kern2.ya-tamil</key>
      <real>-27.363636363636367</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-44</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <integer>-15</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.4141</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-40</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-15.181818181818183</real>
      <key>public.kern2.o-tamil</key>
      <integer>-25</integer>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.u-tamil</key>
      <real>-35.220454545454544</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-31.636363636363633</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ai-tamil</key>
      <integer>10</integer>
      <key>public.kern2.e-tamil</key>
      <real>31.90909090909091</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>30</integer>
      <key>public.kern2.ka-tamil</key>
      <real>24.363636363636367</real>
      <key>public.kern2.nya-tamil</key>
      <integer>30</integer>
      <key>public.kern2.o-tamil</key>
      <integer>20</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.rupee-tamil</key>
      <real>28.363636363636367</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>10</integer>
      <key>public.kern2.ai-tamil</key>
      <real>-3.8181818181818175</real>
      <key>public.kern2.e-tamil</key>
      <real>-3.78622090909091</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-22.74927272727273</real>
      <key>public.kern2.exclam</key>
      <real>-4.909090909090908</real>
      <key>public.kern2.i-tamil</key>
      <real>-7.894520000000001</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.o-tamil</key>
      <real>-1.6363636363636367</real>
      <key>public.kern2.om-tamil</key>
      <real>-11.636363636363637</real>
      <key>public.kern2.question</key>
      <real>-40.45454545454545</real>
      <key>public.kern2.quoteright</key>
      <real>-30.90909090909091</real>
      <key>public.kern2.quotesingle</key>
      <real>-52.54545454545454</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-3.2727272727272734</real>
      <key>public.kern2.slash</key>
      <integer>20</integer>
      <key>public.kern2.ya-tamil</key>
      <real>-9.818181818181817</real>
    </dict>
    <key>public.kern1.kii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-5</integer>
      <key>public.kern2.parenright</key>
      <real>12.363636363636363</real>
      <key>public.kern2.question</key>
      <real>-9.272727272727273</real>
      <key>public.kern2.quoteright</key>
      <real>8.363636363636363</real>
      <key>public.kern2.quotesingle</key>
      <real>8.727272727272727</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
      <key>public.kern2.ya-tamil</key>
      <real>-36.18181818181818</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>-3</integer>
      <key>public.kern2.e-tamil</key>
      <integer>10</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-3.2727272727272734</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.question</key>
      <real>-3.2727272727272734</real>
      <key>public.kern2.quoteright</key>
      <real>-26.272727272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>-43.272727272727266</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-3.2727272727272734</real>
      <key>public.kern2.ai-tamil</key>
      <integer>-7</integer>
      <key>public.kern2.e-tamil</key>
      <real>8.363636363636363</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>26</integer>
      <key>public.kern2.hyphen</key>
      <real>23.363636363636367</real>
      <key>public.kern2.ka-tamil</key>
      <real>7.545454545454546</real>
      <key>public.kern2.o-tamil</key>
      <real>-1.6363636363636367</real>
      <key>public.kern2.parenright</key>
      <integer>39</integer>
      <key>public.kern2.period</key>
      <real>-3.8181818181818183</real>
      <key>public.kern2.question</key>
      <integer>40</integer>
      <key>public.kern2.quoteright</key>
      <integer>54</integer>
      <key>public.kern2.quotesingle</key>
      <real>65.72727272727273</real>
      <key>public.kern2.rra-tamil</key>
      <real>-11.636363636363637</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>16</integer>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.ai-tamil</key>
      <real>-1.6363636363636367</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.076700363636363</real>
      <key>public.kern2.exclam</key>
      <real>-3.2727272727272734</real>
      <key>public.kern2.question</key>
      <integer>-18</integer>
      <key>public.kern2.quoteright</key>
      <real>-24.272727272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>-36.36363636363636</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.mii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>25.227272727272734</real>
      <key>public.kern2.parenright</key>
      <integer>46</integer>
      <key>public.kern2.question</key>
      <real>42.36363636363636</real>
      <key>public.kern2.quoteright</key>
      <real>45.81818181818182</real>
      <key>public.kern2.quotesingle</key>
      <real>52.54545454545455</real>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-68.3594</real>
      <key>public.kern2.colon</key>
      <real>43.9453</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>81.7090909090909</real>
      <key>public.kern2.exclam</key>
      <integer>120</integer>
      <key>public.kern2.i-tamil</key>
      <real>82.18181818181819</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.251389090909093</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.question</key>
      <real>112.36363636363636</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>117.188</real>
      <key>public.kern2.rupee-tamil</key>
      <real>61.63636363636363</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-39.214503636363645</real>
      <key>public.kern2.ai-tamil</key>
      <integer>30</integer>
      <key>public.kern2.eMatra-tamil</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>65</integer>
      <key>public.kern2.i-tamil</key>
      <real>9.818181818181817</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.question</key>
      <real>54.72727272727273</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>56.727272727272734</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-11.636363636363637</real>
      <key>public.kern2.hyphen</key>
      <real>3.2727272727272734</real>
      <key>public.kern2.period</key>
      <real>-3.8181818181818183</real>
      <key>public.kern2.question</key>
      <real>-14.727272727272728</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-21.636363636363633</real>
    </dict>
    <key>public.kern1.pii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>26</integer>
      <key>public.kern2.i-tamil</key>
      <real>6.545454545454547</real>
      <key>public.kern2.parenright</key>
      <real>48.36363636363636</real>
      <key>public.kern2.question</key>
      <real>43.09090909090909</real>
      <key>public.kern2.quoteright</key>
      <real>59.45454545454546</real>
      <key>public.kern2.quotesingle</key>
      <real>51.09090909090909</real>
      <key>public.kern2.rupee-tamil</key>
      <real>27.363636363636367</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-126.90909090909089</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-42.18181818181818</real>
      <key>public.kern2.nya-tamil</key>
      <real>-27.743971818181816</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-29.2969</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-96.36363636363635</real>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>public.kern2.ya-tamil</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-100.72727272727273</real>
      <key>public.kern2.e-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-60</integer>
      <key>public.kern2.nya-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.o-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.om-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-48.8281</real>
    </dict>
    <key>public.kern1.rii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>69.54545454545455</real>
      <key>public.kern2.parenright</key>
      <real>79.18181818181819</real>
      <key>public.kern2.question</key>
      <integer>100</integer>
      <key>public.kern2.quoteright</key>
      <real>101.63636363636363</real>
      <key>public.kern2.quotesingle</key>
      <real>103.05454545454545</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.181818181818183</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>6.727272727272727</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.parenright</key>
      <real>39.0625</real>
      <key>public.kern2.question</key>
      <real>17.755681818181817</real>
      <key>public.kern2.quoteright</key>
      <real>39.0625</real>
      <key>public.kern2.quotesingle</key>
      <real>48.8281</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <real>-7.636363636363637</real>
      <key>public.kern2.hyphen</key>
      <real>12.454545454545453</real>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-23.272727272727273</real>
      <key>public.kern2.quotesingle</key>
      <real>-4.909090909090908</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>30</integer>
      <key>public.kern2.e-tamil</key>
      <real>-36.18181818181818</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-43.272727272727266</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o-tamil</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <real>-14.6484</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-73.2422</real>
      <key>public.kern2.u-tamil</key>
      <real>10.253910000000001</real>
      <key>public.kern2.ya-tamil</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.ka-tamil</key>
      <real>-29.39061818181818</real>
      <key>public.kern2.nya-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.o-tamil</key>
      <real>-23.272727272727273</real>
      <key>public.kern2.rra-tamil</key>
      <real>-29.2969</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-26.81818181818182</real>
      <key>public.kern2.ya-tamil</key>
      <real>-11.636363636363637</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <integer>6</integer>
      <key>public.kern2.e-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.eMatra-tamil</key>
      <real>-51.63636363636363</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.nya-tamil</key>
      <real>-7.636363636363637</real>
      <key>public.kern2.o-tamil</key>
      <integer>-30</integer>
      <key>public.kern2.om-tamil</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>-44.90909090909091</real>
      <key>public.kern2.quotesingle</key>
      <integer>-99</integer>
      <key>public.kern2.slash</key>
      <integer>40</integer>
      <key>public.kern2.ya-tamil</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-20.636363636363633</real>
      <key>public.kern2.e-tamil</key>
      <integer>26</integer>
      <key>public.kern2.hyphen</key>
      <integer>60</integer>
      <key>public.kern2.i-tamil</key>
      <real>15.818181818181817</real>
      <key>public.kern2.ka-tamil</key>
      <integer>5</integer>
      <key>public.kern2.nya-tamil</key>
      <real>3.2727272727272734</real>
      <key>public.kern2.o-tamil</key>
      <integer>9</integer>
      <key>public.kern2.om-tamil</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <real>-14.6484</real>
      <key>public.kern2.rupee-tamil</key>
      <integer>20</integer>
      <key>public.kern2.visarga-tamil</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.454545454545453</real>
      <key>public.kern2.e-tamil</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>50</integer>
      <key>public.kern2.ka-tamil</key>
      <real>-6.779828727272728</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.324230000000002</real>
    </dict>
    <key>public.kern1.vii-tamil</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-24.4141</real>
      <key>public.kern2.quotesingle</key>
      <real>-48.8281</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <integer>130</integer>
    </dict>
    <key>tii-tamil</key>
    <dict>
      <key>public.kern2.question</key>
      <real>5.40909090909091</real>
    </dict>
    <key>ttii-tamil</key>
    <dict>
      <key>public.kern2.eMatra-tamil</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
