<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>2.7781562068965506</real>
      <key>public.kern2.quoteright</key>
      <real>8.334457241379312</real>
      <key>public.kern2.quotesingle</key>
      <real>9.445715172413792</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>45.629031379310334</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>11.819762068965517</real>
      <key>public.kern2.parenright</key>
      <real>71.72683689655172</real>
      <key>public.kern2.quoteright</key>
      <real>37.44612482758621</real>
      <key>public.kern2.quotesingle</key>
      <real>44.046323448275864</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>61.893861379310344</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>31.115310689655175</real>
      <key>public.kern2.parenright</key>
      <real>100.38409379310345</real>
      <key>public.kern2.quoteright</key>
      <real>52.31343896551724</real>
      <key>public.kern2.quotesingle</key>
      <real>59.890267586206896</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>46.369874137931035</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>21.85476206896552</real>
      <key>public.kern2.parenright</key>
      <real>75.49839034482758</real>
      <key>public.kern2.quoteright</key>
      <real>40.56107137931034</real>
      <key>public.kern2.quotesingle</key>
      <real>46.95922310344828</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>31.822459655172416</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>17.30868413793103</real>
      <key>public.kern2.parenright</key>
      <real>64.89089034482758</real>
      <key>public.kern2.quoteright</key>
      <real>28.08460724137931</real>
      <key>public.kern2.quotesingle</key>
      <real>32.51278655172414</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>10.001340000000003</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>15.018871793103449</real>
      <key>public.kern2.parenright</key>
      <real>64.78987827586207</real>
      <key>public.kern2.quoteright</key>
      <real>23.370153103448274</real>
      <key>public.kern2.quotesingle</key>
      <real>36.705286206896545</real>
      <key>question</key>
      <real>19.093475172413793</real>
      <key>quotedblright</key>
      <real>0.27781562068965515</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>4.445043103448278</real>
      <key>public.kern2.parenright</key>
      <real>34.19653724137931</real>
      <key>public.kern2.quoteright</key>
      <real>3.889414137931034</real>
      <key>public.kern2.quotesingle</key>
      <real>3.889414137931034</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>45.612200344827585</real>
      <key>bracketright</key>
      <real>47.73369275862069</real>
      <key>eMatra-tamil</key>
      <real>6.36447724137931</real>
      <key>eeMatra-tamil</key>
      <real>8.485969655172413</real>
      <key>parenright</key>
      <real>46.083643103448274</real>
      <key>public.kern2.T</key>
      <real>15.759699310344832</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>3.485312689655172</real>
      <key>public.kern2.parenright</key>
      <real>22.376753793103454</real>
      <key>public.kern2.quoteright</key>
      <real>16.315328275862072</real>
      <key>public.kern2.quotesingle</key>
      <real>16.5173751724138</real>
      <key>question</key>
      <real>36.77263172413792</real>
      <key>quotedbl</key>
      <real>39.71916586206897</real>
      <key>quotedblright</key>
      <real>23.925789999999996</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>10.253910000000001</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>53.03744034482759</real>
      <key>public.kern2.quoteright</key>
      <real>11.920796896551728</real>
      <key>public.kern2.quotesingle</key>
      <real>17.49395034482759</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>8.334445862068968</real>
      <key>public.kern2.parenright</key>
      <real>38.085951379310345</real>
      <key>public.kern2.quoteright</key>
      <real>5.556301034482761</real>
      <key>public.kern2.quotesingle</key>
      <real>8.334445862068968</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>2.9296860000000002</real>
      <key>luu-tamil</key>
      <real>-1.818425793103449</real>
      <key>public.kern2.T</key>
      <real>-59.19991413793104</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-28.943282275862067</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-52.1282348275862</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-55.866128965517234</real>
      <key>public.kern2.exclam</key>
      <real>-17.34238482758621</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-19.851128482758618</real>
      <key>public.kern2.nya-tamil</key>
      <real>-6.364495862068967</real>
      <key>public.kern2.o-tamil</key>
      <real>-21.518067931034487</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-103.44855172413793</real>
      <key>public.kern2.quotesingle</key>
      <real>-112.89428206896552</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-19.04298206896552</real>
      <key>public.kern2.slash</key>
      <real>27.34375</real>
      <key>public.kern2.ya-tamil</key>
      <real>-8.789070000000002</real>
      <key>slash</key>
      <real>11.71875</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>13.671839999999998</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.092773310344828</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>47.22859034482759</real>
      <key>bracketright</key>
      <real>61.506603448275854</real>
      <key>parenright</key>
      <real>68.51096206896551</real>
      <key>public.kern2.a-tamil</key>
      <real>-27.697340827586203</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.71575427586207</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>8.334457241379312</real>
      <key>public.kern2.quotesingle</key>
      <real>9.445715172413792</real>
      <key>public.kern2.u-tamil</key>
      <real>-25.963114827586203</real>
      <key>question</key>
      <real>29.869358965517243</real>
      <key>quotedbl</key>
      <real>12.964702413793098</real>
      <key>quotedblright</key>
      <real>7.7788320689655155</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.a-tamil</key>
      <real>-37.46293</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-14.46322124137931</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-29.39788</real>
      <key>public.kern2.nya-tamil</key>
      <real>-18.28529448275862</real>
      <key>public.kern2.o-tamil</key>
      <real>-22.764006896551727</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-45.05655793103448</real>
      <key>public.kern2.rra-tamil</key>
      <real>-10.725358</real>
      <key>public.kern2.slash</key>
      <real>-6.835934</real>
      <key>public.kern2.u-tamil</key>
      <real>-25.20538827586207</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-40.965146206896556</real>
      <key>slash</key>
      <real>-4.040941655172415</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-36.89048448275862</real>
      <key>public.kern2.T</key>
      <real>-49.08070206896552</real>
      <key>public.kern2.a-tamil</key>
      <real>28.69073275862069</real>
      <key>public.kern2.ai-tamil</key>
      <real>-14.345329655172414</real>
      <key>public.kern2.e-tamil</key>
      <real>-7.172679517241379</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-15.15357931034483</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-33.06841551724138</real>
      <key>public.kern2.exclam</key>
      <real>-20.911915862068966</real>
      <key>public.kern2.i-tamil</key>
      <real>-13.351937724137931</real>
      <key>public.kern2.ka-tamil</key>
      <real>-8.384967103448275</real>
      <key>public.kern2.quoteright</key>
      <real>-39.31504724137931</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.42537448275861</real>
      <key>quotedbl</key>
      <real>-2.7781562068965506</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-35.57720965517241</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-31.18264331034483</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-37.04203103448276</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-12.594261862068967</real>
      <key>public.kern2.a-tamil</key>
      <real>-20.524676000000003</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.exclam</key>
      <real>-16.062790344827587</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-10.472778137931035</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>37.58082275862069</real>
      <key>public.kern2.a-tamil</key>
      <real>-33.03474827586207</real>
      <key>public.kern2.e-tamil</key>
      <real>-16.972001379310345</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>20.642469310344826</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>12.207037</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-22.07368551724138</real>
      <key>public.kern2.nya-tamil</key>
      <real>-15.759676551724137</real>
      <key>public.kern2.o-tamil</key>
      <real>-13.94125448275862</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-42.27841310344828</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-25.794697241379307</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-34.61745689655172</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-20.25524482758621</real>
      <key>public.kern2.a-tamil</key>
      <real>-11.21360275862069</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-8.654359793103449</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-12.05546748275862</real>
      <key>public.kern2.ka-tamil</key>
      <real>-3.6368441379310337</real>
      <key>public.kern2.quoteright</key>
      <real>-4.242993517241379</real>
      <key>public.kern2.quotesingle</key>
      <real>-16.365842068965517</real>
      <key>public.kern2.u-tamil</key>
      <real>-14.71575427586207</real>
      <key>question</key>
      <real>7.7788320689655155</real>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>83.31091586206897</real>
      <key>public.kern2.a-tamil</key>
      <real>-100.51858068965518</real>
      <key>public.kern2.colon</key>
      <real>15.372439310344827</real>
      <key>public.kern2.e-tamil</key>
      <real>-3.8894027586206903</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>40.426316551724135</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>40.426316551724135</real>
      <key>public.kern2.exclam</key>
      <real>74.50494965517242</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-17.24136172413793</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>99.87878413793104</real>
      <key>public.kern2.u-tamil</key>
      <real>-30.25658482758621</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>49.451115862068974</real>
      <key>public.kern2.a-tamil</key>
      <real>-54.06455551724138</real>
      <key>public.kern2.e-tamil</key>
      <real>-15.456631034482758</real>
      <key>public.kern2.exclam</key>
      <real>2.7781562068965506</real>
      <key>public.kern2.ka-tamil</key>
      <real>-19.1271248275862</real>
      <key>public.kern2.parenright</key>
      <real>20.002707241379312</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>-29.094815172413796</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.064111724137934</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-23.30283068965517</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-245.21841679310344</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-61.64129724137932</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-39.36557034482758</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-36.13282</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-238.34829010344828</real>
      <key>public.kern2.e-tamil</key>
      <real>-23.30283068965517</real>
      <key>public.kern2.ka-tamil</key>
      <real>-68.22470206896551</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-23.30283068965517</real>
      <key>public.kern2.om-tamil</key>
      <real>-23.30283068965517</real>
      <key>public.kern2.u-tamil</key>
      <real>-22.12416172413793</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-47.00967793103448</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-28.993803103448272</real>
      <key>public.kern2.ka-tamil</key>
      <real>-25.963114827586203</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>16.11327793103448</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-8.485969655172413</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-10.270760689655173</real>
      <key>public.kern2.parenright</key>
      <real>20.002707241379312</real>
      <key>public.kern2.quoteright</key>
      <real>14.816810344827587</real>
      <key>public.kern2.quotesingle</key>
      <real>21.113965172413792</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-22.662972620689654</real>
      <key>public.kern2.quotesingle</key>
      <real>-17.30868413793103</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-19.22820575862069</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-34.51643344827586</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.exclam</key>
      <real>-10.001321379310344</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-60.26068689655172</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-15.75966931034483</real>
      <key>public.kern2.ka-tamil</key>
      <real>-10.876875655172414</real>
      <key>public.kern2.nya-tamil</key>
      <real>-4.2598273793103445</real>
      <key>public.kern2.rra-tamil</key>
      <real>-11.98814496551724</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-12.678472758620691</real>
      <key>public.kern2.a-tamil</key>
      <real>42.34576206896552</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-13.671839999999998</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-20.50783</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-34.971020344827586</real>
      <key>public.kern2.quotesingle</key>
      <real>-44.248396896551725</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-107.50595965517243</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.06208227586207</real>
      <key>public.kern2.period</key>
      <real>-24.565602551724133</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-21.21498620689655</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-57.68453586206896</real>
      <key>public.kern2.ai-tamil</key>
      <real>-14.345329655172414</real>
      <key>public.kern2.e-tamil</key>
      <real>-12.122813793103447</real>
      <key>public.kern2.ka-tamil</key>
      <real>-28.252960689655175</real>
      <key>public.kern2.nya-tamil</key>
      <real>-13.335138620689655</real>
      <key>public.kern2.o-tamil</key>
      <real>-14.345329655172414</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-26.030442551724136</real>
      <key>public.kern2.u-tamil</key>
      <real>-29.616786344827588</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-31.83931434482759</real>
      <key>public.kern2.exclam</key>
      <real>-10.60750551724138</real>
      <key>public.kern2.quoteright</key>
      <real>-31.25002</real>
      <key>public.kern2.quotesingle</key>
      <real>-47.00967793103448</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>75.24583172413793</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>37.02519379310345</real>
      <key>public.kern2.parenright</key>
      <real>102.77488275862069</real>
      <key>public.kern2.quoteright</key>
      <real>57.86977413793103</real>
      <key>public.kern2.quotesingle</key>
      <real>78.96686206896551</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>41.40289517241379</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.279364137931037</real>
      <key>public.kern2.parenright</key>
      <real>71.07018448275862</real>
      <key>public.kern2.quoteright</key>
      <real>34.48274379310345</real>
      <key>public.kern2.quotesingle</key>
      <real>37.37877586206896</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>20.50783</real>
      <key>public.kern2.quotesingle</key>
      <real>5.185870344827585</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>4.445043103448278</real>
      <key>public.kern2.parenright</key>
      <real>51.52207</real>
      <key>public.kern2.quoteright</key>
      <real>4.445043103448278</real>
      <key>public.kern2.quotesingle</key>
      <real>10.927407586206897</real>
    </dict>
  </dict>
</plist>
