<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansGujarati-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati 90-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujarati-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati 90-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujarati-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati 151-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati 151-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujarati-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati 151-100 GSUB.txt</string>
	</dict>

	<key>NotoSansGujarati-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati 90-100 GSUB.txt</string>
	</dict>
		
	<key>NotoSansGujarati-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati 90-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujarati-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati 151-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujaratiUI-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati UI 26-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati UI 90-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujaratiUI-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati UI 90-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati UI 90-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujaratiUI-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati UI 151-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati UI 151-100 GSUB.txt</string>
	</dict>

	<key>NotoSansGujaratiUI-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati UI 190-100 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati UI 151-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujaratiUI-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati UI 26-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati UI 90-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujaratiUI-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati UI 90-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati UI 90-100 GSUB.txt</string>
	</dict>
	
	<key>NotoSansGujaratiUI-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Gujarati UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Gujarati UI 190-70 GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Gujarati UI 151-100 GSUB.txt</string>
	</dict>
		
</dict>
</plist>

