<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA880</key>
    <string>uniA_880.glif</string>
    <key>uniA881</key>
    <string>uniA_881.glif</string>
    <key>uniA882</key>
    <string>uniA_882.glif</string>
    <key>uniA883</key>
    <string>uniA_883.glif</string>
    <key>uniA884</key>
    <string>uniA_884.glif</string>
    <key>uniA885</key>
    <string>uniA_885.glif</string>
    <key>uniA886</key>
    <string>uniA_886.glif</string>
    <key>uniA887</key>
    <string>uniA_887.glif</string>
    <key>uniA888</key>
    <string>uniA_888.glif</string>
    <key>uniA889</key>
    <string>uniA_889.glif</string>
    <key>uniA88A</key>
    <string>uniA_88A_.glif</string>
    <key>uniA88B</key>
    <string>uniA_88B_.glif</string>
    <key>uniA88C</key>
    <string>uniA_88C_.glif</string>
    <key>uniA88D</key>
    <string>uniA_88D_.glif</string>
    <key>uniA88E</key>
    <string>uniA_88E_.glif</string>
    <key>uniA88F</key>
    <string>uniA_88F_.glif</string>
    <key>uniA890</key>
    <string>uniA_890.glif</string>
    <key>uniA891</key>
    <string>uniA_891.glif</string>
    <key>uniA892</key>
    <string>uniA_892.glif</string>
    <key>uniA892A8B0</key>
    <string>uniA_892A_8B_0.glif</string>
    <key>uniA893</key>
    <string>uniA_893.glif</string>
    <key>uniA894</key>
    <string>uniA_894.glif</string>
    <key>uniA895</key>
    <string>uniA_895.glif</string>
    <key>uniA896</key>
    <string>uniA_896.glif</string>
    <key>uniA897</key>
    <string>uniA_897.glif</string>
    <key>uniA898</key>
    <string>uniA_898.glif</string>
    <key>uniA899</key>
    <string>uniA_899.glif</string>
    <key>uniA89A</key>
    <string>uniA_89A_.glif</string>
    <key>uniA89B</key>
    <string>uniA_89B_.glif</string>
    <key>uniA89C</key>
    <string>uniA_89C_.glif</string>
    <key>uniA89D</key>
    <string>uniA_89D_.glif</string>
    <key>uniA89E</key>
    <string>uniA_89E_.glif</string>
    <key>uniA89F</key>
    <string>uniA_89F_.glif</string>
    <key>uniA8A0</key>
    <string>uniA_8A_0.glif</string>
    <key>uniA8A1</key>
    <string>uniA_8A_1.glif</string>
    <key>uniA8A1A8AB</key>
    <string>uniA_8A_1A_8A_B_.glif</string>
    <key>uniA8A2</key>
    <string>uniA_8A_2.glif</string>
    <key>uniA8A3</key>
    <string>uniA_8A_3.glif</string>
    <key>uniA8A4</key>
    <string>uniA_8A_4.glif</string>
    <key>uniA8A5</key>
    <string>uniA_8A_5.glif</string>
    <key>uniA8A6</key>
    <string>uniA_8A_6.glif</string>
    <key>uniA8A7</key>
    <string>uniA_8A_7.glif</string>
    <key>uniA8A8</key>
    <string>uniA_8A_8.glif</string>
    <key>uniA8A9</key>
    <string>uniA_8A_9.glif</string>
    <key>uniA8AA</key>
    <string>uniA_8A_A_.glif</string>
    <key>uniA8AB</key>
    <string>uniA_8A_B_.glif</string>
    <key>uniA8AC</key>
    <string>uniA_8A_C_.glif</string>
    <key>uniA8AD</key>
    <string>uniA_8A_D_.glif</string>
    <key>uniA8AE</key>
    <string>uniA_8A_E_.glif</string>
    <key>uniA8AF</key>
    <string>uniA_8A_F_.glif</string>
    <key>uniA8AFA8AC</key>
    <string>uniA_8A_F_A_8A_C_.glif</string>
    <key>uniA8B0</key>
    <string>uniA_8B_0.glif</string>
    <key>uniA8B0A89CA8AC</key>
    <string>uniA_8B_0A_89C_A_8A_C_.glif</string>
    <key>uniA8B0A89D</key>
    <string>uniA_8B_0A_89D_.glif</string>
    <key>uniA8B1</key>
    <string>uniA_8B_1.glif</string>
    <key>uniA8B2</key>
    <string>uniA_8B_2.glif</string>
    <key>uniA8B3</key>
    <string>uniA_8B_3.glif</string>
    <key>uniA8B4</key>
    <string>uniA_8B_4.glif</string>
    <key>uniA8B5</key>
    <string>uniA_8B_5.glif</string>
    <key>uniA8B6</key>
    <string>uniA_8B_6.glif</string>
    <key>uniA8B7</key>
    <string>uniA_8B_7.glif</string>
    <key>uniA8B8</key>
    <string>uniA_8B_8.glif</string>
    <key>uniA8B9</key>
    <string>uniA_8B_9.glif</string>
    <key>uniA8BA</key>
    <string>uniA_8B_A_.glif</string>
    <key>uniA8BB</key>
    <string>uniA_8B_B_.glif</string>
    <key>uniA8BC</key>
    <string>uniA_8B_C_.glif</string>
    <key>uniA8BD</key>
    <string>uniA_8B_D_.glif</string>
    <key>uniA8BE</key>
    <string>uniA_8B_E_.glif</string>
    <key>uniA8BF</key>
    <string>uniA_8B_F_.glif</string>
    <key>uniA8C0</key>
    <string>uniA_8C_0.glif</string>
    <key>uniA8C1</key>
    <string>uniA_8C_1.glif</string>
    <key>uniA8C2</key>
    <string>uniA_8C_2.glif</string>
    <key>uniA8C3</key>
    <string>uniA_8C_3.glif</string>
    <key>uniA8C4</key>
    <string>uniA_8C_4.glif</string>
    <key>uniA8C5</key>
    <string>uniA_8C_5.glif</string>
    <key>uniA8CE</key>
    <string>uniA_8C_E_.glif</string>
    <key>uniA8CF</key>
    <string>uniA_8C_F_.glif</string>
    <key>uniA8D0</key>
    <string>uniA_8D_0.glif</string>
    <key>uniA8D1</key>
    <string>uniA_8D_1.glif</string>
    <key>uniA8D2</key>
    <string>uniA_8D_2.glif</string>
    <key>uniA8D3</key>
    <string>uniA_8D_3.glif</string>
    <key>uniA8D4</key>
    <string>uniA_8D_4.glif</string>
    <key>uniA8D5</key>
    <string>uniA_8D_5.glif</string>
    <key>uniA8D6</key>
    <string>uniA_8D_6.glif</string>
    <key>uniA8D7</key>
    <string>uniA_8D_7.glif</string>
    <key>uniA8D8</key>
    <string>uniA_8D_8.glif</string>
    <key>uniA8D9</key>
    <string>uniA_8D_9.glif</string>
  </dict>
</plist>
