<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>973</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u16800</string>
      <string>u16801</string>
      <string>u16802</string>
      <string>u16803</string>
      <string>u16804</string>
      <string>u16805</string>
      <string>u16806</string>
      <string>u16807</string>
      <string>u16808</string>
      <string>u16809</string>
      <string>u1680A</string>
      <string>u1680B</string>
      <string>u1680C</string>
      <string>u1680D</string>
      <string>u1680E</string>
      <string>u1680F</string>
      <string>u16810</string>
      <string>u16811</string>
      <string>u16812</string>
      <string>u16813</string>
      <string>u16814</string>
      <string>u16815</string>
      <string>u16816</string>
      <string>u16817</string>
      <string>u16818</string>
      <string>u16819</string>
      <string>u1681A</string>
      <string>u1681B</string>
      <string>u1681C</string>
      <string>u1681D</string>
      <string>u1681E</string>
      <string>u1681F</string>
      <string>u16820</string>
      <string>u16821</string>
      <string>u16822</string>
      <string>u16823</string>
      <string>u16824</string>
      <string>u16825</string>
      <string>u16826</string>
      <string>u16827</string>
      <string>u16828</string>
      <string>u16829</string>
      <string>u1682A</string>
      <string>u1682B</string>
      <string>u1682C</string>
      <string>u1682D</string>
      <string>u1682E</string>
      <string>u1682F</string>
      <string>u16830</string>
      <string>u16831</string>
      <string>u16832</string>
      <string>u16833</string>
      <string>u16834</string>
      <string>u16835</string>
      <string>u16836</string>
      <string>u16837</string>
      <string>u16838</string>
      <string>u16839</string>
      <string>u1683A</string>
      <string>u1683B</string>
      <string>u1683C</string>
      <string>u1683D</string>
      <string>u1683E</string>
      <string>u1683F</string>
      <string>u16840</string>
      <string>u16841</string>
      <string>u16842</string>
      <string>u16843</string>
      <string>u16844</string>
      <string>u16845</string>
      <string>u16846</string>
      <string>u16847</string>
      <string>u16848</string>
      <string>u16849</string>
      <string>u1684A</string>
      <string>u1684B</string>
      <string>u1684C</string>
      <string>u1684D</string>
      <string>u1684E</string>
      <string>u1684F</string>
      <string>u16850</string>
      <string>u16851</string>
      <string>u16852</string>
      <string>u16853</string>
      <string>u16854</string>
      <string>u16855</string>
      <string>u16856</string>
      <string>u16857</string>
      <string>u16858</string>
      <string>u16859</string>
      <string>u1685A</string>
      <string>u1685B</string>
      <string>u1685C</string>
      <string>u1685D</string>
      <string>u1685E</string>
      <string>u1685F</string>
      <string>u16860</string>
      <string>u16861</string>
      <string>u16862</string>
      <string>u16863</string>
      <string>u16864</string>
      <string>u16865</string>
      <string>u16866</string>
      <string>u16867</string>
      <string>u16868</string>
      <string>u16869</string>
      <string>u1686A</string>
      <string>u1686B</string>
      <string>u1686C</string>
      <string>u1686D</string>
      <string>u1686E</string>
      <string>u1686F</string>
      <string>u16870</string>
      <string>u16871</string>
      <string>u16872</string>
      <string>u16873</string>
      <string>u16874</string>
      <string>u16875</string>
      <string>u16876</string>
      <string>u16877</string>
      <string>u16878</string>
      <string>u16879</string>
      <string>u1687A</string>
      <string>u1687B</string>
      <string>u1687C</string>
      <string>u1687D</string>
      <string>u1687E</string>
      <string>u1687F</string>
      <string>u16880</string>
      <string>u16881</string>
      <string>u16882</string>
      <string>u16883</string>
      <string>u16884</string>
      <string>u16885</string>
      <string>u16886</string>
      <string>u16887</string>
      <string>u16888</string>
      <string>u16889</string>
      <string>u1688A</string>
      <string>u1688B</string>
      <string>u1688C</string>
      <string>u1688D</string>
      <string>u1688E</string>
      <string>u1688F</string>
      <string>u16890</string>
      <string>u16891</string>
      <string>u16892</string>
      <string>u16893</string>
      <string>u16894</string>
      <string>u16895</string>
      <string>u16896</string>
      <string>u16897</string>
      <string>u16898</string>
      <string>u16899</string>
      <string>u1689A</string>
      <string>u1689B</string>
      <string>u1689C</string>
      <string>u1689D</string>
      <string>u1689E</string>
      <string>u1689F</string>
      <string>u168A0</string>
      <string>u168A1</string>
      <string>u168A2</string>
      <string>u168A3</string>
      <string>u168A4</string>
      <string>u168A5</string>
      <string>u168A6</string>
      <string>u168A7</string>
      <string>u168A8</string>
      <string>u168A9</string>
      <string>u168AA</string>
      <string>u168AB</string>
      <string>u168AC</string>
      <string>u168AD</string>
      <string>u168AE</string>
      <string>u168AF</string>
      <string>u168B0</string>
      <string>u168B1</string>
      <string>u168B2</string>
      <string>u168B3</string>
      <string>u168B4</string>
      <string>u168B5</string>
      <string>u168B6</string>
      <string>u168B7</string>
      <string>u168B8</string>
      <string>u168B9</string>
      <string>u168BA</string>
      <string>u168BB</string>
      <string>u168BC</string>
      <string>u168BD</string>
      <string>u168BE</string>
      <string>u168BF</string>
      <string>u168C0</string>
      <string>u168C1</string>
      <string>u168C2</string>
      <string>u168C3</string>
      <string>u168C4</string>
      <string>u168C5</string>
      <string>u168C6</string>
      <string>u168C7</string>
      <string>u168C8</string>
      <string>u168C9</string>
      <string>u168CA</string>
      <string>u168CB</string>
      <string>u168CC</string>
      <string>u168CD</string>
      <string>u168CE</string>
      <string>u168CF</string>
      <string>u168D0</string>
      <string>u168D1</string>
      <string>u168D2</string>
      <string>u168D3</string>
      <string>u168D4</string>
      <string>u168D5</string>
      <string>u168D6</string>
      <string>u168D7</string>
      <string>u168D8</string>
      <string>u168D9</string>
      <string>u168DA</string>
      <string>u168DB</string>
      <string>u168DC</string>
      <string>u168DD</string>
      <string>u168DE</string>
      <string>u168DF</string>
      <string>u168E0</string>
      <string>u168E1</string>
      <string>u168E2</string>
      <string>u168E3</string>
      <string>u168E4</string>
      <string>u168E5</string>
      <string>u168E6</string>
      <string>u168E7</string>
      <string>u168E8</string>
      <string>u168E9</string>
      <string>u168EA</string>
      <string>u168EB</string>
      <string>u168EC</string>
      <string>u168ED</string>
      <string>u168EE</string>
      <string>u168EF</string>
      <string>u168F0</string>
      <string>u168F1</string>
      <string>u168F2</string>
      <string>u168F3</string>
      <string>u168F4</string>
      <string>u168F5</string>
      <string>u168F6</string>
      <string>u168F7</string>
      <string>u168F8</string>
      <string>u168F9</string>
      <string>u168FA</string>
      <string>u168FB</string>
      <string>u168FC</string>
      <string>u168FD</string>
      <string>u168FE</string>
      <string>u168FF</string>
      <string>u16900</string>
      <string>u16901</string>
      <string>u16902</string>
      <string>u16903</string>
      <string>u16904</string>
      <string>u16905</string>
      <string>u16906</string>
      <string>u16907</string>
      <string>u16908</string>
      <string>u16909</string>
      <string>u1690A</string>
      <string>u1690B</string>
      <string>u1690C</string>
      <string>u1690D</string>
      <string>u1690E</string>
      <string>u1690F</string>
      <string>u16910</string>
      <string>u16911</string>
      <string>u16912</string>
      <string>u16913</string>
      <string>u16914</string>
      <string>u16915</string>
      <string>u16916</string>
      <string>u16917</string>
      <string>u16918</string>
      <string>u16919</string>
      <string>u1691A</string>
      <string>u1691B</string>
      <string>u1691C</string>
      <string>u1691D</string>
      <string>u1691E</string>
      <string>u1691F</string>
      <string>u16920</string>
      <string>u16921</string>
      <string>u16922</string>
      <string>u16923</string>
      <string>u16924</string>
      <string>u16925</string>
      <string>u16926</string>
      <string>u16927</string>
      <string>u16928</string>
      <string>u16929</string>
      <string>u1692A</string>
      <string>u1692B</string>
      <string>u1692C</string>
      <string>u1692D</string>
      <string>u1692E</string>
      <string>u1692F</string>
      <string>u16930</string>
      <string>u16931</string>
      <string>u16932</string>
      <string>u16933</string>
      <string>u16934</string>
      <string>u16935</string>
      <string>u16936</string>
      <string>u16937</string>
      <string>u16938</string>
      <string>u16939</string>
      <string>u1693A</string>
      <string>u1693B</string>
      <string>u1693C</string>
      <string>u1693D</string>
      <string>u1693E</string>
      <string>u1693F</string>
      <string>u16940</string>
      <string>u16941</string>
      <string>u16942</string>
      <string>u16943</string>
      <string>u16944</string>
      <string>u16945</string>
      <string>u16946</string>
      <string>u16947</string>
      <string>u16948</string>
      <string>u16949</string>
      <string>u1694A</string>
      <string>u1694B</string>
      <string>u1694C</string>
      <string>u1694D</string>
      <string>u1694E</string>
      <string>u1694F</string>
      <string>u16950</string>
      <string>u16951</string>
      <string>u16952</string>
      <string>u16953</string>
      <string>u16954</string>
      <string>u16955</string>
      <string>u16956</string>
      <string>u16957</string>
      <string>u16958</string>
      <string>u16959</string>
      <string>u1695A</string>
      <string>u1695B</string>
      <string>u1695C</string>
      <string>u1695D</string>
      <string>u1695E</string>
      <string>u1695F</string>
      <string>u16960</string>
      <string>u16961</string>
      <string>u16962</string>
      <string>u16963</string>
      <string>u16964</string>
      <string>u16965</string>
      <string>u16966</string>
      <string>u16967</string>
      <string>u16968</string>
      <string>u16969</string>
      <string>u1696A</string>
      <string>u1696B</string>
      <string>u1696C</string>
      <string>u1696D</string>
      <string>u1696E</string>
      <string>u1696F</string>
      <string>u16970</string>
      <string>u16971</string>
      <string>u16972</string>
      <string>u16973</string>
      <string>u16974</string>
      <string>u16975</string>
      <string>u16976</string>
      <string>u16977</string>
      <string>u16978</string>
      <string>u16979</string>
      <string>u1697A</string>
      <string>u1697B</string>
      <string>u1697C</string>
      <string>u1697D</string>
      <string>u1697E</string>
      <string>u1697F</string>
      <string>u16980</string>
      <string>u16981</string>
      <string>u16982</string>
      <string>u16983</string>
      <string>u16984</string>
      <string>u16985</string>
      <string>u16986</string>
      <string>u16987</string>
      <string>u16988</string>
      <string>u16989</string>
      <string>u1698A</string>
      <string>u1698B</string>
      <string>u1698C</string>
      <string>u1698D</string>
      <string>u1698E</string>
      <string>u1698F</string>
      <string>u16990</string>
      <string>u16991</string>
      <string>u16992</string>
      <string>u16993</string>
      <string>u16994</string>
      <string>u16995</string>
      <string>u16996</string>
      <string>u16997</string>
      <string>u16998</string>
      <string>u16999</string>
      <string>u1699A</string>
      <string>u1699B</string>
      <string>u1699C</string>
      <string>u1699D</string>
      <string>u1699E</string>
      <string>u1699F</string>
      <string>u169A0</string>
      <string>u169A1</string>
      <string>u169A2</string>
      <string>u169A3</string>
      <string>u169A4</string>
      <string>u169A5</string>
      <string>u169A6</string>
      <string>u169A7</string>
      <string>u169A8</string>
      <string>u169A9</string>
      <string>u169AA</string>
      <string>u169AB</string>
      <string>u169AC</string>
      <string>u169AD</string>
      <string>u169AE</string>
      <string>u169AF</string>
      <string>u169B0</string>
      <string>u169B1</string>
      <string>u169B2</string>
      <string>u169B3</string>
      <string>u169B4</string>
      <string>u169B5</string>
      <string>u169B6</string>
      <string>u169B7</string>
      <string>u169B8</string>
      <string>u169B9</string>
      <string>u169BA</string>
      <string>u169BB</string>
      <string>u169BC</string>
      <string>u169BD</string>
      <string>u169BE</string>
      <string>u169BF</string>
      <string>u169C0</string>
      <string>u169C1</string>
      <string>u169C2</string>
      <string>u169C3</string>
      <string>u169C4</string>
      <string>u169C5</string>
      <string>u169C6</string>
      <string>u169C7</string>
      <string>u169C8</string>
      <string>u169C9</string>
      <string>u169CA</string>
      <string>u169CB</string>
      <string>u169CC</string>
      <string>u169CD</string>
      <string>u169CE</string>
      <string>u169CF</string>
      <string>u169D0</string>
      <string>u169D1</string>
      <string>u169D2</string>
      <string>u169D3</string>
      <string>u169D4</string>
      <string>u169D5</string>
      <string>u169D6</string>
      <string>u169D7</string>
      <string>u169D8</string>
      <string>u169D9</string>
      <string>u169DA</string>
      <string>u169DB</string>
      <string>u169DC</string>
      <string>u169DD</string>
      <string>u169DE</string>
      <string>u169DF</string>
      <string>u169E0</string>
      <string>u169E1</string>
      <string>u169E2</string>
      <string>u169E3</string>
      <string>u169E4</string>
      <string>u169E5</string>
      <string>u169E6</string>
      <string>u169E7</string>
      <string>u169E8</string>
      <string>u169E9</string>
      <string>u169EA</string>
      <string>u169EB</string>
      <string>u169EC</string>
      <string>u169ED</string>
      <string>u169EE</string>
      <string>u169EF</string>
      <string>u169F0</string>
      <string>u169F1</string>
      <string>u169F2</string>
      <string>u169F3</string>
      <string>u169F4</string>
      <string>u169F5</string>
      <string>u169F6</string>
      <string>u169F7</string>
      <string>u169F8</string>
      <string>u169F9</string>
      <string>u169FA</string>
      <string>u169FB</string>
      <string>u169FC</string>
      <string>u169FD</string>
      <string>u169FE</string>
      <string>u169FF</string>
      <string>u16A00</string>
      <string>u16A01</string>
      <string>u16A02</string>
      <string>u16A03</string>
      <string>u16A04</string>
      <string>u16A05</string>
      <string>u16A06</string>
      <string>u16A07</string>
      <string>u16A08</string>
      <string>u16A09</string>
      <string>u16A0A</string>
      <string>u16A0B</string>
      <string>u16A0C</string>
      <string>u16A0D</string>
      <string>u16A0E</string>
      <string>u16A0F</string>
      <string>u16A10</string>
      <string>u16A11</string>
      <string>u16A12</string>
      <string>u16A13</string>
      <string>u16A14</string>
      <string>u16A15</string>
      <string>u16A16</string>
      <string>u16A17</string>
      <string>u16A18</string>
      <string>u16A19</string>
      <string>u16A1A</string>
      <string>u16A1B</string>
      <string>u16A1C</string>
      <string>u16A1D</string>
      <string>u16A1E</string>
      <string>u16A1F</string>
      <string>u16A20</string>
      <string>u16A21</string>
      <string>u16A22</string>
      <string>u16A23</string>
      <string>u16A24</string>
      <string>u16A25</string>
      <string>u16A26</string>
      <string>u16A27</string>
      <string>u16A28</string>
      <string>u16A29</string>
      <string>u16A2A</string>
      <string>u16A2B</string>
      <string>u16A2C</string>
      <string>u16A2D</string>
      <string>u16A2E</string>
      <string>u16A2F</string>
      <string>u16A30</string>
      <string>u16A31</string>
      <string>u16A32</string>
      <string>u16A33</string>
      <string>u16A34</string>
      <string>u16A35</string>
      <string>u16A36</string>
      <string>u16A37</string>
      <string>u16A38</string>
      <string>uni00A0</string>
      <string>uniA6A0</string>
      <string>uniA6A1</string>
      <string>uniA6A2</string>
      <string>uniA6A3</string>
      <string>uniA6A4</string>
      <string>uniA6A5</string>
      <string>uniA6A6</string>
      <string>uniA6A7</string>
      <string>uniA6A8</string>
      <string>uniA6A9</string>
      <string>uniA6AA</string>
      <string>uniA6AB</string>
      <string>uniA6AC</string>
      <string>uniA6AD</string>
      <string>uniA6AE</string>
      <string>uniA6AF</string>
      <string>uniA6B0</string>
      <string>uniA6B1</string>
      <string>uniA6B2</string>
      <string>uniA6B3</string>
      <string>uniA6B4</string>
      <string>uniA6B5</string>
      <string>uniA6B6</string>
      <string>uniA6B7</string>
      <string>uniA6B8</string>
      <string>uniA6B9</string>
      <string>uniA6BA</string>
      <string>uniA6BB</string>
      <string>uniA6BC</string>
      <string>uniA6BD</string>
      <string>uniA6BE</string>
      <string>uniA6BF</string>
      <string>uniA6C0</string>
      <string>uniA6C1</string>
      <string>uniA6C2</string>
      <string>uniA6C3</string>
      <string>uniA6C4</string>
      <string>uniA6C5</string>
      <string>uniA6C6</string>
      <string>uniA6C7</string>
      <string>uniA6C8</string>
      <string>uniA6C9</string>
      <string>uniA6CA</string>
      <string>uniA6CB</string>
      <string>uniA6CC</string>
      <string>uniA6CD</string>
      <string>uniA6CE</string>
      <string>uniA6CF</string>
      <string>uniA6D0</string>
      <string>uniA6D1</string>
      <string>uniA6D2</string>
      <string>uniA6D3</string>
      <string>uniA6D4</string>
      <string>uniA6D5</string>
      <string>uniA6D6</string>
      <string>uniA6D7</string>
      <string>uniA6D8</string>
      <string>uniA6D9</string>
      <string>uniA6DA</string>
      <string>uniA6DB</string>
      <string>uniA6DC</string>
      <string>uniA6DD</string>
      <string>uniA6DE</string>
      <string>uniA6DF</string>
      <string>uniA6E0</string>
      <string>uniA6E1</string>
      <string>uniA6E2</string>
      <string>uniA6E3</string>
      <string>uniA6E4</string>
      <string>uniA6E5</string>
      <string>uniA6E6</string>
      <string>uniA6E7</string>
      <string>uniA6E8</string>
      <string>uniA6E9</string>
      <string>uniA6EA</string>
      <string>uniA6EB</string>
      <string>uniA6EC</string>
      <string>uniA6ED</string>
      <string>uniA6EE</string>
      <string>uniA6EF</string>
      <string>uniA6F0</string>
      <string>uniA6F1</string>
      <string>uniA6F2</string>
      <string>uniA6F3</string>
      <string>uniA6F4</string>
      <string>uniA6F5</string>
      <string>uniA6F6</string>
      <string>uniA6F7</string>
    </array>
  </dict>
</plist>
