<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>.null</key>
		<string>_null.glif</string>
		<key>BASE</key>
		<string>B_A_S_E_.glif</string>
		<key>CR</key>
		<string>C_R_.glif</string>
		<key>ZWJ</key>
		<string>Z_W_J_.glif</string>
		<key>ZWNJ</key>
		<string>Z_W_N_J_.glif</string>
		<key>a-rohg</key>
		<string>a-rohg.glif</string>
		<key>a-rohg.fina</key>
		<string>a-rohg.fina.glif</string>
		<key>a-rohg.init</key>
		<string>a-rohg.init.glif</string>
		<key>a-rohg.medi</key>
		<string>a-rohg.medi.glif</string>
		<key>avowel-rohg</key>
		<string>avowel-rohg.glif</string>
		<key>avowel-rohg.fina</key>
		<string>avowel-rohg.fina.glif</string>
		<key>avowel-rohg.init</key>
		<string>avowel-rohg.init.glif</string>
		<key>avowel-rohg.medi</key>
		<string>avowel-rohg.medi.glif</string>
		<key>ba-rohg</key>
		<string>ba-rohg.glif</string>
		<key>ba-rohg.fina</key>
		<string>ba-rohg.fina.glif</string>
		<key>ba-rohg.init</key>
		<string>ba-rohg.init.glif</string>
		<key>ba-rohg.medi</key>
		<string>ba-rohg.medi.glif</string>
		<key>ca-rohg</key>
		<string>ca-rohg.glif</string>
		<key>ca-rohg.fina</key>
		<string>ca-rohg.fina.glif</string>
		<key>ca-rohg.init</key>
		<string>ca-rohg.init.glif</string>
		<key>ca-rohg.medi</key>
		<string>ca-rohg.medi.glif</string>
		<key>comma-ar</key>
		<string>comma-ar.glif</string>
		<key>da-rohg</key>
		<string>da-rohg.glif</string>
		<key>da-rohg.fina</key>
		<string>da-rohg.fina.glif</string>
		<key>da-rohg.init</key>
		<string>da-rohg.init.glif</string>
		<key>da-rohg.medi</key>
		<string>da-rohg.medi.glif</string>
		<key>dda-rohg</key>
		<string>dda-rohg.glif</string>
		<key>dda-rohg.fina</key>
		<string>dda-rohg.fina.glif</string>
		<key>dda-rohg.init</key>
		<string>dda-rohg.init.glif</string>
		<key>dda-rohg.medi</key>
		<string>dda-rohg.medi.glif</string>
		<key>eight-rohg</key>
		<string>eight-rohg.glif</string>
		<key>evowel-rohg</key>
		<string>evowel-rohg.glif</string>
		<key>evowel-rohg.fina</key>
		<string>evowel-rohg.fina.glif</string>
		<key>evowel-rohg.init</key>
		<string>evowel-rohg.init.glif</string>
		<key>evowel-rohg.medi</key>
		<string>evowel-rohg.medi.glif</string>
		<key>fa-rohg</key>
		<string>fa-rohg.glif</string>
		<key>fa-rohg.fina</key>
		<string>fa-rohg.fina.glif</string>
		<key>fa-rohg.init</key>
		<string>fa-rohg.init.glif</string>
		<key>fa-rohg.medi</key>
		<string>fa-rohg.medi.glif</string>
		<key>five-rohg</key>
		<string>five-rohg.glif</string>
		<key>four-rohg</key>
		<string>four-rohg.glif</string>
		<key>fullstop-fa.urdu</key>
		<string>fullstop-fa.urdu.glif</string>
		<key>ga-rohg</key>
		<string>ga-rohg.glif</string>
		<key>ga-rohg.fina</key>
		<string>ga-rohg.fina.glif</string>
		<key>ga-rohg.init</key>
		<string>ga-rohg.init.glif</string>
		<key>ga-rohg.medi</key>
		<string>ga-rohg.medi.glif</string>
		<key>guillemotleft</key>
		<string>guillemotleft.glif</string>
		<key>guillemotright</key>
		<string>guillemotright.glif</string>
		<key>ha-rohg</key>
		<string>ha-rohg.glif</string>
		<key>ha-rohg.fina</key>
		<string>ha-rohg.fina.glif</string>
		<key>ha-rohg.init</key>
		<string>ha-rohg.init.glif</string>
		<key>ha-rohg.medi</key>
		<string>ha-rohg.medi.glif</string>
		<key>harbahay-rohg</key>
		<string>harbahay-rohg.glif</string>
		<key>ivowel-rohg</key>
		<string>ivowel-rohg.glif</string>
		<key>ivowel-rohg.fina</key>
		<string>ivowel-rohg.fina.glif</string>
		<key>ivowel-rohg.init</key>
		<string>ivowel-rohg.init.glif</string>
		<key>ivowel-rohg.medi</key>
		<string>ivowel-rohg.medi.glif</string>
		<key>ja-rohg</key>
		<string>ja-rohg.glif</string>
		<key>ja-rohg.fina</key>
		<string>ja-rohg.fina.glif</string>
		<key>ja-rohg.init</key>
		<string>ja-rohg.init.glif</string>
		<key>ja-rohg.medi</key>
		<string>ja-rohg.medi.glif</string>
		<key>ka-rohg</key>
		<string>ka-rohg.glif</string>
		<key>ka-rohg.fina</key>
		<string>ka-rohg.fina.glif</string>
		<key>ka-rohg.init</key>
		<string>ka-rohg.init.glif</string>
		<key>ka-rohg.medi</key>
		<string>ka-rohg.medi.glif</string>
		<key>kashida-ar</key>
		<string>kashida-ar.glif</string>
		<key>kha-rohg</key>
		<string>kha-rohg.glif</string>
		<key>kha-rohg.fina</key>
		<string>kha-rohg.fina.glif</string>
		<key>kha-rohg.init</key>
		<string>kha-rohg.init.glif</string>
		<key>kha-rohg.medi</key>
		<string>kha-rohg.medi.glif</string>
		<key>kinnawa-rohg</key>
		<string>kinnawa-rohg.glif</string>
		<key>kinnawa-rohg.fina</key>
		<string>kinnawa-rohg.fina.glif</string>
		<key>kinnawa-rohg.init</key>
		<string>kinnawa-rohg.init.glif</string>
		<key>kinnawa-rohg.medi</key>
		<string>kinnawa-rohg.medi.glif</string>
		<key>kinnaya-rohg</key>
		<string>kinnaya-rohg.glif</string>
		<key>kinnaya-rohg.fina</key>
		<string>kinnaya-rohg.fina.glif</string>
		<key>kinnaya-rohg.init</key>
		<string>kinnaya-rohg.init.glif</string>
		<key>kinnaya-rohg.medi</key>
		<string>kinnaya-rohg.medi.glif</string>
		<key>la-rohg</key>
		<string>la-rohg.glif</string>
		<key>la-rohg.fina</key>
		<string>la-rohg.fina.glif</string>
		<key>la-rohg.init</key>
		<string>la-rohg.init.glif</string>
		<key>la-rohg.medi</key>
		<string>la-rohg.medi.glif</string>
		<key>ma-rohg</key>
		<string>ma-rohg.glif</string>
		<key>ma-rohg.fina</key>
		<string>ma-rohg.fina.glif</string>
		<key>ma-rohg.init</key>
		<string>ma-rohg.init.glif</string>
		<key>ma-rohg.medi</key>
		<string>ma-rohg.medi.glif</string>
		<key>na-rohg</key>
		<string>na-rohg.glif</string>
		<key>na-rohg.fina</key>
		<string>na-rohg.fina.glif</string>
		<key>na-rohg.init</key>
		<string>na-rohg.init.glif</string>
		<key>na-rohg.medi</key>
		<string>na-rohg.medi.glif</string>
		<key>nakhonna-rohg</key>
		<string>nakhonna-rohg.glif</string>
		<key>nakhonna-rohg.fina</key>
		<string>nakhonna-rohg.fina.glif</string>
		<key>nakhonna-rohg.init</key>
		<string>nakhonna-rohg.init.glif</string>
		<key>nakhonna-rohg.medi</key>
		<string>nakhonna-rohg.medi.glif</string>
		<key>nbspace</key>
		<string>nbspace.glif</string>
		<key>nga-rohg</key>
		<string>nga-rohg.glif</string>
		<key>nga-rohg.fina</key>
		<string>nga-rohg.fina.glif</string>
		<key>nga-rohg.init</key>
		<string>nga-rohg.init.glif</string>
		<key>nga-rohg.medi</key>
		<string>nga-rohg.medi.glif</string>
		<key>nine-rohg</key>
		<string>nine-rohg.glif</string>
		<key>nya-rohg</key>
		<string>nya-rohg.glif</string>
		<key>nya-rohg.fina</key>
		<string>nya-rohg.fina.glif</string>
		<key>nya-rohg.init</key>
		<string>nya-rohg.init.glif</string>
		<key>nya-rohg.medi</key>
		<string>nya-rohg.medi.glif</string>
		<key>one-rohg</key>
		<string>one-rohg.glif</string>
		<key>ovowel-rohg</key>
		<string>ovowel-rohg.glif</string>
		<key>ovowel-rohg.fina</key>
		<string>ovowel-rohg.fina.glif</string>
		<key>ovowel-rohg.init</key>
		<string>ovowel-rohg.init.glif</string>
		<key>ovowel-rohg.medi</key>
		<string>ovowel-rohg.medi.glif</string>
		<key>pa-rohg</key>
		<string>pa-rohg.glif</string>
		<key>pa-rohg.fina</key>
		<string>pa-rohg.fina.glif</string>
		<key>pa-rohg.init</key>
		<string>pa-rohg.init.glif</string>
		<key>pa-rohg.medi</key>
		<string>pa-rohg.medi.glif</string>
		<key>question-ar</key>
		<string>question-ar.glif</string>
		<key>ra-rohg</key>
		<string>ra-rohg.glif</string>
		<key>ra-rohg.fina</key>
		<string>ra-rohg.fina.glif</string>
		<key>ra-rohg.init</key>
		<string>ra-rohg.init.glif</string>
		<key>ra-rohg.medi</key>
		<string>ra-rohg.medi.glif</string>
		<key>rra-rohg</key>
		<string>rra-rohg.glif</string>
		<key>rra-rohg.fina</key>
		<string>rra-rohg.fina.glif</string>
		<key>rra-rohg.init</key>
		<string>rra-rohg.init.glif</string>
		<key>rra-rohg.medi</key>
		<string>rra-rohg.medi.glif</string>
		<key>sa-rohg</key>
		<string>sa-rohg.glif</string>
		<key>sa-rohg.fina</key>
		<string>sa-rohg.fina.glif</string>
		<key>sa-rohg.init</key>
		<string>sa-rohg.init.glif</string>
		<key>sa-rohg.medi</key>
		<string>sa-rohg.medi.glif</string>
		<key>sakin-rohg</key>
		<string>sakin-rohg.glif</string>
		<key>sakin-rohg.fina</key>
		<string>sakin-rohg.fina.glif</string>
		<key>semicolon-ar</key>
		<string>semicolon-ar.glif</string>
		<key>seven-rohg</key>
		<string>seven-rohg.glif</string>
		<key>sha-rohg</key>
		<string>sha-rohg.glif</string>
		<key>sha-rohg.fina</key>
		<string>sha-rohg.fina.glif</string>
		<key>sha-rohg.init</key>
		<string>sha-rohg.init.glif</string>
		<key>sha-rohg.medi</key>
		<string>sha-rohg.medi.glif</string>
		<key>six-rohg</key>
		<string>six-rohg.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>ta-rohg</key>
		<string>ta-rohg.glif</string>
		<key>ta-rohg.fina</key>
		<string>ta-rohg.fina.glif</string>
		<key>ta-rohg.init</key>
		<string>ta-rohg.init.glif</string>
		<key>ta-rohg.medi</key>
		<string>ta-rohg.medi.glif</string>
		<key>tahala-rohg</key>
		<string>tahala-rohg.glif</string>
		<key>tana-rohg</key>
		<string>tana-rohg.glif</string>
		<key>tana-rohg.ss01</key>
		<string>tana-rohg.ss01.glif</string>
		<key>tassi-rohg</key>
		<string>tassi-rohg.glif</string>
		<key>three-rohg</key>
		<string>three-rohg.glif</string>
		<key>tta-rohg</key>
		<string>tta-rohg.glif</string>
		<key>tta-rohg.fina</key>
		<string>tta-rohg.fina.glif</string>
		<key>tta-rohg.init</key>
		<string>tta-rohg.init.glif</string>
		<key>tta-rohg.medi</key>
		<string>tta-rohg.medi.glif</string>
		<key>two-rohg</key>
		<string>two-rohg.glif</string>
		<key>uvowel-rohg</key>
		<string>uvowel-rohg.glif</string>
		<key>uvowel-rohg.fina</key>
		<string>uvowel-rohg.fina.glif</string>
		<key>uvowel-rohg.init</key>
		<string>uvowel-rohg.init.glif</string>
		<key>uvowel-rohg.medi</key>
		<string>uvowel-rohg.medi.glif</string>
		<key>va-rohg</key>
		<string>va-rohg.glif</string>
		<key>va-rohg.fina</key>
		<string>va-rohg.fina.glif</string>
		<key>va-rohg.init</key>
		<string>va-rohg.init.glif</string>
		<key>va-rohg.medi</key>
		<string>va-rohg.medi.glif</string>
		<key>wa-rohg</key>
		<string>wa-rohg.glif</string>
		<key>wa-rohg.fina</key>
		<string>wa-rohg.fina.glif</string>
		<key>wa-rohg.init</key>
		<string>wa-rohg.init.glif</string>
		<key>wa-rohg.medi</key>
		<string>wa-rohg.medi.glif</string>
		<key>xx.connection-rohg</key>
		<string>xx.connection-rohg.glif</string>
		<key>xx.connectionlong-rohg</key>
		<string>xx.connectionlong-rohg.glif</string>
		<key>xx.evowelmark-rohg</key>
		<string>xx.evowelmark-rohg.glif</string>
		<key>xx.ivowelmark-rohg</key>
		<string>xx.ivowelmark-rohg.glif</string>
		<key>xx.singledot-rohg</key>
		<string>xx.singledot-rohg.glif</string>
		<key>xx.tripledot-rohg</key>
		<string>xx.tripledot-rohg.glif</string>
		<key>ya-rohg</key>
		<string>ya-rohg.glif</string>
		<key>ya-rohg.fina</key>
		<string>ya-rohg.fina.glif</string>
		<key>ya-rohg.init</key>
		<string>ya-rohg.init.glif</string>
		<key>ya-rohg.medi</key>
		<string>ya-rohg.medi.glif</string>
		<key>za-rohg</key>
		<string>za-rohg.glif</string>
		<key>za-rohg.fina</key>
		<string>za-rohg.fina.glif</string>
		<key>za-rohg.init</key>
		<string>za-rohg.init.glif</string>
		<key>za-rohg.medi</key>
		<string>za-rohg.medi.glif</string>
		<key>zero-ar</key>
		<string>zero-ar.glif</string>
		<key>zero-rohg</key>
		<string>zero-rohg.glif</string>
	</dict>
</plist>
