<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.HMNP_a_1ST</key>
		<array>
			<string>a-hmnp</string>
			<string>ca-hmnp</string>
			<string>ha-hmnp</string>
			<string>na-hmnp</string>
			<string>npa-hmnp</string>
			<string>xwXw-hmnp</string>
			<string>xya-hmnp</string>
			<string>six-hmnp</string>
		</array>
		<key>public.kern1.HMNP_aa_1ST</key>
		<array>
			<string>aa-hmnp</string>
		</array>
		<key>public.kern1.HMNP_da_1ST</key>
		<array>
			<string>da-hmnp</string>
		</array>
		<key>public.kern1.HMNP_e_1ST</key>
		<array>
			<string>e-hmnp</string>
		</array>
		<key>public.kern1.HMNP_ee_1ST</key>
		<array>
			<string>ee-hmnp</string>
			<string>npla-hmnp</string>
		</array>
		<key>public.kern1.HMNP_eight_1ST</key>
		<array>
			<string>eight-hmnp</string>
		</array>
		<key>public.kern1.HMNP_fa_1ST</key>
		<array>
			<string>fa-hmnp</string>
			<string>pla-hmnp</string>
		</array>
		<key>public.kern1.HMNP_five</key>
		<array>
			<string>five-hmnp</string>
		</array>
		<key>public.kern1.HMNP_ga_1ST</key>
		<array>
			<string>ga-hmnp</string>
		</array>
		<key>public.kern1.HMNP_i_1ST</key>
		<array>
			<string>i-hmnp</string>
		</array>
		<key>public.kern1.HMNP_ka_1ST</key>
		<array>
			<string>hah-hmnp</string>
			<string>ka-hmnp</string>
			<string>nca-hmnp</string>
			<string>nta-hmnp</string>
			<string>pa-hmnp</string>
			<string>ra-hmnp</string>
			<string>ta-hmnp</string>
			<string>tsa-hmnp</string>
			<string>xa-hmnp</string>
			<string>zero-hmnp</string>
		</array>
		<key>public.kern1.HMNP_khabTheeb</key>
		<array>
			<string>khabTheeb-hmnp</string>
			<string>khuamLuas-hmnp</string>
			<string>oov-hmnp</string>
			<string>pes-hmnp</string>
			<string>poos-hmnp</string>
		</array>
		<key>public.kern1.HMNP_khuSaim_1ST</key>
		<array>
			<string>khuSaim-hmnp</string>
		</array>
		<key>public.kern1.HMNP_la_1ST</key>
		<array>
			<string>la-hmnp</string>
		</array>
		<key>public.kern1.HMNP_ma_1ST</key>
		<array>
			<string>dla-hmnp</string>
			<string>ma-hmnp</string>
		</array>
		<key>public.kern1.HMNP_mla_1ST</key>
		<array>
			<string>mla-hmnp</string>
			<string>nya-hmnp</string>
		</array>
		<key>public.kern1.HMNP_nine_1ST</key>
		<array>
			<string>nine-hmnp</string>
		</array>
		<key>public.kern1.HMNP_nka</key>
		<array>
			<string>nka-hmnp</string>
		</array>
		<key>public.kern1.HMNP_nra_1ST</key>
		<array>
			<string>nra-hmnp</string>
		</array>
		<key>public.kern1.HMNP_ntsa_1ST</key>
		<array>
			<string>ntsa-hmnp</string>
		</array>
		<key>public.kern1.HMNP_ntxa_1ST</key>
		<array>
			<string>ntxa-hmnp</string>
		</array>
		<key>public.kern1.HMNP_oo_1ST</key>
		<array>
			<string>oo-hmnp</string>
		</array>
		<key>public.kern1.HMNP_qa_1ST</key>
		<array>
			<string>qa-hmnp</string>
		</array>
		<key>public.kern1.HMNP_rra_1ST</key>
		<array>
			<string>rra-hmnp</string>
		</array>
		<key>public.kern1.HMNP_sa_1ST</key>
		<array>
			<string>nqa-hmnp</string>
			<string>sa-hmnp</string>
			<string>za-hmnp</string>
			<string>four-hmnp</string>
		</array>
		<key>public.kern1.HMNP_seven_1ST</key>
		<array>
			<string>seven-hmnp</string>
		</array>
		<key>public.kern1.HMNP_three</key>
		<array>
			<string>three-hmnp</string>
		</array>
		<key>public.kern1.HMNP_two</key>
		<array>
			<string>two-hmnp</string>
		</array>
		<key>public.kern1.HMNP_txa</key>
		<array>
			<string>txa-hmnp</string>
		</array>
		<key>public.kern1.HMNP_u_1ST</key>
		<array>
			<string>u-hmnp</string>
		</array>
		<key>public.kern1.HMNP_va_1ST</key>
		<array>
			<string>nyaj-hmnp</string>
			<string>o-hmnp</string>
			<string>va-hmnp</string>
			<string>one-hmnp</string>
		</array>
		<key>public.kern1.HMNP_w_1ST</key>
		<array>
			<string>w-hmnp</string>
		</array>
		<key>public.kern1.HMNP_ya_1ST</key>
		<array>
			<string>ya-hmnp</string>
		</array>
		<key>public.kern2.HMNP_a_2ND</key>
		<array>
			<string>a-hmnp</string>
			<string>xwXw-hmnp</string>
		</array>
		<key>public.kern2.HMNP_aa_2ND</key>
		<array>
			<string>aa-hmnp</string>
		</array>
		<key>public.kern2.HMNP_da_2ND</key>
		<array>
			<string>da-hmnp</string>
			<string>i-hmnp</string>
			<string>mla-hmnp</string>
			<string>nyaj-hmnp</string>
			<string>o-hmnp</string>
			<string>zero-hmnp</string>
		</array>
		<key>public.kern2.HMNP_e_2ND</key>
		<array>
			<string>e-hmnp</string>
		</array>
		<key>public.kern2.HMNP_ee_2ND</key>
		<array>
			<string>ee-hmnp</string>
		</array>
		<key>public.kern2.HMNP_eight_2ND</key>
		<array>
			<string>eight-hmnp</string>
		</array>
		<key>public.kern2.HMNP_fa_2ND</key>
		<array>
			<string>fa-hmnp</string>
		</array>
		<key>public.kern2.HMNP_five</key>
		<array>
			<string>five-hmnp</string>
		</array>
		<key>public.kern2.HMNP_four_2ND</key>
		<array>
			<string>four-hmnp</string>
		</array>
		<key>public.kern2.HMNP_ga_2ND</key>
		<array>
			<string>ga-hmnp</string>
		</array>
		<key>public.kern2.HMNP_ha_2ND</key>
		<array>
			<string>ha-hmnp</string>
			<string>hah-hmnp</string>
			<string>tsa-hmnp</string>
			<string>va-hmnp</string>
			<string>w-hmnp</string>
			<string>za-hmnp</string>
		</array>
		<key>public.kern2.HMNP_ka_2ND</key>
		<array>
			<string>ka-hmnp</string>
		</array>
		<key>public.kern2.HMNP_khabTheeb</key>
		<array>
			<string>khabTheeb-hmnp</string>
			<string>khuamLuas-hmnp</string>
			<string>oov-hmnp</string>
			<string>pes-hmnp</string>
			<string>poos-hmnp</string>
		</array>
		<key>public.kern2.HMNP_la_2ND</key>
		<array>
			<string>la-hmnp</string>
		</array>
		<key>public.kern2.HMNP_ma_2ND</key>
		<array>
			<string>ma-hmnp</string>
			<string>npla-hmnp</string>
			<string>ntsa-hmnp</string>
			<string>nya-hmnp</string>
		</array>
		<key>public.kern2.HMNP_na_2ND</key>
		<array>
			<string>na-hmnp</string>
		</array>
		<key>public.kern2.HMNP_nca_2ND</key>
		<array>
			<string>dla-hmnp</string>
			<string>khuSaim-hmnp</string>
			<string>nca-hmnp</string>
			<string>nta-hmnp</string>
			<string>xa-hmnp</string>
			<string>one-hmnp</string>
		</array>
		<key>public.kern2.HMNP_nine_2ND</key>
		<array>
			<string>nine-hmnp</string>
		</array>
		<key>public.kern2.HMNP_nka</key>
		<array>
			<string>nka-hmnp</string>
		</array>
		<key>public.kern2.HMNP_nqa_2ND</key>
		<array>
			<string>nqa-hmnp</string>
		</array>
		<key>public.kern2.HMNP_nra_2ND</key>
		<array>
			<string>nra-hmnp</string>
		</array>
		<key>public.kern2.HMNP_ntxa_2ND</key>
		<array>
			<string>ntxa-hmnp</string>
			<string>pla-hmnp</string>
		</array>
		<key>public.kern2.HMNP_oo_2ND</key>
		<array>
			<string>ca-hmnp</string>
			<string>oo-hmnp</string>
		</array>
		<key>public.kern2.HMNP_pa_2ND</key>
		<array>
			<string>npa-hmnp</string>
			<string>pa-hmnp</string>
		</array>
		<key>public.kern2.HMNP_qa_2ND</key>
		<array>
			<string>qa-hmnp</string>
		</array>
		<key>public.kern2.HMNP_ra_2ND</key>
		<array>
			<string>ra-hmnp</string>
		</array>
		<key>public.kern2.HMNP_rra_2ND</key>
		<array>
			<string>rra-hmnp</string>
		</array>
		<key>public.kern2.HMNP_sa_2ND</key>
		<array>
			<string>sa-hmnp</string>
			<string>ta-hmnp</string>
		</array>
		<key>public.kern2.HMNP_six_2ND</key>
		<array>
			<string>six-hmnp</string>
		</array>
		<key>public.kern2.HMNP_three</key>
		<array>
			<string>three-hmnp</string>
		</array>
		<key>public.kern2.HMNP_two</key>
		<array>
			<string>two-hmnp</string>
		</array>
		<key>public.kern2.HMNP_txa</key>
		<array>
			<string>txa-hmnp</string>
		</array>
		<key>public.kern2.HMNP_u_2ND</key>
		<array>
			<string>u-hmnp</string>
		</array>
		<key>public.kern2.HMNP_xya_2ND</key>
		<array>
			<string>xya-hmnp</string>
		</array>
		<key>public.kern2.HMNP_ya_2ND</key>
		<array>
			<string>ya-hmnp</string>
			<string>seven-hmnp</string>
		</array>
	</dict>
</plist>
