<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>iMatra-beng</key>
    <dict>
      <key>kha-beng</key>
      <integer>-25</integer>
    </dict>
    <key>iMatra-beng.wide3</key>
    <dict>
      <key>p_tta-beng</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.bnmE</key>
    <dict>
      <key>c_ba-beng</key>
      <integer>20</integer>
      <key>j_ny_ba-beng</key>
      <integer>-20</integer>
      <key>m_b_ra-beng</key>
      <integer>10</integer>
      <key>n_d_ba-beng</key>
      <integer>-60</integer>
      <key>p_ba-beng</key>
      <integer>-35</integer>
      <key>p_ma-beng</key>
      <integer>-35</integer>
      <key>p_na-beng</key>
      <integer>-25</integer>
      <key>p_sa-beng</key>
      <integer>-35</integer>
      <key>p_tta_auLength-beng</key>
      <integer>-35</integer>
      <key>p_tta_iiMatra-beng</key>
      <integer>-35</integer>
      <key>public.kern2.above_N</key>
      <integer>-35</integer>
      <key>public.kern2.b_ra</key>
      <integer>10</integer>
      <key>public.kern2.bnBA</key>
      <integer>-15</integer>
      <key>public.kern2.lower_LA</key>
      <integer>20</integer>
      <key>public.kern2.upper_SA</key>
      <integer>-35</integer>
      <key>public.kern2.upper_SHA</key>
      <integer>-35</integer>
      <key>public.kern2.upper_ttha</key>
      <integer>-35</integer>
      <key>ss_ba-beng</key>
      <integer>-20</integer>
      <key>ss_ka-beng</key>
      <integer>-30</integer>
      <key>ss_tt_ra-beng</key>
      <integer>20</integer>
      <key>t_t_ba-beng</key>
      <integer>-30</integer>
      <key>tt_ba-beng</key>
      <integer>20</integer>
    </dict>
  </dict>
</plist>
