<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10A80</key>
    <string>u10A_80.glif</string>
    <key>u10A81</key>
    <string>u10A_81.glif</string>
    <key>u10A82</key>
    <string>u10A_82.glif</string>
    <key>u10A83</key>
    <string>u10A_83.glif</string>
    <key>u10A84</key>
    <string>u10A_84.glif</string>
    <key>u10A85</key>
    <string>u10A_85.glif</string>
    <key>u10A86</key>
    <string>u10A_86.glif</string>
    <key>u10A87</key>
    <string>u10A_87.glif</string>
    <key>u10A88</key>
    <string>u10A_88.glif</string>
    <key>u10A89</key>
    <string>u10A_89.glif</string>
    <key>u10A8A</key>
    <string>u10A_8A_.glif</string>
    <key>u10A8B</key>
    <string>u10A_8B_.glif</string>
    <key>u10A8C</key>
    <string>u10A_8C_.glif</string>
    <key>u10A8D</key>
    <string>u10A_8D_.glif</string>
    <key>u10A8E</key>
    <string>u10A_8E_.glif</string>
    <key>u10A8F</key>
    <string>u10A_8F_.glif</string>
    <key>u10A90</key>
    <string>u10A_90.glif</string>
    <key>u10A91</key>
    <string>u10A_91.glif</string>
    <key>u10A92</key>
    <string>u10A_92.glif</string>
    <key>u10A93</key>
    <string>u10A_93.glif</string>
    <key>u10A94</key>
    <string>u10A_94.glif</string>
    <key>u10A95</key>
    <string>u10A_95.glif</string>
    <key>u10A96</key>
    <string>u10A_96.glif</string>
    <key>u10A97</key>
    <string>u10A_97.glif</string>
    <key>u10A98</key>
    <string>u10A_98.glif</string>
    <key>u10A99</key>
    <string>u10A_99.glif</string>
    <key>u10A9A</key>
    <string>u10A_9A_.glif</string>
    <key>u10A9B</key>
    <string>u10A_9B_.glif</string>
    <key>u10A9C</key>
    <string>u10A_9C_.glif</string>
    <key>u10A9D</key>
    <string>u10A_9D_.glif</string>
    <key>u10A9E</key>
    <string>u10A_9E_.glif</string>
    <key>u10A9F</key>
    <string>u10A_9F_.glif</string>
  </dict>
</plist>
