<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cii-tamil</key>
    <dict>
      <key>cii-tamil</key>
      <integer>0</integer>
      <key>public.kern2.exclam</key>
      <real>11.196811379310345</real>
      <key>public.kern2.quoteright</key>
      <real>33.59038827586207</real>
      <key>public.kern2.quotesingle</key>
      <real>38.06909448275862</real>
    </dict>
    <key>hii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>35.35827850574712</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>6.600216091954024</real>
      <key>public.kern2.parenright</key>
      <real>59.99685758620689</real>
      <key>public.kern2.quoteright</key>
      <real>30.655104137931037</real>
      <key>public.kern2.quotesingle</key>
      <real>39.107399310344825</real>
    </dict>
    <key>jii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>56.89877862068966</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>17.701607241379314</real>
      <key>public.kern2.parenright</key>
      <real>85.39874896551724</real>
      <key>public.kern2.quoteright</key>
      <real>57.25239643678161</real>
      <key>public.kern2.quotesingle</key>
      <real>59.890267586206896</real>
    </dict>
    <key>llii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>69.82979827586209</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>36.95222413793103</real>
      <key>public.kern2.parenright</key>
      <real>97.33068</real>
      <key>public.kern2.quoteright</key>
      <real>69.07230586206896</real>
      <key>public.kern2.quotesingle</key>
      <real>73.89898172413791</real>
    </dict>
    <key>lllii-tamil</key>
    <dict>
      <key>eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <real>25.19981137931035</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>10.573787586206896</real>
      <key>public.kern2.parenright</key>
      <real>56.41611103448275</real>
      <key>public.kern2.quoteright</key>
      <real>16.354627931034486</real>
      <key>public.kern2.quotesingle</key>
      <real>25.946262413793107</real>
    </dict>
    <key>mii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>9.383973333333337</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>6.768589954022989</real>
      <key>public.kern2.parenright</key>
      <real>61.2540575862069</real>
      <key>public.kern2.quoteright</key>
      <real>13.267773793103448</real>
      <key>public.kern2.quotesingle</key>
      <real>33.11334137931034</real>
      <key>question</key>
      <real>4.445041839080461</real>
      <key>quotedblright</key>
      <real>1.1196811379310343</real>
    </dict>
    <key>ngii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>17.91487068965517</real>
      <key>public.kern2.parenright</key>
      <real>40.98755793103448</real>
      <key>public.kern2.quoteright</key>
      <real>15.675517586206894</real>
      <key>public.kern2.quotesingle</key>
      <real>15.675517586206894</real>
    </dict>
    <key>nnii-tamil</key>
    <dict>
      <key>braceright</key>
      <real>19.57053367816092</real>
      <key>bracketright</key>
      <real>20.064426091954026</real>
      <key>eMatra-tamil</key>
      <real>1.4816772413793107</real>
      <key>eeMatra-tamil</key>
      <real>1.9755696551724138</real>
      <key>parenright</key>
      <real>21.66957643678161</real>
      <key>public.kern2.T</key>
      <real>35.403215402298855</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>8.42423659770115</real>
      <key>public.kern2.parenright</key>
      <real>53.637965287356316</real>
      <key>public.kern2.quoteright</key>
      <real>37.64256850574713</real>
      <key>public.kern2.quotesingle</key>
      <real>41.26818781609195</real>
      <key>question</key>
      <real>20.496598390804596</real>
      <key>quotedbl</key>
      <real>20.1878991954023</real>
      <key>quotedblright</key>
      <real>12.532556666666665</real>
    </dict>
    <key>nnnii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>21.647143333333332</real>
      <key>public.kern2.eMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.parenright</key>
      <real>61.287721954022985</real>
      <key>public.kern2.quoteright</key>
      <real>28.36520264367816</real>
      <key>public.kern2.quotesingle</key>
      <real>33.994480229885056</real>
    </dict>
    <key>pii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>21.80427344827586</real>
      <key>public.kern2.parenright</key>
      <real>43.361654827586214</real>
      <key>public.kern2.quoteright</key>
      <real>22.39357689655173</real>
      <key>public.kern2.quotesingle</key>
      <real>21.80427344827586</real>
    </dict>
    <key>public.kern1.aa-tamil</key>
    <dict>
      <key>lu-tamil</key>
      <real>6.184892666666667</real>
      <key>luu-tamil</key>
      <real>-1.7061772873563221</real>
      <key>public.kern2.T</key>
      <real>-59.14379</real>
      <key>public.kern2.debit-tamil</key>
      <real>19.5312</real>
      <key>public.kern2.e-tamil</key>
      <real>-20.356261586206898</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-35.29095896551724</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-44.192273793103446</real>
      <key>public.kern2.exclam</key>
      <real>-15.37804574712644</real>
      <key>public.kern2.hyphen</key>
      <real>-34.1797</real>
      <key>public.kern2.ka-tamil</key>
      <real>-16.315313540229887</real>
      <key>public.kern2.nya-tamil</key>
      <real>-5.9716257471264385</real>
      <key>public.kern2.o-tamil</key>
      <real>-21.518067931034487</real>
      <key>public.kern2.parenright</key>
      <real>9.76562</real>
      <key>public.kern2.quoteright</key>
      <real>-66.40637586206897</real>
      <key>public.kern2.quotesingle</key>
      <real>-92.68938206896551</real>
      <key>public.kern2.rupee-tamil</key>
      <real>-10.624326896551725</real>
      <key>public.kern2.slash</key>
      <real>14.322916666666666</real>
      <key>public.kern2.ya-tamil</key>
      <real>-18.554703333333336</real>
      <key>slash</key>
      <real>24.739583333333336</real>
      <key>ta-tamil</key>
      <real>-4.88281</real>
      <key>tuu-tamil</key>
      <real>7.161439999999999</real>
    </dict>
    <key>public.kern1.ai-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
      <key>public.kern2.u-tamil</key>
      <real>-12.409056068965517</real>
    </dict>
    <key>public.kern1.ca-tamil</key>
    <dict>
      <key>braceright</key>
      <real>57.499308735632184</real>
      <key>bracketright</key>
      <real>80.08379655172412</real>
      <key>parenright</key>
      <real>85.4605908045977</real>
      <key>public.kern2.a-tamil</key>
      <real>-27.697340827586203</real>
      <key>public.kern2.ka-tamil</key>
      <real>-7.980857724137932</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.period</key>
      <real>-29.2969</real>
      <key>public.kern2.quoteright</key>
      <real>33.59038827586207</real>
      <key>public.kern2.quotesingle</key>
      <real>38.06909448275862</real>
      <key>public.kern2.u-tamil</key>
      <real>-15.860735517241382</real>
      <key>question</key>
      <real>48.6709808045977</real>
      <key>quotedbl</key>
      <real>12.9647024137931</real>
      <key>quotedblright</key>
      <real>7.778832068965517</real>
    </dict>
    <key>public.kern1.e-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <integer>0</integer>
      <key>public.kern2.a-tamil</key>
      <real>-62.6066116091954</real>
      <key>public.kern2.ai-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.346017908045976</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-39.275761609195406</real>
      <key>public.kern2.nya-tamil</key>
      <real>-28.387666896551725</real>
      <key>public.kern2.o-tamil</key>
      <real>-26.019240229885057</real>
      <key>public.kern2.om-tamil</key>
      <real>-24.4141</real>
      <key>public.kern2.period</key>
      <real>-48.42400620689655</real>
      <key>public.kern2.rra-tamil</key>
      <real>-7.470151333333334</real>
      <key>public.kern2.slash</key>
      <real>-3.580727333333333</real>
      <key>public.kern2.u-tamil</key>
      <real>-33.62404344827586</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-52.75124965517241</real>
      <key>slash</key>
      <real>-10.663589701149425</real>
    </dict>
    <key>public.kern1.five-tamil</key>
    <dict>
      <key>public.kern2.ka-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-14.6484</real>
    </dict>
    <key>public.kern1.ka-tamil</key>
    <dict>
      <key>eeMatra-tamil</key>
      <real>-28.41570517241379</real>
      <key>public.kern2.T</key>
      <real>-37.46297218390805</real>
      <key>public.kern2.a-tamil</key>
      <real>28.690732758620694</real>
      <key>public.kern2.ai-tamil</key>
      <real>-14.345329655172414</real>
      <key>public.kern2.e-tamil</key>
      <real>-7.17267951724138</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-6.734924137931036</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-28.18561551724138</real>
      <key>public.kern2.exclam</key>
      <real>-10.641164137931037</real>
      <key>public.kern2.i-tamil</key>
      <real>-13.351937724137931</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.30342802298851</real>
      <key>public.kern2.quoteright</key>
      <real>-29.21266793103448</real>
      <key>public.kern2.quotesingle</key>
      <real>-56.74165034482759</real>
      <key>quotedbl</key>
      <real>-11.196811379310345</real>
    </dict>
    <key>public.kern1.kuu-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-33.61286367816092</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-21.360892735632184</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-33.73070689655172</real>
      <key>public.kern2.quotesingle</key>
      <real>-58.5938</real>
    </dict>
    <key>public.kern1.la-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-7.486965310344829</real>
      <key>public.kern2.a-tamil</key>
      <real>-20.524676000000003</real>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.exclam</key>
      <real>-7.58801103448276</real>
      <key>public.kern2.hyphen</key>
      <real>19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.u-tamil</key>
      <real>-6.993074919540231</real>
    </dict>
    <key>public.kern1.lii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>40.94827103448276</real>
      <key>public.kern2.a-tamil</key>
      <real>-16.029098850574716</real>
      <key>public.kern2.e-tamil</key>
      <real>-8.441097931034484</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>24.009952068965518</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>20.345067</real>
      <key>public.kern2.hyphen</key>
      <real>-14.6484</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.971306206896552</real>
      <key>public.kern2.nya-tamil</key>
      <real>-8.800282298850577</real>
      <key>public.kern2.o-tamil</key>
      <real>-7.094108505747127</real>
      <key>public.kern2.parenright</key>
      <real>58.5938</real>
      <key>public.kern2.period</key>
      <real>-37.227240689655176</real>
      <key>public.kern2.quoteright</key>
      <real>29.2969</real>
      <key>public.kern2.quotesingle</key>
      <real>34.1797</real>
      <key>public.kern2.rra-tamil</key>
      <real>-12.54936735632184</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-21.14762931034483</real>
    </dict>
    <key>public.kern1.ma-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-10.265114942528738</real>
      <key>public.kern2.a-tamil</key>
      <real>-4.534830344827587</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-5.286904620689655</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-12.05546748275862</real>
      <key>public.kern2.ka-tamil</key>
      <real>-3.4123475862068973</real>
      <key>public.kern2.quoteright</key>
      <real>-0.9877868505747128</real>
      <key>public.kern2.quotesingle</key>
      <real>-6.375712183908047</real>
      <key>public.kern2.u-tamil</key>
      <real>-7.980857724137932</real>
      <key>question</key>
      <real>7.778832068965517</real>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.month-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>95.0971227586207</real>
      <key>public.kern2.a-tamil</key>
      <real>-86.8803508045977</real>
      <key>public.kern2.colon</key>
      <real>30.52599103448276</real>
      <key>public.kern2.e-tamil</key>
      <real>-3.8894027586206894</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>46.992840689655175</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>46.992840689655175</real>
      <key>public.kern2.exclam</key>
      <real>99.311851954023</real>
      <key>public.kern2.i-tamil</key>
      <real>39.0625</real>
      <key>public.kern2.ka-tamil</key>
      <real>-17.24136172413793</real>
      <key>public.kern2.parenright</key>
      <real>97.6562</real>
      <key>public.kern2.period</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>97.6562</real>
      <key>public.kern2.quotesingle</key>
      <real>106.6138875862069</real>
      <key>public.kern2.u-tamil</key>
      <real>-15.159157241379312</real>
    </dict>
    <key>public.kern1.number-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>54.72681931034482</real>
      <key>public.kern2.a-tamil</key>
      <real>-53.78393482758621</real>
      <key>public.kern2.e-tamil</key>
      <real>-5.522625287356323</real>
      <key>public.kern2.exclam</key>
      <real>11.196811379310345</real>
      <key>public.kern2.ka-tamil</key>
      <real>-12.279978850574713</real>
      <key>public.kern2.parenright</key>
      <real>33.47253482758621</real>
      <key>public.kern2.period</key>
      <real>-48.8281</real>
      <key>public.kern2.quoteright</key>
      <real>58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>58.5938</real>
      <key>public.kern2.u-tamil</key>
      <real>-13.829015172413797</real>
    </dict>
    <key>public.kern1.o-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-12.482035862068967</real>
      <key>public.kern2.quoteright</key>
      <real>-19.5312</real>
      <key>public.kern2.quotesingle</key>
      <real>-19.93534793103448</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-245.21841679310342</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.ka-tamil</key>
      <real>-68.2639788505747</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.u-tamil</key>
      <real>-39.36557034482758</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-32.87762</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-238.3482901034483</real>
      <key>public.kern2.e-tamil</key>
      <real>-19.93534793103448</real>
      <key>public.kern2.ka-tamil</key>
      <real>-71.36765379310344</real>
      <key>public.kern2.nya-tamil</key>
      <real>-34.1797</real>
      <key>public.kern2.o-tamil</key>
      <real>-19.93534793103448</real>
      <key>public.kern2.om-tamil</key>
      <real>-19.93534793103448</real>
      <key>public.kern2.u-tamil</key>
      <real>-22.124161724137927</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-47.121926206896546</real>
    </dict>
    <key>public.kern1.sha-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-28.993803103448272</real>
      <key>public.kern2.ka-tamil</key>
      <real>-15.860735517241382</real>
    </dict>
    <key>public.kern1.shrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>29.583105517241375</real>
      <key>public.kern2.a-tamil</key>
      <real>29.2969</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-1.9755696551724138</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-0.3367549425287377</real>
      <key>public.kern2.parenright</key>
      <real>33.47253482758621</real>
      <key>public.kern2.quoteright</key>
      <real>28.28663793103448</real>
      <key>public.kern2.quotesingle</key>
      <real>37.951241034482756</real>
    </dict>
    <key>public.kern1.ssa-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-16.040297908045975</real>
      <key>public.kern2.quotesingle</key>
      <real>-10.573787586206896</real>
    </dict>
    <key>public.kern1.ten-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-19.22820575862069</real>
    </dict>
    <key>public.kern1.tti-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-24.470178275862068</real>
      <key>public.kern2.a-tamil</key>
      <real>48.8281</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-19.5312</real>
      <key>public.kern2.exclam</key>
      <real>-4.8940248275862075</real>
      <key>public.kern2.quoteright</key>
      <real>-58.5938</real>
      <key>public.kern2.quotesingle</key>
      <real>-65.31185931034483</real>
      <key>public.kern2.u-tamil</key>
      <real>34.1797</real>
    </dict>
    <key>public.kern1.ttuu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-19.12715206896552</real>
      <key>public.kern2.ka-tamil</key>
      <real>-14.244317034482759</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.310999793103448</real>
      <key>public.kern2.rra-tamil</key>
      <real>-18.723069103448275</real>
    </dict>
    <key>public.kern1.u-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-22.444106091954026</real>
      <key>public.kern2.a-tamil</key>
      <real>42.34576206896552</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>-7.161439999999999</real>
      <key>public.kern2.eeMatra-tamil</key>
      <real>-10.742196666666667</real>
      <key>public.kern2.hyphen</key>
      <real>-19.5312</real>
      <key>public.kern2.quoteright</key>
      <real>-30.08818701149425</real>
      <key>public.kern2.quotesingle</key>
      <real>-44.248396896551725</real>
    </dict>
    <key>public.kern1.uMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-107.50595965517242</real>
      <key>public.kern2.ka-tamil</key>
      <real>-11.06208227586207</real>
      <key>public.kern2.period</key>
      <real>-17.886795655172413</real>
    </dict>
    <key>public.kern1.uu-tamil</key>
    <dict>
      <key>public.kern2.e-tamil</key>
      <real>-9.76562</real>
      <key>public.kern2.nya-tamil</key>
      <real>-9.428882758620691</real>
      <key>public.kern2.quoteright</key>
      <real>-9.76562</real>
      <key>public.kern2.quotesingle</key>
      <real>-9.76562</real>
    </dict>
    <key>public.kern1.uuMatra-tamil</key>
    <dict>
      <key>public.kern2.a-tamil</key>
      <real>-57.68453586206897</real>
      <key>public.kern2.ai-tamil</key>
      <real>-14.345329655172414</real>
      <key>public.kern2.e-tamil</key>
      <real>-5.387917241379311</real>
      <key>public.kern2.ka-tamil</key>
      <real>-16.63523655172414</real>
      <key>public.kern2.nya-tamil</key>
      <real>-5.02873287356322</real>
      <key>public.kern2.o-tamil</key>
      <real>-14.345329655172414</real>
      <key>public.kern2.parenright</key>
      <real>-19.5312</real>
      <key>public.kern2.period</key>
      <real>-20.97923565517241</real>
      <key>public.kern2.u-tamil</key>
      <real>-24.565613931034484</real>
      <key>public.kern2.visarga-tamil</key>
      <real>-19.5312</real>
    </dict>
    <key>public.kern1.visarga-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-21.736941931034483</real>
      <key>public.kern2.exclam</key>
      <real>-2.4694721839080462</real>
      <key>public.kern2.quoteright</key>
      <real>-27.99482</real>
      <key>public.kern2.quotesingle</key>
      <real>-47.121926206896546</real>
    </dict>
    <key>rii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>83.55220413793103</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>38.708917931034485</real>
      <key>public.kern2.parenright</key>
      <real>109.45358390804597</real>
      <key>public.kern2.quoteright</key>
      <real>79.64611091954022</real>
      <key>public.kern2.quotesingle</key>
      <real>97.43170344827587</real>
      <key>question</key>
      <integer>0</integer>
      <key>quotedbl</key>
      <integer>0</integer>
    </dict>
    <key>rrii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>41.17839747126437</real>
      <key>public.kern2.eMatra-tamil</key>
      <real>14.120860689655174</real>
      <key>public.kern2.parenright</key>
      <real>62.59540517241379</real>
      <key>public.kern2.quoteright</key>
      <real>35.941971379310345</real>
      <key>public.kern2.quotesingle</key>
      <real>38.838003448275856</real>
    </dict>
    <key>shii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>0</integer>
      <key>shii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>vii-tamil</key>
    <dict>
      <key>public.kern2.parenright</key>
      <real>10.742196666666667</real>
      <key>public.kern2.quotesingle</key>
      <real>5.185870344827585</real>
      <key>vii-tamil</key>
      <integer>0</integer>
    </dict>
    <key>yii-tamil</key>
    <dict>
      <key>public.kern2.T</key>
      <real>17.91487068965517</real>
      <key>public.kern2.parenright</key>
      <real>58.36924931034482</real>
      <key>public.kern2.quoteright</key>
      <real>17.91487068965517</real>
      <key>public.kern2.quotesingle</key>
      <real>24.39723517241379</real>
    </dict>
  </dict>
</plist>
