<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>965</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10C00</string>
      <string>u10C01</string>
      <string>u10C02</string>
      <string>u10C03</string>
      <string>u10C04</string>
      <string>u10C05</string>
      <string>u10C06</string>
      <string>u10C07</string>
      <string>u10C08</string>
      <string>u10C09</string>
      <string>u10C0A</string>
      <string>u10C0B</string>
      <string>u10C0C</string>
      <string>u10C0D</string>
      <string>u10C0E</string>
      <string>u10C0F</string>
      <string>u10C10</string>
      <string>u10C11</string>
      <string>u10C12</string>
      <string>u10C13</string>
      <string>u10C14</string>
      <string>u10C15</string>
      <string>u10C16</string>
      <string>u10C17</string>
      <string>u10C18</string>
      <string>u10C19</string>
      <string>u10C1A</string>
      <string>u10C1B</string>
      <string>u10C1C</string>
      <string>u10C1D</string>
      <string>u10C1E</string>
      <string>u10C1F</string>
      <string>u10C20</string>
      <string>u10C21</string>
      <string>u10C22</string>
      <string>u10C23</string>
      <string>u10C24</string>
      <string>u10C25</string>
      <string>u10C26</string>
      <string>u10C27</string>
      <string>u10C28</string>
      <string>u10C29</string>
      <string>u10C2A</string>
      <string>u10C2B</string>
      <string>u10C2C</string>
      <string>u10C2D</string>
      <string>u10C2E</string>
      <string>u10C2F</string>
      <string>u10C30</string>
      <string>u10C31</string>
      <string>u10C32</string>
      <string>u10C33</string>
      <string>u10C34</string>
      <string>u10C35</string>
      <string>u10C36</string>
      <string>u10C37</string>
      <string>u10C38</string>
      <string>u10C39</string>
      <string>u10C3A</string>
      <string>u10C3B</string>
      <string>u10C3C</string>
      <string>u10C3D</string>
      <string>u10C3E</string>
      <string>u10C3F</string>
      <string>u10C40</string>
      <string>u10C41</string>
      <string>u10C42</string>
      <string>u10C43</string>
      <string>u10C44</string>
      <string>u10C45</string>
      <string>u10C46</string>
      <string>u10C47</string>
      <string>u10C48</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
