<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.0585</key>
    <array>
      <string>uni0585</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.uni0534</key>
    <array>
      <string>uni0533</string>
      <string>uni0534</string>
    </array>
    <key>public.kern1.uni0536</key>
    <array>
      <string>uni0536</string>
      <string>uni0541</string>
      <string>uni054B</string>
    </array>
    <key>public.kern1.uni0537</key>
    <array>
      <string>uni0537</string>
    </array>
    <key>public.kern1.uni053A</key>
    <array>
      <string>uni053A</string>
    </array>
    <key>public.kern1.uni0540</key>
    <array>
      <string>uni0540</string>
    </array>
    <key>public.kern1.uni0543</key>
    <array>
      <string>uni0539</string>
    </array>
    <key>public.kern1.uni0544</key>
    <array>
      <string>uni0544</string>
    </array>
    <key>public.kern1.uni0551</key>
    <array>
      <string>uni0545</string>
      <string>uni0551</string>
    </array>
    <key>public.kern1.uni0552</key>
    <array>
      <string>uni0552</string>
      <string>uni0548_uni0552</string>
    </array>
    <key>public.kern1.uni0555</key>
    <array>
      <string>uni0553</string>
      <string>uni0555</string>
    </array>
    <key>public.kern1.uni0556</key>
    <array>
      <string>uni0556</string>
    </array>
    <key>public.kern1.uni0561</key>
    <array>
      <string>uni0560</string>
      <string>uni0561</string>
      <string>uni056D</string>
      <string>uni0576</string>
      <string>uni057D</string>
      <string>uniFB13</string>
      <string>uniFB16</string>
      <string>uniFB17</string>
    </array>
    <key>public.kern1.uni0564</key>
    <array>
      <string>uni0563</string>
      <string>uni0564</string>
      <string>uni057C</string>
    </array>
    <key>public.kern1.uni0565</key>
    <array>
      <string>uni0565</string>
      <string>uniFB14</string>
    </array>
    <key>public.kern1.uni0566</key>
    <array>
      <string>uni0566</string>
      <string>uni056F</string>
      <string>uni0572</string>
      <string>uni057E</string>
    </array>
    <key>public.kern1.uni0567</key>
    <array>
      <string>uni0567</string>
    </array>
    <key>public.kern1.uni056B</key>
    <array>
      <string>uni0568</string>
      <string>uni056B</string>
      <string>uni0578</string>
      <string>uni057F</string>
      <string>uni0580</string>
      <string>uni0583</string>
      <string>uniFB15</string>
    </array>
    <key>public.kern1.uni056F</key>
    <array>
      <string>uni057A</string>
    </array>
    <key>public.kern1.uni0573</key>
    <array>
      <string>uni0573</string>
    </array>
    <key>public.kern1.uni0574</key>
    <array>
      <string>uni0574</string>
    </array>
    <key>public.kern1.uni0577</key>
    <array>
      <string>uni0577</string>
      <string>uni057B</string>
    </array>
    <key>public.kern1.uni0579</key>
    <array>
      <string>uni0579</string>
    </array>
    <key>public.kern1.uni0582</key>
    <array>
      <string>uni0582</string>
      <string>uni0578_uni0582</string>
    </array>
    <key>public.kern1.uni0585</key>
    <array>
      <string>uni0584</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.uni0531</key>
    <array>
      <string>uni0531</string>
      <string>uni0535</string>
      <string>uni0544</string>
      <string>uni054D</string>
    </array>
    <key>public.kern2.uni0534</key>
    <array>
      <string>uni0534</string>
      <string>uni0542</string>
    </array>
    <key>public.kern2.uni0538</key>
    <array>
      <string>uni053B</string>
      <string>uni053C</string>
      <string>uni053D</string>
      <string>uni0552</string>
    </array>
    <key>public.kern2.uni053A</key>
    <array>
      <string>uni053A</string>
    </array>
    <key>public.kern2.uni053E</key>
    <array>
      <string>uni053E</string>
    </array>
    <key>public.kern2.uni053F</key>
    <array>
      <string>uni053F</string>
    </array>
    <key>public.kern2.uni0540</key>
    <array>
      <string>uni0540</string>
    </array>
    <key>public.kern2.uni0541</key>
    <array>
      <string>uni0536</string>
      <string>uni0541</string>
      <string>uni054B</string>
    </array>
    <key>public.kern2.uni0545</key>
    <array>
      <string>uni0545</string>
    </array>
    <key>public.kern2.uni0546</key>
    <array>
      <string>uni0546</string>
    </array>
    <key>public.kern2.uni0547</key>
    <array>
      <string>uni0547</string>
    </array>
    <key>public.kern2.uni0548</key>
    <array>
      <string>uni0538</string>
      <string>uni0539</string>
      <string>uni0548</string>
      <string>uni054C</string>
      <string>uni0550</string>
      <string>uni0548_uni0552</string>
    </array>
    <key>public.kern2.uni0549</key>
    <array>
      <string>uni0549</string>
    </array>
    <key>public.kern2.uni054E</key>
    <array>
      <string>uni054E</string>
    </array>
    <key>public.kern2.uni0554</key>
    <array>
      <string>uni0554</string>
    </array>
    <key>public.kern2.uni0555</key>
    <array>
      <string>uni0553</string>
      <string>uni0555</string>
    </array>
    <key>public.kern2.uni055B</key>
    <array>
      <string>uni055B</string>
    </array>
    <key>public.kern2.uni055C</key>
    <array>
      <string>uni055C</string>
    </array>
    <key>public.kern2.uni055E</key>
    <array>
      <string>uni055E</string>
    </array>
    <key>public.kern2.uni0563</key>
    <array>
      <string>uni0563</string>
      <string>uni0566</string>
      <string>uni056A</string>
      <string>uni056E</string>
      <string>uni0581</string>
      <string>uni0585</string>
    </array>
    <key>public.kern2.uni0568</key>
    <array>
      <string>uni0562</string>
      <string>uni0568</string>
      <string>uni0569</string>
      <string>uni056C</string>
      <string>uni0580</string>
      <string>uni0584</string>
    </array>
    <key>public.kern2.uni056B</key>
    <array>
      <string>uni0567</string>
      <string>uni056B</string>
      <string>uni056D</string>
    </array>
    <key>public.kern2.uni0571</key>
    <array>
      <string>uni0571</string>
    </array>
    <key>public.kern2.uni0577</key>
    <array>
      <string>uni0577</string>
    </array>
    <key>public.kern2.uni0578</key>
    <array>
      <string>uni0564</string>
      <string>uni0572</string>
      <string>uni0575</string>
      <string>uni0578</string>
      <string>uni057C</string>
      <string>uni0582</string>
      <string>uni0588</string>
      <string>uni0578_uni0582</string>
    </array>
    <key>public.kern2.uni0579</key>
    <array>
      <string>uni0579</string>
    </array>
    <key>public.kern2.uni057B</key>
    <array>
      <string>uni057B</string>
    </array>
    <key>public.kern2.uni057D</key>
    <array>
      <string>uni0560</string>
      <string>uni0561</string>
      <string>uni0574</string>
      <string>uni057A</string>
      <string>uni057D</string>
      <string>uni057E</string>
      <string>uni057F</string>
      <string>uni0583</string>
      <string>uniFB13</string>
      <string>uniFB14</string>
      <string>uniFB15</string>
      <string>uniFB16</string>
      <string>uniFB17</string>
    </array>
    <key>public.kern2.uni0587</key>
    <array>
      <string>uni0565</string>
      <string>uni056F</string>
      <string>uni0587</string>
    </array>
  </dict>
</plist>
