<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.uni13A0</key>
    <array>
      <string>uni13A0</string>
      <string>uni13A7</string>
      <string>uni13BE</string>
      <string>uni13C7</string>
      <string>uni13CA</string>
      <string>uni13CD</string>
      <string>uni13EB</string>
      <string>uni13EC</string>
      <string>uni13ED</string>
      <string>uni13EF</string>
    </array>
    <key>public.kern1.uni13A0.alt</key>
    <array>
      <string>uni13A0.alt</string>
      <string>uni13A7.alt</string>
      <string>uni13BE.alt</string>
      <string>uni13C7.alt</string>
      <string>uni13CA.alt</string>
      <string>uni13EB.alt</string>
      <string>uni13EC.alt</string>
      <string>uni13ED.alt</string>
      <string>uni13EF.alt</string>
    </array>
    <key>public.kern1.uni13A8</key>
    <array>
      <string>uni13A8</string>
      <string>uni13C5</string>
    </array>
    <key>public.kern1.uni13A8.alt</key>
    <array>
      <string>uni13A8.alt</string>
      <string>uni13C5.alt</string>
    </array>
    <key>public.kern1.uni13A9</key>
    <array>
      <string>uni13A9</string>
      <string>uni13BD</string>
    </array>
    <key>public.kern1.uni13AB</key>
    <array>
      <string>uni13AB</string>
      <string>uni13CC</string>
      <string>uni13E0</string>
    </array>
    <key>public.kern1.uni13AB.alt</key>
    <array>
      <string>uni13AB.alt</string>
      <string>uni13CC.alt</string>
      <string>uni13E7.alt</string>
    </array>
    <key>public.kern1.uni13AE</key>
    <array>
      <string>uni13AE</string>
      <string>uni13B5</string>
      <string>uni13E2</string>
    </array>
    <key>public.kern1.uni13AE.alt</key>
    <array>
      <string>uni13AE.alt</string>
      <string>uni13B5.alt</string>
      <string>uni13E2.alt</string>
    </array>
    <key>public.kern1.uni13B0.alt</key>
    <array>
      <string>uni13AD.alt</string>
      <string>uni13B0.alt</string>
    </array>
    <key>public.kern1.uni13B9</key>
    <array>
      <string>uni13B9</string>
      <string>uni13C9</string>
      <string>uni13D1</string>
      <string>uni13DB</string>
    </array>
    <key>public.kern1.uni13B9.alt</key>
    <array>
      <string>uni13B9.alt</string>
      <string>uni13C9.alt</string>
      <string>uni13D1.alt</string>
      <string>uni13DB.alt</string>
    </array>
    <key>public.kern1.uni13BB</key>
    <array>
      <string>uni13B7</string>
      <string>uni13BB</string>
      <string>uni13D7</string>
    </array>
    <key>public.kern1.uni13BB.alt</key>
    <array>
      <string>uni13B7.alt</string>
      <string>uni13BB.alt</string>
      <string>uni13D7.alt</string>
    </array>
    <key>public.kern1.uni13D3.alt</key>
    <array>
      <string>uni13CF.alt</string>
      <string>uni13D3.alt</string>
    </array>
    <key>public.kern1.uniAB70</key>
    <array>
      <string>uniAB70</string>
      <string>uniAB77</string>
      <string>uniAB8E</string>
      <string>uniAB97</string>
      <string>uniAB9A</string>
      <string>uniAB9D</string>
      <string>uniABBB</string>
      <string>uniABBC</string>
      <string>uniABBD</string>
      <string>uniABBF</string>
    </array>
    <key>public.kern1.uniAB78</key>
    <array>
      <string>uniAB78</string>
      <string>uniAB95</string>
    </array>
    <key>public.kern1.uniAB7B</key>
    <array>
      <string>uniAB7B</string>
      <string>uniAB9C</string>
      <string>uniABB0</string>
      <string>uniABB7</string>
    </array>
    <key>public.kern1.uniAB7E</key>
    <array>
      <string>uniAB7E</string>
      <string>uniAB85</string>
      <string>uniABB2</string>
    </array>
    <key>public.kern1.uniAB99</key>
    <array>
      <string>uniAB89</string>
      <string>uniAB99</string>
      <string>uniABA1</string>
      <string>uniABAB</string>
    </array>
    <key>public.kern2.uni13A2</key>
    <array>
      <string>uni13A2</string>
      <string>uni13E4</string>
    </array>
    <key>public.kern2.uni13A2.alt</key>
    <array>
      <string>uni13A2.alt</string>
      <string>uni13E4.alt</string>
    </array>
    <key>public.kern2.uni13A4.alt</key>
    <array>
      <string>uni13A4.alt</string>
      <string>uni13A7.alt</string>
      <string>uni13B6.alt</string>
      <string>uni13BA.alt</string>
      <string>uni13BE.alt</string>
      <string>uni13C0.alt</string>
      <string>uni13C5.alt</string>
      <string>uni13DF.alt</string>
      <string>uni13E3.alt</string>
      <string>uni13E8.alt</string>
      <string>uni13E9.alt</string>
      <string>uni13EB.alt</string>
      <string>uni13EC.alt</string>
      <string>uni13EE.alt</string>
      <string>uni13F3.alt</string>
    </array>
    <key>public.kern2.uni13AF</key>
    <array>
      <string>uni13AF</string>
      <string>uni13C1</string>
    </array>
    <key>public.kern2.uni13AF.alt</key>
    <array>
      <string>uni13AF.alt</string>
      <string>uni13C1.alt</string>
    </array>
    <key>public.kern2.uni13B3</key>
    <array>
      <string>uni13B3</string>
      <string>uni13D4</string>
      <string>uni13D9</string>
    </array>
    <key>public.kern2.uni13B5.alt</key>
    <array>
      <string>uni13B5.alt</string>
      <string>uni13DD.alt</string>
      <string>uni13F2.alt</string>
    </array>
    <key>public.kern2.uni13BB</key>
    <array>
      <string>uni13A0</string>
      <string>uni13A1</string>
      <string>uni13A8</string>
      <string>uni13AC</string>
      <string>uni13B0</string>
      <string>uni13B1</string>
      <string>uni13B7</string>
      <string>uni13BB</string>
      <string>uni13C2</string>
      <string>uni13CF</string>
      <string>uni13D2</string>
      <string>uni13DE</string>
      <string>uni13E2</string>
      <string>uni13E5</string>
      <string>uni13E6</string>
      <string>uni13F4</string>
    </array>
    <key>public.kern2.uni13BB.alt</key>
    <array>
      <string>uni13A0.alt</string>
      <string>uni13A1.alt</string>
      <string>uni13A8.alt</string>
      <string>uni13AC.alt</string>
      <string>uni13B0.alt</string>
      <string>uni13B1.alt</string>
      <string>uni13B7.alt</string>
      <string>uni13BB.alt</string>
      <string>uni13C2.alt</string>
      <string>uni13CF.alt</string>
      <string>uni13D2.alt</string>
      <string>uni13DE.alt</string>
      <string>uni13E2.alt</string>
      <string>uni13E5.alt</string>
      <string>uni13E6.alt</string>
    </array>
    <key>public.kern2.uni13C7</key>
    <array>
      <string>uni13C7</string>
      <string>uni13CA</string>
      <string>uni13EF</string>
    </array>
    <key>public.kern2.uni13C7.alt</key>
    <array>
      <string>uni13C7.alt</string>
      <string>uni13CA.alt</string>
      <string>uni13EF.alt</string>
    </array>
    <key>public.kern2.uni13DA</key>
    <array>
      <string>uni13A6</string>
      <string>uni13D5</string>
      <string>uni13DA</string>
    </array>
    <key>public.kern2.uni13DA.alt</key>
    <array>
      <string>uni13A6.alt</string>
      <string>uni13D5.alt</string>
      <string>uni13DA.alt</string>
    </array>
    <key>public.kern2.uni13DD</key>
    <array>
      <string>uni13B5</string>
      <string>uni13DD</string>
      <string>uni13F2</string>
    </array>
    <key>public.kern2.uni13DF</key>
    <array>
      <string>uni13A4</string>
      <string>uni13A7</string>
      <string>uni13B6</string>
      <string>uni13BA</string>
      <string>uni13BE</string>
      <string>uni13C0</string>
      <string>uni13C5</string>
      <string>uni13DF</string>
      <string>uni13E3</string>
      <string>uni13E8</string>
      <string>uni13E9</string>
      <string>uni13EB</string>
      <string>uni13EC</string>
      <string>uni13EE</string>
      <string>uni13F3</string>
    </array>
    <key>public.kern2.uni13EA</key>
    <array>
      <string>uni13B2</string>
      <string>uni13EA</string>
    </array>
    <key>public.kern2.uni13EA.alt</key>
    <array>
      <string>uni13B2.alt</string>
      <string>uni13EA.alt</string>
    </array>
    <key>public.kern2.uniAB72</key>
    <array>
      <string>uniAB72</string>
      <string>uniABA6</string>
      <string>uniABB4</string>
    </array>
    <key>public.kern2.uniAB74</key>
    <array>
      <string>uniAB74</string>
      <string>uniAB77</string>
      <string>uniAB86</string>
      <string>uniAB8A</string>
      <string>uniAB8E</string>
      <string>uniAB90</string>
      <string>uniAB95</string>
      <string>uniABAF</string>
      <string>uniABB3</string>
      <string>uniABB8</string>
      <string>uniABB9</string>
      <string>uniABBB</string>
      <string>uniABBC</string>
      <string>uniABBE</string>
      <string>uni13FB</string>
    </array>
    <key>public.kern2.uniAB7F</key>
    <array>
      <string>uniAB7F</string>
      <string>uniAB91</string>
    </array>
    <key>public.kern2.uniAB8B</key>
    <array>
      <string>uniAB70</string>
      <string>uniAB71</string>
      <string>uniAB78</string>
      <string>uniAB7C</string>
      <string>uniAB80</string>
      <string>uniAB81</string>
      <string>uniAB87</string>
      <string>uniAB8B</string>
      <string>uniAB92</string>
      <string>uniAB9F</string>
      <string>uniABA2</string>
      <string>uniABAE</string>
      <string>uniABB2</string>
      <string>uniABB5</string>
      <string>uniABB6</string>
      <string>uni13FC</string>
    </array>
    <key>public.kern2.uniAB97</key>
    <array>
      <string>uniAB97</string>
      <string>uniAB9A</string>
      <string>uniABBF</string>
    </array>
    <key>public.kern2.uniABAA</key>
    <array>
      <string>uniAB76</string>
      <string>uniABA5</string>
      <string>uniABAA</string>
    </array>
    <key>public.kern2.uniABAD</key>
    <array>
      <string>uniAB85</string>
      <string>uniABAD</string>
      <string>uni13FA</string>
    </array>
    <key>public.kern2.uniABBA</key>
    <array>
      <string>uniAB82</string>
      <string>uniABBA</string>
    </array>
  </dict>
</plist>
