<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>-7</integer>
    <key>GSOffsetVertical</key>
    <integer>-8</integer>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A0.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A0</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A1.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A1</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A2.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A2</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A3.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A3</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A4.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A4</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A5.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A5</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A6.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A6</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A7.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A7</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A8.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A8</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13A9.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13A9</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13AA.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13AA</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13AB.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13AB</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13AC.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13AC</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13AD.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13AD</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13AE.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13AE</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13AF.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13AF</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B0.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B0</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B1.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B1</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B2.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B2</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B3.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B3</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B4.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B4</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B5.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B5</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B6.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B6</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B7.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B7</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B8.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B8</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13B9.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13B9</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13BA.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13BA</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13BB.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13BB</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13BC.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13BC</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13BD.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13BD</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13BE.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13BE</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13BF.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13BF</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C0.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C0</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C1.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C1</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C2.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C2</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C3.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C3</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C4.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C4</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C5.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C5</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C6.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C6</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C7.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C7</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C8.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C8</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13C9.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13C9</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13CA.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13CA</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13CB.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13CB</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13CC.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13CC</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13CD.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13CD</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13CE.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13CE</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13CF.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13CF</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D0.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D0</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D1.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D1</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D2.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D2</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D3.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D3</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D4.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D4</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D5.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D5</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D6.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D6</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D7.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D7</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D8.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D8</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13D9.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13D9</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13DA.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13DA</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13DB.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13DB</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13DC.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13DC</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13DD.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13DD</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13DE.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13DE</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13DF.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13DF</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E0.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E0</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E1.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E1</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E2.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E2</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E3.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E3</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E4.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E4</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E5.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E5</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E6.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E6</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E7.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E7</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E8.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E8</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13E9.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13E9</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13EA.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13EA</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13EB.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13EB</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13EC.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13EC</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13ED.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13ED</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13EE.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13EE</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13EF.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13EF</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13F0.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13F0</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13F1.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13F1</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13F2.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13F2</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13F3.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13F3</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13F4.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13F4</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uni13F5.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uni13F5</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>895</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.smallCapHeight</key>
    <integer>646</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>acutecomb</string>
      <string>caroncomb</string>
      <string>circumflexcomb</string>
      <string>dieresisbelowcomb</string>
      <string>dotbelowcomb</string>
      <string>gravecomb</string>
      <string>hungarumlautcomb</string>
      <string>macronbelowcomb</string>
      <string>macroncomb</string>
      <string>nbspace</string>
      <string>space</string>
      <string>tildebelowcomb</string>
      <string>uni13A0</string>
      <string>uni13A0.alt</string>
      <string>uni13A1</string>
      <string>uni13A1.alt</string>
      <string>uni13A2</string>
      <string>uni13A2.alt</string>
      <string>uni13A3</string>
      <string>uni13A3.alt</string>
      <string>uni13A4</string>
      <string>uni13A4.alt</string>
      <string>uni13A5</string>
      <string>uni13A5.alt</string>
      <string>uni13A6</string>
      <string>uni13A6.alt</string>
      <string>uni13A7</string>
      <string>uni13A7.alt</string>
      <string>uni13A8</string>
      <string>uni13A8.alt</string>
      <string>uni13A9</string>
      <string>uni13A9.alt</string>
      <string>uni13AA</string>
      <string>uni13AA.alt</string>
      <string>uni13AB</string>
      <string>uni13AB.alt</string>
      <string>uni13AC</string>
      <string>uni13AC.alt</string>
      <string>uni13AD</string>
      <string>uni13AD.alt</string>
      <string>uni13AE</string>
      <string>uni13AE.alt</string>
      <string>uni13AF</string>
      <string>uni13AF.alt</string>
      <string>uni13B0</string>
      <string>uni13B0.alt</string>
      <string>uni13B1</string>
      <string>uni13B1.alt</string>
      <string>uni13B2</string>
      <string>uni13B2.alt</string>
      <string>uni13B3</string>
      <string>uni13B3.alt</string>
      <string>uni13B4</string>
      <string>uni13B4.alt</string>
      <string>uni13B5</string>
      <string>uni13B5.alt</string>
      <string>uni13B6</string>
      <string>uni13B6.alt</string>
      <string>uni13B7</string>
      <string>uni13B7.alt</string>
      <string>uni13B8</string>
      <string>uni13B8.alt</string>
      <string>uni13B9</string>
      <string>uni13B9.alt</string>
      <string>uni13BA</string>
      <string>uni13BA.alt</string>
      <string>uni13BB</string>
      <string>uni13BB.alt</string>
      <string>uni13BC</string>
      <string>uni13BC.alt</string>
      <string>uni13BD</string>
      <string>uni13BD.alt</string>
      <string>uni13BE</string>
      <string>uni13BE.alt</string>
      <string>uni13BF</string>
      <string>uni13BF.alt</string>
      <string>uni13C0</string>
      <string>uni13C0.alt</string>
      <string>uni13C1</string>
      <string>uni13C1.alt</string>
      <string>uni13C2</string>
      <string>uni13C2.alt</string>
      <string>uni13C3</string>
      <string>uni13C3.alt</string>
      <string>uni13C4</string>
      <string>uni13C4.alt</string>
      <string>uni13C5</string>
      <string>uni13C5.alt</string>
      <string>uni13C6</string>
      <string>uni13C6.alt</string>
      <string>uni13C7</string>
      <string>uni13C7.alt</string>
      <string>uni13C8</string>
      <string>uni13C8.alt</string>
      <string>uni13C9</string>
      <string>uni13C9.alt</string>
      <string>uni13CA</string>
      <string>uni13CA.alt</string>
      <string>uni13CB</string>
      <string>uni13CB.alt</string>
      <string>uni13CC</string>
      <string>uni13CC.alt</string>
      <string>uni13CD</string>
      <string>uni13CD.alt</string>
      <string>uni13CE</string>
      <string>uni13CE.alt</string>
      <string>uni13CF</string>
      <string>uni13CF.alt</string>
      <string>uni13D0</string>
      <string>uni13D0.alt</string>
      <string>uni13D1</string>
      <string>uni13D1.alt</string>
      <string>uni13D2</string>
      <string>uni13D2.alt</string>
      <string>uni13D3</string>
      <string>uni13D3.alt</string>
      <string>uni13D4</string>
      <string>uni13D4.alt</string>
      <string>uni13D5</string>
      <string>uni13D5.alt</string>
      <string>uni13D6</string>
      <string>uni13D6.alt</string>
      <string>uni13D7</string>
      <string>uni13D7.alt</string>
      <string>uni13D8</string>
      <string>uni13D8.alt</string>
      <string>uni13D9</string>
      <string>uni13D9.alt</string>
      <string>uni13DA</string>
      <string>uni13DA.alt</string>
      <string>uni13DB</string>
      <string>uni13DB.alt</string>
      <string>uni13DC</string>
      <string>uni13DC.alt</string>
      <string>uni13DD</string>
      <string>uni13DD.alt</string>
      <string>uni13DE</string>
      <string>uni13DE.alt</string>
      <string>uni13DF</string>
      <string>uni13DF.alt</string>
      <string>uni13E0</string>
      <string>uni13E0.alt</string>
      <string>uni13E1</string>
      <string>uni13E1.alt</string>
      <string>uni13E2</string>
      <string>uni13E2.alt</string>
      <string>uni13E3</string>
      <string>uni13E3.alt</string>
      <string>uni13E4</string>
      <string>uni13E4.alt</string>
      <string>uni13E5</string>
      <string>uni13E5.alt</string>
      <string>uni13E6</string>
      <string>uni13E6.alt</string>
      <string>uni13E7</string>
      <string>uni13E7.alt</string>
      <string>uni13E8</string>
      <string>uni13E8.alt</string>
      <string>uni13E9</string>
      <string>uni13E9.alt</string>
      <string>uni13EA</string>
      <string>uni13EA.alt</string>
      <string>uni13EB</string>
      <string>uni13EB.alt</string>
      <string>uni13EC</string>
      <string>uni13EC.alt</string>
      <string>uni13ED</string>
      <string>uni13ED.alt</string>
      <string>uni13EE</string>
      <string>uni13EE.alt</string>
      <string>uni13EF</string>
      <string>uni13EF.alt</string>
      <string>uni13F0</string>
      <string>uni13F0.alt</string>
      <string>uni13F1</string>
      <string>uni13F1.alt</string>
      <string>uni13F2</string>
      <string>uni13F2.alt</string>
      <string>uni13F3</string>
      <string>uni13F3.alt</string>
      <string>uni13F4</string>
      <string>uni13F4.alt</string>
      <string>uni13F5</string>
      <string>uni13F5.alt</string>
      <string>uni13F8</string>
      <string>uni13F9</string>
      <string>uni13FA</string>
      <string>uni13FB</string>
      <string>uni13FC</string>
      <string>uni13FD</string>
      <string>uniAB70</string>
      <string>uniAB71</string>
      <string>uniAB72</string>
      <string>uniAB73</string>
      <string>uniAB74</string>
      <string>uniAB75</string>
      <string>uniAB76</string>
      <string>uniAB77</string>
      <string>uniAB78</string>
      <string>uniAB79</string>
      <string>uniAB7A</string>
      <string>uniAB7B</string>
      <string>uniAB7C</string>
      <string>uniAB7D</string>
      <string>uniAB7E</string>
      <string>uniAB7F</string>
      <string>uniAB80</string>
      <string>uniAB81</string>
      <string>uniAB82</string>
      <string>uniAB83</string>
      <string>uniAB84</string>
      <string>uniAB85</string>
      <string>uniAB86</string>
      <string>uniAB87</string>
      <string>uniAB88</string>
      <string>uniAB89</string>
      <string>uniAB8A</string>
      <string>uniAB8B</string>
      <string>uniAB8C</string>
      <string>uniAB8D</string>
      <string>uniAB8E</string>
      <string>uniAB8F</string>
      <string>uniAB90</string>
      <string>uniAB91</string>
      <string>uniAB92</string>
      <string>uniAB93</string>
      <string>uniAB94</string>
      <string>uniAB95</string>
      <string>uniAB96</string>
      <string>uniAB97</string>
      <string>uniAB98</string>
      <string>uniAB99</string>
      <string>uniAB9A</string>
      <string>uniAB9B</string>
      <string>uniAB9C</string>
      <string>uniAB9D</string>
      <string>uniAB9E</string>
      <string>uniAB9F</string>
      <string>uniABA0</string>
      <string>uniABA1</string>
      <string>uniABA2</string>
      <string>uniABA3</string>
      <string>uniABA4</string>
      <string>uniABA5</string>
      <string>uniABA6</string>
      <string>uniABA7</string>
      <string>uniABA8</string>
      <string>uniABA9</string>
      <string>uniABAA</string>
      <string>uniABAB</string>
      <string>uniABAC</string>
      <string>uniABAD</string>
      <string>uniABAE</string>
      <string>uniABAF</string>
      <string>uniABB0</string>
      <string>uniABB1</string>
      <string>uniABB2</string>
      <string>uniABB3</string>
      <string>uniABB4</string>
      <string>uniABB5</string>
      <string>uniABB6</string>
      <string>uniABB7</string>
      <string>uniABB8</string>
      <string>uniABB9</string>
      <string>uniABBA</string>
      <string>uniABBB</string>
      <string>uniABBC</string>
      <string>uniABBD</string>
      <string>uniABBE</string>
      <string>uniABBF</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>acutecomb</string>
      <string>caroncomb</string>
      <string>circumflexcomb</string>
      <string>dieresisbelowcomb</string>
      <string>dotbelowcomb</string>
      <string>gravecomb</string>
      <string>hungarumlautcomb</string>
      <string>macronbelowcomb</string>
      <string>macroncomb</string>
      <string>nbspace</string>
      <string>space</string>
      <string>tildebelowcomb</string>
      <string>uni13A0</string>
      <string>uni13A0.alt</string>
      <string>uni13A1</string>
      <string>uni13A1.alt</string>
      <string>uni13A2</string>
      <string>uni13A2.alt</string>
      <string>uni13A3</string>
      <string>uni13A3.alt</string>
      <string>uni13A4</string>
      <string>uni13A4.alt</string>
      <string>uni13A5</string>
      <string>uni13A5.alt</string>
      <string>uni13A6</string>
      <string>uni13A6.alt</string>
      <string>uni13A7</string>
      <string>uni13A7.alt</string>
      <string>uni13A8</string>
      <string>uni13A8.alt</string>
      <string>uni13A9</string>
      <string>uni13A9.alt</string>
      <string>uni13AA</string>
      <string>uni13AA.alt</string>
      <string>uni13AB</string>
      <string>uni13AB.alt</string>
      <string>uni13AC</string>
      <string>uni13AC.alt</string>
      <string>uni13AD</string>
      <string>uni13AD.alt</string>
      <string>uni13AE</string>
      <string>uni13AE.alt</string>
      <string>uni13AF</string>
      <string>uni13AF.alt</string>
      <string>uni13B0</string>
      <string>uni13B0.alt</string>
      <string>uni13B1</string>
      <string>uni13B1.alt</string>
      <string>uni13B2</string>
      <string>uni13B2.alt</string>
      <string>uni13B3</string>
      <string>uni13B3.alt</string>
      <string>uni13B4</string>
      <string>uni13B4.alt</string>
      <string>uni13B5</string>
      <string>uni13B5.alt</string>
      <string>uni13B6</string>
      <string>uni13B6.alt</string>
      <string>uni13B7</string>
      <string>uni13B7.alt</string>
      <string>uni13B8</string>
      <string>uni13B8.alt</string>
      <string>uni13B9</string>
      <string>uni13B9.alt</string>
      <string>uni13BA</string>
      <string>uni13BA.alt</string>
      <string>uni13BB</string>
      <string>uni13BB.alt</string>
      <string>uni13BC</string>
      <string>uni13BC.alt</string>
      <string>uni13BD</string>
      <string>uni13BD.alt</string>
      <string>uni13BE</string>
      <string>uni13BE.alt</string>
      <string>uni13BF</string>
      <string>uni13BF.alt</string>
      <string>uni13C0</string>
      <string>uni13C0.alt</string>
      <string>uni13C1</string>
      <string>uni13C1.alt</string>
      <string>uni13C2</string>
      <string>uni13C2.alt</string>
      <string>uni13C3</string>
      <string>uni13C3.alt</string>
      <string>uni13C4</string>
      <string>uni13C4.alt</string>
      <string>uni13C5</string>
      <string>uni13C5.alt</string>
      <string>uni13C6</string>
      <string>uni13C6.alt</string>
      <string>uni13C7</string>
      <string>uni13C7.alt</string>
      <string>uni13C8</string>
      <string>uni13C8.alt</string>
      <string>uni13C9</string>
      <string>uni13C9.alt</string>
      <string>uni13CA</string>
      <string>uni13CA.alt</string>
      <string>uni13CB</string>
      <string>uni13CB.alt</string>
      <string>uni13CC</string>
      <string>uni13CC.alt</string>
      <string>uni13CD</string>
      <string>uni13CD.alt</string>
      <string>uni13CE</string>
      <string>uni13CE.alt</string>
      <string>uni13CF</string>
      <string>uni13CF.alt</string>
      <string>uni13D0</string>
      <string>uni13D0.alt</string>
      <string>uni13D1</string>
      <string>uni13D1.alt</string>
      <string>uni13D2</string>
      <string>uni13D2.alt</string>
      <string>uni13D3</string>
      <string>uni13D3.alt</string>
      <string>uni13D4</string>
      <string>uni13D4.alt</string>
      <string>uni13D5</string>
      <string>uni13D5.alt</string>
      <string>uni13D6</string>
      <string>uni13D6.alt</string>
      <string>uni13D7</string>
      <string>uni13D7.alt</string>
      <string>uni13D8</string>
      <string>uni13D8.alt</string>
      <string>uni13D9</string>
      <string>uni13D9.alt</string>
      <string>uni13DA</string>
      <string>uni13DA.alt</string>
      <string>uni13DB</string>
      <string>uni13DB.alt</string>
      <string>uni13DC</string>
      <string>uni13DC.alt</string>
      <string>uni13DD</string>
      <string>uni13DD.alt</string>
      <string>uni13DE</string>
      <string>uni13DE.alt</string>
      <string>uni13DF</string>
      <string>uni13DF.alt</string>
      <string>uni13E0</string>
      <string>uni13E0.alt</string>
      <string>uni13E1</string>
      <string>uni13E1.alt</string>
      <string>uni13E2</string>
      <string>uni13E2.alt</string>
      <string>uni13E3</string>
      <string>uni13E3.alt</string>
      <string>uni13E4</string>
      <string>uni13E4.alt</string>
      <string>uni13E5</string>
      <string>uni13E5.alt</string>
      <string>uni13E6</string>
      <string>uni13E6.alt</string>
      <string>uni13E7</string>
      <string>uni13E7.alt</string>
      <string>uni13E8</string>
      <string>uni13E8.alt</string>
      <string>uni13E9</string>
      <string>uni13E9.alt</string>
      <string>uni13EA</string>
      <string>uni13EA.alt</string>
      <string>uni13EB</string>
      <string>uni13EB.alt</string>
      <string>uni13EC</string>
      <string>uni13EC.alt</string>
      <string>uni13ED</string>
      <string>uni13ED.alt</string>
      <string>uni13EE</string>
      <string>uni13EE.alt</string>
      <string>uni13EF</string>
      <string>uni13EF.alt</string>
      <string>uni13F0</string>
      <string>uni13F0.alt</string>
      <string>uni13F1</string>
      <string>uni13F1.alt</string>
      <string>uni13F2</string>
      <string>uni13F2.alt</string>
      <string>uni13F3</string>
      <string>uni13F3.alt</string>
      <string>uni13F4</string>
      <string>uni13F4.alt</string>
      <string>uni13F5</string>
      <string>uni13F5.alt</string>
      <string>uni13F8</string>
      <string>uni13F9</string>
      <string>uni13FA</string>
      <string>uni13FB</string>
      <string>uni13FC</string>
      <string>uni13FD</string>
      <string>uniAB70</string>
      <string>uniAB71</string>
      <string>uniAB72</string>
      <string>uniAB73</string>
      <string>uniAB74</string>
      <string>uniAB75</string>
      <string>uniAB76</string>
      <string>uniAB77</string>
      <string>uniAB78</string>
      <string>uniAB79</string>
      <string>uniAB7A</string>
      <string>uniAB7B</string>
      <string>uniAB7C</string>
      <string>uniAB7D</string>
      <string>uniAB7E</string>
      <string>uniAB7F</string>
      <string>uniAB80</string>
      <string>uniAB81</string>
      <string>uniAB82</string>
      <string>uniAB83</string>
      <string>uniAB84</string>
      <string>uniAB85</string>
      <string>uniAB86</string>
      <string>uniAB87</string>
      <string>uniAB88</string>
      <string>uniAB89</string>
      <string>uniAB8A</string>
      <string>uniAB8B</string>
      <string>uniAB8C</string>
      <string>uniAB8D</string>
      <string>uniAB8E</string>
      <string>uniAB8F</string>
      <string>uniAB90</string>
      <string>uniAB91</string>
      <string>uniAB92</string>
      <string>uniAB93</string>
      <string>uniAB94</string>
      <string>uniAB95</string>
      <string>uniAB96</string>
      <string>uniAB97</string>
      <string>uniAB98</string>
      <string>uniAB99</string>
      <string>uniAB9A</string>
      <string>uniAB9B</string>
      <string>uniAB9C</string>
      <string>uniAB9D</string>
      <string>uniAB9E</string>
      <string>uniAB9F</string>
      <string>uniABA0</string>
      <string>uniABA1</string>
      <string>uniABA2</string>
      <string>uniABA3</string>
      <string>uniABA4</string>
      <string>uniABA5</string>
      <string>uniABA6</string>
      <string>uniABA7</string>
      <string>uniABA8</string>
      <string>uniABA9</string>
      <string>uniABAA</string>
      <string>uniABAB</string>
      <string>uniABAC</string>
      <string>uniABAD</string>
      <string>uniABAE</string>
      <string>uniABAF</string>
      <string>uniABB0</string>
      <string>uniABB1</string>
      <string>uniABB2</string>
      <string>uniABB3</string>
      <string>uniABB4</string>
      <string>uniABB5</string>
      <string>uniABB6</string>
      <string>uniABB7</string>
      <string>uniABB8</string>
      <string>uniABB9</string>
      <string>uniABBA</string>
      <string>uniABBB</string>
      <string>uniABBC</string>
      <string>uniABBD</string>
      <string>uniABBE</string>
      <string>uniABBF</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>caroncomb</key>
      <string>uni030C</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>dieresisbelowcomb</key>
      <string>uni0324</string>
      <key>hungarumlautcomb</key>
      <string>uni030B</string>
      <key>macronbelowcomb</key>
      <string>uni0331</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>tildebelowcomb</key>
      <string>uni0330</string>
    </dict>
  </dict>
</plist>
