<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.MEDF_A-medf_1ST</key>
		<array>
			<string>A-medf</string>
		</array>
		<key>public.kern1.MEDF_AI-medf_1ST</key>
		<array>
			<string>AI-medf</string>
		</array>
		<key>public.kern1.MEDF_Atiu-medf_1ST</key>
		<array>
			<string>Atiu-medf</string>
		</array>
		<key>public.kern1.MEDF_B-medf_1ST</key>
		<array>
			<string>B-medf</string>
		</array>
		<key>public.kern1.MEDF_C-medf_1ST</key>
		<array>
			<string>C-medf</string>
		</array>
		<key>public.kern1.MEDF_E-medf_1ST</key>
		<array>
			<string>E-medf</string>
		</array>
		<key>public.kern1.MEDF_F-medf_1ST</key>
		<array>
			<string>F-medf</string>
		</array>
		<key>public.kern1.MEDF_G-medf_1ST</key>
		<array>
			<string>G-medf</string>
		</array>
		<key>public.kern1.MEDF_H-medf_1ST</key>
		<array>
			<string>H-medf</string>
		</array>
		<key>public.kern1.MEDF_I-medf_1ST</key>
		<array>
			<string>I-medf</string>
		</array>
		<key>public.kern1.MEDF_J-medf_1ST</key>
		<array>
			<string>J-medf</string>
		</array>
		<key>public.kern1.MEDF_K-medf_1ST</key>
		<array>
			<string>K-medf</string>
		</array>
		<key>public.kern1.MEDF_KP-medf_1ST</key>
		<array>
			<string>KP-medf</string>
		</array>
		<key>public.kern1.MEDF_L_medf_1ST</key>
		<array>
			<string>L-medf</string>
			<string>Y-medf</string>
		</array>
		<key>public.kern1.MEDF_M_medf_1ST</key>
		<array>
			<string>M-medf</string>
			<string>D-medf</string>
		</array>
		<key>public.kern1.MEDF_NG_medf_1ST</key>
		<array>
			<string>NG-medf</string>
			<string>X-medf</string>
			<string>N-medf</string>
		</array>
		<key>public.kern1.MEDF_O-medf_1ST</key>
		<array>
			<string>O-medf</string>
		</array>
		<key>public.kern1.MEDF_OE-medf_1ST</key>
		<array>
			<string>OE-medf</string>
		</array>
		<key>public.kern1.MEDF_P-medf_1ST</key>
		<array>
			<string>P-medf</string>
		</array>
		<key>public.kern1.MEDF_Q-medf_1ST</key>
		<array>
			<string>Q-medf</string>
		</array>
		<key>public.kern1.MEDF_R-medf_1ST</key>
		<array>
			<string>R-medf</string>
		</array>
		<key>public.kern1.MEDF_S-medf_1ST</key>
		<array>
			<string>S-medf</string>
		</array>
		<key>public.kern1.MEDF_T-medf_1ST</key>
		<array>
			<string>T-medf</string>
		</array>
		<key>public.kern1.MEDF_U-medf_1ST</key>
		<array>
			<string>U-medf</string>
		</array>
		<key>public.kern1.MEDF_V-medf_1ST</key>
		<array>
			<string>V-medf</string>
		</array>
		<key>public.kern1.MEDF_W-medf_1ST</key>
		<array>
			<string>W-medf</string>
		</array>
		<key>public.kern1.MEDF_YU-medf_1ST</key>
		<array>
			<string>YU-medf</string>
		</array>
		<key>public.kern1.MEDF_Z-medf_1ST</key>
		<array>
			<string>Z-medf</string>
		</array>
		<key>public.kern1.MEDF_ai-medf_1ST</key>
		<array>
			<string>ai-medf</string>
		</array>
		<key>public.kern1.MEDF_b-medf_1ST</key>
		<array>
			<string>b-medf</string>
		</array>
		<key>public.kern1.MEDF_c-medf_1ST</key>
		<array>
			<string>c-medf</string>
		</array>
		<key>public.kern1.MEDF_d-medf_1ST</key>
		<array>
			<string>d-medf</string>
		</array>
		<key>public.kern1.MEDF_e-medf_1ST</key>
		<array>
			<string>e-medf</string>
		</array>
		<key>public.kern1.MEDF_f-medf_1ST</key>
		<array>
			<string>f-medf</string>
		</array>
		<key>public.kern1.MEDF_g-medf_1ST</key>
		<array>
			<string>g-medf</string>
		</array>
		<key>public.kern1.MEDF_h-medf_1ST</key>
		<array>
			<string>h-medf</string>
		</array>
		<key>public.kern1.MEDF_i-medf_1ST</key>
		<array>
			<string>i-medf</string>
		</array>
		<key>public.kern1.MEDF_j-medf_1ST</key>
		<array>
			<string>j-medf</string>
		</array>
		<key>public.kern1.MEDF_k-medf_1ST</key>
		<array>
			<string>k-medf</string>
		</array>
		<key>public.kern1.MEDF_kp-medf_1ST</key>
		<array>
			<string>kp-medf</string>
		</array>
		<key>public.kern1.MEDF_l-medf_1ST</key>
		<array>
			<string>l-medf</string>
		</array>
		<key>public.kern1.MEDF_m-medf_1ST</key>
		<array>
			<string>m-medf</string>
		</array>
		<key>public.kern1.MEDF_oe_medf_1ST</key>
		<array>
			<string>oe-medf</string>
			<string>o-medf</string>
		</array>
		<key>public.kern1.MEDF_p-medf_1ST</key>
		<array>
			<string>p-medf</string>
		</array>
		<key>public.kern1.MEDF_q-medf_1ST</key>
		<array>
			<string>q-medf</string>
		</array>
		<key>public.kern1.MEDF_r-medf_1ST</key>
		<array>
			<string>r-medf</string>
		</array>
		<key>public.kern1.MEDF_s_medf_1ST</key>
		<array>
			<string>s-medf</string>
			<string>x-medf</string>
		</array>
		<key>public.kern1.MEDF_t-medf_1ST</key>
		<array>
			<string>t-medf</string>
		</array>
		<key>public.kern1.MEDF_u_medf_1ST</key>
		<array>
			<string>u-medf</string>
			<string>ng-medf</string>
			<string>n-medf</string>
			<string>atiu-medf</string>
		</array>
		<key>public.kern1.MEDF_v_medf_1ST</key>
		<array>
			<string>v-medf</string>
			<string>a-medf</string>
		</array>
		<key>public.kern1.MEDF_w-medf_1ST</key>
		<array>
			<string>w-medf</string>
		</array>
		<key>public.kern1.MEDF_y-medf_1ST</key>
		<array>
			<string>y-medf</string>
		</array>
		<key>public.kern1.MEDF_yu-medf_1ST</key>
		<array>
			<string>yu-medf</string>
		</array>
		<key>public.kern1.MEDF_z-medf_1ST</key>
		<array>
			<string>z-medf</string>
		</array>
		<key>public.kern1.NUM_eight-medf_1ST</key>
		<array>
			<string>eight-medf</string>
			<string>three-medf.alt</string>
		</array>
		<key>public.kern1.NUM_eighteen-medf_1ST</key>
		<array>
			<string>eighteen-medf</string>
		</array>
		<key>public.kern1.NUM_eleven_medf_1ST</key>
		<array>
			<string>eleven-medf</string>
			<string>twelve-medf</string>
			<string>thirteen-medf</string>
		</array>
		<key>public.kern1.NUM_fifteen_medf_1ST</key>
		<array>
			<string>fifteen-medf</string>
		</array>
		<key>public.kern1.NUM_five-medf_1ST</key>
		<array>
			<string>five-medf</string>
		</array>
		<key>public.kern1.NUM_four-medf_1ST</key>
		<array>
			<string>four-medf</string>
		</array>
		<key>public.kern1.NUM_fourteen-medf_1ST</key>
		<array>
			<string>fourteen-medf</string>
		</array>
		<key>public.kern1.NUM_nine_medf_1ST</key>
		<array>
			<string>nine-medf</string>
		</array>
		<key>public.kern1.NUM_nineteen-medf_1ST</key>
		<array>
			<string>nineteen-medf</string>
		</array>
		<key>public.kern1.NUM_one-medf_1ST</key>
		<array>
			<string>one-medf</string>
		</array>
		<key>public.kern1.NUM_seven-medf_1ST</key>
		<array>
			<string>seven-medf</string>
			<string>one-medf.alt</string>
		</array>
		<key>public.kern1.NUM_seventeen-medf_1ST</key>
		<array>
			<string>seventeen-medf</string>
		</array>
		<key>public.kern1.NUM_six-medf_1ST</key>
		<array>
			<string>six-medf</string>
		</array>
		<key>public.kern1.NUM_sixteen-medf_1ST</key>
		<array>
			<string>sixteen-medf</string>
		</array>
		<key>public.kern1.NUM_ten-medf_1ST</key>
		<array>
			<string>ten-medf</string>
		</array>
		<key>public.kern1.NUM_three-medf_1ST</key>
		<array>
			<string>three-medf</string>
		</array>
		<key>public.kern1.NUM_two-medf_1ST</key>
		<array>
			<string>two-medf</string>
		</array>
		<key>public.kern1.NUM_two.alt-medf_1ST</key>
		<array>
			<string>two-medf.alt</string>
		</array>
		<key>public.kern1.NUM_zero-medf_1ST</key>
		<array>
			<string>zero-medf</string>
		</array>
		<key>public.kern1.PUNCT_comma_medf_1ST</key>
		<array>
			<string>comma-medf</string>
			<string>period-medf</string>
		</array>
		<key>public.kern1.PUNCT_exclam-medf_1ST</key>
		<array>
			<string>exclam-medf</string>
		</array>
		<key>public.kern1.PUNCT_or-medf_1ST</key>
		<array>
			<string>or-medf</string>
		</array>
		<key>public.kern2.MEDF_A-medf_2ND</key>
		<array>
			<string>A-medf</string>
		</array>
		<key>public.kern2.MEDF_AI-medf_2ND</key>
		<array>
			<string>AI-medf</string>
		</array>
		<key>public.kern2.MEDF_Atiu-medf_2ND</key>
		<array>
			<string>Atiu-medf</string>
		</array>
		<key>public.kern2.MEDF_B-medf_2ND</key>
		<array>
			<string>B-medf</string>
		</array>
		<key>public.kern2.MEDF_C-medf_2ND</key>
		<array>
			<string>C-medf</string>
		</array>
		<key>public.kern2.MEDF_D-medf_2ND</key>
		<array>
			<string>D-medf</string>
		</array>
		<key>public.kern2.MEDF_E-medf_2ND</key>
		<array>
			<string>E-medf</string>
		</array>
		<key>public.kern2.MEDF_F-medf_2ND</key>
		<array>
			<string>F-medf</string>
		</array>
		<key>public.kern2.MEDF_G-medf_2ND</key>
		<array>
			<string>G-medf</string>
		</array>
		<key>public.kern2.MEDF_H-medf_2ND</key>
		<array>
			<string>H-medf</string>
		</array>
		<key>public.kern2.MEDF_I-medf_2ND</key>
		<array>
			<string>I-medf</string>
		</array>
		<key>public.kern2.MEDF_J-medf_2ND</key>
		<array>
			<string>J-medf</string>
		</array>
		<key>public.kern2.MEDF_K-medf_2ND</key>
		<array>
			<string>K-medf</string>
		</array>
		<key>public.kern2.MEDF_KP-medf_2ND</key>
		<array>
			<string>KP-medf</string>
		</array>
		<key>public.kern2.MEDF_L-medf_2ND</key>
		<array>
			<string>L-medf</string>
		</array>
		<key>public.kern2.MEDF_M-medf_2ND</key>
		<array>
			<string>M-medf</string>
		</array>
		<key>public.kern2.MEDF_N-medf_2ND</key>
		<array>
			<string>N-medf</string>
		</array>
		<key>public.kern2.MEDF_NG_medf_2ND</key>
		<array>
			<string>NG-medf</string>
		</array>
		<key>public.kern2.MEDF_O-medf_2ND</key>
		<array>
			<string>O-medf</string>
		</array>
		<key>public.kern2.MEDF_OE-medf_2ND</key>
		<array>
			<string>OE-medf</string>
		</array>
		<key>public.kern2.MEDF_P-medf_2ND</key>
		<array>
			<string>P-medf</string>
		</array>
		<key>public.kern2.MEDF_Q-medf_2ND</key>
		<array>
			<string>Q-medf</string>
		</array>
		<key>public.kern2.MEDF_R-medf_2ND</key>
		<array>
			<string>R-medf</string>
		</array>
		<key>public.kern2.MEDF_S_medf_2ND</key>
		<array>
			<string>S-medf</string>
			<string>X-medf</string>
		</array>
		<key>public.kern2.MEDF_T-medf_2ND</key>
		<array>
			<string>T-medf</string>
		</array>
		<key>public.kern2.MEDF_U_medf_2ND</key>
		<array>
			<string>U-medf</string>
			<string>YU-medf</string>
		</array>
		<key>public.kern2.MEDF_V-medf_2ND</key>
		<array>
			<string>V-medf</string>
		</array>
		<key>public.kern2.MEDF_W-medf_2ND</key>
		<array>
			<string>W-medf</string>
		</array>
		<key>public.kern2.MEDF_Y-medf_2ND</key>
		<array>
			<string>Y-medf</string>
		</array>
		<key>public.kern2.MEDF_Z-medf_2ND</key>
		<array>
			<string>Z-medf</string>
		</array>
		<key>public.kern2.MEDF_a-medf_2ND</key>
		<array>
			<string>a-medf</string>
		</array>
		<key>public.kern2.MEDF_ai-medf_2ND</key>
		<array>
			<string>ai-medf</string>
		</array>
		<key>public.kern2.MEDF_atiu-medf_2ND</key>
		<array>
			<string>atiu-medf</string>
		</array>
		<key>public.kern2.MEDF_b_medf_2ND</key>
		<array>
			<string>b-medf</string>
			<string>d-medf</string>
		</array>
		<key>public.kern2.MEDF_c-medf_2ND</key>
		<array>
			<string>c-medf</string>
		</array>
		<key>public.kern2.MEDF_f-medf_2ND</key>
		<array>
			<string>f-medf</string>
		</array>
		<key>public.kern2.MEDF_g-medf_2ND</key>
		<array>
			<string>g-medf</string>
		</array>
		<key>public.kern2.MEDF_h-medf_2ND</key>
		<array>
			<string>h-medf</string>
		</array>
		<key>public.kern2.MEDF_i-medf_2ND</key>
		<array>
			<string>i-medf</string>
		</array>
		<key>public.kern2.MEDF_j-medf_2ND</key>
		<array>
			<string>j-medf</string>
		</array>
		<key>public.kern2.MEDF_k-medf_2ND</key>
		<array>
			<string>k-medf</string>
		</array>
		<key>public.kern2.MEDF_kp-medf_2ND</key>
		<array>
			<string>kp-medf</string>
		</array>
		<key>public.kern2.MEDF_l-medf_2ND</key>
		<array>
			<string>l-medf</string>
		</array>
		<key>public.kern2.MEDF_m-medf_2ND</key>
		<array>
			<string>m-medf</string>
		</array>
		<key>public.kern2.MEDF_oe_medf_2ND</key>
		<array>
			<string>oe-medf</string>
			<string>o-medf</string>
		</array>
		<key>public.kern2.MEDF_p-medf_2ND</key>
		<array>
			<string>p-medf</string>
		</array>
		<key>public.kern2.MEDF_q-medf_2ND</key>
		<array>
			<string>q-medf</string>
		</array>
		<key>public.kern2.MEDF_r-medf_2ND</key>
		<array>
			<string>r-medf</string>
		</array>
		<key>public.kern2.MEDF_s_medf_2ND</key>
		<array>
			<string>s-medf</string>
			<string>e-medf</string>
			<string>x-medf</string>
		</array>
		<key>public.kern2.MEDF_t-medf_2ND</key>
		<array>
			<string>t-medf</string>
		</array>
		<key>public.kern2.MEDF_u_medf_2ND</key>
		<array>
			<string>u-medf</string>
			<string>yu-medf</string>
			<string>ng-medf</string>
			<string>n-medf</string>
		</array>
		<key>public.kern2.MEDF_v_medf_2ND</key>
		<array>
			<string>v-medf</string>
		</array>
		<key>public.kern2.MEDF_w-medf_2ND</key>
		<array>
			<string>w-medf</string>
		</array>
		<key>public.kern2.MEDF_y-medf_2ND</key>
		<array>
			<string>y-medf</string>
		</array>
		<key>public.kern2.MEDF_z-medf_2ND</key>
		<array>
			<string>z-medf</string>
		</array>
		<key>public.kern2.NUM_eight-medf_2ND</key>
		<array>
			<string>eight-medf</string>
			<string>two-medf.alt</string>
		</array>
		<key>public.kern2.NUM_eighteen-medf_2ND</key>
		<array>
			<string>eighteen-medf</string>
		</array>
		<key>public.kern2.NUM_eleven_medf_2ND</key>
		<array>
			<string>eleven-medf</string>
			<string>twelve-medf</string>
			<string>thirteen-medf</string>
		</array>
		<key>public.kern2.NUM_fifteen_medf_2ND</key>
		<array>
			<string>fifteen-medf</string>
		</array>
		<key>public.kern2.NUM_five-medf_2ND</key>
		<array>
			<string>five-medf</string>
		</array>
		<key>public.kern2.NUM_four-medf_2ND</key>
		<array>
			<string>four-medf</string>
		</array>
		<key>public.kern2.NUM_fourteen-medf_2ND</key>
		<array>
			<string>fourteen-medf</string>
		</array>
		<key>public.kern2.NUM_nine_medf_2ND</key>
		<array>
			<string>nine-medf</string>
		</array>
		<key>public.kern2.NUM_one-medf_2ND</key>
		<array>
			<string>one-medf</string>
		</array>
		<key>public.kern2.NUM_one.alt_medf_2ND</key>
		<array>
			<string>one-medf.alt</string>
			<string>three-medf.alt</string>
			<string>sixteen-medf</string>
		</array>
		<key>public.kern2.NUM_seven-medf_2ND</key>
		<array>
			<string>seven-medf</string>
		</array>
		<key>public.kern2.NUM_seventeen-medf_2ND</key>
		<array>
			<string>seventeen-medf</string>
		</array>
		<key>public.kern2.NUM_six-medf_2ND</key>
		<array>
			<string>six-medf</string>
		</array>
		<key>public.kern2.NUM_ten-medf_2ND</key>
		<array>
			<string>ten-medf</string>
		</array>
		<key>public.kern2.NUM_three-medf_2ND</key>
		<array>
			<string>three-medf</string>
		</array>
		<key>public.kern2.NUM_two-medf_2ND</key>
		<array>
			<string>two-medf</string>
		</array>
		<key>public.kern2.NUM_zero-medf_2ND</key>
		<array>
			<string>zero-medf</string>
			<string>nineteen-medf</string>
		</array>
		<key>public.kern2.PUNCT_comma_medf_2ND</key>
		<array>
			<string>comma-medf</string>
			<string>period-medf</string>
		</array>
		<key>public.kern2.PUNCT_exclam-medf_2ND</key>
		<array>
			<string>exclam-medf</string>
		</array>
		<key>public.kern2.PUNCT_or-medf_2ND</key>
		<array>
			<string>or-medf</string>
		</array>
	</dict>
</plist>
