<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.0585</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-226</integer>
      <key>public.kern2.uni055C</key>
      <integer>-283</integer>
      <key>public.kern2.uni055E</key>
      <integer>-469</integer>
    </dict>
    <key>public.kern1.uni0544</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <integer>-80</integer>
      <key>public.kern2.uni0568</key>
      <integer>-50</integer>
      <key>public.kern2.uni0571</key>
      <integer>-55</integer>
      <key>public.kern2.uni0577</key>
      <integer>-75</integer>
      <key>public.kern2.uni0578</key>
      <integer>-50</integer>
      <key>public.kern2.uni0579</key>
      <integer>-80</integer>
      <key>public.kern2.uni057B</key>
      <integer>-75</integer>
      <key>public.kern2.uni057D</key>
      <integer>-45</integer>
      <key>uni0570</key>
      <integer>-35</integer>
      <key>uni0573</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.uni0552</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-177</integer>
      <key>public.kern2.uni055C</key>
      <integer>-195</integer>
      <key>public.kern2.uni055E</key>
      <integer>-266</integer>
    </dict>
    <key>public.kern1.uni0555</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-60</integer>
      <key>public.kern2.uni055C</key>
      <integer>-60</integer>
      <key>public.kern2.uni055E</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.uni0561</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-226</integer>
      <key>public.kern2.uni055C</key>
      <integer>-283</integer>
      <key>public.kern2.uni055E</key>
      <integer>-469</integer>
    </dict>
    <key>public.kern1.uni0564</key>
    <dict>
      <key>public.kern2.uni0579</key>
      <integer>55</integer>
    </dict>
    <key>public.kern1.uni0565</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-226</integer>
      <key>public.kern2.uni055C</key>
      <integer>-283</integer>
      <key>public.kern2.uni055E</key>
      <integer>-360</integer>
    </dict>
    <key>public.kern1.uni0566</key>
    <dict>
      <key>public.kern2.uni0577</key>
      <integer>30</integer>
      <key>public.kern2.uni0579</key>
      <integer>65</integer>
      <key>public.kern2.uni057B</key>
      <integer>-20</integer>
      <key>public.kern2.uni057D</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.uni0567</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <integer>-30</integer>
      <key>public.kern2.uni0571</key>
      <integer>-35</integer>
      <key>public.kern2.uni0579</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.uni056B</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-226</integer>
      <key>public.kern2.uni055C</key>
      <integer>-283</integer>
      <key>public.kern2.uni055E</key>
      <integer>-370</integer>
      <key>public.kern2.uni0579</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.uni0579</key>
    <dict>
      <key>public.kern2.uni0563</key>
      <integer>-25</integer>
      <key>public.kern2.uni056B</key>
      <integer>-25</integer>
      <key>public.kern2.uni0571</key>
      <integer>-25</integer>
      <key>public.kern2.uni057D</key>
      <integer>-30</integer>
      <key>public.kern2.uni0587</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uni0582</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-226</integer>
      <key>public.kern2.uni055C</key>
      <integer>-283</integer>
      <key>public.kern2.uni055E</key>
      <integer>-402</integer>
    </dict>
    <key>uni0531</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-150</integer>
      <key>public.kern2.uni055C</key>
      <integer>-150</integer>
      <key>public.kern2.uni055E</key>
      <integer>-220</integer>
    </dict>
    <key>uni0535</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-226</integer>
      <key>public.kern2.uni055C</key>
      <integer>-203</integer>
      <key>public.kern2.uni055E</key>
      <integer>-370</integer>
    </dict>
    <key>uni0538</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-55</integer>
      <key>public.kern2.uni055C</key>
      <integer>-55</integer>
      <key>public.kern2.uni055E</key>
      <integer>-65</integer>
    </dict>
    <key>uni053B</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-70</integer>
      <key>public.kern2.uni055C</key>
      <integer>-70</integer>
      <key>public.kern2.uni055E</key>
      <integer>-120</integer>
    </dict>
    <key>uni053C</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-70</integer>
    </dict>
    <key>uni0542</key>
    <dict>
      <key>public.kern2.uni0541</key>
      <integer>25</integer>
      <key>public.kern2.uni0549</key>
      <integer>-30</integer>
      <key>public.kern2.uni0577</key>
      <integer>-20</integer>
      <key>public.kern2.uni057B</key>
      <integer>-25</integer>
    </dict>
    <key>uni0546</key>
    <dict>
      <key>public.kern2.uni0534</key>
      <integer>-25</integer>
    </dict>
    <key>uni0548</key>
    <dict>
      <key>public.kern2.uni055B</key>
      <integer>-55</integer>
      <key>public.kern2.uni055C</key>
      <integer>-55</integer>
      <key>public.kern2.uni055E</key>
      <integer>-75</integer>
    </dict>
    <key>uni054C</key>
    <dict>
      <key>public.kern2.uni0571</key>
      <integer>20</integer>
      <key>uni0570</key>
      <integer>25</integer>
      <key>uni0573</key>
      <integer>25</integer>
      <key>uni0576</key>
      <integer>25</integer>
    </dict>
    <key>uni054D</key>
    <dict>
      <key>public.kern2.uni055E</key>
      <integer>-100</integer>
    </dict>
    <key>uni0568</key>
    <dict>
      <key>public.kern2.uni055E</key>
      <integer>-469</integer>
    </dict>
    <key>uni056C</key>
    <dict>
      <key>public.kern2.uni0531</key>
      <integer>-50</integer>
      <key>public.kern2.uni0563</key>
      <integer>-40</integer>
      <key>public.kern2.uni0568</key>
      <integer>25</integer>
      <key>public.kern2.uni0571</key>
      <integer>-35</integer>
      <key>public.kern2.uni0577</key>
      <integer>40</integer>
      <key>public.kern2.uni0578</key>
      <integer>-25</integer>
      <key>public.kern2.uni0579</key>
      <integer>70</integer>
      <key>public.kern2.uni057B</key>
      <integer>-30</integer>
      <key>public.kern2.uni057D</key>
      <integer>-35</integer>
      <key>public.kern2.uni0587</key>
      <integer>-25</integer>
      <key>uni0570</key>
      <integer>-25</integer>
    </dict>
    <key>uni0572</key>
    <dict>
      <key>public.kern2.uni0577</key>
      <integer>35</integer>
      <key>public.kern2.uni0579</key>
      <integer>75</integer>
    </dict>
  </dict>
</plist>
