<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>10</integer>
    <key>GSOffsetVertical</key>
    <integer>10</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1060</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>1FAED112-D442-4693-91CF-59296FEFF074</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>nbspace</string>
      <string>uni25CC</string>
      <string>uni0300</string>
      <string>uni0306</string>
      <string>uni0307</string>
      <string>uni0308</string>
      <string>uni0313</string>
      <string>uni0483</string>
      <string>uni20DB</string>
      <string>u10350</string>
      <string>u10351</string>
      <string>u10352</string>
      <string>u10353</string>
      <string>u10354</string>
      <string>u10355</string>
      <string>u10356</string>
      <string>u10357</string>
      <string>u10358</string>
      <string>u10359</string>
      <string>u1035A</string>
      <string>u1035B</string>
      <string>u1035C</string>
      <string>u1035D</string>
      <string>u1035E</string>
      <string>u1035F</string>
      <string>u10360</string>
      <string>u10361</string>
      <string>u10362</string>
      <string>u10363</string>
      <string>u10364</string>
      <string>u10365</string>
      <string>u10366</string>
      <string>u10367</string>
      <string>u10368</string>
      <string>u10369</string>
      <string>u1036A</string>
      <string>u1036B</string>
      <string>u1036C</string>
      <string>u1036D</string>
      <string>u1036E</string>
      <string>u1036F</string>
      <string>u10370</string>
      <string>u10371</string>
      <string>u10372</string>
      <string>u10373</string>
      <string>u10374</string>
      <string>u10375</string>
      <string>u10376</string>
      <string>u10377</string>
      <string>u10378</string>
      <string>u10379</string>
      <string>u1037A</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
  </dict>
</plist>
