<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10880</key>
    <string>u10880.glif</string>
    <key>u10881</key>
    <string>u10881.glif</string>
    <key>u10882</key>
    <string>u10882.glif</string>
    <key>u10883</key>
    <string>u10883.glif</string>
    <key>u10884</key>
    <string>u10884.glif</string>
    <key>u10885</key>
    <string>u10885.glif</string>
    <key>u10886</key>
    <string>u10886.glif</string>
    <key>u10887</key>
    <string>u10887.glif</string>
    <key>u10888</key>
    <string>u10888.glif</string>
    <key>u10889</key>
    <string>u10889.glif</string>
    <key>u1088A</key>
    <string>u1088A_.glif</string>
    <key>u1088B</key>
    <string>u1088B_.glif</string>
    <key>u1088C</key>
    <string>u1088C_.glif</string>
    <key>u1088D</key>
    <string>u1088D_.glif</string>
    <key>u1088E</key>
    <string>u1088E_.glif</string>
    <key>u1088F</key>
    <string>u1088F_.glif</string>
    <key>u10890</key>
    <string>u10890.glif</string>
    <key>u10891</key>
    <string>u10891.glif</string>
    <key>u10892</key>
    <string>u10892.glif</string>
    <key>u10893</key>
    <string>u10893.glif</string>
    <key>u10894</key>
    <string>u10894.glif</string>
    <key>u10895</key>
    <string>u10895.glif</string>
    <key>u10896</key>
    <string>u10896.glif</string>
    <key>u10897</key>
    <string>u10897.glif</string>
    <key>u10898</key>
    <string>u10898.glif</string>
    <key>u10899</key>
    <string>u10899.glif</string>
    <key>u1089A</key>
    <string>u1089A_.glif</string>
    <key>u1089B</key>
    <string>u1089B_.glif</string>
    <key>u1089C</key>
    <string>u1089C_.glif</string>
    <key>u1089D</key>
    <string>u1089D_.glif</string>
    <key>u1089E</key>
    <string>u1089E_.glif</string>
    <key>u108A7</key>
    <string>u108A_7.glif</string>
    <key>u108A8</key>
    <string>u108A_8.glif</string>
    <key>u108A9</key>
    <string>u108A_9.glif</string>
    <key>u108AA</key>
    <string>u108A_A_.glif</string>
    <key>u108AB</key>
    <string>u108A_B_.glif</string>
    <key>u108AC</key>
    <string>u108A_C_.glif</string>
    <key>u108AD</key>
    <string>u108A_D_.glif</string>
    <key>u108AE</key>
    <string>u108A_E_.glif</string>
    <key>u108AF</key>
    <string>u108A_F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
