<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aen-oldgeorgian</key>
    <dict>
      <key>We-oldgeorgian</key>
      <integer>-20</integer>
    </dict>
    <key>An-georgian</key>
    <dict>
      <key>Char-georgian</key>
      <integer>-30</integer>
      <key>Hae-georgian</key>
      <integer>-20</integer>
      <key>Har-georgian</key>
      <integer>-10</integer>
      <key>He-georgian</key>
      <integer>-10</integer>
      <key>Hie-georgian</key>
      <integer>-20</integer>
      <key>Par-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-40</integer>
      <key>Un-georgian</key>
      <integer>-20</integer>
      <key>Zen-georgian</key>
      <integer>-30</integer>
      <key>Zhar-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.Nar-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Vin-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>An-oldgeorgian</key>
    <dict>
      <key>Khar-oldgeorgian</key>
      <integer>-20</integer>
      <key>Phar-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Tan-oldgeorgian</key>
      <integer>-20</integer>
    </dict>
    <key>Can-georgian</key>
    <dict>
      <key>Char-georgian</key>
      <integer>-20</integer>
      <key>Hae-georgian</key>
      <integer>-10</integer>
      <key>Hie-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-20</integer>
      <key>Zhar-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Ban-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.In-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>Can-oldgeorgian</key>
    <dict>
      <key>Khar-oldgeorgian</key>
      <integer>-20</integer>
      <key>Phar-oldgeorgian</key>
      <integer>-30</integer>
      <key>We-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-20</integer>
    </dict>
    <key>Char-georgian</key>
    <dict>
      <key>Can-georgian</key>
      <integer>-10</integer>
      <key>Fi-georgian</key>
      <integer>-20</integer>
      <key>Gan-georgian</key>
      <integer>-10</integer>
      <key>Hae-georgian</key>
      <integer>-10</integer>
      <key>Har-georgian</key>
      <integer>-10</integer>
      <key>Hie-georgian</key>
      <integer>-10</integer>
      <key>Kan-georgian</key>
      <integer>-10</integer>
      <key>Par-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-40</integer>
      <key>Un-georgian</key>
      <integer>-10</integer>
      <key>Zen-georgian</key>
      <integer>-10</integer>
      <key>Zhar-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Ban-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.In-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Nar-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>Char-oldgeorgian</key>
    <dict>
      <key>Khar-oldgeorgian</key>
      <integer>-10</integer>
      <key>Phar-oldgeorgian</key>
      <integer>-10</integer>
      <key>Zhar-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Ban-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.San-oldgeorgian</key>
      <integer>-20</integer>
    </dict>
    <key>Chin-georgian</key>
    <dict>
      <key>Can-georgian</key>
      <integer>-20</integer>
      <key>Char-georgian</key>
      <integer>-30</integer>
      <key>Hie-georgian</key>
      <integer>-20</integer>
      <key>Hoe-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-40</integer>
      <key>Qar-georgian</key>
      <integer>-10</integer>
      <key>Shin-georgian</key>
      <integer>-10</integer>
      <key>Un-georgian</key>
      <integer>-20</integer>
      <key>Zhar-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>Cil-georgian</key>
    <dict>
      <key>Can-georgian</key>
      <integer>-20</integer>
      <key>Char-georgian</key>
      <integer>-20</integer>
      <key>Hae-georgian</key>
      <integer>-10</integer>
      <key>Har-georgian</key>
      <integer>-20</integer>
      <key>Hie-georgian</key>
      <integer>-20</integer>
      <key>Kan-georgian</key>
      <integer>-20</integer>
      <key>Par-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-40</integer>
      <key>Zhar-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.In-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>Cil-oldgeorgian</key>
    <dict>
      <key>Rae-oldgeorgian</key>
      <integer>-55</integer>
    </dict>
    <key>Don-georgian</key>
    <dict>
      <key>An-georgian</key>
      <integer>-60</integer>
      <key>Can-georgian</key>
      <integer>-10</integer>
      <key>Char-georgian</key>
      <integer>-10</integer>
      <key>Gan-georgian</key>
      <integer>-30</integer>
      <key>Hae-georgian</key>
      <integer>-130</integer>
      <key>Har-georgian</key>
      <integer>-90</integer>
      <key>He-georgian</key>
      <integer>-10</integer>
      <key>Jhan-georgian</key>
      <integer>-20</integer>
      <key>Kan-georgian</key>
      <integer>-100</integer>
      <key>Khar-georgian</key>
      <integer>-20</integer>
      <key>Man-georgian</key>
      <integer>-20</integer>
      <key>Par-georgian</key>
      <integer>-90</integer>
      <key>Shin-georgian</key>
      <integer>-20</integer>
      <key>Un-georgian</key>
      <integer>-20</integer>
      <key>We-georgian</key>
      <integer>-50</integer>
      <key>public.kern2.Ban-georgian</key>
      <integer>-40</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.In-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Nar-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Vin-georgian</key>
      <integer>-30</integer>
    </dict>
    <key>Fi-georgian</key>
    <dict>
      <key>Hae-georgian</key>
      <integer>-50</integer>
      <key>Har-georgian</key>
      <integer>-50</integer>
      <key>Jhan-georgian</key>
      <integer>-20</integer>
      <key>Shin-georgian</key>
      <integer>-10</integer>
      <key>We-georgian</key>
      <integer>-20</integer>
      <key>Zen-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>Gan-georgian</key>
    <dict>
      <key>Can-georgian</key>
      <integer>-10</integer>
      <key>Char-georgian</key>
      <integer>-30</integer>
      <key>Fi-georgian</key>
      <integer>-20</integer>
      <key>Hae-georgian</key>
      <integer>-20</integer>
      <key>Jhan-georgian</key>
      <integer>-10</integer>
      <key>Par-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-30</integer>
      <key>Un-georgian</key>
      <integer>-10</integer>
      <key>Zen-georgian</key>
      <integer>-15</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-30</integer>
    </dict>
    <key>Hae-georgian</key>
    <dict>
      <key>Gan-georgian</key>
      <integer>-10</integer>
      <key>He-georgian</key>
      <integer>-10</integer>
      <key>Hoe-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-20</integer>
      <key>Un-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>Har-georgian</key>
    <dict>
      <key>He-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>Har-oldgeorgian</key>
    <dict>
      <key>Hoe-oldgeorgian</key>
      <integer>-100</integer>
      <key>Man-oldgeorgian</key>
      <integer>-20</integer>
      <key>Rae-oldgeorgian</key>
      <integer>-60</integer>
      <key>public.kern2.Rae-oldgeorgian</key>
      <integer>-30</integer>
    </dict>
    <key>He-georgian</key>
    <dict>
      <key>Har-georgian</key>
      <integer>-30</integer>
      <key>Hie-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-30</integer>
      <key>Zen-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Ban-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Nar-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>He-oldgeorgian</key>
    <dict>
      <key>Jhan-oldgeorgian</key>
      <integer>-55</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-30</integer>
    </dict>
    <key>Hie-georgian</key>
    <dict>
      <key>An-georgian</key>
      <integer>-20</integer>
      <key>Hae-georgian</key>
      <integer>-50</integer>
      <key>Har-georgian</key>
      <integer>-40</integer>
      <key>Hoe-georgian</key>
      <integer>-20</integer>
      <key>Kan-georgian</key>
      <integer>-30</integer>
      <key>Man-georgian</key>
      <integer>-10</integer>
      <key>Par-georgian</key>
      <integer>-30</integer>
      <key>Shin-georgian</key>
      <integer>-20</integer>
      <key>Un-georgian</key>
      <integer>-20</integer>
      <key>We-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Ban-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Vin-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>Hoe-georgian</key>
    <dict>
      <key>Hae-georgian</key>
      <integer>-40</integer>
      <key>Har-georgian</key>
      <integer>-40</integer>
    </dict>
    <key>Jhan-georgian</key>
    <dict>
      <key>Hae-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>Jhan-oldgeorgian</key>
    <dict>
      <key>Hoe-oldgeorgian</key>
      <integer>-20</integer>
      <key>Jhan-oldgeorgian</key>
      <integer>20</integer>
      <key>Kan-oldgeorgian</key>
      <integer>-30</integer>
      <key>Khar-oldgeorgian</key>
      <integer>-50</integer>
      <key>Phar-oldgeorgian</key>
      <integer>-30</integer>
      <key>Rae-oldgeorgian</key>
      <integer>-30</integer>
      <key>We-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Ban-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.San-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Tan-oldgeorgian</key>
      <integer>-30</integer>
    </dict>
    <key>Jil-georgian</key>
    <dict>
      <key>An-georgian</key>
      <integer>-10</integer>
      <key>Hae-georgian</key>
      <integer>-20</integer>
      <key>Har-georgian</key>
      <integer>-40</integer>
      <key>Kan-georgian</key>
      <integer>-20</integer>
      <key>Par-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Vin-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>Kan-oldgeorgian</key>
    <dict>
      <key>Zhar-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-50</integer>
    </dict>
    <key>Khar-oldgeorgian</key>
    <dict>
      <key>Char-oldgeorgian</key>
      <integer>-10</integer>
      <key>Hie-oldgeorgian</key>
      <integer>-50</integer>
      <key>Hoe-oldgeorgian</key>
      <integer>-60</integer>
      <key>Jhan-oldgeorgian</key>
      <integer>-40</integer>
      <key>Las-oldgeorgian</key>
      <integer>10</integer>
      <key>Man-oldgeorgian</key>
      <integer>-30</integer>
      <key>Zhar-oldgeorgian</key>
      <integer>-20</integer>
      <key>jhan-oldgeorgian</key>
      <integer>40</integer>
      <key>public.kern2.Don-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Rae-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Tar-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-30</integer>
    </dict>
    <key>Man-oldgeorgian</key>
    <dict>
      <key>Hoe-oldgeorgian</key>
      <integer>-60</integer>
      <key>Jhan-oldgeorgian</key>
      <integer>-20</integer>
      <key>Khar-oldgeorgian</key>
      <integer>-30</integer>
      <key>Man-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Don-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Rae-oldgeorgian</key>
      <integer>-40</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-30</integer>
    </dict>
    <key>Nar-georgian</key>
    <dict>
      <key>An-georgian</key>
      <integer>-10</integer>
      <key>Char-georgian</key>
      <integer>-20</integer>
      <key>Hae-georgian</key>
      <integer>-20</integer>
      <key>Hie-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-30</integer>
      <key>Un-georgian</key>
      <integer>-20</integer>
      <key>Zen-georgian</key>
      <integer>-40</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.In-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>On-oldgeorgian</key>
    <dict>
      <key>Kan-oldgeorgian</key>
      <integer>-20</integer>
      <key>Khar-oldgeorgian</key>
      <integer>-50</integer>
      <key>Phar-oldgeorgian</key>
      <integer>-60</integer>
      <key>We-oldgeorgian</key>
      <integer>-40</integer>
      <key>Zhar-oldgeorgian</key>
      <integer>-80</integer>
      <key>public.kern2.Ban-oldgeorgian</key>
      <integer>-50</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-110</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-70</integer>
    </dict>
    <key>Par-georgian</key>
    <dict>
      <key>Char-georgian</key>
      <integer>-20</integer>
      <key>Hie-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-30</integer>
      <key>Zhar-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.In-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>Phar-georgian</key>
    <dict>
      <key>An-georgian</key>
      <integer>-20</integer>
      <key>Char-georgian</key>
      <integer>-10</integer>
      <key>Fi-georgian</key>
      <integer>-10</integer>
      <key>Gan-georgian</key>
      <integer>-10</integer>
      <key>Hae-georgian</key>
      <integer>-20</integer>
      <key>Har-georgian</key>
      <integer>-30</integer>
      <key>Hie-georgian</key>
      <integer>-20</integer>
      <key>Kan-georgian</key>
      <integer>-20</integer>
      <key>Khar-georgian</key>
      <integer>-10</integer>
      <key>Par-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Ban-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Nar-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Vin-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>Phar-oldgeorgian</key>
    <dict>
      <key>Hoe-oldgeorgian</key>
      <integer>-30</integer>
      <key>Jhan-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Don-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.San-oldgeorgian</key>
      <integer>-20</integer>
    </dict>
    <key>Qar-oldgeorgian</key>
    <dict>
      <key>Hoe-oldgeorgian</key>
      <integer>-20</integer>
    </dict>
    <key>Rae-oldgeorgian</key>
    <dict>
      <key>Hoe-oldgeorgian</key>
      <integer>-20</integer>
      <key>Jhan-oldgeorgian</key>
      <integer>-40</integer>
      <key>Zhar-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Ban-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.San-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-50</integer>
    </dict>
    <key>San-georgian</key>
    <dict>
      <key>Can-georgian</key>
      <integer>-20</integer>
      <key>Char-georgian</key>
      <integer>-20</integer>
      <key>Hae-georgian</key>
      <integer>-20</integer>
      <key>Har-georgian</key>
      <integer>-10</integer>
      <key>Hie-georgian</key>
      <integer>-30</integer>
      <key>Hoe-georgian</key>
      <integer>-20</integer>
      <key>Kan-georgian</key>
      <integer>-10</integer>
      <key>Phar-georgian</key>
      <integer>-40</integer>
      <key>Un-georgian</key>
      <integer>-20</integer>
      <key>Zen-georgian</key>
      <integer>-30</integer>
      <key>Zhar-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-40</integer>
      <key>public.kern2.In-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>San-oldgeorgian</key>
    <dict>
      <key>Jhan-oldgeorgian</key>
      <integer>-20</integer>
      <key>Kan-oldgeorgian</key>
      <integer>-20</integer>
      <key>Zhar-oldgeorgian</key>
      <integer>-60</integer>
      <key>public.kern2.Ban-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-40</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-70</integer>
    </dict>
    <key>Tar-oldgeorgian</key>
    <dict>
      <key>Hoe-oldgeorgian</key>
      <integer>-35</integer>
      <key>Man-oldgeorgian</key>
      <integer>-20</integer>
      <key>Rae-oldgeorgian</key>
      <integer>-40</integer>
    </dict>
    <key>Un-oldgeorgian</key>
    <dict>
      <key>Zhar-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-20</integer>
    </dict>
    <key>We-georgian</key>
    <dict>
      <key>Hae-georgian</key>
      <integer>-10</integer>
      <key>Har-georgian</key>
      <integer>-10</integer>
      <key>He-georgian</key>
      <integer>-20</integer>
      <key>Hoe-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-30</integer>
    </dict>
    <key>Xan-oldgeorgian</key>
    <dict>
      <key>Hoe-oldgeorgian</key>
      <integer>-45</integer>
    </dict>
    <key>Yn-oldgeorgian</key>
    <dict>
      <key>har-georgian</key>
      <integer>-30</integer>
      <key>we-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>Zhar-georgian</key>
    <dict>
      <key>An-georgian</key>
      <integer>-10</integer>
      <key>Hae-georgian</key>
      <integer>-20</integer>
      <key>Har-georgian</key>
      <integer>-30</integer>
      <key>Par-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Vin-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>ban-oldgeorgian</key>
    <dict>
      <key>don-oldgeorgian</key>
      <integer>-20</integer>
      <key>jhan-oldgeorgian</key>
      <integer>40</integer>
      <key>public.kern2.an-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.ghan-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.on-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.phar-oldgeorgian</key>
      <integer>-10</integer>
      <key>zen-oldgeorgian</key>
      <integer>-80</integer>
    </dict>
    <key>can-georgian</key>
    <dict>
      <key>he-georgian</key>
      <integer>-10</integer>
      <key>hie-georgian</key>
      <integer>-10</integer>
      <key>narMod-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.ban-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.don-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.nar-georgian</key>
      <integer>-10</integer>
      <key>shin-georgian</key>
      <integer>-20</integer>
      <key>zen-georgian</key>
      <integer>-30</integer>
    </dict>
    <key>char-georgian</key>
    <dict>
      <key>hae-georgian</key>
      <integer>-10</integer>
      <key>hie-georgian</key>
      <integer>-20</integer>
      <key>hoe-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.ban-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.don-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.nar-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.on-georgian</key>
      <integer>-20</integer>
      <key>shin-georgian</key>
      <integer>-20</integer>
      <key>zhar-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>cil-georgian</key>
    <dict>
      <key>char-georgian</key>
      <integer>-10</integer>
      <key>gan-georgian</key>
      <integer>-30</integer>
      <key>hae-georgian</key>
      <integer>-10</integer>
      <key>har-georgian</key>
      <integer>-50</integer>
      <key>jhan-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.en-georgian</key>
      <integer>-30</integer>
      <key>qar-georgian</key>
      <integer>-10</integer>
      <key>un-georgian</key>
      <integer>-10</integer>
      <key>we-georgian</key>
      <integer>-40</integer>
    </dict>
    <key>don-oldgeorgian</key>
    <dict>
      <key>jhan-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.an-oldgeorgian</key>
      <integer>-30</integer>
      <key>zen-oldgeorgian</key>
      <integer>-30</integer>
    </dict>
    <key>gan-georgian</key>
    <dict>
      <key>char-georgian</key>
      <integer>-10</integer>
      <key>hae-georgian</key>
      <integer>-10</integer>
      <key>he-georgian</key>
      <integer>-30</integer>
      <key>hoe-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.ban-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.don-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.en-georgian</key>
      <integer>10</integer>
      <key>public.kern2.nar-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.on-georgian</key>
      <integer>-20</integer>
      <key>shin-georgian</key>
      <integer>-30</integer>
      <key>zen-georgian</key>
      <integer>-60</integer>
    </dict>
    <key>har-georgian</key>
    <dict>
      <key>Yn-oldgeorgian</key>
      <integer>-10</integer>
      <key>hae-georgian</key>
      <integer>-20</integer>
      <key>hoe-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.ban-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.don-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.nar-georgian</key>
      <integer>-10</integer>
      <key>zen-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>he-oldgeorgian</key>
    <dict>
      <key>aen-oldgeorgian</key>
      <integer>-10</integer>
      <key>jhan-oldgeorgian</key>
      <integer>-20</integer>
      <key>zen-oldgeorgian</key>
      <integer>-20</integer>
    </dict>
    <key>hie-georgian</key>
    <dict>
      <key>har-georgian</key>
      <integer>-40</integer>
      <key>jhan-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-10</integer>
      <key>un-georgian</key>
      <integer>-10</integer>
      <key>we-georgian</key>
      <integer>-20</integer>
      <key>zen-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>hoe-georgian</key>
    <dict>
      <key>gan-georgian</key>
      <integer>-20</integer>
      <key>har-georgian</key>
      <integer>-60</integer>
      <key>we-georgian</key>
      <integer>-30</integer>
      <key>zen-georgian</key>
      <integer>20</integer>
    </dict>
    <key>jhan-georgian</key>
    <dict>
      <key>gan-georgian</key>
      <integer>10</integer>
      <key>hae-georgian</key>
      <integer>-10</integer>
      <key>hoe-georgian</key>
      <integer>-20</integer>
      <key>jhan-georgian</key>
      <integer>10</integer>
      <key>narMod-georgian</key>
      <integer>-50</integer>
      <key>public.kern2.en-georgian</key>
      <integer>10</integer>
      <key>public.kern2.nar-georgian</key>
      <integer>-10</integer>
      <key>qar-georgian</key>
      <integer>10</integer>
      <key>zen-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>jhan-oldgeorgian</key>
    <dict>
      <key>public.kern2.phar-oldgeorgian</key>
      <integer>-20</integer>
      <key>zen-oldgeorgian</key>
      <integer>-40</integer>
    </dict>
    <key>kan-oldgeorgian</key>
    <dict>
      <key>public.kern2.an-oldgeorgian</key>
      <integer>-30</integer>
      <key>zen-oldgeorgian</key>
      <integer>-80</integer>
    </dict>
    <key>khar-georgian</key>
    <dict>
      <key>hae-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>khar-oldgeorgian</key>
    <dict>
      <key>don-oldgeorgian</key>
      <integer>-20</integer>
      <key>hie-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.cil-oldgeorgiann</key>
      <integer>-20</integer>
      <key>public.kern2.on-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.phar-oldgeorgian</key>
      <integer>-10</integer>
      <key>zen-oldgeorgian</key>
      <integer>-20</integer>
    </dict>
    <key>man-oldgeorgian</key>
    <dict>
      <key>jhan-oldgeorgian</key>
      <integer>-20</integer>
      <key>zen-oldgeorgian</key>
      <integer>-30</integer>
    </dict>
    <key>narMod-georgian</key>
    <dict>
      <key>can-georgian</key>
      <integer>-40</integer>
      <key>tar-georgian</key>
      <integer>-70</integer>
      <key>yn-georgian</key>
      <integer>-40</integer>
      <key>zen-georgian</key>
      <integer>60</integer>
    </dict>
    <key>par-georgian</key>
    <dict>
      <key>gan-georgian</key>
      <integer>-20</integer>
      <key>har-georgian</key>
      <integer>-40</integer>
      <key>jhan-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.en-georgian</key>
      <integer>-30</integer>
      <key>we-georgian</key>
      <integer>-30</integer>
    </dict>
    <key>phar-georgian</key>
    <dict>
      <key>hae-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-20</integer>
      <key>zen-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Ban-georgian</key>
    <dict>
      <key>Char-georgian</key>
      <integer>-20</integer>
      <key>Fi-georgian</key>
      <integer>-20</integer>
      <key>Hae-georgian</key>
      <integer>-30</integer>
      <key>Har-georgian</key>
      <integer>-20</integer>
      <key>He-georgian</key>
      <integer>-10</integer>
      <key>Hie-georgian</key>
      <integer>-10</integer>
      <key>Hoe-georgian</key>
      <integer>-10</integer>
      <key>Jhan-georgian</key>
      <integer>-10</integer>
      <key>Par-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-70</integer>
      <key>Shin-georgian</key>
      <integer>-10</integer>
      <key>Un-georgian</key>
      <integer>-20</integer>
      <key>Zen-georgian</key>
      <integer>-50</integer>
      <key>Zhar-georgian</key>
      <integer>-30</integer>
      <key>narMod-georgian</key>
      <integer>-90</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-50</integer>
      <key>public.kern2.In-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Nar-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Vin-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Ban-oldgeorgian</key>
    <dict>
      <key>Kan-oldgeorgian</key>
      <integer>-30</integer>
      <key>Khar-oldgeorgian</key>
      <integer>-40</integer>
      <key>Phar-oldgeorgian</key>
      <integer>-50</integer>
      <key>We-oldgeorgian</key>
      <integer>-50</integer>
      <key>Zhar-oldgeorgian</key>
      <integer>-70</integer>
      <key>public.kern2.Ban-oldgeorgian</key>
      <integer>-70</integer>
      <key>public.kern2.Don-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-70</integer>
      <key>public.kern2.Tan-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Chin-oldgeorgian</key>
    <dict>
      <key>Zhar-oldgeorgian</key>
      <integer>-40</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Cil-oldgeorgian</key>
    <dict>
      <key>Hoe-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Rae-oldgeorgian</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Don-oldgeorgian</key>
    <dict>
      <key>Khar-oldgeorgian</key>
      <integer>-20</integer>
      <key>Phar-oldgeorgian</key>
      <integer>-20</integer>
      <key>We-oldgeorgian</key>
      <integer>-20</integer>
      <key>Zhar-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Ban-oldgeorgian</key>
      <integer>-30</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-40</integer>
      <key>public.kern2.San-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Tan-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.En-georgian</key>
    <dict>
      <key>An-georgian</key>
      <integer>-20</integer>
      <key>Char-georgian</key>
      <integer>-20</integer>
      <key>Hae-georgian</key>
      <integer>-40</integer>
      <key>Har-georgian</key>
      <integer>-40</integer>
      <key>Hoe-georgian</key>
      <integer>-10</integer>
      <key>Jhan-georgian</key>
      <integer>-10</integer>
      <key>Kan-georgian</key>
      <integer>-20</integer>
      <key>Par-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-20</integer>
      <key>Shin-georgian</key>
      <integer>-10</integer>
      <key>Un-georgian</key>
      <integer>-10</integer>
      <key>We-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Ban-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.Vin-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.En-oldgeorgian</key>
    <dict>
      <key>public.kern2.Don-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.Rae-oldgeorgian</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.In-georgian</key>
    <dict>
      <key>An-georgian</key>
      <integer>-10</integer>
      <key>Hae-georgian</key>
      <integer>-30</integer>
      <key>Har-georgian</key>
      <integer>-20</integer>
      <key>Hoe-georgian</key>
      <integer>-20</integer>
      <key>Kan-georgian</key>
      <integer>-10</integer>
      <key>Khar-georgian</key>
      <integer>-10</integer>
      <key>Par-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-10</integer>
      <key>Un-georgian</key>
      <integer>-20</integer>
      <key>We-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Las-georgian</key>
    <dict>
      <key>An-georgian</key>
      <integer>-30</integer>
      <key>Gan-georgian</key>
      <integer>-10</integer>
      <key>Hae-georgian</key>
      <integer>-90</integer>
      <key>Har-georgian</key>
      <integer>-70</integer>
      <key>Hoe-georgian</key>
      <integer>-20</integer>
      <key>Jhan-georgian</key>
      <integer>-20</integer>
      <key>Kan-georgian</key>
      <integer>-60</integer>
      <key>Khar-georgian</key>
      <integer>-10</integer>
      <key>Par-georgian</key>
      <integer>-50</integer>
      <key>Shin-georgian</key>
      <integer>-20</integer>
      <key>Un-georgian</key>
      <integer>-20</integer>
      <key>We-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.Ban-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.Vin-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Vin-georgian</key>
    <dict>
      <key>Can-georgian</key>
      <integer>-10</integer>
      <key>Char-georgian</key>
      <integer>-10</integer>
      <key>Hie-georgian</key>
      <integer>-10</integer>
      <key>Par-georgian</key>
      <integer>-20</integer>
      <key>Phar-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.Don-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.Nar-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Vin-oldgeorgian</key>
    <dict>
      <key>Jhan-oldgeorgian</key>
      <integer>-20</integer>
      <key>Zhar-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Zen-oldgeorgian</key>
    <dict>
      <key>Jhan-oldgeorgian</key>
      <integer>-30</integer>
      <key>Zhar-oldgeorgian</key>
      <integer>-50</integer>
      <key>public.kern2.Ban-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.Gan-oldgeorgian</key>
      <integer>-40</integer>
      <key>public.kern2.Zen-oldgeorgian</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.an-georgian</key>
    <dict>
      <key>char-georgian</key>
      <integer>-10</integer>
      <key>gan-georgian</key>
      <integer>-30</integer>
      <key>har-georgian</key>
      <integer>-70</integer>
      <key>hie-georgian</key>
      <integer>-10</integer>
      <key>jhan-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.en-georgian</key>
      <integer>-30</integer>
      <key>un-georgian</key>
      <integer>-30</integer>
      <key>we-georgian</key>
      <integer>-40</integer>
      <key>zen-georgian</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.ban-georgian</key>
    <dict>
      <key>Phar-georgian</key>
      <integer>-10</integer>
      <key>gan-georgian</key>
      <integer>-30</integer>
      <key>hae-georgian</key>
      <integer>-10</integer>
      <key>har-georgian</key>
      <integer>-70</integer>
      <key>hoe-georgian</key>
      <integer>-20</integer>
      <key>jhan-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.en-georgian</key>
      <integer>-20</integer>
      <key>un-georgian</key>
      <integer>-10</integer>
      <key>we-georgian</key>
      <integer>-50</integer>
      <key>zen-georgian</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ban-oldgeorgian</key>
    <dict>
      <key>don-oldgeorgian</key>
      <integer>-20</integer>
      <key>jhan-oldgeorgian</key>
      <integer>50</integer>
      <key>public.kern2.an-oldgeorgian</key>
      <integer>-60</integer>
      <key>public.kern2.ghan-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.on-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.phar-oldgeorgian</key>
      <integer>-20</integer>
      <key>zen-oldgeorgian</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.en-georgian</key>
    <dict>
      <key>hoe-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.nar-georgian</key>
      <integer>-10</integer>
      <key>zen-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.en-oldgeorgian</key>
    <dict>
      <key>jhan-oldgeorgian</key>
      <integer>30</integer>
      <key>public.kern2.an-oldgeorgian</key>
      <integer>-10</integer>
      <key>zen-oldgeorgian</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.ghan-oldgeorgian</key>
    <dict>
      <key>jhan-oldgeorgian</key>
      <integer>-10</integer>
      <key>public.kern2.an-oldgeorgian</key>
      <integer>-20</integer>
      <key>public.kern2.on-oldgeorgian</key>
      <integer>-10</integer>
      <key>zen-oldgeorgian</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.hae-georgian</key>
    <dict>
      <key>gan-georgian</key>
      <integer>-20</integer>
      <key>har-georgian</key>
      <integer>-40</integer>
      <key>public.kern2.don-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.en-georgian</key>
      <integer>-20</integer>
      <key>we-georgian</key>
      <integer>-30</integer>
      <key>zhar-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.man-georgian</key>
    <dict>
      <key>elifi-georgian</key>
      <integer>-10</integer>
      <key>gan-georgian</key>
      <integer>-30</integer>
      <key>hae-georgian</key>
      <integer>-20</integer>
      <key>har-georgian</key>
      <integer>-60</integer>
      <key>jhan-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.en-georgian</key>
      <integer>-30</integer>
      <key>tar-georgian</key>
      <integer>-10</integer>
      <key>we-georgian</key>
      <integer>-30</integer>
      <key>zhar-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.on-georgian</key>
    <dict>
      <key>gan-georgian</key>
      <integer>-20</integer>
      <key>har-georgian</key>
      <integer>-50</integer>
      <key>jhan-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.en-georgian</key>
      <integer>-20</integer>
      <key>un-georgian</key>
      <integer>-10</integer>
      <key>we-georgian</key>
      <integer>-30</integer>
      <key>zen-georgian</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.on-oldgeorgian</key>
    <dict>
      <key>jhan-oldgeorgian</key>
      <integer>10</integer>
      <key>public.kern2.an-oldgeorgian</key>
      <integer>-20</integer>
      <key>zen-oldgeorgian</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.phar-oldgeorgian</key>
    <dict>
      <key>public.kern2.an-oldgeorgian</key>
      <integer>-20</integer>
      <key>zen-oldgeorgian</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.un-oldgeorgian</key>
    <dict>
      <key>jhan-oldgeorgian</key>
      <integer>20</integer>
    </dict>
    <key>tar-georgian</key>
    <dict>
      <key>public.kern2.nar-georgian</key>
      <integer>-10</integer>
      <key>zen-georgian</key>
      <integer>-30</integer>
    </dict>
    <key>vin-georgian</key>
    <dict>
      <key>gan-georgian</key>
      <integer>10</integer>
      <key>he-georgian</key>
      <integer>-10</integer>
      <key>jhan-georgian</key>
      <integer>10</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.ban-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.don-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.nar-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.on-georgian</key>
      <integer>-10</integer>
      <key>shin-georgian</key>
      <integer>-10</integer>
      <key>zen-georgian</key>
      <integer>-30</integer>
    </dict>
    <key>we-georgian</key>
    <dict>
      <key>hae-georgian</key>
      <integer>-20</integer>
      <key>hoe-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.ban-georgian</key>
      <integer>-30</integer>
      <key>public.kern2.don-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.on-georgian</key>
      <integer>-10</integer>
    </dict>
    <key>yn-georgian</key>
    <dict>
      <key>hae-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.an-georgian</key>
      <integer>-20</integer>
      <key>public.kern2.ban-georgian</key>
      <integer>-10</integer>
      <key>public.kern2.nar-georgian</key>
      <integer>-20</integer>
      <key>zen-georgian</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
