<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jun 16 19, 14:42</string>
      <string>glyphs.J_un 16 19, 14_42</string>
    </array>
    <array>
      <string>Jun 16 19, 14:42.background</string>
      <string>glyphs.J_un 16 19, 14_42.background</string>
    </array>
    <array>
      <string>May 26 19, 16:51</string>
      <string>glyphs.M_ay 26 19, 16_51</string>
    </array>
    <array>
      <string>May 26 19, 16:55</string>
      <string>glyphs.M_ay 26 19, 16_55</string>
    </array>
    <array>
      <string>Jun 16 19, 15:45</string>
      <string>glyphs.J_un 16 19, 15_45</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56</string>
      <string>glyphs.J_un 19 19, 21_56</string>
    </array>
    <array>
      <string>Jun 19 19, 21:56.background</string>
      <string>glyphs.J_un 19 19, 21_56.background</string>
    </array>
    <array>
      <string>Jun 20 19, 13:22</string>
      <string>glyphs.J_un 20 19, 13_22</string>
    </array>
    <array>
      <string>Jun 21 19, 15:17</string>
      <string>glyphs.J_un 21 19, 15_17</string>
    </array>
    <array>
      <string>Jun 23 19, 17:23</string>
      <string>glyphs.J_un 23 19, 17_23</string>
    </array>
    <array>
      <string>Jun 23 19, 17:26</string>
      <string>glyphs.J_un 23 19, 17_26</string>
    </array>
    <array>
      <string>Feb 26 17, 17:33</string>
      <string>glyphs.F_eb 26 17, 17_33</string>
    </array>
    <array>
      <string>Feb 24 17, 14:11</string>
      <string>glyphs.F_eb 24 17, 14_11</string>
    </array>
    <array>
      <string>Feb 27 17, 11:23</string>
      <string>glyphs.F_eb 27 17, 11_23</string>
    </array>
    <array>
      <string>Feb 27 17, 11:23.background</string>
      <string>glyphs.F_eb 27 17, 11_23.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:50</string>
      <string>glyphs.F_eb 28 17, 11_50</string>
    </array>
    <array>
      <string>Feb 28 17, 11:50.background</string>
      <string>glyphs.F_eb 28 17, 11_50.background</string>
    </array>
    <array>
      <string>Feb 28 17, 15:43</string>
      <string>glyphs.F_eb 28 17, 15_43</string>
    </array>
    <array>
      <string>Feb 28 17, 15:43.background</string>
      <string>glyphs.F_eb 28 17, 15_43.background</string>
    </array>
    <array>
      <string>Jun 26 19, 14:10</string>
      <string>glyphs.J_un 26 19, 14_10</string>
    </array>
  </array>
</plist>
